[2022-01-14 16:47] RCheesley commented on #10743
Thanks @dsp76 and indeed, yes it should go on https://forum.mautic.org/c/support @luismts.

[2022-01-14 16:47] #10743 closed, assigned to nobody

[2022-01-14 16:48] RCheesley commented on #10739
OK thanks and yes, let's move this to the forum please @ht512512 :)

[2022-01-14 16:48] #10739 closed, assigned to nobody

[2022-01-14 16:49] RCheesley commented on #10732
Please take this discussion to the forums @gvaniya as it's not a bug with Mautic itself, but more relating to how to configure it.

[2022-01-14 16:49] #10732 closed, assigned to nobody

[2022-01-14 16:51] dsp76 commented on #10713
Afaik GrapeJS is converting everything into HTML. Thus the embedded MJML compiler is causing the issue. Probably that's not an Mautic issue then, but an GrapeJS or even MJML issue.

@RCheesley how are third party issues be handled? Is there a board that keeps an eye on this?

[2022-01-14 18:09] kuzmany commented on #10685
This should fixed it https://github.com/mautic/mautic/pull/9784
Can you test it?

[2022-01-14 18:12] kuzmany commented on #10694
This issue @spka try fixed it times ago https://github.com/mautic/mautic/pull/6761 but not finished yet.

[2022-01-14 18:26] kuzmany commented on #10687
I am working on it

[2022-01-14 19:40] npracht commented on #10687
This is regression of Mautic 4. It was working before.

[2022-01-14 23:14] #10502 closed, assigned to nobody

[2022-01-15 17:53] putzwasser commented on #3225
+1

[2022-01-15 17:54] putzwasser commented on #195
+1

[2022-01-15 20:10] dsp76 commented on #10750
We currently have a couple of instances tunning on v4.1 but never saw any of this happening. Looks more like an issue of server configuration - e.g. timeout or hitting resource limits when cache is being generated?

[2022-01-15 20:12] dsp76 commented on #10749
@putzwasser we almost always have mautic running on a subdomain. Links generated are always fine. did you set your Site URL correctly? This is not a bug, its a configuration issue. Please switch to the mautic forum to further discuss. https://forum.mautic.org/

@RCheesley this could be closed.

[2022-01-15 20:21] dsp76 commented on #10721
@fav22 this is some configuration error and not a mautic bug. Should be discussed in the forum instead.
https://forum.mautic.org/

/cc: @RCheesley

[2022-01-16 08:35] kuzmany commented on #10687
@npracht I don't think so, I saw it on M3 months ago. But It happen in very specific situations

[2022-01-16 14:40] tenil commented on #10675
I can confirm the same issue happening here.
v4.1.1

[2022-01-16 20:51] pstevens71 commented on #6433
I can confirm issues still with 4.1.1.  Did a bunch of testing today.

Here' s what works and what doesn't:

New lead in Mautic -> Suite CRM Works!
New lead in SuiteCRM -> Matuic Works!
Change in SuiteCRM -> Mautic Works!
Change in Mautic -> SutieCRM BROKEN.

I have the field in Mautic set to be the master and to update SuiteCRM.  However, it does not update the SuiteCRM record.

Also, tried to sc

[2022-01-17 01:49] nsrderooy commented on #10469
I'd just like to add on to this, Please note that according to the standards;

https://w3c.github.io/webappsec-csp/#frame-ancestors-and-frame-options

[2022-01-17 08:04] #9798 closed, assigned to nobody

[2022-01-17 09:51] LeonOltmanns commented on #10755
Just tested it on 4.1.1 using the Instructions given. Had the same error and thus can confirm that this is an issue.

Resulted in the following Logs:

[2022-01-17 11:01] ivan006 opened #10761 "I've been on Mautic community forums for months now and i still get the "no post access" banner and cant make posts"
### Mautic Version

4.0.0

### PHP version

na

### What browsers are you seeing the problem on?

Firefox

### What happened?

I cant make any posts

### How can we reproduce this issue?

I did follow instructions and viewed various topics but no luck.
My username is  "ivan006" on the forum

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have read and agree to

[2022-01-17 11:04] RCheesley commented on #10761
This is not the place to report issues with the forum. I will contact you by DM on the forums.

[2022-01-17 11:04] #10761 closed, assigned to nobody

[2022-01-17 13:49] paradiseporridge opened #10762 "Email sent to wrong locale"
### Mautic Version

3.3.4

### PHP version

7.3.33

### What browsers are you seeing the problem on?

Chrome

### What happened?

Contact with preferred locale "en" (English) received an email with specified language "en_ZA". This contact should have received the parent email with specified language "en" not it's translation "en_ZA".

Mautic\EmailBundle\Model\EmailModel.php
Parent email locale is

[2022-01-17 17:57] #8331 closed

[2022-01-18 03:06] shahriared commented on #10713
Same issue!

[2022-01-18 10:44] AntoniyaM commented on #9887
Running into this with Mautic 4.1.1 using SMTP. The from name in global config is the company name, 'Mailer is owner' is set to false. The email has a from name set to the company name as well (as global config didn't seem to be working).

Resulting emails have their from name set to the SMTP user, e.g. if the user used to connect is example@company-domain.com, then the from name in the email will

[2022-01-18 11:06] mollux commented on #10275
@RCheesley see the comment above, I found what's causing this and added a PR to fix it.

[2022-01-18 11:35] RCheesley commented on #10275
Awesome, thanks @mollux !

[2022-01-18 11:50] mollux commented on #8457
@dennisameling @mohamettarik @RCheesley

see the comment above, I found what's causing this and added a PR to fix it.

[2022-01-18 16:31] mzagmajster commented on #10750
Hi,

I work on plugin development for Mautic and during each deploy of a plugin we trigger the following commands in regards to cache:

[code]

Also ensure that permissions on files and folders are set correctly (suitable for web server you are using) after you do the above. Since we use this procedure there is no issues in that regard.

Like the person before me pointed out based on log messages

[2022-01-18 16:49] mzagmajster commented on #10561
@mabumusa1

Could the reason be that mautic cronjob first locked the record and then you tried to update it via browser while the record was still locked?

[2022-01-19 03:36] #10506 closed, assigned to nobody

[2022-01-19 04:26] stevedrobinson opened #10769 "Code Mode isn't useable in GrapesJS"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When building an email using the new GrapesJS builder, the user is given the option of selecting "Code Mode". In Code Mode, the user can paste in html code into the GrapesJS builder instead of MJML and the ui renders the email, seemingly as pasted into the box.

Howe

[2022-01-19 07:11] jos0405 commented on #10611
User confirmed it was a config error.

[2022-01-19 07:11] #10611 closed, assigned to nobody

[2022-01-19 07:17] mollux commented on #10637
@DicopayTechnology @dralawady
I don't have a Twilio setup I can test with, but this looks like the same issue described in #10275 (but for SMS instead of mail).
There is a PR for this, see #10753
Would it be possible to test this out with your Twilio setup?

[2022-01-19 10:24] setti21 commented on #10316
Still relevant with Mautic 4.1.1

[2022-01-19 11:40] ghost commented on #9804
Errata - It works great. I had wrong info from sales team.  Thanks!

[2022-01-19 13:09] MarkerB commented on #9804
I'm so glad it worked out for you!

[2022-01-19 17:40] dralawady commented on #10637
**It seems to work. I tried it on Twilio SMS integration. Thanks for your help.**

[2022-01-19 23:11] #10479 closed, assigned to nobody

[2022-01-19 23:11] #10214 closed, assigned to nobody

[2022-01-20 12:06] J-Light commented on #10675
I can confirm that using `Amason SES via SMTP` also has the same issue.

[2022-01-20 12:08] ghost commented on #10676
Is any chance to fix it in the next update?

[2022-01-20 12:17] dadarya0 commented on #10675
@npracht I am busy in another urgent tasks so I can not look into this now.

[2022-01-20 13:59] J-Light commented on #10675
@jensolsson and @npracht

This breaks our workflow, and we had a few unhappy customers

A workaround that seems to work is to comment the following lines:

https://github.com/mautic/mautic/blob/84e267d5b82916fc673498b1a93d2f2317755694/app/bundles/EmailBundle/Helper/MailHelper.php#L370-L372

The constructor set the `$this->replyTo` to system default so the above always overrides.

I have not tested

[2022-01-21 11:31] Orestes2 opened #10776 "Sending a webhook through campaign trigger using duplicate values"
### Mautic Version

4.1

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Firefox

### What happened?

This is a post about an unresolved issue https://github.com/mautic/mautic/issues/10214

This issue has not been resolved yet, tested on lastest stable version 4.1.1

### How can we reproduce this issue?

### Steps to reproduce
Go to Campaign builder
Create a Send a Webho

[2022-01-22 14:50] mollux commented on #10592
@dennisameling

I tackled this in #10759 (see the explanation under `ensure only sql queries are stored in the fresh_db.sql file` and [this commit](https://github.com/mautic/mautic/pull/10759/commits/5bea6108db15bba9c531acef89a4f074c8733e77))

[2022-01-23 12:40] putzwasser opened #10780 "Mautic campaign action „Update contact“ updates all bool custom fields"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Not relevant

### What happened?

To comply with the GDPR I created two custom fields:
* `gdp_profiling_opt_in` and
* `gdpr_doi_opt_in_confirmed`

`gdpr_profiling_opt_in` Saves whether a contact consented into storing data about preferences, etc. I implemented this via a checkbox a user can check

[2022-01-23 17:48] webpaldev commented on #10713
I have the same issue,

[2022-01-24 02:08] #10078 closed, assigned to nobody

[2022-01-24 07:22] Robmobius commented on #10604
Having this same issue - a quite a few comments on this in the forum so a persistent bug.

[2022-01-24 16:26] RCheesley opened #10783 "When adding 'push to integration' in campaign builder a silent error is thrown"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When testing #10674 I noticed in developer mode that whenever you add the action 'push to integration' in the campaign builder, errors are being thrown which we don't notice in production mode, but it blocks progress in dev mode.

### How can we reproduce this issue?

[2022-01-25 07:10] ntmoin opened #10788 "Campaign is not sending"
### Mautic Version

4.0.0

### PHP version

php7.4

### What browsers are you seeing the problem on?

Chrome, Microsoft Edge

### What happened?

![image](https://user-images.githubusercontent.com/98025657/150928319-f2bd8013-ceed-46c5-80ab-2068bff42ad7.png)

Campaign is not sending i.e. campaign send success percentage (%) is zero (0) | Contacts under sent campaign doesn't show (it rounds and roun

[2022-01-25 09:35] JB-iundf-mt commented on #6502
@npracht This issue remains for mautic v4.1.1. I have the same problem setting null values for `multiselect` fields. Any solutions since 2020?

[2022-01-25 09:56] jos0405 commented on #6502
Hi,

I think this is not a bug. The API call has to be made a little bit different if you want the blank to replace existing values.
Call has to be modified as:

![image](https://user-images.githubusercontent.com/4246909/150954170-46f726ab-8ab2-47f9-9b18-bd15f6dab59d.png)

Here is the docs:
https://developer.mautic.org/#edit-contact

![image](https://user-images.githubusercontent.com/4246909/15095

[2022-01-25 12:05] kale1d0code commented on #9033
I have upgraded to v4.1.1 in docker.
the only theme that works is the code mode as long as I am not trying to use the grapesjs plugin
email template editing does not work at all if I try to use the grapesjs plugin

I get 500 error message for a request to https://SITE_URL/s/grapesjsbuilder/email/1?template=confirmme&_=1643111811729&mauticUserLastActive=4&mauticLastNotificationId=

and when changin

[2022-01-25 12:37] RCheesley commented on #10275
Resolved with #10753

[2022-01-25 12:37] #10275 closed, assigned to nobody

[2022-01-25 12:37] RCheesley commented on #10416
Resolved with #10753

[2022-01-25 12:37] #10416 closed, assigned to nobody

[2022-01-25 12:37] RCheesley commented on #10637
Resolved with #10753

[2022-01-25 12:37] #10637 closed, assigned to nobody

[2022-01-25 12:41] RCheesley commented on #10669
Resolved with #10716

[2022-01-25 12:41] #10669 closed, assigned to nobody

[2022-01-25 12:41] RCheesley commented on #10711
Resolved with #10716

[2022-01-25 12:41] #10711 closed, assigned to nobody

[2022-01-25 12:42] RCheesley commented on #10517
Resolved with #10674

[2022-01-25 12:42] #10517 closed, assigned to nobody

[2022-01-25 15:48] stevedrobinson opened #10797 "Filters for Dynamic Web Content no longer respect "Including" logic [$100]"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When creating a filter for slot-based dynamic web content, using an including filter like this...
![image](https://user-images.githubusercontent.com/866855/151009222-75553652-49ae-48f4-844b-f9b2e529447a.png)
...should work and did work in version 3. However, since th

[2022-01-25 16:15] kuzmany commented on #10676
Fix on 4.1.2 with https://github.com/mautic/mautic/pull/10716
Need re-save report.

[2022-01-25 21:53] putzwasser commented on #10780
Here's a screenshot of the contact's audit log, which also shows  that the wrong field gets updated. It may help to identify the problem...

![image](https://user-images.githubusercontent.com/26040044/151065935-66e78306-f80c-49c0-a28b-a5760a2aa915.png)

[2022-01-25 23:23] cgranobles opened #10798 "Error integrating Manychat with Mautic through Zapier"
### Mautic Version

4.0.0

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

I was integrating Manychat with Mautic through Zapier to take a tagged contact and create it as a contact on Mautic. All the steps are done and even finding and mapping the fields, when the test is done to send the contact to Mautic, an error comes out and the contact i

[2022-01-25 23:27] cgranobles commented on #10798
![Error integración Zapier Mautic](https://user-images.githubusercontent.com/98432582/151076808-882b3947-f172-4ce8-a05d-514bb4984a40.png)

[2022-01-26 15:09] kuzmany commented on #10687
@biggala2310 can you test this PR https://github.com/mautic/mautic/pull/10801 ?

[2022-01-26 15:39] alireza2281 commented on #6524
Hello @npracht
I cant find any source on configuring focus item intend to exit fire on mobile. would you please send any link of doc on how to implement this?

[2022-01-26 16:04] npracht commented on #6524
Hi there,

As far as there is no mouse on mobile, i don't think the exit intent is a catchable behaviour. So I'd say this intent is not relevant for mobile users.

[2022-01-26 19:53] #10191 closed, assigned to nobody

[2022-01-27 09:43] kuzmany commented on #10686
Already fixed by https://github.com/mautic/mautic/pull/10194
Please test

[2022-01-27 17:01] RCheesley opened #10805 "Mautic allows you to install with missing PHP modules"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

This arose from this forum thread: https://forum.mautic.org/t/embed-form-issue-with-upload-field-version-4-0-1/21235/9?u=raramuridesign

Uploading anything on a form throws an error if the PHP module exif isn't available, but we should prevent install/upgrade if such

[2022-01-27 17:04] raramuridesign commented on #10805
@RCheesley Thanks for getting this onto the bug report... As a side note, this was a WHM/Cpanel install and the exif module was missing.

[2022-01-28 05:03] ceefour commented on #9040
Up issue

[2022-01-28 09:14] kuzmany commented on #9762
This should fixed it

https://github.com/mautic/mautic/pull/10806

Same issue in segment filter

[2022-01-28 14:51] MadlenF commented on #10780
Hi @putzwasser , the issue you described here was fixed in this [PR](https://github.com/mautic/mautic/pull/10716) and is updated in the 4.1.2 version :)

[2022-01-29 16:57] lilmike commented on #10442
Any news on this? :-)

[2022-01-31 11:51] godiez commented on #9804
Hi! Any updates on this issue? Some workaround besides [@Jammmmm](https://github.com/mautic/mautic/issues/9804#issuecomment-829632683) solution?

[2022-01-31 13:04] MarkerB commented on #9804
[My workaround solution above](https://github.com/mautic/mautic/issues/9804#issuecomment-806422002) has been working great for almost a year.  It's higher up in this thread than [the solution provided by Jammmmm](https://github.com/mautic/mautic/issues/9804#issuecomment-829632683).

[2022-01-31 13:16] bradycargle commented on #9804
The problem here seems to be a problem with Symfony, not with Mautic. I've opened an [issue with Symfony](https://github.com/symfony/symfony/issues/44978) that will hopefully have this issue fixed soon

[2022-01-31 13:45] tejasync opened #10811 "Tag Manager does not disappear from right menu even if disabled from plugins list"
### Mautic Version

4.0.0

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

Mautic Version: 4.1.2

The tag menu doesn't respect the Tag Manager plugin setting (Published: No/Yes) from the plugins list.
Ref:
![Screenshot 2022-01-31 at 19 13 06](https://user-images.githubusercontent.com/54406786/151804587-36b03457-f6a6-4366-a778-79bde68975b0.png)

[2022-01-31 13:47] MarkerB commented on #9804
That makes a lot of sense, that the problem would really be something from the framework Mautic uses.  Thank you for pursuing this.

[2022-01-31 13:50] RCheesley commented on #10811
Confirmed - just tested in dev mode and the menu item is there despite the tag manager being disabled.

[2022-01-31 15:28] Dylan-86 opened #10813 "No "Email" shows up in "Reports""
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!

When I create a "Report" to display the metrics about the emails (sent, open, clicks...) ALMOST no email shows up.

I have tens of emails and hundreds of thousands of contacts. Most of the emails do not show up at all inside the "Reports", no

[2022-01-31 19:05] putzwasser commented on #10631
My experience with that is: If you get chrome to stop auto-completing, then firefox will do it and vice-versa. I didn't test any other browsers, but I guess, this feature handled different by every browser. So, there won't be a fix (in the short/medium term). It's a mess.

Therefore, it might be best to add a button next to the input, which opens the date picker.

FWIW: Chrome opens the email addr

[2022-02-01 14:00] kuzmany commented on #10687
@biggala2310 really could help your testing on this fix https://github.com/mautic/mautic/pull/10801

[2022-02-01 15:05] stevedrobinson commented on #10713
I didn't see this issue when I posted [Issue 10769](https://github.com/mautic/mautic/issues/10769). I think this is a symptom of the larger problem explained there, assuming @dsp76 and @shahriared are both referring to using the code mode with HTML and not MJML/template-based emails.

[2022-02-02 05:36] #9794 closed, assigned to nobody

[2022-02-02 09:05] abdul-Tz-prog commented on #10436
This is still not resolved. But I will check it again in mautic 4.1.2

[2022-02-02 15:21] PierreAmmeloot commented on #10769
I confirm, I have same problem on Mautic 4.

[2022-02-02 21:00] putzwasser commented on #10780
@MadlenF Thanks for the hint. I updated to 4.1.2 and it seems to work just fine now.

[2022-02-02 21:00] #10780 closed, assigned to nobody

[2022-02-02 21:03] putzwasser commented on #10749
Everything was set up correctly. It seems to work now. I don't know what caused the problem. Maybe it was, because I was logged in in the backend?

[2022-02-02 21:04] putzwasser commented on #10749
(Wanted to click "close with comment")

[2022-02-02 21:04] #10749 closed, assigned to nobody

[2022-02-03 11:06] izdrail commented on #9741
Happened to me when upgrading from 3 to 4.
In my case I was missing the config.json file in the theme folder.
I've copied the one from blank theme folder to the folder that I had the theme and edited to have the same name as the theme.
I hope I'm making sense.

[2022-02-03 15:18] mabumusa1 commented on #10561
@mzagmajster yes,  this is possible

[2022-02-03 16:49] notz commented on #10629
This bug is fixed by PR #10760

[2022-02-03 16:50] npracht commented on #10629
Fixed in 4.2.0

[2022-02-03 16:50] #10629 closed, assigned to nobody

[2022-02-04 05:52] ChetanGoti commented on #8790
https://github.com/mautic/mautic/issues/8271#issuecomment-571185122 fixed the issue.

[2022-02-04 08:05] jos0405 commented on #10798
Hi, did you refresh the cache after allowing the API?

[2022-02-04 08:07] jos0405 commented on #10788
Hi, what the the source of the campaign: Form or Segment or Both?

[2022-02-04 08:20] dakur commented on #10769
I've just ran into this issue as well and discovered the bad rendering in Gmail clients accidentally just before sending to all contacts.

Flow:
- create e-mail using [Bee service](https://beefree.io/) (that's a guarantee for me that it renders well in all clients)
- export HTML from BEE and paste it into Mautic in Code Mode
- send e-mail from Mautic

Quick fix which worked for me was to force the

[2022-02-04 13:18] RCheesley opened #10829 "When a mandatory field is missed, quick-add form loads entire new contact page in modal"
Mautic 4.1.2 with PHP 7.4

When adding a contact with quick-add, and a field is incorrect (discovered testing a PR which throws an error on invalid email addresses) the entire new contact form is reloaded in the modal, not the quick-add form.

Take a look here: https://watch.screencastify.com/v/KXoO5ZdMhUDXCJLZsAAj

It seems to be loading up the regular screen for creating a new contact, within th

[2022-02-04 13:37] medsun88 commented on #10604
Anyone know how to resolve this issue.   @escopecz  @kuzmany  @npracht
Can you please tell how to remove GrapesJS Plugin.

In mautic v4.1.2 also this not resolved

![image](https://user-images.githubusercontent.com/47072304/152538297-7fad5e8a-e1f9-4871-b36f-04174a7fb459.png)

[2022-02-04 14:50] #10398 closed, assigned to adiux

[2022-02-04 14:50] #10292 closed, assigned to nobody

[2022-02-04 15:43] andres-asm opened #10832 "SSO becomes forcefully the default once enabled"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Once SSO is enabled, everyone is forced to use SSO login, this is quite difficult since we may give customers access and they may not have an account on our organization.

There should be a switch that allows us to define which login method takes precendenc

[2022-02-04 16:06] andres-asm commented on #10832
as a workaround, on nginx at least what I did was

[code]

Then all users get greeted by the default login page regardless of their location, and we internally can still use the login provider

[2022-02-04 16:54] #10675 closed, assigned to dadarya0, tejasync

[2022-02-04 17:39] RCheesley opened #10835 "Add functional tests for header/footer scripts in landing pages"
Works

![image](https://user-images.githubusercontent.com/462477/152553409-8dd3d42f-59a7-4691-b7c7-7dbb6318c0c6.png)

Probably we should add basic functional tests.
Added header/footer script to createTestPage and then check it in content of page.

https://github.com/mautic/mautic/blob/a0ca40058260f9274570e124b8491baf7af4039b/app/bundles/PageBundle/Tests/Controller/PageControllerTest.php#L138

_Or

[2022-02-05 07:34] #10240 closed, assigned to nobody

[2022-02-05 07:39] kuzmany commented on #10240
DC for MJML added in upcoming 4.2

[2022-02-05 11:19] RCheesley commented on #10835
@alfredoct96 would you be able to address this suggestion please?

[2022-02-05 11:21] RCheesley commented on #10832
Hi @fr500 I'm pretty sure that this is by design, and therefore allowing multiple different login types to co-exist would be a feature request. Can you please post that at https://forum.mautic.org/c/ideas where the community can discuss whether this is something which others would value? Thanks!

[2022-02-05 11:21] #10832 closed, assigned to nobody

[2022-02-05 11:24] RCheesley commented on #10813
Hi @Dylan-86 can you please check if you have the appropriate date filter set in your report when those emails were sent?

If so please share screenshots of the emails and the dates they were sent, and the report configuration / settings.

It's probably not that nobody gives a damn, just there isn't enough information to help with triaging your bug report.

[2022-02-05 11:26] RCheesley commented on #10798
Hi @cgranobles thanks for sharing this. Usually this happens if the API is not enabled in Mautic, or you haven't cleared the cache after enabling it. If this continues to be a problem, please make a post at https://forum.mautic.org/c/support where the community will be able to help you troubleshoot this further.

[2022-02-05 11:26] #10798 closed, assigned to nobody

[2022-02-05 11:28] RCheesley commented on #10797
Thanks for the bug report @stevedrobinson

[2022-02-05 11:29] RCheesley commented on #10788
Hi @ntmoin, it's not clear from your bug report if you've triggered the cron job so that the campaign is built and then triggered, could you please clarify?

[2022-02-05 11:35] RCheesley commented on #10776
Thanks for raising this again, @Orestes2 - if it happens to go stale please just reply with something and it will prevent the issue being closed.

[2022-02-05 11:37] RCheesley commented on #10762
Hi @paradiseporridge thanks for making the bug report. As 3.x is no longer supported, can you please confirm if this issue persists on 4.1.2? I expect it probably will, but would be most helpful if you could please check.

[2022-02-05 11:39] RCheesley commented on #10755
Thanks for raising the bug @dsp76 and for confirming @oltmanns-leuchtfeuer! I agree it would be good to check like we do with segments to see if the tag is in use anywhere (e.g. forms, campaigns) before it is deleted.

[2022-02-05 11:40] RCheesley commented on #10754
Thanks for the bug report @dsp76 !

[2022-02-05 11:41] RCheesley commented on #10751
Thanks for the report @biozshock - I've asked @nickveenhof to take a look at your suggestions.

[2022-02-05 11:43] RCheesley commented on #10750
Hi @mrlazycoder - this is generally because you've not cleared the cache and reloaded the page. As others have said, also make sure your ownership and permissions are set correctly: https://docs.mautic.org/en/troubleshooting/file-ownership-and-permissions

Please post on https://forum.mautic.org/c/support if you have further difficulties, as that's where we provide community support.

[2022-02-05 11:43] #10750 closed, assigned to nobody

[2022-02-05 11:44] RCheesley commented on #10748
This was resolved with #10803 which is being released in 4.2 at the end of February.

[2022-02-05 11:44] #10748 closed, assigned to nobody

[2022-02-05 11:46] RCheesley commented on #10740
Thanks for raising the issue, hopefully @bastolen will make a PR to resolve this issue! Shout if you need any help with doing that.

[2022-02-05 11:51] RCheesley commented on #10737
Thanks for raising the bug report @putzwasser !

[2022-02-05 11:52] RCheesley commented on #10736
Closing as a duplicate as above.

[2022-02-05 11:52] #10736 closed, assigned to nobody

[2022-02-05 11:54] RCheesley commented on #10735
hi @ebogaard can you please update to 4.1.2 and see if this issue persists?

Also maybe you might need to clear out your browser cache? Sometimes that causes issues with the JS between releases. Please try to delete your browser cache and/or check in an incognito window.

If neither of those resolve the issue, please try regenerating the production assets using the command

`bin/console mautic:ass

[2022-02-05 11:55] #10729 closed, assigned to nobody

[2022-02-05 11:56] bastolen commented on #10740
Will do 😀 but first I'll check if there is a better solution (which was the reason I didn't do this before), because this way will make you lose the option group functionality and get longer with option names. I'll check later today.

[2022-02-05 11:59] RCheesley commented on #10727
Hi @katzueno thanks for reporting the bug. Unfortunately I think that this may relate to one of the upstream dependencies we use.

I'll double check with the team and confirm this is the case.

[2022-02-05 12:05] RCheesley commented on #10725
Hi @mulham1988 unfortunately we no longer support Mautic 3. Please update to 4.1.2 and if the issue persists, feel free to re-open the issue.

[2022-02-05 12:05] #10725 closed, assigned to nobody

[2022-02-05 12:05] RCheesley commented on #10721
Hi @fav22 please post this on https://forum.mautic.org/c/support, as above this is not a bug with mautic but your server configuration.

[2022-02-05 12:05] #10721 closed, assigned to nobody

[2022-02-05 12:07] RCheesley commented on #10720
Thanks for raising the bug @dsp76 - @mabumusa1 I thought this was addressed by a PR some time ago but maybe that was in a different area (not in the form action, but in the regular sending, perhaps?).

Hopefully a quick fix!

[2022-02-05 12:09] RCheesley commented on #10718
Thanks for raising this @tomekkowalczyk and for confirming the issue @anthienvu - hopefully a quick fix!

Can you double check you have the latest assets built by using the command:

`bin/console mautic:assets:generate`

Does this make any difference?

[2022-02-05 12:10] #10704 closed, assigned to nobody

[2022-02-05 12:12] RCheesley commented on #10485
I don't see any bug here. It's not a bug if a migration doesn't have anything to do when it runs. Closing the issue as a result.

[2022-02-05 12:12] #10485 closed, assigned to nobody

[2022-02-05 12:16] RCheesley commented on #10614
I wonder if this might be related to the issues we fixed in https://github.com/mautic/mautic/pull/10716 with boolean fields on the contact profile? @patrykgruszka could this be the same issue but in a different part of Mautic?

[2022-02-05 12:27] RCheesley commented on #10621
Is this still an issue in 4.1.2 @alexhammerschmied ?

[2022-02-05 15:11] RCheesley commented on #10631
Thanks for reporting this @TechBill - I can see how that would be annoying!

Would you like to take a stab at fixing it?  I came across some docs here in my searching about this topic: https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

There is a note on that page which says that browsers may ignore this if the form contains login fields, whic

[2022-02-05 15:12] RCheesley commented on #10632
This was fixed in https://github.com/mautic/mautic/pull/10674 so closing as a duplicate - please let us know if it's still an issue after you've updated!

[2022-02-05 15:12] #10632 closed, assigned to nobody

[2022-02-05 15:19] RCheesley commented on #10633
@ropic is this still a problem with 4.1.2?

[2022-02-05 15:20] RCheesley commented on #10638
Thanks for raising this bug @Deaton64 and for the detailed explanation of what you're experiencing.

Hopefully not too difficult to address, is it still persisting in the latest versions of Mautic (4.1.2 at this time)?

[2022-02-05 15:22] RCheesley commented on #10640
Thanks for writing back with the solution @Sharma-Ashish - glad to hear you got it fixed and sorry for the delay in getting back to you!

[2022-02-05 15:22] #10640 closed, assigned to nobody

[2022-02-05 15:23] RCheesley commented on #10642
He @flippaus - is this still a problem? If so, does it still happen with 4.1.2?

Sorry for the delay in getting back to you on this issue.

[2022-02-05 15:26] RCheesley commented on #10643
Obrigado por enviar o relatório de bug - isso persiste na versão 4.1.2?

Desculpe a demora em te retornar!

[2022-02-05 15:27] RCheesley commented on #10650
Hi there,

Does this persist in 4.1.2? We pushed quite a lot of bug fixes just recently.  If it's still an issue please can you let us know?

Thanks!

[2022-02-05 15:28] RCheesley commented on #10751
Actually this is a duplicate of an existing issue: https://github.com/mautic/mautic/issues/10651 so let's take the discussion there.

[2022-02-05 15:29] RCheesley commented on #10751
Not a duplicate .. different composer-related issue 🤦 Sorry for the confusion!

[2022-02-05 15:31] RCheesley commented on #10712
This was addressed by https://github.com/mautic/mautic/pull/10753 which will be released in 4.2 at the end of February - sorry for the late triage of the issue!

[2022-02-05 15:31] #10712 closed, assigned to nobody

[2022-02-05 15:32] RCheesley commented on #10713
OK let's take this discussion over to #10769 which has a lot more detail, to avoid duplication.

[2022-02-05 15:33] RCheesley commented on #10714
Closing in favour of existing issue #10540 please take the discussion over there folks! :)

[2022-02-05 15:33] #10714 closed, assigned to nobody

[2022-02-05 15:34] RCheesley commented on #10715
Hi @biggala2310 can you confirm that you've cleared your cache and reloaded your browser after you've turned off GrapesJS?

[2022-02-05 15:37] rodneipires commented on #10643
Olá, aqui persiste sim.

Tranquilo, sei que tem muitos casos e como é livre, imagino o trabalho que
tem.

Grato! :)

Em sáb., 5 de fev. de 2022 às 12:26, Ruth Cheesley ***@***.***>
escreveu:

[2022-02-05 15:38] RCheesley commented on #10643
Ok obrigado por confirmar!

[2022-02-05 15:50] rodneipires commented on #10643
Show! ótimo dia! :)

Em sáb., 5 de fev. de 2022 às 12:38, Ruth Cheesley ***@***.***>
escreveu:

[2022-02-05 16:27] #10676 closed, assigned to nobody

[2022-02-05 16:30] RCheesley commented on #10643
Talvez [este PR](https://github.com/mautic/mautic/pull/10194) resolva seu problema se você estiver no MySQL 8?

[2022-02-05 16:33] rodneipires commented on #10643
Vou verificar esse link sim, agradeço o retorno e ajuda. :)

Em sáb., 5 de fev. de 2022 às 13:30, Ruth Cheesley ***@***.***>
escreveu:

[2022-02-05 16:34] RCheesley commented on #10643
Vou fechar este problema, pois acredito que seja uma duplicata de #10686 :)

[2022-02-05 16:34] #10643 closed, assigned to nobody

[2022-02-05 16:38] rodneipires commented on #10643
show! :)

Em sáb., 5 de fev. de 2022 às 13:34, Ruth Cheesley ***@***.***>
escreveu:

[2022-02-05 22:51] dsp76 commented on #10713
@RCheesley I think both issues are two different things. This issue refers - as I see it - to GrapeJS not properly converting MJML into HTML. We experienced the same and in the past fixed the generated HTML. But by using MJML and letting GrapeJS do its job, there is no way to fix the automatically generated HTML.

So my question still open - how will we keep track on third party issues, that has a

[2022-02-06 02:55] andres-asm commented on #10704
why was this closed? it isn't fixed

[2022-02-06 11:39] Dylan-86 commented on #10813
Hi @RCheesley

Actually, in the first thread I shared all the details and screenshots. You can check here:
https://github.com/mautic/mautic/issues/10420

YES, I am sure that I select the right timeframes.

Screenshots:
Email #176 (I can actually show you any of the 20+ email we have configured)
![image](https://user-images.githubusercontent.com/58813956/152678285-43440e52-916a-4a39-b974-88a6d6cb06

[2022-02-06 11:50] RCheesley commented on #10813
Right - so this is a duplicate of that issue therefore I will close it. Please do not create duplicated issues.

[2022-02-06 11:50] #10813 closed, assigned to nobody

[2022-02-06 12:37] Dylan-86 commented on #10813
@RCheesley

OK but I see this "Comments on closed issues are hard for our team to see.
If this issue is continuing with the [lastest stable version of Mautic](https://www.mautic.org/mautic-releases), please open a new issue that references this one."

Well, the issue is still there even with the new version of Mautic.

[2022-02-06 12:55] stoykovstoyk commented on #3478
I know this thread is a little bit old, but since I had the same experience I decided to share with you how I partially solved it as far as the problem with the **most recent** email opened date Event Timestamp column field goes.

I didn't solve the problem with the read date in descending order, but the solution still solves half of the problem that you mentioned here.

So my solution was to chan

[2022-02-06 13:30] RCheesley commented on #10813
@Dylan-86 your original issue https://github.com/mautic/mautic/issues/10420 is still open. It will be reviewed when the community is able to get to it. You do not need to make any more issues about it, regardless of whether you feel that it is not being resolved quickly enough.

[2022-02-07 08:40] ntmoin commented on #10788
No way campaign goes/reaches to the segment subscribers. SMTP integration is fine/functional. We can send test mail or even single mail/campaign to a single contact/subscriber.

The issue for any campaign and for any segment.

I have set corntab cronjob as well like below_
![image](https://user-images.githubusercontent.com/98025657/152753898-f8a3f9f8-3428-4a02-9ace-be9f7b731710.png)
![image](https

[2022-02-07 10:47] alfredoct96 commented on #10835
@kuzmany i added this test

[code]

but `$clientResponse->getContent();` return empty string, i tried also with `$page->getContent();` but returns empty array.
How can i get the content of the page to check if script exists inside it?

[2022-02-07 13:24] AsyncAlchemist commented on #10750
Hi @RCheesley

Please reopen the issue. The problem was not a cache/permissions issue. I hired a Mautic developer to solve this and the issue was due to my adding incorrect email info in the monitored inbox section. Everytime the config page opened this caused the system to hang. The developer solved the issue by manually editing my config file and removing the erroneous information.

So I would c

[2022-02-07 16:05] ghost commented on #10687
@kuzmany Hello, I'm sorry for waiting. I tested it on gitpod. On preview sort of depend fields looks better. It is sorted by creation order which may be accept. Still I can't sort it manually. Unfortunelly on gitpod I can't find database to check field_order. So I'm not 100% sure, that problem is fixed.

[2022-02-07 16:17] kuzmany commented on #10687
Can you share what structure of form before make the issue? Because it's hard to reproduce.

[2022-02-07 19:54] mabumusa1 commented on #10540
I can confirm this bug, I encountered it today for one of my clients

[2022-02-08 07:48] kuzmany commented on #9924
Close favor to https://github.com/mautic/mautic/pull/10421

[2022-02-08 07:48] #9924 closed, assigned to nobody

[2022-02-08 08:41] #10534 closed, assigned to nobody

[2022-02-08 10:06] cloudpotions commented on #9042
Hey Guys I was able to get this to work today!!! Whoop Whoop! I just proposed a change to the Mautic documentation below as well. Please see below for the solution, hope this helps @RCheesley ;)

A Twitter application has to be created for authorization. To create/manage one, go to https://developer.twitter.com/. Once you have created a Twitter App, you can edit the user Authentication settings. I

[2022-02-08 10:10] cloudpotions commented on #9042
PS system stats below
Mautic 4.1.1
PHP Version 7.4.27 with FastCGI
Plesk Obsidian v18.0.41_build1800220115.08 os_Ubuntu 20.04
Ubuntu 20.04.3 LTS

[2022-02-08 11:30] arcmedia-it commented on #373
Hi, how can this feature be used?
I don't see it as a campaign action.
I'd like to reset al the submitions of a contact in a form.
Is this the purpose of this feature or am I mixing things up?
Thanks in advance

[2022-02-08 14:24] HermanMonteiro opened #10840 "Message erro: Hubspot Erro internal error"
### Mautic Version

3.3.x series (not supported)

### PHP version

7.3.33

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The following appears in the notification UI in Mautic indicating an internal error with the Hubspot integration. I am seeing this appear daily. There is no error in the log.
![erro mautic](https://user-images.githubusercontent.com/7132904/1

[2022-02-08 14:27] RCheesley commented on #10840
Hi @HermanMonteiro, unfortunately we don't support bugs with Mautic 3 any more - please update to Mautic 4.1.2 and lets us know if this persists.

[2022-02-08 15:35] uhlhosting opened #10841 "Landing pages only working when logged in!"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari

### What happened?

Unable to access any landing pages when not logged in to Mautic administration.

### How can we reproduce this issue?

Step 1: The thing is this occurred randomly after only upgrading Mautic, one day it stopped working.

### Relevant log output

[2022-02-09 08:46] patrykgruszka commented on #10614
@RCheesley it is possible. I cannot replicate this issue after update. @jos0405 @andrew-dixon check if the issue still exists in the latest version.

[2022-02-09 09:01] andrew-dixon commented on #10614
@patrykgruszka @RCheesley I do not have the issue in the latest version either, so I would say that #10716 fixed it. I can also save contacts again in the edit contact view, which also had an issue with boolean fields. 😄

[2022-02-09 12:51] #10455 closed, assigned to nobody

[2022-02-10 07:13] mabumusa1 commented on #10720
@dsp76 @RCheesley I checked the issue it is not related to SES nor any of the other transports.

Forms are not passing the fields `CC & BCC` therefore they are not sent.

[2022-02-10 08:11] dsp76 commented on #10720
@mabumusa1 so its not just limited to Amazon SES, but a general problem across all mailers?

[2022-02-10 11:55] mabumusa1 commented on #10720
Yes, correct

[2022-02-10 13:35] #8457 closed

[2022-02-10 15:28] #10356 closed, assigned to nobody

[2022-02-10 15:35] webalexstudio commented on #10769
Hi. Have same issue with css styles in Gmail from Mautic GrapesJs "Edit Code".
Is there any info about this issue?

[2022-02-10 15:57] adiux commented on #10769
Can we have a simple HTML/CSS to test this?

[2022-02-10 16:04] dakur commented on #10769
@adiux Thanks for looking into this. You can try this one:

[code]

[2022-02-10 19:32] RCheesley opened #10852 "Symfony 5 support"
Symfony 4 will become unsupported from November 2022, and will no longer receive security fixes after November 2023.

This issue is to track the tasks required to implement support for Symfony 5 prior to the timelines below.

### Timelines:
[Symfony 5](https://symfony.com/releases/5.4)

- Symfony 4 active support ends November 2022
- Symfony 4 security support ends November 2023

[Symfony 6](https

[2022-02-10 19:48] RCheesley commented on #10852
Closing as this was a test issue.

[2022-02-10 19:48] #10852 closed, assigned to nobody

[2022-02-10 20:00] RCheesley commented on #9607
This has been resolved and will be released in 4.2 🚀

[2022-02-10 20:00] #9607 closed, assigned to dennisameling

[2022-02-11 10:52] webalexstudio commented on #10769
Seems like a problem is in "Content-Transfer-Encoding: quoted-printable".
Is it a proper way to change quoted-printable to us-ascii, for example?

[2022-02-11 11:36] ItDoBeNord opened #10855 "Mautic ID not merged after form submit"
### Mautic Version

4.1.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

Hi,

On our website we have a few forms. In Chrome the tracking doesn’t seem to work properly, however it works correctly in Firefox. Are you guys aware of any issues in Chrome?

### How can we reproduce this issue?

Below I describe how I expect it to work and h

[2022-02-11 12:18] raramuridesign commented on #9607
Thank you @RCheesley

[2022-02-11 16:07] ghost commented on #10687
I've got something like this:
![image](https://user-images.githubusercontent.com/56032973/153625489-7c6da654-97c1-4215-acf7-ef52b5051cf6.png)
But you see there form after save. I made all depends fields in order: first and last name, e-mail addres, career stage. But mautic add to any field this same field_order, so after save we see random order (second field for first and last name is on last pos

[2022-02-11 16:12] stevedrobinson commented on #10769
@adiux I updated the issue to include some simple html to test the issue, along with screen grabs and detail of how the grapes-js editor is manipulating the code. Let me know if I can do anything else to help clarify the problem.

[2022-02-11 16:30] ghost commented on #10687
Here I've got exactly this same form after adding all of members fields:
![image](https://user-images.githubusercontent.com/56032973/153630017-0cf50f73-16dd-4eb8-ad06-3d98ca5db07f.png)
All member's fields made In this order: 1. first and last name, 2. e-mail, 3. select, save form, and make next fields for next member.

What I will do with this? I change fields order in database and I will not edit

[2022-02-11 17:14] #9040 closed, assigned to nobody

[2022-02-12 08:51] mabumusa1 commented on #10496
commenting for visiablity

[2022-02-14 01:04] anthienvu commented on #10718
I can see the contacts once only if clicking the contact tab right after saved. So I have to save many times to review the contacts. It is not good.

[2022-02-14 11:12] webalexstudio commented on #10769
I have tried to send emails with other possible variants of content-encoding in Mautic system, but it did not hep to resolve the problem.

[2022-02-14 12:11] vexersa opened #10860 "Regexp Failed To Parse for Campaign Contact Field Regexp Match"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

I've attempted to filter contacts by using a "Contact field value" condition in the campaign builder.
I need to filter by match against a "date-added" contact field.

I have built a Regex pattern to match the appropriate values. Please see here: https://regex101.

[2022-02-14 14:57] mollux commented on #10282
still valid

[2022-02-14 15:33] #10573 closed, assigned to nobody

[2022-02-14 22:55] arielbsd commented on #2786
I was looking at how to solve this same issue, and your fix worked well.

Thank you.

[2022-02-15 01:00] stevedrobinson commented on #10561
Still seeing this in version 4.1.1. I just updated a bunch of instances to 4.1.2 and I'll report back if still an issue on that version.

[2022-02-15 08:10] vexersa commented on #10860
I have attempted to modify the regexp to the following: https://regex101.com/r/4lc8gd/1

The issue still exists:
`[2022-02-15 07:39:32] mautic.ERROR: CAMPAIGN: DateTime::__construct(): Failed to parse time string ((0?[8-9]|1[0-6]):([0-5][0-9]):([0-9][0-9])) at position 0 ((): Unexpected character [] []`

[2022-02-15 08:30] mabumusa1 opened #10863 "Switching back from grapejs to legacy editor causes javascript to break"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I disabled GrapeJS and switched back to the legacy editor, I got this error in the console `Uncaught ReferenceError: mauticEnv is not defined`

The legacy editor did not detect the editing blocks, so I had to regenerate the assets which made everything works a

[2022-02-15 08:44] ebogaard commented on #10735
Sorry for the delay.
I've just tested the upgrade from 3.3 to 4.1.2 and again have the same issue.

Cleared the browser cache, did a hard refresh and used a incognito window: makes no difference.

Tried bin/console mautic:assets:generate, then again cleared cache, etc: no difference.
Tried another browser, in which I haven't used Mautic before: no difference.

UPDATE:
After some debugging: I can g

[2022-02-15 14:03] Aerendir opened #10864 "The entity-class Mautic\DynamicContentBundle\Entity\DynamicContentLeadData mapping is invalid"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Trying to validate the schema, the `doctrine:schema:validate` tool returns an error on class `Mautic\DynamicContentBundle\Entity\DynamicContentLeadData` alerting its mapping is invalid.

See also: https://github.com/mautic/mautic/issues/5847

### How can we re

[2022-02-15 14:08] Aerendir opened #10865 "Referencing column 'campaign_id' and referenced column 'id' in foreign key constraint 'FK_MyForeignKey735FD886F' are incompatible."
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm trying to sync the schema with the mappings using `doctrine:schema:update --force` but I receive an error that makes this impossible.

### How can we reproduce this issue?

1 First run `doctrine:schema:validate`

    php bin/console doctrine:schema:validat

[2022-02-15 14:21] #10841 closed, assigned to nobody

[2022-02-15 15:20] russkiimike opened #10867 "Deduplicate cron is taking too long, any way to speed up?"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Resiurces: 8 vCPUs
16GB / 80GB Disk

My problem is: Running deduplicate freezes at around 100k contacts mark!

These errors are showing in the log: N/A

Steps I have tried to fix the problem: Tried installing the custom deduplicate plugin but there's a comp

[2022-02-15 19:21] leoborlot opened #10868 "Filter state select error (segment and campaigns)"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

In Segment (filter including state) and in Campaing (condition -> field value -> state) there a problem whe any one try to select any state.
The interface return noname error. And block the user to select a state.
In segment, the error out after the second change.
I

[2022-02-16 04:37] fintechee commented on #10604
I have the same issue, the latest version 4.1.2.
v3.3.3 worked fine.

[2022-02-16 08:18] castellinosviluppo opened #10870 "Error during upgrade from 4.1.1 to 4.1.2"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Upgrading from a newly installed version 4.1.1 to version 4.1.2 results in an error while updating the database.
The upgrade tries to create the table mt_campaign_summary
This table is already present, so I think it shouldn’t be a CREATE TABLE but an ALTER

[2022-02-16 08:39] Almack2013 commented on #10604
I have been able to resolve the issue.
I created new themes from scratch based on the designs that I had.
Then I made sure that all my template emails were based on these new themes.
I have not found the exact source of the error.
But the procedure I followed did the trick for me and personal messages based on templates worked again.
The issue that occurred seems to have to do with loading the old

[2022-02-16 09:19] kuzmany commented on #10604
This does not work only If you not using GrapesJs.

[2022-02-16 10:18] fintechee commented on #10604
@kuzmany
Many thanks. It works!

[2022-02-16 11:09] webalexstudio commented on #10769
Seems like I have catch the problem.
Grapesjs editor merge css styles and set it in the <body> before body end </body>. Most of email clients, do not read such styles.
If I edit manually html in the db and move all <style> tag into the <head>, all works fine.

[2022-02-16 12:04] Robmobius commented on #10604
@fintechee - can u explan, not following @kuzmany comment. Do I need to have grape.js on or off to get direct person emailing to work?

[2022-02-16 12:05] fintechee commented on #10604
on

[2022-02-16 15:16] trianity commented on #10604
Hello, can you explain more detailed what is the workaround suggestion?

[2022-02-16 15:31] kuzmany commented on #10604
Enable GrapesJs plugin

[2022-02-16 16:22] leoborlot commented on #10604
Kuzmany

Tha Grape will be mandatory from right now?

[2022-02-16 19:27] #10387 closed, assigned to nobody

[2022-02-16 19:27] #10430 closed, assigned to nobody

[2022-02-16 19:33] Jammmmm commented on #8992
I'm still on 3.x for now, which hasn't had an update since August 30, 2021. The problem still exists in 3.x.

I haven't upgraded to 4.x yet. At some point I will and will re-test when I do.

So for now, yes, the bug definitely still exists in 3.x. Unconfirmed in 4.x.

[2022-02-16 21:06] fintechee commented on #10604
Sure, Very simple.
Just need to go to the plugins panel and click the GrapeJs in the list and make it enabled.
Then done.

[2022-02-17 04:36] #9994 closed, assigned to nobody

[2022-02-17 08:46] shinde-rahul commented on #10860
@vexersa, The regexp is not supported for Dates.

Would be TODO,
- [ ] We can remove the Regexp operators for a datetime type field.

[2022-02-17 11:48] vexersa commented on #10860
That would be good.
In the meantime, I will need to populate a text field with the date values and try regexp match it. Would this work?

[2022-02-17 19:01] lucky-naty commented on #5919
mautic 4
I'm getting same in my logs
mautic.NOTICE: PHP Notice - Undefined offset: 0 - in file /var/www/www-root/data/www/mautic/app/bundles/LeadBundle/Views/Auditlog/details.html.php - at line 62 {"mauticTemplateVars":{"app":"[object] (Symfony\\Bundle\\FrameworkBundle\\Templating\\GlobalVariables: {})","event":{"eventType":"update","eventLabel":"Admin","timestamp":"2022-02-17 19:46:49","details":

[2022-02-18 03:00] shinde-rahul commented on #10860
Theoretically, it will work. But not sure. Please keep us updated on how it goes, practically.

[2022-02-18 07:37] vexersa commented on #10860
I can confirm that it works.

[2022-02-18 10:45] dsp76 commented on #9627
This should not go stale... Amazon SES is a primary service for mautic, it should not run into trouble with a fast server sending faster than the API limit allows. There is currently no way to find out, which mails have dropped from the sending.

[2022-02-18 14:47] escopecz commented on #10686
Reopening because https://github.com/mautic/mautic/pull/10194 is fixing the same problem for reports, not segments.

[2022-02-18 15:50] mabumusa1 commented on #9627
We are working on a migration from swiftmailer to symphony mailer on Mautic version 5.

We need testers, those who are interested, please let me know

[2022-02-18 16:03] kuzmany opened #10875 "Segment membership select box with preselected first segment"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

If I select segment membership filter with include operator I have pre-select value - first of segment

![image](https://user-images.githubusercontent.com/462477/154717964-9365baeb-52d7-4359-972b-ab385755d085.png)

### How can we reproduce this issue?

Step 1

[2022-02-18 16:03] kuzmany commented on #10875
@escopecz looks like coming from segments refactoring

[2022-02-18 16:32] escopecz commented on #10875
Yea, that will be. We don't have fix for it after 2 years of using it. It never became a priority as it has simple workaround just removing the pre-selected option and select the one(s) you want.

[2022-02-18 17:55] Aerendir commented on #9129
@jjroelofs, Here there is a sample query

https://github.com/mautic/mautic/issues/9129#issuecomment-806565061

[2022-02-18 18:18] Aerendir commented on #9129
I've followed the instructions provided by @pety-dc here: https://github.com/mautic/mautic/issues/9129#issuecomment-707708797

They seems to work at first glance as the database is effectively recreated.

But it has issues with foreign keys.

In fact, recreating foreign keys with `bin/console doctrine:schema:update --force` does not recreate "standard" names for them.

It seems that Doctrine is no

[2022-02-18 18:18] Aerendir commented on #9129
@RCheesley , please, can you reopen this issue as it is not actually solved? Thank you!

[2022-02-19 09:53] Aerendir commented on #10870
This migration has an issue and the issue comes from the way it checks what to do.

I explained the problem yesterday here:

https://github.com/mautic/mautic/issues/9129#issuecomment-1044958793

The problem comes from the foreign keys: the developers assume the names of the foreign keys are deterministic, but they aren't, and this causes the issue.

The check, in fact, groups the creation of the t

[2022-02-19 10:03] Aerendir commented on #10870
A quick and dirty fix to run migrations maybe this:

1. Edit the migration `Version20201120122846.php` in this way:

[code]

This way the migration is simply skipped.

Then run again all the migrations:

    php bin/console doctrine:migrations:migrate --env=prod --no-debug --no-interaction

Once finished, run

    php bin/console doctrine:schema:update --force

This last command will ensure the da

[2022-02-19 10:03] Aerendir commented on #10870
@RCheesley , who does the triage?

[2022-02-19 10:07] Aerendir opened #10877 "Migration Version20201120122846 has weak checks on foreign keys that causes migration to fail"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The migration fail to complete.

### How can we reproduce this issue?

I don't know precisely how to reproduce the issue.

But the problem is in the way the migration checks the existence of foreign keys: it assumes they are deterministic, but they are not.

I

[2022-02-19 10:35] Aerendir commented on #10870
This is also related to https://github.com/mautic/mautic/issues/10865

[2022-02-19 22:18] #10309 closed, assigned to nobody

[2022-02-21 10:21] laabidi21 opened #10880 "Before_Save and After_Save Mautic Contact - Custom"
### Mautic Version

4.1.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

it is possible to create a custom code before or after the Update of mautic -Contact, for example to put "Updated" Tag or to make other changes, or to send an Email... ?
is it possible to create a Custom Code for the Contact Module, if yes..  after a Mautic-Updat

[2022-02-21 11:48] Absynth723 opened #10881 "Form editor: Assigning bootstrap col-*-12 CSS class to a form input container attribute breaks form editor UI."
### Mautic Version

4.1.x series
4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome, Safari

### What happened?

When creating a custom form, I tried duplicating our main website's look and feel (to properly embed the forms without a design break). The original forms contain the following css classes either in the form input elements or in their containe

[2022-02-21 11:49] Absynth723 commented on #10881
Screenshot of the non-functioning form fields pane: ![Bildschirmfoto 2022-02-21 um 12 49 25](https://user-images.githubusercontent.com/3737316/154949804-a221b1d9-e4b3-4d33-a7f2-5cae0bb3fa05.png)

[2022-02-22 05:35] #10581 closed, assigned to nobody

[2022-02-22 05:35] #10563 closed, assigned to nobody

[2022-02-22 05:35] #10446 closed, assigned to nobody

[2022-02-22 05:35] #10558 closed, assigned to nobody

[2022-02-22 05:35] #10547 closed, assigned to nobody

[2022-02-22 05:35] #10554 closed, assigned to nobody

[2022-02-22 05:35] #10555 closed, assigned to nobody

[2022-02-22 05:35] #10545 closed, assigned to nobody

[2022-02-22 05:35] #10529 closed, assigned to nobody

[2022-02-22 05:35] #10494 closed, assigned to nobody

[2022-02-22 05:35] #10493 closed, assigned to nobody

[2022-02-22 05:35] #10508 closed, assigned to nobody

[2022-02-22 05:35] #10483 closed, assigned to nobody

[2022-02-22 05:35] #10452 closed, assigned to nobody

[2022-02-22 05:35] #10576 closed, assigned to nobody

[2022-02-22 10:26] dinaras opened #10885 "Cannot view contacts v 4.1.2- SOLVED"
### Mautic Version

4.1.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Not relevant

### What happened?

i expect when i click contacts that i can see contacts, but know it shows that it is loading and does nothing.

The only similar post i have found is the following but i cannot apply the solution to my version as files have been already changed. Apart from

[2022-02-22 10:38] dinaras commented on #10885
From the server i can see
192.x.x.x - - [22/Feb/2022:12:34:43 +0200] "GET /s/contacts/view/39799?_=1645517810339&mauticUserLastActive=8274&mauticLastNotificationId= HTTP/2.0" 500 161 "https:xxxxxx/s/contacts" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.80 Safari/537.36" "-"

thanks again for your hard work
Dinos

[2022-02-22 11:24] Aerendir commented on #10885
Very probably something went wrong with your update.

Via FTP, go to `var/logs`. Here you'll see all the logs wrote by Mautic.

Open the most recent and see what it says: there you will find the cause of the 500 error.

[2022-02-22 12:40] dinaras commented on #10885
Hello
Following your suggestion i managed to find the following from /var/log/nginx/ error logs

`2022/02/22 12:41:47 [error] 32445#0: *1398256 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined variable: columns in app/bundles/LeadBundle/Views/Lead/list_rows.html.php on line 85PHP message: PHP Warning:  array_flip() expects parameter 1 to be array, null given in app/bundles/LeadBundle/V

[2022-02-22 12:53] Aerendir commented on #10885
There are two possible problems:

1. The files were not correctly updated (maybe for filesystem permissions issues)
2. The database is not in sync and so it doesn't generate correctly the variables needed by the template.

I don't know how to help you via GitHub issues :(

I can give you some guidance, but you have to be practical with command line (and I don't know if you are a developer).

Try t

[2022-02-22 12:57] dinaras commented on #10885
Hello, thank you for your reply. I am cinfident in linux, but not an actual developer, more of a systems admin.

I did as you instructed and i got the following:
[code]
What should i try next?

[2022-02-22 13:34] Aerendir commented on #10885
Ok, so the first thing you should do is to keep in sync the database with the mapping: this means that entities set some fields and some relations, but they are not committed to the database.

The best thing you can do is to follow instructions here: https://github.com/mautic/mautic/issues/9129#issuecomment-707708797

Read also here: https://github.com/mautic/mautic/issues/9129#issuecomment-806565

[2022-02-22 14:04] joshua62493 opened #10887 "Campaign Schedule Email not working"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

With Cronjobs set to execute every minute (even if they happen in sequence of what is necessary to add to segment then to campaign then to send the emails) the "Send Email" "at a relative time period" does not seem to work, even when adding an always false sta

[2022-02-22 14:38] joshua62493 commented on #10881
I have seen this but spamming the button (double click for me) does seem to work to get the edit function up. I have only seen this on col-*-12 and not any smaller ones

[2022-02-22 14:39] Absynth723 commented on #10881
Out of 3 form elements, spamclicking on the edit button only works for one, but not the other two. It's a strange behavior, indeed.

[2022-02-22 14:41] joshua62493 commented on #10881
The issue is that setting the element to col-*-12 fills the entire edit section. You can manually edit it for the live page by using the inspect element, finding the col-*-12 and changing it to say 2
![image](https://user-images.githubusercontent.com/37959801/155154796-f5cfa7e7-25eb-4a35-938f-804b90531e25.png)

Essentially the buttons are within the container of the form, and setting the value to

[2022-02-22 16:23] #10887 closed, assigned to nobody

[2022-02-22 16:24] joshua62493 commented on #10887
Issue appeared to be a campaign that wasn't disabled making it appear as both emails came from the same campaign

[2022-02-23 08:52] Absynth723 commented on #10881
@joshua62493 yes, the first part of your comment fixes the symptoms and I can work with the form again, thanks! I'll play around a little more with my test case to find something that works.
I still think that including the CSS classes for the production form page on the edit tabs isn't desirable behavior, because these tabs aren't supposed to be a design preview, just a field preview/selection pa

[2022-02-23 09:12] #10505 closed, assigned to nobody

[2022-02-23 15:04] quadcom opened #10888 "Cosmetic Issue > Dashboard > Upcoming Emails > Displayed scheduled date/time is wrong"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

I noticed on the dashboard "Upcoming Emails" widget that there was an email scheduled to send.

![image](https://user-images.githubusercontent.com/7085931/155345377-db4eee5b-7247-4d9e-a566-66a97b67f52a.png)

I checked my program that had a step to only send emails b

[2022-02-23 17:16] medsun88 commented on #10604
I dont want to use "GrapesJs"  How to resolve it with legacy email builder.

"GrapesJs" have many other bugs.

[2022-02-23 18:01] joshua62493 opened #10891 "Emails don't have styling in major platforms like Gmail and Hotmail"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

When writing an email in code format I ensure that the style tags are inside the head tags for formatting rules, however the system automatically moves it outside of the head tag and to the bottom of the email. Breaking emails for gmail and hotmail

### How c

[2022-02-23 18:04] joshua62493 commented on #10881
I wish I knew but unfortunately I'm not staff for Mautic. I'm an independent developer who was going to build a platform like this until it became available through Softaculous.

[2022-02-23 18:56] quadcom opened #10892 "contact record event timestamps weird"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

A contact record that came in through an API push from Calendly via Zapier shows a "Contact Created" date of "Today at 8:37 pm" yet has a Contact Identified date of "Yesterday, 8:37 pm"

![image](https://user-images.githubusercontent.com/7085931/155388066-2e7545fe-3

[2022-02-23 19:18] medsun88 commented on #10769
GrapesJs is not working in code mode,  I am also facing the same issue like others.

1. If I enable the GrapesJS plugin , I am not able to send the code mode email as per format,
I have almost more than 20 such designed email which were working ok earlier. And New GrapesJS has broken all of them while sending. Check issue #10713  and #10475

2. And,  if we disable the GrapesJS Plugin, CKEditor giv

[2022-02-23 19:22] quadcom opened #10893 "Contacts page > Search for ip: xxx.xxx.xxx.xxx does not work"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

An anonymous visitor hit my site and was tracked by IP address. I searched the contacts by IP using the delimiter "ip:"

![image](https://user-images.githubusercontent.com/7085931/155392120-cc1dd665-fb23-4284-b84f-dd173a8ac086.png)

With the IP added. It showed no r

[2022-02-23 19:46] medsun88 commented on #10715
@RCheesley
Problem persist after clearing Cache and Chrome cache

[2022-02-23 19:47] kuzmany commented on #10769
That means GrapesJs ruin the custom HTML code  of email, right?
Then you vote to get back old code mode editor? I vote for it, but let's team decide

[2022-02-23 19:48] kuzmany commented on #10769
@medsun88 about point 2 - that's different issue, let's focus  on code mode here

[2022-02-23 20:07] medsun88 commented on #10769
@kuzmany  Yes, GrapesJS has really ruined such a main part of the Email builder.
------------------------------------------------------------------------------------------
I vote for the old, Legacy editor.
And request all others in this thread to vote for old Editor.
@stevedrobinson @PierreAmmeloot @dakur @webalexstudio

[2022-02-23 20:14] webalexstudio commented on #10769
Hey, your team has tones of such requests about GrapesJs and ruined email html.  Why are you reacting to it like you're hearing about it for the first time?
Check your Github issues, check other resources. You have a big problem with GrapesJs library in Mautic v4.
So please, don't react on this in the way you are reacting.
If your team is not able to fix that problem, just release  the version wit

[2022-02-23 20:18] webalexstudio commented on #10769
Fully understand your frustration!
Tones of requests and no reaction. And btw, sending of the emails is one of the main goal of this system, and I can not understand how such issues can be not fixed for a very long time.

[2022-02-23 20:23] jacob5544 commented on #10769
best solution: just give up mautic and save a lot of time!

[2022-02-23 20:36] kuzmany commented on #10769
@webalexstudio you are able to disable GrapesJs editor, aren't you?

[2022-02-23 20:47] medsun88 commented on #10769
So many people have reported problem about GrapesJS,  All issues mentioned here

https://github.com/mautic/mautic/labels/builder-grapesjs

@mabumusa1 @adiux @biggala2310  @isaiahdahl @npracht @shekhar677 @shmaltz @

This issue is from a Long time.  Guys vote from Removing GrapesJS , It has spoiled the Mautic.

@kuzmany  If we disable the GrapesJS as you mentioned above, It starts showing CKEditor

[2022-02-23 21:22] jacob5544 commented on #10769
Don't expect the impossible medsun88, there are many other good newsletter systems. it is time to switch! save your time and energy!

[2022-02-23 22:31] donbowman opened #10895 "grapesjs edit source uses previous email"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

create 2 channel emails as mjml.

open first. uilder. select edit code. mod. exit, save and close.
re-open 2nd. builder. edit code. it has the mjml of the first one. the save+cancel buttons are now broken.

4.2-rc1

### How can we reproduce this issue?

create 2 cha

[2022-02-23 22:51] #7554 closed

[2022-02-23 22:59] zietbukuel opened #10896 "Segment text messages are not being sent when using MySQL"
### Mautic Version

4.1.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Segment text messages are not sent. I've looked at the Twilio logs, nothing. I've also checked the segments and contacts, they all have the right config. Twilio is also configured correctly as I can send text messages using other methods (campaigns for inst

[2022-02-23 23:37] donbowman commented on #10895
https://github.com/mautic/mautic/pull/10781 is likely the culprit

[2022-02-24 01:54] quadcom commented on #10888
Another one came in and it is showing the exact same delivery date/time

![image](https://user-images.githubusercontent.com/7085931/155442345-34355fca-f179-40f7-9216-b81bdecc1944.png)

But on the contact record, it is showing the right send date/time

![image](https://user-images.githubusercontent.com/7085931/155442462-17134652-792d-4496-9182-4c5dae869d25.png)

[2022-02-24 05:59] dakur commented on #10769
@jacob5544 Please stop this.

Guys, if I understand well, @adiux and @kuzmany are into this and they are reacting and collecting information about the problem and how to resolve it – that's good signal. Yes, I have my own experience with Mautic features stability and I can't say they're rather good, but if we don't stay rational and calm emotions, we won't move anywhere.

Mautic team, unless the b

[2022-02-24 07:10] kuzmany commented on #10604
This PR fixed it https://github.com/mautic/mautic/pull/10897 (require  `php bin/console mautic:assets:generate`)

[2022-02-24 07:34] kuzmany commented on #10769
Fixed by https://github.com/mautic/mautic/pull/10897 (require  `php bin/console mautic:assets:generate`)

[2022-02-24 08:42] wgicio commented on #7962
I too am having a problem searching by phone numbers through n8n via the API
Just does not work most of the time

[2022-02-24 11:02] jacob5544 commented on #10769
may you should check out this https://github.com/artf/grapesjs/issues/2686
where grapejs dev delete comments which point to the issues!

[2022-02-24 11:17] fintechee commented on #10604
@kuzmany

Thanks, but not working.

[2022-02-24 16:30] adiux commented on #10769
@RCheesley and I looked into this. We think the best solution is:

As @stevedrobinson suggested:

We display a simple textarea (emailform_customHtml) above the "Plain Text" field in the advanced tab that can be used to to directly add HTML:
<img width="935" alt="image" src="https://user-images.githubusercontent.com/13075514/155564328-0440278a-c759-48c9-831b-1acecc815921.png">

The builder button t

[2022-02-24 21:09] kuzmany commented on #10769
@adiux probably would be better keep old code mode editor. I've tried make some draft, how it could work https://github.com/mautic/mautic/pull/10900/. It's experimental, but does what I mean. Just ugly code

What do you think?

[2022-02-24 21:12] #10464 closed, assigned to nobody

[2022-02-24 21:28] dinaras commented on #10885
Hello again,
Thank you for your detailed reply. I started doing what is proposed. So i get my database backed up and try to run
`php bin/console doctrine:migrations:migrate`
It says
`Your database version (5.5.60-MariaDB) does not support generated columns. Upgrade at least to 10.2.6 to get the speed improvements.
WARNING! You are about to execute a database migration that could result in schema c

[2022-02-24 23:29] #10885 closed, assigned to nobody

[2022-02-25 05:17] fintechee commented on #9804
@MarkerB
Worked before.
But suddenly not work for now.
My Mautic version is 4.1.2

[2022-02-25 05:38] misterdipesh opened #10901 "Forms with 'page breaks' doesn't aling with top of the page after clicking 'next' button."
### Mautic Version

4.1.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Firefox, Chrome, Microsoft Edge

### What happened?

We have created a form with multiple page breaks. As I click the next button the content of the following pages loads from the middle of the form, it doesn't align with the header at the top of the page, which lets a few fields above the

[2022-02-25 07:18] adiux commented on #10769
Thanks @kuzmany for your code. Is the old code mode using any functionality from the old builder? We should not use that code anymore as it is going to go away with v5.

[2022-02-25 08:47] kuzmany commented on #10769
@adiux I thought deprecated is legacy builder. This is code mode builder with syntax highlighter etc. But How I'm thinking about it, your solution is enough at the moment. And we can add some sweet features like code beatify and syntax highlighter later If we need it.
Can you look on your solution?

[2022-02-25 10:25] Aerendir commented on #10885
@dinaras , yes, you have to run it anyway: DO A BACKUP!

Your database currently is not in sync with the latest schema, so, also if for now Mautic is working, you will have troubles updating your installation.

DO A BACKUP, then run migrations, then follow the instructions I linked.

When you are finished, running `doctrine:schema:validate` should not output any error nor alert. Until then, you ha

[2022-02-25 16:20] medsun88 commented on #10769
-----------------------

#10897  fix is not working, I checked on production

[2022-02-25 16:44] dsp76 commented on #9719
Looks like, this is still happening in v4

[2022-02-26 07:31] kuzmany commented on #10769
@medsun88 did you refresh browser cache?

[2022-02-27 19:02] medsun88 commented on #7645
Hi @RCheesley  @npracht
I have multiple user in mautic.  I have created role, But did not find any permission where I can stop a user to export contact in Excel and csv.
How can I restrict my user to export contacts ?

Regards
Sonu kumar

[2022-02-28 02:14] Inbroch opened #10905 "The Email Builder Example of GrapeJS using {contactfield=firstname} doesn't work. Doesn't recognise "{}""
### Mautic Version

4.1.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

When I'm using the GrapeJS Builder, it won't recognise the {fieldname} in the text fields. The guide and some old bloke on youtube says you can use {contactfield=firstname} but when I used that in the builder and when I sent the test message it said:

Hi [firstna

[2022-02-28 08:05] npracht commented on #7645
Hi @medsun88 you can test and review https://github.com/mautic/mautic/pull/5995 that introduce this feature ;)

[2022-02-28 14:20] godiez opened #10906 "Conditional on contact field value preferred locale"
### Mautic Version

3.3.x series (not supported)

### PHP version

7.3.33

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Hi,

There's a bug in campaign builder, in condition option (Form field value option), always fails when 'preferred locale' is selected.

When you set up a condition on 'Preferred Locale' field, for example, ![image](https://user-images.gith

[2022-02-28 21:33] mabumusa1 commented on #9627
hello all,

Please checkout this PR https://github.com/mautic/mautic/pull/10742#issuecomment-1054681380

We are changing the whole game, we count your support to get feedback and comments on this PR for Mautic5

[2022-02-28 21:35] mabumusa1 commented on #9887
Hello all,
Please checkout this new PR targeting Mautic5, we are moving away from swiftmailer to a new system called `symfony/mailer`

https://github.com/mautic/mautic/pull/10742#issuecomment-1054681380

[2022-02-28 23:30] zietbukuel commented on #10896
Update:

In some occasions, when we set the date in the publish past or future, we are able to send the text messages. However, this is not consistent. Sometimes, this works in one install, but then it fails in a different mautic install. We've compared the configs, environments, and pretty much all we can check, including logs, but nothing seems to be working or at least giving us consistent resu

[2022-03-01 12:18] laabidi21 opened #10911 "Campaign Builder Condition Contact Field Value Timezone and Region This value is not valid."
### Mautic Version

4.2.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

_No response_

### What happened?

Under Campaign Builder -> Condition -> Contact Field Value, if I select a field of type TimeZone or Region and then if equal and I select an item in the list, after clicking on the Add button comes a field message "This value is not valid."
someone knows why the

[2022-03-01 14:32] steveb85 opened #10912 "Db migration problems 4.1.2 - 4.2"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome, Safari

### What happened?

During Update Migration i get an SQL error that campaign_summary table exists.
I check my php, and the table exists almost identically as requested in sql statement, but the INDEX IND_hash is slightly different (they finish the same but start differently)

[2022-03-01 14:33] steveb85 commented on #10912
![mautic db](https://user-images.githubusercontent.com/50031994/156188128-753862f2-2589-4d5e-8467-e94df2927486.png)
![mautic update migrate](https://user-images.githubusercontent.com/50031994/156188150-d462e734-b815-4864-99eb-63bb4e136b6c.png)

[2022-03-01 16:14] raramuridesign opened #10913 "[upgrade] 4.1.2 to 4.2.0 issue with .htaccess"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

After performing an upgrade, the site reports an error 403, forbidden.

We upgrade via command line and clear cache and clean permissions as part of the process.

This maybe server specific, but this line in the HTACCESS

https://github.com/mautic/mautic

[2022-03-01 16:26] RCheesley commented on #10913
@mollux any thoughts on this?

[2022-03-01 16:27] RCheesley commented on #10913
See also: https://forum.mautic.org/t/403-error-after-mautic-3-3-5-update/22859

[2022-03-01 16:42] raramuridesign commented on #10913
I have updated on 2 different servers
**server one has the same setup except OS ubuntu 20**
But mautic is on a domain like: https://mautic.maindomain.com

IE no subfolder, the update was smooth.

**Second server is a WHM/CPANEL** server the
Also has a subdomain as per the above, update worked without issues.

A note about the htaccess rule
**.htaccess rule to deny all the files with .php extension

[2022-03-01 16:47] RCheesley commented on #10913
Thanks for the feedback/troubleshooting @raramuridesign - really helpful!

So to summarise this seems to be an issue when Mautic is in a sub-folder, rather than when it is in a root or subdomain?

Could you also confirm if those instances affected have the correct url rewrite settings (eg accessing mautic at domain.com/mautic/s/dashboard and not with an additional /index.php/ in the middle?

[2022-03-01 16:56] raramuridesign commented on #10913
@RCheesley the rewrite works on all the instances.

[2022-03-01 17:29] mollux commented on #10913
@raramuridesign @RCheesley

A subfolder in combination wit the .htaccess could indeed cause this issue.

Could you try to change following line in the .htaccess from
`<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">`

To

`<If "%{REQUEST_URI} =~ m#^/mautic/(index|index_dev|upgrade/upgrade)\.php#">`

[2022-03-01 23:47] fintechee opened #10914 "When you send emails, no matter whether automatically, all the links in the email template will be changed to the URLs with the domain of the server that my Mautic is deployed on."
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

When you send emails, no matter whether automatically, all the links in the email template will be changed to the URLs with the domain of the server that my Mautic is deployed on.

### How can we reproduce this issue?

Step 1: Add a URL(any except your Ma

[2022-03-01 23:52] fintechee opened #10915 "When you click the cancel button on the email editor, the spinner is rolling but the dialog isn't closed."
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

When you click the cancel button on the email editor, the spinner is rolling but the dialog isn't closed.

### How can we reproduce this issue?

Step 1: Click one contact to send email manually.
Step 2: Click the cancel button when you edit the email.

##

[2022-03-01 23:57] fintechee opened #10916 "When you click the New button to create an email template, you need to wait for around one minute to open the email template panel(with some themes listed there)"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

When you click the New button to create an email template, you need to wait for around one minute to open the email template panel(with some themes listed there).
Very very slow.

### How can we reproduce this issue?

Step 1: Click the email item on the m

[2022-03-02 00:03] fintechee opened #10917 "When you click the Builder button to edit the content for a new email template, the editor is just empty with some menu buttons on the right."
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

- GraphsJs is on

When you click the Builder button to edit the content for a new email template, the editor is just empty with some menu buttons on the right.
The browser console said: "Uncaught Error: No valid HTML template found".

- GraphsJs is off

T

[2022-03-02 02:25] vettloffah commented on #5308
I vote for this feature as well. Add link click as action we can track for points.

[2022-03-02 02:36] fintechee opened #10918 "Unable to attach a link to a button."
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

Unable to attach a link to a button.

### How can we reproduce this issue?

Step 1: Open the builder of an email template(Because creating a new template will only bring you an empty editor panel, so you need to clone an existing email template to test).

[2022-03-02 06:25] fintechee commented on #10914
Sorry, this is not a bug.
I set my email terminal to show emails in plain format.
That's why I saw the links replaced with my Mautic server's domain.

[2022-03-02 06:25] #10914 closed, assigned to nobody

[2022-03-02 06:56] adiux commented on #10918
@fintechee this sounds like you have some general problems with your setup. Are there any errors in the browser console?

[2022-03-02 06:57] raramuridesign commented on #10913
@mollux I can confirm this change works. However I did notice the folder: ```mautic``` is present based on my example. So I have adjusted for my use case.

I have also un-commented this line

[code]

The only issue I see with this approach is

1. if the user has a different sub-folder name
2. if the htaccess is updated it could potentially overwrite this

What are your thoughts?
M

@RCheesley

[2022-03-02 07:09] mollux commented on #10913
@raramuridesign this was indeed purely an example, not something that needs to be committed in the repo.

There is no off the shelf fix for this, but it's something that needs to be tackled via documentation and awareness.
It depends on your setup (e.g. subfolder) if there are manual changes needed in your `.htaccess`  after updating Mautic

@RCheesley what would be the best place to document this

[2022-03-02 07:13] raramuridesign commented on #10913
@mollux Thanks and makes total sense with regards to documentation.
Question, how often is the ```.htaccess``` updated?

It might worth proving a full ideal ```.htaccess``` so users can see the different examples.
But when updates are performed, that the ```.htaccess``` is not touched.

Thoughts?

[2022-03-02 07:55] fintechee commented on #10918
@[adiux](https://github.com/adiux)
Thank you for your reply.
The problem is, when I moved the mouse over the "link" on the button, the "link" changed to a "move" icon soon.
So, I can't link anything to the button. No error message in the console.

[2022-03-02 08:53] fintechee commented on #10917
After I switched my VPN, it worked.
So, seems it's an issue caused by network.

[2022-03-02 08:53] #10917 closed, assigned to nobody

[2022-03-02 08:54] fintechee commented on #10916
After I switched my VPN, it worked.
So, seems it's an issue caused by network.

[2022-03-02 08:54] #10916 closed, assigned to nobody

[2022-03-02 08:54] fintechee commented on #10918
After I switched my VPN, it worked.
So, seems it's an issue caused by network.

[2022-03-02 08:54] #10918 closed, assigned to nobody

[2022-03-02 09:05] fintechee commented on #10915
After I switched my VPN, it worked.
So, seems it's an issue caused by network.

[2022-03-02 09:06] #10915 closed, assigned to nobody

[2022-03-02 09:47] RCheesley commented on #10913
Thanks folks, @mollux I think this should be documented in the https://github.com/mautic/mautic-documentation repo. Probably under Installing Mautic / Updating Mautic and a link in the Troubleshooting section to those resources.

@raramuridesign we very rarely update htaccess, I think. The commit history is here: https://github.com/mautic/mautic/commits/4.x/.htaccess.

We do provide a full htacces

[2022-03-02 11:09] nikitakothari06 commented on #10913
Hi,

Yes. I have tried the solution too and it worked well on Apache 2.4 However it still gets stuck on Apache 2.2 The workaround for Apache 2.2 is still pending.

If Mautic 4.2.x requires minimum Apache 2.4 I would request Mautic team to update the requirement on Mautic website so that users don't get confused.
[https://www.mautic.org/download/requirements](url)

[2022-03-02 12:11] markusrock opened #10921 "Java console returns No UploadPath Found after updating mautic and enabling grapeJS (again)"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Firefox

### What happened?

After updating from 4.1.2. to 4.2.0 I changed from the Legacy Editor to grapeJS editor. But the Builder does not load.

Basically it is the same as here: https://github.com/mautic/mautic/issues/10473
`mautic:plugins:reload` does not the jpb for me. I deactivated

[2022-03-02 13:31] marcoalejandropalacio commented on #10913
Hello! I upgraded mautic 4.1.2 to 4.2.0 and it gave me 403 error.

Enter htaccess and modify line 113 of

<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">

to

<FilesMatch "^(index|index_dev|filemanager|upgrade)\.php$">

And it worked correctly.

Will this cause any problems in the future?

[2022-03-02 13:35] RCheesley commented on #10913
@marcoalejandropalacio I have added the info to the release notes for the workaround which is mentioned [here](https://github.com/mautic/mautic/issues/10913#issuecomment-1055681986), and we are going to add it to the documentation in due course. This is likely because you are hosting in a folder rather than a subdirectory or root domain? If so you might want to use the workaround mentioned.

This

[2022-03-02 13:46] marcoalejandropalacio commented on #10913
I have the mautic installation in a subdomain.

I have the mautic installation in a subdomain.

In my hosting the folders appear like this:

domains/mydomain.com/public_html/mautic

and the subdomain to access my mautic installation is mautic.mydomain.com

I hope that the solution that worked for me will help other people who have the same error

[2022-03-02 15:15] svassaux commented on #8926
i still have the same issue on v4.1.2

After running `php console mautic:integration:pipedrive:fetch`

i have

![image](https://user-images.githubusercontent.com/9137903/156390360-64dbaf77-c613-4105-b9fe-9c4a049e9a07.png)

and it fails because of memory exhaustion

should it not liberate memory after each iteration? I have 100k contacts/companies, how am I supposed to make it work ?

@RCheesley ca

[2022-03-02 15:18] richmarks20 commented on #10575
if it helps, we've just ascertained that this hasn't been working for a while - We have a test instance running Mautic 3.0.1 and it doesn't work there. Just seems to be ignored when set.

[2022-03-02 15:47] healthstatus opened #10925 "4.2 Segments not sortable by headers"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

On the segments page, the system is defaulting to sorting by Modified date, you can click the other headers, but sorting on that header does not happen.

### How can we reproduce this issue?

Step 1:   Go to Segments page
Step 2: click on the column headers to so

[2022-03-02 15:55] healthstatus opened #10926 "Dynamic Content in Email, not being handled in Contact Send Email"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

Dynamic content email, that fills based on a contact field, custom field. When the email is used in a campaign it works fine, if I use the contact screen send email option, the dynamic content is not shown, only the: {dynamiccontent=“Dynamic Content 3”} where it

[2022-03-03 02:33] andresagui opened #10927 "Can't edit Tags on Mautic 4.2"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

After updating from 4.1.2 to 4.2 can't edit Tags.

I can not edit the Tag Name, only the description. I don't know if that's a bug or if that's the new way (only editing description)

### How can we reproduce this issue?

Step 1: Go to tags, choose one, click edit,

[2022-03-03 04:05] andresagui opened #10928 "Can't edit Tags on Mautic 4.2"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

After updating from 4.1.2 to 4.2 can't edit Tags.

I can not edit the Tag Name, only the description. I don't know if that's a bug or if that's a new way (only editing description)

### How can we reproduce this issue?

Step 1: Go to tags, choose one, click edit, un

[2022-03-03 11:31] skacco opened #10930 "Gmail Email Tracking"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!
Email was everything mark as read because there is an error on code inside
app/bundles/EmailBundle/Controller
line:655
            // stat doesn't exist, create one
            if (null === $stat) {
                $lead['email'] = $email; // n

[2022-03-03 15:00] RCheesley commented on #10928
Closing as duplicate of #10927

[2022-03-03 15:00] #10928 closed, assigned to nobody

[2022-03-03 19:33] lobo8412 commented on #9887
The million question
The new version 4.2.0 fixes or not the problem
“From Name” field does not show up on the emails received

[2022-03-03 20:40] RCheesley opened #10932 "When toggling publish switches, an error is shown in the console"
When testing #10845 I came across a bug which appears to be affecting more than just that PR.

When toggling the email preview (but also the case in email lists) I am seeing the following error in the console (in dev mode, so should not be an asset loading issue?) and then I am not able to toggle it back to the previous state.

[code]
@kuzmany did some digging and it seems to be due to the changes

[2022-03-03 22:13] #10613 closed, assigned to nobody

[2022-03-03 22:13] #10618 closed, assigned to nobody

[2022-03-03 22:15] zietbukuel commented on #10704
I also have this issue, what I do is switch to another theme back and forth, and then my changes are reflected, sometimes I also need to change the folder name or clear mautic's cache, this is insane... Also, this isn't fixed so why close this issue?

[2022-03-04 08:54] markusrock commented on #10921
I tried with Firefox and Edge, so It seems to be not a browser issue.

[2022-03-04 11:24] armancse-dev commented on #9075
i am getting this error Invalid callback elFinderSession::session_start_error, cannot access protected method elFinderSession::session_start_error()  > /home/wnews/public_html/campaign/vendor/symfony/http-foundation/Session/Storage/Handler/StrictSessionHandler.php

[2022-03-04 15:36] andres-asm commented on #10704
it seems that it's more important to them to have a small number of open issues than to actually have people reporting them

[2022-03-04 17:20] RCheesley commented on #10604
Fixed in #10897 which will ship with 4.2.1 at the end of the month 🚀

[2022-03-04 17:20] #10604 closed, assigned to nobody

[2022-03-04 17:24] russkiimike commented on #9887
It's weird, I swapped back to API over SMTP and it seems to work. I haven't really changed anything :/

[2022-03-04 18:19] RCheesley commented on #10927
Confirmed this behaviour - the tag name was not editable.

![Edit tag_ test _ Mautic](https://user-images.githubusercontent.com/2930593/156819279-9ef9102a-f231-46d6-a41d-61da66f88b3e.png)

According to the PR which introduced the description field (#10799)

@mzagmajster as the author of that PR, could you share the reasoning and also let's make it clear in the documentation that this is the expect

[2022-03-04 18:22] RCheesley commented on #10926
I don't know if dynamic content is supported in the sending of individual emails from the contact - at least, I have never come across a use case for this as you are sending an email to a single person on a one-time basis. Could you maybe share why you would expect to use dynamic content in this setting?

@kuzmany do you know if this is supported?

[2022-03-04 18:26] RCheesley commented on #10925
Confirmed this bug - @alfredoct96 can you take a look as I think it was your PR that introduced the new columns and the sort order change. Thanks!

[2022-03-04 18:26] healthstatus commented on #10926
When a person signs up for our service they get an automated email with their access url, username and password information.   If they misplace it, delete it etc, and we need to resend it to them we use this method.  Our products are white labeled or cobranded in many instances and we are using dynamic content to add header images, or "signatures" from the companies we are sending out for.

[2022-03-04 18:28] RCheesley commented on #10913
Hi folks, as this is a documentation issue relating to htaccess config I am going to close this issue - we will ensure that we provide clear warnings if we are updating the htaccess file in future releases, so please make sure you read the release notes!

[2022-03-04 18:28] #10913 closed, assigned to nobody

[2022-03-04 18:55] kuzmany commented on #10926
@RCheesley no it's not supported. The custom email is not related to email ID, then dynamic content cannot be provided.  That feature just import content. There are other solutions like push contact to campaign with send email...

[2022-03-04 18:57] RCheesley commented on #10926
OK thanks for confirming @kuzmany - @healthstatus sorry this isn't something that is supported so it's not a bug with Mautic so I will close this issue as not something we would fix.

[2022-03-04 18:57] #10926 closed, assigned to nobody

[2022-03-04 19:40] mzagmajster commented on #10927
Hi, @RCheesley @andresagui

It has to do with identifying the correct record. I added this because without this logic description was not properly updated (edited). Before PR in question editing worked because tag name was the only thing on the form and that changed with description field.

Initially I thought that editing tag name is not something that should be done very often anyway (please cor

[2022-03-05 18:06] #9644 closed, assigned to mabumusa1

[2022-03-05 18:06] #10602 closed, assigned to mabumusa1

[2022-03-05 20:12] mabumusa1 commented on #10602
Comment to keep it open

[2022-03-06 09:52] #9044 closed, assigned to dennisameling

[2022-03-07 08:18] laabidi21 opened #10935 "Campaign Condition Contact-Feld.Value Timezome Region This value is not valid."
### Mautic Version

4.1.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

Under Campaign Builder -> Condition -> Contact Field Value, if I select a field of type TimeZone or Region and then Equal and I select an item in the list, after clicking on the Add button comes a error message "This value is not valid."
someone knows why the pro

[2022-03-07 08:57] sigreer opened #10936 "Search info text formatting (minor bug after upgrade to 4.2.0)"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

Search help text is slightly broken - escaped new lines ``\n`` and the **Search Commands** header does not appear on a new line.

### Search Help
Search Operators:\n
\+ (plus sign) - Search for the exact string (i.e. if 'admin', then 'administrator' will not matc

[2022-03-07 09:51] peter-palmer opened #10937 "500 Internal Server Error in /segments"
### Mautic Version

4.2.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome, Not relevant

### What happened?

I have just upgraded Mautic to version v4.2.0 and for some reason, I can not access some regions or perform specific actions on the dashboard. For example, when I try to access `/segments`, it says that an Internal Server Error occurred (500).

Anot

[2022-03-07 09:56] RCheesley commented on #10937
Hi @peter-palmer thanks for reporting this. We are already tracking this in the [forum thread](https://forum.mautic.org/t/error-after-upgrading-to-4-2-clearing-cache-fails-and-error-unknown-column-last-built-date-in-field-list/22866) and it seems to be occurring for people who are trying to update in the user interface and getting stuck at the cache clearing stage, therefore some database tasks ha

[2022-03-07 09:56] #10937 closed, assigned to nobody

[2022-03-07 10:09] RCheesley commented on #10855
Hi there, can you please post this over at https://forum.mautic.org/c/support where the community will be able to help you with troubleshooting the issue and your configuration? Then if it is found to be a bug with Mautic rather than your configuration we can raise a bug as appropriate.

Thanks!

[2022-03-07 10:09] #10855 closed, assigned to nobody

[2022-03-07 10:12] RCheesley commented on #10860
Hi folks! As mentioned above this seems to be something which is not currently supported, so I will close the issue with won't fix.

[2022-03-07 10:14] RCheesley commented on #10864
Thanks for raising the issue @Aerendir - would you be up for creating a PR to address this?

Pinging @mautic/core-team for insights into the options which you mention so that you can get the correct guidance on how to fix!

[2022-03-07 10:15] RCheesley commented on #10865
Thanks for raising the bug @Aerendir - hopefully with the help on the other possibly related issue we might be able to address this one too!

[2022-03-07 10:16] RCheesley commented on #10867
Hi @russkiimike please post this discussion at https://forum.mautic.org/c/support - that is where we provide community support. GitHub is for raising bugs with Mautic. Thanks!

[2022-03-07 10:16] #10867 closed, assigned to nobody

[2022-03-07 10:18] RCheesley commented on #10868
Hi @leonardoborlot can you confirm if this is still an issue with 4.2.0? We have had a few errors like this which were as a result of the Mautic 3.x update, but we fixed a lot of them in the 4.1.x->4.2 releases.

[2022-03-07 10:24] RCheesley commented on #10877
Thanks for raising this and for the PR @Aerendir - much appreciated!

[2022-03-07 10:25] RCheesley commented on #9129
@Aerendir re-opened as requested - I have also linked this issue to your PR.

[2022-03-07 10:27] RCheesley commented on #10870
Hi folks,

Thanks for raising the bug which is also mentioned in the forums here: https://forum.mautic.org/t/error-during-upgrade-from-4-1-1-to-4-1-2/22576 and here: https://forum.mautic.org/t/error-during-upgrade-from-4-1-1-to-4-1-2/22576

The suggestion from @escopecz was as follows:

@Aerendir as for who does the triage, at the moment a very small number of folks. If you would like to help with

[2022-03-07 10:35] RCheesley commented on #10880
Hi @laabidi21 please post questions and how-do-I requests at https://forum.mautic.org/c/support as GitHub is for reporting bugs with Mautic, the forums are for getting support.

Thanks!

[2022-03-07 10:35] #10880 closed, assigned to nobody

[2022-03-07 10:39] RCheesley commented on #10881
Thanks for all the troubleshooting folks! If someone would like to address this, here are the step by step instructions for creating a pull request: https://contribute.mautic.org/contributing-to-mautic/developer - feel free to shout if you need any help with any steps, just hop into Slack (https://mautic.org/slack to get an invite) and join #t-product.

FYI @joshua62493 Mautic does not really have

[2022-03-07 10:45] alfredoct96 commented on #10925
I fixed it on this PR https://github.com/mautic/mautic/pull/10938

[2022-03-07 10:49] RCheesley commented on #10881
This will use the CSS from your Mautic theme if provided, rather than inheriting the CSS from the website. https://docs.mautic.org/en/components/forms/managing-forms#form-style (could definitely improve the docs on this!)

[2022-03-07 10:57] RCheesley commented on #10888
Thanks for the bug report @quadcom - so from my understanding the dashboard widget is not taking into account the rules which are set for the times that emails may be sent in campaigns?  They do actually get sent at the right time, but the widget is showing the schedule date incorrectly?

[2022-03-07 10:59] RCheesley commented on #10891
Hi @joshua62493 - this sounds like something to do with the GrapesJS builder functionalities rather than a bug with Mautic. I know that @jos0405 was talking around this topic recently in the Helpdesk Meetup. I am not sure if it is a bug or expected behaviour though, @jos0405 can you clarify?

[2022-03-07 11:03] RCheesley commented on #10892
We have a [fix](https://github.com/mautic/mautic/pull/10375) for this coming in 4.2.1 so I will close this issue.

[2022-03-07 11:03] #10892 closed, assigned to nobody

[2022-03-07 11:06] RCheesley commented on #10893
Hi @quadcom this is probably because you are not showing anon visitors. To do that you need to concatenate the two:

`ip:<IP Address> is:anonymous`

[2022-03-07 11:06] #10893 closed, assigned to nobody

[2022-03-07 11:08] RCheesley commented on #10895
@donbowman please test the PR #10781 - we can't merge the PR without testing and there seems to be an issue which needs to be reviewed / addressed over there, maybe you can help?

[2022-03-07 11:11] RCheesley commented on #10896
Hi folks,

This is likely due to some issues with the send frequency which was resolved in https://github.com/mautic/mautic/pull/10753 which was released in 4.1.2.

Please check with the latest versions of Mautic and if it is still a problem we can re-open.

[2022-03-07 11:11] RCheesley commented on #10901
Thanks for raising the issue @misterdipesh - hopefully we can get some eyes on it soon!

[2022-03-07 11:14] RCheesley commented on #10905
Hi @Inbroch thanks for raising this issue.

Sending a test email will never (at present) replace the contact fields, as there is no contact data to merge. It is recommended that you set up a test segment with just you in it, which you can use for testing emails in this way.

Please ask for support at https://forum.mautic.org/c/support if you get stuck as this is not a bug with Mautic, which is wha

[2022-03-07 11:14] #10905 closed, assigned to nobody

[2022-03-07 11:15] RCheesley commented on #10906
Hi @godiez and thanks for raising the bug. Unfortunately we no longer support Mautic 3.

If this issue persists in 4.2.0 please ask for the issue to be re-opened.

[2022-03-07 11:15] #10906 closed, assigned to nobody

[2022-03-07 11:17] RCheesley commented on #10911
Thanks for reporting the bug @laabidi21 - can you check your logs please, and share any errors that you find there (/var/logs).

Also it would be helpful to test in 4.2.0 in case any recent updates have affected the issue.

Thanks!

[2022-03-07 11:18] RCheesley commented on #10912
Hi @steveb85 thanks for reporting the issue but we are already tracking it here: https://github.com/mautic/mautic/issues/10870 so please take a look and check out the [relevant PR](https://github.com/mautic/mautic/pull/10878).

[2022-03-07 11:18] #10912 closed, assigned to nobody

[2022-03-07 11:20] RCheesley commented on #10921
Thanks for raising the issue @markusrock - did you specifically try this step: https://github.com/mautic/mautic/issues/10473#issuecomment-928374282?

[2022-03-07 11:22] RCheesley commented on #10935
Closing as a duplicate of https://github.com/mautic/mautic/issues/10911 - please do not create multiple issues for the same problem.

[2022-03-07 11:22] #10935 closed, assigned to nobody

[2022-03-07 11:23] RCheesley commented on #10936
Hi @sigreer thanks for reporting this, I am not able to replicate it at my end - which screen were you in where you noticed this bug?  Can you maybe show a screenshot? Thanks!

[2022-03-07 11:24] markusrock commented on #10921
Yes I tried that.

[2022-03-07 11:25] RCheesley commented on #10921
OK thanks! Hopefully we will be able to get to the bottom of it!

[2022-03-07 11:32] RCheesley commented on #10561
Thanks for confirming it is still an issue with Mautic 4 - are you still getting the deadlocks in 4.2.0 @stevedrobinson ?

[2022-03-07 12:21] WhatsOnMautic opened #10939 "Invalid callback elFinderSession::session_start_error, cannot access protected method elFinderSession::session_start_error()Your bug title goes here!"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

I can't edit or create campaigns after updating mautic version to 4.2.0

### How can we reproduce this issue?

Step 1: After logging in try to create a campaign and send a test email. when you will try to save the campaign you will see the error that time.
You will

[2022-03-07 12:29] ghost commented on #10927
@mzagmajster  It is very common for me to make a typo when creating a new tag. Therefore, I would rather edit existing tags than add new ones. Especially that mass adding a new tag to existing contacts requires creating a campaign. I can't select them manually and do bulk add.

[2022-03-07 12:33] mzagmajster commented on #10927
@RCheesley If I go into implementation of enabling editing the tag names, will this get merged?

[2022-03-07 12:39] quadcom commented on #10888
I can't be sure as I don't know how the system underneath works. Both contacts were created that same day but not at the same time so it's not showing a contact creation date/time. The campaign is set to send out emails between 9 pm and 10 pm on the day the contact was added to the campaign. Being these two upcoming events have the exact same time in the widget, it leads me to suspect a timezone o

[2022-03-07 12:44] godiez opened #10940 "Conditional on contact field value preferred locale"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

_No response_

### What happened?

Hello,

As @RCheesley said [here](https://github.com/mautic/mautic/issues/10906), this issue persists in 4.2.0

![image](https://user-images.githubusercontent.com/6525902/157037031-0a65bbe1-2131-4e5a-b130-5eee027f18e8.png)

There's a bug in campaign builde

[2022-03-07 13:11] donbowman commented on #10895
that pr was closed without merging.
perhaps you mean #10847 ?

[2022-03-07 13:16] leoborlot commented on #10868
Ruth, did it fixed from Segment filter. was working all right.
But in campaing dont work. I have recorded the screen to show you.

![kSDXIYuvg3](https://user-images.githubusercontent.com/20361821/157041354-11e08211-0ce3-4b68-a633-1f994c70b271.gif)

https://i.imgur.com/qtdPhEc.gif

[2022-03-07 13:17] russkiimike opened #10941 "Running deduplicate on 260k contacts freezes and hangs in the processes"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Mautic Version
4.1.x series

PHP version
7.4.27

What browsers are you seeing the problem on?
Not relevant

What happened?
Resiurces: 8 vCPUs
16GB / 80GB Disk

My problem is: Running deduplicate on 260k contacts freezes at around 100k contacts mark and just

[2022-03-07 13:18] russkiimike commented on #10941
Previous issue but it actually freezes now, and no replies on the forum https://github.com/mautic/mautic/issues/10867

[2022-03-07 13:34] donbowman commented on #10895
so i have the same experience as ref in #10847 (in https://github.com/mautic/mautic/pull/10847#issuecomment-1034910118), it just doest't work.
i can't open the editor twice to check.

[2022-03-07 13:35] laabidi21 commented on #10911
@RCheesley Thank you for your answer..

Contact Field Value, I select a field of type TimeZone -> Equal -> UTC
after the error comes (value is not valid), I found a log text. below:

[2022-03-07 14:28:39] mautic.WARNING: PHP Warning - array_flip(): Can only flip STRING and INTEGER values! - in file /var/www/html/mautic/app/bundles/LeadBundle/Form/Type/CampaignEventLeadFieldValueType.php - at line

[2022-03-07 13:38] laabidi21 commented on #10911
@RCheesley  i have now V. 4.2.0 and it's the same type of error

[2022-03-07 13:48] leoborlot commented on #10868
In the log, I recive this warning

[2022-03-07 10:13:12] mautic.WARNING: PHP Warning - array_flip(): Can only flip STRING and INTEGER values! - in file /var/www/html/app/bundles/LeadBundle/Form/Type/CampaignEventLeadFieldValueType.php - at line 165 {"e":"[object] (Symfony\\Component\\Form\\Event\\PreSubmitEvent: {})","data":{"field":"state","operator":"in","value":"Acre"},"form":"[object] (Symfony

[2022-03-07 13:52] RCheesley commented on #10927
@mzagmajster I don't see any reason why not if the code is reviewed and folks test the PR, I'd make it clear in the PR description that it's a bug fix (then we can merge it in a patch release) to re-enable the ability to edit a tag name.

[2022-03-07 13:53] RCheesley commented on #10888
OK yeah - sounds indeed like it is a timezone issue perhaps. Thanks for the clarification!

[2022-03-07 13:55] RCheesley commented on #10940
Thanks for the additional info, I just tweaked the text slightly as some was missing from your original issue!

[2022-03-07 13:56] piyush-cg opened #10942 "More than 1 parameter not recoginized in mautic webhook trigger URL"
### Mautic Version

4.2.x series

### PHP version

7.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

I tried to trigger a webhook using a custom API with two parameters, but only the first parameter is being read by the service and not the other parameter passed after the ampersand.

For e.g.  if this is defined as the URL https://apiprod.credgenics.com/communicati

[2022-03-07 13:58] RCheesley commented on #10939
Thanks for reporting the bug @WhatsOnMautic but without your log files, we can't really troubleshoot.

Please add to the issue description in the section where it is requested, you will find them in var/logs.

[2022-03-07 14:02] RCheesley commented on #10895
Yes sorry that was the one! Please leave test results on the PR itself ;)

[2022-03-07 14:03] RCheesley commented on #10868
OK great, thanks for the detailed screen recording @leonardoborlot - hopefully a quick fix!

[2022-03-07 14:09] RCheesley commented on #10941
@russkiimike this is most likely due to a server resourcing issue than a bug with Mautic. Please do not keep raising issues here, the proper place for that discussion is in the forums, and having no answer there does not entitle you to spam the bug tracker issue queue.

If you are unable to address the issue yourself, please consider hiring a specialist to help you dig into what the problem is and

[2022-03-07 14:09] #10941 closed, assigned to nobody

[2022-03-07 14:12] RCheesley commented on #10911
Thanks for sharing the log entry and confirming it's still an issue with 4.2.0.

Seems the same error as https://github.com/mautic/mautic/issues/10868 so hopefully we can fix both at the same time!

[2022-03-07 14:14] RCheesley commented on #10942
Thanks for taking the time to report the bug @piyush-cg and for the log error line.

[2022-03-07 15:11] zietbukuel commented on #10896
@RCheesley I'm having this issue on Mautic 4.1.2... On several of my Mautic installs.

[2022-03-07 15:46] RCheesley commented on #10896
Please update to 4.2.0 and let us know if the issue still arises - the PR in 4.1.2 should have addressed this but if it hasn't maybe there is something that has been missed.

[2022-03-07 20:09] zietbukuel commented on #10896
I've been testing all morning with Mautic 4.1.2 and Mautic 4.2.0 and the problem seems to be persisting in both versions. I've tested in 2 different environments, Ddev and Laravel Forge. Results are inconsistent as before, sometimes it works and sometimes it doesn't. Also the date in the past still seems to be a requirement (not sure why).

[2022-03-08 04:34] WhatsOnMautic commented on #10939
[mautic_prod-2022-03-08.zip](https://github.com/mautic/mautic/files/8202801/mautic_prod-2022-03-08.zip)
Please check it

[2022-03-08 08:42] Aerendir commented on #10864
Thinking deeper at this, I think that the correct solution is to create a unidirectional association: at current time, in fact, there is no way to get the bidirectional association from `DynamicContent`, so I suppose the intentions were to create a unidirectional association.

No problem for the PR: once the intentions will be confirmed, I will create it.

[2022-03-08 08:44] Aerendir commented on #10865
This should be solved by https://github.com/mautic/mautic/pull/10878

[2022-03-08 09:37] raramuridesign opened #10943 "[forms & permissions] issue with cloning an existing form with a reduced role"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

We have created different **roles** for users to perform different functions.
Our role focuses specifically on the **form permissions**.

See screenshot below.
Using these permissions, the user is **UNABLE to CLONE an existing form**.

![image](https://u

[2022-03-08 10:55] adiux commented on #10769
we started working on the proposed solution

[2022-03-08 14:25] npracht commented on #10943
@raramuridesign can you please share a screenshot for form permissions ? You show assets permissions but talking about form rights issues.
Thanks !

[2022-03-08 14:37] raramuridesign commented on #10943
@npracht Sorry about that, new screenshot below.

![image](https://user-images.githubusercontent.com/902376/157259651-a66cc4d7-ed2f-45d5-94e0-55ad7f59e101.png)

[2022-03-09 00:23] #10342 closed, assigned to nobody

[2022-03-09 00:23] #9284 closed, assigned to mabumusa1

[2022-03-09 00:23] #8452 closed

[2022-03-09 03:30] pjrobertson commented on #9022
This is still an issue with Mautic 4.2.0.

If I set a user as only having 'View Own' permissions for campaigns, all campaigns, including those from other users are also viewable from the 'Calendar' (see attached image). If the user tries to click one of the calendar events, they get the message:

![Screenshot 2022-03-09 at 11 29 37](https://user-images.githubusercontent.com/150431/157367343-3e0f9b

[2022-03-09 03:34] pjrobertson opened #10944 "Role Campaign Permissions allows view on all calendar"
### Mautic Version

4.2.x series

### PHP version

7.4.14

### What browsers are you seeing the problem on?

Not relevant

### What happened?

This was previously reported in #9022, however it was automatically closed due to lack of updates.

When assigning a Role a permission that allows them to see the calendar, it automatically allows the user to see all campaigns from other users on the calend

[2022-03-09 04:47] WhatsOnMautic commented on #10939
@RCheesley please check the previous file and help me

[2022-03-09 07:15] npracht commented on #10943
No problem ! Thank you for the extra instructions.

[2022-03-09 08:13] adiux commented on #10921
This error indicates that there is no image upload path configured in the HTML. Please double-check your HTML source on the email /edit route. The image path should be written to a form field.

[2022-03-09 08:17] markusrock commented on #10921
Can you help me out here, where should I check that?
![Screenshot 2022-03-09 091708](https://user-images.githubusercontent.com/73632724/157400539-9a2de46d-5c8a-431d-a521-15031c4e08c4.png)

With the legacy editor, uploading images just works fine.

[2022-03-09 09:02] RCheesley commented on #9022
Thanks for following up @pjrobertson :)

[2022-03-09 12:00] pjrobertson commented on #9022
No worries! I also created a new issue #10944. I wasn't sure of the right protocol, but if this can be re-opened, then that's best. I will close #10944 :)

[2022-03-09 12:01] pjrobertson commented on #10944
Closing in favour of #9022

[2022-03-09 12:01] #10944 closed, assigned to nobody

[2022-03-09 12:59] RCheesley commented on #9022
Yeah we usually say to open a new issue if it's been closed for ages but we'll leave this one for now! If you are able to have a look into addressing it just shout and we can help you get started!

[2022-03-09 13:24] dadarya0 opened #10945 "Dashboard - Application throws HTTP 500 when user apply filter to report"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

Application throws HTTP 500 when user apply filter to report "best email read hours"

Issue is related to PR - https://github.com/mautic/mautic/pull/7271

### How can we reproduce this issue?

1. Create new dashboard widget **Best email read hours**
2. Once report i

[2022-03-09 15:44] ghost opened #10946 "MJML emails builder fatal error"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

I've got brand new instance of mautic. When I create e-mail and choose default theme "confirm me" and go to builder, I can't save this email. System still is loading. I've got this same problem with "paprika" and "brienz" theme. Problem doesn't exist with

[2022-03-09 19:34] TechBill opened #10947 "Segment filter not saved or editable."
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

We create a tag to apply it to contacts then we wanted to create a Contact Segment filtered by a tag but the segment filter is not being saved or producing a filter box to apply to the segment.

### How can we reproduce this issue?

Step 1: Create a new Contact Segm

[2022-03-09 20:12] TechBill commented on #10947
Got this one sorted ...

The server had shell function restricted so I had to remove the restriction from the shell function since it seems that Mautic needed those shell function to work.

I believed it needed the shell_exec but I disabled the restriction on all of it and the filter condition box finally appeared ...

![Screen Shot 2022-03-09 at 2 05 36 PM](https://user-images.githubusercontent.c

[2022-03-09 20:25] TechBill commented on #10947
If you use cPanel and experience the similar issue I was having, you will need to go to the root access of the cPanel "WHM" and remove all those functions from "Disable" box because it seems that Mautic need some of those function to work property.   I removed restriction from all of it but I suspect it was the shell_exec that Mautic needed to have access to.

If you don't have root access then yo

[2022-03-09 20:42] TechBill commented on #10947
WELP ... I spoke too soon ...

Segment filter condition box does not appear when a filter is selected in the drop down menu.

Probably missing some php extension .. is there a list of required extension online somewhere?

[2022-03-09 22:00] TechBill commented on #10947
This issue still remains and still an issue

Here what in log now

[2022-03-09 21:36:49] mautic.ERROR: STAT UPDATE: Error communicating with the stat server: 524 (Origin Time-out) [] []

And the server log

[09-Mar-2022 19:07:47 UTC] PHP Warning:  require(/home/agwmadmin/mas.agwm.org/vendor/autoload.php): failed to open stream: No such file or directory in /home/agwmadmin/mas.agwm.org/autoload.php

[2022-03-10 03:02] wgicio commented on #3195
same with v4.2.0-rc1

[2022-03-10 03:14] donbowman commented on #10947
I am also seeing this issue. I don't see the autoload errors tho.
4.1.x was fine. 4.2.x shows this error, rending segments unusable.

This is a client (javascript) side i think, there's no console errors, no communication to backend.

[2022-03-10 10:46] ghost commented on #10947
![image](https://user-images.githubusercontent.com/56032973/157645183-be238e49-c073-47cd-b15a-9f33efc6cab5.png)
+1
But this problem appear only on my brand new instance with php 7.4.28. Problem doesn't exist on my old instance, where I made update. Old instance php:7.4.3

[2022-03-10 11:09] ghost commented on #10946
Fixed after installed php7.4-mbstring. To close.

[2022-03-10 11:13] RCheesley commented on #10946
Thanks for reporting back with the fix!

[2022-03-10 11:13] #10946 closed, assigned to nobody

[2022-03-10 11:50] tejasync opened #10949 "Form submission does not create company"
### Mautic Version

4.2.x series

### PHP version

PHP 7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

https://github.com/mautic/mautic/pull/9461 PR changed the company unique field from company email to company name.

Now if your form does not have company name in it, it will not create a company entity. See, 'How can we reproduce this issue?' steps to know m

[2022-03-10 12:06] ghost opened #10950 "Wrong image width in MJML editor"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

_No response_

### What happened?

When I set up image width as 100%, MJML editor adds also "width=100", without percentage.
![image](https://user-images.githubusercontent.com/56032973/157658316-ec15fd3f-6140-4ecc-81ff-6f40eee4fa5a.png)
![image](https://user-images.githubusercontent.com/560

[2022-03-10 12:11] nikitakothari06 commented on #10913
Hi,

The code for apache 2.2 still not working.

Please mention the exact syntax for apache 2.2 and 2.4 in well documented manner when the installation is made in a sub directory.

[2022-03-10 12:21] ghost commented on #10950
Important info: this idiotic, wrongly addition of width (from image) to the cell causes this error.

[2022-03-10 12:45] alinmbb opened #10951 "mautic:segments:update fails if a segments has an "Tags - including" filter with empty field value"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

We had some segments that under the Filters had a filter based on Tags with including condition. On the tags selection field it was empty. Mautic did not give any error/warning upon saving the segment. When the cronjob mautic:segments:update was executed, i

[2022-03-10 13:24] RCheesley commented on #10950
@biggala2310 please take a moment to re-acquaint yourself with our Code of Conduct: https://contribute.mautic.org/policies/code-of-conduct#5-unacceptable-behavior

I am sure if you were the person who wrote that line of code, you would not feel particularly great reading the coment you just left.  Please be considerate with your comments in the future, and remember that we are all trying to do the

[2022-03-10 15:29] ghost opened #10952 "Mj-group doesn't work in email editor"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

If you need prevent columns from stacking on mobile in MJML editor you must use "mj-group" (source https://documentation.mjml.io/#mjml-group ). But it doesn't work on Mautic. After added this to code my sections have got strange width:
![image](https://user-i

[2022-03-10 15:32] TechBill commented on #10947
This issue is still ongoing and I noticed there're more new posts about this issue from others.

[2022-03-10 17:19] TechBill commented on #10947
Same issue on different server which I have root access to ...

Composer installed Mautic have some type of issue of saving or creating conditions for Segment filters ..

[2022-03-10 18:22] zietbukuel commented on #10896
From the tests I’ve ran, the problem doesn’t really seem to be Mautic itself. I’ve ran several tests and it looks like the problem is how Doctrine (maybe) interacts with MySQL and MariaDB.

Mautic works on every test I’ve ran under MariaDB, but fails in MySQL. I’ve tested Mautic 4.1.2 and 4.2.0 and they both work correctly with MariaDB. However, I’m a little concerned about this behavior because i

[2022-03-10 19:17] arthurocrates commented on #10951
Same problem in contacts

<img width="1422" alt="Screen Shot 2022-03-10 at 14 15 31" src="https://user-images.githubusercontent.com/39348963/157738237-0d3f12ff-f03c-4637-b68e-5457457ffd9e.png">

[2022-03-10 19:57] NJseo opened #10953 "Emails look nothing like what I designed, code in editor is correct, but in inbox, its malformed"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

I created all my email templates and thought I was all set. I figured I would do a test run and that is when I found out, the code someone got all managled once it reached Gmail. I viewed the orginal html in gmail and put that in a browser, and that too was all m

[2022-03-10 20:14] #10492 closed, assigned to nobody

[2022-03-10 20:14] #10606 closed, assigned to nobody

[2022-03-10 20:34] mabumusa1 commented on #10606
Should stay open

[2022-03-10 21:25] ghost commented on #10953
It's true. Only good working e-mail editor in Mautic is old editor (you must turn off grapesjs in plugins).

When you use GrapesJS with "blank" theme, that move all your style to footer (I'm not sure, but it was something like this) and Gmail doesn't read this.
Or when you use GrapesJS with other themes, which are based on MJML that you::
1. Can't set up image width in percentage (because it adds

[2022-03-11 09:27] gokhanaygun commented on #6618
It's working. If your encryption=ssl and port 2465. Try that.

[2022-03-11 12:18] dsp76 opened #10955 "Public preview link should also work for unpublished mails"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I think if I'm able to enable and disable the public preview link, it should also work when the mail is not yet published? This is useful for not yet approved mails to be shared with the customer for approval.

Logic should be as follows:
* mail unpublished, p

[2022-03-11 12:41] RCheesley commented on #9042
@MyBpoConsultant please can you edit the relevant page on the docs here: https://docs.mautic.org/en/plugins/twitter (click the link at the bottom of the page).

This is how you can contribute to the docs.

Please use a simple red square to highlight areas of the screenshot, which makes it cleaner/tidier, and use for example a white box to obfuscate text that shouldn't be displayed.

Thanks, lookin

[2022-03-11 13:14] #10925 closed, assigned to nobody

[2022-03-11 14:59] pety-dc opened #10956 "Dashboard query uses wrong index with certain time intervals when indexed virtual columns are available"
### Mautic Version

3.3.x series (not supported)

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

The data of Dashboard timeline charts are serviced by `Mautic\CoreBundle\Helper\Chart\ChartQuery`

`ChartQuery` has built-in ways to handle the selected time interval to determine how big time unit the query should group data.  (hours, days, w

[2022-03-11 15:14] ghost commented on #10950
Sorry @RCheesley! I checked it and see that this is normal in MJML (source: https://github.com/mjmlio/mjml/issues/1044). In my opinion, this disqualifies MJML, because it shows that it is an outdated framework. I'm rooting for @adiux 's work!

I'm not sure that this topic should be closed. Maybe we should create one with all the shortcomings MJML's editor.

[2022-03-12 07:49] adiux commented on #10950
I think the workaround is to use the MJML attribute fluid-on-mobile directly in the code.

`<mj-image fluid-on-mobile="true">`

As mentioned here:
https://github.com/mjmlio/mjml/issues/1323

Maybe you want to add this as a feature request over at grapesjs mjml plugin

[2022-03-12 18:49] donbowman commented on #10575
is there any workaround known for this? i can confirm it does not work in 4.2

[2022-03-12 21:19] donbowman commented on #10947
OK, so the fix for me.
I ran 'mautic:assets:generate' followed by 'assets:install'.

Although i was rebuilding from source in a container, so thus fresh, the media dir was from previous ver and thus dirty.

[2022-03-12 22:51] DogByteMarketing commented on #10575
We just disabled the functionality.

[2022-03-13 17:40] kimtiago opened #10957 "bin/console script must be update to work with composer install"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I updated my mautic to version 4.2, and everything was ok, but i read about install mautic with composer to work well with marketplace, so i did.
mautic is working, but when trying to use console commands we receive the error in log output
i think its because

[2022-03-13 18:52] RCheesley commented on #10957
Adding link to Slack conversation about this: https://mautic.slack.com/archives/C01E8F6T2HM/p1646176681513219 - thanks for making the bug report @kimtiago :)

@nickveenhof @mollux have your team managed to address this issue? It's been reported by a few people now in the community, seemingly a bug in the scaffold setup?

cc @jonathandhn

[2022-03-13 19:19] jonathandhn commented on #10957
### A QUICK FIX
I've found some kind of a fix :
if bin/console is edited this way
[code]
and then docroot/app/autoload.php is edited this way :
[code]
You will get a functional console.

### TROUBLE SHOOTING
1. [Mautic scaffold](https://github.com/mautic/core-composer-scaffold) stance "The scaffold tool automatically creates the required ```autoload.php``` file at the Mautic root as part of the sc

[2022-03-13 20:15] RCheesley commented on #10957
Yep, we just need to figure out the most elegant way to get this working for everyone using Composer (and to improve our documentation in this area).

I wasn't sure if you meant how to edit the file on GitHub or just generally?  Here is how to make the PR on the recommended-project repo: https://watch.screencastify.com/v/WNfVUWrs1QMBdRAXdN7O

I did a bit of digging in the scaffold and it looks lik

[2022-03-13 20:18] J-Wick4 opened #10958 "Upgrading to Mautic 4.2 breaks theme associations, destroys custom content."
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

This is a pretty bad one, I almost lost a lot of work, luckily I had backups of the HTML.

1. Upgraded to Mautic 4.2 from the previous version.
2. Went to modify a landing page, Builder option not available, no theme was "Selected."
3. When re-selecting the theme

[2022-03-13 20:23] RCheesley commented on #10958
Hi there,

How are you managing Mautic updates? Did you switch to managing with Composer with the 4.2 update?

Also are you making changes to the core templates (e.g. by editing the files themselves) or do you mean that the content within the emails you have sent in the past is being lost when you are subsequently editing them, because there isn't a theme associated when you go back to edit them?

[2022-03-13 20:30] J-Wick4 commented on #10958
I'm using Composer 2.2.7 to install and manage updates, never switched methods.
I only edited the template config file so it would show up in Mautic, the rest of the template customization was through the builder.

What I gather is there is a dissociation of the relationship between the landing page and template that happens during the upgrade process, which is why no theme is selected and require

[2022-03-13 21:17] blaasvaer opened #10959 "Seriously – forbidden?"
### Mautic Version

4.2.x series

### PHP version

7.4.21

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When unzipping (after adding the .zip extension to the download myself!?) the download, and going to http://localhost/mautic I get:
[code]
And then after trying to run `composer install`as I thought I would have to ... I get:
`Composer could not find a comp

[2022-03-13 21:29] blaasvaer commented on #10959
And yes, I did run composer without the ext-imap flag and got it installed through cloning it from git (why do the zip and the clone differ so wildly?). But I still get 403 Forbidden ... I guess I'll just wait another three or four years to see if this project gets less messy to get going at some point.

[2022-03-13 21:33] privateidaho commented on #10959
Hi, there seems to be a specific issue with 4.2 when installed on a subdirectory.

You need to comment out three lines in .htaccess.

See:

https://forum.mautic.org/t/403-error-after-mautic-3-3-5-update/22859/5

[2022-03-13 21:38] blaasvaer commented on #10959
Well, didn’t make a difference … anything else I could ‘experiment’ with?

Mvh / Best Regards

Sam Blåsvær
Senior Fullstack Architect
20 70 33 60
***@***.***

Ådiget 16
2610 Rødovre

www.blaasvaer.dk

[2022-03-13 21:42] privateidaho commented on #10959
That worked for me.  Can't help any further.

The Mautic team and community is pretty responsive now so I'd expect some comments within 24 hours.

[2022-03-13 21:44] blaasvaer commented on #10959
Thanks.

Mvh / Best Regards

Sam Blåsvær
Senior Fullstack Architect
20 70 33 60
***@***.***

Ådiget 16
2610 Rødovre

www.blaasvaer.dk

[2022-03-14 02:12] dichvuhuuich opened #10960 "Import completed notification link wrong!"
### Mautic Version

4.2.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

Import Contact in Browser first, after that click Finish in Background, when finished Mautic shows notification Import completed but link to this result wrong example: https://mauticsitewebsite/s/lead/import/view/4. Correct link is: https://mauticwebsite/

[2022-03-14 16:32] andrew-dixon commented on #10606
@mabumusa1 This issue has been fixed in v4.1 as part of another fix.

[2022-03-14 16:47] escopecz commented on #10868
Campaign condition fixed in https://github.com/mautic/mautic/pull/10961

[2022-03-14 17:00] hlorridi-pm opened #10962 "Segments operator does'nt work anymore since update 4.2"
### Mautic Version

4.2.x series

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Chrome

### What happened?

i've create a segment under v4.1 with email read date >= -4 weeks
now i've update mautic to the last version (4.2) (console mautic:update:find,apply,finish stuff)
now on my segment , the selectbox operator is empty and the value disappeared
error on the js consol

[2022-03-14 17:02] RCheesley commented on #10962
Please try to regenerate the assets using:

`bin/console m:a:g`

[2022-03-14 17:05] hlorridi-pm commented on #10962
asset already regen

look the function, you pass args that does'nt exist :-/ tthat can't work ```Mautic.setProcessorForFilterValue(filterId, operator);``` filterId and operator are'nt defined

[2022-03-14 17:09] RCheesley commented on #10962
Ah OK, sorry it wasn't clear that you'd already regenerated the assets as we've had quite a few people getting issues with segments not having filters available which were resolved by that.

[2022-03-14 18:04] TechBill commented on #10947
This also what fixes it for me ... the command i use to fix it was

php console mautic:assets:generate

[2022-03-15 09:46] dsp76 commented on #10540
Tested with 4.1, also mentioned in forum to be still the case with 4.2:
https://forum.mautic.org/t/dynamic-content-is-empty-in-any-condition/22626/2

[2022-03-15 12:23] omert37 opened #10963 "Where is the SendGrid API webhook callback endpoint? (Getting 404)"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Where has my SendGrid API Callback Event Webhook gone?
There used to be a webhook...
https://[MY MAUTIC DOMAIN]/mailer/sendgrid_api/callback
Now I'm getting a 404 error with the blue MAUTIC character.
Could someone PLEASE help?
Did it disappear along the line

[2022-03-15 13:28] leoncool opened #10964 "Columns under Contact List Settings does not get saved (Configuration->Contact Settings)"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

After changing the Columns values on the Contact List Settings page (Configuration->Contact Settings) and clicking "Save" or "Save & Close", the options do not get actually saved.  If navigate back to this page, the previous default values are shown again.  No effec

[2022-03-15 13:47] joshua62493 commented on #10891
I would sincerely hope this is not intended behaviour as it makes the purposes of it useless as a majority of people use Microsoft and Google based email accounts, plus it breaks internet standards for formatting. Why would you use something that would actively fail at its purpose with more security systems coming into place?

[2022-03-15 16:56] PierreAmmeloot opened #10965 "Segment filter "Downloaded a specific asset" not included all assets"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

I want use a segment filter "Downloaded a specific asset" including one particular asset.
The list of assets is not the same as the documents in the assets section.

This is new since version 4.2.0; I guess it has something to do with the changes from @kuzmany

#

[2022-03-15 17:03] PierreAmmeloot opened #10966 "Mautic variable do not appear on GrapeJS builder"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

Since the implementation of GrapeJS I can't use variables (https://docs.mautic.org/en/setup/variables) in Mautic emails anymore.
To be exact, the variables work but the auto-completion at the creation of the email is no longer functional.

### How can we reproduc

[2022-03-15 17:12] npracht commented on #10965
Can you please share screenshots ? Are you sure your assets are published ?
What let you think @kuzmany introduced this regression ? Any code to relate to this assumption ?

Thanks.

[2022-03-15 17:46] PierreAmmeloot commented on #10965
@npracht Yes, assets are published. ;-)

[2022-03-15 17:50] PierreAmmeloot commented on #10947
Hello,

I have same problem.
<img width="1111" alt="Capture d’écran 2022-03-15 à 18 47 31" src="https://user-images.githubusercontent.com/4603318/158440005-ddf15151-a1ce-452f-9ba7-fd2fc60b5780.png">

I have this error message on inspector (Chrome) :
[code]

Pierre

[2022-03-15 17:51] PierreAmmeloot commented on #10964
Same problem here.
Same configuration.

[2022-03-15 17:52] RCheesley commented on #10947
@PierreAmmeloot did regenerating the assets resolve the issue?

[2022-03-15 17:59] PierreAmmeloot commented on #10896
@RCheesley Is MariaDB supported natively by Mautic today?

[2022-03-15 18:33] PierreAmmeloot commented on #10947
Hello @RCheesley,

I have use this command line :

`php bin/console mautic:assets:generate`

With this result :
`Production assets have been regenerated.`

The issue persists.
I have this problem sporadically, sometimes the field is displayed correctly. Other times not.

Pierre

[2022-03-15 18:42] RCheesley commented on #10947
Hmm, assuming you're not using any kind of caching server-side or anything like Cloudflare which might need purging? Sounds somewhat similar to https://github.com/mautic/mautic/issues/10962.

[2022-03-16 08:21] npracht commented on #10965
Still:

1. Can you please share screenshots ?
2. What let you think @kuzmany introduced this regression ?
3. Any code to relate to this assumption ?

[2022-03-16 08:40] kuzmany commented on #10965
@npracht 4.2 include large segment refactoring. I found the lines cause this limit issue. I will post PR later

[2022-03-16 08:51] kuzmany commented on #10965
@npracht 4.2 include large segment refactoring. I found the lines cause this limit issue

https://github.com/mautic/mautic/blob/a390b7b2c692d324d0a14838f63783b4a259bcfd/app/bundles/LeadBundle/EventListener/TypeOperatorSubscriber.php#L360

The same  for categories

https://github.com/mautic/mautic/blob/a390b7b2c692d324d0a14838f63783b4a259bcfd/app/bundles/LeadBundle/EventListener/TypeOperatorSubscri

[2022-03-16 09:47] escopecz commented on #10965
@kuzmany I'm not certain that the limit is to blame. The lookup field functions as a search field, right? When a user starts typing the asset name then the closest 10 results will appear as options. 10 options seem like a good amount to me.

[2022-03-16 10:15] kuzmany commented on #10965
@escopecz but do not see this ajax lookup call on these fields in segment filters, do you?

[2022-03-16 10:57] RCheesley commented on #10945
Thanks for raising the bug @dadarya0 - looks like this has been around for a little while.

Possibly related older issues:
https://github.com/mautic/mautic/issues/10640
https://github.com/mautic/mautic/issues/10493

[2022-03-16 11:22] RCheesley commented on #10949
@kuzmany I believe you made the original PR which is referenced in this bug report. Thanks for raising it @ts-navghane :)

[2022-03-16 11:24] RCheesley commented on #10950
OK thanks for the input @adiux - as this seems to be an issue with MJML rather than a bug with Mautic, I'm going to go ahead and close this issue. @biggala2310 please see above for a workaround and suggestion of where to make your feature request upstream to MJML (slightly less aggressively might be appreciated by the MJML maintainers 😉 ).

[2022-03-16 11:24] #10950 closed, assigned to nobody

[2022-03-16 11:26] RCheesley commented on #10951
@escopecz I think this was what I had observed when testing your segment refactoring PR. I think this is something we need to address as it's breaking people's segments which were already existing - sure they shouldn't have the blank field in the first place, but is there anything we can do to address the errors being thrown?

[2022-03-16 11:29] RCheesley commented on #10952
Thanks for raising the bug @biggala2310 - @adiux something we have introduced recently maybe? I know that @jos0405 was demonstrating this feature in the last helpdesk meetup and it was working great then, so seems like a regression?

[2022-03-16 11:35] RCheesley commented on #10953
Hi @NJseo please can you share:

1. Your MJML code for the email
2. The rendered HTML code

This will help us to troubleshoot.

For reference, the blank theme is NOT an MJML theme. It's an HTML theme. We recommend using one of the MJML themes (e.g. Brienz, Paprika, Confirm Me, Truly Personal).

[2022-03-16 11:38] adiux commented on #10952
@biggala2310 does the code work on MJML.io? I don't think `mj-column` supports/needs `!important`: https://documentation.mjml.io/#mj-column

[2022-03-16 11:40] RCheesley commented on #10955
@dsp76 thanks for raising this - we have a PR which has been merged relating to this, I believe: https://github.com/mautic/mautic/pull/10845

This makes it turned off by default for emails.

Are you suggesting the bug is that when the email is not published, you can't toggle the switch to enable the preview?

[2022-03-16 11:42] RCheesley commented on #10956
Hi @pety-dc - as we don't support Mautic 3 any more, could you clarify if this is the case with the 4.x series? If so we do have large databases that we can test against, so you're welcome to make a PR to address it.

[2022-03-16 11:43] dsp76 commented on #10955
Hi @RCheesley ... no the button can be toggled, but it has no effect. Even when "public preview" is switched on (while mail itself is still unpublished) it doesn't show without logging on to Mautic first. The "public preview" switch should also work for an unpublished mail.

[2022-03-16 11:43] RCheesley commented on #10959
Hi folks, this is most likely going to be as a result of your server configuration rather than a bug with Mautic. If you don't manage to resolve it with the suggestion above regarding the htaccess, please post your issue over at https://forum.mautic.org/c/support as the forums are for getting help if you encounter problems :)

[2022-03-16 11:43] #10959 closed, assigned to nobody

[2022-03-16 11:44] RCheesley commented on #10960
Thanks for raising the bug @dichvuhuuich - nice catch! Would you be able to look into making a fix for it at all?

[2022-03-16 11:46] kuzmany commented on #10949
@ts-navghane but you are able to add company email to unique field. Before we use different logic on few places - somewhere looking just for company name, somewhere for name/email/city/country etc.

[2022-03-16 11:48] RCheesley commented on #10963
Hi @omert37,

I found an issue in the forums related to this, which is the appropriate place to get help with problems rather than bugs. I'd suggest you make a reply there: https://forum.mautic.org/t/getting-the-error-404-when-doing-the-test-callback-to-url-in-the-email-monitor/18033

[2022-03-16 11:48] #10963 closed, assigned to nobody

[2022-03-16 11:53] RCheesley commented on #10966
Hi @PierreAmmeloot this is because we did not have time to integrate fully the CKEditor in the builder, I believe, and at present we just have the basic GrapesJS editor. We did do some testing with the CKEditor but I am not sure how/where that dropped out of the release.

Perhaps we can bring it back in for the 4.3 release @adiux?

[2022-03-16 12:39] RCheesley commented on #10955
@dsp76 looks like we just had a PR to fix this in #10971 - can you give it a test?

[2022-03-16 12:41] escopecz commented on #10965
That will be the problem here. Maybe it is not attached to the HTML element

[2022-03-16 12:49] escopecz commented on #10951
Yes, this has to be addressed with a code change. The only way around it is to fix the segment filters in the user interface.

[2022-03-16 13:05] RCheesley commented on #10896
@PierreAmmeloot we support both MariaDB and MySQL, so yes. But the majority of our testing is done with MariaDB so that might be why some folks have not been able to reproduce this.

[2022-03-16 14:07] PierreAmmeloot commented on #10965
Hello,

On my case I have an assets name start by "Webinaire Marketing Automation"

<img width="345" alt="Capture d’écran 2022-03-16 à 15 05 42" src="https://user-images.githubusercontent.com/4603318/158608120-671e1f8e-8794-4134-aeb0-8b24971b5b7f.png">

On filter if y search "webinaire" I have the result : "Not match found webinaire" :

<img width="1254" alt="Capture d’écran 2022-03-16 à 15 05

[2022-03-16 14:17] ghost commented on #10952
@adiux Yes, I did it. Belive me, I made email template 2 days, checked a lot of codes in github and stackoverflow before I was ready to made my dream template. Why?

**1. full width for section:**:  In options on the sidebar I haven't option: "full-width="full-width" which extend my section's background color to full width (I still don't see full width color in editor, but on preview and in inbox

[2022-03-16 14:32] zietbukuel commented on #10896
So, when testing this with Xdebug, I found the following error message when executing `php bin/console mautic:broadcast:send`.
<img width="1477" alt="Screen Shot 2022-03-15 at 17 31 21" src="https://user-images.githubusercontent.com/1046971/158613689-0116d482-5e87-4341-8319-3b906d6de12e.png">
So, I guess Doctrine returns 0 instead of the real number, so it never sends any SMS because of this. Also

[2022-03-16 15:38] PierreAmmeloot commented on #10947
Hello @RCheesley, I confirm : I'm not using any kind of caching or anything like Cloudflare.

I have this problem on another filter :
<img width="1242" alt="Capture d’écran 2022-03-16 à 16 37 37" src="https://user-images.githubusercontent.com/4603318/158628918-68a246c4-de29-4ba8-8beb-6a855d380dd0.png">

Could this have anything to do with the changes @kuzmany made to the filters on Mautic 4.2.0?

[2022-03-16 15:39] ramphy commented on #10666
@raramuridesign

Thank you so much!

[2022-03-16 15:52] PierreAmmeloot opened #10973 "Updating database schema error"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I have updated Mautic on version 4.2.0

On Mautic 4.2.0 if I use this command : `php bin/console doctrine:migration:migrate`
I have this error message :
`WARNING! You have 138 previously executed migrations in the database that are not registered migrations

[2022-03-16 17:23] dobarbarini commented on #10964
same problem here

[2022-03-16 18:36] RCheesley commented on #10947
We had some pretty major segment refactoring in 4.2 and we will be investigating these issues as it doesn't seem to be consistent for everyone. We've got a couple of other things which are higher priority at this moment but hope to be able to get to it during the Open Source Friday community sprint on Friday. If you're able to join us with any developers that would be really helpful!

[2022-03-16 18:37] RCheesley commented on #10973
Pretty sure this is a duplicate of https://github.com/mautic/mautic/issues/9129 but feel free to request a re-open if that's not the case.

[2022-03-16 18:37] #10973 closed, assigned to nobody

[2022-03-16 19:28] danharper83 commented on #10957
I'm also having problems with this, effectively the `composer create-project mautic/recommended-project:^4` doesn't work as it's not possible to run cron jobs or a scripted install after that point without manually modifying the above files. After modifying they just get overwritten each time you run composer update etc.

Should this be moved on to the https://github.com/mautic/core-composer-scaff

[2022-03-16 19:33] jonathandhn commented on #10957
Hi, it does not seams to be a scaffold problem (the project works), but a composer recommanded project, that may be solved by both upgrading the composer recommanded project et mautic core files. Still evaluating, seams good to stay here on the base core project.
________________________________
From: Daniel Harper ***@***.***>
Sent: Wednesday, March 16, 2022 8:28:14 PM
To: mautic/mautic ***@***.*

[2022-03-16 19:37] TechBill opened #10974 "MJML color not styling hyperlink variables such as {unsubscribe_text} or {webview_text} etc."
### Mautic Version

4.2.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

MJML Example - white hyperlink on black footer:

        <mj-text align="center" color="#ffffff" font-family="Palatino Linotype, Book Antiqua, Palatino, serif" font-size="14px" padding="10px 25px 20px 25px">
          <u>{webview_text}</u> | <u>	{unsubscribe

[2022-03-16 20:57] trianity commented on #9491
The issue still exist on the latest Mauitc 4.2 also.
@npracht @kuzmany the PR failed and the correction script is not merged to the branch.

[2022-03-16 20:58] trianity commented on #9491
@RCheesley Can you look at it?

[2022-03-16 22:10] RCheesley commented on #9491
PR needs to be rebased to 4.2 before it could be merged.

[2022-03-16 23:04] Dylan-86 commented on #10420
The issue is still open and still present in the latest version of Mautic.

It is pretty important but it seems that no one cares. It happens when you have several contacts (more than 150k) and you send regular emails, it seems to be a problem with the numbers..

[2022-03-17 12:58] jonfarias opened #10975 "mautic:campaigns:update running in an infinite loop after update to 4.2.0"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

After update to v4.2.0, some campaigns entered into an infinite loop when running the cronjob `mautic:campaigns:update --batch-limit=6000`.

![image](https://user-images.githubusercontent.com/81337888/158815954-58e0467a-9eef-4e82-915e-a0380e31228f.png)

### Ho

[2022-03-17 16:55] dobarbarini commented on #10964
Any response from the community? @PierreAmmeloot @leoncool

[2022-03-17 17:08] RCheesley commented on #10769
@stevedrobinson @PierreAmmeloot @dakur @webalexstudio @medsun88 @jacob5544 @kuzmany please check the proposed solution from @adiux @volha-pivavarchyk in #10976

[2022-03-17 18:50] PierreAmmeloot commented on #10947
Hello @RCheesley,

Thanks for your feedback.
In view of my investigations, it looks like a bug (or at least a functional regression).
If I can help by testing it, I'd love to.

Pierre

[2022-03-17 23:23] ghost commented on #10953
@RCheesley if Blank theme works wrong - why don't you remove or replace it? It causes unnecessary confusion and people waste time. Not every Mautic User is very technical and is up to date with github updates.

[2022-03-17 23:26] NJseo commented on #10953
Yeah, I am new to Mautic so I will have to look into how to remove. As far
as other things, I notice that the cache constantly messes things up to.
I will have an email that is perfect and then its not and then it is again.

[image: John Pelsang:Full Stack Marketer]

*You know how when businesses attempt to market themselves and are met with
limited success or, better yet, lots of busy work? *

We

[2022-03-17 23:34] ghost commented on #10769
@RCheesley I see a few lacks in this solution:
1. How can I add image/media to HTML email?
2. Preview is uncomfortable. Requires other card.

[2022-03-18 05:24] dakur commented on #10769
@RCheesley @volha-pivavarchyk  Thanks for working on this!

Plain textarea is OK for me as a quickfix. But I can see a UX problem with the missing button. Advanced tab is rather an unexpected place where I would definitely NOT search for standard/basic editing e-mail content functionality so I can imagine people scratching their head thinking "how the heck should I insert my HTML?" when there is n

[2022-03-18 08:16] kuzmany commented on #10769
Probably we should discuss to keep code mode editor with preview, syntax highlighter and media library support.  The remove legacy builder for M5 is related to remove froala editor. Code mode editor does not use it @RCheesley What do you think?

[2022-03-18 08:58] PierreAmmeloot commented on #10964
@dobarbarini I see I have the same problem as @leoncool; unfortunately I don't have a solution to propose for the moment.

[2022-03-18 08:59] PierreAmmeloot commented on #10769
@kuzmany I agree your offer !

[2022-03-18 09:09] RCheesley commented on #10953
@biggala2310 because nobody has yet contributed a blank MJML theme. If you would like to do so we would welcome it!

[2022-03-18 09:17] adiux commented on #10769
I agree with all you said. This was meant to be a quick fix so that people don't have to mess with the HTML directly in the database, etc.

As a next step:
Based on your suggestions, I think we should use the builder button to open the code mode editor in a modal.

[2022-03-18 09:21] ghost commented on #10953
@RCheesley I understand. I thought you wanted to keep blank theme without MJML for some reason. This blank has more/other editing options on the sidebar. I can make blank theme in MJML. But I don't know if this was the author's expectation.

[2022-03-18 09:24] RCheesley commented on #10953
Well, the HTML theme will have more options as there are some features which are not yet available for the GrapesJS editor (eg the preference centre blocks which we have an open PR for). Some folks do still prefer to work with HTML but it isn't great as you do lose quite a lot of the functionality which you get with MJML in the builder.

[2022-03-18 09:30] ghost commented on #10953
Okay, so now they construct the mail in an HTML editor and then go to the database to fix the CSS?

Do you think that new blank theme in MJML will be useful? I can create 2 themes over the weekend (blank and 2 column).

[2022-03-18 12:14] stevedrobinson commented on #10769
I think this progression - text box for now, old code editor later makes sense.

Thank you @adiux for getting a stopgap solution in place.

[2022-03-19 02:15] lgwapnitsky commented on #9287
how? I'm seeing this on my side

[2022-03-19 20:53] #10393 closed, assigned to nobody

[2022-03-20 08:37] omert37 opened #10978 "Sendgrid callback isn't working. Where is it? (Getting 404)"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

As I stated in Issue #10963 (which was closed for some reason), there used to be a callback webhook that processed incoming BLOCKED and BOUNCE reports from SendGrid at the following URL:
https://[MY MAUTIC DOMAIN]/mailer/sendgrid_api/callback
After one of the

[2022-03-20 13:52] ekkeguembel opened #10979 "Error 500 after "Campaign -> New" and "Cancel" (Unable to generate a URL for the named route "c" as such route does not exist)"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When I start creating a new campaign but hit "cancel" in the process, up comes the beloved "Uh, I think I broke it" HTTP Error 500.

I think this was introduced with 4.1 and still exists in 4.2.0

### How can we reproduce this issue?

Step 1: Go to Campaigns,

[2022-03-20 14:28] lgwapnitsky commented on #10769
Just wrote an entire email blast before seeing this. Not happy. Going to try to switching to old editor so I can get my emails out.

Now following this thread for updates

[2022-03-20 18:03] fintechee opened #10980 "Webhook hasn't worked since the update from v3.3.3 to v4.2.0"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

It's not a browser problem. It's a server side's issue.

### What happened?

In v3.3.3, after the form submission, the webhook is triggered.

In v4.2.0, after the form submission, the webhook isn't triggered.
I checked the dashboard log, no error message.
I checked the webhook calling record

[2022-03-20 21:12] dsp76 opened #10981 "Segment list - amount of items in list per page can't be changed"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Amound of list items can't be changed. Will switch back to 30.

### How can we reproduce this issue?

Step 1: go to segment list
Step 2: try to change from default 30 to any other value. Will immediately switch back to 30.

### Relevant log output

[code]

##

[2022-03-21 08:05] TheDevMinerTV opened #10982 "[API] Cannot create new emails (validation error)"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

My tool creates mails in Mautic and sends them, but this does not work anymore since our upgrade to Mautic v4.2.0.

### How can we reproduce this issue?

Step 1: Send a POST request to [`/api/emails/new`](https://developer.mautic.org/#create-email) with the

[2022-03-21 09:39] TheDevMinerTV commented on #10982
Seems like I've forgot to add the `Content-Type: application/json` header. (This worked without that header before)

[2022-03-21 09:39] #10982 closed, assigned to nobody

[2022-03-21 10:07] PierreAmmeloot commented on #10769
Hello @kuzmany,

What can I do to help with this?

Pierre

[2022-03-21 14:08] escopecz commented on #10947
@PierreAmmeloot I cannot reproduce
![Screen Shot 2022-03-21 at 15 06 08](https://user-images.githubusercontent.com/1235442/159278193-2f56d67f-8042-4548-8497-04de2b1311c6.png)
So you'll have to dig up an error message we can catch for more details or steps to reproduce it. Is there anything related in the Mautic logs? Is there anything failing in JS when you open the browser's dev tools console?

[2022-03-21 15:51] escopecz commented on #10962
I'm looking into this. It seems this was caused by a merge conflict with my PR with segment refactoring and Zdeno's commit https://github.com/mautic/mautic/commit/5334db336986f46a8fa7d39f487624cfb56461e1

I can see the JS error but it still allows me to build the segment filter. I can see that my team already fixed that so I'll cherry-pick the commit shortly.

[2022-03-21 15:59] flesheater opened #10992 "Contacts API "Select - Multiple" field - set empty value"
I am trying to set an empty value for a "Select - Multiple" field and it does not work. It works for not-empty values, but it does not work with an empty array or null (which should be the logical candidates for an empty value).

Here is the problem in details:

1. I created a field in mautic with the type "Select - Multiple" and added 2 possible vales.
2. I am updating the values with a PHP scrip

[2022-03-21 16:11] escopecz commented on #10962
See https://github.com/mautic/mautic/pull/10985

[2022-03-21 16:23] escopecz commented on #10947
Please test https://github.com/mautic/mautic/pull/10985 if it will fix your problem

[2022-03-21 16:35] escopecz commented on #10992
This should fix your problem: https://github.com/mautic/mautic/pull/8459

[2022-03-21 16:35] RCheesley commented on #10962
@hlorridi-pm please can you test #10985 and see if this resolves the problem for you? If so please leave an approving review under files changed > review changes on the PR. Thanks!

[2022-03-21 17:09] ghost commented on #10240
Reopen? https://github.com/mautic/mautic/pull/10782#issuecomment-1072250155 @kuzmany @adiux

[2022-03-21 20:06] andres-asm commented on #9400
Ditto, I still find the issues all the time in my log

[code]

[2022-03-22 01:29] kimtiago opened #10988 "Error 500 when save Custom Field of type Select with Option Value empty"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

Error 500 when save a new Custom Field of type Select with Option Value empty...
When save with option Value filled its Ok.

### How can we reproduce this issue?

Step 1: Click on Settings -> Custom Fields -> New
Step 2: Set any Label, Alias, object Contact and G

[2022-03-22 08:43] alfredoct96 commented on #10730
Hi, recreate Salesforce credentials is just a temporary solution, next day that i did it the problem came back @benbehringer

[2022-03-22 09:03] alfredoct96 opened #10989 "Salesforce integration error after upgrade Mautic 4.2.0"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

After upgrade Mautic to 4.2.0 version i has an error on Salesforce integration.
If i apply command  php bin/console mautic:integration:synccontacts --integration=Salesforce i have this error:
[code]

The error is the same of issue #10730 .
I tried to recreate Sal

[2022-03-22 09:26] alfredoct96 commented on #10989
I think that adminUsers error can be resolved modifing in AbstractIntegration.php
```protected ?array $adminUsers;```
to
```protected ?\Doctrine\ORM\Tools\Pagination\Paginator $adminUsers = null; ```.

But obviously remains the original error on Salesforce connection

[2022-03-22 09:27] flesheater commented on #10992
Hi escopecz, thank you for your answer!
Unfortunately, we have this PR on our environment, and it still does not work.
On our environment we have Mautic version v3.3.3.

[2022-03-22 09:50] LeonOltmanns opened #10990 "Segment-Filter: All "Visited URL" values removed after update to 4.2.0"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

After updating to 4.2.0 I have realized that all my "Visited URL" Segment-Filters seemed to have no value anymore.
The values are missing and the operators are not there anymore.

Also, when updating Segments I encountered an MySQL error.

`Rebuilding contacts for s

[2022-03-22 09:54] escopecz commented on #10992
In that case you'll have to fix in Mautic it for the multi value fields I guess. There is a test that confirms that it works for a text field.

[2022-03-22 10:01] flesheater commented on #10992
It pretty much works with all kinds of fields.
Because we are syncing the content of a Drupal User Entity with the Contact entity type in Mautic - we have date fields, single select fields, text fields and the only place I encounter this problem is with the "Select - Multiple".

For now, we will add a dummy category "none", because it changes with a single value.

Thank you for the quick response

[2022-03-22 10:49] RCheesley commented on #10990
Thanks for raising the bug @oltmanns-leuchtfeuer but this is I believe a duplicate of existing issues which are already resolved.

Please review:

https://github.com/mautic/mautic/issues/10962
https://github.com/mautic/mautic/issues/10947

And the PR to fix:

https://github.com/mautic/mautic/pull/10985

If this is not the case and it's not resolved with the PR above please let me know and I'll re-

[2022-03-22 11:21] alfredoct96 commented on #10989
i think the token is never refreshed

[2022-03-22 12:19] LeonOltmanns commented on #10990
@RCheesley  I applied the PR #10985, but it did in fact not solve my problem. My issue, that my Field-Values are gone and I cannot reproduce them is still persisting.

See here:
![image](https://user-images.githubusercontent.com/55587275/159480316-6a4c04b9-fbfd-4e30-a815-ea5b7102ac8f.png)

Im unable to investigate which Value, in this case which URL was here before.

[2022-03-22 12:20] RCheesley commented on #10990
And, you have regenerated assets?

[2022-03-22 12:21] LeonOltmanns commented on #10990
Yep I did. Did not change the problem.

[2022-03-22 12:24] RCheesley commented on #10990
@escopecz another possible issue with the segments refactoring?

[2022-03-22 12:25] RCheesley commented on #10990
OK thanks for checking it out - will have to dig in and see what's going on! We did some very heavy segment refactoring in 4.2 and it looks like a couple of thing have slipped through the net with testing.

[2022-03-22 14:38] adiux commented on #10992
@escopecz since there seems to be a problem with the multi-select field, should we open this issue again?

[2022-03-22 14:41] escopecz commented on #10992
I'd leave it closed here since the problem is not in this repo. But feel free to open it in the mautic/mautic repo

[2022-03-22 14:43] escopecz commented on #10992
Ha, I found an option to transfer the issue here. Too bad the comments are not visible. Maybe it takes a while?

Edit: Yes! All the comments are back 🎉

[2022-03-22 18:17] RCheesley commented on #10947
@PierreAmmeloot @TechBill @biggala2310 @donbowman please can you test this PR: https://github.com/mautic/mautic/pull/10985 and if it resolves the issue please report that on the PR so we can get it merged on Monday with 4.2.1.

You can use the Gitpod button on the PR to spin up a Mautic instance with the PR applied in order to test quickly - or pull down the PR to test locally.

Please ensure to t

[2022-03-23 09:00] SzamanSZ opened #10995 "Unable to connect with shared mailbox in M365"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The IMAP username for shared mailboxes in M365 is in the format _user@domain\sharedmailbox_

It looks like the "\" in the username field somehow causes the problem and Mautic always returns the error "Error communicating with the IMAP server: Can not authentic

[2022-03-23 13:27] TechBill commented on #10672
I would like to add that the full-width does seems to work when "emailed out" however in editor it still show as fixed width.

You would just need to ignore the fixed width in editor knowing it set to full and send yourself a test email to make sure it's a full width before publishing it.

The issue is probably the editor itself not the MJML .

[2022-03-23 13:35] mabumusa1 commented on #10688
Keep this opened, it has interesting questions that we cover in Mautic 5

[2022-03-23 14:00] StefanieKolb commented on #10737
Is there any progress on this issue? We are experiencing this problem as well and it is very annoying for our editors.

Thanks

[2022-03-23 14:11] christian-krieg opened #10996 "Mautic assigns segments based on un-published custom fields"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When defining a filter over a custom contact field to assign segments, the filter behaves non-intuitively when the field is un-published.

# Actual behavior

Instead of inherently deleting the filter condition, the condition is hidden, and any new contact i

[2022-03-23 15:36] renatocron commented on #10688
Just to keep in mind:

I tried to set up and use pure STMP driver and use the header `X-SMTPAPI` to set the parameters (that works), but then the Sendgrid API webhook for bounces/spam reports stopped working, because the driver is not loaded/active

It could be useful in some scenarios to have all webhook/integrations working when possible, even if the driver is not currently selected as the curre

[2022-03-23 21:02] zerodois opened #10997 "Template not applied in the email when it is created via API"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm performing an integration with mautic and for that, I'm using its rest api. However, when I create the segment email via the rest api, even though I enter the template parameter correctly, my email is always blank. Is there any way to create an email wi

[2022-03-23 21:52] jonathandhn commented on #10995
HI, I'm currently using mautic 4 with an office365 shared mailbox, are you certain you need to type user@yourdomain.tld\shared-mailbox-alias because on mine I'm using shared-mailbox-alias@domain.tld with the shared mailbox password, and I'm listening at "INBOX". Office365 IMAP seams to be using regular emailadress@domain.tld scheme for login, not Ad style.

[2022-03-23 21:59] jonathandhn commented on #10981
I can confirm, the bug exist.

The source code of the broken button.
[code]

It links to this JS script :
/media/js/app.js the script is loaded, no console error to report.
[code]

[2022-03-24 00:28] coreyworrell commented on #10896
Also having this issue, but using Mautic 4.2.0 with MariaDB (Ver 15.1 Distrib 10.3.34-MariaDB). SMS message setup, shows 2 pending, but never sends, using cron and manual `mautic:broadcasts:send`

Edit: setting a specific publish at date did trigger the message to send. But like you mentioned it should work regardless, and seems like this doesn't always fix it.

[2022-03-24 01:57] SzamanSZ commented on #10995
That's how it is working in Thunderbird and other web apps that I am using (e.g. osTicket). In my setup the shared mailbox doesn't have a password on it's own, just delegation that allows user@mydomain.tld to read and manage the shared mailbox.

While creating the password for the shared mailbox could be the workaround, I believe it should be still possible to login with the user\shared-mailbox st

[2022-03-24 05:04] gradualChange opened #10998 "Error 500 (SyntaxErrorException) When attempting to remove contact from campaign"
### Mautic Version

4.1.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

_No response_

### What happened?

When I attempt to remove a contact from a campaign using **Change Campaigns**, I am not able to do so and it throws an Error 500. I am able to add a contact to a campaign from the same screen, change segments, etc. The only thing I am not able to do is rem

[2022-03-24 09:20] pety-dc commented on #10956
Hey @RCheesley
I checked that the code is seemingly the same in Mautic 4, but I didn't have the chance to check whether it behaves the same.
Within a few weeks I'll try to test is.

[2022-03-24 09:27] ShareBtech opened #10999 "Landing Page Permissions Allow View on everyones login"
### Mautic Version

4.2.x series

### PHP version

7.4.16

### What browsers are you seeing the problem on?

Chrome

### What happened?

When assigning Role Permissions on Landing Pages to "View Own" and not "View Others" the new role is still able to view all landing pages.
User cannot do anything with the landing pages but is able to see all lps and urls

### How can we reproduce this issue?

St

[2022-03-24 14:53] #10975 closed, assigned to nobody

[2022-03-24 15:24] onairmarc commented on #10659
This is still an issue on a fresh install of version 4.2.0

[2022-03-24 17:38] charles-talk2us commented on #10943
Hello @npracht, have you managed to have a look at this issue the @raramuridesign raised above?

[2022-03-25 05:58] #10677 closed, assigned to nobody

[2022-03-25 07:46] npracht commented on #10943
Hello, i checked it but didn't plan to work on solution for this issue. If one of you would like to offer some of your time to dig into it, that would be lovely :)

[2022-03-25 09:07] escopecz commented on #10990
I cannot reproduce. @oltmanns-leuchtfeuer did you run `bin/console mautic:assets:generate` after applying https://github.com/mautic/mautic/pull/10985?

[2022-03-25 09:48] LeonOltmanns commented on #10990
@escopecz Yea I did run `bin/console mautic:assets:generate` after applying the PR. Matter of fact is, that the values of my "Visited URL" Filter are still gone. Checked of multiple instances that have been update to 4.2.0 to rule out a single edge case here.

For example:
<img width="813" alt="image" src="https://user-images.githubusercontent.com/55587275/160096356-fec881d3-e6b6-4607-b7aa-4f37266

[2022-03-25 10:41] escopecz commented on #10990
Gotcha. I can replicate if I create the segment on the 4.1 branch and then open it in the 4.x branch. This is how it is saved on 4.1:
[code]
And this is on 4.x:
[code]
The problem is not with moving the filter to the properties array. That is working nicely. The problem is that the object has changes from `lead` to `behaviors` and the code cannot find the operators for such field anymore.

It was

[2022-03-25 11:02] escopecz commented on #10990
Ready to test: https://github.com/mautic/mautic/pull/11003

[2022-03-25 13:45] #10990 closed, assigned to nobody

[2022-03-25 13:45] pstevens71 commented on #10024
Yes this is still relevant. I'm on 4.1.1 I'll upgrade to the latest version next week and check that too.  Issue still remains that SuiteCRM -> Mautic works great.  A new record in Mautic -> SuiteCRM works great.  HOWEVER, a change on the Mautic side does not sync with SuiteCRM even when the field is selected that Mautic is the master.  If however a change occures on the SuiteCRM side, the field t

[2022-03-25 15:17] bradycargle commented on #9804
Hi everyone, I've just submitted a [pull request](https://github.com/mautic/mautic/pull/10994) that has been fixing the issue for me. We can merge it as soon as it's tested and if it's working for others :) #10994

[2022-03-25 15:18] bradycargle commented on #9011
Hi everyone, I've just submitted a https://github.com/mautic/mautic/pull/10994 that has been fixing the issue for me. We can merge it as soon as it's tested and if it's working for others :) https://github.com/mautic/mautic/pull/10994

[2022-03-25 16:11] PierreAmmeloot opened #11004 "GrapeJS and CSS style on Mautic v4.2.x bug in Outlook"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

On Mautic 3.x and Mautic 4.1.2 when I create a theme and use it the HTML/CSS code is not modified.
**From Mautic 4.2.0 onwards, following the same procedure (with the same theme) the code is modified which causes layout problems with Outlook.**

The problem

[2022-03-27 14:08] MarkerB commented on #9804
This sounds exciting.  I'm wondering though... as explained before, I'm not convinced this thread's issue is the same as [9011](https://github.com/mautic/mautic/issues/9011#issuecomment-1009051271).  This thread's issue is about premature timeout after the there's been no activity for 10 minutes.  [9011](https://github.com/mautic/mautic/issues/9011#issuecomment-1009051271) is about remembering the

[2022-03-28 09:40] ghost commented on #10947
@RCheesley for my instance mautic:assets:generate was enough. I was surprised that I need it in a fresh Mautic.

[2022-03-28 10:00] RCheesley commented on #10947
Closing this issue as the PR has been merged and will be released in 4.2.1.

[2022-03-28 10:00] #10947 closed, assigned to nobody

[2022-03-28 15:28] bradycargle commented on #9804
The premature logout issue should be fixed if the browser remembers you (the remember cookie should keep people logged in). There is a separate issue with a CSRF token error that is kicking some people out. I think it's also possible that this bug fix will fix that. If not, I'll get back in there and figure it out

Only real way to know is to test it. It's keeping me logged in for hours (haven't t

[2022-03-28 19:55] wilsonfe commented on #10913
Did you do just that to make it work?

    # Except those allowed below.
    #<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
    #    Require all granted
    #</If>

	<FilesMatch "^(index|index_dev|filemanager|upgrade).php$">

In my case it didn't work.

[2022-03-28 21:16] uzegonemad opened #11013 "doctrine:schema:update wants to delete custom fields"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm debugging an issue for a client and in the process called `php bin/console doctrine:schema:update --dump-sql`.

This is returning several statements related to custom fields. There are queries for dropping the custom field indices, followed by queries t

[2022-03-28 22:41] wilsonfe commented on #10913
On my server mautic is installed in a subdomain and gave the same 403 problem.

I uninstalled everything and reinstalled version 4.2 and was unsuccessful as I had to comment out the code:

    <FilesMatch "\.php$">
        Require all denied
    </FilesMatch>

So I was able to access, however, even informing the Amazon AWS SES access data, I can't connect, it gives an authentication error.

[2022-03-28 23:50] dinaras commented on #10885
I am coming back to this issue as i have had some more time to look into it.
it appears that the problem in my case will go away, if mysql is restarted. Dont know yet for how long, and what triggers it to break.
I also upgraded mariadb to 10.7 and run all proposed solutions above including upgrade, running queries in database proposed in some tickets. I even restored a couple of times but always i

[2022-03-29 01:48] #7565 closed

[2022-03-29 07:12] raramuridesign commented on #10913
@wilsonfe @nikitakothari06
I have written an explanation here
https://kb.raramuridesign.com/htaccess-tweak-for-mautic-in-a-subfolder.html
Hope this helps.

[2022-03-29 08:22] Aerendir commented on #10885
@dinaras , yes, the error about mapping is known and has to be fixed... If that one is the only error you get, then your mapping is valid and you should be able to use Mautic in its full potential without any issue.

[2022-03-29 09:13] chris-aeviator commented on #7793
I was only able to solve this by setting the CORS headers in my router/reverse proxy (traefik). It seems to be related to the redirect, though I'm also seeing this when setting the form reply to a message.

[2022-03-29 09:21] wilsonfe commented on #10913
On my server mautic is installed in a subdomain email.mydomain.com and gave the same 403 problem.

[2022-03-29 09:24] raramuridesign commented on #10913
Did you try to uncomment this line - the link above will only work for subfolders. So first read through the thread logically to see where your issue is. Perhaps you have a permissions issue... I suppose you should also ask on the forum and post screenshots and setup so users can assist. Github is for more code related issues.

[code]

ot this line in apache < 2.4

[code]

[2022-03-29 09:38] wilsonfe commented on #10913
My installation is on hostinger on a shared hosting. They use Litespeed 5.4. Don't use apache.

If I uncomment it gives error 403.

<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

[2022-03-29 14:58] raramuridesign commented on #10913
@wilsonfe I think you might need to ask someone who has knowledge on lightspeed.
Please join the forum and post your question there.

[2022-03-29 15:20] RCheesley commented on #10978
Hi @omert37 the other issue was [closed with an explanation](https://github.com/mautic/mautic/issues/10963#issuecomment-1069040425) that configuration issues are to be posted in the forums where we offer community support, GitHub is for posting bugs with Mautic.

Can you clarify if your instance has been using this and then after an update it stopped working, or did you set up a new instance and c

[2022-03-29 15:21] jos0405 commented on #10978
Hi, can you confirm, that you didn't change to SMTP method within Sendgrid? Are you still using the API key to connect to Sendgrid? Thx.

[2022-03-29 15:23] mabumusa1 commented on #10978
I just tested it, it works without issues. try to access this ur from your browser if you get a page that `success` then it works.

[2022-03-29 15:23] RCheesley commented on #10979
Thanks for the bug report! Pinging @mautic/campaigns-webhooks-tiger-team for visibility!

[2022-03-29 15:25] renatocron commented on #10978
@omert37 can you confirm if you are using "Sendgrid API" driver like bellow:
![image](https://user-images.githubusercontent.com/1919076/160647353-b440b9b5-4532-40eb-aba0-fb748851b54f.png)

The endpoint does not work if you use "Sendgrid SMTP"

![image](https://user-images.githubusercontent.com/1919076/160647468-ee4ec53a-c0f2-400f-9d6b-233ac8989a5f.png)

[2022-03-29 15:34] omert37 commented on #10978
You're absolutely correct.
I switched over to SMTP instead of using the API for mailing deliveries.
That's why the CALLBACK endpoint wasn't working.
It only works when I use the API.

[2022-03-29 15:40] jos0405 commented on #10978
Because it's a different endpoint for api and for smtp
Try https://[YOUR MAUTIC DOMAIN]/mailer/sendgrid/callback

[2022-03-29 15:44] RCheesley commented on #10980
Thanks for the bug report @fintechee - I was not actually able to reproduce this but I did stumble across this bug: https://forum.mautic.org/t/mautic-general-error-1467-failed-to-read-auto-increment-value-from-storage-engine/20861 in my logs which was preventing the form being submitted in the first place.

As soon as I fixed that the form was submitted and the webhook fired as expected.

Please c

[2022-03-29 15:44] #10980 closed, assigned to nobody

[2022-03-29 15:45] RCheesley commented on #10981
Hey folks!

Please try to regenerate your assets and confirm if it still exists?

https://docs.mautic.org/en/troubleshooting/command-line-tools-cli#mautic-commands

[2022-03-29 15:47] RCheesley commented on #10988
Thanks for the detailed bug report @kimtiago !

[2022-03-29 15:48] RCheesley commented on #10989
Thanks for the bug report and for the PR to fix @alfredoct96 !

[2022-03-29 15:50] RCheesley commented on #10996
Thanks for the detailed bug report @christian-krieg !

[2022-03-29 15:51] RCheesley commented on #10997
Thanks for the bug report @zerodois - does this persist with 4.2.1?

[2022-03-29 15:53] RCheesley commented on #10998
Thanks for the bug report @gradualChange and for testing it in 4.2.x as well. Pinging the @mautic/campaigns-webhooks-tiger-team for visiblity!

[2022-03-29 15:54] RCheesley commented on #10999
Thanks for the bug report @ShareBtech :)

[2022-03-29 15:57] RCheesley commented on #10953
@biggala2310 yes we would welcome basic themes that would work with MJML! If you need any help with getting started do just shout in #t-product on Slack (get an invite at https://mautic.org/slack).

[2022-03-29 15:58] RCheesley commented on #11004
Thanks for the report @PierreAmmeloot but I think this is a duplicate of several existing issues and we are already working on a fix:

https://github.com/mautic/mautic/issues/10769
https://github.com/mautic/mautic/issues/10572

Proposed fix: https://github.com/mautic/mautic/pull/10976

[2022-03-29 15:58] #11004 closed, assigned to nobody

[2022-03-29 16:02] RCheesley commented on #10572
Hey folks! Please take a look at #10976 where we are proposing a workaround which allows you to just use a text field to dump in pure HTML without touching GrapesJS (eg like the old code mode). It's a workaround/bug fix while we work on something to address the root of the issues.

[2022-03-29 16:05] RCheesley commented on #10978
Thanks folks! Going to close this as it indeed does seem to be a configuration error rather than a bug with Mautic! Appreciate the help everybody!

[2022-03-29 16:05] #10978 closed, assigned to nobody

[2022-03-29 17:10] dsp76 commented on #10981
Yep, just tested it and the problem still exists.

[2022-03-29 18:40] jonathandhn commented on #10981
Have you upgraded first?
________________________________
From: Dirk Spannaus ***@***.***>
Sent: Tuesday, March 29, 2022 7:10:49 PM
To: mautic/mautic ***@***.***>
Cc: Jonathan Dahan ***@***.***>; Comment ***@***.***>
Subject: Re: [mautic/mautic] Segment list - amount of items in list per page can't be changed (Issue #10981)

Yep, just tested it and the problem still exists.

—
Reply to this email

[2022-03-30 08:06] ghost commented on #10953
@RCheesley Ok. I will make it in next week.

[2022-03-30 08:58] DigitalCoder opened #11020 "Mautic does not support PHP version 8.1.0 / we can't donwgrade PHP version"
### Mautic Version

4.2.x series

### PHP version

8.1.0

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Mautic does not support PHP version 8.1.0
we can't donwgrade PHP version

Because the hosting servers Gandi.net has removed  PHP versions 7.3 and 7.4.

When do you think Mautic would  release a new version compatible with PHP 8.10 ?

Thx

### How can we repr

[2022-03-30 09:10] RCheesley commented on #11020
Hey there,

Indeed we do not yet support PHP 8, which is specifically called out on our requirements page here: https://www.mautic.org/download/requirements.

The WIP PR is here: https://github.com/mautic/mautic/pull/9969 - we are hoping to get some work done on this in our sprint next week at Mautic Developer Days.

Until then I am afraid you will have to find some other way to revert back to 7.4

[2022-03-30 09:10] #11020 closed, assigned to nobody

[2022-03-30 09:13] escopecz commented on #11013
I cannot stress enough to never ever use `bin/console doctrine:schema:update --dump-sql --force`. Mautic use Doctrine in ways the Doctrine developers never expected. Doctrine cannot work with adding columns to a table during runtime which Mautic sadly does for custom fields. Each query that the `bin/console doctrine:schema:update --dump-sql ` command will output must be evaluated before executing.

[2022-03-30 09:59] PierreAmmeloot commented on #10973
Hello @RCheesley,

Indeed it is apparently the same bug.

Pierre

[2022-03-30 10:06] PierreAmmeloot commented on #9129
Hello all,

@Aerendir in summary what can we do to resolve this issue?
@RCheesley is it possible to plan a patch on the next version?

Pierre

[2022-03-30 10:08] npracht commented on #9129
@PierreAmmeloot you can test and share your feedback on https://github.com/mautic/mautic/pull/10878
We'll plan it to next version if this is working and tested enough.

[2022-03-30 14:43] chibimochi opened #11025 "Mautic loading slow even after clear cache"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome, Microsoft Edge

### What happened?

I don't know whether this is a bug or an error. Mautic loading 5 minutes or more even after I clear cache on Mautic directory, /var/cache, using this command rm -rf app/cache/*.  It happened before I updated my Mautic version. Now, 4.2.1 is still

[2022-03-30 17:14] jonathandhn commented on #10957
Hi, I've got some news :

_Disclaimer_ : You could try on your own, this is not an approved _fix_

1. First Download on your application root folder ( the folder containing your mautic composer project ) :

 * -  [0001-A-patch-fix-for-console-in-composer-context-10957.patch](https://supportcr.s3-eu-west-3.amazonaws.com/0001-A-patch-fix-for-console-in-composer-context-10957.patch)
 * - [0001-A-patc

[2022-03-31 08:16] sofocle80 commented on #10913
Hello, I also have mautic in a folder and after 4.2.o update it stopped working.
Before, whwn I updated to 4.1.2 all I had to do to fix it is changing
<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade).php#">
to
<If "%{REQUEST_URI} =~ m#^/mautic/(index|index_dev|upgrade/upgrade).php#">

but now it wont work (htaccess has more lines after this update)

I messed with the htaccess and now I

[2022-03-31 09:26] fintechee commented on #10980
@RCheesley
Thank you. Will check it soon.

[2022-03-31 10:15] RCheesley commented on #10957
Hi @jonathandhn - please take a look at our docs on how to create a pull request for Mautic - that is how we distribute things to Mautic users.

https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests

If you need a hand, please ask in #t-product and we'll be able to help!

[2022-03-31 10:31] jonathandhn commented on #10957
Thanks,  the true question is that currently no patch are applied, nor provided by mautic, so I need an advice on where to host the patches in the mautic code base for composer to download theme easily and then I could propose a PR to the https://github.com/mautic/recommended-project to distribute the new composer settings.

[2022-03-31 11:38] levihb opened #11029 "Email Builder code editor will not reopen after the builder has been closed"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

If you go into the email builder, click "Edit Code", edit it, then save. Now go back out of the builder. Now re-open the builder, and the "Edit Code" button no longer does anything.

The only way to fix it is to go all the way back out of the email editor,

[2022-03-31 12:25] DanVen73 commented on #10913
Hello there, I have an installation of mautic in a subdomain (sub.domain.com).
After upgrading to 4.2.0 and now to 4.2.1 I had to change .htaccess file because of HTTP ERROR 403.
Changed the following lines:

    # Except those allowed below.
    #<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
    <FilesMatch "^(index|index_dev|filemanager|upgrade).php$">
        Require all

[2022-03-31 12:32] marcoalejandropalacio commented on #10913
@DanVen73

Making this change... everything inside Mautic works fine for you?

There are no functions that do not work?

[2022-03-31 12:45] DanVen73 commented on #10913
I tried forms, landing, campaigns automation, multiple users connected, no problem.
@marcoalejandropalacio -> "There are no functions that do not work?" give me examples please. I'll check.

[2022-03-31 13:45] wilsonfe commented on #10913
The only way to install the new version was to install it all over again.

I tried to update version 4.2.0 to 4.2.1 and got the same problem (403).

I will have to redo the installation again from scratch.

I use a subdomain. email.domain.com.

I tried to do what @DanVen73 said, but I was unsuccessful.

[2022-03-31 13:47] wilsonfe commented on #10913
I updated the .htacess file before trying to do the update from the panel.

# Except those allowed below.
#<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
<FilesMatch "^(index|index_dev|filemanager|upgrade).php$">
    Require all granted
</FilesMatch>
#</If>

I don't know if I did it right.

[2022-03-31 13:52] marcoalejandropalacio commented on #10913
@DanVen73

It happened to me that the segment options did not work for me and two more options that I do not remember now.

[2022-03-31 13:57] DanVen73 commented on #10913
@wilsonfe
You have this in your .htaccess file
# Except those allowed below.
<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
    Require all granted
</If>

Replace with this:
# Except those allowed below.
#<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
<FilesMatch "^(index|index_dev|filemanager|upgrade).php$">
    Require all granted
</FilesMatch>
#</If>

[2022-03-31 14:00] DanVen73 commented on #10913
@wilsonfe

Replace this that you have this in your .htaccess file:

<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
    Require all granted
</If>

with this:

<FilesMatch "^(index|index_dev|filemanager|upgrade).php$">
    Require all granted
</FilesMatch>

[2022-03-31 14:03] DanVen73 commented on #10913
@wilsonfe

You have to substitute this:
`# Except those allowed below.
<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
    Require all granted
</If>`

With this
`# Except those allowed below.
#<If "%{REQUEST_URI} =~ m#^/(index|index_dev|upgrade/upgrade)\.php#">
<FilesMatch "^(index|index_dev|filemanager|upgrade).php$">
    Require all granted
</FilesMatch>
#</If>`

[2022-03-31 14:08] wilsonfe commented on #10913
Thanks

[2022-04-01 00:11] roicahana commented on #10964
Same problem here, this happened after I upgraded to the newest version 4.2.1

[2022-04-01 02:14] marcoalejandropalacio commented on #10913
How can I update mautic manually?

I realized that one of the errors that I am having is that when updating mautic from the notification, it keeps loading one of the steps continuously

[2022-04-01 16:56] PierreAmmeloot commented on #9928
Hello all,

I have the same problem today on Mautic 4.2.0 and 4.2.1 when until now everything worked fine.

When I run the command :
`php bin/console mautic:update:find`

I have the error message :

[code]

I have not changed anything on my side.
Where does this come from?

P.S.: @RCheesley Is it possible to re-open this issue?

Pierre

[2022-04-01 17:06] PierreAmmeloot commented on #11025
Hello @chibimochi,

Are there any errors in the logs?
How did you install Mautic?
How many contacts, segments, campaigns do you have in Mautic?
Does the server host other applications?

Pierre

[2022-04-01 20:44] PierreAmmeloot commented on #10947
Hello,

I have uptaded Mautic on 4.2.1 version.

I have the same bug :
<img width="1114" alt="Capture d’écran 2022-04-01 à 22 33 31" src="https://user-images.githubusercontent.com/4603318/161337426-5780eb19-d46b-49fe-8692-eac7c9f003ca.png">

So I tried:

`php bin/console mautic:assets:generate`
It's done ✅ => `Production assets have been regenerated.`

`php bin/console assets:install`

With this

[2022-04-01 20:46] michalfapso opened #11030 "Email subject has "[TEST]" prefix when "Send Example" was clicked before "Send""
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Firefox, Not relevant

### What happened?

The "[TEST]" prefix should be added to the email subject only when sending an example email with the "Send Example" button. It is implemented in `/app/bundles/EmailBundle/Controller/EmailController.php` in `sendExampleAction()`. I've also added a l

[2022-04-01 21:07] PierreAmmeloot commented on #11004
Hello @RCheesley,

Why wasn't this patch offered with Mautic 4.2.1?
What can I do in the meantime for my instances that have error emails?

Pierre

[2022-04-02 09:27] dennisameling commented on #11013
@escopecz `bin/console doctrine:schema:update --no-interaction --force` is even mentioned in Mautic's own docs. We should remove it there as well I guess. Running migrations should be all that folks do, right?

https://docs.mautic.org/en/setup/how-to-install-mautic/install-and-manage-mautic-with-composer#updating-mautic-core

[2022-04-02 12:58] RCheesley commented on #10947
Replying on a closed issue is not helpful. Please raise a new issue or post in the forums if you're not sure it's a bug. Sounds like you fixed the problem by regenerating the assets, so no need to reopen the issue.

Why are you running mautic:assets:install in the first place? This command is not required and is nothing to do with the regeneration of the JS and CSS, which is what the mautic:assets