[2020-05-20 18:51] enguerr opened #8813 "In case of multiple domains use - batch email sending doesnt use default domain set in config but the current user domain"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In case of multiple domains set

[2020-05-21 03:56] afonseca08 commented on #4626
Quick update, this is now fixed in 3.0.0-beta2.

[2020-05-21 04:13] afonseca08 opened #8814 "Date fields do not sync from Hubspot integration"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When mapping a custom date fiel

[2020-05-21 04:29] afonseca08 opened #8815 "Hubspot plugin contact mapping fails to apply"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Using the Contact Mapping inter

[2020-05-21 09:40] alexhammerschmied commented on #8587
I just wanted to install the beta2 for testing and had the same error.

[2020-05-21 13:07] fagnerdireito commented on #3812
This fixed for me.

[2020-05-21 15:39] captainhook commented on #8587
I tried changing mariadb storage engine (default_storage_engine) to MyISAM and disabling innodb_strict_mode however it made no difference.

I am going to test by replacing all occurrences of ENGINE=InnoDB to ENGINE=MyISAM and retry installation - will let you know how it goes.

[2020-05-21 17:30] captainhook commented on #8587
I ran the install on MariaDB 10.5.3 and it installed successfully.
@alexhammerschmied see if the above helps, you can find/replace easily on Windows using grepWin.

[2020-05-22 03:30] altomarketing commented on #7098
For those administering their Mautic instance from the command line, the best way to transfer the GeoLite2-City.mmdb file to the app/cache/ip_data/ folder is using the scp command line utility.

Then, simply upload the .tar.gz file downloaded from your MaxMind account to your home directory (e.g. /home/ubuntu/GeoLite2-City_20200107.tar.gz) then using the tar -xvzf command, extract the archive. Ins

[2020-05-22 11:31] adityaduggal commented on #2355
Go the same issue and it was resolved by the steps mentioned above.

[2020-05-22 19:44] dennisameling opened #8819 "Write upgrade script for M2 to M3"
The latest Mautic 3 beta (https://github.com/mautic/mautic/releases/tag/3.0.0-beta2) doesn't support upgrades from Mautic 2 yet, as there's no migration script in place yet to M3.

This issue is to track work on an upgrade script for M2 to M3.

**Pre-upgrade checks**
- [x] PHP version >= 7.2.21 and <= 7.3999
- [x] Current database driver = `pdo_mysql` or `mysqli` (get from existing Mautic config f

[2020-05-22 19:56] RCheesley commented on #8819
Would we want to back up/copy the DB first in case of failure, or do we assume it is already done?

[2020-05-22 20:06] dennisameling commented on #8819
@RCheesley I've been researching that a bit. Ideally, we'd trigger a script called `mysqldump` (bundled with MySQL installations), but not all hosting environments (like shared hosting) allow that. The alternative is to build a 100% PHP script that walks through all database tables 1 by 1 to create a backup, but this would be a lot of work to build & test, plus I'm not sure if it will be safe/stab

[2020-05-22 20:30] dennisameling commented on #8819
I'd be very interested in collecting (anonymous) data about the M2 > M3 upgrade success rates, so we can monitor closely whether upgrades succeed or not, and maybe even have a "kill switch" if there's too many failed upgrades (e.g. >25%). [We are already collecting data](https://github.com/mautic/mautic/blob/staging/upgrade.php#L354-L367) during updates and send it to https://updates.mautic.org/st

[2020-05-22 20:33] alanhartless commented on #8819
Doing an automatic backup will be tricky. I’d suggest just warning the user to do this before they attempt to run the script.

As for the stats, I think we can get those through the existing stat collection. As soon as the upgrade happens, mautic will send the stats for the M3 version. It’s Actually the last thing we need to update to remove the dependency on updates.mautic.org.

[2020-05-22 20:35] alanhartless commented on #8819
What is the typical max execution time on most shared hosts? If less than 240, that could prevent them from upgrading.

[2020-05-22 20:40] alanhartless commented on #8819
Just a note that there are parts of the current script that the in app upgrade process needs.

[2020-05-22 20:48] dennisameling commented on #8819
**Stats**: the existing stat collection won't show us the amount of failed upgrades, as we'll only have numbers of instances per version AFAIK. Is there some other database/stats server that we're planning to migrate to?

**Max execution time**: depends per host, but I believe most limit it to 120 seconds. However, users often have ways to increase it, e.g. by adding .ini config files etc. - could

[2020-05-22 23:02] RCheesley commented on #8819
Here's the (old and broken UI) stats package @dennisameling in case it's useful https://github.com/mautic/statsapp

[2020-05-23 03:11] nathanielkam commented on #8792
checking in on this to see if anyone has any more ideas, I am working on some more debug this weekend, hoping to get this resolved soon.

[2020-05-23 05:30] ericross commented on #6613
I was also getting the duplicate key error with 2.16.2 and the temporary fix suggested that drops the unique index has allowed me to continue.

[2020-05-23 12:53] RaianHN commented on #7002
International phone number validation message

doesnnot work on a third party pages

[2020-05-23 13:00] npracht commented on #7002
@RaianHN it should. Can you tell us how to reproduce ? What is you mautic version ?

[2020-05-23 13:42] RaianHN commented on #7002
im using mautic 2.16.2 with php 7.3 , using form embedded on Landing pages hosted on CDN, not using mautic's landing pages. what i meant by validation message not working , message is not displayedon the form instead on the address bar of the browser

[2020-05-23 13:46] RaianHN commented on #7002
@npracht following is error
` http://mydomain.com/landingpage.html&mauticError=Errors%3A<br%20%2F><ol><li>please%20use%20the%20following%20international%20format%20%5B%2B%5D%5Dcpuntry%20code%5D%5Bsubscriber%20number%5D%20for%20this%20field%20%28eg%3A%20%2B14028650000%29<%2Fli><%2Fol>#default`

[2020-05-23 15:07] RCheesley opened #8820 "Sample data says installed, but there is no data"
### Bug Description
Setting up to test, and when I ran bin/console mautic:install:data It completes and tells me that it has been successful, however there does not seem to be any data in the database. This is a problem because it means I cannot run acceptance tests.

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.30
| Browser | Chrome

### Steps to reproduce
1. Install

[2020-05-23 15:48] RCheesley opened #8821 "Fatal error when adding lifecycle widget to dashboard"
## Bug Description
When testing adding widgets to the dashboard, as soon as I select the contacts lifecycle I see an error on the screen behind the modal pop-up, then when I save my changes I see an error in the modal itself.

[code]

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.24 (Mautibox)
| Browser | Chrome

### Steps to reproduce
1. Add Lifecycle widget to dashboa

[2020-05-23 15:48] RCheesley commented on #8821
![](https://github.trello.services/images/mini-trello-icon.png) [Dashboard > Add contact widgets to dashboard](https://trello.com/c/nQHtDkbS/14-dashboard-add-contact-widgets-to-dashboard)

[2020-05-23 16:03] CyberMarsl commented on #8623
I got the same issue.

I know from a couple of people who need the option to fire an action in relation to custom field value datetime (i.e. 15 minutes before an event). It does not work in my mautic 3 beta installation.

It seems that date and datetime contact fields are not usable in "contact field value" when creating the condition.

For us this is a very important function and we think it is v

[2020-05-23 16:23] RCheesley opened #8822 "Executing a second contact merge results in a 500 undefined index error"
## Bug Description
I created three leads via a form on the landing page. I opened the first lead and merged it into the second lead successfully. I subsequently tried to merge the third lead into the newly merged one and when I tried to do this had a 500 undefined index fax error (tested this twice and reproduced both times):

[code]

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP ver

[2020-05-23 16:23] RCheesley commented on #8822
![](https://github.trello.services/images/mini-trello-icon.png) [Contact > Merge contact with another contact](https://trello.com/c/y9iLcemF/44-contact-merge-contact-with-another-contact)

[2020-05-23 17:21] RCheesley opened #8823 "Selecting audit log filters results in poor layout"
## Bug Description
When selecting multiple filters the field expands (outside its container)  and shoves the table across the page which is not a great user experience.

![screenshot-m3 mautibox com-2020 05 23-18_15_50](https://user-images.githubusercontent.com/2930593/82736481-fea61400-9d21-11ea-9055-dd79364de328.png)

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.24 (

[2020-05-23 17:22] RCheesley commented on #8823
![](https://github.trello.services/images/mini-trello-icon.png) [Contact > Ensure audit log filters and include/exclude options work as expected](https://trello.com/c/WKVNYoWP/54-contact-ensure-audit-log-filters-and-include-exclude-options-work-as-expected)

[2020-05-23 17:28] dennisameling commented on #8820
Just checked Git commit history. Turns out this behavior was changed in this PR: https://github.com/mautic/mautic/pull/8366

You now need to run `bin/console doctrine:fixtures:load`, then the dummy data is inserted into the database. @lukassykora is this how it's supposed to work now after #8366? In 2.16, when we ran `app/console mautic:install:data` it also installed all the dummy data, now we al

[2020-05-24 05:45] shinde-rahul commented on #8820
loads the data.

[2020-05-24 12:28] RCheesley commented on #8820
Perfect, definitely need a docs update for this change, I will make the necessary PR

[2020-05-24 12:37] alexrm1x commented on #6407
Hello,
Issue still exists in version 2.16.2 I'm using (PHP 7.3).

Repro:
Create a Campaign (origin based in Segment)
Add test user (contact) to campaign
Contact visits URL to trigger actions like: Change Stage, Move Segment and Exit Campaign (all these events are recognised OK in the Contact history)
Contact details shows events triggered for removal....
BUT:
Campaign - Details - Contacts: still s

[2020-05-24 12:38] #8820 closed, assigned to nobody

[2020-05-24 21:36] dennisameling commented on #8819
Update: the migration script is pretty much done (on the filesystem level, everything is working as expected).

Database migrations not working: after the upgrade, we only have the following DB migrations left:

![image](https://user-images.githubusercontent.com/17739158/82765365-84a38700-9e16-11ea-94c9-ad6984f1be52.png)

When running `php bin/console doctrine:migrations:migrate --no-interaction -

[2020-05-24 22:07] dennisameling opened #8826 "Database migrations not working in 3.0.0-beta2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When running `bin/console doctr

[2020-05-25 08:12] escopecz commented on #8819
@dennisameling can you run it with `-e dev -vvv` flags to see what the full trace looks like?

[2020-05-25 08:14] dennisameling commented on #8819
@escopecz Unfortunately not, using `--env=dev` to get more details doesn't work as it's the [production package](https://github.com/mautic/mautic/releases/download/3.0.0-beta2/3.0.0-beta2.zip) which misses some dev dependencies.

However, when I run the same command on an instance that's cloned from GitHub (git clone https://github.com/mautic/mautic & checkout 3.x), it works without issues. So I'm

[2020-05-25 08:19] dennisameling commented on #8826
Running with `-vvv` gives some more details:

[code]

[2020-05-25 08:20] dennisameling commented on #8819
@escopecz `-vvv` seems to work without the `-e dev`. Have posted details in #8826, let's follow up over there

[2020-05-25 08:41] escopecz commented on #8826
I don't understand the issue between dev and prod yet, but it may be connected to https://github.com/mautic/mautic/issues/8288 and that's what I found as a blocker for [PHP 7.4 support](https://github.com/mautic/mautic/pull/8447)

[2020-05-25 08:51] dennisameling commented on #8826
Interesting. In the packaging script [the following command is used](https://github.com/mautic/mautic/blob/3.x/build/package_release.php#L64) to generate the production package:
`composer install --no-dev --no-scripts --optimize-autoloader`

That in combination with #8288 might be causing trouble here. Would you mind having a look at this @escopecz?

[2020-05-25 09:07] escopecz commented on #8826
When I run composer with --no-dev it removes bunch of packages:
[code]
But I don't see anything related to Zend/Laminas Code library. Isn't it removing something else in the migration script?

[2020-05-25 09:07] escopecz commented on #8826
BTW, the migration command works for me when I remove dev libraries.

[2020-05-25 09:11] escopecz commented on #8826
Update: If I truncate the migrations table then I can replicate the error. If I install dev deps again then the migrations command work. So your findings are correct.

[2020-05-25 09:28] escopecz commented on #8826
The `zendframework/zend-code` library is used only by `ocramius/proxy-manager` which is used as a dev dependency of `jms/serializer` and prod dependency of `doctrine/migrations`. Why is Composer removing it when it is a prod dependency? Is it a Composer bug? Looks like it.

I thought we can force having `zendframework/zend-code` library in prod by requiring it as a Mautic direct dependency, but it

[2020-05-25 11:38] dennisameling commented on #8826
Found it!!! When I build the release package myself, then install from that, it works as expected. So something is wrong with @alanhartless's Composer version that was used to build the 3.0.0-beta2 package.

Looking at https://github.com/symfony/symfony/issues/35934#issuecomment-607949405, we should be using Composer 1.10+ where a bug is fixed in autoload generation. Running `composer --version` g

[2020-05-25 11:41] dennisameling commented on #8826
Yep, checking [Composer's changelog for 1.10](https://github.com/composer/composer/blob/master/CHANGELOG.md#1100-2020-03-10) shows the exact error we were having:

So updating composer should do the trick 🚀

[2020-05-25 11:42] alexhammerschmied commented on #6613
As described earlier, I tested it with creating a tag action before the jump event and it works fine.
So instead of messing around with the database, I suggest to just make this extra step instead.

[2020-05-25 12:44] regevbr opened #8827 "running mautic behind ssl teminator"
## Bug Description

When running mautic with https address (which is set in the configuration), the following code enforces all connections to be ssl:
https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/app/bundles/CoreBundle/Loader/RouteLoader.php#L72-L81

Meaning that trying to access http://localhost will cause a 301 redirect to https://localhost.
In general this beha

[2020-05-25 17:15] directpromo commented on #8791
Hi @RCheesley

Attach patch for Mautic 3 https://github.com/mautic/mautic/blob/3.x/app/bundles/PageBundle/Controller/PublicController.php

[PublicController.patch.txt for 3.x](https://github.com/mautic/mautic/files/4678228/PublicController.patch.txt)

Unfortunately, I can't do pull requests. I'm a marketer, not a programmer. If you tell me how to do it I'll try to learn

[2020-05-25 17:38] directpromo commented on #8791
@RCheesley
I tried it https://github.com/mautic/mautic/pull/8829
did I do the right thing?

[2020-05-25 17:49] RCheesley commented on #8791
Thanks @directpromo PR looks good, it will be reviewed by one of the team and hopefully make its way into one of the upcoming patch releases.  Well done on your first contribution! :tada:

[2020-05-25 18:09] dennisameling commented on #8826
Just created a re-packaged 3.0.0-beta2 with Composer 1.10+ on my fork, so I can continue testing the M2 > M3 upgrade: https://github.com/dennisameling/mautic/releases/tag/3.0.0-beta2

[2020-05-25 18:36] directpromo commented on #8719
Hi @RCheesley

![2020-05-25_21-35](https://user-images.githubusercontent.com/42971248/82836705-b88eb300-9ecf-11ea-8b79-765cd19dcd31.png)

These warnings are not related to the bug.

Because transifex checks for open and close brackets. The use of parentheses is a matter of precision in meaning.

Here (below) is the translation string associated with the error. There are no transifex warnings in it

[2020-05-25 18:45] directpromo commented on #8716
see answer in https://github.com/mautic/mautic/issues/8719#issuecomment-633679896

[2020-05-25 18:49] directpromo commented on #8716
No translation errors

![2020-05-25_21-48](https://user-images.githubusercontent.com/42971248/82837390-9007b880-9ed1-11ea-8c35-0e05ae184a4b.png)

[2020-05-25 18:55] directpromo commented on #8716
@RCheesley How to manage translations in order to prevent errors in translation into Mautic?

[2020-05-25 18:59] directpromo commented on #8716
@RCheesley
I also see that 2 versions of one language have been created - this is superfluous! What for? Russian language is one - it can not be more.

![2020-05-25_21-53](https://user-images.githubusercontent.com/42971248/82837663-669b5c80-9ed2-11ea-9203-7de92ec61434.png)

If for some reason you want to translate to "ru_RU" instead of "ru", then how to copy all the translations? Who can do it?

[2020-05-25 20:27] dennisameling opened #8831 "Updated configuration parameters in UPGRADE-3.0.md are incomplete"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
While working on the M2 > M3 up

[2020-05-25 20:42] dennisameling commented on #8819
Need some decisions made on the `app/config/local.php` file (which parameters should be updated with new M3 default values)? This prevents me from finalizing the upgrade script. See https://github.com/mautic/mautic/issues/8831 for details. Hoping that @alanhartless @escopecz can help me with this one 😊

[2020-05-26 05:41] ravinayag opened #8832 "Role access permissions segments view."
Hi,
Currently, There is no Role detailed  access permission defined for Segments, As users can able to see segments defined by other users.

Can this be hidden segments list view from other user created.  Like the access perm need to enhance like others,  (contacts) view own, view others, edit own, edit others.

 I feel this  need to be as like others modules.

thanks

[2020-05-26 08:35] escopecz commented on #8831
Good catch Dennis! Here is my brain dump:

The `mail` option was removed from the new version of the Swiftmailer library, so it cannot exist in M3. It used to be a default option in M2, so it may be painful for some that this option no longer exists.

spool, cache, logs, tmp dirs were moved from `app/` directory to `var/` directory as it's Symfony's standard. But it should not cause any troubles k

[2020-05-26 08:39] alexhammerschmied commented on #8587
Thank you @captainhook that seems to solve the problem for now... but it should run with InnoDB as well. I don't understand as much regarding DB structure. I'll check back with my developers. But IMHO this should run smoothly without additional DB work, right?

[2020-05-26 08:40] #7680 closed

[2020-05-26 08:40] #7638 closed

[2020-05-26 08:43] npracht commented on #6057
closed by #7741

[2020-05-26 08:43] #6057 closed

[2020-05-26 08:46] npracht commented on #8245
fixed in 3.0.0

[2020-05-26 08:46] #8245 closed

[2020-05-26 08:47] captainhook commented on #8587
Yes, I've noticed no other issues so far :)
I will close this as we've managed to figure it out. If you encounter any issues, feel free to post here again.

[2020-05-26 08:47] #8587 closed

[2020-05-26 08:48] npracht commented on #5732
closed by https://github.com/mautic/mautic/pull/7424

[2020-05-26 08:50] npracht commented on #6197
Closed by #7616

[2020-05-26 08:50] #6197 closed

[2020-05-26 08:51] #7096 closed

[2020-05-26 08:51] npracht commented on #7558
merged

[2020-05-26 08:51] #7558 closed

[2020-05-26 08:53] dennisameling commented on #8831
That's already super helpful information! Thanks @escopecz! I'd opt for setting the spool/cache/logs/tmp dirs to their new locations. This will help us to keep documentation consistent for end users that haven't changed the default values. I'll make sure to only replace when the default values were in place, e.g. exactly matches `%kernel.root_dir%/spool`, because if users have set custom locations

[2020-05-26 09:04] RCheesley commented on #8819
Just a thought, do we also need to check that there is sufficient free space available to make the backups and database dump? Either before it runs or ensure we throw an error in the event that it runs out of space? If we can't do that we should ensure we make it clear to folk how to check if they have sufficient space available.

[2020-05-26 10:30] dennisameling commented on #8819
@RCheesley I thought about that, but left it out because it might not be reliable on e.g. shared hosting, where hosts can enforce disk space limits on subscription level (so e.g. the hard drive will have 200GB+ free space, but the subscription of the customer only has 1GB of disk space available). Will need to test if the PHP function `disk_free_space()` https://www.php.net/manual/en/function.disk

[2020-05-26 11:06] RaianHN commented on #8471
is this going to be updated to v4 or do we get patch for 2.16.2 release ?

[2020-05-26 11:22] obrinku commented on #7408
Hello,
I am using mautic version 2.15.3, PHP 7.1.
Same issue facing of Error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 80739496 bytes)".

In my case once i login and dashboard page load it give error.
Error Log:
mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\OutOfMemoryException: "Error: Allowed memory size of 536870912 bytes exhausted (tried t

[2020-05-26 11:33] kuzmany commented on #5732
@npracht that PR was reverted from 2.16.2 due some conflicts

[2020-05-26 13:04] pjeby commented on #7559
Why is this issue being closed?  As noted above, #7717 only deals with *field* merging, not *device* merging.  I do not see any code in either the 2.x or 3.x branches to handle device merging, ala #7561.

[2020-05-26 13:46] npracht commented on #7559
sorry i misunderstood your message.

[2020-05-26 13:47] npracht commented on #7559
@pjeby can you answer that message? https://github.com/mautic/mautic/pull/7561#issuecomment-631370559

[2020-05-26 15:10] RCheesley commented on #8819
Good point @dennisameling , I think therefore we need to make this super clear and give people an idea of the magnitude of spare space they need - for example double or triple the space Mautic currently takes up on your server - in all of our release docs/comms

[2020-05-26 15:10] luizeof opened #8834 "Error with Trusted Proxies on M3 and Docker"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Following Symphony docs:

If it

[2020-05-26 16:07] RCheesley opened #8835 "Invalid date in attribution date field on lead fails silently"
## Bug Description
When creating a lead and manually entering an attribution date, there is no date picker or guidance on date format to use.

If you enter an invalid date format, rather than alerting you to the problem, we currently silently fail to save the update without giving the user any kind of feedback on what the problem is.

This is a poor user experience on many fronts.

Other date fiel

[2020-05-26 16:08] RCheesley commented on #8835
![](https://github.trello.services/images/mini-trello-icon.png) [Contact > Edit individual contact - ensure all default fields can be updated & saved](https://trello.com/c/M4mZZATj/36-contact-edit-individual-contact-ensure-all-default-fields-can-be-updated-saved)

[2020-05-26 18:39] RCheesley opened #8837 "Hubspot field mapping pagination requires saving between pages"
## Bug Description
I came across this bug when I was testing the HubSpot integration. Once the integration has been connected to HubSpot and the fields are available for mapping, the list of fields is paginated within the modal pop-up tab.

This is to be expected due to the number of fields available, however when I was done completing the first set of fields, as a user I expect to be able to clic

[2020-05-26 19:37] RCheesley commented on #8837
Looking into this a bit further, trying to go to the second page of contact company fields and I am not able to access them, so these can't be configured, in my experience.

[2020-05-26 19:39] RCheesley commented on #8837
![](https://github.trello.services/images/mini-trello-icon.png) [Plugins/Hubspot](https://trello.com/c/DpfBId7q/96-plugins-hubspot)

[2020-05-26 20:56] webma5ter23 commented on #8725
The same here, I can't get it to work. I cleared cache, I enabled the api and nothing

[2020-05-26 21:09] RCheesley opened #8838 "Unable to batch-set DNC on contacts"
## Bug Description
When selecting multiple contacts and choosing set DNC, a 500 internal server error is thrown method getLead not exists

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Select multiple leads
2. Batch change to set DNC

[code]

[2020-05-26 21:10] RCheesley commented on #8838
![](https://github.trello.services/images/mini-trello-icon.png) [Contact > Check batch update - Set Do Not Contact](https://trello.com/c/2TAF0ods/34-contact-check-batch-update-set-do-not-contact)

[2020-05-26 21:13] RCheesley opened #8839 "Unable to change owner of company"
## Bug Description
When editing a company and changing the owner a 500 error is thrown due to a column not being found 'companyfax'

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Edit a company
2. Assign owner and save

### Log errors

[code]

[2020-05-26 21:14] RCheesley commented on #8839
![](https://github.trello.services/images/mini-trello-icon.png) [Companies > Change company owner](https://trello.com/c/JVyfQVRZ/123-companies-change-company-owner)

[2020-05-26 21:35] RCheesley commented on #8839
After doing a bit of digging on this, it seems like this may well relate to sample data. When I create a company from scratch I do not experience this problem.

[2020-05-26 23:26] dennisameling commented on #8819
CLI version of the upgrade script is also working now 🎉

[code]

Next to that, added file cleanup, **then tested both a CLI upgrade and a UI upgrade. Both work now in my test environment**, there's just one minor note for the CLI upgrade: I had to separate the CLI upgrade into 2 phases. The second phase starts after the M3 files are put in place, after which the script needs to be restarted for Sy

[2020-05-27 07:44] dsp76 commented on #8839
Nope. I can confirm this also exists with new companies. At least when you enter it the second time and trying to save&close.

[2020-05-27 07:52] dsp76 commented on #8839
@RCheesley same issue with "Change owner of contact". Probably same root cause? Could we change the title and keep it in one issue?

`Error 500 Internal Server Error - An exception occurred while executing 'UPDATE 3_x_leads SET fax = ?, preferred_locale = ?, attribution_date = ?, website = ?, facebook = ?, foursquare = ?, instagram = ?, linkedin = ?, skype = ?, twitter = ? WHERE id = ?' with param

[2020-05-27 08:21] RCheesley commented on #8839
Have you tried this locally on an Mautic 3.x instance @dsp76? Still unable to reproduce outside of Mautibox.

[2020-05-27 09:27] raghav111jain opened #8840 "3.0 beta 2 cronjob not working also campaign || help please ASAP"
show this cron log file anyone help me ASAP
**Could not open input file: /home/xxxx/public_html/contactl/app/console**

[2020-05-27 13:46] meetingb opened #8842 "Mautic file attachement form"
Hello

i have mautic form with file attachement, have automatic response for suscriber and automatic repport for admin, but can't send file link form or file attachement in admin mail, dont find token for do this and dont see file link in suscriber profile and not have field file in all field list and can't create it!

can you tell me what can i do?

thankyou

[2020-05-27 17:52] RCheesley commented on #8840
In Mautic 3 the path is now bin/console. See https://www.mautic.org/blog/community/mautic-3-is-coming#developers

[2020-05-27 17:52] #8840 closed, assigned to nobody

[2020-05-27 17:54] RCheesley commented on #8837
Duplicate of #8815 will copy over additional info

[2020-05-27 17:54] #8837 closed, assigned to nobody

[2020-05-27 17:56] RCheesley commented on #8815
I came across this bug when I was testing the HubSpot integration. Once the integration has been connected to HubSpot and the fields are available for mapping, the list of fields is paginated within the modal pop-up tab.

This is to be expected due to the number of fields available, however when I was done completing the first set of fields, as a user I expect to be able to click through to the se

[2020-05-27 17:57] RCheesley commented on #8815
![](https://github.trello.services/images/mini-trello-icon.png) [Plugins/Hubspot](https://trello.com/c/DpfBId7q/96-plugins-hubspot)

[2020-05-27 19:25] alanhartless commented on #8834
@luizeof This happens to be a compatibility issue with Mautic 3. Mautic 3 refactored how it leverages configuration parameters to no longer be dependent on Symfony's container rather it now uses Symfony 3's environment dynamic variable support. https://github.com/mautic/mautic/blob/3.x/UPGRADE-3.0.md#removing-the-container-as-a-configuration-dependency

Mautic 3 loads the configuration options int

[2020-05-27 20:17] afonseca08 commented on #8815
@RCheesley thank you for recording and sharing the video. It does a great job of showing various issues related to the integration contact mapping that will need to be addressed.

[2020-05-27 21:16] luizeof commented on #8834
thanks @alanhartless.

in addition to trusted proxies, are there any other variables that must be passed through the Docker ENV and that will no longer be in `local.php?

[2020-05-28 07:08] kuzmany commented on #8838
I'll take it.

[2020-05-28 07:19] kuzmany commented on #8821
I'll take it.

[2020-05-28 15:52] luizeof commented on #8834
@alanhartless tested. We need to remove the `trusted_proxies` from local.php.

After, we need to add the settings you recommend: MAUTIC_TRUSTED_HOSTS = ["0.0.0.0\\/0"]

This works fine!

[2020-05-28 15:58] akindemirci commented on #7527
This issue is caused by incomplete translation strings in this file:
translations/tr/LeadBundle/messages.ini

Line 318 should be:
`mautic.lead.lead.searchcommand.isanonymous="is:adsız"`

While you're at it, likewise, the next line should be:
`mautic.lead.lead.searchcommand.isunowned="is:sahipsiz"`

[2020-05-28 16:27] wise-gorilla opened #8843 "Dynamic content variable doesn't work inside html attributes"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Dynamic content variable doesn'

[2020-05-28 16:59] RCheesley commented on #7179
![](https://github.trello.services/images/mini-trello-icon.png) [Focus Items > Website snapshot](https://trello.com/c/H2IR0vUg/308-focus-items-website-snapshot)

[2020-05-28 17:37] KALA-Typo3 commented on #3812
Happened to me too when I installed mautic over composer with local php and tried to run it over ddev.

Deleting app/cache (whole folder, not only its content) helped.

[2020-05-28 20:24] luizeof commented on #8834
@alanhartless even passing ["0.0.0.0\\/0"], does not work.

I tested in several formats and I was not successful.

[2020-05-28 21:31] luizeof commented on #8834
@RCheesley @alanhartless

after numerous tests, the solution was:

- remove trusted_proxies from `local.php`
- remove ENV `MAUTIC_TRUSTED_PROXIES` from Docker

apply this pull: #7931

Mautic 3 running fine on popular open source reverse proxies like `nginx-proxy` and `traefik`.

[2020-05-29 00:41] tuiuiudev commented on #7781
Hey, hey,

We are facing a similar issue with the new release v2.16.2

As we update, it is not displaying in the campaign decision node (Open email).

![image](https://user-images.githubusercontent.com/66097503/83208047-0e12cc00-a12b-11ea-8844-764d334eebed.png)

Is there something wrong with us, or is it general?

Thanks for your attention. I’m looking forward to your reply.

[2020-05-29 00:51] TnowL commented on #6613
Confirmed @alexhammerschmied workaround works without messing with the database.

[2020-05-29 09:04] goranculibrk commented on #7554
Hi there,
I started facing the same issue. Contact have multiple companies, but email tokens like {contactfield=companyname} only pulls primary company.
Was there any progress regarding this?

[2020-05-29 11:24] kuzmany commented on #8839
I can't reproduce. Obliviously related to Mautibox and some changes there  - I see two Company Fax custom fields there etc

[2020-05-29 11:27] npracht commented on #8839
@RCheesley are you able to reproduce on a local environment ? Or Acquia’s prod instance for example ?

[2020-05-29 11:32] kuzmany commented on #8839
@RCheesley is not able to reproduce in local enviroment. Then we can close  this issue

[2020-05-29 11:39] kuzmany commented on #8821
Fix https://github.com/mautic/mautic/pull/8846

[2020-05-29 12:10] kuzmany commented on #8823
Fix https://github.com/mautic/mautic/pull/8848

[2020-05-29 12:13] kuzmany commented on #8822
Does it related just to Mautibox? I am not able to reproduce it

[2020-05-29 12:58] #8839 closed, assigned to kuzmany

[2020-05-29 13:23] zaharovrd commented on #6613
`* Add a tag after x minutes`
which tag?
maybe screenshot?

[2020-05-29 13:35] RCheesley commented on #8839
@heathdutton pinging FYI

[2020-05-29 13:52] heathdutton commented on #8839
Agreed this must be connected to manual changes made on the 3.x mautibox or an old migration. Perhaps someone deleted a field or something? In other mautibox PRs I could not reproduce. I'll clean that stage's db, and you can test again.

[2020-05-29 13:58] RCheesley commented on #8839
Is it possible to automate that on a time basis? I recall talking about it a while back and we were concerned about the chance of kicking someone out mid test, from memory

[2020-05-29 14:01] heathdutton commented on #8839
It is automated to catch updates/migrations/etc but not to purge and rebuild from scratch. That's by manual decision currently. That being said, perhaps the 3.x/staging branch should be treated differently than the PRs and purged daily?

I'd be cool with that.

[2020-05-29 14:02] heathdutton commented on #8839
I wonder if the issue was caused by such a forced migration update from a 3.x branch change in the last ~4 days?

[2020-05-29 15:32] ivan006 opened #8849 "campaigns are not running"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
See below for situation and pro

[2020-05-29 15:54] npracht commented on #8849
Did you setup your CRON ?
It works for everybody and your message doesn’t help to reproduce.

[2020-05-29 15:54] #8849 closed, assigned to nobody

[2020-05-29 16:15] ivan006 commented on #8849
[code]

[2020-05-29 16:15] ivan006 commented on #8849
is there anyway i can get this issues reopened? I am willing to do what it takes to clarify my question to the fullest degree

[2020-05-29 20:40] dhilst opened #8850 "Plugin submenu (channel->plugin->submenu) wont open?"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-05-29 20:42] coreyworrell commented on #7524
Any updates on this? Currently we cannot run Google ads at the same time we use Mautic on any of our client's site.

[2020-05-30 02:07] TnowL commented on #6613
Action > Modify contact's tags

[2020-05-30 09:55] RCheesley opened #8851 "Change wording for publish dates (as it does not change the published status)"
## Bug Description
When a landing page is published and has a date time to publish, this works successfully and I said it expired icon against the landing page when that date time has passed.

When the landing page is **unpublished** however, and there is a date time for it to be **published**, nothing happens. The page remains and unpublished after the date time has passed. Edit: This is confusin

[2020-05-30 09:56] RCheesley commented on #8851
![](https://github.trello.services/images/mini-trello-icon.png) [Landing Pages > Create landing page and check publish and unpublish at date/time feature works as expected](https://trello.com/c/pucRndT9/251-landing-pages-create-landing-page-and-check-publish-and-unpublish-at-date-time-feature-works-as-expected)

[2020-05-30 13:18] cefimadmin opened #8852 "Impossible to update to the version 2.16.2 - ssl error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-05-30 14:08] RCheesley opened #8853 "Selecting A/B test winner on email results in a 500 error"
## Bug Description
I created an email which had an AB variant and ran the test. When I clicked to determine which one would become the winner a 500 error was thrown.

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Create email with a/b test variant
2. Run the test
3. Click on the trophy to decide the winner and accept t

[2020-05-30 14:08] RCheesley commented on #8853
![](https://github.trello.services/images/mini-trello-icon.png) [Set A/B Variant as winner](https://trello.com/c/6IFyT9v1/403-set-a-b-variant-as-winner)

[2020-05-30 15:32] dennisameling opened #8854 "API access token lifetime and refresh token lifetime wrong default values"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
API access token lifetime and r

[2020-05-30 21:54] RCheesley commented on #8822
Yes, looks to be the case!

[2020-05-30 21:54] #8822 closed, assigned to nobody

[2020-05-31 06:42] OmerGafny commented on #8852
Seems pretty straight forward: You need to renew your SSL certificate. Do you use OpenSSL? its pretty simple to renew it with Certbot

[2020-05-31 08:13] cefimadmin commented on #8852
My SSL certificate is valid until 10/12/2020.

[2020-05-31 09:14] cefimadmin commented on #8852
After contact with my host, the problem comes from the root authority certificate that is being renewed.

[2020-05-31 10:40] zaharovrd commented on #6613
What did you name the tag?
For example, "does not read letters"?

[2020-05-31 10:42] ivan006 opened #8855 "campaigns are not running - with details"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
See below for situation and pro

[2020-05-31 15:00] kuzmany commented on #8851
You're talking about Page URL or Public Preview URL
From my tests public preview works, but Page Url doesn't work. For me works properly

![image](https://user-images.githubusercontent.com/462477/83355517-3a635e00-a360-11ea-9f84-315966bc195d.png)

[2020-05-31 15:35] kuzmany commented on #8853
Fixed https://github.com/mautic/mautic/pull/8856

[2020-05-31 16:10] RCheesley commented on #8851
The physical landing page in the list is still showing as unpublished, despite the date for publishing being set.  So the switch says 'unpublished' and it's red, rather than being changed to 'published' and being green, after the date on which it should be published has passed.

When I tried with the opposite behaviour (unpublishing a published page) when the time passed, the page changed to 'expi

[2020-05-31 16:30] kuzmany commented on #8851
But I don't understand what is issue. If page it's unpublished, then publish date/unpublished date are irrelevant. You need publish page and then the status of page relevant to setup dates

[2020-05-31 17:41] RCheesley commented on #8851
Here is a short screencast to explain https://youtu.be/eYgOzH9sLLs

[2020-05-31 20:33] RCheesley opened #8857 "Missing language string on marketing message delete modal"
## Bug Description
When the delete confirmation modal appears after deleting a marketing message from the message view, there is a missing language string: mautic.message.form.confirmdelete

| Q   | A
| --- | ---
| Mautic version | 3,0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Open a marketing message and select to delete from the dropdown menu
2. Notice the

[2020-05-31 20:33] RCheesley commented on #8857
![](https://github.trello.services/images/mini-trello-icon.png) [Marketing Messages > Delete message](https://trello.com/c/wUvDHGDE/304-marketing-messages-delete-message)

[2020-05-31 21:11] RCheesley opened #8858 "Unable to upload a theme via the UI"
## Bug Description
I downloaded a default theme and updated the name in the config.json file and zipped the files.

Uploading via the UI on both my local instance and on Mautibox results in the file being uploaded but the following message is shown: `The theme you tried to install is missing the following required files and thus could not be installed: config.json, html/message.html.twig`

If I dr

[2020-05-31 21:12] RCheesley commented on #8858
![](https://github.trello.services/images/mini-trello-icon.png) [Themes > Upload](https://trello.com/c/HvULoFgp/378-themes-upload)

[2020-06-01 07:43] Error-418 opened #8859 "Landing page hit does not provide consistent results"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I've created a Double-Opt in em

[2020-06-01 08:50] cefimadmin commented on #8852
Hello,

My host has updated the ssl certificate chain and everything works. But I still have the same error for the update with version 2.16.2

The command 'php app/console mautic:update:find' returns the following error in mautic log : mautic.ERROR: An error occurred while attempting to fetch updates: SSL certificate problem: certificate has expired [] []

Thank you for your help.

[2020-06-01 10:59] RCheesley opened #8860 "500 error thrown when creating role with custom permissions"
## Bug Description
When testing creating a role with all permissions except for segments a 500 error is thrown.

| Q   | A
| --- | ---
| Mautic version | 3.3.3-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Create a role with all permissions full except Segments which has no permissions set

### Log errors

[2020-06-01 10:52:34] mautic.CRITICAL: Uncaught PHP Excepti

[2020-06-01 11:00] RCheesley commented on #8860
![](https://github.trello.services/images/mini-trello-icon.png) [Roles > check all bundle permissions working as expected](https://trello.com/c/KkGuBkQ1/393-roles-check-all-bundle-permissions-working-as-expected)

[2020-06-01 11:10] starshunter88 opened #8861 "CORS ISSUE"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-01 12:18] gregorybrad commented on #7524
@coreyworrell there is a post by @RCheesley in this thread on creating a template for google tag manager. I have no clue how to do it but I believe that's the next step to help with this problem.

[2020-06-01 13:07] cefimadmin commented on #8852
I managed to download the update package with the following command : curl -L https://github.com/mautic/mautic/releases/download/2.16.2/2.16.2-update.zip > 2.16.2-update.zip.

And I don't have any ssl errors like with the command line : 'php app/console mautic:update:find'

[2020-06-01 14:01] dennisameling commented on #8819
Just finished the pre-upgrade checks: https://github.com/mautic/mautic/pull/8824/commits/9c9c4e50e32ef6ad1fc2975b880521fd7a5ac953

Hope to finish the rest of the script within the next day or two, so we can start testing 🎉

[2020-06-01 14:15] RCheesley opened #8863 "Missing language string on marketing message overview"
## Bug Description
When viewing a marketing message, there is a missing language string: mautic.campaign.message.send

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome 83

### Steps to reproduce
1. Create and send a marketing message
2. View message overview and note the missing string

![screenshot-local mautic3-2020 06 01-15_09_15](https://user-imag

[2020-06-01 14:23] RCheesley opened #8864 "Undefined index when sending marketing message including a channel where segment members have a different channel preferred"
## Bug Description

When testing marketing messages I set up a segment which had uses the different preferences configured to see what would happen when I sent different types of messages in my marketing messages.

Sending a marketing message which only had an email and no other channels when there were users who had text message as their preferred channel resulted in the following error when I ra

[2020-06-01 14:32] RCheesley commented on #8864
![](https://github.trello.services/images/mini-trello-icon.png) [Marketing Messages > Email only base language](https://trello.com/c/8XqjGi3P/292-marketing-messages-email-only-base-language)

[2020-06-01 14:37] RCheesley commented on #8864
Further testing when sending a marketing message which is SMS only and there are people in the segment who have email preferred:

[code]

[2020-06-01 14:38] RCheesley commented on #8864
![](https://github.trello.services/images/mini-trello-icon.png) [Marketing Messages > SMS only base language](https://trello.com/c/0hD1tuEL/294-marketing-messages-sms-only-base-language)

[2020-06-01 16:49] mohit-rocks commented on #8860
PR https://github.com/mautic/mautic/pull/8865 fixes the issue.

[2020-06-01 17:00] RCheesley commented on #8860
Fantastic, thanks @mohit-rocks  - will test!

[2020-06-01 17:25] pchernandes opened #8866 "Didnt receive the email for user validation so I can't log in"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-01 19:17] RCheesley commented on #8866
Hi there, you'll need to include a bit more detail if anybody is going to be able to help you. Log in where, for example?

[2020-06-02 02:07] jadersbr opened #8867 "Reschedule event or cancel event in contact's history isn't working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In contact's history, specifica

[2020-06-02 03:23] kuzmany commented on #8867
This should fixed it https://github.com/mautic/mautic/pull/8116

[2020-06-02 05:11] mohit-rocks commented on #8616
PR #8818 fixes the issue.

[2020-06-02 10:12] dsp76 commented on #8852
Same here...

[2020-06-02 11:28] Gauss23 commented on #8852
Same here. It seems as if there is something wrong with the SSL cert of `updates.mautic.org`.

Here is what wget is telling me:
[code]

[2020-06-02 11:34] pchernandes commented on #8866
Here: https://prnt.sc/ssasxp

I didn't receive the email to confirm my email, so I can't log in anywhere.

[2020-06-02 11:56] mukesh9770 opened #8869 "read , click not working in mautic"
![read click](https://user-images.githubusercontent.com/2397465/83517219-1fc2ed80-a4f6-11ea-83eb-039436b573e5.png)
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troub

[2020-06-02 11:57] nrfocus opened #8870 "Non administrator role can not override locked segment"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Non administrator role can not

[2020-06-02 12:00] cefimadmin commented on #8852
You are right, the AC certificate COMODO is expired since 30 may.

https://www.ssllabs.com/ssltest/analyze.html?d=updates.mautic.org

COMODO RSA Certification AuthorityFingerprint SHA256: 4f32d5dc00f715250abcc486511e37f501a899deb3bf7ea8adbbd3aef1c412daPin SHA256: grX4Ta9HpZx6tSHkmCrvpApTQGo67CYDnvprLg5yRME=
--
Valid until | Sat, 30 May 2020 10:48:38 UTC (expired 3 days, 1 hour ago)   EXPIRED

[2020-06-02 12:31] dsp76 commented on #8852
OMG, spent couple of hours to identify the cause. Thanks @fgauttron !

[2020-06-02 14:06] alexhammerschmied commented on #6613
@zaharovrd yes for example. It doesn't really matter. It is only for you and the purpose of the workaround. You could also name it a1, a2, b1, b2, c1,...

[2020-06-02 14:20] dennisameling commented on #8852
The SSL certificate of https://updates.mautic.org is valid until the 1st of August 2020:

![image](https://user-images.githubusercontent.com/17739158/83530731-6dd2f380-a4ec-11ea-83be-147f5bb159d9.png)

However, Sectigo's old CA root has expired on May 30. This shouldn't be a problem for modern operating systems:

More info on the Sectigo website: https://support.sectigo.com/Com_KnowledgeDetailPage

[2020-06-02 15:13] dennisameling commented on #8852
@fgauttron @dsp76 @Gauss23 We updated Comodo's intermediate certificate on our server, should be fixed now! SSL Labs [doesn't report errors anymore](https://www.ssllabs.com/ssltest/analyze.html?d=updates.mautic.org):

![image](https://user-images.githubusercontent.com/17739158/83536948-37997200-a4f4-11ea-87b7-78eccea0a711.png)

Please let us know if it works again for you. Apologies for the inconv

[2020-06-02 18:11] RCheesley commented on #8852
Thanks for flagging this folks, I'm going to close the issue now as this should be resolved!

[2020-06-02 18:11] #8852 closed, assigned to dennisameling

[2020-06-02 19:30] dennisameling commented on #8780
Just had a call with @dongilbert and we'll try to harmonize efforts for implementing OpenAPI between Acquia and the community, so that we're all on the same page. We expect to move into the direction of introducing a new API version (v2) using [API Platform](https://api-platform.com/), which will make maintenance a lot easier for all parties involved, make the API more predictable/stable and will

[2020-06-02 20:17] jadersbr commented on #8867
I applied this PR in Mautic 3.0.0-beta2 and Mautic 2.16.0. The issue with cancel event was fixed. The scheduled event was deleted.

However, reschedule the event didn't work.

[2020-06-03 16:55] mohit-rocks commented on #8863
https://github.com/mautic/mautic/pull/8871 fixes the issue.

[2020-06-03 18:44] dennisameling commented on #8831
For all configuration parameters in the table above, a decision has been made on what to do with it (see https://docs.google.com/spreadsheets/d/1Fr_VBuiDbYy_YdjPMCFsFIyUP5vz6nexiNg9BNarluM/edit#gid=0) and all necessary migrations are in place in the [upgrade script](https://github.com/mautic/mautic/issues/8819).

Last thing that's left is to update the https://github.com/mautic/mautic/blob/3.x/UPG

[2020-06-03 19:43] jpuebla opened #8872 "Webhook payload stage object not complete"
Mautic version v2.16.2

Payload stage object from webkook "lead_post_save_update" is not complete, some properties missing:

["mautic.mautic.lead_post_save_update"]
{[
  {
    .....
      "ipAddresses": [],
      "tags": [],
      "utmtags": [],
      "stage": {
        **"createdByUser": "Name LastName",
        "modifiedByUser": null**
      },

I only get 2 properties of lead stage.

If I try t

[2020-06-03 20:31] dennisameling commented on #8819
Just added `mysqldump` database backup functionality, added a note about `api_rate_limiter_cache` (see [here](https://github.com/mautic/mautic/issues/8831#issuecomment-638389557) for details) and fixed several bugs. https://github.com/mautic/mautic/pull/8824/commits/e246a6fb157c6107537585a6f3ad8ea84b6ca3a7

I already ran into some issues while testing, e.g. with a custom plugin that wasn't compati

[2020-06-04 06:18] prabhucbe commented on #8118
+ email-smtp.ap-south-1.amazonaws.com

Please add this region too

[2020-06-04 08:47] ithieund opened #8873 "vTiger Plugin - Some leads not syned to vtiger when they submit the form at the same time"
## Bug Description
Let's say we have 5 to 10 customers that submit the landing page at the same time
Only some of that leads can be synced to vtiger, many of them not be synced!

## Environment
Mautic version: v2.16.2 and v3.x
PHP version: v7.1.32 and v7.3.9
Browser: Chrome, Firefox, Safari

### Steps to reproduce
1. Create a new Form with some fields that match the lead fields. Set Action for thi

[2020-06-04 10:54] StoppingBuck commented on #5329
I am fairly certain now that this is fixed. We no longer get the error. I think we can close this one
( @RCheesley )

[2020-06-04 11:34] npracht commented on #8851
@RCheesley and @kuzmany what is conclusion of your discussions ? :)

[2020-06-04 11:40] #5329 closed

[2020-06-04 12:45] kuzmany commented on #8851
@RCheesley I think it's not issue.

This is feature across all Mautic.

If entity (email, landing page, text message..) is unpublished, then is unpublished even no matter what you set in publish up/publish down - dates are ignored.
If entity is published, then If you set publish up/publish down - the dates are used based on values:

- if publish up is in the future - then entity is not accessible

[2020-06-04 12:51] kuzmany commented on #8858
I've checked  Ruth.zip.
Template files in zip cannot be in directory (in your case Ruth).

Try this version. Should work properly

[Ruth.zip](https://github.com/mautic/mautic/files/4730106/Ruth.zip)

[2020-06-04 14:07] zaharovrd commented on #6613
I got a bit, and if I have email 1 and the condition for opening it:
"if you read email 1, then send email 2.
"if you have not read email 1, then send email 1_1"

If, under the positive condition of opening email 1_1, I just send email 2, will the chain go no further (email 3, email 4...)?

[2020-06-04 14:15] RCheesley commented on #8858
Ah OK sorry, user error! :blush:

[2020-06-04 14:15] #8858 closed, assigned to kuzmany

[2020-06-04 14:54] RCheesley commented on #8851
So if I understand you correctly, the published/unpublished status of something in Mautic is not related to the publish up/publish down dates but instead they relate to a resource becoming expired when the publish down date is reached?

My understanding as a user would be published up = published, published down = unpublished.  So it seems a bit strange having two different types of availability,

[2020-06-04 15:09] kuzmany commented on #8851
@RCheesley renaming could be good way to improve it

[2020-06-04 19:28] RCheesley opened #8875 "Error undefined method on changing stage via campaign"
## Bug Description
When trying to change the stage of a contact in a campaign the following error is thrown

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome

### Steps to reproduce
1. Create a campaign with add stage action
2. Run campaign

### Log errors
[code]

[2020-06-04 19:28] RCheesley commented on #8875
![](https://github.trello.services/images/mini-trello-icon.png) [Campaign Builder > Change Stage](https://trello.com/c/px3cl7FF/405-campaign-builder-change-stage)

[2020-06-04 19:32] RCheesley opened #8876 "Missing language string on campaign preview"
## Bug Description
There is a missing language string here:

![screenshot-local mautic3-2020 06 04-20_19_20](https://user-images.githubusercontent.com/2930593/83802271-576e9880-a6a2-11ea-8fb5-0f67e65203e2.png)

| Q   | A
| --- | ---
| Mautic version | 3.0.0-beta-2
| PHP version | 7.2.31
| Browser | Chrome

### Steps to reproduce
1. Add remove from DNC in a campaign
2. Preview

[2020-06-04 19:33] RCheesley commented on #8876
![](https://github.trello.services/images/mini-trello-icon.png) [Campaign Builder](https://trello.com/c/aJLK4f4f/404-campaign-builder)

[2020-06-04 21:40] S733 opened #8877 "Disable public access to Mautic login/dashboard"
Hi,
   For security reasons I need to restrict public access to mautic login/dashboard. I'm using the mautic docker container along with nginx-proxy container. I tried to add nginx rules to block access to /s/.  For authorized users I'm getting 404 and for unauthorized users, getting 403 Forbidden. I used the below code, any one please suggest what I'm doing wrong or any other way to get this work

[2020-06-05 10:17] StoppingBuck commented on #8153
After doing some migrations I can see that the fields are no longer submitted by default for, at least, status change hooks.

For example, this is an status change webhook I received today:

[code]

While I am glad to see the fields are no longer being sent by default, it seems that now the ip addresses are (which are also unnecessary for most scenarios), and the rest of the issues with the non-st

[2020-06-05 10:28] jos0405 opened #8878 "The UTM tags are not URL encoded"
## Bug Description
When you use special characters in UTM tags, like "hírlevél", than these chars are not URL encoded, this causing 404 errors when arriving to mautic
Search for similar report among other reported issues.

### Steps to reproduce
create utm tag: hírlevél
send email, try the link, not working
### Log errors

[2020-06-05 10:58] vdavid opened #8879 "Froala messes up the HTML source"
## Bug Description

In the "send email" window, when I edit an email, Froala messes up the HTML source by adding `fr-original-class`, `fr-original-style` HTML attributes, removes others, and rearranges the code somewhat.

Email screenshot: https://www.screencast.com/t/NygKFsqW
Code screenshot: https://www.screencast.com/t/myHM0ybj
(left side: good version, right side: messed up by Froala)

Version

[2020-06-05 11:44] cefimadmin opened #8880 "Can't edit existing segments after update to 2.16.2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-05 12:02] #8411 closed

[2020-06-05 12:03] #7529 closed

[2020-06-05 12:10] lrqnet opened #8881 "SQLSTATE[HY000] [2002] Connection refused (uncaught exception) - Cron Jobs"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hello, commuinity. I have this

[2020-06-05 12:10] RCheesley commented on #7186
Hi folks, this is not the place for feature requests, we manage those on the forums. Here is a forum thread which I would suggest you up vote if you want this feature, and add any further comments there.

https://forum.mautic.org/t/improve-ui-and-tagging-ability-when-contact-filtering/14633

[2020-06-05 12:10] #7186 closed

[2020-06-05 12:11] #4644 closed

[2020-06-05 14:08] dhilst opened #8882 "Campaign action from custom plugin is not retried even with $event->setResult(false)"
[//]: # (READ THIS BEFORE PUBLISHING YOUR ISSUE)

[//]: # (Please post questions, support requests and feature requests/ideas at https://forum.mautic.org.)
[//]: # (Strictly follow the instructions hereunder, otherwise your issue will be closed for lack of information.)
[//]: # (DO NOT report security vulnerabilities here. Send them to security@mautic.com.)

Detail your bug report:

| Q  | A
| ---

[2020-06-05 14:43] dhilst commented on #8882
I noted that, if I delete entries from `MAUTIC_PREFIX.'campaign_lead_event_log'` and run `mautic:campaign:trigger` again, it invokes the action again, so I think is something related to the campaign event logs.

I could track it up to this query

[code]

Where the subquery `NOT EXISTS (SELECT NULL ...` is filtering out leads. Since there are no leads to process the action is not executed again. Th

[2020-06-05 16:22] RCheesley opened #8883 "Number field seems to offer help but there are no tooltips showing"
## Bug Description
When testing the custom field creation, I noticed that on the number field type we have two 'buttons' that look like they should provide help or tooltips but they provide neither.

![screenshot-local mautic3-2020 06 05-17_18_34](https://user-images.githubusercontent.com/2930593/83899685-c60a2f80-a750-11ea-8e82-e0607995b42c.png)

If the intent was to show some information, this n

[2020-06-05 20:10] dhilst commented on #8882
Okay. I got the problem. If I set _Wait time before retrying a failed action_ to 0mn, the failed event is not rescheduled.

This happens because [$interval](https://github.com/mautic/mautic/blob/staging/app/bundles/CampaignBundle/Executioner/Scheduler/EventScheduler.php#L180) got `"null"` (a string with `null` not a `null` value), so that an exception is caught [here](https://github.com/mautic/mau

[2020-06-06 22:28] dominicplum commented on #6613
@alexhammerschmied but you update campaign or do clone campaign and repair by adding tag before? Because I update campaign and this not working for me still. Also I clone and repair by adding tag before jump to event link to form and still not working.

[2020-06-06 23:20] dennisameling opened #8885 "3.0.0-beta2 - cache:clear throws warnings"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Q   | A
| --- | ---
| Mautic

[2020-06-06 23:44] dennisameling commented on #8819
Did a major overhaul of the UI upgrade of M3 today (otherwise users see a blank loading screen for a few minutes). Gives them exact details of which step is currently running. If an error occurs, error details are shown including a link to the docs for that specific error, e.g. https://docs.mautic.org/en/mautic-3-upgrade-errors#err_move_mautic_2_and_3_files

![Muatic upgrade script success](https:

[2020-06-07 00:36] ghost commented on #8484
Found a solution here: https://stackoverflow.com/questions/37280019/mautic-unable-to-connect-with-tls-smtp

[2020-06-07 01:01] ivan006 commented on #8855
my cron jobs weren;t validated. use this to validate https://crontab.homecoded.com/

[2020-06-07 01:01] #8855 closed, assigned to nobody

[2020-06-07 08:41] lanen-p commented on #8124
Mautic 2.16.2
PHP 7.3.18
We use an "Other SMTP server" for sending Mautic e-mails. Sending works fine with "Sendmail" as SMTP on a VPS.

For bounce management, we notice the same issue (#8124) and look forward to solving this issue soon?

QUESTIONS:
Will this issue be solved in Mautic 3.0?
Can a developer from the community debug this issue for us in 2.16.2 (rfi/rfq)? - Maybe @alanhartless ?

Than

[2020-06-07 14:38] dennisameling commented on #8885
As a quick fix I [included](https://github.com/dennisameling/mautic/commit/559ca76ea4381a9bae75b310efa901e422bed73d) all tests in a M3 package that I use in the upgrade script: https://github.com/dennisameling/mautic/releases/tag/3.0.0-beta2fixed.

Quick analysis of the root cause is that only the DataFixtures are causing these warnings: since they are in the `config.php` of those bundles they are

[2020-06-07 16:27] dennisameling commented on #8819
Things done today:
- Database migrations in the UI are now executed 1 by 1 instead of all at once, to prevent PHP timeout errors. Added benefit is that we can show the amount of migrations that still need to run (e.g. 12 migrations left...)
- Send error codes to Telemetry server (need to finish https://github.com/mautic/statsapp/pull/1 in order to get that to work)
- Built integration with Mautic'

[2020-06-08 01:53] PeachySoftware opened #8887 "Add Stage as a filter to email dynamic content creates 500 server error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Dynamic Content in a email filt

[2020-06-08 07:49] RCheesley commented on #8887
Possibly related to #8875 for Mautic 3

[2020-06-08 13:02] panart-reclamestudio opened #8888 "difference between outlook mac and windows"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-08 13:55] npracht commented on #7179
@RCheesley any chance to give the word to Acquia's team ?
**They have released a fix for it on cloud version Mautic - April 16, 2020¶
 --> https://docs.acquia.com/mautic/release-notes/**

[2020-06-08 14:05] RCheesley commented on #7179
I can ask in our internal meeting tomorrow @npracht

[2020-06-08 15:55] theblanchard opened #8889 "Unable To Install Mautic Locally"
Mautic version 2.16.2
PHP version 7.3.18

## Description:
Trying to install Mautic locally on Mac OS Catalina, but running into errors when creating the admin user.

### Steps to reproduce:
1. When going through the install steps, I am able to get to step 2 (creating the admin user), but when I hit submit, it goes to an error page:

- The site is currently offline due to encountering an error. If

[2020-06-08 16:12] adiux commented on #7360
I did see that the Version 3.1.0 milestone has been added. Does this mean the release of this has been set to August? Or can we expect to get it before as a plugin?

https://www.mautic.org/blog/press/mautic-community-introduces-multiple-major-improvements

[2020-06-08 16:49] trianity commented on #8098
@escopecz  I faced this issue several time also, and today i did a check and investigation on a fresh Matuic test instance using all viewpoints mentioned before in this thread.
Easy to reproduce and handle the issue.

My system is a VPS with enough resources:
Mautic: v.2.16.2
PHP version: 7.3.16
MySQL version: 10.4.13-MariaDB
Apache version: Apache/2.4.41
Distro Name: CentOS Linux release 7.8.2003

[2020-06-08 19:31] LMGomesCosmeticos opened #8890 "Erro com o Login"
Olá, tudo bem?
Meu nome é Heloisa, falo em nome da LMgomes Cosméticos.

Recentemente, começamos a introduzir o Mautic em nossa empresa. Então por enquanto, o único conhecimento que eu possuo do Mautic, é o cadastro de leads. Ou seja, estou bem perdida rsrs.

Tem 1 semana mais ou menos que eu não estou conseguindo mais logar na conta do Mautic. Ele abre a página para fazer o login, mas quando eu cl

[2020-06-08 22:27] michetk commented on #6618
c é o cara vlw

[2020-06-09 02:45] alanhartless commented on #8826
I rebuilt and update the packages on the 3.0.0-beta2 release.

[2020-06-09 05:36] npracht commented on #7360
We can expect the plugin being accessible before ! But in case we ass it natively in Mautic community plugin it won’t be before.

[2020-06-09 14:27] StoppingBuck commented on #7385
Just an update: I finally got a local dev environment set up, and tested the newest `staging` code and it seems that the `PATCH /api/contacts/batch/edit` now returns a changed format:

Request:

[code]

[code]

So, it seems the weird numbering field names in the `contacts` object are gone, which is at least a step in the right direction. I'll still see if I can't figure out how to turn the entire

[2020-06-09 21:18] isaiahdahl commented on #5219
@dbhurley This is still a problem. This need's to reopen and that package needs to be updated.

[2020-06-09 21:34] nickian commented on #5219
Looks like the [RichFilemanager](https://github.com/psolom/RichFilemanager) hasn't been updated/maintained since 2018. Who knows how many security bugs are there. Would be ideal to find a new file manager, or even better, write one that is specific to Mautic.

[2020-06-09 23:34] RCheesley commented on #5219
There is a new file manager in Mautic 3, you can check the beta at m3.mautibox.com.

[2020-06-09 23:36] RCheesley commented on #5219
See also for background:

https://www.mautic.org/blog/community/mautic-3-is-coming

https://www.mautic.org/blog/community/update-mautic-3

[2020-06-09 23:49] nickian commented on #5219
Ok, thanks! Looks like it is now using [elFinder](https://github.com/Studio-42/elFinder). Seems a bit overly complex, but definitely an improvement.

[2020-06-10 01:24] nathanielkam commented on #8792
Got this figured out kinda, at some point I upgraded to PHP7.4.6 which isn't supported. There were also potentially some issues with Mcrypt extension not being valid API version. There may also be an issue with my logs where all logs are created as root but need web server ownership to write to.

Effectively after doing a stack rebuild in 7.3 I did get this working.

[2020-06-10 11:20] hluchas commented on #7179
Ready to test ;-)

[2020-06-10 13:27] kuzmany opened #8895 "Linkedin integration doesn't work - require migration v1 API to v2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
While we use LinkedIn integrati

[2020-06-10 14:23] RCheesley commented on #8895
Duplicate of #7231

[2020-06-10 14:24] RCheesley commented on #8895
Also see #8726

[2020-06-10 14:44] trianity commented on #8606
Hello, the max_execution time usually 90 or 120 in my servers for Mautic. Enough high to run normally.

My issue was related to issue:
https://github.com/mautic/mautic/issues/7321

and to issue:
https://github.com/mautic/mautic/issues/8098

Using command: php app/console cache:clear --env=prod as root, changed some directory access and permission in the Mauitc file system and it was the cause of t

[2020-06-10 15:01] npracht commented on #7231
closing in favor of https://github.com/mautic/mautic/issues/8895

[2020-06-10 15:01] npracht commented on #8726
closing in favor of https://github.com/mautic/mautic/issues/8895

[2020-06-10 16:48] kuzmany commented on #7179
For M2 you can try this fix prevent error https://github.com/mautic/mautic/pull/8896
Let me know If works properly for you

[2020-06-10 20:37] dennisameling commented on #8863
Fixed in https://github.com/mautic/mautic/pull/8871

[2020-06-10 20:37] #8863 closed, assigned to nobody

[2020-06-11 07:47] dennisameling commented on #8826
Fixed by @alanhartless, closing this issue

[2020-06-11 07:47] #8826 closed, assigned to alanhartless, dennisameling

[2020-06-11 10:42] RCheesley commented on #8814
Not sure if this is related to #4888 which just had this PR submitted #8898?

[2020-06-11 10:53] RCheesley commented on #7982
Closing as duplicate of #7715

[2020-06-11 10:53] #7982 closed

[2020-06-11 11:46] sirpy opened #8899 "pageview of anonymous/non existing contact are not tracked"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
when a user sends the mt('send'

[2020-06-11 13:17] evenloooo opened #8900 "Wrong page.hit queue with mtracking.gif"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I embedded mautic tracking pixe

[2020-06-11 18:48] zietbukuel opened #8902 "{contactfield=ipAddress} variable does not work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I've tried to use `{contactfiel

[2020-06-12 18:31] javiergas opened #8903 "Received SES webhook of type 'Notification' but couldn't understand payload"
When sending emails through Amazon SES and using Amazon SNS Webhook, some bounces are successfully notified to Mautic, but others don't

When testing bounces with Amazon testing address (bounce@simulator.amazonses.com) it works OK.

Apparently there are some types of bounce notifications that generates this waning, and some that works OK

I tried in two different Mautic servers (2.16.2) with the s

[2020-06-13 14:16] nkosi23 commented on #7768
I am having the same problem as @vivekshekar  . Initially I couldn't login, and after applying the fix (remove cache, and remove index.php from local.php), even the login page cannot be accessed, i am getting an infinite redirect (301) response.

[2020-06-13 14:58] nkosi23 commented on #7768
I am behind a reverse proxy and the SSL termination point is at the reverse proxy (the connection between the reverse proxy and the mautic instance is not encrypted). I am accessing the mautic instance via unencrypted http since the connection goes through a VPN (people coming from the public internet cannot access the login page, there is a block rule in Apache).

I installed Mautic through the V

[2020-06-13 15:13] crms-matt opened #8904 "Integration not updated when Lead/Campaign Member removed in Salesforce"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Integration association with Sa

[2020-06-14 00:06] teddy76db opened #8905 "mautic.CRITICAL: Uncaught PHP Exception RuntimeException: "SSL certificate problem: unable to get local issuer certificate" CURL Php"
Hello,
we just installed mautic on our server (NGINX) we used the default configuration file for NGINX, all work perfectly but only one thing, when we wan't to make a FOCUS Item we enter valid informations and we press the button for launch the builder, and when we click on the builder we got an error 500.

We checked in the logs
 mautic.CRITICAL: Uncaught PHP Exception RuntimeException: "SSL cert

[2020-06-14 00:10] teddy76db commented on #8905
This is our NGINX Configuration file 👍
`server {
	server_name OURDOMAINNAMEwww.OURDOMAINNAME
	listen XXX.XX.XX.XXX;
	root /home/OURDOMAINNAME/domains/OURDOMAINNAME/public_html;
	index index.html index.htm index.php;
	access_log /var/log/virtualmin/OURDOMAINNAME_access_log;
	error_log /var/log/virtualmin/OURDOMAINNAME_error_log;
	fastcgi_param GATEWAY_INTERFACE CGI/1.1;
	fastcgi_param SERVER_SOFTWA

[2020-06-15 06:54] weismannweb commented on #2093
Is this only for server side in the Mautic side within the iframe?  I could not get the callbacks to work client side on the website the form code was placed.  I may be missing something but anyway I created this to do it on the website side for different conversions we needed:

`<script type="text/javascript" src="https://cdn.rawgit.com/meetselva/attrchange/master/js/attrchange.js"></script>`

[c

[2020-06-15 08:13] StoppingBuck commented on #7583
This looks like a duplicate of #7504

[2020-06-15 08:55] fianbiasa commented on #7265
it happend in Mautic 2.16.0

`[2020-06-15 15:46:40] mautic.ERROR: [MAIL ERROR] Unable to open file for reading [{tracking_pixel}] (send); rihlah******per@gmail.com {"exception":"[object] (Swift_IoException(code: 0): Unable to open file for reading [{tracking_pixel}] at /home/rihlahtu/email.ri******ahwisata.co.id/vendor/swiftmailer/swiftmailer/lib/classes/Swift/ByteStream/FileByteStream.php:144)"}

[2020-06-15 08:56] fianbiasa opened #8908 "[MAIL ERROR] Unable to open file for reading [{tracking_pixel}]"
it happend in Mautic 2.16.0

`[2020-06-15 15:46:40] mautic.ERROR: [MAIL ERROR] Unable to open file for reading [{tracking_pixel}] (send); rihlah******per@gmail.com {"exception":"[object] (Swift_IoException(code: 0): Unable to open file for reading [{tracking_pixel}] at /home/rihlahtu/email.ri******ahwisata.co.id/vendor/swiftmailer/swiftmailer/lib/classes/Swift/ByteStream/FileByteStream.php:144)"}

[2020-06-15 10:54] dennisameling commented on #8885
Currently working on fix, expecting an update in the coming hour

[2020-06-15 14:50] dennisameling commented on #8616
Fixed in #8818

[2020-06-15 14:50] #8616 closed

[2020-06-15 14:52] dennisameling commented on #8821
Fixed by #8825

[2020-06-15 14:52] #8821 closed, assigned to kuzmany

[2020-06-15 14:54] dennisameling commented on #8823
Fixed in #8848

[2020-06-15 14:54] #8823 closed, assigned to nobody

[2020-06-15 14:54] dennisameling commented on #8853
Fixed in #8856

[2020-06-15 14:54] #8853 closed, assigned to nobody

[2020-06-15 14:58] dennisameling commented on #8860
Fixed by #8865

[2020-06-15 14:58] #8860 closed, assigned to nobody

[2020-06-15 14:58] dennisameling commented on #8857
Fixed in #8893

[2020-06-15 14:58] #8857 closed, assigned to RCheesley

[2020-06-15 15:06] Vitoria96 opened #8911 "Emails of automation campaign are being sent with risk alert"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I created a campaign which emai

[2020-06-15 15:43] dennisameling commented on #8875
Fixed in https://github.com/mautic/mautic/pull/8907

[2020-06-15 15:43] #8875 closed, assigned to nobody

[2020-06-15 15:46] dennisameling commented on #8885
Fixed in https://github.com/mautic/mautic/pull/8910

[2020-06-15 15:46] #8885 closed, assigned to dennisameling

[2020-06-15 16:51] p4trizio commented on #8905
Same issue for me, using Apache2.4 on Mautic server and target website on the same server.
The problem is the same as of https://github.com/mautic/mautic/issues/7920 and https://github.com/mautic/mautic/issues/3909

[2020-06-15 17:01] RCheesley commented on #8905
Hi folks, there is a [PR pending](https://github.com/mautic/mautic/pull/8894) for a fix which will go into Mautic 3.0.1. For the time being remove the domain from the focus item and you will not see the error.

Closing as a duplicate of #7179

[2020-06-15 17:01] #8905 closed, assigned to nobody

[2020-06-15 17:29] RCheesley commented on #8911
Hi there,

Please post this at https://forum.mautic.org where you will be more likely to get support, as Github is only for bugs with Mautic.

[2020-06-15 17:29] #8911 closed, assigned to nobody

[2020-06-15 17:30] RCheesley commented on #8908
Hi there,

Please try with the latest version (2.16.2) as there were some fixes for encoded images.

[2020-06-15 19:08] wise-gorilla commented on #7360
@npracht
I was wondering why you didn't consider those 2 instead
https://github.com/unlayer/react-email-editor
https://github.com/npracht/delipress

[2020-06-15 20:31] RCheesley opened #8913 "Address quick & dirty fix for API default settings from #8854"
## Bug Description
We applied a quick and dirty fix to address this issue (see #8854 and PR #8912) , but we need to fix the root cause.

Parking for revisiting in 3.0.1.

[2020-06-15 20:49] fianbiasa commented on #8908
thank's for reply...
**done** with disabled **base64 image** in email setting.

[2020-06-15 21:09] dennisameling commented on #8801
@kuzmany I couldn't seem to reproduce this issue on Windows. Can you try with a clean install of 3.0.0 to see if the issue is still there? I'm moving this out of the 3.0.0 release for now, happy to look into it later 👍

[2020-06-15 21:09] dennisameling commented on #8854
Closing this issue in favor of #8913

[2020-06-15 21:09] #8854 closed, assigned to nobody

[2020-06-15 21:23] #8890 closed, assigned to nobody

[2020-06-15 22:07] dennisameling commented on #8819
Note to self while we are in the beta period:
- Look into `open_basedir` issue https://github.com/mautic/mautic/pull/8824#issuecomment-640285227
- Add pre-upgrade check for when instance has >10000 contacts, then recommend to do CLI instead of UI upgrade

[2020-06-16 02:51] #8492 closed

[2020-06-16 02:51] #8831 closed, assigned to dennisameling

[2020-06-16 04:27] npracht commented on #7360
Hi @Wise-Gorilla you know they are tones of them. We had to choose one we believed is good enough.

[2020-06-16 08:42] mutagatifu commented on #4710
dear Team, i need your help, am using mautic rest apis, but the one to edit contact is not working with PATCH and erase data with PUT

[2020-06-16 10:04] raghav111jain opened #8916 "How to Add New Custom Fonts Option in Emailer/page (mautic) !!!!!"
We've decided to use GitHub issues as a bug tracker only so the bug reports wouldn't be hidden in long list of ideas and support questions. Please go to https://forum.mautic.org/c/ideas to find support and discuss features.
**Add New Custom Fonts Option in Emailer/page (mautic) !!!!! if already exit please let me know ASAP**
#mautic3

[2020-06-16 10:23] raghav111jain opened #8918 "how to add new font in emailer "builder" (mautic3)!!!!!!"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-16 10:24] #8916 closed, assigned to nobody

[2020-06-16 10:44] RCheesley commented on #8918
Hi there, Github is for reporting bugs, please post your question at https://forum.mautic.org

[2020-06-16 10:44] #8918 closed, assigned to nobody

[2020-06-16 19:05] raiyansarker opened #8920 "Unable to install Mautic | Probably Database Problem"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
My Mautic is unable to install.

[2020-06-16 19:33] RCheesley commented on #8920
This has been raised on the support forum, please can you provide input there? I will leave this as a bug as it saves us raising it, but the correct place to get support is on the forums.

Here is the link to the issue: https://forum.mautic.org/t/mautic-3-0-installation-error-row-size-too-large/14801?u=rcheesley

[2020-06-17 06:54] RCheesley commented on #8920
Please see https://forum.mautic.org/t/mautic-3-0-installation-error-row-size-too-large/14801 - looks to be an issue with the database version being unsupported.

[2020-06-17 06:54] #8920 closed, assigned to nobody

[2020-06-17 06:55] RCheesley commented on #8908
Did this fix the issue or not? It was not clear from your message.

[2020-06-17 07:04] raiyansarker commented on #8920
I am unable to post in the forum. But I saw the post yesterday and the solution today. I checked my database version and it is what I found, "mysql  Ver 15.1 Distrib 10.1.44-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2". I am not using any panels, just apache2 and MySQL. I followed this guide to create the server and installation, https://blog.h-educate.com/how-to-install-mautic/

[2020-06-17 07:30] RCheesley commented on #8920
You just need to browse the forum for ~10 mins to get access to post and reply.

Looks like MariaDB 10.1, so suggest looking at updating that or installing where the version is higher.

[2020-06-17 07:39] clemens-tolboom commented on #8171
@szepeviktor not sure what your issue **summary** is :-0

Anyways https://github.com/mautic/mautic/blob/f59e78392410705bdb87ad5513f42e13c33a2e20/app/bundles/InstallBundle/Translations/en_US/messages.ini#L13-L18 has new content

PHP extensions requirements from that file are

[code]

and https://github.com/mautic/mautic/tree/3.x#mautic-requirements has no requirements.

It would be nice to know the

[2020-06-17 07:42] szepeviktor commented on #8171
It is a snippet to be included in `composer.json`
so you can check for PHP extensions at Composer install time.

[2020-06-17 07:42] szepeviktor commented on #8171
require -> mandatory
suggest -> optional

[2020-06-17 07:49] clemens-tolboom commented on #8171
It was a hint to update the summary ;-) [edit]to make a PR out of it[/edit]

[2020-06-17 07:59] szepeviktor commented on #8171
https://github.com/mautic/mautic/blob/e478a20c31c971cf265951bd92683400a2a66b19/composer.json#L19-L21

seems like 3.x has requirements :(

I SEE! Requirements **section** in the README.

[2020-06-17 08:11] szepeviktor commented on #8171
I think I'm not able to stand the pressure emanating from this project.
e.g. those empty lines in composer.json or the inline script in `scripts:`

[2020-06-17 10:02] ithieund commented on #2437
Is there any solution for this now? I can't find any related document.

[2020-06-17 14:35] liquidsnk opened #8921 "Mautic Batch API getting extremely slow after importing ~1M contacts"
## Bug Description
We're importing and synchronizing a great deal of leads/contacts into out Mautic database using the Batch API. Specifically `POST /api/contacts/batch/new`, `PUT /api/contacts/batch/edit` and `PATCH /api/contacts/batch/edit` depending on the situation.
We're sending batches of 200 items, one request at a time, which is the max on the default configuration and we determined initia

[2020-06-17 19:41] felipe0silva opened #8923 "New import page is not opening anymore"
We can not open the import page anymore because there is some previous import failed in the queue

I cant cancel this failed proccess and i'm not able to open a new import. Please Help, what can i do to solve this?

Look this image: https://imgur.com/a/Nuk2kr3

[2020-06-17 20:18] clemens-tolboom commented on #8171
When I check https://github.com/mautic/mautic/issues/new/choose those issue template have/need more user input ... you are not explaing in the issue summary what went wrong and why you want those in.

[2020-06-17 20:24] szepeviktor commented on #8171
It is for your benefit: to prevent installing on systems without those PHP extensions.

[2020-06-17 20:25] szepeviktor commented on #8171
in the above linked PR:

[2020-06-18 04:32] romancretnik commented on #8118
Hi, if anyone else has this problem in Mautic - this is a simple solution for any Amazon SES region.

Instead of waiting for a new Amazon SES dropdown in the Email Settings of Mautic just choose "Other SMTP Server".

The credentials you need to use are stored in AWS SES Management Console under "SMTP Settings".

Example:
Host: paste the url of the selected server (e.g. email-smtp.eu-central-1.amaz

[2020-06-18 09:39] clemens-tolboom commented on #8171
What I meant to say is edit https://github.com/mautic/mautic/issues/8171#issue-530081416 and tell the problem and the proposed solution. Or maybe better close this issue and add comments to the PR #6901.

[2020-06-18 11:45] szepeviktor commented on #8171
Okay, I've just came up with this.

Please decide what to do.
I may send a PR if you provide a list of `require` and `suggest`.

[2020-06-18 13:47] Aerendir opened #8924 "Error upgrading 2.16.0 > 2.16.2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-18 20:48] renanwilliam opened #8926 "Pipedrive Synch - Companies Duplicated in Pipedrive"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have a problem in fetching Or

[2020-06-19 07:15] raghav111jain commented on #7190
same thing happened if upload csv don't process ij front and background also. if click background not process only show in q  and if click import on browser both are condition not processing then if import on browser and refresh the page import same contact . i don't understand what type issue Please help ASAP
Mautic version |3.0
| PHP version | 7.2
| Browser | Chrome

[2020-06-19 07:17] raghav111jain opened #8927 "CSV file import frozen on browser and background"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-19 08:34] satyadeepk commented on #8903
Hi @javiergas I am also facing the same issue. Have you figured out any workaround for the same?

**UPDATE**:
After I checked "Include original headers" in SES Notification configuration page for the email/domain, it started working. The warning still appears in logs, but Mautic correctly marks the contact as bounced.
![image](https://user-images.githubusercontent.com/478578/85115431-46449080-b239

[2020-06-19 09:25] nkosi23 opened #8928 "Only the last link is tracked in emails"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When sending an email, if the e

[2020-06-19 10:54] dennisameling opened #8929 "Add MariaDB to Travis config"
We are currently [only testing against MySQL](https://github.com/mautic/mautic/blob/staging/.travis.yml) in Travis. We've been getting [some reports](https://forum.mautic.org/t/mautic-3-0-installation-error-row-size-too-large/14801/7?u=rcheesley) of errors with MariaDB, so in order to test Mautic against MariaDB we can add it to the CI config (Travis). This issue is to track that work.

[2020-06-19 11:28] dennisameling commented on #8587
MariaDB 10.1 basically equals MySQL 5.6, while MySQL 5.7 (MariaDB 10.2 or higher) is needed for Mautic 3. More details: https://forum.mautic.org/t/upgrade-error-from-2-16-2-to-3-x/14663/13

[2020-06-19 12:41] dennisameling opened #8931 "Optimize Mautic 3 upgrade script"
There are a few things that need to happen to finish the upgrade script that was introduced in https://github.com/mautic/mautic/pull/8824:

- [x] Look into open_basedir issue https://github.com/mautic/mautic/pull/8824#issuecomment-640285227 --> this is a M3 issue, not an upgrade script issue. See https://github.com/mautic/mautic/issues/8940 for details.
- [x] Add pre-upgrade check for when instanc

[2020-06-19 12:42] dennisameling commented on #8819
Closing in favor of https://github.com/mautic/mautic/issues/8931

[2020-06-19 12:42] #8819 closed, assigned to dennisameling

[2020-06-20 14:02] CyberMarsl opened #8932 "Mautic 3.0.0 - Wrong memory_limit warning php.ini (< 128 MB warning but 256 is set)"
Fresh install of Mautic 3.0.0 Environemnt Check on installer suggests this Recommendation:

---
"We have detected some minor things that we recommend changing in order to have a better Mautic experience:
    The memory_limit setting in your PHP configuration is lower than the suggested minimum limit of 128MB. Mautic can have performance issues with large datasets without sufficient memory."
---

B

[2020-06-20 17:16] autoize commented on #8932
We can also reproduce this. Memory limit is set to 512M but setup wizard reports it is < 128M.

[2020-06-20 18:03] raghav111jain opened #8933 "form multiple time summited ??"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-21 02:59] MauriceW2 commented on #6979
What's the status on this bug report? I'm glad I finally found this, because I was banging my head against the wall why datetime conditions are not working in Mautic.

Is this fixed in Mautic 3.0?

[2020-06-21 15:31] dennisameling commented on #8932
Can reproduce this on PHP 7.3 / Mautic 3.0.0 fresh installation:

`memory_limit` set to 256MB but error still shows:

![image](https://user-images.githubusercontent.com/17739158/85228647-cbb87400-b3e4-11ea-8fe0-f6c9d2f3b4d6.png)

[2020-06-21 15:38] dennisameling commented on #8932
Just checked in the source code. Turns out [the recommended `memory_limit` has increased to 512MB in Mautic 3](https://github.com/mautic/mautic/blob/staging/app/bundles/InstallBundle/Configurator/Step/CheckStep.php#L231), but the error message [is still showing 128MB](https://github.com/mautic/mautic/blob/staging/app/bundles/InstallBundle/Translations/en_US/messages.ini#L58). So it's just a displa

[2020-06-23 05:59] antonzapevalov opened #8938 "PHP 7.4 support"
When will php 7.4 be supported? I can now somehow run on PHP 7.4?

[2020-06-23 06:06] #8938 closed, assigned to nobody

[2020-06-23 06:07] antonzapevalov commented on #8938
Duplicate https://github.com/mautic/mautic/issues/8752

[2020-06-23 06:07] antonzapevalov commented on #8752
What about PHP 7.4?

[2020-06-23 09:42] faheemrazaa opened #8939 "Mautic getting hanged while processing."
Hello,

i have installed Mautic at http://regrowme.com/mail/

While im importing contacts or sending mails to the contacts the whole application is getting hanged.

I'm not sure if it is happening due to server speed issue or have any bug in this application.

Kindly check this Screenshot attached with this.

Plz provide me solution for this issue.

Thanks
Author at [PickCamera](https://pickcamera

[2020-06-23 10:45] RCheesley commented on #8752
See the WIP PR above @ZapevalovAnton !

[2020-06-23 14:45] CyberMarsl commented on #8932
@dennisameling great to know, well update to 512 works well.

[2020-06-23 18:49] dennisameling opened #8940 "open_basedir issue on cache creation in Mautic 3 production version"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In Mautic 3's production packag

[2020-06-23 19:18] kuzmany commented on #6613
Fix scheduled jump to event campaign action https://github.com/mautic/mautic/pull/7129

[2020-06-24 06:43] chendwww commented on #7525
Hi, we set our MySQL database to utf8mb4 (new database), but we still can't get the correct page title? How to solve it?

[2020-06-24 08:38] #5417 closed

[2020-06-24 08:39] dennisameling commented on #5417
Fix landed in 3.0.1 which is scheduled for release on June 29 🚀

[2020-06-24 08:45] #8424 closed

[2020-06-24 08:46] dennisameling commented on #8424
Fix landed in 3.0.1 which is scheduled for release on June 29th 🚀

[2020-06-24 12:00] rori4 opened #8944 "There should be a way to set Mautic to use HTTPS in the config"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When running Mautic with SSL en

[2020-06-24 12:33] #7179 closed

[2020-06-24 15:23] adiux commented on #8376
I was able to reproduce this with v3.0.0

[2020-06-24 15:39] dennisameling opened #8946 "Mautic 3 database migrations failing with mysqli as database driver"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
While testing the upgrade scrip

[2020-06-24 23:20] solomojo commented on #8471
@npracht is this ready to be tested or worked on?  If so, I have a team who can help out.  We are eager to have the URL shortening functionality restored in Mautic for our SMS Campaigns.

[2020-06-25 03:52] npracht commented on #8471
Hi @solomojo this has not been done yet. We would be very excited to have your help. Can i assign this issue to you ?

[2020-06-25 09:19] luk4s opened #8947 "Unable to delete used tags via API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If some tags are still used on

[2020-06-25 14:15] WaldemarOrobanche opened #8948 "Contact import is not merging based on more than one unique identifier fields"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Trying to upload contacts via C

[2020-06-25 17:22] #8940 closed, assigned to nobody

[2020-06-25 18:30] #8921 closed, assigned to nobody

[2020-06-25 18:32] liquidsnk commented on #8921
The slowness was actually caused by what it appears to be a bug in the batch API that was creating "phantom" stages over and over when patching contacts without providing a current stage. While checking stages we saw hundred of thousands of copies of the default stage we were using for contacts... after removing those and starting to always provide the stage on updates the problem was solved.

[2020-06-25 18:45] RCheesley commented on #8921
Could you raise an issue for this with your findings?

[2020-06-25 19:20] RCheesley opened #8950 "Segment membership report has contact ID instead of segment ID in column"
## Bug Description
Discovered while answering this forum thread: https://forum.mautic.org/t/segment-membership-count-report/14960/3?u=rcheesley to make a report of segment members.

When creating the report I would expect to see the segment ID in the first column as that is the ID selected and grouped by - instead it shows contact ID.

| Q   | A
| --- | ---
| Mautic version | 3.0
| PHP version | 7

[2020-06-25 19:28] liquidsnk opened #8951 "Using Batch API to update contacts via PATCH can create weird copies of the contact stage if no stage is provided"
## Bug Description
While importing/updating contacts through the batch API we discovered that strange "copies" of the initial stage we were indicating for these contact were being generated. It seemed like copies would appear per each contact included in the batch or most of them, also, these copies did not ended up associated to the contact (the original stage was still the one being assigned to

[2020-06-25 19:34] #8950 closed, assigned to nobody

[2020-06-25 19:42] dennisameling opened #8952 "STAT UPDATE: Error communicating with the stat server: 500 (Internal Server Error)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic 3 doesn't interact with

[2020-06-26 08:05] #7559 closed

[2020-06-26 08:50] claudeschneider commented on #8879
Also seeing this exact same issue when working with emails, Mautic version 2.16.2

Additional comments:

- when editing email in Builder, the HTML code looks fine
- when we click "Preview", the HTML style/class is displayed in fr-original-class/fr-original-style elements, and the actual style/class elements contains minimal/different content
- when the changes are saved, the HTML stored in the DB

[2020-06-26 10:31] vexersa opened #8955 "{pagelink} malforms URL"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When using the {pagelink=X} sho

[2020-06-26 16:13] RCheesley commented on #7098
Closing as issue was addressed with #8337

[2020-06-26 16:13] #7098 closed

[2020-06-26 17:28] starshunter88 commented on #4465
+1 I am also encountering this issue

[2020-06-26 20:02] RCheesley opened #8958 "Date/time fields are not using calendar select popup"
## Bug Description
Flagged in the forums [here](https://forum.mautic.org/t/mautic-3-0-0-datefields-dont-have-a-popup-calendar-anymore/14910/2) and I think I came across it in #8835 without realising!

| Q   | A
| --- | ---
| Mautic version | 3.0
| PHP version | 7.3
| Browser | Chrome

### Steps to reproduce
1. Create a date/time field
2. Add contact and notice that there is no date selector any mo

[2020-06-26 20:14] RCheesley commented on #8958
So, this seems restricted to both date and date/time fields for contacts and companies from what I can see - date fields in segments work fine, and in filters for reports.

[2020-06-27 09:50] wildlily980 opened #8960 "Mautic stops working with error:Failed to authenticate on SMTP server"
Mautic had worked for years but it has stopped from sending any emails since 4 days ago without changes
There are many files in app/spool/, I had to remove them manually to free disk space
SMTP server is working fine if I send an email by shell.

| Mautic version |  unknown
PHP Version 5.6.30

I'm not sure if this is a bug or not. Any help is greatly appreciated

### Log errors from dashboard->mai

[2020-06-27 10:43] TnowL opened #8962 "Return-Path/Bounce Uses + Character Mailserver Not Allows"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The current Return-Path uses +

[2020-06-27 10:53] dennisameling commented on #8666
I'm currently testing #7752 and it resolves the issues mentioned here (as well as some other date/time related bugs):

Upcoming events fixed:

![image](https://user-images.githubusercontent.com/17739158/85920476-62b57e00-b874-11ea-8f18-59eb2301af38.png)

Date on form fixed:

![image](https://user-images.githubusercontent.com/17739158/85920544-d6578b00-b874-11ea-8042-e77f58f9fa14.png)

I'll go ahea

[2020-06-27 13:39] #8666 closed, assigned to nobody

[2020-06-27 13:51] RCheesley opened #8963 "Campaign change action silently fails to remove the contact from a campaign"
## Bug Description
Reported on the forums [here](https://forum.mautic.org/t/mautic-3-0-0-exit-a-campign-not-working/14989/2) and confirmed while testing Mautic 3.0.1 PR's.

Using the change campaign action to remove from campaign is not working - it is silently failing.

https://youtu.be/TR1gSR2XrZQ

| Q   | A
| --- | ---
| Mautic version | 3.0
| PHP version | 7.3
| Browser | Chrome

### Steps to

[2020-06-27 14:01] dennisameling commented on #8597
@vdavid I can't seem to reproduce this issue on Mautic 3.

I added `http://google.com ` (including the space at the end) to an email, enabled tracking, and the URL is replaced by the tracking URL correctly.

![image](https://user-images.githubusercontent.com/17739158/85923920-50950900-b88f-11ea-9db7-723342c6a0c7.png)

I'm getting redirected to Google without problems:

![image](https://user-images

[2020-06-27 14:12] kuzmany commented on #8597
@dennisameling which PR do you comment? this is issue

[2020-06-27 14:14] dennisameling commented on #8597
@kuzmany no PR, just trying to reproduce the issue that's described in the issue description :) can't seem to reproduce the issue on M3

[2020-06-27 14:20] #8932 closed, assigned to nobody

[2020-06-27 15:54] SBK-Sound commented on #4069
Also, if you're on shared hosting, and the host decided to upgrade the management panel, or move to a new server etc.... sometimes the user/account home directory gets changed,

e.g: /home1/your_user_account_name/public_html/your_website/mautic
to    /home4/your_user_acc...

Resulting in a cannot write/create cache/prod error, because the path does not exist!

In which case edit the /mautic/app/co

[2020-06-28 11:33] picaso212 opened #8964 "can't end set up"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-06-28 12:31] #8946 closed, assigned to nobody

[2020-06-29 00:07] petebytes opened #8966 "form using http: when configured to use https: causing form submission to fail"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Submitting a form using shortco

[2020-06-29 00:30] petebytes commented on #8966
I disabled WP Mautic and configured the form manually.  It unfortunately did not solve the issue.

[2020-06-29 14:05] #8952 closed, assigned to nobody

[2020-06-29 14:17] #3436 closed

[2020-06-29 14:27] #8476 closed

[2020-06-29 14:30] #8516 closed

[2020-06-29 14:57] #7032 closed

[2020-06-29 15:02] #7852 closed

[2020-06-29 16:42] mohit-rocks commented on #8521
Please test https://github.com/mautic/mautic/pull/8969

[2020-06-30 07:39] zRghtside commented on #3756
I

[2020-06-30 07:58] JakubHelis commented on #8964
+1,
Same issue:
SQL: 10.1.44-MariaDB
PHP 7.3.18-1
Mautic version: Github 3.x branch

[2020-06-30 11:19] CyberMarsl opened #8974 "Minor Bug: When Updating Mautic 3.0.0 to 3.0.1 -> Message appears to use app/console instead of bin/console"
## Bug Description
Minor Bug: When Updating Mautic 3.0.0 to 3.0.1 -> Message appears to use app/console instead of bin/console

Changes of Mautic 3.0 includes that the console now is in bin directory (former it was in app). After looking for updates in console this message appears: Verwenden Sie 'php app/console mautic:update:apply'... (in german version, probably in other languages too.

Mautic 3

[2020-06-30 12:07] RCheesley commented on #8974
Thanks for reporting this @CyberMarsl - would you like to look into fixing this?  Happy to help if you need any guidance! Let's aim to fix this in 3.0.2.

[2020-06-30 12:55] dennisameling commented on #8974
Looks like this is a translation issue, I think the German translation is outdated. The English translations have been updated to `bin/console` already: https://github.com/mautic/mautic/blob/staging/app/bundles/CoreBundle/Translations/en_US/messages.ini#L426.

To update the German translations we'll need to do it in Transifex AFAIK. @CyberMarsl is that something you'd like to do? Instructions can

[2020-06-30 13:30] CyberMarsl commented on #8974
Yes. In Transifex there is the source string app/console as well as the translation string for many languages.
I changed it for the german language (and I guess it needs approvement).

In the source language (english) it´s still app/console, this I can´t change. The other language I also had no access to.

[2020-06-30 18:18] dennisameling commented on #8974
Ah, I think I can push the new translation strings for M3 to Transifex, let me check :)

UPDATE: that didn't work. Although the command to update Transifex source files says the resources were updated successfully, Transifex isn't actually updated. Will dive into this further in the coming days.

[2020-06-30 21:53] #8931 closed, assigned to dennisameling

[2020-06-30 22:50] #3793 closed

[2020-06-30 22:51] RCheesley commented on #8939
Hi there, please post on the forums at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic rather than for support.

[2020-06-30 22:51] #8939 closed, assigned to nobody

[2020-06-30 22:52] #8929 closed, assigned to nobody

[2020-06-30 22:56] RCheesley commented on #1752
@escopecz wondering what PR's are blocking this coming over to the community? Let's aim to get it unblocked for 3.1?

[2020-06-30 23:03] RCheesley commented on #2872
I think that the Hubspot issue is a duplicate of https://github.com/mautic/mautic/issues/8814 so closing as a duplicate

[2020-06-30 23:03] #2872 closed

[2020-06-30 23:03] RCheesley commented on #8569
Closing as a probable duplicate/related issue to https://github.com/mautic/mautic/issues/8814

[2020-06-30 23:03] #8569 closed

[2020-07-01 06:26] RCheesley commented on #8948
Closing as a duplicate of #7316

[2020-07-01 06:28] RCheesley commented on #8222
Closing as a duplicate of #5893

[2020-07-01 06:28] #8222 closed

[2020-07-01 06:32] RCheesley commented on #7809
This was resolved with #7705 and is a duplicate of #5786 so closing the issue :tada:

[2020-07-01 06:32] #7809 closed

[2020-07-01 06:32] RCheesley commented on #5786
This was resolved with #7705 so closing the issue :tada:

[2020-07-01 06:32] #5786 closed

[2020-07-01 06:34] RCheesley commented on #7772
Closing as I believe this was resolved by translators

[2020-07-01 06:34] #7772 closed

[2020-07-01 06:48] RCheesley commented on #6142
Closing as a duplicate of #6141

[2020-07-01 06:48] #6142 closed

[2020-07-01 06:48] RCheesley commented on #6141
Closing as fixed by #5610 some time ago!

[2020-07-01 06:48] #6141 closed

[2020-07-01 07:08] mabumusa1 commented on #5893
@RCheesley this issue does not exist on 3.x, I just tested it

[2020-07-01 07:23] RCheesley commented on #5893
Thanks so much @mabumusa1 !

[2020-07-01 07:37] RCheesley commented on #8838
Closing as this was fixed by #8847

[2020-07-01 07:37] #8838 closed, assigned to kuzmany

[2020-07-01 07:41] RCheesley commented on #8055
@escopecz @kuzmany what was the status on this? I saw another PR. which was closed (https://github.com/mautic/mautic/pull/8161) - can we close this issue or is it still needed?

[2020-07-01 07:42] RCheesley commented on #6877
@alanhartless @kuzmany has this been addressed? Presuming so but not seeing linked PR's!

[2020-07-01 09:57] RCheesley commented on #5732
@kuzmany will you make a new PR for this? Does it persist in Mautic 3.x ?

[2020-07-01 10:17] RCheesley commented on #7810
@hluchas any progress on this issue at all?

[2020-07-01 10:20] gregharvey commented on #5021
Just to confirm we can reproduce this, it's still an issue in 2.16.

[2020-07-01 10:29] RCheesley commented on #7836
Unsure if this will be addressed by #7512 when merged - @nguyenhung @vladaman are you able to confirm if this is still an issue in Mautic 3.x?

[2020-07-01 10:32] kuzmany commented on #5732
@RCheesley there are two PR which handles same thing

https://github.com/mautic/mautic/pull/7424
https://github.com/mautic/mautic/pull/7874

I didn't test @pety-dc PR, but we need decide to what PRs is more relevant and resolve it

[2020-07-01 10:33] RCheesley commented on #8331
@dennisameling not clear from the discussions above if this is still an issue with Mautic 3.01 but assume so, correct if wrong!

[2020-07-01 10:35] kuzmany commented on #8055
I need revert back it and rebased based on M3 codebase
I will do it in few days

[2020-07-01 10:36] RCheesley commented on #6119
Apparently the fixes to the plugin [no longer work](https://github.com/mautic/MauticOutlookPlugin/pull/1#issuecomment-561505253) so we need to decide how to approach this - do we find someone to bring it up to date?

[2020-07-01 10:42] RCheesley commented on #5732
Thanks - #7424 had issues so it had to be reverted - did not see any recent fixes on that PR to address those issues. It looks like #7874 has a :+1: from two folk using in high load situations so I would be inclined to favour that approach, providing we can get the conflicts addressed and tests written.

[2020-07-01 10:51] RCheesley commented on #8933
Hi there, this does not sound like a bug but intended behaviour if you have the form set to remain on the same page. If you need support with setting up your forms, please take a look at the [documentation](https://docs.mautic.org/en/components/forms) and post on https://forum.mautic.org/c/support if you get stuck!

[2020-07-01 10:51] #8933 closed, assigned to nobody

[2020-07-01 10:53] RCheesley commented on #8928
Hi @nkosi23 as we are only providing fixes for Mautic 3.x going forward, can you confirm if this persists in Mautic 3.0.1?

[2020-07-01 10:56] RCheesley commented on #8927
Hi there, please check the [documentation](https://docs.mautic.org/en/contacts/import-contacts#background-import) for guidance on using the background import - notably that you must trigger it with a cron job.

If you are stuck please post at https://forum.mautic.org/c/support.

[2020-07-01 10:56] #8927 closed, assigned to nobody

[2020-07-01 10:58] RCheesley commented on #8926
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:00] RCheesley commented on #8924
Hi there, as we are only providing fixes for Mautic 3.x going forward, I am going to close this issue down.

[2020-07-01 11:00] #8924 closed, assigned to nobody

[2020-07-01 11:01] RCheesley commented on #8923
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:01] RCheesley commented on #8908
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:02] RCheesley commented on #8903
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:03] RCheesley commented on #8902
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:03] RCheesley commented on #8900
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:04] RCheesley commented on #8899
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:05] #8726 closed, assigned to nobody

[2020-07-01 11:07] RCheesley commented on #8889
Hi there,

Almost certainly an issue with the cache - please post at https://forum.mautic.org/c/support if you still need assistance as Github is for reporting bugs with Mautic rather than for support :)

[2020-07-01 11:07] #8889 closed, assigned to nobody

[2020-07-01 11:09] RCheesley commented on #8888
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 11:09] #8888 closed, assigned to nobody

[2020-07-01 11:10] RCheesley commented on #8887
@PeachySoftware as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1? Thanks!

[2020-07-01 11:12] RCheesley commented on #8882
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:15] RCheesley commented on #8882
Ignore me ... the PR is for Mautic 3.x :blush:

[2020-07-01 11:20] RCheesley commented on #8881
Hi there, this seems like an issue with your server setup/database connectivity. Please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 11:20] #8881 closed, assigned to nobody

[2020-07-01 11:22] RCheesley commented on #8880
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:24] RCheesley commented on #8879
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:25] RCheesley commented on #7272
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:27] RCheesley commented on #8879
Actually I'm going to close this in favour of #7272 and make that issue title more general so we have the discussions in one place.

[2020-07-01 11:27] #8879 closed, assigned to nobody

[2020-07-01 11:29] RCheesley commented on #7272
@vdavid let's continue the discussion here on the Froala issue!

[2020-07-01 11:30] RCheesley commented on #8878
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:31] kuzmany commented on #5732
https://github.com/mautic/mautic/pull/7424 is more complex, use sub queries for each table, that means there is less effort to resource. Also code is more clear, more ready to write unit tests. We used it on production. But we need re-submit it.
https://github.com/mautic/mautic/pull/7874 - need tested in any cases (tags, segments, page hit data...)

[2020-07-01 11:31] RCheesley commented on #8877
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems or have questions :)

[2020-07-01 11:31] #8877 closed, assigned to nobody

[2020-07-01 11:33] RCheesley commented on #8872
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:34] RCheesley commented on #8870
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:34] #8869 closed, assigned to nobody

[2020-07-01 11:38] RCheesley commented on #8866
Hi, This is related to the website, not Mautic - ping me on Slack if you still need help with this (https://mautic.org/slack to get an invite)

[2020-07-01 11:38] #8866 closed, assigned to nobody

[2020-07-01 11:40] RCheesley commented on #8861
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 11:40] #8861 closed, assigned to nobody

[2020-07-01 11:43] RCheesley commented on #8859
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:47] RCheesley commented on #8850
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:49] RCheesley commented on #8843
Closing as a duplicate of #7272

[2020-07-01 11:49] #8843 closed, assigned to nobody

[2020-07-01 11:49] RCheesley commented on #8842
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 11:49] #8842 closed, assigned to nobody

[2020-07-01 11:50] RCheesley commented on #8834
Closing as this was resolved

[2020-07-01 11:50] #8834 closed, assigned to nobody

[2020-07-01 11:52] RCheesley commented on #8832
Hi there, this is found under contacts:

![screenshot-local mautic3-2020 07 01-12_51_22](https://user-images.githubusercontent.com/2930593/86240761-b0462980-bb99-11ea-8fc3-6b1a24ae7694.png)

[2020-07-01 11:52] #8832 closed, assigned to nobody

[2020-07-01 11:53] RCheesley commented on #8827
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:53] RCheesley commented on #8813
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:56] RCheesley commented on #8811
I think that this is a duplicate of #7559 and was fixed in https://github.com/mautic/mautic/pull/8836 - can you confirm if this persists in Mautic 3.0.1?

[2020-07-01 11:57] RCheesley commented on #8810
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 11:59] RCheesley commented on #8808
Hi there, does this persist in Mautic 3.0.1?

[2020-07-01 11:59] RCheesley commented on #8804
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:05] RCheesley commented on #8792
Mautic does not yet support PHP 7.4 (There is a [WIP PR](https://github.com/mautic/mautic/pull/8447)) so will close this issue down as that seems to be the cause!

[2020-07-01 12:05] #8792 closed, assigned to nobody

[2020-07-01 12:05] RCheesley commented on #8790
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:06] RCheesley commented on #8789
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 12:06] #8789 closed, assigned to nobody

[2020-07-01 12:08] RCheesley commented on #8779
Great - this has also been updated in Mautic 3.x so will close this issue!

[2020-07-01 12:08] #8779 closed, assigned to nobody

[2020-07-01 12:08] RCheesley commented on #8778
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:08] RCheesley commented on #8777
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:11] RCheesley commented on #8761
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 12:11] #8761 closed, assigned to nobody

[2020-07-01 12:11] RCheesley commented on #8759
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:12] #8758 closed, assigned to nobody

[2020-07-01 12:16] RCheesley commented on #8747
Sounds like a couple of possible solutions to this issue - please do submit a PR and link to this issue!

[2020-07-01 12:17] #8736 closed, assigned to nobody

[2020-07-01 12:17] renanwilliam commented on #8926
Yes, 3.0.1 has the same behavior. I have made some research and I think that the code responsible is [here](https://github.com/mautic/mautic/blob/3.x/plugins/MauticCrmBundle/Integration/Pipedrive/Import/CompanyImport.php#L57).

[2020-07-01 12:17] RCheesley commented on #8731
Closing due to lack of activity>

[2020-07-01 12:17] #8731 closed, assigned to nobody

[2020-07-01 12:18] #8729 closed, assigned to nobody

[2020-07-01 12:18] RCheesley commented on #8719
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:20] RCheesley commented on #8718
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:24] RCheesley commented on #8717
Pretty sure that this was fixed with #8809/#8848 which were merged in 3.0.1. Can you please confirm?

[2020-07-01 12:27] RCheesley commented on #8716
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:29] directpromo commented on #8719
@RCheesley As soon as version 3.x is stable I will be able to check. I don't risk updating now

[2020-07-01 12:30] RCheesley commented on #8715
Thanks for the heads up! I think we should aim for 3.2 given how full the 3.1 milestone is currently!

[2020-07-01 12:32] directpromo commented on #8718
@RCheesley As soon as version 3.x is stable I will be able to check. I don't risk updating now
I thought the question through .htaccess adding strings
[code]

[2020-07-01 12:35] directpromo commented on #8716
It remains to wait for the stable version 3.x

[2020-07-01 12:37] RCheesley commented on #8719
3.0.1 was launched on Monday :)

[2020-07-01 12:38] RCheesley commented on #8719
P.S. you can test in a local environment ... or on the base branch of mautibox.com.

[2020-07-01 12:39] RCheesley commented on #8718
See comments re. testing locally or on mautibox.com :)

[2020-07-01 12:40] RCheesley commented on #8712
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:41] RCheesley commented on #8709
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:41] directpromo commented on #8719
@RCheesley

released does not mean that it is stable. Wait for the bug reports )

In mautibox.com I don't understand how to check email sending

[2020-07-01 12:41] RCheesley commented on #8705
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:42] RCheesley commented on #8700
Closing due to lack of feedback.

[2020-07-01 12:42] #8700 closed, assigned to nobody

[2020-07-01 12:42] RCheesley commented on #8698
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:43] #8696 closed, assigned to nobody

[2020-07-01 12:45] RCheesley commented on #8694
Hi there, please post your issue over at https://forum.mautic.org/c/ideas as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems or suggesting features - and they have been fixed [almost a year now](https://www.mautic.org/blog/community/mautic-community-forums-re-launched)! :)

[2020-07-01 12:45] #8694 closed, assigned to nobody

[2020-07-01 12:45] RCheesley commented on #8692
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:46] directpromo commented on #8718
To check this bug I need the email to arrive at a real email in the domain yandex.ru

[2020-07-01 12:46] RCheesley commented on #8691
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:47] RCheesley commented on #8686
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:48] RCheesley commented on #8685
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 12:49] RCheesley commented on #8679
Closing as no longer relevant

[2020-07-01 12:49] #8679 closed, assigned to nobody

[2020-07-01 13:06] aiac commented on #7321
Same issue after runing console cache:clear inside docker container made from latest official Mautic image.

[2020-07-01 13:16] RaianHN commented on #8804
Hi,
I'm yet to try mautic 3.0.1, will try the test case on the mautic 3.0.1 and
update if that works,
thank you for following up.

--
Raian |9945353739

On Wed, Jul 1, 2020 at 5:29 PM Ruth Cheesley <notifications@github.com>
wrote:

[2020-07-01 13:42] abteilung commented on #8698
Hi RCheesley. It appears to be working with Mautic 3.x, so you don't have to follow it.

[2020-07-01 13:44] kuzmany commented on #8801
Should close it.

[2020-07-01 15:02] #8698 closed, assigned to nobody

[2020-07-01 15:02] #8801 closed, assigned to kuzmany

[2020-07-01 15:06] RCheesley commented on #5946
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:10] RCheesley commented on #8944
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:17] RCheesley commented on #8904
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:19] RCheesley commented on #8873
Thanks for submitting this issue @ithieund - are you able to make a PR to address the problem at all?

[2020-07-01 15:19] RCheesley commented on #8750
Definitely agree this would be a useful feature!

[2020-07-01 15:22] RCheesley commented on #7666
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:22] RCheesley commented on #7316
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:23] RCheesley commented on #6957
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 15:31] enguerr commented on #8813
Hi, i confirm this bug is also present in 3.x branche.
Here is a screenshot of my pull request (deleted) 25 days ago.
![image](https://user-images.githubusercontent.com/9450193/86262716-881df100-bbc0-11ea-82c7-359621973228.png)

My precedent pull-request doesnt seems to gain interests to mautic team members ... so i deleted it .
Do i need to re-pullrequest it ?

[2020-07-01 16:06] RCheesley commented on #8813
Please open a PR if you can address the issue!

[2020-07-01 16:39] jurczykpawel commented on #8811
Thank you for update. It looks it is working properly in Mautic 3.0.1.

[2020-07-01 16:39] #8811 closed, assigned to nobody

[2020-07-01 19:37] RCheesley commented on #8926
Thanks for the quick reply, would you be up for making a pull request to address this?

[2020-07-01 19:38] RCheesley commented on #8804
Great, thank you!

[2020-07-01 19:39] RCheesley commented on #8719
Here: https://mautibox.com/mail/ :)

[2020-07-01 19:42] RCheesley commented on #8718
If you set up Mailhog locally you can release mails that you choose by adding SMTP server details: https://github.com/mailhog/MailHog (in case it is helpful to know!)

[2020-07-01 19:44] RCheesley commented on #8966
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 19:44] #8966 closed, assigned to nobody

[2020-07-01 19:45] RCheesley commented on #8964
You need to update your database version - see the minimum requirements here: https://www.mautic.org/download/requirements.

Also, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 19:45] #8964 closed, assigned to nobody

[2020-07-01 19:47] RCheesley commented on #8962
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 19:48] RCheesley commented on #8960
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-01 19:48] #8960 closed, assigned to nobody

[2020-07-01 19:50] RCheesley commented on #8955
Thanks for taking the time to report this! Is it still the case on 3.0.1?

[2020-07-01 19:51] petebytes commented on #8966
Thanks - I believe this is a bug - site should not break when url is correctly identified as https
My workaround for now is to not change that setting (but based on search results others have run into the same issue)

[2020-07-01 19:51] RCheesley commented on #8951
Thanks for reporting this bug! Would you be up for taking a look at fixing it with a PR?

[2020-07-01 19:53] RCheesley commented on #8947
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 19:56] RCheesley commented on #3942
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 19:57] RCheesley commented on #5904
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-01 20:04] RCheesley commented on #8098
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1 @trianity?
Thanks!

[2020-07-02 04:39] mabumusa1 commented on #8098
@RCheesley I tested this on ddev, homestead, and production. this issue is not relevant anymore

[2020-07-02 07:43] #8098 closed

[2020-07-02 08:33] rori4 commented on #8944
as always the updating of Mautic is a nightmare. I got stuck updating to v3.0.1:

`ERR_MAUTIC_3_MIGRATIONS_IDENTIFICATION_FAILED: We couldn't reliably detect the amount of available database migrations. Please try again by refreshing this page..`

Refreshing the page and going through the docs didn't help as well as the detailed logs.

Any suggestions what is causing this?

![image](https://user-i

[2020-07-02 09:02] tomekkowalczyk opened #8982 "Incorrect SQL generate raport Contacts Point Log with filter segment"
[//]: # (READ THIS BEFORE PUBLISHING YOUR ISSUE)

[//]: # (Please post questions, support requests and feature requests/ideas at https://forum.mautic.org.)
[//]: # (Strictly follow the instructions hereunder, otherwise your issue will be closed for lack of information.)
[//]: # (DO NOT report security vulnerabilities here. Send them to security@mautic.com.)

Detail your bug report:

| Q  | A
| ---

[2020-07-02 11:46] HLFH commented on #8944
I followed [this manual process](https://mauteam.org/mautic/mautic-admins/mautic-update-how-to-dont-click-that-button/) to update to 3.0.1. And I confirm this issue is still happening.

[2020-07-02 13:57] minholi opened #8983 "Timeout applying updates at landing pages and emails"
| Q  | A
| ---| ---
| Confirm it is a Bug report | yes
| Mautic version | 3.0.1
| PHP version | 7.2.24

## Description:
Getting timeouts when updating emails created with Mautic 2.16.x. Already tried to rise time_limit at php.ini with no success. Memory limit was set to 512M and all other settings was checked.

### Steps to reproduce:
1. Create one segment email using Mautic 2.16.3
2. Update Mauti

[2020-07-02 15:14] Aerendir commented on #8924
@RCheesley , wait one moment: if you don't help me to update to the 3 version, how can I do?

@RCheesley , please, rethink your decision: this is not a good way of mangaing a community.

Mine is not a generic issue, but an issue related to updating Mautic and you have to support the update path.

I'm not asking support for a generic feature, but I'm not able to update.

Please, think about what I'

[2020-07-02 15:17] rori4 commented on #8944
@HLFH Do you mean the update issue `ERR_MAUTIC_3_MIGRATIONS_IDENTIFICATION_FAILED` or the  SSL warning of mixed content related to gravatar images

Perhaps I should open a separate issue for the update to v3.0.1

[2020-07-02 16:05] RCheesley commented on #8924
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-07-02 16:22] Aerendir commented on #8924
@RCheesley , thank you for your fast reply, but this is actually a bug of the update path, isn't it?

A fatal error should never happen, but it happens... This is the perfect example of a bug...

Anyway, the mautibot already linked this issue with the post in the Mautic's support forum:

https://github.com/mautic/mautic/issues/8924#issuecomment-647402503

[2020-07-02 16:40] chendwww opened #8984 "Hebrew Page Title Tracking Error in Mautic 3"
## Bug Description
The page titles are still in wrong names in Mautic 3.0.1, the issue has been opened since Mautic 2.15, see  [7525 ](https://github.com/mautic/mautic/issues/7525)

In the dicussion in [7525 ](https://github.com/mautic/mautic/issues/7525), it says the issue will be fixed in Mautic 3, but I still see the issue in Mautic 3.0.1 version:

![image](https://user-images.githubusercontent

[2020-07-02 16:44] chendwww commented on #7525
I just test it on Mautic 3.0.1, the issue is still there, see: #8984

[2020-07-02 18:02] minholi commented on #8983
Solved. php-mbstring was missing.

[2020-07-02 18:02] #8983 closed, assigned to nobody

[2020-07-02 19:45] rori4 commented on #8944
Ok... so I was able to do a clean install of Mautic v3.0.0 and then update to v3.0.1 and I can confirm that the issue still persists.

I need to add `$_SERVER['HTTPS'] = 'on';` to the `index.php`  so I can solve the mixed content SSL warning that comes from the gravatar images

[2020-07-03 09:15] HLFH commented on #8944
@rori4 4 It depends where you put the line `$_SERVER['HTTPS'] = 'on'; `.
Can you quote the code within `index.php` where you put your new line?

Thank you!

[2020-07-03 09:28] dsp76 opened #8985 "Mautic 3 breaks form fields - if custom form field attributes are applied"
## Bug Description
Mautic forms customization is broken currently in version 3.

| Q   | A
| --- | ---
| Mautic version | 3.0.1
| PHP version | 7.3.14
| Browser | any

### Steps to reproduce
1. add e.g. ​`class="fusion-one-half one_half fusion-layout-column fusion-spacing-yes"` to "field container attributes" field for a text field in a form
2. check the manual code of the created for the form (dy

[2020-07-03 09:41] dsp76 opened #8986 "Mautic 3 - Checkbox is displayed after option label (not before)"
## Bug Description
In Mautic 3 the checkbox field presents the checkbox after the option title, not before anymore.

| Q   | A
| --- | ---
| Mautic version | 3.0.1
| PHP version | 7.3.14
| Browser | any

### Steps to reproduce
1. Create a form with a checkbox field
2. look at preview (or embedded form) - checkbox is behind of the option, not in front of it.

### Log errors
none

[2020-07-03 09:43] rori4 commented on #8944
@HLFH Here you go:
[code]
Perhaps it should be better to put it after the `use function Stack\run;` line but it works like that

[2020-07-03 10:27] dsp76 opened #8987 "URL Link in form description area field of unstyled form still contains element styling"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Even when forms are set to rend

[2020-07-03 12:36] ravinayag commented on #8832
@RCheesley
Yes, I tried that but no effect of role permissions.
How to recreate
1,  Create new role ,  Ref. as per the pic i.e do not select any under segment user access.
![image](https://user-images.githubusercontent.com/52193049/86469556-45425180-bd57-11ea-9b5e-bc850b6f63d7.png)
2,  Create a  new user and assign the role
3, Login as new user and check, you still able to view the contact segment

[2020-07-03 17:56] PeachySoftware commented on #8887
@RCheesley Unfortunately it does. I just updated to 3.0.1. Here is a link to a [CloudApp recording ](https://share.getcloudapp.com/xQuDRpDn),

Also a brief copy of that line in the log.

`[2020-07-03 13:51:33] mautic.NOTICE: PHP Notice - Undefined index: stage - in file /home/forge/lists.xxxx.xxx/mautic/app/bundles/LeadBundle/Form/Type/FilterTrait.php - at line 172 {"eventName":"form.pre_bind","ev

[2020-07-04 16:29] pchernandes commented on #8866
Ok, sent through Slack.

Em qua., 1 de jul. de 2020 às 08:38, Ruth Cheesley <notifications@github.com>
escreveu:

[2020-07-05 07:48] sirpy commented on #8899
@RCheesley
i'm not sure what's the expected behaviour. I actually later found in the docs example that you should first add the user via calling the API to submit a form (with user email).

[2020-07-05 14:46] quadcom opened #8988 "V3.0.1, forms, please wait, X-Frame-Options response header"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Form submission from WP plugin

[2020-07-05 15:16] quadcom commented on #8988
That was my post

[2020-07-05 15:31] quadcom commented on #8988
OK, further testing and server settings tests.

I run my websites on a Linode box managed bt Runcloud. Runcloud provides security settings by default. one of which is NGINX clickjacking protection. I've determined that this setting if turned on, causes this issue.

I'm not sure if this is something that Mautic can overcome with code.

![image](https://user-images.githubusercontent.com/7085931/8653

[2020-07-05 17:04] adirbnology commented on #7493
any known plugin that does such thing? we are trying to follow onsesignal integration with no success

[2020-07-06 08:34] RCheesley commented on #8717
Closed as this issue should have been resolved in 3.0.1

[2020-07-06 08:34] #8717 closed, assigned to nobody

[2020-07-06 08:38] RCheesley commented on #8678
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
It may also be helpful to understand how you are limiting the send rate.

[2020-07-06 08:41] RCheesley commented on #8663
@Sandipan15 there is insufficient information in this bug report for us to investigate.

Please provide details on your CORS settings, the specific error that you are seeing and what steps you have taken to troubleshoot. It would also be helpful to know if this persists in Mautic 3.0.

[2020-07-06 08:49] RCheesley commented on #8658
Hi @nilyin thanks for taking the time to report this! Can you confirm if it exists in Mautic 3.0.1? A short screencast may indeed be helpful!

[2020-07-06 08:58] RCheesley commented on #8657
Hi there, I think this could be due to the font files not being on the list of allowed extensions rather than a bug - take a look at this area in the settings:

![screenshot-local mautic3-2020 07 06-09_50_58](https://user-images.githubusercontent.com/2930593/86574818-531def80-bf6e-11ea-96be-4d42c358344b.png)

Please report back if this resolves the issue for you!

Also in case you weren't aware, f

[2020-07-06 09:09] RCheesley commented on #8648
@bertbossier take a look at the docs here: https://docs.mautic.org/en/troubleshooting#1-clear-the-cache which explains how to clear the cache in Mautic 2.x (note that the location is var/cache in Mautic 3.x). You may also need to hard-clear your browser cache I expect - see if it is an issue in another/an incognito browser.

This kind of issue is almost always due to the cache so I am going to clo

[2020-07-06 09:09] #8648 closed, assigned to nobody

[2020-07-06 09:15] RCheesley commented on #8629
@oytuntez please can you check if this is still an issue with Mautic 3.0.1 and if so, rebase against the Staging branch? If you can make a PR then it would be awesome as that is how we will be able to test and get the fix merged - just make a fork and then submit the PR from there. Shout if you need any assistance with that!

[2020-07-06 09:18] RCheesley commented on #8624
Thanks for the feedback @oytuntez indeed this is likely to be due to DB issues so closing this one down.

[2020-07-06 09:18] #8624 closed

[2020-07-06 09:30] RCheesley commented on #8623
Hi folks,

Just tested this locally on Mautic 3.0 and was able to:
* Create a custom field (text based)
* Add the field to a contact (content: Mautic)
* Build a segment based on the content (where custom field = Mautic)
* Trigger the rebuild, contact was added as expected
* Build a campaign based on this segment to add points
* Trigger the campaign, contact had points added

![screenshot-local mau

[2020-07-06 09:52] TnowL commented on #8962
I've just upgraded to v3.0.1 and this is still an issue.

[2020-07-06 09:54] RCheesley commented on #8623
I also tried using a conditional field which worked as well:

![screenshot-local mautic3-2020 07 06-10_32_45](https://user-images.githubusercontent.com/2930593/86580666-ece99a80-bf76-11ea-9033-6f9febd5e06c.png)

Going to close this issue as am unable to reproduce - please do re-open if there are still problems in Mautic 3.x or if I have misunderstood!

[2020-07-06 09:54] #8623 closed

[2020-07-06 10:00] RCheesley commented on #8621
It seems that the fix has been merged in Mautic 3.0 and there hasn't been any recent dialogue to suggest that it remains a problem, so I am going to close down this issue accordingly.

[2020-07-06 10:01] RCheesley commented on #8620
Closing as OP resolved and relates to Mautic 2.x

[2020-07-06 10:01] #8620 closed

[2020-07-06 10:04] RCheesley commented on #8504
@coreyworrell thanks for flagging this, would you be up for making a PR to address this?

[2020-07-06 11:18] ravinayag commented on #8974
@CyberMarsl ,
as per official release notes, M3 needs php7.3, are you sure its compatible with php 3.3 ?

[2020-07-06 11:38] CyberMarsl commented on #8974
It is a typo. The PHP version is 7.3.19, not 3.3.19. but it doesn´t make any difference concerning the wrong translation.

[2020-07-06 14:28] ravinayag commented on #8974
yes, im curious to learn the miracle :)

[2020-07-06 14:47] quadcom commented on #6536
Just thought I'd chime in saying I have Mailgun working fine with SMTP login. Not using MG's tracking or bounce. Sends emails just fine this way.

[2020-07-06 17:36] marcerebrum opened #8990 "The lead is not assigned to the segment by API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
See this screencast.

https://w

[2020-07-06 18:21] coreyworrell commented on #8504
@RCheesley I'm not sure if I'm familiar enough with Mautic code to create a PR.

It would need to be backwards compatible, so after a quick look over the code, maybe adding a `data-mautic-form-id` attribute to the `<form>` element [here](https://github.com/mautic/mautic/blob/8cb3c509a09224fe9c71abe84faebdb69c11c934/app/bundles/FormBundle/Views/Builder/form.html.php#L53) could work.. Then [this lin

[2020-07-06 19:08] summersab opened #8991 "user@example.com stuck in "from email" setting"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After changing Settings > Confi

[2020-07-07 03:57] mabumusa1 commented on #8621
@RCheesley I am sorry to break this to you, but this bug still exists on 3.0.1 but the solution above solve it. Can we merge it on the  3.x branch?

[2020-07-07 10:34] TnowL commented on #8962
After researching for the last few weeks, I now understand why using + character now. I guess mailservers treat `user+list@domain.com` as `user@domain.com`. Just some mailservers for some reasons don't allowed +. I have to find another open source mailserver that will work for now.

[2020-07-07 11:15] RCheesley commented on #8982
Hi there, thanks for reporting this. We are already tracking it in #8365 I believe, and we have a [PR](https://github.com/mautic/mautic/pull/8746) which will be in the Mautic 3.0.2 release if the tests are written in time.

I'll close this as a duplicate, please check the fix in the PR if you need it fixed sooner than the end of the month!

[2020-07-07 11:15] #8982 closed, assigned to nobody

[2020-07-07 11:16] RCheesley commented on #8962
OOK, as this is a mailserver issue I will close the issue!

[2020-07-07 11:16] #8962 closed, assigned to nobody

[2020-07-07 11:18] RCheesley commented on #8944
Thanks for checking this out - if you have problems migrating please post in the dedicated support forum here: https://forum.mautic.org/c/support/mautic-3-install-upgrade-support/98

[2020-07-07 11:21] RCheesley commented on #8899
You should see anon users by [toggling the option or searching in contacts](https://docs.mautic.org/en/contacts#search-text) - otherwise you only see known leads.

I will close this an it does not seem to be a bug with Mautic

[2020-07-07 11:21] #8899 closed, assigned to nobody

[2020-07-07 11:25] RCheesley commented on #8887
@PeachySoftware thanks so much for checking and for the recording! Hopefully it is the same bug in a different place as was fixed by #8907 so should be a quick fix!

[2020-07-07 11:50] RCheesley commented on #8504
@coreyworrell thanks for looking into it, I am sure we can help fill in any gaps!

JS/CSS assets will render as the source files if you are in [dev mode](https://contribute.mautic.org/contributing-to-mautic/developer/local-environment-setup#development-environment) rather than minified so that makes it easier if you are tinkering with the -src files to see the changes and troubleshoot as the chang

[2020-07-07 12:18] RCheesley commented on #8484
@nancorrea thanks for sharing the link, content below for ease of reference:

There are suggestions for a [hotfix and for longer term solutions](https://github.com/swiftmailer/swiftmailer/issues/598). Looks like a fix is already shipped in a later version of Swiftmailer ([maybe 6.1.0](https://github.com/swiftmailer/swiftmailer/pull/935#issuecomment-382671760)?) according to [this PR](https://githu

[2020-07-07 12:22] RCheesley commented on #8461
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:24] RCheesley commented on #8256
Closing as OP resolved

[2020-07-07 12:24] #8256 closed

[2020-07-07 12:25] RCheesley commented on #7830
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:27] RCheesley commented on #7679
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:28] RCheesley commented on #4330
Closing issue due to lack of recent feedback

[2020-07-07 12:28] #4330 closed

[2020-07-07 12:38] npracht commented on #4234
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:38] #4266 closed

[2020-07-07 12:39] npracht commented on #4474
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:39] #4496 closed

[2020-07-07 12:40] npracht commented on #4531
The plugin will be fully re-written with #8783 as far as API changed and the current plugin does not work anymore. I'll close the issue because it is not relevant anymore on the current version (not working at all).

[2020-07-07 12:40] #4531 closed

[2020-07-07 12:40] npracht commented on #4503
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:41] npracht commented on #4562
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:41] npracht commented on #4572
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:42] npracht commented on #4570
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:42] npracht commented on #4597
I know it has been fixed in the past

[2020-07-07 12:42] #4597 closed

[2020-07-07 12:43] npracht commented on #4641
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:43] #4640 closed

[2020-07-07 12:44] npracht commented on #4650
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:45] npracht commented on #5272
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:45] npracht commented on #5241
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:46] npracht commented on #5340
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:46] npracht commented on #5144
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:47] npracht commented on #5155
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:47] npracht commented on #5387
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:47] #5364 closed

[2020-07-07 12:50] npracht commented on #5351
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:50] npracht commented on #5305
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:57] npracht commented on #5242
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 12:58] #4882 closed

[2020-07-07 12:58] npracht commented on #4891
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:00] #5046 closed

[2020-07-07 13:01] npracht commented on #4940
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:01] npracht commented on #5406
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:02] npracht commented on #5423
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:03] npracht commented on #5452
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:03] RCheesley commented on #8944
I tweaked the title slightly to make it a bit more descriptive

[2020-07-07 13:03] npracht commented on #5442
I'll close the issue, i'm using this integration and it works properly with all pending PR related to sugar. Also the issue is very old probably not relevant anymore.

[2020-07-07 13:03] #5442 closed

[2020-07-07 13:04] npracht commented on #5466
@kuzmany can you tell if on your M3 installation this is still an issue or not please ?

[2020-07-07 13:04] npracht commented on #5323
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:05] RCheesley commented on #7955
@micaelomota there is a fix proposed here: https://github.com/mautic/mautic/pull/7956 - perhaps you could test and report your findings on the PR?

[2020-07-07 13:08] npracht commented on #5190
That might be a server and domain configuration issue.

[2020-07-07 13:08] #5190 closed

[2020-07-07 13:08] npracht commented on #5199
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:09] npracht commented on #5175
#5257 merged far far ago

[2020-07-07 13:09] #5175 closed

[2020-07-07 13:10] RCheesley commented on #8621
@mabumusa1 thanks for reporting back - is there a PR for it? If not would you mind submitting one with the patch so that we can get it tested and merged? Please mention that it fixes this issue so we can link them :)

[2020-07-07 13:10] npracht commented on #5467
@kuzmany could you check if this is still relevant please ?

[2020-07-07 13:10] npracht commented on #4945
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:10] npracht commented on #4685
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:11] npracht commented on #5521
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:11] #5537 closed

[2020-07-07 13:11] #5515 closed

[2020-07-07 13:11] npracht commented on #5591
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:11] npracht commented on #5590
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:11] RCheesley commented on #8503
Hi @zackrspv thanks so much for the detailed bug report! Can you confirm if this persists in Mautic 3.0.1?

[2020-07-07 13:12] npracht commented on #5595
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:13] npracht commented on #5600
They are planned in the history even if event is not triggered yet.

[2020-07-07 13:13] #5600 closed

[2020-07-07 13:13] #4957 closed

[2020-07-07 13:13] RCheesley commented on #8391
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:13] npracht commented on #4872
@kuzmany can you tell if still relevant please ?

[2020-07-07 13:14] npracht commented on #4948
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:14] npracht commented on #4941
This has been fixed in the past

[2020-07-07 13:14] #4941 closed

[2020-07-07 13:14] RCheesley commented on #8263
Closing this issue due do lack of feedback

[2020-07-07 13:14] #8263 closed

[2020-07-07 13:15] RCheesley commented on #8216
@escopecz is this still an open task to be completed?

[2020-07-07 13:23] RCheesley commented on #8153
@StoppingBuck not sure if this PR will help this issue at all: https://github.com/mautic/mautic/pull/8959?

In terms of BC we follow [semver.org](https://semver.org) so the next BC break release will be 4.0, planned for May 2021.

[2020-07-07 13:59] npracht commented on #5613
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 13:59] #5188 closed

[2020-07-07 14:00] npracht commented on #5650
@RCheesley ? :D

[2020-07-07 14:00] #5677 closed

[2020-07-07 14:00] npracht commented on #5444
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:01] npracht commented on #5550
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:02] npracht commented on #5705
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:02] #5714 closed

[2020-07-07 14:03] npracht commented on #5721
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:04] npracht commented on #4724
This is an enhancement not a bug. Let's move this to the forum

[2020-07-07 14:04] npracht commented on #4724
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2020-07-07 14:04] #4724 closed

[2020-07-07 14:06] npracht commented on #5148
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:06] #5373 closed

[2020-07-07 14:06] #5696 closed

[2020-07-07 14:07] npracht commented on #5798
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:07] npracht commented on #4614
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:08] npracht commented on #5823
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:11] npracht commented on #5725
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:12] #5825 closed

[2020-07-07 14:12] #5843 closed

[2020-07-07 14:13] npracht commented on #5847
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:13] npracht commented on #5872
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:13] npracht commented on #5867
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:14] npracht commented on #5913
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:16] tadinski commented on #5705
Sorry, can’t confirm, I have ceased using Mautic for the time being.

[2020-07-07 14:19] npracht commented on #4969
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:20] npracht commented on #5006
I'll close this, this is a salesforce limit and limit should be raised by salesforce support.

[2020-07-07 14:21] npracht commented on #5315
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:21] #5608 closed

[2020-07-07 14:22] npracht commented on #5968
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:24] npracht commented on #5959
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:32] npracht commented on #5705
Then i'll close it and reopen if someone meets this issue.

[2020-07-07 14:32] #5705 closed

[2020-07-07 14:34] npracht commented on #6058
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:35] #6079 closed

[2020-07-07 14:36] npracht commented on #5816
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:38] #6151 closed

[2020-07-07 14:39] #5253 closed

[2020-07-07 14:39] npracht commented on #4493
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:39] npracht commented on #5045
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:40] npracht commented on #5278
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:40] npracht commented on #4161
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 14:41] #5083 closed

[2020-07-07 15:25] regevbr commented on #8827
I customized my instance a lot since the bugs and features I needed took a long time to be addressed (if any) so upgrading the version will take me a long time that I don't have...
The code at the master branch seems unchanged so my guess is that the issue still persists

https://github.com/mautic/mautic/blob/235534b59afa64d568f15d199b04e10c498feaf6/app/bundles/CoreBundle/Loader/RouteLoader.php#L7

[2020-07-07 16:25] RCheesley commented on #4527
This was addressed with #4628 some time ago, so closing this issue down

[2020-07-07 16:25] #4527 closed

[2020-07-07 16:29] #5006 closed

[2020-07-07 16:30] RCheesley commented on #5247
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 17:30] RCheesley commented on #6026
@alanhartless was this addressed/is it still an issue?

[2020-07-07 17:40] RCheesley commented on #6421
Hi there, as we are only providing features for Mautic 3.x going forward, can you confirm if this continues to be an issue in Mautic 3.0.1? Thanks!

[2020-07-07 19:08] silsha commented on #6058
Hi, I can confirm that the problem still exists in 3.0.1 and can be reproduced by following the above steps.

[2020-07-07 19:21] RCheesley commented on #7576
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 19:22] #7779 closed

[2020-07-07 19:23] RCheesley commented on #7849
Closing this issue due to a lack of recent responses.

[2020-07-07 19:23] #7849 closed

[2020-07-07 19:24] RCheesley commented on #7881
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 19:28] RCheesley commented on #8034
This. has been resolved by #8600 so closing the issue - thank you for taking the time to report it.

[2020-07-07 19:28] #8034 closed

[2020-07-07 19:38] RCheesley commented on #8113
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 19:41] Jammmmm opened #8992 "HTML Image Map links not converted to trackable links"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Links in HTML image maps (\<map

[2020-07-07 19:43] RCheesley commented on #8115
Hi there,

In the docs [here](https://docs.mautic.org/en/channels/emails/bounce-management#monitored-email), it explains that this is how Mautic works:

It looks like you are maybe using GMail, in which case:

If you have further difficulty, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you e

[2020-07-07 19:43] #8115 closed

[2020-07-07 19:47] RCheesley commented on #8120
Good catch! Was able to reproduce on Mautic 3.0.1 - took a long time and yielded no results, error in the log:

`
[2020-07-07 20:45:15] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while executing 'SELECT COUNT(comp.id) as count FROM mau_companies comp WHERE comp.createdBy = ?' with params [2]:  SQLSTATE[42S22]: Column not found:

[2020-07-07 19:53] RCheesley commented on #8121
I am not able to reproduce this in Mautic 3.0.1 so closing the issue.

[2020-07-07 19:53] #8121 closed

[2020-07-07 19:57] RCheesley commented on #7597
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 20:28] RCheesley commented on #8827
Thanks for clarifying, would you consider looking at making a PR to address this issue?

[2020-07-07 20:34] RCheesley commented on #8992
Thanks for raising the issue!

[2020-07-07 20:37] RCheesley commented on #8991
Hi there, have you tried to clear your cache (in var/cache)?

[2020-07-07 20:45] RCheesley commented on #8990
Hi there, unfortunately Thrive Leads have stopped updating their Mautic integration as discussed in [this forum thread](https://forum.mautic.org/t/mautic-3-0-0-this-form-is-no-longer-available-thrive-leads/14892), and it is no longer listed on their[ integrations page](https://thrivethemes.com/integrations/). I suspect that this might be the problem.

I recommend contacting them on the forum [here

[2020-07-07 20:45] #8990 closed, assigned to nobody

[2020-07-07 20:48] RCheesley commented on #8988
@quadcom thanks for reporting this. We have a bidirectional integration with the forums which links up GH issues with forum posts based on mentions, hence the message above. Will close the issue as requested!

[2020-07-07 20:48] #8988 closed, assigned to nobody

[2020-07-07 20:49] RCheesley commented on #8987
@dsp76 thanks for reporting the bug, would you be up for taking a look at fixing this?

[2020-07-07 20:51] RCheesley commented on #8986
Thanks for flagging this up - hopefully a simple fix!

[2020-07-07 20:53] RCheesley commented on #8985
Yuck, what a frustrating bug! Thanks for taking the time to report it! Seems like a missing class= somewhere - could you take a look and see if you can submit a fix?

[2020-07-07 20:56] RCheesley commented on #8984
Hi there, what database collation and encoding are you using?

[2020-07-07 20:58] RCheesley commented on #8509
Hi there, does this persist on 3.0.1?

[2020-07-07 21:01] RCheesley commented on #7044
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-07 22:28] jordan8037310 commented on #2767
This is still an active issue. Can we re-open it?

While working via API, we got a 200 response updating a date field to a Unix Timestamp, and thereafter the contact record could no longer be edited.

Perhaps this deserves a resolution? I'm guessing this issue persists to future versions. We're on 2.16.2.

[2020-07-07 23:03] RCheesley commented on #2767
As we are only providing fixes for 3.x going forward, can you please test on 3.0.1 and if it's still happening then we can re-open!

[2020-07-08 00:30] chendwww commented on #8984
We use utf8mb4, MySQL version is 8.0. The Mautic files set to utf-8 when unzip to server.

[2020-07-08 00:49] chendwww commented on #8984
There are some screenshot about the event sent to mautic 3. It might help:

![event](https://user-images.githubusercontent.com/25785677/86860577-b1c2a500-c0f7-11ea-9999-b437a9663291.png)

Request Data:

page_title=WinDeal%E6%97%A0%E4%BB%A3%E7%A0%81%E9%9B%86%E6%88%90%E4%B8%8EAI%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD%E5%B9%B3%E5%8F%B0-%E6%90%AD%E5%BB%BA%E4%BC%81%E4%B8%9A%E8%87%AA%E5%8A%A8%E5%8C%96%E4%B

[2020-07-08 04:51] kskmt commented on #5406
I'm not sure when, but it doesn't reproduce in 2.6.12, so it seems to have been fixed.

[2020-07-08 04:51] #5406 closed

[2020-07-08 05:31] kuzmany commented on #4872
Not reproduce on M3

[2020-07-08 05:31] #4872 closed

[2020-07-08 06:52] #4162 closed

[2020-07-08 06:52] #4907 closed

[2020-07-08 06:53] npracht commented on #4983
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:53] npracht commented on #4235
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:54] npracht commented on #4248
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:55] npracht commented on #4651
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:55] #5027 closed

[2020-07-08 06:55] npracht commented on #4157
Very old version, no reason to try to fix updating by console for such a version.

[2020-07-08 06:55] #4157 closed

[2020-07-08 06:56] npracht commented on #4989
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:56] npracht commented on #5019
No reproducable, no how to

[2020-07-08 06:56] #5019 closed

[2020-07-08 06:57] npracht commented on #5020
No mautic version reported.
As we are only providing fixes for Mautic 3.x going forward, i'll close it. If you can confirm this continues in Mautic 3.0.1 i'll reopen the issue.
Thanks!

[2020-07-08 06:57] #5020 closed

[2020-07-08 06:58] #6143 closed

[2020-07-08 06:58] npracht commented on #6110
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:59] npracht commented on #6158
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 06:59] npracht commented on #6171
We have brought several fixes to Hubspot plugin since 2018. I'll close it and feel free to comment if you can still reproduce it on 3.0.1.

[2020-07-08 06:59] #6171 closed

[2020-07-08 07:00] npracht commented on #5934
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 07:01] npracht commented on #5837
Hi there, as we are only providing fixes for Mautic 3.x going forward, can you confirm if this continues in Mautic 3.0.1?
Thanks!

[2020-07-08 10:10] wavelski opened #8993 "Second Focus item won't trigger"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have two Focus items installe

[2020-07-08 11:36] dennisameling commented on #8504
@coreyworrell Good point. I also think it would make a lot of sense to use the form ID rather than the form name. Don't know why it was implemented that way in the first place, could only find this PR from 2015 which adds some functionality to it: https://github.com/mautic/mautic/pull/549

I like your idea to add a `data-mautic-form-id` attribute so that we'll maintain backwards compatibility. We

[2020-07-08 12:36] hluchas commented on #7810
@RCheesley Not for now. I'm busy with something else :-/

[2020-07-08 13:49] RaianHN commented on #8804
Could you point me to upgrade documentation ? from mautic 2.16.2 to 3.0.1

On Thu, Jul 2, 2020 at 1:08 AM Ruth Cheesley <notifications@github.com>
wrote:

[2020-07-08 13:52] WaldemarOrobanche opened #8994 "Can't save the 0 value for the Select - Multiple data type"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have a list of options that h

[2020-07-08 14:58] escopecz commented on #8216
It is. It was planned for M3 refactoring but we had to draw a line because of time constraints and some refactoring tasks did not make it. It is waiting for M4.

[2020-07-08 15:19] RCheesley commented on #8804
Sure, take a look at the release announcement here: https://www.mautic.org/blog/community/mautic-3-building-stable-foundations basically update to 2.16.3 then you'll be able to migrate. Ensure you take a backup, check the minimum requirements are met (the script won't allow you to migrate if the aren't!)

[2020-07-08 15:21] RCheesley commented on #8216
Ok, is that the case for all the issues in the 3.x milestone? If so I'll create the 4.0 milestone and assign them to it :)

[2020-07-08 16:09] WaldemarOrobanche commented on #8948
But it's not company import, it's contact import!

[2020-07-08 16:19] RCheesley commented on #8948
@WaldemarOrobanche sorry it seems like this is the same root cause with the import so I'd suggest centralising the discussions on the first post which I will adapt to show it also relates to companies.

As we are only providing fixes for Mautic 3.x going forward, can you confirm (on #7316) if this issue continues in Mautic 3.0.1? Thanks!

[2020-07-08 16:23] RCheesley commented on #7316
Adapted issue as this also seems to be a problem with contacts _**and**_ companies.

[2020-07-08 16:31] WaldemarOrobanche commented on #8948
The bug belongs to the `LeadModel` and to the `LeadRepository` classes. It is similar but not the same.

[2020-07-08 17:28] WaldemarOrobanche commented on #8948
The part of a code that belongs to the bug is the same. So, I can say that it still exist at 3.0.1 version.

https://github.com/mautic/mautic/blob/483d21b7060ed1ce19fdb7ddc1b4d43d1751a8d2/app/bundles/LeadBundle/Entity/LeadRepository.php#L196-L199

https://github.com/mautic/mautic/blob/483d21b7060ed1ce19fdb7ddc1b4d43d1751a8d2/app/bundles/LeadBundle/Model/LeadModel.php#L971

[2020-07-08 17:35] RCheesley commented on #8948
OK thanks for checking, would you like to look into making a PR to address the issue and then we can get it fixed maybe in the 3.0.2 release at the end of July? If it is indeed a completely separate issue to the bug with companies let's re-open the issue.

[2020-07-08 20:00] devsrealm commented on #5181
I still got the error in version 3.0.1

[2020-07-08 21:11] coreyworrell commented on #8504
Thanks @dennisameling . It should be enough for now, I will attempt to work on it if I have some time soon.

Just to note, it looks like there is also an undocumented [`mauticFormValidations`](https://github.com/mautic/mautic/blob/010bc06b41ec2a7e576d35ea231e81cd5f362938/media/js/mautic-form-src.js#L184) that also uses similar API to set validation rules, so that should be covered too by this upda

[2020-07-08 22:18] ramandi opened #8995 "Same image embedded in email multiple times"
## Bug Description
When email is configured to get the images embedded, if the same image is referenced multiple times in the message, it gets added multiple times, even when only one reference will be used.

In function convertEmbedImages in https://github.com/mautic/mautic/blob/staging/app/bundles/EmailBundle/Helper/MailHelper.php we can see that for every match we get this executed:

[2020-07-08 22:20] RCheesley commented on #8995
Hi there, have you tried updating? We pushed several fixes in 2.16.1 and 2.16.2, some of which related to embedded images.

[2020-07-08 22:31] ramandi commented on #8995
Not really, since I thought the problematic code was still there.  I will try it tomorrow.  Thank you!

[2020-07-08 22:35] RCheesley commented on #8995
Ok great. As a side point, we are not providing fixes for the Mautic 2 series outside of security fixes, so if this does not exist in 3.0.1 we will close the issue.

[2020-07-08 22:36] RCheesley commented on #8994
Hi there, can you confirm if this exists in Mautic 3.0.1? We are only providing security fixes for the 2.x series going forward. Thanks!

[2020-07-08 22:38] RCheesley commented on #8993
Hi there, can you confirm if this persists in Mautic 3.0.1? We are only providing security fixes for the 2.x series going forward. Thanks!

[2020-07-08 23:46] MFriedbergNZ commented on #1126
Hi - was the feature added?  I have just started using (3.01) But cant find this feature as part of Campaign Building Action item list.  Thanks

[2020-07-09 07:32] escopecz commented on #8216
Yes, it is. I guess we can rename the 3.x milestone to 4.0

[2020-07-09 07:32] ramandi commented on #8995
I have updated to 2.16.3 and images are not being embedded at all, so I can't check the original problem.  Do you know if that is a known problem or what could I be missing?

Thank you!

[2020-07-09 09:38] ramandi commented on #8995
Ok, I guess that emails sent manually don't get images embedded, but the ones sent from campaigns do.  I don't know if this is the expected behaviour.
Anyway, the problem described is still there also in version 3.0.1.

[2020-07-09 13:00] WaldemarOrobanche commented on #8994
Hi there! This bug does not exist in Mautic 3.0.1. Thanks!

[2020-07-09 13:22] RCheesley opened #8998 "Code issue in /app/bundles/EmailBundle/Helper/MailHelper.php"
## Bug Description
I noticed that Scrutinizer flagged up a [major issue](https://scrutinizer-ci.com/g/mautic/mautic/inspections/c2c9af17-8fac-4dd0-9dec-020e0e022227/issues/files/app/bundles/EmailBundle/Helper/MailHelper.php?status=new&selectedSeverities%5B0%5D=10&orderField=path&order=asc&fileId=app/bundles/EmailBundle/Helper/MailHelper.php&honorSelectedPaths=0) in recent checks:

https://github.c

[2020-07-09 14:33] fernandomacho commented on #7272
Hi, this problem is present in Mautic 3. This is a bug from Froala version in Mautic 2.x is v2.4.2 and the Froala editor in Mautic 3 is v2.4.2. The same. This bug was fixes on Froala 2.4.7 (https://github.com/froala/wysiwyg-editor/commit/3ec30f0edc598bbc7e77f6a5b0e6dd2f348beac6)

[2020-07-09 15:19] fernandomacho commented on #7272
I have tried changing version 2.4.2 to 2.4.7 and the bug remains. With last 2.x version bug remains.

[2020-07-09 17:40] Inboundmanager commented on #8944
The bug is because rel2abs method on Mautic\CoreBundle\Helper\UrlHelper class is not considering right server headers in case of been called from Trusted Proxies. In that case X_FORWARDED_PROTO must be used instead of HTTPS for checking SSL.

See code on isSecure method on Symfony\Component\HttpFoundation:

[code]

Regards

[2020-07-09 17:50] RCheesley commented on #8944
@Inboundmanager it seems this PR relates to that scenario: https://github.com/mautic/mautic/pull/7931 would you agree?

[2020-07-09 17:55] Inboundmanager commented on #8944
Yes, and also https://github.com/mautic/mautic/issues/7577 on Mautic 2.16.3 and Mautic 2.15.3

[2020-07-09 18:14] RCheesley commented on #8944
Great - please test the PR #7931 if you are able (it has a conflict to be resolved so you may need to apply it manually or wait for it to be resolved!) and hopefully we can merge in 3.1!

[2020-07-09 20:42] StEtz commented on #8509
Hi,

I would need to test it with the latest version, because I am currently working with a 2.6 installation.
However if you follow the steps from my description, you can easily test it. Maybe you want to ask a developer to check it?

Something else:
I just tried to install the latest version of Mautic on an AWS EC2 instance (on an Ubunty 20.04-amd64-server instance) and there I am getting an erro

[2020-07-09 20:48] jordan8037310 opened #9000 "Mautic Error Screen - Report an Issue Shortlink is 404"
## Bug Description
When encountering an issue on Mautic 3.x, there is a shortlink to `Report an Issue` which links to:

http://mau.tc/report-issue

This URL redirects the User to A support forums search that doesn't exist: https://forum.mautic.org/search?q=%2523support%2520order%253Alatest

| Q   | A
| --- | ---
| Mautic version | 3.0.1
| PHP version | 7.2
| Browser | Chrome

### Steps to reproduc

[2020-07-09 20:50] jordan8037310 commented on #9000
Screenshot for context

![image](https://user-images.githubusercontent.com/3300713/87089323-1dd20580-c1eb-11ea-929d-35d786661069.png)

[2020-07-09 20:55] jordan8037310 opened #9001 "InvalidFieldNameException for Fax field"
## Bug Description
While testing another issue on Mautibox.com, I encountered a 500 error when saving a new contact.

| Q   | A
| --- | ---
| Mautic version | 3.0.1
| PHP version | 7.2
| Browser | Chrome

### Steps to reproduce
(in My case I was using latest staging build on Mautibox.com)
1. Create a new Contact
2. Fill out First Name, Last Name, no other fields
3. Save.
4. (I added a new custom f

[2020-07-09 20:57] jordan8037310 commented on #2767
Encountered #9000 and #9001 while trying to test this issue on Mautibox.com

[2020-07-09 21:34] RCheesley commented on #9000
Thanks for reporting this - it seems the query syntax changed at some point so I have updated the link to point at the Support forum which should not change!

[2020-07-09 21:34] #9000 closed, assigned to nobody

[2020-07-09 21:42] RCheesley commented on #9001
@heathdutton is this a throwback to the sample data issues with Mautibox?

[2020-07-09 21:47] RCheesley commented on #8509
Please test with a local instance if you are able :) With over 650 issues to triage we need some help from those reporting to check for whether it exists in Mautic 3.x.

Please look on the Mautic 3.x support forum at https://forum.mautic.org where the 404 issue is being discussed.

[2020-07-09 23:21] jordan8037310 commented on #2767
@RCheesley I tested this again on Mautibox.com

1. Created a new field of type `Date/Time` called `custom_date_time`
2. Create a contact
3. Enter `0000-00-00` into `custom_date_time` field
4. contact cannot be saved and closed.

Instead some validation error should be presented to the user.

Also, I want to point out here that the API should be rejecting any input that is not a valid type, instead

[2020-07-10 06:22] trianity commented on #8098
@RCheesley I am agree, this issue is not relevant on Mautic 3.0.1. I also tested.

[2020-07-10 07:03] kolevmm commented on #8778
Hello there,
Custom field/Date - 2020-07-10
Segment with filter custom field: equals: Today doesn't work.
Mautic version 3.0.1
Before update to 3.0.1 the segment work perfect.

[2020-07-10 07:07] OmerGafny opened #9002 "Deduplicate cron throws exception"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When running deduplicate cron (

[2020-07-10 11:31] ramandi opened #9003 "Some emails don't get the embedded images"
## Bug Description
When email is configured to embed images, by default only 100 emails get the images properly embeded.  The rest of them go without them.

This seem to be related to the cron job "bin/console mautic:campaigns:trigger", since we can change the --batch-limit parameter to control how many mails are created correctly.

This --batch-limit serves as a workaround for us, but I think thi

[2020-07-10 13:20] affanahmed70 commented on #1996
go to /etc/apache2/apache2.conf and change this

from

<Directory /var/www/>
	Options Indexes FollowSymLinks
	AllowOverride none
	Require all granted
</Directory>

to

<Directory /var/www/>
	Options Indexes FollowSymLinks
	AllowOverride All
	Require all granted
</Directory>

[2020-07-10 17:48] ravinayag commented on #8832
Seems more or less its similar,  but unsure need to check..

https://github.com/mautic/mautic/pull/8957

[2020-07-10 18:03] StEtz commented on #8509
Hi,
ok I have solved the 404 issue in my Mautic and performed the test with the latest version (commit id: b584b356315).
And I can repoduce the error with this version.

I have created a simple command plugin which can be installed by your developers to help them to repoduce the problem without much effort.

You can find it here: https://github.com/StEtz/MauticCustomFieldTestCommand

Let me know i

[2020-07-10 19:16] zietbukuel commented on #8804
I'm having this issue in the latest Mautic release (fresh install). I see these errors in the console and of course I'm not able to track users at all.

Cookie “mtc_id” will be soon rejected because it has the “sameSite” attribute set to “none” or an invalid value, without the “secure” attribute. To know more about the “sameSite“ attribute, read https://developer.mozilla.org/docs/Web/HTTP/Headers/

[2020-07-10 20:43] #9002 closed, assigned to nobody

[2020-07-10 20:43] OmerGafny commented on #9002
The issue was related to a plugin i used. Once removed, the command worked as expected

[2020-07-11 12:04] dhilst commented on #8882
Hi Ruth, haha no problem I was asked to rebase to 3 series, :)

[2020-07-11 12:05] dhilst commented on #8850
I will try that on 3.

[2020-07-11 13:03] TnowL opened #9004 "Bounce is Not Showing In View Contact and Not Adding to Segment"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Bounce contacts do show up in C

[2020-07-12 10:01] mabumusa1 commented on #8621
@RCheesley Please review the code, I submitted the required change

[2020-07-12 22:53] quadcom opened #9007 "Email Settings > GMAIL Serv > ssl3_get_record:wrong version number"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Setting mail sending method to

[2020-07-13 02:19] alexhammerschmied commented on #7360
is there something we can do to help building/testing?

[2020-07-13 05:48] hoylen opened #9008 "API "id" field changed from int to string in the /api/contacts operation from v2.16.3 to v3.0.0"
## Bug Description

| Q   | A
| --- | ---
| Mautic version | 3.0.0 and later (e.g. 3.0.1)
| PHP version | 7.3.20
| Browser | N/A

### Steps to reproduce
1. Create a segment with at least one contact in it.
2. Invoke the list-contacts operation on the segment. For example:

    curl --user USERNAME:PASSWORD \\
        'http://HOSTNAME/api/contacts?search=segment%3ASEGMENT&limit=1'

Replacing words

[2020-07-13 08:11] RCheesley commented on #9008
@hoylen thanks for taking the time to report this issue!

[2020-07-13 08:24] hoylen commented on #9008
A fix in the 3.0.2 milestone would be great: before clients start expecting the string as the "new normal".

Hope it can address the other string vs int issues at the same time, since addressing them is technically a "breaking change" to the API... and a major version jump to 3.x.x would have been an ideal time for breaking changes. But it is questionable whether 3.0.1 to 3.0.2 should have any bre