[2022-04-02 13:00] RCheesley commented on #11004
Please review the comments on the PR: https://github.com/mautic/mautic/pull/10976 - it is adding functionality so it will be released in 4.3 most likely. Apply that PR if you want a fix in the meantime.

[2022-04-03 13:57] kungfuzi commented on #10964
Same problem here. If this helps anyone, as a work around you can manually add the fields in /app/config/local.php in the contact_columns array.

[2022-04-04 08:43] ghost commented on #10240
I tested it on gitpod and have got this same issue : https://github.com/mautic/mautic/pull/10782#issuecomment-1072250155 @RCheesley

Steps to reproduce:
1. Create new email with MJML template
2. Add some Dynamic content and save email
3. Go back to editor, close editor and save email again.

[2022-04-04 08:55] biozshock opened #11031 "Form API always creates non-custom field."
### Mautic Version

4.2.x series

### PHP version

7.4.26

### What browsers are you seeing the problem on?

_No response_

### What happened?

If bundle defines custom field, Form API always creates the field as non-custom field, which leads to wrong behavior here: https://github.com/mautic/mautic/blob/4.2.1/app/bundles/FormBundle/Views/Builder/form.html.php#L75

### How can we reproduce this iss

[2022-04-04 17:23] zerodois commented on #10997
@RCheesley Yes, I retested using version 4.2.1 and the error still persists.

[2022-04-05 04:10] stevedrobinson commented on #10797
FYI - I posted a bounty for this: https://app.bountysource.com/issues/106643135-filters-for-dynamic-web-content-no-longer-respect-including-logic

[2022-04-05 05:59] RCheesley commented on #10797
@stevedrobinson  have you checked this in recent versions? We did push a fix for operators in filters I believe, in 4.2.1, but this might be affecting a different part of Mautic.

[2022-04-05 14:37] zaharovrd commented on #9725
Have same error on Russian in Mautic 4.2.0
Russian language
Error not resolved

[2022-04-05 15:19] ghost commented on #10964
+1 after migration to 4.2x

[2022-04-05 18:01] PierreAmmeloot commented on #10947
Hello @RCheesley

[code]
As this issue is supposed to fix the problem and it doesn't, it seems appropriate to post here rather than opening a new bug. Next time, would you prefer me to open a separate issue?

[code]
As I show in my message, no action on the "assets" can correct the point.
What more can I do than what I present in my message?

[code]

The command: `php bin/console mautic:assets:ins

[2022-04-06 03:17] kimtiago commented on #10964
Me too... 4.2.1

[2022-04-06 17:41] #9988 closed, assigned to nobody

[2022-04-06 17:41] #10644 closed, assigned to nobody

[2022-04-06 17:41] #10662 closed, assigned to nobody

[2022-04-06 17:41] #10658 closed, assigned to nobody

[2022-04-06 17:41] #10652 closed, assigned to nobody

[2022-04-06 19:59] zaharovrd commented on #10957
i apply patch, but when i try run  `cache:clear` i get

`console.CRITICAL: Error thrown while running command "cache:clear -v". Message: "Failed to clear FilesystemTagAwareAdapter" {"exception":"[object] (Exception(code: 0): Failed to clear FilesystemTagAwareAdapter at /home/master/*************/recommended-project/docroot/app/bundles/CacheBundle/EventListener/CacheClearSubscriber.php:55)","comman

[2022-04-06 22:58] silsha commented on #9987
ignore me. just keeping this issue open.

[2022-04-07 08:35] shanbhardwaj commented on #10666
I'm getting a similar error in upgrading from 4.1.1 to 4.2.1
[code]

[2022-04-07 14:21] rodrideme commented on #10056
Why was this issue closed @RCheesley? It's an essential feature in an email tool, trust the numbers! We replicated the same error here

[2022-04-07 14:33] RCheesley commented on #10056
It was closed due to inactivity, as it states above. I'll open the issue again as requested.

[2022-04-07 15:50] RCheesley commented on #11029
Hi there, this is a duplicate of a known issue which is [already fixed](https://github.com/mautic/mautic/pull/10842).  See also this PR which has some additional fixes: https://github.com/mautic/mautic/pull/10847 which needs testing.

Please ensure you're running the latest version of Mautic (4.2.1) and that you've regenerated assets, cleared cache and cleared any locally / CDN cached files.

[2022-04-07 15:50] #11029 closed, assigned to nobody

[2022-04-07 15:50] #11013 closed, assigned to nobody

[2022-04-07 15:51] RCheesley commented on #11025
Please take this discussion to the forums if you aren't sure if it's a bug. https://forum.mautic.org/c/support :)

[2022-04-07 15:51] #11025 closed, assigned to nobody

[2022-04-07 15:52] RCheesley commented on #11030
Thanks for the detailed report @michalfapso and for being willing to look into fixing this.

@kuzmany can you give any guidance as to where @michalfapso might start to look?

[2022-04-07 15:53] RCheesley commented on #11031
Thanks for the bug report @biozshock - are you up for submitting a PR to fix this?

[2022-04-07 15:57] biozshock commented on #11031
@RCheesley i doubt i'm able to provide something meaningful on such a low level.

[2022-04-07 15:58] benfavre commented on #10953
Any/All emails sent with old/new editor in mautic > 3.3.x don't work in outlook.

I've also seen this issue with newer version of acelle mail (commercial product).
I'm currently hunting down the issues, and it's seems to be a swift message encoding issue.
I run many mautic installs for my clients, none have been able to upgrade past 3.X.
(All the emails they have, fail to render correctly in old e

[2022-04-07 16:19] benfavre commented on #11004
#10976 will not fix the issue
I recommend having a developer send emails with your product to a mail box and then look at the content.

[2022-04-08 06:14] markusrock commented on #10921
Little addition: Upgrading to 4.2.1 did not solve the issue.
Edit 03.05.2022; Upgrading to 4.2.2 did not solve the issue.
Edit 07.07.2022: Upgading to 4.4.0 did not solve the issue.
Edit 19.08.2022: Upgading to 4.4.1 did not solve the issue.

[2022-04-08 06:19] kuzmany commented on #11030
I think Acquia already use this on production. Probably @escopecz  can share more or share PR directly

[2022-04-08 10:06] Klercken commented on #7836
I'm having similar issues with Mautic on a docker container, behind and IIS server with reverse proxy and SSO via Azure.
Trusted proxies have been set with no luck.

[2022-04-08 11:48] kuzmany commented on #9054
This is related for custom email, segment/campaign emails should works.
We are working on fix.

[2022-04-08 12:32] Carlos-mb opened #11061 "Cron Job doesn't finish after update to 4.2.1"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

After migrate from 4.1.2 to 4.2.1 the jobs campaigns:rebuild and campaigns:update does never ends.

When executed from console the process gets 100% but keeps summing and never ends.

Sorry, it's in Spanish:

Recuperando contactos para la campaña 47
3 total

[2022-04-08 15:20] dsp76 commented on #10540
Dynamic Content is still broken in 4.2.1 in classic builder. The default value will not be saved. Mautic Error log is empty. Browser console only has some messages, but not really showing errors.

[2022-04-08 15:21] benfavre commented on #10953
FYI all the conditionnal IE tags are broken, and MJML uses them extensively

`
</td>
`

`
<!--=20
[if mso | IE]>
`

[2022-04-08 15:51] benfavre commented on #10953
Using https://www.php.net/manual/fr/function.quoted-printable-encode.php
Encodes the email and preserves conditional tags just fine

[2022-04-08 16:13] PierreAmmeloot commented on #10965
Hello @kuzmany @escopecz,

With Mautic 4.2.1 it's work on my side. Thanks you ! 👍
Can you check on your side before closed this issue ?

Pierre

[2022-04-08 16:16] PierreAmmeloot commented on #10957
@zaharovrd I think your issue is this issue : https://github.com/mautic/mautic/issues/9928

Pierre

[2022-04-08 16:29] PierreAmmeloot opened #11064 "Error 500 on Hubspot Plugin Popup config screen"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

Since I upgraded to Mautic 4.2.x it is impossible for me to access the Hubspot plugin.

I have 500 error is returned only on Hubspot Plugin Popup config screen.
I can't disable the plugin on admin screen.

I see the same error message on this old issue :
https://

[2022-04-08 16:46] PierreAmmeloot commented on #11004
Hello @RCheesley,

I confirm #10976 not fix this bug on my side.

Pierre

[2022-04-09 06:41] #10565 closed, assigned to nobody

[2022-04-10 16:48] pstevens71 commented on #10024
So on 4.2.1 I've tested and the sync seems to be working both ways.  Haven't had a chance to test the "push" because I automatically add all leads that are in Mautic to SutieCRM so there is no need to "push".  However, the following now works for me:
1) New leads in SuiteCRM are added to Mautic
2)New leads in Mautic are added to SuiteCRM
3)Changes in Mautic reflect in SuiteCRM (if the Mautic field

[2022-04-11 08:14] peter-palmer commented on #9033
same issue here, there is no resolution???

[2022-04-11 08:15] peter-palmer commented on #9033
I'm getting this error in the console...
![image](https://user-images.githubusercontent.com/58218056/162693946-4ac664b3-b1f6-4b6f-bc6a-2747769b9812.png)

[2022-04-11 08:29] eve292 commented on #10964
Me too

[2022-04-11 08:36] peter-palmer commented on #9033
# Solution!

**So finally, I have solved the issue!!**

I have followed these steps to solve it:

1. Back up (download) all Mautic files from your server to your local computer, using File Transfer Protocol (FTP) or the [scp command](http://manpages.ubuntu.com/manpages/precise/en/man1/scp.1.html) which is much faster.
2. Delete all Mautic files and folders on your server. Use FTP or the [rm comman

[2022-04-12 09:36] Cloudore opened #11067 "Mautic fails every couple of days"
### Mautic Version

4.1.x series

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

So a couple of months ago, I ran out of space on my mautic instance.

Everything seemed to be working great after upgrading my storage, however, since then, every about two days, mautic will fail and I will have to restart it,

I've tried many things, mainl

[2022-04-12 09:50] RCheesley commented on #11067
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems. Thanks!

[2022-04-12 09:50] #11067 closed, assigned to nobody

[2022-04-12 14:40] christian-krieg commented on #6146
Is there any insight on the root cause of the problem? Disabling the web application firewall doesn't seem to be the most appropriate long-term solution.

[2022-04-12 15:53] christian-krieg commented on #6178
For the records: I also asked this in #6146

Is there any insight on the root cause of this problem? Particularly, it would be interesting which web application firewall (WAF) rules are violated, and why. Then, it would be interesting how to avoid the WAF being triggered. Disabling the WAF does not seem to be the way to go for me...

[2022-04-12 16:09] Cloudore commented on #11067
What constitutes a bug?

Mautic failing after filling the server's storage, and being allocated more storage, seems not to be a rare occurrence as per this forum post @RCheesley...

https://forum.mautic.org/t/command-swiftmailersend-exited-with-status-code-1/21905/3

[2022-04-12 16:19] RCheesley commented on #11067
This is a server configuratio/resourcing issue, not a bug with Mautic. Therefore this is not the place for you to access support on how to correctly configure and resource your server, that is what the forums are for. Please use the right place for the right reason. Thanks!

[2022-04-12 23:53] privateidaho commented on #10024
@pstevens71 Which version of Suite are you running?

[2022-04-13 08:47] AWessel77 opened #11072 "Hook method onPluginInstall doesn't get the installedSchema as param"
### Mautic Version

4.1.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I got an errror on plugin installation that occured because the param $installedSchema for the hook method onPluginInstall is not the schema. Instead it is a bollean.

### How can we reproduce this issue?

The ReloadHelper provides different parameters when

[2022-04-13 13:42] pstevens71 commented on #10024
I'm on 7.12.5 and PHP 7.4

I used to use the synccontacts command vs.  the fetchleads, not sure if that made the difference or just the upgrade I recently did for Mautic.  I also slightly changed my command from "1 day" to "1 days" don't know if that makes a difference either.  I do know the above config works and I finally have 2 way sync!

[2022-04-13 16:01] mgaido commented on #10964
Me too. And "Merge by unique fields with operator" don't work too

[2022-04-13 21:26] incentfit-product opened #11073 "Progressive forms not working!"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

_No response_

### What happened?

I have a progressive web form.  It's using the functionality referenced in https://github.com/mautic/mautic/pull/8611.  It was previously working just fine when I was on version 3.x but I recently updated to 4.2.1 and now all of my progressive forms are ju

[2022-04-14 06:52] npracht commented on #11073
Hi there, I can reproduce the issue. We'll take care of this.

[2022-04-14 16:52] escopecz commented on #10965
Cool, thanks for retesting!

[2022-04-14 16:52] #10965 closed, assigned to nobody

[2022-04-14 17:02] escopecz commented on #11030
This is not an issue for Acuqia as ACS use different modal for sending emails than the community. Quickly looking at the code I see no reason why the `sendExample` action would be cached. Do you have an experience with dev tools in your favorite browser? If you could compare the 2 requests you should see if the `sendExample` action is sent via HTTP requests and it will point you whether the proble

[2022-04-15 06:23] carduz opened #11078 "ChangeCampaign Event on Points Trigger doesn't work"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

_No response_

### What happened?

The event "campaign.changecampaign" (AKA "Modify contact's campaigns") used in Point Triggers and declared Mautic\CampaignBundle\EventListener\PointSubscriber doesn't work, since it still uses "\Mautic\CampaignBundle\Helper\CampaignEventHelper::addRemoveLe

[2022-04-15 13:09] Cloudore commented on #9400
I have today fallen victim to this error, after a scheduled email was sent:

`[2022-04-15 13:04:53] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo4OiJmemJ2eSI7djo0O3Y6NDg3O31mOjg6ImZ6YnZ5Ijt2OjQ4NztmOjc6ImZnYmciO2Y6NTU6Ijk1ODI5ZDI3ZTIwMjU1MDA2NDU2MjAiO2Y6NzoieWZiZSI7Zjo5OiI5MzA3NjciO2Y6MDoiZHViYWFmeSI7Yjo0OntmOjg6ImZ6YnZ5Ijt2OjQ4Nzt9fQ== {"exception":"[object] (M

[2022-04-15 15:15] mabumusa1 commented on #10449
Reopening this issue, this is the exact log

[code]

We need to tweak the process, @mlahlouh for your input

[2022-04-15 17:33] adorosario commented on #10947
This issue is still persisting in 4.2.1 - should we open a new bug ? Exactly as described by @PierreAmmeloot above.

[2022-04-15 17:34] adorosario commented on #10947
Sorry - but is there a workaround for this issue?

![image](https://user-images.githubusercontent.com/123429/163602560-0df4b7fc-3e6d-4584-99ba-1ae85caa188b.png)

[2022-04-15 22:23] #10562 closed, assigned to nobody

[2022-04-15 22:23] #9166 closed, assigned to nobody

[2022-04-17 14:18] carduz commented on #11061
I had an analogous issue and after 3 hours of debugging I found out that the issue was caused by a contact that was previously removed manually by the campaign. Check the conditions inside "Mautic\CampaignBundle\Membership\Action\Adder::updateExistingMembership"

[2022-04-17 15:58] Carlos-mb commented on #11061
Thank you Carduz.

I already deleted the first three contacts that caused the problem, but it fails with other contacts.

I can't debug because I'm using 4.1.2. The processes are working fine in that version.

Regards.

[2022-04-17 17:30] noemibuscemi opened #11079 "Already created campaign cannot be published"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

An already created campaign cannot be published.
Workaround: clone the campaign and publish

### How can we reproduce this issue?

Step 1: create a campaign
Step 2: save the campaign
Step 3: exit
Step 4: search for the campaign
Step 5: edit the campaign
Step 6: s

[2022-04-17 17:53] abunch opened #11080 "Import errors"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

`[2022-04-17 17:47:04] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "strpos() expects parameter 1 to be string, int given" at /var/www/html/app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php lin

[2022-04-18 12:59] abunch commented on #9011
After 21 months, has this issue been addressed?

[2022-04-18 13:06] MarkerB commented on #9011
Did you look at the previous post from [bradycargle](https://github.com/bradycargle)? They suggest it was fixed.

I'm not willing to upgrade from 3.3.1 just to test it out, as my previously mentioned workaround has made my current Mautic very usable. At this point in my life, I've become wary of upgrades that always seem to cause days of hair pulling.

[2022-04-18 18:04] noemibuscemi opened #11081 ""From name" advanced setting does not apply"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

"From name" advanced setting does not apply when the email has been sent.
The sender results to be "info" not the one inserted in the "from name" box.

### How can we reproduce this issue?

Step 1: Create an email
Step 2: Go to "Advanced"
Step 3: Fill in the "Fro

[2022-04-18 18:54] abunch commented on #9011
I also saw PR #10994 that was closed but not merged

[2022-04-19 07:34] benfavre commented on #10953
Looking back at this, in my other software solution, the culprid was not actually the QP encoding but rather an agressive normalisation method executed before performing the encoding.
White space removal should not be run on the email source (before sending/ever ?), as conditionnals are no longer recognized by the clients as intendend.

[2022-04-19 08:09] escopecz commented on #10947
Is there any chance you saved the segment in this state when there was the issue? If you create the same filter now, does it still happen?

Also, please make sure that the browser cache is cleared after you run `bin/console mautic:assets:generate`. The old JS can be stored in browser cache.

[2022-04-19 08:50] escopecz commented on #9011
I re-opened the PR. I did not see any reason why it was closed. Any test confirmations on that PR would greatly help to merge it soon.

[2022-04-19 12:10] adorosario commented on #10947
Its a fresh 4.2.1. install on the day that the issue happened. So its not an old segment.

UPDATE: Now magically the buttons appeared. So looks like it could be a timing issue with the cron jobs and the cache - or stored JS in the browser cache. Not really sure what exactly solved the problem.

But maybe the following sequence should help other users maybe?
1. bin/console mautic:assets:generate
2.

[2022-04-19 15:39] escopecz commented on #11013
@dennisameling ideally, yes. Migrations should do the trick. However, when something goes bad during the upgrade. Like if someone updates from the UI and the migration gets killed in the middle due to timeout then `bin/console doctrine:schema:update --dump-sql` is good for debugging.

[2022-04-20 07:17] patrykgruszka commented on #10316
up

[2022-04-20 13:32] PierreAmmeloot commented on #10947
Hello @adorosario,

I have follow your instructions (on Mautic v4.2.1).
On my existing segment, I still have the same problem...
I don't think the problem is with the browser cache.

I have created a new segment and the field appears correctly.
I have cloned the segment that was giving me problems and the new segment is displaying OK.

So I think the problem is with the Mautic update.
What do you

[2022-04-20 13:37] adorosario commented on #10947
You could be right. Unfortunately, I am not familiar with the Mautic source (I'm more of a consumer) -- so maybe one of the contributors might be able to help. Your analysis should be very useful (if this is happening only on existing segments)

[2022-04-20 20:19] zafai opened #11091 "Save E-Mail Link Color unreadable"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

When creating or saving an E-Mail the Link/Name of the E-Mail is unreadable/really hard to read.
Would be great if we could change the Link Color there.

![image](https://user-images.githubusercontent.com/10008540/164315585-36e1da51-d72d-48d1-ac76-d1d6e5b7bc6c.png)

[2022-04-21 03:54] gradualChange opened #11092 "Actions in campaign builder affect all contacts, not the segment selected"
### Mautic Version

4.2.x series

### PHP version

7,4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

![Screenshot from 2022-04-21 13-01-54](https://user-images.githubusercontent.com/102276580/164365312-d836f744-157f-4e64-aab5-31609d6b5fda.png)

I created a campaign like this, chose a segment to source contacts from, and then added an action to send out an

[2022-04-21 18:36] Muckrat opened #11094 "Theme Manager is broken"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

tried to install a theme after editing the config.json file and error came up Uh oh! I think I broke it
[books-blue.zip](https://github.com/mautic/mautic/files/8534154/books-blue.zip)
.

### How can we reproduce this issue?

Step 1:  open zip folder
Step 2: Extra

[2022-04-21 21:27] AchieveGirl opened #11095 "Webview_text link corrupted in live emails"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The issue: Webview token is adding wrong folder and hash to the preview link in live emails.

I've sent several live emails from the builder, mostly using the Brienz template, but the problem also happened with the Paprika template, and the problem is the UR

[2022-04-22 08:37] toondeg opened #11097 "No possibility to change the language of the preference center in the UI"
### Mautic Version

4.1.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

We have a mautic env setup that shares contacts who have different languages.
We are not able to:
_Show a French preference center to a French contact_
_Show a Dutch preference center to a Dutch contact_

The only available option here is English, which is a cruc

[2022-04-22 14:43] monkey-theatre commented on #10964
The same issue here.

[2022-04-23 08:18] carduz opened #11104 "It's not possible to insert filters in the segment"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

When you select a field in the filter section of a segment the field is not added and so you cannot add filters to the segments

### How can we reproduce this issue?

Step 1: Create a new segment
Step 2: Go to the filter section
Step 3: Select a field

### Releva

[2022-04-23 09:18] RCheesley commented on #11104
Hi there,

Once you're on 4.2.1 please apply the command `bin/console m:a:g` to regenerate the JavaScript, and make sure you clear your browser cache.

[2022-04-23 09:18] #11104 closed, assigned to nobody

[2022-04-23 18:10] trianity opened #11105 "Installing Mautic ^4 with Composer - Broken"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

I had followed the documentation how to install Mautic v^4 with Composer: https://docs.mautic.org/en/setup/how-to-install-mautic/install-and-manage-mautic-with-composer
The Composer part of installation was running without error.
The HTML part of installation gav

[2022-04-24 11:54] trianity commented on #11105
Files contents:
/your-mautic-root/vendor/doctrine/dbal/lib/Doctrine/DBAL/Configuration.php - at line 63:

[code]
/your-mautic-root/docroot/var/cache/prod/ContainerWBP1JxZ/appAppKernelProdContainer.php on line 2317:

[code]

[2022-04-24 12:00] trianity commented on #11105
@RCheesley  @kuzmany  is there any idea how to resolve it? This bug brokes the full installation process,

[2022-04-24 14:12] RCheesley commented on #11105
We have already merged several fixes for this and other issues which will come in 4.2.2 on Monday, this is a duplicate issue so I'll close it as such.

[2022-04-24 14:13] #11105 closed, assigned to nobody

[2022-04-24 16:20] iamjrock opened #11106 "RabbitMQ/Beanstalkd Config moved to a file that is NOT local.php"
### Mautic Version

4.2.x series

### PHP version

7.3.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm still learning my way around the Mautic code base, so I THINK this is a bug and would like more experienced Mautic devs to let me know if I've understood this correctly.

In [this](https://github.com/mautic/mautic/commit/74b8c3e942636a953b081a285c5b6965

[2022-04-25 05:14] RCheesley commented on #9762
Closing as these issues are now resolved.

[2022-04-25 05:14] #9762 closed, assigned to mohit-rocks

[2022-04-25 11:26] dsp76 opened #11108 "Filter dates for bounce report don't work"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Tried to filter for DNC date in the predefined bounce report.  The provided date selector has no effect at all. At least the Date to be checked seems not to be the DNC date.

Also defining two more filters dynamically don't work. We only get one field, which

[2022-04-25 11:28] escopecz commented on #10769
Closing this issue as https://github.com/mautic/mautic/pull/11102 will be released in 4.2.2 today. Please create a new issue for bugs or enhancements for this solution.

[2022-04-25 11:28] #10769 closed, assigned to adiux

[2022-04-25 15:02] dsp76 commented on #10981
Seems to work with 4.2.1. and m:a:g now...
Tested in two different instances.

[2022-04-25 15:02] #10981 closed, assigned to nobody

[2022-04-26 07:46] zaharovrd commented on #6660
please reopen in  v4.1.2

[2022-04-26 17:37] olivierlambert commented on #10957
Patches applied + running `composer update` fixed it on my side :+1: Thanks for the patches!

[2022-04-26 17:52] RCheesley commented on #10957
Hi folks, we actually have a PR to fix this: https://github.com/mautic/mautic/pull/11039

Please test with the latest version (4.2.2) and report back on the PR so we can merge it.

[2022-04-26 20:11] Muckrat commented on #11094
solved by removing theme folder /var/www/html/themes/(problem theme) and the clearing the cache

[2022-04-26 20:11] #11094 closed, assigned to nobody

[2022-04-26 22:19] backstageel commented on #5308
Voting for this feature too

[2022-04-27 11:28] giomasce commented on #9797
Not stale, I'll keep working on it as soon as I have time.

[2022-04-27 16:07] kuzmany commented on #8198
Fixed for segment filters

https://github.com/mautic/mautic/pull/11124

[2022-04-27 16:47] kuzmany commented on #11073
This PR should fixed it https://github.com/mautic/mautic/pull/11125
But based on M3 version each field need this these settings of each field

![image](https://user-images.githubusercontent.com/462477/165576740-86d74a19-23f2-4729-baa5-5dfebe9b86ac.png)

[2022-04-27 19:12] kuzmany commented on #8198
Issue still persist on campaign contact field value condition and probably form value condition at least

[2022-04-27 23:37] vickyberenguer commented on #10964
same problem here

[2022-04-28 10:56] escopecz commented on #10864
@Aerendir thanks for pointing this out and your thorough research. Yes, I believe the intention was to create unidirectional association. The more I look at the `DynamicContentLeadData` entity the less I understand its purpose. I can't find where it is used anywhere. Or am I missing something? If it's not used then we can deprecate it in the 4.x branch and remove in the 5.x branch.

[2022-04-28 12:58] trianity commented on #10957
Hi @RCheesley , I did a fresh composer install of Mautic v.4.2.2 and the install process was correct. The Mautic application installed, running well.
The bin/console was broken without applying @jonathandhn 's patch mentioned above.
Applying the patch the cron jobs with bin/console are running without errors.

[2022-04-28 13:06] escopecz commented on #10864
It is being used as DBAL, not ORM: https://github.com/mautic/mautic/blob/4.x/app/bundles/DynamicContentBundle/Model/DynamicContentModel.php#L121

[2022-04-28 13:10] michalfapso commented on #11030
Thanks for the hint, @escopecz. My testing email had subject "Email 13" and I've tried it in this order:
1. hitting the "Send" button sends a POST https://myserver.com/s/emails/send/13?mauticUserLastActive=1117&mauticLastNotificationId=
  with request data: `{
	"batch_send[batchlimit]": "100",
	"batch_send[_token]": "BwTi7vJMDLCOnoom5E7OlUebCCEQYNgfK6HFwYmW-eU"
}`
  and it sends the email with the

[2022-04-28 13:25] Aerendir commented on #10864
@escopecz , honestly I'm not so used to the Mautic's codebase... As you found, it is used in queries, but maybe it is also used dynamically: I really don't know nor gone so deeper in the code to discover if it is used elewhere.

Static analysis tells that it is not used, but static analysis alone may not be sufficient to fully understand how the method/field is used.

[2022-04-28 14:04] dongilbert commented on #10864
It is Unidirectional. We do not get DynamicContentLeadData from the DynamicContent object itself, but do get DynamicContent from the DynamicContentLeadData

[2022-04-28 14:57] jonathandhn commented on #10957
Really nice, I'm currently on vacation.
I will PR the need patch next week, except if someone told me something else to do.

It seams my patch change two files ( bin/console & autoloader.php ) while only bin/console still need a patch. I will check and PR as needed.

(PR the full patch inside mautic core code, then PR the mautic4 recommanded project to load the patch already provided by others mea

[2022-04-28 18:22] minholi opened #11129 "AND condition not working on segment filters"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

AND condition not working on segment filters.

Combining 2 conditions based on custom field values only considers the first field.

### How can we reproduce this issue?

Step 1: Create 2 custom fields
Step 2: Create contacts using 2 or more different values

[2022-04-28 21:28] automatyzuj commented on #10613
+1 Regression. Problem still exist with M4.2.

I will be grateful for reopening.

[2022-04-30 10:18] #10694 closed, assigned to nobody

[2022-05-02 08:18] #10469 closed, assigned to nobody

[2022-05-02 08:18] #10685 closed, assigned to nobody

[2022-05-02 09:59] npracht commented on #10241
Still an issue

[2022-05-02 10:02] npracht commented on #10334
Still an issue

[2022-05-02 13:28] RCheesley commented on #11073
This is resolved with #11125 which will be released at the end of the month in Mautic 4.3 🎉

[2022-05-02 13:28] #11073 closed, assigned to nobody

[2022-05-02 14:28] escopecz commented on #11030
It could be related to a specific email transport. Can you try another transport?

[2022-05-02 15:58] escopecz opened #11137 "API calls are creating session even though they should be stateless"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

We noticed slowness and even denial of service for one of our clouds. We noticed there is several millions of API calls happening per day and that Redis which we use as the session storage was the bottleneck. It took us a while to connect the dots but the prob

[2022-05-02 16:08] escopecz commented on #11137
Wait, there might be very simple solution. I don't see the params that are set from the session used anywhere. Can we just remove the constructor?

[2022-05-03 01:58] stevedrobinson commented on #10797
This is still an issue as of 4.2.1. I see there is a possibly relevant fix in 4.2.2. I'll get that upgrade in place soon and retest.

[2022-05-03 02:05] lilmike commented on #10442
As far as I know this is still an issue -- I haven't heard anything to
the contrary.
-Michael.

--
Sorry about the test, it's just a me thing.
Michael Taboada, Creator of Games. Does that make me a god, well, sorta.
My pgp key: 79BC390E8864CD71305D4DD606CD2197A6EE5ED7
My website: https://michaels.world
2MB website: https://2mb.games
Don't believe everything you read on the internet. I might not be

[2022-05-03 07:38] arturromaorocha commented on #9278
I have the same problem, mautic only identifies the first get parameter and ignores the rest.

://site?foo=bar&bar=foo&other=...
only foo is sent to the destination

v4.2.2

PHP Version 7.4.3

Database info
Version 8.0.28-0ubuntu0.20.04.3
Doctrine driver pdo_mysql

![image](https://user-images.githubusercontent.com/11146355/166418872-9a27cac4-09f1-4e83-8e2c-a222b27b0d0e.png)

![image](https://user

[2022-05-03 16:27] nikitakothari06 opened #11146 "Mautic does not work on Litespeed server"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox

### What happened?

I have tried installing Mautic 4.2.2 on Litespeed server and it's not working. Post extracting the package when I try to execute the index.php file via browser it gives 403 forbidden error.

I have also tried adding a sub directory path in <If "%{REQUEST_URI} =~ m#

[2022-05-03 19:48] everettmarshall commented on #7609
Hey - I'm new to Mautic and just figuring out its development.  What is the status of this feature? Is it not in the final build? I have a client with 4.2.2 and the feature does not appear to be active.

[2022-05-03 21:46] RCheesley commented on #7609
@everettmarshall  it hasn't been released because we haven't had enough testers.

Please take a look https://github.com/mautic/mautic/pull/7386 - you should be able to click to open it in Gitpod to test it.

We have the last day of our community sprint tomorrow so if you need help with testing please join us on Slack (https://mautic.org/slack for an invite) and join #community-sprint.

[2022-05-04 08:36] #8198 closed

[2022-05-04 09:08] automatyzuj opened #11147 "Forms: Checkbox values aren't saved in contact information"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

When using checkbox in a form the value of the checkbox wont be saved into the mapped contact field.

Link to older issue: https://github.com/mautic/mautic/issues/10613

### How can we reproduce this issue?

1. Create a form
2. Add an email field
3. Add a

[2022-05-04 09:38] benfavre opened #11148 "Mautic does not preserve HTML formatting and doctype"
### Mautic Version

4.2.x series

### PHP version

7.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

MJML emails generated (with or without the mjml attibute owa="outlook") do not render properly in outlook.
This worked fine in 3.x.x and is preventing us to upgrade.
We have tracked this down to the modification of the HTML source when running the sanitization

[2022-05-04 10:13] RCheesley commented on #11148
Thanks for the issue report, but this is a duplicate.

Please check https://github.com/mautic/mautic/issues/10953

[2022-05-04 10:13] #11148 closed, assigned to nobody

[2022-05-04 12:30] automatyzuj commented on #11030
+1 AWS as provider here. No logs.

[2022-05-04 14:39] jos0405 commented on #11129
Hi, the same segment filter works for me perfectly.

![image](https://user-images.githubusercontent.com/4246909/166704962-3ec50ba4-35a9-4ff9-bfcf-578fd720dc0b.png)

All other segments working properly? This is a selection field, right?

[2022-05-04 14:47] jos0405 commented on #11147
As far as I know checkbox can be only mapped to selection or multi select values, not text fields.

[2022-05-04 14:53] jos0405 commented on #11081
Hello @noemibuscemi ! Could you plz give feedback on the SMTP you are using. There was a similar bug with Amazon SES before couple of versions ago, but it was fixed. Maybe it's related. Thank you.

[2022-05-04 15:04] jos0405 commented on #11095
Hi, could you plz give me more info:Are you using the {webview_text} as token to generate that ink? Can you give an example link after its generated? Are there numbers shown?

Did you change anything in Config - Email? Is your box looking like this?

![image](https://user-images.githubusercontent.com/4246909/166711031-17b0cbeb-093a-4050-bf2f-9f83a33b04e3.png)

[2022-05-04 15:06] jos0405 commented on #11091
The blue color is the same for everyone, but the German translation should add that space, which is missing. This can be done in transiflex. @kathrin-schmid or @oltmanns-leuchtfeuer , maybe you can do it for German? :)

[2022-05-04 15:10] jos0405 commented on #10997
Hello,
Your email is blank, because this is not how API call works. You need to fill in the custom html as well. That will actually create the email content, the template is just a 'background info' for the template rendering. Sorry that it's so confusing :)
Try to add

 'customHtml' => $htmlTemplate,
  'plainText' => '',

You can see in the response, that custom html wasn't filled.

Please let me

[2022-05-04 15:10] #10997 closed, assigned to nobody

[2022-05-04 15:22] jos0405 commented on #9647
Seems to be fixed in 4.2+, so I'll close it. Yell and reopen if I'm mistaken.

[2022-05-04 19:46] AchieveGirl commented on #11095
Hi Joey,
Yes, we are using the {webview_text} as token to generate the link and no we have not modified anything in the Config - email. I have already attached the screenshots you request and described how I was able to manually modify the address from the link throwing the 404 to a working link in my post above, and also in my emails to you requesting help on this issue.(April 13/14/20/21 - from

[2022-05-04 21:28] esmaeili0101 opened #11151 "Do not handle emoji in importing contacts"
### Mautic Version

4.2.x series

### PHP version

7.2

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari

### What happened?

When uploading the contact list, if there is an emoji in a line, it does not give any error, but the import is not done. That is, it remains in upload mode without incident.

### How can we reproduce this issue?

Step 1: Make a list of email and nam

[2022-05-04 22:04] #9992 closed, assigned to nobody

[2022-05-05 07:26] jos0405 commented on #11151
Hi, before excalating this further, can you plz confirm, that your database is for the table "leads"

 'charset' = 'utf8mb4';
'collation' = 'utf8mb4_unicode_ci'

Looks like this:
![image](https://user-images.githubusercontent.com/4246909/166878979-2ae55ac7-f3f0-440e-8f82-6854ed84e672.png)

[2022-05-05 07:32] jos0405 commented on #10955
This is in production as of 4.2.1, I tested and it seems to be working. I take the liberty to close this bug report. If you find any issues, please feel free to reopen.

[2022-05-05 07:32] #10955 closed, assigned to nobody

[2022-05-05 08:26] perler opened #11152 "mautic:update:find doesn't have an exit/error code (for automation/scripting)"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

running` php bin/console mautic:update:find
`doesn't give back an exit code. we would like to run `php bin/console mautic:update:apply` only when an update is available

### How can we reproduce this issue?

Step 1: php bin/console mautic:update:find
Step 2: e

[2022-05-05 12:05] automatyzuj commented on #11147
It also doesn't work.  @oltmanns-leuchtfeuer tried to map it to text field. But in my unit I tried mapping checkbox agree to select field. I suppose that checkbox value is only mapping correctly to boolean fields.

[2022-05-06 10:29] #9647 closed, assigned to nobody

[2022-05-06 11:30] jos0405 commented on #11079
Hello @noemibuscemi, I just tested in 4.2.1, and works fine. Any errors in the log?

[2022-05-06 22:12] DogByteMarketing opened #11155 "A/B Testing Parent Percentage"
![image](https://user-images.githubusercontent.com/40912852/167222886-d31e25a2-d8df-408a-b6e8-56532f10a48c.png)

### Mautic Version

4.2.2 series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

When creating an A/B test and configuring it to be 50% in the new variant, it shows the parent to still have 100% under the variants tab in the em

[2022-05-07 05:23] iparker commented on #10540
Any news about this? I think this is a really relevant issue.

Or will this not be fixed because issues with the legacy builder will not be fixed anymore?

[2022-05-07 07:38] jos0405 commented on #11155
Hi, are these emails actually sent out already?

[2022-05-07 10:00] DogByteMarketing commented on #11155
No, when we saw the percentages were incorrect, we deactivated it. Wanted to verify that it was just a display issue first.

[2022-05-07 15:05] minholi commented on #11129
Double checked here. It was caused by a wrong contact list import.

[2022-05-07 15:05] #11129 closed, assigned to nobody

[2022-05-08 09:28] noemibuscemi commented on #11081
Sendgrid

[2022-05-08 09:28] noemibuscemi commented on #11079
Regenerating the assets is ok now

[2022-05-08 14:01] jos0405 commented on #11155
Probably a display issue. Do you want to keep the bug open?

[2022-05-09 11:05] jos0405 commented on #11080
Hi, trying but can't reprodice it. Import works fine with the file you mentioned. Also the fact, that "sometimes works" points me at an environment issue.
Are you trying to import custom fields as well?

[2022-05-09 12:07] kathrin-schmid commented on #11091
@jos0405 , done – i added the space in the german translation via transifex.

[2022-05-09 15:43] DogByteMarketing commented on #11155
I'll setup a test to see if it functions correctly, but looking through the views it appears to pull the correct percentage based on
\app\bundles\CoreBundle\Views\Variant\row.html.php:19

`$weight        = (int) $variants['properties'][$id]['weight'];`

I'll report back if it does indeed send twice.

**EDIT**: I confirmed it's a display bug. I believe the issue lies with having our emails configur

[2022-05-10 09:23] jos0405 commented on #11095
Okay, thanks. I keep this bug open.
Regarding the code: you can make a search for webview_text token.
As a workaround you can hardcode the public url of that Email. I know its not ideal, but it would work at least.

[2022-05-10 09:31] mareksotak commented on #10638
Still present in v4.2.2.

Although the emails are being sent, the error shows.

From Settings > Configuration > Email settings
Test connection button > Success!
Sent test email > Mandrill failed to authenticate (with the error log below)
`[2022-05-10 11:26:32] mautic.ERROR: [MAIL ERROR] Mandrill failed to authenticate (send); a@b {"exception":"[object] (Swift_TransportException(code: 0): Mandrill

[2022-05-10 13:18] Blackclaws opened #11157 "Page Hit without token is assigned to the last user that had a hit"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari

### What happened?

When sending emails to contacts that reference specific landing pages page hits are counted weirdly if the ?ct parameter is removed.

The page hit if removing the ?ct parameter will be assigned to the last contact that had a hit that included the

[2022-05-11 08:49] daniellord32 commented on #3150
I came across this when testing a form submission from a different url (using the form api to display a form on a webpage).

I noticed in the PublicController in App/bundles/FormBundle calls the inputhelper on line 46 which processes as expected.
Later in the same controller
`$result = $this->getModel('form.submission')->saveSubmission($post, $server, $form, $this->request, true);`
In the saveSubm

[2022-05-11 09:21] automatyzuj commented on #11146
I'm not 100% sure, but I think Mautic is an application that just requires Apache and should be installed only on this kind of server.

[2022-05-11 10:27] kuzmany commented on #10932
@shinde-rahul your PR https://github.com/mautic/mautic/pull/10705 still do this regression. Are you able to look on it?

[2022-05-12 01:24] luismts commented on #11152
+1

[2022-05-12 15:41] pstevens71 opened #11158 "Decimal Fields from SuiteCRM don't sync with Number Fields in Mautic"
### Mautic Version

4.1.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Mautic -> SuiteCRM synch seems to work good!  However, one field type has a problem.  In SuiteCRM I have an decimal field ie:  GPA = 2.75 (decimal data type)  and in Mautic I have GPA = Number.... there is no "decimal" option.  It will not synch the value fro

[2022-05-14 05:20] jos0405 commented on #11147
We should add this info to the documentation, but I'm not sure, that this is a bug.

[2022-05-15 19:51] automatyzuj commented on #11147
I'm sure that is kind of regression. And I don't know why we should leave this feature? IMHO checkboxes are very good option to collect other type data then boolean.

[2022-05-16 01:15] christian-krieg commented on #9042
@MyBpoConsultant @RCheesley probably the docs should also mention that elevated access to the Twitter API is needed to interface with API version 1.1 (which is used by the Twitter plugin). Otherwise, only access to API version 2 is granted by Twitter, and the plugin won't work.

[2022-05-16 01:32] christian-krieg commented on #5144
Hey there, Unfortunately I am also unable to send tweets. As opposed to OP, I only see a warning symbol without any hint on the error. Any idea where to look for hints on the root cause? The log in Mautic is empty, and so are my server logs... I am running Mautic 4.2.1

[2022-05-16 06:28] LeonOltmanns commented on #11147
I also don't really see the point of limiting checkbox-values to boolean fields, but if it has some technical background reasoning thats fine - then we just need to document this properly.

[2022-05-16 06:33] jos0405 commented on #11081
Hey, @mabumusa1 !
Any idea why this would be happening?
Thx for input.

[2022-05-16 13:31] Blackclaws opened #11162 "Mautic started redirecting to non-existing HTTPS after cache clear"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

_No response_

### What happened?

Reopened an old bug: https://github.com/mautic/mautic/issues/7943

The issue happens no matter the browser and also happens with console clients such as curl/wget etc. You get a 301 response to the https site.

### How can we reproduce this issue?

Step 1:

[2022-05-16 13:41] Blackclaws commented on #11162
A workaround is by the way:

- Change site url in config/local.php
- Rebuild cache
- Mautic works again, you can change the site url again.

[2022-05-16 13:47] Blackclaws commented on #11162
I think mautic is missing something like overwriteprotocol, a setting that nextcloud has in its config.php that overwrites the protocol mautic uses to generate its pages even when it itself is being accessed over http

[2022-05-16 14:07] 521daichen opened #11163 "In SchemaException.php line 34: There is no table with name 'mautic.leads' in the schema"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

when install new plugins
call php bin/console mautic:plugins:install

### How can we reproduce this issue?

Step 1: install new plugins, copy HelloWorldBoudle into plugins directory
Step 2: php bin/console mautic:cache:clear
Step 3: php bin/console mautic:plu

[2022-05-17 07:29] #10957 closed, assigned to nobody

[2022-05-17 09:26] #10989 closed, assigned to nobody

[2022-05-17 12:08] RCheesley commented on #10449
Thanks for re-opening with the details @mabumusa1 @mlahlouh - something we can fix with a PR?

[2022-05-17 12:09] RCheesley commented on #10891
Pretty sure this is a duplicate of #10953 so closing it as such.

[2022-05-17 12:09] #10891 closed, assigned to jos0405

[2022-05-17 12:12] RCheesley commented on #11061
Hi folks,

Thanks for the bug report, pinging @mautic/campaigns-webhooks-tiger-team to take a look and see if we can reproduce this.

[2022-05-17 12:15] RCheesley commented on #11064
Hi @PierreAmmeloot which specific version of the 4.x series are you having this with? Is it on an existing instance with HubSpot set up, or a new one where you are trying to install it?

[2022-05-17 12:19] RCheesley commented on #11072
Thanks for the bug report @AWessel77 - any chance you would be up for digging into the code and seeing if you can make a PR?

Not sure if it helps but we have some much updated documentation in our WIP migration to Read the Docs on plugins which may also be of assistance: https://mautic-developer.readthedocs.io/en/latest/plugins/getting_started.html

[2022-05-17 12:25] RCheesley commented on #11078
Thanks for the report @carduz - any chance you would be open to making a PR to address this?

[2022-05-17 12:26] RCheesley commented on #11079
Closing the issue!

[2022-05-17 12:26] #11079 closed, assigned to nobody

[2022-05-17 12:28] RCheesley commented on #11080
Hi @abunch could you provide some feedback as above?  Otherwise we will have to close the issue. Thanks in advance!

[2022-05-17 12:29] RCheesley commented on #11092
Hi @gradualChange - can you just double check that you are not looking at a paginated list when viewing the segment list? What criteria are you using to filter the segment?

[2022-05-17 12:32] RCheesley commented on #11097
Thanks for raising the issue @toondeg - sounds like something isn't right with showing the correct language strings.

Is it everything on the page which is still showing in the default language or just the tokens?

[2022-05-17 12:35] RCheesley commented on #11106
Thanks for raising the question @iamjrock - I have asked some folks to have a look and get back to you with some feedback.

[2022-05-17 12:36] RCheesley commented on #11108
Hi @dsp76

Have you tried bin/console `m:a:g` by any chance?

[2022-05-17 12:38] RCheesley commented on #11146
Thanks for replying @automatyzuj - indeed this is documented here: https://www.mautic.org/download/requirements  - please discuss in the ideas forum at https://forum.mautic.org/c/ideas if you think that other servers should be supported and are willing to lead that initative.

As this isn't a bug with Mautic I am going to close the issue down.

[2022-05-17 12:38] #11146 closed, assigned to nobody

[2022-05-17 12:44] RCheesley commented on #11147
This is already in the WIP Forms documentation I am writing for the new docs (the limitation about field types): https://github.com/mautic/user-documentation/pull/68/files#diff-0e566a247c5359efea8a0feff1ccbf99d6087f1fd798703ded243af6284c3ee7R89 (may need to expand the diff on the RST file)

[2022-05-17 12:46] #11147 closed, assigned to nobody

[2022-05-17 12:47] RCheesley commented on #11151
Hi @esmaeili0101 can you please report back regarding the request above? Otherwise we will close this issue down. Thanks in advance!

[2022-05-17 12:48] RCheesley commented on #11152
Thanks for the report @perler - would you or @luismts be open to making a PR to add this functionality?

[2022-05-17 12:48] toondeg commented on #11097
Hi Ruth

Just the basic language

[2022-05-17 12:50] RCheesley commented on #11157
Hi @Blackclaws could you elaborate why you are removing the ?ct parameter in the first place? What is the use case where this became a problem for you?

[2022-05-17 12:55] escopecz commented on #11106
Thanks for the question and all the details! This is not a bug. The mentioned [commit](https://github.com/mautic/mautic/commit/74b8c3e942636a953b081a285c5b696563806662) is not moving anything. The change is that some comments were added to the `app/bundles/QueueBundle/Config/config.php` file. The change in M3 was that the option to configure the queue was removed from the user interface and the co

[2022-05-17 12:59] escopecz commented on #11106
To set the record straight, by "This is not a bug" I meant that the theory you've shared is not correct. But there can be a bug in the queuing feature. I'm not sure how much it is used. I don't have an experience with it personally.

[2022-05-17 13:04] RCheesley commented on #11158
Hi @pstevens71 thanks for raising the bug. Can you share what you have set for the rounding and precision fields?

[2022-05-17 13:17] RCheesley commented on #11162
Hi @Blackclaws glad you found a workaround - would you be open to researching if we could make this happen in Mautic and make a PR?

[2022-05-17 13:20] RCheesley commented on #11163
Thanks for the bug report @521daichen - any chance you would be open to debugging and seeing if you can find the cause?

[2022-05-17 13:32] perler commented on #11152
that's way above my abilities, sorry.

On Tue, 17 May 2022 at 14:48, Ruth Cheesley ***@***.***>
wrote:

[2022-05-17 13:35] RCheesley commented on #11152
No problems at all, always worth asking just in case!

[2022-05-17 13:39] pstevens71 commented on #11158
I tried it with 2 decimal (same setting as SuiteCRM) and 3 decimal and tried it blank.  All resulted in a "0" in Mautic.  Also,, Mautic when syncing did not recognize in SuiteCRM that the field was already populated with a decimal value and because I had "populate blank values selected" it over wrote the decimal value in SuiteCRM with "0.00".

[2022-05-17 13:50] evJoniy commented on #11163
Encountered same issue today and traced it but can't manage to make it into debug now. So when it checks whether it already has a table with a provided name it checks for some reason for mautic.leads and can't find it. Doctrine\DBAL\Schema\Schema at 177 line

[2022-05-17 17:06] Blackclaws commented on #11157
The use case where this became a problem is, we simply tried what would happen if we did remove it, or rather if a newsletter recipient started tinkering with the parameters in the url. There is no specific use case but it does seem like unintended behaviour.

[2022-05-17 18:29] mollux commented on #11163
@521daichen @evJoniy

do you by any chance have a prefix for the mautic database? As this was a regression fixed in https://github.com/mautic/mautic/pull/11128, which will be released in Mautic 4.3.0.

[2022-05-17 18:38] jos0405 commented on #11162
Hi,
We experienced the same issue.
The solution is to add
`$_SERVER['HTTPS'] = 'on';`
after the opening php tag in index.php.
I'm not sure if Mautic is the culprit.
Can you plz check if it works for you?

[2022-05-17 18:54] abunch commented on #11080
https://user-images.githubusercontent.com/2077840/168889009-0f3c7a87-0b0e-4269-b527-05aaec957f7e.mov

[2022-05-17 18:55] jos0405 commented on #10020
@RCheesley , I kinda remember testing something from @kuzmany couple of month ago, that fixed this. I tested in 4.2.2 and it works as expected, the bug is not happening. Can we close it?

Multiselect field:
![image](https://user-images.githubusercontent.com/4246909/168888726-c13440f6-6cf5-4283-bc90-aaa0ce1fe416.png)

Campaign step:
![image](https://user-images.githubusercontent.com/4246909/1688888

[2022-05-17 18:55] abunch commented on #11080
You can close it if you want, but it's definitely broken.

[2022-05-17 18:57] jos0405 commented on #10020
Also:
What about this PR? Would it be obsolete?
https://github.com/mautic/mautic/pull/9658

[2022-05-17 21:12] iamjrock commented on #11106
OK thx @escopecz, that's good news. So I think you're saying that the following array in `app/bundles/QueueBundle/Config/config.php` does still get overridden by local.php.

[code]

Part of the confusion was that in my Xdebug testing, my local.php rabbitmq settings did not seem to be sticking and these defaults presided.  But it was a looong day and I will need to double check my tests.

I've sear

[2022-05-18 00:20] carduz commented on #11078
I've just rollbacked the previous behavior recreating the deprecated method "addRemoveLead" inside "CampaignEventHelper" using the new methods. But I suppose that if you have marked this method as deprecated the reason is that you are thinking of a better solution, so I've not sent a PR.

[2022-05-18 05:47] apradillap commented on #10964
@PierreAmmeloot @leoncool Do you have an estimate of the resolution? Thanks!!

[2022-05-18 06:44] evJoniy commented on #11163
@mollux i believe I don't have any. Anyways I tried to create table 'shortener' as well as 'mautic.shortener' and both led to the issue. Also there was an explode by dot somewhere under the hood before Schema::117 so 'mautic.' doesn't make any change

[2022-05-18 07:20] jos0405 opened #11169 "Segment member contact list not loading in tab 4.3 BETA"
### Mautic Version

4.2.x series

### PHP version

7.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

The contact list is not rendering when opening a segment.

### How can we reproduce this issue?

1. Create any segment
2. Open segment and try to see members of this segment

![image](https://user-images.githubusercontent.com/4246909/168980461-4612e641-d697-4e77-98e

[2022-05-18 07:23] npracht commented on #11169
@jos0405 you don't have an error in the console ?

[2022-05-18 07:25] npracht commented on #11169
I think that might be related to https://github.com/mautic/mautic/pull/11005 cc @escopecz

[2022-05-18 08:22] richarddegoffau opened #11170 "Contacts seeing each others variables in emails"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When using mautic variables (like {contactfield=email} ) the contacts are seeing each others variables in the email (to be specific: all contactss which are processed in the same batch are seeing the variables of the contact which is first processed).

This ha

[2022-05-18 08:52] kuzmany commented on #11169
Are you working on dev env? If not can you regenerate assets? `mautic:assets:generate`

[2022-05-18 10:12] jos0405 commented on #11170
Hello @richarddegoffau , thank you for your report.
Just to be clear: are you using actual custom fields, like {contactfield=email} or are you using the RSS plugin to embed data?

[2022-05-18 10:15] Blackclaws commented on #11162
I'm not sure if modifying mautics source code is really a "solution" in as much as its also a workaround. Mautic should not default to redirecting http to https traffic based on the site url, and especially not only after the cache is cleared.

Settings `$_SERVER['HTTPS'] = 'on';` as far as I can tell just forces php to tell mautic that indeed it was called via https. Which it wasn't in this case.

[2022-05-18 11:41] richarddegoffau commented on #11170
Hello @jos0405 ,

Thank you for your question. I do use custom fields, but also an XML plugin to embed data :https://github.com/fastwarebv/mautic-xml-to-email-bundle.

There may be a relation between this XML-plugin and this bug - when I remove the XML plugin, I can't reproduce the issue.
(but in Mautic 4.1.x - the MauticXmlToEmailBundle plugin works just fine)

[2022-05-18 11:48] jos0405 commented on #11170
Yeah, I suspected that. The xml data is pulled in when the batch is created. Unfortunatly the plugin will modify the email template for the batch, but not work as a custom field for the individual entity.
I understand, that this is not desired outcome, I ran into this myself when I tried to use the RSS plugin the same way :(
It was broken in M3 and M4 the same way as you mentioned above.

Do you m

[2022-05-18 12:09] richarddegoffau commented on #11170
No, my feed url doesn't contain contact-fields, but contains contact-independant content.
My email template looks like (some parts stripped):

`<mjml>`
`    <mj-section padding-top="0" padding-bottom="0">`
`         <mj-column width="600px">`
`		<mj-text font-size="24px" align="center" padding-left="0" padding-right="0">`
`		  <p>{contactfield=firstname} {contactfield=lastname}`
`		  </p>`
`		</mj

[2022-05-18 13:30] jos0405 commented on #11170
Yeah, cause it's in the loop.
Which means it is created by the plugin.
When the batch is called, not individually.
This seems like a plugin error to me.

![image](https://user-images.githubusercontent.com/4246909/169050629-2b754015-76b5-4afe-b29f-1c1bc0015841.png)

[2022-05-18 14:17] richarddegoffau commented on #11170
_Yeah, cause it's in the loop._
The `https://[domain]/nieuwsbrief/link/{contactfield=email}/{contactfield=unsubscribe_token}` part is outside the loop (and this is the part where is goes wrong).

_This seems like a plugin error to me._
Yes, I think you may be right, however, in Mautic 4.1.x the plugin worked fine - so there must be something changed in Mautic core too.

(Besides, I'm the developer

[2022-05-18 14:48] PierreAmmeloot commented on #11064
Hello @RCheesley, I installed the Hubspot plugin while my Mautic instance was still in version 3.x; I had the problem on all 4.x versions.

Pierre

[2022-05-18 14:50] jos0405 commented on #11170
**Besides, I'm the developer of the MauticXmlToEmail plugin, so I'll look into it**
Lol, you should have started with that :D
If you could fix it it would be awesome!
Do you think we should keep the bug open here?

[2022-05-18 14:57] richarddegoffau commented on #11170
_Do you think we should keep the bug open here?_
No, I'll close it

[2022-05-18 14:57] #11170 closed, assigned to nobody

[2022-05-18 15:03] jos0405 commented on #11169
It's a live install.
I regenerated assets, cleared cache, didn't help.
SSL is on.

[2022-05-18 15:04] jos0405 commented on #11169
This works:
![image](https://user-images.githubusercontent.com/4246909/169074168-4f285cd9-3de4-4015-bb44-df52570fe5b5.png)

Just not when I open the segment.

[2022-05-18 15:05] jos0405 commented on #11169
0 errors in console.

[2022-05-18 20:45] stevedrobinson commented on #10797
@RCheesley I have verified this is still an issue in version 4.2.2.

[2022-05-19 07:24] miquelangeld opened #11173 "EDitor with unstable behavior"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

Ihave to say that since we upgraded to  4.x we have a lot of problems using the editor. This is just one of them:

Using the editor suddenly when close the editor and back again, some elements disappear, usually text blocks. That happen when for example try to add a

[2022-05-19 07:44] PierreAmmeloot commented on #10964
@apradillap not at this time.

[2022-05-19 09:13] escopecz commented on #11169
@jos0405 I cannot replicate. The contacts are loading via AJAX for me:
![Screen Shot 2022-05-19 at 11 12 41](https://user-images.githubusercontent.com/1235442/169258302-6dff7665-739b-4bf8-a177-4efc7b39bfc7.png)
Can you double check that you've also cleared the browser cache?

[2022-05-19 09:21] benji07 opened #11175 "conflit between guzzlehttp/oauth-subscriber & guzzlehttp/psr7"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When installing the latest version of mautic (i just clone the branch 4.x), composer install the following version

But inside `guzzlehttp/oauth-subscriber` they still use code that were remove in `guzzlehttp/psr7` version 2.0.

The function `\GuzzleHttp\Psr7\

[2022-05-19 10:37] jos0405 commented on #11162
Thank you. Let's leave this bug open.

[2022-05-19 10:38] jos0405 commented on #11162
Just a comment, if you use http instead of https, many tracking features won't work properly.

[2022-05-19 14:16] Blackclaws commented on #11162
Does mautic itself disable some features? From outside mautic _is_ accessed via https. It just sits behind a reverse proxy that communicates over http with it (Kubernetes Cluster with Ingress).

[2022-05-19 14:55] jos0405 commented on #11169
Super weird. Must be my environment. I will close it. Thanks for checking.

[2022-05-19 14:55] #11169 closed, assigned to nobody

[2022-05-19 15:03] jos0405 commented on #10930
Hi,
What do you mean by this:

"create an email with gmail tracking integration"

did you mean

Create an email and send to gmail?
**Or**
you wanted to use the Gmail Tracking plugin?

[2022-05-19 15:34] skacco commented on #10930
I am talking about using Gmail Tracking Plugin

[2022-05-19 20:17] TechBill opened #11178 "Filter tag -> empty failed to filter contact into segment"
### Mautic Version

4.2.x series

### PHP version

7.4+

### What browsers are you seeing the problem on?

Chrome

### What happened?

I accidently removed a tag on thousands of contacts that was assigned to a segment filtered with that tag.

I figured since those contact does not have any other tags on it then I could create a segment and set filter to tag -> empty then create a segment campaign

[2022-05-19 20:43] TechBill commented on #11178
I wanted to add that is seems the tag = empty is either bugged or not an allowed statement.

I was able to fix my contacts' tag by. filtering LinkedIn = empty since none of the contact had LinkedIn filled in and restored tag back to all my contact again using segment campaign.

[2022-05-20 04:26] npracht commented on #11178
Hello, we have fixed it few days ago, @kuzmany will PR it ;)

[2022-05-20 07:34] npracht commented on #11178
Hi @TechBill please test https://github.com/mautic/mautic/pull/11179

[2022-05-20 13:13] jos0405 commented on #11178
Wow, that was fast!
Approved. One more test plz.

[2022-05-20 13:44] RCheesley opened #11181 "When cancelling campaign creation a 500 error is thrown"
### Mautic Version

4.3.x series (current 4.x branch)

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When creating a campaign and then subsequently cancelling, a 500 error is being thrown:

`500 Internal Server Error - Unable to generate a URL for the named route "c" as such route does not exist.`

Stack trace:

[code]

### How can we

[2022-05-20 14:03] juanlugodegouveia commented on #7247
Hi @fullofcaffeine I hope you're well.

Did you manage to put conditional subject line in Mautic?

Kind regards,
Juan

[2022-05-20 15:32] TechBill commented on #11181
I am experiencing the same bug on our Mautic but this bug only occur to us on new campaign (new campaign -> cancel).

It does not give a 500 error when cancelling from existing campaign (select campaign -> edit -> cancel) which return back to campaign page.

[2022-05-20 15:35] RCheesley commented on #11181
@TechBill yes this was my situation as well.

[2022-05-22 14:25] rashaqqel commented on #11106
Since the RabbitmQ is missing from the admin control panel, How do we set or enable RabbitMQ after the installation?

[2022-05-23 08:09] escopecz commented on #11106
@rashaqqel By editing the `app/config/local.php` file directly.

If you want more information about the reasons why the queue config was removed from the UI then read https://github.com/mautic/mautic/pull/8265

[2022-05-23 14:53] rmunoz10 opened #11184 "Install steps not working"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox

### What happened?

I am trying to install following these steps from https://github.com/mautic/mautic but when I open the page I get "resolve());"

Installing Mautic is a simple three-step process:
    [Download the repository zip](https://github.com/mautic/mautic/archive/refs/heads/

[2022-05-23 14:56] RCheesley commented on #11184
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2022-05-23 14:56] #11184 closed, assigned to nobody

[2022-05-24 08:24] automatyzuj commented on #11163
+1.

I tested on M4.3 and M4.3.1, with and without table prefix..

![image](https://user-images.githubusercontent.com/104569506/169984955-08ac5079-d880-49aa-9d3e-4f4cdb803772.png)

@mollux I've got this fix, but problem is with something else.
![image](https://user-images.githubusercontent.com/104569506/169986351-62cd4b09-ecdf-4ee0-8c06-e764a20ef06b.png)

And complete logs:
[code]

[2022-05-24 09:03] automatyzuj opened #11185 "Preview public URL switcher needs page refresh to see change"
### Mautic Version

4.2.x series

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

Nothing happened after click. Switch is still turn off. To see changing I must refresh page.

![image](https://user-images.githubusercontent.com/104569506/169991865-03447009-4999-479c-a407-ca1e1e2f0ebc.png)

M4.3.1

### How can we reproduce this issue?

S

[2022-05-24 14:21] npracht commented on #10960
It must be somewhere around here:
https://github.com/mautic/mautic/blame/4.x/app/bundles/LeadBundle/Views/Import/progress.html.php#L92

But i also see this:
https://github.com/mautic/mautic/blob/4.x/UPGRADE-3.0.md?plain=1#L351

[2022-05-24 16:19] escopecz commented on #11163
Fixed in Mautic 4.3.0 https://github.com/mautic/mautic/pull/11128

[2022-05-24 16:19] #11163 closed, assigned to nobody

[2022-05-24 17:38] JakubHelis commented on #11163
It's not!  as in @automatyzuj  comment - these lines are 4.3.1 but the bug still appears!

[2022-05-24 19:45] dsp76 commented on #10964
Still happens in version 4.3.1

[2022-05-24 19:51] dsp76 commented on #11108
@RCheesley I did. Also tested with 4.3.1 - its not working.

[2022-05-25 08:02] escopecz commented on #11163
@JakubHelis the original error in this issue description on this line:

`app/bundles/InstallBundle/EventListener/DoctrineEventSubscriber.php:27`

And that exact line is fixed in https://github.com/mautic/mautic/pull/11128/files

@automatyzuj please run the command `bin/console mautic:plugins:reload -vvv` to get the stack trace that could help us find where your problem is and create a new issue fo

[2022-05-25 08:23] automatyzuj opened #11186 "In SchemaException.php line 34: [Doctrine\DBAL\Schema\SchemaException (10)] There is no table with name 'mautic_leads' in the schema."
### Mautic Version

4.2.x series

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

M 4.3.1
When I tried install custom objects plugin I see this info:

[code]
`
It looks similar to: https://github.com/mautic/mautic/issues/11163

### How can we reproduce this issue?

Step 1: Upload custom objects budle
Step 2: Run mautic:plugins:reload -

[2022-05-25 11:58] npracht commented on #10964
Please test https://github.com/mautic/mautic/pull/11187

[2022-05-25 18:09] nomadicjosh opened #11188 "Segments is Broken in 4.3.x"
### Mautic Version

4.2.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

After upgrading from 4.2 to 4.3, I started having issues with Segments.

1. The first issue is that when I created a segment, saved it, and then updated it, the system recreated the same one, 2 more times. I deleted all three of them. Then I created it again.
2. A

[2022-05-25 23:51] connectedbusiness-gary commented on #11186
I have the same issue with the custom objects bundle too - my install was also not by composer and my 'db_driver' => 'pdo_mysql', if that helps.

[2022-05-26 08:51] ramonchu opened #11190 "Mautic latest docker image is two years old"
### Mautic Version

4.2.x series

### PHP version

7.3.27

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Docker latest image is obsolete.

[latest](https://hub.docker.com/layers/mautic/mautic/mautic/latest/images/sha256-1f90b3618469c96ec4df09c14535828543db2bd6475cde075ae08e0c9dd7cecd?context=explore)
docker pull mautic/mautic:latest
Last pushed 2 years ago by

[2022-05-26 12:34] nikitakothari06 commented on #11146
Hi,

I just wanted to confirm if Mautic work on a Litespeed server ?

[2022-05-26 14:42] patrykgruszka commented on #11188
I've got similar problem during the segments update. Test #11193 if you use prefixed tables.

[2022-05-26 16:55] jos0405 opened #11194 "Import + set tags not working in 4.3 Beta and 4.3.1"
### Mautic Version

4.2.x series

### PHP version

php 7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When I try to imoprt a batch of contacts and choose a tag to be applied to all of them - the tag is not applied altough the import works. Just the tag is missing.

### How can we reproduce this issue?

Step 1: create a list of contacts in csv
Step 2: impor

[2022-05-26 16:56] jos0405 commented on #11194
Cache cleared after upgrade, assets regenerated.

[2022-05-27 04:51] nomadicjosh commented on #11188
Tried it, cleared cache and segments still don't work for me.

[2022-05-27 07:03] jos0405 commented on #11188
I couldn't reproduce on 4.3.1. It means nothing, just a feedback from me. :)

[2022-05-27 08:21] RCheesley commented on #11188
Have you also:

1. Cleared the Mautic cache
2. Run `bin/console m:a:g`
3. Cleared your Browser cache

[2022-05-27 08:57] PierreAmmeloot commented on #11064
Hello all,

From what I understand the plugin is not able to handle the Hubspot 401 API callback.

Pierre

[2022-05-27 17:07] trianity opened #11198 "Composer Update command does not work as expected"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The Composer Update command does not work as expected.
Expected behavior: Update Mautic core with dependencies
Experienced behavior:
1.) Only composer packages have been updated, the Mauitc core was untouched
2.) The composer update command in the last step

[2022-05-27 17:20] RCheesley commented on #11198
Hi there,

The instructions for updating with Composer are here: https://docs.mautic.org/en/setup/how-to-install-mautic/install-and-manage-mautic-with-composer#updating-mautic-core

Does that make any difference?

We are working on improving the docs in our port to Read the Docs: https://mautic-documentation.readthedocs.io/en/latest/ - I think we probably need a separate section on updating with t

[2022-05-27 19:37] trianity commented on #11198
@RCheesley  Hi Ruth,
Thanks for the update.
Using Composer update from the link above give the following output:
[code]
After updating the composer packages (in the previous test) there was no updates.
The mautic/core-lib was untouched but this is normal, if the composer.json fixing the version, and do not give possibility to change.
The installed composer.json contains this lines:
[code]
The comp

[2022-05-27 19:44] trianity commented on #11198
The last step of the composer command in this case also recreated the bug solved by patch from https://github.com/mautic/mautic/issues/10957

The output of the console command was:

[code]

[2022-05-27 19:51] trianity commented on #11198
Changing the "mautic/core-lib": "4.2.2" to "mautic/core-lib": "^4.2.2", the composer update can run with output:
[code]

[2022-05-27 20:19] trianity commented on #11198
After Mautic's core update the 'php bin/console cache:clear' command failed with the following output:

[code]

[2022-05-27 20:21] trianity commented on #11198
@RCheesley Yes, I agree: we probably need a separate section on updating with the recommended project setup.

[2022-05-28 03:29] nomadicjosh commented on #11188
Yes, I've tried several things and nothing. I see a different error in the logs than I saw before:

In prod*.php, I get errors like the following:
[code]

In mautic_prod*.php, I get errors like the following
[code]

[2022-05-28 09:57] ShareBtech commented on #11163
@escopecz
This is the results of :plugins reload -vvv

This is a command line install (not done with composer)
[code]

[2022-05-28 14:03] modifiedcontent opened #11199 "SQL syntax error in upgrade process"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

Same error here and here:
https://forum.mautic.org/t/mysql-error-upgrading-to-4-2/22867
https://forum.mautic.org/t/as-usual-upgrade-to-4-2-2-this-time-effed-up-my-installation/24106
https://forum.mautic.org/t/another-failed-upgrade-4-3-1-on-stuck-database-migrati

[2022-05-30 13:36] escopecz commented on #11163
I can see the stack trace is going through the `MauticMultiDomainBundle`. Can you try to temporarily remove it (move it to another folder for example so you could add it back), clear the cache and then run the plugin install command again?

I can see that the plugin has some special logic in the `onPluginInstall` hook:

https://github.com/FriendlyDotCH/mautic-multi-domain/blob/main/MauticMultiDoma

[2022-05-30 14:00] MaraKasubke opened #11201 "Cookie GDPR problem: Focus Item Maximum date too far in the future (year 9999)"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

This is a problem that was reported before: https://github.com/mautic/mautic/issues/9705

It is still relevant as it is GDPR violation. If the cookie is just stored for a session than everything would be okay. But to set the duration to year 9999 does no

[2022-05-30 16:22] poweriguana commented on #11194
With the same issue. Waiting for solution

[2022-05-31 06:18] haneefputtur commented on #11080
Hi,

I am facing exact same issue while importing. it worked for 2-3 times intermittently .. now again same issue i am facing.

[2022-05-31 06:10:20] mautic.WARNING: File /home/ddd/public_html/mailing/app/../var/tmp/imports/20220531060728.csv was removed. [] {"hostname":"server.suddi.org","pid":16162}
[2022-05-31 06:10:20] mautic.WARNING: Import for file /home/ddd/public_html/mailing/app/../var/tm

[2022-05-31 08:38] ShareBtech commented on #10540
I am experiencing similar issues with 4.2.x and 4.3.1

[2022-05-31 12:51] RCheesley opened #11202 "Email dynamic content sends default content, error in logs"
### Mautic Version

4.2.x series (persists in 4.4)

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Originally reported on the [forums](https://forum.mautic.org/t/email-dynamic-content-in-4-x-working-for-anyone/24283/2):

Just tested this on Gitpod and I am seeing the same in that the dynamic content is not working, with the following error

[2022-05-31 12:54] RCheesley commented on #11175
Thanks for raising the bug report @benji07  - we would welcome a PR. Here is the info on how to get started: https://contribute.mautic.org/contributing-to-mautic/developer

Please make bug fixes against the 4.3 branch for the time being, unless they are a BC Break in which case, against the 5.x branch.

Shout in #t-product if you need any help at all - get an invite at https://mautic.org/slack :)

[2022-05-31 12:56] RCheesley commented on #11185
Hey there,

Pretty sure this is a duplicate of https://github.com/mautic/mautic/issues/10932 - can you check the console to see if you have the same error showing? Thanks in advance!

[2022-05-31 15:13] adiux commented on #10572
This is fixed with https://github.com/mautic/mautic/pull/11102

[2022-05-31 15:13] #10572 closed, assigned to nobody

[2022-05-31 15:22] adiux commented on #10953
There is actually a reason why we need the blank HTML theme. MJML is mobile-first. Therefore it does not support aligning email content "left". Or: all MJML email content is centered. If you try to make a "regular looking" email, you need to use an HTML theme.

There is more info here
https://github.com/mjmlio/mjml/issues/988

A possible fix is here:
https://github.com/mjmlio/mjml/issues/1252

The

[2022-05-31 20:13] justinroffmarsh commented on #11194
Also seeing this issue.

[2022-05-31 20:19] dsp76 commented on #11202
Maybe related to this as well?  https://github.com/mautic/mautic/issues/10540

Dynamic content is broken since last year in email with the legacy builder too. It looked like it wasn't seen as important - the workaround mentioned means to switch to grapejs. However - if its not working in grapejs either?

[2022-05-31 22:01] leoborlot opened #11204 "Schema Error Upgrade from 4.2 to 4.3.1 - canno´t drop index"
### Mautic Version

4.2.x series

### PHP version

php 7.3

### What browsers are you seeing the problem on?

_No response_

### What happened?

Whet we try upgrade from 4.2 to 4.3.1 we recive error on schema update.  The Mautic cannot remove this index from database.

DROP INDEX IDX_1AE3441319EB6921 ON oauth2_user_client_xref;
DROP INDEX IDX_6480052EF639F774 ON campaign_leadlist_xref;
DROP INDEX

[2022-06-01 08:18] escopecz commented on #11186
Does it still happen if you temporarily remove MauticRefreshSegmentButtonPluginBundle and clear cache?

[2022-06-01 08:39] adiux opened #11205 "The text editor inside the builder adds unexpected code."
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome, Not relevant

### What happened?

After opening a MJML theme (e.g. Brienz) and changing the predefined text, the formatting gets "destroyed". E.g. in this case the text gets smaller and I think it is another font:
<img width="550" alt="image" src="https://user-images.githubusercontent.

[2022-06-01 08:41] adiux commented on #11173
@miquelangeld this could be possibly related. Could you check? https://github.com/mautic/mautic/issues/11205

[2022-06-01 08:44] adiux commented on #11173
Are the blocks displayed correctly when you view them in the preview (or send the mail)? It could also be related to this bug from grapesjs-mjml https://github.com/artf/grapesjs-mjml/issues/149

[2022-06-01 09:13] remyPulse commented on #11198
Any solution ? we have a version ready to go but not usable in real life :(
i follow explanation here : https://docs.mautic.org/en/setup/how-to-install-mautic/install-and-manage-mautic-with-composer#updating-mautic-core but i end up to the same situation.

Note : i was able to by pass this issue with an old dirty command :
[code]

How can i update mautic and have all command to work as expected us

[2022-06-01 11:43] Guggsdumisch commented on #11163
I'm running a mautic v 4.3.1 and this error still exists. Here is my stacktrace for mautic:plugins:update:
----

Doctrine\DBAL\Schema\SchemaException::tableDoesNotExist() at /var/www/go.quatrolingo.com/vendor/doctrine/dbal/lib/Doctrine/DBAL/Schema/Schema.php:178
Doctrine\DBAL\Schema\Schema->getTable() at /var/www/go.quatrolingo.com/app/bundles/InstallBundle/EventListener/DoctrineEventSubscriber.ph

[2022-06-01 12:02] trianity commented on #11198
Hello @remyPulse Yes, you should delete the cash manually. I’ve since done several successful updates on my test server, but I haven’t had time to describe the exact step order for anyone to follow. But I'm trying to post it today.

[2022-06-01 12:17] JakubHelis commented on #11186
The issue has gone when we switched to new instance with no prefix in database added.  However if you try to run it on instance with prefix the issue still appears.

[2022-06-01 12:56] escopecz commented on #11186
Fixed by https://github.com/mautic/mautic/pull/11206

[2022-06-01 12:58] adiux opened #11207 "A border on the mj-column is shown twice in the editor"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome, Not relevant

### What happened?

There is an issue with grapesjs-mjml that displays the border of a section twice. For more details see:
https://github.com/artf/grapesjs-mjml/issues/290

The issue was introduced with grapesjs-mjml@0.5.7.

### How can we reproduce this issue?

See http

[2022-06-01 14:52] jvkroeger commented on #11198
Hi @trianity,

on my server these steps worked:

How-To update a composer based Mautic 4.2
Create a backup
`sudo cp -pr /var/www/mautic /var/www/mautic.backup`

composer.json is too restricted in 4.2.2. replace all occurrences of  4.2.2 with ^4.0 using:
`sed -ri 's/("mautic\/[a-z\-]+": )"4.2.2"/\1"^4.0"/g' composer.json`

Update mautic using:
`composer update mautic/* --with-dependencies`

Clear c

[2022-06-01 15:05] ameerasghar opened #11212 "Mautic Emails are not Showing Contact Owner as Reply To Option"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Logging bug on behalf of IncentFit: https://github.com/incentfit

We upgraded to the latest version of Mautic a month ago, and most recently also upgraded to the latest update provided by Mautic.

However, whenever we send out emails from Mautic, our recipien

[2022-06-01 18:16] kathrynvillanueva opened #11214 "Container extension "web_profiler" is not registered ERROR after cache:clear --env=DEV"
### Mautic Version

4.0.x series (not supported)

### PHP version

7.4.19

### What browsers are you seeing the problem on?

_No response_

### What happened?

**php bin/console cache:clear --env=DEV** command fails with message _Container extension "web_profiler" is not registered._

This worked yesterday but suddenly it doesn't today. I tried reinstalling Mautic from github but this keeps happen

[2022-06-02 01:16] Cloudore commented on #11204
I seem to also been experiencing this issue.
<img width="1220" alt="Screen Shot 2022-06-01 at 8 18 08 PM" src="https://user-images.githubusercontent.com/22532038/171527061-adfd91f7-5514-4943-b0c2-0a74f9d8b299.png">

[2022-06-02 04:47] haneefputtur commented on #11194
Same problem i am also facing

[2022-06-02 07:33] escopecz commented on #11186
@connectedbusiness-gary @automatyzuj can you please test the [proposed fix](https://github.com/mautic/mautic/pull/11206) so it can be merged? We need one more approval.

[2022-06-02 08:04] automatyzuj commented on #11186
I already used jakubhelis solution.

[2022-06-02 10:09] mceo-jp commented on #11194
Same issue , Any solution ?

[2022-06-02 11:11] jvkroeger commented on #10568
I can confirm that deleting the cache helped. I had the same problem.

[2022-06-03 00:27] mundey commented on #11194
observed same issue, tried to import from batch/browser, single tag, multiple tags. not working. stuck. no errors shown.

understood the problem but not familiar with code to find the fix.

so, import db table in properties column keep track of this info. however, tags always comes empty array

[code]
someone who has worked on this project should be able to fix it, i am still trying to understand

[2022-06-03 09:16] bartoszpijet commented on #11080
Seems like issue only appeares while "Don't override value...." is enabled, at least in my case

[2022-06-03 11:26] jvkroeger opened #11216 "Wrong exit from the categories modal dialogue locks out other users from editing"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

### Steps to reproduce

- Edit a category e.g. at `/s/categories/category/edit/2`
- The modal dialogue opens
--> This causes a value in categories.checked_out and categories.checked_out_by

- Click the "x" in the top right corner to close it or just click somewhe

[2022-06-04 01:31] #10436 closed, assigned to nobody

[2022-06-04 01:31] #9800 closed, assigned to nobody

[2022-06-04 01:31] #10783 closed, assigned to nobody

[2022-06-04 01:31] #9636 closed, assigned to nobody

[2022-06-04 01:31] #10592 closed, assigned to fedys

[2022-06-04 08:55] trianity commented on #11198
@jvkroeger Thanks for posting these steps. I used in my test server equivalent steps with the following add-ons:

- it is recommended that you also back up the database before updating Mautic.
[code]
The full update is running with the following command also:
[code]
After restoring the old Config from Backup you should turn off the composer updates settings in the local.php
[code]
Run the commands

[2022-06-04 13:02] trianity commented on #11151
@esmaeili0101 @RCheesley
I can confirm that if the MySQL code collation and settings are correct, Mautic will handle the emoji characters correctly in any table.
I have just fixed a Mautic instance existing from an older installation (it was originally Mautic v2.x - now Mautic v4.3.1) that didn't save emoji characters for emails. In this instance the database collation was somehow utf8mb3_unicode_

[2022-06-05 18:10] Dylan-86 commented on #11194
Same issue here, it's driving me crazy...

[2022-06-05 18:26] haneefputtur commented on #11194
I finally ended up in using 4.2.x version.

[2022-06-05 19:17] mundey commented on #11194
tldr: still the same issue
i went through the process of setting up dev environment, so profiler can give some clue, the value sent in the post (lead_field_import) shows there are values for tag id present but it does not get stored in the table (i mentioned in previous comment)
[code]

[2022-06-06 08:31] RCheesley commented on #11194
Thanks folks!

We had a few PRs in the 4.3 release which touched the import functionality:

https://github.com/mautic/mautic/pull/11060
https://github.com/mautic/mautic/pull/10884
https://github.com/mautic/mautic/pull/11011

I am guessing one of those is the culprit for this regression so hopefully we can snag the bug and get it fixed in the next release.

@mundey would you be up for creating a PR

[2022-06-06 08:53] RCheesley commented on #9104
@escopecz I am not sure if this old issue is still required? We just keep bumping the milestone 🙈

[2022-06-06 09:12] escopecz commented on #9104
I updated all NPM dependencies in https://github.com/mautic/mautic/pull/11113/commits/2e34ac9ea37f62e91aa4dc9cb70f541730aa6768 which was released in 4.3.0, so I'm closing this.

[2022-06-06 09:12] #9104 closed, assigned to dennisameling

[2022-06-06 09:37] escopecz commented on #11194
I can see some import tag fixes in our company Mautic fork. I'll push them and see if it will fix it. Stay tuned.

[2022-06-06 10:58] dakur commented on #10568
Encountered this as well right now. And I've already encountered it some years ago, this is quite long-standing bug, even it was reported 7 months ago.

[2022-06-06 11:29] escopecz commented on #11194
Please test https://github.com/mautic/mautic/pull/11220. We need 2 approvals to get it merged and release with 4.3.2

[2022-06-06 12:36] poweriguana commented on #11194
@escopecz Tested and worked. Not any problems regards on this found.

[2022-06-07 05:56] masete commented on #7373
No one got any solution for this

[2022-06-07 08:05] mzagmajster commented on #10966
Hi, @RCheesley just a friendly ping here. Do we know in which version of Mautic we can expect this feature? Thank you.

[2022-06-07 09:52] RCheesley commented on #10966
@mzagmajster when we have someone working on it, I expect it will make the next release :) At present, we don't have anyone really contributing on the GrapesJS builder, hence why things have slowed down. We also have no funds left to allocate towards paying a contractor.

[2022-06-07 14:31] steveb85 opened #11224 "update to 4.3.1 cause schema key problem in db"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

after the update to 4.3.1 segments weren't working (contact numbers weren't displaying) , while attempting to rebuild them on the command line I discovered that the key prefix_manually_removed was not being found in the prefix_lead_lists_lead table.

upon inve

[2022-06-07 18:25] mundey commented on #11194
Really sorry @RCheesley i got busy and could not take a look at the PR. will update to new version and test

[2022-06-07 21:24] TechBill opened #11225 "Campaign "Send a webhook" action sending blanks or empty data"
### Mautic Version

4.2.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I created a campaign with a send a webhook action.  I filled in the URL using POST and it sent all contact information over to webhook test site ...

It was working fine for me until I thought if I add a label and value to data then it would appended it to c

[2022-06-08 00:46] minholi opened #11226 "Webhook calls not configured on campaign builder"
### Mautic Version

4.2.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Webhook actions created on Mautic 3.x disappear from campaign builder after upgrade to Mautic 4.3.1

### How can we reproduce this issue?

Step 1:  create a campaign on Mautic 3.x with a webhook action
Step 2: upgrade Mautic to 4.3.1
Step 3: edit the send w

[2022-06-08 19:48] saschafoerster commented on #11204
Same here.
<img width="1124" alt="Bildschirmfoto 2022-06-08 um 21 43 31" src="https://user-images.githubusercontent.com/1153741/172704288-04fee513-8367-46d2-b70b-4c88dce940ec.png">

I tried deleting the index manually, which created another error message. And just as a sidenote: it's already since the recommended switch to composer-installation some weeks ago that our Mautic-instance is not operat

[2022-06-08 19:57] saschafoerster commented on #11204
[code]

[2022-06-08 21:06] saschafoerster commented on #11198
@trianity with your help and steps I could make it work, thanks! But still, upgrading since the switch to composer is mostly error and the documentation of your trials helped me out.

[2022-06-08 21:57] Cloudore commented on #11204
This is my output to that same command

`sudo -u www-data php bin/console doctrine:schema:update --force --verbose`
<img width="1010" alt="Screen Shot 2022-06-08 at 4 57 18 PM" src="https://user-images.githubusercontent.com/22532038/172724491-0953723d-96d1-4eec-a2e7-27fb8655456c.png">

Any help, appreciated.

[2022-06-09 07:46] bell87 opened #11231 "Event Category empty when using /api/contacts/activity endpoint"
### Mautic Version

4.1.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Using the API endpoint /api/contacts/activity events are returned, but any form submission events do not load the associated category. The category is set on the form but the api response shows the category property as an empty object example:
[code]

### H

[2022-06-09 14:08] TonyBogdanov opened #11237 "Live mode does not contain information about the added record"
### Mautic Version

4.2.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

_No response_

### What happened?

Opening this as a continuation of #10318 which was never properly addressed.

### How can we reproduce this issue?

See #10318.

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have read and agree to follow this project'

[2022-06-09 16:31] abunch commented on #11080
Same

[2022-06-09 17:03] luizeof opened #11238 "Landing Page / E-mail Editor Broken after 4.3.1 upgrade"
### Mautic Version

4.2.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

After an edit on a landing page / email, `null` is added in place of the `<html>` tag and before the `<body>` a `null` is also added, causing the editor to break and not load.

![3fc6241a-2de3-49e8-aee9-233d95332c17](https://user-images.githubusercontent.com/257004/

[2022-06-09 17:20] jos0405 commented on #11238
Hi, this happens if your template first line is not defining `<!DOCTYPE html>` as first line.
If you have this in your template, you should be fine.

[2022-06-09 18:21] uzegonemad opened #11239 "Certain scenario causes grapesjs editor manual code edit to break"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

_No response_

### What happened?

Under a specific scenario, the "save" button inside of the grapesjs code editor stops working. (I'm actually running Mautic 4.3.1 but that isn't available in the dropdown on this issue screen.)

### How can we reproduce this issue?

1. Open the grapesjs bu

[2022-06-09 19:18] djelic commented on #11030
We experienced the same issue and after some debugging, it turns out that there is no issue at all, at least not on Mautic side. If you send a test email before you send published email, Gmail will merge those two in same conversation thread. Other users that only receive published email will have subject line without prefix.

You can confirm this by looking at email source (Show original in Gmail

[2022-06-09 19:33] escopecz commented on #10797
@stevedrobinson I wanted to check how the bounty program works but instead I found out this is fixed in https://github.com/mautic/mautic/pull/10871

@RCheesley how should it work in this case? It was fixed by an Acquian.

[2022-06-10 00:06] stevedrobinson commented on #10797
If it's against Acquia policy or there's no way for acquia to take the bounty, I'm happy to donate it to the project if it goes unclaimed.

[2022-06-10 00:28] luizeof commented on #11238
Thank's for your time. What should be the first line of the template? for me to update and perform tests here. Thanks in advance .

[2022-06-10 00:28] luizeof commented on #11238
Thank's for your time. What should be the first line of the template? for me to update and perform tests here. Thanks in advance .

[2022-06-10 06:36] jos0405 commented on #11239
Could you specify:
Are you reporting, that after working with the grapesjs builder the Edit Button doesn't open sometimes?
(To be more specific until refreshing the window?)

[2022-06-10 06:38] #11194 closed, assigned to nobody

[2022-06-10 06:40] jos0405 commented on #9042
@RCheesley I've seen this working in the Japanese track during Mauticon 2022. Can we close this?

[2022-06-10 07:13] dakur opened #11242 "Mautic requires access to `/tmp`"
### Mautic Version

4.3.1

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

On fresh installation of Mautic, when I access Configuration section in admin, it loads about half a minute. ~~When I use Mautic tracking (mtc.js), it works (server responds with reasonable payload for the async request), but no contact is added to Mautic.~~ Turne

[2022-06-10 07:27] escopecz commented on #10797
There are small issues with the fix and claiming the bounty:
1. 3 Acquia developers have commits in that PR so no one person can claim the bounty for themselves.
2. All of them (us) worked on it during the business hours so they were paid for their work.

I think that donating the bounty to the Mautic OS project would be the best option 🙂

[2022-06-10 07:28] escopecz commented on #10797
We need one more test and approval on that PR to get it merged to the next release...

[2022-06-10 07:30] #11030 closed, assigned to nobody

[2022-06-10 11:54] dakur commented on #11242
It looks like it's because in [`FilesystemTagAwareAdapter`](https://github.com/mautic/mautic/blob/4.3.1/app/bundles/CacheBundle/Cache/Adapter/FilesystemTagAwareAdapter.php#L16-L17), there is [`FilesystemAdapter`](https://github.com/symfony/cache/blob/v4.4.41/Adapter/FilesystemAdapter.php#L23) instantiated without 3rd param `$directory` so [`FilesystemCommonTrait#init()`](https://github.com/symfony

[2022-06-10 15:14] RCheesley commented on #11186
Closing this issue as it is resolved with #11206 which has been merged for the upcoming release.

[2022-06-10 15:14] #11186 closed, assigned to nobody

[2022-06-10 17:25] luizeof commented on #11239
same here, sometimes the sidebar with buttons appears empty

[2022-06-10 17:53] #11238 closed, assigned to nobody

[2022-06-11 09:38] mollux commented on #11242
@dakur

There are other places in the codebase that depend on `sys_get_temp_dir()` directly (which makes sense), so adding an extra param to `FilesystemTagAwareAdapter` wouldn't solve this fully.

It looks like there is a mismatch in configuration between the open basedir and other php.ini directives.

could you check your php.ini and verify that the `sys_temp_dir` directive is set to a path allow

[2022-06-13 09:23] automatyzuj commented on #11239
+1

I have had this problem for a very long time. Refreshing the page helps.

It's a bit tiring becouse I often use functions:
- mj-group to non breaking section
- fluid-on-mobile to full width image on mobile
- full-width to full width background section
which aren't available in grapesjs

[2022-06-13 14:04] RCheesley opened #11245 "Error using 'push contact to integration' form action"
### Mautic Version

4.3.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When documenting the push to integration form action I noticed the following error in dev mode:

![Desktop screenshot (14)](https://user-images.githubusercontent.com/2930593/173371200-e397632a-56c2-452f-885c-f1c336b0919a.png)

I have the Hubspot integration se

[2022-06-13 21:05] zietbukuel commented on #11224
I have a similar issue:

[code]

I'm trying to update Mautic 4.2.0 to Mautic 4.3.1.

[2022-06-13 21:11] zietbukuel commented on #11204
I have the exact same issue.
<img width="854" alt="Screen Shot 2022-06-13 at 16 10 46" src="https://user-images.githubusercontent.com/1046971/173446194-4749e85a-ea5c-4972-b33c-5e1976dd4df6.png">

[2022-06-13 23:27] xmontero opened #11249 "The new .htaccess now gives 403 after upgrading"
### Mautic Version

4.3.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

On a hosted installation I was using mautic 4.1. Mautic told me to autoupdate.

After doing so I lost control and get 403.

I've seen the `.htaccess` file has changed.

If I revert those lines:

    # Except those allowed below.
    <If "%{REQUEST_URI} =~ m

[2022-06-14 07:09] kizzlota commented on #10561
Got the same issue, any updates on this issue. Does it resolved for the version >= 4.2.0 ?

[2022-06-14 07:51] jos0405 commented on #11249
Hi,
This is not a bug, but a security enhancement.
The release notes and this forum post will give you more context.
https://forum.mautic.org/t/mautic-upgrade-to-4-3-1-produces-403-http-error-unless-htaccess-security-lines-are-removed/24255

I'll close this for now, please feel free to reopen if you think it's still a bug.

[2022-06-14 07:51] #11249 closed, assigned to nobody

[2022-06-14 08:59] jos0405 commented on #11225
I tested this with 4.2.2. Work perfectly:

![image](https://user-images.githubusercontent.com/4246909/173537838-660b15e4-17fa-4f57-b792-cde8aa1bc395.png)

![image](https://user-images.githubusercontent.com/4246909/173537659-c96015f1-016e-48ca-9f3a-d11cdd4c3b00.png)

![image](https://user-images.githubusercontent.com/4246909/173537740-cbe19120-3782-40cf-8ff4-74e7cd7deb11.png)

Let me know what you

[2022-06-14 09:03] jos0405 commented on #11095
Hi @AchieveGirl !
Any progress on this?
Did you by the chance look at the server settings? In some cases server settings can affect redirection.
https://httpd.apache.org/docs/2.4/rewrite/remapping.html

Regards:
Joey

[2022-06-14 09:04] jos0405 commented on #11162
Hi, to me this looks like a routing issue to the containers, not a Mautic bug.

[2022-06-14 09:08] jos0405 commented on #10896
The broadcast cron only picks up Emails when you have a publish date OR you have a send button.
The broadcast cron only picks up SMS when you have a publish date, since there is no send button that creates the queue.

@zietbukuel is the bug present when you set the publish and/or unpublish date for SMS segment send and run the broadcast cron?

[2022-06-14 09:13] jos0405 commented on #11188
Hi, do you have contacts manually added to your segment either by campaign action/form action/manual action?
thx,
Joey

[2022-06-14 11:46] kuzmany commented on #10932
@shinde-rahul still regression of  your PR https://github.com/mautic/mautic/pull/10705
Are you able to look on it?

[2022-06-14 13:18] stevedrobinson commented on #10561
I am still seeing this with 4.3, though less frequently than when I reported it.

[2022-06-14 13:21] TechBill commented on #11225
GET?  Doesn't POST suppose to send all contact data information?

[2022-06-14 13:57] TechBill commented on #11225
My fault.... I used ( ) instead of { } ....

Seems to be working as intended.

[2022-06-14 13:57] #11225 closed, assigned to nobody

[2022-06-14 13:58] zietbukuel commented on #10896
@jos0405 I've done exactly what you mention. This bug is only present in MySQL, but not in MariaDB.

[2022-06-14 14:43] dsp76 commented on #9766
This is still happening in version 4.3.1 with the legacy builder. Is this still planned to be fixed? Or does it work in grapejs correctly?

[2022-06-14 23:26] J-Wick4 opened #11257 "Fresh Install or Upgrades Produce MySQL errors on schema update on 4.3.1"
### Mautic Version

4.3.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Chrome

### What happened?

Centos 7.9
PHP 7.4.30
MariaDB 10.4.25

I upgraded from 4.2.2 to 4.3.1 and during the **console doctrine:schema:update --force** command, it failed to adjust the database indexes and produces errors. This also was replicated by installing a brand new Mautic 4.3.1

[2022-06-15 07:52] vicampuzano commented on #11080
Same

[2022-06-15 11:23] luigicarlini1988 commented on #9766
It would be nice to have this fix... it's quite painful having to update
the preference center template in each "email template"

On Tue, 14 Jun 2022 at 16:44, Dirk Spannaus ***@***.***>
wrote:

--
*Luigi Carlini*

[2022-06-15 13:12] DalbertHab commented on #10737
We faced the same problem. I could trace down to problem to the CKEditor but don't know how to fix the problem:

This CKEditor method scrolls the page
[code]

The email has to be longer than the viewport. Then press enter in an element which is not at the top or end of page. The current viewport must not at the bottom of the page.

[2022-06-15 14:36] TechBill opened #11261 "Tag not applied to contact when imported from CSV file"
### Mautic Version

4.3.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Chrome

### What happened?

The tags are not being appended to all contacts imported over from CSV when we set a tag in optional box at top of the importer page.

Look like an old bug back from Sept 2016????  https://forum.mautic.org/t/no-tags-added-on-import/5083/7.

It strange to have the

[2022-06-15 14:51] npracht commented on #11261
Hello ! That was seen and fixed by https://github.com/mautic/mautic/pull/11220 coming in next release !
Thanks for reporting your issues <3

[2022-06-15 14:51] #11261 closed, assigned to nobody

[2022-06-15 15:42] poweriguana commented on #11224
Already reported in issue #11204

[2022-06-15 16:22] nomadicjosh commented on #11188
Yes to all. The majority are manually added because they were imported from another system.

[2022-06-15 18:13] gregdotelphotography commented on #11202
I can confirm errors in Email Dynamic Content.

The previous version I had 4.2.0 the dynamic content field shows an error in grapejs builder when editing the MJML code.

After updating to version 4.3.1 in MJML templates the DC icon is not showing up. If I choose a regular HTML template it shows up.

[2022-06-16 03:51] J-Wick4 commented on #11257
Duplicate of Bug #11204

[2022-06-16 03:51] #11257 closed, assigned to nobody

[2022-06-16 03:58] J-Wick4 commented on #11204
I two have the exact same problem.

I went to the extreme of using the composer method to install a fresh copy of 4.3.1 and experienced the same error right out the gate.

4.3.1 should be pulled back from the "stable" channel until this is fixed.

Centos 7.9
PHP 7.4
MariaDB 10.4.25

[2022-06-16 08:28] Blackclaws commented on #11162
How exactly? Its quite normal to route to the actual containers via http and have ssl termination at the ingress. You need to correctly set the external address in mautic so that its links point to https sites instead of http. The fact that mautic itself performs an https redirect on incoming traffic _should not_ be dependent on the base url being https or not. The incoming traffic in such a setup

[2022-06-16 09:06] supercosh commented on #10737
We are experiencing the same problem, also when pasting text. The solution would be to remove the style min-height: 100% from the HTML and BODY Tag of the GrapeJS iframe. Without these styles, the bug is gone.

The bug is also described here: https://dev.ckeditor.com/ticket/9136

[2022-06-16 10:24] RCheesley commented on #11224
Thanks @poweriguana I will close this as a duplicate!

[2022-06-16 10:33] RCheesley commented on #11224
@all-contributors please add @poweriguana for projectManagement

Note: This is the closest I can get to bug triage so I have added a [feature request](https://github.com/all-contributors/all-contributors/issues/607) to AllContributors to add a Triage type!

[2022-06-16 10:33] RCheesley commented on #11224
@all-contributors please add @poweriguana for projectManagement

[2022-06-16 10:34] #11224 closed, assigned to nobody

[2022-06-16 10:37] jos0405 commented on #11081
Hi quick question: are you using special characters in your from name other then alfabetical values?

[2022-06-16 10:53] shinde-rahul commented on #10932
@kuzmany, I have not yet. I'll check and update.

[2022-06-16 12:59] Cloudore commented on #11204
My instance goes 500 every about 24 hours, this is really hurtful to stability.

[2022-06-16 13:31] JyFu-py commented on #11204
Same problem here

![image](https://user-images.githubusercontent.com/67822884/174079183-226fa97a-eee5-4b0a-af29-fcf3a55aaaf0.png)

To handle update and skip drop index, we have removed line 132 to 141 from app/bundles/CoreBundle/EventListener/DoctrineEventsSubscriber.php with a composer patch

seem related to this commit
https://github.com/mautic/mautic/commit/fcc1d2be66b7dc7e30fcb439ef4991f329f8

[2022-06-16 13:31] uzegonemad commented on #11239
@jos0405 The edit button will load the code editor, but the "save" button within the code editor (bottom of the screenshot) stops functioning.

<img width="856" alt="image" src="https://user-images.githubusercontent.com/430255/174080675-ff57f80c-e416-4a8c-8bab-bdd2c51dd30b.png">

[2022-06-16 13:46] kuzmany commented on #10932
@shinde-rahul thank you!

[2022-06-16 16:51] TechBill opened #11264 "Bounces from Amazon SES not being recognized as bounced by Mautic."
### Mautic Version

4.3.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Bounce from Amazon SES was working in the past because we do a test on it once a while to make sure it's working as intended to maintain a good account standing with Amazon SES.

Yesterday, we sent out an newsletter to our large database subscriber and recei

[2022-06-17 11:08] #10797 closed, assigned to nobody

[2022-06-17 16:58] TechBill commented on #11264
One of my Amazon verified email address was not triggering the bounces while other verified email address triggered the bounces fine.   Closing this ..

[2022-06-17 16:58] #11264 closed, assigned to nobody

[2022-06-17 18:17] AchieveGirl commented on #11095
Hi Joey,

Thank you for the update, and no, no progress. It’s really annoying because I’ve been sending out tens of thousands of emails since we last communicated and I wish we could fix it. It seems like it should be something very simple in the code somewhere that is causing the address to generate incorrectly.

Thank you for the article – I’ll have a look this weekend to see if there’s any fix.

[2022-06-18 02:47] dlackovic2 commented on #11080
Same case here. When this option is disabled, it is working just fine.

[2022-06-18 08:41] dipesh008 commented on #11080
Same issue, import fails
1. i have custom fields
2. I have "Dont Override value set to YES"

[2022-06-19 00:13] fiveways opened #11267 "Send Email via API does not use contact owners from and email address [$250 awarded]"
### Mautic Version

4.3.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

Not relevant

### What happened?

when using API to send email to contact, the contact owners details (email, from and reply-to) are not used. The dewfault mail send settings are used instead of contact owner.

confirmed configuration setting for email settings = "Using each contact's owner as

[2022-06-20 14:52] luizeof commented on #11204
same here ... upgrade process is not so "stable" as in versions prior to 4.3.1

 #9129 already reported a similar error 2 years ago.

[2022-06-20 14:54] escopecz commented on #10868
@leonardoborlot can you please also test the fix for your issue?

It won't be merged without 2 approvals from the community. So if you want to get it released you have to help with testing and ideally ask a colleague to make a second test.

It's very discouraging for developers who invest their time to fix bugs for someone else for free to just see it sit there for 3 months. I also have to invest

[2022-06-20 15:03] leoborlot commented on #10868
Sorry @escopecz, i dont recive the notification. Lets me test it now!

[2022-06-20 15:53] leoborlot commented on #10868
@escopecz, I have applyed the PR 10961 in 4.2 Mautic.
I think so the funcion to create a camping event was broking when i click "add"
Lookg this screen record.

https://www.loom.com/share/fb97ee1e510040c3b8e2be9923b72f5a

[2022-06-20 15:56] leoborlot commented on #10868
There no log in Mautic or in Apace

[2022-06-20 20:35] coreyworrell opened #11269 "Email for results only sends if you have a "To:" address"
### Mautic Version

4.3.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you use the form action to send form results and you specify only CC (not To), the emails will not send. Even though the To: field says it is optional (and should be).

### How can we reproduce this issue?

Step 1: Create new form.
Step 2: Create form actio

[2022-06-21 02:05] priyanganamal commented on #7880
This worked for me as well. I used Cpanel to install Mautic and there was an option to disable mod_security for each domain. So I disabled for a particular domain which was installed Mautic. Finally, logged out and logged in. I could create email templates.

[2022-06-21 07:56] escopecz commented on #10868
Please comment on the results of your testing on the PR itself. How did you apply the PR? It looks like you did not do it right. Can you test it with https://gitpod.io/#https://github.com/mautic/mautic/pull/10961?

[2022-06-21 08:38] escopecz commented on #11204
Where did you guys found that running `php bin/console doctrine:schema:update --force` is the way to upgrade Mautic? I cannot stress this enough:

**DO NOT RUN THIS COMMAND!!!**

This is the right command to run migrations and update Mautic:

`bin/console doctrine:migrations:migrate`

If you are troubleshooting something, print out the queries that differ from the Doctrine entities, read them care

[2022-06-21 08:38] #11204 closed, assigned to nobody

[2022-06-21 12:11] RCheesley commented on #11199
Hi there,

`doctrine:schema:update --force` should not be used unless in very specific circumstances, as it can cause database issues.

I believe that there is provided some [clear instructions](https://forum.mautic.org/t/mysql-error-upgrading-to-4-2/22867/6) in the posts you have shared to address the issue you have reported, did you manage to resolve it by following those steps?

[2022-06-21 12:18] RCheesley commented on #11267
Hi there, we are not yet supporting PHP 8 (we are hoping to release a 4.4.0-beta imminently with support) - does this also happen with 7.4?

May also be related to #11212

[2022-06-21 12:23] RCheesley commented on #11212
Thanks for the clear documentation, I think it may also be related / the same issue as #11267 which was reported with the API.

It does not show in the screenshots the actual version you are on, please check with the latest version of Mautic (4.3.1)?

What email transport are you using, in case that might be relevant?

[2022-06-21 12:25] RCheesley commented on #11214
Hi there, please can you try using the latest version of Mautic rather than 4.0.x? We no longer support that version. If you are still stuck, please ask for support at https://forum.mautic.org/c/support.

[2022-06-21 12:25] #11214 closed, assigned to nobody

[2022-06-21 12:27] RCheesley commented on #11216
Thanks for reporting the bug @jvkroeger - is this something that started to happen after an update?

[2022-06-21 12:28] RCheesley commented on #11231
Thanks for creating the issue @bell87 and for the detailed steps to test.

[2022-06-21 12:32] RCheesley commented on #11237
Hi @TonyBogdanov thanks for raising the issue. Just so I understand you correctly, is this the exact same situation?

- A server which blocks any traffic from outside the USA
- When using live mode entries are coming into the table but they are not showing the IP address until you refresh the page

[2022-06-21 12:34] RCheesley commented on #11269
Thanks for reporting the issue @coreyworrell - presume as a workaround for the time being you can put something in the to: field while we look into why it is not working as expected.

What email transport are you using?

[2022-06-21 13:32] TonyBogdanov commented on #11237
Hi @RCheesley,

No, I think that's just a specific situation the user in the original issue has, but the bug, I believe, is unrelated to any firewalling. I don't have any firewalls or traffic filtering and it's still an issue.

New entries are not showing *any* content **at all**.\
Looking at the AJAX response, the HTML for the rest of the columns (but the very first one) is missing altogether.

T

[2022-06-21 13:42] Cloudore commented on #11204
We, or at least, have tried this to no avail:

`root@vultr:/var/www/html# sudo -u www-data php bin/console doctrine:migrations:migrate  Mautic Migrations    WARNING! You have 134 previously executed migrations in the database that are not registered migrations.

Are you sure you wish to continue? (y/n)y
WARNING! You are about to execute a database migration that could result in schema changes and

[2022-06-21 14:32] RCheesley commented on #11237
OK thanks for the clarification - as your description just said look at this old issue, I wanted to be sure we understood what issue you are facing specifically so we can try to get to the bottom of it.

[2022-06-21 15:01] RCheesley commented on #11175
Closing this as the PR is merged! 🎉

[2022-06-21 15:01] #11175 closed, assigned to benji07

[2022-06-21 15:03] RCheesley commented on #11178
@TechBill @jos0405 could you take a lookies at #11253 which fixes the wider issue - it just needs one more test!

[2022-06-21 15:36] coreyworrell commented on #11269
Yes it’s an easy enough workaround. I am using Postmark SMTP.

[2022-06-21 19:27] ameerasghar commented on #11212
We are using AWS SNS via SMTP. We are on the latest version of Mautic as well (4.3.1)

[2022-06-21 19:28] ameerasghar commented on #11212
@RCheesley

[2022-06-22 07:50] escopecz commented on #11204
@Cloudore do you have some problem with your Mautic you want to solve or is it just that the command gives you some SQL queries you wish to execute so the output is clear? Doctrine was not built for implementation of custom fields that Mautic use so all the queries on the leads and companies tables are result of that. I don't know history of your Mautic instance. Maybe you've changed the table pre

[2022-06-22 08:23] patrykgruszka commented on #10020
I can confirm, that this issue still exist. @jos0405 your case works because you are using `Contact field value` instead of `Form field value`. PR #9658 does not affect this issue, it just adds option to select multiple values in `Contact field value` condition, like contact country is from Norway or Poland or Czech Republic.

[2022-06-22 10:37] JyFu-py commented on #11204
Sorry but with a fresh composer install (4.3.1) i have this :

![image](https://user-images.githubusercontent.com/67822884/175009108-493c3ebe-5d3c-4edc-89c6-8da7485518b5.png)
![image](https://user-images.githubusercontent.com/67822884/175009392-acbb4359-4d51-4cef-8a0c-ed1d36ec8782.png)

[2022-06-22 11:01] ilannjoaquim commented on #11188
Any news about this problem ? I have the same error with same config.

[2022-06-22 11:03] Cloudore commented on #11204
Not only do I have a problem, Mautic is unusable almost, loses connection to the DB every 24 hours until I restart it

[2022-06-22 11:19] RCheesley commented on #11188
I think that we may be muddling several different issues in this thread.

First issue about segments being broken: I am also unable to reproduce, are you _sure_ that you have cleared both your Mautic cache, and your browser cache, and you have cleared any CDN like Cloudflare or server-side caching which might also be caching JS?

Have you also regenerated the assets before doing that so you defini

[2022-06-22 14:21] nomadicjosh commented on #11188
@RCheesley trying to update schema throws a 500 Internal Server Error.

[2022-06-22 21:32] fiveways commented on #11267
for some reason the UI does not load on php7.4, however it appears to load and function on php8.0.

when using php7.4 fpm on apache we get (with no logs logged);
The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.
System administrators, check server logs for errors.

however this issue is only related to send email via API,

[2022-06-23 08:52] escopecz commented on #11204
@Cloudore what does it mean that Mautic loses connection to the DB every 24 hours? It sounds to me more like an infrastructure problem. Not an application problem. Do you have any errors that could help you understand the problem? Isn't the DB server overloaded once/day? Creating indexes may give you some speed improvement for reads. For example for building segments if you have segment filters on

[2022-06-23 09:43] Kixell-NicolasJardillier opened #11280 "The search of one TAG with the API return all tags."
### Mautic Version

4.3.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Hi,
The search of TAG with the API return all tags.
Following this https://developer.mautic.org/#list-tags

### How can we reproduce this issue?

Step 1 : Create several tags in Mautic and one called myTestTag
Step 2 : Use the API to retrieve one Tag in mau

[2022-06-23 20:30] lobo8412 commented on #9887
Can someone from the blog help me with this problem?
When sending emails, Mautic's "Sender Name" field does not appear in received emails. Instead, it only displays the "from email" part, i.e. the address
I have version 4.2.1 installed
example: https://viajandox.com/boletines/error-mautic.png

[2022-06-23 20:54] lobo8412 commented on #9887
https://viajandox.com/boletines/error-mautic.png

[2022-06-24 18:00] TechBill opened #11286 "Composer install does not populate all files - had to add missing files manually from github after composer install"
### Mautic Version

4.3.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Did a fresh composer install and noticed some broken images. Posted on forum to see what up with broken images and discovered that there is no image files in the /media/images/ folder while github shows there are suppose to be files in that folder.

This is

[2022-06-24 18:02] RCheesley commented on #11286
I think that this PR might be some way to addressing this: https://github.com/mautic/mautic/pull/10682 but it was still WIP. Maybe @mollux might have some insights?

[2022-06-24 18:47] TechBill commented on #11286
Other person mentioned the same in my post - https://forum.mautic.org/t/broken-gravatar-image/24566/5

[2022-06-27 06:21] trianity opened #11287 "Missing Admin Avatar at fresh composer based install v.4.3.1"
### Mautic Version

4.3.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Chrome

### What happened?

A symptom occurred during a recent Mautic 4.3.1 composer-based installation, with nothing loaded on the admin avatar image.

The missing image wanted to be uploaded from this location: https://i2.wp.com/mautic_setup.tld/media/images/avatar.png?ssl=1

You receive

[2022-06-27 08:01] RCheesley commented on #11287
Thanks for the report but this is a duplicate of #11286 so let's keep things centralised over there :)

[2022-06-27 08:01] #11287 closed, assigned to nobody

[2022-06-27 12:25] TBS093A commented on #7768
I have the same problem as @nkosi23, but I'm used nginx (https-portal) and v3-mautic image (everything on docker). Everything looks good when I deploy it on production, but several days ago this app going broken. I get warnings messages like bad csrf / invalid credentials on mautic login operation. login form sometimes redirect on /check_login or repeating infinite redirections. I don't know what

[2022-06-27 12:37] lexsoft00 commented on #11245
Mautic version 4.3.1
PHP 7.4

Having same issues with MailChimp plugin using dev mode.

[code]

[2022-06-27 16:51] annamunk opened #11290 "Dynamic Content block missing in MJML email in GrapesJS builder in Mautic 4.3.x"
### Mautic Version

4.3.x series

### PHP version

7.4.9

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

After updating Mautic to 4.3.x, I no longer see the button to add a Dynamic Content block in the GrapesJS mail editor, similar to https://github.com/mautic/mautic/pull/10782#issuecomment-1020121748. In the previous version 4.2.x, the button was visible an

[2022-06-27 17:17] annamunk opened #11291 "Duplicated Dynamic Content token in GrapesJS email builder, Mautic 4.2.x"
### Mautic Version

4.2.x series

### PHP version

7.4.9

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

GrapesJS builer add duplicated Dynamic Content token on each builder close event. Same story to https://github.com/mautic/mautic/pull/10782#issuecomment-1072250155 and https://github.com/mautic/mautic/issues/10240#issuecomment-1087280530

![dc_duplicated]

[2022-06-27 18:24] TechBill opened #11293 "Composer update 4.4.0 deletes local.php file"
### Mautic Version

4.3.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Saw a tweet announcement about the minor update 4.4.0 release.  Did a composer update and was greeted with a new mautic installation page.

Noticed that local.php file was deleted during a composer update (did test composer update three times after restoring

[2022-06-27 18:43] saschafoerster commented on #11204
@escopecz

This command is actually what is written in the mautic-documentation.

Here is the exact line:
`bin/console doctrine:schema:update --no-interaction --force`
https://github.com/mautic/mautic-documentation/blob/a23fac82c7f0cf49b71420294082a7a5ffb45015/pages/03.Setup/01.how-to-install-mautic/03.Installing%20with%20Composer/docs.en.md?plain=1#L75

https://docs.mautic.org/en/setup/how-to-ins

[2022-06-27 20:43] J-Wick4 commented on #11204
Yeah, some better documentation would really help.

1) Converting to Composer Method
2) Installing fresh with Composer
3) Upgrading with Composer

If we had a one-page doc with all the commands for each of those situations, it would really be helpful.

[2022-06-28 07:31] escopecz commented on #11204
@saschafoerster thanks for pointing out the docs. I wasn't aware. I'll remove the command from them.

@SpyderZ that would really be amazing. Any chance you could update the docs at least based on trial and error? You may not feel like an expert on this topic but you are far ahead of me for example.

You folks are early adopters and I would like to thank you for it. The goal is to make the experien

[2022-06-28 14:46] dakur commented on #11242
@mollux I've just learned, that there are two directives for temp dir in `php.ini` and I had set up `upload_tmp_dir` while `sys_temp_dir` was empty. Now I have:

[code]

However, I'm not sure if the issue is resolved or not. I couldn't see the error in logs since few days anymore (even without `sys_temp_dir`). After adding `sys_temp_dir`, nothing changed – still no errors. So let's consider it "ca

[2022-06-28 14:47] dakur commented on #11242
@mollux

Thanks for context. But isn't it rather wide-spread bug or artefacts from history? When you have configurable temp dir, why should code ignore it and depend on default `sys_get_temp_dir()`? 🤷‍♂️

[2022-06-28 18:16] minholi opened #11299 "Error creating a custom field since 4.4.0 [$100 awarded]"
### Mautic Version

4.3.x series

### PHP version

8.0.20

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Mautic 4.4.0 shows a validation error when creating a new custom field of type Date.

### How can we reproduce this issue?

Step 1: Do a clean install of Mautic 4.4.0
Step 2: Try to create a new custom field of type Date

![image](https://user-images.github

[2022-06-29 02:22] pjrobertson commented on #10999
I confirm this is still an issue with Mautic 4.3.1+

Edit: it **looks** like it's something to do with the PageController.php file here: https://github.com/mautic/mautic/blob/4.x/app/bundles/PageBundle/Controller/PageController.php#L73

But unfortunately the code architecture is beyond me so I wouldn't know where to start/how to fix it.

[2022-06-29 10:38] abdul-Tz-prog opened #11301 "Internal server 500 error on Custom email theme save button"
### Mautic Version

4.2.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

When I select Custom theme for email template from the list of themes and give it a name and press the save button. It gives me **"POST https://domainName/s/emails/new?mauticUserLastActive=123&mauticLastNotificationId= 500 (Internal Server Error)"**
in the consol

[2022-06-29 10:43] RCheesley commented on #11301
Hi there,

Please check the logs directory for the actual log files. Maybe there is some issue with the theme.

[2022-06-29 11:16] abdul-Tz-prog commented on #11301
yes in logs it says "mautic.ERROR: CAMPAIGN: blank-grapejs is missing a required config file [] []"

[2022-06-29 11:21] RCheesley commented on #11301
There is your issue then - you need to update the config file. Please refer to the documentation where this is explained: https://docs.mautic.org/en/builders#templates

[2022-06-29 11:21] #11301 closed, assigned to nobody

[2022-06-29 18:45] cdorabiatto opened #11304 "Mautic not connect on Azure AD"
### Mautic Version

4.3.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

Hello,

We follow this doc link https://docs.mautic.org/en/authentication but after Config Azure AD, the auth works but dont create the user in Mautic.

How configure the SAML on Azure x Mautic?

### How can we reproduce this issue?

https://docs.mautic.org/en/au

[2022-06-30 06:21] jos0405 commented on #11304
Hi, @cdorabiatto , is this a bug or a Azure specific general question?
I would rather ask it in the forums. https://forum.mautic.org/c/support.
Plz close this bug if you agree. Thank you.

[2022-06-30 06:24] jos0405 commented on #11299
Confirmed.

"This form cannot have any additional fields"

![image](https://user-images.githubusercontent.com/4246909/176607097-74399c9e-55bb-40a3-8de4-62bf7ea8e873.png)

[2022-06-30 07:15] cherouvim commented on #10913
Is there a solution available which will survive potential mautic upgrades? Maybe something I can specify on my server's VirtualHost which can override the `.php` related deny?

[2022-06-30 07:22] jos0405 commented on #9488
Hi, this bug still exists on 4.3.
And I would like to make an addition: if you check for "preferred language is not empty", that works. Just the language itself is not recognized.

[2022-06-30 07:25] jos0405 commented on #9627
I closed this bug as M5 will be moving to a direction making this irrelevant. If you don't agree plz reopen it.

[2022-06-30 07:25] #9627 closed, assigned to mabumusa1

[2022-06-30 07:29] jos0405 commented on #9887
I tested with Amazon SES API and works fine.

![image](https://user-images.githubusercontent.com/4246909/176618585-1889168e-962c-4574-8b20-013fddd26c08.png)

We will move away from swiftmailer soon, I suggest we close this for now. If you don't agree, plz reopen.

[2022-06-30 07:29] #9887 closed, assigned to mabumusa1

[2022-06-30 09:54] jurczykpawel commented on #9627
@jos0405 could you shed some light on what will be changed and how it will be resolved in M5?

[2022-06-30 12:43] raramuridesign commented on #10913
@cherouvim it does not look like hence why its been documented ;-)

[2022-06-30 21:06] automatyzuj opened #11305 "Custom emails are marked as open"
### Mautic Version

4.3.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

Custom e-mails are always marked as read immediately after send. This problem exist on M4.12 and M4.4, with and without active GrapeJS. I use AWS.
Problem doesn't happen on M3.3

I didn't find this issue on github.

### How can we reproduce this issue?

S

[2022-06-30 23:08] mooror commented on #10913
Can someone check to see if [@DanVen73's change](https://github.com/mautic/mautic/issues/10913#issuecomment-1084632041l) works with an install that is not in a subdomain? Because his revisions to the .htaccess file solved our access issues when installing Mautic on a subdomain, and if it works for normal installs as well, then to my mind it should just be included in the core.

Also, has this been

[2022-07-01 15:28] TechBill opened #11309 "Base64 images broken on Contact Page -> Send Email"
### Mautic Version

4.4.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

We switched over to Base64 image in the configuration setting. Images are ok in Segment or Campaign emails.

Image are broken in Contact Page -> [Send Email].   (Button shown in screenshot below)

I tried different templates and all show broken images.  If I

[2022-07-01 19:05] davext commented on #11080
+1 here

[2022-07-03 03:13] roblefko commented on #11299
I'm having the same problem when adding fields with type number or type phone. As a crude work-around, you can clone an existing field with the type that you need, and then update the field name.

[2022-07-03 13:42] olissongs commented on #9182
Did today Update from 3.3 to 4.4 on PHP 7.4

Clear notification Button in frontend, only deletes notifications in the frontend list.
After a page reload, all notification are here again.

My workarround in phpmyadmin sql-command:

truncate TABLE `notifications`;

[2022-07-03 20:27] automatyzuj commented on #11097
Problem still exists on M4.4

[2022-07-03 20:37] automatyzuj opened #11310 "Number fields aren't visible in form editor"
### Mautic Version

4.4.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

I tested this with M4.12 and M4.4 (other servers). With polish language you can't make number type field. And already made fields are invisible in form editor. Maybe the problem also arises with another languages.

The problem may be in the language, where i

[2022-07-04 06:05] toondeg commented on #11097
Indeed, still an issue

[2022-07-04 09:13] patrykgruszka opened #11311 "Report with calculated columns is not saved properly"
### Mautic Version

4.3.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

There is some kind of UI problem with saving the report with aggregated columns properly.

### How can we reproduce this issue?

Steps to reproduce issue:
1. Go to reports and create a new report
2. Fill name field and select type Emails sent
3. Add column `ID

[2022-07-04 14:40] RCheesley commented on #11311
I have experienced this issue when testing two separate PRs with reports - so it is definitely a bug! Thank you for reporting it @patrykgruszka

[2022-07-04 19:02] putzwasser commented on #11290
Updated from `4.1.2` to `4.4.0` and was looking forward to use the DC in MJML, but I do not see the button, too, in `4.4.0`—so, the bug is still there.

[2022-07-05 00:18] alexleonov-tactiq commented on #10956
The problem is still present in 4.4.0, but it's not resolved with the patch above.

Here is an example of how it looks in Performance Insights:
<img width="1416" alt="image" src="https://user-images.githubusercontent.com/80251529/177227617-2469dfbf-af97-4ec1-8192-33873ad81fb7.png">

And this is the spike in the Mautic's own CPU usage which leads to gateway timeouts:
<img width="676" alt="image" sr

[2022-07-05 01:26] alexleonov-tactiq commented on #10956
What may or may not be important, there are hundreds of thousands send emails that fall into the one-month period that is the default for the Sent Emails report.

[2022-07-05 01:58] alexleonov-tactiq commented on #10956
Also, there were 4 data filters in the report: one to only have published emails, and 3 to filter out sent emails with email addresses matching certain patterns.

[2022-07-05 03:12] alexleonov-tactiq commented on #10956
For now I am surviving by removing the data filters, applying the change proposed above, and creating a couple of indexes like this, and the dashboard loads within a few seconds:

[code]

[2022-07-05 05:27] jos0405 commented on #11305
Hello @automatyzuj ! Thank you for reporting this bug.
Can you be plz more specific what do you mean by custom email? Is it Segment email or Template email?

[2022-07-05 07:41] automatyzuj commented on #11305
Hello @jos0405 I wrote about emails sending from client's card. They are marked as "custom email:".

Templete is made in GrapeJS with MJML.

[2022-07-05 09:30] automatyzuj commented on #11305
I replace this today and... problem doesn't happen!
It weird, becose I tested it on two independent units (different servers, diffrents AWS accounts). Probably this was AWS SES inner temporary problem. Topic to close.

This is how it looks before:
![image](https://user-images.githubusercontent.com/104569506/177297185-2edd87bb-df13-47c2-a702-88eda744a4a0.png)

[2022-07-05 15:06] dsp76 commented on #9676
@kuzmany when we tried this, we were able to upload the theme ... but it didn't work properly with the editor. It didn't load the grapeJS. When we uploaded the unchanged theme (email.mjml.twig not renamed) - it worked as expected. This is on version 4.4.

Are you sure that the proposed way is the way to go? It seems not to work...

[2022-07-06 03:34] chizuoka commented on #11299
Me too.. i get this error trying to add a textarea... is a major issue. Is there a way we can manually create the field in database while the fix is released?

[2022-07-06 09:54] #11304 closed, assigned to nobody

[2022-07-06 09:55] RCheesley commented on #11309
Thanks for reporting the issue - I know we had a lot of problems with this back in some of the 3.x releases but this might well have snuck under the radar!

[2022-07-06 10:03] RCheesley commented on #11310
I think that this is a duplicate of an existing issue which is impacting all custom fields: #11299 so closing this to centralise the discussion there.

[2022-07-06 10:03] #11310 closed, assigned to nobody

[2022-07-06 10:05] RCheesley commented on #11299
Thanks for the reports folks - looks like this is a wider issue with custom fields and not just date fields so I will update the title of the issue accordingly. Hoping to get it fixed in the next release but we just need to find a developer to jump in and take a look.

[2022-07-06 10:39] jos0405 opened #11315 "Webhook returns different value for new / update contact if boolean"
### Mautic Version

4.3.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Boolean custom field value is returned in different format via webhook in case of update: "1" instead of "true"

### How can we reproduce this issue?

Step 1: Create a Boolean field called "Test bool" (name doesn't matter)
Step 2: Turn on webhook on update and

[2022-07-06 12:03] ekkeguembel commented on #11290
@annamunk @putzwasser did you try with a different browser (or private browser window)?
This may well be a browser cache issue; GrapesJS way too pretty sticky at the moment...
/cc @jos0405

[2022-07-06 12:14] benji07 opened #11316 "Can't override action option of the lookup_id filter"
### Mautic Version

4.4.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I try adding a custom "Choice" to filter my contact by "purchase product" with an event subscriber on `LeadEvents::LIST_FILTERS_CHOICES_ON_GENERATE`

The generated html is correct but the ajax request doesn't contains my action attributes

[code]

The ajax

[2022-07-06 12:35] automatyzuj commented on #11310
Hello @RCheesley I think that they are completely different topics.

I wrote about fields in form builder, not custom fields. And IMHO the problem is due to the identical translation of the field type name.

[2022-07-06 17:35] putzwasser commented on #11290
@ekkeguembel Yes. I tried clearing the browser cache, deleting `./var/cache`, the incognito mode of my browser, and a completely different machine with a completely different browser. That's all I could think of. I'm happy to try something else to make sure it isn't a caching problem.

The button didn't show up.

[2022-07-07 12:30] annamunk commented on #11290
@ekkeguembel Yes, I tried. I checked it on several different browsers with incognito mode and tried to clear the cache. I couldn't find changes introduces by [grapesjs-preset-mautic#26](https://github.com/mautic/grapesjs-preset-mautic/pull/26/files) and https://github.com/mautic/mautic/pull/10782 in plugins\GrapesJsBuilderBundle\Assets\library\js\dist\builder.js file in Mautic.

It seems the DC su

[2022-07-07 20:15] KN4CK3R commented on #11299
Added a fix for this in #11321. Would be cool if you can test it.

[2022-07-08 12:13] automatyzuj opened #11323 "Points aren't change after open a "custom email" sending from the lead card"
### Mautic Version

4.4.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

If you have configured Point Action: "change points" after opens an email without any limit, leads should gain points always after opened any email. But it doesn't work with emails sent from contact card.

### How can we reproduce this issue?

Step 1: Set up

[2022-07-08 12:14] automatyzuj commented on #11323
I tag: #7330 - may your improvement fix it.

[2022-07-08 22:57] automatyzuj commented on #11310
Hi @RCheesley this fixes it in my issue:.
in /translations/pl_PL/CoreBundle/messages.ini you should change to line 385 from "mautic.core.type.tel="Numer" to mautic.core.type.tel="Numer telefonu" (in line 383 is also; mautic.core.type.number="Numer")

After this all works fine.

If you want you can add this PR to Mautic repository.

cc: @escopecz

Regards.

[2022-07-09 15:03] robertology commented on #10988
I was going to work on this but could not reproduce.

[2022-07-09 17:33] kuzmany commented on #10988
Probably fixed in 4.2.2 https://github.com/mautic/mautic/pull/11101

[2022-07-10 04:22] kuzmany commented on #11323
This is not bug.
Custom emails are not regular emails.
As @automatyzuj wrote above, need new option to Points action.

[2022-07-10 04:30] #10988 closed, assigned to nobody

[2022-07-10 07:03] jos0405 commented on #11305
Closed by request of original submitter

[2022-07-10 07:03] #11305 closed, assigned to nobody

[2022-07-11 01:22] nomadicjosh commented on #11188
Ok, I tried updating to the newest version, but made sure to make note this time of the error after running the command: `php bin/console mautic:update:apply --finish`.

Below is the error message from the error log:

[code]
I am hoping this will help pinpoint the exact issue.

[2022-07-11 01:26] azure-architect opened #11326 "Fatal Error with sendgrid"
### Mautic Version

4.3.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened! I am getting this error in my system log :
Fatal error: Uncaught Error: Interface 'JsonSerializable' not found in /web/vendor/sendgrid/sendgrid/lib/helpers/mail/Mail.php:15
Stack trace:
#0 /web/vendor/composer/autoload_real.php(55): require(

[2022-07-11 01:27] azure-architect commented on #11326
Json is enabled in my php.ini

<html><body>
<h2><a name="module_json">json</a></h2>

json support | enabled
-- | --

</body>
</html>

[2022-07-11 08:28] RCheesley commented on #11310
Thanks, translations are all done on transifex.com so any changes will need to be made there.

[2022-07-11 08:37] RCheesley commented on #11188
This is relating to a problem with a migration. I had it myself in my Mautic instance. For me, dropping the index `IDX_SEARCH` solved the issue, then I was able to update the schema.

This issue is reported already in the forums, please go there first to search/post and see if the problem is already resolved, then if it is found to be a bug we can raise an issue here.

Here is the forum thread: ht

[2022-07-11 08:37] #11188 closed, assigned to nobody

[2022-07-11 12:02] omert37 opened #11328 "Media Manager gives a 500 error after change to PHP 8.0"
### Mautic Version

4.4.x series

### PHP version

8.0.20

### What browsers are you seeing the problem on?

Chrome

### What happened?

After installing 4.4.0 and seeing that it supports PHP 8.0, I told my NGINX server  block to use PHP 8.0 SOCK.
Everything was great until I opened the Media Manager and got a 500 error.
After reverting the NGINX server block back to use PHP 7.4, Media Manager was

[2022-07-11 12:05] RCheesley commented on #11328
Thanks for reporting this - please provide your logs?

[2022-07-11 13:18] automatyzuj opened #11330 "Code 500 after save when I use emoji in text with MJML builder"
### Mautic Version

4.4.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

When I've got some emoji in text (like: 😃 or 📅) and I click "save" or "save and close" Mautic shows me code 500.

I checked this adn in M4.12 problem was never happened.

Image from M4.12
![image](https://user-images.githubusercontent.com/104569506/178273284

[2022-07-11 14:12] automatyzuj commented on #11310
Done.

[2022-07-11 14:38] toondeg opened #11331 "GrapeJS: when clicking enter the screen drops to the bottom and I lose content"
### Mautic Version

4.3.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Chrome

### What happened?

**If you press Enter within a text block (e.g. for a line spacing) you end up at the end of the template, instead of remaining in the text block where you are currently writing.**

When pressing enter in the GrapeJs email builder the screen drops down to the bott

[2022-07-11 14:45] automatyzuj commented on #11331
I've got this same. When you click "save" JavaScript is reloaded and content is back visible.

[2022-07-11 14:54] toondeg commented on #11097
Just want to express that this is urgent for people in the EU.

This is causing GDPR issues because a user cannot unsub in their own language.

_The phrasing of this article means that language related to GDPR implementations should be both accessible and intelligeble, as well as in a language that the intended audience can be expected to understand._

[2022-07-11 14:54] toondeg commented on #11097
closed on accident

Just want to express that this is urgent for people in the EU.

This is causing GDPR issues because a user cannot unsub in their own language.

The phrasing of this article means that language related to GDPR implementations should be both accessible and intelligeble, as well as in a language that the intended audience can be expected to understand.

[2022-07-11 14:57] toondeg commented on #10966
+1

[2022-07-11 14:58] RCheesley commented on #11097
Have you checked the new PR to add the relevant blocks to the builder?

Here is the PR to add the blocks to the preset: https://github.com/mautic/grapesjs-preset-mautic/pull/29 - would be great to get some feedback there.

[2022-07-11 15:21] stevedrobinson commented on #11080
Same here -> only when do not override value is "YES"

[2022-07-11 15:40] RCheesley commented on #11299
Closing the issue as the fix has been merged in https://github.com/mautic/mautic/pull/11321 (along with a test to make sure that it doesn't happen again!)

Thanks for the PR @KN4CK3R 🚀

[2022-07-11 15:40] #11299 closed, assigned to nobody

[2022-07-12 00:13] coreyworrell opened #11333 "Mautic does not sync opt-in/out with Twilio"
### Mautic Version

4.4.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

By default Mautic Twilio SMS callback only listens for the "stop" keyword, even though there are more default keywords that Twilio responds to (and allows any number of custom keywords to be used). And there is no action taken by Mautic at all if someone resub

[2022-07-12 05:02] omert37 commented on #11328
The problem was IMAGICK.
Installing the php8.0-imagick solved it.:
**sudo apt install php8.0-imagick**

By the way the "Recommendations" tab in System Info told me my "server is configured properly".
Maybe someone should look into that.
I think it would be a very good idea to reiterate somewhere in the official MAUTIC Documentation all the required PHP 8.0 extensions for MAUTIC.

[2022-07-12 05:44] jos0405 commented on #11333
Hi, this seems to me as a feature request and not even on the core, but on a plugin. Can you confirm that?
Maybe makes sense to post it here?
https://github.com/samjaninf/mautic-twillio-feedback-bundle

[2022-07-12 05:47] coreyworrell commented on #11333
@jos0405 the Twilio integration is part of core. And I consider it a bug because it does not support the default keywords or resubcribe functionality.

[2022-07-12 05:47] jos0405 commented on #11173
Video:
https://github.com/mautic/mautic/issues/11331

[2022-07-12 05:47] jos0405 commented on #11331
Duplicate of
https://github.com/mautic/mautic/issues/11173, maybe close this bug?

[2022-07-12 05:58] jos0405 commented on #11330
Hello @automatyzuj !

I opened an MJML template and tried to reproduce your issue under Mautic 4.4.0.
I had no problem savind emojies:

![image](https://user-images.githubusercontent.com/4246909/178418652-80f2af93-217a-42e0-91be-f43006fd52b0.png)

Looks like this in the DB:

![image](https://user-images.githubusercontent.com/4246909/178418938-65f991e8-8740-41fd-8ee7-680446422543.png)

Is the encod

[2022-07-12 06:01] jos0405 commented on #11323
@automatyzuj  Can we close this for now as it's not a bug but rather a feature request?

[2022-07-12 06:35] #11328 closed, assigned to nobody

[2022-07-12 09:52] automatyzuj commented on #11173
I can add, that after click "Save" block is back visible.
To restore code editor is needed page refresh.
Maybe this help someone.

[2022-07-12 09:53] PierreAmmeloot commented on #10966
@RCheesley Can you tell us where this feature is going (what PR)?

[2022-07-12 09:54] automatyzuj commented on #11330
Upgrade to utf8mb4 works. To close.

[2022-07-12 10:00] automatyzuj commented on #11323
Hmm... difficult question. IMHO we must remember that we wrote nowhere about this, that point score doesn't work with opens custom emails.

Text in this action is also confusing.
![image](https://user-images.githubusercontent.com/104569506/178464870-7dd7a47a-dfd6-4a19-8713-4ffd78407ed9.png)

[2022-07-12 10:15] #11330 closed, assigned to nobody

[2022-07-12 10:37] kuzmany commented on #11323
We can add note to tooltip.
But technically custom email is not related to any email ID, then not generate email stats and then not open actions provided

[2022-07-12 10:59] #11212 closed, assigned to nobody

[2022-07-12 11:08] automatyzuj commented on #11323
In DB and on contact card we see email read history.

We can use custom emails history in segments. For example with condition: "Read any email (date)" - it also is working with custom emails.

For me, this trick on not adding points for custom emails when in other place custom emails are treated the same as others (segments), makes some illogical precedent. But of course it's a question to the PM

[2022-07-12 11:11] kuzmany commented on #11323
Ok, Then we can let is as bug.

[2022-07-12 12:57] benji07 commented on #11316
#11327  was merged

[2022-07-12 12:57] #11316 closed, assigned to nobody

[2022-07-12 15:50] pety-dc commented on #10956
@alexleonov-tactiq

Your query has way more coniditions in the where clause than mine - probably due to applied filters.
My proposed solution is only supposed to solve only MySQL using the index on the generated date column instead of the original which it does the filtering by.

Afaik Mysql unfortunately can use only one index for a query.  It may try some index merging/intersecting magic stuff,

[2022-07-13 13:23] abdul-Tz-prog commented on #11301
I tried to change my config file. But still have this issue. It says: "mautic.ERROR: CAMPAIGN: blank-grapejs is missing a required config file [] []".

[2022-07-13 13:25] abdul-Tz-prog opened #11336 "mautic.ERROR: CAMPAIGN: blank-grapejs is missing a required config file [] []"
I tried to change my config file. But still have this issue. It says: "mautic.ERROR: CAMPAIGN: blank-grapejs is missing a required config file [] []".

_Originally posted by @abdul-Tz-prog in https://github.com/mautic/mautic/issues/11301#issuecomment-1183220109_

[2022-07-13 15:53] adiux commented on #11061
We can confirm that we reproduced the issue on the 4.4 branch. We try to solve it now. Any hint would be appreciated.

[2022-07-13 16:35] Antonyrahul commented on #9207
Has this issue been fixed . I am facing this now

[2022-07-14 09:00] trianity opened #11337 "Field access error from Report after composer based update to 4.4.0"
### Mautic Version

4.4.x series

### PHP version

8.0.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

A report that was created before the update and that worked previously became unavailable.

There were 15 reports created in this Mautic system, and only 2 had errors, and all of them had graphs.
The same error also appears when saving a new report if the report

[2022-07-14 09:05] jos0405 commented on #11336
Hi, plz make sure you are using the right folder structure. The config file has to be in the root of your zip. A common mistake is to place the whole template in a subfolder and zip it in.
I'll close this for now. In case you'll still have a problem, feel free to reopen! :)

[2022-07-14 09:05] #11336 closed, assigned to nobody

[2022-07-14 09:08] abdul-Tz-prog commented on #11336
@jos0405 Thanks for your reply. I already check this. It is not the case folder structure is fine. Please what else could be the solution for this.

[2022-07-14 09:12] jos0405 commented on #11333
Hello @coreyworrell !
Thank for the feedback. You are right, the Twilio integration is part of the core. I checked the plugin settings an there is no functionality that supports keywords reading. It would be really nice to add it as an extra feature.
It can be, that I'm mistaken, could you plz make a screenshot from the core Twilio plugin where you can define the keyword?

[2022-07-14 09:29] escopecz commented on #11061
This means you have an infinite loop in your campaigns. We also found several customers have this problem when we released it. We had to revert [this commit](https://github.com/mautic/mautic/commit/c7d9750ab72a5f70f65761dae0e2a460e8a00c12) (as @volha-pivavarchyk  pointed out) before we'll figure out a way how to find the infinite loops in campaigns.

[2022-07-14 09:48] fiveways commented on #11267
issues still occurs on v4.4.0 too

[2022-07-14 10:18] RCheesley commented on #11061
Not sure if it is the same issue but I noticed this PR from @kuzmany to fix a looping campaign issue: https://github.com/mautic/mautic/pull/11332

[2022-07-14 10:24] volha-pivavarchyk commented on #11061
@escopecz Could you please write when this commit was reverted or in what version?

[2022-07-14 10:28] volha-pivavarchyk commented on #11061
@RCheesley I have just found the PR [#11318](https://github.com/mautic/mautic/pull/11318) from @kuzmany to fix it. It it the same issue

[2022-07-14 17:26] coreyworrell commented on #11333
What I am suggesting is not to rely on keywords, but rather to rely on the `OptOutType` parameter (which is one of `START`, `STOP`, or `HELP`) that Twilio sends in their incoming SMS webhook request to Mautic. That is more reliable as you would not need to specify keywords anywhere in Mautic.

[2022-07-15 13:12] RCheesley commented on #11202
I just experienced this again when testing #11319 which re-introduces the block in GrapesJS.

[2022-07-15 13:58] jos0405 commented on #11333
I understand that Mautic should have this feature. I 100% agree with you.
But it doesn't have. Unless I'm missing something (since I'm also just a user like you it's very mucht possible.) - in this case plz post a screenshot where this feature exists now.
If it doesn't exists, I'd like to encourage you to post a feature request and not a bug report:
[mautic.org/forum](https://forum.mautic.org/c/su

[2022-07-17 06:20] jos0405 commented on #11333
I can see you created the feature in the meanwhile.
Thank you so much for your contribution!
https://forum.mautic.org/t/twilio-sms-extensions-bundle-package-available-now/24756

[2022-07-17 06:20] #11333 closed, assigned to nobody

[2022-07-17 08:34] trianity commented on #6957
Dear @RCheesley the issue still exists on Mautic v.4.4.0 (composer based) with PHP 8.0.19.
The fresh log output:
[code]

[2022-07-17 09:14] trianity opened #11340 "ORMInvalidArgumentException related to Asset Download"
### Mautic Version

4.4.x series

### PHP version

8.0.19

### What browsers are you seeing the problem on?

Not relevant

### What happened?

My client, whose Mautic I run, often sends emails with downloadable content. And the error below keeps popping up again and again. 2-3, sometimes more, such logs appear in the PHP error log per day.

The error can be observed starting from version 2.14 in m

[2022-07-17 09:15] trianity commented on #6957
Reopen with: #11340

[2022-07-18 21:10] tke852 commented on #9320
I think this is still an issue but it happened to me after upgrading to 4.3.1.  I can see myself navigating through the page and I'm given a new ID with every page I go to so there is no continuity in a visit.

I have an installation that hasn't been upgraded for a different website running 3.3.3 that works as expected.

Did anyone ever figure out why this is happening?  It basically makes Mautic

[2022-07-19 07:57] guptavijay208 commented on #2437
Hi, Any update on above?

[2022-07-19 10:23] jos0405 commented on #11331
Duplicate of https://github.com/mautic/mautic/issues/11173.
Plz reopen if I'm wrong.

[2022-07-19 10:23] #11331 closed, assigned to nobody

[2022-07-20 00:03] andrekutianski commented on #9320
I've given up on understanding why and how this happens. I've been having this for many versions of Mautic. I've tested numerous scenarios, and always the same result. I've come to terms with that.

[2022-07-20 08:45] abcpro1 commented on #11267
Hello. Can you assign me this issue? I have a fix for it.

[2022-07-20 08:46] npracht commented on #11267
@abcpro1 this is done ! Looking forward to see what you can do :)

[2022-07-20 08:49] abcpro1 commented on #11267
Thanks.

[2022-07-20 11:31] toondeg commented on #11080
+ 1

[2022-07-20 15:58] kayacekovic commented on #10686
i updated `applyQuery` function `notEmpty` case in `app/bundles/LeadBundle/Segment/Query/Filter/BaseFilterQueryBuilder.php` something below. Its worked for me!

[code]

[2022-07-21 03:24] ServicedCloud opened #11344 "Missing Lead Fields when creating emails"
### Mautic Version

4.4.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

Chrome

### What happened?

When creating an email and trying to add a personalised content such as first name, there is no way to add one. Tried to type the left curly braces and the tag suggestions aren't showing up. Also, the tag is missing on the text editor.

![image](https://user-images.

[2022-07-21 07:31] escopecz commented on #10686
@kayacekovic what Mautic version do you have? This was fixed by https://github.com/mautic/mautic/pull/11126 in Mautic 4.3

[2022-07-21 07:31] #10686 closed, assigned to nobody

[2022-07-21 07:36] kayacekovic commented on #10686
@escopecz my mautic version is 3.3.4

[2022-07-21 07:53] escopecz commented on #10686
Ok. Makes sense then. Thanks!

[2022-07-21 08:13] ServicedCloud commented on #11344
Additional info - when GrapesJS is disabled in configuration, the tags are working with the old set of themes.

I've seen the post [11290](https://github.com/mautic/mautic/issues/11290)  with a similar problem. This will be a duplicate post and happy to close this.

[2022-07-21 10:32] RCheesley commented on #11344
Thanks for raising this, it's because the editor has not been switched to CKEditor in the builder.

Just write in the tags and they will be used, as a workaround.

[2022-07-21 18:44] stevedrobinson commented on #10241
This issue description isn't quite complete/accurate. Currently, even if you key in the token/shortcode (e.g. `{dwc=myslot}`) in for dynamic content, the dynamic content does not render. It's also not possible to put in dynamic content html (e.g. `<div data-slot="dwc" data-param-slot-name="myslot">`) in and get the dynamic content to render.

From what I can tell, there is no workaround to getting

[2022-07-21 20:12] TechBill commented on #11309
Any update fix on this issue?  It's annoying of having to disable and re-enable every time I want to send an email directly to a contact.

[2022-07-21 22:02] DELTASERVERS commented on #10913
Dear Ones,

It is simple to solve this problem, just remove everything from /.htaccess and apply the listed below:

Prezados,

É simples resolver esse problema, basta remover tudo do /.htaccess e aplicar o listado abaixo:

[code]

[2022-07-22 02:05] ServicedCloud commented on #11344
Thanks for your reply.

Can we enable the CKEditor on our installation or is this a new feature that we need to watch out for?

[2022-07-22 08:22] RCheesley commented on #11267
Please see #11347 proposed to fix this issue.

[2022-07-22 08:33] RCheesley commented on #11344
New feature that needs to be implemented. We did have it working during the pre-beta stage of the builder but there were some bugs iirc which meant it was removed before we launch as I recall @adiux ? I think that is why we lost the auto-token text anyway, can you confirm? Is it something we can re-introduce?

[2022-07-23 00:55] ivanmonteiro commented on #4016
This did the trick for me using nginx as a reverse proxy.
The mautic backend did not know that the proxy used https (but the backend was http) so it 301 redirected into infinite loop.
I had to pass `proxy_set_header X-Forwarded-Proto $scheme;` to the upstream server:
[code]

[2022-07-23 04:47] dedelkov commented on #8406
Was having the same problem on Mautic v4.4.0 with API library v3.0.0.
Cleaning the cache then warming up and updating the permissions solved the issue for me.

Try these on your mautic installation folder:
php bin/console cache:clear
php bin/console cache:warmup

chown -R www-data:www-data .
chmod -R g+rw .

[2022-07-24 11:20] omert37 commented on #10651
Same problem here.
Trying to install to new directory with COMPOSER and I get the same message.

 **Problem 1
    - friendsofsymfony/oauth-server-bundle dev-doctrine-fix requires php ^5.5|^7.0 -> your php version (8.0.21) does not satisfy that requirement.
    - mautic/core-lib 4.4.0 requires friendsofsymfony/oauth-server-bundle dev-doctrine-fix -> satisfiable by friendsofsymfony/oauth-server-bund

[2022-07-25 11:29] escopecz commented on #10651
Please test https://github.com/mautic/mautic/pull/11353 today so it can be released in 4.4.1 that should go out today

[2022-07-25 15:39] omert37 commented on #10651
Tested it out.
It didn't give me the "Problem" errors but it gave me some notices in yellow about bundles being abandoned and that I shouldn't use them.

[2022-07-26 14:36] andrew-dixon commented on #11290
Same issue here, update from 4.1.2 to 4.4.0 and the dynamic content component isn't showing in the builder. Have tried clearing all caches and browser incognito mode as well and no difference.

[2022-07-27 08:52] RCheesley commented on #11185
Closing issue as a duplicate of #10932 due to lack of feedback.

[2022-07-27 08:52] #11185 closed, assigned to nobody

[2022-07-27 08:52] RCheesley commented on #11181
Closing issue as it was fixed with #11348

[2022-07-27 08:52] #11181 closed, assigned to nobody

[2022-07-27 08:55] RCheesley commented on #11080
Please test #11350 which should fix this issue - thanks for reporting it folks! We need two tests to get the fix merged, testing instructions can be found here: https://contribute.mautic.org/contributing-to-mautic/tester

[2022-07-27 08:57] RCheesley commented on #10979
Closing issue as it was fixed with https://github.com/mautic/mautic/pull/11348

[2022-07-27 08:57] #10979 closed, assigned to nobody

[2022-07-27 09:29] alexhammerschmied commented on #11286
Hi together,
i just made a fresh Composer Install with Mautic 4.4 and it does not show any images. Not even in the emails.
Also when I upload an image inside an email it does not render. It gets uploaded to the folder docroot/media/images.

And i found that all files which should actually live inside of docroot/media/images are in the folder docroot/app/assets/images

[2022-07-28 02:42] HN-PRO opened #11359 "Configuration settings don’t save"
### Mautic Version

4.4.x series

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

I successfully upgraded from 3.3.5 to 4.4.0 using the command, but when I save the config file I get 'Please wait....' and it can't save the information properly.

![image](https://user-images.githubusercontent.com/30229591/181407203-09c29635-96e5-4005-a30f-8227a1

[2022-07-28 09:31] escopecz commented on #10651
@omert37 thanks for testing. Those errors are there without this PR as well. Those will be resolved with Mautic 5 as replacement of many of those deprecated packages would be a breaking compatibility change.

[2022-07-28 09:32] escopecz commented on #10651
@omert37 can you please approve the PR? That way it will be one step closer to being merged.

[2022-07-28 10:08] omert37 commented on #10651
I do not feel I'm in a position to approve or disapprove of anything. I am merely an observer of a process.

[2022-07-28 10:29] RCheesley commented on #11359
Hi there! This is most likely something relating to clearing the cache and the browser cache. Please clear your Mautic cache, try incognito etc

Closing this issue, if you continue to experience problems please ask for support on https://forum.mautic.org/c/support as that's where we provide troubleshooting and support 😄

[2022-07-28 10:29] #11359 closed, assigned to nobody

[2022-07-28 10:36] RCheesley commented on #10651
@omert37 the way GitHub knows if people have tested is leaving a review, with 'approve' if the test was successful. We need two to merge every PR, so your approval does matter! You can do that under Files Changed > Leave review 😄

[2022-07-28 11:33] omert37 commented on #10651
Done. I hope it helps.

[2022-07-28 12:15] RCheesley commented on #11267
@fiveways please can you review and test #11347 which should resolve this issue. Please leave the review under Files changed > Start review and approve if it does fix this issue.

[2022-07-28 15:29] escopecz commented on #11080
Closing as the PR was merged and will be released in 4.4.1

[2022-07-28 15:29] #11080 closed, assigned to nobody

[2022-07-29 13:04] RCheesley commented on #11309
@TechBill could you please test #11362 and see if that resolves your problem? Thanks!

[2022-07-29 13:27] TechBill commented on #11309
@RCheesley   Tested and images are still broken. ... See attached image

![Screen Shot 2022-07-29 at 8 20 39 AM](https://user-images.githubusercontent.com/945103/181770251-98034758-daa5-45f0-bc72-d3a17fbe8a68.jpg)

[2022-07-29 13:40] escopecz commented on #9011
Fixed with https://github.com/mautic/mautic/pull/11363, will be released in Mautic 4.4.1

[2022-07-29 13:40] #9011 closed, assigned to nobody

[2022-07-29 13:56] TechBill commented on #11309
I tested it both on my Mautic and Gitpod.

On my Mautic, images when Base64 enable are still broken send to contact only

On Gitpod, all images are broken or missing including image in all of the email templates on both with Base64 enable or disabled

Seems like Gitpod are missing all the template images?

[2022-07-29 20:14] npracht commented on #9488
Hi @dsp76 @jos0405 you can test #11364 !

[2022-07-31 14:22] jevhen-ponomarenko opened #11365 "Contact IDs mismatch"
### Mautic Version

4.4.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I have created a contact using POST request to `contacts/new`. The response contained `id: 2982961`.
After some time, I have tried to add this contact to a segment. This action failed with a 500 error.

After inspecting the MySQL logs, I found that the `con

[2022-08-01 05:24] travis-symbolscape opened #11366 "Small bug in Reports descriptions"
### Mautic Version

4.3.x series

### PHP version

8

### What browsers are you seeing the problem on?

Not relevant

### What happened?

R
![Screen Shot 2022-07-29 at 3 54 52 PM](https://user-images.githubusercontent.com/2645995/182077795-c9b71aeb-28d4-4877-8043-dbecd71abd24.png)
eporting a small bug – apologies if already known – I am seeing it in the user facing “descriptions” section for Repor

[2022-08-01 08:01] trianity commented on #11293
I can confirm this issue. It would be lucky if the documentation of the composer update process would be included a **prominent warning** about backup, especially the config/local.php file.

[2022-08-01 08:33] RCheesley commented on #11293
@trianity at this time we think that this may be a bug and not intended behaviour. We're waiting on some feedback from the folks who implemented the Composer workflows to confirm whether this is the case.

[2022-08-01 18:59] trianity commented on #11293
@RCheesley Thanks for the update!
Today I did a composer based update from Mautic 4.2.2 to fresh Mautic v.4.4.1 and the `config/local.php` file was deleted in this update also.

[2022-08-01 19:06] TechBill commented on #11293
This bug report is still active and no fix been appended to it to yet as far I can see.

Just back up your local.php before you do a composer update and restore it afterward then clear cache.

Mautic did post statement to back up every time before you update.

See top statement - https://docs.mautic.org/en/setup/how-to-update-mautic/updating-at-command-line

[2022-08-02 03:07] lobo8412 opened #11370 "“From Name” field does not show up on the emails received"
### Mautic Version

4.4.x series

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

When sending emails Mautic's “From Name” field does not show up on the emails received. Tried different email clients devices. Instead it only shows the “from email” part i.e the address.

The problem occurs when sending with Amazon SES API

### How can we reprod

[2022-08-02 05:55] fiveways commented on #11267
good job guys, confirmed its working.

[2022-08-02 09:26] #11267 closed, assigned to abcpro1

[2022-08-02 13:59] escopecz commented on #10651
I made a mistake. The fix I did will break Mautic's API because the master branch does not support PHP templates but only TWIG. We'll have to create a new hot fix reverting the change I made. Now I came back to this issue again and thinking why we are getting the error you've described.

I think I start to understand it. Let's get back to the roots. Do not use composer to install Mautic in your pl

[2022-08-02 16:08] ShareBtech commented on #11202
Is there any progress on this ?  If any testing is needed please let me know

[2022-08-02 19:24] RCheesley commented on #11309
Please make sure to leave the review on the PR so the author can respond - they may not see it here on the issue ;)

[2022-08-02 19:28] AsyncAlchemist opened #11374 "DB Migration Fails On Upgrade From Mautic 4.0 to 4.4.1 On MariaDB"
### Mautic Version

4.0.x series (not supported)

### PHP version

7.4.3

### What browsers are you seeing the problem on?

_No response_

### What happened?

The database migration fails on 10.3.35-MariaDB.

### How can we reproduce this issue?

Step 1: Install Mautic 4.0
Step 2: Upgrade to 4.4 from the command line using php bin/console mautic:update:apply. The process will finish successfully.

[2022-08-02 19:33] RCheesley commented on #11374
Hi there, please search for issues like this over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

There are lots of posts on the forums about this, with the most popular solution being to drop that index (IDX_SEARCH) in your database.

Check this thread for a detailed run through, for example: h

[2022-08-02 19:33] #11374 closed, assigned to nobody

[2022-08-02 19:48] AsyncAlchemist commented on #11374
I consider this a bug. I ran the update as documented and it failed due to a problem with the DB migration. The fact that there is a workaround that has been published on the forum doesn't mean that this isn't a bug.

[2022-08-03 08:35] #10651 closed, assigned to nickveenhof

[2022-08-04 08:09] atharv-it opened #11377 "Email Builder Gone Mad - Ver 4..4.1"
### Mautic Version

4.4.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

Chrome

### What happened?

Email desing preview in mautic & email actually receiving in the mailbox (Gmail) is showing completly different layout, alignments, image size, etc.

I use beefree.io to desing my emails and then I copy and paste html code in the mautic builder, mautic shows preview

[2022-08-04 09:15] tegger2000 opened #11378 "Update with console 4.0.2 to 4.4.1 failed"
### Mautic Version

4.4.x series

### PHP version

8.0.11

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I tried to update with the console

[code]

the output in log is from var/logs/prod-2022-08-04.php

### How can we reproduce this issue?

Step 1: php bin/console mautic:update:apply
Step 2: php bin/console mautic:update:apply --finish

### Relevant log outp

[2022-08-04 09:46] escopecz commented on #11309
Closing as this issue has been fixed and will be released in the next M4 release.

[2022-08-04 09:46] #11309 closed, assigned to nobody

[2022-08-04 10:12] RCheesley commented on #11377
If you copy in from another builder, use the blank theme and paste your code in the HTML box under the advanced tab.

That way, the GrapesJS builder will not tidy up the code for you.

[2022-08-04 10:12] #11377 closed, assigned to nobody

[2022-08-04 12:13] jos0405 commented on #11370
Hi, there was a similar error back around 3.3.0, but it got fixed.
Was it working for you in previous versions?

[2022-08-04 12:17] jos0405 commented on #11365
Hello,
When you merge 2 contacts together, one is loosing the ID.
It is connected to merging for sure.
Did you add the anonimous user via API as well?

[2022-08-04 12:29] jevhen-ponomarenko commented on #11365
We only add identified contacts through the API. The visitor user was probably added by the system when he visited the site for the first time?

[2022-08-04 18:51] trianity opened #11380 "Missing mautic:assets:generate step in the composer update process"
### Mautic Version

4.4.x series

### PHP version

8.0.18

### What browsers are you seeing the problem on?

Chrome

### What happened?

The Mautic embed form looks for the https://mautic-url.test/media/js/mautic-form.js file, while /media/js/ folder contains file with name mautic-form-src.js

The issue cause Error 404 in the javascript console.

### How can we reproduce this issue?

Step 1: Compo

[2022-08-04 21:16] TechBill opened #11381 "Base64 generating hundreds of image attachments not used in email message body"
### Mautic Version

4.4.x series

### PHP version

7.4.+

### What browsers are you seeing the problem on?

Not relevant

### What happened?

After switching to Base64, we were informed by several of our subscribers that they are receiving our newsletter with hundreds of attachments when we only have 7 or 8 images in the message body.

One header image, small logo, and several social icons is all

[2022-08-04 21:18] TechBill commented on #11381
Due to its' small size, I am wondering if that a bugged out tracking pixel being repeated

and tracking pixel cannot be Base64 correct?

[2022-08-04 21:43] TechBill commented on #11381
I just noticed something else so I wanted to add it here.

We average about 55% to 60% of our newsletter read which is correct.

When we enabled the Base64, our newsletter read would jump up to 99% to 100% .  It obviously something to do with repeated tracking pixel being bugged out and causing the statistics to be off.

See attached screenshot

Without Base64 -past few weeks
![Screen Shot 2022-08

[2022-08-04 23:30] TechBill commented on #11309
This fix many have introduced a different bug

See https://github.com/mautic/mautic/issues/11381

I confirm it tomorrow to see

[2022-08-05 07:05] biozshock commented on #9505
~~Tested on latest 4.4. Can't reproduce. All tooltips are gone.~~
Edit: when testing another PR actually found the cause. https://github.com/twbs/bootstrap/issues/20511 . PR is coming your way now.

[2022-08-05 10:00] biozshock commented on #10008
Just tested this. Looks like it works.
Steps:
1. Create a campaign form with the action to redirect to the page within mautic.
2. Create a restartable campaign based on that form with
2.1 Decision: Visits page with URL *page/1*
2.2 Create two actions to add tags.
2.3 On success add also Change campaigns: restart
3. Fill in the form to create/pick a contact
4. After redirect the campaign will be ex

[2022-08-05 10:12] Captain-FLAM commented on #11204
I confirm that this trouble still persists ...

I updated from 4.20 to 4.4.1 (standard method, not with composer)
I made migrations (one trouble : I had to delete INDEX **dnc_channel_id_search** ON **lead_donotcontact** ??)

I updated manually my db by executing sql queries got from _doctrine:schema:update --dump-sql_

The next steps are impossible (even manually) to resolve :

 * DROP INDEX IDX_1

[2022-08-05 11:00] escopecz commented on #11309
@TechBill thanks for flagging this. The fix hasn't been released yet, so let's figure it out before the release.

@biozshock can you also review these concerns?

[2022-08-06 10:18] HopNguyen303 opened #11384 "List contacts always show not found, links from companies to list contacts also show not found."
### Mautic Version

4.4.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

_No response_

### What happened?

List contacts always show not found, links from companies to list contacts also show not found. Links from companies (field: name) to view company detail always use http instead of https.

### How can we reproduce this issue?

Step 1:

### Relevant log output

[2022-08-06 15:13] trianity commented on #9491
@kuzmany @RCheesley The issue steel exists on Mautic v.4.4.1 and not only email builder can repeat the `<!DOCTYPE html>` but the pagebuilder of landing pages in code mode.

![Képernyőkép ekkor: 2022-08-06 09-14-56](https://user-images.githubusercontent.com/6353141/183254947-aef715a9-ecb0-43d6-9432-d4222556cafc.png)

![Képernyőkép ekkor: 2022-08-06 08-43-49](https://user-images.githubusercontent.co

[2022-08-08 05:48] HN-PRO commented on #10644
We have the same problem with Mautic.
PHP version: 7.4.30
Is there a solution?

[2022-08-08 12:46] RCheesley commented on #11239
Hey folks! Please test #11376 which fixes this issue, then we can get it merged into the next release at the end of the month.

Here's some instructions on how to test a PR in the browser using Gitpod (very quick to do!) https://contribute.mautic.org/contributing-to-mautic/tester#the-easy-way-using-gitpod.

Here is how to leave your review if it has all worked for you: https://contribute.mautic.or

[2022-08-08 12:46] RCheesley commented on #11239
@all-contributors please add @uzegonemad for bugs

[2022-08-08 23:45] henningandersson opened #11386 "Problem"
### Mautic Version

4.2.x series (not supported)

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I have an MariaDb galera cluster with 3 database nodes and a HAProxy in front of the cluster.

When installing Mautic (docker build), the administrator role doesn't always get the id=1 because of the way identity auto inserts are handled in

[2022-08-09 10:10] RCheesley commented on #11386
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems or need help with configuration :)

[2022-08-09 10:11] #11386 closed, assigned to nobody

[2022-08-09 10:19] henningandersson commented on #11386
Sorry, but I am quite shure that this is an bug in the automatic database installation scropts i Mautic, not a user error.

[2022-08-09 11:59] henningandersson commented on #11386
Sorry, but I am quite shure that this is an bug/logic error in the automatic database installation scripts i Mautic, not a configuration/user error.

[2022-08-10 20:29] biozshock commented on #11309
@TechBill @escopecz see #11390

[2022-08-11 21:45] biozshock commented on #10282
@RCheesley Can you please confirm that creating contacts must always validate email address for unique?

[2022-08-11 23:13] pwned555 opened #11392 "SpoolTransport.php send doesn't get a new MessageID after sending"
### Mautic Version

5.0.x series

### PHP version

7.3.11

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The SpoolTransport.php send function doesn't re-assign MessageID to a message after sending an email.  The SendmailTransport.php send function and the AbstractSmtpTransport.php send function do correctly do this.

This probably hasn't shown up as an issue b

[2022-08-12 08:55] RCheesley commented on #8992
Hi @Jammmmm please review and test #11391 which fixes this issue. We will not be making any future releases of Mautic 3, so you will need to update to Mautic 4 in order to get the fix.

Here is how to review a pull request using Gitpod: https://contribute.mautic.org/contributing-to-mautic/tester#the-easy-way-using-gitpod and how to leave a review after testing: https://contribute.mautic.org/contri

[2022-08-12 17:23] lobo8412 commented on #11370
yes, it worked fine in versions prior to 3.3.x
I have had this problem with the last updates

[2022-08-15 07:45] #11178 closed, assigned to kuzmany

[2022-08-15 18:27] jos0405 opened #11396 "Company count doesn't match (companies_leads table won't get updated)"
### Mautic Version

4.4.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

Not relevant

### What happened?

companies_leads table won't delete contacts who have been deleted.

### How can we reproduce this issue?

Step 1: Create a company and a contact
Step 2: check the company list, the company will have 1 contact
Step 3: Delete contact
The contact count for that c

[2022-08-15 20:22] pstevens71 commented on #11158
This is still a problem.

[2022-08-15 23:26] Jammmmm commented on #8992
I'm glad to see that this has potentially been fixed!

Unfortunately we're still running Mautic 3.x. We do intend on updating to 4.x but we're not sure of the timeframe just yet so I won't be able to test for a while.

[2022-08-16 00:23] pjrobertson commented on #9022
This is still an issue.

[2022-08-16 07:23] richmarks20 commented on #10575
still an issue as far as i know...

[2022-08-16 09:45] silsha commented on #9987
ignore me. just keeping this issue open.

[2022-08-16 10:11] jos0405 commented on #11392
Hi, thank you for your bugreport. Is it possible that you make a PR for this solution?

[2022-08-16 10:43] RCheesley commented on #11158
Thanks for letting us know @pstevens71 - much appreciated! Which version of Mautic/Suite are you on currently?

[2022-08-16 10:45] RCheesley commented on #8992
Thanks @Jammmmm - you can always help by testing on Gitpod :) We have merged the PR so it will be in the next bug fix release thanks to @biozshock 🥳

[2022-08-16 10:45] #8992 closed, assigned to nobody

[2022-08-16 10:46] RCheesley commented on #9022
Thanks for flagging this up @pjrobertson - we are aware of some issues with the permissions which we are working on. It's worth bearing in mind that the calendar is being removed in Mautic 5.0 (see #11270) so it will not be an issue at that point.

[2022-08-16 10:47] RCheesley commented on #10575
Thanks @richmarks20 - which version of Mautic are you using currently where you are experiencing this issue?

[2022-08-16 10:48] RCheesley commented on #9987
Thanks for keeping the issue open @silsha - @adiux is this still an issue with the latest GrapesJS work that has been merged?

[2022-08-16 12:11] patrykgruszka commented on #10316
up

[2022-08-16 12:12] patrykgruszka commented on #10056
up

[2022-08-16 12:26] pjrobertson commented on #9022
Appreciate the update Ruth! Looking forward to seeing v5.0 roll out the
door. Good luck!

On Tuesday, 16 August 2022, Ruth Cheesley ***@***.***> wrote:

with the permissions which we are working on. It's worth bearing in mind
that the calendar is being removed in Mautic 5.0 (see #11270) so it will
not be an issue at that point.

https://ci6.googleusercontent.com/proxy/kDjjAqO6wimfywgsa3plJu_tpbkrH

[2022-08-16 12:50] RCheesley commented on #10316
Thanks for the bump! Which version of Mautic is this still a problem with?  Looks like the work in https://github.com/mautic/mautic/pull/10374 has been abandoned, would you be up for taking it forward?

[2022-08-16 12:51] RCheesley commented on #10056
Thanks folks! Anyone able to look into making a PR to address this issue?

[2022-08-16 13:36] pstevens71 commented on #11158
I'm on 4.3.1.  I plan to upgrade to the latest soon and will post an update.  This issue has been around for  a few years.  I just recently narrowed it down to being the Decimal fields.  The only data I ever pushed back to SuiteCRM was the lead score.  And it never worked.  I originally thought that the sync back to SuiteCRM didn't work entirely.  When I had a few other fields to push back to Suit

[2022-08-16 14:21] RCheesley commented on #11158
Ah great to know the specifics, at least it gives us somewhere to start looking! Indeed it does make sense to make it work as it should rather than a workaround that inhibits what you can do in Suite.

[2022-08-16 15:59] TechBill commented on #11381
https://github.com/mautic/mautic/pull/11390.   I tested it and it seems to be fixed. Closing this.

[2022-08-16 15:59] #11381 closed, assigned to nobody

[2022-08-16 16:38] giomasce commented on #9797
Not stale.

[2022-08-16 17:29] RCheesley commented on #9797
Thanks for letting us know @giomasce - hopefully we can get the tests written and get it merged soon! The PR will need a rebase though, bug fixes will be released from the 4.4 branch at this time.

[2022-08-16 19:46] biozshock commented on #10229
@RCheesley  Can you please confirm this is still an issue in latest mautic 4.x? After form is submitted i do not see any errors.

[2022-08-16 21:55] dsp76 commented on #10720
Not stale... the issue just has not enough attention yet.

[2022-08-16 21:57] dsp76 commented on #11108
@RCheesley this issue is not having pending feedback anymore.

[2022-08-17 07:25] jos0405 commented on #11396
I think this is connected to
https://github.com/mautic/mautic/issues/11384

[2022-08-17 08:07] RCheesley commented on #10720
Thanks for keeping it open - what version of Mautic are you currently experiencing this is?

[2022-08-17 17:33] biozshock opened #11402 "PHPUnit can't test functional test the second time w/o removing fresh_db.sql"
### Mautic Version

4.4.x series

### PHP version

7.4.26

### What browsers are you seeing the problem on?

_No response_

### What happened?

After merging #11196 i'm no longer able to run tests multiple times, because the `fresh_db.sql` file used here https://github.com/mautic/mautic/blob/5.x/app/bundles/CoreBundle/Test/MauticMysqlTestCase.php#L186 already contains prefix and thus can not use t

[2022-08-18 14:21] stevedrobinson commented on #10241
Anyone have any thoughts on my note above? Without the shortcodes at least working, I worry this will hold people back from upgrading in the future.

[2022-08-18 15:04] gonbanchero commented on #10951
hi, im having same problem here.

Mautic Version: v4.2.2
Php Version: 7.4

Any ideas? dont know how to solve this problem.

<img width="1029" alt="Captura de Pantalla 2022-08-17 a la(s) 08 57 05" src="https://user-images.githubusercontent.com/85972008/185428819-bf34ad9a-5b7d-49a4-afa4-c0d22a53bbac.png">

<img width="1591" alt="Captura de Pantalla 2022-08-11 a la(s) 14 13 26" src="https://user-imag

[2022-08-18 15:12] RCheesley commented on #10951
Pretty sure this was fixed in a later version to stop users making this mistake - but basically, don't use 'includes' without specifying something in the field. It should **not** be allowed to be created, but we missed the validation at some point.

Clean up the segments that are throwing the errors, and remove the lines which are basically doing nothing (the ones with tags > includes and nothing

[2022-08-18 17:00] gonbanchero commented on #10951
hi Ruth, your help was really usefull.
i update, errase all wrong segments (no one have empty data in 'includes') but create them again and all is working great.
thanks you a lot !

[2022-08-19 10:56] Blackclaws commented on #11157
This issue persists

[2022-08-19 11:05] RCheesley commented on #11157
Thanks for keeping it open @Blackclaws - which version of Mautic are you experiencing this on? We have a fix from Acquia for a similar issue:

Could you review/test https://github.com/mautic/mautic/pull/11403 and see if this maybe goes some way to addressing the problem?

Here's a guide to testing in the browser: https://contribute.mautic.org/contributing-to-mautic/tester and here's how to report

[2022-08-19 20:01] trianity opened #11407 "Email builder repeats unexpected code when saving HTML part of email"
### Mautic Version

4.4.x series

### PHP version

7.4.29

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The classic email builder repeats a piece of code in the header of the email every time it is saved (or cloned), which grows to the point that the email saving can crash with a JavaScript error.

The first repeated part is: `<style>.cke{visibility:hidden;}<

[2022-08-22 09:45] alexhammerschmied commented on #10621
This is resolved in 4.4.1

[2022-08-22 09:45] #10621 closed, assigned to nobody

[2022-08-22 23:52] edmadcap opened #11408 "Email Builder Removes Colon from: xmlns:o"
### Mautic Version

4.4.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

After the first save, Email Builder removes the colon from xmlns attributes, such as: xmlns:o

### How can we reproduce this issue?

Step 1: Create a new email
Step 2: Choose the "Code Mode" theme
Step 2: On the Builder screen, paste in your html (which inc

[2022-08-23 07:27] alfredoct96 commented on #10835
up

[2022-08-23 08:06] kuzmany commented on #10835
@alfredoct96 can you push it as PR? We can look on it then

[2022-08-23 09:46] exsesx commented on #10056
We're facing the same issue on Mautic v4.4.1.

We have approx. 100k customers, and the selected segment is approx. 80k users, but email stats show only partial data.

This is an example of our latest email segmented broadcasting:
<img width="231" alt="image" src="https://user-images.githubusercontent.com/20399517/186125777-151c4ec9-e61b-4482-9dcd-ec33ef1b65a6.png">

So, at first, we thought that w

[2022-08-24 13:58] kuzmany commented on #10056
If contact is deleted then record is removed from email_stats, but summary read count in emails table is not decrease. This is reason for differences

[2022-08-24 16:44] exsesx commented on #10056
That makes sense, but we didn't delete 5k customers for no reason if that's what you're implying

[2022-08-24 21:35] edmadcap commented on #11408
I found the fix: On vendor\joomla\filter\src\InputFilter.php in the cleanAttributes method, update the regex here to allow colons.
`			// Remove all symbols
			$attrSubSet[0] = preg_replace('/[^\p{L}\p{N}\-\s]/u', '', $attrSubSet[0]);`

[2022-08-25 20:27] pstevens71 commented on #11158
I have tested with 4.4.1.  Number  fields in Mautic do not sync to SuiteCRM either "integer" or "decimal" field types.  I've tested both ways.  Syncing SuiteCRM -> Mautic produces a zero value.  Syncing Mautic -> SuiteCRM does not sync any value.

[2022-08-26 08:58] RCheesley opened #11414 "Open Source Friday tasks 26/08/22"
Here are the things we want to focus on today - please join us in #t-product on Slack (https://mautic.org/slack) if you would like to join us!

Instructions for testing in the browser with Gitpod: https://contribute.mautic.org/contributing-to-mautic/tester#the-easy-way-using-gitpod

## PRs to test

### Gitpod fix

- [x] [Fixes a bug with form submissions on Gitpod instances](https://github.com/mau

[2022-08-30 10:56] MadlenF commented on #11291
We are still experiencing the same behavior in 4.4.0 version. Are there any news on this?

[2022-08-30 11:38] escopecz commented on #11402
I'm having the same issue. I continued discussing it in https://github.com/mautic/mautic/pull/11196#issuecomment-1231415330 with @mollux

[2022-08-30 14:10] jensenhertz commented on #9872
I'm having 401 API issue with v4.4.1.

I rm -rf'd var/cache but I'm still getting 401 when trying to access the API. No HTTP Basic popup triggered when I access something like `/api/contacts?limit=1&minimal=1`. Both API and HTTP Basic are enabled.

Any ideas?

[2022-08-31 05:43] jensenhertz opened #11421 "401 with API"
### Mautic Version

4.4.x series

### PHP version

7.4.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm getting 401 when I try to do any API calls.

I tried to rm -rf `var/cache` (as instructed in #9872) but I'm still getting 401 when trying to access the API. No HTTP Basic popup triggered when I access something like /api/contacts?limit=1&minimal=1. Both

[2022-08-31 06:23] toondeg opened #11423 "Reply to address is not the same as send address when using mailer is owner"
### Mautic Version

4.3.x series

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari

### What happened?

When setting the “Mailer is owner” setting to “**Yes**” in either the campaign settings or the general Email settings, the From email address and name is indeed taken from the owner of the contact, but **the reply address is not updated** accordi

[2022-08-31 07:58] RCheesley commented on #11423
Does this persist in 4.4.1?

[2022-08-31 08:00] RCheesley commented on #11423
This PR https://github.com/mautic/mautic/pull/11322 fixed it.

Closing as resolved, feel free to request a reopen if it's different to that issue.

[2022-08-31 08:01] toondeg commented on #11290
+1

[2022-08-31 17:57] annamunk commented on #11290
@andrew-dixon sorry for late reply. Have you tried 4.4.1? Change was released again with this version.

[2022-08-31 18:38] annamunk commented on #11202
Hi @RCheesley
I think I found a solution to this problem. Please take a look at #11425

[2022-08-31 19:26] magician7 opened #11426 "OAuth2 authorization problem - Argument 5 passed to AuthorizeController::__construct() must implement interface..."
### Mautic Version

4.4.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Chrome

### What happened?

When try to setup OAuth2 connection Mautic dosent respond properly. I got:
`{"errors":[{"message":"Looks like I encountered an error (error #500). If I do it again, please report me to the system administrator!","code":500,"type":null}]}`

### How can we reproduc

[2022-09-01 07:52] claracousin1 opened #11427 "Segment with URL visited and regexp don't filter"
### Mautic Version

4.4.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I make a segment with a filter. I use "URL visited" as field with "regexp" as filter.
I want to know where the different contacts come from. But, where I do my different segments, with different text based on my different url, I have always the same number

[2022-09-01 10:10] RCheesley commented on #11427
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2022-09-01 18:18] mhd-jalilvand opened #11428 "fatal error on fresh install from git"
### Mautic Version

5.0.x series

### PHP version

7.4.30

### What browsers are you seeing the problem on?

Not relevant

### What happened?

There is a fatal error on step 3
im using debian 11
php-fpm 7.4.30
composer2
nginx

### How can we reproduce this issue?

Step 1: fresh install after set username password there is fatal error 500 un handled exception on step email setup

### Relevant log o

[2022-09-01 18:19] RCheesley commented on #11428
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2022-09-01 18:19] #11428 closed, assigned to nobody

[2022-09-02 06:54] mabumusa1 opened #11430 "Segment filters UI breaks on multiple edits"
### Mautic Version

4.4.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

Changing filters of segments will be lost in case there is an error in one of the filters.

### How can we reproduce this issue?

This video shows the story behind the issue
https://www.loom.com/share/5207f6146c0f4721b9a2b1ae9b2eaaf8

Steps:

1. Create filt