[2021-09-09 11:57] jos0405 commented on #9946
Actually, it's a bit weird, that "filename" is the filename. Seems to be hardcoded...

[2021-09-09 14:35] RCheesley commented on #10399
@kuzmany would you be able to take a look at this? I think you probably know more about how this part of the code works!

[2021-09-09 14:36] donbowman commented on #10399
ps i can make a pull request, but need input on what it should be etc first.

[2021-09-09 14:48] RCheesley commented on #10396
@jos0405 please can you run the MJML themes through https://mjml.io/try-it-live and fix the issues which have been flagged up? They show up in bright pink highlighting.

This should address the issues which we are having with the MJML validator. We want to keep it set to strict so that folks are the correct markup. We can address giving better feedback to the user if there are problems with their

[2021-09-09 14:49] #10388 closed, assigned to nobody

[2021-09-09 14:50] #10386 closed, assigned to adiux

[2021-09-09 15:30] RCheesley commented on #10399
yep - Zdeno would be the best person to direct you on that, as the others are more focused on the JS side of the builder! :)

[2021-09-09 18:45] kuzmany commented on #7841
Email trackable links are usually in format:

`https://urlofmautic.com/r/110a69363fd96ed4e28d8e662?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7coxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI1MTg7fXM6NToiZW1haWwiO2k6MTc5O3M6NDoic3RhdCI7czoyMjojBjMDY5MjI1OTk1NjMzMTkMDc1OCI7czo0OiJsZWFkIjtzOjY6IjI2MzI1NCI7czo3OiJjaGFubmVsIjthOjE6e3M6NToiZW1haWwiO2k6MTc5O319`

But bots https://github.com/mautic/mautic/issues/9798 t

[2021-09-10 09:31] jonathandhn commented on #10396
Hi, I did just noticed yesterday that using mj-button was making error on mautic side, and none on https://mjml.io/try-it-live I couldn’t get the ride of it, I moved to mj-nav.

De : Ruth Cheesley ***@***.***>
Date : jeudi, 9 septembre 2021 à 16:48
À : mautic/mautic ***@***.***>
Cc : Jonathan Dahan ***@***.***>, Comment ***@***.***>
Objet : Re: [mautic/mautic] All E-mail templates in Mautik 4.0 Re

[2021-09-10 09:35] RCheesley commented on #10396
OK - we will need to do the same with the markup that is generated by the button and run it through the validator to see what the issue is. Hopefully a quick fix - have you got any time to take a look at that @jonathandhn ?

[2021-09-10 10:05] adiux commented on #9798
I think this issue is important and we should discuss and address it in the community.

[2021-09-10 11:28] MaraKasubke commented on #5458
I still have the same problem with Mautic 3.3.3 ... Is there any kind of solution?

The problem is now, that I need the values 0 or 1 in forms so that the right value is set in the contact. Previously we just populated the form field with the same text in label and value so that the campaign condition was working - as it still takes the label instead of the value. And previously that workaround pr

[2021-09-10 12:38] rodrideme commented on #10220
@ts-navghane Thank you

[2021-09-10 16:08] kuzmany commented on #7841
This PR should fixed it https://github.com/mautic/mautic/pull/10418

[2021-09-11 18:48] Dylan-86 opened #10420 "MAUTIC - REPORT Error, emails missing from Report"
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

BUG in "Reports".

We have several tens of emails: some of them are sent by "_Campaigns_", some others are "_Segment_" emails that are sent weekly to specific segments (newsletters).

I created a "Report" under Reports.

Settings:
Data Source: emails-emails
Data se

[2021-09-12 04:21] ceefour commented on #10021
Bump  this issue

[2021-09-12 07:26] kuzmany commented on #9924
Fixed with https://github.com/mautic/mautic/pull/10421

[2021-09-12 20:42] shurco commented on #10392
Don't work function 'Contact Replies'
After cron check IMAP I see -
**0 emails processed for {imap.yandex.com:993/imap/ssl}INBOX with a criteria of UID 3489:1000003489**

[2021-09-12 23:03] ghost commented on #9085
On RHEL/CentOS/Fedora, if you use SELinux, don't forget to check if there are avc denials in system logs. If you see sendmail from a http_t scontext, then you need to run as super user: `setsebool -P httpd_can_sendmail on`

[2021-09-13 02:34] 000black000 opened #10424 "A 404 error occurred when creating a contact"
### Mautic Version

4.0.0

### PHP version

7.4.20

### What browsers are you seeing the problem on?

Chrome

### What happened?

create contact the following error occurred:

The response has unexpected status code (404).

Response: {"errors":[{"message":"No route found for "POST \/api\/contacts\/new"","code":404,"type":null}]}

### How can we reproduce this issue?

Step 1: POST \/api\/contacts\/

[2021-09-13 08:34] RCheesley commented on #10424
Hi there,

Please ensure that you clear the Mautic cache after you have enabled the API. Most folks with this error have not cleared the cache.

In the future, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-09-13 08:34] #10424 closed, assigned to nobody

[2021-09-13 20:57] lilmike opened #10430 "Combo boxes aren't accessible"
### Mautic Version

4.0.0

### PHP version

7.4.21

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I am blind, so use a screen reader to access my pc, and thus mautic. My screen reader I'm personally using i orca for linux desktop, but I believe this would happen with most/all screen readers for phones, mac, or pc. The gist of the issue is: All combo boxes (exc

[2021-09-14 11:57] abdul-Tz-prog opened #10436 "Order Number of a mautic form fields is not being respected in the API call"
### Mautic Version

3.3.x series

### PHP version

7.4.16

### What browsers are you seeing the problem on?

_No response_

### What happened?

If I change the order number of the mautic form field in an API call, it does not changes the order of the field.

`"fields": [
            {
                "label": "expTest",
                "showLabel": true,
                "alias": "expTest",

[2021-09-14 14:10] alexhammerschmied commented on #10368
I made the PR today. Finally.
https://github.com/mautic/mautic/pull/10431
seems good and passes all tests...

[2021-09-14 14:18] alexhammerschmied commented on #10396
I was digging into this and added a code-suggestion for the trulypersonal theme today.
The only problem in there is the width="100%" property. I changed and tested it with 1600px instead - also with a client and also with outlook(!) - it looks good.

[2021-09-14 14:49] RCheesley commented on #10396
@alexhammerschmied that's great, if it passes the check above then can you make the PR to fix it?

[2021-09-14 18:07] RCheesley commented on #10229
I am able to reproduce a very similar but not exactly the same message with Mautic 4.

The form is embedded in a basic HTML page with the tracking script included on the page also.

Error reported as follows:

[code]

[2021-09-15 06:20] J-Wick4 opened #10441 "Landing Page Doesn't Save Unless You Visit Builder First"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Chrome

### What happened?

Saving a new landing page without going to Builder first, locks the page and action buttons.

If Builder is a requirement prior to saving the landing page, then the save buttons should be greyed out until Builder is visited so it's clear to the user.

### How can we rep

[2021-09-15 07:46] dsp76 commented on #10436
Interesting - also when you add a new form field via Mautic Backend, some fields will be added last before submit. But e.g. a description field will always appear at place 2 in the form.

I guess, we should be able to define the order of a form via API as intended. This is a bug.

[2021-09-15 08:47] RCheesley commented on #10441
Hi there,

Thanks for reporting the issue, can you confirm if you are using the new builder, on the legacy builder?

[2021-09-15 08:52] LeonOltmanns commented on #10441
Just tested this on v4.0.0 but was unable to reproduce. Even if I don't visit the builder, the Landing Page still gets saved.

[2021-09-15 09:23] RCheesley commented on #10441
@oltmanns-leuchtfeuer were you testing on the GrapesJS builder? I was not clear from the post which builder @SpyderZ is referring to!

[2021-09-15 10:52] LeonOltmanns commented on #10441
@RCheesley Just tested on both GrapesJs aswell as legacy builder. Both worked for me.

[2021-09-15 11:17] RCheesley commented on #9946
Closing this issue as the PR to fix it has been addressed.

[2021-09-15 11:17] #9946 closed, assigned to nobody

[2021-09-16 10:43] RCheesley opened #10442 "Mautic admin is unusable by blind marketers using a screenreader"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

Posting from a report on the forums:

So I am blind, and use a screen reader to access my computer. The admin pages in mautic seem to use some heavy javascript based combo box replacement, which doesn’t work at all with screen readers. The screen reader sees a item that sa

[2021-09-16 10:45] RCheesley commented on #10442
See also: https://github.com/mautic/mautic/issues/10430

[2021-09-16 12:01] kuzmany commented on #9400
@mabumusa1 were you able to reproduce it?

[2021-09-16 14:26] kuzmany commented on #9400
This should be solution https://github.com/mautic/mautic/pull/10444

[2021-09-16 15:19] techniqueplanetmedia opened #10446 "Paragraphs are inserted automatically when adding a link in email builder"
### Mautic Version

4.0.0

### PHP version

7.3.29-1

### What browsers are you seeing the problem on?

_No response_

### What happened?

Hello,

From the Email builder in Mautic 4, when I add a link in a text box, my <a> tag gets surrounded by a <p> tag.
It transforms the MJML code in the builder.
This issue breaks the style of the newsletter by adding margin.

### How can we reproduce this issu

[2021-09-16 17:03] PierreAmmeloot opened #10447 "Your bug title goes here!"
### Mautic Version

3.3.x series

### PHP version

7.3.30

### What browsers are you seeing the problem on?

Chrome

### What happened?

Hello,

When I an email with a <table> tag that contains a <div> tag that itself contains a <a> tag that I save my email and I come back into editing the <div> suitcase disappears.
This means that I can no longer edit the link in the email except to go through th

[2021-09-16 17:41] russkiimike commented on #9887
As a temporary solution would also want this please

[2021-09-17 07:16] riazanovslv commented on #9897
I've encountered this too. Is it possible to apply this https://github.com/mautic/mautic/issues/9897#issuecomment-853817582 fix?

[2021-09-17 07:19] madorin commented on #2961
The issue is still present in latest Mautic 3.3.4 build.
In Postfix mail logs on first try the mail is sent successfully, but for some reason Mautic see it as failed.

[2021-09-17 07:58] luguenth commented on #10396
The GrapesJS Builder is automatically appending an "id" attribute to every Image we're replacing (in a now working!) Template. And of course it fails on validating the MJML. Do you know why is that? Did everyone else had the Problem of replacing images leads to an invalid MJML Syntax because they contain the "id" attribute?

Seems very similar to this issue: https://github.com/artf/grapesjs-mjml/i

[2021-09-17 08:32] RCheesley commented on #10396
Partly it is because we have strict mode enabled and some of the templates are not passing exactly with the markup. Also the ID issue we have a PR in the preset repository to address this which requires review before it is merged.

[2021-09-17 09:00] rafalsk opened #10449 "SQL Syntax error when dispatching broadcast e-mails"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?
All of the sudden....

![image](https://user-images.githubusercontent.com/9338163/133755549-75f00ed8-e1a4-4933-b3f8-07ec2f8aee2e.png)

Doesn't look good does it...haven't investigated this further yet.

### How can we reproduce this issue?

Step 1:

### Relevant log outp

[2021-09-17 10:15] Dylan-86 commented on #10420
no one?

[2021-09-17 14:25] TS16V opened #10450 "ERROR beim Speichern von Formular bei deaktiviertem Rendering-Stil"
### Mautic Version

4.0.0

### PHP version

7.4.13

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Betrifft:  Komponenten > Formulare

Wenn bei einem Formular der Rendering-Stil deaktiviert wir, gibt es beim Speichern den Fehler ERROR 500.

Siehe Bild im Forum [https://forum.mautic.org/t/error-500-bei-formular-ohne-rendering-stil-speichern/20916?u=ips](url)

##

[2021-09-17 21:06] J-Wick4 commented on #10441
Hellow, on further digging, it looks like a problem with Cloudflare. I'll go over there and find out the exact reason and report back the resolution in case others encounter this problem.

`<!DOCTYPE html>

 <html class="no-js" lang="en-US">
<head>
<title>Attention Required! | Cloudflare</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta ht

[2021-09-17 22:54] J-Wick4 commented on #10441
Okay, I've done a deep dive into this and there is something in Mautic that is triggering Cloudflare WAF rules when saving a new landing page before going into the Builder.

I'm running standard default WAF rules, this shouldn't be happening. **I have a feeling it's cookie-related as the console error is requesting cookies be turned on.** Cloudflare is seeing this as an XSS / Script attack.

![CF

[2021-09-18 01:13] ODSMarcus commented on #8331
I can confirm this issue is still present within Mautic 4.0 @dennisameling @npracht

[2021-09-18 03:42] ilonavarro commented on #10309
The problem continues in the official version 4.0.0.

[2021-09-18 06:33] rafalsk commented on #10449
(..) seems to be due to some kind of MySQL limitations. After imposing a limit through the --limit parameter and sending out in bunches of 20k messages the error is gone. Any idea which MySQL settings are at play here?

[2021-09-18 14:25] kuzmany commented on #10449
You should use limit parameter to send by command. For example:

`mautic:broadcasts:send --limit=10000`

[2021-09-18 19:55] J-Wick4 commented on #10441
Here's the reply from specialists over at Cloudflare.

I had to create this WAF firewall rule to achieve proper Mautic functionality.

![7a822bff7031f02446769ac2a615dbbb5d13db37_2_690x300](https://user-images.githubusercontent.com/1954540/133906992-b431bace-3945-47b2-81e4-11a7dd6c6241.png)

Considering the wide adoption of Cloudflare, it would be advantageous to figuring out a fix to prevent this

[2021-09-19 06:38] #9814 closed, assigned to nobody

[2021-09-19 08:08] kuzmany commented on #9491
This should fixed it https://github.com/mautic/mautic/pull/9516

Please test

[2021-09-19 10:31] rafalsk commented on #10449
@kuzmany I like to find solutions instead of artificial limits. That is why I uphold the questions about which particular parameters of MySQL/PHP are at play so that these could be tweaked (..) so that 40K (..) 400+K or even more could be send at once should the memory limits allow.

[2021-09-19 10:35] rafalsk opened #10451 "Argument 1 passed to Swift_Transport-AbstractTransport::send() must be an instance of Swift_Mime_SimpleMessage (..)"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

We began to face the following error when processing console swiftmailer:spool:send --message-limit:40000 -env=prod

![image](https://user-images.githubusercontent.com/9338163/133924284-c4dfa1ea-4c25-4420-b29a-b9011ef2455a.png)

Ideas?

### How can we reproduce this iss

[2021-09-19 10:43] rafalsk commented on #10451
(..) that seems to happen with sort of lengthy e-mails. Which yet again seems to boil down to limits. Ideas? It would be sort of a pity be limiting send-outs to 4k of  relatively short e-mail messages per task on 32GB RAM servers

[2021-09-19 15:23] weismannweb opened #10452 "CSRF Token invalid when sessions expires and you try and login again, lots of csrf error messeges"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

I expected to login and work like normal.

### How can we reproduce this issue?

Step 1: login to mautic dashboard
Step 2: in chrome dev tools clear the application data to simulate session expiration (or leave window open and wait for expiration.)
Step 3: In Mautic click

[2021-09-20 06:16] kuzmany commented on #10451
You should use to send emails `php /path/to/mautic/bin/console mautic:emails:send`

[2021-09-20 06:19] kuzmany commented on #10449
The error is with query during the send large email.  Query can exceed the limit of max characters what you have on your mysql config. You can increase it or use --limit parameter, or hire dev to rewrite this part of software.

[2021-09-20 06:37] LeonOltmanns opened #10453 "Deactivating "Rendering Style" in forms results in an error 500"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Chrome

### What happened?

This is basically a replica of #10450 as that Issue was written in german.

When using forms and deactivating "Render Style from Template", and trying to save you will end up getting a Error 500.

### How can we reproduce this issue?

1. Go to forms
2. Create a new Form

[2021-09-20 08:23] RCheesley commented on #10450
Closing this issue in preference of #10453

[2021-09-20 08:23] RCheesley commented on #10450
@all-contributors please add @TS16V for bugs

[2021-09-20 08:23] #10450 closed, assigned to nobody

[2021-09-20 09:24] LeonOltmanns opened #10455 "MJML email builder - "Edit Code" function is broken"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

This is kind of related to #10398 & #10396.

I tried out the fix described in the issues linked above, removing the set ID when changing a picture by accessing the "Edit Code" function to manually remove the ID I encountered an Issue that I was not able to open

[2021-09-20 10:04] jos0405 commented on #10455
Hello @oltmanns-leuchtfeuer , did you have id= tags in the source code in your email especially by images??

[2021-09-20 11:16] RCheesley commented on #10449
Closing this issue based on the conversation above as this is a configuration issue and the solution has been explained. If you wish to hire someone to help you with performance optimisation of Mautic, please make a post in https://forum.mautic.org/c/commercial.

[2021-09-20 11:17] RCheesley commented on #10451
Closing this issue due per the guidance above.

[2021-09-20 11:17] #10451 closed, assigned to nobody

[2021-09-20 11:25] rafalsk commented on #10451
(..) closing due to a guidance. (..) Management of this project seems ridiculous. Just if it was of concern to you, Ruth, the problem is exactly the same when invoking through "php /path/to/mautic/bin/console mautic:emails:send" you probably know better than me that it's just a wrapper for the previous function.

[2021-09-20 11:27] rafalsk opened #10456 "Argument 1 passed to Swift_Transport-AbstractTransport::send() must be an instance of Swift_Mime_SimpleMessage (..)"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

https://github.com/mautic/mautic/issues/10451
Closing this issue due per the guidance above.

(..) closing due to a guidance. (..) Management of this project seems ridiculous. Just if it was of concern to you, Ruth, the problem is exactly the same when invoking through

[2021-09-20 11:30] #10456 closed, assigned to nobody

[2021-09-20 11:43] LeonOltmanns commented on #10455
Hey @jos0405, this bug originally surfaced while removing the "id=" manually after changing an image. I tried to change a picture in an email that had already been manually added and with the "id=" removed. Thats the case when I realized that I was not able to open the "edit code" to manually remove the ID anynmore

[2021-09-20 11:59] RCheesley commented on #10396
This has been resolved by disabling strict mode in this PR which we have just merged: https://github.com/mautic/grapesjs-preset-mautic/pull/23 (see the PR description for a more detailed commentary). It will ship with the 4.0.1 release on 27th September.

Note that we should still fix the syntax in the email templates as this will resurface when we do re-enable strict mode in the future (once Grap

[2021-09-20 12:02] RCheesley opened #10457 "Ensure that the MJML markup in themes is compliant"
Some of the new themes have minor faults which are causing errors using strict mode.

We need to check each one and fix any syntax errors that are present.

- [ ]  Brienz
- [ ]  Paprika
- [ ]  Confirm Me
- [ ]  Truly Personal

[2021-09-20 12:04] #10396 closed, assigned to jos0405, adiux

[2021-09-20 15:38] alanhartless commented on #10442
Hi! I just wanted to quickly add some context for developers for when we look into resolving this. Mautic uses a slightly modified version of [Chosen](https://github.com/harvesthq/chosen) (search for "mautic hack" in the [source](https://github.com/mautic/mautic/blob/0abd6b79738f7cf096b435d8f87ea998617e17c1/app/bundles/CoreBundle/Assets/js/libraries/3a.chosen.jquery.js)) for the combo box user exp

[2021-09-20 16:58] RCheesley commented on #10442
See also a rather lengthy discussion in the Drupal issue queue: https://www.drupal.org/node/1271622 which was morphed into this equally long thread: https://www.drupal.org/project/drupal/issues/2346973#comment-9388809.

Useful comparison spreadsheet: https://docs.google.com/spreadsheets/d/1vifOGL_4wgOl6sy2Os59k24saIHvwFFQoi5brH5Uv28/edit?usp=sharing

[2021-09-20 20:49] bbenjamin commented on #10442
@RCheesley contacted me to see if I could provide some input on this as a Drupal accessibility maintainer.

Although I don't think Chosen can be overridden to meet all the structural expectations of a modern accessible UI widget, there are absolutely things you can do to make it usable for screenreader users. The end result may not be ideal, but the experience will resemble "this feature seems a b

[2021-09-21 11:05] dennisameling commented on #8457
Issue still present in Mautic 4 - removing the "stale" label

[2021-09-21 15:28] PierreAmmeloot commented on #10453
It's the same for me.

[2021-09-21 15:42] alexandramrx opened #10461 "Tracking issue: multi-clicks and/or multi-downloads occur at the same time"
### Mautic Version

3.3.x series

### PHP version

7.3.20

### What browsers are you seeing the problem on?

Chrome

### What happened?

Whenever an email is sent, the tracking is abnormal: the number of clicks on the mail and/or the number of downloads (if there is an asset) are far too high, dozens of clicks/DL for every contact at the same time (ex: Mr.A opens the mail and, supposedly, clicks 3

[2021-09-21 15:52] AntonioLangiu commented on #10115
Hi, I have the same problem with a fresh install of Mautic 4.0.0.

I got just the first message sent to the contact, unless the settings of the contact are higher. However, my expectations are that in case the contact does not have a specific limit setting, it takes the one from Twilio. This does not happens. Even if I increase the Twilio plugin setting for limiting the number of messages, it stop

[2021-09-21 15:59] RCheesley commented on #10115
Folks can you check if updating the default frequency in your global settings makes a difference? I wonder if this is related to https://github.com/mautic/mautic/issues/10416.

[2021-09-21 18:12] kuzmany commented on #9647
Fixed by https://github.com/mautic/mautic/pull/10224

[2021-09-21 23:17] curtisgray opened #10463 "Dashboard Fatal Error after Upgrade from 3.3.4 to 4.0.0"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

After upgrading from 3.3.4 to 4.0.0, the Mautic Dashboard displays an "Uh oh" error. The latest error in the ./var/logs/mautic_prod-[date].php file is:

[code]

### How can we reproduce this issue?

Step 1: Ensure the version of Mautic is v3.3.4
Step 2: Connect to

[2021-09-22 06:21] dungnt081191 commented on #7238
@Clement134  I still have this issue. And all the content create by api when null , have a name:  Anonymous

[2021-09-22 07:59] RCheesley commented on #10463
Hi @curtisgray thanks for raising the issue. Can you confirm whether you have tried to clear the cache after the update completed?

[2021-09-22 08:03] RCheesley commented on #10461
Hi there, thanks for taking the time to report this however I believe that we already have the issue raised here: https://github.com/mautic/mautic/issues/9798 I believe, so I'm going to close this down as a duplicate. Please continue the conversation there.

Also, please consider updating to 4.0 as we will not be making any further fixes other than security fixes for the 3.x series.

[2021-09-22 08:03] #10461 closed, assigned to nobody

[2021-09-22 08:33] oytuntez commented on #7809
This issue still continues for other field types, such as "hidden". I think the comparison operator determines what type to cast the value to. If condition is `gte`, than then the value must be cast to numeric.

Broken SQL:
`select * from form_results_17_vendor_nps where grade >= '9';`

yields only those with grade = 9

Better SQL:
`select * from form_results_17_vendor_nps where grade >= 9;`
or
`s

[2021-09-22 10:55] ghost opened #10464 ""Send a webhook" action does not work in campaigns"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

_No response_

### What happened?

"Send a webhook" action in campaigns does not work

It seems the problem is basically the same as this(https://github.com/mautic/mautic/pull/10301), the same change(BODY to FORM_PARAMS) needs to be done in app/bundles/WebhookBundle/Helper/CampaignHelper.php file

[2021-09-22 11:50] RCheesley commented on #10398
This is resolved by #10462 which will ship with the 4.0.1 release. Thanks for reporting and testing everybody!

[2021-09-22 11:50] RCheesley commented on #10398
@all-contributors please add @rafalsk for bugs

[2021-09-22 11:51] RCheesley commented on #10398
@all-contributors please add @jonathandhn for bugs

[2021-09-22 13:22] rvm-pmis opened #10469 "Content-Security-Policy / X-Frame-Options check in"
### Mautic Version

3.3.x series

### PHP version

7.4.15

### What browsers are you seeing the problem on?

Chrome, Not relevant

### What happened?

After logging in, go to https://<mautic.hostname>/s/focus/new enter an URL, click Fetch, get one of these errors:

- This website blocks iframe previews with the content-security-policy header. Please try another URL.
- This website blocks iframe pr

[2021-09-22 17:12] curtisgray commented on #10463
Yes, I have cleared the cache.

[2021-09-22 18:44] curtisgray commented on #10463
@RCheesley, this error has something to do with Dashboard Widgets. Apparently, the Calculator.php code referenced in the log file cannot handle a customized Dashboard with different Widgets than the default.

A workaround is to remove all Widgets from the Dashboard. But, since the Dashboard is not accessible, due to the reported error, the Widgets were removed directly via the MySQL database using

[2021-09-23 13:26] dennisameling opened #10472 "Mautic shows it's running the latest version when new version requires higher PHP version"
### Mautic Version

3.0.0 and later (including Mautic 4)

### PHP version

7.3.28

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When running Mautic 3.x and PHP 7.3, Mautic doesn't inform the user that Mautic 4 is available. This is because the minimum PHP version in Mautic 4 is 7.4, so the update logic simply marks Mautic 4 as "incompatible" and skips it. Thi

[2021-09-23 16:13] kuzmany commented on #10463
This is related to this PR https://github.com/mautic/mautic/pull/9757
@alanhartless Can you check it?

[2021-09-23 21:48] Cloudore opened #10473 "Java console returns No UploadPath Found after updating mautic and enabling grapeJS"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

After finally updating to Mautic 4, I tried to use the new email builder.

Tried to enable it on the plugin page and went to use it, after pressing the button, nothing happened.

Cleared cache, made sure permissions were correctly set for all folders, cleared cache,

[2021-09-24 06:51] angelothegreat13 commented on #7951
I'm having an issue also in the event webhook

[2021-09-24 12:42] TiagoValdo opened #10475 "GrapesJS forces <style> tags to be merged and added before </body>"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Chrome

### What happened?

The block design works perfectly, generating proper HTML and style tags, but the issue is that custom CSS is generated on a <style> tag that is appended just before </body>.

While this might work with some e-mail clients, Gmail strips <style> tags from the <body> and t

[2021-09-24 13:01] vicampuzano commented on #10378
Yes @RCheesley , I'm using Mautic 4 and still having this error.

;)

[2021-09-24 18:32] egroeg opened #10477 "PHP Fatal error: require(): Failed opening required '/var/www/mautic/var/cache/prod/ContainerBJasLGw/getTranslation_Loader_PhpService.php' (include_path='.:/usr/share/php') in /var/www/mautic/var/cache/prod/ContainerBJasLGw/appAppKernelProdContainer.php on line 2225, referer: https://"sitename"/index.php/installer/step/1"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome, Safari

### What happened?

After entering the database connection information into the installer, I receive an error:

[code]

### Code of Conduct

- [X] I confirm that I have read and agree to follow this project's Code of Conduct

[2021-09-24 19:43] ray-moncada opened #10478 "Cron job MaxMind not working"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

when running php7.4 /PATH_TO_INSTALLATION/bin/console mautic:iplookup:download
the following error is returned: "Automatically fetching IP lookup data failed."

I am able to fetch the ip db data from the dashboard. Looks like the cron is not reading the useri d and license

[2021-09-24 19:57] RCheesley commented on #10477
Hi there, this is generally a permissions issue to do with your server setup. Please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

This page on the docs may also be helpful: https://docs.mautic.org/en/troubleshooting/file-ownership-and-permissions.

[2021-09-24 19:57] #10477 closed, assigned to nobody

[2021-09-24 20:20] egroeg commented on #10477
I followed that document and set up permissions as described in https://docs.mautic.org/en/setup/getting-started

[2021-09-24 22:27] ray-moncada commented on #10478
The script is working. I am closing this issue, the problem was OE. I needed to clear cache for the changes to effect.

[2021-09-24 22:27] #10478 closed, assigned to nobody

[2021-09-25 17:13] Cloudore commented on #10473
Interestingly the builder works OK on the landing page section, but will not launch on the Email one, even though as I am understanding both should be calling the same function

`  static getAssets() {
    const textareaAssets = mQuery('textarea#grapesjsbuilder_assets');
    const files = textareaAssets.val() ? JSON.parse(textareaAssets.val()) : [];
    const uploadPath = textareaAssets.data('uplo

[2021-09-25 17:56] Cloudore commented on #10395
I am experiencing this issue as well.

[2021-09-25 21:48] #9915 closed, assigned to nobody

[2021-09-25 21:48] #9913 closed, assigned to namratasaun

[2021-09-25 21:48] #9954 closed, assigned to nobody

[2021-09-25 21:48] #9957 closed, assigned to nobody

[2021-09-25 21:48] #9970 closed, assigned to nobody

[2021-09-25 21:48] #9977 closed, assigned to nobody

[2021-09-25 21:48] #10012 closed, assigned to nobody

[2021-09-25 21:48] #10058 closed, assigned to nobody

[2021-09-25 21:48] #10044 closed, assigned to nobody

[2021-09-25 21:48] #10028 closed, assigned to nobody

[2021-09-25 21:48] #10117 closed, assigned to nobody

[2021-09-25 21:48] #10132 closed, assigned to nobody

[2021-09-25 21:48] #10100 closed, assigned to nobody

[2021-09-25 21:48] #10093 closed, assigned to nobody

[2021-09-25 21:48] #10055 closed, assigned to nobody

[2021-09-25 21:48] #9985 closed, assigned to nobody

[2021-09-25 21:48] #9964 closed, assigned to nobody

[2021-09-25 21:48] #9881 closed, assigned to nobody

[2021-09-25 21:48] #9958 closed, assigned to nobody

[2021-09-25 21:48] #9938 closed, assigned to nobody

[2021-09-25 21:48] #9939 closed, assigned to nobody

[2021-09-25 21:48] #9896 closed, assigned to nobody

[2021-09-25 21:48] #8376 closed

[2021-09-25 23:47] #9908 closed, assigned to nobody

[2021-09-26 13:02] ODSMarcus opened #10479 "Global Search only returns Contacts"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge

### What happened?

When searching for a company name, only the type of Contact is returned. It seems that the global search feature, regardless of page you are on, will only return Contact results.

### How can we reproduce this issue?

1. Create a Company

[2021-09-26 21:25] #10022 closed, assigned to nobody

[2021-09-27 10:21] RCheesley commented on #10229
As we are having some issues with Bountysource, I've added the bounty for this issue using an alternative platform, [Rysolv](https://rysolv.com). Please let me know if you have any thoughts/comments about using Rysolv if you work on this issue!

[2021-09-27 11:26] RCheesley commented on #10220
As we are having some issues with Bountysource, I've added the bounty for this issue using an alternative platform, [Rysolv](https://rysolv.com/). Please let me know if you have any thoughts/comments about using Rysolv if you work on this issue!

[2021-09-27 16:04] dennisameling opened #10480 "Exception handling in UI installer (database step) broken"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

In https://github.com/mautic/mautic/pull/9934, a change was introduced in the UI and CLI installers that clears the cache before Mautic's database is installed. For the UI installer, it's these lines specifically:

https://github.com/mautic/mautic/blob/bf37c06008a936

[2021-09-27 19:29] ramosrafh commented on #10309
Hello everyone! Also using the v4.0.0-rc and having this exact same problem.

[2021-09-27 22:33] Cloudore commented on #10473
FIXED:

Went into phpmyadmin, into the "plugin_integration_settings" table, and deleted all instances of grapejsbuilder on it, and ran `mautic mautic:plugins:reload`

Tried it and it launched successfully for the first time.

[2021-09-28 00:15] #10473 closed, assigned to nobody

[2021-09-28 02:57] tongdaitructuyen opened #10483 "MJML email builder - Missing Button "Tags" in Editor Bar"
### Mautic Version

4.0.0

### PHP version

7.4.22

### What browsers are you seeing the problem on?

Chrome, Microsoft Edge

### What happened?

![missing](https://user-images.githubusercontent.com/5338282/135015318-dbc7e809-a1ea-4a35-94af-02478d6c6f26.jpg)

I have not find button insert tag?

### How can we reproduce this issue?

Step 1:

### Relevant log output

_No response_

### Code of Condu

[2021-09-28 04:53] starchild opened #10484 "Database failed to update during 4.0.1 update"
### Mautic Version

4.0.0

### PHP version

8

### What browsers are you seeing the problem on?

Chrome

### What happened?

Upon updating from 4.0.0 > 4.0.1 everything worked except for the database update.

Is there somewhere that I can get the SQL queries to do this manually?

FYI, the upgrade notice no longer is showing.

### How can we reproduce this issue?

Step 1: update via the on board up

[2021-09-28 09:57] EnziinSystem opened #10485 "Migration 20210502162314 was executed but did not result in any SQL statements"
### Mautic Version

4.0.0

### PHP version

PHP/7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!

### How can we reproduce this issue?

Step 1: Update from Mautic 3.3.4

php bin/console cache:clear

php bin/console mautic:update:find

php bin/console mautic:update:apply

php bin/console doctrine:migration:status

php bin/console doctrine:m

[2021-09-28 10:04] RCheesley commented on #10483
Hi there,

I think you are maybe referring to entering variables like first name and last name? If so, type { and you will be able to use them all as a workaround. I think that the extension was not added for CKEditor to allow the dropdown selection (cc @alanhartless was this pushed to the community?)

Here are the available variables from the docs: https://docs.mautic.org/en/setup/variables to he

[2021-09-28 10:06] RCheesley commented on #10484
Hi there,

Mautic does not yet support PHP 8 so there are likely to be issues. Before we step into troubleshooting, can you please check with PHP 7.4? Supported versions can be found at https://mautic.org/download/requirements.

[2021-09-28 11:10] starchild commented on #10484
so far, other than that part of the upgrade, everything else seems ok.

Can you tell me what the sql queries are to complete the upgrade please?

(unfortunately I can't step down to php 7.4)

[2021-09-28 11:41] dennisameling commented on #10484
@starchild do you have access to a command line? If yes, you can run `php bin/console doctrine:migrations:migrate` so that it will execute the database migrations 👍🏼

_Note to self:_ we might want to add a UI screen (under System Information for example) that shows if the database is up-to-date and allows the user to start migrations from the UI. That way, no CLI access is needed. For small instal

[2021-09-28 14:26] jlpetracca commented on #7649
Hi! I am having the same problem.

- Mautic dont check readed messages
- Also Mautic mark all messages as read, so I can't monitor my own email account

My mautic version is v3.2.4

[2021-09-28 16:30] jlpetracca opened #10487 "Monitored Inbox mark Email as Read"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I am using Monitored Inbox to check Replays to my Sales Team. The problem is that mautic is marking as read the emails and my Team is not seeing that emails.

I am using Gmail and IMAP

### How can we reproduce this issue?

Step 1: Configure Monitored Replay Inbox
St

[2021-09-29 00:15] Mostafa-Rawash commented on #3322
How did you fix this issue?

[2021-09-29 03:21] starchild commented on #10484
Thanks, I've run that but no message or anhything was shown on the command line.  How can I tell if it worked please?

[2021-09-29 07:08] jos0405 commented on #10484
You supposed to see something like this:
`
Updating database schema...
77 queries were `executed
`

[2021-09-29 07:10] Mostafa-Rawash commented on #10309
Hi there i have same issu with facebook/linkedin plugins

[2021-09-29 19:56] tkima opened #10491 "GrapesJS Facebook icon is served from mailjet.com"
### Mautic Version

4.0.1

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Facebook icon is served from mailjet.com not from your own media map.
If you include the socials in the e-mail from the e-mail builder.

### How can we reproduce this issue?

Step 1: Go to email builder
Step 2: Add socials block
Step 3: Send the test mail to your inb

[2021-09-29 20:14] mabumusa1 commented on #10408
<del>This bug is confirmed, it shows on forms including preference center. </del>

I checked more into the issue, I think this has to deal with GrapeJS plugin injecting its assets to preference center page, although they are not required there. which cause the issue to show in Javascript console

[2021-09-29 21:21] imihandstand commented on #9011
If I don't touch Mautic (3.3.2) for approx 10 minutes, I get logged out too.

[2021-09-30 05:57] vyahhi commented on #9324
@RCheesley looks like it was implemented in https://github.com/mautic/mautic/pull/2291, so this issue may be a bug indeed.

[2021-09-30 07:42] david-gap opened #10492 "Email statistics"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Dear support

I created a segment with 701 contacts and sended a e-mail to the contacts.
The email been sended to all contacts but the email statistic shows "604 sent" an no pendings.
By clicking the sent summery the contacts are listed with the correct number of 70

[2021-09-30 08:13] moiskydog commented on #7699
Hi, I found this bug, so I cannot set schedule events in a row on the same day.

Mautic version: 3.3.1
PHP Version : 7.4.16
Browser : Chrome 94.0.4606.61（Official Build） （arm64）

[2021-09-30 10:17] RCheesley commented on #10491
Thanks for raising this @tkima - it's already being tracked here: https://github.com/mautic/mautic/issues/9992 so I will close this issue as a duplicate of that one.

[2021-09-30 10:17] #10491 closed, assigned to nobody

[2021-09-30 10:18] RCheesley commented on #9992
@adiux @jos0405 I am not sure if this is related to our implementation, or if it's something to do with GrapesJS itself? Either way it's not ideal, I think.

[2021-09-30 10:35] Dylan-86 opened #10493 "Internal Server Error only on Dashboard after creating a "widget""
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!

I created a "widget" on the dashboard to show the best open hours for emails. I saved it and got an "internal server error - Uh oh I broke something".
Can't fix, it stays there.

The rest of Mautic works: emails, campaigns, I can access all the sec

[2021-09-30 10:48] npracht commented on #9992
It is coming from mjml lib which is owned by Mailjet.

[2021-09-30 13:51] KALA-Typo3 opened #10494 "Possibility to access (grapejs) builder instance with javascript missing"
### Mautic Version

3.3.x series

### PHP version

7.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I am trying to add sections and blocks to the grapejs builder. It is working fine, but I am missing a possibility to access the initialized builder.

A dirty solution I did was to add
`Mautic.grapesBuilder=builder`
in Assets/library/js/builder.js right after `

[2021-09-30 19:34] RCheesley commented on #9042
Hi folks, this issue now has an open RFP: https://github.com/mautic/mautic/discussions/10429

If you would like to contribute to have this addressed, here's the link: https://opencollective.com/rfp-general-fund/contribute/fix-twitter-integration-32209/checkout

[2021-10-01 04:14] mabumusa1 commented on #9268
This issue still exists

[2021-10-01 06:25] mabumusa1 opened #10496 "Grapejs plugin inject assets to preference center"
### Mautic Version

4.0.0

### PHP version

4.1

### What browsers are you seeing the problem on?

Not relevant

### What happened?

`Mautic is not defined` will show on javascript console when using preference center and grapejs

![image](https://user-images.githubusercontent.com/12627658/135575134-b0ccc0fc-a769-4bff-8df9-4cfe8aca5843.png)

### How can we reproduce this issue?

- Activate GrapeJS

[2021-10-01 16:38] Bouh commented on #10229
Hello, I bring a solution on
https://github.com/mautic/mautic/pull/10499

[2021-10-02 05:08] cofundhub commented on #9166
Same issue with sugar plugin -- mapping the field mauticcontactid results in system error.

[2021-10-02 06:25] qthanhfc commented on #3324
Hello there,
I'm using Mautic version 4.0.0 and companyname field don't work again.
Please fix it
Thank you.

[2021-10-02 06:36] qthanhfc commented on #3324
Oh, I try to use {contactfield=company} and it's work now.
Solution: Use {contactfield=company}, Not {contactfield=companyname}
Thanks

[2021-10-02 15:13] TiagoGouvea opened #10502 "Unrecognized option "type" under "framework.cache.pools.api_rate_limiter_cache"."
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I'm trying to update to new versionm replacing the files on FTP folder directly, because the other methods didn't worked as well.

Now, all commands I try to run on my terminal I get:

[code]

Trying to open the root route on browser I got:
[code]

### How can we

[2021-10-03 18:37] tstauch commented on #4016
Thank you @Pytlicek  I was really stuck until I found your solution.

[2021-10-04 08:40] adiux commented on #10496
I guess this is related to: https://github.com/mautic/mautic/pull/10360?
Does it still happen with the latest version?

[2021-10-04 09:02] mabumusa1 commented on #10496
@adiux yes, I still get this issue on the latest version

[2021-10-04 11:20] abdul-Tz-prog opened #10505 "GrapeJS editor : <css input>:116:4:Unknown word"
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Chrome

### What happened?

When I try to open code Editor in GrapeJS it shows the alert box with the error: "<css> input>:116:4:Unknown word".
This is a bug I think. If anyone has a solution for this please inform or vote for this bug. It is important to be solved, otherwise many issues will rema

[2021-10-04 16:53] woutersf opened #10506 "Mautic CRM bundle uses Non UTC times and appends Z (zulu) which I think is wrong"
### Mautic Version

4.0.0

### PHP version

PHP 7.4.22

### What browsers are you seeing the problem on?

Not relevant

### What happened?

sprintf('modifiedon ge %sZ', substr($params['start'], 0, '-6'))

This statement Uses Non UTC dates and creates ZULU (UTC) dates from this in the parameters.

There should be something like:

[code]

### How can we reproduce this issue?

Step 1:
Set up and conf

[2021-10-04 17:17] indorock commented on #9011
Any chance this issue has been fixed for Mautic 4? Currently running 4.0.0 with Redis session store, and I still get logged out after 10-15 minutes, just like with previous versions.

[2021-10-04 17:45] omert37 commented on #9011
Currently running 4.0.1. The problem still persists.

[2021-10-04 19:52] tkima commented on #9992
😮Now mailjet is just injecting their images / tracker in every mail send by mautic with the social banner.

As of the GDPR in Europe it can be a thing to reckoned with.

[2021-10-04 20:42] RCheesley commented on #9992
I'd suggest as a workaround just embedding your own images and linking them up, if it's a big problem for you. Also means you have more control over the appearance!

[2021-10-05 07:39] kuzmany commented on #9798
We've already worked on solution with recpatcha page before go page.
I will report data when we get it.
This PR is part of it: https://github.com/mautic/mautic/pull/10503

[2021-10-05 12:13] adiux commented on #10496
If I understand it correctly then all scripts that have the `data-source="mautic"` are stripped from the email. I guess grapesjs would need to have that too? @dennisameling you did look into this in more detail. Maybe you can verify this?

[2021-10-05 13:08] alexhammerschmied commented on #10398
Should the ID issue be solved already?
It is still happening in my environment.

[2021-10-05 13:20] jonathandhn commented on #10398
It's not resolved, tags are still hadded, but you are allowed to save and send email even with those tags since the last release 4.0.1.

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Alex Hammerschmied ***@***.***>
Sent: Tuesday, October 5, 2021 3:08:27 PM
To: mautic/mautic ***@***.***>
Cc: Jonathan Dahan ***@***.***>; Mention ***@***.***>
Subject:

[2021-10-05 14:44] jos0405 commented on #8331
It is still an issue in 4.0.1

[2021-10-05 14:50] #10157 closed, assigned to nobody

[2021-10-05 14:50] #10019 closed, assigned to nobody

[2021-10-05 18:07] gramakri commented on #10453
@RCheesley this issue is more broader than the reported bug. Just have to go to Configuration -> System Changes -> Click save without making any changes. You get the 500 error:

[code]

Also, reported in our forum at https://forum.cloudron.io/topic/5668/mautic-4-0-500-error-with-configuration-page

[2021-10-06 04:54] TornMarketing opened #10508 "MJML Template Encodes Everything including mj-head"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

We are using <mj-style> to target very specific html structures of our converted HTML
Issue didn't exist in earlier versions of Grapes and MJML in Mautic

ie
	  @media (max-width: 480px) {
	  .section > tbody > tr > td {
	  padding-right: 20px !important;
	  padding-

[2021-10-06 07:13] RCheesley commented on #10506
Thanks for taking the time to report the bug @woutersf and for making a PR to address it, welcome to the Mautic Community! 🚀

[2021-10-06 09:19] KALA-Typo3 commented on #10494
https://github.com/mautic/mautic/pull/10510

[2021-10-06 13:43] tkima commented on #9992
Thank you but this is a Bug report and not a "Workaround question". So the maintainers are aware.

[2021-10-06 15:34] #10161 closed, assigned to nobody

[2021-10-06 16:07] raribeiro commented on #10493
Hello @Dylan-86 ! Same problem here. @escopecz @alanhartless , any help? My log's below. :) **V4.0.1**

[code]

Ps: I removed the row of best open hours of the table "widgets" and the dashboard returned work

[2021-10-07 00:07] #7524 closed

[2021-10-07 08:44] Dylan-86 commented on #10493
Hi @raribeiro
In the end I solved by creating a new user from my existing account and then removing the old user that gave the dashboard error. Note that the dashboard is unique for each user, therefore other users won't be affected by the error.

[2021-10-07 10:04] Orestes2 commented on #10214
unfortunally is not yet solved in 4.1 version

[2021-10-07 12:27] RCheesley commented on #10494
@KALA-Typo3 can you confirm if this issue persists in Mautic 4? Mautic 3.x will no longer receive any updates so we will only be accepting PRs which relate to Mautic 4 going forward.

I think maybe you need to take a look at the preset, which is where all of the block customisation takes place: https://github.com/mautic/grapesjs-preset-mautic.

[2021-10-07 12:32] RCheesley commented on #10469
Hi @rvm-pmis thanks for raising this. Can you confirm if this persists in Mautic 4 as we are not providing any fixes for the 3.x series going forward. Thanks!

[2021-10-07 14:28] rvm-pmis commented on #10469
Yes, same issue in Mautic 4. That part of the code hasn't changed between 3.x and 4.x.

[2021-10-07 20:33] lucky-naty commented on #10309
Had the same issue with vTiger integration. I've replaced "getHeaders()" with "headers" in strings 90, 93 in
/var/www/html/app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php
And it's working now.
I am not a developer, and I know absolutely nothing about the code, this may not be a very reliable way to solve the problem)))

[2021-10-08 13:58] woutersf commented on #8376
@RCheesley We (@dedius and I)  have also experienced this issue in 4.0.0, Can you re-open this issue please?

[2021-10-08 16:36] RCheesley opened #10517 "Pushing contact to integration in campaign actions results in a PHP error"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Reported on the forums:

https://forum.mautic.org/t/contact-syncing-from-mautic-to-salesforce-is-not-working-in-mautic-4-latest-stable-release/21065

I was able to reproduce with HubSpot.

There were two contacts in the segment:

ruth.cheesley@MacBookPro-RuthCheesley

[2021-10-10 20:19] #10090 closed, assigned to nobody

[2021-10-10 20:19] #10146 closed, assigned to nobody

[2021-10-10 20:19] #9548 closed, assigned to Aerendir

[2021-10-11 16:02] russkiimike commented on #10078
Like I said once I increased server resources and reapplied permissions it was fine! Hasn't reappeared

[2021-10-11 20:06] listinfm opened #10524 "Where is the Vendor folder??"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Unable to update to Mautic 4.0 when starting from scratch! Can't reach the setup page because it cannot find the vendor directory!

In the mautic main directory you have a autoload.php file. This file states: return require __DIR__ . '/vendor/autoload.php';

Where is

[2021-10-11 21:45] RCheesley commented on #10524
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-10-11 21:45] #10524 closed, assigned to nobody

[2021-10-12 02:41] #9999 closed, assigned to nobody

[2021-10-12 02:41] #10133 closed, assigned to nobody

[2021-10-12 02:41] #9996 closed, assigned to nobody

[2021-10-13 09:43] MadlenF commented on #9040
In my opinion this issue is still relevant in Mautic 4.0.1. and has also recently been discussed in the forum https://forum.mautic.org/t/how-to-use-custom-date-and-time-field-for-conditions-in-campaign/10599/7

[2021-10-13 09:47] adiux commented on #10496
I had a look at the PR #10360 again. This PR should already remove the builder.js. And it also did it in my test.

Since the HTML is saved in the database, it is possible that old landingpages that were created before the PR, still have this issue. So the assets have to be removed manually from the code. This should be ok to do it in the landingpage code editor, or otherwise in the DB.

[2021-10-13 10:28] SMCWX opened #10529 "Elastic Unsubscribe callback: not reflected in Email stats"
### Mautic Version

3.3.x series

### PHP version

7.4.9

### What browsers are you seeing the problem on?

Chrome

### What happened?

We use Elasticemail to send Mautic Campaigns related e-mails.
Since we allow contacts to unsubscribe from emails using Elastic Unsubscribe functionality, as per https://docs.mautic.org/en/channels/emails/bounce-management?_ga=2.8207089.273218918.1633958963-7542793

[2021-10-13 17:57] dennisameling commented on #10496
That might indeed be the case if someone uses a custom landing page for the preference center.

@mabumusa1 does this also happen when you use the default preference center page? And is there a difference if you're logged into Mautic or not?

[2021-10-13 19:42] giomasce opened #10531 "Cronjobs produce excessive output even when set quiet"
### Mautic Version

3.3.x series

### PHP version

7.3.29-1~deb10u1

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Folowing the documentation, I've set a few usual cronjobs for the automatic actions Mautic has to do in the background. One of those has this form
[code]
I've added the flag `-q`, following the console's help text, so that the script doesn't write

[2021-10-13 21:08] zenflow opened #10532 "Mautic docker images missing from dockerhub"
### Mautic Version

any

### PHP version

any

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Wondering.. what happened to the docker images on dockerhub? The mautic organization is still there, but it has no repositories or images...

![image](https://user-images.githubusercontent.com/3198597/137212354-1655d63e-3015-464b-b656-ca9eeab94250.png)

They were presu

[2021-10-13 21:09] David-Rotter commented on #10453
Same here. Is anyone working on this?

[2021-10-14 02:25] #10013 closed, assigned to nobody

[2021-10-14 02:25] #10169 closed, assigned to nobody

[2021-10-14 02:39] andres-asm commented on #9676
Weird, we're on 4.0 and we are still seeing this problem...

[2021-10-14 06:27] kuzmany commented on #9676
@fr500 in Mautic 4 you have to put MJML template to  `email.html.twig`.

`email.mjml.twig` is not supported anymore

[2021-10-14 10:44] mabumusa1 commented on #10496
@dennisameling this issue happens on these cases

- Default preference center, the JS is getting injected all the time if you are logged in or not.
- Custom preference center, the issue extend more to any landing page that gets built while GrapeJS is enabled, also no matter if you are logged in or not.

[2021-10-14 14:37] jjroelofs commented on #9129
I have the same url_title problem, how did you truncate all the values that are too long? I have over a million rows in this table so I need something automated.

[2021-10-15 09:00] alfredoct96 opened #10534 "Sync of companies on Salesforce doesn't work if on db company name has the html entity of single quote"
### Mautic Version

3.3.4

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Chrome

### What happened?

If a new company name in Mautic has the html entity of the single quote in the database ( `&#39;` ), when Mautic try to query it on Salesforce the query go on error.

The problem is on escape function of Mautic , `escapeQueryValue` on file `SalesforceApi.php`.

Mautic e

[2021-10-15 13:43] MarketSmart commented on #5285
I know this is old and i just wanted to provide another fix for those google searching.

Here is how to fix it in apache when im using ELB proxy pointing to an ec2

Add this to your VirtualHost
[code]

[2021-10-15 15:29] alanhartless commented on #9400
This seems to have something to do with the CT getting corrupted somewhere. The decoded values definitely not valid. Can someone reproducing this find the contact's email stats for one of the invalid clickthroughs in email_stats table and look for the original URL in the tokens array? I'd like to compare it to what in the URL when the contact clicked. I'm wondering if there is an email client that

[2021-10-15 15:55] kuzmany commented on #9400
@alanhartless as I mention above, I was able to reproduce and made patch: https://github.com/mautic/mautic/pull/10444

Explanation in description

[2021-10-16 18:04] tricoos commented on #10453
For me this is a demolition switch: after switching to No for the first time all subsequent attempts to save the form fail completely even if I set the switch back to Yes. The only option I found is to create a new form.

[2021-10-17 04:20] zenflow commented on #10532
Hmm looks like it was a temporary failure on dockerhub, and we're back:
![image](https://user-images.githubusercontent.com/3198597/137611105-47827e54-577d-4685-ab3f-73a8a2ac19b7.png)

[2021-10-17 04:20] #10532 closed, assigned to nobody

[2021-10-17 17:22] fastyzfr1 commented on #1752
@RCheesley thanks for the update. Little late on my reply so I guess I could ask again. Not sure what soon means in the idea of Mautic and Acquia, since it is now almost 4 months later. Haha

[2021-10-18 13:44] markusrock opened #10540 "Dyanmic Content not working proplerly since last update"
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Firefox

### What happened?

Since the last update, the dynamic content feature in Mautic no longer works properly. The "default" variant is no longer saved. I have tested it with Firefox and with Edge. When I create variants they are kept including content and filter function.

Desired result: Wr

[2021-10-18 14:55] alanhartless commented on #9400
@kuzmany and I found in https://github.com/mautic/mautic/pull/10444#issuecomment-944474854 that this looks related to MS 365 clients. The IPs Kuzmany found are Microsoft's. I confirmed the same for us and traced it back to individual contacts of which all their domains use `mail.protection.outlook.com` as MX records.  Likely has to do with their safe link feature that rewrites URLs for `time-of-cl

[2021-10-18 18:23] #10210 closed, assigned to nobody

[2021-10-18 18:23] #10177 closed, assigned to nobody

[2021-10-18 18:23] #10205 closed, assigned to nobody

[2021-10-19 12:05] Plato39 commented on #9400
This Invalid clickthrough behaviour makes double opt-in campaigns unreliable.

[2021-10-19 13:28] raramuridesign commented on #10416
I can confirm that in our mautic instance 4.0.1 the Default Frequency Rule was empty and set to weekly.
This affected Segment emails. Changing to this to a value of 10 / Weekly worked.
But I agree we need a new option here to allow this to work regardless of the setting here.

[2021-10-19 13:41] raramuridesign commented on #10416
I have updated the values of this in 6 different mautic instances.
all of them had Default Frequency Rule set as
Do not send more than: AS EMPTY
Messages each: Weekly

There was however one instance which had both values empty.

![image](https://user-images.githubusercontent.com/902376/137921526-91e2633b-4de9-4d40-a39f-0b416484b04e.png)

All of these instances are mautic 4.0.1.

It would be good t

[2021-10-20 00:37] #10176 closed, assigned to nobody

[2021-10-20 08:09] aukera-labs opened #10544 "Cannot make changes in any form - v. 4.0.1"
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Chrome

### What happened?

Mautic version 4.0.1
Cannot make changes in any form (campaign or standalone), when it was created with the "Render style from Template" option in "No".
Every time I try to make a change in any of these forms, I see a 500 Internal Server Error.

![image](https://user-im

[2021-10-20 08:27] aukera-labs commented on #10544
Also, if you create a form choosing "No" in "Render style from template", but change it to "Yes" at any moment, if you try to make changes afterwards, will find the same problem.

[2021-10-20 09:03] RCheesley commented on #10544
Hi @aukera-labs thanks for letting us know about this bug. We are already tracking it in https://github.com/mautic/mautic/issues/10453 so I will close this PR as a duplicate of that issue.

[2021-10-20 09:03] #10544 closed, assigned to nobody

[2021-10-20 12:01] aukera-labs commented on #10453
Same here. Mautic v. 4.0.1.

[2021-10-20 18:08] maxlawton opened #10545 "Token Array Corruption in Broadcast Send"
### Mautic Version

3.3.x series

### PHP version

7.3.31

### What browsers are you seeing the problem on?

_No response_

### What happened?

When sending batched broadcasts, the array of tokens propagated through to the message metadata and stored in corresponding EmailStats can become corrupted with the values from the first recipient in the batch. While this behavior doesn't necessarily resul

[2021-10-20 23:13] dsp76 commented on #9794
Despite a warning, Mautic still creates the duplicate in version 4.0.1. That's a no-no.

![image](https://user-images.githubusercontent.com/1241376/138185176-efe7c66a-6d30-4ff6-bb50-06c77e1ce9e9.png)

[2021-10-21 06:08] #10234 closed, assigned to nobody

[2021-10-21 06:08] #6957 closed

[2021-10-21 17:13] andres-asm opened #10546 "Unable to login with SAML unless the user already exists"
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The same thing mentioned on this issue:
https://github.com/mautic/mautic/issues/7973

Users that are not already created are not being able to login using SAML

### How can we reproduce this issue?

I installed Mautic 4.0.1 today, actually reinstalled because of th

[2021-10-21 17:42] andres-asm commented on #10546
And I just redid everything and it worked, so perhaps there was a type on one of the ends and I couldn't see it no matter what I did...

[2021-10-21 17:42] #10546 closed, assigned to nobody

[2021-10-21 20:35] andres-asm opened #10547 "ZOHO CRM Integration error"
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!

### How can we reproduce this issue?

Step 1: Configure zoho integration
Step 2: Configure field mapping
Step 3: Configure form to test according to this https://docs.mautic.org/en/plugins/plugin-resources/testing-integrations
Step 4: Add a few ent

[2021-10-21 21:15] pipezafrap commented on #6775
Hi I am still getting this error on a fresh install when sendind many e-mails, any advise on how to fix it?

[2021-10-22 07:09] asksock commented on #2562
Anyone use this method and confirm it?

[2021-10-23 07:31] adiux commented on #10398
@rafalsk Since this is not an issue with the Mautic implementation of Grapesjs, can we close this issue here?
The issue is discussed here: https://github.com/artf/grapesjs-mjml/issues/179

With the removal of the strict mode in [4.0.1](https://github.com/mautic/mautic/pull/10462) we have a workaround for the time being.

[2021-10-23 07:42] adiux commented on #10455
I can confirm that this happens. It is related to how the modal window is opened. I fixed it for the Dynamic Content modal. Now the same thing has to be done for the Code edit modal. In the meantime: A refresh solves the problem.

It is not related to the ID issue

[2021-10-23 07:48] adiux commented on #10475
@TiagoValdo thanks for reporting this. Im not sure I understand your solution correctly. You want to have the style in the <head>?

As far as I know <style> and <head> is quite often ignored anyway.

[2021-10-23 07:58] adiux commented on #10292
@dennisameling do you agree? I would like to take the first step with this and just mark it as depreciated. So we don't add new code in this old way.

[2021-10-23 10:25] TiagoValdo commented on #10475
Hey @adiux , thanks for your reply!

I'm sorry. I just noticed that my original text has been stripped. It should read:

The solution would be moving the custom CSS to the [head] tag.

Yeah, most email clients would just ignore style tags or have a very limited set of properties/classes/queries support.

Gmail, apparently, is one that requires it to be on the head tag, stripping out anything out o

[2021-10-23 11:11] adiux commented on #10475
Hi @TiagoValdo. Thanks for explaining this.

This looks to me as Grapesjs is moving the <style> to the end of the body. Not our code. You can verify it by using their demo https://grapesjs.com/demo-newsletter-editor.html

Did you check out the new MJML mode? For compatibility reasons etc. I would recommend using that.

[2021-10-23 17:56] escopecz commented on #2562
@asksock as mentioned in the pull request linked to this issue: https://github.com/mautic/mautic/pull/3413

There is a campaign action that can delete all contacts. Steps:
1. Have a segment with contacts you want to delete
2. Create a new campaign with the segment as a source
3. Add the delete contacts action

Warning:
1. It will delete the contacts and all their actions like they have never exist

[2021-10-23 19:32] giomasce commented on #9797
Not stale.

[2021-10-24 13:58] ayoubamine commented on #10475
I have the same problem, my emails do not render properly on Gmail, but it's looking good on Apple Mail.

I tested on my dev env to update the `custom_html` field from the `emails` table with my custom HTML code (The build of MJML) as a workaround to prevent refactoring my code when using the builder.

Is there any side effect of this solution (like tracking...)?

[2021-10-24 18:03] TiagoValdo commented on #10475
Hi @adiux

Thanks for the time for looking into this. Indeed it's a grapes issue. Sorry for the trouble! Please close this issue as it's not related do Mautic.

For now, I've disabled grapesjs and we have been building the e-mail templates with another tool then copying pasting the formated HTML into a blank HTML template that works just fine.

@ayoubamine, all links and other functionality works

[2021-10-24 20:50] kiakahaDZ opened #10554 "Status 500 Internal Server Error for each ajaxActionRequest Request"
### Mautic Version

3.3.4

### PHP version

7.4.9

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge

### What happened?

hello i have created a mautic plugin for mautic 3.3.4, and I have issued each ajaxActionRequest show me an error Status
500 Internal Server Error, I don't know why?
![image](https://user-images.githubusercontent.com/46278484/138612370-52c

[2021-10-25 07:22] mk1319 opened #10555 "Every time when we update contact , in event showing contact created."
### Mautic Version

4.0.0

### PHP version

7.4.23

### What browsers are you seeing the problem on?

Chrome

### What happened?

In Event Name Showing Contact Created , When we Update Contact

### How can we reproduce this issue?

Step 1: Create in Contact and open.
Step 2: Click On Edit and save & close.
Step 3: in Event name showing "Contact Created"

### Relevant log output

_No response_

###

[2021-10-25 12:10] ItDoBeNord opened #10556 "Code Mode Issue"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge

### What happened?

**Issue:**

If you have any template selected and load up the builder and click the button for code mode it opens the box up perfectly fine but if you exit the builder and select another template and reload the builder the code mode button

[2021-10-25 12:43] adiux commented on #10556
I believe this will be fixed with PR https://github.com/mautic/mautic/pull/10552 that is ready for testing

[2021-10-25 12:44] adiux commented on #10556
If it is the same problem an easier workaround would be to reload the browser.

[2021-10-26 12:02] #10001 closed, assigned to kuzmany

[2021-10-26 12:02] #10239 closed, assigned to nobody

[2021-10-26 12:02] #10230 closed, assigned to nobody

[2021-10-26 12:37] comradekingu commented on #10230
Presumably still an issue?

[2021-10-26 12:51] RCheesley commented on #10230
No, it's not an issue any more. The issue was that during a release I work from a fresh instance which doesn't actually have Mautic installed (to physically make the release) but Transifex requires Mautic to be installed to execute the required commands to push the translations. We have updated the release lead docs accordingly :)

[2021-10-26 14:52] mk1319 opened #10558 "Send email for campaign is not working properly. (campaign Creation)"
### Mautic Version

4.0.0

### PHP version

7.4.0

### What browsers are you seeing the problem on?

_No response_

### What happened?

![image](https://user-images.githubusercontent.com/52974165/138899657-077a8fcb-772e-4363-ad05-444bd8759f4c.png)

if you again click on search box , box will move to left side and you can't enter text.

### How can we reproduce this issue?

Step 1: click on create

[2021-10-27 07:17] travis-symbolscape commented on #9128
hi @domparry, can you explain more detail about your fix wrt php dependency? or if anyone else is still having this issue or fixed it otherwise? Running into same issue on 4.0. Have tried updating to 4.0.1, expanding max time to 600, nothing is working.

UPDATE
Every situation is different obvs but I was finally able to solve using [this solution.](https://stackoverflow.com/a/62975261)

Using inst

[2021-10-27 07:33] simcen commented on #9125
I actually came across the exact same issue.

I'll try to submit a bugfix.

@RCheesley The use case is to display the focus item via campaign action and not by adding the focus snippet directly into the website.

[2021-10-27 14:41] YosuCadilla commented on #9673
Hello @vesper8 Did you find a solution to this issue? I am battling it too on an instance, I suspect it could be related to some plug-in or hack installed in the past...

[2021-10-27 14:43] YosuCadilla commented on #9673
@RCheesley  Where can I find that documentation you mentioned, I am sure it would help!

[2021-10-27 17:57] vesper8 commented on #9673
I ran into even more issues when I tried to upgrade my installation to V4. Eventually I came up with a solution that allowed me to fix everything including the above problem, and I made a post on the forum to detail what I did. Here's the link https://forum.mautic.org/t/was-unable-to-update-to-4-0-heres-what-finally-worked-for-me/20980

[2021-10-27 20:57] RCheesley commented on #9673
I believe this was something that @escopecz  might be able to help with. I recall we had to make some decisions with the 3 migration about excluding certain migrations because they would have been extremely heavy to run and not bring a huge amount of value, but I can't recall off the top of my head what they were.

I think from memory that the issue we had with the migrations which I mentioned doc

[2021-10-28 11:33] Plato39 commented on #9400
I've applied the fix by @kuzmany and found I still have Invalid clickthrough errors in the log.

[2021-10-28 11:50] YosuCadilla commented on #9673
Thank you @vesper8 I'll follow the steps on your new post...

[2021-10-28 16:30] stevedrobinson opened #10561 "MariaDB reporting deadlock on contact update"
### Mautic Version

3.3.4

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Seeing errors in the log across multiple instances of Mautic indicating deadlocks occurring during contact updates. This seems to happen sporadically.

`[2021-10-28 13:47:08] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\DeadlockException: "An excep

[2021-10-29 09:22] garzettone opened #10562 "Using Grape JS as editor can't send multilanguage email (preferred local is ignored)"
### Mautic Version

4.0.0

### PHP version

PHP 7.4.23

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Normally if I compose an email multilanguage (let's say Italian and English) when Mautic send to contact it use the preferred locale settings of the contact to select the email to send. So if a contact has Italian as preferred locale it receives the email in I

[2021-10-29 09:28] adiux commented on #10562
@garzettone I just double-checked with one of our clients. They just sent out a multilingual campaign yesterday. It worked normally (v3.3.3). Could it be related to v4? Does anybody else have this problem?

[2021-10-29 09:37] garzettone commented on #10562
Checking the database I found that into the table "email_copies" the body field of the emails composed is the same for all the languages of the email.

[2021-10-29 15:20] garzettone commented on #10562
Hi, I have more details about the problem.
Step 1: Create an email using GrapeJS as editor in Italian (or any other language not English)
Step 2: Create an email using GrapeJS as editor in English and select "Is a translation of" Italian version.
Step3: Reopen the email created in step 1 and save
Step3: Check that the English version of the email created in step 2 is now exactly in Italian

So I t

[2021-10-29 16:54] andres-asm commented on #10453
We are facing this issue too right now

[2021-10-29 17:42] rpayanm opened #10563 "Mautic form is redering in <head>"
### Mautic Version

4.0.0

### PHP version

7

### What browsers are you seeing the problem on?

Firefox

### What happened?

The form is rendering inside `<head>` when I use it in a modal.

### How can we reproduce this issue?

I'm trying to embed Mautic forms in my drupal site.
I created a page ( '/mautic-form`) and inside I have this:
[code]

When I go to that page (`/mautic-form`), the form re

[2021-10-29 21:44] adiux commented on #10562
@garzettone I tried to reproduce your issue but unfortunately I did not get the same result. I tried saving both emails many times:

<img width="1484" alt="Screen Shot 2021-10-29 at 23 40 37" src="https://user-images.githubusercontent.com/13075514/139504959-cd018279-0c68-49de-a57b-72918cfe1256.png">

![image](https://user-images.githubusercontent.com/13075514/139504917-da8fbd8c-66ce-4401-92a8-b2ee

[2021-10-30 08:38] xnohat opened #10565 "Dynamic Filters not shown in filters tab of Reports"
### Mautic Version

4.0.0

### PHP version

7.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

Dynamic Filters not show in Filters section

### How can we reproduce this issue?

Step 1: Create new Custom Report
Step 2: set a Filter option Dynamic? to YES
Step 3: Save and Closed Report
Step 4: View report

### Relevant log output

[code]

### Code of Conduct

- [X] I

[2021-10-30 15:50] escopecz commented on #9673
Database migrations are always scary as the developer can make a mistake or won't realise that your database can be in a different state than his. Or that your database has way more data than he tested with. That's why the message is there. It should force you to make a backup of your database before you run the migration command so you can revert if something goes wrong.

Once you have a backup,

[2021-11-01 15:55] joakimvivas opened #10568 "After activating API, need clear the cache to make APi working"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Firefox

### What happened?

It is not possible to connect to the API "Code 404, Requested URL not found: /api/contacts/"

### How can we reproduce this issue?

Step 1: Activated the API on config
Step 2: Created the credentials and validated the connectivity
Step 3: Launched first API call to /ap

[2021-11-02 07:54] garzettone commented on #10562
Hi, I recorded a video that reproduce the issue at this link: https://vimeo.com/641413139/255f0df39d

[2021-11-02 11:41] Darko-F commented on #10453
Also, we are facing this issue after update to 4.0.1 is there any solution?
This is mayor problem for us, because for all our forms embed on website from Mautic instance ,we don't use rendering style.
Older forms works but I can't cahnge and save them if I need it too. Only clone and thats not really good solution.

[2021-11-02 12:26] #9819 closed, assigned to nobody

[2021-11-02 13:20] RCheesley commented on #10387
Thanks for reporting the issue @TPapajCin - there's a PR to address it in #10536 so hopefully this will be addressed in the next release.

[2021-11-02 13:23] #10392 closed, assigned to nobody

[2021-11-02 13:30] RCheesley commented on #10414
Fixed in #10570 if you could review @ttencate :)

Thanks for bringing it to our attention!

[2021-11-02 13:35] RCheesley commented on #10420
@Dylan-86 thanks for reporting this issue with the reports, and for the detailed writeup - this will be really helpful for someone working on reproducing and 🤞  fixing this issue.

Apologies for the delay in triaging, we're pretty short-handed at the moment.

[2021-11-02 13:36] RCheesley commented on #10430
Thanks for reporting the issue @lilmike - I've flagged it up in the other issue (#10442) and we've done a bit of digging. I'm hopeful that we will be able to have someone look at this in the near future.

[2021-11-02 13:39] RCheesley commented on #10436
Hi folks,

As 3.x is now in security support only, could you check to see if this is still the case with Mautic 4 and let us know in a reply? Many thanks!

[2021-11-02 18:17] #10414 closed, assigned to nobody

[2021-11-03 03:53] #9487 closed, assigned to nobody

[2021-11-03 09:33] Dylan-86 commented on #10420
I've "solved" on the 5th of October by cloning the emails and updating the campaigns with the new emails.
Suddenly, not only the new emails showed up in the reports, but also the "original" emails that were previously missing were there in the report.

However, the data is somehow wrong for the "old" emails: those emails were sent between September and October but the report shows them as all sent

[2021-11-03 16:51] isaiahdahl opened #10572 "Code Mode is changing my HTML. It's not a true code mode."
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

When I paste code into the GrapeJS editor with code mode as the theme, it makes a bunch of changes to the code to power the GrapeJS editor. ie. adding id's, auto-formatting. stripping out stuff.

Code Mode is for people that want nothing to do with the editor Mautic pro

[2021-11-03 17:11] isaiahdahl commented on #10572
I havn't been able to pinpoint what exactly is going wrong but the formatting and extra stuff that GrapeJS adds is causing my emails to lose their formatting in GMAIL.

This is the exact same pasted HTML.

Mautic 2.16.5, sending a preview email.
![CleanShot 2021-11-03 at 10 08 24@2x](https://user-images.githubusercontent.com/23046374/140132761-c17b0049-a353-4cfc-9f5e-1385b76a3a8c.png)

Mautic 4.0

[2021-11-03 17:15] isaiahdahl commented on #10572
I have just learned how to turn off the GrapeJS builder. https://docs.mautic.org/en/builders?_ga=2.268173966.1005044082.1635782165-1467733879.1635289998#switching-back-to-the-legacy-builder

This fixes my problem.

But leaving this open for a comment on how this could be addressed for the future. I don't want to lose the support for a true code mode.

[2021-11-03 23:15] #9766 closed, assigned to nobody

[2021-11-04 08:50] mkurzeja opened #10573 "Integration apiKeyDecrypt implementation clears all data if a yes/no question answered to false"
### Mautic Version

4.0.0

### PHP version

all

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Clearbit API key is cleared on every use. Impossible to use the integration

### How can we reproduce this issue?

1. Set up clearbit integration by providing a token (even a wrong one)
2. Set "Automatically update on save?" to "No"
3. Save plugin settings
4. Reopen

[2021-11-04 08:53] mkurzeja commented on #10573
After some quick tests on my local env, I think the easiest solution is to switch the return into a continue statement, like this:
[code]

[2021-11-04 14:47] HermanMonteiro commented on #5894
Does anyone have any updates about this bug? I have the same problem

[2021-11-04 14:51] HermanMonteiro commented on #6153
Does anyone have any updates about this bug? I have the same problem

[2021-11-04 16:56] escopecz commented on #9766
Haha, the bots are communicating between each other through GitHub issues. I can't wait when they start fixing bugs too...

[2021-11-04 20:45] ArchI3Chris commented on #6994
I want to address this by saying, all of you should read carefully. The text in the link says, the functionality in the app has been dropped, not the actual functionality in PHP.

My hoster offers this and I've been using PHP mail with PHP5, PHP 7.4 and even PHP 8 recently. This still works and is not deprecated at all. The reason why it doesn't work is, because the hoster has to offer it and it m

[2021-11-04 22:12] kilakewe commented on #10453
+1 4.0.1

[2021-11-04 22:27] DogByteMarketing opened #10575 "Contact preferences (pause sending for a duration) not working"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Show pause contact preferences not working

### How can we reproduce this issue?

When enabling "Show pause contact preferences" in v4.0.1 and updating my preference to not allow emails from 11-3-21 to 11-20-21 and saving, I sent myself an email and still received it

[2021-11-04 23:50] DogByteMarketing opened #10576 "Subscribed Category Filter"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When building a segment in v4.0.1 using the subscribed category filter, Empty does not work. We're trying to set it up so we can pull everyone who hasn't set preferences and those that have a specific category.

### How can we reproduce this issue?

Create a segment

[2021-11-05 16:52] EnableServices commented on #10408
Spotted an issue with mautic-form.js today which may be related.

Now the random string is added to the url, this section of code in mautic-form.js breaks (line 48, column 262):

[code]

because it assumes a well-formed query string with an = sign in the parseToObject function.

Interestingly, in mautic-form-src.js (in the same directory), this has been handled (line 833):

[code]

The fix for me

[2021-11-06 05:50] Saberi01 commented on #10464
hi, any news?
i have same problem on 4.0.1
![webhook_error_mautic](https://user-images.githubusercontent.com/93643113/140599475-462448fc-b63f-4376-8f36-d65984ab1f31.JPG)

[2021-11-06 16:38] #9243 closed, assigned to nobody

[2021-11-06 16:38] #10288 closed, assigned to nobody

[2021-11-07 09:16] EnableServices commented on #10408
Looking at the code, I don't think it'll fix the specific issue because it's still expecting an '=' sign on which to split.

The issue I uncovered is triggered when the url {mautic_instance}/media/js/mautic-form.js is called with an anti-caching random string:

{mautic_instance}/media/js/mautic-form.js?abdefrder34

for instance. Here there **is** a query string but it's not the expected key=value&

[2021-11-07 09:22] EnableServices commented on #10408
Actually just this `php bin/console m:a:g` fixes the issue I mentioned.

[2021-11-07 09:53] kuzmany commented on #10408
Probably this fix is related https://github.com/mautic/mautic/pull/10509
Can you try it? It require `php bin/console m:a:g`

[2021-11-07 14:20] #10408 closed, assigned to nobody

[2021-11-07 15:49] kuzmany commented on #10464
I've already tested it and works for me
![image](https://user-images.githubusercontent.com/462477/140652024-65157a14-7ebd-42d3-ae6f-c6def3496eb3.png)

It's clean installation? Or upgrade?

[2021-11-07 15:59] kuzmany commented on #10464
This should fixed it https://github.com/mautic/mautic/pull/10580

[2021-11-07 16:03] kuzmany commented on #10562
I think content is overwrite becase need check isUpdatingTranslationChildren from  https://github.com/mautic/mautic/pull/10525
We have similar issue. I will try check it and post PR soon

[2021-11-07 17:57] kuzmany commented on #10576
Categories for contacts looks like incomplete feature. Segments and tags do same with deep integration. I suppose to category for contacts gonna removed in the future.

[2021-11-07 18:46] TestCLEI commented on #10309
The problem continues in the official version 4.0.1.

[2021-11-07 21:38] dsp76 commented on #10282
Still the case with 4.0.1

[2021-11-08 07:52] adiux opened #10581 "Only contacts who viewed main email are shown if the emails has a translation"
### Mautic Version

3.3.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A click on the button to display all contacts who viewed a translated email shows only the main emails views.

The link generated is:
`/s/contacts?search=email_read:181`

but it should be:
`/s/contacts?search=email_read:180,181`

### How can we reproduce this

[2021-11-08 14:47] asquelt opened #10584 "Custom email headers"
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

My email provider (Postmark) has two sets of mailers - for transactional emails (like opt-ins and password resets) and for bulk (newsletters, marketing emails, etc). I can choose between the two with X header in the emails I generate.

eg.
[code]
or
[code]

Curren

[2021-11-08 15:33] luizeof commented on #10356
@RCheesley

Tested on Latest Stable (3.3.4) ... if it is configured in immediate sending .. it works, if it is in queue mode it does not send the attachments.

[2021-11-09 10:31] dennisameling opened #10592 "Warnings in CI pipeline: `ERROR 1064 (42000) at line 58: You have an error in your SQL syntax`"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

In the CI pipeline, there's some SQL-related warnings that have been there for months:

[code]

Two challenges:
- Let's find out why these warnings aren't being converted into errors, so we would've spotted them earlier
- Let's find the root cause for this and fix it

[2021-11-09 11:00] sofocle80 commented on #9011
4.0.1. the problem is still here.

[2021-11-09 11:15] Dylan-86 commented on #10565
Yes, I confirm. I thought it was just a problem on my end.

[2021-11-09 11:15] Dylan-86 commented on #10540
Same as https://github.com/mautic/mautic/issues/10565

I confirm the issue on my end.

[2021-11-09 11:17] Dylan-86 commented on #10420
@RCheesley
Update: The report is again EMPTY.
I have thousands of emails going out every day but it seems that they do not fall into the report.
If I select the timeframe 1nov-9nov there's no single email in the report. However, really, thousands of emails go out every day from my Mautic.

[2021-11-09 12:05] npracht commented on #10540
Hi @Dylan-86 i'm not sure how to reproduce. Do you talk about DC in emails or DC to integrate on your website ?

[2021-11-09 12:07] npracht commented on #10565
I confirm this is still an issue on 4.0.2-rc on reports.
<img width="875" alt="Capture d’écran 2021-11-09 à 13 06 44" src="https://user-images.githubusercontent.com/14075239/140921471-6758d5f8-6e28-4e17-a132-8acf5e9f9445.png">

<img width="585" alt="Capture d’écran 2021-11-09 à 13 06 32" src="https://user-images.githubusercontent.com/14075239/140921425-ea2129ca-43d7-4714-b865-b5f75eb091c0.png"

[2021-11-09 12:09] npracht commented on #10584
Hello @asquelt ! Thanks a lot for your message. Nevertheless this is more a feature request to extend existing feature (custom headers) into templates.

The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting

[2021-11-09 12:09] #10584 closed, assigned to nobody

[2021-11-09 12:11] markusrock commented on #10540
![Screenshot 2021-11-09 131002](https://user-images.githubusercontent.com/73632724/140921903-799e8c59-eaf8-4959-a629-778420dcf6e2.jpg)

In emails / within the editor the default field get's lost after saving.

[2021-11-09 12:12] npracht commented on #10581
Hi @adiux knowing that we don't support 3.x branches even for security matter (see https://github.com/mautic/mautic#supported-versions), can you tell if this is still an issue in latest release (4.0.1) ?
Thanks !

[2021-11-09 12:43] npracht commented on #10576
@RCheesley and @alanhartless see Zdeno's comment above. What do you think about this ? Maybe we can add "remove category for contacts" issue on JIRA MAT board ?

[2021-11-09 12:45] npracht commented on #10562
@garzettone can you test #10525 and tell if it fixes your issue ?
Thanks

[2021-11-09 12:49] npracht commented on #10453
Hi all, i cannot reproduce the issue. I just created forms in `4.0.2-rc` and disabled form rendering and it is working as expected.

Could you all test on this version and confirm the issue is gone ?
Thanks !

[2021-11-09 12:51] npracht commented on #10572
@isaiahdahl can you confirm your issue persists in 4.0.1 ?

[2021-11-09 12:54] npracht commented on #10572
Just did a quick test with this snippet and i face same issue. Code is changed.
[code]

[2021-11-09 13:09] npracht commented on #10563
Hi @rpayanm !
Thanks for your message. Where did you paste your focus item script ?

[2021-11-09 13:12] npracht commented on #10447
Duplicate of https://github.com/mautic/mautic/issues/10446

[2021-11-09 13:12] #10447 closed, assigned to nobody

[2021-11-09 13:15] npracht commented on #10561
Hi @stevedrobinson ! 3.x series are not supported any more, see:
https://github.com/mautic/mautic#supported-versions

Can you please test and tell us if issue persists in 4.x ?

[2021-11-09 13:19] npracht commented on #10558
Hi @mk1319 i can reproduce the issue in latest version.
I hope screenshot helps developers. I don't know why this `width` is set like that.
<img width="1440" alt="Capture d’écran 2021-11-09 à 14 18 34" src="https://user-images.githubusercontent.com/14075239/140931178-bc375aeb-451c-4a1c-b283-77a16c40d0d8.png">

[2021-11-09 13:21] npracht commented on #10556
Please test and add your review on https://github.com/mautic/mautic/pull/10564

[2021-11-09 13:22] npracht commented on #10556
Closing in favor of https://github.com/mautic/mautic/issues/10455 (duplicate)

[2021-11-09 13:22] #10556 closed, assigned to nobody

[2021-11-09 13:24] npracht commented on #10555
Hi @mk1319 i cannot reproduce:
<img width="540" alt="Capture d’écran 2021-11-09 à 14 24 20" src="https://user-images.githubusercontent.com/14075239/140931958-f0ba5224-0c0d-4ead-afee-f1dccfcbae94.png">

Can you test in 4.0.1 ? Or maybe i'm doing something wrong ?

[2021-11-09 13:26] npracht commented on #10554
Hi @kiakahaDZ,
Unfortunately the 3.x series are not supported anymore as you can read here:
https://github.com/mautic/mautic#supported-versions

Could you please test in latest release to tell us if issue persists?
Thanks!

[2021-11-09 13:27] #10475 closed, assigned to nobody

[2021-11-09 13:29] npracht commented on #10547
Hi @fr500 !
Thanks for your message. To be able to test and reproduce your issue, could you please share a screenshot of:
* Fields Mapping in plugin
* Contacts created in each sides with their values

Thanks

[2021-11-09 13:43] npracht commented on #10545
Hi there,
Unfortunately the 3.x series are not supported anymore as you can read here:
https://github.com/mautic/mautic#supported-versions

Could you please test in latest release to tell us if issue persists?
Thanks!

[2021-11-09 13:46] npracht commented on #10529
Hi there,
Unfortunately the 3.x series are not supported anymore as you can read here:
https://github.com/mautic/mautic#supported-versions

Could you please test in latest release to tell us if issue persists?
Thanks!

[2021-11-09 13:47] npracht commented on #10469
Can this be related to this fix https://github.com/mautic/mautic/pull/9743 ?

[2021-11-09 13:49] npracht commented on #10493
Hello @raribeiro ! I cannot reproduce on 4.0.1.
@kuzmany you have any advice ?

[2021-11-09 13:50] npracht commented on #10508
Hi @TornMarketing !
I don't see any modification in your code before/after. Can you please share again ?

[2021-11-09 14:12] npracht commented on #10505
Could this be related to https://github.com/mautic/mautic/pull/10564
@abdul-Tz-prog can you please test and confirm ?

[2021-11-09 14:14] npracht commented on #10492
Hi @david-gap,
Are you sure this is not the difference with your unsubscribed and bounced contacts that are in segment but not addressed by email ?

[2021-11-09 14:16] npracht commented on #10483
I can confirm this regression. It was possible to have a dropdown with variables available in previous builder.

[2021-11-09 14:17] npracht commented on #10485
@dennisameling is that a bug ?

[2021-11-09 14:18] npracht commented on #10441
I cannot reproduce this behaviour on 4.0.1. When i save without opening the builder it works and i even have a working page based on the template HTML.

[2021-11-09 14:18] #10441 closed, assigned to nobody

[2021-11-09 15:06] npracht commented on #10568
I think i can reproduce. But we might be doing something wrong, i cannot believe API is not working since 4.0 and none said nothing.
<img width="624" alt="Capture d’écran 2021-11-09 à 16 04 27" src="https://user-images.githubusercontent.com/14075239/140949139-38ab37b0-7bdd-43f8-a761-8afeecb448e1.png">

@dennisameling @mohit-rocks @kuzmany @alanhartless can someone give a look at this ?

[2021-11-09 15:33] dennisameling commented on #10568
@npracht IIRC you have to delete the cache after enabling the API. Then it should work. Not an ideal user experience, so let's keep this issue open so we can improve that at some point 👍🏼

[2021-11-09 15:47] npracht commented on #10568
Okay, not that bad.
After doing in SSH console:
[code]

It works properly.
<img width="577" alt="Capture d’écran 2021-11-09 à 16 46 49" src="https://user-images.githubusercontent.com/14075239/140956860-639abd53-b020-48ba-b391-38788279368d.png">

Yes we have to follow this, this is a bit dirty but it works.

[2021-11-09 16:37] isaiahdahl commented on #10572
Yea can confirm it's happening in 4.0.1.

[2021-11-09 20:35] #10531 closed, assigned to nobody

[2021-11-09 23:12] kilakewe commented on #10453
I was able to resolve this issue by running the cli command to generate assets.

Hopefully this helps others.

[2021-11-09 23:45] DogByteMarketing commented on #10576
The reason we even tried this route was that categories weren't working with contact preferences https://github.com/mautic/mautic/issues/10575. If this option is available we can check to see if they have no categories selected and automatically add them to a segment. It probably would be more efficient to use segments to check for a tag instead, but we'll have to build a campaign to add a tag to

[2021-11-10 09:01] abdul-Tz-prog commented on #10505
@npracht you can see when I change something in my code and save it. It always shows the error like shown in the screenshot. I think this is a different error.

![image](https://user-images.githubusercontent.com/85757348/141082095-efc68746-e2e2-4b25-b5f1-cd9b17fb9d58.png)

[2021-11-10 09:01] npracht commented on #10505
Thanks a lot for your answer :)

[2021-11-10 09:04] abdul-Tz-prog commented on #10505
@npracht you are welcome. I am looking forward to a solution regarding this issue. :)

[2021-11-10 11:36] david-gap commented on #10492
Hello npracht,
I checked it by creating a bounced and a unsubscribed segment. Both segments are empty. And i also cleared the cache with the command line.

[2021-11-10 14:36] andres-asm commented on #10453
Why is the issue closed though? none of the original posters have been able to try this yet, I figure many of us are working on a production service and can't risk updating to a RC.

@kilakewe's workaround sounds nice but I don't know if it's a one time thing or everytime the switch is made

[2021-11-10 16:40] npracht commented on #10453
Hi @fr500 this is closed because it is not an issue.
1. I cannot reproduce
2. Running command `mautic:assets:generate` solved issue for @kilakewe

[2021-11-10 16:44] tricoos commented on #10453
@npracht:
Regarding 1: did you perform the exact steps I outlined? "For me this is a demolition switch: after switching to No for the first time all subsequent attempts to save the form fail completely even if I set the switch back to Yes. The only option I found is to create a new form."

Regarding 2: that's definitely a workaround because the issue should not occur in the first place.

[2021-11-10 16:45] npracht commented on #10453
1. Yes I did :)
2. That should not happens yes, except if you assets are not correctly generated. Probably because you come from a migrated version and some maintenance command didn't run properly (database, assets, cache, etc.).

[2021-11-10 16:46] tricoos commented on #10453
@npracht
1. That sounds good! :)
2. No, I just installed Mautic for the first time ever with 4.0.0 and never did any upgrades when the issue occurred.

[2021-11-10 16:49] npracht commented on #10453
Okay, 2nd point is an issue.
Can you try to install a fresh 4.0.1 ? See if problem persists and if yes we'll probably need to investigate :)

[2021-11-10 16:50] #7173 closed

[2021-11-10 17:29] damienbkx commented on #10453
The issue is still present for me even after running mautic:assets:generate  and mautic:cache:clear

Please, do not close it too fast..
Thanks and good day to you!

[2021-11-10 18:03] RCheesley opened #10601 "Authenticating Salesforce in Mautic 4.0.1 results in a 500 error"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When trying to connect up to Salesforce, I authenticate fine, enter the 2FA code, accept the scopes and then get a 500 error:

 500 Internal Server Error - PHP Warning - preg_match() expects parameter 2 to be string, array given
[code]

### How can we reproduce this

[2021-11-10 18:05] npracht commented on #10453
I reopen but I still have issue to reproduce so for me it is complicated to solve !

[2021-11-10 18:31] mabumusa1 opened #10602 "Reply to address does not respect commas with multiple addresses"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Reply-to address takes the first address only and does not respect commas

### How can we reproduce this issue?

Step 1: Create an email with a reply-to address
Step 2: make them like this `email@domain.com,email2@domain.com`
Step 3: Check the reply-to address is `e

[2021-11-10 19:16] richardriman commented on #7554
I'm on version 4.0.1 and this problem still persist.

[2021-11-10 21:59] trianity opened #10604 "CKEditor load error on personal email after upgrading to 4.0.1 version"
### Mautic Version

4.0.0

### PHP version

7.4.27.

### What browsers are you seeing the problem on?

Firefox, Chrome, Not relevant

### What happened?

When sending a personal email, CKEditor is not fully loaded, so no Template emails can be loaded into the editor.

### How can we reproduce this issue?

Step 1: Got to Contact and select a contact (go into detail page of the contact)
Step 2: Open

[2021-11-11 09:36] damienbkx commented on #10453
Thank for leaving the issue open.
If it may help here is the error that was logged when trying to save a form after the mautic:assets:generate and mautic:cache:clear cli commands

`[2021-11-10 19:01:41] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Form\Exception\UnexpectedTypeException: "Expected argument of type "null or string", "boolean" given" at /var/www/mautic/vendor/symfony/for

[2021-11-11 10:21] garzettone commented on #10562
HI, I am not an expert of Github.
Which files do I need to download to fix the problem ?

Il giorno mar 9 nov 2021 alle ore 13:45 Norman Pracht - Webmecanik <
***@***.***> ha scritto:

--
Davide Garzetti

Visionova srl
Via Noce 71,  25125 Brescia (BS)
tel +39 030.3534179
www.visionova.it

[2021-11-11 13:32] ShareBtech commented on #7732
I can confirm that this is present in 4.0.1.:

`Last execution error: Expected response code 250 but got code "554", with message "554 Transaction failed: Address length is more than 320 bytes long: '=?utf-8?Q?=D7=A8=D7=95=D7=99=D7=AA?= / =?utf-8?Q?=D7=9E=D7=9C=D7=95=D7=A0=D7=95=D7=AA_=D7=93?= =?utf-8?Q?=D7=9F_=D7=90=D7=92=D7=A3_=D7=9E=D7=A2=D7=A8=D7=9B=D7=95=D7=AA?= =?utf-8?Q?_=D7=9E=D7=99=D7=93=

[2021-11-11 16:17] silsha commented on #9987
_ignore me. just keeping this issue open._

[2021-11-11 18:57] andrew-dixon opened #10606 "Boolean required field cannot be set to "No" via UI"
### Mautic Version

4.0.1

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you have a boolean custom field that is "required" you cannot, via the web UI, set this field to the "No" (false) value, only the "Yes" (true) value. When you click either the "Apply" or "Save & Close" button, it tells you the field(s) set to "No" is required a

[2021-11-11 22:52] andres-asm commented on #10453
We are on a clean installation too, we have several actually.

[2021-11-12 10:50] trianity commented on #10604
@escopecz @kuzmany @npracht Is there any hot-fix solution suggestion to this issue?
I have more then 10 clients who need urgent help to restore functionality of Mautic to send template emails to individual contacts.
Thank for the help for advance.

[2021-11-12 10:53] damienbkx commented on #10453
I just did a test with a brand new form and the issue is there again.
Here are the steps I took to reproduce :
1) Create a new form, give it a name, leave everything to default and save & close => Works as expected
2) Click Edit button , disable "Render Style From template" , save and close => Works as expected
3) Click the edit button again. Do not change anything, save (or save & close) => Error

[2021-11-12 15:51] Agrafador commented on #10416
I'm using version 4.0.1 and if i set the "Default Frequency Rule" to 0 or blank all my emails are placed in "queue" and are never sent. The default was 0.

[2021-11-12 16:33] RCheesley commented on #10416
We believe that prior to 4.0.1 the default was null (e.g. empty) rather than 0 - hence why the problem has now arisen. Setting it to something else will resolve the problem as a workaround.

[2021-11-13 17:35] Darko-F commented on #10453
So  I go and run mautic:assets:generate in CLI and bug is still here. I delete all custom themes clean cache again, run again mautic:assets:generate and bug stil exist. In log is the same report as  @damienbkx have.

[2021-11-13 18:02:01] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Form\Exception\UnexpectedTypeException: "Expected argument of type "null or string", "boolean" given" a

[2021-11-14 16:47] javiergas commented on #4635
Hi @escopecz, I'm trying to create a segment including imported contacts that where never active (last_active = null in DB).

Using this filter
![image](https://user-images.githubusercontent.com/30293899/141690150-43aa465d-0ff3-436c-be0c-8fe9fb7aa65b.png)

I get this error:
  An exception occurred while executing 'SELECT count(leadIdPrimary) count, max(leadIdPrimary) maxId, min(leadIdPrimary) minI

[2021-11-14 19:00] escopecz commented on #4635
@javiergas it is related to MySql 8. I searched quickly and found for example https://github.com/mautic/mautic/pull/9876 which should have fix similar issue. I remember there were other similar PRs. Always make sure you run the latest Mautic version.

[2021-11-15 12:07] markusrock commented on #10540
@npracht I'm happy to share further information. Just let me know what you could need from me. It's about the Dynamic Content in the email builder. Haven't tried for other parts, since we don't use them.

[2021-11-15 12:33] npracht commented on #10540
Hi @markusrock this is legacy email builder. I invite you to switch to new email builder in plugins (grapesjs) and enjoy it :)

[2021-11-15 12:43] markusrock commented on #10540
I'd love to use the new builder. But, I could not find any functionality like the dynamic content in the Grapesjs builder, so I switched to the old version.

[2021-11-15 13:17] LucasBorthiry commented on #8329
Hi. I'm running with the same issue.

**Bug description**

**Steps to reproduce**

**Log errors**

Uh oh! I think I broke it. If I do it again, please report me to the system administrator!
500 Internal Server Error
Mautibot
Report an issue

It's pretty much the same issue. Any thoughts?

Thanks in advance.

[2021-11-15 13:57] LucasBorthiry opened #10611 "Mautic Unsubscribe link Broken"
### Mautic Version

3.2.x series (not supported)

### PHP version

7.3.31

### What browsers are you seeing the problem on?

Chrome

### What happened?

When clicking the link unsubscribe in an email sent by a campaign (generated by token {unsubscribe text}) go to an error page

### How can we reproduce this issue?

- Create email with token {unsubscribe_text}
- Create a segment test to send test

[2021-11-16 09:25] LeonOltmanns opened #10613 "Forms: Checkbox values aren't saved in contact information"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

When using checkbox in a form the value of the checkbox wont be saved into the mapped contact field.
This error occurred on Mautic 3.3.x and was tested again on 4.0.1 with the same results.

Even though the results are shown in the Contact-History.
![image](https:

[2021-11-16 14:18] andrew-dixon opened #10614 "Boolean Fields in Filters on Reports Broken"
### Mautic Version

4.0.1

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When you select a boolean field in the filters for a report instead of getting the "No", "Yes" and "Clear Filter" options for the value, it shows "No", "Clear Filter" and "Clear Filter" with the first "Clear Filter" pre-selected:

![Screenshot 2021-11-16 at 14 09

[2021-11-16 14:21] trianity commented on #10604
The issue still exists after 4.0.1 -> 4.0.2 update.
@RCheesley Is there any hot-fix solution suggestion to this issue?

[2021-11-16 15:23] richarddegoffau opened #10615 "Inline styles stripped when sending/previewing e-mail"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When adding an e-mail based on a HTML (non-WJML) theme - e.g. "Code Mode", all inline styling is stripped when sending/previewing the e-mail. All styles are moved to a <style> tag, but this doesn't show the styling correctly in most mail-clients.

### How can we repr

[2021-11-16 15:32] richarddegoffau opened #10616 "html-code is changed inside mj-raw component"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

You can add a "raw" component inside a WJML-theme.
We assume all html-content inside the <mj-raw>tag should be kept unchanged (that's why it's a **raw** component).
But when sending/previewing the e-mail, the code inside the <mj-raw> is changed - including inline sty

[2021-11-16 17:11] garzettone opened #10618 "email translations lost and overwritten by parent"
### Mautic Version

4.0.0

### PHP version

PHP 7.4.23

### What browsers are you seeing the problem on?

Not relevant

### What happened?

the issue rperoted here https://github.com/mautic/mautic/pull/10525 it is still not resolved in 4.02 version

### How can we reproduce this issue?

See https://github.com/mautic/mautic/issues/10562 to steps to repeat the problem. There is a video too.

### Rel

[2021-11-16 17:55] npracht commented on #10618
Hi @garzettone ! This is fixed in 4.0.2 by https://github.com/mautic/mautic/pull/10525
Thanks for using Mautic 🚀

[2021-11-16 17:56] npracht commented on #10618
Just saw your comment on https://github.com/mautic/mautic/pull/10525#issuecomment-970470626
@kuzmany any advice ? Because i tested and it works.

[2021-11-16 18:06] garzettone commented on #10618
Have you followed the steps I recorded in this video: https://vimeo.com/641413139/255f0df39d   ?

[2021-11-16 21:07] kuzmany commented on #10618
That  PR just extend Mautic with method,  what we have to use it in GrapesJS bundle
Let's test this PR https://github.com/mautic/mautic/pull/10620
Should fixed it finally

[2021-11-17 07:36] richarddegoffau commented on #10616
In Step 3 of my description are the tags stripped - new try:
Step 3: Put the following content into the raw component: "\<p style="color: #ff0000"\>Test code\</p\>"

[2021-11-17 10:10] jd6-37 commented on #10611
I'm having the same exact issue. Was hoping to send our first newsletter today, but this is obviously critically holding us back. FYI, I tried with and without the preference center. We're on v4.0.1.

Edit: Updated to v4.0.2 and it appears to be fixed for me.

[2021-11-17 10:19] alexhammerschmied opened #10621 "Date as Segment Filter returns 1 day less every time"
### Mautic Version

4.0.2

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When I use a date as filter for a segment with a relative value i.e today, yesterday, 2 days ago, or similar logic it returns one day less every time.
If i put in tomorrow, i get the date of today.

### How can we reproduce this issue?

Step 1: create a custom field

[2021-11-17 10:19] alexhammerschmied commented on #10621
I run Version 4.0.2

[2021-11-17 16:52] rvalle opened #10625 "Regression 4.0.2? Redirection loop to same URL"
### Mautic Version

4.0.0

### PHP version

php@mautic-docker

### What browsers are you seeing the problem on?

Firefox

### What happened?

4.0.1 is working fine behind haproxy with SSL termination.
after updating to 4.0.2 a redirect loop is introduced.
the redirect loop is peculiar because it loops to the exact same URL:  ```site_url```

### How can we reproduce this issue?

Step 1:  install ma

[2021-11-17 21:48] dongilbert commented on #9797
Thanks for the detail here @giomasce - I've approved #9829 to fix this

[2021-11-17 23:06] exsesx commented on #1415
I vote for the same functionality...

I have my website and I want to redirect my customers to the custom page, get the unique hash or encrypted data, decrypt it if I have to and let users update their  notification settings.

So far I don't see how this can be done.

[2021-11-17 23:10] exsesx commented on #1415
Small update:

Possible solution was published [here](https://forum.mautic.org/t/embed-preference-center-and-unsubscribe-into-my-site-unique-user-identifier/17073).

Author suggested to use a custom field and populate it with some unique value that can be used later.

This may be a solution to the described issue 🤷🏼‍♂️

Perhaps this will be useful to someone.

[2021-11-18 00:44] Jammmmm commented on #8992
As above. Replying to keep this issue open because it still exists. Also as above, I have not tested the 4.x series.

[2021-11-18 03:39] shekhar677 commented on #10572
It's the same thing with Mautic 4.0.2 also

[2021-11-18 03:55] shekhar677 commented on #10572
Thanks for this solution 👌

[2021-11-19 07:33] notz opened #10629 "GrapesJS / mjml style manager read/writes padding differently"
### Mautic Version

4.0.2

### PHP version

7.4.15

### What browsers are you seeing the problem on?

Chrome

### What happened?

The GrapesJs style manager reads only the following padding format when selecting an element: `padding="15px 0 0"`. But after changing some values the changed padding is written like this: `padding-top="10px"`.
The next time the element is clicked it reads out the old v

[2021-11-19 08:19] notz commented on #10629
Issue seems to be resolved in grapesjs/mjml version 0.5.6 (mautic is using 0.5.5) -> https://github.com/artf/grapesjs-mjml/pull/237

[2021-11-19 14:35] Darko-F commented on #10453
I update mautic to 4.0.2 via CLI and bug still persist

[2021-11-19 19:59] TechBill opened #10631 "Browser auto-complete being triggered on fields where it's not relevant"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

Browser autofill menu opens up masking the calendar selection which is behind the autofill menu.

Need to either remove the input box and use calendar icon to open it or disable the autocomplete on the input box using html autocomplete="off"

Honestly, I don't see a real r

[2021-11-19 20:07] TechBill commented on #10631
I can see that input box is needed to be able to edit it to more a specific minutes

Then we just need the autocomplete off and the calendar icon clickable to open calendar picker

[2021-11-19 21:48] TechBill commented on #10631
Changing the autocomplete="false" to autocomplete="nope" seems to fix it for me

[2021-11-19 21:48] TechBill commented on #10631
basically any random string lol

[2021-11-19 21:53] ikolubr opened #10632 "Error when using ZohoCRM plugin"
### Mautic Version

4.0.2

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari

### What happened?

When trying to push contacts to ZohoCRM, I get the following errors and the contact doesn;t get pushed to Zoho:

When running CRON mautic:campaigns:trigger:
```http_build_query() expects parameter 1 to be array, string given in /var/www/htdocs/vendor/guzzl

[2021-11-21 12:56] dennisameling commented on #10604
Can confirm this issue exists at least in 4.0.1. Seems that this regression was introduced in 4.0.0 with the introduction of the new GrapesJS builder logic, where we had some issues with the CKEditor vs Froala editors. CC @adiux

[2021-11-21 16:20] donbowman commented on #10342
so i asked for some input but no response. i don't really understand the strategy here, but i am using on tidb w/o trouble, and really think its a better forward approach if mautic ever starts to get better at could native.

i'm not sure how one changes the historical migrations, which is what is needed, since they are coded to a specific version of a specific db.

[2021-11-21 18:36] Plato39 commented on #9548
This is still not solved.  I'm not sure if it's actually breaking anything.

[2021-11-21 19:31] mabumusa1 commented on #10342
@mlahlouh please provide some input on this issue.

I think @donbowman has made some progress, it would be great if we can support him

[2021-11-21 19:37] ropic opened #10633 "Custom plugin EMAIL_ON_SEND first contact, $event->getTokens() is empty"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Not relevant

### What happened?

With custom plugin using listening event ,$event->getTokens() returns empty on first contact

### How can we reproduce this issue?

Step 1: Create custom plugin with event listener EmailEvents::EMAIL_ON_SEND
Step 2: On callback function try to read $event->getToke

[2021-11-21 21:05] #10310 closed, assigned to nobody

[2021-11-21 21:05] #10290 closed, assigned to nobody

[2021-11-21 21:05] #10284 closed, assigned to nobody

[2021-11-21 21:05] #10286 closed, assigned to nobody

[2021-11-21 21:05] #10267 closed, assigned to nobody

[2021-11-21 21:05] #10262 closed, assigned to nobody

[2021-11-22 06:49] jos0405 commented on #10611
Quick question: did you test a real segment send or you did a 'test send' before you noticed the unsub ink broken?

[2021-11-22 08:44] MarioP-Dev opened #10634 "Database Enviroment variables not working"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I don´t know why Mautic's Docker container is not grabbing the MAUTIC_DB_HOST environment variable. It's grabbing all the other variables except that. So an exception throws indicating the impossibility to connect to the database because it continuously tries to c

[2021-11-22 09:04] RCheesley commented on #9044
@dennisameling seems like this could be a simple thing to do - is it just a case of adding the secret or do we need to write the tests to check the functionality?

[2021-11-22 09:06] RCheesley commented on #9284
Removed Stale label as it seems this is still a problem.

[2021-11-22 20:24] DicopayTechnology opened #10637 "Mautic 4 - Twilio, can't send more than 1 text message, it breaks after the first sms"
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Chrome

### What happened?

Activated the Twillio plugin.
Managed to send a test message using the Twilio registered number.
When I send the second text message then it breaks.

In the contact, event log is says:
Last execution error: Scheduled

I also tested on two different servers, one version

[2021-11-22 20:37] mlahlouh commented on #10342
TiDB does not support multi schema change (ALTER TABLE with multi ADD/MODIFY/DROP/CHANGE/ALTER); should run each change in a separate ALTER statement.

I used TiDB before with no issues but with an in-house system (we care about what we used), I think for now there is no open-source application seamless support such as these systems (TiDB/Vitess, etc...).

To solve this issue, we should make the m

[2021-11-22 20:49] DicopayTechnology commented on #10637
Update:
The bug seem to be that the global settings for how many text messages that are allowed to be sent is ignored.

There is a hack, but you need to do it on every contact that you want to send text messages to.
1. Go into the contact that you want to be able to receive more than 1 message per day.
2. Go into preferences.
3. In channels set Text messages per day to as many as you want to be ab

[2021-11-22 21:05] #10318 closed, assigned to nobody

[2021-11-23 01:16] donbowman commented on #10342
is there a way to `checkpoint` or at least provide `full schema`? e.g. rather than a set of alter statements from some point in time, have a current full set?

I use wordpress, mautic on tidb. its difficult in kubernetes to use non cloud native (cockroachdb, tidb) database.

[2021-11-23 01:17] donbowman commented on #10342
failing that, i guess some shell script could convert the existing alter statements to compatible ones

[2021-11-23 01:26] #10285 closed, assigned to nobody

[2021-11-23 10:37] jos0405 commented on #10614
Confirmed, I also have the same issue.

[2021-11-23 11:56] Masho123 commented on #9617
Hello Dear All,

i am new and install mautic thour cpanel on subdomain using it smoothly but 3 days ago i create user and and going to adjust setting roles for my new user via my administrator account after save setting. my mautic give me error 500 like this and giving me access to log in my administrator account and showing this error

Issue 1:
Message i received every time when i try to login to

[2021-11-23 15:41] jjroelofs commented on #10453
I'm also experiencing the same issue. Running the commands mautic:assets:generate and mautic:cache:clear dit not help.

Basically the form is bricked, you cannot set the Render Style version back to 1 by saving the form again.

I had to run a query inside the database to continue editing the form. In case it's useful to anyone, you have to run this code in your MySQL database, replacing the ID val

[2021-11-23 16:07] Deaton64 opened #10638 "Mautic email issue - Mandrill failed to authenticate"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

Hello,
this seems very similar to an issue reported with version 3, but no one replied to you and the issue was closed.
I have inherited a Mautic 2 installation, that I have migrated to a Mautic 3 and then to version 4.
Mostly all seems OK, except I get the error:

`[20

[2021-11-23 16:15] bell87 commented on #8595
Any update on this feature? Would be great if it was in mautic core. If anyone has advice for how to implement it I could spend some time working on it?

[2021-11-23 16:22] RCheesley commented on #8595
You can test this: https://github.com/mautic/mautic/pull/8794 which we hope to include in the next release at the end of the month. It currently has a conflict to be addressed but just needs to have another test.

Here's some guidelines on how to test: https://contribute.mautic.org/contributing-to-mautic/tester

[2021-11-23 16:37] JyFu-py commented on #10285
same problem on mautic 4.0.1

![image](https://user-images.githubusercontent.com/67822884/143065740-83c46e41-3ebd-4835-87a6-02fbaaec6981.png)

[2021-11-23 18:33] Darko-F commented on #10453
My workaround was, I create custom theme with name Norender :) with using link to my website template as style. Still I need clone forms before make any changes, or update database with render_style=1

[2021-11-23 19:31] masonkeefe93 commented on #6445
Hi Ruth,

Apologies for bumping a dead thread however I am struggling to find any other info on this on both the Mautic forums and Github.

This was reported as expected functionality however has the ability to allow these pending emails from old campaign contacts been enabled at all in Mautic 4? We are still on Mautic 2 so are wondering if it is worth upgrading to fix this...

Regarding the worka

[2021-11-23 21:29] bell87 commented on #8595
Tested #8794 works well. Thanks

[2021-11-24 07:45] escopecz commented on #8329
@LucasBorthiry it may be different issue because the one above was fixed in 3.0.0-beta so you should have the fix in your Mautic instance. Please check [Mautic logs](https://docs.mautic.org/en/troubleshooting).

[2021-11-24 08:19] Corsnec commented on #10453
Same problem here! ;(

[2021-11-24 10:01] NajamShehzad commented on #10453
I temporary solve this issue by hitting the API endpoint.
Patch Request:
URL: `https://{yourMauticUrl}/api/forms/{form_id}/edit?access_token={access_token}`
Body: `{"renderStyle":true}`
This will let fix your form until you disable the styles again and let you update the fields.

This is temporary, we still need a permanent fix.

[2021-11-24 16:53] trianity commented on #10604
Hello @dennisameling !
Do you have any hot fix solution to resolve this issue?

[2021-11-24 17:19] Sharma-Ashish opened #10640 "Mautic crashed: internal server error after editing dashboard "Best email read hours" widget"
### Mautic Version

4.0.0

### PHP version

7.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened! Mautic version 4.0.2.
Mautic has crashed after editing a simple "Best email read hours" widget.
Even clearing cache doesn't bring it to life.

### How can we reproduce this issue?

Step 1:  Edit "Best email read hours" widget.
Step 2: Set time format

[2021-11-24 17:28] ghost opened #10642 "Uncaught Error: Unable to parse color from string (libraries.js)"
### Mautic Version

3.3.4

### PHP version

7.3

### What browsers are you seeing the problem on?

Firefox, Chrome, Microsoft Edge

### What happened?

When I changed the PHP timezone and time settings.

Then when I went to the dashboard panel and where it contains charts, it happens again.
Images below show what happens:

![Screenshot_1](https://user-images.githubusercontent.com/94984546/14328624

[2021-11-24 18:00] Sharma-Ashish commented on #10640
Yes. I created it.

[2021-11-24 18:18] Sharma-Ashish commented on #10640
Update: fixed cache permission issues. But still getting 500 internal server error.

I think the problem is here:
`[2021-11-24 22:11:24] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call to a member function getCount() on int" at /var/www/mautic/app/bundles/StatsBundle/Aggregate/Calculator.php line 187 {"exception":"[object] (Symfony\\Component\\D

[2021-11-24 20:06] ghost commented on #10642
I imported 18 thousand contacts too, but until then everything was normal. With the color chart and etc.

[2021-11-24 20:55] rodneipires opened #10643 "Erro ao Salvar Relatório"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Chrome

### What happened?

Ao tentar salvar o relatório Emails Enviados. Está retornando erro por conta do filtro selecionado.

### How can we reproduce this issue?

Vídeo anexo.

https://youtu.be/4peDEr7Skn8

### Relevant log output

[code]

### Code of Conduct

- [X] I confirm that I have read

[2021-11-24 21:34] peter-palmer opened #10644 "rename(): supplied resource is not a valid Stream-Context resource"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

I have triggered the command `mautic:emails:send` from the command line and just got this error:

`rename(): supplied resource is not a valid Stream-Context resource in /home/user/web/mautic.domain.com/public_html/app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.ph

[2021-11-24 22:26] #10304 closed, assigned to nobody

[2021-11-24 23:51] pstevens71 commented on #10024
I can tell you that Mautic definitely pushes the contact to SuiteCRM with the "synccontacts" and by checking the box in the setting to push contacts.  It will push all contacts.   However, it will not push a contact by itself if you have that unchecked and try to do it by a campaign workflow or a form action.  This has been an issue for many releases.

So unless I'm misunderstanding how it's suppo

[2021-11-25 03:44] ghost commented on #10642
Going back to the settings in PHP from the en_US locale got back to normal.

Config em server:
![Screenshot_3](https://user-images.githubusercontent.com/94984546/143375977-2e91af76-33d0-483b-a967-0e1f91893c0b.png)

Dashboard:
![Screenshot_4](https://user-images.githubusercontent.com/94984546/143376000-2e8e1014-97f5-4b09-9e29-33c53460ff21.png)

Dashboard + console:
![Screenshot_5](https://user-imag

[2021-11-25 07:25] Sharma-Ashish commented on #10640
UPDATE: FIXED

Ran following commands on my machine:

1 .Fist login as root user in your mysql.

`sudo mysql -u root`

2. Replace  `mautic-database-name`  with your own mautic database name and run this in mysql interface:

`USE mautic-database-name;`

3.  Print widgets table:

`SELECT * FROM widgets;`

4. find out the ID of the widget that is broken and update its params, in my case the ID of the

[2021-11-25 10:47] ftenrique commented on #9011
4.0.2  still not solved

[2021-11-25 13:55] elilogan commented on #10611
Check permissions on the var/log directory. As a test set them to 777 and then try to click unsubscribe link. Then walk back permissions to whatever is applicable to your application.

[2021-11-25 16:05] pstevens71 commented on #10024
I did some more testing this morning just to rule out a couple of things.  I tested both mautic:integration:synccontacs and mautic:integration:fetchleads  and sync is only one way. SuiteCRM -> Mautic only. (even with the arrow pointed to SuiteCRM from Mautic in the plugin settings).

[2021-11-25 16:13] LucasBorthiry commented on #10611
yup. I tested a real segment and also a "test send", none of them worked.

I had read that solution, but I didn't try it. I think that it may work. but what I did was to restore a backup version of the installation and the issue has gone.

I think I had touched something in the configuration, but I really don't know what. I will be more careful from now on.

[2021-11-25 16:15] LucasBorthiry commented on #10611
@j26w  You should try what @elilogan is saying and report to us so that we know how to deal with this in the future.

[2021-11-26 08:22] jos0405 commented on #10606
I could reproduce this:
![image](https://user-images.githubusercontent.com/4246909/143549551-636080bc-620a-47eb-b90b-ee885730ffe5.png)
My default setting was no btw.

[2021-11-26 08:29] jos0405 commented on #10492
It can happen if
- some of the contacts have no valid email
- or some contacts already recieved this email

[2021-11-26 09:16] jos0405 commented on #10464
Nice fix, works for me. Test conf needed, and good to go :D

[2021-11-26 09:21] Dylan-86 opened #10648 "Mautic keeps crashing with 150k contacts on a powerful machine"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Mautic keeps crashing.

We have approx 150k contacts and in these days we should be sending Black Friday's deals.
A mess.
Messages scheduled to be sent at 8 AM local time on Wednesday arrived 15 hours later.
Mautic has already crashed 3 times in 2 days.

We need help

[2021-11-26 09:23] jos0405 commented on #10568
This issue is generating a LOTS of questions in Mautic forums. Everyone thinks, there is something wrong with the API calls they make, as the calls return "not found". As next step poor vicims try to look for the /api/ folder and get nowhere, since it's not a real folder, just a virtual path. The next step is they try to install an api extension or something. Really annoying.

Can we maybe add tex

[2021-11-26 18:33] xefxipi opened #10650 "Email Generator Bug Mautic 4.0.2"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Chrome

### What happened?

I have a probleme to creat or generate an email
Trying to access array offset on value of type bool - in file /home/c1738483c/public_html/app/app/bundles/EmailBundle/Entity/StatRepository.php - at line 525 {"query":"[object] (Doctrine\\DBAL\\Query\\QueryBuilder: SELECT

[2021-11-27 18:43] pstevens71 commented on #10024
This is still relevant!  I'm on 4.0.2 and still a problem.

OK did some more testing.

IF you update a contact on SuiteCRM side, Mautic WILL update the fields in SuiteCRM where Mautic is the primary field of record.

(SO IT DOES IN FACT GO MATUIC-> SUITECRM TO UPDATE SUITECRM FIELDS)

HOWEVER....

IF only a field changes on the Mautic side (even if it's tagged as the primary field of record in the

[2021-11-28 07:59] mabumusa1 commented on #10561
Hi @npracht ,

I faced this issue as well with version 4.0.2, I still do not know the cause of the issue yet

Here is the error I got
`[2021-11-28 07:17:55] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\DeadlockException: "An exception occurred while executing 'UPDATE m4_leads SET date_modified = ?, last_active = ? WHERE id = ?' with params ["2021-11-28 07:17:55", "2021-11-28 07:

[2021-11-28 15:22] mmarton opened #10651 "Mautic/core-lib requires non-existst dependency"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

_No response_

### What happened?

Hi!

I'm experimenting with plugin development and tried to require the core-bundle to be able to run phpunit phpstan and others.

Problem 1
    - mautic/core-lib[4.0.0-alpha1, ..., 4.x-dev] require friendsofsymfony/oauth-server-bundle dev-doctrine-fix -> found f

[2021-11-28 18:02] FKrafft opened #10652 "Campaign, can not select existing text messages when creating a text message action"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Chrome

### What happened?
Running 4.0.2

I was creating a campaign for text messages.
Existing text messages do not show in the selector within the campaign builder.
You need to create a new text message for each campaign text message action.

![TextMessages-Empty](https://user-images.githubuserc

[2021-11-29 17:56] Entrepositive commented on #10453
Entrepositive touching base - we have the same issue as well. 500 Internal Server error on Form save, with or without "Render style from Template" disabled. Last week we created and updated forms; this week, 500 error.

I think I'm doing something wrong on the command line...

sudo: mautic:assets:generate: command not found
]# sudo bin/console mautic:assets:generate
sudo: bin/console: command not

[2021-11-29 20:11] andres-asm commented on #10453
why are you running those with sudo, even if they were executable you should run them with php, not sudo, and not with superuser privileges

[2021-11-29 20:46] Entrepositive commented on #10453
I couldn't agree with you more! Let's assume I don't know how to run the "mautic:assets:generate" command and would really like to. How would I run that command?

Thanks,
EP

[2021-11-29 22:09] MarketSmart commented on #9491
@kuzmany I tested this on my end. Seems to have fixed it for me. Can one other person test this as well.

[2021-11-29 23:20] trianity commented on #9491
@kuzmany I also tested the solution and in my side it works well, the issue was fixed.

[2021-11-29 23:22] #10331 closed, assigned to nobody

[2021-11-29 23:22] #10328 closed, assigned to nobody

[2021-11-29 23:22] #10327 closed, assigned to nobody

[2021-11-29 23:22] #9660 closed, assigned to nobody

[2021-11-30 07:53] reegen66 opened #10658 "Webhook payload stage object not complete"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Json payload generated by webhook event is missing stage properties:

"stage": {
          "createdByUser": "Piotr",
          "modifiedByUser": null
        }

When manually queried by API contact payload and stage looks correctly.

"stage": {
"createdByUser": "Piot

[2021-11-30 09:10] kuzmany commented on #9491
@MarketSmart @trianity can you go to PR and approve it. Then we can merge it to 4.1 I hope (@RCheesley )

![image](https://user-images.githubusercontent.com/462477/144018149-c20a898c-3596-46cb-b7a4-2d3ddb698158.png)

[2021-11-30 11:12] RCheesley commented on #9491
4.1 was released last night, so the soonest this will be released is 4.1.1 toward the end of December.

[2021-11-30 11:24] trianity commented on #9491
@kuzmany I am sorry, but I am not authorized to approve and merge PR-s.

[2021-11-30 11:30] trianity commented on #9491
@kuzmany The PR was already approved by @npracht but this automatic check was failed:
https://github.com/mautic/mautic/pull/9516/checks?check_run_id=3643945735

[2021-11-30 16:00] ttencate commented on #6199
The right format as of Mautic 4.1 seems to be `yyyy-MM-dd HH:mm`. But before, I used `2018-06-16T06:00:00+00:00` just like you, and it used to work.

[2021-11-30 16:01] DigitalFreelancing commented on #6597
You just need to clean your Mautic cache for fix the problem. It's located in /var/cache

Just delete everything inside that folder. It worked for me :)

[2021-12-01 08:28] stefanvetter commented on #9011
The bug still exists in 4.1 and is very annoying.

[2021-12-01 09:49] Dylan-86 commented on #10420
Update again.

Still empty. No email show up in the report for the past month even though MILLIONS of emails have been sent by Mautic.

Can someone please help here?

[2021-12-01 10:34] charles-talk2us opened #10659 "Dashboard Widget | Upcoming Emails - Clock is out by 2 hours (ahead)"
### Mautic Version

4.0.0

### PHP version

7.4.x

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

When using this widget and there are upcoming emails scheduled, the Dashboard report shows that the upcoming emails are scheduled to be sent 2 hours ahead of when they are set to be sent as per the relevant Campaign.

In practice and testing I have found that the

[2021-12-01 14:32] cshann56 opened #10662 "Configuration > Email > Send Test Message: ssl3_get_record:wrong version number when using GMAIL"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I am using version 4.0.2, and after configuring Mautic for using gmail as my smtp server, and testing connection with success, pressing Send Test Email button fails and gives this message on the page:

`Connection could not be established with host smtp.gmail.com

[2021-12-02 04:21] cshann56 commented on #10662
Here is the easy workaround, which is that you just use "Other SMTP Server", with credentials appropriate for gmail. And it works; the email made it into the gmail inbox. This shows that the gmail setting is definitely broken:

<img width="829" alt="image" src="https://user-images.githubusercontent.com/15327465/144357058-3c7cdd38-88c9-4eac-854b-cfee3b42af5c.png">

[2021-12-02 14:45] ivan006 opened #10664 "Ok but is there a event listener for email events occurring from an external system? because its not that far fetch to require external event data as this could help qualify leads"
### Mautic Version

4.0.0

### PHP version

7.3.27

### What browsers are you seeing the problem on?

Firefox

### What happened?

Ok but is there a event listener for email events occurring from an external system? because its not that far fetch to require external event data as this could help qualify leads

### How can we reproduce this issue?

Step 1: Ok but is there a event listener for email

[2021-12-02 23:06] mohamettarik commented on #8457
I have the same issue. Mautic 4.1
Surprised that installation successed when i changed from MYSQL POD to MYSQLi

I tried deleting the data base and started over, i got this error "An error occurred while attempting to add default data: There is no active transaction
"

But i would like the recommended way, i deleted the installation and looking for solution.

[2021-12-03 21:59] biblio-francisco commented on #9825
@npracht -
I believe this is an existing issue with all segment filter operators. I am able to reproduce it even with the operators that are supposed to be supported.

For example:
`{'name': 'All Contacts X', 'filters': [{'object': 'lead', 'glue': 'and', 'field': 'date_identified', 'type': 'date', 'filter': '2021-11-11', 'operator': '='}]`

Gives this response:
`[{'code': 400, 'message': 'operator

[2021-12-05 11:47] FKrafft commented on #5793
I have a similar issue,
Wanna track down what is off.
Considering the UID is off.
Does anyone know where I can print out UID, and see what search paramers are being using for imap serach. A hint of what I should search manually in the db?

[2021-12-05 16:14] donbowman commented on #10393
i will get around to the PR.

[2021-12-06 04:32] #7882 closed

[2021-12-06 04:32] #8153 closed

[2021-12-06 04:32] #8913 closed, assigned to nobody

[2021-12-06 04:33] #10110 closed, assigned to nobody

[2021-12-06 07:12] ivan006 commented on #6389
This is why we leaving Mautic goodbye!
EDIT: OK we tried Zoho they also don't have any person activity endpoints so we may return -_-
EDIT EDIT: Just realized Zoho enables custom modules so will just build a module called "external activities" ! bye again!
EDIT EDIT EDIT: We are coming back again (Zoho lookups cant trigger point gains). So now im making an extension and implementing these 2 functi

[2021-12-06 13:12] bradycargle commented on #9804
Still present in 4.1. I will work on fixing this, since it is very annoying

[2021-12-06 14:52] alexhammerschmied commented on #10024
I ran into a different error. When I try to run the cronjob mautic:integrations:fetchleads  or mautic:integrations:synccontacts it gives me this error:

  ".

[2021-12-06 15:02] charles-talk2us opened #10666 "Can't create new Stand Alone Forms since 4.1.0 upgrade"
### Mautic Version

4.0.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

I tried to create a new stand alone form, since the upgrade to version 4.1.0 was completed. I get an the same error on all 4 instances we have.

The error message is "There was an error creating the submission results table. Try a different name."

No amount of

[2021-12-06 17:15] andres-asm commented on #10453
you would go into the mautic installation folder and then run

[code]

[2021-12-06 18:42] raramuridesign commented on #10666
@RCheesley  I consider this an important bug to look at, reported since the last upgrade
version 4.0.0

There are NO Error LOGS to report.

I can confirm this is a problem on multiple instances, different servers, with the same PHP and Apache setup as above.

Brower: Chrome

After Saving a NEW FORM the following screenshot information shows.

![image](https://user-images.githubusercontent.com/9023

[2021-12-06 19:43] ilsebrase commented on #9045
Hi, currently running 3.3.4 but still seeing this issue:
<img width="869" alt="Screenshot 2021-12-06 at 21 41 44" src="https://user-images.githubusercontent.com/65490217/144911592-95f76f81-44eb-4899-8f65-64900731a67b.png">

Could someone guide me on how to resolve or status of PR please?

[2021-12-06 21:06] Entrepositive commented on #10453
@fr500 <3 Thank you!

[2021-12-06 21:14] Entrepositive commented on #10453
Unfortunately, even after generating assets and clearing cache, we still have the issue.

This would be awesome if someone who knows the solution could share!

[2021-12-07 03:38] Bibhudatta-Sahoo-ASMB commented on #9045
Hi @ilsebrase ,
I had added the pull request, but due to some formalities the PR is not added.
But if you wish you can check the PR, please find the link below.
https://github.com/mautic/mautic/pull/9106

[2021-12-07 04:05] mabumusa1 commented on #9045
@Bibhudatta-Sahoo-ASMB I can help you get your PR merged. Are you still interested?

[2021-12-07 04:14] Bibhudatta-Sahoo-ASMB commented on #9045
Hi @mabumusa1,
Yes I am interested.

[2021-12-07 05:24] riazanovslv commented on #9045
I also look forward to this merge.

[2021-12-07 10:57] dsp76 commented on #10453
This is also broken in 4.1.0

[2021-12-07 12:19] MaraKasubke opened #10669 "Boolean contact fields get overwritten through action update contact in campaign"
### Mautic Version

4.1.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Firefox

### What happened?

When updating contact fields through a campaign the boolean fields get overwritten with the default setting. There ist just YES and NO, a third option (the little x) from before is missing. So if I change a contact field through a campaign through the action update con

[2021-12-07 13:28] TonyBogdanov commented on #10517
Any news on this? It's currently not possible to do push leads to HubSpot / Salesforce because of this bug.

[2021-12-07 14:18] mabumusa1 commented on #9045
Let's pick this PR again

[2021-12-07 15:15] TonyBogdanov opened #10670 "Treating an array as a string"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The code at (and after) this line: https://github.com/mautic/mautic/blob/5975231722cfde8bdad783b373c70ad20333db37/app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php#L90

is assuming that the result of `$response->getHeaders()['Content-Type']` is a st

[2021-12-07 17:40] TechBill opened #10672 "MJML full-width not functioning as intended."
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome, Not relevant

### What happened?

full-width="full-width" string is supposed to make mjml wrapper or section background a full width.  This string seems not functional in 4.0.1

More info about full-width on MJML document - https://documentation.mjml.io/#mj-section

### How can we reproduce t

[2021-12-08 03:53] rpayanm commented on #10453
Please review my patch (https://github.com/rpayanm/mautic/commit/6eba3d1c4f8a19301d32a12ffa9ba86d65437ded), I tested it on my local, I removed that line, and everything worked fine.

[2021-12-08 08:30] damienbkx commented on #10453
Thanks @rpayanm  ! I confirm your fix works for me. I do not know if it has any side effects on other parts of Mautic. I'll make sure to keep you guys posted if I notice any problem that might be related to this fix.

Thank again and good day to everyone!

[2021-12-08 10:17] sofocle80 commented on #9011
After 60 minutes on creating a newsletter with the included email builder, I los everything because it logs me out this is really bad... Btw, just updated to 4.1

[2021-12-08 12:23] MarkerB commented on #9011
I think many people here are experiencing a premature logout after 10 minutes, for which I have a simple workaround hack that's been successful for 9 months now.

A premature logout is technically not the same as "keep me logged in not working".

My workaround is in the "premature logout" thread here: [https://github.com/mautic/mautic/issues/9804#issuecomment-806422002](https://github.com/mautic/m

[2021-12-08 13:49] Darko-F commented on #10453
I apply fix from @rpayanm and is working. Thank you.

I wonder why for some all working OK without this fix and we need it to get it work?

Good day to everyone!

[2021-12-08 14:29] rpayanm commented on #10453
@npracht you can reproduce this issue like this:
1. Create a New Standalone Form.
2. Set the Name, Set "No" on the "Render style from Template?" field.
3. Click on "Save and close".
4. Edit this form, don't change anything.
5. Click on "Save and close" and you will see the error.

[2021-12-08 16:32] #10367 closed, assigned to nobody

[2021-12-08 16:32] #10370 closed, assigned to dennisameling

[2021-12-08 16:32] #10369 closed, assigned to nobody

[2021-12-08 16:58] ciflycom commented on #10666
I just tested this on PHP 7.4 and Mautic 4.1.0 and do not see this problem.
Are you running anything special in your installation, maybe some plugin?

[2021-12-08 17:22] nikolaknezeviccom commented on #10648
You probably already fixed or figured out this, but in case you did not here are some finding from my testing.
Mautic 4.1.0 PHP 7.4

Seems that any segment or any campaign as well as import is done without "resource thinking". I managed to run 700k contacts on Mautic 4.1 with no problem but what I noticed that PHP scripts that run via cron do not clear memory. What that means?
Well in short more d

[2021-12-08 17:24] jolaun commented on #10666
I have the same issue. I have no special configuration or installation. My mautic is running on a plesk environment.

[2021-12-08 17:37] nikolaknezeviccom commented on #10666
I am running 4.1.0 Mautic with Maria DB 10.6  PHP 7.4 and Plesk with Litespeed
I do not get that error (empty installation with 500k contacts in it imported).
Created few types of forms once I saw this but not a problem for me.

[2021-12-08 23:36] Docki-cz commented on #10644
**We have the same problem with Mautic.**
PHP version: 7.4.25

run command: **mautic:emails:send** from the command line and just got this error:

PHP Warning:  rename(): supplied resource is not a valid Stream-Context resource in /var/www/web/app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php on line 150

PHP Warning:  rename(): supplied resource is not a valid Stream-Context resource i

[2021-12-08 23:40] jensolsson opened #10675 "Send form results does not respect the "Reply to contact" setting"
### Mautic Version

4.1.0 (4.0.0 does not have this issue)

### PHP version

7.4.20

### What browsers are you seeing the problem on?

Safari

### What happened?

If we have a form with a **Send form results** action and we set **Reply to contact** to **Yes**, it is no longer sending the e-mail with a reply-to header matching the e-mail field.

Instead it send from the global reply to, and if we t

[2021-12-09 00:16] Entrepositive commented on #10453
Yes! This worked! Hopefully this makes it into the main code for the next update. Good work, @rpayanm . So stoked.

EP

[2021-12-09 08:35] ghost opened #10676 "Reports doesn't show dynamic filters on M4"
### Mautic Version

4.0.0

### PHP version

7.4.24

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

I made new report with Data Source contact and I for example choose filter by Owner and set up this as dynamic. On report page I don't see my filter. Only date range.

### How can we reproduce this issue?

Step 1: Make some report
Step 2 Make new filter and set

[2021-12-09 09:55] MaraKasubke commented on #10666
No problem on Mautic 4.1 PHP 7.4.26, Firefox

[2021-12-09 10:17] charles-talk2us commented on #10666
I tried Firefox, the issue remains... :(

[2021-12-09 10:22] charles-talk2us commented on #10666
I thought of trying to clone a Form and renaming it.

**Please Note:** I can't clone an existing form either can you @raramuridesign or @nikolaknezeviccom ?

[2021-12-09 10:26] nikolaknezeviccom commented on #10666
On my Mautic ( 4.1.0 Mautic with Maria DB 10.6 PHP 7.4 )
Creating standalone as well as campaign forms works for me.
Cloning from campaign to standalone works.
Cloning from standalone to standalone works.
Cloning from standalone to campaign works.

[2021-12-09 10:47] LeonOltmanns commented on #10229
Hi there, is there any update to this?

I'm currently still running into this issue after updating my a Mautic Staging-Instance from 3.3.4 to 4.1.0. and its keeping me unsure about updating our main-instance to M4, because I'm afraid of running into the same error on the Live-System.

I have tried to fix this issue by patching my instance with the PR #10509,  as well as generating assets which I r

[2021-12-09 10:56] nickveenhof opened #10677 "Trigger to assign point to a repeating page hit (returning visitor action) is also triggered on first hit"
https://github.com/mautic/mautic/blob/4.x/app/bundles/PageBundle/Entity/HitRepository.php#L276

This will execute the following PHP code if there are no former entries:
`new \DateTime(null, new \DateTimeZone('UTC'));`

Causing the following results

[code]

causing the action to be triggered. The logic should actually return FALSE and the corresponding code in  https://github.com/mautic/mautic/blo

[2021-12-09 10:57] nickveenhof commented on #10677
Seems like I am a bad searcher and this issue is potentially duplicate with https://github.com/mautic/mautic/issues/10316

[2021-12-09 10:58] nickveenhof commented on #10316
Confirmed that this is still relevant! Last tested with Mautic 4.0.2

[2021-12-09 11:06] nikolaknezeviccom commented on #10666
@charles-talk2us  Can you try on the same server plain install of Mautic 4.1 maybe there is an issue while upgrade only?

[2021-12-09 11:14] charles-talk2us commented on #10666
@raramuridesign would you be able to do a plain fresh install on one of our instances so we can check this please? Thanks for the suggestion @nikolaknezeviccom

Maybe a standalone rather @raramuridesign, not sure how we'll preserve the data?

[2021-12-09 15:42] dsp76 commented on #10453
Tested it as well. It works.

[2021-12-09 16:18] ivan006 opened #10678 "Implimenting EmailModel class in my plugin"
### Mautic Version

4.0.0

### PHP version

7.3

### What browsers are you seeing the problem on?

_No response_

### What happened?

Tryna implimenting EmailModel class in my plugin but getting error

### How can we reproduce this issue?

Step 1: use thois code

[code]

### Relevant log output

[code]

### Code of Conduct

- [X] I confirm that I have read and agree to follow this project's Code o

[2021-12-09 22:03] leoborlot commented on #10604
+1

[2021-12-10 13:52] Almack2013 commented on #10604
+1

[2021-12-11 13:27] russkiimike commented on #9887
Any updates?

[2021-12-11 21:09] alexbrazier commented on #10615
We are also seeing this in `4.1.0`. Did you find any workaround @richarddegoffau?

[2021-12-11 21:45] alexbrazier commented on #10615
I've found a workaround for now. It seems to be related to the new WYSIWYG email editor (GrapeJS).
If you go to `Settings->Plugins` and disable GrapeJS you can then select the code mode template and paste the formatted html without it making changes.

[2021-12-13 08:59] richarddegoffau commented on #10615
Turn off the GrapeJS editor is a workaround, but you'll miss the features of GrapeJS too.
I now use only the Brianz theme as a workaround.

[2021-12-13 12:42] #9674 closed, assigned to nobody

[2021-12-13 13:58] russkiimike commented on #9128
This helped me as well thank you. Install the dependency and reboot

[2021-12-13 14:15] bradycargle commented on #9011
I'm working on this bug now (as well as #[9804](https://github.com/mautic/mautic/issues/9804))

[2021-12-13 14:58] MarkerB commented on #9011
Yay! Thank you.

[2021-12-14 06:52] charles-talk2us commented on #10666
Hello @raramuridesign do you have any feedback on this issue and the possible fresh installation using version 4.1?

@RCheesley do you think this bug will be fixed by the 20 December release? We have five separate production instances for various customers that are being affected by this bug, so a quick resolution is essential for us. All Form creation and cloning is impossible on these instances

[2021-12-14 10:19] alexhammerschmied opened #10685 "Segment filter date equals today is not working"
### Mautic Version

4.1.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The segment filter with date is not behaving properly.
When I add the specific date of today and make a filter like:
"date equals specific date (i.e. 2021-12-14)" it works
"date equals today" doesn't work
but
"date less than or equal today" is working.
also
"date gre

[2021-12-14 10:59] Dylan-86 commented on #10420
Update:
I confirm that it's still broken.
The reports show just SOME emails ID but 90% of them are missing.

This report should show all the weekly newsletter that we send. Indeed, one newsletter per week. It shows instead ONLY the newsletter sent on the week of the 15th of November
![image](https://user-images.githubusercontent.com/58813956/145985708-3985e94c-0f4d-4bbb-9229-fdf2f519fa08.png)

[2021-12-14 13:30] jos0405 commented on #10676
Hi, PHP 8.0 is actually not supported with M4.0.0
Are you sure you have PHP 8.0 ?

[2021-12-14 15:06] ghost commented on #10676
Errata: I use PHP 7.4.24 with M4.1

[2021-12-14 15:09] sdragnev commented on #10676
I have the same issue with Mautic 4.0.1 and the 4.x branch, and PHP 7.4.

[2021-12-14 17:31] renatocron commented on #9887
This same issue is present on 4.1.0 - And it's not only related to Amazon SES API but also SendGrid API (the Send From Owner works, but overwriting on Advanced does not)

SendGrid SMTP works as expected.

The options to include STMP headers also do not work if API integration is used.

I will open another issue to report this and to discuss solutions (maybe warnings, or if the driver using the API

[2021-12-14 17:40] renatocron commented on #10675
Can you say if you are using the SendGrid or SES API version?

I thinks this can be 'solved' by using the SMTP versions

[2021-12-14 17:56] renatocron commented on #10666
@charles-talk2us did you selected "Render style from Template? " to "No" on those forms?
I think this is related to this: https://github.com/mautic/mautic/issues/10453

You can "fix" this by running `update forms set render_style=true where id=XXX`, then do your changes, and update it back to false when saving the form.

There's one patch - remove line 155 from app/bundles/FormBundle/Form/Type/For

[2021-12-14 18:01] jensolsson commented on #10675
@renatocron yes I use Sendgrid. But dont want to switch to smtp so hope it can be fixed.

[2021-12-14 18:01] raramuridesign commented on #10666
@charles-talk2us @RCheesley

Some Feedback.

1. New installation does not have this issue.
2. After some digging I found that the old systems which had been upgraded needed the following command updated at command line level

`php bin/console doctrine:migrations:migrate`

3. Error occured in this process where the leads table would not add a new column.

-------------------------------------------

[2021-12-14 18:08] renatocron commented on #10648
@nikolaknezeviccom how can the PHP keep using memory after the each crontab execution?

If this is true, maybe have separated instances for crontab and the 'real' mautic server, for exemple, starting a new container for each time a cron job needs to run, or at least keep it spare and restart it from the host hourly so php has a chance to free some memory.

Are you using opcache?
I only have a ~ 10

[2021-12-14 18:16] renatocron commented on #10666
Oh, aside from the error reported on my last commend on this thread,
I did found this issue when upgraded from 4.0.0 to 4.1.0 via the web, web did not finished successfully the migration.

I'm using the docker image with percona/percona-server:5.7 and did not have issues with upgrade from command line.

[2021-12-14 18:17] raramuridesign commented on #10666
@renatocron
We have a script where we run the upgrades, We might need to include the schema update for future upgrades.

[2021-12-14 18:19] mabumusa1 commented on #9887
Please apply PR  #9735, it fixes this issue for SES API

[2021-12-14 18:22] renatocron commented on #10675
@jensolsson Ok

I recommend using STMP, this is not the only issue that's happening when using the API version.

Extra headers are not sent, Name/From overwrites from "Advanced" also not working, and the list-unsubscribe header is missing, which can affect your deliverability

I'm trying to workarround this, I will look into the source code to check how hard is to include the extra headers back to

[2021-12-14 21:16] andres-asm commented on #7565
Hi, this is still a thing, closing stale issues is really a bad practise, there is a clear loss of visibility of what's broken due to this.

[2021-12-14 23:23] RCheesley commented on #7565
Thanks, all we need is for someone to reply, to keep the issue active. I've just reopened the issue.

[2021-12-14 23:54] #10394 closed, assigned to nobody

[2021-12-15 12:12] oltmanns-leuchtfeuer commented on #10685
Hi Alex,

i could not reproduce your error. My test-segment had a filter on "Date Last Active" equals "today" and my test contact was correctly added to that segment.

[2021-12-15 12:19] LeonOltmanns opened #10686 "Segment Filters using "date"-Field and operator "empty/not empty" break Segemts:update"
### Mautic Version

4.1.1

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

When creating a segment with a filter on a date field like "Date Last Active" or "Date Identified" and then using the "empty" or the "not empty" operator, the segment wont work.

But what makes thing worse is that the mautic:segments:update command or cron will stop

[2021-12-15 12:34] ghost opened #10687 "Sort dependent fields in form"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

All fields which are depend of parent field have got this same "field_order" in database. This makes problems with sort questions. Now this is randomize. Only way to fix this problem is changing "field_order" in the database and don't changing Form in mautic after

[2021-12-15 15:25] renatocron opened #10688 ""Custom headers" not working when send mail through "SendGrid API""
Hello!

### Mautic Version

4.1.0 - upgraed from docker 4.0

### PHP version

7.4.25

I have a bug report and a few questions about Mautic.

# Bug Report

I was trying to set X-FOOBAR header to configuring some options but this field is not being sent.
![image](https://user-images.githubusercontent.com/1919076/146202959-b26f6ca8-184e-48f3-9dc1-06ced10352cd.png)
This customer-header is supposed to

[2021-12-15 19:23] renatocron commented on #9887
I tested today (to open the other issue about headers), and in fact, "SendGrid API" do set up From Name correctly. Sorry for the confusion.

[2021-12-15 20:53] renatocron commented on #10688
UPDATE

Okay, Sendgrid API supports for BatchSend, [this post from 2010 says STMP is preferred if batch is supported, even suggest using an MTA to queue mails](https://sendgrid.com/blog/which-protocol-should-i-use-to-send-email-smtp-or-rest/) but [this other post from 2016 says WEB API is faster](https://sendgrid.com/blog/web-api-or-smtp-relay-how-should-you-send-your-mail/)

So this is no longer

[2021-12-15 21:47] renatocron commented on #10688
UPDATE

- `X-SMTPAPI` header do not work (is removed, but ignored by the SendGrid API)
- `mailer_custom_headers`  on config is shown on the interface (I din't got it before because github loaded this file minimized on the commit page)

I will include a new setting for configuring CustomArg and Category when using "SendGrid API", is not that hard!

[2021-12-15 23:03] beto2l commented on #6597
if you work with Nginx, you should do: **systemctl restart nginx** instead of apache2.

[2021-12-16 10:02] ShareBtech commented on #5392
wWe are seeing the same issue on Mautic 4.0.2 when a contact is imported or via API.
We have two unique identifiers setup here one for email and one for mobile.
Forum Post: https://forum.mautic.org/t/unique-identifier-duplicates-how-does-this-work/22037

[2021-12-16 14:56] allsecure-pay commented on #10675
@renatocron We are using SMTP and also facing this problem after migrating to 4.1.0.

It is exactly the same scenario as with @jensolsson - Action to Send form results to an email and we set Reply to contact to Yes. It is no longer sending the e-mail with a reply-to header matching the e-mail field.

![image](https://user-images.githubusercontent.com/41504556/146394737-50a46219-7cc3-414b-a4c6-bfd9

[2021-12-16 21:42] ghost commented on #10685
I have got this same problem with M4.1. System convert me "today" to const date like "2021-12-16 00:00" when I saved new segment.

[2021-12-17 14:56] BPCreative opened #10694 "Multiple Form Instances Validation Issue (same form)"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

I am having a similar issue...

I have 2 copies of the same form on the same page.  There is one embedded in the bottom section.  The other instance comes up when the green "Get Started" buttons are clicked (popup/modal).

The popup instance comes later in the code, so onl

[2021-12-18 08:53] curtisgray commented on #10666
This issue has been resolved and should be closed.

[2021-12-19 06:17] #9054 closed, assigned to nobody

[2021-12-20 10:26] #10453 closed, assigned to nobody

[2021-12-20 11:00] MadlenF commented on #10316
Can also confirm that it is still relevant with Mautic 4.1.0

[2021-12-20 14:40] Robmobius commented on #9125
Problem persist in 3.3.4 and 4.1

Tried @javiergas suggested code edit but no joy for me.

[2021-12-20 17:18] patrykgruszka commented on #10669
Confirmed, the same problem is in the edit contact form. The boolean fields have no neutral values.

@alanhartless could you take a look on this case? I've found that it's caused by PR #9931. The type casting in the `app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php:57` makes the neutral option disappear and i can't figure out why. I don't think it's intended change.

[2021-12-21 03:10] #10411 closed, assigned to nobody

[2021-12-21 16:54] alfredoct96 opened #10703 "Segment filter with custom fields doesn't work"
### Mautic Version

4.0.0

### PHP version

7.4.9

### What browsers are you seeing the problem on?

_No response_

### What happened?

Segment filter seem's not work with custom fields.
I added a custom field "Source" with type text and group Core, for Contacts.
Then i added a segment with a filter for field "Source" with comparator "equals" string "Platform".

Added contact with custom field "So

[2021-12-21 21:28] #9369 closed, assigned to nobody

[2021-12-21 23:24] andres-asm opened #10704 "Updating a theme doesn't work, it need hard clear cache"
### Mautic Version

4.1.1

### PHP version

8.0.13

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I built a new theme (legacy, we have some limitations with grapejs) and I missed adding data-slot tags to some sections, so it wasn't editable.

So I fixed the theme, reinstalled it without changing anything else, but the sections are still not editable.
I can wor

[2021-12-21 23:27] andres-asm commented on #10704
I tried clearing the cache per the instructions here: https://docs.mautic.org/en/troubleshooting
Didn't fix anything

May be related:
https://github.com/mautic/mautic/issues/6486

[2021-12-21 23:45] andres-asm commented on #10704
I even tried deleting the theme and uploading it again, didn't work.

[2021-12-22 00:16] andres-asm commented on #10704
Also tried restarting PHP, rebooting my VM, and a private browser window... this is crazy!

[2021-12-22 00:27] andres-asm commented on #10704
This procedure finally worked:
- Remove the theme from settings/themes
- Create new email, confirm that the theme is not there
- Clear cache (rm -rf var/cache/*)
- Install the theme again

Then... and only then it worked... this makes no sense whatsoever to me

[2021-12-22 07:21] MadlenF commented on #10703
Hi Alfred, I could reproduce the behavior as described above in Mautic 4.1.1. However, if I just change the name of the custom field, everything works perfectly. In my opinion it is the word "Source" Mautic doesn't like in this case.

[2021-12-22 08:03] alfredoct96 commented on #10703
Yes, i saw it yesterdey.
With this filter segment take all the leads that have page hit on page with this source, is it a normal behavior?

[2021-12-22 11:10] officialsuyogdixit commented on #10572
I can confirm that same happening even on 4.1.1. But I just loved GrapeJS builder. Disabling it is not a permanent solution.

[2021-12-22 13:14] ShareBtech commented on #10455
I tested this on 4.1.0 and I am experiencing the same behaviour.  I applied this fix: https://github.com/mautic/mautic/pull/10689

[2021-12-22 14:11] ghost commented on #10572
I really hate GrapeJS for Mautic. Now I have got this same problem. GrapeJS modify my code. It delete my CSS for mobile when I update code, for example I tried add something like this:
[code]
This editor doesn't give me adding mobile CSS.

I alredy prefer the old HTML editor in Mautic.

[2021-12-22 17:13] #10399 closed, assigned to kuzmany, donbowman

[2021-12-22 17:13] #9918 closed, assigned to nobody

[2021-12-23 04:40] #9595 closed, assigned to nobody

[2021-12-23 08:55] npracht commented on #9647
Same with `source`

[2021-12-23 08:56] npracht commented on #10703
Hi there, yes some keywords are reserved. Listed here : https://github.com/mautic/mautic/issues/9647
I close the issue here and let's follow up on the other issue.

[2021-12-23 08:56] #10703 closed, assigned to nobody

[2021-12-23 08:58] npracht commented on #10704
Okay it needs a hard clear cache. I'll point this as an issue.

[2021-12-23 09:01] #10666 closed, assigned to nobody

[2021-12-23 09:02] npracht commented on #10666
I close it, this is an installation/configuration issue.

[2021-12-23 09:04] npracht commented on #10694
I don't know if this issue has been re-introduced : https://github.com/mautic/mautic/pull/8935. Maybe having a look around this part of the code.

[2021-12-23 09:06] npracht commented on #10685
@kuzmany you see something about this ? I think you're one of the person introducing this feature.

[2021-12-23 09:10] npracht commented on #10675
@ts-navghane and @dadarya0 can you please have a look at this. It seems you introduced a regression with #10471 or #9812.
Thanks.

[2021-12-23 09:16] npracht commented on #10648
Hi @Dylan-86 ! **I'll close the issue, that is a configuration issue.**

We are running 500 instances with up to million contacts and this works well.
I'm glad to help you, you can reach me on slack or find my contact info on https://github.com/npracht

[2021-12-23 09:16] #10648 closed, assigned to nobody

[2021-12-23 09:18] npracht commented on #10615
Closing in favor of https://github.com/mautic/mautic/issues/10572. Duplicate topic.

[2021-12-23 09:18] #10615 closed, assigned to nobody

[2021-12-23 09:19] npracht commented on #9988
This topic can be related as well. https://github.com/mautic/mautic/issues/10572

[2021-12-23 09:22] npracht commented on #10678
Hi @ivan006 ! This is not a mautic bug. I suggest you join chat on Slack or forums to discuss that.
Thanks a lot for being interested by mautic :)

[2021-12-23 09:22] #10678 closed, assigned to nobody

[2021-12-23 09:22] npracht commented on #10644
Hi there,

There is not step to reproduce. That is probably a configuration issue. Can you at least explain which email transport you are using ?

[2021-12-23 09:25] npracht commented on #10672
I'll mark this as an enhancement.

[2021-12-23 09:28] npracht commented on #10670
Does any of these PR fix your issue ?
https://github.com/mautic/mautic/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+hubspot

[2021-12-23 09:39] npracht commented on #10664
I'm sorry i don't understand how we could help you.

[2021-12-23 09:39] #10664 closed, assigned to nobody

[2021-12-23 09:50] npracht commented on #10652
Hi @FKrafft are you sure your SMS are enabled.
Can you show a screenshot of your text message list ?
Thanks.

[2021-12-23 10:50] kuzmany commented on #9647
@npracht even with this https://github.com/mautic/mautic/pull/10224 ?

[2021-12-23 20:07] TonyBogdanov commented on #10024
@alexhammerschmied For me this happens when you mismatch the name of the integration when passing it to the command.
This is OK: `./console mautic:integrations:fetchleads -i Hubspot`.
This gives error: `./console mautic:integrations:fetchleads -i HubSpot`.

[2021-12-23 20:12] TonyBogdanov commented on #10670
@npracht I made a mistake in the description of the issue, just edited Step 5.

That being said, I can't really say if any of the PR fix this particular issue, though looking at the code, I think #10598 is exactly fixing this. Either way, it's no longer present as an issue in 4.1.0 or 4.1.1.

[2021-12-23 20:12] #10670 closed, assigned to nobody

[2021-12-24 00:19] #7841 closed

[2021-12-24 07:51] npracht commented on #9647
@kuzmany maybe you can fix the style issue on @Damzoneuh PR and extend to the 2 other reserved keywords ?

[2021-12-25 03:14] J-Wick4 commented on #9887
I'm running 4.1.0 when sending a single email to a user using a template. I replace the From Name and Email to the default system, the From Name is not making it to the recipient. I'm using a regular SMTP private server.

[2021-12-25 07:00] #10021 closed, assigned to nobody

[2021-12-25 17:29] bulgin commented on #10565
Mautic 4.1.1
PHP Version 7.4.27
Centos 7

I'm experiencing this as well - report filters do not appear in the UI.
This started when I migrated from 3X mautic to 4.1.1
Nothing in logs.

[2021-12-27 16:41] kuzmany commented on #9647
@npracht source is covered by default

![image](https://user-images.githubusercontent.com/462477/147491048-3bf77b47-3f60-4c7e-bbb9-e3007febd237.png)

[2021-12-27 20:46] #10368 closed, assigned to nobody

[2021-12-28 11:58] jensolsson opened #10711 "Bool can no longer be X only Yes and No"
### Mautic Version

4.0.0

### PHP version

7.4.20

### What browsers are you seeing the problem on?

Safari (but probably every browser)

### What happened?

We rely on that Bool can also be null for custom fields. We use this when a specific field is not relevant for a specific contact. When the contact is initially created it is actually NULL, but when it is set it seem to be no way to unset it

[2021-12-28 12:39] jensolsson commented on #10711
Could this be related to #10415 @kuzmany? I couldn't see anything suspicios in the commit but seem like this change is in the same area.

[2021-12-28 13:21] ghost commented on #10572
I have got next problem with GrapeJS. Now it changing my code with Dynamic Content.

**How can we reproduce this issue?**
Step 1: Make e-mail in GrapeJS editor and add some Dynamic Content,
Step 2: Edit something (like CSS) in HTML editor inner GrapeJS editor.
Step 3: Save and check your code. Your dynamic code is now invisible in GrapeJS and you see only something like: "{dynamiccontent="Dynamic

[2021-12-28 19:22] kuzmany commented on #10685
If happend this you should try reload assets: `php bin/console m:a:g`

It works for me on last version of Mautic

![image](https://user-images.githubusercontent.com/462477/147599983-e5aac554-ab76-4ae2-95d0-f1bfbff92578.png)

[2021-12-28 19:24] kuzmany commented on #10685
Rebuilding works for me too. Cannot reproduce

[2021-12-28 21:11] josh-hernd opened #10712 "Campaign action triggered Text Message ( Last execution error: Scheduled )"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Not relevant

### What happened?

# Abstract Issue
Mautic successfully sends text messages triggered by a Campaign Action **( only once )**.

On a **( different / New )** Campaign with action to trigger a  **( New )** text message, it encounters
an error **( Last execution error: Scheduled )** fou

[2021-12-28 23:08] andres-asm commented on #10704
Yeah seems like it.
In some cases it works, when there are small changes... but in other cases we have to do this whole dance

[2021-12-29 08:43] patrykgruszka commented on #10711
This issue is related to #10669 and PR #9931.

[2021-12-29 09:57] jensolsson commented on #10711
@patrykgruszka are you sure?

Here are images from contact edit in pre 4.0.0 and 4.0.0

So it seem to be more than the API that is affected, also the GUI
pre 4.0.0:
![Screenshot 2021-12-29 at 10 41 19](https://user-images.githubusercontent.com/1985582/147650074-c692ed3e-0cf3-46d6-b3c1-f6d1ff522bd7.png)
4.0.0+
![Screenshot 2021-12-29 at 10 55 32](https://user-images.githubusercontent.com/1985582/14

[2021-12-29 09:58] ghost opened #10713 "CSS from GrapesJS doesn't work on Gmail"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Gmail doesn't respect CSS which is added by GrapesJS. CSS works only on browser.

I checked it on my old instance with M3.3.4 Emails from GrapeJS looks good on Gmail. I checked a difference between email output in M4.1 and M3.3.4. IMHO this bug is caused by moving <s

[2021-12-29 10:13] kuzmany commented on #10711
Confirm. This is issue. Before you were able to cancel value by button X

[2021-12-29 10:58] ghost commented on #10572
I see that problem happened since already on start of M4 and still is without fix. If I had known all my templates on grapesjs would be useless, I wouldn't have upgraded to that version. This is a huge problem.

My client without HTML and CSS knowledge used GrapeJS on M3. I made them Update to M4, and now he could't make working e-mails. Why somebody let new version without inform people about suc

[2021-12-29 11:03] patrykgruszka commented on #10711
The type casting in the #9931 `app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php:57` makes the neutral option disappear and i can't figure out why. When you change it back to `int` then the X option is back.

[2021-12-29 11:25] jensolsson commented on #10711
@patrykgruszka I have now tried to narrow down the commit that causes it and it seem to be somewhere between 1825a8937a0478d9d9bf3d8fc9313d21e6717b9c and 7065d36d9285eca5d5efd4a6237f057f02e6a6e5

[2021-12-29 12:08] ghost opened #10714 "Mautic deletes default content from Dynamic Content block inner e-mail in classic editor"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Because GrapesJS works really bad on M4, I tried use default builder in Mautic. Unfortunately, it deletes my default content from dynamic content block.

### How can we reproduce this issue?

Step 1: Turn off GrapesJS builder
Step 2: Make e-mail with dynamic content

[2021-12-29 12:24] patrykgruszka commented on #10711
@jensolsson I've tried to revert the #10415 but this has not affected the boolean option in my case. I think it's the f409dbe8fe31c932a4c6fe2931dd186a596eb0e0.

[2021-12-29 12:40] ghost opened #10715 ""Import from an existing template" on contact card doesn't work when GrapesJS is off"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

"Import from an existing template" on contact card doesn't work when GrapesJS is off. The window is still loading.

### How can we reproduce this issue?

Step 1: Make some e-mail template in any e-mail builder
Step 2: Turn off GrapesJS
Step 3: Click "send e-mail" o

[2021-12-29 16:41] shmaltz commented on #10572
Facing the same issue on v4.1.1.

Is this a Mautic issue or a Grapesjs issue?

[2021-12-29 23:23] jensolsson commented on #10711
@patrykgruszka do I understand correctly the main issue is that the checkbox type in symfony requires true / false only and the indeterminate / null state is no longer possible in Symfony. Maybe due to an upgraded Symfony version?

If so maybe the old X | No | Yes checkbox should be implemented with something other than CheckboxType field? Maybe EnumType can be used instead and styled in the same

[2021-12-29 23:55] #10217 closed, assigned to nobody

[2021-12-30 13:39] #9897 closed, assigned to nobody

[2021-12-31 09:01] kuzmany commented on #10711
Based on M4 upgrade notes https://github.com/mautic/mautic/commit/f409dbe8fe31c932a4c6fe2931dd186a596eb0e0#diff-1a150f9e2ee0e6cf7cb8864a598cb567dfb617a5e3b0e3310aa947d5f518869aR8

Seems like @jensolsson has true. From M4 is not possible use placeholder (x)

But If I revert back this line https://github.com/mautic/mautic/commit/f409dbe8fe31c932a4c6fe2931dd186a596eb0e0#diff-47b21ec36fd5a7c80731158a9

[2021-12-31 10:23] patrykgruszka commented on #10711
I think we should revert changes from #9931, because we are actually using `ChoiceType` and not the `CheckboxType`. I've just tested it on my environment and it works fine (including issues from #9931 which i could not replicate on the 4.1 version). I've published a PR #10716 and I look forward to your opinion.

[2021-12-31 11:17] adiux commented on #10562
As @garzettone mentioned this problem still exists: https://github.com/mautic/mautic/pull/10525#issuecomment-970465911

There is also this issue: https://github.com/mautic/mautic/issues/10618

Can we close this one then?

[2021-12-31 11:50] tomekkowalczyk opened #10718 "Leads in the contact tab of the campaign are not loaded"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

![image](https://user-images.githubusercontent.com/39382654/147820673-f8820549-f2c5-4380-b65d-80848e17fcd0.png)
Switching to the contacts tab in the campaign does not show contacts, but the loader. I did not notice any errors in the console and application logs

### How ca

[2021-12-31 15:25] kuzmany commented on #9166
This should fixed it https://github.com/mautic/mautic/pull/10283

[2021-12-31 16:17] leoschuler commented on #6389
so, I made a video about the solution I am working on to track Events in Mautic:
https://www.youtube.com/watch?v=tODrdGpDPEY

[2022-01-02 17:59] #10457 closed, assigned to jos0405

[2022-01-02 23:51] dsp76 opened #10720 "Form submission copy to bcc doesn't work"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Looks like this issue "bcc will not receive form results" (see stale: https://github.com/mautic/mautic/issues/5967 or this https://github.com/mautic/mautic/issues/10328) is still happening. In my case with Amazon SES API connection.

### How can we reproduce this iss

[2022-01-03 06:01] fav22 opened #10721 "Issue on mautic after installing Virtualmin on the same server as mautic"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome, Microsoft Edge

### What happened?

Hello, since I didn't have a basic configuration panel, today I allowed myself to install Virtualmin on the same server as MAUTIC and then I encountered this problem when I visit my mautic Url

`<?php

/*
 * @copyright   2014 Mautic Contributors. All rights

[2022-01-03 11:56] patrykgruszka commented on #10056
Is there a possibility to reopen this issue? I think it's still relevant in 4.1.

[2022-01-03 15:53] anthienvu commented on #10718
I meet the same problem with version 4.1.1.

[2022-01-04 04:05] #10115 closed, assigned to nobody

[2022-01-04 12:43] mulham1988 opened #10725 "infinite loop in configure wheel mautic 3.3.2"
### Mautic Version

3.3.x series

### PHP version

 7.4.16

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

how can I fix this issue MAUTIC setting wheel
when I want to go to configuration it stalk into infinite  loop the rest of the setting list working well

### How can we reproduce this issue?

  Mautic 3.3 configuration it stalk into infinite  loop

### Re

[2022-01-04 12:57] mulham1988 commented on #10725
https://user-images.githubusercontent.com/33623909/148062485-96ef6120-f3d7-4a27-8aa4-82fc4999463c.mp4

[2022-01-04 13:29] huhongbo commented on #7551
the bug has still existed in the newest version.

[2022-01-04 14:59] katzueno opened #10727 "With case sensitive file system, Upgrade to Mautic 4 could resulted in PHP fetal error because library folder name was not capitalized"
### Mautic Version

4.0.0

### PHP version

7.4.21

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you installed Mautic 4.1.1 onto the server with case sensitive file system, you ended up with two PHP fetal errors.
I needed to rename two folder names of a library.

[code]

It's because the folder of the library is named as `/vendor/markbaker/matrix/classes/s

[2022-01-04 15:55] r44cx commented on #9042
PR is still open
#10429
https://github.com/mautic/mautic/discussions/10429

[2022-01-04 20:43] kromonos opened #10729 "An exception occurred while establishing a connection to figure out your platform version."
### Mautic Version

4.0.0

### PHP version

7.4.29

### MySQL version

8.0.23

### What browsers are you seeing the problem on?

_No response_

### What happened?

AH01071: Got error 'PHP message: Doctrine\\DBAL\\DBALException: An exception occurred while establishing a connection to figure out your platform version.\nYou can circumvent this by setting a 'server_version' configuration value\n\nFor

[2022-01-05 08:17] markusrock commented on #10714
I'd say this is the same issue as https://github.com/mautic/mautic/issues/10540

[2022-01-05 12:35] benbehringer opened #10730 "Salesforce integration dead after update to v4"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge

### What happened?

After upgrading to v4 the Salesforce integration stopped working.
The frontend just shows an empty popup when opening the Salesforce plugin.

Here's what I receive using the console:
[code]

### How can we reproduce this issue?

Step 1:

[2022-01-05 21:25] Zrihn commented on #10729
Hello!
On my side it was caused by the php version being updated on the server but not the drivers.
So first, I had to do apt-get install php7.4-mysql to get the PDO exception removed
And then I had the following error => CurlFactory.php line 223:  Undefined constant 'CURLOPT_CUSTOMREQUEST' so I needed to execute apt-get install php7.4-curl
Then I could execute some mautic commands like fetching c

[2022-01-05 21:27] kromonos commented on #10729
Thanks, but I only was able to "fix" it, to make a backup of the media folder and database, reinstall Mautic and then recover the database backup and the media folder.

[2022-01-06 00:57] #10463 closed, assigned to nobody

[2022-01-06 12:33] gvaniya opened #10732 "Can not find "Queue" in configuration menu in 4.1.0 version for RabbitMQ setup"
### Mautic Version

v4.1.0

### PHP version

7.4.25

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge, Not relevant

### What happened?
![image](https://user-images.githubusercontent.com/61459963/148385948-1e08f909-23f7-4464-b52e-e80560f40639.png)

Can not find "Queue" in configuration menu in 4.0.1 version for RabbitMQ setup

### How can we reproduce this

[2022-01-06 12:41] gvaniya commented on #9052
this issue are facing in 4.0.1

[2022-01-06 14:14] kuzmany commented on #10732
https://docs.mautic.org/en/queue

`NOTE: Mautic 3.x users who are implementing RabbitMQ or Beanstalkd need to configure the settings directly in their local configuration file. If you are using the legacy Mautic 2.x series the steps below remains the same.`

[2022-01-06 15:55] ebogaard opened #10735 "Uncaught TypeError: Mautic.getActiveBuilderName is not a function"
### Mautic Version

4.0.0

### PHP version

7.4.27

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

After upgrading from 3.3.x to 4.1.1 using the CLI, all links in Mautic stopped working. If you click any link on the page, you can see the loading bar activatig, but then nothing happens.
This goes for the links on the dashboard, the links in the menu on the le

[2022-01-06 19:03] putzwasser commented on #9987
I can confirm this behavior for `Mautic 4.1.1 - app/prod (env: prod, debug: false)`

[2022-01-06 19:11] putzwasser opened #10736 "Can't open »Edit Source« modal after email builder was closed"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Chrome

### What happened?

I'm using MJML email templates and edit the source frequently, because it's often faster for me than the editor.

The edit source modal:
![image](https://user-images.githubusercontent.com/26040044/148437576-14d8f620-66e6-4a28-96af-cb1ddb54762b.png)

 can't, however, ope

[2022-01-06 19:18] putzwasser opened #10737 "Email editor scrolls/jumps down after every `enter`"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

_No response_

### What happened?

While editing long emails (MJML template), the editor jumps/scrolls down every time `enter` gets typed.

This isn't a problem if you don't have a vertical scroll bar or (strangely) if you are at the top of the page/email.
If you scroll a bit to edit text in the m

[2022-01-06 20:35] #10378 closed, assigned to nobody

[2022-01-06 22:37] donbowman opened #10738 "API returns (? escaped?) mangled data"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

curl https://API/fields/companies

in the "field.properties.list" array, i have a set of key/value pairs.
[code]

appears. But, the underlying data is "Civic & Social". The #38; is extraneous.
If i look in the webui, i see "Civic & Social" correctly.

If i look in th

[2022-01-07 02:08] ht512512 opened #10739 "Unsubsribe and Preview urls generated are incorrect"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

Mautic is setup behind an ssl proxy.

Mautic base url is configured to be https://myapp.myhost.com:8443/ which works fine for everything in the app
except that the generated urls for unsubscribe and preview are of the form http://myapp.myhost.com:8443/.........

[2022-01-07 04:57] gvaniya commented on #10732
I have added code in local file but not work queue.

sudo php bin/console mautic:queue:process --env=prod -i page_hit
**You have not configured mautic to use queue mode, nothing will be processed**

All time same error show.
Please can u guide me how to setup RabbitMQ.

[2022-01-07 09:24] LeonOltmanns commented on #10686
Edit:

[code]

[2022-01-07 09:51] adiux commented on #10736
Duplicate. Will be fixed with https://github.com/mautic/mautic/pull/10707
Workaround: Refresh the browser.

[2022-01-07 10:07] mortencallesen opened #10740 "Filtering by "Integration Campaign Members" in a segment results in a silent error"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Mautic 4.1.1
Salesforce integration - when setting up a new segment on Mautic, it is not possible to filter by "Integration Campaign Members". This results in a silent error (error 500 on console is visible).

BAS has posted a solution on forums.
https://forum.mauti

[2022-01-07 15:32] #10472 closed, assigned to nobody

[2022-01-09 00:06] #9883 closed, assigned to nobody

[2022-01-09 00:06] #9963 closed, assigned to nobody

[2022-01-09 00:06] #10395 closed, assigned to nobody

[2022-01-09 05:49] officialsuyogdixit commented on #1872
Still getting the same problem on 4.1.1

[2022-01-10 00:27] luismts opened #10743 "Console Command not working"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Microsoft Edge

### What happened?

I have Mautic v4.1.0 with PHP 7.4 and console commands are doing nothing. Also, I call -hep options and nothing happens.

Does anyone know how to deal with this?

### How can we reproduce this issue?

Use this command
`php bin/console mautic:segments:update`

### R

[2022-01-10 09:28] ivan006 commented on #6389
Not to put u don't but aren't u misunderstanding the issue? Are you sending data to Mautic? If so what endpoint are u using? I didn't see any Mautic endpoints in your video.

[2022-01-10 11:42] jensolsson commented on #10675
I have now tried this by checking out the commits before and after. The problem appeared in #9812 and not in #10471

Before 9812 is merged a reply-to header was added with the senders e-mail address. After #9812 was merged this reply-to header is no longer added to the outgoing e-mail.

@dadarya0 can you have a look please?

So before merging #9812 email received look like this:
From: info@mycompa

[2022-01-10 16:24] escopecz commented on #9011
I found an issue https://github.com/symfony/symfony/issues/36271#issuecomment-1009047994 that describes our problem. I asked there for more details.

[2022-01-10 21:44] ghost commented on #9804
![image](https://user-images.githubusercontent.com/56032973/148843895-936cfcaf-9338-45a3-adc6-4b66b12f584c.png)
I added script to file, but still have got problem with this. Any help? I did something wrong?

[2022-01-10 22:11] MarkerB commented on #9804
This looks okay, but you provided no other context.  You probably need to debug it in the browser.

Load a Mautic page in your browser and go into your browser's development mode (<F12> in Windows).  In the "Debugger" tab, drill down into the media/js/app.js file.  Can you see this code present at the bottom?  You should be able to put a breakpoint at the setInterval() line, reload the page, and t

[2022-01-11 01:38] leoschuler commented on #6389
I am sending pageHit activities thru pixel tracking with custom data (adding or removing tags, updating public contact fields) with the ability to customize the page title and url to any value.

[2022-01-11 08:30] AntoniyaM commented on #10616
Also seeing this behavior with Mautic 4.1.1: when going back to edit the email, mj-raw is still in the MJML code, but it's contents are stripped.

[2022-01-11 09:18] AntoniyaM commented on #10572
I've been using the new builder for a while now and would say that it works best with MJML code. I think it's in a very good state and appreciate all the great work many people have done to get it this far. 👏

Keep in mind that a lot of issues related to HTML being stripped or altered might have to do with MJML's own validation processes in mjml2html. I've only just started to debug some things an

[2022-01-11 23:12] benbehringer commented on #10730
Fixed it by resetting the plugin (using the mysql monitor):
[code]
The plugin showed up again and I had to recreate credentials in Salesforce.

[2022-01-11 23:12] #10730 closed, assigned to nobody

[2022-01-11 23:58] #10484 closed, assigned to nobody

[2022-01-11 23:58] #10480 closed, assigned to nobody

[2022-01-11 23:58] #10487 closed, assigned to nobody

[2022-01-12 10:05] mollux commented on #8457
I encountered the same issue, and create a PR to fix this, see #10747

[2022-01-12 11:53] skacco opened #10748 "email_queued: filter on email statistics"
### Mautic Version

4.0.0

### PHP version

7.3

### What browsers are you seeing the problem on?

Not relevant

### What happened?

A bug happened!

### How can we reproduce this issue?

the email_queued: filter does not show any email but email list report there are some email queued

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have read and agree to follo

[2022-01-12 12:14] dralawady commented on #10637
I'm having the same problem. Globally-set frequency rules for Twilio are not applied. only one message per day is permitted.

[2022-01-12 12:18] dralawady commented on #10712
I'm having the same problem. it sounds that system-wide frequncy rules for Twilio are not applied even after changing them.

[2022-01-12 13:40] adiux commented on #10496
This should be kept open

[2022-01-12 19:58] putzwasser opened #10749 "Relative asset links break when mautic is on a subdomain. (DWC editor)"
### Mautic Version

4.0.0

### PHP version

7.4.26

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you create a link to an uploaded asset with the DWC editor using the `{` auto fill/completion feature, it will create a relative link.
If your mautic instance is running on a subdomain (e.g. `mautic.mysite.com`) this relative link will break.

If you click the

[2022-01-12 21:05] AsyncAlchemist opened #10750 "Mautic Hangs Due to Missing Files In Cache Folder"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Mautic will hang and fail to load, almost randomly, but especially on pages such as the configuration page. Once it begins to hang, the only solution is to delete the entire /var/cache/* folder and then begin again. Upon checking the error log, there seem to be files

[2022-01-13 06:50] #9268 closed, assigned to nobody

[2022-01-13 08:08] biozshock opened #10751 "Mautic 4.x requires "mautic/core-lib": "^3.0""
### Mautic Version

4.0.0

### PHP version

7.4.10

### What browsers are you seeing the problem on?

Not relevant

### What happened?

The `composer.json` for branch `4.x` requires `"mautic/core-lib": "^3.0"` and also defines `app` as `"mautic/core-lib": "3.2.x-dev"`. Shouldn't it be `"mautic/core-lib": "4.1.x-dev"`

### How can we reproduce this issue?

Step 1: look into `composer.json`

### Rel

[2022-01-13 13:52] nazeno commented on #10572
Glad i have found this thread.

I am new to Mautic and racked my brain trying to figure out why my emails was not working. I was editing with pure code and for some reason the editor always got in my way. I just removed the plugin and now everything is fine! All happy again!

Mautic v4.1.1

[2022-01-13 14:36] jarridlima commented on #7498
In my case, i am using a bitnami instance on AWS EC2.

I solved as follows:
1. I had added the line below on the file /opt/bitnami/apps/APP_NAME/conf/htaccess.conf
2. Header always unset X-Frame-Options
3. I needed to restart apache by using the comando sudo /opt/bitnami/ctlscript.sh restart apache
4. Done! Works for me

For i solve it, i needed to understand how htaccess works on Bitnami Mautic,

[2022-01-13 15:19] mollux commented on #10275
Due to a bug (see PR #10753) the `0` was not taken into account.
The way we mitigated this before the patch was by clearing the `messages each` field, as that is the only field taken into account.

[2022-01-13 15:19] mollux commented on #10416
Due to a bug (see PR #10753) the `0` was not taken into account.
The way we mitigated this before the patch was by clearing the `messages each` field, as that is the only field taken into account.

[2022-01-13 18:20] putzwasser commented on #10240
If you implement this, it would be nice, if you could add support for filtering content based on tags.

[2022-01-14 08:56] dsp76 opened #10754 "Creating new numeric tag will cause error 500 in a form action"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you create a new tag through a form action which is starting with a number, it will break Mautic. Gives an error 500.

There is no problem creating a new numeric tag through the tag manager.

### How can we reproduce this issue?

Step 1: Try to create a new tag wi

[2022-01-14 13:34] dsp76 opened #10755 "Deleting a tag from tag manager, that is still in use in a form action, will not load edit window"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

If you delete a tag from the tag manager, it causes problems:
* A form action allows to add a tag to a submit. After a tag has been deleted, you cant edit the form action anymore (endless loading) - only delete the action.

Would be better to let users know, that tag

[2022-01-14 16:21] dsp76 commented on #10743
Can't confirm this with neither 4.1.0 nor 4.1.1 ... Both are working.
Seems more to be an individual problem with your instance than with Mautic Code.

@RCheesley should probably be closed

[2022-01-14 16:22] dsp76 commented on #10743
@luismts please open a discussion in the mautic forum. There are some checks you could do, but lets discuss there.

[2022-01-14 16:43] dsp76 commented on #10739
Tested it with 4.1.1. also and I can't confirm this. The protocol will be respected as set in site URL for e.g the unsubscribe URL and also for the login page after logout. So it seems not to be a general issue with the code.

There is only another issue, as the port will be ignored within the unsubscribe URL.

@ht512512  I'd suggest discussing this in the Mautic Forum - it may rather be a config

[2022-01-14 16:46] dsp76 commented on #10732
@gvaniya you should switch over to the forum. Looks like the "missing" menu item is actually not missing.
/cc: @RCheesley