[2019-10-03 13:07] RCheesley commented on #7892
@YosuCadilla got someone reporting this in Slack also: https://mautic.slack.com/archives/C02GEN0SG/p1570088744249500

[2019-10-03 13:42] YosuCadilla commented on #7892
Thanks @RCheesley, we're trying to determine if his issue and mine are the same, we're not getting the same error msgs tho, I told him to add his input here...

[2019-10-03 14:11] buenomsg commented on #7860
I think that other inconvenient is that this anonymous contacts are not been filtered in segments for instance.

[2019-10-03 14:44] YosuCadilla commented on #7892
Update: Because the particular Mautic instance with the issue is behind a proxy, I'm testing whether headers where correctly being transmitted.

So: I have tested the website click tracking (via WP-Mautic plugin) and it's working fine.
I'm assuming that since both use the same URL rewriting and tracking method this rules out any proxying issues? Please tell me if I'm wrong so I can further test an

[2019-10-03 19:07] Lucasfnd opened #7920 "Error 500 when I click build on "Focus Item""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-03 19:37] fguimara commented on #6320
Same error for me. Using 2.15.2

[2019-10-03 20:15] heathdutton commented on #7920
Any errors in your logs?

[2019-10-04 06:56] wucherpfennig commented on #7910
I cant confirm that the fix from @maxlawton  #7911 works as expected

[2019-10-04 07:34] vexersa commented on #6153
I'm getting this error too.

Would @lasram solution not break/halt some functionality of the integration?

[2019-10-04 07:49] toma10 commented on #7890
@npracht What do you mean cookie management system? Can you guide me?

[2019-10-04 07:50] npracht commented on #6153
Hi guys, we're using it for our customers and i've never seen that.
Could you test https://github.com/mautic/mautic/pull/7887 even if i believe this doesn't help for this issue, but at least https://github.com/mautic/mautic/pull/7887 could be merged faster with your help.
Thanks !

[2019-10-04 07:51] npracht commented on #7890
anything used to be GDPR compliant with cookies. Like https://opt-out.ferank.eu/en/ or any other solution.

[2019-10-04 13:10] MajesteitBart commented on #7860
I've just tried to install a clean instance, but it has the exact same issue.

[2019-10-04 13:27] npracht commented on #3655
@eplc-seven @aspiers @wittwerch can you test #7893 ?

[2019-10-04 13:29] YosuCadilla commented on #3324
@sachingk Try 2.15.3 as Alan just recommended...

[2019-10-04 13:30] npracht commented on #7106
@afonseca08 @ManasN @online-expert @dsp76 @ced-mohitp can you test #7883 ?

[2019-10-04 13:35] npracht commented on #4632
@nickian @namankumar @mellsaid @FranSanchezOria @Youlean can you test https://github.com/mautic/mautic/issues/7877 ?

[2019-10-04 13:35] npracht commented on #4632
I'm closing this issue in favor of https://github.com/mautic/mautic/issues/3655, this is the sam topic.

[2019-10-04 13:35] #4632 closed

[2019-10-04 13:36] npracht commented on #7593
Duplicate of https://github.com/mautic/mautic/issues/3655

[2019-10-04 13:36] #7593 closed

[2019-10-04 13:37] npracht commented on #4306
Duplicate of https://github.com/mautic/mautic/issues/3655

[2019-10-04 13:37] #4306 closed

[2019-10-04 13:38] npracht commented on #3173
duplicate of https://github.com/mautic/mautic/issues/3655

[2019-10-04 13:38] #3173 closed

[2019-10-04 13:38] npracht commented on #2426
duplicate of https://github.com/mautic/mautic/issues/3655

[2019-10-04 13:38] #2426 closed

[2019-10-04 13:38] npracht commented on #6618
Duplicate of https://github.com/mautic/mautic/issues/5873

[2019-10-04 13:38] #6618 closed

[2019-10-04 13:47] YosuCadilla commented on #7892
Today I have tested with 2.15.3-beta, same results sadly.

[2019-10-04 13:58] npracht commented on #7905
@RCheesley is that the solution to your issue ? https://github.com/mautic/mautic/pull/7824

[2019-10-04 14:11] kuzmany commented on #7917
Let's test: https://github.com/mautic/mautic/pull/7921

[2019-10-06 18:58] aammiirr99 opened #7923 "Cannot save email created in the campaign."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-07 09:19] chrispy001 opened #7925 "Focus feature: grab website snapshot not working"
## Bug Description
This bug was previously reported (https://github.com/mautic/mautic/issues/2036) and has been closed off, but it is still not working and others have found the same on the previous page.
I tried to create a popup with a focus item. I entered my website url for Mautic to grab a screenshot of my website. The preview is not getting displayed.

| Q   | A
| --- | ---
| Mautic version

[2019-10-07 10:09] npracht commented on #7575
@PublyaDev @brendansmallco fields format are re-written before populating mautic here --> https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/plugins/MauticCrmBundle/Integration/HubspotIntegration.php#L298

[2019-10-07 14:17] lokeshjoshicis opened #7927 "How to define 3 level sub menus in the config file ?"
## Bug Description
I am adding children menus under the children menu but it's showing/working properly.
In the config file, we can add children menu for any root menu. Now I'm trying to add children menus of any children menu but its not working.

| Q   | A
| --- | ---
| Mautic version | v2.14.2
| PHP version | 7.2
| Browser | Firefox

### Steps to reproduce
1. Open config file of any bundle
2. T

[2019-10-07 15:18] RRoest opened #7928 "CRM integration (salesforce) not working properly (Fetchleads error)"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:
somethings broken

## Description:
So the integration between SF en Mautic seems to be broken. Only a couple of field values are not pushed to Salesforce. Such as: lead points, lead source and product interest.

This worked all along but for some reason is now broken.

##

[2019-10-07 17:00] evgu commented on #3045
@preetssekhon I think for 'Access-Control-Allow-Origin' you can specify only ONE value - i.e. try with either '*' or 'https://mydomain.com'

[2019-10-07 19:44] Lucasfnd commented on #7920
the same error

[2019-10-08 03:45] evgu commented on #6493
Thumbs up. This feature will be really handy.

[2019-10-08 03:49] heathdutton commented on #6493
You know, since this would necessitate a new cron anyway, you could set up an import that imports a file from a predetermined location, then replace that file (by a cron script that fetches from FTP or wherever) and then reset the import so that it begins again... Very little "code" but would do what you wish.

[2019-10-08 09:28] npracht commented on #6057
@mbkv can you please test #7741 ?

[2019-10-08 12:53] Braintelligence commented on #1618
Please elaborate on why this issue was closed.

[2019-10-08 12:58] npracht commented on #1618
Hello @Braintelligence !
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2019-10-08 13:35] Braintelligence commented on #1618
I see, thanks for clearing this up. Was this discussed in Slack already? If yes, could you provide a link to the thread?

[2019-10-08 14:04] #7928 closed

[2019-10-08 16:10] evgu commented on #6493
Has anyone tried this project? Looking at description it seems to do the job.
https://github.com/mtcextendee/mautic-custom-import-bundle
https://mtcextendee.com/our-works/mautic-plugins/custom-import-for-mautic/

[2019-10-08 16:11] evgu commented on #6493
@heathdutton Im slightly against such implementations at least on our servers and next upgrade and something gets broken.

[2019-10-08 18:12] otsang opened #7930 "XML Error"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Y
| Feature request? | N
| Enhancement? | N

## Description:
The more details the better...

## If a bug:

| Q   | A
| --- | ---
| Mautic version | v2.15.1 and v2.15.2
| PHP version | PHP Version 7.2.22
--

### Steps to reproduce:
I ha

[2019-10-09 01:55] jcea opened #7932 "email preview URL is not right"
Mautic 2.15.2.

I create a new email. The preview URL is https://XXXX/email/preview/4 . That URL gives a "404 Not found" error.

If I modify the URL manually to https://XXXX/index.php/email/preview/4 , it works.

My Apache configuration is tiny and simple:

[code]

Is my Apache config right? Is this a bug in Mautic 2.15.2?

Thanks.

[2019-10-09 07:05] Bibhudatta-Sahoo-ASMB commented on #7902
Yes @johbuch , If I addd frequency block then "contact me through email" is appears.

But if I didn't add the frequency block then it will not appear.

[2019-10-09 07:10] johbuch commented on #7902
@Bibhudatta-Sahoo-ASMB so that means it works with a customized preference center but not with the default preference center right ?

[2019-10-09 11:01] Bibhudatta-Sahoo-ASMB commented on #7902
Yes

[2019-10-09 11:37] johbuch commented on #7902
all right so it should help developers.
The bug occurs only with the default pref center

[2019-10-09 11:57] npracht commented on #7902
@Bibhudatta-Sahoo-ASMB what is the default theme used in your instance (you can see that in the configuration).

[2019-10-09 13:53] npracht commented on #7127
Merged in 2.15.3

[2019-10-09 13:53] #7127 closed

[2019-10-09 15:22] ayres1000 opened #7935 "Update problem"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Since version 2.15 the update g

[2019-10-09 15:57] pety-dc commented on #7904
Any opinions on the concept of the proposed fix?

[2019-10-09 17:55] icetique opened #7936 "Update date of e-mail while processing the queue"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-09 18:40] ayres1000 commented on #7935
I atualizes by ftp. It's working more or less, with lags and half bugs. Continui testing:
[2019-10-09 10:19:21] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while executing 'SELECT COUNT(*) AS dctrn_count FROM (SELECT DISTINCT id_10 FROM (SELECT m0_.is_published AS is_published_0, m0_.date_added AS date_added_1, m0_.created_by AS

[2019-10-09 19:43] ayres1000 commented on #7935
Update: i click on contacts, but they aren't load. Nothing happens.

[2019-10-09 19:43] #7935 closed

[2019-10-09 22:08] Qubestar opened #7937 "Unable to Update - Endless Loop / Freeze - "Moving Package Contents - In Progress""
Hey guys,

When I want to update the Mautic to version 2.15.3, it's freezing on the last stage with an infinite loop. "Moving Package Contents - In Progress".

| Q   | A
| --- | ---
| Mautic version | v2.15.1
| PHP version | 7.1.30
| Browser | Chrome

### Steps to reproduce
1. Click Update Now the Mautic

### Log errors
none

[2019-10-10 06:21] ereznet commented on #7937
Error found:

PHP Fatal error:  Class 'ComposerAutoloaderInitc5648d1079f8b913015b21b8fe452b2d' not found in /home/USERNAME/domains/xxxxx.com/public_html/vendor/autoload.php on line 7

[2019-10-10 10:31] Bibhudatta-Sahoo-ASMB commented on #7902
@npracht The default theme is "Mauve"
Check this http://prntscr.com/phdgc8

[2019-10-10 10:46] npracht commented on #7902
@johbuch is the mauve theme correctly coded to support the preference center?

N.

[2019-10-10 11:22] directpromo commented on #7758
This bug is not fixed in the release v2.15.3. Updating via browser does not work. After updating via the command line you will get an error and need to manually fix the file .htaccess

`<IfVersion < 2.3>

	<Files "index.php">
	    # backwards compatibility with apache 2.2
	    Order allow,deny
	    Allow from all

	</Files>
	<Files "index_dev.php">
	    # backwards compatibility with apache 2.2

[2019-10-10 11:40] directpromo opened #7939 "v2.15.3 not compatible with Apache 2.2"
This bug already was. It was closed but not fixed #7758

[2019-10-10 11:46] Woeler commented on #7939
I am not able to replicate this on either Apache nor NGINX nor Apache with NGINX as proxy.

[2019-10-10 14:22] Qubestar commented on #7937
Thank you for the error. How can I fix it?

[2019-10-10 14:22] ereznet commented on #7937
ErezNet

		#outlook a						{ padding:0; }
		body							{ direction: rtl; width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; background: #fff; font-family: Arial; }

		.ExternalClass					{ width: 100%; }
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
		img

[2019-10-10 14:25] Qubestar commented on #7937
No idea what you mean. I'm not a coder.

[2019-10-10 15:35] RCheesley commented on #7937
Hi @Qubestar and sorry to hear you're having problems updating. Generally it's best to post on the forums at https://forum.mautic.org for support requests rather than Github, as this is for specific issues which are identified.  That being said, we're here now.

What Mautic version were you updating from?

Have you tried clearing the cache (removing the folder in app/cache/prod) to see if this res

[2019-10-10 15:40] Rohaty opened #7940 "Translate {unsubscribe_text} - not translate"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-10 15:44] AkkuFresh commented on #7940
Hi @Rohaty this {unsubscribe_text} is in the field in the settings page and you can customize it freely. It is not an error.

[2019-10-10 15:51] RCheesley commented on #7758
@escopecz is this just a case of updating the htaccess? If so I can submit a PR for that. Wasn't sure if there was anything further that needed testing and can't test myself as I don't get this error.

[2019-10-10 15:54] Rohaty commented on #7940
Hi, yes, I can change it there, but when I have default language selected German and in Configuration-Email Settings-Unsubscribe Settings I translate the text into German language, then I see the translated text into German everywhere and no English. I always see the text in the language I translated it there. It's a error.

[2019-10-10 16:09] Qubestar commented on #7937
@RCheesley thank you for the link to forum - I wasn't aware.

I'm upgrading from v2.15.1.

I was clearing the browser cache but didn't play with folders, so I'll take a look at the materials you've pointed out.

[2019-10-10 17:04] AkkuFresh commented on #7907
I can confirm, the update process works well on 2.15.3 from 2.15.2

[2019-10-10 17:06] AkkuFresh commented on #7937
Please check it: #7907

[2019-10-10 17:14] Qubestar commented on #7937
@AkkuFresh thank you for the link.

I'm not sure - is it stable already?

(I don't understand the code parts nor how to apply them and the https://johnlinhart.com.. link is being blocked by my Avast).

[2019-10-10 17:16] AkkuFresh commented on #7471
@NipunReddy555 Can you update PHP to 7.2.22 at least and Mautic to the latest v.2.15.3?
After updating PHP and Mautic please provide the full cron command and all system parameters of the server. I try to help.

[2019-10-10 17:25] AkkuFresh commented on #7937
@Qubestar I manage about 10 different Mautic installation in different servers and I can say the 2.15.3 is enough good to use.
If the Avast is blocking the John Linhart blog, so, it is the time to change from Avast to iObit software :-)
Perhaps you should update manually from the earlier versions. Try to turn off Avast and read the instructions from the John Linhart blog.

[2019-10-10 17:36] RCheesley commented on #7937
Or, just use the link to the documentation : https://www.mautic.org/docs/en/tips/update-failed.html :)

[2019-10-10 17:42] Rohaty commented on #7940
Hi,
here

https://github.com/mautic/mautic/issues/1673

also solved this problem. It was concluded that it would require a lot of changes and change the way it works now, and it was called a feature request.

How's it going?

[2019-10-10 18:26] ackrug opened #7941 "Automatically move SMS responses out of Segments?"
Is there a way to make it so that when someone responds to a text they are removed from that segment?

[2019-10-10 21:35] dsp76 commented on #4990
Thats still unfixed in 2.15.3

[2019-10-10 22:57] dsp76 opened #7942 "Contact ID is missing from form result export"
## Bug Description
When exporting form results, the contact ID is missing - only submission ID. This is problematic, if you have a form sent to existing users where you don't capture the email address.

(Would be even better, if I could export the email address with the results, bound to the contact ID).

further discussed already here: [Mautic Forum](https://forum.mautic.org/t/is-there-a-reason-t

[2019-10-11 02:12] konstardiy commented on #7900
I still have this issue.
I reviewed source code a bit. I am not a PHP dev, so I am not sure I can fix this myself, but what I understood, is this function
[code]
of `app\bundles\EmailBundle\Controller\Api\EmailApiController.php`
at lines like 145 and below.
[code]
The call of `$this->model->sendEmail` returns _false_. Not an exception thrown or Response instance returned, but plain `false` returne

[2019-10-11 03:25] jtcotton63 commented on #2355
Had this issue on mautic 2.15.2. @tasmaniaman 's fix did it for me.

Can we reopen this and get it fixed since it continues to be an issue?

[2019-10-11 05:13] kuzmany commented on #7942
https://github.com/mautic/mautic/pull/7872

[2019-10-11 05:14] kuzmany commented on #7941
https://github.com/mautic/mautic/pull/7449

[2019-10-11 09:06] TPapajCin opened #7943 "Mautic started redirecting to non-existing HTTPS after cache clear"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
My Mautic installation started

[2019-10-11 09:34] Ezyweb-uk commented on #7758
Updating via a button in the browser offers a much easier update option for admins rather than via the CLI. These days other web systems/platforms other a similar easy update option so it would be nice to get it working.

[2019-10-11 10:20] directpromo commented on #7758
I suggested a ready code. It works. We spend time discussing instead of making changes to a single .htaccess file

Is there any ready-made command for the Linux terminal to send a finished file from the server to the github as a requist for Mautic? tell me and I will do it.

[2019-10-11 10:50] escopecz commented on #7758
@Ezyweb-uk there are discussions on this topic on many places already. The web requests have time limits. It's 30 seconds by default. Mautic's database can have database tables worth of gigabytes of data. If the upgrade contains a database schema migration, it can take more than 30 seconds to complete. When the time limit is reached, it will kill the PHP process and your database will end up in an

[2019-10-11 11:25] vdrover commented on #4774
Looks like this was closed. Is this due to lack of testing? @Maxell92 @escopecz @matishaladiwala

[2019-10-11 12:26] escopecz commented on #4774
It was because it was implemented in https://github.com/mautic/mautic/pull/4910 and if you look into the right hand column you'll see that it belongs to the 2.11.0 milestone which means it was released in Mautic 2.11.0.

[2019-10-11 12:59] vdrover commented on #4774
Aaaah! I was looking in the Actions in the form builder, not the campaign builder. Do you know if there is a feature request for that also?

[2019-10-11 13:29] Woeler commented on #7907
Thanks for reporting @AkkuFresh !

[2019-10-12 01:27] YosuCadilla commented on #2667
Hey there,

If you need Mautic for multiple clients or departments, consider replication instead of multi-tenant / multitenancy, here’s why:

https://mauteam.org/infrastructure/which-is-the-best-way-to-run-mautic-for-agencies/

The basic advantages are security, scalability, portability and the ability to modify a specific customer’s code and/or settings individually.

Cheers!

[2019-10-12 03:46] RanjithNKtrr opened #7945 "Contact > Send Email receives 403 response"
Mautic version : 2.15.3
PHP version : 7.0.0.
Linux Server hosting : Direct Admin panel

I have configured the smtp service in email configuration tab and test connection succeeded.

Then i tried to send email through clicking the contacts and send email but i received 403 response
from this post request /s/contacts/email/3163?mauticUserLastActive=1&mauticLastNotificationId=

Can anyone help me in

[2019-10-12 09:36] tmdpny commented on #5145
I just want to say this WAS important. I've been pulling my hair out this morning on this - curl is installed but not detected... but tried php-curl and voila - fixed. THANK YOU

[2019-10-13 16:55] waltercipcip opened #7947 "Does not remove the contact from the campaign"
My Mautic version is: 2.15.3
My PHP version is: 7.1

My problem is: Does not remove the contact from the campaign.

**Steps to reproduce**
Try to remove a contact from campaign manually.
Try to remove a contact from an auto campaign with an action.

These errors are showing in the log:

**Error when remove from auto campaign:**

[2019-10-11 07:45:02] mautic.ERROR: CAMPAIGN: An exception occurred w

[2019-10-13 19:34] zaharovrd commented on #5919
some notice

Field/Object	New Value	Old Value

[2019-10-14 03:33] muhammadshoaibtasleem opened #7948 "I can't save and close configurations"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-14 07:40] athaylean opened #7949 "Mautic Campaign is not sending a emails"
## Bug Description
Hey guys, I have configurated Mauric with SMTP from Mailgun. Everything works fine including segments and testing mails, but when I try to send mails via capagain Mautic doesn't do that. There is no created messages files in `app/spool/default`, no errors in logs. I tried doing it manually running comands from CLI, but no results. I tried run it without superuser permissions and

[2019-10-14 08:53] YosuCadilla commented on #7892
Today I have completely bypassed the proxy, just in case... no luck (2.15.2)

Just in case I hadn't clearly stated this before:
- URLs are being rewritten.
- Opens are tracked correctly.
- Page hits are registered correctly.

[2019-10-14 09:32] dseegers opened #7950 "Hook before sending Email in segment"
What type of report is this:

| Q  | A
| ---| ---
| Question? | x

## Description:
I am writing a plug-in for Mautic that automatically adds an dynamic attachment to an email that is in a Segment.

## The Issue
The issue that I am facing now that the event is called 2 times. So it will add 2 images to the first e-mail, and 2x2 to the second one. Before it is sent to the user.
When I do an `error_l

[2019-10-14 10:07] toma10 commented on #7890
@npracht I tried [https://opt-out.ferank.eu/en/](https://opt-out.ferank.eu/en/) free version, but nothing new for me. It only blocks mtc/event request until you allow cookie usage for mautic. But it still only tracks user if mautic form inserted in wordpress page/post is submitted. It also ignores logged in user information.

[2019-10-14 13:06] lokeshjoshicis commented on #7927
@alanhartless Can you please check and let me know for the same. Thanks

[2019-10-14 15:08] cesarZubillaga commented on #7890
I am having the same error trying to create anonymous contacts in a local environment. I have a basic html in http://localhost:8002/index.php.

First request to mtc returns object:
{
    "id":null,
    "sid":null,
    "device_id":null
}

second request which sends POST variables with title and so on responds with:

{
  "success": 1,
  "id": null,
  "sid": null,
  "device_id": null,
  "events": [

[2019-10-14 17:08] alanhartless commented on #7927
Hi @lokeshjoshicis. I don't believe Mautic's UI currently supports 3 levels deep.

[2019-10-14 19:37] masonkeefe93 opened #7951 "Sendgrid Webhook still not working"
Bug Description
- Still trying to setup the Sendgrid webhook as per the bounce management instructions and I just can't get it to work.
- Have tested the integration on Sendgrid's side by sending test data to my Mautic endpoint, which I can see is being sent.
- When a real bounce or spam request comes through, the data is sent via Sendgrid but nothing happens in Mautic, no updated tags or Do Not C

[2019-10-15 05:40] waltercipcip commented on #6407
Issue still exists in 12.5.3

[2019-10-15 05:57] YosuCadilla commented on #7892
Note: Email's view in browser and unsubscribe links also works properly.

**Today I've tested on 2.15.3 (non-beta) problem persists.**
@npracht is that enough feedback to mark as bug?

[2019-10-15 07:38] adrianready commented on #3966
I am also having the same error that @ServicedCloud is reported

[2019-10-15 07:47] adrianready commented on #7923
Unable to change the Email template using HTML code view.

Warning on the console:

- Editor should be initialized before calling the destroy method.-

[2019-10-15 08:25] pety-dc opened #7953 "Integrity constraint violation when restarting campaign (2.15.1) STALLS CAMPAIGN TRIGGERS!"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Well, I haven't tracked the bug

[2019-10-15 08:27] pety-dc commented on #6613
I don't know the code for campaign restart feature. but I think it could be possible that if you use `jump` event to jump backwards in the campaign rather than forward or to another branch, the rotation doesn't get increased, does it?

[2019-10-15 08:32] pety-dc commented on #7953
In this case only the `contact field value condition` and then the `restart` events were triggered

[2019-10-15 09:56] romainlaisne commented on #7881
Have anyone had the chance to test this to confirm or not the flow ?
Thanks in advance.

[2019-10-15 12:37] aammiirr99 commented on #7923
I asked my hosting to whitelist and removed the mod security and it work.

[2019-10-15 12:40] #7923 closed

[2019-10-15 12:41] aammiirr99 commented on #7923
The mautic work when mod security is removed.

[2019-10-15 13:36] osidney commented on #7949
+1

[2019-10-15 13:38] rahulseo90 opened #7954 "Gotowebinar Not Showing list of webinars in Mautic"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After Updating mautic to v2.15.

[2019-10-15 14:19] lokeshjoshicis commented on #7927
@alanhartless, Thanks for your update.

[2019-10-15 14:20] #7927 closed

[2019-10-15 14:23] flossels opened #7955 "Composer Install requires git on server"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
`dist` section is missing in co

[2019-10-15 14:46] blume99 opened #7958 "In Twig template, src="{{ getAssetUrl( ... ) }}" gets incorrectly escaped."
### Steps to reproduce on a fresh Mautic intance

- Download the 'Blank' theme locally, create an assets/img folder inside of it and place a picture at assets/img/image.jpg
- Change the content of html/page.html.twig to:
[code]
- Save the theme, upload it, install it and create a new landing page using the theme.

As visible from the screenshot, the newly created landing page will 'suck' the html

[2019-10-15 14:52] npracht commented on #7958
Hi @blume99
Why would I add the following code in the html.twig page?
[code]

[2019-10-15 14:53] npracht commented on #7958
Also `<img src="{{getAssetUrl('themes/'~template~'/assets/img/image.jpg')}}">` should be `<img src="{{getAssetUrl('themes/'~template~'/assets/img/image.jpg')}}" />` right?

[2019-10-15 14:58] blume99 commented on #7958
My bad for the missing "/". I made some mistake while creating the guide to reproduce the bug.
However,  after properly closing the <img /> tag the bug is still happening.

PS: I decided to print the span to quickly see the path returned by getAssetUrl() function and confirm it's correct as it points to the example image inside the theme.

[2019-10-15 15:01] pety-dc opened #7959 "unique vs returning visitors dashboard - wrong query filter?"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I noticed that the returning vi

[2019-10-15 15:02] npracht commented on #7958
can you try by adding all the twig attributes as the following example? (so `, null, null, true`)
`<img src="{{ getAssetUrl('themes/'~template~'/images/surf.jpg', null, null, true) }}" alt="alternative text" />`

[2019-10-15 15:10] blume99 commented on #7958
I changed the template to this:
[code]

And now nothing is printed at all. No bug, no content. I see the same html as the one "Blank" theme produces (but the modified theme is loaded!).

[2019-10-15 15:15] npracht commented on #7958
`<img src="{{getAssetUrl('themes/'~template~'/assets/img/image.jpg', , null, null, true) }}" alt="alternative text"/>`

You have 2 comas between the URL and the first `null`

[2019-10-15 16:39] cesarZubillaga commented on #7890
Again I did with an extra parameter the request ({company: 'name'}) and I am having this in the server logs.

`[2019-10-15 16:10:19] mautic.CRITICAL: Uncaught PHP Exception Doctrine\ORM\ORMInvalidArgumentException: "A new entity was found through the relationship 'Mautic\LeadBundle\Entity\CompanyLead#lead' that was not configured to cascade persist operations for entity: Mautic\LeadBundle\Entity\L

[2019-10-15 21:57] lcmps commented on #7003
Experienced this bug in v2.15.1, this fix worked flawlessly. Thank you very much

[2019-10-16 04:37] dichvuhuuich commented on #7953
You can try solution from @MauriceW2 form https://github.com/mautic/mautic/issues/6613 to fix this:

I fixed it, at least temporarily.

What did I do:
It says: Duplicate entry '249-2079-1' for key 'mautic_campaign_rotation'. This could mean that a value inserted into the DB must be unique, while it's not.

I went into phpMyAdmin and opened the table maut_campaign_lead_event_log. This is where the

[2019-10-16 04:44] dichvuhuuich commented on #7881
You can try this fix from @DanielCiochiu https://github.com/mautic/mautic/pull/7704.

[2019-10-16 07:52] pety-dc commented on #7953
@dichvuhuuich
Sure I could change the index type from UNIQUE to INDEX. But @alanhartless said [here](https://github.com/mautic/mautic/issues/6613#issuecomment-524835016), there is a reason for that index to be UNIQUE.

Moreover the source of the is not even that he rotation value was not increased in the `campaign_leads`. It was.  There seems to be something else causing the error, that I could no

[2019-10-16 08:20] florentpetitjean commented on #7331
Hello,
We still have this issue, can you look at it @kuzmany  ?
Thanks,

[2019-10-16 10:00] RCheesley commented on #7075
I think @sevendaysdigital has a similar issue that I've found with dynamic filters while I was testing a PR.

I made a short screen capture to explain the issue I came across here: https://youtu.be/fvvoIEoVHOg.

In my case, it's confusing both to not see the condition for a dynamic filter, but also to not show the filter that is being applied by default. Instead there is simply a blank box with th

[2019-10-16 11:18] RCheesley commented on #7862
I have tried to reproduce this bug before looking at the PR, following the steps above, but I am not able to.

I created two segments - segment 1 and segment 2.  I added a lead to both segment 1 and segment 2 manually, and then subsequently removed them from segment 2. I confirmed they were only in segment 1 at this stage, post removal.

Campaign set up using segment 1 as a source, with condition

[2019-10-16 14:45] sensalot commented on #7334
I found the cause.
The approach was to go to custom fields and disable all custom fields added. Just keep the core fields (with a slot) active. I could then save the contact without a problem. I activated the disabled fields on by one testing each time if save was possible.
It was the notes field under the professional tab.

[2019-10-16 18:02] kote-isaev opened #7961 "Existing contact was not found by known email with + (plus) in it."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I can not find the lead via API

[2019-10-16 19:13] ackrug opened #7962 "unable to search by phone number in mautic"
Using the search I find the person's name externally and search that way. Is there a way to type a phone number into the search and it shows the contact it is associated with?

[2019-10-16 19:26] kuzmany commented on #7331
@florentpetitjean Okie

[2019-10-17 08:11] kuzmany commented on #7331
@florentpetitjean
I noticed you use in production https://github.com/mautic/mautic/pull/7214
I fixed it in that pull request with last commit.
Can you test it?

[2019-10-17 08:27] florentpetitjean commented on #7331
I will test it.
Thanks

[2019-10-17 08:30] Rohaty commented on #7940
Hello,
no one has a problem translating {unsubscribe_text}? Don't you send emails in different languages? No solution?

[2019-10-17 09:55] cesarZubillaga commented on #7890
Ok, in my case there was a environment configuration. Basically the IP that was doing the request wasn't trackable for the production environment. This was because the real ip wasn't send and the IpLookupHelper didn't work.

Anyways I have to send always the company to create a new contact.

[2019-10-17 11:09] YosuCadilla commented on #6519
This topic is becoming kind of a very asked question lately, so I've made a small guide...
https://mauteam.org/infrastructure/mautic-installation-mautic-hardware-requirements/

[2019-10-17 11:19] DevelopMan commented on #7225
The issue is there `app/bundles/ApiBundle/Controller/CommonApiController.php`
`processForm` method, the line `$form->submit($submitParams, 'PATCH' !== $method);`. The second parameter of the method 'submit' is `clearMissing`, so, if we use `PATCH` method - all nullable parameters will be skipped. We can use `PUT` method to clear some contact fields but there is another problem: it will create a ne

[2019-10-17 11:25] RCheesley commented on #7820
I think that this is related to #7306

[2019-10-17 12:12] DevelopMan opened #7963 "Endpoint `POST /contacts/new` update exists user instead of creating the new one"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Q   | A
| --- | ---
| Mautic

[2019-10-17 16:44] richmarks20 opened #7964 "Manual emails, {signature} token generates incorrect signature"
The manual "Send a custom email to [contact email]" dialogue, as accessed via "Send Email" button in contact detail page does not respect the "Mailer is Owner" setting OR use the currently logged in user's signature when replacing the {signature} token. The signature used is always the "Default email signature" as defined at /s/config/edit

[Docs state](https://www.mautic.org/docs/en/emails/mailer

[2019-10-18 02:50] altomarketing commented on #7368
same to me in other panel, Mod_security was blocking.. fixed.

[2019-10-18 10:39] garzettone opened #7966 "Mautic form submit remains hang up with the massage "Please wait""
Mautic form submit remains hang up wth the massage "Please wait" and doesn't do redirect.
The form is inside a Mautic landing page (using the {form=4} tag) and the Mautic landing page is opened directly fom the browser (is not embedded in other page).

Form data have stored in Mautic DB and all actions have performed, but it doesn't redirect or show message.

I read other people had same problem i

[2019-10-18 18:04] anton-vlasenko opened #7967 "Relative date segment filter (like -3 days/+3 days) doesn't take into account Mautic timezone setting"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Relative date segment filter (l

[2019-10-18 19:43] directpromo commented on #4017
found here is such the patch https://gist.github.com/nextgens/ca501d3c1b149a62c09b0b409e0651a7 In my case it helped

[2019-10-18 20:42] virgilwashere commented on #7860
I'm seeing the same thing, with an extra symptom of form submissions that save to Contact fields are not creating a Contact with those details.

I have currently attributed that particular problem to PR #7614, as I have valid Contacts being created from Form submissions now.

[2019-10-19 00:18] Urano-Gonzalez commented on #7237
I have the same issue. Version 2.15.0. I tried to explain to mautic that this is not a bug and this issue is closed, but the buis alive, still.

[2019-10-19 07:00] YosuCadilla commented on #7762
Hi guys,

For me, upgrading from 2.15.2 to 2.15.3-beta was shown as succesful on the GUI, but didn't update my schema.
Updating from 2.15.3-beta to 2.15.3 failed to complete (in the last step).

So I decided to never use the "button again" and do all updates manually, which in my experience, works 100% of the time.

I've just uploaded a "Mautic Update How-To" with the steps I follow to my blog.

h

[2019-10-19 07:05] YosuCadilla commented on #7758
Hi guys,

In my experience, the GUI method has a huge chance of failing, this is not new, it's been like this since I started usingMautic, hence I recommend doing updates manually:

Here's the process I use:
https://mauteam.org/mautic/mautic-admins/mautic-update-how-to-dont-click-that-button/

Worked fine with 2.15.3!

[2019-10-19 07:20] YosuCadilla commented on #7892
A new installation of 2.15.2 I think, no it started before any Mautic upgrades and persisted after these...

[2019-10-19 16:58] robov opened #7968 "PHP Version"
Would be nice if the error mentioned the version it DOES support

[2019-10-19 18:20] robov opened #7969 "Upgrade 2.15.3 failed : The file containing the list of deleted files was not found, could not process the deleted file list."
Upgrade 2.15.3 failed : The file containing the list of deleted files was not found, could not process the deleted file list.

[2019-10-19 19:26] RanjithNKtrr opened #7970 "500 ERROR on clicking configuration option from settings"
## Bug Description
When clicking the configuration option from settings it gives me 500 as response. While i checked the error log i find the below error

PHP Error: Maximum execution time of 60 seconds exceeded - in file ..\app\bundles\CoreBundle\Templating\TemplateReference.php - at line 93 [] []

Do i need to increase the execution timeout more than 1 minute or why it takes 1 minute to open the

[2019-10-20 08:17] robov opened #7971 "500 on Auth2 connection"
On connecting to mautic 2.15.1 everything works fine
Using the same code on 2.15.3 I get 500 when my server calls back to mautic server to get a access token

[2019-10-20 09:27] JavierLD commented on #7968
Yes, me too received this message "Mautic does not support PHP version 7.3.9 at this time. To use Mautic, you will need to downgrade to an earlier version.".

The problem with this, in my case, is that I can not downgrade php version.

[2019-10-20 22:55] brendansmallco commented on #3827
+1 Bump! Need to be able to use seperate emails for marketing delivery and internal user prompts.

[2019-10-21 06:58] glebihan opened #7972 "Replies not tracked after changing monitored email settings"
## Description:
When changing the email address used to track email replies, the value of the "EmailBundle_replies" entry in the "cache_items" table is not being reset. Due to that, replies in the mailbox are read but not processed.

| Q   | A
| --- | ---
Mautic version | 2.15.2
PHP version | 7.2.13

### Steps to reproduce:
1. Set a monitored email address for email replies
2. Let it run for a whi

[2019-10-21 13:12] MajesteitBart commented on #7860
What do you mean by that? Isn't this a completely unrelated bug?

[2019-10-21 15:11] ackrug commented on #7941
I'm not sure this actually solves my issue.
I want inbound text messages to trigger a segment change

[2019-10-21 16:03] itsSaad opened #7973 "Not able to login to dashboard with SAML when email/user does not preexist in Mautic"
## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | 2.15.0
| PHP version | 7.2.22
| Browser | Safari(Version 13.0.2),Chrome(Version 77.0.3865.120)

### Setup
Our Current setup:
![image](https://user-images.githubusercontent.com/4000342/67220790-b5f44880-f42a-11e9-8f55-faa397d5e0eb.png)
We run mautic behind an AWS Loadbalancer. and the local.php config file i

[2019-10-22 00:08] altomarketing commented on #7949
I had the same problem, but it was I who had caused it. **Attached as I solved it, maybe it will serve someone.**

My mistake was how I did not know if I was configuring the delivery crons well, and I am very impatient, I tried to run the cron command from the console but as root and not as the Apache user who owns the website where mautic is hosted.

This caused the cron to save files in / app /

[2019-10-22 09:07] magician7 commented on #7360
Especially we can use grapesjs library not only in email but also in landing page builder - https://github.com/artf/grapesjs. I understand point of view to follow user needs, but if there is ready to go solutions which works, why not use that?

[2019-10-22 10:32] sensalot commented on #7858
Column not found: 1054 Unknown column 'COUNT' in 'order clause' at /var/www/html/mautic/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php:105)"} []

[2019-10-22 16:23] flossels opened #7975 ".htaccess syntax is not compatible with Apache < 2.4"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Running Mautic on an Apache Web

[2019-10-23 02:01] autoize commented on #7577
Adding the following line in the Apache VirtualHost (between `<VirtualHost>` and </VirtualHost>` corrects the issue with the avatar image being served over HTTP when SSL is terminated at a reverse proxy.

`SetEnvIf X-Forwarded-Proto https HTTPS=on`

The equivalent solution for Nginx is:

`fastcgi_param  HTTPS 'on';`

[2019-10-23 08:21] garzettone commented on #4652
I have the "Please wait" problem after update to v2.15.3 version.
Before update it was working.
This problem make Mautic unusable

[2019-10-23 09:05] DanFaudemer commented on #7768
Same here, when I removed index.php in `local.php` and after **clearing the cache** I was able to login.

[2019-10-23 11:43] haris-rolustech commented on #951
Is there a way to customize app/bundles/CoreBundle/Views/Default/base.html.php through the package?

[2019-10-23 12:06] rh-rolustech commented on #951
@nickian
Is it the correct way to make changes in the CoreBundle files?

[2019-10-23 14:14] virgilwashere commented on #7174
Here's the code as a diff patch.

[code]

[code]

Virgil

[2019-10-23 14:48] richmarks20 commented on #6407
seems fine to me, I've tested quite extensively?

[2019-10-23 16:22] richmarks20 commented on #7676
**This also the case after a condition (as well as a decision).**

[2019-10-23 16:31] virgilwashere commented on #7174
Actually, #7337 is the symptoms I'm seeing..

[2019-10-23 16:34] virgilwashere commented on #7337
The `Undefined index: ct` error has gone away with this [patch](https://github.com/mautic/mautic/issues/7174#issuecomment-545464571)

Here's the code as a diff patch.

[code]

[code]

And a new email (also had a new asset link, so I cannot be sure which bit fixed it) has working links in it after this patch.

Virgil

[2019-10-23 21:08] andrewjneumann commented on #3812
This fixed for me.

[2019-10-23 23:55] MxyzptlkFishStix commented on #7903
Tag them.

If they enter again, tagged, setup a separate option that sends an email immediately containing the asset download.

[2019-10-24 10:28] JorgeH360 commented on #7904
Hello guys, I have tested this, the _**Has valid email address**_ campaign condition is still always giving results true. It would be great if we can fix this, will let us keep clean email lists. Thanks!

[2019-10-24 11:39] pety-dc commented on #7904
I've also retested the PR in mautibox (https://mautibox.com/7960/)
I cloned the campaign made by @RCheesley I got the same result: the contact without email address was not tagged like the others.

What do you mean by "still" exactly?

[2019-10-24 11:50] JorgeH360 commented on #7904
I mean, the **_Has valid email address_** condition is not working. I tested it with a real email and with a fake email and I get true as a result for both...

[2019-10-24 11:57] pety-dc commented on #7904
Did you test it with Mauticbox using the 7960 PR?

[2019-10-24 12:07] JorgeH360 commented on #7904
No, I was testing it in my own instance.

[2019-10-24 12:12] pety-dc commented on #7904
This issue is fixed by https://github.com/mautic/mautic/pull/7960
That PR has not been assigned to a milestone, but probably it will be released in 2.16.0

[2019-10-24 12:13] JorgeH360 commented on #7904
Awesome mate, thanks a lot for details!

[2019-10-24 17:30] virgilwashere commented on #7953
### Don't do it.

I did that on the `companies` table for a situation where new leads were failing to be created with a company name.... now all new leads get created... with 2 or 3 companies with the same name. 😿

I would very much like to return to previous `UNIQUE` status.. but my SQL-fu is failing to produce a valid statement for removing all the duplicates, keeping the first one...

If I coul

[2019-10-25 08:46] RCheesley commented on #581
Given that the PR for this has been closed since January, am going to close down this issue. If somebody wants to pick up the work that was done previously they can review the PR #4670 or implement via a plugin.

[2019-10-25 08:46] #581 closed

[2019-10-25 08:54] RCheesley commented on #7971
@robov can you share the entries from your Mautic error logs please?

[2019-10-25 08:56] RCheesley commented on #7970
Hi @RanjithNKtrr if you increase the timeout period this should resolve the issue.

This sounds more like a server config issue than a problem with Mautic, which are better addressed via the forums at https://forum.mautic.org/c/support.

[2019-10-25 08:56] #7970 closed

[2019-10-25 08:58] RCheesley commented on #7969
Hello @robov can you share the errors you're seeing in the Mautic error logs?  It would also be helpful for you to share what version of Mautic you were upgrading from, and your PHP version.

Have you followed this process: https://www.mautic.org/docs/en/tips/update-failed.html step by step after the upgrade failed?

[2019-10-25 08:59] RCheesley commented on #7968
Please see the technical requirements page: https://www.mautic.org/download/requirements/

7.3 support is currently pending code review, the PR is here: https://github.com/mautic/mautic/pull/6991

[2019-10-25 09:17] RCheesley commented on #7966
Hi @garzettone do you have any errors in your Mautic logs at all?

[2019-10-25 09:23] RCheesley commented on #7962
Hi there,

You can do this already by using phone:<number> in the search field.

See screenshot:

![screenshot-local mautictest-2019 10 25-10_22_33](https://user-images.githubusercontent.com/2930593/67559734-70c56480-f711-11e9-8379-ef52c9d0d055.png)

[2019-10-25 09:23] #7962 closed

[2019-10-25 10:11] garzettone commented on #7966
No I have not errors in Moutic logs neither php error logs.
You can see the form at thi address https://farmaciazadei.servizivisionova.it/iscrizione-alla-newsletter

[2019-10-25 11:54] wucherpfennig commented on #7910
This issue can be closed since working commit merged

[2019-10-25 11:54] #7910 closed

[2019-10-25 11:55] wucherpfennig commented on #7645
If somebody could point me to the right direction I could provide PR including this feature...

[2019-10-25 12:36] garzettone commented on #7966
The problem arose after upgrading to version v2.15.3 from 2.15.2 and impacted all the Mautic installations I manage

[2019-10-25 12:57] garzettone commented on #7966
I have restored v.2.15.2 program files and kept v.2.15.3 DB  but the problem persists

[2019-10-25 13:17] RCheesley commented on #7954
Do you have any errors in your error logs at all? Just I've seen sometimes people hit the API limit, especially if they are still in testing where it has quite a low limit.

[2019-10-25 13:23] RCheesley commented on #7949
@athaylean does @altomarketing 's suggestion help resolve your issue at all? Are your file/folder permissions/ownership as would be expected?

[2019-10-25 13:25] RCheesley commented on #7948
Hi @muhammadshoaibtasleem does this happen in an incognito window?

Have you tried to clear your cache (in Mautic, by clearing app/cache/prod and in your browser)?

Are you seeing anything in your Chrome console when you hit save (press f12 to open developer tools)?

[2019-10-25 13:28] RCheesley commented on #7164
Seems like this might be related to #7947

[2019-10-25 13:33] garzettone commented on #7966
I created a new form from scratch with:
a single text field,
no actions, action after submit
action after successuful submit: "Show message"
message: 'ok'

Same problem

[2019-10-25 13:33] RCheesley commented on #7947
Could be related to this issue: #6635 which suggests a temporary fix of using pdo_mysql driver instead of mysqli - @waltercipcip maybe see if that makes any difference?

[2019-10-25 13:35] #6589 closed

[2019-10-25 14:35] altomarketing commented on #7949
my suggestion resolved my issue, because root was generating files as root (my mistake) and mautic could not erase those files in the next cron.

[2019-10-25 15:42] pety-dc commented on #7730
I believe it is the same issue as
https://github.com/mautic/mautic/issues/6613

[2019-10-25 15:58] pety-dc commented on #6613
I tried to debug this.

I believe the the jump only fails is the jump campaign event is **scheduled**

`Mautic\CampaignBundle\Executioner\EventExecutioner` has a method `executeEventsForContacts` which contains a part where it isolates the jump and non-jump campaign events and first executes the non-jump events then increments the `rotation` via `fetchRotationAndGenerateLogsFromContacts` and only

[2019-10-25 16:20] pety-dc commented on #6613
I tested a countermeasure:
If another type of action preceeds the jumpTo, then the jumpTo runs smoothly with increased rotation.

So if you have a scheduled jumpTo event you should rewrite it to a scheduled Event of any type which is followed by the jumpTo immediately.

[2019-10-25 21:24] gitlares opened #7981 "Can't create segments by Owner"
## Bug Description

Perform the installation as specified on the official website, download the package from Github and run composer.

Operating System: Ubuntu Server 18.04.02
Web Server: nginx/1.14.0
PHP 7.2.19
Mautic: v2.16.0-dev
Web browser: Chrome, Brave, Firefox. Latest versions

### Steps to reproduce

1.- As administrator go to the Segments section.
2.- Add a new Segment.
3.- Add a new filt

[2019-10-25 21:47] onhout commented on #5285
Worked for me

[2019-10-25 23:47] Woolgoose opened #7982 ""empty" segment filter on tags is still not working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This bug was already reported h

[2019-10-26 00:37] Woolgoose commented on #3750
Tried it with dashboard cache set to 0 and emptying cache but same result. No returning visitors visible.

I don't know if I understand this question:
Does some returning visit in the page_hits table for the time period you have filtered in the dashboard date range filter?

If you mean if page visits get tracked in the History tab of a contact the answer is yes.

[2019-10-26 07:27] AndrassGray opened #7983 "Help text "Configuration > Email > Disable trackable urls" outdated"
## Bug Description

Not actually a bug, but outdated.  And probably wrong.

**Configuration > Email > Disable trackable urls**

has a help text "Gmail (and GSuite) don't like redirecting urls. This is explicitly mentioned in the Gmail guidelines here: https://support.google.com/mail/answer/81126 under 'Format' (4th bullet)" that apparently has been edited and does not speak about trackable links.

[2019-10-26 14:18] alanhartless opened #7985 "M3: Refactor Deprecations - ApiBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

ApiBundle/Form/Validator/Constraints/OAuthCallbackValidator.php
- [ ] Nr. 350 line 52: Calling deprecated method Symfony\Component\Validator\ConstraintValidator->

[2019-10-26 14:21] alanhartless opened #7986 "M3: Refactor Deprecations - AssetBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

AssetBundle/Form/Type/PointActionAssetDownloadType.php
- [x] Nr. 355 line 45: Overriding deprecated method Mautic\AssetBundle\Form\Type\PointActionAssetDownloadTy

[2019-10-26 14:36] alanhartless opened #7987 "M3: Refactor Deprecations - CampaignBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

CampaignBundle/Form/Type/CampaignLeadSourceType.php
- [ ] Nr. 37 line 118: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
-

[2019-10-26 14:37] alanhartless opened #7988 "M3: Refactor Deprecations - CategoryBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

CategoryBundle/Form/Type/CategoryListType.php
- [x] Nr. 267 line 122: Overriding deprecated method Mautic\CategoryBundle\Form\Type\CategoryListType->getName()

Ca

[2019-10-26 14:39] alanhartless opened #7989 "M3: Refactor Deprecations - ReportBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

ReportBundle/Form/Type/TableOrderType.php
- [x] Nr. 1 line 94: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
- [x] Nr. 2 l

[2019-10-26 14:41] alanhartless opened #7990 "M3: Refactor Deprecations - WebhookBundle"
- [ ] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

WebhookBundle/Form/Type/CampaignEventSendWebhookType.php
- [ ] Nr. 21 line 133: Overriding deprecated method Mautic\WebhookBundle\Form\Type\CampaignEventSendWebho

[2019-10-26 14:43] alanhartless opened #7991 "M3: Refactor Deprecations - InstallBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

InstallBundle/Configurator/Form/EmailStepType.php
- [x] Nr. 24 line 157: Using deprecated class Symfony\Component\Form\Extension\Core\ChoiceList\ChoiceList
- [x]

[2019-10-26 14:44] alanhartless opened #7992 "M3: Refactor Deprecations - ChannelBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

ChannelBundle/Form/Type/MessageListType.php
- [x] Nr. 32 line 62: Overriding deprecated method Mautic\ChannelBundle\Form\Type\MessageListType->getName()

ChannelB

[2019-10-26 14:45] alanhartless opened #7993 "M3: Refactor Deprecations - DashboardBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

DashboardBundle/Form/Type/WidgetType.php
- [x] Nr. 34 line 150: Overriding deprecated method Mautic\DashboardBundle\Form\Type\WidgetType->getName()

DashboardBund

[2019-10-26 14:46] alanhartless opened #7994 "M3: Refactor Deprecations - ConfigBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

ConfigBundle/Form/Type/ConfigType.php
- [x] Nr. 36 line 93: Overriding deprecated method Mautic\ConfigBundle\Form\Type\ConfigType->getName()

- [x] Fix `testRestr

[2019-10-26 14:49] alanhartless opened #7995 "M3: Refactor Deprecations - UserBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form (i.e. `cascade_validation`)

UserBundle/Form/Type/PermissionListType.php
- [x] Nr. 52 line 26: Using deprecated interface Symfony\Component\OptionsResolver\Options

[2019-10-26 14:50] alanhartless opened #7996 "M3: Refactor Deprecations - DynamicContentBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

DynamicContentBundle/Form/Type/DwcEntryFiltersType.php
- [x] Nr. 74 line 122: Overriding deprecated method Mautic\DynamicContentBundle\Form\Type\DwcEntryFiltersTy

[2019-10-26 14:51] alanhartless opened #7997 "M3: Refactor Deprecations - PointBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

PointBundle/Form/Type/PointActionType.php
- [x] Nr. 81 line 48: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
- [x] Nr. 82

[2019-10-26 14:52] alanhartless opened #7998 "M3: Refactor Deprecations - EmailBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

EmailBundle/Form/Type/ConfigMonitoredMailboxesType.php
- [x] Nr. 94 line 255: Overriding deprecated method Mautic\EmailBundle\Form\Type\ConfigMonitoredMailboxesTy

[2019-10-26 14:59] alanhartless opened #7999 "M3: Refactor Deprecations - StageBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

StageBundle/Form/Type/StageActionListType.php
- [x] Nr. 117 line 37: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
- [x] N

[2019-10-26 15:00] alanhartless opened #8000 "M3: Refactor Deprecations - LeadBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

LeadBundle/Form/Type/ActionAddUtmTagsType.php
- [x] Nr. 133 line 44: Overriding deprecated method Mautic\LeadBundle\Form\Type\ActionAddUtmTagsType->getName()

Lea

[2019-10-26 15:14] alanhartless opened #8001 "M3: Refactor Deprecations - FormBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

FormBundle/Form/Type/CampaignEventFormSubmitType.php
- [x] Nr. 225 line 41: Overriding deprecated method Mautic\FormBundle\Form\Type\CampaignEventFormSubmitType->

[2019-10-26 15:15] alanhartless opened #8002 "M3: Refactor Deprecations - NotificationBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

NotificationBundle/Form/Type/MobileNotificationSendType.php
- [x] Nr. 251 line 100: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverIn

[2019-10-26 15:16] alanhartless opened #8003 "M3: Refactor Deprecations - QueueBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

QueueBundle/Form/Type/ConfigType.php
- [x] Nr. 270 line 71: Overriding deprecated method Mautic\QueueBundle\Form\Type\ConfigType->getName()

[2019-10-26 15:17] alanhartless opened #8004 "M3: Refactor Deprecations - CoreBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form (i.e.  `\Mautic\CoreBundle\Form\Extension\CustomFormExtension`)

CoreBundle/Form/Type/ButtonGroupType.php
- [x] Nr. 271 line 43: Using deprecated interface Symfony

[2019-10-26 15:18] alanhartless opened #8005 "M3: Refactor Deprecations - PageBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

PageBundle/Form/Type/VariantType.php
- [x] Nr. 365 line 104: Overriding deprecated method Mautic\PageBundle\Form\Type\VariantType->getName()

PageBundle/Form/Type

[2019-10-26 15:19] alanhartless opened #8006 "M3: Refactor Deprecations - SmsBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

SmsBundle/Form/Type/SmsType.php
- [x] Nr. 394 line 172: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
- [x] Nr. 395 line 1

[2019-10-26 15:31] alanhartless opened #8007 "M3: Refactor Deprecations - PluginBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

PluginBundle/Form/Type/FieldsType.php
- [ ] Nr. 402 line 58: Overriding deprecated method Mautic\PluginBundle\Form\Type\FieldsType->getName()

PluginBundle/Form/T

[2019-10-26 15:44] alanhartless opened #8008 "M3: Refactor Deprecations - MauticCloudStorageBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticCloudStorageBundle/Form/Type/RackspaceType.php
- [x] Nr. 1 line 44: Overriding deprecated method MauticPlugin\MauticCloudStorageBundle\Form\Type\RackspaceTy

[2019-10-26 15:45] alanhartless opened #8009 "M3: Refactor Deprecations - MauticFullContactBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticFullContactBundle/Form/Type/BatchLookupType.php
- [x] Nr. 3 line 62: Overriding deprecated method MauticPlugin\MauticFullContactBundle\Form\Type\BatchLookup

[2019-10-26 15:46] alanhartless opened #8010 "M3: Refactor Deprecations - MauticClearbitBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticClearbitBundle/Form/Type/BatchLookupType.php
- [x] Nr. 5 line 62: Overriding deprecated method MauticPlugin\MauticClearbitBundle\Form\Type\BatchLookupType->

[2019-10-26 15:47] alanhartless opened #8011 "M3: Refactor Deprecations - MauticCrmBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticCrmBundle/Form/Type/IntegrationCampaignsTaskType.php
- [ ] Nr. 7 line 43: Using deprecated interface Symfony\Component\Validator\ExecutionContextInterface
-

[2019-10-26 15:48] alanhartless opened #8012 "M3: Refactor Deprecations - MauticFocusBundle"
- [x] Remove uses of `MauticFactory`
- [x] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [x] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticFocusBundle/Form/Type/PropertiesType.php
- [x] Nr. 12 line 183: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterface
- [x]

[2019-10-26 15:49] alanhartless opened #8013 "M3: Refactor Deprecations - MauticSocialBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticSocialBundle/Form/Type/LinkedInType.php
- [ ] Nr. 27 line 45: Overriding deprecated method MauticPlugin\MauticSocialBundle\Form\Type\LinkedInType->getName()

[2019-10-26 15:50] alanhartless opened #8014 "M3: Refactor Deprecations - MauticEmailMarketingBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticEmailMarketingBundle/Form/Type/MailchimpType.php
- [ ] Nr. 47 line 188: Using deprecated interface Symfony\Component\OptionsResolver\OptionsResolverInterfac

[2019-10-26 15:51] alanhartless opened #8015 "M3: Refactor Deprecations - MauticCitrixBundle"
- [ ] Remove uses of `MauticFactory`
- [ ] Search for and remove/refactor M2 `@deprecated` code if simple otherwise, create a new issue with details to be prioritized
- [ ] https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#form

MauticCitrixBundle/Form/Type/CitrixListType.php
- [ ] Nr. 56 line 73: Overriding deprecated method MauticPlugin\MauticCitrixBundle\Form\Type\CitrixListType->getNa

[2019-10-26 15:58] alanhartless opened #8016 "M3: Upgrade jQuery and jQuery plugins"
- [ ] Upgrade jQuery to 3.x

Test and/or upgrade each jQuery plugin included in Mautic
https://github.com/mautic/mautic/tree/staging/app/bundles/CoreBundle/Assets/js/libraries

[2019-10-26 16:06] alanhartless opened #8017 "M3: Mailer Transports - Abstract and Interfaces"
Refactor Swift Mailer 5.x to 6.x

- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\AbstractTokenArrayTransport
- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\AbstractTokenHttpTransport
- [ ] Remove and refactor uses of \Mautic\EmailBundle\Swiftmailer\Transport\InterfaceCallbackTransport
- [ ] Remove and refactor uses of \Mautic\EmailBundle\Swiftmailer\Transport\InterfaceTokenTransport
- [ ] \Mauti

[2019-10-26 16:10] alanhartless opened #8018 "M3: Mailer Transports - SMTP Transports"
Refactor Swift Mailer 5.x to 6.x

- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\AbstractTokenSmtpTransport
- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\AmazonTransport
- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\ElasticemailTransport
- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\MailjetTransport
- [ ] \Mautic\EmailBundle\Swiftmailer\Transport\PostmarkTransport
- [ ] \Mautic\EmailBundle\

[2019-10-26 16:23] alanhartless opened #8019 "M3: Mailer Transports - MandrillTransport"
Refactor Swift Mailer 5.x to 6.x

- [x] \Mautic\EmailBundle\Swiftmailer\Transport\MandrillTransport

[code]

[2019-10-26 16:25] alanhartless opened #8020 "M3: Mailer Transports - MomentumTransport"
Refactor Swift Mailer 5.x to 6.x

- [x] \Mautic\EmailBundle\Swiftmailer\Transport\MomentumTransport

[code]

[2019-10-26 16:25] alanhartless opened #8021 "M3: Mailer Transports - SendgridApiTransport"
Refactor Swift Mailer 5.x to 6.x

- [x] \Mautic\EmailBundle\Swiftmailer\Transport\SendgridApiTransport

[code]

[2019-10-26 16:26] alanhartless opened #8022 "M3: Mailer Transports - SparkpostTransport"
Refactor Swift Mailer 5.x to 6.x

- [x] \Mautic\EmailBundle\Swiftmailer\Transport\SparkpostTransport

[code]

[2019-10-26 16:58] alanhartless opened #8023 "M3: Refactor Deprecations - Deep items use in ParameterBag"
ParameterBag's support for deep/nested items was removed https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#httpfoundation. There are a few places in Mautic that depends on this and thus needs to be refactored.

For example:
https://github.com/mautic/mautic/blob/4b46c63e08ce8907c195e0cbb7c20d41dadf5f77/app/bundles/PointBundle/Controller/TriggerEventController.php#L156
https://github.com/ma

[2019-10-26 17:09] alanhartless opened #8024 "M3: Refactor Deprecations - BazingaOAuthServerBundle"
Mautic has a forked version of the BazingaOAuthServerBundle but it is no longer maintained upstream and it is not compatible with Symfony 3.4.

Remove and upgrade deprecated code in this release branch https://github.com/mautic/BazingaOAuthServerBundle/tree/release-0.0.3 per https://github.com/symfony/symfony/blob/3.0/UPGRADE-3.0.md#httpfoundation

[2019-10-26 17:12] alanhartless opened #8025 "M3: Symfony 3.4 Directory Structure"
Use the new Symfony 3.4 directory structure as described in https://www.cloudways.com/blog/upgrade-symfony-2-to-3/.

This has already been started in https://github.com/mautic/mautic/tree/3.x

[2019-10-26 17:14] alanhartless opened #8026 "M3: Resolve Symfony 3.4 Dependencies"
Upgrade Mautic dependencies to Symfony 3.4 and related vendors (Doctrine, FOS, etc)

Dependencies have been upgraded and resolved in https://github.com/mautic/mautic/tree/3.x

[2019-10-26 17:16] alanhartless opened #8027 "M3: JMS Serializer"
JMS serializer is used for Mautic's API. Some BC breaks are introduced in the latest version that needs to be changed in Mautic 3.

See https://github.com/schmittjoh/JMSSerializerBundle/blob/master/UPGRADING.md

[2019-10-26 17:18] alanhartless opened #8028 "M3: PHPUnit 5.x to 7.x"
Tests need to be upgraded from 5.x to 7.x. For now, we cannot support PHPUnit 8.x due to the dependency on phpunit-selenium.

Changes required to tests are noted in:
https://phpunit.de/announcements/phpunit-6.html
https://phpunit.de/announcements/phpunit-7.html

Discussion - Per Symfony 3.4, all tests should be moved into a /tests directory in the root. Should Mautic 3 do this and if so, how shoul

[2019-10-26 17:20] alanhartless opened #8029 "M3: Update installation checks"
Update \Mautic\InstallBundle\Configurator\Step\CheckStep to include the determined requirements for M3

Do so in the 3.x branch as there were some changes done already.

[2019-10-26 17:36] alanhartless opened #8030 "M3: IntegrationsBundle"
Mautic/Acquia, Inc has written a plugin, [IntegrationsBundle](https://github.com/mautic-inc/plugin-integrations), with cleaner implementations than the PluginBundle's AbstractIntegration class. This bundle can be copied into core Mautic for future integration development in M3. The plugin will remain intact for M2 use.

- [x] Copy IntegrationsBundle into app/bundles
- [x] Search/replace `MauticPlu

[2019-10-27 15:58] lisandrop opened #8031 "Field ID has inconsistent types switching between String and Long when editing Contacts"
## Bug Description
The type of attribute ID in field of Contacts switch between String and Long making it harder to serialize data to work with Objects in strongly typed languages like Java.

While building a Java connector for Mautic, I noticed that when tests run against [Edit contact](https://developer.mautic.org/#edit-contact)) using `PUT` when the contact is `created` I get the following resp

[2019-10-27 20:43] fuschini commented on #7360
Looking foward to see this!

[2019-10-28 02:27] StevenChin commented on #7338
@johbuch I was having the same issue as well. I was also able to reproduce the issue using the change campaign action in the campaign builder to remove contacts from the campaign.

I did some investigation into how the `mautic:campaign:rebuild` command works and found that it was designed to only allow **new contacts** to enter campaigns - or you can manually add contacts to the campaign. Contacts

[2019-10-28 09:10] sofocle80 commented on #7930
Same problem here, no idea what happened.
Updated to latest version 10 days ago, deleted cache, checked and all was ok.
One day I just couldn't log in to my mautic. In log is the same error as above.

[2019-10-28 10:53] garzettone commented on #7966
I solved adding the following line to .htaccess inside the mautic folder:
**Header always unset X-Frame-Options**

Please note that I have no restriceted domain in CORS settings

[2019-10-28 10:53] #7966 closed

[2019-10-28 18:51] Mancy commented on #5933
A solution for just escaping the HTML tokens, but leaving the rest of tokens intact.

Do this command ONCE _**take care of the file path and change your path accordingly**_

[code]

You can check if the command has been applied correctly Or do it manually by modifying the line in **sendLeadAction** function in this file /var/www/mautic/app/bundles/EmailBundle/Controller/Api/EmailApiController.php

[2019-10-28 19:24] kuzmany commented on #7967
@anton-vlasenko this PR doesn't fix it? https://github.com/mautic/mautic/pull/7122 ?

[2019-10-28 20:33] Mancy opened #8034 "Unable to open file for reading"
## Bug Description
Send Email to contact using api fails when embed image option is enabled and the image source has tokens in the url.
I guess that Images being embedded before the processing of the token parameters

| Q   | A
| --- | ---
| Mautic version | v2.15.3
| PHP version | 7.0.33
| Browser | Chrome

### Steps to reproduce
1. Enable Embed Image
2. set template code as "{site_url}/images/lo

[2019-10-29 05:15] Bibhudatta-Sahoo-ASMB commented on #7902
@npracht any update ?

[2019-10-29 09:49] florentpetitjean opened #8037 "Focus item - Disabling "Allow to Hide" option make the focus blank"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In the Focus item editor when y

[2019-10-29 15:22] florentpetitjean opened #8039 "Special Characters in UTM tags make urls not working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If you use special characters i

[2019-10-29 16:03] SulphurDioxide opened #8040 "Leads no longer being created in SugarCRM"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I've had the SugarCRM plugin en

[2019-10-29 20:27] incentfit opened #8042 "Dynamic Content Inserted into Wordpress Loses Classes and Styles"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I'm trying to make a wordpress

[2019-10-29 22:08] incentfit commented on #8042
I also looked into just having the dynamic content be a script tag with a `jquery.show()` command in there but Mautic strips out all javascript from dynamic content for some reason...

[2019-10-30 06:22] npracht commented on #8040
Hi @SulphurDioxide !
I don't think it is related to https://github.com/mautic/mautic/pull/7555. Also, without any logs... it is complicated to know what is the issue. The issue itself seems coming from the campaign.

Can you try to clear cache ? Also clear plugin cache and redo the settings ?

[2019-10-30 09:24] Doom666 commented on #7368
Im having the same problem and I got no Idea what Mod_security or wordfence is, I have it installed in bluehost if that is of any help
does anyone knows how to fix this?

[2019-10-30 09:33] Doom666 commented on #7368
I dont seem to have mod_security in my CPanel nor wordfence in any of the wp pages I have...

[2019-10-30 10:00] johbuch commented on #7902
@Bibhudatta-Sahoo-ASMB I confirm that the issue only occurs if you use the default preferences center.
It works properly if you create a custom PC and assign it within an email

[2019-10-30 10:08] juliengrima commented on #3514
hello
I have the same error as din0715, when i tried to deploy my symfony project and i did'nt find the solution.

If someone can help me ?

Thank's

[2019-10-30 10:51] kuzmany commented on #7967
@anton-vlasenko this should fixed it
https://github.com/mautic/mautic/pull/8044

Please test

[2019-10-30 10:58] SulphurDioxide commented on #8040
Hi @npracht - Thanks for the reply!

I've cleared the cache by using `app/console cache:clear` and it reported that the cache was successfully cleared. I didn't realise there was a plugin cache and I can't seem to find anything that indicates how I can clear it. Additionally, I don't see a way of disabling or removing the settings for a plugin without saving blanks into the fields.

The only logs

[2019-10-30 10:59] npracht commented on #8040
If you go in the DB, you have a table plugin cache.

[2019-10-30 11:10] SulphurDioxide commented on #8040
Hmm, I can't find that table in the database:
![plugins](https://user-images.githubusercontent.com/14162920/67853097-b618d600-fb05-11e9-9ec2-675fe0a989fd.PNG)

And the only tables I have that contain 'cache' are:
![cache](https://user-images.githubusercontent.com/14162920/67853114-c2049800-fb05-11e9-891f-8bd3b9517c98.PNG)

[2019-10-30 11:19] romainlaisne commented on #7881
Hi all,

I have done the test via mautibox for the issue fix 7704 (https://github.com/mautic/mautic/pull/7704).

Here is the link to the instance :
https://mautibox.com/7704/s/dashboard

The result below, shows that the user receive a second email when added back to the segment, even though the option "Allow contacts to restart the campaign" is on FALSE :

![image](https://user-images.githubuserco

[2019-10-30 11:33] anton-vlasenko commented on #7967
@kuzmany Thank you. I will review and test it soon.

[2019-10-30 12:40] DanielCiochiu commented on #7881
This is indeed a bug. The steps to reproduce this bug should be updated because it only happens when you manually add the contacts to the source segments of the campaign.

The problem seems to be that when manually adding contacts to a certain segment (this issue doesn't affect segments:updated or campaign:rebuild commands), Mautic automatically adds these contacts to the campaign for which that s

[2019-10-30 15:11] ackrug opened #8045 "File path for default Form Thank you page"
I'm trying to change the default form thank you page, can anyone tell me where this file might be?

[2019-10-30 17:26] pstevens71 opened #8046 "Mautic 2.15.3 No longer Pushes Leads to SuiteCRM"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-10-30 17:49] pstevens71 commented on #8046
After some trial and error, managed to get it working again.  Had to go into the plugin and "re-authorize app"  After re-authorizing the app the leads push to SuiteCRM again.  Hope this saves someone else some time troubleshooting.

[2019-10-31 02:01] pstevens71 commented on #8040
I have kind of a similar Problem.  I had leads syncing from contact form fills working no problem, and on form completion a Mautic Action to push it to SuiteCRM.  I have a form on WordPress with Gravity Forms that creates the lead in Mautic, then Mautic pushes it to SuiteCRM.  This works no problem and has been working for like over a year on various versions.  I just upgraded to 2.15.3 and now Gr

[2019-10-31 07:06] MusTon79 opened #8047 "upgrade segments"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have the feeling that the seg

[2019-10-31 09:58] richmarks20 commented on #8040
Haven't investigated in detail, but same problem - no leads pushed to Sugar since updating to Mautic 2.15.3 - Lots of "Failed to execute campaign event" errors in the Mautic UI.

Can create leads using my Sugar API from other software using the same credentials.
Mautic to Sugar connectivity is fine
Nothing has changed with my Sugar setup.

[2019-10-31 12:02] Bibhudatta-Sahoo-ASMB commented on #7902
Thanks @johbuch I got the thing. It is working in customized preference center and to create customized preference center I have followed [https://mautic.com/help/manage-subscriptions/](https://mautic.com/help/manage-subscriptions/)   this doc.

[2019-10-31 12:02] #7902 closed

[2019-10-31 13:35] pstevens71 commented on #8040
I tried to push the leads via campaign and got same "Failed to execute...."   In the lead it says "this event encountered an unknown error",   There is an error in the log about "unknown error obtaining the access token".  I've tried re-authorizing the app and that works not problem but doesn't help.

[2019-10-31 14:02] pstevens71 commented on #8040
If it helps, I just replaced the  /plugins/MauticCRMBundle/Integration/SugarcrmIntegration.php with the previous version I had that was working on 2.15.1  and it works again.  So that kind of narrows it down to the changes made in the last two releases.

[2019-10-31 14:02] victor-mp opened #8048 "Unsubscribe 500 error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Getting mautic's `500 internal

[2019-10-31 14:15] SulphurDioxide commented on #8040
@pstevens71 Ah, that's good to know, thanks. I had it working reliably on 2.15.2 which is why I figured the cause might be #7555 because it was seemingly the only change to the sugar integration file between 2.15.2 and 2.15.3.

[2019-10-31 16:40] MusTon79 commented on #7679
I have the same problem. I also downgraded to php version 5.6
and Mautic 2.14.2 but the problem is always present.

[2019-10-31 17:18] npracht commented on #8048
Yes the page cannot be found because the contact is not existing anymore. What do you think we should have as page ? 404 ? Or a message like "your profile has been deleted before your request" ?

[2019-10-31 17:19] npracht commented on #8047
Hi @MusTon79 What is the latest version ? Also, i am scared to do not be able to reproduce with that description. Are you able to prove that there is an issue ? Do you find any of your contacts that are in or out and should be out or in ?

[2019-10-31 17:21] npracht commented on #8046
It seems duplicate of https://github.com/mautic/mautic/issues/8040

[2019-10-31 17:21] #8046 closed

[2019-10-31 17:22] npracht commented on #8045
Hi @ackrug ! thanks for your message.
The mautic policies requests that all chat, question, feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2019-10-31 17:22] #8045 closed

[2019-10-31 17:28] MusTon79 commented on #8047
Hello. Thanks for the reply.

I wasn't able to verify the installed version but it was the last update available.

Having said that, I tell you that we downgraded to php version 5.6 and Mautic version 2.14.2.

The problem persists.

Have you looked at the attached file? I have attached a video showing the problem.

I also saw other people who have the same problem as me:
- https://github.com/mauti

[2019-10-31 17:46] pstevens71 commented on #8046
Yeah it is a duplicate of #8040.  While re-authorizing solved some problems it did not fix the issue entirely.  Leads can't be pushed by campaign anymore and only if a lead is added through a Mautic form is it pushed via action to the integration.  I've updated my testing and trials on #8040.  I changed the suitecrm integration file back to the the 2.15.1 version I had and it works again.  Must be

[2019-10-31 18:13] pstevens71 commented on #8040
Did some more testing, my "fix" of using an older version of the file, fixes the push from form issue I was having, but push via campaign still doesn't work.

[2019-10-31 19:56] cesarmartin commented on #7597
It works!
This feature must be adjusted to next releases.

[2019-10-31 23:28] Psymbionic commented on #7679
@MusTon79 any chance you're on a Bitnami installation?

[2019-10-31 23:36] MusTon79 commented on #7679
No im running it on my own server and manually installation

[2019-10-31 23:37] MusTon79 commented on #7679
@Psymbionic No im running it on my own server and manually installation

[2019-11-01 08:50] victor-mp commented on #8048
Hi!
Thank you for the quick answer.
Maybe something like `Record not found` will be much better than `internal server error`
Mautic already has this message, why not to use that?
But if this is the expected situation I will try to find my own workaround.

[2019-11-01 09:26] npracht commented on #7360
**From contributionDay Workshop --> Will be planned into mautic 3.x minor version.**

[2019-11-01 09:30] benfavre commented on #7360
do we have any sort of eta ?

[2019-11-01 09:36] Dcoutelle commented on #7997
I'll take this one.

[2019-11-01 09:37] Enc3phale commented on #7988
I take this one.

[2019-11-01 09:48] npracht commented on #7360
Not now, we're currently working on Mautic 3.0 symfony update. We'll draw that afterward.

[2019-11-01 10:28] escopecz commented on #7998
PR: https://github.com/mautic/mautic/pull/8049

[2019-11-01 10:56] escopecz opened #8051 "Refactor FormSubmitHelpers in all bundles to use events over the static method"
See https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/app/bundles/EmailBundle/Helper/FormSubmitHelper.php#L26 <- this method must be refactored to a subscriber probably.

It's used twice in https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/app/bundles/EmailBundle/EventListener/FormSubscriber.php#L48 where we should replace the callback with

[2019-11-01 13:48] escopecz opened #8055 "Refactor PointEventHelper in all bundles from static methods into events"
Here it is: https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/app/bundles/EmailBundle/Helper/PointEventHelper.php#L20

We need that to get rid of MauticFactory

[2019-11-01 14:11] escopecz opened #8058 "Refactor onCampaignTriggerActionSendEmailToUser()"
This method is using deprecated `EmailEvents::ON_CAMPAIGN_TRIGGER_ACTION` action. Use `EmailEvents::ON_CAMPAIGN_BATCH_ACTION` instead.

https://github.com/mautic/mautic/blob/991b5c74a6dcfbb3d13881dc2033c84d5197f240/app/bundles/EmailBundle/EventListener/CampaignSubscriber.php#L380

[2019-11-01 14:42] escopecz opened #8060 "Refactor use of MailHelper out of MauticFactory"
MailHelper::validateEmail() is deprecated. Use EmailValidator service instead. Then remove the deprecated method.

https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/plugins/MauticCrmBundle/Api/HubspotApi.php#L65

[2019-11-01 15:21] anton-vlasenko opened #8062 "Refactor Mautic\ChannelBundle\Tests\EventListener\CampaignSubscriberTest"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Please see https://github.com/m

[2019-11-01 15:37] anton-vlasenko commented on #7992
PR: https://github.com/mautic/mautic/issues/8062

[2019-11-01 15:51] Dcoutelle opened #8066 "Refactor leadBundle's Mautic\LeadBundle\Helper\EventHelper"
Here it is:
Mautic\LeadBundle\Helper\EventHelper.php

We need that to get rid of MauticFactory

[2019-11-01 16:04] escopecz opened #8067 "Refactor AbTestHelper in all bundles to get rid of static methods and use events instead"
The goal is to get rid of MauticFactory

[2019-11-01 16:15] alanhartless opened #8070 "M3: Refactor Deprecations - Search for use of `choices` and ensure key/value pair is correct"
Mautic 2 is dependent on the BC Break introduced in 2.7 and thus needs to be searched and replaced with key => value pair of label => value with the `choices_as_values` as true so that it's testable in M2

In Symfony 2.7 a small BC break was introduced with the new choices_as_values option. In order to have the choice values populated to the html value attribute you had to define the choice_value

[2019-11-01 17:09] npracht opened #8071 "ability to delete a stage used in campaign"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-11-01 17:14] anton-vlasenko commented on #8010
PR: https://github.com/mautic/mautic/pull/8072

[2019-11-01 17:17] escopecz opened #8073 "Remove duplicated 'lead' array from the webhook payload"
We currently provide `contact` and `lead` array in webhook payloads containing the same information. Remove the `lead` one.

[2019-11-01 17:19] escopecz opened #8074 "Remove duplicated `error` array from the API payloads"
The API payload error messages contain `error` array and `errors` array with the same information. Remove the former one.

[2019-11-01 17:23] escopecz commented on #7986
PR: https://github.com/mautic/mautic/pull/8069

[2019-11-02 09:36] ineedhelp2018 opened #8077 "Send form results to different users based on conditional logic"
Does this already exist?

I have created a campaign for the form sign up. The campaign filters different emails to go out that is based on the form dropdown value.

There are multiple users that the form results must go to within the company but it doesn't actually send the form results when pulled through in a campaign, it shows the form fields are there but doesn't pull the actual data through.

[2019-11-02 10:50] dongilbert opened #8079 "M3: Remove deprecated classes in MauticFullContactBundle plugin"
The MauticFullContactBundle is full of unused classes, exceptions, and code. It needs to be cleaned up. However, in the context of updating for Symfony 3.4, removing these classes is not required.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/83057232-m3-remove-deprecated-classes-in-mauticfullcontactbundle-plugin?utm_campaign=plug

[2019-11-02 10:50] dongilbert commented on #8009
https://github.com/mautic/mautic/issues/8079

[2019-11-02 15:13] hluchas commented on #8006
PR https://github.com/mautic/mautic/pull/8081

[2019-11-02 15:15] hluchas commented on #7990
PR https://github.com/mautic/mautic/pull/8061

[2019-11-02 16:46] escopecz commented on #7995
PR: https://github.com/mautic/mautic/pull/8083

[2019-11-02 16:53] alanhartless opened #8084 "M3: Refactor EntityFieldsBuildFormTrait to support form type by FQCN"
In refactoring the Mautic\CoreBundle\Form\Type\TelType, `\Mautic\LeadBundle\Form\Type\EntityFieldsBuildFormTrait` expects that the field type matches the form type which throws an exception that the form type doesn't exist. https://github.com/mautic/mautic/blob/master/app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php#L84 will have to figure out how make this work.

[2019-11-02 17:55] anton-vlasenko opened #8087 "Certain form aliases have to be removed from SocialBundle's config.php (Symfony 3 migration)"
## Bug Description
There is a PR that removes deprecated code from the social bundle: https://github.com/mautic/mautic/pull/8085
Also see https://github.com/mautic/mautic/issues/8013. It contains details and links to the documentation.
However we still have to figure out how to remove aliases for the following form types:
monitoring, twitter_hashtag, twitter_handle, twitter_custom, social_config.

[2019-11-02 18:08] anton-vlasenko commented on #8087
This has been fixed.

[2019-11-02 18:08] #8087 closed

[2019-11-02 18:14] alanhartless opened #8088 "M3: Refactor BuilderTokenHelper away from MauticFactory"
\Mautic\CoreBundle\Helper\BuilderTokenHelper is dependent on MauticFactory and thus needs to be refactored to a service instead in order to use dependency injection.

[2019-11-03 04:24] engerim42 commented on #1927
Only works if the field group is set to "Core". If I set a custom field to "Social" the column is shown but not the data.

[2019-11-03 06:11] RCheesley commented on #6617
I can reproduce this with both mentions and hashtags with 2.15.3.

It imports a certain number but then it seems to get stuck:

[code]
This also happened with the same SQL error when I was importing from a hashtag.

[2019-11-03 06:13] RCheesley commented on #6617
See also #5488

[2019-11-03 09:47] npracht commented on #8006
Hey @hluchas, all the checkboxes in this issues are done ?

[2019-11-03 09:48] npracht commented on #8013
@anton-vlasenko all the checkboxes here are done ?

[2019-11-03 14:54] Mancy commented on #7284
I can re-producing the error:
while in the code editor window do this command in the JS console
[code]
or
[code]

[2019-11-04 01:25] Lalilu commented on #7734
@thematrixduck, can you provide an update of your case?

I have maybe the same problem with my instances. Update from 2.5.1 (or older) to 2.5.2 (or newer) leads to Error 500 immediately. Installations also don't work.

Can someone comment what has change in terms of system requirements from 2.5.1 to 2.5.2.?

[2019-11-04 01:36] Lalilu commented on #7734
Ah, at least for my case I found the relevant change to 2.5.2:

### .htaccess's following lines break my setup:

[code]

Deleting this from .htaccess allowed me to use Mautic 2.5.2+.

@thematrixduck, no idea if this helps you.

[2019-11-04 01:37] Lalilu commented on #7734
One last message for now: Does someone have an idea why this is an issue? Too old Apache? Old PHP? …

[2019-11-04 07:44] ineedhelp2018 opened #8090 "Laravel and Mautic API integration - When pushing data into mautic, mautic requires log in ?"
Currently trying to integrate Laravel and mautic. API is working and shows successful integration however when pushing the data through, Mautic requires a log in therefore can't push it through.
I have cleared cache. Any ideas what may be missing?
Thanks

[2019-11-04 10:30] Avocation commented on #7948
Same problem. Go to Configuration, click 'Save Changes' or 'Apply' and the 'Please Wait' screen overlay appears and it just sits there.

Mautic 2.15.3
PHP 7.1.14
Browser Chrome & Safari

Looking in Dev tools on Safari and Chrome I see error #406 Failed to load resources (Safari).

Further in Chrome developer tools console view, I see the message - "A cookie associated with a cross-site resource at

[2019-11-04 11:13] athaylean commented on #7949
@RCheesley I was off for last week. I am going to check this today.

[2019-11-04 12:33] pety-dc commented on #7973
Make sure the IDP sends all of `email`, `firstname`, `lastname` to mautic and none of them is empty. Mautic requires those 3 fields to create a new user.

[2019-11-04 12:49] richmarks20 commented on #8040
Hi @Enc3phale - could you spare a few mins to have a look at this? Any input/ideas appreciated.

[2019-11-04 13:57] alanhartless commented on #8004
https://github.com/mautic/mautic/pull/7813 Needs to be merged for this.

[2019-11-04 14:33] hluchas commented on #8006
@npracht Yes!
I can't check the checkboxes in description

[2019-11-04 14:56] cedoe opened #8092 "500 (Internal Server Error) when submitting forms"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-11-04 16:22] nsaloski commented on #7268
Hi, did anyone find a solution to this bug?

Thanks

[2019-11-04 20:15] incentfit commented on #7676
I can confirm this is still happening in Mautic 2.15.3.  Here's a screenshot of the campaign and it's setup that was not respected.
![image](https://user-images.githubusercontent.com/13243272/68154647-f61cf600-ff15-11e9-8bbe-f0139864c229.png)

[2019-11-04 20:57] dennisameling commented on #6990
Having the same issue in 2.15.3. @ctingwai's answer indeed works as a workaround for this issue, and the fields get populated. Not sure if it's completely safe, as this might need some sanitization before simply inserting it into the form fields.

[2019-11-04 21:00] carlos-moreira opened #8093 "doctrine schema update error because of custom field with alias "segment""
### Steps to reproduce

1. Create a custom field with alias 'segment'
2. Execute the command `php /var/www/html/app/console doctrine:schema:update --force`

Error message:
[code]

### Steps to fix (hotfix)
1. Delete this custom field.

| Q   | A
| --- | ---
| Mautic version | 2.15.2
| PHP version | 7.0.33-0+deb9u1
| Browser | 70.0.1 (64-bit)

[2019-11-04 22:01] Avocation commented on #7948
Output from the browser dev tools console where it gets error #406:
![Error 406](https://user-images.githubusercontent.com/13272582/68161802-8ecf6800-ff4e-11e9-9c29-67593ad499bb.jpg)

[2019-11-05 09:13] alanhartless opened #8094 "M3: Remove CommonSubscriber and do direct dependency injection"
Many subscribers extend CommonSubscriber just to get access to some common dependencies whether used or not. Those subscribers should be refactored to dependency injection with just what they are using.

Example https://github.com/mautic/mautic/blob/4b46c63e08ce8907c195e0cbb7c20d41dadf5f77/app/bundles/EmailBundle/EventListener/PageSubscriber.php#L23

Depends on https://github.com/mautic/mautic/iss

[2019-11-05 09:31] alanhartless opened #8095 "\Mautic\CoreBundle\Controller\FormController is deprecated but \Mautic\CoreBundle\Controller\AbstractStandardFormController is trash"
\Mautic\CoreBundle\Controller\FormController is deprecated but \Mautic\CoreBundle\Controller\AbstractStandardFormController is trash. AbstractStandardFormController needs to be replaced by something modern, SOLID, and clean or abandoned until an API first solution can be written.

[2019-11-05 09:36] alanhartless opened #8096 "Remove \Mautic\PluginBundle\Integration\AbstractIntegration"
*Do not start work as this is low priority for M3 - may re-evaluate for M4*

AbstractIntegration is ugly and should be removed in favor of the new classes provided by the IntegrationsBundle.

- [ ] Refactor all plugins to use IntegrationBundle
- [ ] Delete AbstractIntegration
- [ ] Remove https://github.com/mautic/mautic/blob/b1beb8c895621f460024108dcbfdb2478b60119e/app/bundles/CoreBundle/Dependen

[2019-11-05 09:48] alanhartless opened #8097 "Refactor uses of \Mautic\CoreBundle\Doctrine\Helper\SchemaHelperFactory"
There are various uses of \Mautic\CoreBundle\Doctrine\Helper\SchemaHelperFactory but uses of this need to be refactored to use the applicable schema helper service (TableSchemaHelper, IndexSchemaHelper, and/or ColumnSchemaHelper).

[2019-11-05 10:03] praveenkumarS7 opened #8098 "mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalErrorException"
The following issue occurs after proceeding through step 2 of the Mautic installation process:

[code]

[2019-11-05 10:11] muhammadshoaibtasleem commented on #7948
hi, contact your host provider. this issue was solved when they whitelisted
my ip. it takes just few minutes

On Tue, Nov 5, 2019 at 3:01 AM Avocation <notifications@github.com> wrote:

[2019-11-05 10:23] alanhartless opened #8100 "Refactor \Mautic\CoreBundle\EventListener\ChannelTrait to a service"
\Mautic\CoreBundle\EventListener\ChannelTrait has dependencies and needs to be refactored to a service.

[2019-11-05 11:00] florentpetitjean opened #8101 "Create New company option disapear if you enter letters in the company field in contact edit page"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When you create a contact, if y

[2019-11-05 11:59] dhmusman opened #8102 "segmentation campaign issues"
SETUP: Our current setup is we're self hosted and we're using Amazon SES to send email. We did install the recent update v2.15.3 on October 29th, but since we had the below problem, we rolled it back to v2.15.2. We still have the below issue.

PROBLEM: When sending a segmentation campaign, it will only send the amount of emails that you set in the "enter the number of emails to send per batch" scr

[2019-11-05 12:45] virgilwashere commented on #7160
⚠️ I am not a PHP programmer.

I have here a potential Pull Request to allow the SMTP port for AWS SES to be configured in the System / Email configuration.

https://github.com/virgilwashere/mautic/tree/feature/aws-ses-port-config

From what I can see, the logic around the amazon_transport assumes no empty values, which is what someone loading this config page and saving without entering a port wi

[2019-11-05 12:50] kuzmany commented on #8101
I cannot reproduce it, I tried many ways

![captured (1)](https://user-images.githubusercontent.com/462477/68209246-38583d00-ffd3-11e9-9eb4-30f85c732dbc.gif)

[2019-11-05 12:58] florentpetitjean commented on #8101
The edit company page open when you click after erasing ?  Because you can see the option but clicking it do nothing for me.

[2019-11-05 13:14] kuzmany commented on #8101
@florentpetitjean I got it. Looks ugly :(

[2019-11-05 14:29] alanhartless opened #8103 "Remove MauticFactory from AbstractCommonModel"
- [ ] Deprecate AbstractCommonModel in favor of proper DI.
- [x] Remove MauticFactory use from \Mautic\CoreBundle\Model\AbstractCommonModel

[2019-11-05 15:44] #7345 closed

[2019-11-05 17:07] #5899 closed

[2019-11-05 17:07] #5998 closed

[2019-11-05 17:08] #6031 closed

[2019-11-05 17:08] #6065 closed

[2019-11-05 17:09] #6076 closed

[2019-11-05 18:31] RCheesley commented on #6105
I was able to reproduce this but it was a little unclear how, so I made a quick vid: https://youtu.be/LLu1f2-Kzrk

You can see that I clicked the 'copy url' of the image, but the URL is not actually copied to my clipboard despite the fact that it says it has been.

I think that's a bug with the editor maybe?

[2019-11-05 18:33] RCheesley commented on #6129
Is this still a problem @mnfjorge ?

[2019-11-05 18:34] #6165 closed

[2019-11-05 18:35] #6184 closed

[2019-11-05 18:35] #6202 closed

[2019-11-05 18:36] #6213 closed

[2019-11-05 18:37] RCheesley commented on #6216
@andrerocha4freemarketing I'm guessing this issue is no longer a problem but if it is please feel free to re-open.

[2019-11-05 18:37] #6216 closed

[2019-11-05 18:39] RCheesley commented on #7333
@zero-one-devteam is this still an issue for you? Appreciate it's a bit old, so let us know if it's still happening with the latest version of Mautic.

[2019-11-05 18:39] RCheesley commented on #7342
Please post this on the forums as it is a support request rather than a bug. https://forum.mautic.org.

[2019-11-05 18:39] #7342 closed

[2019-11-05 18:40] #7400 closed

[2019-11-05 18:41] RCheesley commented on #7452
Please re-open if this is still an issue with the latest version of Mautic. Closing due to a lack of information/follow up

[2019-11-05 18:41] #7452 closed

[2019-11-05 18:44] RCheesley commented on #7508
@goranculibrk is this still an issue with the latest version of Mautic?

[2019-11-05 18:46] RCheesley commented on #7523
@Celoain is this still an issue with the latest version of Mautic?

[2019-11-05 18:49] RCheesley commented on #7524
Is this still an issue for people?

[2019-11-05 18:56] RCheesley commented on #7524
https://forum.mautic.org/t/create-a-google-tag-manager-template-for-mautic/11568 I made a feature request to create a community template for the template gallery.

[2019-11-05 18:57] RCheesley commented on #7542
Is this still an issue with the latest version @Mindbowser ? Did you see any errors in the logs at all?

[2019-11-05 18:59] RCheesley commented on #7550
Sounds great, here's a feature on the forum, please upvote/discuss there and we can re-open this if/when there is potential for development: https://forum.mautic.org/t/mozilla-thuderbird-integration/6885

[2019-11-05 18:59] #7550 closed

[2019-11-05 19:01] RCheesley commented on #7581
@virgilwashere I think this is a feature request, in which case can you post it up on the forums for people to discuss?

This category is the place to share: https://forum.mautic.org/c/ideas

[2019-11-05 19:01] #7581 closed

[2019-11-05 19:01] #7588 closed

[2019-11-05 19:01] #7607 closed

[2019-11-05 19:56] RCheesley commented on #7903
As above, and ensure they can (or can't - depending on the behaviour you want) re-enter the campaign.  As this is a support request rather than a bug I'm closing it, as they should be posted on the forums at https://forum.mautic.org

[2019-11-05 19:56] #7903 closed

[2019-11-05 19:57] RCheesley commented on #7909
Please ask in the forums for support at https://forum.mautic.org - you probably need to follow these steps: https://www.mautic.org/docs/en/tips/update-failed.html but this doesn't seem like it's a Mautic bug.

[2019-11-05 19:57] #7909 closed

[2019-11-05 19:58] RCheesley commented on #7912
Please ask support questions in the forum at https://forum.mautic.org. Github is for bugs :)

See here for all the variables available: https://www.mautic.org/docs/en/setup/VARIABLES.html

[2019-11-05 19:58] #7912 closed

[2019-11-05 20:00] RCheesley commented on #7913
Please update to 2.15.3, your version is **extremely** out of date.

Re-test once updated (preferred to do this at command line, after updating) and if it's still an issue, then re-open this bug report.

[2019-11-05 20:00] #7913 closed

[2019-11-05 20:00] RCheesley commented on #7914
What version of Mautic are you using?

Do the contacts actually have location set in their profile?

[2019-11-05 20:02] RCheesley commented on #7916
@galgamo have you updated to 2.15.3? Does this problem persist?

[2019-11-05 20:09] RCheesley commented on #7916
I just tested this on 2.15.3 and I am not able to replicate.

See below, full token included when sending an email direct to the lead

![screenshot-127 0 0 1_8025-2019 11 05-20_08_44](https://user-images.githubusercontent.com/2930593/68242267-1fb64a00-0008-11ea-946a-278b4f22f4cc.png)

Closing due to being unable to replicate, feel free to request re-open if you're able to give more details on test

[2019-11-05 20:09] #7916 closed

[2019-11-05 20:14] RCheesley commented on #7918
I was able to replicate this, the tags were stripped out of the email.

I wonder if this is perhaps intended by design to prevent malicious code/styling?

![screenshot-127 0 0 1_8025-2019 11 05-20_13_22](https://user-images.githubusercontent.com/2930593/68242657-d87c8900-0008-11ea-9a7c-4125f0c308af.png)

[2019-11-05 20:16] RCheesley commented on #7920
Please check on the latest version of Mautic, 2.15.3 after backing up files/database (ideally upgrade at command line, if you're stuck with that follow these instructions - https://www.mautic.org/docs/en/tips/update-failed.html), and provide error logs by going to System Info > Logs.

[2019-11-05 20:22] RCheesley commented on #7925
I am able to reproduce this on 2.15.3 on my localhost when I am trying to render sites using SSL.

If I try with http://neverssl.com it works perfectly.

Have you tried non-SSL sites?

I wonder if it's an issue related to https to non-https connections or something along those lines?

[2019-11-05 20:25] RCheesley commented on #7930
Have you got this error when you update to 2.15.3? Please try updating (after backing up your files and database, and preferably at the command line) and update accordingly if this is still an issue.

[2019-11-05 20:28] RCheesley commented on #7932
Seems like you may have a problem with your htaccess file if you've got index.php in your URL?

As a starter, maybe take a look at the htaccess [here](https://github.com/mautic/mautic/blob/staging/.htaccess) and compare it with the version that you have on your instance (and please, update to 2.15.3 after backing up your files and folders, ideally at command line).

[2019-11-05 20:32] RCheesley commented on #7936
Hi there,

This would probably best sit on the forums at https://forum.mautic.org as a discussion rather than a bug report. I believe, but am not sure, that this is due to the way you're trying to process the queue.

If it turns out to be a bug, feel free to re-open this issue!

[2019-11-05 20:32] #7936 closed

[2019-11-05 20:32] #7937 closed

[2019-11-05 20:34] RCheesley commented on #7940
@Rohaty as mentioned in the closed issue you referenced, this would be a feature request. Please raise it here: https://forum.mautic.org/c/ideas (you can reference to this issue) to open the discussion. If there is enough interest, then maybe someone will pick it up and write a PR to implement this.

[2019-11-05 20:34] #7940 closed

[2019-11-05 20:36] RCheesley commented on #7941
The PR above enables a reply to an SMS sent via Mautic to change segments, so I am closing this issue.

[2019-11-05 20:36] #7941 closed

[2019-11-05 20:36] RCheesley commented on #7942
Closing this issue as the PR mentioned addresses the bug.

[2019-11-05 20:36] #7942 closed

[2019-11-05 20:37] alanhartless commented on #8025
Required in order to get a loadable M3 https://github.com/mautic/mautic/commits/3.x

[2019-11-05 20:37] alanhartless commented on #8026
Required in order to get a loadable M3 https://github.com/mautic/mautic/commits/3.x

[2019-11-05 20:38] RCheesley commented on #7943
Does this persist in an incognito window? I wonder if it's another case of a browser-cached redirect going wonky? Someone else had a similar problem recently.

[2019-11-05 20:39] alanhartless commented on #8017
Started to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:39] alanhartless commented on #8018
Started to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:39] RCheesley commented on #7945
Please can you share the full error logs if this is still a problem for you @RanjithNKtrr ?

[2019-11-05 20:40] RCheesley commented on #7949
@athaylean great, please update accordingly!

[2019-11-05 20:41] alanhartless commented on #8019
Completed to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:42] RCheesley commented on #7950
Closing this as it's a duplicate of a forum thread here: https://forum.mautic.org/t/attachment-is-added-multiple-times-to-email-using-email-on-send-event-hook/11376 which is the correct place to ask for advice.

[2019-11-05 20:42] #7950 closed

[2019-11-05 20:42] alanhartless commented on #8022
Completed to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:42] alanhartless commented on #8021
Completed to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:43] alanhartless commented on #8020
Completed to get M3 loadable https://github.com/mautic/mautic/commit/a41ba1a2ca305f50ca5318d9aaae1d3576cf0b93

[2019-11-05 20:45] alanhartless commented on #8024
Started to update in order to load M3 in https://github.com/mautic/mautic/commits/3.x but need to test once M3 is more stable

[2019-11-05 20:45] RCheesley commented on #7981
Unable to replicate - have created a segment with the owner equal to the administrative user, and it works fine, segment is populated.

Please provide more details if you still have this issue.

[2019-11-05 20:45] #7981 closed

[2019-11-05 20:46] alanhartless commented on #8027
Started in https://github.com/mautic/mautic/commit/32aa9243e0849fcbb66208884edd820d88e19dc0 under https://github.com/mautic/mautic/tree/3.x in order to get M3 loading.

[2019-11-05 20:50] RCheesley commented on #7982
I am able to reproduce this, segment with tags = not empty is correct but segment with tags = empty remains with zero contacts.

[2019-11-05 20:56] RCheesley commented on #7983
Just made a PR to remove the reference to the link.

[2019-11-05 21:01] RCheesley commented on #7620
@heroic is this still an issue for you?

[2019-11-05 21:02] #7622 closed

[2019-11-05 21:02] RCheesley commented on #7632
Closing as not a bug with Mautic.

[2019-11-05 21:02] #7632 closed

[2019-11-05 21:03] RCheesley commented on #7729
Closing as a duplicate

[2019-11-05 21:03] #7729 closed

[2019-11-05 21:04] RCheesley commented on #7730
Closing as a duplicate of #6613

[2019-11-05 21:04] #7730 closed

[2019-11-05 21:06] RCheesley commented on #7801
Please post support requests on the forum at https://forum.mautic.org rather than Github.

[2019-11-05 21:06] #7801 closed

[2019-11-05 21:07] RCheesley commented on #7808
Please post requests relating to configuration and support on https://forum.mautic.org rather than on Github.

[2019-11-05 21:07] #7808 closed

[2019-11-05 21:08] RCheesley commented on #7825
Please post support requests on https://forum.mautic.org - it sounds like this is either an error in configuration or relating to file/folder permissions.

[2019-11-05 21:08] #7825 closed

[2019-11-05 21:09] RCheesley commented on #7826
Please get in touch with ThreiveLeads support, or post on the forums for support with setting up integrations at https://forum.mautic.org.

[2019-11-05 21:09] #7826 closed

[2019-11-05 21:10] RCheesley commented on #7833
Please post support requests at https://forum.mautic.org.

[2019-11-05 21:10] #7833 closed

[2019-11-05 21:16] RCheesley commented on #7850
Please use https://forum.mautic.org to ask such questions, Github is for bugs.

[2019-11-05 21:16] #7850 closed

[2019-11-05 21:17] RCheesley commented on #7851
Please ask these questions at https://forum.mautic.org where you'll find many more people, and maybe even some resources answering your questions already. Github is for bugs, rather than support requests :)

[2019-11-05 21:17] #7851 closed

[2019-11-05 21:18] RCheesley commented on #7852
Sounds suspicious, as you say!

I'd suggest that if you know how to fix this behaviour, go ahead with submitting a PR and it can be reviewed/discussed as appropriate!

[2019-11-05 21:20] RCheesley commented on #7857
Clear your cache, and your browser cache as well. Check in an incognito window to see if it's still happening. Please post support questions on https://forum.mautic.org rather than Github :)

[2019-11-05 21:20] #7857 closed

[2019-11-05 21:25] RCheesley commented on #7858
I was able to reproduce this on 2.15.3, error:

`[2019-11-05 21:24:13] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while executing 'SELECT count(*) FROM (SELECT ph.url AS url1, COUNT(ph.url) AS 'COUNT ph.url' FROM mau_page_hits ph LEFT JOIN mau_pages p ON ph.page_id = p.id LEFT JOIN mau_page_redirects r ON r.id = ph.redirect_id

[2019-11-05 21:25] otsang commented on #7930
@RCheesley
[2019-11-05 21:09:35] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ClassNotFoundException: "Attempted to load class "XmlEncoder" from namespace "Symfony\Component\Serializer\Encoder". Did you forget a "use" statement for another namespace?" at /var/www/html/vendor/friendsofsymfony/rest-bundle/FOS/RestBundle/Decoder/XmlDecoder.php line 30 {"exception":"[objec

[2019-11-05 21:31] RCheesley commented on #7612
@scottybo @RafaelAybar @dorukgezici anybody able to make a PR to address this issue?

[2019-11-05 21:31] RCheesley commented on #7876
Closing as a duplicate of #7612

[2019-11-05 21:31] #7876 closed

[2019-11-05 21:33] RCheesley commented on #7891
@bookin can you please post this as a query in the development category on https://forum.mautic.org rather than reporting as an issue on Github? Thanks!

[2019-11-05 21:33] #7891 closed

[2019-11-05 21:34] #7932 closed

[2019-11-05 21:37] RCheesley commented on #8077
Please ask such questions at https://forum.mautic.org. Github is the place for bugs and issues, the forum is the place for support and questions :)

[2019-11-05 21:37] #8077 closed

[2019-11-05 21:37] RCheesley commented on #8090
Please ask this on the development area at https://forum.mautic.org. Forums for questions and support, github for issues and bugs :)

[2019-11-05 21:37] #8090 closed

[2019-11-05 21:39] RCheesley commented on #8092
Please follow the steps here: https://www.mautic.org/docs/en/tips/update-failed.html

It seems there are some issues with database fields missing which sounds like an incomplete/failed update.

[2019-11-05 21:39] #8092 closed

[2019-11-05 21:40] RCheesley commented on #8093
Does this happen with any other alias or just using segment? I wonder if it's some kind of protected phrase, given its importance in Mautic.

[2019-11-05 21:41] RCheesley commented on #8098
This sounds like a permissions error, please post support requests at https://forum.mautic.org.

[2019-11-05 21:47] #3672 closed

[2019-11-05 21:59] carloshmm commented on #8093
@RCheesley I do have a lot of custom fields with other aliases and none of them are causing any trouble, I had 2 Mautic environments running with the same problem, I just removed this alias from them and the update passed. I think it would be necessary more tests in other environments, it is a simple test:
1. Create a custom field with alias 'segment'.
2. Run the command  `php /var/www/html/app/co

[2019-11-05 23:14] #7894 closed

[2019-11-06 02:54] fujimotos commented on #7918
@RCheesley If you select the text and click "View the source" on your browser,
you'll see the tags are actually exist there.

They are just invisible due to being interpreted as "real" HTML tags.

[2019-11-06 04:55] Avocation commented on #7948
IP address added to whitelist in Wordfence - no improvement, still #406 error response.

[2019-11-06 08:33] RCheesley commented on #7918
Gotcha, hadn't thought of that! So you're suggesting there should be some way to denote that it is code that should not be executed? As a customer completing a form on a website that would be a bit clunky, no? How would you propose it should be managed?

[2019-11-06 08:36] kuzmany commented on #8101
Let's test: https://github.com/mautic/mautic/pull/8107
I noticed another issue during the tests, I fixed it too.

[2019-11-06 09:40] RCheesley commented on #6671
@ghost is this still an issue with the latest version of Mautic?

[2019-11-06 11:40] RCheesley commented on #2357
Closing this as it's an old feature request with no recent activity. Please share for discussion in the forums if this is still a required feature: https://forum.mautic.org/c/ideas

[2019-11-06 11:40] #2357 closed

[2019-11-06 11:42] RCheesley commented on #3601
Closing due to lack of recent activity, if still a bug please request re-opening!

[2019-11-06 11:42] #3601 closed

[2019-11-06 11:43] #2702 closed

[2019-11-06 11:48] RCheesley commented on #2778
The errors above seem to be due to CORS issues, or due to not rebuilding the forms/clearing the cache rather than a bug with Mautic itself. Please post support queries via the forums, closing this issue down as it's not a bug with Mautic but the implementation.

[2019-11-06 11:48] #2778 closed

[2019-11-06 11:49] RCheesley commented on #5710
Is this still a bug @xavierpaz @MaMuk ?

[2019-11-06 11:59] RCheesley commented on #2992
That moment when you find your old bug from 2016 is still a bug in 2019 😱

Tested with 2.15.3 and it seems that this is still happening in focus items for multi-page forms.  Not clear how much work would be needed to refactor #5116 to bring it up to date.

[2019-11-06 12:04] RCheesley commented on #3032
Closing this issue as it hasn't had any recent activity

[2019-11-06 12:04] #3032 closed

[2019-11-06 12:08] toma10 commented on #7890
It's important to have current version of IP lookup service. If Mautic is running on same machine as Wordpress page, you have to add `track_private_ip_ranges` configuration option to `true` in `app/config/local.php` (for local development). To update (and sync) email from Wordpress page to Mautic, email field in Custom Fields must be set to Publicly updatable.

[2019-11-06 12:08] #7890 closed

[2019-11-06 13:31] fixmyinfo commented on #2778
This is not the case.

On Wed, 6 Nov 2019 at 06:48, Ruth Cheesley <notifications@github.com> wrote:

--
------------------------

Steve Mitchell

http://www.facebook.com/bstephenmitchell
http://twitter.com/bstephenmitchel

C. 514-992-0988

[2019-11-06 14:50] heroic commented on #7620
@RCheesley It was, but we moved to https://github.com/Mailtrain-org/mailtrain/ out of the need.

[2019-11-06 15:02] RCheesley commented on #7620
OK will flag it as a bug for investigation, thanks for replying!

[2019-11-06 15:29] hendrikhendrik opened #8110 "Mautic does not support PHP version 7.2.22 at this time."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-11-06 15:32] hendrikhendrik commented on #8110
upgrage from php 5.6 to 7.2 found mautic error. have see https://github.com/mautic/mautic for solustion but still not understand how to solve. help

[2019-11-06 16:19] ricardroyo commented on #6644
+1

[2019-11-06 16:39] #8110 closed

[2019-11-06 16:39] RCheesley commented on #8110
Please post support requests at https://forum.mautic.org providing full details requested in the post template.

[2019-11-06 16:41] RCheesley commented on #3893
Closing due to being CORS issues rather than a bug. Please post support requests at https://forum.mautic.org

[2019-11-06 16:41] #3893 closed

[2019-11-06 16:42] #3962 closed

[2019-11-06 16:46] RCheesley commented on #4005
Closing issue due to lack of recent activity

[2019-11-06 16:46] #4005 closed

[2019-11-06 16:48] RCheesley commented on #4025
@npracht is this still a bug or has it been addressed?

[2019-11-06 21:54] trsenna opened #8111 "Form field condition always return true when old submissions satisfies the condition"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes
| Feature request? | No
| Enhancement? | No

## Description:

I believe it's a bug but I'm new to Mautic, so maybe it's a expected behaviour for you. In the campaign builder when creating conditions using submitted form fields the condition will return true when exists older submitted data that satisfies the condition (submitted

[2019-11-07 00:41] fujimotos commented on #7918
Add a new data filter `html` that escapes all the occurrences of `<` and `>`
into  `&lt;` and `&gt;`. With this, we can safely inject user data into a HTML
email via:

[code]

In general, I think it is not a good idea for a form generator to allow
visitors to inject arbitrary HTML tags into messages. It will break the
message, and may have a security implication.

[2019-11-07 08:48] npracht commented on #4025
I think yes, this is a structural issue we've been discussing with @alanhartless. The structure is still the same in mautic for that kind of thing, so the bug must be still there.

[2019-11-07 09:19] escopecz commented on #8074
Dealt with in https://github.com/mautic/mautic/pull/8057/files#diff-accece8b71a7aa2304357fe9871839e4L153

Closing.

[2019-11-07 09:19] #8074 closed

[2019-11-07 11:32] NipunReddy555 opened #8112 "How to Change Date Feild format in Forms"
## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | V2.8.2
| PHP version | 7.0
| Browser | Chrome, Firefox

### Steps to reproduce
1. Create a form with field type "Date".
2. Create an action "send Form Results".
3. Submit the form.
4. Go to results page. Here the value of date field is formatted in  YYYY-MM-DD and the Form results in email notification is a

[2019-11-07 13:50] rmalla commented on #7768
This resoled my problem too. Thanks!

[2019-11-07 15:31] zaharovrd commented on #5919
sume notice

`[2019-11-07 18:26:12] mautic.NOTICE: PHP Notice - Undefined offset: 0 - in file /home/master/m.everest-dom.com/app/bundles/LeadBundle/Views/Auditlog/details.html.php - at line 62 {"mauticTemplateVars":{"app":"[object] (Symfony\\Bundle\\FrameworkBundle\\Templating\\GlobalVariables: {})","event":{"eventType":"update","eventLabel":"System","timestamp":"2019-11-06 16:59:51","details":{"t

[2019-11-07 15:39] zaharovrd commented on #6613
i deleted all jumpTo event from campaign, do campaign copy, but it didn't work :(

[2019-11-07 15:39] zaharovrd commented on #6613
i deleted all jumpTo event from campaign, do campaign copy, but it didn't work :(

[2019-11-07 20:15] Lucasfnd commented on #7920
Alright, I'll try to upgrade and see if the error stops, anything opens another issue, thanks for the help

[2019-11-07 22:31] maxitromer opened #8113 "Some Segment Filters options increase drastically CPU consuming"
| Q   | A
| --- | ---
| Mautic version | 2.15.3
| PHP version | 7.2
| Browser | Chrome

My mautic production instance have a list with 260.000 subscribers and I was having to increase the server capacity in processor and in hard disk size a lot in the last time.

Thats why I start testing why mautic is consuming so much resources and I find that the segments that has filters takes several minutes

[2019-11-08 00:50] biz-rolodex opened #8114 "Ghost contact IDs"
## Bug Description

Hundreds of Ghost IDs are being generated nearly every day in my Mautic installation due to an unknown reason, even though in the contact list there's only 84 registered contacts.

![image](https://user-images.githubusercontent.com/57510418/68439530-7e590080-018d-11ea-8529-4f5574754b1a.png)

I originally thought it had something to do with a bad cron job but as you can see in t

[2019-11-08 07:50] vhostvn opened #8115 "bounced can not processing with custom SMTP server"
We use our SMTP server and we set bounced address as sales@onehost.vn

Then clear cache by rm -rf /home/username/public_html/app/cache/*

However mautic still set returned email to: sales+bounce_5dc51cdb65ec7264218190@onehost.vn

[code]

May i know how to fix this problem?

[2019-11-08 09:01] pety-dc commented on #6613
@zaharovrd
Sorry for the dumb questions, but if you duplicated the campaign with no jumpTo events, then are you sure that it was the duplicated event that failed and not the original? I mean did you do your test with the original campaign disabled?

[2019-11-08 16:03] hokandil commented on #7948
Same problem. Go to Configuration, click 'Save & CLose' or 'Apply' and the 'Please Wait' screen overlay appears and it just sits there.

Mautic 2.15.3
PHP 7.1.14
Browser Chrome & IE

[2019-11-08 19:02] hokandil commented on #7948
I found it was modsecurity issue , I called Hostgator and they whitwlisted the service and now it is working

[2019-11-08 20:26] bookin commented on #7891
It more like a bug, so I don't see reason post it on forum

[2019-11-09 01:29] LevryKurniawan commented on #5220
This issue has been confused for a long time. I hope it can be resolved soon.

[2019-11-10 14:50] ci2014 opened #8118 "Add new regions to Amazon SES configuration options"
A while ago Amazon introduced Amazon SES in Frankfurt, EU Central 1

The Mail server is: email-smtp.eu-central-1.amazonaws.com

Unfortunately, it is missing in the dropdown in the email settings of mautic.

Any chance to get this updated?

Thank you.

[2019-11-11 12:55] #7920 closed

[2019-11-11 18:30] bookin opened #8119 "Attempted to call an undefined method named "getLine""
When I try use `php app/console cache:clear` I see error  `Attempted to call an undefined method named "getLine" of class "Twig_Node_Expression_Constant"` - https://prnt.sc/pvj6n1

Problem in the file `/vendor/symfony/twig-bridge/Node/SearchAndRenderBlockNode.php` line 40
Insted method `$lineno = $label->getLine();` should be `$lineno = $label->getTemplateLine();`
So seems problem with version of

[2019-11-12 01:34] gitlares commented on #4111
Any news about this? after for submission cant close the focus elemten

[2019-11-12 10:01] virgilwashere commented on #8118
Actually,  there are now 6 regions.

## Announcement

<https://aws.amazon.com/about-aws/whats-new/2019/10/amazon-ses-is-now-available-in-three-additional-aws-regions/>

## SES regions

<https://docs.aws.amazon.com/general/latest/gr/rande.html#ses_region>

[2019-11-12 14:26] zaharovrd commented on #6613
Yes, i disabled original campaign and tested on copy

in logs the mautic is issued

[2019-11-12 18:44] mikemathewson opened #8120 "Database columns referenced using camel case instead of snake case"
| Q   | A
| --- | ---
| Mautic version | 2.15.3
| PHP version | 7.1

### Steps to reproduce
1. Go to `/s/companies` and search for `is:mine`
2. This results in a 500 error because it is using the field name `createdAt` instead of `created_at`. The same is true for the other filters as well, i.e. `is:published`

### Log errors
`mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\Invalid

[2019-11-12 20:51] olissongs opened #8121 "master composer install problem missing"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

## Bug Description
testet today

| Q   | A
| --- | ---
| Mautic version | 2.15.3
| PHP version | 7.2
| Browser | php cli 7.2.24

### Steps to reproduce
1. downloaded zip from github master
2. composer install

### Log errors
Composer Errors

[RuntimeException]
  /var/www/vhosts/.../vendor/doctrine/lexer does not exist

[2019-11-12 21:16] baaajola commented on #7524
Same problem happened on my two websites recently.  2 weeks ago my ads in Google AdS were denied because of a malware on my websites. I didn´t know where the malware came from, so I sent a question to Google. They didn´t answer anyway after 1 week they made my ads work again. Today I wanted to add a new tag to Google Tag Manager and I found a big red warning there about a malware in the Mautic js

[2019-11-13 09:17] escopecz commented on #7524
We need to know what Google finds malicious in that code. Please whoever has this problem send a question to Google. Until we know the reason we cannot resolve it.

[2019-11-13 09:18] escopecz commented on #7524
Fun fact: The Mautic tracking script was heavily inspired by the Google Analytics tracking script. Now Google finds it malicious 🤷‍♂

[2019-11-13 11:09] StoppingBuck commented on #5647
I just tried installing 2.15.0 and got this bug
Then I tried with 2.15.3 and the bug no longer appeared.

Soo.... maybe it's fixed?

[2019-11-13 11:21] mayanktiwaridotcom commented on #5802
+1

[2019-11-13 12:12] jonathands commented on #7597
I would  risk sending a pull request, but the syntax created_by with underline is used all through the system while createdBy seems t be the exception, I feel uncomfortable sending a pull request for this specific file while the whole system uses a different naming  convention.

[2019-11-13 12:34] escopecz opened #8122 "Install Symfony polyfill libraries"
Symfony has nice and simple Composer packages for polyfills that implement native PHP functions that were added to newer PHP versions:

https://github.com/symfony/polyfill

If we decide to use PHP 7.2 for Mautic 3 then I suggest to install polyfills for PHP 7.3 and 7.4. It will make Mautic development a bit more pleasant. And it will add just 2 more lines to composer.json.

[2019-11-13 12:43] jonathands opened #8123 "Modal component closing on click release event"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Some modal windows (Eg: Compon

[2019-11-13 12:45] jonathands commented on #8123
I know this seems to be a bit of a nitpick, but this usability issue has arose with me and 3 of my coworkers. I'm going to fix this on my test environment and try my hand at fixing it.

[2019-11-13 12:48] jonathands commented on #8120
this seems to be related to https://github.com/mautic/mautic/issues/7597 as  Mautic\CampaignBundle\Entity\Campaign seems to have the opposite problem

[2019-11-13 14:33] dsukhin commented on #3655
I get this error in the app/log/mautic_prod.log::
`[2019-11-13 09:29:03] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: "You have requested a non-existent service "swiftmailer.mailer.transport.smtp"." at /mautic/vendor/symfony/dependency-injection/Container.php line 288 {"exception":"[object] (Symfony\\Component\\DependencyInjectio

[2019-11-13 15:04] AkkuFresh commented on #7063
The bug still exist on
Mautic version: v.2.15.3
PHP version: 7.2.21

[code]

[2019-11-13 15:25] maxitromer commented on #8123
This apperars not only in forms but in campaigns and when you send an email to a subscriber inside their profile.

Will be amaizing if could be solved.

[2019-11-13 15:46] dsukhin opened #8124 "Bounce Monitored Mailbox Not Updating Leads"
## Bug Description
When sending a large campaign, it became clear to me that while the messages in the monitored bounce mailbox are being parsed and marked as read when we run `mautic:emails:fetch`, the contacts from which the message bounced are not being marked correctly as Do Not Contact. I tried this with several messages explicitly, adding a fake contact, sending a fake email, seeing it in th

[2019-11-13 16:00] MxyzptlkFishStix commented on #5647
Fixed in 2.15.1.

[2019-11-13 19:44] zaharovrd commented on #7953
Hi, i have also bug

`

Field/Object | New Value | Old Value
-- | -- | --

`

[2019-11-13 20:00] baaajola commented on #7524
I opened the Google Ads today and the warning is suprisingly gone. So it seems like solved. :-)

[2019-11-13 22:20] RCheesley commented on #7524
It seems it's not completely solved though if this continues to happen! I wonder if we just need to make a community template and get it accepted? I can try to find out more through some SEO channels in the meantime!

[2019-11-14 01:59] cloudpotions commented on #7301
Aug 30, 2021 - The below comment from myself is not right. On the open source version of Vtiger, If you go use /webservice.php (For example, https://YourVtigerUrl.com/webservice.php )  at the end of your starting URL, it will work. Sometimes to make it work you have to press Save and Close and then try reopening it, but if you try a couple of times, you will eventually see the Contact Mapping tab,

[2019-11-14 10:17] enableit commented on #7862
@RCheesley yes I've just tested this myself in Mautibox on a different PR and can't get it to break either. Do you know if there was a change to the way someone is removed from a segment membership, because looking at the code in the LeadListRepository class I can see it still doesn't filter out manually removed contacts? Otherwise there may be some other criteria to trigger the bug that is requir

[2019-11-14 10:24] enableit opened #8126 "Contact fails to load: Unserialize class erroneously rejects string"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-11-14 10:25] enableit commented on #8126
File is app/bundles/CoreBundle/Helper/Serializer.php - apologies for not including in original report.

[2019-11-14 11:16] hluchas commented on #8002
I was little bit lof.
PR link: https://github.com/mautic/mautic/pull/8091

TY!

[2019-11-14 14:01] cedoe opened #8129 "Contact not added to campaign that uses a segment as source"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
To implement double opt-in in o

[2019-11-14 14:35] miamicityman commented on #5016
Hello Katzueno,
Would you advise which MySQL table you are editing?
Thanks,

[2019-11-14 14:36] miamicityman commented on #5016
Nevermind ... just found it ... "mktng_lead_tags"

[2019-11-14 19:06] RCheesley commented on #4127
Tested and unable to reproduce so closing issue.

[2019-11-14 19:06] #4127 closed

[2019-11-14 19:07] RCheesley commented on #4119
+1 on this, I have found this repeatedly and had to exit out to check the campaign!

[2019-11-14 19:14] RCheesley commented on #4054
Closing as mentioned issue has been resolved and merged with #4281

[2019-11-14 19:14] #4054 closed

[2019-11-14 19:15] RCheesley commented on #4032
Closing due to old issue & likely resolved with new themes. If it's still a problem, do re-open the issue.

[2019-11-14 19:15] #4032 closed

[2019-11-14 19:23] RCheesley commented on #4031
Raised as a feature request here: https://forum.mautic.org/t/allow-non-gated-video-embed-in-builders/11659

[2019-11-14 19:23] #4031 closed

[2019-11-14 19:24] RCheesley commented on #4695
Closing this issue, as the documentation states that to track, but not gate, then you use a <video> tag.

I've raised a feature request about having the ability to do this via the builder here:  https://forum.mautic.org/t/allow-non-gated-video-embed-in-builders/11659

[2019-11-14 19:24] #4695 closed

[2019-11-14 19:27] RCheesley commented on #3974
For part 1, you can use a percentage rather than a fixed width
For part 2, please add a feature request at https://forum.mautic.org/c/ideas if still relevant.
For part 3, see https://forum.mautic.org/t/allow-non-gated-video-embed-in-builders/11659

[2019-11-14 19:27] #3974 closed

[2019-11-15 00:01] pcottrell commented on #7763
Why does this cleanup function not clean email stats?  My email_stats table is currently 600gb's, has me a little cheesed right now, I thought this function would clean it up but it doesn't seem to do it.

php console mautic:maintenance:cleanup --days-old=100 --dry-run
+--------------------+------------------+
| Record type        | Records affected |
+--------------------+------------------+
| Au

[2019-11-15 20:41] cspenn opened #8131 "Ubuntu 19.10 PHP 7.3.11 support?"
Received this today after an upgrade to the server:

[code]

Is support for 7.3.11 coming soon? Thanks!

[2019-11-15 22:22] pcottrell commented on #7763
@pety-dc there is a table called email_stats and this job does not clean those up.  My table is 587 gb's.  Is there a cleanup command that will clean this table up and remove entries?

[2019-11-16 01:38] luisribeiro commented on #6389
It would be great to send contacts activities using REST API. I couldn't find this feature in your documentation. Do you have this feature or have plans to implement its?

[2019-11-16 15:56] dsukhin commented on #8124
Did some deep debugging - The issue here is with bulk processing and a race condition.

For those looking for how to debug, I couldn't find the `mautic.debug` container setting so i just set it to `$debugMode=true` in `app/config/config_prod.php`. You can also run the commands with `-vvv` to get the output the commands give. All other debug output from the bundles goes to the monolog (`app/log/mau

[2019-11-17 07:29] Sourcefli commented on #2355
tasmaniaman's solution worked for me...A note to add though - which may/may not apply to all. After my cache folder was rebuilt, I had to (recursivley) change the ownership of the new folder that was created. Maybe this will help some.
(Note: I'm using Webmin for this instance)

[2019-11-17 14:46] TornMarketing commented on #1616
Has a plugin been built for MJML?

or is it every time a great idea is closed because it isnt in the scope of the platform at that given time it is lost to be forgotten as another 'idea'

MJML is critical to how businesses are now building new responsive email templates that are easy to transfer between email platforms.

[2019-11-17 16:00] digitall-it commented on #1616
Actually it is easy to use MJML as a compiler on the template developer's site, so as an afterthought, the main use case for it can be solved easily. Otherwise, why not support SASS or handlebars or any other template engine. That would make the @ngarnier proposed "code mode" a minor feature.

The other one, the "Drag and drop mode" may benefit more from it, but the editor could need a major reeng

[2019-11-18 06:21] veponen commented on #7708
I have similar issue. I am not using wordpress.

[2019-11-18 07:44] npracht commented on #1616
Hi guys, we are considering adding this as new feature in the mautic 3 series. You can follow the debate there : https://github.com/mautic/mautic/issues/7360

[2019-11-18 07:47] npracht commented on #8131
Hi @cspenn !
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.

Moreover, we're currently working on the Mautic 3.0 version and that will be updated at that time :)

Thanks for con

[2019-11-18 07:47] #8131 closed

[2019-11-18 07:51] npracht commented on #8114
Hi @biz-rolodex !
Do you use the tracking script on a webpage ? If yes, any anonymous contact tracked uses an ID...

[2019-11-18 07:54] npracht commented on #8112
Hi @NipunReddy555 !
Please read the documentation https://www.mautic.org/docs/en/emails/manage_emails.html chapter `Date Format`

[2019-11-18 07:54] #8112 closed

[2019-11-18 08:43] pety-dc commented on #7763
from the docs:
[code]

AFAIK there is no such command.

[2019-11-18 10:14] zaharovrd commented on #7324
Hi, I'm encountering the same issue. Here is my log.
`[2019-11-18 08:20:58] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\UniqueConstraintViolationException: "An exception occurred while executing 'INSERT INTO point_lead_action_log (date_fired, point_id, lead_id, ip_id) VALUES (?, ?, ?, ?)' with params ["2019-11-18 08:20:58", 3, 40403, 425214]:  SQLSTATE[23000]: Integrity constra

[2019-11-18 10:48] Aerendir opened #8132 "I cannot post th the Mautic's forum"
Please, forgive me if I use GitHub for an unrelated question, but I really don't know how to contact someone or where to read more info about.

I subscribed the forum, but I'm not abel to post nor to reply to anyone.

I've completed the onboarding procedure with the bot, but now I cannot find any information related to how to post on the forum or how to reply to 3ds.

Please:

1. Is there someone

[2019-11-18 11:04] #8132 closed

[2019-11-18 12:20] fmbertholdo commented on #4209
I use Mautic version 2.15.2 and when a lead uses ipv6 the selection fields are changed to the default option. Does anyone else have this mistake?

[2019-11-19 09:30] forreggbor opened #8136 "Form_attr column is missing from table"
I created my first campaign tehn I opened it. In the preview tab I seet hthe following error:
"The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.
System administrators, check server logs for errors."

**I open System information / Log and I see the following SQL error:**

**If I click on Components / Fomrs then nothing happ

[2019-11-19 10:38] escopecz commented on #8000
PR: https://github.com/mautic/mautic/pull/8137

[2019-11-19 11:01] forreggbor commented on #8136
This error blocks the following functions as well. I found these so far.
- Create new or even list the current forms. Therefor it's not possible to edit any.
- Create new landing page
- Running campaign

[2019-11-19 12:48] escopecz opened #8138 "Replace usages of deprecated methods in LeadModel and refactor their usages"
There are several methods in LeadBundle that are marked as deprecated but also used elsewhere. Each deprecation message contains a hint what method replaces the deprecated one.

Build the PR on top of https://github.com/mautic/mautic/pull/8137

Delete LegacyLeadModel afterwards as it won't be used anywhere.

[2019-11-19 16:34] forreggbor commented on #8136
It caused by an error during the update. The MySQL tables are not updated correctly. Reinstall solved the issue.

[2019-11-19 16:34] #8136 closed

[2019-11-19 17:43] anton-vlasenko commented on #8014
PR: https://github.com/mautic/mautic/pull/8139

[2019-11-20 08:56] escopecz opened #8141 "Refactor EntityFieldsBuildFormTrait out of string form types"
This one will be tricky as it uses custom field types from the database. Like `select` or `number` and we need to transform them to class names. Like `ChoiceType::class` or `NumberType::class`. I don't see another way how to do that other than to map each string with the class name in some translation array and replace it on the go. Other ideas are welcome.

If possible, base your branch on https:

[2019-11-20 10:26] RCheesley commented on #4654
Closing due to lack of recent activity

[2019-11-20 10:26] #4654 closed

[2019-11-20 10:30] RCheesley commented on #4749
I can replicate this in 2.15.3.

[2019-11-20 10:41] RCheesley commented on #5179
I am able to replicate this in 2.15.3 and while G+ isn't available for personal use any more, some enterprises use the commercial version.

[2019-11-20 11:00] RCheesley commented on #5226
This persists in 2.15.3 if you select each option individually and if selecting 'full'.  Minor but hopefully easy to fix!

[2019-11-20 16:13] kuzmany commented on #8055
This PR already rewrite it:
https://github.com/mautic/mautic/pull/7330

[2019-11-20 18:46] LucasFarley opened #8142 "Error on Contact View [.../s/contacts/view/273811]"
Error on view some contacts in Mautic. In my opinion Mautic is not acception sites with long title.
See the detailed log bellow.

| Mautic version | v2.15.3
| PHP version | PHP Version 7.0.33-11+ubuntu16.04.1+deb.sury.org+1
| Browser | Chrome

### Steps to reproduce
1. When i try to view some contacts in mautic, the system show the error
 Uh oh! I think I broke it. If I do it again, please report

[2019-11-21 07:08] escopecz commented on #8055
Awesome! I'll move it to M3 board.

[2019-11-21 07:09] escopecz commented on #8055
Well, that's not necessary. Let's track it in this issue. Would you mind if I change the PR to point to m2-to-m3 branch?

[2019-11-21 08:31] kuzmany commented on #8055
Do you ask me to rebase it for m2-to-m3 branch, right?

[2019-11-21 08:52] escopecz commented on #8055
No need to rebase. It's the same as staging. Just point your PR to m2-to-m3 branch instead of staging so if someone clicks the merge button it would go to the right branch.

[2019-11-21 12:07] SanderVanKeer commented on #7225
Is there any news on this matter? I'm facing the same issue.
Thanks in advance

[2019-11-21 12:44] Carlos-mb commented on #7593
Hi

I'm not able to make Mautic process bounced emails. Not by imap neither SNS.

SNS reports the same error you explained.

When I use SMTP, it looks like if it works, the bounce email are read but the contactas are not blocked by mautic.

I'd thank any help.

Thanks

[2019-11-21 14:24] anton-vlasenko commented on #8011
PR: https://github.com/mautic/mautic/pull/8143

[2019-11-21 14:58] anton-vlasenko commented on #7985
I will review it.

[2019-11-21 15:00] athaylean commented on #7949
I tested it for last 2 weeks and everything works. Thanks for help :)

[2019-11-21 15:00] #7949 closed

[2019-11-21 16:01] #7988 closed

[2019-11-21 16:02] #7993 closed

[2019-11-21 16:06] #7992 closed

[2019-11-21 16:09] #7994 closed

[2019-11-21 16:49] #7999 closed

[2019-11-21 18:02] #7986 closed

[2019-11-22 09:37] evenloooo opened #8146 "CRM integration (salesforce) cannot auth"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Cannot connect to Salesforce, t

[2019-11-22 09:39] npracht commented on #8146
fixed by https://github.com/mautic/mautic/pull/7814

[2019-11-22 09:39] #8146 closed

[2019-11-22 12:38] escopecz commented on #8008
PR: https://github.com/mautic/mautic/pull/8147

[2019-11-22 13:38] escopecz commented on #8094
PR: https://github.com/mautic/mautic/pull/8148

[2019-11-22 14:50] escopecz commented on #8088
Note: Try to use https://github.com/mautic/mautic/pull/8148 as a base as it touch related code

[2019-11-22 14:59] anton-vlasenko commented on #8013
PR: https://github.com/mautic/mautic/pull/8085

[2019-11-23 13:15] headcountguru opened #8150 "Cannot Access Forms"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-11-25 13:31] anton-vlasenko commented on #8013
@npracht Yes, they are done. I haven't found anything left.
I don't have permissions to edit descriptions so I can't "check" those checkboxes.

[2019-11-25 15:50] #8011 closed

[2019-11-25 16:03] #8010 closed

[2019-11-25 18:13] mtshaw3 opened #8151 "Refactor deprecated campaign events Campaign bundle"
Need to refactor out deprecated campaign events and any instances of the LegacyEventDispatcher. There are a number of tests that use the dispatcher as well.

This will complete the work outlined in https://github.com/mautic/mautic/issues/7987

[2019-11-26 00:37] GabrielRoitman commented on #7869
Any updates on this one?

[2019-11-26 04:02] Sourcefli commented on #6611
same error here...

[2019-11-26 04:32] Sourcefli commented on #6611
Just fixed mine...note to all who swing through here...
Check your mod_security settings on your server, or have your hosting company whitelist the URI...which is /s/emails/new?mauticUserLastActive= ....
Initally it failed again after I ran the test. But, as with most Mautic issues, I cleared the cache (I tend to just delete the whole app/cache folder). Then rerun these commands from root dir...

[2019-11-26 06:12] jitheshkt opened #8152 "Q&A : Is it possible to set dateAdded field in contact through the API?"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A

## Description:
Hi, Is it possible to set `dateAdded `manually when creating contact through the API? Currently, it automatically takes the current date or the first identified date. I am migrating old contacts from another marketing tool to Mautic. It would be

[2019-11-26 08:53] #8009 closed

[2019-11-26 08:55] #8008 closed

[2019-11-26 09:54] #8014 closed

[2019-11-26 11:03] #8067 closed

[2019-11-26 11:22] abhi-ux commented on #7118
i am still facing the error even through i published

[2019-11-26 11:54] abhi-ux commented on #6156
i am facing the error Failed to execute campaign event for utkarsh.
test / test
Today, 5:15 pm ,can anyoe help??

[2019-11-26 12:52] dsp76 commented on #8150
I just experienced the same. The webhosting(!) wasn't capable to run migrations to database through the php console. There was one migration missing. Probably it can be fixed by adding this missing column to the table forms:

ALTER TABLE forms ADD form_attr VARCHAR(255) DEFAULT NULL

[2019-11-26 14:20] StoppingBuck opened #8153 "Webhooks use weird, bloated and non-standard JSON"
This issue is virtually identical to #7385 except this is with regard to callback from Webhooks rather than API responses.
Basically, at least some of the webhooks current use some truly bizarre syntax when posting to a remote endpoint.

For example, for a Channel Subscription Changed, the webhook output can look something like this:

[code]

There are multiple issues with this:

1) First off, the

[2019-11-26 15:08] escopecz opened #8154 "Merge #7813 into m2-to-m3"
Origin: https://github.com/mautic/mautic/issues/8004#issuecomment-549364879

1. Find out what is wrong with Travis at #7813.
2. Create another PR from that branch to m2-to-m3 branch. The goal is to have it in M2 as well as M3.
3. Test and merge.

[2019-11-26 15:10] escopecz commented on #8004
I created another issue for Alan's comment above: https://github.com/mautic/mautic/issues/8154

[2019-11-26 15:10] #8004 closed

[2019-11-26 15:24] ondrejsibl commented on #8060
This issue is more complexed. We can't inject EmailValidator service easily, because the class HubspotApi is created in https://github.com/mautic/mautic/blob/916cb750f2e7896c735b231c98fd9a58c65cf0e5/plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php#L184

[2019-11-26 16:07] joglomedia commented on #7848
I also got this error on newly installed server,
any solutions?

previously, I cloud install Mautic with similar Nginx configuration that I use

[2019-11-26 18:51] online-expert commented on #6990
Having the same issue in 2.15.3 with Mautic form on Wordpress website. @heathdutton's js works as a workaround but @ctingwai's answer does not seem to pre-populate the form fields.

[2019-11-26 22:49] r-martins commented on #7547
Duplicates #7925

[2019-11-26 23:00] r-martins commented on #7925
I'm able to reproduce with Mautic 2.15.3 + PHP 7.2.24 in the production server.
Both https or fails. Nothing logged in php or app/log folder.

[2019-11-27 01:28] jiteshdhamaniya commented on #7118
I have published and still facing same issue.

[2019-11-27 01:36] benfavre opened #8155 "Where is the community"
Hi, I'm wondering where I can find discussions related to mautic other than here on Github.
I found a website (https://www.mautic.org), but for a project this size, it seems like a bit of a joke, comments are disabled on posts and the forum is empty

[2019-11-27 06:41] abhi-ux commented on #6930
i am still facing problem when i set it to transcational e-mail

[2019-11-27 06:52] Bill2020 opened #8156 "Campaigns emails not sending. Please help?"
## Bug Description
Hello everyone, I know that this is an "open source" software and since that is the case I can't expect the world from the community. But with that being said, any advice that I can get to fix this issue would be greatly appreciated.

My issue is that campaigns are not working. I can send test emails, as well as emails to contacts directly, so Amazon SES is not the issue.

I see

[2019-11-27 07:29] kuzmany commented on #8155
https://forum.mautic.org/
https://www.mautic.org/slack/

[2019-11-27 08:56] abhi-ux opened #8157 "mautic mail compaign not working"
Failed to execute campaign event for harsh.

 Last execution error: Email not found or published

i am getting above errors and not able to send the mail

[2019-11-27 09:07] abhi-ux commented on #7118
i am getting  Last execution error: Email not found or published error for this issue

[2019-11-27 13:46] PublyaDev opened #8158 "Unable to open certain Contacts (Leads)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The issue started when we were

[2019-11-27 14:28] benfavre commented on #8155
Thanks.

[2019-11-27 14:28] #8155 closed

[2019-11-27 14:47] #7985 closed

[2019-11-28 08:10] #8013 closed

[2019-11-28 08:45] escopecz opened #8162 "Remove suport for PHP versions 5.6, 7.0 and 7.1"
Everyone seem to agree that M3 should support PHP 7.2+. It's quite obvious from the supported versions:

https://www.php.net/supported-versions.php

Let's get rid of not supported PHP versions. It will help us with Travis CI as there won't be 4 but only 1 PHP version to check and we wouldn't have to wait hours for free workers to test a PR.

It was also discussed in the community on Slack and ther

[2019-11-28 08:48] escopecz opened #8163 "Add support for PHP 7.3"
Create duplicated PR from https://github.com/mautic/mautic/pull/6991 that will be against the m2-to-m3 branch, test and merge if possible.

Do it after https://github.com/mautic/mautic/issues/8162 is merged.

[2019-11-28 09:18] anton-vlasenko commented on #8015
PR: https://github.com/mautic/mautic/pull/8165

[2019-11-28 09:49] #7990 closed

[2019-11-28 11:04] #8006 closed

[2019-11-28 11:48] escopecz commented on #8162
PR: https://github.com/mautic/mautic/pull/8167

[2019-11-28 13:48] mimikama opened #8168 "Custom field is updated after 'Accessed from IP'"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Mautic version | v2.15.3

He

[2019-11-28 21:36] szepeviktor opened #8171 "Add v3 PHP extensions to Composer config"
To prevent installing on systems without these PHP extensions.

[code]

Related #6901

What do you think?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/84593784-add-v3-php-extensions-to-composer-config?utm_campaign=plugin&utm_content=tracker%2F5355074&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2019-11-29 12:02] #8162 closed

[2019-11-29 12:25] #8073 closed

[2019-11-29 12:28] vdavid commented on #7767
For anyone ending up here from Google: I had the same problem (PHP 7.2, emails were not sending out, they piled up in the spool, got the same error message as above). I updated Mautic from 2.15.2 to 2.15.3 and it solved it. Piled up emails started sending out, so even email regeneration was not needed. Hope this helps.

[2019-11-29 13:55] mundadashri commented on #5973
Same issue for me in v2.15.3
It is critical now as I am not able to send emails. It just shows pending.

[2019-11-29 14:03] mundadashri commented on #3595
Getting the same issue on v2.15.3
Emails are stuck and showing as pending.
It is a critical issue.

[2019-11-29 18:01] kuzmany commented on #8058
Fixed https://github.com/mautic/mautic/pull/8172

[2019-11-29 18:02] kuzmany commented on #8058
Also need refactor

https://github.com/mautic/mautic/blob/991b5c74a6dcfbb3d13881dc2033c84d5197f240/app/bundles/EmailBundle/EventListener/CampaignSubscriber.php#L225

Nobody did it?

[2019-11-30 15:38] Avocation commented on #7948
Hi @hokandil - thanks for the note and glad you fixed it.

Can I ask, when you say you called Hostgator and 'whitelisted the service', what exactly did you ask them to do? What is 'the service' you asked them to whitelist please?
They say they've whitelisted my IP and it should be working now but clearly not. So what was it that you told them to do that fixed the issue please?

Many thanks

[2019-11-30 16:01] hokandil commented on #7948
Hi,
Hostgator uses modsecurity firewall switch is blocking some services in Mautic.
I contacted Hostgator live support , I told them that modsecurity is blocking some services and need to whitelist it , he asked me for the domain name or the subdomain,  and then asked me to try to run the service ( so I tried to save the configuration) in order to identify that service . After few minutes of waiti

[2019-11-30 17:59] dcweeks commented on #8158
This is being caused by unescaped colons (maybe also other special characters) in the page title.  The JS tracking code is not sanitizing this nor, apparently, is the code that is ingesting the data or the code that is using it (it should be able to figure out a colon is not a problem in that location — it is not a problem in the URL field).

unescaped colon after VIDEO in "query" field in page_hi

[2019-12-01 06:00] DavidLafond opened #8174 "Error 500 at step 2 after fresh install"
Hi, I searched everywhere and can't find the problem. This is a brand new fresh server installation.
Ubuntu 18.04 on DigitalOcean
PHP 7.3
Mautic 2.15.3
All steps worked but after entering username, pass, email (step 2) submit the page and get an error 500. Here is a fresh log just after loading the page.

[2019-12-01 05:56:01] mautic.WARNING: PHP Warning - require(/home/runcloud/webapps/mautickron

[2019-12-02 09:22] escopecz commented on #8058
I don't think so. Can you either add a new issue to the M3 board or refactor it as part of https://github.com/mautic/mautic/pull/8172?

[2019-12-02 09:34] drimlike commented on #4977
DoNotContact (DNC) is a main functionality in Mautic, it would be great to be able to segment those contacts properly in the system to be able to see/count/select/extract them. It's requested in many issues. Thanks in advance for considering the feature.

[2019-12-02 09:41] drimlike commented on #2782
Yes it works for bounce/unsubscribe, but how do you see/select/count/extract emails that have been put DNC manually? i.e. we had a list of emails to DNC from an external source that we wanted to DNC in Mautic, we processed those emails manually, but they now disappeared in the system and there is no way to retrieve the list.

[2019-12-02 10:26] escopecz commented on #2782
The feature is prepared. Just waiting for testers https://github.com/mautic/mautic/pull/7786

[2019-12-02 10:30] proffalken commented on #6617
Thanks to @RCheesley on Slack, I can confirm that updating the collation type on both the database and the tables fixes this issue.

The issue is almost certainly https://stackoverflow.com/questions/48270374/invalid-datetime-format-1366-incorrect-string-value and by switching to UTF8mb4 encoding, the error has gone away on my server.

[2019-12-02 10:33] RCheesley commented on #5488
From my reading, it’s something to do with the collation and charset of the database.

Suggestions include using utf8mb64 and utf864mb_unicode_ci however I have not tried this to see if it resolves the problem (although it resolved the issue for a community member [in slack](https://mautic.slack.com/archives/C02HU8K0D/p1575282658027900).

Reference: https://stackoverflow.com/questions/48270374/inv

[2019-12-02 14:22] #8015 closed

[2019-12-02 14:31] PublyaDev commented on #8158
Nice! Thank you very much!

[2019-12-02 15:09] DavidLafond commented on #8174
Sorry PHP 7.2

[2019-12-02 15:15] DavidLafond commented on #8174
Humm ok this fixed my issue.

rm -rf /app/cache + chmod 777
app/console cache:warmup

[2019-12-02 15:15] #8174 closed

[2019-12-02 18:23] PublyaDev commented on #8158
Might have closed it a little bit too early, even though I understand the problem I do not know how to apply it... Where is this information to be changed? Since I can't open the profile of any user which has a problem.
I checked in the database and the pages table is empty...

[2019-12-02 18:28] dcweeks commented on #8158
This is a bug and we need someone to tag it to be addressed.  The system needs to handle a colon in this spot like it does for the URL but it does not.

[2019-12-02 18:30] dcweeks commented on #8158
for a temporary fix of corrupted records, you would look for colon in "query" field in page_hits mautic table. It is also in url_title field but doesn't seem to matter there.  You need to remove the colons or escape them.  But the problem will continue as long as new hits are added with more colons

[2019-12-02 18:36] PublyaDev commented on #8158
Got it, thanks! Will circumvent this for now by scheduling a script to escape all colons in this field every day... Thanks again! Have a wonderful day!

[2019-12-02 19:11] PublyaDev commented on #8158
What is the correct way to escape a colon in mysql?
For the record and anyone having this problem as well I'm attempting to run this query daily as a workaround:
UPDATE page_hits SET query = replace(query,":"."escaped_colon");
attempted to use "\:" as an escaped colon but the query made no changes.

[2019-12-02 19:39] PublyaDev commented on #8158
Update: Tested replace with \\: and ;, both made it work, but now there are other errors in the log:
[2019-12-02 16:37:41] mautic.NOTICE: PHP Notice - unserialize(): Error at offset 0 of 427 bytes - in file /var/www/html/mautic/app/bundles/CoreBundle/Helper/Serializer.php - at line 39 {"serializedString":"a;11;{s;10;\"page_title\";s;57;\"Publya - Trading Desk Especializada em Midia Programatica\";

[2019-12-02 23:19] dcweeks commented on #8158
You might want to chase that down as a separate issue, assuming escaping the colon fixed the issue with being able to open contacts.  That was a critical exception and this other is only a warning. There is one well defined bug here for a developer to address about the unescaped colon and inability to open contacts.  So unless this warning is related then it probably needs to be defined separately

[2019-12-03 11:47] PublyaDev commented on #8158
Oh ok, thanks again! Have an awesome week!

[2019-12-03 13:28] PublyaDev opened #8179 "Weird log errors"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I was having a problem with ope

[2019-12-03 14:25] alexhammerschmied commented on #6445
Are there any news to that? It is still behaving like that and the contacts "are" still in pending.
But if I understood it correctly, the contacts are actually no more inside the campaign. Is that true?

[2019-12-03 18:30] dongilbert commented on #8023
https://github.com/mautic/mautic/pull/8180

[2019-12-03 21:41] jpgrandao commented on #3655
I am using the version 2.15.3 and I got the same issue.
Looks like some configuration issue, but I don´t know how to fix it.

[2019-12-04 14:03] jrmarins commented on #7925
Same problem here!

Mautic 2.15.3 + PHP 7.2.24

[2019-12-04 14:55] florentpetitjean opened #8181 "HTML in signature not working in some cases"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If you put a signature with HTM

[2019-12-04 17:10] anton-vlasenko opened #8184 "Merge m2-to-m3 branch into 3.x"
We have to have those changes in the `3.x` branch to continue development of M3.

Steps to test:
There is nothing to test.
`m2-to-m3` branch has been merged into `3.x` branch and all conflicts have been resolved.

[2019-12-04 18:53] Bill2020 commented on #8156
Mautic would be great if it actually worked as advertised, but it looks to me like the community is all but dead, and the platform is too buggy.

[2019-12-04 18:53] #8156 closed

[2019-12-04 19:11] RCheesley commented on #8156
Please request support on the forums, rather than GitHub. You can search and find answers to many questions there already.

[2019-12-05 02:43] dcweeks commented on #8179
Why do you think this is related to the other one? Just the timing? I don't see any colon or escape in this page title here.  Could it just be a coincidence?   It is only a notice so it is far less important than the critical error thrown by the other issue.  Have more of these appeared in your logs since then, and can you verify that none were appearing before you escaped the colons in the DB?  M

[2019-12-05 05:12] smcpeck opened #8189 "Old version of SwiftMailer doesn't play nicely with PHP7+"
## Bug Description
E-Mail configuration test fails against SMTP server with TLS1.2 certificate.  Please upgrade to a recent version of Swiftmailer.

| Q   | A
| --- | ---
| Mautic version | 2.15.3 |
| PHP version | 7.1.33 |
| SwiftMailer | 5.4.9 |

### Steps to reproduce
1. Setup SMTP server with TLS1.2 cert.
2. Test SMTP

### Log errors
[2019-12-05 04:38:29] mautic.WARNING: PHP Warning - stream_s

[2019-12-05 12:43] Thurgood78 commented on #3045
There are no "CORS Settings" in the latest Mautic version anymore. I guess this has become the "API Credentials"... somehow this does not work for me and I still get this CORS headers warning in Firefox (latest). In Mautic's root .htaccess file I entered the following code:

`<IfModule mod_headers.c>
	Header set Access-Control-Allow-Credentials: true
	Header set Access-Control-Allow-Origin 'https:

[2019-12-05 12:52] Thurgood78 commented on #3045
SOLUTION FOUND:
Anyone with the same problem, add this code to your Mautic's root .htaccess file:

`# Allow Access From

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Credentials: true
	Header set Access-Control-Allow-Origin: "https://www.your-domain-name.com"
	Header set Access-Control-Allow-Methods: "GET, POST, PATCH, PUT, OPTIONS"
	Header set Access-Control-Allow-Headers: “Origin, C

[2019-12-05 13:52] escopecz commented on #8028
PR: https://github.com/mautic/mautic/pull/8190

[2019-12-05 14:43] escopecz opened #8191 "Refactor campaign events to batch events"
For example `ON_CAMPAIGN_TRIGGER_ACTION` in the EmailBundle is marked as deprecated. There are others.

[2019-12-05 14:52] dongilbert commented on #8051
https://github.com/mautic/mautic/pull/8186

[2019-12-05 14:57] escopecz commented on #8051
Closing as duplicate of https://github.com/mautic/mautic/issues/8066

[2019-12-05 14:57] #8051 closed

[2019-12-05 15:31] #8023 closed

[2019-12-05 16:03] aniruddhpatel opened #8194 "all contacts shown anonymous even after user signups or login by email"
all contacts shown anonymous even after user signups or login by email is there something i have to add in the tracking code so that it collects email from login or register forms ?
i am very new to mautic .

[2019-12-05 19:43] tcurdt opened #8197 "latest docker image causes 500 error when finishing the install"
## Bug Description

A fresh install via `docker-compose` fails during admin account creation (showing a 500).
I can go to `http://localhost:8080/installer/step/2` and try again, but whatever I put in it shows the same error.

| Q   | A
| --- | ---
| Mautic version | Docker image c88348b3ef3796e699c2c117db2739152587493eabdb39ca7680cb8621f6a310 (latest)
| PHP version | (see above)
| Browser | Google

[2019-12-05 21:46] davidbnk opened #8198 "MySQL 8 and invalid date values"
Since MySQL 8 it will not allow date comparisons with invalid values.

This is a problem when you have a Custom Field with the Date or Date/Time type. Because when you create a segment, and the condition of the segment is that your custom field is empty, Mautic will generate a query like this:

`SELECT ... FROM leads WHERE (mycustomdatefield IS NULL) OR (mycustomdatefield= '')`

But this will give

[2019-12-05 21:47] davidbnk commented on #8198
Related but not the same issue: #7612

[2019-12-06 01:12] Jared-Pooler opened #8199 "Send Example Error from Channels > Email"
Hello Team,

## Bug Description
I am unable to successfully test email submission to individual through the send example functionality. This only occurred after upgrading to v 2.15.3 from 2.12.2. When attempting to send the example to a recipient, the action is met with 500 a generic error.

I have checked file permissions/ownership, cleared cache and verified that the update was processed correct

[2019-12-06 09:33] anton-vlasenko commented on #8018
PRs:
https://github.com/mautic/mautic/pull/8192
https://github.com/mautic/mautic/pull/8193
https://github.com/mautic/mautic/pull/8195

[2019-12-06 11:04] anton-vlasenko commented on #8007
I've accidentally moved this issue into "in progress" column.

[2019-12-06 12:57] Talbatz commented on #6909
@escopecz i'm experiencing the same issue. i'd be happy to provide more info , and i'll be happy for any help. In our case, the same code is embeded in few websites, one of them is a react app - in which case page hits get **time on page: unknown**

[2019-12-06 13:35] #7998 closed

[2019-12-06 13:47] #8018 closed

[2019-12-06 14:36] escopecz commented on #8027
As part of this issue we'll have to deal with this:
`Fatal error: Class 'JMS\Serializer\Metadata\Driver\PhpDriver' not found in /Users/jan/dev/mautic/app/bundles/ApiBundle/Serializer/Driver/ApiMetadataDriver.php on line 18`

Run PHPSTAN to replicate quickly.

[2019-12-06 14:56] dongilbert commented on #8027
Not a big deal. Extend the `Metadata\Driver\AbstractFileDriver` instead of the `PhpDriver`, then add the `getExtension` method from the `PhpDriver` that returns `return 'php';`

[2019-12-06 15:16] escopecz commented on #8191
Duplicate of https://github.com/mautic/mautic/issues/8151

[2019-12-06 15:16] #8191 closed

[2019-12-06 15:18] escopecz commented on #8141
Duplicate of https://github.com/mautic/mautic/issues/8084

[2019-12-06 15:18] #8141 closed

[2019-12-06 16:25] #8028 closed

[2019-12-06 17:47] dongilbert commented on #8027
This is what I have so far @escopecz https://github.com/mautic/mautic/pull/8201/files

[2019-12-09 05:12] stevedrobinson commented on #8158
Seeing the same issue.

[2019-12-09 06:57] RCheesley commented on #8199
Looks like a problem with permissions on your cache directory.  Check the permissions and ensure that Mautic is able to create the folder after it is cleared?

Also, please post support requests on the forum at https://forum.mautic.org in the future :)

[2019-12-09 06:57] #8199 closed

[2019-12-09 06:58] RCheesley commented on #8194
Please use the forum for support requests - https://forum.mautic.org - you will get a lot more advice there! :)

[2019-12-09 06:58] #8194 closed

[2019-12-09 08:59] OmerGafny opened #8202 "Focus item not working in campaign"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When trying to trigger focus it

[2019-12-09 10:08] escopecz commented on #8088
Related PR: https://github.com/mautic/mautic/pull/8160

[2019-12-09 11:33] RCheesley commented on #8189
I believe this is already being addressed with the work going on in the Mautic 3 project, @escopecz can you confirm?

[2019-12-09 11:39] escopecz commented on #8189
That's right! I'll close this as duplicate of https://github.com/mautic/mautic/issues/8018

[2019-12-09 11:39] #8189 closed

[2019-12-09 11:59] RCheesley commented on #8157
Please post on the forums https://forum.mautic.org

[2019-12-09 11:59] #8157 closed

[2019-12-09 12:12] RCheesley commented on #8168
Please check this PR: https://github.com/mautic/mautic/pull/7595 which is pending a test - shout if you need any assistance with testing the PR and leave any comments on the PR :)

[2019-12-09 12:12] #8168 closed

[2019-12-09 12:13] RCheesley commented on #8152
Please post questions and support requests at https://forum.mautic.org :)

[2019-12-09 12:13] #8152 closed

[2019-12-09 12:16] RCheesley commented on #8150
As mentioned above there is a missing field which indicates a failed migration/update.

Please check these steps: https://www.mautic.org/docs/en/tips/update-failed.html

Also, support requests need to be posted on the forums rather than on Github - https://forum.mautic.org please :)

[2019-12-09 12:16] #8150 closed

[2019-12-09 12:56] PublyaDev commented on #8179
Good question... The timing was what made me think they are related... yet as of today nothing appears in the log...
I'll close it for now since it's not affecting anything, and there are no more logs.
Thanks for your attention.

[2019-12-09 12:56] #8179 closed

[2019-12-09 13:22] chiragob opened #8203 "want to setup soft delete functionality. please advise"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | 0
| Feature request? | 0
| Enhancement? | 1

## Description:
want to setup soft delete functionality.
How to setup a this functionality in mautic
please advise me.
## If a bug:

| Q   | A
| --- | ---
| Mautic version | 2.15
| PHP versi

[2019-12-09 13:34] #7995 closed

[2019-12-09 13:55] #8002 closed

[2019-12-09 14:07] RCheesley commented on #8203
Hi there,

Please ask questions and support requests at https://forum.mautic.org rather than on Github, which is for bug reports.

[2019-12-09 14:07] #8203 closed

[2019-12-09 16:40] #8094 closed

[2019-12-09 21:04] jonascasarin commented on #7301
@MyBpoConsultant, where did you see this information that mautic plugin just works on cloud version?! I'm trying to integrate with booth, cloud and open source and got same problem.

[2019-12-10 02:21] perrelet commented on #7125
This is fir shure one hell of a party pooper of a bug.

Any progress on this - I'm pulling my hair out over this one.

[2019-12-10 02:46] perrelet commented on #2778
This is definitely an actual thing.

[2019-12-10 08:22] escopecz commented on #8030
I will take a look into this. I'll try to preserve the git history. If I won't find the way I'll take over DB's PR.

[2019-12-10 08:55] npracht commented on #7125
@perrelet not on my side as far as i am not able to reproduce the issue.

[2019-12-10 08:58] jesusmr25 opened #8208 "Error apc_clear_cache with PHP 7"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Fatal error with apc_clear_cache function runni

[2019-12-10 09:14] #8202 closed

[2019-12-10 10:00] #8000 closed

[2019-12-10 10:05] escopecz commented on #8103
PR: https://github.com/mautic/mautic/pull/8207

[2019-12-10 14:33] drimlike commented on #995
+1
Hello, is it going to be released soon? This feature would be a great improvement!

[2019-12-10 21:36] souzadavi opened #8211 "How to setup onesignal push request to multiple domains"
I would like to setup push notification in Mautic, I already did it, but I have multiple domains. Every language has it own domain. I'm getting error, because push notification only work in one domain. There is any work around to setup mautic with push notification in multiple domains (or subdomains)?

thanks in advance.

[2019-12-11 00:22] autoize commented on #7756
Mautic version: 2.15.3
PHP version: 7.2.24-0ubuntu0.18.04.1
Apache Version: Apache/2.4.29 (Ubuntu)
HAProxy version 1.8.8-1ubuntu0.9 2019/12/02

We seem to be experiencing the same issue, but instead of Nginx as a reverse proxy, we are using HAProxy. @MattBred when you resolved your issue with Nginx, were you able to figure out which header(s) need to be forwarded for link clicks to be counted?

Th

[2019-12-11 00:47] MattBred commented on #7756
@autoize I'm unsure which configuration it was that solved it for me. Looking at my diffs, adding the following fixed it:

[code]
Make sure you're using an incognito window when you test the tracking, as Mautic won't increase the counters if it knows you're an admin.

Also, try the debugging that @escopecz mentioned right above your message.

[2019-12-11 01:24] autoize commented on #7756
Everything is being tested in Incognito mode with multiple browsers.
I already tried the debugging mode - it didn't reveal much more than
[code]

In haproxy.cfg, tried adding a few more directives to the **frontend www-https**

[code]

and **backend apache_pool**

[code]

Also updated Apache virtualhosts to listen explicitly on the internal hostnames
`<VirtualHost web1.lxd:80>` instead of `<Virtua

[2019-12-11 02:13] autoize commented on #7756
Unfortunately even switching it to the identical Nginx file as @MattBred did not resolve the issue.

[code]

[2019-12-11 02:53] MattBred commented on #7756
What type of email are you sending? A lot of the test emails won't work correctly.

I was testing it by going to `/s/emails/new`, selecting Segment email, filling it out, and then clicking "Send" (**not Send Example**)

[2019-12-11 02:59] autoize commented on #7756
Both segment and campaign (template) emails have been tried.
These are real, live test emails with their own segment, _not_ sent through **Send Example**.

[2019-12-11 07:49] StoppingBuck commented on #5647
Shouldn't this ticket be closed then? @escopecz

[2019-12-11 08:27] escopecz opened #8212 "Fix IntegrationsBundle after it was moved to the core"
Gregy managed to move the Integrations bundle from [its own repository](https://github.com/mautic-inc/plugin-integrations) to app/bundles with all the git history.

https://github.com/mautic/mautic/pull/8210

There are some failed tests that needs fixing.

[2019-12-11 08:30] #8030 closed

[2019-12-11 09:08] escopecz commented on #5647
Yep, closing, thanks for the notification.

[2019-12-11 09:08] #5647 closed

[2019-12-11 10:01] StoppingBuck commented on #5329
I have a sneaking suspicion this has been fixed, but I have not tested enough to know for sure

[2019-12-11 11:08] kuzmany opened #8213 "FullContact APIs (v2) will be discontinued on December 31, 2019."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

New generated api key doesn't

[2019-12-11 12:06] RCheesley commented on #8211
Hi there,

Please post support requests and ideas/feature requests at https://forum.mautic.org.

[2019-12-11 12:06] #8211 closed

[2019-12-11 12:07] anton-vlasenko commented on #8003
PR: https://github.com/mautic/mautic/pull/8214

[2019-12-11 12:42] escopecz commented on #8001
@dongilbert I'll help you with this one if you don't mind

[2019-12-11 12:59] escopecz opened #8215 "Refractor FormSubmitHelper/FormSubmitActions from static callbacks to events"
FormSubmitHelper uses deprecated MauticFactory and badly designed static methods as callbacks. Refactor it to use services and events.

[2019-12-11 13:07] escopecz opened #8216 "Refactor MauticFactory from SubmissionModel"

[2019-12-11 14:02] #8003 closed

[2019-12-11 14:06] #8007 closed

[2019-12-11 14:09] #8027 closed

[2019-12-11 14:36] hluchas opened #8217 "M3: Fix LeadExportTest notices"
`\MauticPlugin\MauticCrmBundle\Tests\Pipedrive\Export\LeadExportTest` is producing notices in https://github.com/mautic/mautic/blob/4368fac19827a7aa08fac2f47f64070835c7a5e9/app/bundles/CoreBundle/Helper/UrlHelper.php#L93 after PR https://github.com/mautic/mautic/pull/8137 merge because these variables are not available in CLI.

[code]

Reported by Travis here https://travis-ci.org/mautic/mautic/bu

[2019-12-11 17:52] rankinit opened #8219 "Rest Admin Password Not Working With SendGrid - Bug or By Design?"
Not sure why when using Sendgrid admin reset password email does not get sent. Is this by design or a bug?

I'm locked out and need to get access to admin section of mautic.  Is there way to do this via SSH / CONSOLE / MYSQL ?

Asked in slack and was told to ask in support forum... asked in support forum but did not get a response yet:
https://forum.mautic.org/t/resetting-user-password-directly-in

[2019-12-11 20:35] #8001 closed

[2019-12-11 20:59] mabumusa1 opened #8222 "Emojis are added as part of plain text emails - Auto generated"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? |  Y
| Feature request? |  N
| Enhancement? |  N

## Description:
Mautic does not save emojis inside the plain text version of an email body.

## If a bug:

| Q   | A
| --- | ---
| Mautic version |  2.15.3
| PHP version | 7.1.32

### Steps to reproduce:
1. Create a new email
2. Inside the body of the email add emoji
3. Close builder,

[2019-12-12 04:55] autoize commented on #4626
Was testing the Dynamics CRM and HubSpot CRM integrations today, and can confirm the above code edit allows fields updated on the Integration side, to sync back over to the corresponding Mautic contact (if the direction of sync is set Integration => Mautic).

Thanks for the tip @afonseca08. Can we have a dev review and merge this?

[2019-12-12 08:24] escopecz commented on #8070
@mtshaw3 this is meant to be done after all bundles refactoring has been done. I will add it to the has dependencies column as Ondrej made the same move :)

[2019-12-12 08:39] MimirRnD commented on #7762
Sorry guys, but nothing of any of the suggestions work
It is still an issue in the DB for me.
I have held back from upgrading from 2.14 for 1.5 years.
It is a proper joke that no one has even bothered to get this right. The problem is an old problem

Error I get is [Doctrine\DBAL\Schema\SchemaException]
  The table with name '<mautic database name>.customernominalledger' already exists.

[2019-12-12 08:42] escopecz commented on #7762
@MimirRnD what's in the customernominalledger table? It's not a Mautic table.

[2019-12-12 08:42] MimirRnD commented on #7762
Do not know. It is installed by default so we have not made any changes to the DB

[2019-12-12 08:47] MimirRnD commented on #7762
Thanks a lot! Your comment made it. I deleted it. IT was the consultant who installed it one year ago that had added a table with that name

[2019-12-12 08:49] escopecz commented on #7762
What's the error now?

[2019-12-12 08:50] MimirRnD commented on #7762
The error is now:

The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.
System administrators, check server logs for errors.

[2019-12-12 09:06] escopecz commented on #7762
Do this

[2019-12-12 09:59] escopecz commented on #8212
PR: https://github.com/mautic/mautic/pull/8223

[2019-12-12 10:52] escopecz commented on #8163
PR: https://github.com/mautic/mautic/pull/8224

[2019-12-12 11:02] #7996 closed

[2019-12-12 12:28] escopecz commented on #8154
PR: https://github.com/mautic/mautic/pull/8226

[2019-12-12 13:11] escopecz commented on #7997
I'll take over the work on this as David is not available this week.

[2019-12-12 13:24] #8005 closed

[2019-12-12 16:09] #8154 closed

[2019-12-12 16:44] YosuCadilla commented on #6909
@Talbatz Are you on a bitnami install too?
I've seeing the same problem on a bitnami install too...
@azupancich Did you find a solution for your issue?

[2019-12-12 17:05] YosuCadilla commented on #7930
Are you guys on a Bitnami installation?
@sofocle80 @otsang

[2019-12-12 17:18] otsang commented on #7930
The instances with this issue is not on a Bitnami installation. @YosuCadilla

[2019-12-12 17:55] YosuCadilla commented on #7930
Thanks for the reply @otsang
I realized when I took a closer look to your path: /var/www/html/vendor/ (clearly not Bitnami)

[2019-12-12 17:55] YosuCadilla commented on #7930
Found a solution yet?

[2019-12-12 19:41] Talbatz commented on #7756
Hi there, we are experiencing the same issue with a similar setup.

[2019-12-12 20:20] stevedrobinson commented on #4643
I spotted this again today using 2.15.3. Could this be back?

[2019-12-12 23:05] RCheesley commented on #3195
Closing this old issue, feel free to request a re-open if it's still a problem!

[2019-12-12 23:05] #3195 closed

[2019-12-12 23:11] #3724 closed

[2019-12-13 08:21] escopecz opened #8229 "Refactor MauticFactory from PointModel and TriggerModel"

[2019-12-13 08:37] escopecz commented on #7997
PR: https://github.com/mautic/mautic/pull/8230

[2019-12-13 09:28] escopecz commented on #8217
Fixed in https://github.com/mautic/mautic/pull/8230/files#diff-5ebe88010f6435b20ddee05082acdce7R26

[2019-12-13 09:28] #8217 closed

[2019-12-13 10:24] #8012 closed

[2019-12-13 16:08] #8212 closed

[2019-12-13 16:12] #8163 closed

[2019-12-13 18:47] #7989 closed

[2019-12-13 19:12] #7997 closed

[2019-12-13 19:33] #7991 closed

[2019-12-13 20:55] stevedrobinson opened #8233 "Anonymous > Known Contact Overwrites Partial Address from IP Lookup"
If:
- Maxmind or another IP lookup is installed
- An anonymous website visitor gets geocoded by MaxMind and assigned a city/state/country
- The anonymous visitor also exists in the database as a known contact
- The known record for the website visitor has a full address that differs from the geocoded info from IP Lookup
- The anonymous website visitor completes a form or gets assigned an email add

[2019-12-13 21:00] stevedrobinson commented on #8233
I'm thinking the most straightforward answer is to add some code to prevent a less complete address from ever wiping out part or all of a more complete address. I'm just too rusty of a developer to dig in and submit a PR.

[2019-12-14 02:55] autoize commented on #8040
We tested the SuiteCRM integration between Mautic 2.15.2 and SuiteCRM 7.11.5 (Sugar version 6.5.25) and **were successful** having Contacts created in SuiteCRM, to be created as a Mautic Contact. Any edits made to synced contacts (from the SuiteCRM side) **do update** over to the corresponding Mautic Contact - as we had set SuiteCRM as the system of record.

However data is **not** pushing from Ma

[2019-12-16 07:39] k16101997 commented on #5745
same issue @socmov , any update on this?

[2019-12-16 08:43] socmov commented on #5745
I stopped the webhook. It was too unstable

On Mon, 16 Dec 2019 at 07:39, Fajar K <notifications@github.com> wrote:

[2019-12-16 15:22] florentpetitjean opened #8235 "Special character ">" and "<" are not usable in Select and Multi-select values in API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If you create a Select or Multi

[2019-12-16 16:17] escopecz commented on #8084
PR: https://github.com/mautic/mautic/pull/8237

[2019-12-16 20:45] mungovan commented on #3595
I'm having the same issue v2-15-3
Also, I can now no longer access Settings -> System Info page, I just get:
"Uh oh! I think I broke it. If I do it again, please report me to the system administrator!"
This is a critical issue for us as we need a campaign to go out today

[2019-12-16 22:42] alanhartless opened #8240 "M3: Enabling rabbitmq or beanstalkd in Mautic 3 results in cache exception"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
At face value, it seems that `r