[2021-05-21 13:40] #9950 closed, assigned to nobody

[2021-05-21 14:22] kuzmany opened #10075 "Oauth1 not working in M4 anymore"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Should be removed in M4

![imag

[2021-05-21 14:22] kuzmany commented on #10075
@RCheesley

[2021-05-21 17:00] RCheesley commented on #10075
It should be removed but nobody has made the PR yet. This is intended, we agreed some time ago to remove OAuth1 given that it has been deprecated since 2012.

[2021-05-21 18:02] Jammmmm commented on #8992
Just wondering if the {externallink} tags can be re-implemented because I haven't been able to track e-mails ever since I permanently switched to Mautic over 1 year ago.

There is definitely a bug here but the tag seems like it would be easier to reimplement rather than tracking down the bug.

[2021-05-23 10:24] jobiaya opened #10078 "500 Error When Creating or Editing Emails"
I keep getting a 500 error every time I attempt to create or edit an email. This started right after I created a campaign to send 145,000+ transactional emails. I noticed it was sending emails SUPER slow, only 1000 every hour.

I deleted the campaign, I deleted the email template, and even deleted the segment and still cannot create or edit email templates.

When I went to the developer console I

[2021-05-23 16:46] RCheesley commented on #9764
Closing the issue as #9461 has been merged! Thanks all!

@all-contributors please add @dsp76 for bug

[2021-05-23 16:47] #9764 closed, assigned to nobody

[2021-05-23 22:41] fastyzfr1 commented on #8471
@RCheesley I would love to make a PR. However, I am not sure I want to contribute to Acquia. This may sound horrible but I was burned by Acquia and even though I love Mautic (before Acquia acquisition), I would have a hard time contributing to a company that would burn bridges as they did.
(Acquia is in the MAUTIC CONTRIBUTOR AGREEMENT)
I will not contribute to them making a profit and I was sadde

[2021-05-23 22:46] RCheesley commented on #8471
Ok sorry to hear that. We will just have to wait for someone who is willing to contribute a PR before this issue will be addressed, in that case.

[2021-05-24 17:15] #9951 closed, assigned to nobody

[2021-05-24 18:32] mteposte opened #10090 "POST/contacts/ID/edit"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When trying to run a POST updat

[2021-05-24 18:46] mteposte commented on #10090
Similar issue that was automatically marked as closed with no fix

https://github.com/mautic/mautic/issues/9207

[2021-05-25 09:37] benfavre commented on #9887
This is happening with SMTP sending also ... Not only AWS
How funny is it that huge amounts of work is done on this project, only for the product to fail at not allowing to change the sender name.
Could this be unit tested or something ? This is not the first time this problem has came back.
We keep pushing back upgrades to make sure releases are "safe"(ish), only to realize a random issue is open

[2021-05-25 09:39] shinde-rahul opened #10092 "Site installation throws errors after `composer create-project`"
## Bug Description
After `composer create-project mautic/recommended-project:4.x-dev` completes, the `[web-root]\plugins` and its subdirectories are missing. Please find the `Log errors` section for PHP errors.

| Q   | A
| --- | ---
| Mautic version | feature-dev
| PHP version | 7.4

### Steps to reproduce
1. Run `composer create-project mautic/recommended-project:4.x-dev`
2. Create a local serve

[2021-05-25 10:16] benfavre commented on #9887
After investigating, this seems to be a simple problem.

Reproduction :
- In the advanced email settings
- Modify only the field : emailform[fromName] and not the field: emailform[fromAddress]

Result: the fromName is not honnored and it reverts to the global setting.

Expected:
Array merge the custom sender fromName with the global fromAddress

[2021-05-25 10:39] vovchok opened #10093 "RabbitMQ: the producer doesn't create a routing key for a direct exchange."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The producer doesn't create a r

[2021-05-25 15:30] russkiimike commented on #9887
Switching to AWS SMTP did fix the issue but that's a workaround I wouldn't want to rely on in the long term

[2021-05-25 15:36] russkiimike commented on #10078
I remember getting similar errors;

I use DO droplets so I increased resources and it started running smoother ($20 droplet atm) and also whenever I get 500 error especially after updates I just recheck the permissions

`chown -R www-data:www-data /var/www/html`
`chmod -R 775 /var/www/html`

[2021-05-26 09:42] RCheesley opened #10099 "Composer create-project has stopped working as expected"
## Bug Description
Since all the juggling we did with the Mautic 4 beta, the composer create-project command has stopped working as expected. Originally reported by @shinde-rahul in [Slack](https://mautic.slack.com/archives/C01E8F6T2HM/p1621935859066700) and I can confirm the same issue.

| Q   | A
| --- | ---
| Mautic version | 4.0-beta
| PHP version | 7.4
| Browser | Chrome

### Steps to reprodu

[2021-05-26 09:44] RCheesley commented on #10099
Oops ... duplicate!

[2021-05-26 09:44] #10099 closed, assigned to nickveenhof

[2021-05-26 09:45] RCheesley commented on #10092
I was able to reproduce this locally.

It seems like the plugins and themes are missing from what I can see.

[2021-05-26 12:35] ManalLiaquat opened #10100 "/stats/lead_lists_leads not returning all data in response"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-05-26 17:37] kuzmany commented on #10100
Did you try start and limit parameter based on docs https://developer.mautic.org/#get-stats-from-a-table ?

[2021-05-27 05:26] prasannakulkarni333 commented on #7830
So this would capture the utm values on that page? What if the user landed on the website from another page with UTMs? Something like a cookie to store their utm values for a time period and your script could solve that.

[2021-05-27 11:05] Adaphath commented on #195
You can reset the stats manually in the emails table.
There are the columns "read_count", "sent_count".

But we still have our problems with some stats remaining.

[2021-05-27 20:24] ah2020b opened #10106 "Campaign without contacts"
Hi

Every campaign that I created, show there is no contact. And campaing is not sending.

![image](https://user-images.githubusercontent.com/30999942/119892009-86c08a00-bf31-11eb-9e18-58ca2ca8b3cd.png)

![image](https://user-images.githubusercontent.com/30999942/119892143-ba9baf80-bf31-11eb-9f8c-213d48b5b0c9.png)

![image](https://user-images.githubusercontent.com/30999942/119892167-c1c2bd80-bf31

[2021-05-27 21:12] #9635 closed, assigned to nobody

[2021-05-28 00:55] ManalLiaquat commented on #10100
Thanks for your reply... Limit param solves my problem, but I have to call API first time to get the total records then pass the total to the same api with limit param then I get all records and this is not good... By default all records should be return

[2021-05-28 03:00] pjrobertson commented on #3596
Replying here as this ranks high on Google for "mautic amazon ses unsubscribe monitoring"

I believe what nickian is referring to is the unsubscribe email address mautic+unsubscribe_****

Currently, if you are using Amazon SES for sending emails and using the Amazon SES webhook system as described [here](https://docs.mautic.org/en/channels/emails/bounce-management#amazon-webhook) you will *still*

[2021-05-28 03:56] shinde-rahul commented on #10018
I am able to reproduce the issue. And fix https://github.com/mautic/mautic/pull/10104  work as expected.

[2021-05-28 08:07] kuzmany commented on #10100
Any contributions are welcome

[2021-05-28 08:43] atharvitsolutions commented on #10106
Possibly your cron jobs are not working

https://docs.mautic.org/en/setup/cron-jobs

[2021-05-28 08:59] atharvitsolutions opened #10107 "Multiple Campaigns Caught Disk Full Error"
Hi Friends,

I am running a mautic instance with 45,000 contacts segmented differently. 2 day's back I have created around 6 campaigns having 7 emails series in each campaign with segment contact size around 4500.

I have noticed that all segments contact triggers were well scheduled as per the campaign I have set but unfortunately my hosting encountered an disk full error something like this - "W

[2021-05-28 09:41] npracht commented on #5598
Fixed by https://github.com/mautic/mautic/pull/10102, please review the PR !

[2021-05-28 11:36] GrooveDevops commented on #8991
is anyone fine solution for this issue

[2021-05-28 13:22] RCheesley commented on #9595
Still an active issue :)

[2021-05-28 13:54] samuelfaith commented on #9814
Just to add more information on this.

Faced the same issue. Applied the fix stated above and also force updated DB schema. Works.

However, now, segments I chose to send SMS directly to (Segmented SMS) don't show any single contacts, even though the segments contain multiple contacts (checked in Segments and confirmed).

I also ran relevant cronjobs to update segments and campaigns, and tried bro

[2021-05-28 19:13] Christophe9880 opened #10110 "Mautic 4: Email reported as being sent twice in contact log"
Issue: When a campaign has send email / email open / send email in the workflow, the email sent activity log entry is being duplicated for the first two emails in the chain.

Have made a short vid about it: https://youtu.be/hOpjIoJfk88

### Instructions to reproduce

1. Create three emails, email 1, 2 and 3
2. Create a campaign from a form or segment (is not relevant)
2. Add 'Send email' and selec

[2021-05-30 06:29] mahmood728 commented on #7668
Yes, I use mautic 3, but the problem persists

[2021-05-30 12:24] #9582 closed, assigned to nobody

[2021-05-30 13:57] 131events commented on #9814
Yes, even though the fix worked, I can't send broadcast SMS either. As you've mentioned, the contacts never populate from the segment.  We don't tend to use it that way, but it would be nice if this plugin worked properly across the board.

[2021-05-30 16:22] RehanNischal opened #10115 "Issue occurred in mautic 4.0.0-beta in Test Messages."
I tried to send a text message by using the Twilio plugin. The first message was sent successfully to a contact. But when I cloned that campaign and triggered it on the same contact with the same text message, an error occurred "Last execution: scheduled". I haven't set any frequency on the text message but it gets queued for the next day.
[](url)
![Capture23](https://user-images.githubusercontent

[2021-05-30 17:48] HappyCustomers commented on #7884
@npracht &  @RCheesley The Bug is still present  3.2.1. when email sent to Gmail is shows as read even before the email is open.

[2021-05-30 18:15] HappyCustomers commented on #8548
@kamikazebr
How did you fix it? Can you please provide the steps?
Thanks in Advance

[2021-05-31 03:36] #5662 closed

[2021-05-31 03:36] #9616 closed, assigned to nobody

[2021-05-31 13:39] adiux commented on #9986
The newest version as of today is https://github.com/artf/grapesjs/releases/tag/v0.17.4

[2021-05-31 14:40] nataly2903 opened #10117 "Issue after import database"
PHP Version 7.3.27
Mautic version: v3.3.1

Hello, after importing a database that I previously exported, from another server with mautic 2.0.1-1, I get the following error and it does not allow me to see several of the sections, such as campaigns, emails

[2021-05-31 16:33:10] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while ex

[2021-05-31 14:52] nataly2903 commented on #10117
When I run http: // [your-mautic-url] / s / update / schema I get this error

[2021-05-31 16:45:32] mautic.NOTICE: Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'DROP INDEX ma_tweet_text_index ON ma_tweets':  SQLSTATE[42000]: Syntax error or access violation: 1091 Can't DROP 'ma_tweet_text_index'; check that column/key exists (uncaught exception) at /opt/bitnami/ap

[2021-05-31 18:10] marcusrfaust commented on #8890
Você conseguiu resolver de que forma?

Estou com o mesmo problema.

[2021-05-31 18:13] marcusrfaust commented on #8890
Consegui resolver indo no servidor > Pasta de instalação do Mautic
Acionando o seguinte código:

rm -rf var/cache/*

[2021-06-01 08:57] foliva-visualweb opened #10118 "Console Errors on tracking code."
![Captura de pantalla 2021-06-01 105351](https://user-images.githubusercontent.com/84508079/120296113-16ff2600-c2c8-11eb-83fe-cbccd79c61c8.png)
![Captura de pantalla 2021-06-01 110110](https://user-images.githubusercontent.com/84508079/120296918-e4a1f880-c2c8-11eb-83d8-8056a242ac92.png)

## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | 3.3.2
| PHP version

[2021-06-01 09:07] ttencate commented on #9180
@RCheesley

I don't think that is the same issue. The error message quoted in #9129 is quite different: that one is throwing an error on foreign key constraints, but this one is a bona fide SQL syntax error.

`bin/console doctrine:migrations:migrate` reports the same error.

I copied and pasted the SQL into a mysql shell, where it works fine, although I had to add a semicolon at the end:

[code]

[2021-06-01 10:05] #10118 closed, assigned to nobody

[2021-06-01 10:14] namratasaun commented on #3126
Was anyone able to open it in an iframe?

[2021-06-01 13:55] RCheesley commented on #10110
Splitting these out into two separate issues for clarity.

[2021-06-01 13:57] RCheesley opened #10119 "Mautic 4: Clicking on view contacts for a tag shows no contacts"
Mautic version: Mautic 4.0-beta

Raised by @Christophe9880 in #10110

Have made a short vid about it: https://youtu.be/hOpjIoJfk88

I added a "tag" in a campaign, and I could see the tag was added at the contact, but when I click on "view contact" for a certain tag, no contacts were visible, but it's all clear in the vid.

[2021-06-01 14:11] RCheesley opened #10120 "After updating Mautic 3->4 there is a 500 error due to incorrect syntax on the blank theme config file"
## Bug Description
After updating to Mautic 4 from 3.3.2 there is an error thrown on the email section:

`[2021-06-01 13:50:52] mautic.CRITICAL: Uncaught PHP Exception Mautic\CoreBundle\Exception\BadConfigurationException: "Theme Blank not configured properly: builder property in the config.json" at /var/www/html/app/bundles/CoreBundle/Helper/ThemeHelper.php line 673 {"exception":"[object] (Mautic

[2021-06-01 16:25] RCheesley commented on #10119
@Christophe9880 I did some testing on this and the issue is that you have a space in the tag name and the filter is not using double quotes to search for the phrase, so it doesn't find it.

Here's a screen capture: https://youtu.be/-HiYLskwYKY

So the workaround is to add double quotes to the search phrase - but longer term we should probably make sure that we are using that in the search field.

[2021-06-01 17:37] Semelovich commented on #7732
The issue is still present in the latest version of Mautic when using it with Amazon SES SMTP

[2021-06-01 18:48] RCheesley commented on #10110
Hey there,

I did a bunch of testing on this but I am not able to reproduce the issue. I tried with a form based campaign the same as yours, and with a segment based campaign.

I also tried with just one email, then added all the additional things in one at a time and am still not getting duplicated emails in the contact log after opening them (in Mailhog which is in an incognito window).

Is ther

[2021-06-01 18:54] RCheesley commented on #9995
Closing as this is now merged

[2021-06-01 18:54] #9995 closed, assigned to dennisameling

[2021-06-01 19:25] Christophe9880 commented on #10110
@RCheesley Hi Ruth, thx for your reply.
If you want, you can test on my installation as well, just let me know and I grant you access

[2021-06-01 19:27] Christophe9880 commented on #10119
Hi Ruth, thx for your reply.
Just did the same search on my Mautic application, and I had the same... It worked if I did the search with the doublequote

![image](https://user-images.githubusercontent.com/82932885/120379522-2dd16700-c320-11eb-8177-ff8b49b49a44.png)

[2021-06-01 19:55] Christophe9880 commented on #10115
@RehanNischal @RCheesley I reproduced this on my application and had the same error with the twillio plugin (I did exactly the same, I cloned the form and the campaign)

![image](https://user-images.githubusercontent.com/82932885/120382559-1300f180-c324-11eb-8eac-0f2d9e4f3de3.png)

[2021-06-02 07:26] atharvitsolutions commented on #10107
My another Mautic Instance also triggered same Disk Full error because of Mautic Datasize exceeded 3 GB

[2021-06-02 07:50] npracht commented on #10107
Hi there,

You need to allocate the server resources necessary for your app !
Also your app version is very old, i'd recommend you to upgrade your Mautic version to 3.x.

I'll close this issue and i let you join the community to discuss this on Slack or Forums.

[2021-06-02 07:50] #10107 closed, assigned to nobody

[2021-06-02 09:57] RCheesley commented on #10110
Drop me a message on Slack and let's see if we can get to the bottom of it!

[2021-06-02 10:58] RCheesley commented on #10092
@shinde-rahul can you test #10123 which should address this issue.

[2021-06-02 16:58] Robmobius commented on #9054
This bug exists in 3.3.3

I am using company tokens in dynamic content and they are not pulling through. Some are custom fields and some are base mautic company fields.

[2021-06-03 01:39] atharvitsolutions opened #10124 "Segment Filters Not Working in 3.3.3"
I m using 3.3.3. I have set the filter inside segment to include contact having a particular Tags but unfortunately it is not adding the contacts according to the condition set.

It was working perfectly in Mautic 2.x version.

Aside, all my crons jobs are in place.

[2021-06-03 12:05] Rigiytip commented on #9897
Hi! I caught this bug too. I think problem is in this row:
https://github.com/mautic/mautic/blob/a16eb83f6cff0d3c5ea39bc172a5eb262ce2616b/app/bundles/ApiBundle/Controller/CommonApiController.php#L276

because order of entities is not like order of parameters.

I changed this part to:

[code]

[2021-06-03 13:33] stevedrobinson commented on #9166
This is still an issue, but I think I have a quick fix I can post as a PR.

[2021-06-03 14:31] Christophe9880 commented on #10110
@RCheesley done, see Slack

[2021-06-04 07:11] iml885203 opened #10127 "creating contacts on the "Do not contact" column does not work when import csv"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
when import csv, creating conta

[2021-06-04 10:57] burnoutberni opened #10130 "Text disappears from GrapesJS Builder"
## Bug Description
When creating a mailing with the new GrapesJS Builder, I can edit everything normally. But once I close the builder and then reenter, most of the texts just disappear. When looking into the MJML/HTML code, it's still there, yet I'm no longer able to edit the content with the builder.

![Screenshot_2021-06-04 New Email Mautic(1)](https://user-images.githubusercontent.com/1640933/

[2021-06-04 11:05] burnoutberni commented on #10130
On closer inspection, this looks related to #9987. When I look at the Web Inspector and look at the image above the text block, you can see that there's actually all of the content _inside_ the `<img>`

[code]

[2021-06-04 11:23] burnoutberni commented on #10130
I'm using the Brienz theme here, which is shipped by default. I noticed that the original theme MJML does not include self-closing image tags (see https://github.com/mautic/mautic/blob/34e8b58c9ec029d52cbdf80097230200c438b788/themes/brienz/html/email.mjml.twig).

Nevertheless, when I click on "View code" in the GrapesJS builder, all of the `<mj-image>` elements are now self-closing. Next time I en

[2021-06-04 11:35] RCheesley commented on #10130
@burnoutberni I think that this is probably a duplicate of #9987 so let's have the discussion over there to keep it all in one place. Thanks for taking the time to report it!

[2021-06-04 11:35] #10130 closed, assigned to nobody

[2021-06-04 11:38] RCheesley commented on #9987
Thanks for reporting this @silsha - also reported in #10130 which I have just closed as a duplicate.

Is anyone able to test this in Mautic 4 beta to see if it is still an issue?

[2021-06-04 12:27] burnoutberni commented on #8686
@RCheesley This is still a bug in Mautic 3.3.0 – should open a new ticket or should I add my bug report here?

[2021-06-04 12:34] burnoutberni commented on #8686
Actually, I'll open a new ticket, since I found more issues with the email permissions.

[2021-06-04 12:34] RCheesley commented on #8686
@burnoutberni please check in the latest release (ideally 4.0-beta) and raise a new issue

[2021-06-04 12:43] burnoutberni opened #10132 "Email permissions do not work"
## Bug Description
We have a role called "Newsletter Creator", this role should only be allowed to create but not send mailings. For this, I was planning to use the following email permissions.

![Screenshot from 2021-06-04 14-33-13](https://user-images.githubusercontent.com/1640933/120802091-52a52480-c542-11eb-9c5e-f3292097f5e7.png)

Unfortunately, this doesn't seem to do anything. Users with the

[2021-06-05 19:02] adiux opened #10133 "Allow the usage of HTML Conditionals in Code Mode"
Add a new block for html conditionals:
https://github.com/artf/grapesjs/issues/208
https://github.com/artf/grapesjs-preset-newsletter/issues/66

Currently, grapesjs removes all HTML conditionals from the source **in the code mode**. Meaning normal themes are not affected.

The `editor.setComponents` function removes the conditionals.

<bountysource-plugin>

---
Want to back this issue? **[Post a b

[2021-06-06 10:25] #10092 closed, assigned to nickveenhof

[2021-06-06 12:43] adiux commented on #9986
also updated mjml update: https://github.com/artf/grapesjs-mjml/releases

[2021-06-07 05:36] npracht commented on #10127
Hi there !
This is fixed by https://github.com/mautic/mautic/pull/9732. You can cherrypick it now and it'll be released in 4.0.

Enjoy !

[2021-06-07 05:36] #10127 closed, assigned to nobody

[2021-06-07 05:38] npracht commented on #10124
Hi @atharvitsolutions !
Thanks a lot for your message, but i don't have the issue.
You need to be much more complete in your report and use new issue template.

Please open a new issue with all the information requested and a clear process to reproduce the issue.

[2021-06-07 05:38] #10124 closed, assigned to nobody

[2021-06-07 05:40] npracht commented on #10106
Please check your CRONjob and move to forum or slack for discussions.
Best

[2021-06-07 05:40] #10106 closed, assigned to nobody

[2021-06-07 05:41] npracht commented on #10018
Please @thinkl33t add your review on https://github.com/mautic/mautic/pull/10104

[2021-06-07 05:43] npracht commented on #10042
I'll leave this debate on the forum.

[2021-06-07 05:43] #10042 closed, assigned to nobody

[2021-06-07 05:45] npracht commented on #10078
@russkiimike what is the log error of your 500 error ? This is notice from integration.
Also please note that we don't support 2.x version anymore.

[2021-06-07 05:47] npracht commented on #10090
Hi @mteposte we use it everyday without issue.
Can you please share a complete snippet of code to reproduce the way you do ?

[2021-06-07 05:48] npracht commented on #10057
Hi @sofocle80 !
Please not we don't support 2.x version which is too old.

When you go in your private browser and see the wrong way of display, do you have any message in your console ? I have the feeling you might have a third party file including CSS which is blocked.

[2021-06-07 05:48] #10057 closed, assigned to nobody

[2021-06-07 05:50] npracht commented on #10024
No feedback i close the issue.

[2021-06-07 05:53] npracht commented on #10022
Hi @evgu, did you test https://github.com/mautic/mautic/pull/9160 ?
Obviously it is not supported by default without this PR.

[2021-06-07 05:57] npracht commented on #10013
Hi @swadeshp !
I'm not a developer but if I understand, for an integer you should not add simple quotes, this is for text. But your field is expecting a number, not text.
Do you confirm ?

[2021-06-07 06:27] npracht commented on #9979
Fix here: https://github.com/mautic/mautic/pull/10136

[2021-06-07 07:14] npracht commented on #9975
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2021-06-07 07:14] #9975 closed, assigned to nobody

[2021-06-07 07:17] npracht commented on #9958
Hi @luizeof !
I don't understand why you use command, if you use campaign or form action it is not necessary.
Are you fields correctly mapped ? Do you send contact with all required fields ?

[2021-06-07 07:19] npracht commented on #9927
Hi @spencerthayer !
Thanks for you message. Nevertheless, mautic is working in 3.x versions, thousands instances are running, I am myself running ±500 instances for companies.

Your issue might be a server/configuration issue. Please come on forums and slack to find help from community members !

[2021-06-07 07:19] #9927 closed, assigned to nobody

[2021-06-07 07:21] npracht commented on #9953
Hi @rmalla !
Thanks for your message.
Nevertheless, I have to disagree. The campaign is working properly and the workflow moves fwd. Your issue is an integration / third party issue and should not impact the application behaviour.

Join forums and slack if you want to discuss this and find solution with community members.

[2021-06-07 07:21] #9953 closed, assigned to nobody

[2021-06-07 07:29] npracht commented on #9926
Hi @MyBpoConsultant !
Thanks a lot for your complete message but i don't understand the objective of it ?
Is there a bug ? Do you recommend an enhancement ?

[2021-06-07 07:30] npracht commented on #9938
Hi @chente38 !
Thanks a lot for your message but it is incomplete. You miss the image, the mautic version, etc.

Please share a better feedback. Thanks a lot.

[2021-06-07 07:31] npracht commented on #9939
Hi @biggala2310 !
Thanks for that feedback. Can you please tell which email transport you use ?

[2021-06-07 07:32] npracht commented on #7173
@pwned555 did you have the chance to have a look at this to offer a PR to the community ?
Thanks !

[2021-06-07 09:10] swadeshp commented on #10013
Doesn't mater if I use ' or ". Behaviour is still the same.

[2021-06-07 09:31] npracht commented on #9942
Hi @dynamiccontent ! Thanks for your message. Nevertheless, following the steps we are unable to reproduce.
Please join the forums or slack to find help from community members about your configuration issue.

[2021-06-07 09:31] #9942 closed, assigned to nobody

[2021-06-07 09:52] ghost opened #10137 "Segment Mails do not use site_url (better version)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This is a better and easier exp

[2021-06-07 12:01] rmalla commented on #9953
thanks will do.

[2021-06-07 12:31] Darko-F opened #10138 "Remain at form don't working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Expexting result **Remain at fo

[2021-06-07 12:35] fmulassano opened #10139 "Submit button doesn't always works"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have just sent out my first c

[2021-06-07 13:06] RCheesley commented on #10138
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-06-07 13:06] #10138 closed, assigned to nobody

[2021-06-07 13:07] RCheesley commented on #10139
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-06-07 13:07] #10139 closed, assigned to nobody

[2021-06-07 13:15] fmulassano commented on #10139
thank you @RCheesley

[2021-06-07 13:41] ger100 opened #10140 "Package mautic/core-lib cannot install)"
Ubuntu 18.04.5 LTS
PHP version: PHP 7.4.16
Browser: Crome  89.0.4389.128
Mautic version 4.0
Composer version: 1.6.3

I download Mautic zip file
- The file was unzipped and moved the files and directories from mautic-features directory up to one level into root under my domain
- cd into Mautic root directory
- After "composer install" I receive error message:

Composer message:
In PathDownloader.ph

[2021-06-07 14:02] RCheesley commented on #10140
@ger100 how did you do the install? What commands have you used? cc @nickveenhof

[2021-06-07 14:19] ger100 commented on #10140
I followed the instructions, as it was mentioned here in Mautic github repo:
Installing Mautic is a simple three-step process:
- Download the repository zip then extract the zip to your web root.
- Run the composer install command to install the required packages.

After zip file extraction I got mautic-features folder with subfolders and files. I moved these one level up into root folder of the d

[2021-06-07 15:12] RCheesley commented on #10140
Right - but the features branch (Mautic 4) is in beta and should not be used for production - we have not yet updated the install instructions in the readme. We have a whole new way to install with composer with Mautic 4.

I noticed there seems to be a double slash in the path as well:

Are you planning to use this in production? If so, please use the releases at https://github.com/mautic/mautic/r

[2021-06-07 15:27] ger100 commented on #10140
Thank you for the quick reply again. The reason why I would like to install on a server, because I just would like to try the new features especially the new email and page builder. Could you suggest the proper install method? (local or server) Thank you.

The double slash was a github auto correction because I wrote MYDOMAIN into <  > and github deleted
The correct path is /var/www/MYDOMAIN/htdoc

[2021-06-07 16:43] mteposte commented on #10090
Attached are some simple calls I made using postman to highlight the issues that I am seeing.

I created a new contact:
![image](https://user-images.githubusercontent.com/66977287/121057812-88c9ea80-c774-11eb-97d6-78b0f8afd4da.png)

I then tried updating the names using a patch, but the values stayed the same:
![image](https://user-images.githubusercontent.com/66977287/121057897-a008d800-c774-11eb

[2021-06-08 01:45] #5732 closed

[2021-06-08 01:45] #9638 closed, assigned to nobody

[2021-06-08 06:06] jamesjosh912 opened #10141 "Cannot Send Emails"
My Mautic version is: 4.15.0
My PHP version is: 7.4.16
My Database type and version is: ?

Your problem
My problem is: Cannot Send Emails

These errors are showing in the log:

[2021-04-27 00:20:07] mautic.NOTICE: Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: The “swiftmailer.transport.real” service or alias has been removed or inlined when the container was compiled. Y

[2021-06-08 09:01] patrykgruszka opened #10142 "GrapesJS email builder wipes out HTML head tags"
## Bug Description
Everything that is not in body section is removed from the email HTML when using GrapesJS builder.

| Q   | A
| --- | ---
| Mautic version | 3.3.3 and 4.0.0-beta
| PHP version | 7.4
| Browser | Any

### Steps to reproduce
1. Create email and select template that has HTML head section e.g. Blank
2. Open the builder
3. Close builder and save email
4. Open preview or send example
5

[2021-06-08 11:31] alexhammerschmied commented on #6979
I think we need this to open again.
After testing and digging I found that the current PR #9784 fixes most of the segment problems regarding date/time fields.
Anyway from this PR #6979 to the other one many things have fallen under the table which should be addressed.

Most important:
The campaign condition "date" based on hours and minutes. It is a feature which the community is craving for actua

[2021-06-08 20:03] imihandstand opened #10145 "Stage-Change retries unlimited times, plus it's impossible to stop"
## Bug Description
I started using stages and got a huge problem: If a contact gets stage #2 and later a campaign tries to give it stage #1, it generates an error - which is totally okay.

_[Problem 1]_
However, **it retries it from than on every single hour** (and generates so every single hour a new error-notification)!

_[Problem 2]_
**Even worse: It's impossible to stop it even manually:** If

[2021-06-09 07:53] #9979 closed, assigned to nobody

[2021-06-09 08:34] nickveenhof opened #10146 "Remove duplicate assets"
Right now we have media/images with the country flags but also app/assets/images. We should make sure to remove files in media & replace the path in mautic codebase to point to app/assets/images

[2021-06-09 09:35] nickveenhof commented on #10140
Hi! I tried to replicate this but wasn't able. Is it possible to post the exact steps so we can reproduce this? It looks like your hosting provider might be able to assist you as well as this could be a folder permission problem

[2021-06-09 09:35] nickveenhof commented on #10140
Also, it's preferred you use composer 2.0, maybe that could be the issue?

[2021-06-09 10:11] #7319 closed

[2021-06-09 10:30] #5598 closed

[2021-06-09 10:34] josefcoribeiro commented on #9751
Hi
I have the same problem and the "NO" is corrected coded. It was working in th previous version but it is not when upgraded to 3.3.3
![3662B4D2-4BC2-44DA-905B-36F438754A09](https://user-images.githubusercontent.com/83114258/121339697-092c4f00-c91f-11eb-87bd-179141223c54.png)

[2021-06-09 10:37] npracht commented on #9751
What was your version before you upgrade to 3.3.3 ?

[2021-06-09 11:26] RCheesley commented on #10119
Pinging @luguenth for your thoughts on this issue?

[2021-06-09 11:29] josefcoribeiro commented on #9751
I think it was 3.2.4

[2021-06-09 11:30] luguenth commented on #10119
We defined that in the known issues of the PR.
It'll only appear for tags with whitespace in it. As described, we already tried to avoid this issue. But weren't able to do so :(
![image](https://user-images.githubusercontent.com/9964009/121346692-b6ef2c00-c926-11eb-80e7-b0e8333104a6.png)

[2021-06-09 11:46] RCheesley commented on #10119
Ahh thanks I had completely forgotten that! So it is something that we need to add in the release notes / documentation as a known issue I guess, and at some point the product team will need to decide how to address that.

CC @mautic/core-team for thoughts/discussion

[2021-06-09 11:52] npracht commented on #9751
All the things i see between 3.2.4 and 3.3.1 (the author of this issue saw the issue in 3.3.1) related to email would be:
* https://github.com/mautic/mautic/pull/9089
* https://github.com/mautic/mautic/pull/6071

Let's investigate to see if we see a regression somewhere here between those version.

[2021-06-09 20:06] skanzallah commented on #9751
Hello,

I have the same problem too after the update to 3.3.3 :(

[2021-06-09 20:25] kamikazebr commented on #8548
Hi @HappyCustomers , i dont remember the exact steps.

Look the previous conversation. I did like that:

Download the version zip, take in releases page in github.

Unpack and copied the files configs (dont remember the names files now)

Copied cloned the database and inserted in the fresh one.

Ran the update script of mautic.

Sorry for not help and forget the made the steps correctly, but i thi

[2021-06-10 01:22] leoschuler opened #10147 "Do Not Contact (Unsubscribe - Email) is not to be a filter for Dynamic Web Contact."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I see a feature to include the

[2021-06-10 11:30] tejasync commented on #9751
I confirm that the functionality is not working as expected.
This bug was introduced in https://github.com/mautic/mautic/pull/6071 which was release in v3.3.0.

[2021-06-10 14:09] #9989 closed, assigned to adiux

[2021-06-10 14:15] ger100 commented on #10140
Now the install process run without any failure with composer 2.1.3
Thank you for the advice.

The problem occured only with composer 1.

_(DOMAIN is my domain name)_
The folder which contains the contents of features folder is: /var/www/DOMAIN/htdocs
The owner and group of the files and folders and subfolders: www-data:www-data
I have write access for this directory and sub dirs and files as well

[2021-06-10 14:15] RCheesley commented on #10142
This should be fixed by #10114 - please can you test @patrykgruszka and let us know in the PR?

[2021-06-10 16:05] #10140 closed, assigned to nickveenhof

[2021-06-10 21:25] #9704 closed, assigned to mabumusa1

[2021-06-10 21:25] #9711 closed, assigned to nobody

[2021-06-10 21:25] #9664 closed, assigned to nobody

[2021-06-10 21:25] #9633 closed, assigned to nobody

[2021-06-10 21:25] #9634 closed, assigned to nobody

[2021-06-10 21:25] #9596 closed, assigned to nobody

[2021-06-10 21:25] #9572 closed, assigned to nobody

[2021-06-10 21:25] #9705 closed, assigned to nobody

[2021-06-10 22:13] imihandstand commented on #10141
They mean do that change in the **CronJob** - where you set the cronjobs to run every X minutes to execute everything (campaigns, sending, segments, etc.). This is not done within Mautic, it's done somewhere else - often in cPanel.

[2021-06-10 22:52] jamesjosh912 commented on #10141
So like this? It says I have an error in my cronjobs though.
![cron](https://user-images.githubusercontent.com/68710900/121606851-e84a2380-ca1c-11eb-9a54-09e122346689.png)

[2021-06-11 01:51] Eduardrj opened #10148 "Error importing leads into Mautic"
500 Internal Server Error
PHP Version 7.4.19
Log : [2021-06-10 22:45:29] mautic.CRITICAL: Uncaught PHP Exception LogicException: "Unable to guess the mime type as no guessers are available (Did you enable the php_fileinfo extension?)." at /home/public_html/mautic/vendor/symfony/http-foundation/File/MimeType/MimeTypeGuesser.php line 130 {"exception":"[object] (LogicException(code: 0): Unable to gue

[2021-06-11 16:38] abdul-Tz-prog commented on #9766
The same Issue is happing to me. I try to include a custom landing page in my email. but doesn't gets the custom landing page. when I click on Unsubscribe link in my email, It always shows the standard preference page of mautic. I want a custom landing page.

[2021-06-11 21:54] saikat-here opened #10149 "CustomFieldHelper::fieldValueTransfomer() must be of the type array, null given"
Hello,

My campaign actions (its pending from long time) are not working and getting the following error in log.

**logs/prod-2021-06-11.php**
[2021-06-11 21:45:05] console.ERROR: Error thrown while running command "mautic:campaigns:trigger". Message: "Argument 1 passed to Mautic\LeadBundle\Helper\CustomFieldHelper::fieldValueTransfomer() must be of the type array, null given, called in /home/comp

[2021-06-13 08:39] RCheesley commented on #10149
Should be fixed in Mautic 4 with this PR: https://github.com/mautic/mautic/pull/9947

[2021-06-13 08:40] #10149 closed, assigned to nobody

[2021-06-13 12:04] smartyaunt commented on #8376
I was able to reproduce this with v3.3.3

[2021-06-13 14:16] saikat-here commented on #10149
Great, thank you.
What is the expected date of release of Mautic 4?

[2021-06-13 14:44] RCheesley commented on #10149
https://forum.mautic.org/t/getting-ready-for-mautic-4-all-details-timelines/18692

[2021-06-13 17:02] RCheesley commented on #10148
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)  It looks like you need to enable the php_fileinfo extension on your server.

[2021-06-13 17:02] #10148 closed, assigned to nobody

[2021-06-13 17:04] RCheesley commented on #10145
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

You may also want to double check that you are not trying to move them to a stage with a lesser weight, per the [docs](https://docs.mautic.org/en/stages#moving-contacts-from-stage-to-stage):

[2021-06-13 17:04] #10145 closed, assigned to nobody

[2021-06-13 17:07] RCheesley commented on #10141
Closing as a probable duplicate of #9948

[2021-06-13 17:07] #10141 closed, assigned to nobody

[2021-06-13 17:42] RCheesley commented on #10137
@TPapajCin thanks for the detailed issue report - would you be up for making a pull request to address this issue?  Please first test if this is still an issue with the latest Mautic (Features branch / 4.0-beta).

There are some resources here to guide you: https://contribute.mautic.org/contributing-to-mautic/developer

Feel free to ask for help in the Product Team Slack channel #t-product (get an

[2021-06-13 18:24] smartyaunt commented on #8376
This problem is still not resolved, in the latest version 3.3.3

[2021-06-13 18:25] smartyaunt commented on #8376
mautic version: 3.3.3
php version: 7.4

Cloned campaign will not show any events,
but if I go to clone through the UI page, it work. Can anyone help me?

[2021-06-14 04:27] aleeepp commented on #7884
Same issue here v3.3.2 👍

[2021-06-14 05:38] truong-hua commented on #6658
@oytuntez can you share the plugin?

[2021-06-14 06:53] thangsanps commented on #3378
I also have the same error with Vietnamese. Anyone have a fix for this error?

[2021-06-14 09:03] ghost commented on #10137
Sadly I do not know how to fix this issue, I tried to find its source to fix it locally because it is blocking usage of Segment Mails for me but I do not know where the Router in AbstractCommonModel comes from. Could you give me any hints where I can find it?

About the 4.0-beta branch, I see that the problem is still there but not only it changes address but also removes port for some reason and

[2021-06-14 13:44] imihandstand commented on #10145
@RCheesley Isn't it a bug if I click CANCEL but it still continues trying it forever...?
And shouldn't it just be skipped (with 1 error) if the stage is lower? Instead of completely breaking the running of the campaign?

[2021-06-14 20:15] evgu commented on #10024
@npracht Norman, apologies for delay. Yes all mandatory fields on SuiteCRM are aready completed in Mautic. Still same issue.

[2021-06-14 20:27] evgu commented on #10022
I can't even test PR #9160, as the standard push to SuiteCRM integration (with all mandatory fields completed) doesn't work for us. #10024 needs reopening. thanks.

[2021-06-16 00:36] starchild opened #10156 "links replaced with /rkskjsklsklsdsldksldk and no open/read/tracking occurs with scheduled email"
## Bug Description
Links in the test email seem fine. We sent a scheduled segment email this morning and neither opens, clicks nor even the links themselves are working.

We use Amazon SES API to send.

The tracking pixel appears intact in the email and the img src url exists when i visit it manually.

Despite the link urls being properly formed in the email source - link urls look like this: /r/7

[2021-06-16 00:49] #9719 closed, assigned to nobody

[2021-06-16 00:49] #9540 closed, assigned to nobody

[2021-06-16 00:49] #9741 closed, assigned to nobody

[2021-06-16 00:49] #8446 closed

[2021-06-16 00:49] #6011 closed

[2021-06-16 00:49] #9696 closed, assigned to nobody

[2021-06-16 01:30] starchild opened #10157 "dates in mau_lead_donotcontact using UTC despite congis set otherwise"
## Bug Description
Dates in mau_lead_donotcontact are using UTC timezone dewspite config and server set to Australia/Sydney time

| Q   | A
| --- | ---
| Mautic version |  3.3.3
| PHP version | 7.3
| Browser | n/a

### Steps to reproduce
1. Checking time stamps in v against actual timing
2.

### Log errors
none

[2021-06-16 02:16] starchild commented on #10156
user error.

[2021-06-16 02:16] #10156 closed, assigned to nobody

[2021-06-16 09:30] evgu opened #10158 "CSV import 'do not update existing contacts' switch (enhancement)"
Sometimes, when importing contacts from CSV file, we do not want to update the already existing in Mautic contatcs. I.e. we only want to import the new contacts into Mautic and leave any existing contacts as is.

Suggestion is to:
1. add a `--no-update` switch to  `bin/console mautic:import`.
2. Update the help message of `bin/console mautic:import --help`
3. Add "Do not update existing contacts"

[2021-06-16 12:33] #9553 closed, assigned to nobody

[2021-06-17 08:40] ivan006 opened #10161 "Assets not downloading in Gmail"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I am having an issue with Gmail

[2021-06-17 10:25] #9624 closed, assigned to nobody

[2021-06-17 14:12] tuiuiudev opened #10162 "Boadcast email sending error"
<p style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: norm

[2021-06-17 23:28] #9740 closed, assigned to nobody

[2021-06-18 14:14] angeloluidens commented on #4822
Why not keep the country list current based on the ISO-3166? This already an ongoing international effort from a reputable organization (International Standards Organization) to keep the list of countries current. Here the reference for your information and use: https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes

[2021-06-18 14:15] angeloluidens commented on #8795
Why not keep the country list current based on the ISO-3166? This already an ongoing international effort from a reputable organization (International Standards Organization) to keep the list of countries current. Here the reference for your information and use: https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes

[2021-06-18 18:45] luiszxcv commented on #7738
I have the exact same problem.

[2021-06-18 18:46] luiszxcv commented on #7738
Any suggestions for correction?

[2021-06-18 22:23] #8595 closed

[2021-06-20 15:58] dsp76 commented on #9488
Still doesn't work in 3.3.3

[2021-06-20 17:28] diamondtheta commented on #7708
Hello!

I have a similar issue.
My mautic dynamic content is not loading for the first page load, but it loads every time after F5 page refresh.
So the code should be properly set up, but it seems that my mautic subdomain is too slow and it can't get back the data in time to here for example: https://orult.hu/video/hatekony-irodai-munkavegzes/
Under the "( Ha netán nem látnád akkor frissíts és vár

[2021-06-21 12:06] npracht commented on #9647
This is still an issue

[2021-06-21 20:34] #9758 closed, assigned to nobody

[2021-06-21 20:34] #9759 closed, assigned to nobody

[2021-06-21 20:34] #9769 closed, assigned to nobody

[2021-06-21 21:34] #7953 closed

[2021-06-21 21:51] hounw commented on #7884
Same issue here... v3.3.3

[2021-06-22 15:00] #9592 closed, assigned to nobody

[2021-06-22 18:36] r44cx commented on #9042
I think this is still an issue.

[2021-06-22 18:44] RCheesley commented on #9042
Thanks for flagging that up @r44cx indeed it is still an issue as we need to add support for the new auth methods.

[2021-06-22 20:17] victorburgos12 opened #10169 "Renaming tag breaks ability to edit campaign step"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If you rename a tag using tag m

[2021-06-23 06:39] tomekkowalczyk commented on #9725
@RCheesley a request to open a task, the problem is not solved.

[2021-06-23 07:40] npracht commented on #10169
Hi @victorburgos12 !
What is the tag manager plugin ?

[2021-06-23 07:42] npracht commented on #10157
Hi @starchild ! Thanks a lot for your message. Nevertheless it misses a bit of information.
When you say "Dates in mau_lead_donotcontact", you talk about the place where it is saved in DB ? Because the date in DB should not be done accordingly the date configuration of the app. We should save in DB timestamp and display it in the UI depending on the configuration. This timezone config is just for

[2021-06-23 07:43] npracht commented on #10158
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2021-06-23 07:43] #10158 closed, assigned to nobody

[2021-06-23 07:44] npracht commented on #10161
Hi @ivan006 !
Thanks a lot for your message. Nevertheless, we have a lack of information on exact how to reproduce process. Could you please explain in detail your asset configuration, email creation, etc.

Thanks

[2021-06-23 07:49] npracht commented on #10147
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2021-06-23 07:49] #10147 closed, assigned to nobody

[2021-06-23 07:50] #9926 closed, assigned to nobody

[2021-06-23 07:51] npracht commented on #10019
Hi @swaraj02 !
You talk about issue on segment update, but is your contact flagged as bounced ? I have the feeling your issue is more on the communication between bouncing server and Mautic app. Which would mean that your issue is a email transport configuration issue.

Thanks

[2021-06-23 08:15] jenshine commented on #9148
What's the repercussion of this parameter not getting updated with the actual domain? Thx.

[2021-06-23 08:45] jos0405 commented on #9751
FYI: this bug only happens if you use SES API, but it works with SES SMTP.

[2021-06-23 12:42] tomekkowalczyk opened #10170 "Incorrect running of the campaign condition UTC time zone"
| Q   | A
| --- | ---
| Mautic version | 3.3.3
| PHP version | 7.4
| Browser |

Why was the campaign action activated at 6:00 UTC when the condition should be triggered at 10:00 UTC + 2 (8:00 UTC)?
![image](https://user-images.githubusercontent.com/39382654/123096903-df4f4e00-d42f-11eb-8e17-5b04f5aa3340.png)

 The user has the selected time zone UTC + 2
![image](https://user-images.githubuserconte

[2021-06-23 15:51] victorburgos12 commented on #10169
Hi @npracht, this is a new plugin created by mautic itself to manage tags.
This is the link here in github https://github.com/mautic/plugin-tagmanager.
<img width="733" alt="mautic tag manager" src="https://user-images.githubusercontent.com/37320468/123128588-e1ee7b00-d410-11eb-843f-b36052c1fcdc.png">

[2021-06-23 15:59] RCheesley commented on #10169
@luguenth any thoughts on this?

[2021-06-23 16:40] kuzmany commented on #9647
This was fixed times ago by this PR https://github.com/mautic/mautic/pull/5838
But looks like not work anymore.

[2021-06-23 16:52] cloudpotions commented on #9926
@npracht - Apologies for the late response. Yes there is a bug and I think it will fix other plugins too. Mautic is only going to push/fetch Leads where the date_modified is greater than the last_sync_date. And it literally sets the last_sync_date on many of these records milliseconds after the cron jobs run... Therefore they do not update... I tested this and got the sync too work on many leads a

[2021-06-23 17:20] faisalsarfraz commented on #9207
I dont know how its marked as resolved while clearly this is a bug.

[2021-06-23 17:37] RCheesley commented on #9207
As the message says, there was no activity on this issue since January. If you are able to confirm this is still an issue with the current Features branch, we can re-open the issue

[2021-06-23 17:44] faisalsarfraz commented on #9207
Yes this is still an issue in latest mautic and api versions And not
working. Please release some patch

On Wed, Jun 23, 2021, 10:38 PM Ruth Cheesley ***@***.***>
wrote:

[2021-06-23 17:51] AndrewRoesch commented on #9207
@faisalsarfraz @RCheesley we are experiencing similar issue as tracked https://github.com/mautic/mautic/issues/10090

We are trying to stay on top of it so the stalebot can't close it before we get a fix. It appears you have the same issues as us with the patch in the api. If so please help us keep this issue alive.

[2021-06-23 17:53] AndrewRoesch commented on #10090
@npracht can you offer more details, on how you use the patch command currently? Did you have any luck with the postman examples?

[2021-06-23 17:54] RCheesley commented on #9207
If somebody would like to work on this, and make a PR, then we can get it tested and reviewed.

As it stands, as far as I know we have not had a PR contributed to address this issue as yet.

Thanks for making that link @AndrewRoesch - let's track it in that issue @faisalsarfraz rather than screaming into the void on a closed issue.

[2021-06-23 18:04] AndrewRoesch commented on #10090
just throwing this out there because it seems related, I have not been able to review or verify this, but there is also an open PR that may be worthy of review in reference to this issue.
https://github.com/mautic/mautic/pull/9363

[2021-06-23 18:07] faisalsarfraz commented on #9207
@RCheesley
Thats disrespectful to say it like screaming. Question is shown in search and thats why I had to post it here to let other know as well. May be watch your words before typing

[2021-06-23 21:01] viniciusferrao commented on #9762
Is there any available workaround for those on 3.3 branch? Or is it mandatory to upgrade to 4.0 even while this is still on RC?

[2021-06-24 04:34] mohit-rocks commented on #9762
@viniciusferrao Can you please try this patch on 3.3 branch https://patch-diff.githubusercontent.com/raw/mautic/mautic/pull/9795.patch
Let me know if it doesn't work, I can share another patch.

[2021-06-24 04:49] starchild commented on #9040
STILL an issue in 3.3.3 - surely this is like the #! reason people want to use this software, to trigger emails based on dated events?

[2021-06-24 06:43] luguenth commented on #10169
I will look into it :)

[2021-06-24 07:05] dev-marcel commented on #7524
Personally I think we as a community should look at server side tracking to keep Mautic future proof. Cookie tracking will slowly become impossible.

In our eyes the proper way should be:

1. (Short-term) We start with making it possible to add a local JavaScript file, nobody knows exactly how the Google algorithm works but i think loading the js from the same domain will decrease the chance of be

[2021-06-24 07:53] patelvikram1974 commented on #7493
i have setup a campaign with web push notification using onesignal account.
subscribe notification is coming on landing page but unable to send web notification through capmaigns.
Am i missing something

[2021-06-24 07:55] patelvikram1974 commented on #7493
is there a firebase plugin to do the same in plugin

[2021-06-24 08:47] Robmobius commented on #9766
I am having the exact same issue, and looking at slack and the forum this seems to be a common issue, many are using 3.3.3 as I am.

[2021-06-24 11:00] clouedoc commented on #7524
Another solution would be to use something such as the open-source
FingerprintJS (https://github.com/fingerprintjs/fingerprintjs)

On Thu, Jun 24, 2021 at 9:05 AM Marcel van Nuil ***@***.***>
wrote:

[2021-06-24 12:33] #10170 closed, assigned to nobody

[2021-06-24 13:04] alexandramrx opened #10174 "Server error when downloading a theme"
I'm trying to download a theme from Mautic (Settings > Theme > "Download" any theme) and I get a 500 Internal Server Error.

I've tried from Chrome and Safari, on different themes. 500 error each time, and I get disconnected.

[2021-06-24 13:07] RCheesley commented on #10174
@alexandramrx without the information that you are asked to provide in the issue template we cannot help.

Please provide the following, with your Mautic/PHP version and the log entries being the most important. Thanks!

| Q   | A
| --- | ---
| Mautic version |
| PHP version |
| Browser |

### Steps to reproduce
1.
2.

### Log errors

[2021-06-24 13:20] alexandramrx commented on #10174
@RCheesley Hi, sorry about that.
So, the Mautic version I'm working on is v3.0.1. I'm on PHP 7.3.24.
I'm not sure I understand what the log entries are here (sorry, not a developer here, and I couldn't find anything on the Mautic support forums...)

[2021-06-24 13:34] ivan006 commented on #10161
- Set up a Segment email within Mautic and include an asset link to download a file <a target="_blank" href="https://property.fortressfund.co.za/asset/40:pdfasset%22%3E
- When you open the email in an email client within Chrome Desktop (for example Gmail in Chrome on Desktop) when you click on the link the asset doesn't download.   (Everywhere else it works perfectly fine.)

IS that enough detail?

[2021-06-24 14:25] RCheesley commented on #10174
OK that is really quite out of date when it comes to the Mautic version, we are now on 3.3.3! 😱

Logs can be found under the cog wheel menu on the top right - check out the system information and you will see the tab for logs.

https://youtu.be/mzH7EucDQlw

When you get a 500 error like this, you should also see an error log entry which helps to diagnose what the problem is. You will see one in th

[2021-06-24 14:53] alexandramrx commented on #10174
Ok thank you, here are the log entries (there are 3 of them) :

`[2021-06-24 16:50:59] mautic.WARNING: PHP Warning - ZipArchive::close(): Failure to create temporary file: Permission denied - in file /home/mautic/public_html/app/bundles/CoreBundle/Helper/ThemeHelper.php - at line 560 {"themeName":"blank","themePath":"/home/mautic/public_html/themes/blank","tmpPath":"/home/mautic/public_html/var/ca

[2021-06-24 15:08] RCheesley commented on #10174
Ok so this looks like a permissions issue based on

Your Mautic instance is not able to write to this file/folder:

So please could you make a post over at https://forum.mautic.org/c/support where the community will be able to guide you through fixing the permissions in your hosting environment, as this looks like a config issue rather than a bug with Mautic.

You can copy the logs etc from this i

[2021-06-24 15:08] #10174 closed, assigned to nobody

[2021-06-24 15:10] alexandramrx commented on #10174
Ok, I'm going to check with my colleagues (who may have different permissions) first if they can download the theme for me. If not, I'll make a post on the forum.
Thank you very much for your answers!

[2021-06-24 17:50] #2992 closed

[2021-06-24 18:30] RCheesley opened #10175 "500 error on sending segment emails in Mautic 4: Trying to access array offset on value of type bool"
## Bug Description
Running the current Features branch and creating a segment email. On sending, it results in a 500 error:

`PHP Notice - Trying to access array offset on value of type bool" at /var/www/html/app/bundles/PageBundle/Model/TrackableModel.php line 472`

| Q   | A
| --- | ---
| Mautic version | 4.0.0-latest (features branch)
| PHP version | 7.4
| Browser | Chrome

### Steps to reprodu

[2021-06-24 19:23] RCheesley commented on #10110
OK so I managed to track down the cause of this and replicate it.

1. Create three emails, email 1, 2 and 3
2. Create a campaign from a form or segment (is not relevant)
2. Add 'Send email' and select Email 1
3. Add 'Opens Email' after this and on the Yes path, add 'Send email' and select the second email
4. Add 'Opens Email' after this and on the Yes path, add 'Send email' and select the third em

[2021-06-24 19:57] RCheesley commented on #9725
I have just checked this in Mautic 4 (features branch) and after switching to Polish I am seeing the pagination working great, in Polish.

![screenshot-mautic4 ddev site-2021 06 24-20_55_47](https://user-images.githubusercontent.com/2930593/123324423-b661b280-d52e-11eb-9a90-d2848b20d959.png)

Closing this issue as it seems that it is resolved - maybe you need to pull down the translations / update

[2021-06-24 19:57] #9725 closed, assigned to nobody

[2021-06-25 01:41] brainmangv opened #10176 "Error in Email Constructor"
Im getting the following error in console, when using email editor.

Occurs after inserting an image, I cannot select any block below the image.

[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://ww

[2021-06-25 15:31] WaldemarOrobanche opened #10177 "RabbitMQ: redelivery of a message with an empty payload (the page_hit queue)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
There could be a possible situa

[2021-06-27 07:08] shinde-rahul commented on #10146
@nickveenhof with the #10153, I had to add the empty `images` directory into `media` just to pass the `Mautic tests and validations / PHPUnit 7.4 mariadb (pull_request)` pipeline. This is because, on the same repo, the scaffolding is not done. (The `media/images` directory is not present. [FileController::uploadAction](https://github.com/mautic/mautic/blob/features/app/bundles/CoreBundle/Controlle

[2021-06-28 11:19] RCheesley commented on #9751
It would be great if we could get this issue fixed - is anybody able to take a look and make a PR to address this?

[2021-06-28 11:29] RCheesley commented on #10075
Closing this as we have now merged the PR that will remove OAuth1 completely 🎉

[2021-06-28 11:29] #10075 closed, assigned to nobody

[2021-06-28 11:32] RCheesley commented on #10115
Hi folks!

Thanks @RehanNischal for reporting this and @Christophe9880 for confirming!

Can you clarify if this is something new that is happening with Mautic 4? Does this happen in 3.3.3 if you clone the campaign, or does it all go through as expected without any warning?

[2021-06-28 11:32] RCheesley commented on #10115
@all-contributors please add @RehanNischal for bugs

[2021-06-28 11:33] RCheesley commented on #10115
@all-contributors please add @Christophe9880 for userTesting

[2021-06-28 12:02] RCheesley opened #10191 "Issue for adding non-code contributors"
This is a placeholder issue for adding non-code contributors via All Contributors.

Use the command `@ all-contributors add <username> <what for> <relevant links>`

Reference for types: https://allcontributors.org/docs/en/emoji-key

[2021-06-28 12:04] RCheesley commented on #10191
@all-contributors add @tobsowo for eventOrganizing

[2021-06-28 12:06] RCheesley commented on #10191
@all-contributors add @fakela for doc, tutorial, talk

[2021-06-28 12:39] tobsowo commented on #10191
Perfect!

[2021-06-28 17:51] giomasce commented on #9797
This issue is perfectly valid, and not stale at all. Please, review the PR instead of hiding the bug.

[2021-06-28 18:38] RCheesley commented on #9797
Thanks for keeping the issue active, it looks like PHPSTAN was failing on your PR which is probably why it hasn't been reviewed yet. I've just pulled in the latest updates from the Features branch.

If you are able to check whether this is still an issue in Mautic 4 (features branch) that would be a great help.

In the meantime, perhaps you could help us by testing some of the 210 open pull reques

[2021-06-28 20:04] RCheesley opened #10195 "Upgrading from 3.1.0 to 4.0.0-rc results in a fatal error"
While running the release process for Mautic 4-rc the upgrade check (which tests from 3.1.0 to 4.0.0-rc) failed with the following error:

`PHP Fatal error:  Uncaught Error: Interface 'Bazinga\OAuthServerBundle\Model\ConsumerInterface' not found in /home/runner/work/mautic/mautic/mautic-testing/app/bundles/ApiBundle/Entity/oAuth1/Consumer.php:25`

See the full run [here](https://github.com/mautic/

[2021-06-29 11:55] elsaadj commented on #9042
We are unable to connect latest release 3.3.3 to twitter, please confirm that is broken in 3.3.3 so we can stop trying to figure it out and wait on a fix in next mautic release?
If confirmed that twitter plugin is not working in 3.3.3, when we expect fix and which release3 or 4?

https://forum.mautic.org/t/does-mautic-3-3-3-work-with-twitter/19915

[2021-06-29 12:00] elsaadj opened #10203 "Contact email reply not showing under contact history"
My Mautic version is: 3.3.3
My PHP version is: 7.3.27
My Database type and version is: mysql Ver 15.1 Distrib 10.2.36-MariaDB

After sending email to a contact from Mautic and replying to the email from outside Mautic, the contact history shows Email Read Event, but the contact reply email doesn’t show up in contact history?

mautic:email:fetch
1 email processed for {…} INBOX with a criteria of UN

[2021-06-29 12:02] RCheesley commented on #9042
This is an ongoing problem. Until we have a PR made to address this, it will continue to be a problem.

There will be no more releases except for security fixes in the 3.x series after we release 4, so if it is fixed it will be in a future 4.x release.

Feel free to add a bounty to the issue if you would like to support getting this resolved!

[2021-06-29 13:17] dsp76 opened #10205 "Condition is broken // time delay in negative part is ignored"
## Bug Description

Usually a negative condition is time delayed. However this seems not to work anymore in newer versions? Tested it in two environments. The condition will only be tested the first time in the campaign, but not subsequently.

| Q   | A
| --- | ---
| Mautic version |  3.2.5 / 3.3.3
| PHP version | 7.4
| Browser | any

![image](https://user-images.githubusercontent.com/1241376/1238

[2021-06-29 13:46] dsp76 commented on #10205
We also tested with weeks... the decision will be made right away - only the tag action gets delayed the defined time. Even if yes condition is achieved in between, decision will not be revised.

[2021-06-29 15:32] RCheesley commented on #9997
This is still an issue with the current Features branch as it is currently.

[2021-06-29 15:49] Robmobius commented on #9040
I seem to have come up against the same issue - using 3.3.3

[2021-06-29 15:51] Robmobius commented on #9040
Clever workaround, but why anniversary +1 days and not just anniversary? I feel like I am missing something obvious...

[2021-06-29 18:19] garbonsai opened #10210 "Numeric Company Names Aren't Fully Supported"
## Bug Description
Numeric company names don't seem to be fully supported. I can create a company—"300", for example—and it will be listed on the *Companies* page correctly. But when I try to assign a contact to it, it appears as a different number ("0") in the **Company** drop down on the contact's *Edit* page. If I search for "300" instead, it shows up, but when I click **Apply** it reverts to "

[2021-06-29 18:31] garbonsai commented on #10210
I've also tried doing something like "Biggby Coffee (300)" for the **Company** name, but when you go to assign a contact following the steps above, searching for "300" shows both "Biggby Coffee (300)" and "No matches found 300". Clicking the former does nothing—it disappears, leaving you with "No matches found 300".

[2021-06-29 19:42] dsp76 commented on #10205
Its related to checking for a condition instead of checking for a decision. However - it should make no difference, as a condition may also change over time. Especially if you connect 3rd party systems.

[2021-06-29 23:49] #7272 closed

[2021-06-30 01:09] DevepNoName opened #10211 "Drag n drop problem in Email bigger then screen height (Mautic 3.3 /4 beta)"
Thanks for this great framework.

Im using the classic Email editor (not grape) and the Vibrant template (but really could be using other), but when i drag something from the Slot Types, ou Section Types i cant drag n drop for the correct position if the mail its bigger then the screen height.
And isnt scrolling the Email down.
Please see this video: https://youtu.be/0np8r4LOZ4U
Thanks

## Bug Des

[2021-06-30 01:40] swadeshp commented on #10013
@npracht Yes, my field is expecting number. I tried simple quote and without quote. Behaviour is still same.

[2021-06-30 09:39] JyFu-py commented on #6833
This is still an issue in Mautic 3.3

[2021-06-30 09:47] Orestes2 opened #10214 "Sending a webhook through campaign trigger using duplicate values"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Sending a webhook through campaign trigger usin

[2021-06-30 11:43] JyFu-py opened #10217 "Assign a category does not work with API contact create"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
the category assignment describ

[2021-06-30 13:09] stefanvetter commented on #9011
I can confirm the bug still exists in Mautic v3.3.2: https://www.loom.com/share/68247c52e8c34710aa7e35173674c7cc

[2021-06-30 13:13] stefanvetter commented on #9804
Problem is that the login cookie is a session cookie (= has no expiry date) even when "Keep my logged in" is checked. Here's a video where I reproduce it: https://www.loom.com/share/68247c52e8c34710aa7e35173674c7cc

[2021-06-30 13:17] jos0405 commented on #9011
Just to sum up again: the problem is, that by clicking on 'stay logged in' - NOT a permanent cookie with a longer expiry will be set, but a session cookie. As a result the 'keep me loggen in setting' doesn't work.

[2021-06-30 14:15] MarkerB commented on #9011
That's not quite the problem.  A session cookie is meant to last until the browser is closed, but Mautic is logging out after only 10 minutes... even with the browser still open. The session cookie is not being lost after 10 minutes, so some other mechanism is logging out.

[2021-06-30 14:44] rodrideme opened #10220 "Progressive profiling form is not working for company fields"
## Bug Description
Progressive profiling forms are not working for Company fields. Even after set up on every field for that

| Q   | A
| --- | ---
| Mautic version | 3.3.3
| PHP version | 7.3.27
| Browser | Chrome

### Steps to reproduce
1. Create a form with any company field, for example, Company Name
2. Add a second field like email field in this test just to compare
3. Select yes in Autofill

[2021-06-30 14:47] stefanvetter commented on #9011
@MarkerB Well, that is probably an _additional_ problem that I don't have.

What is for sure at least is that _always_ a session cookie is set (instead of a permanent one that has an expiry date) when checking "Keep me logged in", as you can see in the video I posted before.

[2021-06-30 16:48] MarketSmart commented on #9751
I use a custom Mailgun plugin as well as a Kafka plugin and I see the issue for both I also tested with some of our ses smtp systems and the it exists on those as well. The from is grabbed for both with the following code. Im using 3.3.3

[code]

Is it possible I may have to use something other than getFrom() ? or Swift_Mime_SimpleMessage?

[2021-06-30 19:51] MarkerB commented on #9011
Yes.  There are two issues, and I didn't realize I was posting in the wrong topic.  The other issue is at https://github.com/mautic/mautic/issues/9804

[2021-06-30 19:54] MarkerB commented on #9804
You posted this in the wrong topic, much as I did the other way around!  The problem here is certainly not a cookie expiration issue.  The session cookie remains well past 10 minutes, but Mautic has already logged you out behind the scenes.

The other issue that relates more to your session cookie analysis is at https://github.com/mautic/mautic/issues/9011

[2021-07-01 10:50] luguenth commented on #10169
The Campaign action is saving the tag as a name and wants to identify the tag via name later. This can't work, because it has a new name and Mautic can't find the corresponding Tag. We would have to rewrite other Core Functions. But I didn't dig deeper than that right now

[2021-07-01 12:57] MarketSmart commented on #9751
@RCheesley i have a fix for this. Should I PR this into features or 3.3?

[2021-07-01 13:28] RCheesley commented on #9751
@MarketSmart please PR to features! Thank you!

[2021-07-01 13:59] MarketSmart commented on #9751
@RCheesley Thank you, did not think you would respond so quickly. I recreated the PR in features branch.

[2021-07-01 14:03] RCheesley commented on #9751
Awesome - thanks for doing that! After the 4.0 release there will not be any more releases in the 3.x series so makes more sense to base it on Features :)

[2021-07-03 23:31] humblecoder opened #10229 "JSON.parse issue (4.0.0-beta)"
## Bug Description
Bug appears similar in nature to:

https://github.com/mautic/mautic/issues/9951
https://github.com/mautic/mautic/pull/9972

The issue, of course, prevents further processing and submission of the resultant form.

| Q   | A
| --- | ---
| Mautic version | Mautic 4.0.0-beta - app/prod (env: prod, debug: false)
| PHP version | 7.4
| Browser | All (FF, Safari, Chrome, Edge)

### Step

[2021-07-04 21:34] #9698 closed, assigned to nobody

[2021-07-05 04:39] J-Wick4 commented on #9804
I also have this problem with version 3.3.3 that I just installed for the first time today. I was adding a new custom field, had a phone call for a bit, came back and it logged me out when I clicked save on my work. So annoying.

[2021-07-05 08:22] #10195 closed, assigned to nobody

[2021-07-05 09:35] RCheesley opened #10230 "Error thrown when pushing translations to Transifex"
## Bug Description
When attempting to push translations up to Transifex for the Mautic 4 Release Candidate release, there is an error thrown at command line relating to server_version being missing. Perhaps relating to https://github.com/mautic/mautic/pull/9739?  Error message points at this issue: https://github.com/doctrine/DoctrineBundle/issues/673

| Q   | A
| --- | ---
| Mautic version | 4.0.

[2021-07-05 09:41] ChrisRAoW commented on #9997
It's still an issue in the current 4.0.0-rc branch. What I found out is that when you insert the button component into your mail the "Button" label is prepend by a lot of spaces. When you're gonna edit that label those spaces are converted into `&nbsp;`. When I remove those spaces and than edit the Label it all goes well. Not sure I that is really the fix, but maybe it points you in the right dire

[2021-07-05 09:48] RCheesley commented on #9997
@ChrisRAoW thanks for checking in, we know that this is still an issue with the builder and we are hoping that we will be able to address it soon.

[2021-07-05 09:49] adiux commented on #9997
I started working on it yesterday.

[2021-07-05 09:52] ChrisRAoW commented on #9997
@adiux Awesome! Good luck! Just let met know when you have something ready to test.

[2021-07-05 10:24] RCheesley opened #10231 "Error in API Library tests relating to GrapesJS builder"
## Bug Description
The API library tests have been failing since 25th June with the following error:

`Response: {"errors":[{"message":"Argument 2 passed to Mautic\\CoreBundle\\Helper\\ArrayHelper::getValue() must be of the type array, null given, called in \/var\/www\/html\/mautic\/plugins\/GrapesJsBuilderBundle\/Model\/GrapesJsBuilderModel.php on line 73","code":500,"type":null}],"trace":[{"name

[2021-07-05 11:24] mannp opened #10232 "Upgrading from the last v3 to 4rc gives me a schema error relating to oauth"
Upgrading from the last v3 to 4rc gives me a schema error relating to oauth1

### Steps to reproduce
1. Upgrade to 4rc  via command line update
2. Migrate db schema via command line

I am getting the following schema error when trying to upgrade to 4rc which appears related to oauth1 removal

[code]

Trying to apply the db schema manually give me the following;

[code]

[2021-07-05 12:19] RCheesley commented on #10232
Hi there!  Thanks for reporting this.

Did the upgrade complete successfully after the second part at the command line?

[2021-07-05 12:27] mannp commented on #10232
Unfortunately not, the migration fails and won't continue.

[2021-07-05 12:36] dennisameling commented on #10232
@mannp @RCheesley sorry, my mistake in the DB migration. The migration in its current state doesn't work when users have a database prefix configured in Mautic. https://github.com/mautic/mautic/pull/10233 should fix this, and to be 100% sure, will also check if the tables actually exist prior to deleting them.

@mannp Could you please overwrite `app/migrations/Version20210609191822.php` in your sy

[2021-07-05 12:43] mannp commented on #10232
@dennisameling looks good to me 👍🏻  thanks.

[code]

and then

[code]

Unless you need me to check anything following the migration, this one can be closed :) thanks for the prompt replies.

[2021-07-05 12:46] dennisameling commented on #10232
Thank you! From the logs you shared I can tell that the tables were indeed removed correctly, so that's great 🎉 This issue will automatically be closed when #10233 is merged, so for the sake of visibility for others, I'll keep it open for now until that PR is merged.

[2021-07-05 12:54] RCheesley commented on #10232
Thanks for the speedy resolution @dennisameling and also thanks to @mannp for reporting and testing!

@mannp if you could pop over to #10233 and drop a comment to say that this fixed your issue then we should be able to get it merged pretty quick for inclusion in the 4.0 General Availability release.

[2021-07-05 12:58] mannp commented on #10232
Done 👍🏻

[2021-07-05 18:49] elsaadj commented on #10203
How you turn on debug trace for email contact reply fetch?

[2021-07-06 11:04] fbugalla opened #10234 ""Create new category" from Segment doesn't work for users without full access permissions."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

"Create new category" from Seg

[2021-07-06 12:24] tomekkowalczyk commented on #6957
@RCheesley request to open a task, problem still exists in version 3.3.3

[2021-07-06 16:03] RCheesley commented on #10234
Thanks for making the bug report @fbugalla :)

[2021-07-06 16:07] RCheesley commented on #10229
Thanks for the report @humblecoder - would you be up for taking a look at making a PR to address this issue?

There is documentation here to help you get started: https://contribute.mautic.org/contributing-to-mautic/developer

[2021-07-06 16:08] RCheesley commented on #10220
Thanks for reporting the bug and for the detailed writeup @rodrideme !  Does this also happen in Mautic 4?

[2021-07-06 16:10] RCheesley commented on #10217
Thanks for reporting the bug @Laffreux-dev and for the details on how to reproduce the issue. Are you able to take a look into a fix for this at all?

There are some resources here to help get started in case that is helpful: https://contribute.mautic.org/contributing-to-mautic/developer

[2021-07-06 16:16] RCheesley commented on #10211
Hi there,

Thanks for flagging this UX issue.

I don't think that we will be making any UX fixes to the legacy builder once Mautic 4 is out as it is being deprecated in favour of the GrapesJS builder and will be removed entirely in Mautic 5.

As a result I am going to close this issue down as a 'won't fix'.

[2021-07-06 16:16] #10211 closed, assigned to nobody

[2021-07-06 16:17] RCheesley commented on #10210
Thanks for the bug report @garbonsai :)

[2021-07-06 16:18] RCheesley commented on #10205
Thanks for the bug report @dsp76 :)

[2021-07-06 16:20] RCheesley commented on #10203
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

If it turns out to be a bug after getting support from the community please post a detailed bug report so that we can assist you further.

[2021-07-06 16:20] #10203 closed, assigned to nobody

[2021-07-06 16:21] RCheesley commented on #10177
Thanks for reporting this @WaldemarOrobanche - would you be able to take a look at a fix?

[2021-07-06 16:28] RCheesley commented on #10176
@brainmangv thanks for reporting this - is this with the GrapesJS editor or the legacy editor?

[2021-07-06 16:29] RCheesley commented on #10162
Closing as a duplicate of existing issue #9400

[2021-07-06 16:29] #10162 closed, assigned to nobody

[2021-07-06 16:40] MarketSmart commented on #9751
Any community member here want to give the [PR](https://github.com/mautic/mautic/pull/10222) a test and see if it solves your problem.

[2021-07-06 16:58] #10018 closed, assigned to nobody

[2021-07-06 20:37] #9085 closed, assigned to nobody

[2021-07-06 20:45] brainmangv commented on #10176
with legacy editor.

[2021-07-06 21:02] JyFu-py commented on #10217
Unfortunately no fix :(
(Except updating the lead_categories table directly in the database)

By browsing the doc a little, I realize that the notion of category is not implemented on the contacts, while the entity supports the notion of multiple category well.

https://developer.mautic.org/#get-asset
`category`	    `object/null`	`Object with the category details`

https://developer.mautic.org/#ge

[2021-07-07 19:32] nithin933 commented on #7550
https://github.com/nithin933/thunderbird-mautic-helper this works for now

[2021-07-07 20:05] drptiago commented on #6389
I am using points to workaround.

I add points with description.

Add 1 point | singup
Add 1 point | create a new document
Add 1 point | log out

[2021-07-08 04:47] vdavid commented on #6389
@drptiago That's a clever way to store events, thanks for the idea! :)
Have you found a way to set up segments that filter based on these events?
E.g. "Created a new document 2 days ago", or "Last activity was 7 days ago".

[2021-07-08 12:05] #9802 closed, assigned to nobody

[2021-07-08 12:05] RCheesley commented on #6957
@tomekkowalczyk would you be up for digging into what is causing this and maybe making a PR if there isn't one already? I couldn't see one being linked up to the issue so assuming it hasn't been resolved yet.

[2021-07-08 13:20] drptiago commented on #6389
Nop, this is just to log.

To segment base in this I put the same API request to update some custom fields like: lastlogin, last document add, total number of documents, etc.

I also usa my database to sync informations from Mautic so I know what stage of my funnel my user is, so I send more custom API request.

Is not very simple, but works.

[2021-07-08 14:22] RCheesley opened #10239 "Raw block in email editor escapes email container"
A new block appeared, looks like 'raw' - had thought this was a code mode block but it drops in some images. They look nice in the editor but are wonky in the preview:
![screenshot-mautic4 ddev site-2021 06 28-12_04_32](https://user-images.githubusercontent.com/2930593/123626897-3e82d900-d809-11eb-8053-685766f235ec.png)
![screenshot-mautic4 ddev site-2021 06 28-12_05_25](https://user-images.github

[2021-07-08 14:26] adiux opened #10240 "Dynamic Content is not possible for Mjml Emails"
Currently, dynamic content is only enabled for HTML emails. We should enable it for MJML emails too

[2021-07-08 14:37] RCheesley opened #10241 "Dynamic Content block for landing pages is missing on GrapesJS"
### Bug Description
There is not currently a block for dynamic content when using landing pages in the GrapesJS builder as the feature has not been implemented yet.

Dynamic Content is created under Components > Dynamic Content and can be campaign-based or filter-based.

The block needs to allow you to select the appropriate DWC item and then drop the correct token into the page at the appropriate

[2021-07-08 16:37] adiux commented on #9988
The grapesjs code editing functionality for editing code is too limited for our needs: It does not allow to edit the <head>

Therefore, we need the custom ability to edit the code inside the builder.

However, we can still remove the code mode that is available from outside the grapesjs builder. The one that is available on the theme level.

![image](https://user-images.githubusercontent.com/13075

[2021-07-08 16:54] RCheesley commented on #9988
Yes, however removing this also means that folks who have used a code mode option to create an email and they use it with dynamic content will no longer be able to use it.

The dynamic content tab appears when you select code mode, and that's where you configure the dynamic content to be used.

How would you plan to address that so that it doesn't break it for existing users, and also enables new

[2021-07-08 16:54] adiux commented on #9990
fixed with refactoring https://github.com/mautic/mautic/pull/10114

[2021-07-08 16:54] #9990 closed, assigned to adiux

[2021-07-08 17:38] adiux commented on #9988
I believe the options inside the grapesjs builder are sufficient. But maybe someone who is using dynamic content and the code mode to a bigger extend should have a look at this.

[2021-07-08 19:01] leoschuler commented on #6389
the points idea seem good for logging purpose, but not for taking action on it. I've an idea. but not tested that yet. to create a form with e-mail / event name and any other custom info you would like, this form would be hidden and submitted via javascript with no user interation - you could run a campaign based on that submission and the actions could be done based on the submitted values.
what

[2021-07-09 12:42] #10232 closed, assigned to nobody

[2021-07-10 08:38] rashaqqel commented on #6777
Any plans for multithread? in this day and age, why not?

[2021-07-10 16:50] adiux opened #10246 "CKE Editor is loaded "outside" the container"
## Bug Description
When I drop a new Dynamic Content Block on the grapesjs canvas the CKEditor is loaded bigger than the popup:
![image](https://user-images.githubusercontent.com/13075514/125170451-70078700-e1af-11eb-96de-c2d3af897746.png)

Maybe this is only a problem with the PR https://github.com/mautic/mautic/pull/10114

| Q   | A
| --- | ---
| Mautic version |
| PHP version |
| Browser |

###

[2021-07-11 07:36] jobiaya commented on #10078
It just gives me the standard 500 "internal server error". I'm currently
running version 3.2.

The issue started after I tried to send a 86K email campaign. I made the
mistake of sending it as a transactional email and it was taking over a
week to send all of them. I had to cancel it halfway through the process.
Unfortunately, after that, I haven't been able to create or edit emails
ever since.

I

[2021-07-13 08:34] luguenth commented on #10230
Doesn't this (https://github.com/doctrine/DoctrineBundle/issues/673#issuecomment-441329378) mean we would basically have to revert the PR @dennisameling did? Because like Dennis commented (https://github.com/mautic/mautic/pull/9739/files#r627724403), when we add this line it would prevent the local.php db_version parameter from being overwritten, if I understood this correctly...

[2021-07-13 09:26] npracht commented on #10119
Why wouldn't we include automatically double quote in the search bar as we already do for companies for instance ?
Eg: create a company with a space in name. Add a contact to it. Go on companies > clic view 1 contact and in the contact list, the search is double quoted.
<img width="311" alt="Capture d’écran 2021-07-13 à 11 22 29" src="https://user-images.githubusercontent.com/14075239/125427051-

[2021-07-13 09:30] luguenth commented on #10119
Ah that's nice. I thought we tried that. We will look into it :)

[2021-07-13 10:26] RCheesley commented on #10119
Yeah - that is what I was thinking might have worked, if it's not difficult to implement I think it would save a lot of frustration, as there will be a lot of folks who tag things using plain language rather than with hyphens.

[2021-07-13 10:41] #9751 closed, assigned to nobody

[2021-07-13 11:18] RCheesley commented on #9751
@all-contributors please add @bryanitamazonva for bug

[2021-07-13 11:27] comradekingu commented on #10230
Could be because the v2 API is deprecated. Even more of a reason to move to Weblate.

[2021-07-13 11:28] RCheesley commented on #10230
This was working only a few weeks ago with the Beta release, so I think it's likely to be something related to code changes between Beta and Release Candidate. We have no plans to move away from Transifex at this time.

[2021-07-13 13:56] bdipaolo opened #10253 "Merging Anonymous users with users created by API"
## Bug Description
I am creating contacts through Zapier whenever a new contact is created in another software.  My issue is that when this new contact is created it doesn't merge with an anonymous user.  I am tracking website and page visits so I know that it would have captured the IP.  I have added an email with a form to fill for double opt in thinking that it would then recognize and sync the

[2021-07-13 13:57] RCheesley commented on #10253
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-07-13 13:57] #10253 closed, assigned to nobody

[2021-07-13 13:58] bdipaolo commented on #10253
I tried that

On Tue, Jul 13, 2021 at 10:57 AM Ruth Cheesley ***@***.***>
wrote:

[2021-07-13 14:00] RCheesley commented on #10229
Also can you clarify, does this happen in dev mode? If not, it may be an issue with caching / needing to rebuild your forms.

Please also try the Release Candidate release as we fixed a bunch of things in that release. Thanks!

[2021-07-13 14:17] samtuke commented on #1162
I'm also experiencing this error

[2021-07-13 14:19] RCheesley commented on #1162
@samtuke please do not comment on closed issues from 2015. Pop a post at https://forum.mautic.org/c/support and the community will be able to help you with troubleshooting the issue :)

[2021-07-13 14:51] DevepNoName commented on #10211
Hi, thanks for input,

gonna give you my feedback, because i think could help somehow.

I was a big fan of GrapeJs, but after using it with Mautic i think would bring more problems then solutions.

I made like 20 componentes (html components: they are HTML verified newslsetters components), for GrapeJs, and when i drag them to Mautic its a big mess. GrapeJs adds a lots of unnecessary code (is putt

[2021-07-13 15:30] RCheesley commented on #10211
Tables are not yet supported in GrapesJS MJML so I am guessing that is why there is a problem. I'd suggest asking in the forum at https://forum.mautic.org/c/support to see if you can get some help.

[2021-07-13 17:46] #9808 closed, assigned to nobody

[2021-07-13 17:46] #9866 closed, assigned to nobody

[2021-07-13 17:46] #9803 closed, assigned to nobody

[2021-07-13 17:46] #9090 closed, assigned to nobody

[2021-07-13 19:16] dennisameling commented on #10230
@RCheesley I'm not able to reproduce this issue. Ran the following command in a `ddev ssh` console with my Transifex credentials:

[code]

Could it be that your local instance is somehow missing some settings (database credentials specifically)?

[2021-07-13 19:35] kuzmany commented on #10231
I think this https://github.com/mautic/mautic/pull/10023 should  fixed it

[2021-07-13 19:37] RCheesley commented on #10230
Hmmmmm, I will double check that! Sometimes I work from a fresh clone when I am doing a release, rather than an installed Mautic instance. Thanks for checking!

[2021-07-13 19:39] RCheesley commented on #10231
Hmm, OK will re-test. It has a conflict with the workflow file to be addressed, but when I tested some time ago it did not address the issue that was being mentioned. Will check it out!

[2021-07-14 09:59] #10119 closed, assigned to nobody

[2021-07-14 10:33] RCheesley commented on #10231
@kuzmany I think you are right - at least partly.

After applying your PR I am left with 7 failures:

[code]

[2021-07-14 11:36] luizeof commented on #10001
This is still a issue at Mautic 3.3.3

[2021-07-15 01:57] anki630 commented on #9040
So that's so weird, I've done a couple of tests.
And "Custom contact date field equal birthday +1 day" means exactly the birthday.
And "Custom contact date field equal birthday day" means 1 day before the birthday.
And "Custom contact date field equal birthday -1 day" means 2 days before the birthday.
And "Custom contact date field equal birthday -2 days" means 3 days before the birthday.
...
And

[2021-07-15 07:50] jos0405 opened #10262 "Points given by timing ignores timing"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
1. Add a new points rule, where

[2021-07-16 05:37] #9872 closed, assigned to nobody

[2021-07-16 10:55] eVolpeConsultingGroup opened #10267 "Landing Page Hits from Segment Email are not added in Contact History"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-07-16 10:56] RCheesley commented on #9904
@all-contributors please add @stevedrobinson for bug

[2021-07-16 11:17] #9904 closed, assigned to nobody

[2021-07-19 00:57] fastyzfr1 commented on #1752
Wow this issue has been open for almost 5 years! Kudos for you for still working on it. @escopecz any ETA on pushing over the line? It is still in WIP status and was estimated to be out in the 3.1, 3.2 and possibly the 3.3 release but hasn't moved in quite a while.

[2021-07-19 08:18] RCheesley commented on #1752
@fastyzfr1 there were a *lot* of blocking PRs which needed to get merged before this was able to be considered (many of which have been tested and merged in the 3.x series), and just recently the engineers at Acquia have been debugging some issues with the feature. We are hopeful that it should be able to come over to the community soon once all of that work is complete!

[2021-07-19 13:38] #10231 closed, assigned to nobody

[2021-07-19 22:17] #7763 closed

[2021-07-20 03:04] pradeepnarayan888 opened #10274 "User level Email Settings"
Hi,

I am trying to create 2 users who can use their own Mail Send Settings.

One user should send from smtp server 1 and 2nd user should send from smtp server 2.

Is this possible?

Thanks

[2021-07-20 05:07] viniciusferrao commented on #9762
Unfortunately the issue persisted. I'm not sure whats happening anymore to be honest.

[2021-07-20 07:42] LeonOltmanns opened #10275 "Segment-Mails are forced into email queue, even if queueing is not set up"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Bug occurred while testing out

[2021-07-20 10:19] RCheesley commented on #8851
Re-opening as this is still an issue

[2021-07-20 10:22] RCheesley commented on #10274
Hi there, this is not possible in Mautic, furthermore please post questions on https://forum.mautic.org/c/support rather than Github, which is for reporting bugs or contributing code to Mautic. Thanks!

[2021-07-20 10:22] #10274 closed, assigned to nobody

[2021-07-20 10:23] RCheesley commented on #9762
@viniciusferrao if this is with Mautic 4 please raise another issue, explicitly stating what is causing a 500 error and including the logs per the post template. Otherwise, these issues will be addressed in the next stable release, 4.0.0.

[2021-07-20 14:30] viniciusferrao commented on #9762
Thanks @RCheesley but it's still 3.3

Do you recommend to just upgrade to 4.0 even in beta?

[2021-07-20 14:43] RCheesley commented on #9762
It is in RC and we are just waiting on a couple of fixes before the main release is made. Once that is done, there will be no more releases on the 3.x series unless there are security fixes. So yes, once you are ready, updating will be necessary. By all means apply this patch yourself.

[2021-07-21 10:20] dennisameling commented on #10275
@oltmanns-leuchtfeuer I wasn't able to reproduce this issue by following the steps you indicated.

![image](https://user-images.githubusercontent.com/17739158/126473383-5bc17f50-cdab-4eaf-b444-2e2d80501337.png)

The email gets sent correctly without ending up in the queue:

![image](https://user-images.githubusercontent.com/17739158/126473433-560992fa-d6db-42fc-9644-f2f3fb78d3e0.png)

![image](htt

[2021-07-21 10:46] helirexi commented on #9819
Yes, I can confirm this bug in 3.3.3
yesterday we send about 6K emails with Base64 option. About 200 from 350 last emails to send in var/spool/ was 6-times smaller size.
And one email from this sending fortunately arrived to our colleague inbox, without any images. Confirmed bug.

[2021-07-21 10:53] LeonOltmanns commented on #10275
@dennisameling How strange. As soon as I want to send out the Test-Segment Mail this Windows pops up:

![image](https://user-images.githubusercontent.com/55587275/126477061-6f6f17d7-bda7-4474-ac2e-dd8428babe30.png)

I can only put the Mail into Queue or just cancel it.
Double checked for my configuration, got queueing disabled:

![image](https://user-images.githubusercontent.com/55587275/126477192

[2021-07-21 10:56] RCheesley commented on #10275
I think this is a UX thing. What that means is not 'put these emails into the queue' but 'send these emails'. If there is a queue, they go into the queue. If there is not, they are sent directly.

I have seen the emails getting stuck if you have already sent to the segment and therefore have exceeded the 'send x emails per y timeperiod' limit - usually that can be seen in the contact activity log

[2021-07-21 11:01] LeonOltmanns commented on #10275
It is not only UX, provided in my first Part of this issue yesterday, the Email got indeed put into the email-queue and was never send out, in fact, it is still pending. :D

![image](https://user-images.githubusercontent.com/55587275/126478396-332e6778-61e9-42ab-b89e-2300b06ff20c.png)

And I made that Segment and Test-contact for that single time use, so "send x emails per timeperiod" shouldnt be

[2021-07-21 11:05] RCheesley commented on #10275
OK - worth keeping in mind in case we are able to replicate it again!  Thanks for reporting!

[2021-07-21 14:38] dsp76 commented on #9918
We can confirm this bug in several instances as well. Seems to be an important bug for long time user - still preventing them to update to 3.3

Is this bug getting any love?

[2021-07-21 14:49] dsp76 commented on #9794
This is still happening... Mautic should not treat contacts with same email, but different capitalization as different contacts. Should be lowercased before compared.

[2021-07-21 14:55] dsp76 opened #10282 "Can create a new contact with existing e-mail address - despite being identified as already existing"
## Bug Description
Email address is the very unique identifier (by standard) for Mautic contacts.
However - if you try to (quick) add a contact again with the same email address, a quick error message appears with the hint that it already exists. But Mautic nevertheless creates a new contact.

| Q   | A
| --- | ---
| Mautic version |  4.0.1
| PHP version |  7.4
| Browser |  any

### Steps to repro

[2021-07-21 15:22] Corsnec commented on #10282
Same here. I can dublicate existing email address by creating a new contact. Looks like its not a true unique key.

[2021-07-21 19:52] dsp76 commented on #9487
Regex also doesn't work for other non-text fields. It should be decided, whether regex works for all fields or will only be given as an option to selected fields.

[2021-07-22 00:00] Corsnec commented on #9794
I could solve the problem with db tiggers...... Problem effects everyone!

CREATE TRIGGER `E-Mail Lower Case (Before Insert)` BEFORE INSERT ON `leads`
 FOR EACH ROW SET NEW.email = LOWER(NEW.email)

CREATE TRIGGER `E-Mail Lower Case (Before Update)` BEFORE UPDATE ON `leads`
 FOR EACH ROW SET NEW.email = LOWER(NEW.email)

[2021-07-22 07:40] LeonOltmanns commented on #10282
Tested it in M3 v3.3.3 & M4 v4.0.0-rc. Both times I could successfully create a contact having the same Email-Adress as another contact.

[2021-07-22 09:06] ekkeguembel opened #10284 "Install process: Error Message if hyphen in database name"
## Bug Description
When I install Mautic and try to create a database by a name that contains a hyphen, a message is thrown (not a very helpful one, by the way):
`An error occurred while attempting to install the data: An exception occurred in driver: SQLSTATE[HY000] [1045] Access denied for user ''@'localhost' (using password: NO)`

Probably some escaping issue?

| Q   | A
| --- | ---
| Mautic ve

[2021-07-22 10:23] dennisameling commented on #10246
Can confirm this issue only exists in PR #10114. In the `features` branch, Froala is loaded only. However, in the `features` branch the dynamic content is not saved, but I think a different issue was already created for that 👍🏼

By the way, what you're seeing here is CKEditor's "fly-over" (not sure what the actual name is). It floats above the actual modal. When using the "regular" CKEditor it jus

[2021-07-22 10:26] RCheesley commented on #9918
Hmm we have had a few of these cropping up, @mohit-rocks it looks like the other 500 errors that you fixed.

Can someone test in 4.0.0-rc and see if it's still happening? If so hopefully it's a relatively quick fix!

[2021-07-22 10:27] RCheesley commented on #9794
@dsp76 @Corsnec can one of you check in 4.0.0-rc and let us know if it persists? Thanks!

[2021-07-22 10:30] RCheesley commented on #10284
Are you installing at command line or in the user interface? Can you test to see if it is addressed with https://github.com/mautic/mautic/pull/9934 which fixes a few bugs with the installation, including this one which seems to have the same error: https://github.com/mautic/mautic/issues/9473

[2021-07-22 10:37] 3birds-ronak commented on #9674
Thanks for the reply and I hope, @alfredoct96 will resolve the issue asap.
Please let me know when this issue is fixed.

[2021-07-22 11:09] adiux opened #10285 "The Last Active date does not match the last time the contact visited the website (not related to email opens)"
## Bug Description
The contacts "date last active" is: 2021-07-08 04:03:48
According to the event history, the contact was visiting the website on June 10, 2021 12:53 pm.

See screenshot
<img width="1121" alt="Screen Shot 2021-07-22 at 11 04 40 AM" src="https://user-images.githubusercontent.com/13075514/126615669-8bf2aa19-e383-4cd2-862f-e6c1376f4ec6.png">

the audit log shows the same as the histo

[2021-07-22 12:13] n-azimy commented on #10284
I noticed the error when installing via the GUI. I will checkout #9934 and report on whether the problem persists.

[2021-07-22 12:38] n-azimy commented on #10284
After I checked out on #9934, it is still not possible to use hyphens when installing via user interface. However, the error message changes:

<img width="320" alt="Bildschirmfoto 2021-07-22 um 14 24 01" src="https://user-images.githubusercontent.com/86242419/126639050-9a1bdaf1-0853-4714-beee-962006ab3786.png">

[code]

[2021-07-22 13:03] RCheesley commented on #10284
That seems to be an error relating to the cache:

Maybe it needs to be cleared?

[2021-07-22 13:19] n-azimy commented on #10284
@RCheesley I cleared the cache before accessing the web interface. I just double-checked and it still remains the same

[2021-07-22 14:34] ematsakov opened #10286 "Gated video can be continued in IOS after the time defined in `data-gate-time`"
## Bug Description
User can continue watching gated video after it stopped after time setup in `data-gate-time` attribute.

| Q   | A
| --- | ---
| Mautic version | v3.3.2
| PHP version | PHP 7.4.21
| Browser | IOS Safari / IOS Chrome

### Steps to reproduce
1. Add gated video to site's page.
2. Open page in IOS and start playing video. When video stops ( defined via `data-gate-time` attribute ),

[2021-07-22 19:53] RCheesley commented on #9991
Closing as this is no longer an issue with Mautic 4.

[2021-07-22 19:53] #9991 closed, assigned to nobody

[2021-07-22 19:54] RCheesley commented on #9994
We have a developer working on this for us through UpWork. The WIP PR can be found here: https://github.com/mautic/grapesjs-preset-mautic/pull/8

[2021-07-22 19:56] RCheesley commented on #9676
Closing this issue as the fixing PR has been merged.

[2021-07-22 19:56] #9676 closed, assigned to kuzmany

[2021-07-22 19:58] RCheesley commented on #9997
This is resolved with the work that @adiux and @disha-pishavadia24 have been doing on the builder which will soon be merged. Please check in with the team in #i-builders on Slack if you want instructions on how to test!

[2021-07-22 20:37] #9656 closed, assigned to nobody

[2021-07-23 06:24] witheredforest37 commented on #7848
Had this occur on my fresh install of Security Onion - turned out to be my ad blocker/tracker blocker extensions in Firefox.  If it helps at all, blocking scripts may break this.

[2021-07-23 06:57] ghost opened #10288 "Data slot toolbar is inserted in email html when duplicating buttons"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The HTML code that defines the

[2021-07-23 07:09] ghost commented on #10288
I checked default templates and I found that the bug can also be reproduced in Skyline template.

![image](https://user-images.githubusercontent.com/31473337/126748237-6c77123c-44e2-4868-aa6e-3f8bee71cafb.png)

[2021-07-23 07:10] npracht commented on #10288
You base HTML in the template is not formatted as a standard button of builder.
See:
[code]

Are you able to reproduce the behaviour with this HTML for button which is the default button code for builder ?

[2021-07-23 08:09] ghost commented on #10288
I changed first `div` to `td` in the code you sent
I was able to see bad HTML in editor it after 7 tries.
![image](https://user-images.githubusercontent.com/31473337/126754407-50f043ca-c669-4286-9536-dcb0815fc954.png)

This is screenshot or part of mail source(different mail but with the same buttons:

![image](https://user-images.githubusercontent.com/31473337/126753508-310b5307-2bc7-42a0-b063-8a

[2021-07-23 08:53] adiux opened #10289 "Implement a Rich Text Editor for grapesJS"
The refactoring PR (https://github.com/mautic/mautic/pull/10114) removed the legacy Froala editor. Currently, only the default RTE editor from Grapesjs is available.

Once the refactoring is done, and all other UI bugs are fixed, we can then add CKE (or any other RTE).

Related issue:
https://github.com/mautic/mautic/issues/10004

[2021-07-23 08:56] adiux commented on #10289
I believe we should implement the RTE only in the Mautic Grapesjs plugin. So that there is room for different RTEs to be used in different plugins.

Like this, we don't have the CKE dependency in the preset as well. And Mautic is already loading it.

[2021-07-23 09:10] ghost commented on #10288
I know everything now. I am able to reproduce it every time with every code now. I was looking in wrong direction.

The bug has a different source of it. The bug is a result of saving email when data slot toolbar frame is visible in builder. Normally  that toolbar displays when mouse is hovered over element and disappears when mouse is not hovering over it anymore. If you press on button to edit i

[2021-07-23 14:27] rodrideme commented on #10220
@RCheesley @luizeof will release a Mautic 4 installation for me in the next 7 days then I will test again

[2021-07-23 15:35] rodrideme opened #10290 "Visited URL Date on segment filter does not respect the filter Visited URL"
## Bug Description
![Edit Segment - d](https://user-images.githubusercontent.com/3418370/126797596-b5a0e7bd-020e-4747-ae01-fa7a6d86b62e.png)
The scenario to filter contacts who Visited a URL combined with a filter in a specific date (Visited URL Date) or a range does not work. When these filters (Visited a URL and Visited URL Date) are used independently work fine.
| Q   | A
| --- | ---
| Mautic v

[2021-07-24 07:19] adiux opened #10292 "Mark mQuery as depreciated in the grapesjs preset"
The preset should not be modifying the DOM directly. Instead, it should separate the View from the Model.

Therefore, relying on the use of jQuery/mQuery is depreciated and should not be used for new implementations.

In the first step, we remove it from the preset. At some point in the future, we may remove it from the plugin as well.

[2021-07-25 07:06] dipakparmar commented on #4467
Hi @npracht I'm having a similar issue and running mautic docker version `mautic/mautic:v3`

[2021-07-25 08:46] giomasce commented on #9243
Not stale, it requires implementation.

[2021-07-25 10:47] giomasce commented on #9797
I tried to reproduce, but after setting up again the test environment I hit something that seems to be https://github.com/mautic/mautic/issues/9951, and could not proceed. Unfortunately I don't have a lot of time, so for the moment this has to wait on my side. Sorry!

[2021-07-26 09:23] n-azimy commented on #10284
Furthermore, with the same configuration, but **without hyphens in the name**, it can be installed without any problems and without error messages.

[2021-07-26 09:31] lsergei opened #10294 "mautic:campaigns:trigger cronjob very slow after migrating to new server and new mautic version"
Running into very weird issue and looking for community help.

We have pretty heavily used mautic 2.16.1 running on PHP 7.2 and MariaDB 10.5. Few campaigns a day totalling few hundred thousands customers. Dedicated servers for database and code. All works fine.

Since we are running out of disk space we migrated mautic to a new, significantly faster server w/SSD and much more memory. Right after m

[2021-07-26 11:35] #9617 closed, assigned to nobody

[2021-07-27 11:59] evgu commented on #10024
@npracht @RCheesley pls let me know how I should debug this issue so I can provide more detail here? I just retested it, still the same issue and not getting any errors in the SuiteCRM log, none in the Mautic logs, none in the apache logs. Only the error message in the Mautic notification area. Perhaps I need to increase log verbosity somehow?

[2021-07-28 16:37] Dylan-86 commented on #9804
Same trouble here.

[2021-07-29 11:11] #9697 closed, assigned to nobody

[2021-07-29 20:18] LogProd commented on #4362
Mautic Forms required fields still do not work in v3.3.2.

built form with required fields.
Rebuild cache in forms as instructed above.
When testing form, if you purposesly leave out a required field, form submits, returns errors list in URL (i.e. /?mauticError=Errors%3A<br%20%2F><ol><li>%27Last%20Name%27%20is%20required.<%2Fli><%2Fol>#lp_email_s )

Additionally, there is no markings of each requi

[2021-07-29 22:55] pedroegg opened #10304 "SenderName with commas leading to illegal address error - Email Sending"
## Bug Description

| Q   | A
| --- | ---
| Mautic version | 3.3.3
| PHP version | 7.3.27
| Browser | Any

When the sender name of an email have comma, all the emails that should be sent will fail with the illegal address error, this is due to a bug or treatment inside the amazon SES service. The comma maybe be like a field separator inside the amazon code, i don't know.

I found the same issue he

[2021-07-31 20:24] iBobik opened #10309 "HubSpot contacts pull error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
On HunSpot one-time contacts pu

[2021-08-01 03:42] brainmangv opened #10310 "UTM tags added incorrect when link have another query string"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When a link address in email al

[2021-08-01 09:03] #9320 closed, assigned to nobody

[2021-08-01 13:22] jonathandhn opened #10311 "Database prefix not taken into account during set-up on 4.0-RC"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Database prefix are not taken i

[2021-08-01 14:10] iBobik commented on #9948
Same on 4.0.0-rc

[2021-08-03 02:48] SaraBrewerDesigner opened #10313 "Color Picker Replacement"
I ran into a small yet important issue when I tried to use the email builder in mautic. The color picker is extremely limited. I believe this would be worthwhile to replace with one that allows me to enter an rgb value or cmyk value. If I could save colors I used in the past that would also be very useful in establishing uniform branding.

[2021-08-04 10:02] #9069 closed, assigned to nobody

[2021-08-04 14:32] #9629 closed, assigned to mohit-rocks

[2021-08-04 16:37] kuzmany commented on #10313
Mautic 4 use GrapesJs builder, where are different color picker capabilities. Have you already look on it?

![image](https://user-images.githubusercontent.com/462477/128219936-90115ee2-79f8-45fe-96ae-9be9eaee0729.png)

[2021-08-04 17:00] jayasurya-jeyakodi opened #10314 "'--batch-limit option does not exist' suddenly appears in logs"
Mautic was sending emails fine. Suddenly it stopped working and then i checked logs to find out the following error

mautic.NOTICE: Symfony\Component\Console\Exception\RuntimeException: The "--batch-limit" option does not exist. (uncaught exception) at /opt/bitnami/mautic/vendor/symfony/console/Input/ArgvInput.php line 223 while running console command `mautic:webhooks:process` [] []

mautic.WARNI

[2021-08-05 10:37] ItDoBeNord commented on #5123
Any update on this issue?

[2021-08-05 10:49] jos0405 commented on #9810
Hello,
I ran into this problem as well.
It happens, because your oneup/uploader-bundle will be installed in the wrong version.
Error:
Installation request for oneup/uploader-bundle 3.1.0 -> satisfiable by oneup/uploader-bundle[3.1.0].

When looking at the package, you'll realize this version is not working on Symfony3:
[](https://packagist.org/packages/oneup/uploader-bundle)
"Version 3.0.0 support

[2021-08-05 10:49] #9810 closed, assigned to nobody

[2021-08-05 17:08] roblefko opened #10315 "Dashboard problem"
I updated the page that the user is directed to when the user goes to the mautic root by modifying Configuration | System Settings | Mautic's root URL. I then clicked the X to remove the data in that field, and it was updated to say Mautic Dashboard. I"m now finding that when I log in, I'm brought to a page that just shows text:
{"activeLink":"#mautic_dashboard_index","mauticContent":"dashboard","

[2021-08-06 09:01] ItDoBeNord commented on #9031
I'm having this issue too, I create an email template with 3 links and send it out via a campaign to test clicking the links. I clicked all three but Mautic registers no clicks

[2021-08-06 09:11] patrykgruszka opened #10316 "Visits specific URL point action issues"
## Bug Description
When new contact is created through the tracking script on external website and you have published "Visits specific URL" point action with "Returns within/after" option then the points will be added on the first hit.

| Q   | A
| --- | ---
| Mautic version | 4.0.0-rc and previous
| PHP version | 7.4
| Browser | Any / tested on FF 90.0.2

### Steps to reproduce
1. Create and publ

[2021-08-06 17:38] rquatier opened #10318 "New Anonymous IP's not displaying in "Live Mode""
When viewing anonymous IP's of visitors in the Live Mode, the new IP's are blank. In the past they displayed and were highlighted in yellow. The workaround is to refresh the browser page.
However, if you have hundreds of new IPs, locating where you left off can be difficult. Fortunately, I only have a few to look through.

I am using anonymous IP's to identify the companies visiting our website. I

[2021-08-06 17:42] rquatier commented on #10318
Forgot to attach the error log.
[mautic-live-mode-error-log.txt](https://github.com/mautic/mautic/files/6947181/mautic-live-mode-error-log.txt)

[2021-08-06 19:07] ivanmonteiro commented on #9627
Sorry to comment on a closed issue, but is there any work-around?

[2021-08-07 19:44] Interacthink commented on #6597
@konstantin-lebejko  Where do I put this code?

[2021-08-08 03:09] #7636 closed

[2021-08-08 10:46] #6536 closed

[2021-08-09 04:44] kuzmany commented on #9491
I think I have solution on this

[2021-08-09 09:37] ghost opened #10321 "Use of inline scripts makes reasonable CSP impossible"
.

[2021-08-09 09:54] #10321 closed, assigned to nobody

[2021-08-09 09:55] RCheesley commented on #10321
This will be dealt with in the correct way through the security team, due to summer vacations there has unfortunately been a delay in responding. Please be patient and we will get to you as soon as we can. Thanks!

[2021-08-09 15:25] RCheesley commented on #10024
@evgu are you testing in developer mode (using index_dev.php on the end of your Mautic instance)?

[2021-08-09 15:27] RCheesley commented on #10024
Also, if you have 'push to this integration' unchecked, would you expect a campaign action which pushes to the integration to work?

I would have thought that it should fail in that case because you have not allowed the integration to push, only to pull.

[2021-08-09 16:51] RCheesley commented on #10318
Thanks for reporting the issue @rquatier and for the detailed write up!

[2021-08-09 16:54] RCheesley commented on #10316
Thanks for reporting this @patrykgruszka - we are seeing that error in a few places since the 4.0 work (see https://github.com/mautic/mautic/issues/9762) - can you make a PR to fix this?

[2021-08-09 16:56] RCheesley commented on #10315
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-09 16:56] #10315 closed, assigned to nobody

[2021-08-09 16:56] RCheesley commented on #10314
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-09 16:56] #10314 closed, assigned to nobody

[2021-08-09 16:58] RCheesley commented on #10313
Closing this issue as it seems to relate to the legacy builder - if that is not the case then please request to re-open and provide a more detailed explanation including Mautic version being used. Thanks!

[2021-08-09 16:58] #10313 closed, assigned to nobody

[2021-08-09 16:59] RCheesley commented on #10311
Closing as a duplicate of an existing issue - see https://github.com/mautic/mautic/pull/9934

[2021-08-09 16:59] #10311 closed, assigned to nobody

[2021-08-09 17:01] RCheesley commented on #10310
Thanks for reporting the issue @brainmangv and for the detailed instructions to reproduce the problem!

[2021-08-09 17:02] RCheesley commented on #10309
Thanks for reporting the issue @iBobik - assume this is something new with Mautic 4 or have you also got this happening in 3.3.3?

[2021-08-09 17:04] RCheesley commented on #10304
Thanks for raising this issue @pedroegg and for the PR to address it!

[2021-08-09 17:05] RCheesley commented on #10294
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-09 17:05] #10294 closed, assigned to nobody

[2021-08-09 17:06] RCheesley commented on #10290
Thanks for reporting the issue @rodrideme - can you test this with Mautic 4 and let us know if it persists please? Thank you!

[2021-08-09 17:09] RCheesley commented on #10289
For those not familiar with acronyms:
RTE: Rich Text Editor

I agree that it should be possible if someone wanted to, to use a different editor in the GrapesJS builder. I would like if we shipped with CK Editor as standard given that we are using it across the rest of the product.

[2021-08-09 17:13] RCheesley commented on #10286
Thanks for reporting it @ematsakov - actually I think we have not got this as a feature yet for the new builder (gated video) so I will label this as the legacy builder.

We have not got any resources available to look into this really as all of our energy is directed to the new builder - if you need someone to look into it you may need to use the bounty system.

[2021-08-09 17:14] RCheesley commented on #10285
Thanks for flagging it up - does this also happen in Mautic 4 do you happen to know?

[2021-08-09 17:16] RCheesley commented on #10284
OK seems that it is a separate issue - would you be up for looking into a fix?

[2021-08-09 17:18] RCheesley commented on #10282
Thanks for the testing folks and for reporting the issue!  I think I actually noticed-but-didnt-notice this when I was working on some of the Cypress test suites!

[2021-08-09 17:20] RCheesley commented on #10267
Thanks for the detailed report @eVolpeConsultingGroup - are you able to look into this in more detail and maybe make a PR to address it?

[2021-08-09 17:21] RCheesley commented on #10262
Thanks for the bug report @jos0405 !

[2021-08-09 18:19] iBobik commented on #10309
It has been cleanly installed on latest v4.0.0-beta.

[2021-08-10 10:07] RCheesley commented on #10309
Thanks for the clarification, can you double check against the Release Candidate just to ensure that it's still a problem, then we can look to see if we can get this fixed. Thanks!

[2021-08-10 10:32] iBobik commented on #10309
Yes, I have configured it after upgrade to RC.

Honza Pobořil

[2021-08-10 12:33] adiux opened #10323 "Mautic does not track MJML button clicks (mj-button)"
## Bug Description
Button links in emails (segment and template) with an https://documentation.mjml.io/#mj-button tag do not get tracked in Mautic.

Normal text links and opens are tracked.

| Q   | A
| --- | ---
| Mautic version | 4.0 RC
| PHP version | 7.4 / DDEV
| Browser | Chrome

### Steps to reproduce
1.  Create a new email with the "Confirm Me" theme
2. Add a link to the button
3. Add anoth

[2021-08-10 12:51] RehanNischal commented on #5793
Is it solved yet?

[2021-08-10 16:57] adiux commented on #10285
I dont know

[2021-08-10 18:11] adiux commented on #10285
I did just see it again on 3.3.3. I did update the description.

[2021-08-10 18:52] pedroegg commented on #10304
New pull request on the correct branch.

[2021-08-10 20:37] maycodiaz commented on #6619
Hi, the issue is still in Mautic 3.x

[2021-08-11 06:52] viethung0o0 commented on #9948
same here

[2021-08-11 10:41] Ajtak commented on #7290
This problem still not solved, same problem, in mautic version 3.3.3. Please fix it.

[2021-08-11 10:46] Ajtak opened #10327 "The API route contacts/batch/edit create duplicates with same email adress"
Problem is same to #7290, in version 3.3.3 still not solved.

### Steps to reproduce

1. Create a request to create a contact on route PUT
`http://<url>/api/contacts/batch/edit`

Body request:
[code]

2. Relaunch it.
2. Result : Two identical contacts are created.

[2021-08-11 11:34] #8895 closed, assigned to nobody

[2021-08-12 01:40] maxSupermoney opened #10328 "BCCs are not working with SendGrid API."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have Mautic configured to use

[2021-08-12 14:37] #9997 closed, assigned to adiux

[2021-08-12 15:49] RCheesley opened #10329 "Dynamic Content is missing on landing pages in GrapesJS builder"
## Bug Description
There is not currently a block for dynamic content when using landing pages in the GrapesJS builder as the feature has not been implemented yet.

Dynamic Content is created under Components > Dynamic Content and can be [campaign-based or filter-based](https://docs.mautic.org/en/components/dynamic-web-content).

The block needs to allow you to select the appropriate DWC item and

[2021-08-12 21:04] roblefko opened #10330 "Dashboard Login Problem"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When I log in to Mautic, I am d

[2021-08-13 07:43] adiux opened #10331 "Mjml to html conversion needs the beautify option which is depreciated in browser mode"
We are currently using the browser mode to convert mjml to HTML.

Html needs to be `beautified` for the click tracking to work. Therefore, we can not use the built-in command: `mjml-get-code` in order convert mjml to HTML. But we have to use `mjml2html` directly with the `beautified` option tuned on. This option is depreciated.

Related: https://github.com/mautic/mautic/issues/10323

[2021-08-13 09:26] jenslaufer opened #10332 "Getting "Gateway Timeout" for Mautic behind Traefik proxy"
| Q   | A
| --- | ---
| mautic-docker image v3 |
| PHP version  unknown |
| Brave Version 1.25.73 Chromium: 91.0.4472.106 (Offizieller Build) (64-Bit)|

I deployed an multicontainer application with Mautic behind a Traefik reverse proxy.
However, I am getting a "Gateway timeout".

The reverse proxy's configuration seems OK as other containers within the application work fine.

I also changed the m

[2021-08-13 09:28] RCheesley commented on #10332
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-13 09:28] #10332 closed, assigned to nobody

[2021-08-13 14:08] RCheesley opened #10333 "Mautic-themed skin for the GrapesJS builder is missing"
## Bug Description
With recent refactoring the mautic-themed skin was lost as the changes were made to the minified files which were subsequently updated.

We need to make a new PR to re-add the styling using the correct files.

[2021-08-13 14:08] RCheesley opened #10368 "Mautic-themed skin for the GrapesJS builder is missing"
## Bug Description
With recent refactoring the mautic-themed skin was lost as the changes were made to the minified files which were subsequently updated.

We need to make a new PR to re-add the styling using the correct files.

[2021-08-13 14:23] RCheesley commented on #10368
@alexhammerschmied are you able to get this done?

[2021-08-13 14:24] RCheesley commented on #10367
I believe this has been addressed with the latest updates to the preset/builder, can you please test @tuongnguyendev ? There are test instructions on the readme which should hopefully help!

[2021-08-13 14:53] adiux commented on #9987
Could this be related to the not supported attributes?
https://mautic.slack.com/archives/C01EGF5U422/p1628781207011400

Can someone look into this and create a list of all the not supported tags?

[2021-08-13 14:58] adiux commented on #9987
I just tested this with the latest v4.0.0-rc and refactoring PR applied. It still happens.

[2021-08-13 15:04] RCheesley opened #10334 "Gated Video block is missing from landing pages on GrapesJS builder TPROD-176"
## Bug Description
In the legacy builder it is possible to drop a video onto the landing page, and have it set up as a gated video. The feature is missing in the GrapesJS builder.

Documentation on this feature can be found here: https://docs.mautic.org/en/gated-video

![screenshot-mautic4 ddev site-2021 08 13-15_57_45](https://user-images.githubusercontent.com/2930593/129377320-5cedbefb-a5c0-41e3

[2021-08-13 19:17] scottmont commented on #9825
This is the same result for myself.  I have tried to update the list manually with a contains operator but that's not meant for tags and breaks the filter.

[2021-08-13 20:21] adiux commented on #9998
I found the problem with this now. So the styles that get added to the head of the landing page actually come from rendeting the “theme”.

In the base.html.twig are all the styles loaded that got added with ->addStylesheet(). And all the scripts that got added by using ->addScript().

[code]

So we are a bit in a tricky situation. If we load the assets like we do now we get them loaded in the live

[2021-08-14 06:25] adiux commented on #10367
I was just able to reproduced this issue as shown in the video

[2021-08-14 06:56] adiux commented on #10367
The Code Editor removes JS
![image](https://user-images.githubusercontent.com/13075514/129437977-ad311a5c-2a48-4613-bfef-1ae283b943eb.png)

![image](https://user-images.githubusercontent.com/13075514/129437985-111e51bb-ee16-47cc-a2ab-e5b09ea101f7.png)

[2021-08-14 08:48] #10323 closed, assigned to nobody

[2021-08-14 14:12] dennisameling commented on #10289
For info: you should be able to run `Mautic.ConvertFieldToCkeditor(textarea, {});` (we leveraged that in https://github.com/mautic/grapesjs-preset-mautic/pull/17/files as well) to convert a field into CKEditor. Not sure how it was implemented in the past in the GrapesJS builder.

Unrelated to this issue, but for the future it might be better if we rework that function into something like `Mautic.E

[2021-08-14 16:26] dennisameling commented on #9998
A bit more context here - so it turns out that when creating a page, when the Twig template is rendered, it actually stores all the CSS/JS tags **hardcoded** in the database:

![image](https://user-images.githubusercontent.com/17739158/129452180-2f28ed9e-33fa-4893-91f6-603cf7249847.png)

I just checked and this is not the case in the legacy builder in Mautic 3.3.3, so I went a bit deeper. `outputH

[2021-08-16 04:49] a1exe1 opened #10337 "Wrong Message-ID. Not correspond to the sending domain"
## Bug Description
The more details the better...

### Steps to reproduce
1. install mautic on domain1.com
2. use smtp server on domain2.com

I have had the Message-ID:  ID@domain1.com but I need ID@domain2.com

[2021-08-16 08:17] RCheesley commented on #10337
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-16 08:17] #10337 closed, assigned to nobody

[2021-08-16 13:51] martin-neumann-gurus opened #10339 "Cloning an MJML email changes it to HTML"
Your software
My Mautic version is: 3.3.2
My PHP version is: 7.4.21

My problem is:
I am trying to clone an email that was is based on an MJML template. When I clone the email, it reverts to a HTML email. I think a cloned email should be still editable in MJML. That would be the expected behavior.

[2021-08-16 14:06] RCheesley commented on #10339
Thanks for reporting this, are you able to check if this also is happening with Mautic 4 Release Candidate (in a development area)?

[2021-08-16 16:24] #9381 closed, assigned to nobody

[2021-08-17 10:00] dsp76 opened #10340 "Forms - radio group field - can't handle same values in key / value pair"
## Bug Description
A radio group field should be able to have same values for different selections. Think about e.g. a quiz, where there are 1 correct and two incorrect answers.

Mautic looses one of the options, that has the same value (it doesn't show it in the form).

It still should show all values. But when saving the form field, the second option with the same value overwrites the first one.

[2021-08-17 10:12] RCheesley commented on #9660
bump

[2021-08-17 17:13] RCheesley commented on #10329
Test

[2021-08-17 17:59] donbowman opened #10342 "mautic install uses multi-schema change, not compatible w/ tidb"
### Mautic Version

4.0.x series

### PHP version

8.0

### What browsers are you seeing the problem on?

Chrome

### What happened?

i would like to install mautic using tidb, which is generally mysql compatible. Its a simpler db to use in a kubernetes environment, I use it w/ wordpress.

Mautic needs manual intervention in the install from scratch, the ALTER TABLE x ADD y, ADD z; needs to be con

[2021-08-17 18:13] RCheesley commented on #10342
Hi there!

Unfortunately we are not yet supporting PHP8, please can you re-test with 7.4 and report back if this is still an issue? Thanks!

[2021-08-17 18:44] RCheesley commented on #10340
Hey there,

This is by design I believe, you will need to use a different way of working if you want to achieve what you are after. Please make a post on the forums at https://forum.mautic.org/c/support and I am sure the community will be able to help you find a better way to do this.

[2021-08-17 18:44] #10340 closed, assigned to nobody

[2021-08-17 18:45] RCheesley commented on #10330
Hi there, I think this is most likely going to be a server setup issue, please make a post on https://forum.mautic.org/c/support where the community can help with troubleshooting.

[2021-08-17 18:45] #10330 closed, assigned to nobody

[2021-08-17 18:53] RCheesley commented on #10329
Test

[2021-08-17 19:04] RCheesley commented on #10327
Hey there,

Thanks for reporting this bug. I think that maybe it is related to https://github.com/mautic/mautic/issues/10282.

I did some testing and without specifying an ID I was able to reproduce the issue you mentioned, as soon as I specified the ID as well as the contact info it behaved as expected.

Uploading the screencast here: https://youtu.be/hd-YO8sYniI

[2021-08-17 19:10] #10329 closed, assigned to nobody

[2021-08-17 22:55] donbowman commented on #10342
yes, same behaviour on 7.4 php

[2021-08-18 23:01] fintechee commented on #9804
Just to add more information for further analysis:
I had used Mautic v3.3.3 with OpenLiteSpeed, php7.4 for 3 months, "keep me signed in" didn't work fine, but, at least, the session kept me signed in until I closed the browser.
Yesterday, because the SSL expired, and I couldn't find out a solution to update it, so, I stopped using OpenLiteSpeed and switched the http server to Apache2. Now, the iss

[2021-08-19 02:18] donbowman commented on #9948
4.0.0-rc also.

[2021-08-19 13:12] donbowman commented on #9948
anyone have any pointer on where to start looking? This is kind of a show stopper.

I think it comes from
EmailBundle/Config/config.php

[code]

[2021-08-19 13:16] RCheesley commented on #9948
@mabumusa1 any ideas?

[2021-08-19 14:50] RCheesley commented on #10339
Hi there,

Tested in the features branch and this issue has indeed been resolved. You will need to update to Mautic 4 when it is released to get the fix.

Thanks for reporting it!

[2021-08-19 14:50] #10339 closed, assigned to nobody

[2021-08-19 17:16] RCheesley commented on #10334
From the Product Team issue https://mautic.atlassian.net/browse/TPROD-176

[2021-08-19 17:19] RCheesley commented on #10334
https://github.com/artf/grapesjs/blob/dev/src/dom_components/model/ComponentVideo.js there is a video component in GrapesJS so maybe we can extend that for our purposes.

[2021-08-19 18:18] RCheesley commented on #9998
Could we get a PR up to address this issue do you think @dennisameling @adiux ?

[2021-08-19 19:28] dennisameling commented on #9998
Sure, working on a PR for this now, will be done either today or tomorrow 👍🏼

[2021-08-19 21:57] Jammmmm commented on #8992
Replying to remove stale label.

This issue still exists in community 3.3.3. I have not tested the 4.x series.

[2021-08-20 12:17] donbowman commented on #9948
if i run:
`debug:container`

I see
[code]

[2021-08-20 12:49] donbowman opened #10345 "Problem with running doctrine:fixtures:load in Mautic 4"
### Mautic Version

4.0.x series

### PHP version

7.4, 8.0

### What browsers are you seeing the problem on?

Not relevant

### What happened?

from command line, run doctrine:fixtures:load

it progresses as in the log below, and then fails
[code]

### How can we reproduce this issue?

Step 1: empty db
Step 2: console doctrine:fixtures:load
... wait, problem occurs

### Relevant log output

[code

[2021-08-20 12:57] RCheesley commented on #10345
Hey there,

This works fine for me, are you using the **bin/console** doctrine:fixtures:load command? Seems like maybe the path is missing?

[2021-08-20 12:59] donbowman commented on #10345
[code]

[2021-08-20 13:03] RCheesley commented on #10345
You selected PHP 7.4 and 8.0 in the issue but we are not yet supporting 8.0 with Mautic (see [mautic.org/download/requirements](https://mautic.org/download/requirements)) - can you please confirm which version of PHP you are using when you experience this issue? I came across some reports of this error with a quick Google search which specifically related to PHP8, so let's rule that out first.

It

[2021-08-20 13:05] donbowman commented on #10345
yeah i know, i'm experimenting w/ mautic on both, its not yet a tool i've selected so its not 'in production'. I am hopeful that the php 8 arrives by the time I am ready.

5.8+1.0.5ubuntu2 mysql

[2021-08-20 13:08] donbowman commented on #10345
I take it back, the error does not occur on php7.4, i must have made a mistake when testing that the first time.

[2021-08-20 13:11] RCheesley commented on #10345
OK, let's close this issue - we have a WIP PR for PHP8 support: https://github.com/mautic/mautic/pull/9969 in case you want to track progress :)

[2021-08-20 13:11] #10345 closed, assigned to nobody

[2021-08-20 16:44] fintechee opened #10346 "Suddenly, today I could't check contact info."
### Mautic Version

3.3.3

### PHP version

7.4

### What browsers are you seeing the problem on?

Firefox, Chrome

### What happened?

A bug happened!
I have used Mautic for 3 months.
Amazing platform! really amazing, full-featured and FOSS. Unbelievable!!
But ...... Suddenly, today I found the contact info couldn't be viewed.(I didn't modify anything since yesterday)

https://mydomain/s/contacts

[2021-08-20 16:50] fintechee commented on #10346
BTW, I wanted to post a question in your forum, but didn't find a button.
So I post the issue here.

And, I'm a little bit urgent, I plan to use 4.0rc with the existing DB.
Is the DB layout of 4.0rc different from 3.3.3's?

We appreciate any advice. Many thanks.

[2021-08-20 16:51] RCheesley commented on #10346
Hey there,

Please read the text in the big blue box at the top of the page on the forum. You have to be active for 3 minutes and read 3 posts to be able to post or reply.

Please post there, rather than here. That is where we provide community support.

Thanks!

[2021-08-20 16:51] #10346 closed, assigned to nobody

[2021-08-21 12:05] adiux commented on #10289
I just implemented RTE (again), and we still have the same problems as I had last time. Eg. editing the text on a button in MJML mode.
![image](https://user-images.githubusercontent.com/13075514/130320819-b36c8aad-7417-4b36-bc5e-deafd7ee4334.png)

Looking into it

[2021-08-21 12:32] adiux commented on #10289
this fixes the issue to edit buttons: https://github.com/artf/grapesjs/issues/1338

[2021-08-21 13:39] adiux commented on #10289
fixes https://github.com/mautic/mautic/issues/10004

[2021-08-22 12:15] dennisameling commented on #9998
So this is turning out to be more difficult than expected. `Mautic.sanitizeHtmlBeforeSave()` expects a jQuery object (which isn't a problem), but the `getCanvasAsHtmlDocument()` function of the GrapesJS preset uses JavaScript's built-in [DOMParser](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser). That basically strips out JS and CSS tags (security feature from what I read in several on

[2021-08-22 13:56] RCheesley commented on #10275
I am going to re-open this as I have had this come up locally when testing PRs.

1. Check your global config to ensure you have nothing set for the frequency rule globally (under Email settings)
2. Check the contact preference settings in a segment (eg United States in the sample data) to ensure that contacts have not got anything set in their frequency (sample data should be empty for all)
3. Sen

[2021-08-22 15:10] RCheesley commented on #10275
Additional note: This seems to be an issue sometimes with this PR applied: https://github.com/mautic/mautic/pull/10114 - any chance you happened to be testing that PR at the time @oltmanns-leuchtfeuer ?

It does not happen for me (unless there is a frequency rule on the contact) with the features branch.

[2021-08-23 04:49] ServicedCloud opened #10353 "Joomla Mautic Plugin"
### Mautic Version

3.3.3

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Updating to Joomla 4 reports that Mautic could be a potential problem. Is there a plan to release and update for Joomla plugin?

### How can we reproduce this issue?

Step 1:

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have r

[2021-08-23 06:44] mabumusa1 commented on #9948
It seems the tests do not cover the file `PublicController.php` which controls the calls from email callback, the above PR should handle this issue. This error is not related to SES only, it affects all the senders. so this issue is more critical that I expected

[2021-08-23 07:34] mabumusa1 commented on #9887
I tested this issue multiple times on version 4, I could not reproduce it, here are the tests I have done:

1. Sent in the immediate mode, using a From Name and From Email different than the system settings, and using German letters, it worked as expected.
2. Sent in the queue mode, using a From Name and From Email different from the system settings, and using German letters worked as expected.
3.

[2021-08-23 09:17] mabumusa1 commented on #9284
This issue is still there for v4, I will check it this week and try to solve it

[2021-08-23 09:53] mabumusa1 opened #10356 "SendGrid API does not send attachments on queue mode"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Send an email with attachment included, the attachment was not delivered when the queue mode is selected but it was working as expected when it was in immediate mode.

### How can we reproduce this issue?

Step 1: Select queue mode
Step 2: Select SendGrid API

[2021-08-23 10:58] #9473 closed, assigned to nobody

[2021-08-23 11:34] myupchar commented on #9284
Pls let me know - we are also facing this. You can't track clicks as well as URL opens give an error if tracking is on (for non-logged in users)

Check this -
http://mautic.myupchar.com/r/81b243b538e76fe0410f40c1c?ct=YTo1OntzOjY6InNvdXJjZSI7YToyOntpOjA7czoxNDoiY2FtcGFpZ24uZXZlbnQiO2k6MTtpOjI4O31zOjU6ImVtYWlsIjtpOjExO3M6NDoic3RhdCI7czoyMjoiNjEyMzVkZTk0MGVhNDcwMzI3NTgyNSI7czo0OiJsZWFkIjtzOjY6IjQ0NDI

[2021-08-23 12:24] myupchar commented on #9052
Yes, but it doesn't work and gives this error - https://github.com/mautic/mautic/issues/9284

It's a great software but it seems like Mautic suffers from poor documentation and newer versions are not tested thoroughly.

[2021-08-23 12:58] #9993 closed, assigned to nobody

[2021-08-23 12:58] #10000 closed, assigned to nobody

[2021-08-23 12:58] #10142 closed, assigned to nobody

[2021-08-23 12:58] #10246 closed, assigned to dennisameling

[2021-08-23 13:49] pravinuttarwar opened #10358 "XML Decoder Error"
### Mautic Version

4.0.x series

### PHP version

5.6.40

### What browsers are you seeing the problem on?

Chrome

### What happened?

Getting below error log after loading the contacts page, page never loads

`[2021-08-23 03:53:13] mautic.ERROR: PHP Error: Class 'Symfony\Component\Serializer\Encoder\XmlEncoder' not found - in file /var/www/html/mautic/vendor/friendsofsymfony/rest-bundle/FOS/Res

[2021-08-23 13:56] RCheesley commented on #10358
Hey there!

You are running an incompatible PHP version for Mautic 4 by quite some versions: https://www.mautic.org/download/requirements - supported version for 4.0.x is:

Here is another clue, it looks like you are running out of available memory perhaps:

This might help with that issue:

https://docs.mautic.org/en/troubleshooting/working-with-php-ini-resource-limits

Please use the Community F

[2021-08-23 13:56] #10358 closed, assigned to nobody

[2021-08-23 14:29] adiux commented on #9998
@dennisameling maybe this helps? https://github.com/mautic/grapesjs-preset-mautic/blob/main/src/content.service.js#L84

or cant you convert an HTMLDocument to a jquery object? There must be a way.

[2021-08-23 14:31] dennisameling commented on #9998
@adiux saw that, but the HTMLDocument misses the head JS + CSS script tags in the DOM. And `contentDocument.head.outerHTML` + `contentDocument.body.outerHTML` return strings instead of actual DOM elements. So I guess the iFrame way should be feasible. Having a look at that now, just finished some other stuff

[2021-08-23 14:41] RCheesley commented on #10342
If you would like to make a PR to address the issue you have reported, here are some guidelines: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests

[2021-08-23 15:41] donbowman commented on #10342
i will look at this in a bit.

the code that does it seems auto-generated tho (the migrations), is there any guidance around that from a technical standpoint?

[2021-08-23 15:46] RCheesley commented on #10342
If you make a change to Mautic which affects the database then you would need to generate a migration, the process is documented here: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests#step-6-migrations-needed

If you get stuck, do hop into Slack (https://mautic.org/slack for an invite) and join the Product Team channel. I'm sure someone will be able to point you in

[2021-08-23 15:47] donbowman commented on #10342
will do.
its not changing the schema, its changing the generated (historical) migrations, to make this work.

[2021-08-23 15:58] RCheesley commented on #10275
![screenshot-mautic4 ddev site-2021 08 23-16_49_43](https://user-images.githubusercontent.com/2930593/130478078-47cfcf64-382d-4d92-a8d7-253c7c10a6b4.png)

In the screenshot attached:

Blue: Initial email sent
Red: Cloned email sent - all are queued
Green: I manually set one contact to have a 10 emails/day limit, the subsequent emails were sent only to that user

My global settings are the Mautic d

[2021-08-23 16:31] patodorf1 opened #10359 "Problems after updating from v3.1.0 to v3.2.5"
### Mautic Version

3.1.x series (not supported)

### PHP version

7.2.34

### What browsers are you seeing the problem on?

Chrome

### What happened?

Hi,

Can you please help me with this or give me an idea of where I can start?

After updating from _v3.1.0_ to _v3.2.5_ I tried to open some contacts and they were not working.

This is the lines that I have in the **System log**:

**[2021-08-22

[2021-08-23 17:06] RCheesley commented on #9104
We still have [quite a few of these to deal with](https://github.com/mautic/mautic/security/dependabot) - I suggest that we look at 4.1 being a dependency update release in addition to the regular theme.

[2021-08-23 17:07] #10120 closed, assigned to RCheesley

[2021-08-23 17:07] #10175 closed, assigned to mohit-rocks

[2021-08-23 17:08] RCheesley commented on #9980
Closing due to report of not being able to reproduce as above.

[2021-08-23 17:08] #9980 closed, assigned to nobody

[2021-08-23 19:43] dennisameling opened #10369 "When a PR is created, create a Mautic instance with the changes in it"
Because the GrapesJsBuilderBundle lives in `mautic/mautic`, separated from the preset, it's hard for non-developers to test changes that we do here in `grapesjs-preset-mautic` ([see the README](https://github.com/mautic/grapesjs-preset-mautic/blob/0d754ffbc84bd8b673b518d8fd5b699c8fd982ec/README.md) for the current 12-step process to do that).

Example:
- Issue reported: https://github.com/mautic/m

[2021-08-23 19:51] dennisameling opened #10370 "Add docs about real-time workflow of updating the GrapesJS preset + plugin"
There's a handy tool that can be leveraged for local development: `npm link`. It allows developers to use local instances of packages that are otherwise only available on NPM. I've been using it to develop for the preset and test the changes immediately in my local Mautic instance on every file save 🚀

This is the process in a nutshell (can be automated to a large extent):

- Clone this repo (more

[2021-08-23 19:52] dennisameling commented on #9998
PR ready with the fix for this issue: https://github.com/mautic/mautic/pull/10360

[2021-08-24 11:17] RCheesley commented on #9998
@stevedrobinson can you give #10360 a test?

[2021-08-24 11:18] RCheesley commented on #10369
I think that would be an awesome idea - it is super convoluted to test them as things stand!  It would also be valuable for mautic/mautic as well I think.

[2021-08-24 16:05] RCheesley commented on #9948
We just need a code review on the PR #10352 and then we will be good to merge!

[2021-08-24 16:07] RCheesley commented on #9948
@all-contributors please add @vijayhrdm for bugs

[2021-08-24 16:24] #7225 closed

[2021-08-24 23:25] humblecoder commented on #8757
```Version:  Mautic 3.3.3```

Adding CORs headers has no valuable effect. Adding items such as `try_files $uri $uri/ /index.php$is_args$args` only serves to generate `301 Moved Permanently` notifications.   Per the config, `/form/generate.js` is routed through `MauticFormBundle:Public:generate`.

HTTP works fine, not sure exactly why switching to HTTPS would make any difference once we hit the con

[2021-08-25 11:55] RCheesley commented on #10359
Hey there, you need to clear your cache. In the future, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-08-25 11:55] #10359 closed, assigned to nobody

[2021-08-26 08:50] dungnt081191 commented on #5068
[code]

here error of mine, could you please take a look for me @dbhurley

[2021-08-26 10:01] #9948 closed, assigned to mabumusa1

[2021-08-26 10:14] RCheesley commented on #5068
@dungnt081191 please post on the forums at https://forum.mautic.org/c/support to get support with your issue, please do not post on issues that were closed nearly 4 years ago :)

[2021-08-26 14:08] #9998 closed, assigned to adiux

[2021-08-26 16:19] #10004 closed, assigned to adiux

[2021-08-26 16:19] #10289 closed, assigned to nobody

[2021-08-26 18:28] RCheesley opened #10371 "Installing in the GUI results in a 500 error at pre-flight check stage"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

When I try to install Mautic 4.0 (current features) in the UI I am seeing a server error at the pre-flight check stage

### How can we reproduce this issue?

Step 1: Clone features branch
Step 2: Run `composer install` to install dependencies
Step 3: Try to in

[2021-08-26 18:31] dennisameling commented on #10371
It's caused specifically by this piece of code that I added in the GrapesJS refactor PR. It tries to get the active builder from the IntegrationsHelper, but this code apparently is loaded already before Mautic is installed:

https://github.com/mautic/mautic/blob/1090f8f84866cf873544866657f31312132e1511/app/bundles/CoreBundle/Templating/Helper/AssetsHelper.php#L463-LL475

The solution is to wrap it

[2021-08-26 18:38] RCheesley commented on #10371
OK awesome, thank you for jumping on it so quickly!

[2021-08-26 20:28] donbowman opened #10373 "Trying to access array offset on value of type bool"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

I'm not sure what triggers this. its something from the mtc.js event processing. its not all the time. but, i think its obvious in the code how its not right,

$result = $sq->execute()->fetch();

is assumed to be an array, but can be a false, it assumes there

[2021-08-26 20:34] RCheesley commented on #10373
Hey @donbowman are you testing against the Release Candidate version, or the Features branch? We did merge a bunch of fixes relating to this kind of error just recently which would be reflected in the features branch.

[2021-08-26 20:36] RCheesley commented on #10373
Actually, I think that this may be a duplicate of #10316 perhaps?

[2021-08-26 20:42] donbowman commented on #10373
its 4.0.0-rc, should i test -features? i can give that a go.

I suspect you are correct its related.

This is a lack of defensive programming here too, perhaps we want:

[code]

[2021-08-26 20:53] RCheesley commented on #10373
Yeah give features a test as that's the most up to date code base, however I suspect it's still an issue.

If you are up for making a PR that would be awesome.

I'll close this one as a duplicate and let's carry the conversation forward in #10316 so that we don't duplicate efforts! :)

[2021-08-26 20:53] #10373 closed, assigned to nobody

[2021-08-26 21:14] donbowman commented on #10316
I recommend also defensive programming in pp/bundles/PageBundle/Entity/HitRepository.php, just in case the hit vanishes:

[code]

[2021-08-27 10:01] PierreAmmeloot commented on #9052
Hello @RCheesley is it possible to update the documentation with the new procedure?

Doc. link : https://docs.mautic.org/en/queue

[2021-08-27 10:04] myupchar commented on #9052
Challenge is that it contains a small blurb about 3.x but that fix doesn't really work

[2021-08-27 10:06] RCheesley commented on #9052
@PierreAmmeloot check the edit button at the bottom of the page. We have a PR here: https://github.com/mautic/mautic-documentation/pull/189 but we can't merge it until @maxlawton pulls in the changes as it's made on a private branch. Perhaps check that PR and see if it adds the details you expect. If not, make a new PR by clicking the edit button (on the bottom of every docs page).

[2021-08-27 10:18] #10371 closed, assigned to nobody

[2021-08-27 10:22] PierreAmmeloot commented on #9052
Thanks @RCheesley for your feedback. I'm happy to modify the documentation. Except that the new procedure is not very clear. Do you know it?

@myupchar indeed if it doesn't work it's a problem. What bug do you have?
I am looking for a way to fix it. Without success for the moment. :-)

[2021-08-27 10:30] anushaharish538 opened #10377 "How to enable user registration"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

_No response_

### What happened?

Enable user registration and give them a subdomain

### How can we reproduce this issue?

Step 1:

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm that I have read and agree to follow this project's Code of Conduct

[2021-08-27 10:34] myupchar commented on #9052
This is what we are seeing -

sudo php bin/console mautic:queue:process --env=prod -i page_hit

In Container.php line 348:

  You have requested a non-existent service "old_sound_rabbit_mq.mautic_consumer".

We are on v3.3.3

[2021-08-27 10:48] RCheesley commented on #9052
Folks if you have an issue please raise a new bug. Don't expect people to triage your issue here.

@PierreAmmeloot click edit at the bottom of the page. Edit the page in GitHub. Make a PR. It's quite easy really :)

if you prefer working with Git then just fork and clone github.com/mautic/mautic-documentation and make a PR in the usual way.

[2021-08-27 10:56] myupchar opened #10378 "RabbitMQ does not work even with local config"
### Mautic Version

3.3.3

### PHP version

7.3.28

### What browsers are you seeing the problem on?

Chrome

### What happened?

This is what we are seeing -

sudo php bin/console mautic:queue:process --env=prod -i page_hit

In Container.php line 348:

You have requested a non-existent service "old_sound_rabbit_mq.mautic_consumer".

We are on v3.3.3

Seems like it was reported earlier but marked

[2021-08-27 10:57] myupchar commented on #9052
Filed here - https://github.com/mautic/mautic/issues/10378 (for future reference)

This has been reported earlier as well but it went stale.

[2021-08-30 06:44] mabumusa1 commented on #9400
I have the same issue on multiple installations I run, I can not duplicate the exact error on my local machine, but I think it has to deal with the way links are being serialized. I do not think it has to deal with a specific transport.

I will look into a way to replicate this issue and solve it

[2021-08-30 09:40] #9986 closed, assigned to nobody

[2021-08-30 18:21] rafalsk opened #10383 "import tasks not being processed"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

we're importing CSVs 5k rows per file. in-browser imports work fine; off-line server-side imports do not get processed. these ere enqueued and stuck at 0% forever

### How can we reproduce this issue?

Step 1: 5k rows per file
Php 7
IIS

### Relevant log output

[2021-08-30 18:23] rafalsk commented on #10383
![image](https://user-images.githubusercontent.com/9338163/131386192-8bc7db6a-1ab5-4d12-8dd8-b7ae3c134aab.png)
Like seen above, the web-imports work fine, the ones put into the server-side processing  queue are to remains stuck forever.

[2021-08-30 18:39] rafalsk opened #10384 "Adding filters to Segments has no effect"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

Few thousands of contacts; each with an email fields set and reported. Contacts do not assigned to any group. Now after creating a Group with a single filter matching Contacts with the email fields as NOT empty. The result? 0 contacts get matched.

### How can we

[2021-08-30 18:46] rafalsk commented on #10383
also, no progress is being reported during an 'online' import.
![image](https://user-images.githubusercontent.com/9338163/131389130-caf7025f-be69-4b9f-a0b2-4cb483f9e18d.png)
it's stuck like above until it completes.

When it completes it looks like this no idea what the error means:
![image](https://user-images.githubusercontent.com/9338163/131389217-42838c75-2102-49c7-b899-ef1676438289.png)

[2021-08-30 21:25] rafalsk commented on #10383
we've ensured all the cron tasks are running on our instance of Windows Server 2019 through Task managers; they succeed. The import tasks transit into processing state but nothing happens.

[2021-08-30 21:49] rafalsk opened #10385 "Some of the images are not being shown (all in email-builder 404 on files on IIS)"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

mautic/index.php/media/images/mautic_logo_db200.png
such an URL, seemingly a proper one is generated through the re-write rules we've implemented to mimic the ones facilitated by Apache.  Still the file is not served.

As seen below:
![image](https://user-images.

[2021-08-30 21:52] rafalsk commented on #10385
that actually seems to be a problem with a rewrite rule pointing to index.php instead of a folder... I'm closing this issue as it got resolved through additional rewrite rules.

[2021-08-30 22:38] cloudpotions commented on #7301
updated:  If you go use /webservice.php (For example, https://YourVtigerUrl.com/webservice.php ) at the end of your starting URL, it will work.

[2021-08-31 06:44] rafalsk opened #10386 "Uploaded images not visible in Email Builder"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

When adding new images, the ones already uploaded and not being proposed in the pop-up box. One ends-up uploading them all over again, since once cannot select.
![Uploading image.png…]()

### How can we reproduce this issue?

Step 1: Like described above.

### Re

[2021-08-31 06:45] #10385 closed, assigned to nobody

[2021-08-31 07:32] alfredoct96 commented on #9674
I'll try to fix it

[2021-08-31 08:17] ghost opened #10387 "mautic:unusedip:delete not working in Mautic 4.0.0"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

Calling mautic:unusedip:delete command ends with error
[code]

The reason for this is doctrine/doctrine-bundle package.
Mautic 3.3.3 uses
[code]
This version had `getEntityManager` method
https://github.com/doctrine/DoctrineBundle/blob/1.2.x/Registry.php

Maut

[2021-08-31 08:55] rafalsk opened #10388 "Code-editing in Email-breaks the rendering"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

Extremely frustrating. Just try to use any of the e-mail templates with graphics/ buttons and try to change the URL it points to. By the way there's no UI element to modify the URL the button points to. Once you try you'll se items disappear and all the s** goes

[2021-08-31 09:50] rafalsk commented on #10388
Interestingly once the template is saved and opened-up again everything looks good.

[2021-08-31 11:36] rafalsk opened #10390 "mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError:"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

So... No emails are being sent out... in the background.
The Windows' Task Manager exectues them all fine. No errors there.

That's what within the logs
`[2021-08-31 06:18:43] mautic.ERROR: STAT UPDATE: Error communicating with the stat server: cURL error 60: SSL

[2021-08-31 11:41] rafalsk commented on #10390
I can see there's one serious code related error, another one suggests there's a problem with a certificate you use on your server to collect stats (by the way how does one opt-out from that?)

[2021-08-31 11:53] rafalsk opened #10391 "Campaign members not updated from a chosen segment"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

![image](https://user-images.githubusercontent.com/9338163/131498282-99d4de82-313a-4724-8b97-83295addcff2.png)

After creating a campaign, targeting a specific segment with (5K users)... as seen above.. none are being added..

Come on folks.. is it a Relase Candi

[2021-08-31 12:28] rafalsk opened #10392 "Queued mailing won't work ("swiftmailer.transport.real" service or alias has been removed)"
### Mautic Version

4.0.x series

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

A bug happened!
![image](https://user-images.githubusercontent.com/9338163/131502410-cd63a513-f417-4a60-a732-62a51ad1d961.png)

### How can we reproduce this issue?

Step 1: as seen above

The Cron Job is invoked as seen below:

`C:\Users\Administrator\Documents>

[2021-08-31 12:35] rafalsk commented on #10392
Boys boys.. what's up with this project...
We seem to have gottena round the issue by invoking directly
php C:\inetpub\wwwroot\project\mautic\bin\console swiftmailer:spool:send --message-limit=300 --env=prod

Still guess what no e-mail are being sent.

Update: the ones invoked manually to specific contacts are delivered
![image](https://user-images.githubusercontent.com/9338163/131503938-86d7bcf8-

[2021-08-31 12:51] rafalsk commented on #10391
Forget this one.. the particular Crone task was missing.

[2021-08-31 12:51] #10391 closed, assigned to nobody

[2021-08-31 13:08] donbowman opened #10393 "Missing check for sql execute return false"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

In app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php, we can see fetch() called, no check for 'false', and then assumes the result is an array, causing a later throw() error.

This can happen if a lead is deleted.

[code]

### How can we reproduce t

[2021-08-31 13:14] rafalsk commented on #10392
We got it to work on Windows Server 2019 IIS for CAMPAIGNS with the following cron settings invoked by Task Scheuduler:
`php C:\inetpub\wwwroot\project.org\mautic\bin\console mautic:segments:update --env=prod
php C:\inetpub\wwwroot\project.org\mautic\bin\console mautic:campaigns:update --env=prod
php C:\inetpub\wwwroot\project.org\mautic\bin\console mautic:campaigns:trigger --env=prod
php C:\inetp

[2021-08-31 13:19] rafalsk commented on #10383
We've managed to capture the error the first time the task is executed:
`Import failed. Reason: There was a database error: The EntityManager is closed.. The import was set to delayed state and will be imported later.`
![image](https://user-images.githubusercontent.com/9338163/131509585-9ddbbe63-521d-4d17-b684-e4544ed02726.png)

and yes.. the file is UTF-8 encoded.

[2021-08-31 16:09] jstawski opened #10394 "Very slow query when opening an email."
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Chrome

### What happened?

With an instance of Mautic with 1.9 million leads, 5.3 million lead_lists_leads, and 7.5 million email_stats the **emails/view/{id}** screen takes forever to load, if it even loads. We identified the problematic method to be [getEmailPendingQuery](https://github.com

[2021-08-31 16:34] jabaco commented on #9887
This issue is still persistent in V.4 and using amazon SES API

The from name never gets honored from global configuration or per email configuration...The from name is always replaced by the email address... please add a fix to this since most users make use of Amazon SES Api to send emails...

[2021-08-31 16:45] donbowman opened #10395 "The entity-class Mautic\DynamicContentBundle\Entity\DynamicContentLeadData mapping is invalid"
### Mautic Version

4.0.x series

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

[code]

see https://github.com/mautic/mautic/issues/5847 for very similar issue

### How can we reproduce this issue?

install 4.0 from scratch
run  mautic doctrine:schema:validate

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm t

[2021-08-31 18:05] RCheesley commented on #10392
Hey there, firstly thanks for raising your 8 issues over the past day. It's great to see you're testing Mautic and helpful that you've taken the time to report bugs when you found them.

This bug (or at least something similar) was fixed in the 4.0.0 release with this PR: https://github.com/mautic/mautic/pull/10352. Are you running 4.0 or an earlier release? We will update the issue form to make i

[2021-08-31 18:05] jabaco commented on #9887
If this cannot be fixed soon is there a quick hard coded modification that we can do in order to force the from name??

[2021-08-31 18:06] RCheesley commented on #10386
@adiux this may be something relating to the movement of assets from the builder. Are you able to give any feedback here?

[2021-08-31 18:08] RCheesley commented on #10392
Also as an aside,

Some of us aren't boys. Let's try to use gender neutral terms eh, thanks! :)

[2021-08-31 18:15] RCheesley commented on #10390
Hey there,

Seeing as you are having trouble getting SSL certs for both the updates server:

and also for GitHub:

That would suggest to me that you have an issue either with your server configuration (curl, firewall, etc) or with being able to access/process certificates.  It does not seem to be relating to our updates server, which checks out fine at https://www.ssllabs.com/ssltest/analyze.html?

[2021-08-31 18:47] RCheesley commented on #10388
Hey there,

Firstly, we do not appreciate expletives in issue reporting, or indeed anywhere in our community. Assuming you will have read my other message regarding refreshing your memory with the Code of Conduct, and that one warning is sufficient, I hope that you will also edit this post to be more polite and helpful.

It seems that you have addressed the issue (by saving the email and opening i

[2021-08-31 18:49] RCheesley commented on #10384
Hey there,

Did you run the segment rebuild cron job? What was the output from the cron job?

Please provide a screenshot of the segment filter than you have configured so that we can better understand the nature of the issue.

[2021-08-31 18:55] RCheesley commented on #10383
For your online one, the error is telling you that no data was found on line 5003 - presumably because that's where the data ends :)

This generally means that there has been a problem with your database connection during the import. For some reason or another, it has dropped/closed the connection.

What database (type, version) are you using? What collation do you have set up?

Are you importing

[2021-08-31 18:59] RCheesley commented on #10394
Hey there,

Please take a look at the discussions over on https://github.com/mautic/mautic/pull/9406 :)

[2021-08-31 22:12] TreetopperFPV commented on #9804
Hi, I am new to Mautic and Github and am having the same issue with Mautic timing out.  I don't have the skills to fix this problem and I'm reaching out to others for help.  This fix of yours is way above my skillset and at the risk of being really naïve is there anyone who can assist me in installing your fix remotely? I'm have a lot of time invested just to install Mautic and would hate walk awa

[2021-08-31 22:49] rafalsk commented on #10390
@RCheesley  The server in question has no filtering of outgress traffic I am pretty sure of that; but seeing you're pretty sure of that theory as well; I'll have it checked and get back to you; it's 1 am over here and most of our folks are asleep:-)

Update: Confirmed that there are at least no issues with the server's outgoing traffic; as for configuration, well these are PHP/IIS defaults for the

[2021-09-01 02:13] MarkerB commented on #9804
There's no instant messaging on GitHub, but I'll try to help you here.

Describe the environment your Mautic instance is running under, and what Mautic version.  Do you have a way to edit files on your server?  [My fix requires the ability to edit a single file, putting several lines of code at the end](https://github.com/mautic/mautic/issues/9804#issuecomment-806422002).

[2021-09-01 02:17] MarkerB commented on #9804
If you can provide a way to reach you via a public post here, I can try to contact you directly. Just don't post your email or phone number plainly in this disucssion, since they would be vulnerable to scraping by spammers.

[2021-09-01 06:45] rafalsk commented on #10392
Happy to help.

Seems like you've released version 4.0.. 48 hours ago. We're still on the 'candidate' version. Will give the final thing a go in a sec.

Relax Chesley, would you; trust me; I know something about 'this' line, of work.

Glad you respond so fast!

Doing my best Cheesley!

Curious, how the release plays our here for us, will upgrade in a sec!

We would be more than happy to help Chesl

[2021-09-01 06:58] rafalsk commented on #10388
Relax Chesley, would you..

After saving and re-opening the rendering is fine, yeah.

Any from the available ones, nothing custom was created, you may give 'Paprika' a try, that's the one I've tried myself.

Now that's great! Thanks for pointing out the magic brush button; it works and most importantly editing items through it doesn't break the rendering.

Nope Cheesley; the fact that I got to kno

[2021-09-01 07:03] rafalsk commented on #10384
Cheesley, after we've set-up crone tasks on windows the right way the segments are updated without an issue. Closing now.

[2021-09-01 07:03] #10384 closed, assigned to nobody

[2021-09-01 07:29] rafalsk commented on #10390
Ruth, got it for you;

on a default Windows Server 2019/ IIS /PHP 7.4.12 configuration, the certificate of yours is not covered by the default Root Certificate Authority.

This for it to work, we've added a custom one provided by the Mozzila organization.

Fix to make it work on Windows:

1. download PEM from https://curl.haxx.se/ca/cacert.pem
2. append the following line to php.ini: openssl.cafil

[2021-09-01 08:05] rafalsk commented on #10383
It's the same thing with Mautic 4.0 Release, after cache was cleared.
![image](https://user-images.githubusercontent.com/9338163/131635258-597e2f6d-5120-4000-bd0d-6fcfcdd9d2fe.png)

MySQL 8.0 thought Mautic liked MySQL best, we may feed it anything it wants. Not sure what you mean by collation?

Distinct files, 5K entries each. It chokes right away when sees the file.

[2021-09-01 08:13] rafalsk commented on #10383
After the update to 4.0 **Release** even foreground tasks wouldn't go through.
I've just noticed that even if one sets the processing limit to '100' (default) and provides it with a file containing 5K rows it seems to be willing to process 5K entries anyway:
![image](https://user-images.githubusercontent.com/9338163/131636303-7a9cbbdd-e5de-4ab7-b264-b94127210c0e.png)
It now remains stuck indefinit

[2021-09-01 08:43] rafalsk commented on #10383
Now we haven't got a PHP guy around, but seems like "The manager is closed" is a cover-up error code for any kind of exceptions going on under-the hood and it most likely has nothing to do with DB's connectivity. If you could advise in on how to proceed with debugging this we surely would no other errors are to be seen in logs (none for online import and but the manager closed thing during offline

[2021-09-01 09:24] rafalsk commented on #10383
We took our time enabled full-blown logging on MySQL and what Mautic attempted to achieve, like it?
[MauticMySqlLog.txt](https://github.com/mautic/mautic/files/7089927/MauticMySqlLog.txt)

[2021-09-01 10:45] rafalsk commented on #10383
seeing that most likely s*** hit the fan seriously on our end with the database we wiped it out, since still could afford it, and with a fresh install server-side data imports work fine (so far).

Not?  Seems like said it too soon...

![image](https://user-images.githubusercontent.com/9338163/131658762-595a9271-124d-44f8-9639-b7f9aaba3914.png)
after such an error consecutive tasks wouldn't even tr

[2021-09-01 11:19] rafalsk commented on #10383
here's a full log of what's going on within the database during the upload process; as you may see there's something going wrong and a rollback is issued.
[importLog.txt](https://github.com/mautic/mautic/files/7090619/importLog.txt)
Narrowed it down to a field 'based department  Bindhu gents pg behind, SAP Labs Road, opp. Gopalan International School, Shivaji Nagar  Basavanna Nagar, Whitefield, Be

[2021-09-01 11:58] rafalsk opened #10396 "All E-mail templates in Mautik 4.0 Release are BROKEN"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

Seems like for 4.0 release you folks have upgraded the MJML semantics validator and now it detects errors in MJML and does not allow to save. Fair enough, still, all the tamplates that Mautic 4.0 are now broken and the processing engine wouldn't allow these to be saved.

[2021-09-01 11:59] rafalsk commented on #10396
By the way this also means that people with previously created templates, those based on current ones wouldn't be able to save/edit easily.

[2021-09-01 12:12] rafalsk opened #10397 "No way to unselect the brash tool"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

![image](https://user-images.githubusercontent.com/9338163/131669106-6c0a376c-dbfd-4d10-a842-34711e430ea9.png)

### How can we reproduce this issue?

Step 1: once selected no way to escape it.

### Relevant log output

_No response_

### Code of Conduct

- [X] I confirm

[2021-09-01 12:15] rafalsk opened #10398 "MJML visual editor adds ID tags which are now deemed as invalid"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

![image](https://user-images.githubusercontent.com/9338163/131669464-2fdf4790-eb37-47f3-a430-8cce9e9b656b.png)

now that's not a valid MJML.

### How can we reproduce this issue?

Step 1: like described above.

### Relevant log output

_No response_

### Code of Conduct

[2021-09-01 13:30] adiux commented on #10386
@rafalsk can you please upload the printscreen again? I dont see it

[2021-09-01 13:44] adiux commented on #10398
By default, I'm not getting the id on the mj-image tag. Can you please elaborate on how to reproduce?

[2021-09-01 17:18] donbowman opened #10399 "GrapesJsBuilder vs grapesjsbuilder in plugin_integration_settings"
### Mautic Version

4.0.0

### PHP version

7.4

### What browsers are you seeing the problem on?

Not relevant

### What happened?

I find that GrapesJSBuilder does not function (using the built-in in-tree). In particular, the config will not load, giving a 404 error.

The resolution is:

`update plugin_integration_settings set name = 'grapesjsbuilder' where name = 'GrapesJsBuilder';`

it seems t

[2021-09-01 17:35] jonathandhn commented on #10398
I've got this to happened. Invalid Id is added to images :        `<mj-image src="" id="iocri"/>`

|  Mautic | 4.0  |
|---|---|
| PHP | 7.4 |

This is the template I load :
[code]

This is the render once edited :
[code]

It can't be saved without code editing.

[2021-09-01 17:38] jonathandhn commented on #10396
That is true, because Mautic 3's GrapeJS was adding things like "REM" and "%" on the code.  I've got to remove errors from the code,  parsing to https://mjml.io/try-it-live/

[2021-09-01 17:40] RCheesley commented on #10390
That's great, we have zero folks helping us with testing in an IIS environment at all, so the more we can have testing pre-releases, the more likely we are to pick things up.

So the certificate thing is addressed but you still have the error with GrapesJS? It's helpful to try and separate out issues so that we can make sure there is clarity on what is being addressed.

Regarding the write up, gre

[2021-09-01 17:43] RCheesley commented on #10392
Hi there, thanks and good to hear that you're getting things sorted.

Generally speaking, please post initially on the forums at https://forum.mautic.org/c/support if you have an issue and you are not sure if it is server related or a bug with Mautic. The community will then help to troubleshoot and will then direct you over to GitHub if it is definitely a bug with Mautic.

Otherwise, our issue qu

[2021-09-01 17:47] donbowman commented on #10399
note: it appears we need *both* entries in the plugin integration settings, otherwise the assets uploadPath is unset.

[2021-09-01 17:48] RCheesley commented on #10388
Hi there,

There is no need to tell me to relax, as the Project Lead it is my responsibility to set the tone for the community.  That includes ​ensuring that the Mautic Community is welcoming to all, and the Code of Conduct is followed by all.

Several of your posts have been rude and  in some cases insulting, behaviour which is not welcome here. That needs to change, if you wish to continue inter

[2021-09-01 17:50] RCheesley commented on #10396
@jos0405 could you please take a look at this bug report please? Thanks!

[2021-09-01 22:52] rafalsk opened #10400 "E-mails targeting segment not enqueued ?"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

![image](https://user-images.githubusercontent.com/9338163/131755532-6fef1c31-d343-4b9c-beb6-c938f4dce7c8.png)

as seen above the system 'knows' it should be sending another few thousand messages.
I suppose this is to be accomplished through one of the Crone Jobs.
On my

[2021-09-02 05:31] adiux commented on #10398
Can you please verify if the same thing happens in the GrapesJs MJML Demo https://grapesjs.com/demo-mjml.html

I was not able to reproduce it there:
![image](https://user-images.githubusercontent.com/13075514/131787300-ba4c9b2f-6407-4d91-bd60-c6e49346b554.png)

[2021-09-02 06:25] rafalsk commented on #10400
Now that's bad :-(
![image](https://user-images.githubusercontent.com/9338163/131792909-32d4b1eb-7e08-4da1-b047-e2d03de201b2.png)
I see in the morning that supposedly no e-mails were dispatched... and I even do not know thus where thus the high CPU usage of a task spawned specifically to a user operating only your app (the very instance of dedicated php.exe) came from :-(

What's worst of it all i

[2021-09-02 06:50] rafalsk commented on #10396
The error checking is a great thing to have if these are highlighted within the code-view.

[2021-09-02 06:56] rafalsk commented on #10390
I'm glad to be of help.

I have opened a few other tickets do not know yet if they are related to this one. At this very moment I'm not seeing this error one mentioned in this very report so I might soon close it. Yes, the certificate issue got resolved.

Currently after sending few thousand e-mails 'it broke' (another report) so I'll keep this issue open for now.

[2021-09-02 07:00] rafalsk commented on #10392
We triple checked it's all configured to your documentation so this or that looks like a bug doesn't it? Glad to hear your community sounding helpful but we would rather be on the front line after being certain everything is done by the book so to speak and seeing it stuck.

@RCheesley as you might see most of the things (if not all) I report turn out to be confirmed bugs indeed. It costs us a lot

[2021-09-02 07:38] rafalsk commented on #10400
Ok folks listen up... after reading the documentation thoroughly I came over a line saying that a publish data needs to be set for broadcast e-mails to be making it into the queue.
All right, got it.

**Point Taken.**

**It's within the docs.**

Once set, I can see the e-mails being dispatched through the Cron Job (BAT file in my case).

**Still,** I strongly advise for the publish data to be set

[2021-09-02 07:46] rafalsk commented on #10400
Now what's worrying me is that as seen below, the emails::send command seems to be going through the sending process all over again?
![image](https://user-images.githubusercontent.com/9338163/131803618-44c2db6f-1c85-45f1-9274-41c59f05bcb7.png)

it's been stuck for long long.. I'm worried it's spamming users all over again with the very same message?

oh my...  just checked the mail server... it's

[2021-09-02 10:00] jonathandhn commented on #10398
OK goes to https://grapesjs.com/demo-mjml.html , then add an image at the top, I select "phone-app.png" from the demo library.

output is : `<mj-image src="./img/phone-app.png" id="i6j59"/>`

linked to : https://github.com/artf/grapesjs-mjml/issues/179

[2021-09-03 14:12] jos0405 commented on #10396
There are multiple issues. It seems, that the script that translates mjml to html is more "sensitive".
If you take the Truly Personal template for example: you open it and try to close it. You will see an error:
"Errors inside your template. Template will be not saved"
The culprit is, that before M4 we could use <mj-body width="100%">, but now doesn't work. Only if I use <mj-body width="600px">.
A

[2021-09-04 11:21] jos0405 commented on #10316
Hey @donbowman , could you also take a look at this one? https://github.com/mautic/mautic/issues/10262
It is also related to points and visits. Maybe your PR fixes that too?

[2021-09-04 11:37] jos0405 commented on #10397
Hi, the way the Brush tool works is, you need to click on the blocks.
1. You either build blocks
2. Or you customize blocks with the Brush.

![image](https://user-images.githubusercontent.com/4246909/132093058-364da801-e53e-4a23-8e1b-ecc5811491d0.png)

[2021-09-04 11:37] #10397 closed, assigned to nobody

[2021-09-04 11:38] jos0405 commented on #10377
Are you asking a multi-tenant solution for Mautic? The project doesn't focus on this feature, however plugins might be able to support it.

[2021-09-04 11:38] #10377 closed, assigned to nobody

[2021-09-04 11:47] jos0405 commented on #10398
I can confirm it.
Steps to reproduce:
1. Open template (should be MJML)
2. Add image
3. Open code view, you won't see any id.
4. Upload any image, you'll see the id in the code view.
5. Saving impossible.

If you:
1. Open template (should be MJML)
2. Add image
3. Open code view, you won't see any id.
4. Upload any image, you'll see the id in the code view.
5. Delete id
5. Saving possible!

https:/

[2021-09-04 13:27] rafalsk opened #10408 "Forms wouldn't work "Mautic is not defined""
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

_No response_

### What happened?

![image](https://user-images.githubusercontent.com/9338163/132095984-00a7f63f-40ac-4ce8-962a-c1059bf375e8.png)

When visiting a web-url one generated and proposed by the Forms-generator, the above errors can be seen.
No other errors reported in browser.

It's an

[2021-09-04 13:28] rafalsk commented on #10408
Same situation occurs when using the word-press plugin, with the exception  that there's no error about Mautic being undefined.

LIVE sample [here](https://gridnet.org/mautic/form/1)

[2021-09-06 00:42] sboytsov commented on #9054
still bug in v3.3.4. Any solution?

[2021-09-06 06:03] rafalsk opened #10409 "tracking on GMAIL is pointless as of now (proxy)"
### Mautic Version

4.0.0

### PHP version

7.4.19

### What browsers are you seeing the problem on?

Chrome

### What happened?

The situation has been reported already at least
 [here](https://github.com/mautic/mautic/issues/7884) and
[here](https://forum.mautic.org/t/mautic-tracks-as-email-read-when-email-is-not-read-by-user/11676/12)

I have in mind as this might be tricky to resolve but still

[2021-09-06 12:56] RCheesley commented on #10220
@rodrideme just following up on this, is it still an issue with Mautic 4?

[2021-09-06 13:12] LeonOltmanns opened #10411 "Contactimport fails for the contact if an apostrophe (') is in the Email"
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

While importing a larger batch of contacts by .CSV i noticed, that I get an error whenever the contact has an apostrophe in the email. For example: "test.o'neil@australia.com.au". The email-field does not seem to allow apostrophes if you import contacts.

On the other ha

[2021-09-06 13:45] alexhammerschmied commented on #10396
It seems that only the "Brienz" template stands the test right now. All other templates with html are not saving anymore... and it is impossible to get out of the builder - clicking the "back" button in the browser is working though.

But the funny thing is that even creating a new, valid mjml email once I started with one of the "broken" templates is not exepted as well...

[2021-09-06 13:48] alexhammerschmied commented on #10368
Yes I am and I will. Promise. 🙈

[2021-09-06 15:16] RCheesley commented on #10383
That would likely be an issue. Address information should be separated into the relevant fields, seems you have an issue with the file you are importing causing this information to all be contained in one field.

Closing the issue as this relates to your imported file and not to Mautic itself.

[2021-09-06 15:16] #10383 closed, assigned to nobody

[2021-09-06 15:17] RCheesley commented on #10390
Let's close this issue if you are no longer seeing the error. It can always be opened again if necessary.

[2021-09-06 15:17] #10390 closed, assigned to nobody

[2021-09-06 15:21] RCheesley commented on #10392
I have just downloaded the latest release from mautic.org/download and it downloads 4.0, please share where you found a link to the 2.x version?

[2021-09-06 15:23] RCheesley commented on #10396
@adiux is this something that has come in with the refactoring work perhaps? Can you take a look please?

[2021-09-06 15:29] RCheesley commented on #10400
Hi there, please can you post questions like this on the forums first, before you come here to raise an issue? The forums are where we provide community support and assist with troubleshooting.

Having a message limit of 40000 seems very excessive so I am not surprised your server is struggling. Setting it thus you are saying to process 40000 at a time, as [referenced in the documentation](https:/

[2021-09-06 15:29] #10400 closed, assigned to nobody

[2021-09-06 15:34] RCheesley commented on #10408
Do you have the Mautic tracking implemented correctly on the site and your CORS settings correct in Mautic?

This issue was identified and addressed in the General Availability release of Mautic 4. Please ensure that you are on the latest stable version and not on the Release Candidate version? Also try clearing your cache and rebuilding the forms if you have updated?

Note to team: probably a dup

[2021-09-06 15:35] RCheesley commented on #10409
Closing as a duplicate of https://github.com/mautic/mautic/issues/9798 which has several discussions on workarounds.

[2021-09-06 15:35] #10409 closed, assigned to nobody

[2021-09-06 15:37] RCheesley commented on #10411
Thanks for reporting the bug @oltmanns-leuchtfeuer - are you able to make a PR to address this?

[2021-09-06 15:39] RCheesley commented on #10399
Thanks for snagging that bug @donbowman - are you able to take a look at fixing it?

[2021-09-06 15:41] donbowman commented on #10399
to be honest, i don't really understand mautic, its codebase, etc.
What would be the intent here, to make it CamelCase? Will that affect folks who have it already in their database?
Seems everybody would hit this i think?
some things are using the CamelCase, some the lower case, i'm not sure what all calls this.

[2021-09-06 15:42] RCheesley commented on #10393
Thanks for raising this @donbowman, could you take a look at addressing this in a PR?

Also thanks for the info about how to reproduce - quite often the folks who are testing to reproduce an issue will not be developers but users of Mautic, so don't assume that a code snippet will necessarily allow folks to know how to reproduce the issue - the more help you can give the quicker we can get it test

[2021-09-06 15:43] RCheesley commented on #10378
Hi there, please can you test this with Mautic 4?

[2021-09-06 22:59] rafalsk commented on #10400
Ruth, you as the Project Lead, know best that we're no longer in early 70s. And processing of 40 000 of whatever it might be is anything but a large number of elements (we're talking simple input output + database queries, which here is the case). I strongly advise against throwing problems under the napkin :-)

[2021-09-07 08:14] LeonOltmanns commented on #10411
@RCheesley Made a PR that should fix this issue. :)

[2021-09-07 09:21] ttencate opened #10414 "Minimal MySQL version for Mautic 4 is not documented"
### Mautic Version

4.0.0

### PHP version

n/a

### What browsers are you seeing the problem on?

_No response_

### What happened?

On https://github.com/mautic/mautic/blob/0abd6b79738f7cf096b435d8f87ea998617e17c1/UPGRADE-4.0.md it says:

I think some version numbers should be put in the place of the x's :)

### How can we reproduce this issue?

n/a

### Relevant log output

_No response_

### C

[2021-09-08 11:22] RCheesley commented on #9800
@fitzg2 are you able to reproduce this in Mautic 4? Does this happen in any other browsers, or just Safari in the specified versions?

[2021-09-08 14:44] adiux commented on #10396
IMO the builder should not allow you to save invalid MJML. This would lead to unexpected behavior in the generated HTML. Which will most likely result in compatibility issues in the different email clients.

So I think we should fix the invalid MJML email templates for now.

I agree that the UX is not perfect and could be improved a lot. We should create a notification message or something similar

[2021-09-09 07:22] tejasync commented on #10220
@RCheesley This issue is reproducible in Mautic 4 as well.

[2021-09-09 08:16] tejasync commented on #10220
Prima facie, this is the problematic code: https://github.com/mautic/mautic/blob/4.x/app/bundles/FormBundle/Model/FormModel.php#L853

[2021-09-09 08:54] RCheesley commented on #8275
Anyone coming here from a web search please check the documentation here for how to set up Maxmind: https://docs.mautic.org/en/setup/maxmind-license

Make sure you use the correct syntax, which has changed from what was needed in the past.

[2021-09-09 09:54] LeonOltmanns opened #10416 ""Default Frequency Rule" seems to be activated by default"
### Mautic Version

4.0.0

### PHP version

7.4.3

### What browsers are you seeing the problem on?

Chrome

### What happened?

While testing email-queue today I encountered an issue where only the first email was sent out to a Segment, the next Emails that I wanted to send out to the segment got into the queue but were never sent out and also werent to be found in the Spool folder.

This seems t

[2021-09-09 10:08] RCheesley commented on #10416
I think this is related to (causing) #10275

[2021-09-09 10:13] luigicarlini1988 commented on #9918
Hi, we are facing the same problem on Mautic v3.3.4
followed all the steps provided in Mautic documentation to create a Preference Center page, but we receive a 500 error message when clicking on Unsubscribe button. Are there any news on this Bug?

[2021-09-09 10:56] LeonOltmanns commented on #10416
That seems pretty realistic. Maybe disabling the "Default Frequency Rule" until it is manually enabled and set could fix it?

[2021-09-09 11:56] jos0405 commented on #9946
Yeah, the mentioned PR fixes it.
![image](https://user-images.githubusercontent.com/4246909/132681432-e89709c7-984c-426e-b1d9-f6eed9c7bd73.png)
Tested, works.