[2021-02-26 14:05] danielwpsouza opened #9741 "Uncaught PHP Exception Mautic\CoreBundle\Exception\BadConfigurationException: " is missing a required config file""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-02-26 14:08] RCheesley commented on #9741
Going to ask the usual question first: Did you clear your cache after enabling the GrapeJS plugin?

[2021-02-26 14:12] danielwpsouza commented on #9741
Hello.
Yes, I cleared the cache, checked file permissions.
I disabled and enabled it a few times, always clearing the cache, even deleting the cache folder.

[2021-02-26 14:15] danielwpsouza commented on #9741
I have another installation on the same server with Mautic v3.2.0 and the GrapeJS Plugin, and this one doesn't have the error.
Both installations with the same versions of PHP, and the same themes.

[2021-02-26 14:24] RCheesley commented on #9741
We have this in the issue queue already https://github.com/mautic/plugin-grapesjs-builder/issues/51

This is expected behaviour. There is only the Blank theme by default in the Landing Page builder as we have not had any others shared by the community to include. Please check the docs where it explains how to make your existing themes available in the builder: https://docs.mautic.org/en/builders.

[2021-02-26 14:26] RCheesley commented on #9741
Moved this to the repo for the GrapesJS plugin as I believe that it is related to the plugin itself rather than Mautic Core.

[2021-02-26 14:31] RCheesley commented on #9725
Thanks for reporting this, it looks like the translation string in use:

"one: %count% strona|some: %count% strony"

is not an exact match for the ones that you highlight - from what I can see.

We have an [outstanding issue](https://github.com/mautic/mautic/issues/9606) with our release process whereby the language strings are not being updated and pushed to Transifex - I think that @alanhartless

[2021-02-26 14:38] RCheesley commented on #9727
I think we have a PR to address this - let me have a search!

[2021-02-26 14:41] RCheesley commented on #9727
https://github.com/mautic/mautic/pull/9580 Does this PR address the issues you are mentioning @colourfulowl ?

[2021-02-26 14:49] RCheesley commented on #9719
Thanks for reporting this, it does indeed sound like a bug. Assuming that all the other dates in your Mautic instance are working and it's not some issue with the system clock for example? Just wanted to check before we dive into looking to fix it!

[2021-02-26 14:50] RCheesley commented on #9716
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-02-26 14:50] #9716 closed, assigned to nobody

[2021-02-26 14:51] ceefour commented on #9040
This issue still occurs in Mautic 3.3.1. As @bizasa mentioned it worked in 2.16+ so this is a regression beginning with Mautic 3.0.

References:

* https://forum.mautic.org/t/2-16-campaign-restart-still-not-working/12873/5
* https://navigatetomorrow.com/tutorials/how-to-create-a-birthday-campaign-in-mautic

[2021-02-26 14:54] RCheesley commented on #9705
Thanks for reporting it @Wise-Gorilla.  Just to clarify, is the session cookie changing between the tests (ie indicating a new session)?

[2021-02-26 14:57] RCheesley commented on #9698
@vovchok thanks for reporting this. Have you checked the behaviour continues in 3.3.1? 3.2 is a bit outdated now.  You will need to be using PHP 7.3 or above though, in order to test.

If you are up for is could you look at writing a bit more about why this is an issue (ie what is the consequence of the omission) and maybe consider making a PR to address it?

[2021-02-26 14:58] RCheesley commented on #9697
Thanks for reporting this @nfakhour - would you be up for seeing if you could debug and maybe make a PR to address this?

[2021-02-26 15:04] RCheesley commented on #9696
Hi @omert37 have you checked what timezone you have set in your Mautic config? That will determine the display within Mautic.

There are two places to check, the global config:

![screenshot-mautic32 ddev site-2021 02 26-15_03_16](https://user-images.githubusercontent.com/2930593/109316787-df558d80-7843-11eb-9e4e-345ef3b6090e.png)

and your user profile:

![screenshot-mautic32 ddev site-2021 02 26

[2021-02-26 15:05] RCheesley commented on #9684
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-02-26 15:05] #9684 closed, assigned to nobody

[2021-02-26 15:08] RCheesley commented on #9674
Thanks for raising this, the company view feature was only added in 3.2 so it is a relatively new feature.

We would absolutely welcome some optimisation work if you would be up for making a PR to improve some of the queries - shout if you need any help with that!

[2021-02-26 15:09] RCheesley commented on #9674
Also pinging @alfredoct96 who contributed this feature originally!

[2021-02-26 15:17] RCheesley commented on #9673
This relates to folk who have updated from 2->3. We had to make some decisions on how to handle old migrations and this is I believe a result of that.

Per the docs we would suggest (after taking a full DB backup and confirm that it is a good backup) to run the [database schema check](https://docs.mautic.org/en/troubleshooting#2-try-to-fix-the-database-schema) as a first step.

Then if that has no

[2021-02-26 15:18] #9673 closed, assigned to nobody

[2021-02-26 15:24] RCheesley commented on #9633
I think that [this PR](https://github.com/mautic/mautic/pull/9658) may address the issue in campaigns - maybe it can be expanded to segments?

[2021-02-26 15:26] RCheesley commented on #9629
Thanks for raising this issue @anki630 - I have asked @mohit-rocks to take a look at this. Maybe you might consider taking a look at making a PR to have this be platform-agnostic?

[2021-02-26 15:26] danielwpsouza commented on #9741
Hello.
I solved the error as follows.

I see that the "CLASS ThemeHelper / Methods" in the **app/bundles/CoreBundle/Templating/Helper/ThemeHelper.php** file are not receiving any theme information, the data comes as NULL or EMPTY.

Even placing the indication ("builder": "grapesjsbuilder") in the theme configured as the default the error persists.

Solution (Provisional):

1. Edit the file "themes

[2021-02-26 15:36] RCheesley commented on #9644
Thanks for flagging up this issue @mabumusa1 - are you able to work on this or should we find someone to fix this?

[2021-02-26 15:39] RCheesley commented on #9621
@alanhartless are you able to look into this? Or @mautic/acquia-po can we have the community rotation person dig into it?

[2021-02-26 15:46] RCheesley commented on #9557
Please ensure that you are using Composer 1 - we will not be supporting Composer 2 until Mautic 4.

[2021-02-26 15:46] #9557 closed, assigned to nobody

[2021-02-26 15:50] mabumusa1 commented on #9644
@RCheesley I am working on a solution for it.

[2021-02-26 15:52] RCheesley commented on #9644
Amazing - thanks for letting us know!

[2021-02-26 15:58] RCheesley commented on #9551
@cpot any updates on this? Does it persist with 3.3.1?

[2021-02-26 15:59] wise-gorilla commented on #9705
mtc_sid cookie value changes between session on Firefox but it don't change on Chrome and Edge Chromium

[2021-02-26 16:00] RCheesley commented on #9540
@smcpeck would you be up for seeing if you can come up with a better way of doing this and making a PR?

[2021-02-26 16:40] cpot commented on #9551
We are still in 3.21, will keep you posted

[2021-02-27 06:56] escopecz commented on #9741
This is not related to https://github.com/mautic/mautic/pull/9570. The error is in different theme helper than that PR added.

[2021-02-27 08:53] kuzmany commented on #2992
I can take it. Any additional bounty welcome :)

[2021-02-27 19:28] lukassykora commented on #9621
Hi, I think the problem is in the CommonApiController::getBatchEntities. I think it does not return the entities in the right order. I am working on the fix.

[2021-02-27 19:34] mabumusa1 commented on #9644
The fix is on the attached PR

[2021-02-27 19:44] alanhartless commented on #9621
Yea. The problem is that the repositories are returning entities in a
default order defined by the repo. But getBatchEntities is then processing
based on the parameters key so they are mismatched.

There’s a line in the ID order helper that just returns by array key if
found to be numerical keys. Can that just be removed and let the logic of
ID mapping do it’s thing? If changing anything, be sure

[2021-02-27 21:23] t0mbe commented on #7272
I used your script to solve the problem. It was not clear to use, i spend to much time on it so I share my solutions with you guys hopefully this is clear:

I didn't check further maybe just adding to the template data-slot"dwc" slot's, include the {DWC} there and probably it works to...

[2021-02-28 16:56] jcmartinez opened #9738 "Upgrading from v3.2.5 to v3.3 or v3.3.1 breaks the dashboard"
## Bug Description
See description in the forum post: https://forum.mautic.org/t/unable-to-complete-upgrade-from-v3-2-5-to-3-3/18267

| Q   | A
| --- | ---
| Mautic version | v3.2.5 to v3.3 or v3.3.1
| PHP version | 7.3.27
| Browser | Chrome Version 88.0.4324.182 (Official Build) (64-bit)

### Steps to reproduce
1. Update from v3.2.5 to v3.3 or v3.3.1 using the CLI

### Log errors
See the forum po

[2021-02-28 17:02] jcmartinez commented on #9738
By the way, I noticed that there is a commit on https://github.com/mautic/mautic/issues/9709.
This is still happening.

[2021-02-28 21:20] jcmartinez opened #9740 "UTM tags not added to links inside email messages"
## Bug Description

The links inside the email messages don't have the UTM tags, even though they have been added in the email message editing page. This was noticed after sending a campaign where users clicked the links and Google anlytics didn't register the clicks.

| Q   | A
| --- | ---
| Mautic version | v3.2.5
| PHP version | 7.3
| Browser | Chrome

### Steps to reproduce
1. Create an email

[2021-03-01 09:48] RCheesley commented on #9741
@danielwpsouza would you be up for making a PR to address that issue?

[2021-03-01 12:52] mohit-rocks commented on #9628
Hi @michaellelis-hotmart
I tried to reproduce the issue and there seems tricky workaround from the `friendsofsymfony/oauth2-php` bundle.
I'll share the detailed steps that I tried on the postman.

Step 1:
Create the OAuth2 keys on our Mautic backend.
Goto `https://mautic.ddev.site/s/credentials` and click on `Add credentials`
I kept `http://localhost` as my redirect URI

<img width="353" alt="Cred

[2021-03-01 17:43] exsesx commented on #990
Any updates?

[2021-03-01 19:34] nickveenhof commented on #9656
#### Composer Initiative

:warning: Contributors are needed to support this initiative! :warning:

**Decide on folder structure that will be required for Composer Support**

Status: We're working this. It's actually a bit broader than a folder structure, but more a packagist / git repository structure issue. We're foreseeing repositories similar to the Drupal project. The team is working on a good

[2021-03-01 19:49] mabumusa1 commented on #9627
@pavvel11 this issue you should be solved by this PR https://github.com/mautic/mautic/pull/9735

[2021-03-01 19:51] mabumusa1 commented on #9540
@mlahlouh How do you think we can solve this issue?

[2021-03-01 20:40] danielwpsouza commented on #9741
Hello.

I updated one more installation and I'm having the same error, but this has not been resolved with the edits in the themes' config.json files.

I'm new to Synfony and Mautic development.

I started investigating the error with the plugins/GrapesJsBuilderBundle/Controller/GrapesJsController.php file
I'm doing the mapping by checking the standard edition of Mautic.

I notice that in line 70

[2021-03-02 07:38] mlahlouh commented on #9540
@mabumusa1
Mautic install script should insert a record with value 1 for ID for administrator, should not relay on MySQL auto-increment.

and this will work fine in Galera Cluster, Single server, and Master-Master setup. (MySQL, MariaDB, and Percona)

[2021-03-02 08:13] lukassykora commented on #9621
The PR is: https://github.com/mautic/mautic/pull/9745. It goes to the 3.3 because the 3.2 has some failures.

[2021-03-02 10:52] dsp76 commented on #9719
No system clock is correct. If it was a wrong date, it would only shift in one direction - not in both?

[2021-03-02 11:07] RCheesley commented on #9621
Great - thanks for making the PR @lukassykora!

[2021-03-02 13:47] RCheesley commented on #9740
Hi there, thanks for reporting this. Does it persist in the latest release, 3.3.1?

[2021-03-02 13:49] RCheesley commented on #9738
Thanks for reporting this. Can you check to see if you have any errors in your log? What about the browser console?

Also does this persist after clearing the cache?

[2021-03-02 13:51] RCheesley commented on #9741
Ok let's see if anybody from the builders initiative team can shed any light on this!

[2021-03-02 13:53] RCheesley commented on #9696
@omert37 did this resolve the issue for you?

[2021-03-02 14:31] npracht commented on #9624
Hi @andrew-dixon did you have time to have a look at this ?

[2021-03-02 14:32] npracht commented on #6011
@tompon can you test https://github.com/mautic/mautic/pull/7548 and confirm it solves your issue ?

[2021-03-02 14:35] andrew-dixon commented on #9624
@npracht See my previous answer https://github.com/mautic/mautic/issues/9624#issuecomment-778608447 😄

[2021-03-02 14:57] #9136 closed, assigned to nobody

[2021-03-02 14:58] npracht commented on #9497
I'll close this for lack of feedback and knowing that the builder itself is not responsive. You should start from template or use the newly introduced grapes.js plugin for new email builder.

[2021-03-02 14:58] #9497 closed, assigned to nobody

[2021-03-02 15:10] npracht commented on #9624
Oh sorry i misunderstood ! <3

[2021-03-02 15:14] rivael commented on #9592
Well, I spend the last two days debugging it.
It appear that the scheduler is fetching the same contacts over and over again when the date is wrong or missing.

For now, I patched this in ./vendor/symfony/console/Helper/ProgressBar.php by throwing exception when the we reach the limit.
(I am not sure I am not harming something else):
    /**
     * Sets the current progress.
     *
     * @param i

[2021-03-02 16:46] omert37 commented on #9696
@RCheesley I already know about this. My system default has the correct timezone (UTC+2:00) and my personal user setting is set to the system default. Mautic is still stamping at UTC.

[2021-03-02 16:49] RCheesley commented on #9696
OK thanks for confirming that!

[2021-03-02 18:21] jcmartinez commented on #9738
Somehow, today the dashboard started working. I had cleared the cache multiple times and I tried using different browsers.
It works now. I'll report back if it happens again.
Thanks!

[2021-03-02 18:21] #9738 closed, assigned to nobody

[2021-03-02 18:27] jcmartinez commented on #9740
@RCheesley
I can't tell whether it is happening with 3.3.1 because after updating, my emails aren't going out. I'm opening another issue.
I'll report back on this issue as soon as I get the other issue fixed and can see if 3.3.1 is adding the UTM parameters.
Thanks!

[2021-03-02 18:57] jcmartinez opened #9750 "--campaign-limit flag on campaign trigger cron is not working after upgrading to 3.3.1"
## Bug Description

Yesterday I updated from 3.2.5 to 3.3.1. I must say, I never updated to 3.3.0 - not sure if this was needed.

I have a marketing campaign scheduled with a large number of subscribers that was supposed to kick in today, but no email message shows in the calendar nor any has been sent.

| Q   | A
| --- | ---
| Mautic version | 3.3.1
| PHP version | 7.3 and 7.4 (tested both)
| Bro

[2021-03-02 19:24] RCheesley commented on #9750
Looking back through the commits that introduced this feature it seems to be related to

Are your cron jobs setting a limit using

That would cause the error mentioned!

[2021-03-02 22:45] jcmartinez commented on #9750
@RCheesley - Thank you for looking into this so quickly.

Yes, I'm using a limit because I need to stay below a specific hourly threshold.
[code]
Before v3.3.1, the above cron used to put 50 messages per run in the var/spool/ directory. Then the following cron would send these 50 email messages out in smaller batches:
[code]
With this, I had a steady flow of email messages going out. I feel like t

[2021-03-03 04:08] bryanitamazonva opened #9751 "Email sender name not changing"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-03-03 09:43] RCheesley commented on #9750
I was referring to the years-old commit that introduced the limit feature - I had not come across it before!  However the issue that you are getting seems to be that you have already hit that limit, hence the message in the logs.

Maybe both campaigns are now running at the same time and you are hitting the limit? Are any emails going out at all?

[2021-03-03 09:50] RCheesley commented on #9751
Hi there,

Please take a look at the docs as regards the mailer is owner setting: https://docs.mautic.org/en/channels/emails/mailer-is-owner#how-can-i-override-this.

This would need to be disabled if you wish to use the 'from' address specified in the individual email.

[2021-03-03 10:42] jcmartinez commented on #9750
No, no email is going out at all. No email is being placed into the var/spool/ directory.

Does this mean that I should have only one campaign running at a time?

I've been keeping a previous campaign active, even though it already finished sending. Not sure whether this is necessary for users to unsubscribe, visit the links, clicks being tracked, etc. If not, I will stop it.

I upgraded straight

[2021-03-03 10:48] jcmartinez commented on #9750
I just disabled the older campaign that had finished running leaving only the new one. I still get the same error in the logs.

[2021-03-03 15:26] IgorGalic1 commented on #9716
Hello Sir, I dont see the button where I can post the issue on forum .
please advise.

On Fri, Feb 26, 2021 at 3:51 PM Ruth Cheesley <notifications@github.com>
wrote:

[2021-03-03 21:20] ekkeguembel commented on #9656
### Community Team
**Mautic Conference**
* Visual Design overhauled
* Announcement published
* Sponsorship open
* Call for Papers published

**Local Communities**
* testing name / URLs
* Draft document in progress

[2021-03-04 00:09] alanhartless commented on #9322
I think #8537 would address this as well but I had concerns about implications of the way it's fixing it. https://github.com/mautic/mautic/pull/8537#issuecomment-790174328

[2021-03-04 00:28] alanhartless commented on #9105
@CyberMarsl by "custom field" are you referring to a Mautic Form field or a Mautic Contact field?

`I have a custom field, which you can select mutliple checkboxes. This field is not stored in the user database (should be!) but I can access it via campaign check form field.` The only field in Mautic that can be configured to not be persisted to the database is a Form field and those are not access

[2021-03-04 00:35] alanhartless commented on #9553
@stremshs can you try using a double percent symbol and see if that is properly transformed to a single when the signature is used? Symfony parameters with the `%` has to be escaped with another `%`. That should allow you to save the configuration, I'm just not 100% sure if it will be transformed correctly back to a single `%` when consumed.

[2021-03-04 00:42] alanhartless commented on #9624
@andrew-dixon Does the Email itself still exist in Mautic? Does the template originally used by the email still exist in Mautic?

Is there a full trace by chance for the exception in your log?

Does it happen for any email sent from Mautic (campaign, segment email/broadcast/blast, etc)?

I wasn't able to reproduce this.

[2021-03-04 04:28] valmedia commented on #9655
It seems like I encounter another problem with using link tracking with the email service provider.

So I went through the mautic code and it seems to be Mautic is adding the UTM tags to {contactfield=mwb_abncart_url} before replacing the dynamic content. Mautic should replace the dynamic content before adding UTM tags.

Another issue is that clicks will not be"tracked because the "dynamic content

[2021-03-04 10:13] martinstr commented on #9751
same problem here doesn't matter if you have "Use owner as mailer" on or off; it still chooses the settings from the global email settings.

[2021-03-04 19:51] andrew-dixon commented on #9624
@alanhartless Yes, both the emails and template still exist and it happens for all types of email. The "theme" used for the email isn't the same theme as the email, as the emails use a custom theme that is email only, so maybe it is related to that? The theme used for the unsubscribe page is one of the built-in theme, as per the details on the forum post, linked in my original posting.

[2021-03-05 06:33] Abdullah-Ali-Abbasi commented on #6618
I have tried everything and it still gives the same error:

Connection could not be established with host email-smtp.eu-west-1.amazonaws.com [Connection refused #111] Log data: ++ Starting Mautic\EmailBundle\Swiftmailer\Transport\AmazonTransport !! Connection could not be established with host email-smtp.eu-west-1.amazonaws.com [Connection refused #111] (code: 0)
++ Starting Mautic\EmailBundle\Swi

[2021-03-05 08:04] janus-reith commented on #9408
Any news on this? @npracht @kuzmany If you have fixed this, could you share the changes involved to get this working? :)

[2021-03-05 08:37] andrew-dixon commented on #9624
@alanhartless Sorry, forgot to say, the only error message I can see in any logs is the one posts above.

[2021-03-05 17:05] niket3960 commented on #8595
I am not seeing "Conditional" or "Dependency" tab under any of the field options? I would like to add conditional field in Mautic form like Parent field is Country and based on the selection I would like to display list of states.

Can someone suggest how I can achieve that?

[2021-03-05 20:43] jcmartinez opened #9755 "PHP Notice - Trying to access array offset on value of type null"
## Bug Description
On a freshly installed mautic this notice comes up in the logs when you go to create an email from template.

| Q   | A
| --- | ---
| Mautic version | v3.3.1
| PHP version | 7.4
| Browser | Chrome
| Database | MariaDB 10.5.9

### Steps to reproduce
1. Install Mautic
2. Import some contacts
3. Go to create a new email
4. This message will show in the logs

### Log errors
[code]

[2021-03-05 21:29] jcmartinez commented on #9750
This issue is happening on Mautic 3.3.1 on a fresh install.

Steps to reproduce on a fresh installation:

1. Install a fresh copy of Mautic 3.3.1, with PHP 7.4, and MariaDB 10.5.9 on a local linux environment
2. import 4000 contacts from CSV
3. create a segment that selects all emails
4. create an email using the Aurora template
5. created a campaign to be executed at a relative time: 0 days, sche

[2021-03-05 21:44] RCheesley commented on #9750
Thanks for debugging this further, I have renamed the issue so that it is clearer that this is relating to the campaign limit flag. Hopefully it might be possible to find someone to work on this during the next few weeks as our next release is focusing on email!

[2021-03-05 22:04] jcmartinez commented on #9740
Tested on a fresh installation.

This problem is present in v3.3.1

[2021-03-06 01:13] TeeJayK commented on #7674
I am having the same issue. I ran the commands manually so I know that the paths are correct.

[2021-03-06 21:21] kuzmany commented on #9750
@jcmartinez

please can you check if this reverted code will works for you https://github.com/mautic/mautic/commit/32dbebdf7c2e4a8a866952cb8f5861e813bd376f#diff-cdc167810713fe9774f2fb69e11deed430454d5af018220dd25b3100f172f6f3R250

I mean  replace

`} elseif ($this->campaignLimit <= ($this->campaignLimitUsed + $reduction)) {`

to

`} elseif ($this->campaignLimit < ($this->campaignLimitUsed + $reduc

[2021-03-06 21:40] kuzmany commented on #8595
@niket3960 It's still in progress https://github.com/mautic/mautic/pull/8794

[2021-03-06 22:21] kuzmany commented on #9750
@jcmartinez fixed https://github.com/mautic/mautic/pull/9756 . Please test

[2021-03-08 07:47] adiux commented on #9997
@weismannweb @RCheesley I do get a JS error message related to Froala. Do you see the same?
`Cannot read property 'nextSibling' of undefined`
![image](https://user-images.githubusercontent.com/13075514/110290268-e0787e80-7fea-11eb-9664-c3067ca00cf9.png)

[2021-03-08 07:50] weismannweb commented on #9997
no i dont, just the 3 keys (del, bcksp, space) are suppressed with no errors, did you try typing a space and did it actually create a space inside the button?

[2021-03-08 07:57] adiux commented on #9997
@weismannweb they are suppressed for me too. If I select all the text and overwrite it than it works. As soon as I create a space I get this JS error.

Looks like these markers are not set:
[code]

[2021-03-08 08:01] weismannweb commented on #9997
ok error not happening for me on chrome Version 88.0.4324.182 (Official Build) (64-bit)****

Note prev msg about remiving id did nothing, i was wrong

[2021-03-08 08:24] weismannweb commented on #9997
Hey @adiux im only guessing but while you are getting that error the froala issue it comes from sounds so different then what we have, perhaps the issue is in this file:

https://github.com/mautic/mautic/blob/features/app/bundles/CoreBundle/Assets/js/libraries/froala/froala_editor.js

I see a lot of code about backspace, delete and space.  Can you find ta suppression in there somewhere if you anal

[2021-03-08 08:25] weismannweb commented on #9997
Oh i see what you mean by a marker: function _startBackspace (marker) {

perhaps you are on track?

[2021-03-08 08:34] dsp76 opened #9758 "Contact view in campaigns stuck in 30 items view"
Contact list in campaigns view will not respect selected number of contacts in view.

![image](https://user-images.githubusercontent.com/1241376/110294235-e1f87580-7fef-11eb-8ee3-732f40130a90.png)

| Q   | A
| --- | ---
| Mautic version | 3.2.5, 3.3.1
| PHP version | 7.4
| Browser | any

### Steps to reproduce
1. go to a campaign with more than 30 contacts included
2. try to switch view to a diffe

[2021-03-08 09:47] martinstr opened #9759 "Image directory not opening"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-03-08 09:56] npracht commented on #9759
Hello @martinstr can you please test https://github.com/mautic/mautic/pull/9651 ? I think it solves your issue.

[2021-03-08 09:57] #9324 closed, assigned to nobody

[2021-03-08 09:57] #9401 closed, assigned to nobody

[2021-03-08 09:58] #6423 closed

[2021-03-08 09:58] #5967 closed

[2021-03-08 10:15] martinstr commented on #9759
Nope, the fix did not work.

[2021-03-08 10:18] npracht commented on #9759
Thanks for confirmation

[2021-03-08 10:29] markusrock opened #9760 "Conditional Logic generates an error message [$250 awarded]"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This is my first error message

[2021-03-08 13:18] semper09 commented on #9760
i have the same issue.

[2021-03-08 15:55] rzlatianu commented on #9656
**Marketing Team**

**Mautic instance in tests**
currently testing

**Recruit into the team**
Joey Keller to join the team
5 members active (Radu, Oluwatobi, Laurine, David, Joey)

[2021-03-08 16:10] RCheesley opened #9762 "Multiple areas of Mautic throw a 500 error"
## Bug Description
I came across this issue when running the Cypress DWC tests and found it to also be reported in Emails (see #9646 #9755 and /https://forum.mautic.org/t/notices-trying-to-access-array-offset-on-value-of-type-null/18008).

I found it by trying to open a DWC item that was created but others find it with using certain email templates (with the legacy builder) as listed in the forum

[2021-03-08 16:11] RCheesley commented on #9755
Thanks for reporting this - it has already been reported and affects other areas so let's track this in #9762

[2021-03-08 16:11] #9755 closed, assigned to nobody

[2021-03-08 17:37] dsp76 opened #9764 "Import of company details to a contact get lost"
Trying to import company data into several company fields (e.g. address fields, company email, company website etc.).
I have a list of contact - company (1:1 relationship). Import does work for the company name, but not for the other fields.

| Q   | A
| --- | ---
| Mautic version | 3.3.1
| PHP version | 7.4
| Browser | any

### Steps to reproduce
1. import a list with contacts with company detail

[2021-03-08 17:57] fakela commented on #9656
**EDUCATION TEAM**

**Google season of docs**: Proposal stage
Docs improvement
Multilingual inclusion in docs
More articles on the KB

**Current status:** in progress

[2021-03-08 22:04] jbouzekri opened #9766 "Mautic is changing my custom preference center page based on the email template"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

I setup a custom preference ce

[2021-03-09 07:46] kuzmany commented on #9647
The issue also come If user make custom field `company_id`
In this case company selector on contact edit page does not work properly

[2021-03-09 08:06] giomasce commented on #7953
Hi, I just notice I have this problem (or a similar one at least) on two independent Mautic instances. Neither of those uses loops, so there must be something else which is causing event log lines to be regenerated with the same rotation number.

This is what I see in the log:
[code]

Lead 8200 causes an integrity error and therefore stalls the campaigns for all the contacts in the same processing

[2021-03-09 13:13] RCheesley commented on #9751
Closing due to a lack of response from the poster.

[2021-03-09 13:17] jcmartinez opened #9769 "Campaign Execute this event at a relative time period, doesn't work"
## Bug Description

If you try to send messages only during the subscriber's business hours, you would use the scheduling configurations of the campaign; but, currently no messages go out.

Sorry I'm posting this again. I mentioned this on https://github.com/mautic/mautic/pull/9756, but apparently this is a different issue.

| Q   | A
| --- | ---
| Mautic version | 3.3.1
| PHP version | 7.4
| Brow

[2021-03-09 13:25] kuzmany commented on #9769
What you see in contact timeline after trigger campaign?

[2021-03-09 13:31] RCheesley commented on #9758
Thanks for reporting - have reproduced this is 3.3.1 - seems to be an issue with the pagination: https://youtu.be/-UP20NGPpwY

[2021-03-09 13:33] MarkerB commented on #9011
I have the same issue in a fresh v3.3.1 as well.

[ewanly](https://github.com/ewanly), I have a similar problem as you with being logged out after 10-15 minutes. I wonder if your endless login problem is specific to certain areas of the site. It seems to happen for me when I am in the configuration section. This leads me to believe it’s because of the way that section uses a page-within-a-page, vi

[2021-03-09 13:33] RCheesley commented on #9760
Thanks for reporting and confirming the bug folks!

[2021-03-09 13:35] RCheesley commented on #9764
Thanks for reporting the issue!

[2021-03-09 13:36] RCheesley commented on #9766
Thanks for reporting this and for offering to make a PR. Inviting @mautic/core-team to hop in and take a look at your suggestions!

[2021-03-09 13:47] jcmartinez commented on #9769
If you mean by contact timeline, the calendar page, then there is nothing in the calendar page.

If you mean after I click contacts under the campaign, then click one of the contacts, then under history tab.

I see:

Contact added to campaign, Campaign Name | Campaign membership change | February 28, 2021 10:27 pm

[2021-03-09 13:53] kuzmany commented on #9769
Now I see you are using queue sending.
You need send emails from queue by `php /app/web/list/bin/console mautic:emails:send`, do you it?

More: https://docs.mautic.org/en/setup/cron-jobs

[2021-03-09 14:34] jcmartinez commented on #9769
Yes, I'm using queue and yes `php /app/web/list/bin/console mautic:emails:send` is in my crontab. The problem is that no new email message is being generated. No new file is placed into the spool directory.

If you switch from "**at a relative time period**" to "**Immediately**", then email messages are generated and they are placed into the spool directory.

As a workaround, I can configure "**Im

[2021-03-09 14:42] RCheesley commented on #9011
Adding 'remember me' as a keyword as I struggled to find this issue again as was using the wrong words to search!

[2021-03-09 18:43] pwned555 commented on #8198
Confirmed this is still an issue as well when using MySQL.  We actually are using MariaDB on all environments except one and this isn't an issue on them so we updated the one environment to use MariaDB instead.

Note:  This is an issue anywhere you can add a date filter of empty or not empty I believe.  Off the top of my head this should cause issues in Campaigns, Segments, and Reports.

[2021-03-09 20:44] giomasce commented on #7953
More specifically, looking at the database the problem seems related to the fact that lead 8200 tried to re-enter a campaign in which they were already enrolled (by filling again the form from which the campaign is fed). The campaign was restarted in its third rotation, but Mautic didn't unschedule the second-rotation event that was scheduled at the same time. Thus for some time the contact was tw

[2021-03-10 12:45] tomekkowalczyk commented on #6957
I have the same problem Mautic 3.2.4  PHP 7.3.12

you know exactly what causes it?

`[Wed [1;33m[KJan 13 15:29:30.711116 2021[m[K] [php7:notice] [pid 19621] [client 147.92.179.114:30926] Doctrine\\ORM\\ORMInvalidArgumentException: A new entity was found through the relationship 'Mautic\\AssetBundle\\Entity\\Download#lead' that was not configured to cascade persist operations for entity: Mautic\\Le

[2021-03-10 13:54] ldrrp commented on #9592
Im not sure if this applies to both loops. It seems there may be two scenarios here of a loop relating to DST. But i think the best option would be to fix it at a higher level by fixing the datetime calculations.

Secondly for anyone reading. March 14th dont forget to set your clocks forward and run the query again the next day

[2021-03-10 15:18] luizeof opened #9775 "Type Error running Migrations from 2.16.5 to 3.1.1"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Type Error running Migrations

[2021-03-10 15:56] luizeof commented on #9775
@RCheesley change value from 1 to 0 works https://github.com/mautic/mautic/blob/features/app/migrations/Version20200422144300.php#L11

[2021-03-11 07:18] BethsyFR opened #9778 "Rate opening superior 100%"
Hello

The open rate on some emails sent, only to certain segments exceeds 100% at the end of the sending.
How to solve this problem?

Thanks

[2021-03-11 07:56] namratasaun commented on #1048
Adding to @that0n3guy there should be a possibility of custom events like book selected, order created with certain fields and then during filtering, there should be option to filter based on event count, event time (as in last time this event occured or number of time this event occured in  a month) and also based on the attributes/fields of each custom event.

[2021-03-11 09:15] jcmartinez commented on #9764
I have seen this issue in v3.2.5 and v3.3.0.

[2021-03-11 11:43] #9518 closed, assigned to nobody

[2021-03-11 11:44] #9414 closed, assigned to nobody

[2021-03-11 11:45] RCheesley commented on #9457
Closing this issue due to lack of recent activity.

[2021-03-11 11:45] #9457 closed, assigned to nobody

[2021-03-11 15:42] namratasaun commented on #7354
It still is true. what is the solution?

[2021-03-11 21:43] suresh-iyengar commented on #9319
I'm using Mautic 3.3.1 and "Modify contact's tags" disappeared from Form Actions.

Even though it is missing in the dropdown list, I was able to type "Modify contact's tags" in the search box under Actions to make it appear. However, on saving it, the tag does not show up. It disappeared.

[2021-03-12 07:29] adiux opened #9995 "Automatically build production files"
Problem
Currently the npm script `build` has to be run manually before a PR. The files in /dist are committed to the repo.

Solution
Github actions build the production files automatically.

[2021-03-12 07:30] adiux commented on #9995
@dennisameling is that something you could be interested in?

[2021-03-12 08:39] adiux commented on #10000
I learned that the <head> section of the template is removed when the Grapesjs builder is launched. Is there a reason for that?

![image](https://user-images.githubusercontent.com/13075514/110914567-d5895b00-8316-11eb-972b-37b3e22f0ea3.png)

[2021-03-12 09:37] dennisameling commented on #9995
So if I understand correctly, the process is as follows:

- In the https://github.com/mautic/grapesjs-preset-mautic repo, run `npm run build`, which writes `grapesjs-preset-mautic.min.js` and `.js.map` to the `dist` folder
- Copy those two files to the https://github.com/mautic/plugin-grapesjs-builder/tree/mautic3x/Assets/library/js folder in this repo

How does this sound:
- Set up a release proc

[2021-03-12 11:08] adiux commented on #9995
There is the same logic for the preset repo. So what we do here can be used there too. But my idea was only about this repo.

1. So code changes happen in the Assets/library/js folder.
2. Once they are ready we need to run 'npm build' (gives us Assets/library/js/dist/builder.js, and ... .map)

Note:
'npm build' integrates the preset with the rest.

[2021-03-12 15:01] mboron83 commented on #9003
This issue also occurs in version v2.16.5. What do you suggest to do?

[2021-03-12 15:19] pintobikez opened #9783 "Search company with more than one word doesn't work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Its impossible to search for th

[2021-03-12 15:22] #9783 closed, assigned to nobody

[2021-03-12 18:33] kuzmany commented on #2992
Fixed https://github.com/mautic/mautic/pull/9737
Please test

[2021-03-13 14:40] diamondtheta commented on #4972
Oh god, please help!
I got very similar error messages in mautic 3.3.1:

[2021-03-13 13:48:17] mautic.ERROR: [MAIL ERROR] Expected response code 250 but got an empty response Log data: >> MAIL FROM:  >> RCPT TO:  >> DATA  !! Expected response code 250 but got an empty response (code: 0) Log data: >> MAIL FROM:  >> RCPT TO:  >> DATA  !! Expected response code 250 but got an empty response (code: 0)

[2021-03-13 14:41] RCheesley commented on #8489
This is now resolved 🎉

[2021-03-13 14:41] #8489 closed

[2021-03-13 14:45] RCheesley commented on #9764
Maybe this is related/addressed by this PR: https://github.com/mautic/mautic/pull/9782 - could you take a look?

[2021-03-13 17:56] RCheesley commented on #9764
Confirmed this bug in action!

[2021-03-13 18:02] RCheesley commented on #9764
Unfortunately this is not resolved by #9782 (at least from my testing) so we would need to look at whether it is a case of the import function not having the ability to import those fields or if something is broken.

[2021-03-13 18:50] RCheesley commented on #9762
I also have the same issue when trying to add a new report, here is the stack trace:

[code]

[2021-03-13 19:03] RCheesley opened #9785 "Using Company ID in a report throws a 500 error"
## Bug Description
Came across this while testing a PR. Create a report including Company ID - I used Contacts as the source and these options:

![screenshot-mautic32 ddev site-2021 03 13-19_01_12](https://user-images.githubusercontent.com/2930593/111041103-8afb0200-842e-11eb-942b-a9933d1025f5.png)

Save the report and try to view it.

| Q   | A
| --- | ---
| Mautic version | 3.3.1
| PHP version |

[2021-03-13 20:22] RCheesley commented on #9762
Same error when saving a segment that had a filter of 'is not empty' on a custom date/time field:

[code]

[2021-03-14 07:58] jcmartinez commented on #9764
When this happened to me I have used custom SQL queries to populate the missing fields in the company table and the other table that matches both, the company and the lead.

When I do that I can see everything in Mautic; therefore, this is not a problem of the output, this is a problem on the input side.

As the author of this ticket said, only company name gets imported, the other fields in the t

[2021-03-15 07:32] npracht commented on #8491
Fixed in 3.3.2

[2021-03-15 07:32] #8491 closed

[2021-03-15 10:00] Pegasus-consultancy opened #9787 "Tracking contacts behaviour within different campaigns"
**Hi everyone,**

I was hoping to get advice on how to achieve the following.

**Assumptions**

- Each of our contacts can be included in multiple and different campaigns (based on the segment they belong to).
- Each of these contacts could answer positively to emails originating from campaign A, do not reply at all to emails originating
   from campaign B, or reply negatively to emails originatin

[2021-03-15 10:02] Pegasus-consultancy opened #9788 "Using ‘stage’ as a campaign condition"
Hello everyone!

Does anyone know if, when defining a campaign, it is possible to create a condition based on a contact’s ‘stage’?

What I’m trying to achieve is:
Have the ability to include a contact in campaign A and potentially be able to exclude it from campaign B, depending on what the contact’s stage (status of the contact within the sales pipeline) is.
As far as I understand, campaigns can

[2021-03-15 10:03] Pegasus-consultancy opened #9789 "Information about campaigns in contacts"
Hi everyone!

I’m currently setting up Mautic and I came across with a doubt. Is it possible to see the campaigns that contacts are related to? or how can I see this info?

I greatly appreciate your help!

Thanks!

[2021-03-15 10:04] Pegasus-consultancy opened #9790 "Opt-out option"
Hi everyone!

I am currently migrating to Mautic from Reply.io 1. I noticed that Reply has an option of opt-out and I wanted to know if there’s an option that could do that in Mautic?

I greatly appreciate your advice!

Thanks!

[2021-03-15 10:09] RCheesley commented on #9787
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-03-15 10:09] #9787 closed, assigned to nobody

[2021-03-15 10:10] RCheesley commented on #9788
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-03-15 10:10] #9788 closed, assigned to nobody

[2021-03-15 10:10] RCheesley commented on #9789
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-03-15 10:10] #9789 closed, assigned to nobody

[2021-03-15 10:10] RCheesley commented on #9790
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-03-15 10:10] #9790 closed, assigned to nobody

[2021-03-15 11:51] colourfulowl opened #9791 "Report (Table) Graph Panel Not Filling Space"
| Q   | A
| --- | ---
| Mautic version | V2 - V3.2.5
| PHP version |
| Browser | Chrome & Firefox

### Steps to reproduce
1. Create a report with a table panel view in it. For instance, the standard Submission of published Forms. The Panels at the bottom (.panel css class) don't fill the bootstrap column in Chrome and Firefox but it works fine in MS Edge. I've had this issue since v2 across multip

[2021-03-15 12:06] RCheesley commented on #9791
Hi there,

To rule out something being buggy with the dashboard sizing, what have you got set in this field for the widgets?

![screenshot-mautic32 ddev site-2021 03 15-12_05_10](https://user-images.githubusercontent.com/2930593/111150978-b7c22d00-8586-11eb-840d-1cb1b9e27011.png)

I tried this with 50% set for two widgets and it worked as expected.

![screenshot-mautic32 ddev site-2021 03 15-12_06

[2021-03-15 12:53] colourfulowl commented on #9791
Hi @RCheesley

Sorry I was supposed to change the title. This only effects the Reports or any legacy views that use .panel for the class. The Dashboards use a different system with the Card-flex and widgets.

It only seems to appear when you add a "table" in the graphs section of the reports. It does this any report you create that outputs a (Table) graph.

![mautic-panel-report-widths](https://us

[2021-03-15 13:36] RCheesley commented on #9750
Resolved in 3.3.2 Release Candidate coming soon! 🎉

[2021-03-15 13:36] #9750 closed, assigned to nobody

[2021-03-15 13:37] RCheesley commented on #9727
Bumped to 3.3.3 - please test the PR linked to this issue as it may resolve the problem for you.

[2021-03-15 18:30] imihandstand commented on #5308
Any updates on this? It would be really useful - the "getting points for email-opens" is useless, as for example Gmail downloads the tracking-image so all Emails sent to Gmail are marked immediately after sending as "opened".

[2021-03-15 21:47] sharon-asana commented on #7385
i hope someone could help me here, i'm sending the `contacts/batch/edit` with python while it was working before until i've migrated my Mautic installation to a new server.
i'm using a package i've added the batch_edit function to, since it didn't exist before. https://github.com/sharon-asana/python-mautic/blob/master/mautic/api.py

the data i'm sending looks like the following:
`[
{
"id":"1738833

[2021-03-16 01:45] HN-PRO opened #9792 "typo in date format"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This bug was fixed in [#7693](h

[2021-03-16 10:57] namratasaun commented on #3514
So basically we should't update in a dev environment?

[2021-03-16 11:05] RCheesley commented on #9792
Hi there,

We are no longer supporting Mautic 2. The last version was 2.16.5 so you should update as there was a serious security vulnerability which was patched in a recent release.

If this issue persists in 3.3.2 please request to reopen the issue.

Thanks!

[2021-03-16 11:05] #9792 closed, assigned to nobody

[2021-03-16 14:05] FlavioCostaeSilva opened #9793 "Mautic 3.3.1 SAML 2.0 SSO Logout with Keycloak IDP"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic redirects to "/ s / logi

[2021-03-16 14:07] RCheesley commented on #9793
Hi @FlavioCostaeSilva thanks for reporting this. Was this an issue before (eg it stopped working with the 3.3.1 release) or are you having trouble configuring it for the first time?

[2021-03-16 14:13] FlavioCostaeSilva commented on #9793
Hi @RCheesley,
Is my first time configuring it

[2021-03-16 15:39] Corsnec opened #9794 "Dublicated Contact created by logmein GoToWebinar Plugin"
## Bug Description

If a contact has attended or registered for several different GoToWebinars, the GotoWebinar plugin will create duplicate contacts with the same email addresses.
A fresh installation was used for testing. No custom field was created.

![grafik](https://user-images.githubusercontent.com/47634604/111334747-1f09db00-8674-11eb-9e6d-e2c6402486b7.png)

3 times a Contact with the same

[2021-03-16 15:42] RCheesley commented on #9794
Thanks for raising this bug @Corsnec! Hopefully we can have someone take a look at confirming it soon - are you able to dig into it yourself at all?

[2021-03-17 13:01] RCheesley commented on #9791
Gotcha - makes sense now!

Yes I see the same thing when I look at that report now:

![screenshot-mautic32 ddev site-2021 03 17-13_00_08](https://user-images.githubusercontent.com/2930593/111471417-c93f3c80-8720-11eb-862f-f807e9998d29.png)

Seems like a UI bug - would you be up for digging into it and making a PR?

[2021-03-17 13:05] RCheesley commented on #9793
OK sounds like it might be an issue with this specific provider then - will have to see if we can get someone to help troubleshoot. Are you able to auth with any other provider?

[2021-03-17 13:31] FlavioCostaeSilva commented on #9793
I work for a brazilian company, we use Keycloak IDP for all the identity management.
I will configure and try other IAM tool with SAML support. I will check if we have the same issue. After this, I back with the news for us
Thanks for help :)

[2021-03-17 16:25] giomasce opened #9797 "Reentering the campaign results in two logs scheduled for the same contact"
## Bug Description
Under certain conditions, leads reentering a campaign which they are already going through end up having two logs scheduled at the same time. This eventually leads to Mautic trying to insert duplicated logs, failing and stalling leads in the campaign (see for example https://github.com/mautic/mautic/issues/7953#issuecomment-794430819).

| Q   | A
| --- | ---
| Mautic version | F

[2021-03-17 16:34] kuzmany commented on #9797
Can you try these two fixes?

https://github.com/mautic/mautic/pull/9639
https://github.com/mautic/mautic/pull/9486

[2021-03-17 16:36] giomasce commented on #9797
Hi @kuzmany, thanks for your reply. Would you suggest to try them together, or one a time?

[2021-03-17 16:52] kuzmany commented on #9797
You can try one a time.

[2021-03-17 18:26] giomasce commented on #9797
Neither of the two fixed my problem, unfortunately.

[2021-03-17 18:43] incentfit-product commented on #7272
@RCheesley You mentioned work is already in progress on implementing CKEditor.  Can you link to the issue or where that work is being done so we can get a sense of when this bug will be fixed?

[2021-03-17 19:21] RCheesley commented on #7272
It is planned to ship with the next feature release, Mautic 4.0, in May.

[2021-03-17 19:52] elilogan commented on #9778
Select the contacts in the campaign and examine email opens in "History" Tab. If you find any **Mozilla/5.0 (Windows NT 5.1; rv:11.0) Gecko Firefox/11.0 (via ggpht.com GoogleImageProxy)** Your email was scanned by google thus the tracking pixel was served and it counts as one email open.
![Screenshot (8)](https://user-images.githubusercontent.com/35710540/111529623-5e95fd00-8730-11eb-93b5-2c9667a4

[2021-03-17 20:56] mabumusa1 opened #9798 "Email Protection Systems Generate Invalid Traffic"
| Q   | A
| --- | ---
| Mautic version |  ANY
| PHP version |  ANY
| Browser |  ANY

## Bug Description
This is not a Mautic bug by itself but it impacts Mautic a lot, there are many protection systems like https://www.proofpoint.com/us/products/email-security-and-protection/email-protection which do the following on the emails sent by Mautic
1. They collect all the emails
2. It parses the emails,

[2021-03-17 20:56] mabumusa1 commented on #9778
This issue is related to https://github.com/mautic/mautic/issues/9798

[2021-03-17 22:19] weismannweb opened #9799 "Large Cron Import fails 3/4 way through and next cron run does not pick up where it left off"
## Bug Description

Large Cron Import fails 3/4 way through and next cron run does not pick up where it left off

I did some further investigation and I might be hitting web hosting service limits even for cron initiated scripts: https://www.wp-tweaks.com/list-of-siteground-hosting-limitations/

It does seem after 4 minutes it stops.  But I  ran via manual SSH command mautic:import on a new dummy

[2021-03-18 04:55] mohit-rocks commented on #9762
@RCheesley
After this PR change, I am not able to reproduce the other two issues on local.
I think we are good to open this PR for testing.

[2021-03-18 07:04] kuzmany commented on #9798
We have a lot of discussion about that in company. We've talked about 2 solutions:

1. write algorithm to detect bots clicks depends on time/threshold and numbers of clicks. These require a lot of changes, new column is_bot in email_stats and channel_url_trackables etc.  The  the results would be questionable
This solution is something like HubSpot already done https://community.hubspot.com/t5/Ema

[2021-03-18 11:11] escopecz commented on #9656
### Makretplace Initiative

The PR is here: https://github.com/mautic/mautic/pull/9650 together with a TODO list. It’s functional, can be tested. I have some more tests and docs to write. I’d very much appreciate some help with UI as we discussed. Screenshots attached in the PR description.

[2021-03-18 12:13] fitzg2 opened #9800 "Safari 7.1.8/13.0.5 Form Submission Bug"
## Bug Description

SiteA > Simple HTML form which submits to
SiteB > Mautic install

The first time the site was loaded and the form submitted Safari threw a SSL warning even though the certificate is valid, then the browser went straight to the form which of course received 403 from Mautic.

We are getting the following warnings

![image](https://user-images.githubusercontent.com/17569693/111623

[2021-03-18 12:53] Corsnec commented on #9794
@RCheesley I'm not really able to dig into it. I just did a look into the table plugin_citrix_events. It looks like there is a problem with the case sensitive.  The big number is the lead_id.

![Unbenannt-1](https://user-images.githubusercontent.com/47634604/111628398-78971480-87f0-11eb-81aa-e8b059bd0a86.png)

[2021-03-18 13:05] kuzmany commented on #9794
@Corsnec maybe this could help you https://github.com/mautic/mautic/pull/9366
This PR prevent this case sensitive issues.

[2021-03-18 15:29] Corsnec commented on #9794
@kuzmany  #9366 Doesn't work on php bin/console mautic:citrix:sync just tested it

[2021-03-18 16:35] jsieber commented on #7841
This still exists in 3.3.1 Undefined index: ct in /opt/apps/mautic/htdocs/app/bundles/PageBundle/Controller/PublicController.php on line 458

[2021-03-18 17:02] FlavioCostaeSilva commented on #9793
Today I tried configure the auth0.com IDP online service, with SAML 2.0 support, but I had problems to configure correctly attribute mapping on Auth0 configuration interface

Due a lack of time, I will focuse on try to fix the issue with the Mautic SSO SAML Logout on Keycloak. On success, I will write a PR for Mautic team

[2021-03-18 17:02] #9793 closed, assigned to nobody

[2021-03-19 03:40] YosuCadilla commented on #9798
@mabumusa1 I developed a Mautic plugin for a client who had this problem.

This type of software is usually used by large companies running their own email servers.

We tried to find an elegant and scientific method to solve the problem, like identify the browser agent, IPs and looked at the data for other possible ways to isolate the bad clicks or the bad click producers and we tested a few, didn

[2021-03-19 07:56] kuzmany commented on #9798
@YosuCadilla thank you for your experiences

Did you increase or decrease that time tresholds?
That means after tweaking invisible link resolved 90% of bots clicks at least?

Yes, all urls are tracked, then it's easy to add before redirection routine (stats, redirect) some page and continue to standard redirection after passed verification.

[2021-03-19 11:26] YosuCadilla commented on #9798
Did you increase or decrease that time tresholds?
There isn't a perfect number, each click seems to take about one second (but can vary for each destination domain). So the final timings depend on the position of the invisible link relative to the rest of the links in the email and the number of links in the email.
For example, we ended using +/- 10 seconds, because the invisible link is in the mi

[2021-03-19 13:58] giorgiopaolucci opened #9802 "api filters operator issue"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hello,
I'm porting my mautic in

[2021-03-19 17:29] RCheesley commented on #9762
@mohit-rocks great - thanks for tracking this down and getting to the bottom of it!

[2021-03-19 18:13] RCheesley commented on #9762
@mohit-rocks This seems to resolve the issue for email - creating a new email using the Goldstar theme I no longer see the errors.

DWC does seem to have been fixed as that is no longer throwing an error for me.

When I checked with reports, if I have dev mode enabled and I edit the report then I still have this error being thrown:

[code]

[2021-03-20 14:10] RCheesley opened #9803 "Broken translation string in AB tests"
## Bug Description
Need to fix this as reported in #7787

![111818455-78297700-88df-11eb-8748-70492dfb489c](https://user-images.githubusercontent.com/2930593/111872765-d01ab900-8985-11eb-8728-314f81e900e9.png)

Broken by this commit: https://github.com/mautic/mautic/commit/95deda00a8361edb6d39b9a840b78705b81f7f74

| Q   | A
| --- | ---
| Mautic version | 3.3.1
| PHP version | 7.4
| Browser | Chrom

[2021-03-21 14:33] 14MR commented on #9011
I experience the same problem. Also noticed the problem appearing while navigating through the website and especially on iframe-like windows.

[2021-03-21 15:04] MarkerB commented on #9011
Hopefully this means this open issue is still being worked on.  Please let us know if you need more information.

Many of us are having a premature login timeout issue, and maybe we should not have posted in this "Keep me logged in not working" thread.  Should I open a new issue for those of us who are being automatically logged out after only 10-15 minutes?

[2021-03-21 15:41] RCheesley opened #9804 "Premature login timeout issue / session time can't be modified"
Mautic 3.3.1
PHP 7.4

Many of us are having a premature login timeout issue.  We are being automatically logged out after only 10-15 minutes.

To replicate:

Log in and then leave Mautic unattended for 10-15 minutes - many are getting logged out in this time.

_Originally posted by @MarkerB in https://github.com/mautic/mautic/issues/9011#issuecomment-803599004_

[2021-03-21 15:42] RCheesley commented on #9011
I have created a related issue #9804 - please add full details there on your Mautic setup - server tech stack, Mautic version, etc, to help with debugging.

[2021-03-21 16:35] logixbytes opened #9805 "Report Hide Field"
Hi guys,

I use Mautic regularly and find that HIDE field would be of a great help if it is added to the Reporting section.

Any ideas or updates on this if it is being worked on the feature.

Warm Regards,

Venkatesha

[2021-03-21 16:57] RCheesley commented on #9805
Hi there, please post your issue over at https://forum.mautic.org/c/ideas as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems or suggesting features :)

[2021-03-21 16:57] #9805 closed, assigned to nobody

[2021-03-21 17:06] 14MR commented on #9804
I experience the same trouble.
PHP 7.3
Mautic 3.3.1

[2021-03-21 17:52] MarkerB commented on #9804
To replicate:

Log in and leave Mautic dashboard unattended for 10-15 minutes - Refresh, and you are asked to login again.

"Leave me logged in" has no affect on this.

The cookies "mtc_id" and "mtc_sid" are both set to "session" scope, and both persist after the login has expired.

Firefox 86.0.1 or Chrome 88.0.4324.190
Mautic 3.3.1 fresh install
PHP 7.4.16
Apache 2.4.46
MySQL 14.14
cPanel v94.0.

[2021-03-22 08:15] leddhany opened #9806 "Problem with inodes and sending campaign"
Mautic version: 3.3.1
PHP version: 7.4.15
Steps to reproduce the error:

i am new on mautic and have less programming knowledge.

I am using SMTP service from share hosting.
i have no problem sending email before, but after problem with inodes on my hosting server, i remove all file *.message on  folder .../mautic/var/spool .

After that, i make new campaign with email, but no email received by my

[2021-03-22 15:10] vovchok commented on #9698
Yes, it remains in 3.3. The Stat object passes like third argument and it could be useful in custom transport extension but the Transport interface declares only two arguments. Did you forget to extend the Transport interface with Stat argument?

[2021-03-22 15:21] dsp76 commented on #9488
This is still broken in version 3.3.1... doesn't work for "including" nor for "equal".

[2021-03-22 16:19] insane85 opened #9808 "Feature Request: Date range at MauticCitrixBundle"
Hello all,

I found a to-do in your code where the time period should be configured when fetching the webinars from GoToWebinar. This has not been done yet, so I had to adapt the code directly. Could you estimate when this feature will be available in Mautic, otherwise an update of the plug-ins would undo our customisation?

To-Do found in line 175 CitrixHelper.php

Best Regards
Hüseyin

[2021-03-22 16:47] RCheesley commented on #9808
Thanks for raising this - if you have implemented the todo item why not make a PR to include that in core? Then it would not be a problem with future updates!

Here is some info on how to get started and make a PR: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests and feel free to ask for help in #t-product on Slack if you need a hand with anything (https://mautic.o

[2021-03-22 17:42] giomasce commented on #9797
I prepared a more detailed transcript of a session that shows the bug, including the integrity exception caused by the database. The campaign is set up as detailed in the original bug description.

### 22/03/2021: subscribed a contact to the campaign
* First email is sent
* Database dump
![snap1](https://user-images.githubusercontent.com/101675/112033057-5299a900-8b3d-11eb-8188-16c38b5e48cb.png)
*

[2021-03-22 18:14] directpromo opened #9810 "installation error: Could not scan for classes inside oneup/uploader-bundle/Tests/App/AppKernel.php"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When installing after the "comp

[2021-03-22 20:07] kuzmany commented on #9698
@vovchok stat object was added later in my PR
Add it to TransportInterface would break few plugins what already exists, then I do not decide put it there.
If you have time, feel free create PR with it for upcoming Mautic4 release

[2021-03-22 20:53] fitzg2 commented on #9800
![image](https://user-images.githubusercontent.com/17569693/112056440-c6848300-8b36-11eb-883b-d267682764ce.png)

Here are expanded warnings.

[2021-03-23 15:19] MapleSage commented on #9054
Any update or way around this issue, even with the latest Bitnami Certified 3.3.2 version I'm facing this issue.

[2021-03-23 16:15] successful-fella commented on #5793
Can someone confirm if this feature broke or working? For the first time, it tried fetching UNREAD criteria and after showed UIDs with success but no data gets inserted in table email_stat_replies.

[2021-03-23 17:56] 131events opened #9814 "500 error on SMS listing: /s/sms - bad query string"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-03-23 20:19] edwingenio opened #9815 "Softaculous Installation error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-03-23 20:22] a-sandris commented on #9797
Looks like we have the same issue at the moment.

[2021-03-23 20:46] pramirezrey opened #9816 "Cron is not working due to LazyCollection"
Mautic version is: v3.3.1
PHP version is: PHP Version 7.4.16
Database type and version is: MySQL 5.7
Browser: N/A

**Steps**

I setup all the crons as the guide said. When it's time to execute the cron, the action is not taken and the following error is shown in the Apache log.

**Crons**

*/15 * * * * php /home/xxxxxx/www/bin/console mautic:webhooks:process >> /home/xxxxxx/logs/cron_logs/cron_mau

[2021-03-23 23:04] chente38 opened #9817 "Builder does not appear on landing page"
Hi.

after updating, if i enable grapejs builder, i have no builder for landing page anymore.
there is no problem for email builder, but i cannot build landing page.

thanks in advance

 Mautic version | v3.3.2

[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report am

[2021-03-24 03:40] #9817 closed, assigned to nobody

[2021-03-24 13:08] mboron83 opened #9819 "Bugged mautic:campaigns:trigger task and base64 embedded images issue for Mautic 3"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When mautic is configured to em

[2021-03-24 13:11] RCheesley commented on #9819
Thanks for reporting this - we did seem to have a bunch of issues relating to the base64 feature - see also #9069.

Would you be up for looking into a fix for this?

[2021-03-24 19:58] tecnomaster opened #9822 "Mautic fails to send emails using SMTP or Sendmail from versions 3.2.5, 3.3.1 & 3.3.2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have been using Mautic for se

[2021-03-24 20:29] RCheesley commented on #9822
Closing as a duplicate of #9085

[2021-03-24 20:29] #9822 closed, assigned to nobody

[2021-03-24 20:34] RCheesley commented on #9816
The [forum thread you created](https://forum.mautic.org/t/cron-is-not-working-due-to-lazycollection/18683) is where we will respond to support requests.

[2021-03-24 20:34] #9816 closed, assigned to nobody

[2021-03-24 20:39] giomasce commented on #9797
I pushed a possible fix [here](https://github.com/giomasce/mautic/commit/e64a1d469cd1cbfa752511750a0c7d0eed2d4bae). It's probably quite bad code style because I have very little experience with PHP, but it might get the job done.

[2021-03-24 20:41] RCheesley commented on #9815
Hi there, please raise a support ticket with Softaculous here: https://www.softaculous.com/contact

[2021-03-24 20:41] #9815 closed, assigned to nobody

[2021-03-24 20:48] pramirezrey commented on #9816
Ok, perfect!

[2021-03-24 20:52] RCheesley commented on #9814
Hi there, I am not able to replicate this - 3.3.2 and I have Twilio enabled and can access /s/sms:

![screenshot-nimbus-capture-2021 03 24-20_50_55](https://user-images.githubusercontent.com/2930593/112381679-c3c69100-8ce2-11eb-95b9-a9be24ecda10.png)

Do you have any missing migrations if you follow the steps here (after taking a backup of course): https://docs.mautic.org/en/troubleshooting/update

[2021-03-24 20:59] RCheesley commented on #9810
Are you using Composer 1 or 2?

If you want to use Composer please ensure that you are using Composer 1, not 2 - the latter will not be supported until Mautic 4 as there are breaking changes needed to implement it.

We will look into why the file is not in the build any more - I suspect it may be due to Github Actions doing our release process nowadays and maybe it is ignoring the file!

[2021-03-24 21:00] RCheesley commented on #9806
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-03-24 21:00] #9806 closed, assigned to nobody

[2021-03-24 21:03] RCheesley commented on #9802
Hi there, here is the [Mautic 3.x upgrade docs](https://github.com/mautic/mautic/blob/features/UPGRADE-3.0.md) in case that helps to track things down - unfortunately our dev docs at [developer.mautic.org](https://developer.mautic.org) are rather out of date so they may not be much help (we are working on it!).

I'll post this in the Dev channel on Slack and see if anyone can assist.

[2021-03-24 21:06] RCheesley commented on #9800
Thanks for flagging the issue and for the error reports!

[2021-03-24 21:09] 131events commented on #9814
Hi Ruth,

Thank you for the email.  This problem has me quite baffled.

I don't have any outstanding migrations, I ran it again just now with "No
migrations to execute." as I've seen before.  I updated to 3.2.2 this
morning and the problem persists.

The error is always the same:
SQLSTATE[42S02]: Base table or view not found: 1146 Table
'mautic.sms_message_list_xref' doesn't exist" at
/var/www/htm

[2021-03-24 21:09] RCheesley commented on #9799
Hi @weismannweb thanks for raising this.  This is why we do not recommend using shared hosting environments.

They will often just kill a process if it is taking up too many resources and there is nothing that we can do in that situation. I strongly suspect that is what is happening here so it is not a bug with Mautic or something that we can fix, so I will close the issue accordingly.

[2021-03-24 21:09] #9799 closed, assigned to nobody

[2021-03-24 21:13] RCheesley commented on #9797
@giomasce could you please make a PR from your changes and link it to this issue by saying 'fixes #9797' in the description? That way we can review the code and discuss it in the PR.

Here's some docs on making a PR in case it is helpful: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests

[2021-03-24 21:13] weismannweb commented on #9799
But why does killing a process cause the import to stop and not able to start again?  Seems like it should fail gracefully and start where it left off on next cron run.  I hope mautic uses a proper queue library and not custom where things like this are handled in queue software design for such a purpose.  I think any other queue software would be able to recover from this.

What if the server is

[2021-03-24 21:17] weismannweb commented on #9799
I agree it might not be a bug but it its definitely an important feature request for all queues in mautic.

[2021-03-24 21:18] RCheesley commented on #9778
Closing in favour of centralising the discussions in #9798

[2021-03-24 21:18] #9778 closed, assigned to nobody

[2021-03-24 21:19] RCheesley commented on #9775
Why are you running the migrations manually rather than using the upgrade CLI tool? The upgrade CLI should be taking care of everything for you.

[2021-03-24 21:21] RCheesley commented on #9799
Please raise a feature request at https://forum.mautic.org/c/ideas for discussion - thanks!

[2021-03-25 06:51] kuzmany commented on #9799
Use `--limit` option for one import process in background.

`php bin/console mautic:import --limit=10000` every 5 minutes for example

[2021-03-25 07:09] kuzmany commented on #9814
Run

`php bin/console doctrine:schema:update --force`

Your DB schema is not complete.

[2021-03-25 07:17] MarkerB commented on #9804
I just couldn't use Mautic with it logging me out every 10 minutes, so I've hacked a workaround that will keep me logged-in indefinitely.  I know it's ugly and even wrong, but I needed to move forward after spending too many hours playing with PHP, Apache, and Mautic settings to no avail.

The hack basically uses AJAX to silently load the credentials configuration page in the background every 9 mi

[2021-03-25 08:56] ced-shubhamverma opened #9825 "Segment based on tag with operator "in" (including) not work in mautic 3.3.1"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-03-25 11:11] nickveenhof commented on #9129
This is how I solved it. Purely for your information. I got this error, but I also had https://github.com/mautic/mautic/issues/6063

This problem was due from an upgrade from 3.1 to 3.3, but potentially with issues coming back from 2.x

[code]

[2021-03-25 11:12] nickveenhof commented on #9129
I think Mautic should somehow have commands to execute these migrations in those steps as well - It's rather messy once you are in this state.

[2021-03-25 12:18] nickveenhof opened #9994 "A couple of Mautic specific building blocks such as segment list & save preferences are missing TPROD-208"
As the title mentions, A couple of Mautic specific building blocks such as segment list & save preferences are missing.
I am wondering if this is somewhere on the roadmap, a patch that I can help test or if this is still in the "needs help" phase? Pointers are very welcome, so maybe I/my team can help.

The existing mautic builder
![image](https://user-images.githubusercontent.com/161341/112470679

[2021-03-25 12:27] kuzmany commented on #9994
At the moment you're still able to use preferences center tokens https://docs.mautic.org/en/contacts/preference-center/customize-preference-center#tokens

[2021-03-25 12:33] nickveenhof commented on #9994
That's good - but I think it is a regression from the current ease of use. So I think this issue can serve as a todo to make those blocks as easily available as it was in the old builder :-)

[2021-03-25 12:43] a-sandris commented on #9797
We have applied a `possible fix` and so far looks like the error is gone. @giomasce please create a PR so that we have a chance to get that in the core.

[2021-03-25 15:10] 131events commented on #9814
Using this command does not fix the error, I received this message screen.

***@***.****:*/var/www/html*$ sudo php bin/console
doctrine:schema:update --force

 Updating database schema...

In AbstractMySQLDriver.php line 49:

  An exception occurred while executing 'ALTER TABLE
mautic_bundle_grapesjsbuilder ADD CONSTRAINT FK_6158D9A2A832C1C9 FOR

  EIGN KEY (email_id) REFERENCES mautic_emails (id)

[2021-03-25 16:28] Sagardeep-Singh commented on #7882
Hi, the clientID value is still missing in the plugin. If no one else is working on this, I can try fixing it and submit the code for consideration for a pull request.

[2021-03-25 16:36] RCheesley opened #9826 "Mautic 4: Unable to merge companies"
⚠️ This relates to Mautic 4 Alpha

## Bug Description
I am unable to merge companies - the merge happened but it threw an error.

NB the first time it happened I ended up with a contact of the same name as the company I was merging.

Edit: To rule out sample data being the issue I tried to merge two companies that I created manually and the error still occurred but the random contact was **not** c

[2021-03-25 16:43] RCheesley opened #9827 "Mautic 4: Sample data has FK constraint issues"
## Bug Description
I installed Mautic 4 from GH - when I load the sample data it works fine but trying to do it a second time I get a bunch of FK errors - I don't know if this is a M4 issue or persists from Mautic 3.x.

| Q   | A
| --- | ---
| Mautic version | 4.0-alpha1
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. Install Mautic 4
2. Install sample data using `ddev exec bin/c

[2021-03-25 16:52] giomasce commented on #9797
[There it is!](https://github.com/mautic/mautic/pull/9829)

[2021-03-25 17:00] kuzmany commented on #9797
@giomasce cab you show your campaign from comment https://github.com/mautic/mautic/issues/9797#issuecomment-804262839

That actions are chained or not?

[2021-03-25 17:14] RCheesley commented on #9826
There is something very strange happening with sample data I think.

https://youtu.be/YVDfd1CSdS4

Notice that the contacts being filtered do not actually have the company showing but some other random company.

I think that this may be related to the issue I raised some time ago in #9090 and not part of this bug.

[2021-03-25 17:43] RCheesley opened #9830 "Mautic 4: Unable to create social media (Twitter) mention"
## Bug Description
⚠️ This relates to Mautic 4.0-alpha1

| Q   | A
| --- | ---
| Mautic version | 4.0-alpha1
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. Create a social media mention monitor
2. Save - see the error below
3. Try to edit or delete - same error

### Log errors
[code]

[2021-03-25 17:44] RCheesley commented on #9830
Same issue for creating a hashtag monitor!

[2021-03-25 18:40] RCheesley opened #9831 "Mautic 4: Unable to edit user account"
⚠️ This relates to Mautic 4.0-alpha1

## Bug Description
When editing the logged in user profile (I added a position) a 500 error is thrown.

| Q   | A
| --- | ---
| Mautic version | 4.0-alpha1
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. Log into Mautic
2. Edit your user profile
2. Save

### Log errors
[code]

[2021-03-25 18:42] RCheesley commented on #9831
Also unable to create a new user - same error.

[2021-03-25 18:46] RCheesley commented on #9826
This error also occurred when I tried to delete a theme:

[code]

[2021-03-25 19:20] giomasce commented on #9797
Hi @kuzmany, does this snapshot answer your question? A more detailed description of the campaign is in the bug description.

![image](https://user-images.githubusercontent.com/101675/112531047-6a746580-8da7-11eb-9535-3478baf37040.png)

[2021-03-25 21:35] RCheesley commented on #7882
@Sagardeep-Singh that would be great if you are able to make a PR! Shout if you need any help!

[2021-03-25 21:49] suresh-iyengar opened #9832 "Mautic 3.2.2 Modify contact’s tags in Form Actions disappeared"
Mautic version is: 3.3.2
PHP version is: 7.3.22

Problem:
I upgraded our Mautic to version 3.3.2 and now the "Modify contact’s tags"option in the Form’s Actions just disappeared.

Log errors: none

Steps I have tried to fix the problem:
Even though it is missing in the dropdown list, I was able to type "Modify contact's tags" in the search box under Form Actions to make it appear. However, on savi

[2021-03-26 06:35] npracht commented on #9832
Hello,

Which type of form are you using ?

[2021-03-26 07:13] kuzmany commented on #9797
@giomasce yes, that's chained  type

I suppose to this kind of workflow should works

![image](https://user-images.githubusercontent.com/462477/112595679-0c796980-8e0b-11eb-97dc-711abeaa12fb.png)

[2021-03-26 07:22] kuzmany commented on #9797
@giomasce Did you setup also something  from relative time settings? (hours, days...)
![image](https://user-images.githubusercontent.com/462477/112596591-4eef7600-8e0c-11eb-8dff-9d60aa1bf2b2.png)

[2021-03-26 07:28] mboron83 commented on #9819
I'd love to but unfortunately I'm too busy right now. How about Mautic dev team? They know every line of code so fixing it wouldn't be tough for them.

[2021-03-26 08:31] giomasce commented on #9797
This is for the second event:
![image](https://user-images.githubusercontent.com/101675/112603953-f2915400-8e15-11eb-9653-060aee546ea4.png)

Third event:
![image](https://user-images.githubusercontent.com/101675/112604029-050b8d80-8e16-11eb-8e23-ad1509ac6730.png)

Fourth event:
![image](https://user-images.githubusercontent.com/101675/112604078-105eb900-8e16-11eb-86f2-f06b930aeb25.png)

[2021-03-26 08:33] giomasce commented on #9797
I don't understand, are you asking me to test? I can test that, but whatever my test gives, the bug I found is still there. I believe Mautic should never incur in an integrity database error and campaigns stalling, even with my graph.

[2021-03-26 08:49] RCheesley commented on #9819
That would be volunteers just like you - that is the 'mautic dev team'.

[2021-03-26 10:02] giorgiopaolucci commented on #9802
Hi Ruth, thank you for your feedback...Unfortunately I couldn't find any useful information in the docs you suggested and mautic code complexity is far beyond my skills to try to debug it and track this issue...
All the best.
Giorgio

[2021-03-26 11:42] RCheesley opened #9836 "Mautic 4: Configuring and enabling Twilio results in a 500 error"
⚠️ This relates to Mautic 4.

## Bug Description
On configuring Twilio and saving I encountered a 500 error.

| Q   | A
| --- | ---
| Mautic version | 4.0-Alpha1
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. Install Mautic 4
2. Configure Twilio and save
3. See the error below

### Log errors
[code]

[2021-03-26 11:56] RCheesley commented on #9994
Confirmed that I was able to add these using the editor button to add the tokens and it worked - agree we should have a block for that.

![screenshot-mautic4 ddev site-2021 03 26-11_54_54](https://user-images.githubusercontent.com/2930593/112628018-4443d980-8e2a-11eb-8ffd-c9155bdf50c0.png)
![screenshot-mautic4 ddev site-2021 03 26-11_55_22](https://user-images.githubusercontent.com/2930593/1126280

[2021-03-26 14:45] suresh-iyengar commented on #9832
I'm using the Campaign Form.

[2021-03-27 15:28] luiszxcv commented on #857
This greatly afflicts me too, slow mautic and database at 3.5 gb! This is unacceptable. Any improvements or suggestions for corrections?

[2021-03-27 15:28] luiszxcv commented on #857
I am Brazilian, forgive me for my English.

[2021-03-28 08:05] mabumusa1 commented on #9827
@RCheesley this bug exists in V3 as well. PR #9846 should solve it on both versions

[2021-03-28 15:39] RCheesley opened #9848 "Mautic 4: When applying a migration at CLI there is an error from ConsoleErrorListener"
## Bug Description
While testing a PR I had to apply a migration which threw an error:

[code]

| Q   | A
| --- | ---
| Mautic version | 4.0.-alpha1
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. Try to apply a migration at command line with `migrations:execute --up VERSION`
2. Notice the error

[2021-03-29 08:31] kuzmany commented on #9797
I've just tried understand what is issue. Now I think understand it.
You expect chained actions are scheduled based on action above.

Chained actions was added by this PR

https://github.com/mautic/mautic/pull/6187

Need investigate more later

[2021-03-29 15:18] Plato39 commented on #6775
I am also still seeing this error on 3.2.5

[2021-03-29 16:17] #9827 closed, assigned to mabumusa1

[2021-03-29 16:18] #9830 closed, assigned to mabumusa1

[2021-03-29 16:18] #9831 closed, assigned to mabumusa1

[2021-03-29 16:18] #9836 closed, assigned to mabumusa1

[2021-03-29 17:10] #9826 closed, assigned to mabumusa1

[2021-03-29 18:03] RCheesley opened #9857 "We should remove required validation from Redirect URI in M4 beta. Now it's not necessary I guess"
We should remove required validation from Redirect URI in M4 beta.  Now it's not necessary I guess

![image](https://user-images.githubusercontent.com/462477/112879356-5000fb80-90c9-11eb-829b-043cc57ac38a.png)

_Originally posted by @kuzmany in https://github.com/mautic/mautic/issues/9837#issuecomment-809588797_

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://

[2021-03-29 19:04] #9848 closed, assigned to dennisameling

[2021-03-30 06:04] Gregy1 opened #9866 "mautic.ERROR: UPDATE CHECK: Could not fetch a release list: 403 (rate limit exceeded)"
Hello!

I would like to share my problem with hope someone will indicate where the cause of it is placed and what to do to get rid of this error.

I did push the "Update Now" button to get my Mautic from 3.3.1 to 3.3.2 (my PHP Version 7.3.27). The update run properly till the last step where "An error occurred while checking for updates. Please try again later."

I checked the log and there is sti

[2021-03-30 12:30] npracht commented on #9832
Hi @suresh-iyengar this is what i was guessing. Campaign forms never had this action. You can:
1. Use standalone forms (they have this action)
2. Add the "add tag" action from the campaign behind your form.

Best,

N.

[2021-03-30 12:30] #9832 closed, assigned to nobody

[2021-03-30 15:57] giomasce commented on #9797
Actually, I don't think that the problem is with chained actions. They seem to work well. The problem happens when a contact, which is *already* in the campaign, subscribes again. What I expect is that the campaign restarts from the beginning, as the contact were subscribing for the first time, and therefore the currently scheduled events in the campaign are unscheduled. But this does not happen,

[2021-03-31 08:03] dennisameling commented on #9866
Hi @Gregy1! Mautic uses GitHub's API to check for new versions. This API is rate limited to [60 requests per hour for unauthenticated users](https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#authentication). You can do `curl https://api.github.com/rate_limit` from the command line to see your remaining API requests. So simply waiting for an hour and trying again might help!

[2021-03-31 08:12] dennisameling commented on #9866
Hm - just checked and before doing `bin/console mautic:update:find` my `remaining` API calls were 54, after it's 53. So not seeing any weird behavior there. @Gregy1 are you by any chance in an environment where many people use GitHub at the same time from the same IP address (e.g. in an office environment)?

[2021-03-31 11:14] Gregy1 commented on #9866
Hello @dennisameling Thank you for such a deep explanation!

First of all I am not in the enviroment where many people use the same IP. I do it from my home. So this doesn't seem a problem.

What can be inspiring is that my steps to this error was:

1. Announcement showed that version 3.3.2 is available to download

2. First I did a backup of the whole Mautic installation and I pressed the button

[2021-04-01 00:00] incentfit-product commented on #9760
I have the same issue as well and I have a simple use-case that might be of value to whomever can fix this.

Here's the campaign:
![image](https://user-images.githubusercontent.com/13243272/113225280-3b546d00-925b-11eb-8595-380a4132b55c.png)

Here's the "Check if Goals are enabled" Contact field value condition:
![image](https://user-images.githubusercontent.com/13243272/113225315-57580e80-925b-11

[2021-04-01 08:31] domparry commented on #9128
Hi there. Please can we re-open this issue. There's definitely a problem here. Our max execution time is set to 600 and we still get timeouts for this. The php process consumes 100% cpu until the email is saved. I'm going to install some debugging tools to see if I can see what's going on behind the scenes, but the error is as follows:

[code]

[2021-04-01 09:02] domparry commented on #9128
Hi again.

Ok, I have found my issue. It was a php dependency issue after an ubuntu upgrade. Removing the php deps and re-installing them solved the issue.

[2021-04-01 13:59] vesper8 opened #9871 "20k emails were suddenly sent over the last 24 hours and we can't understand why"
## Bug Description
We enabled email scheduling about 1 week ago.

This is my crontab

[code]

Then, nothing happened. We didn't schedule any new emails, we didn't even log in or touch Mautic.. nothing weird happened over the last week, then all of a sudden in the last 24 hours we're getting a ton of old emails that started sending.. I think those old emails, still published and still with 'pending

[2021-04-01 14:34] RCheesley commented on #9871
Hi @vesper8, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-04-01 14:34] #9871 closed, assigned to nobody

[2021-04-01 17:33] lfernandes commented on #9129
Excelent! 👏

At step *Generate SQL necessary to drop FKs* you might just want to replace: `mautic` to `$MAUTIC_DB_NAME`.

So the command will be:

[code]

[2021-04-01 19:37] dikdust commented on #9122
Sorry for necropost @NetOldie have you ever solved this problem ? I have solved the smtp part with suggested change but the imap part (I'm using dovecot) still persists. I'm on mautic 2.16.5. Something changed with 3.x version or I will obtain same issue ?

[2021-04-01 23:42] patricksimonian opened #9872 "Question: Confusion with API and Basic Auth"
Howdy there,

I had question with regard to using basic auth and the mautic API.  My use case is that I would like to run some jobs in the form shell scripts (in containers) against the Mautic API. For this reason an OAuth user is not ideal.

I've run into the 401 issues as described here #7509.

So my question is, who is the basic user? Is it the Mautic user found in the database or is it the Apa

[2021-04-02 07:39] dennisameling commented on #9872
Hi @patricksimonian, thanks for your question!

You'll need to use an existing Mautic user when using Basic Auth against the API. Make sure you activate both the API and Basic Auth under Configuration > API settings, and clear Mautic's cache (`rm -rf var/cache`) after that. Then Basic Auth should work.

A PR was just merged which adds support for OAuth2 Client Credentials: https://github.com/mauti

[2021-04-02 09:31] gaoxingliang opened #9873 "Question: how to update the headers for an email template"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hi, I'm trying to edit / update

[2021-04-02 10:15] kuzmany commented on #9873
You can do it in Advanced tab of create/update email page

![image](https://user-images.githubusercontent.com/462477/113407164-11ab5b00-93ad-11eb-9b44-ef999e785efe.png)

[2021-04-02 11:19] gaoxingliang commented on #9873
Hi @kuzmany, I mean how to update it by the api: `/api/emails/emailId/edit`.  In the api doc: https://developer.mautic.org/?json#edit-email it said I can use the http patch method to update some field. but I can't update the Custome headers even this field is returned when doing a http get `/api/emails/emailId`

[2021-04-02 14:55] lucky-naty commented on #9129
I tried this solution.
After
/opt/php73/bin/php bin/console doctrine:schema:update --dump-sql|grep -v 'The following SQL' > schema_update_phase3.sql
I get
ERROR 1452 (23000) at line 3: Cannot add or update a child row: a foreign key constraint fails (`mautic`.`#sql-7d69_a18`, CO
NSTRAINT `FK_5995213D55458D` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE)

[2021-04-02 14:57] lucky-naty commented on #9129
And I tried this.
As a result, I get this:
In AbstractMySQLDriver.php line 49:

  An exception occurred while executing 'ALTER TABLE campaign_leads ADD CONSTRAINT FK_5995213D55458D FOREIGN KEY (lead_id
  ) REFERENCES leads (id) ON DELETE CASCADE':

  SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails
  (`mautic`.`#sql-7d69_9fa`, C

[2021-04-02 15:30] lucky-naty commented on #9129
And now I'm having

 mautic.WARNING: PHP Warning - array_merge(): Expected parameter 2 to be an array, bool given - in file /app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php - at line 307 {"values":false,"byGroup":true,"object":"lead","fields":{"klik_po_knopke":{"id":"58","label":"Клик по кнопке","alias":"klik_po_knopke","type":"text","group":"core","object":"lead","is_fixed":"0","prop

[2021-04-02 18:12] arielbsd commented on #9804
I have the same issue running:

Mautic 3.3 (fresh install)
PHP Version 7.3.27

[2021-04-03 15:53] micheljung commented on #6498
If you're logged into Mautic, redirects don't work. Open the URL in a private tab and it will work.

[2021-04-04 14:19] elilogan commented on #9814
Try disabling the new grapesjs mail/landing page builder plugin and running doctrine:schema:update --force
If it's successful enable the plug-in and run it again.

[2021-04-04 14:33] 131events commented on #9814
Eli,

I disabled both Twilio and GrapeJS, ran the update. I still got the
following doctrine errors but now it appears to be working correctly.
Thanks for the help on this one.

***@***.****:*/var/www/html*$ sudo php bin/console
doctrine:schema:update --force

Updating database schema...

In AbstractMySQLDriver.php line 49:
An exception occurred while executing 'ALTER TABLE mautic_bundle_grapesjsb

[2021-04-04 21:07] karser commented on #8198
This PR #9876 fixes this issue, wdyt?

[2021-04-05 13:55] rivael commented on #195
I did erased all those tables.
The email stats remains...

[2021-04-05 16:00] skripka commented on #1752
@escopecz any updates on this? If workload is the issue happy to help out

[2021-04-05 18:07] neurohost opened #9879 "Error 403 amazon ses api"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
when trying to configure amazon

[2021-04-05 20:26] mabumusa1 opened #9880 "Broadcast Emails are sent twice for the same lead."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-04-05 20:28] mabumusa1 commented on #9879
This is not a bug,

Please configure SES API to use full SES Access and get the right access keys and then test. Please move this request to the forums to get support from the community.

Thank you for your request

[2021-04-05 20:28] #9879 closed, assigned to nobody

[2021-04-06 09:05] rvalle opened #9881 "Automatic MaxMind GeoLite 2 City: corrupted tar file"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-04-06 09:13] rvalle commented on #9881
I have been reading the threads about the recent addition of KEY to download the MaxMind location store.

Still I don't see any specific issue related to this tar file corruption.

When inspecting the offending tar file, I noticed the following:

[code]

Which looks like some HTTP headers got into the stream meant to hold the body only. then I run the following test:

[code]

Which seems like the

[2021-04-06 10:14] dennisameling opened #9883 "IntegrationsBundle: can enable plugin without entering required fields first"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Plugins that use the new `Inte

[2021-04-06 16:39] an3i opened #9884 "Can't load New Template Email"
Hi,

Mautic version: 3.3.2
PHP version: PHP 7.4.16
OS: Centos 7

Steps to reproduce the error: Channels > Emails > when I'm trying to load new template email I get blank page.

Log: [2021-04-06 18:32:53] mautic.CRITICAL: Uncaught PHP Exception RuntimeException: "Unable to write in the cache directory (/var/www/html/app/../var/tmp/twig/2d)." at /var/www/html/vendor/twig/twig/src/Cache/FilesystemCac

[2021-04-06 17:00] RCheesley commented on #9884
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

Looks like an issue with your cache directory not being writable from the error message.

[2021-04-06 17:00] #9884 closed, assigned to nobody

[2021-04-06 18:02] staringispolite commented on #8851
I had this same issue, and the only way I figured this out was that we paid a Mautic consultant. IMO this issue is causing real confusion which is costing your users money and time.

I think the _logic_ makes sense: the user has a hardwired switch that overrides automatic sending parameters, and that switch defaults to off so that beginners don't accidentally send. It's just that the English label

[2021-04-06 19:56] imihandstand commented on #7763
Is it safe to do this? What do I lose by doing this?

[2021-04-07 03:23] gaoxingliang commented on #9873
I fixed this by trying to update the emails table directly.

[2021-04-07 03:23] #9873 closed, assigned to nobody

[2021-04-07 08:17] mabumusa1 commented on #9880
After digging into this issue, I found that the send option via the web time out and make emails send as duplicates

[2021-04-07 08:17] #9880 closed, assigned to mabumusa1

[2021-04-07 09:35] dennisameling opened #9885 "IntegrationsBundle: INTEGRATION_CONFIG_BEFORE_SAVE event dispatched at wrong time"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The IntegrationsBundle has an e

[2021-04-07 10:53] jos0405 commented on #9832
Hello @npracht I checked, and this feature is available in 2.16. It just disappeared in 3+
Is it possible, that it disappeared by mistake? If so, can we reopen it? Maybe it's a quick fix.
![image](https://user-images.githubusercontent.com/4246909/113855435-4c900300-97a0-11eb-9565-39ee15ae388b.png)

[2021-04-07 21:30] russkiimike opened #9887 "“From Name” field does not show up on the emails received"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

When sending emails Mautic's “

[2021-04-08 00:57] magician7 commented on #6658
I'm also looking for solution for sending mails thru RabbitMQ mailer transport. Any suggestions?

[2021-04-09 10:36] jobiaya commented on #8471
Hey Mautic Community,

I found an alternative solution that I thought I'd share. I use [Polr](https://polrproject.org/) which is an open source url shortener. The installation is pretty easy and works just as well as bit.ly.

INSTALLATION INSTRUCTION: https://docs.polrproject.org/en/latest/user-guide/installation/
INSTALLATION TUTORIAL: https://www.youtube.com/watch?v=4mxR2WsKYt4

**IMPORTANT NOTE

[2021-04-09 12:04] jobiaya opened #9890 "MMS functionality in Twilio Integration"
Would be awesome to be able to send MMS text messages via the Twilio plugin. Text message alerts with images or emojis typically get a higher click through rate.

[2021-04-09 12:09] jobiaya opened #9891 "Send Individual Text Messages to Contacts"
Is there a way to send individual text messages to contacts? I found a tutorial that shows the capability, but don't see it in Mautic 3.1. Would be a great feature to add if it doesn't exist in open source version.

EXAMPLE: https://www.higher-education-marketing.com/mautic/send-individual-sms#:~:text=To%20send%20text%20messages%20on,many%20texts%20each%20one%20includes.

[2021-04-09 17:32] RCheesley commented on #9890
Hi there, please post your issue over at https://forum.mautic.org/c/ideas as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems or suggesting ideas :)

[2021-04-09 17:32] #9890 closed, assigned to nobody

[2021-04-09 17:32] RCheesley commented on #9891
Please post this on the forums - see other reply!

[2021-04-09 17:32] #9891 closed, assigned to nobody

[2021-04-10 04:36] ajaymulchandani opened #9892 "Text Messaging Not Visible in Mautic"
Hello,

In my Mautic installation "Text messaging" is not available as the option even after configuring Twillio.

When I go to Configuration > Text Message Settings, it says "Please, install messaging transport first".

How to install Please, "messaging transport"?

[2021-04-10 04:40] ajaymulchandani commented on #9892
Sorry, the plugin was not active, it is showing the option now.

[2021-04-10 04:40] #9892 closed, assigned to nobody

[2021-04-11 08:01] russkiimike commented on #9887
While testing email queueing/sending I noticed my command line output showed up with an following error after trying to send emails

`PHP Warning:  mb_encode_mimeheader() is bugged. Please use iconv_mime_encode() instead in /var/www/html/vendor/symfony/polyfill-mbstring/Mbstring.php on line 139`

A quick Google search yielded some character encoding answers on [stackoverflow](https://stackoverflow

[2021-04-12 12:06] pkaltenboeck opened #9896 "IpAddress->isTrackable() returns false"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I ran into the problem, that my

[2021-04-12 13:32] sharon-asana opened #9897 "wrong update when using batch/edit"
Hi,

First of all i wanted to thank everyone that is working on this great tool.

i've recently upgraded to Mautic 3.2.5 and i'm using `/api/contacts/batch/edit` for pushing a very big list of updates for existing contacts.

I'm calling the api using python and it worked with older versions of Mautic (2.15/2.16), but now the updates are very strange, if i put more than 2 contacts in the json, the

[2021-04-12 15:28] mabumusa1 commented on #9887
@russkiimike Please send the exact steps to reproduce and please share if you have any special characters in the from address or email address that you want to send from.

I've noticed a case like this while building SES transport

[2021-04-12 15:45] russkiimike commented on #9887
@mabumusa1 Hey I can't reproduce the email error as the "from name" stopped appearing by default (including whatever way you send the emails). They only thing I said that can reproduce the error (probably) was the mautic upgrade from 3.2.1 to 3.3.1 that's when it started happening on the fresh version.

As for the `PHP Warning: mb_encode_mimeheader() is bugged. Please use iconv_mime_encode() inste

[2021-04-12 18:48] dennisameling commented on #9897
Hi @sharon-asana, thanks for reporting this issue! I've transferred it to the main `mautic/mautic` repo since the API library is for PHP only. Since you mentioned it's also happening when you try with Postman (which directly calls the API), this repo is more appropriate and has more eyes looking at it.

Unfortunately we're a bit short on community capacity currently, so I'm going to mark this as `

[2021-04-12 22:26] sanmiayotunde opened #9898 "Zapier and n8n unable to create new contact on Mautic"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
We discovered that Zapier is un

[2021-04-13 10:32] namratasaun commented on #5161
hello, I got a 500 error when i selected email sent as the data source and used group by name. without group by it is working fine.
My mautic version - 3.2

[2021-04-13 10:33] namratasaun commented on #9617
hello, I got a 500 error when i selected email sent as the data source and used group by name. without group by it is working fine.
My mautic version - 3.2

[2021-04-13 12:18] RCheesley commented on #7882
@jjacinto0 please test the PR that addresses this: #9857

[2021-04-14 08:02] sharon-asana commented on #9897
Hi @dennisameling , thank you for the quick response, looking forward to see that being fix

[2021-04-14 17:31] adiux opened #9993 "Larger amount of images leads to performance problems"
Issue:
I have 270 images in the images folder. For each image the size is analyzed:
[code]
With 270 images this leads to load times >20s. And this not only on the loading of the asset manager in Grapesjs, but also on the regular Mautic pages like Dashboard, Contacts, etc.

[2021-04-14 21:10] stevedrobinson opened #9904 "V3 Feature regression: "Tags" filter missing on Dynamic Web Content [$65 awarded]"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic V2 allowed Tags to be us

[2021-04-14 22:07] namratasaun commented on #3969
hello, In data I am using emails sent and in group by I am grouping by Campaign, but it gives 500 error.

[2021-04-16 09:22] 3birds-ronak opened #9906 "Health Plugin does not work in mautic 3.* version"
We have installed the mautic 3.2.0 version and installed the health plugin but we are not finding any configuration part of the plugin and also we did not find of health plugin document file.

please help me out or please provide solutions as soon as possible.
I hope we will provide me some support for the plugin.

https://github.com/TheDMSGroup/mautic-health/

[2021-04-16 09:23] RCheesley commented on #9906
Hi there,

This relates to a third party plugin, not to Mautic.

As you have already raised an issue on the relevant repo I will close this issue.

[2021-04-16 09:23] #9906 closed, assigned to nobody

[2021-04-16 14:11] ivan006 opened #9907 "Unable to find template ":mautic_code_mode:base.html.twig""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
We are getting this error log w

[2021-04-16 14:24] RCheesley commented on #9907
Hi there,

You are currently running quite an outdated and more importantly [vulnerable version](https://www.mautic.org/blog/community/security-release-all-versions-mautic-prior-2-16-5-and-3-2-4).

Please update to 3.3.2 and re-test if the issue persists - there is every chance that it has already been addressed.

[2021-04-16 14:25] #9907 closed, assigned to nobody

[2021-04-16 18:36] jessec commented on #7710
This happened to me after I turned on bounce with a gmail smpt. Mautic modifies the return address

I echoed the tested email address > +bounce_6079d4ed95948083064862@Address

Swift_RfcComplianceException: "+bounce_6079d4ed95948083064862@Address set in PathHeader does not comply with addr-spec of RFC 2822."

[2021-04-16 18:39] stevedrobinson commented on #9785
I am getting this error by including a company field other than ID in a contacts report as well.

[2021-04-16 18:54] puneetsethi25 commented on #9814
tablename prefix is missing in the query builder. you just need to add. just need to add that at these 2 places:
[code]
and on
[code]

[2021-04-16 19:37] 131events commented on #9814
This resolved the issue, thank you.

[2021-04-16 19:40] 131events commented on #9814
Spoke too soon... The listing is just fine.  Now I can't access the Edit functions for SMS and creating a new SMS causes a 500 error when saved.

[2021-04-16 19:41] 131events commented on #9814
[2021-04-16 12:38:53] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\TableNotFoundException: "An exception occurred while executing 'INSERT INTO mautic_mautic_sms_message_list_xref (sms_id, leadlist_id) VALUES (?, ?)' with params [6, 46]:  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mautic.mautic_mautic_sms_message_list_xref' doesn't exist" at /var/www/html/vendor/d

[2021-04-16 19:57] 131events commented on #9814
This is so aggravating.

I cleared the cache after this fix, ran into these problems with new and edit functions.

I just cleared the cache again and rebooted the server and they seem to have disappeared.

So I suppose it's fixed now.  Thank you.

[2021-04-16 20:47] kroll07 opened #9908 "Segment view page, error in contacts tab - unauthorised access"
Hi,
I'm getting the error like below for segments created by a user with custom access. What permission needs to be added to a role in order of avoiding the problem.

```{"errors":[{"message":"Unauthorised access to requested URL: \/s\/segments\/view\/18?_=1618604615061\u0026mauticUserLastActive=205\u0026mauticLastNotificationId=","code":403,"type":null}]}```

The error is displayed in contacts ta

[2021-04-17 20:32] imizem commented on #9804
Just to bounce this up. Same issue here tried op's script above but hasn't worked for me. I do use [2FA](https://github.com/hostnetbr/mautic-googleauthenticator) from @pedrodejesus on my Mautic v3.3.2 and PHP 7.4 but no conflict as to that.

[2021-04-17 21:12] MarkerB commented on #9804
Are you sure the script is making it on to every Mautic page?  You can use your browser's development console to view the code, and even set breakpoints to make sure it's being run periodically.

Even without the development console, you can directly view https://install_location.com/media/js/app.js and see if the code is there at the bottom.

[2021-04-18 12:08] puneetsethi25 commented on #9814
is your table_prefix "mautic_mautic_"?? if not then you should MAUTIC_TABLE_PREFIX global variable for appending. I think maybe its appending the prefix twice

[2021-04-18 14:55] imihandstand opened #9909 "Form doesn't do "Successful Submit Action", stuck at "Please wait...""
## Bug Description
For whatever reason my form stopped redirecting the visitor if he submits the form - and the button stucks at "Please wait...". Even If I use "Display message" for "Successful Submit Action", the same happens: The button says "Please wait..." forever, without showing the message.

However, it add the contact correctly to Mautic, the form sends the email, etc.

I tested it with 2

[2021-04-18 15:06] imihandstand commented on #7498
Where do I have to add "Header always unset X-Frame-Options" exactly in the .htaccess-file of Mautic? I think I have this same issue - my Mautic is in a subdomain, redirects don't work, Safari shows "_Refused to display 'https://email.example.com/mautic/form/submit?formId=10' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'_"

[2021-04-18 15:16] imihandstand commented on #9909
I think I **temporarily** solved this now by adding to the .htaccess-file this:

_Header always unset X-Frame-Options_

I found this at https://github.com/mautic/mautic/issues/7498 , but I'm not sure if this is an okay solution, plus I might have to do it after every single update of Mautic... So I would still like to have a real solution :)

Thank you!

[2021-04-18 15:18] 131events commented on #9814
I think it was a caching issue. Even though I deleted the Mautic cache after the fix, something was still hanging around.  So I just rebooted the server and all worked fine from there.

Thanks again for the help with this one.  I assume it will be fixed in future versions?

[2021-04-18 15:47] imihandstand opened #9910 "Tag added to anonym visitor ID, instead of the identified contact"
**Originally, this is how it should work:**

1. A visitor visits a page with a Mautic-form, a new anonym user gets created (let's say anonym visitor-id 169)
2. After he **submits** the form, he gets an **email** with a link (for double-optin)
3. He clicks the **link**, which leads him to an **"Email confirmed"-page**
4. This page adds a **tag** "_DoubleOptin: Finished_", because of:
`mt('send', 'p

[2021-04-18 19:20] cleomarbrdias commented on #6178
não conseguir visualizar essa pagina, porém não tenho ModSecurity ativado e obtive o mesmo erro.

[2021-04-19 01:33] jamesjosh912 opened #9912 "Mautic "Add Contacts" Bug?"
Hello, I am trying to add contacts, but I am getting this error. Why is it asking for a password here? Is this some glitch, because all of the fields are clearly filled in.
![password blank](https://user-images.githubusercontent.com/68710900/115169965-78a76000-a08d-11eb-98d1-4ca4dd744ed1.png)

[2021-04-19 07:39] imihandstand commented on #9320
I have the same problem with **3.3.2** (and **3.2.5** before that). My post: https://github.com/mautic/mautic/issues/9910

[2021-04-19 07:46] wderuijter commented on #7498
@imihandstand I added it to the mautic folder. Which was located inside the default web root as a subfolder. I my case it was /httpdocs/mautic/.htaccess

[2021-04-19 07:59] RCheesley commented on #9912
Hi there,

You should be seeing the fields below for you to match - looks like the import file is not working as it should.

Please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-04-19 07:59] #9912 closed, assigned to nobody

[2021-04-19 10:44] namratasaun commented on #4414
is this resolved?
Having a similar issue. in number field, you can only type number

[2021-04-19 11:44] namratasaun commented on #3745
![image](https://user-images.githubusercontent.com/35791871/115230686-50257180-a132-11eb-8322-ab5293303a1b.png)

I have a field of type Number and when I try to use regex as a filter, I am not able to type a string as I am only able to type a number here.

[2021-04-19 12:42] RehanNischal opened #9913 "add more segment operators to some field types (other than text type)"
![Capture4](https://user-images.githubusercontent.com/43839944/115237909-badaab00-a13a-11eb-8901-648b69c8812e.PNG)
When I use regex filter while creating a segment, I am unable to use characters in the input field for the data types other than the text field.

[2021-04-19 12:50] huntr-helper opened #9914 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in mautic

👋 Hello, @alanhartless, @escopecz, @kuzmany - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/2-other-mautic and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on our [Discord

[2021-04-19 12:55] RCheesley commented on #9914
Hi there, please follow our process for responsible disclosures: https://www.mautic.org/mautic-security-team/how-to-report-a-security-issue. Thanks!

[2021-04-19 12:55] #9914 closed, assigned to nobody

[2021-04-19 19:14] dsp76 commented on #9913
seems to be related to https://github.com/mautic/mautic/issues/9487 ...

[2021-04-19 19:46] dsp76 opened #9915 "add error message when importing unexpected values in pre-created select fields (state, country, etc.)"
## Bug Description
We imported a test set of data into Mautic. "State" is a predefined set of data. By mistake we imported "Freistaat Sachsen" instead of the predefined "Sachsen" into the system (same with "Freistaat Bayern" instead of "Bayern").
![image](https://user-images.githubusercontent.com/1241376/115291738-642e9a80-a155-11eb-8561-59cfc628ae3b.png)

Now this data is written into the related

[2021-04-19 21:08] jamesjosh912 commented on #9912
Ok, thank you. How do I ask a question on there? There is no obvious "post a question" button.

[2021-04-19 21:51] jamesjosh912 opened #9916 "Where do I post a question on https://forum.mautic.org/c/support/8 ???"
Hi,

I am trying to post a support question on the mautic support page, but I see no "post question" button? Where is it?

https://forum.mautic.org/c/support/8

[2021-04-20 06:51] RehanNischal commented on #9913
Yes, it is related to that. Any solutions yet?

[2021-04-20 09:02] dsp76 commented on #9887
Same experience here with version 3.3.2.

[2021-04-20 10:12] RCheesley commented on #9916
You have to be active for a minimum amount of time, per the warning in the blue box at the top. Once you are ranked up you'll get a PM from Mautibot and a blue button will show to allow you to post.

[2021-04-20 10:12] #9916 closed, assigned to nobody

[2021-04-20 12:26] svenkubiak opened #9918 "500 Internal Server Error when creating a custom unsubscribe page"
**Mautic version:** 3.3.2
**PHP version:** 7.4
**Browser:** Chrome 90.0.4430.72

## Bug Description
I am running into an issue, when trying to add a custom unsubscribe page. I either have a blank page or the moment I add the "Preferred channels" I get an 500 Internal Server Error.

- I have a landing Page which is set "Published" and "Set as preference center page"

![Bildschirmfoto 2021-04-20 um

[2021-04-21 03:28] jamesjosh912 opened #9921 "How Do I Become Active Enough on Mautic Support Forum"
How do I become active enough on mautic's support forum so I can post a question?

[2021-04-21 06:41] jos0405 commented on #9887
I have the same in 3.3.2 and 3.3.1, but just on one instance. Even If I change the name to whatever, it won't show up.
This is how the header looks like:

[code]

Instead of 'baumaschienen' the sender name is 'Garage'

[2021-04-21 07:13] TheDevMinerTV opened #9922 "Is this project dead?"

[2021-04-21 07:20] npracht commented on #9922
Hello, the answer is no. As you can see we have a lot of contributions and a new release candidate 2 days ago.

[2021-04-21 07:20] #9922 closed, assigned to nobody

[2021-04-21 14:38] LeonOltmanns opened #9923 "Pagebreaks won't work if using the "Form"-Focus Item"
## Bug Description
When using pagebreaks in a Mautic form to switch from one page to another all the form-fields will just be piled up on a single page instead of being displayed  in multiple pages.

If you use the preview function to display a form with pagebreak, they show up and work normally.

| Q   | A
| --- | ---
| Mautic version | 3.3.2
| PHP version | 7.4
| Browser | Chrome / Firefox

###

[2021-04-21 16:56] kuzmany commented on #9923
Related PR https://github.com/mautic/mautic/pull/9737

[2021-04-21 21:40] imihandstand commented on #9910
After 4 days of testing, I solved it.

**There were 2 problems:**
1.) Some browsers (like Safari) forbid cross-site tracking regarding cookies
2.) The "_Identify visitor by tracking url_" feature of Mautic doesn't seem to work correctly

**How I solved it:**
...By telling Mautic which email-address that "new visitor" is. For this, 2 things are needed:

- The **link "_Click here to confirm your ema

[2021-04-21 22:01] RCheesley commented on #9921
Please read the post on the big blue box at the top of the page. Active for 3 minutes and viewing various posts and threads once logged in. Please do not pay these questions on GitHub.

[2021-04-21 22:01] #9921 closed, assigned to nobody

[2021-04-22 04:56] RehanNischal commented on #9915
Any updates ?? is it solved yet?

[2021-04-22 06:50] kuzmany opened #9924 "Date range form in segments or reports does not trigger ajax request"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-04-22 07:04] DASAT commented on #9070
I have the same problem V3.3.2, PHP 7.4.16, MySQL 5.7

If I turn on social monitorin I get this:

-------------------
Mathching ON
-------------------
In AbstractMySQLDriver.php line 79:
An exception occurred while executing 'SELECT COUNT(l.id) as count FROM mail_leads l LEFT JOIN mail_users u ON u.id = l.owner_id WHERE (l.firstname IN ()) AND (l.la
stname IN ()) AND (l.twitter IS NULL)':
SQLSTATE

[2021-04-22 07:06] DASAT commented on #9124
I have the same problem.
If I turn on Base64 pictures don't show up in the emails. "Can not open file image.jpg"
Any work arround?
Thanks

[2021-04-22 07:08] DASAT commented on #9069
I get the same error in Mautic 3.3.1. Can not open file image.jpg when base64 is turned on.
:(
Too bad.

Uli

[2021-04-22 12:26] namratasaun commented on #9487
hey, any solutions for this yet? @dsp76

[2021-04-22 12:27] namratasaun commented on #9913
hello, having a similar issue.
Any solutions for it yet @RehanNischal @dsp76

[2021-04-22 13:18] npracht commented on #9628
@michaellelis-hotmart any feedback ?

[2021-04-22 13:18] #9775 closed, assigned to nobody

[2021-04-22 13:22] npracht commented on #9825
Hello,

In documentation : https://developer.mautic.org/#create-segment
You can see that this value `in` is not offered. Can you try with a correct operator ?
<img width="664" alt="Capture d’écran 2021-04-22 à 15 21 00" src="https://user-images.githubusercontent.com/14075239/115721465-5a3bb000-a37e-11eb-99e7-7de1beb6e21a.png">

I close the issue and we'll reopen if this is still not working whil

[2021-04-22 13:22] #9825 closed, assigned to nobody

[2021-04-22 13:22] npracht commented on #9810
Close for lack of feedback. I'll re-open if we have a feedback.

[2021-04-22 13:24] npracht commented on #9896
Hi @pkaltenboeck would you feel confortable offering a PR to the community with your code suggestions ?

[2021-04-22 13:28] npracht commented on #9904
@stevedrobinson as far as i remember it has been removed from UI because it was not a supported feature. So just there by "error".

Are you sure this is working in 2.x version ?

[2021-04-22 13:30] npracht commented on #9909
Hello,

Do you host your mautic instance on same domain of your website where the form is embedded ?
Also, don't you have CORS enabled in your mautic instance ?

Thanks

[2021-04-22 13:32] npracht commented on #9918
@svenkubiak hello !

As far as i remember, in your global configuration, you need to enable more features of PC. I think you need to add channel preference in your case because you use this slot in your built PC. Careful, you need to enable in configuration all info you use in PC.

please confirm :)

[2021-04-22 13:34] npracht commented on #9887
We need a way to reproduce. Can you please also tell :
* which email transport you use ?
* is your send from owner feature enabled ?

Thanks

[2021-04-22 13:35] npracht commented on #9923
@oltmanns-leuchtfeuer can you please test the PR and confirm it fixes your issue ?

[2021-04-22 13:47] mboron83 commented on #9819
Did anyone try to reproduce this bug on 3.3.3 version?

[2021-04-22 13:59] LeonOltmanns commented on #9923
@npracht Will do! :)

[2021-04-22 14:03] RCheesley commented on #9923
This is a duplicate of a **very** old issue I raised back in 2016 😱  #2992 so closing this issue!

[2021-04-22 14:03] #9923 closed, assigned to nobody

[2021-04-22 14:06] stevedrobinson commented on #9904
@npracht 100% certain it worked. We were actively using it.

[2021-04-22 14:14] russkiimike commented on #9887
Sorry forgot to add, I use Amazon SES API, also changing "from owner" both globaly and individually doesn't fix the issue.

[2021-04-22 14:19] npracht commented on #9910
Hello @imihandstand,

Yes this is known and not a mautic issue. Just a standard of cookies for now 1 year. You need to have your mautic instance on same domain of your website (to create a first party cookie). And your website pages on same domain as well.

On top of that, if the visitor is in incognito mode or stuff like that, the tracking will be broken (logic because each tab has a different un

[2021-04-22 14:20] npracht commented on #9915
Hi there,

You should not import wrong data in a select type field... This is the issue.
I'll rename the issue to "add error when importing wrong values in pre-created select fields as `state`". For me this is the issue, the UI should not let the user add wrong data in the field.

[2021-04-22 14:23] npracht commented on #9913
Hello all !
This is not an issue but an improvement you ask (add more operators to some type of fields).

Is anyone of you ready to help ? You could suggest a community contribution by doing a PR ?

Thanks !

[2021-04-22 14:24] #9167 closed, assigned to nobody

[2021-04-22 14:24] #9165 closed, assigned to nobody

[2021-04-22 14:25] #6153 closed

[2021-04-22 14:25] #6613 closed

[2021-04-22 14:25] #9282 closed, assigned to nobody

[2021-04-22 14:25] #9532 closed, assigned to nobody

[2021-04-22 14:25] #9533 closed, assigned to nobody

[2021-04-22 14:25] #9508 closed, assigned to nobody

[2021-04-22 14:26] npracht commented on #7173
@pwned555 would you be okay carrying a Pull Request to the code base to solve the issue ?
Thanks a lot !!!

[2021-04-22 14:26] #9503 closed, assigned to nobody

[2021-04-22 14:27] npracht commented on #9612
@andrew-dixon did you have the time to test for the edition ?
Thanks

[2021-04-22 14:28] npracht commented on #9551
Hi @cpot any feedback to share ?
Thanks :)

[2021-04-22 14:28] #9105 closed, assigned to nobody

[2021-04-22 14:30] #9727 closed, assigned to nobody

[2021-04-22 14:32] namratasaun commented on #9913
hello @npracht . Sure will try to code the solution.
Just wanted to confirm that I am able to see the regexp filter in segment but you mean that it is not complete and we can pick it up and complete it.
Just confirming as I can already see the filter even when the type is number, date or select. Just that cannot type my regular expression.

[2021-04-22 15:16] svenkubiak commented on #9918
@npracht Thanks for the feedback.

I have added "channel preference" in the global configuration. The result is a blank page.

And just to confirm, this is how my global config looks:

![image](https://user-images.githubusercontent.com/67564/115739028-df7a9100-a38d-11eb-8e79-a40c87b9922f.png)

If I switch "channel preferences" back to "no", i'll get the error 500 page.

[2021-04-22 15:28] namratasaun commented on #9913
@npracht ? i can see the regexp filter, so i believe it is not compatible with other fields?

[2021-04-22 15:34] npracht commented on #9918
Ok, "better". Can you try to add the channel slot in your PC ?

[2021-04-22 15:35] npracht commented on #9913
I think most of everything is possible. We "just" need to extend/code it ?

[2021-04-22 15:55] svenkubiak commented on #9918
@npracht Sure. Once I do, I'll get the Error 500 as mentioned above.

[2021-04-22 16:02] npracht commented on #9918
Okay, i don't know much more.. I'll tag this as a bug that need to be addressed.

[2021-04-22 16:37] imihandstand commented on #9909
No, I have a unique domain/server just for Mautic (and it's installed on a subdomain - like "email.example.com", but I don't use the main domain "example.com" for anything). Forms are in 2-3 other websites with other domains.

I just saw, that on the Mautic-Forum somebody wrote a [workaround with some CNAME trick](https://forum.mautic.org/t/multiple-anonym-contacts-for-same-visitor-even-after-iden

[2021-04-22 16:46] imihandstand commented on #9910
Yes, I already realized that the cookie-problem isn't Mautic's fault.

I still think, that the "Identify visitor by tracking url" isn't really working as supposed, as it should be able to tell without cookies and without IP to which email-address a link from a sent email (sent via the form) belongs to. But with my PHP-workaround my double-optin-process works, so my issue can be closed.

You are we

[2021-04-22 16:55] alanhartless commented on #9904
Looks like there was special handling for tags so this is a regression introduced in https://github.com/mautic/mautic/pull/9260

https://github.com/mautic/mautic/blob/8dc40b4fb767a81bcaeb9292b85861a6822eb9f7/app/bundles/DynamicContentBundle/Helper/DynamicContentHelper.php#L242
https://github.com/mautic/mautic/blob/0f6bbbb3579f5a33a8264fd271b7e3881cc0b561/app/bundles/EmailBundle/EventListener/Match

[2021-04-22 18:26] spencerthayer commented on #6640
@Carlos-mb did you ever get Mautic working? Seems like it's just not a viable solution for enterprise.

[2021-04-22 18:38] spencerthayer commented on #9576
@RCheesley is doesn't seem like the Mautic team is actually fixing the problem  in the forums. @PatricioMds did you find a fix?

[2021-04-22 18:42] RCheesley commented on #9576
This is not an issue with Mautic, but with the server setup/configuration. There is nothing to be fixed by the Mautic team. Please find a freelancer to set up your instance or work with a SaaS provider if you are finding there are technical challenges that you are not able to resolve yourself.

[2021-04-22 19:17] cloudpotions opened #9926 "Reopening Failed Sugar/Suite CRM + Mautic Sync Issue - Found fix + Activity Patch download! (Previously 7420/7138/7112)"
Suite CRM: Version 7.11.5 / Sugar Version 6.5.25 (Build 344)
Mautic 3.3.2
Ionos Virtual server with Ubuntu 20.04 and Plesk
PHP Version 7.3.27 - Fast CGI on both

I can confirm that I have the 2 way sync working with Suite CRM and Mautic. I also installed on Suite CRM the "Web activity Module" which syncs over the web activities. After I Installed this + added the PROPER cron jobs (tested a bunch)

[2021-04-22 19:49] Carlos-mb commented on #6640
I'm using the v2.16.3 because the update failed and I don't want to touch anything.

Current version es 3.3.2

According to my experience, it's too buggy. I have expend a lot of time to make it work and I prefer to don't modify anything in order to keep it working.. until it stops working.

Probably I'll do a fresh installation sometime... because it's free and selfhosted.

I don't recommend it bu

[2021-04-22 20:31] spencerthayer commented on #9918
Seems like the 500 error is plaguing Mautic.

[2021-04-22 20:49] spencerthayer opened #9927 "Installation & 500 Internal Server Error"
## Bug Description

After passing the [pre-flight checks](https://docs.mautic.org/en/setup/getting-started#pre-flight-checks) and clicking the **Next Step** button the page `/installer/step/0` creates a **500 Internal Server Error**.

[code]

| Q   | A
| --- | ---
| Mautic version |  3.3.2
| PHP version |  7.4
| Browser |  NA

### Steps to reproduce
1. `unzip 3.3.2.zip -d DOMAIN`
2. Follow [setup

[2021-04-22 22:02] spencerthayer commented on #9576
~@RCheesley

Perhaps the official [minimum requirements documentation](https://www.mautic.org/download/requirements) needs to be updated in greater detail so that people can be sure they have the proper setup/configuration?

[2021-04-23 05:45] npracht commented on #9909
Check option 1.
Also if you have an integration setup, be sure it works. if you have a push to integration action in your form and the integration is broken, then it might freeze the form on submission.

[2021-04-23 05:45] npracht commented on #9910
👍🏽

[2021-04-23 05:45] #9910 closed, assigned to nobody

[2021-04-23 08:14] rivael commented on #7174
I came across this bug today in 3.3.1

I used https://github.com/chalsek8 code above to fix the error message.

[2021-04-23 14:56] drptiago commented on #8548
Same issue with v3.2.5

[2021-04-23 19:01] pedrodejesus opened #9928 "Mautic command cache:clear throws Exception when /tmp directory is not accessible"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The constructor of the Symfony

[2021-04-23 20:02] #8615 closed

[2021-04-24 05:53] adiux commented on #9924
I looked into it. It is only the Segments, the Dashboard filter works fine.

I would have to debug some more. @kuzmany do yo know how this data-toggle ajax works? Which function is called? It looks like it is not calling `Mautic.ajaxifyLink`
![image](https://user-images.githubusercontent.com/13075514/115949008-0c37c100-a4d2-11eb-8c8f-0a56401a823b.png)

[2021-04-24 06:57] kuzmany commented on #9924
I found ajaxifyForm method https://github.com/mautic/mautic/blob/features/app/bundles/CoreBundle/Assets/js/6.forms.js#L46

[2021-04-24 07:47] adiux commented on #9924
I think this function initializes the ajax setup. But when I click on the button, we dont go to the ajaxifyForm function. Also not on the Dashboard.
![image](https://user-images.githubusercontent.com/13075514/115951646-1661bb80-a4e2-11eb-820f-1ad7719354b9.png)

[2021-04-24 08:05] adiux commented on #9924
I figured out that this function is called when it works. But it is not called when you click it for the first time after the login
![image](https://user-images.githubusercontent.com/13075514/115952103-8ec97c00-a4e4-11eb-9b73-a0da491fb97e.png)

[2021-04-24 08:51] RCheesley opened #9932 "DDEV re-install throws an error when backing up tables but does not halt the install & reports success"
## Bug Description
I noticed this while installing with DDEV - during the install process where I had previously had an instance set up, so there were already database tables, the following error was thrown when I ran `ddev start` and was prompted to install:

However the installation proceeded and told me that it was completed.

When I opened the instance I am greeted by the setup screen. Setting

[2021-04-24 09:08] imihandstand opened #9933 "After Cache-delete "The site is currently offline due to encountering an error""
## Bug Description
When I try to delete the **"_var/cache_"** or **"_var/cache/prod_"** folder via **FTP**, Mautic always breaks and shows just an "_The site is currently offline due to encountering an error_" error. Even after a few minutes and multiple page-refreshs, it doesn't work.

So I always have to put back the deleted folder (I always just rename them to "_prod______" or so, so I still ha

[2021-04-24 09:11] RCheesley commented on #9933
Hello,

This is almost always because you have an issue with file and folder ownership/permissions meaning that Mautic is not able to create the cache directory after you have deleted it.

Please check the documentation here: https://docs.mautic.org/en/troubleshooting/file-ownership-and-permissions.

Please post your issue over at https://forum.mautic.org/c/support if you are unable to resolve thi

[2021-04-24 09:11] #9933 closed, assigned to nobody

[2021-04-24 17:16] kuzmany commented on #9676
I fixed it by this PR https://github.com/mautic/plugin-grapesjs-builder/pull/74

[2021-04-25 11:40] RCheesley opened #9992 "Social icons are getting pulled in from mailjet.com"
I happened across this because Mailjet is a blocked domain on our work machines, but it looks like the social icon blocks are pulling in images from mailjet.com:

![screenshot-nimbus-capture-2021 04 25-12_38_10](https://user-images.githubusercontent.com/2930593/115992012-4b920a80-a5c3-11eb-893c-0c4b426ce415.png)

I think this is coming from GrapesJS rather than from the themes, so not sure if ther

[2021-04-25 17:29] Jammmmm commented on #8992
This is being marked as stale but as far as I can tell, the problem still exists.

[2021-04-26 02:05] hoylen commented on #7636
Still an open issue.

[2021-04-26 02:40] ldrrp commented on #9505
Ill retest on the latest 3 tomorrow señor stale bot. Maybe if its an easy fix ill do a pr

[2021-04-26 05:45] giomasce commented on #9243
I doubt this has been solved. Feel free to close it if you wish, as I have worked it around satisfactorily, but in the general interests of Mautic users I think you should keep it open until it gets fixed.

[2021-04-26 08:52] RCheesley commented on #9505
@ldrrp a PR would be awesome - thank you!

[2021-04-26 09:01] imihandstand commented on #6536
(I wrote this to a Mautic-Forum's post, but thought people here would need it too)

Tip: For handling Mailgun’s **“Spam Complaints”** and **“Permanent Failure”**, I use Integromat (automatization, like Zapier).
Mailgun’s webhook fires the “scenario” in Integromat and than that spam/failed contact gets deleted from Mautic.
You can use of course Mailgun’s other webooks, like “Temporary Failure”, “Un

[2021-04-26 14:07] infomanPMF commented on #9491
Hi, I'd like to confirm that I've also experienced the error.

[2021-04-26 14:19] trianity opened #9937 "500 error in saving contact with a custom field if the field type is textarea"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-04-26 16:27] chente38 opened #9938 "<link rel=preload> for the mautic CSS"
Hi,

i'm using mautic forme integrated in m website with the scipt given by mautic.

I received alert of google that told me that I should use <link rel=preload> for the mautic CSS => media/css/modal.min.css

is there a way to solve this issue, please?

thanks in advance

<a href="https://imgbb.com/"><img src="https://i.ibb.co/SvZJJ8K/Screenshot-2021-04-26-112450.jpg" alt="Screenshot-2021-04-26-11

[2021-04-26 17:27] trianity commented on #9937
I upgraded Mautic to version 3.3.3 and retested this issue. It was not detectable, so I close this ticket.
If anyone experiences this issue, please upgrade to Mautic v.3.3.3

[2021-04-26 17:27] #9937 closed, assigned to nobody

[2021-04-26 17:27] kroll07 opened #9991 "builder.js - Can't find variable: Mautic"
Error in the JS

console for landing pages

`Can't find variable: Mautic` for `Mautic.initSelectTheme` in builder.js

<img width="961" alt="Screenshot 2021-04-26 at 19 23 08" src="https://user-images.githubusercontent.com/60008103/116125113-66e53e80-a6c5-11eb-8045-53907056724a.png">

[2021-04-26 23:28] ghost opened #9939 "Mail attachment not sent"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This same: https://github.com/m

[2021-04-27 01:57] jamesjosh912 opened #9940 "Mautic Does not Let Me Create New Email Channels"

[2021-04-27 02:09] #9940 closed, assigned to nobody

[2021-04-27 06:35] adiux commented on #9991
`Mautic` is a global variable that gets introduced from the main project. You will have to add it to the list of global variables. Similar as you would do it with e.g. jQuery.

[2021-04-27 06:47] kroll07 commented on #9991
Thanks @adiux

I used out of the box feature. I just created new landing page from "Blank" template.

Mautic - v3.3.2

Who can/should take care of this?

[2021-04-27 06:58] adiux commented on #9991
Ah.. I assumed you are trying to develop a new feature :)

Where did you test this? On Mautibox?

[2021-04-27 07:04] kroll07 commented on #9991
Sorry, I reported it in a confusing way.

We have our own instance of Mautic, v3.3.2 with GrapeJS activated.

Below link to the landing page
https://newsletter.extinctionrebellion.pl/test

[2021-04-27 12:51] RCheesley commented on #9991
Not sure if it is related but I was also seeing an error in the console: https://github.com/mautic/plugin-grapesjs-builder/pull/70#pullrequestreview-644039476

[2021-04-27 13:51] ekkeguembel commented on #9448
@RCheesley FYI, issue still exists in 4.0.0-alpha1

[2021-04-27 14:01] RCheesley commented on #9448
Please use #9473 to report issues - this one is closed as a duplicate of that issue.

[2021-04-27 15:52] imihandstand opened #9941 "Header too large preventing sends of segment emails on Mailgun"
## Bug Description
Usually I send out emails just via campaigns. Now I wanted to try out segment-emails, but they fail to send.

**It says "Pending" forever:**

![Screenshot 2021-04-27 at 17 00 30](https://user-images.githubusercontent.com/44979581/116268480-a40d0780-a77d-11eb-8623-ebfe9ca2fdfe.png)

When I go the the email and click the "Send" button in the top-right corner, it says "There are 73

[2021-04-27 15:57] RCheesley commented on #9941
@mabumusa1 I think you have been doing some work with Mailgun - have you come across this bug "400 Request Header Or Cookie Too Large"?

[2021-04-27 16:36] imihandstand commented on #9941
btw, here is a proof that both the **"_Send Example_"** for that very same segment-email and the **"Send test email"** (at "Configuration => Email Settings => Mail Send Settings") are working fine:

![Screenshot 2021-04-27 at 18 32 39](https://user-images.githubusercontent.com/44979581/116278919-3cf45080-a787-11eb-8859-daa99a18a79a.png)

So the MailGun-connection and sending seems to be fine.

How

[2021-04-27 20:01] ghost opened #9942 "Invalid default Site URL leads to 404 when loading media/js/mautic-form.js on other sites"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have installed a fresh instal

[2021-04-28 00:59] rvvvt commented on #9804
Also facing the exact same issue. Im not genius when it comes to cookies and sessions or php _in general,_ but shouldnt it be a fairly straight forward change in the php that handles the session ? ...or something?

[2021-04-28 01:07] MarkerB commented on #9804
You'd think, but there must be something about this bug that makes it not reproducible in all environments.  Otherwise, more people would have experienced it, and the developers would have probably addressed it.

Until then, my hackey fix has been working well.  The main drawback is you need to keep at least one Mautic page open in a browser, so that it can keep refreshing the session every 9 minu

[2021-04-28 02:53] jamesjosh912 opened #9943 "Cannot Create Email Channel"
I cannot create an email channel using the "new" button in the top right corner of the "channels" ---> "emails" section. The button doesn't respond. I tried deleting the cache folder in WINSCP, but it did not help.

[2021-04-28 06:04] shamsail commented on #8895
what's the status on this? because currently i'm using v3.3.3 and it's not resolved yet. I'm facing issues to integrate Linkedin App.
![Screenshot from 2021-04-28 11-02-17](https://user-images.githubusercontent.com/30554980/116354185-7a9dbb80-a811-11eb-8e06-a8305ea46381.png)

[2021-04-28 10:17] benfavre commented on #9036
The fuck is wrong with people, why was this closed ?

[2021-04-28 10:55] jos0405 commented on #9887
More addition:
It only affects SES API. Same install works with SMTP.

[2021-04-28 13:47] ghost opened #9946 "Link to form uploaded file not working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Email with form results doesn't

[2021-04-28 13:57] npracht commented on #9946
Hi @biggala2310 can you please try https://github.com/mautic/mautic/pull/9233 and add your review ?
I think it might fix you issue.

[2021-04-28 14:22] ghost commented on #9400
This same problem. Mautic 3.3.2.
`[2021-04-28 14:12:55] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo0NzoiZGJ6Y2J2dGEuZmlmYWciO3Y6NDt2OjUxNzU7fWY6ODoiZnpidnkiO3Y6NDM4MDtmOjc6ImZnYmciO2Y6NTU6IjkzMTI5ZTg5ODE4NDI2Mjg2NTgwNzIiO2Y6NzoieWZiZSI7Zjo4OiI1OTg2NyI7ZjowOiJkdWJhYWZ5IjtiOjQ6e2Y6ODoiZnpidnkiO3Y6NDM4MDt9fQ== {"exception":"[object] (Mautic\\CoreBundle\\Exception

[2021-04-28 16:23] kuzmany commented on #9760
This fixes it : https://github.com/mautic/mautic/pull/9947, please test and review !

[2021-04-28 18:54] incentfit-product commented on #9760
Made these changes on our mautic instance and testing now...

[2021-04-28 19:38] vijayhrdm opened #9948 "Amazon SES bounce management (mailer/amazon_api/callback throws error 500)"
Mautic Version: 4.0.0-aplha1
PHP: 7.4.10

I followed the tutorial and setup everything properly.

Access Log file entry:
"POST /mailer/amazon_api/callback HTTP/1.1" 500 64931 "-" "Amazon Simple Notification Service Agent"

Error Log (in Mautic ) entry:

[2021-04-28 18:54:08] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: "The "swif

[2021-04-28 19:44] gabepri commented on #9411
don't think this is stale.  there is a pull request that works that has yet to be approved.

[2021-04-29 01:58] aficiomaquinas commented on #5542
I just had this problem today, my instance had been failing intermittently for the past month. Looking at the MySQL logs, it turns out the instance ran out of disk space. I resized the volume and the problem was fixed.

[2021-04-29 10:46] RCheesley commented on #9943
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-04-29 10:46] #9943 closed, assigned to nobody

[2021-04-29 10:47] RCheesley commented on #8895
Until someone develops the integration with the new API, the LinkedIn functionality will not work. We have not had any volunteers step up to work on this yet - feel free to add a bounty if you are able to do so.

[2021-04-29 11:03] benfavre commented on #9036
why was this closed ?

[2021-04-29 12:14] imihandstand commented on #9941
Update: Unfortunately campaign-emails don't seem to work perfectly either. The campaign sent an email to some, but not to all. Same error.

[2021-04-29 13:26] kuzmany opened #9950 "Buttons in modal window in wrong order"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-04-29 13:28] kuzmany opened #9951 "Forms are not able to submit"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Forms are not able to submit in

[2021-04-29 16:51] namratasaun commented on #575
Hey, I think it was only partially solved. I can add multiple values in a field. But they are not dynamic (impromptu), means I have to predefine all the possible value/options, and the options can't be added on the go.

[2021-04-29 16:52] namratasaun commented on #575
Also, I tried lookup field and neither can it add options on the go, nor can it select multiple options.
So what is the difference between select field and lookup field?

[2021-04-29 19:29] rmalla opened #9953 "point added to lead, even though email send failed on gmail"
## Bug Description
we're using gmail to send smtp emails, I believe it has a limit of 250 emails per day. now. when that limit expires, but cron schedules continue to execute (we had an error on the cron scheduling), the campaign continues to the next step (in our case add  one point), even though the email was not sent and we get a not sent error on the log.

if the email was not send, the point

[2021-04-29 20:03] Jammmmm commented on #9804
I can also confirm this problem on Mautic 3.3.3 and PHP 7.3.19.

My solution was to ping a page (/credentials) every 5 minutes using a UserScript.

I don't know what the actual problem is, but if it's a session cookie problem and the browser is clearing it too early, perhaps the developers can switch it to a persistent cookie instead.

[2021-04-29 21:03] imihandstand commented on #9941
I stop using MailGun, so I close this issue.

[2021-04-29 21:03] #9941 closed, assigned to nobody

[2021-04-29 22:13] MarkerB commented on #9804
That works, and might be easier to implement.  Care to share it for others?

I did not choose this option because I needed this to work for any user from any browser.

[2021-04-29 22:19] Jammmmm commented on #9804
Sure. The UserScript is as follows. I wrote it to be generic for more than 1 URL.

[code]

Replace "my.mautic.domain" everywhere with your Mautic URL.

Replace the timeout value to whatever is required. I'm ok with 5 minutes and as I said, it keeps me logged in.

If you need it to work for multiple URLs, add them both into the "urls" variable, and the "@match" at the top, for example:

[code]

and

[2021-04-30 08:35] namratasaun commented on #5598
yes having a similar issue
I filtered emails sent data based on a single contact and single campaign.
I can confirm that only 3 emails are sent to the contact but the report is showing 6.

<img width="1181" alt="Screenshot 2021-04-30 at 2 01 11 PM" src="https://user-images.githubusercontent.com/35791871/116670184-0ef85180-a9bd-11eb-92e6-b4c8bef253b7.png">

[2021-04-30 11:01] ced-shubhamverma commented on #9825
Thanks for your response but i need to create segment based on tag with filter tag (including) and can you please let me know the operator for including filter.

When i create a segment with tag filter and add condition including  <Tag_name> and get the segment with APIs it show that operator = 'in'
![image](https://user-images.githubusercontent.com/49013175/116688422-4de5d180-a9d4-11eb-9d8d-bb975

[2021-04-30 14:29] jonathandhn opened #9954 "E-mail. Edited subject is not taken into account at sending time"
## Bug Description
Hi, we've done an e-mailing earlier today.  The message was not fired with the right subject. There were one subject input in mautic weeks ago, and it was change a week ago. The e-mail was fired with the old subject.

| Mautic version  3.3.3 |
| PHP version 7.4.16 |

### Steps to reproduce

1. Create e-mail
2. Input subject
3. Save
4. Change subject
5. Save
6. Send

### Log erro

[2021-04-30 14:56] thinkl33t commented on #7836
We're having the same issue trying to implement mautic in a container behind traefik.

What information would be required to help debug this issue?

[2021-05-03 05:02] npracht commented on #9954
Hello @jonathandhn i don't face this issue. Are you sure that the email you received was not an old email blocked in your spool that get suddenly unblocked ?

[2021-05-03 05:03] #9551 closed, assigned to nobody

[2021-05-03 05:03] #9628 closed, assigned to mohit-rocks

[2021-05-03 07:03] cpot commented on #9551
From what i know from my team the problem is still there. However we will do the latest update and reopen if needed cc @jlemangarin @odernovaya

[2021-05-03 08:17] jonathandhn commented on #9954
Fortunately yes, because it was fired minutes after someone published it, days after being redacted.

It was redacted in mautic 3.3.2 and send with mautic 3.3.3 to 2800 contacts.

This e-mail used grapesJS with a Mjml template.

I'm not the user of this mautic, only mainter and templates builder so I can't know who used what buttons when because I'm remote from the team, but basically there were a

[2021-05-03 13:09] Bharat-B commented on #9284
This is still an issue.

[2021-05-03 13:18] aakash2610 opened #9957 "How to provide ssl certificate for database connection"
My Mautic version is: 3.3.2
My PHP version is: 7.3

Problem
I am using azure database to be used with Mautic. Mautic is giving me 500 error when I try to configure it. Looking at the logs, I assume that we need to provide an SSL certificate for database connection, but there is no way to do so. Azure databases by default uses SSL connections and I don’t want to disable for security seasons.
Ref Li

[2021-05-03 14:19] spencerthayer commented on #9927
**Update:** Would like to see this resolved, but since this issue has not been addressed in a timely manner it is clear that Mautic as a platform is not stable enough or supported well enough to meet the needs of a business. Seems amazing for hobbyists. I'll check out Mautic 4 when it's available.

[2021-05-03 18:51] powertictech commented on #9381
@RCheesley same here

[2021-05-03 19:00] luizeof opened #9958 "Pipedrive Error Pushing Contacts to Integration"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Mautic don´t sync leads with P

[2021-05-03 19:13] dennisameling commented on #8948
Re-opening for now as https://github.com/mautic/mautic/pull/9452 will fix this issue. When the PR is merged this issue will automatically be closed 👍🏼

[2021-05-03 20:19] dennisameling commented on #9621
Fixed in https://github.com/mautic/mautic/pull/9745 so closing this issue 👍🏼

[2021-05-03 20:19] #9621 closed, assigned to alanhartless

[2021-05-04 01:05] #9552 closed, assigned to nobody

[2021-05-04 13:52] RCheesley commented on #9381
Sorry, what is the same here?

[2021-05-04 18:02] cesaroito commented on #9924
My Mautic has this issue too. I don't get to use filter on reports and segments. I have to disable and use Global Date Range on my Dashboard.

[2021-05-04 18:08] RCheesley commented on #8457
If testing locally the solution is to delete the database - came across this in testing with ddev when trying to install into a database that already had a Mautic instance.

[2021-05-04 18:15] RCheesley commented on #9932
Closing as a duplicate of #8457

[2021-05-04 18:15] #9932 closed, assigned to nobody

[2021-05-04 18:18] kuzmany commented on #9924
@cesaroito

What option do you mean?

[2021-05-05 09:04] dennisameling opened #9962 "DDEV: improve local dev workflow"

[2021-05-05 09:04] #9962 closed, assigned to nobody

[2021-05-05 09:09] dennisameling opened #9963 "DDEV: improve local workflow"
There's a few things we can add to make the DDEV experience with Mautic smoother:

- Add a proper `.env` file for DDEV to facilitate local testing (PHPUnit uses this file)
- Add a `launch.json` for VS Code so that it can listen for XDebug:

[code]

- Add a DDEV `post-delete` hook (this hook doesn't exist yet, but [here's the feature request](https://github.com/drud/ddev/issues/2988)) that deletes

[2021-05-05 09:30] Napsty opened #9964 "Calendar not showing all events (limited to 100 results)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-05-05 09:36] Napsty commented on #9964
Found it:
https://github.com/mautic/mautic/blob/7a2875bc16a6de50a1803fbc41b64278ae9b5428/app/bundles/LeadBundle/EventListener/CalendarSubscriber.php#L75

[2021-05-05 09:37] #9885 closed, assigned to nobody

[2021-05-05 09:48] Napsty commented on #9964
With the mentioned PR as a workaround, the missing events now show up.

![image](https://user-images.githubusercontent.com/3702203/117123847-d4fdc580-ad97-11eb-9adb-e00ef2a4707c.png)

[2021-05-05 13:06] pcferri commented on #7830
I solved this issue putting the UTM parameters inside of the form action, I will put an example below:
`<script>
//put this code after the form tag
var urlParamsScript = new URLSearchParams(window.location.search);
var source = "";
var medium = "";
var campaign = "";

if(urlParamsScript.get('utm_source') != null){ source = urlParamsScript.get('utm_source')};
if(urlParamsScript.get('utm_campaign')

[2021-05-05 13:23] namratasaun commented on #2016
Hello, how to hide a field. I have a similar issue

[2021-05-05 13:52] npracht commented on #9760
@incentfit you confirm it works for you ? Can you please add your review on the PR ?
Thanks !

[2021-05-06 07:19] npracht opened #9970 "reserved URL for Landing Pages"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-05-06 08:16] tuongnguyendev opened #10367 "Save/Edit code script tags does not work in GrapesJS builder"
Do you edit Grapesjs 0.15.10 core?
When I edit the **Assets/library/js/grapes.min.js** file
with the release 0.15.10 file of Grapesjs https://github.com/artf/grapesjs/blob/v0.15.10/dist/grapes.min.js
I get the error like the following video. Lost **script coutdown code** when save edit code.
https://www.youtube.com/watch?v=CGfiNeHld7w
Thank your time.

[2021-05-06 17:23] RCheesley commented on #9951
This must be a relatively new thing as I have been testing and submitting forms in Mautic 4 - will take a look!

[2021-05-06 17:25] RCheesley commented on #9951
Yep - confirmed:

[code]

Strange that this has not been picked up by tests failing? Or do we not have any tests that check if a form actually can submit?

[2021-05-06 17:36] kuzmany commented on #9951
Reason is change to generate path  to js file after upgrade:

`media/js/mautic-form-src.js?va4d145851`

before it was

`media/js/mautic-form-src.js`

[2021-05-06 17:46] RCheesley commented on #9951
I think that was one of the PRs that was merged recently - will look!

[2021-05-06 17:46] kuzmany commented on #9951
I will try fixed it

[2021-05-06 17:51] RCheesley commented on #9951
OK - I thought that I had seen a PR about versioning the asset files for caching purposes, but I am struggling to find it!

[2021-05-06 17:53] RCheesley commented on #9951
https://github.com/mautic/mautic/pull/9843/commits/8b4cd18285b69ecd5f0caefed9d9522ba219ba48 here is the relevant commit I think, it was within the PR to add CKEditor.

[2021-05-06 18:38] kuzmany commented on #9951
Fix https://github.com/mautic/mautic/pull/9972

[2021-05-06 22:03] pkaltenboeck commented on #9896
Hi @npracht sorry for the late answer, didn't receive a notification from github. I'll look at it and will create a PR, currently I just uncommented the return statement to fit my needs.

[2021-05-07 00:25] TornMarketing opened #9975 "Feature - Better filtering/lists - Ability to hide inactive elements by default (emails/segments/campaigns) toggle on list page"
Feature - Better filtering/lists - Ability to hide inactive elements by default (emails/segments/campaigns) toggle on list page

We live in a world of too much information, and seeing what is relevant is key

We use the inactive and active published functions alot but it would be great to hide these inactive elements from the interface at a toggle of a button by default on each list.

Handing over

[2021-05-07 04:47] Bibhudatta-Sahoo-ASMB commented on #7225
Not fixed yet.

[2021-05-07 08:05] zhbliye opened #9977 "composer install"
mautic version 3.3
php version 7.4.5

when composer install  the error is:
[RuntimeException]
Package mautic/core-lib cannot install to "/usr/local/var/www/mautic/app" inside its source at "/usr/local/var/www/mautic/app"

[2021-05-07 09:27] benfavre commented on #9764
This is super breaking, and have spent countless support hours handling this.
Any progress or plan to adress this ?

[2021-05-07 16:04] adiux opened #9990 "Can not edit dynamic content element more than once"
Problem: Modal only opens for the first time I click

[2021-05-08 04:54] adiux opened #9989 "Remove Froala from Dynamic Content and replace it with CKE"

[2021-05-08 05:05] adiux opened #9988 "Remove Mautic code mode in Grapesjs mode and use only Grapesjs functionality"
Grapesjs already allows to import and edit code

Therefore, the existing code mode functionality is redundant and can be removed.

See demo for details:
https://grapesjs.com/demo-newsletter-editor.html

Note: the code edit button/popup is only available on Mautic
![image](https://user-images.githubusercontent.com/13075514/117527359-b8e26a00-afcb-11eb-95e2-eea49d587eb9.png)

Related to:
https://git

[2021-05-08 08:22] vexersa opened #9979 "Campaign Builder Tooltip Misspelling"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Use campaign builder and note t

[2021-05-08 11:42] silsha opened #9987 "mj-attributes with self-closing elements are formatted incorrectly"
We noticed that GrapesJS in Mautic reformats our mj-attributes and then can no longer display them correctly. Our full template we're using can be found [here](https://github.com/linkswien/links-mautic-theme/blob/main/mautic-links/html/email.mjml.twig).

For testing, I have shortened the code:
[code]

The mj-head section is automatically converted to this format by the editor (notice what happens

[2021-05-08 12:34] dennisameling opened #9980 ""There is no column with name 'email' on table 'companies'" when creating a custom company field"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When adding a custom field for

[2021-05-08 13:36] dennisameling commented on #9995
@RCheesley I've set up a workflow in https://github.com/mautic/plugin-grapesjs-builder/commit/e03642b8224a3b5a686dce66726202520a3a9986 which builds the release assets every day at 10AM UTC or by a manual trigger. Then it will try and commit it to the default branch. However, [this failed due to it being a protected branch](https://github.com/mautic/plugin-grapesjs-builder/runs/2534618466?check_sui

[2021-05-08 14:42] dennisameling opened #9982 "`mtracking.gif` broken in Mautic 4"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

⚠️ The [API tests are failing]

[2021-05-08 16:49] imihandstand commented on #9400
I have the same problem, Mautic 3.3.2. I have 4 of these in my log:

`[2021-05-08 12:55:28] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo0NzoiZGJ6Y2J2dGEuZmlmYWciO3Y6NDt2OjU3MTt9Zjo4OiJmemJ2eSI7djo0MzM7Zjo3OiJmZ2JnIjtmOjU1OiI5MzI5MWI1ZTNhNWEwNjczNDI0MzkyIjtmOjc6InlmYmUiO2Y6ODoiNzU4MjYiO2Y6MDoiZHViYWFmeSI7Yjo0OntmOjg6ImZ6YnZ5Ijt2OjQzMzt9fQ== {"exception":"[object

[2021-05-08 16:54] imihandstand commented on #6775
I have the same problem, Mautic 3.3.2. I have 4 of these in my log:

`[2021-05-08 12:55:28] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo0NzoiZGJ6Y2J2dGEuZmlmYWciO3Y6NDt2OjU3MTt9Zjo4OiJmemJ2eSI7djo0MzM7Zjo3OiJmZ2JnIjtmOjU1OiI5MzI5MWI1ZTNhNWEwNjczNDI0MzkyIjtmOjc6InlmYmUiO2Y6ODoiNzU4MjYiO2Y6MDoiZHViYWFmeSI7Yjo0OntmOjg6ImZ6YnZ5Ijt2OjQzMzt9fQ== {"exception":"[object

[2021-05-08 17:39] imihandstand opened #9984 ""Message Queued for channel - email" despite "Send immediately""
## Bug Description
Have a campaign, which I wanted to test. I set up multiple emails to be sent every 20 minutes. **The first 3 emails were sent out fine, however the 4th didn't** - in the contact log it just says **"Message Queued for channel - email 8"** (8 is the email's ID):

![Screenshot 2021-05-08 at 19 08 46](https://user-images.githubusercontent.com/44979581/117547877-3b9e1000-b032-11eb-97

[2021-05-09 05:53] adiux opened #9986 "Update to newest version of grapesjs"
I think we should update to the newest version before we launch it:
https://github.com/artf/grapesjs/releases

[2021-05-09 14:18] imihandstand commented on #9984
**Nevermind, solved it:** The "_Do not send me more than ___ messages each day_" was set to 3...... Now looking at my 1st screenshot here, I even see "Date Added: May 8" and "Rescheduled Date: May 9". I set it now to "10 emails/day" and everything works as supposed too. Wasted 5 hours on this... :D

[2021-05-09 14:18] #9984 closed, assigned to nobody

[2021-05-09 16:21] incentfit-product commented on #9760
Done!  We're happy to release the bounty as soon as the PR is merged in.

[2021-05-09 16:51] pravinuttarwar commented on #2178
Any updates on this?

[2021-05-09 21:29] #8040 closed

[2021-05-09 21:29] #4888 closed

[2021-05-09 21:29] #7905 closed

[2021-05-09 21:29] #8079 closed

[2021-05-09 21:29] #8504 closed

[2021-05-09 21:29] #8750 closed, assigned to nobody

[2021-05-09 21:29] #8715 closed, assigned to nobody

[2021-05-09 21:29] #8813 closed, assigned to nobody

[2021-05-09 21:29] #8867 closed, assigned to nobody

[2021-05-09 21:29] #8904 closed, assigned to nobody

[2021-05-09 21:29] #8208 closed

[2021-05-09 21:29] #9019 closed, assigned to nobody

[2021-05-09 21:29] #9464 closed, assigned to nobody

[2021-05-09 21:29] #9483 closed, assigned to nobody

[2021-05-09 21:29] #9450 closed, assigned to nobody

[2021-05-09 21:29] #9383 closed, assigned to nobody

[2021-05-09 21:29] #9384 closed, assigned to nobody

[2021-05-09 21:29] #9148 closed, assigned to nobody

[2021-05-09 21:29] #9396 closed, assigned to nobody

[2021-05-09 21:29] #8508 closed

[2021-05-09 21:29] #7888 closed

[2021-05-09 21:29] #5712 closed

[2021-05-09 21:29] #4116 closed

[2021-05-09 21:29] #9374 closed, assigned to nobody

[2021-05-09 21:29] #9278 closed, assigned to nobody

[2021-05-09 21:29] #8514 closed

[2021-05-09 21:29] #8902 closed, assigned to nobody

[2021-05-09 21:53] RCheesley commented on #9995
@dennisameling I have just merged https://github.com/mautic/mautic/pull/9966 so good to go in that regard.

I think that we should make a commit, otherwise we risk losing it in the PR backlog? I can also see the value in making a PR but these would be minified files so not much sense reviewing them if that review was already done?

If it is only happening when approved changes are merged then that

[2021-05-09 21:58] MarkerB opened #9985 "Contact Notes created by "API User" always show the current time as the displayed timestamp"
## Bug Description
Contact notes created through the API show timestamps as the current time, rather than the time the note was created.

When I create a note via an API call, the new record in the "lead_notes" table only has the timestamp in the "date_added" field, and leaves "date_modified" and "date_time" fields NULL.

Manually creating a note in the UI, the new record only has a timestamp in t

[2021-05-09 22:08] RCheesley commented on #9986
Agreed if this is possible!

[2021-05-09 22:29] #7320 closed

[2021-05-09 22:29] #6058 closed

[2021-05-09 22:29] #4658 closed

[2021-05-09 22:29] #6392 closed

[2021-05-09 22:29] #6332 closed

[2021-05-09 22:29] #7562 closed

[2021-05-09 22:29] #8468 closed

[2021-05-09 22:29] #9281 closed, assigned to nobody

[2021-05-09 22:29] #9353 closed

[2021-05-09 22:29] #9221 closed, assigned to andersonjeccel

[2021-05-09 22:29] #9145 closed, assigned to nobody

[2021-05-09 22:29] #7609 closed

[2021-05-09 22:29] #7229 closed

[2021-05-09 22:29] #6741 closed

[2021-05-09 22:29] #6621 closed

[2021-05-09 22:29] #5297 closed

[2021-05-09 22:29] #4221 closed

[2021-05-09 22:29] #9470 closed, assigned to nobody

[2021-05-09 22:29] #7014 closed

[2021-05-09 22:29] #7331 closed

[2021-05-09 22:29] #9125 closed, assigned to nobody

[2021-05-09 22:29] #9041 closed, assigned to nobody

[2021-05-09 22:29] #6553 closed

[2021-05-09 22:29] #8827 closed, assigned to nobody

[2021-05-09 22:29] #8318 closed

[2021-05-09 22:29] #9538 closed, assigned to nobody

[2021-05-10 02:07] #8124 closed

[2021-05-10 02:07] #9535 closed, assigned to nobody

[2021-05-10 02:07] #9255 closed, assigned to nobody

[2021-05-10 02:07] #9187 closed, assigned to nobody

[2021-05-10 02:07] #9238 closed, assigned to nobody

[2021-05-10 02:07] #9545 closed, assigned to nobody

[2021-05-10 02:07] #7549 closed

[2021-05-10 02:07] #9219 closed, assigned to nobody

[2021-05-10 02:07] #9008 closed, assigned to nobody

[2021-05-10 02:07] #9007 closed, assigned to nobody

[2021-05-10 02:07] #7963 closed

[2021-05-10 02:07] #8674 closed, assigned to nobody

[2021-05-10 02:07] #9606 closed, assigned to nobody

[2021-05-10 02:07] #8171 closed

[2021-05-10 02:08] #8974 closed, assigned to nobody

[2021-05-10 05:11] markusrock commented on #9760
Thanks for fixing :)

[2021-05-10 08:12] swadeshp commented on #7884
This bug is still present on v3.3.2
Emails sent on gmail triggers read event, even when emails are not read. Just by opening your gmail account GoogleImageProxy triggers the event. Doesn't matter if email is opened or not.

[2021-05-10 08:50] adiux opened #10004 "Grapesjs needs SharedSpace plugin from CKEditor"
## Bug Description
With the current implementation of CKEditor, Grapesjs is not working. It apears that Grapesjs needs a plugin called [SharedSpace](https://ckeditor.com/cke4/addon/sharedspace) to work.

Implemented in the Grapesjs CKE preset:
https://github.com/artf/grapesjs-plugin-ckeditor/blob/master/src/index.js

![image](https://user-images.githubusercontent.com/13075514/117631847-ee7a8500-b1

[2021-05-10 15:57] evgu opened #10008 "Trigger actions based on referrer/URL decision are not working when used in a form campaign."
## Bug Description
We have a number of PDF case studies. Each one is marketed on separate URL on our website.
I built a single Mautic form which is then displayed on each separate URL/page. Idea is that I use a single mautic form and single campaign to deliver the visitor the relevant case study, based on the URL/page they requested it from.

When the mautic form is submitted it will pick up the R

[2021-05-10 21:57] latinlifestyle opened #10009 "Pending (no sending) for Broadcast or Campaign via AWS SES"
VPS Digital Ocean
1st Test
Ubuntu 18.04 LTS
PHP 7.2
Mautic 2.16.4

2nd Test
Ubuntu 20.04
PHP 7.3
Mautic 3.2.5

In the past 2 days I have been troubleshoot my brand new mautic installation. I Noticed that my config test with a AWS SES was successful. My test email, example email (from emails tab) and direct email (from any contact) work just fine. However when comes to Campaign and Broadcast from a

[2021-05-11 06:35] Bharat-B commented on #9284
Label 🐛

[2021-05-11 10:31] RCheesley commented on #10009
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-05-11 10:31] #10009 closed, assigned to nobody

[2021-05-11 11:06] evgu commented on #10008
@RCheesley if anyone can point me to the correct file containing the code, I can try troubleshooting this.

[2021-05-11 11:36] RCheesley commented on #10008
Does it work if you put the full URL rather than the fragment?

[2021-05-11 11:54] #9982 closed, assigned to nobody

[2021-05-11 11:59] evgu commented on #10008
@RCheesley - I tried with full Referrer URL (exactly as seen on the form submission entry), but causes the same issue. Can anyone point me to the source files so I can try to troubleshoot?

[2021-05-11 16:59] pranavmishra opened #10011 "Emails are failed while sending!"
Hi whenever I'm creating a campaign & trying to send emails via creating a campaign the emails are failing - however, when I'm trying to send a example email the email goes well.

[2021-05-11 17:00] RCheesley commented on #10011
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-05-11 17:00] #10011 closed, assigned to nobody

[2021-05-12 03:05] stevedrobinson commented on #9904
I put a small bounty on this on BountySource.

[2021-05-12 03:43] #9591 closed, assigned to nobody

[2021-05-12 04:25] #9760 closed, assigned to nobody

[2021-05-12 05:41] Bibhudatta-Sahoo-ASMB commented on #7225
Hi Guys,
I have found the solution and it is very easy also.
To make update with blank values in contacts, you have to just pass `true` as third parameter in the `setFieldValues` function.
Like this :
 `$leadModel->setFieldValues($lead, $leadFields,true);`
 This will solve your problem.

[2021-05-12 06:54] tricotrin opened #10012 "Mautic injects several times sending mail API SparkPost"
Hi, I have Mautic version 3.2.4 and I configured the email with the Sparkpost API. When the campaign starts, it sends to each contact and then continues injecting to the SparkPost API every hour or so.

On the other hand, if I modify the configuration for "other SMTP" it does not happen.

I think that Mautic via API when it receives the SparkPost code does not understand very well that that Lead h

[2021-05-12 11:27] swadeshp opened #10013 "cannot send int value to contact field by tacking script"
## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | 3.3.3
| PHP version | 7.4.18
| Browser | Chrome

### Steps to reproduce
`mt('send', 'pageview', {email: 'user@email.com', firstname: 'username', company: 'company', file_count: '0', opt: '0', tags: 'tag_name'});`
1. Create new custom field, for e.g. opt with type number or text.
2. Send any empty or '0' as

[2021-05-12 11:31] DevelopMan commented on #7225
@Bibhudatta-Sahoo-ASMB But this is the solution for what? :) The issue is with the endpoint PATCH: /api/contacts/ID/edit
The solution will be to add this parameter to the endpoint.

[2021-05-12 12:47] Bibhudatta-Sahoo-ASMB commented on #7225
I have issue with plugin edit contact so for that it is the solution, and just like this for API also there will be parameter to specify overwrite blank values in contact edit.
It solved my issue, may be it can help you to find your solution.

[2021-05-12 16:27] danielwpsouza opened #10016 "Settings page looped up to error 504"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The main error is 504 after a f

[2021-05-13 01:48] #9411 closed, assigned to nobody

[2021-05-13 09:09] Aerendir commented on #9548
This is not solved and is not stale.

[2021-05-13 11:24] swaraj02 commented on #9149
Is your bounce segment getting updated? I am using Sendgrid webhook but it's not working for me.

[2021-05-13 12:21] RCheesley commented on #10016
Hi there, looks to be a server config issue with your cache - please post this at https://forum.mautic.org/c/support.

[2021-05-13 12:21] #10016 closed, assigned to nobody

[2021-05-13 12:26] thinkl33t opened #10018 "CLI installer doesn't pull admin username, firstname or lastname from the config"
## Bug Description

When installing using the CLI installer, config variables can be set in `local.php`, including the admin's email address and password.  These can additionally be set on the command line, which overrides the values in `local.php`.

Unfortunately, the values set for admin firstname, lastname and username are not pulled from `local.php`, and are instead set to `Admin`, `Mautic` an

[2021-05-13 13:23] swaraj02 opened #10019 "Bounce Segment Not Getting Updated"
## Bug Description

Mautic is not able to detect the bounce emails and update it to the Bounce segment. I have configured the settings as per documentation and using Sendgrid mail server and webhook. Bounce contacts are not even getting updated as 'Do not contact'.

Meanwhile, I am receiving bounce emails in my inbox with the Return-Path: <name+bounce_609d0022cdc3c142236012@domain.com>

Unsubscrib

[2021-05-13 15:49] RCheesley opened #10020 "Mautic not recognising positive result on Form Field Value campaign conditions with checkbox fields"
## Bug Description
Possibly related to the closed issue #5833
Came across this when building out the campaigns for the Mautic Community GDPR / newsletter signup options:

We have a form with a checkbox list, which allows people to select what information they receive from us.

We have a campaign which uses the 'form field value' option to push them into the correct segments based on what is set in

[2021-05-13 16:16] RCheesley commented on #10020
I have been looking into this in a bit more detail - both multi-select fields and checkbox fields are affected, in that the user never goes down the 'yes' path.

This is a blocker for us getting the community Mautic instance up and running so I will try to find a workaround!

[2021-05-13 16:29] RCheesley commented on #10020
Workaround: Radio rather than checkbox

[2021-05-13 20:53] danielwpsouza commented on #10016
Hello how are you?

I removed the error log information, as it was caused by permission incompatible with PHP-FPM.

I can access the Settings Page if I change the Server Timeout to 10 Minutes.
Keep-Alive Timeout = 10 Minutes
Timeout = 3000

![error-mautic](https://user-images.githubusercontent.com/72410310/118186301-f6078b80-b413-11eb-9f97-b69986896748.png)

This installation has 4GB of Database,

[2021-05-14 06:54] #8948 closed, assigned to nobody

[2021-05-14 08:25] ceefour opened #10021 "List of Files API (/files/images) does not parse subdir correctly, e.g. "lead_avatars""
## Bug Description
List of Files API (/files/images) does not parse subdir correctly, e.g. "lead_avatars"

| Q   | A
| --- | ---
| Mautic version | 3.3.3
| PHP version | 7.4
| Browser | Chrome

### Steps to reproduce
1. `GET https://mautic.example.com/api/files/images?subdir=lead_avatars`
2. Got:

[code]

It seems to strip any non-alphanumeric characters, including valid character like `_`

### Lo

[2021-05-14 08:39] namratasaun commented on #7732
Facing similar issue in MAUTIC 3.2

[2021-05-14 08:41] npracht commented on #7732
Can you try on latest mautic version (3.3.3)?

[2021-05-14 08:43] namratasaun commented on #7732
I did this @ZenDevMaster , but still getting errors

[2021-05-14 08:52] namratasaun commented on #7732
I don't have version 3.3.3 but leads with names like à¸à¸´à¹à¸à¸­à¸±à¹à¸¡ à¸à¸§à¸±à¸à¸­à¹à¸¥à¸¡à¹à¸² are getting the error. Is their anything I can change and try in this version only?

I tried $name = mb_strcut($name, 0, 319, "UTF-8"); but still getting the error

[2021-05-14 10:36] ZenDevMaster commented on #7732
I never solved the issue the proper way :( The php code adjustment seemed to help in some cases but didn't get us to a perfectly working solution as it would still periodically fail a lead.

Our list isn't huge, so in the end we hand-edited every failing lead name to remove the UTF characters. During testing I tried SendGrid which didn't have the problem.

[2021-05-14 10:53] namratasaun commented on #7732
Thanks for your reply.
The code that you wrote should do it, but idk why it keeps on giving errors and those errors are getting rescheduled and then fail again.
I think I can't handpick the names tho.
Thank you for your reply, will try to find some workaround.
One last thing, what UTF characters are you talking about, what i feel is it will fail on big names, the characters doesn't matter,  am I w

[2021-05-14 10:54] ashishajmani commented on #9004
Hello

I am facing the same issue. my mautic version is 3.3.1

my email transport is SendGrid and I have added webhook like this

![image](https://user-images.githubusercontent.com/43143416/118261167-d2564b00-b4d0-11eb-9870-81244f5d1609.png)

Am I missing something ?

Thanks
Ashish

[2021-05-14 11:13] #9612 closed, assigned to nobody

[2021-05-14 11:14] #9909 closed, assigned to nobody

[2021-05-14 11:16] npracht commented on #9896
Hi @pkaltenboeck would you have time to handle the PR ? :)

[2021-05-14 12:11] evgu opened #10022 "SugarCRM/SuiteCRM API: "Update blank values" setting not working."
## Bug Description
We use the SugarCRM-Mautic integration plugin. We use SuiteCRM (community edition).

Mautic API plugin has a setting "Update blank values" - when set, it should update blank values, on both SuiteCRM and Mautic, regardless of data priority. I.e. if one datastore has the value for a mapped field, where the other datastore has a blank, then the value will be updated.

It appears th

[2021-05-14 12:28] evgu opened #10024 "SugarCRM-Mautic: 'Push contact to integration' not working."
We use the SugarCRM-Mautic integration plugin and SuiteCRM (community edition). Most part of the integration work fine.

We have "Push contacts and/or companies to this integration" on the Mautic-SugarCRM plugin unticked. When trying to use the 'Push contact to integration' action in a Campaign it is not working.

| Q   | A
| --- | ---
| Mautic version | 3.3.3
| SuiteCRM version | 7.10.30 (not Sug

[2021-05-14 13:11] powertictech commented on #9948
Same on 3.x

[2021-05-14 13:22] evgu commented on #10024
@canal-web @npracht, grateful for your suggestions :)

[2021-05-14 14:14] npracht commented on #10024
To you have data in all mandatory fields ?

[2021-05-15 12:44] RCheesley opened #10028 "Doctrine fixtures are double-loading reports and custom fields"
## Bug Description
When using bin/console d:f:l to load in sample data we are getting duplicates in both reports and custom fields:

![screenshot-mautic4 ddev site-2021 05 15-13_42_39](https://user-images.githubusercontent.com/2930593/118361491-9af4a680-b583-11eb-94ea-9373dc64889c.png)

![screenshot-mautic4 ddev site-2021 05 15-13_42_57](https://user-images.githubusercontent.com/2930593/118361492-

[2021-05-15 13:01] #9785 closed, assigned to nobody

[2021-05-16 03:46] shinde-rahul commented on #9980
Unable to reproduce the same with the following.
P | |Version
-|-|-
PHP version|: |7.4
Mautic|:| `features` (branch)  [367d2bdebc]

[2021-05-16 04:23] MarkerB commented on #6178
Disabling mod_security had no affect for me.  I found that I had to disable Cloudflare's PHP **Web Application Firewall** for Mautic, or I'd get the 403 errors when trying to save an Email.

[2021-05-16 19:56] namratasaun commented on #5986
Hello, I also want this feature, I tend to schedule bigger campaigns during night, so I can use

php /var/www/html/mautic/bin/console mautic:campaigns:trigger --campaign-id=291

but in

php /var/www/html/mautic/bin/console mautic:campaigns:trigger

all campaigns are triggered including the big campaign which doesn't allow the other campaigns to run on time.
Is there an open issue regarding this on

[2021-05-17 07:45] ghost opened #10042 "Segment mail does not use site_url for link replacing and tracking"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic does not use site_url wh

[2021-05-17 08:44] luguenth commented on #8712
Does your Problem still persist? Or did you manage to solve it somehow?
It also occurs on one of our Instances, which is an upgraded Mautic 2 Instance now running Mautic 3

[2021-05-17 15:42] danielwpsouza commented on #8712
Hello how are you?

This problem persists, I know how to solve it, but I believe that this correction should be in the CORE of Mautic.

This happens when the "Lead" is deleted by the command below.

Run the command "php console mautic: maintenance: cleanup --dry-run --days-old = 90", after that the errors appear.

The fix is ​​to delete the "Orphan ID".

My correction:
I created a PHP file that fe

[2021-05-17 15:45] danielwpsouza commented on #8712
@RCheesley
Is there a console command to resolve this?
Some native action would be more interesting than my CRON in parallel.

[2021-05-17 17:25] GrooveDevops commented on #7382
Try fixing your database schema. Go to http://[your-mautic-url]/s/update/schema. It will update your database schema if there are some known updates to be applied.

I had the same problem, and it works fine now.

If it still fails, try looking at the general troubleshooting in the docs https://mautic.org/docs/en/tips/troubleshooting.html

[2021-05-17 17:27] GrooveDevops commented on #9202
you need to update database schema

Try fixing your database schema. Go to http://[your-mautic-url]/s/update/schema. It will update your database schema if there are some known updates to be applied.

I had the same problem, and it works fine now.

If it still fails, try looking at the general troubleshooting in the docs https://mautic.org/docs/en/tips/troubleshooting.html

[2021-05-17 19:05] danielwpsouza opened #10044 "Entity of type 'Mautic\LeadBundle\Entity\Lead' for IDs id(411161) was not found"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
https://github.com/mautic/mauti

[2021-05-18 03:01] #9630 closed, assigned to nobody

[2021-05-18 10:07] shinde-rahul opened #10045 "After installation, git status shows few Assets/js deleted from the GrapesJsBuilderBundle."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After installation using `ddev

[2021-05-18 10:10] RCheesley commented on #10045
I think this is because we still have work to do to implement GrapesJS in the Composer workflow, and to build assets.

cc @nickveenhof @adiux @dennisameling

[2021-05-18 10:21] shinde-rahul commented on #10045
One thing I missed outputting the changes od README and composer.json file, are as follows,
[code]

[2021-05-18 20:05] RCheesley commented on #9660
Same issue but now with a different error:

0 - Checking installation requirements...
Ready to Install!
1 - Creating database...
1.1 - Creating schema...
Errors in schema configuration/installation:
  - [error] An error occurred while attempting to install the data: An exception occurred while executing 'ALTER TABLE dynamic_content RENAME TO bak_dynamic_content':

SQLSTATE[HY000]: General error: 1

[2021-05-18 20:11] RCheesley commented on #10045
@shinde-rahul please pull down from the current features branch and give it a test - I think this issue is now resolved since we sorted out the composer stuff!

[2021-05-19 01:57] latinlifestyle opened #10053 "GrapeJS are Missing Images: Wrong Path"
Hey guys about a Builder GRAPEJS. Does anybody having problems with upload images with a incorrect link?

When I start the template the images are missing even when I add a image block and try upload seem the link are going to the incorrect path.

When I inspected the link shows me is this https://mysite.com/index.php/themes/brienz/assets/brienz.jpeg (template) and https://mysite.com/index.php/med

[2021-05-19 02:18] #9152 closed, assigned to nobody

[2021-05-19 05:52] shinde-rahul commented on #10045
@RCheesley, the issue is resolved now.  This is good to close.

[2021-05-19 06:25] shinde-rahul commented on #9950
@kuzmany, the modal used the same order. As per your comment https://github.com/mautic/mautic/pull/9895#pullrequestreview-633227732, we should start discussing the UX changes, as these might be helpful to review UI changes.

@RCheesley @mohit-rocks your thoughts.

[2021-05-19 06:32] kuzmany commented on #9950
Just saying, If after upgrade to M4, I accidentally close modal window hundred times due the change orders of buttons, then something smell bad. Cannot imagine how not technical users go mad after upgrade.

Not talking about create/edit page. In that pages I am okay with it.
I am talking about modal windows.

[2021-05-19 06:46] #10045 closed, assigned to nobody

[2021-05-19 07:18] nickveenhof opened #10055 "Package misd/phone-number-bundle is abandoned, you should avoid using it. Use odolbeau/phone-number-bundle instead."
When installing with composer, it complains:

`Package misd/phone-number-bundle is abandoned, you should avoid using it. Use odolbeau/phone-number-bundle instead.`

So we should look into replacing this package before the official 4.x release to make sure we don't ship with unsupported packages.

[2021-05-19 07:19] nickveenhof commented on #10055
@RCheesley Pinging for labeling/deciding how critical this is

[2021-05-19 08:24] patrykgruszka opened #10056 "Multiple counting email reads"
## Bug Description
I have noticed that every email with a lot of recipients has some error in the Read counter that appears on the emails list. Usually the error is between 2% - 3,5%.

There is a hint when mouse is over stats in email list:

It's true, the deleted contact will not be visible on list when you click on it. Email read will be counted multiple times only when it's sent multiple times.

[2021-05-19 09:30] sofocle80 opened #10057 "Landing page only looks ok when logged in mautic"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Creating a new landing page, wi

[2021-05-19 09:48] namratasaun commented on #6195
Mautic 3.2 getting this error when I try to to run mautic: email:fetch.
I can confirm it was running on the same server with the same email some time back. I tried with another email from same domain and it is working there too. Just giving this error on this specific email

0 emails processed for {imap.gmail.com:993/imap/ssl}[Gmail]/Spam with a criteria of UNSEEN
PHP Notice:  Unknown: [CLOSED] IM

[2021-05-19 12:03] mrvasilyev opened #10058 "Email custom tokens send a photo via email"
Hi there,

I use REST API endpoint to send personal email to client (from Service Desk Software)

POST /emails/ID/contact/CONTACT_ID/send

I create special JSON to send custom tokens in template.

I include information about tech support person who responsibility for created ticket in Service Desk.
Everything work perfect!

I need to send a photo of employee person to client.

**How can I do this?

[2021-05-20 09:11] patrykgruszka commented on #9764
This issue is fixed by #9461. I've added unit test to ensure that this works as expected.

There is a workaround for this issue. It should import data correctly when you map `Company Name` (from company fields group) instead of `Company` (from contact fields group).

[2021-05-20 15:01] xdubx commented on #7836
the meta file has a https entry buts its wrong.
`<AssertionConsumerService index="0" isDefault="false" Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://your-domain.com/s/saml/login_check"/>`

Change it to http

[2021-05-20 15:32] fastyzfr1 commented on #8471
+1 on this issue. I know that this is an open source project. Yet I am not sure why it wouldn't be completed by now. The new API and authentication was released over a year ago.

@jobiaya how are you hosting your Mautic version? Is it on AWS, Bitnami or self hosted? That might make a difference on installation.

[2021-05-20 15:36] RCheesley commented on #8471
Hey there! It hasn't been worked on because very few people use this feature therefore it is low priority for the core team given the huge workload just to keep pace with the mandatory updates we have to do, and no developers have decided to work on it from the community.

Perhaps consider adding a bounty if you want to have someone pick this up, or if it is urgent for you, feel free to hire a fre

[2021-05-20 18:45] jobiaya commented on #8471
Self host

On Thu, May 20, 2021, 11:32 AM fastyzfr1 ***@***.***> wrote:

[2021-05-20 19:10] fastyzfr1 commented on #8471
@RCheesley Got it. Makes sense to me.

I already created a patch to test if it is a bitly link and to send a post command with the authorization in the header. I did it for v3 and v4. I didn't realize my bitnami install had version 3.3 whereas the github version was 4.

V4 uses guzzlehttp which I am very familiar with, whereas v3.3 uses Joomla/http/http and I didn't know much about. So my patch wo

[2021-05-20 23:14] latinlifestyle commented on #10053
Finally I find out the problem. Mautic URL was with index.php in the config (Site URL field). Once I removed and cleaned a cache. Fixed it.

[2021-05-20 23:14] #10053 closed, assigned to nobody

[2021-05-21 07:12] kuzmany commented on #9904
Probably this should fixed it https://github.com/mautic/mautic/pull/10067

[2021-05-21 07:59] RCheesley commented on #8471
@fastyzfr1 if you would like to make a PR for the team to review that would be great.  We have some documentation here: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests - please make it against the Features branch as we are preparing for the Mautic 4 release on that branch.

Shout on the Mautic 4 (mautic-4) or Product Team (t-product) channel on Slack (https://maut

[2021-05-21 10:47] thinkl33t commented on #7836
The issue in our case was that trusted proxies wasn't set correctly, so mautic wasn't able to detect the url it was running from was correct.

[2021-05-21 13:38] RCheesley commented on #9950
Hey folks!

Thanks for raising your concerns @kuzmany.

I feel that we should be consistent with the button order across the product. It makes no sense to have apply|update / cancel in one place and cancel / apply|update in another place. This is, in my opinion, more important than which order the buttons are displayed in.

Personally speaking, I always found with Mautic that it was frustrating fo