[2020-09-21 04:38] joyloan commented on #9223
I tried installing through Softaculous

But there too installation gets stuck between 7-10%. Then nothing happens for hours. I tried so many times

[2020-09-21 06:37] RCheesley commented on #9223
Hi there, In most cases we have found this to be due to a database version that is not supported. Please take a look at [this thread](https://forum.mautic.org/t/solved-upgrade-to-3-0-1-row-size-too-large-mariadb-10-5/15495) in the forums, and the minimum requirements [here](https://www.mautic.org/download/requirements).

As this is not likely to be a bug with Mautic itself, I'm going to close this

[2020-09-21 06:37] #9223 closed, assigned to nobody

[2020-09-21 06:40] RCheesley commented on #4221
Re-opening due to a misunderstanding on my part.

[2020-09-21 09:00] dennisameling opened #9224 "Add DNC (do not contact) while creating contact through API doesn't work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When creating a contact through

[2020-09-21 09:28] Datch06 opened #9225 "issue with code mode bloc added in the builder"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-09-21 09:45] mabumusa1 commented on #9129
Based on the comment mentioned [here](https://github.com/mautic/mautic/issues/9109#issuecomment-677425467), this issue is intentionally left as is due to upgrades to later version of MySQL.

My suggestion to dump the data from the old database and reimport it to new database using this command

Export database data only
``mysqldump -u [user] -p[pass] --no-create-info mydb > mydb.sql``

Import the

[2020-09-21 09:46] mabumusa1 commented on #9073
This issue is discussed in more details here https://github.com/mautic/mautic/issues/9129#issuecomment-696010876.

This issue is closed in favor of #9129

[2020-09-21 09:46] #9073 closed, assigned to nobody

[2020-09-21 10:03] mabumusa1 commented on #9220
@ludovicfourrage what happens when you click this button
![image](https://user-images.githubusercontent.com/12627658/93754638-b8e35480-fc0a-11ea-9acd-f6e4a6247914.png)

Could it be that plugins are not reloaded?

[2020-09-21 11:14] dennisameling commented on #9076
@StoppingBuck Good catch - I did some research as part of my work on https://github.com/mautic/mautic/pull/9226. The issue you're describing is basically caused by the following:
- The function [`addDncForContact`](https://github.com/mautic/mautic/blob/3.0/app/bundles/LeadBundle/Model/DoNotContact.php#L91) has a default of `DNC::BOUNCED`, which equals 2. This function is used by several parts of M

[2020-09-21 11:30] RCheesley commented on #9225
Hi there, can you confirm whether this persists on 3.1 as we have had several fixes related to the editor since 3.0.1.

[2020-09-21 11:46] dennisameling commented on #9076
@StoppingBuck PR done, please test whether this fixes the issue: https://github.com/mautic/mautic/pull/9229

[2020-09-21 11:52] dennisameling commented on #9224
Hi! To keep things central regarding issues around Do Not Contact (DNC), I created a JIRA issue to track all issues related to DNC in a single place. That way, we can more efficiently fix the several bugs that were reported. Please check it out: https://mautic.atlassian.net/browse/TPROD-72

[2020-09-21 11:52] dennisameling commented on #9175
Hi! To keep things central regarding issues around Do Not Contact (DNC), I created a JIRA issue to track all issues related to DNC in a single place. That way, we can more efficiently fix the several bugs that were reported. Please check it out: https://mautic.atlassian.net/browse/TPROD-72

[2020-09-21 11:52] ghost commented on #9128
I tested a lot and found out that mails with fewer than 800 lines (of code) could be saved - more and the described bug is shown.

[2020-09-21 11:53] dennisameling commented on #9027
Hi! To keep things central regarding issues around Do Not Contact (DNC), I created a JIRA issue to track all issues related to DNC in a single place. That way, we can more efficiently fix the several bugs that were reported. Please check it out: https://mautic.atlassian.net/browse/TPROD-72

[2020-09-21 11:53] dennisameling commented on #9076
Hi! To keep things central regarding issues around Do Not Contact (DNC), I created a JIRA issue to track all issues related to DNC in a single place. That way, we can more efficiently fix the several bugs that were reported. Please check it out: https://mautic.atlassian.net/browse/TPROD-72

[2020-09-21 12:13] Datch06 commented on #9225
You're right it was resolved with 3.1. thanks

[2020-09-21 12:16] Malbrouck commented on #9129
Hi,

I tried this already: backup of DB using the --no-create-info flag ; in mysql "drop database" and create a new empty one ; fresh install of mautic 3.1.0 ; then restore by importing data

Unfortunately it failed on an error saying there was a missing column. I think it was about the table email_stats.

As my backup SQL file is almost 6 GB I've no way to edit it...

So I just gave up there and

[2020-09-21 13:48] ludovicfourrage commented on #9220
It doesn't fix it. The overlay message is '0 new plugins were installed and 0 were updated'

[2020-09-21 14:32] mike-sull commented on #9162
SEG browsers/agents can "click" on one/some/all links right after the email is sent. A common one we've seen is Barracuda. Running a page hits/landing page report in Mautic and filtering by the page, a column can be added for browser/agent and one for IP. If there's a common browser or IP, this can be added to the configuration setting for IPs or bots not to track. One browser/agent/SEG can have v

[2020-09-21 14:44] imekedaprahs commented on #9203
We have not been able to try this is on version 3.1 at this time. We experienced bugs that forced us to roll back to 3.0

[2020-09-21 15:30] #8627 closed, assigned to mabumusa1

[2020-09-21 16:12] StoppingBuck commented on #9138
@mabumusa1 Now it can be closed :)

[2020-09-21 17:28] dennisameling commented on #9224
Closing because https://github.com/mautic/mautic/pull/9226 has been merged 👍

[2020-09-21 17:28] #9224 closed, assigned to dennisameling

[2020-09-21 17:28] mabumusa1 commented on #9138
@StoppingBuck Sure it is

[2020-09-21 17:28] #9138 closed, assigned to nobody

[2020-09-21 17:31] dennisameling commented on #9076
Closing now that https://github.com/mautic/mautic/pull/9229 has been merged 👍

[2020-09-21 17:31] #9076 closed, assigned to nobody

[2020-09-21 18:22] mjml1982 commented on #9200
Hi,

I'm having the same issue, @flossels I have changed the database version manually but its still not working.
I'm using 3.1 from github not any image of bitnami or docker.

Thanks.

[2020-09-21 18:37] RCheesley commented on #9156
Hi folks, unfortunately we were not able to get this resolved in the 3.1.1 release so I've bumped it back to 3.1.2.

If anybody would be up for looking into it please shout and we can help you get set up to make a PR!

[2020-09-21 18:39] RCheesley commented on #9139
Also pinging @madmath03 as I think we flagged up this warning when we were testing the install at CLI PR but decided to look into it at a later date.

Bumping this to 3.1.2 - @gramakri if you'd like to work on this we'd need the PR to be submitted and tested before the **18th October**.

[2020-09-21 18:40] RCheesley commented on #9137
Bumping this issue back to 3.1.2 as we did not have time to address it fully before the release freeze.

[2020-09-21 18:41] jabaco commented on #9156
Why?? this is a crucial feature... Mautic 3.1 Main feature is Amazon SES Api integration and this should be a priority.... one month more to wait is too much...

[2020-09-21 18:46] RCheesley commented on #9116
Bumping this back to 3.1.2 as we were not able to look into this in time for the release freeze.

@mautic/acquia-po it looks like this bug is due to/related to some code that was introduced in an Acquia PR bringing in ELFinder file manager support into Froala. I'm not sure if its going to be feasible to get any time to look into this - if not we'll try to find someone in the community to pick it u

[2020-09-21 18:47] RCheesley commented on #9069
As we haven't been able to get a fix for this yet, I'm moving it back to 3.1.2 - it would be good to try and get it in for that release as it's a bit of a nasty one for folk who use base64.

[2020-09-21 18:59] RCheesley commented on #9017
Hi folks, we have a bunch of fixes coming in the 3.1.1 release related to DNC, quite a few bits were broken as a result of the extensive refactor that came with 3.0.

As there are several PR's and issues we are tracking them on a Jira ticket here: https://mautic.atlassian.net/browse/TPROD-72

We have tried to get as many into the release as we can, but some required more testing and we had a lack

[2020-09-21 19:01] RCheesley commented on #9016
Hi folks, unfortunately we did not have anybody test the PR, so we are having to push it back to 3.1.2.

If you want this fix to make it into Mautic, please help us by testing and reporting on #9053 before **18th October**.

[2020-09-21 19:28] tenil commented on #9156
I followed those steps and it didn't work out.

[2020-09-21 20:19] RCheesley commented on #9222
Hi there,

It sounds like this is an issue you need to take up with your email service provider based on:

This is not an issue with Mautic as it is correctly being flagged as a bounce, so I am going to close this down.

Please raise a support request with your email provider, and if you still require assistance please post at https://forum.mautic.org/c/support.

[2020-09-21 20:19] #9222 closed, assigned to nobody

[2020-09-21 20:23] RCheesley commented on #9221
@frankofno do you suggest that the error message should instead be rendered at the bottom of the page beside the send button, rather than at the top of the page? Just so I can understand what it is you're reporting and how it might be resolved.

If so, would you like to take a go at making a pull request to implement this?

[2020-09-21 20:25] RCheesley commented on #9220
I am also seeing reports of this with folk who are on Bitnami-based instances: https://community.bitnami.com/t/i-launched-aws-bitnami-image-for-mautic-the-plugins-are-missing/85747

[2020-09-21 20:27] RCheesley commented on #9225
Fab, I'll go ahead and close the issue then :) Thanks for reporting back!

[2020-09-21 20:27] #9225 closed, assigned to nobody

[2020-09-21 20:37] Carlos-mb commented on #9222
WTF?

Have you read It?

Mautic is processing bounced as unkown user (logically permanent block) when it's a IP rating problem (contact shoudn't be marked as do not contact)

[2020-09-21 20:50] RCheesley commented on #9222
Hi there,

Firstly, please re-acquaint yourself with our [code of conduct](https://www.mautic.org/code-of-conduct), particularly with regards to expected and unacceptable behaviour. Expletives are not an appropriate or acceptable way to express your disagreement with something that someone has suggested.

In your screenshot, the image shows 'email bounced', rather than 'do not contact'. Therefore

[2020-09-21 21:08] Carlos-mb commented on #9222
I apologize if I was too much explicit sharing my mind when I read the response.

If you had explained in the first response as you have done in the second, I could have had the chance to respond to your explanation.

Anyway. It doesn't matter. I prefer to don't argue. It's a lost battle.

Regards

[2020-09-21 21:10] trancemanone opened #9232 "DKIM Header Changed : DKIM Signature Body Hash Did Not Verify"
| Mautic version | 3.1
| PHP version | 7.3
| Browser | Chrome

Hello all,

I use [Postal](https://github.com/postalhq/postal) as my SMTP. I have all the DNS records installed correctly : SPF DKIM and DMARC and verified 10/10 on mail-tester.

When I test these records by sending a test directly from Postal to my gmail account and then test my email header with mxtoolbox or [appmaildev](https://www.

[2020-09-21 21:47] trancemanone commented on #9232
Just in case its not clear. I use:
Email Settings > Service to send mail through > Other SMTP server

[2020-09-21 21:54] RCheesley commented on #9219
Hi @Plato39 thanks for taking the time to report this, it does indeed sound like an annoying bug!

[2020-09-22 00:28] frankofno commented on #9221
Yes, actually I would move the whole part up.
So the template dropdown field,  the cancel button and send button are always above the message field/box.
First pull request, not sure what to do, I will find out I guess :)

[2020-09-22 09:35] Vartkat commented on #7562
1 up on this one.
I also got the exclamation and thanks to this request I know now where to look, in the database but my regular users won't go there.

[2020-09-22 10:04] colourfulowl commented on #9162
@mike-sull Filtering it out is handy, but ideally, mautic should automatically try and detect these. The issue with IP blocking is it can vary heavily depending on how the SEG is set up. For example, in my office, the SEG uses the same IP as everyone's general internet. This means if we blocked the IP, we'd lose genuine analytics, which become a new issues.

My thoughts here is to basically append

[2020-09-22 10:33] RCheesley commented on #9221
OK let's get some thoughts from @mautic/core-team about this proposal before we start poking about in the code.

From the user perspective I get where you're coming from, but equally once you've created the email and you're at the bottom of the page, you don't want to have to go all the way to the top in order to hit save - that would be super confusing and somewhat frustrating. So I think that mo

[2020-09-22 11:55] escopecz commented on #9221
The modal buttons are down in all modal windows throughout the UI. Let's be consistent and have them always at the same space.

[2020-09-22 12:05] RCheesley commented on #9221
@escopecz how about the error message? I have experienced the issue that @frankofno mentions myself several times in Mautic where the error is appearing a long way from the submit button.

[2020-09-22 13:06] supercosh commented on #7562
Unfortunately I'm not enough familiar about the Mautic Code to provide a patch for this. I would be happy if someone could implement this with the help of my above information.

[2020-09-22 13:49] madmath03 commented on #9139
Indeed we saw this warning during tests of #7395 with @RCheesley but left it for later as this warning does not seem to impact the install process.

As @gramakri mentioned, the final step could be moved into email step, but I think adding a new index for the final step might be more flexible.
I'm thinking about something like that:
[code]

[code]

I can submit a PR for this if you're interested.

[2020-09-22 14:39] frankofno commented on #9221
How about a scrollable content / body field? So all buttons and fields are visible.

I guess there are different scenarios in here:

- Writing a new long email so a send button down - great
- Choosing a template email - i don't actually need to be at the bottom - send button top -great
- Either way, many times I set the subject at last. So after composing I have to go up, to type in the subject.
-

[2020-09-22 15:24] benfavre commented on #2923
Could we explore this again ? @RCheesley

[2020-09-22 16:15] gramakri commented on #9139
@madmath03 I am happy to test it if you can submit a PR. Thanks!

[2020-09-22 16:39] dudanogueira commented on #9182
I have the same problem :) Probably got a lot of notifications to be removed.
It was already like that before the 3.0 migrations.

Let me know if I can help triagging this bug.

[2020-09-23 09:55] colourfulowl opened #9235 "Focus Item - Form Page Breaks Not Compatible"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Create a form that uses multipl

[2020-09-23 11:33] Carlos-mb commented on #9222
If someone read this issue sometime....

**Yes, it's happening.**

Emails bounced because of IP reputation are being marked as "do not contact" and removed from all campaigns.

Microsoft banned my SMTP provider's shared IP and now, all my contacts at outlook, hotmail, live... have been removed from campaigns.

It was marked as "Unkown user or server"
It was marked as "do not contact"
Removed from

[2020-09-23 12:22] tungda commented on #9188
I have the same issue. And even replace the app.js & app.css files as @patrykgruszka above mentioned & clear the cache also but still the same.

[2020-09-23 15:51] RCheesley commented on #9188
Please pull down the latest staging branch if you checked out from Git?

[2020-09-23 16:13] lostKingd0m commented on #9193
No. only the contact widget is showing incorrect data .  as you can see in picture I added only 28 contacts on 28 august.and after that I didn't add any contacts but the graph is showing me incorrect data .

[2020-09-24 00:07] gmenezesg commented on #7751
Same here.

[2020-09-24 00:16] cloudpotions commented on #9212
@mabumusa1 - I understand that Mautic uses port 2587. I think in that file we should put Port 2587 and port 587. The reason why, once port 587 is added, in the Amazon SNS dashboard, under Subscriptions - This can not turn to state "confirmed" until the Port 587 is in that file. I have also seen other posts about this topic on the internet.

[2020-09-24 00:39] cloudpotions commented on #9212
Also one more thing @mabumusa1  - I am talking about SNS - I am not talking about SES.

[2020-09-24 09:09] martinstr commented on #9017
Have the same issue here, tried to remove the email bounce tag on one contact but got the 500 error with the same thing in the log. `mautic.CRITICAL: Uncaught PHP Exception InvalidArgumentException: "mautic.lead.model.dnc is not a valid model key /app/bundles/CoreBundle/Factory/ModelFactory.php line 41 {"exception":"[object] (InvalidArgumentException(code: 0): mautic.lead.model.dnc is not a valid

[2020-09-24 09:46] martinstr commented on #9017
For now if anyone need to remove bounce on a contact you can go into the database and go into tabel "lead_donotcontact" and look up your contacts id it should have a reason = 2 . No 2 is the bounce so just delete the hole row and its done.
![image](https://user-images.githubusercontent.com/19844475/94129351-8bd9b080-fe5b-11ea-9039-42f09c6a382f.png)

[2020-09-24 11:07] wolfadr commented on #8903
If you are using a SES Configuration Set (by setting the custom mail header `X-SES-CONFIGURATION-SET`), the bounce event generated by SES is slightly different than if you configure bounce management globally. In fact, the difference is just a JSON key. It is `eventType` instead of `notificationType`. Unfortunately, the Mautic webhook expects `notificationType` and is unable to process the event u

[2020-09-24 13:19] kuzmany commented on #9014
This should fixed it https://github.com/mautic/mautic/pull/9237 . Please try, and write comment in that PR If works. It help merge it in next version

[2020-09-24 14:39] PublyaDev commented on #9129
Hi,

So the solution for this problem til now is to restore an old backup and use an older version? We don't have anything more to do?

Having the same issue here.

Thanks.

[2020-09-24 16:00] stevedrobinson commented on #9166
I have an update. I was able to get the raw error from Guzzle:

`Inserting ID with POST request is not allowed. If you have any questions, please contact Piped (truncated...) `

This makes sense, since we map the pipedrive id back to Mautic to make it easy to use it in tokens in alerts to the team.

I was able to get it to work by editing /plugins/MauticCrmBundle/Integration/Pipedrive/Export/LeadE

[2020-09-24 18:06] HermanMonteiro commented on #9128
I tested it with a html code of 559 lines in version 3.1.0 and the error reported in this issue also happens.

[2020-09-24 19:13] joaopintof commented on #9009
the same issue for me.
i've change the language to Portuguese, and i got the message mautic.core.update.archive_no_such_file!

any workaround? tks!

[2020-09-24 19:56] joaopintof commented on #9009
I found a solution here
i downloaded the translation zip file from url https://language-packs.mautic.com/pt_BR.zip and i sent unziped files to **'/htdocs/translations'**

Everything works like a charm!! :-)

Hope this helps!!!!

[2020-09-25 06:24] #9153 closed, assigned to mabumusa1

[2020-09-25 08:07] peroda commented on #9116
i have same problem. any temporal solution? Thx

[2020-09-25 09:16] StoppingBuck commented on #9137
What if we need to use the Queue option due to large sendouts?

[2020-09-25 09:19] admin-fcosson opened #9238 "Error 500 when submit form"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I recently upgraded Mautic to 3

[2020-09-25 10:38] wise-gorilla commented on #9137
@StoppingBuck atm the queue dont work with SES API, Did you try to apply this PR #9150 and send a large campaign and it failed?

[2020-09-25 12:30] steve3g commented on #9192
@RCheesley, thanks for the reply. The LP1-Subscribe template is one I found on the Internet and modified for my own use, but I suffered the same problem with the original download. However, I also have the same issue with all the Fresh templates, The attached screen shots are from "Fresh - Center". To further test, I also have the problem using a blank template (see screenshot).
![Whole Page](http

[2020-09-25 14:10] Plato39 commented on #9219
No problem.  It is an annoying bug as the warning notices never stop!  Once you get them the only fix is to manually delete the entry from the audit_log table using phpMyAdmin.  I rely on Mautic tags for double-opt-in functionality.  They provide the only way (that I can see) to record a confirmation page hit before an opt-in segment / campaign has started.

[2020-09-25 19:45] wise-gorilla commented on #6389
I think it would be a great feature to have especially for ecommerce, I'm imagining if it's posible to push a custom event like "Purchase" or "Checkout" with all data related to this event like product name etc.. what can be amazing to is to have the option to make any parameter on that event avilable on segment filters

[2020-09-25 20:27] fenosc commented on #3558
Hi there guys, I'm having problem with this as well but my case might be a bit more tricky cause I'm using Google Tag Manager.
The screeenshot below shows that the two tags were triggered

- **Mautic DEV** - Triggered on page load
- **Mautic - Pedido Formulario** - Triggered after submitting a form

![image](https://user-images.githubusercontent.com/38872987/94312404-308ae980-ff53-11ea-9f60-939c10

[2020-09-25 21:58] pjoulot opened #9241 "TextareaType is not reusable"
| Q   | A
| --- | ---
| Mautic version | 3

Hello,

I am trying to create a new slot type with one Rich text and one image. It is kind of the same as "Image Card" but the text is not a simple input, it is a rich text.

The current code in core is considering that if a slot has a TextareaType, the whole HTML of the slot is for this rich text field. SlotTextType is using it.

In 4.builder.js
[code]

[2020-09-25 23:57] pjoulot opened #9242 "Image upload not working with Firefox"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

When using Firefox, the plugin

[2020-09-26 14:20] trancemanone commented on #9232
I use Postal as my SMTP. I have all the DNS records installed correctly : SPF DKIM and DMARC and verified 10/10 on mail-tester.

When I test these records by sending a test directly from Postal to my gmail account and then test my email header with mxtoolbox or appmaildev I get a DKIM pass reply.

However, When I send a test email from Mautic to my gmail account and test the header with mxtoolbox

[2020-09-26 18:49] giacy86 commented on #9040
Same problem here. Also, i previously used the segmentation for birthday emails, and the filter was True with `custom date field equals birthday -0 days`
Now with 3.1.0 not work neither with "anniversary, today", nothing.
Please help!

[2020-09-27 03:34] J-Light commented on #9156
Upgraded to 3.1 from 2.16 hoping to use the feature. We are having the same issues.

[2020-09-27 17:08] giomasce opened #9243 "Campaigns inconsistently reported as a JSON array instead of object"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-09-28 02:18] TornMarketing commented on #7360
Hey team,

Where are we at with polishing and patching this to production?

Few items I have noted with image upload and management, but beyond that it seems rather solid.
https://github.com/Webmecanik/plugin-grapesjs-builder/issues/7

Dwayne

[2020-09-28 02:47] frankofno opened #9245 "geoIP data not removed on deletion of contact"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Not all geoIP data associated t

[2020-09-28 02:53] frankofno opened #9246 "validation error on webform"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I've a simple sign up form on m

[2020-09-28 04:54] TornMarketing opened #9247 "Feature Request - General Comments Field on Email Templates/Assets - Custom Fields"
We would be very keen to have a **general comments** field or **custom fields** for that matter against all emails, assets, campaigns etc so that we are able to put internal notes against all elements that are managed manually in Mautic.

We often build emails and store them as templates, but we then are missing context of what, when, how, who and where this email template was used for when we loo

[2020-09-28 04:59] TornMarketing opened #9248 "Feature Request - Form submission via API / webhook"
Feature Request - Form submission via API / webhook

Request is to enhance the API to support form submissions.

We manage alot of our integrations now via middleware software for websites such as Zapier or Integromat, we are missing a feature to be able to submit a form via these methods.

Currently we are having to submit upsert contacts with new tags which will then trigger to be submitted into

[2020-09-28 05:07] TornMarketing opened #9249 "Feature Request - Throttle Logic for Forms/Campaigns"
**Feature Request - Throttle Logic for Forms/Campaigns**

We are ultimately using the forms to send autoresponders to the prospects and send lead alerts to relevant stakeholders.
We would want to throttle this so that if someone submits 10 times in 5 minutes, the actions only result in 1 email.
But if they submit again an hour later, it has cleared any potential system noise and would allow the ac

[2020-09-28 07:08] RCheesley commented on #9249
Hi @TornMarketing thanks for sharing your ideas for how to improve Mautic!

In the Mautic community we use Github issues for reporting bugs 🐛 only - not for suggesting feature requests. The reason for this is that we have a large audience who are not developers and do not venture into Github, and we want those folk to be able to engage in discussions about features that might be considered for Mau

[2020-09-28 07:08] #9249 closed, assigned to nobody

[2020-09-28 07:09] RCheesley commented on #9248
Hi there,

Please see my comment on your other issue and pop your suggestions on https://forum.mautic.org/c/ideas :)

Thanks for your interest in helping us make Mautic more awesome!

[2020-09-28 07:09] #9248 closed, assigned to nobody

[2020-09-28 07:10] RCheesley commented on #9247
Please see my other comments on your other issues and pop this up on the forum at https://forum.mautic.org/c/ideas.

[2020-09-28 07:10] #9247 closed, assigned to nobody

[2020-09-28 07:11] RCheesley commented on #9246
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-09-28 07:11] #9246 closed, assigned to nobody

[2020-09-28 07:13] RCheesley commented on #9245
Hi there,

Thanks for raising this as an issue, can you clarify how you deleted the contacts please?

[2020-09-28 07:58] ziruhel786 commented on #9127
I am having a similar issue, I have installed Mautic through AWS marketplace (https://aws.amazon.com/marketplace/pp/Bitnami-Mautic-Certified-by-Bitnami/B015YU4RJA#pdp-support). Everything working fine but Email builder not working. Please see this screenshot
![2020-09-28_13-30-33](https://user-images.githubusercontent.com/4748229/94405491-7255a300-0192-11eb-97f3-bdcc3e3ac50e.png) How can I solve t

[2020-09-28 09:11] RCheesley commented on #9139
Please do submit a PR if you are able - would be great to deal with the notice rather than leave folk worrying that something isn't going to work/something broke!

[2020-09-28 09:13] RCheesley commented on #2923
@benfavre absolutely - we would need a PR to add the functionality, but if you wanted to just discuss it as a feature request and don't have any code to accompany it yet, please open a thread at https://forum.mautic.org/c/ideas.

[2020-09-28 09:20] RCheesley commented on #9192
Are you using any browser tools that block ads at all? Does this happen in an incognito browser?

[2020-09-28 09:25] madmath03 commented on #9139
@RCheesley I already did the modification mentioned before but did not had the time to send PR yet.
Will do asap: #9250

[2020-09-28 13:48] benfavre commented on #9137
FYI I am using "send immediately" and broadcast:send and I am using this to send 200K messages a day with no issues.
I had to slow down the processing because I was over 200 messages/seconds limit on my account

[2020-09-28 14:52] wise-gorilla commented on #9137
@benfavre do you mean that you changed the getMaxBatchLimit() to 200 instead of 0?, I think you dont need to do that since the transport should detect your sending limits automaticly and do the proper throtling

[2020-09-28 16:48] pjoulot commented on #3459
The forum issue has been closed. What was the reason?
I can't style emails because of this, that's pretty sad, is there a workaround?

[2020-09-28 17:16] pjoulot opened #9255 "User Friendly Interface: Slot ID showing instead of Slot label"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

When creating emails, the name

[2020-09-28 18:38] steve3g commented on #9192
I have not installed any blocking tools and I do not think my settings would interfere. I have now tested on Chrome with / without incognito, Edge with / without private browsing and Safari on an iPhone with / without private setting.

[2020-09-28 20:28] SloMail commented on #9129
The Mautic version 3.1.1.-rc has the same issue, hope they will fix it in stable release!

[2020-09-28 20:37] RodrigoRosadeOliveira commented on #9127
Same here, i have installed  through AWS too.

`VM105:1 Uncaught SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Object.Mautic.initGrapesJS (app.js?v3b19c01f:706)
    at Object.Mautic.launchBuilder (app.js?v3b19c01f:706)
    at HTMLButtonElement.onclick (new:1749)
    at Object.trigger (libraries.js?v3b19c01f:683)
    at HTMLButtonElement.<anonymous> (l

[2020-09-28 20:43] RCheesley commented on #9129
@SloMail there is no pull request yet (as far as I am aware) to address this issue.

If you read up there have been some suggestions for how to work through the issue - if someone is able to make a PR would fix this issue then please do go ahead and submit one!

[2020-09-28 20:50] patodorf commented on #9011
I have exactly the same problem on v3.1.0.

[2020-09-28 20:50] ziruhel786 commented on #9127
@RodrigoRosadeOliveira
I have solved my problem by changing the OS Debian to Ubuntu.
I have re-installed using Ubuntu, If you have used Debian, you can try with Ubuntu.

[2020-09-28 20:55] RodrigoRosadeOliveira commented on #9127
I'm also with Debian:

PRETTY_NAME="Debian GNU/Linux 10 (buster)"

I will try that, thank you.

[2020-09-28 21:01] RCheesley commented on #9127
Folks, this issue in the last few posts was due to some files getting pushed to staging which had incorrect assets (see #9188 and the PR that fixed the issue #9194). It was fixed just over two weeks ago.

Suggest you pull down from Staging, or grab the latest installer (if you wait a few minutes we should have 3.1.1 available) and re-generate the assets using `bin/console m:a:g` at command line (p

[2020-09-28 22:27] frankofno commented on #9245
I just went to Contacts / checked multiple contacts with the checkbox and than clicked on delete via the dropdown. So in mautic, gui not in via sql or so.

Click on the green box and choose "Delete"

![Screenshot 2020-09-29 at 00 48 43](https://user-images.githubusercontent.com/35775329/94493713-a4482300-01ed-11eb-8c09-4198c34905ca.png)

Update 1: I just realised, the list is getting longer from d

[2020-09-28 22:38] frankofno opened #9259 "double scrolling over notification field"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When an error e.g. on a mailing

[2020-09-29 02:24] TnowL commented on #9149
I have reported this before. https://github.com/mautic/mautic/issues/9004

[2020-09-29 02:46] frankofno commented on #9245
I just came across that lock icon on Contacts. I did not know about those anonymous users. So after deleting all of those anonymous users, the segment and the map are all to 1 Contact, like it should be.

The lock showed me the anonymous users. Still, they should not be considered in segments, since you can not work with them.
![Screenshot 2020-09-29 at 04 41 02](https://user-images.githubusercont

[2020-09-29 04:14] petycomp commented on #9127
I had the same issue with Ubuntu, so changing from Debian to Ubuntu probably won't solve the problem.

@RCheesley I already tried to fix this issue based on 9188 and 9194, and it didn't help.

[2020-09-29 06:39] SloMail commented on #9129
Yes, and as you can see, not only to me, those "suggestions" won't help to resolve the issue!

[2020-09-29 08:39] alexhammerschmied commented on #7360
I built a huge project in the last month with the pagebuilder (together with the regular html builder). I found some real downsides during the work. I created more then 25 pages which are in production right now. They work, but there is a LOT of improvement to do regarding usability of the builder, bugs and performance of the pages (unloading JS, ...)
I am going to post a list/create PR's on the n

[2020-09-29 08:50] benfavre commented on #7360
Using the plugin in production also.
Biggest issue is the U.X. for non devs, specifically the lack of auto focus on the main attributes of an element on click

[2020-09-29 08:55] adiux commented on #7360
Is there a fix/workaround for the issue with the stylesheet? When I load the landing page in the builder, the CSS is ignored. It is not a problem on production, but there is no WYSIWYG experience for the editor.
https://github.com/Webmecanik/plugin-grapesjs-builder/issues/18

[2020-09-29 09:08] colourfulowl commented on #9192
Any chance you can upload the HTML files without all of the line item details. It makes it incredibly difficult to see what's what.

[2020-09-29 10:22] RCheesley commented on #9116
@peroda this seems to be only an issue with adding images in the 'image' type slot. A workaround could be to add images in text slots while this is fixed.

[2020-09-29 10:49] steve3g commented on #9192
I have attached the HTML from the mautic database. I assume this is what you want

I used the "Blank" template to keep the file as simple as possible. For your reference, I also included a screenshot of the rendering of this form in Chrome.

<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldata

[2020-09-29 10:58] colourfulowl commented on #9192
Hi @steve3g is this only happening in the preview, or is it happening when you publish the page as well?

I have the exact same set up as you and I can't reproduce this issue. There does seem to be some content missing from your code mode template.

`<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{pagetitle}</

[2020-09-29 10:59] colourfulowl commented on #9192
Hi @steve3g is this only happening in the preview, or is it happening when you publish the page as well?

I have the exact same set up as you and I can't reproduce this issue. There does seem to be some content missing from your code mode template. That might just be Github though. Can you try it with the below? Github really doesn't like me putting code here.

[mautic-code-mode-error.log](https:/

[2020-09-29 11:15] steve3g commented on #9192
Both preview and publish render identically.

[2020-09-29 12:22] yarimiz commented on #3195
I'm facing this issue with Mautic 3.1.0 and PHP 7.2

[2020-09-29 13:01] peroda commented on #9116
Thx @RCheesley. I'll do that

[2020-09-29 14:13] Gp2mv3 commented on #9040
We also have it in 3.0.2 using the date operator:
![Screenshot from 2020-09-29 16-12-44](https://user-images.githubusercontent.com/1221806/94570034-ac947280-026e-11eb-9e7a-02fe1dff7eeb.png)

The condition is always false.

[2020-09-29 15:14] mabumusa1 commented on #8560
@jacobshilitz has provided a good PR #9191 I think it should be considered in future releases

[2020-09-30 07:12] admin-fcosson commented on #9238
Still have the problem, any ideas? :(

[2020-09-30 10:34] RCheesley commented on #9139
@madmath03 thanks for taking a look at that and making the PR! As this is technically a bugfix we could potentially consider it for 3.1.2 if we have enough testing etc :)

[2020-09-30 12:24] HermanMonteiro commented on #9128
@dsp76 alright? Have you made any progress in this case? Did you manage to solve it in any way? I am thinking of downgrading to version 2.16 in order to use this feature

[2020-09-30 12:48] simcen commented on #8903
I had the same issue. Important is to set "Raw message delivery" to **Disabled** on the SNS subscription:
![Screenshot 2020-09-30 at 14 46 21](https://user-images.githubusercontent.com/560765/94687045-f2634080-032b-11eb-926a-00675daebcc5.png)

[2020-09-30 16:32] gramakri commented on #9139
Thanks for the PR @madmath03 , I will test this today.

[2020-09-30 22:44] #7349 closed

[2020-10-01 02:40] bobotdls commented on #9156
anybody already some solution on this issue?

[2020-10-01 03:45] bobotdls commented on #9156
Yeah I need your help

[2020-10-01 06:27] diamondtheta commented on #9055
I confirm that this bug exists in mautic 3.1 also. Any solution or workaround? :(((

[2020-10-01 10:34] jaapgr commented on #6389
Yes that would be a great feature to have, giving lots of possibilities for both ecommerce but also mobile-app integration.

[2020-10-01 14:11] mabumusa1 commented on #9232
Please verify the headers, I use Postal sometimes and I never got this problem. I suggest you send a simple email without headers and attachments to see if this problem reoccurs.

I do no think this is Mautic problem, as Mautic uses swiftmailer to send out emails and it works just fine with Postal, so please look into your configurations

[2020-10-01 18:33] trancemanone commented on #9232
Thank you for your reply.

When I send a direct email from postal then test the header there was no issues at all with the DKIM authentication on mxtoolbox .

But the issue is while using Mautic or any other marketing platform something in between isnt right.

By the way I have managed to get DKIM authenticated on mautic if testing is done on [maildev](https://www.appmaildev.com/site/testfile/dkim

[2020-10-01 20:21] weismannweb opened #9999 "Do not allow invalid URLs to be imported for images"
Mautic v3.1.0

Somehow grape js malformed my html and added an svg tag.  I think it was when I entered a url into the image manager (which has a lot of issues already) to add an image and accidentally it was a web page url not an image url.  Then I got a white screen of death in the grapesjs area and got this error:

[code]

I fixed it by removing the malformed html in the database (the "email" ta

[2020-10-02 02:17] alexdhika opened #9262 "Error Sending SES Api Mautic 3.1.1"
Sill error sending trough amazon SES API with queue setting in mautic 3.1.1

[code]

[2020-10-02 02:19] alexdhika commented on #9180
Sill error in mautic 3.1.1

[2020-10-02 07:11] adiux commented on #7708
I'm using dynamic content on my site and DWC works. It's Wordpress 5 with Mautic 2.16.1. Campaign-based and not. I use the WordPress Mautic Plugin. E.g. I display a dynamic product based on user behaviour, or all.

`[mautic type="content" slot="product-spotlight"]<a href="/mautic-installation/">Show Products</a>[/mautic]`

See it in action:  https://www.idea2.ch

[2020-10-02 07:53] trancemanone commented on #9033
same issue here

v 3.1 ubuntu 18.04

[2020-10-02 10:45] kuzmany commented on #9055
Tags filter is not supported in dynamic contents.
This PR https://github.com/mautic/mautic/pull/9260 display just supported filters in DC

[2020-10-02 11:37] diamondtheta commented on #9055
Oh, thanks, I see 3.2 will be awesome :)))

[2020-10-02 13:49] thelearncloud commented on #6063
I had this issue on a mautic install on Cloudways and I asked support to change these parameters.
This is what solved my issues:

innodb_large_prefix=ON
innodb_file_format=Barracuda
innodb_file_per_table=ON

[2020-10-02 15:59] sdragnev commented on #9200
Make sure you clear your cache by removing the contents of the cache directory. That did it for me. (after setting the database version string)

Btw, I'm experiencing the issue on a ubuntu 18.04 VM with mysql 5.7, with mautic installed manually.

[2020-10-02 19:12] Dylan-86 opened #9264 "Site offline after latest update to 3.1.1"
## Bug Description
This is what I see now after trying to update to Mautic 3.1.1

The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.
System administrators, check server logs for errors.

| Q   | A
| --- | ---
| Mautic version |
3.1.1

| PHP version |
7.3

| Browser |
Any

### Steps to reproduce
1. Update Mautic from the UI

[2020-10-03 21:29] dennisameling commented on #9072
Update - spent the whole day troubleshooting this issue.

`PageControllerTest` and `PipedriveControllerTest` seem to be failing because some other test(s) in other bundles earlier in the process break something (e.g. a request config/DB thing/etc.). If I run both bundle tests (`PageBundle/Tests` and `MauticCrmBundle/Tests`) separately, the issue isn't there 🤷‍♂️

After a lot of digging, it looks l

[2020-10-04 02:27] streamworksaudio commented on #9156
Having the same issue here.  Was going to send our first bulk newsletter today through Mautic/SWA SES.  When we tried to send a preview test mail we got this error.  Setting it back to 'Send Immediately' allowed the mail to go though.

I would say this is an urgent bug as anybody sending email to a large list through AWS SES need to send in a queue and not all at one time or else they risk loosing

[2020-10-04 04:54] streamworksaudio opened #9267 "Error when migrating for 3.1.1 update"
I tried to perform the update to 3.1.1 today and while it seems that the code was updated, the migration for the database fails.

When tying to do it from the command line with:

`php bin/console doctrine:migration:migrate`

I get the following error:

`Unknown database type json requested, Doctrine\DBAL\Platforms\MySqlPlatform may not support it.`

I read that some recommended checking the MySQL

[2020-10-04 05:21] streamworksaudio commented on #9267
I was able to get the migration to work by editing the parameters array in app/config/local.php, specifically I change the 'db_server_version' variable to 5.7 to match the version of MySQL installed on our server.

Just to recap I change...

`'db_server_version' => '5.5',`

to:

`'db_server_version' => '5.7',`

Just in case somebody else lands here from a Google search.

[2020-10-04 10:29] adirbnology commented on #7732
hi. having same issue on 3.1.0. @ZenDevMaster  any insights that u can offer maybe ?

[2020-10-04 10:48] streamworksaudio opened #9268 "Javascript Errors on Preference Center"
In the preference center, when clicking on the 'Contact me Though Email' checkbox results in a javascript error:

`Uncaught TypeError: Cannot set property 'disabled' of null`

When clicking on save, this leads to a 500 error.  Clicking save without checking the checkbox does not result in an error.

Mautic 3.1.1
PHP Version 7.2.24-0ubuntu0.18.04.6

[2020-10-04 11:53] dennisameling commented on #9072
Found a solution: enabling PHPUnit's `processIsolation` feature makes the CI pass, which confirms the earlier findings that some tests are conflicting with each other, but not when they run separately. PR which includes the fix and more details here: https://github.com/mautic/mautic/pull/9266

[2020-10-04 14:16] streamworksaudio commented on #9268
The issue seems to be with the js function togglePreferredChannel() which is executing:

`document.getElementById('lead_contact_frequency_rules_frequency_number_' + channel).disabled = true;`

But there is no element `'lead_contact_frequency_rules_frequency_number_' + channel'` on the page.

I have also noticed that the only way to show the option 'Contact me through email' is if I have the 'Show

[2020-10-04 23:35] unsnapp8 commented on #8457
I just ran into this issue, I think it is

[2020-10-05 13:48] simcen commented on #7405
Crosslinking https://github.com/mautic/mautic/pull/9270 for reference. Issue being resolved by this PR is that only a few company fields (Name, City Country) were replaced. Now all of company fields can be used in "Send email to user" action

[2020-10-05 14:45] colourfulowl commented on #9129
Hi all,

Sorry for going cold turkey, been a tad distracted.

I've just tried the latest release which includes PR #9170 which I believe is supposed to resolve this issue. Unfortunately, it hasn't solved the above issue. I haven't actually looked at the code in the PR yet but I'll feedback if I find a fix.

[2020-10-05 14:45] frankofno commented on #9209
sorry to bother you again. The avatar image from the assets folder was showing up in Safari. Today the avatar.png from the mautic assets folder is no longer showing up.

i changed the permissions to 777 for avatar.png but still not available in mautic.

The user image / avatar can not be uploaded/changed manually, because there is no option to upload it or define a url etc. Therefor I think this i

[2020-10-05 14:54] colourfulowl commented on #9209
What error are you given in your console?

If you don't see any error, then try uploading a dummy image with the name avatar.png into your media/images folder. If it's not a permissions issue the dummy image you upload should load and replace all of those markers.

[2020-10-05 14:56] colourfulowl commented on #9245
@frankofno / @RCheesley You can close this case :)

[2020-10-05 14:57] #9245 closed, assigned to nobody

[2020-10-05 18:32] patodorf commented on #9011
@lhpz , have you solved it? If so.. how you did it?

Thank you!

[2020-10-05 18:40] cfern87 commented on #1818
@zstephen use "greather than or equal" with `-3 months `the -/+ is in the past. Your query is, essentially "everyone whose last active date is after 3 months ahead of now" whereas mine says "everyone whose last active date is after 3 months ago"

[2020-10-05 21:03] pitus commented on #9085
Is there any progress with this issue? We're having the same problem after an upgrade of Mautic 3 !

[2020-10-06 01:00] streamworksaudio commented on #9268
Perhaps nobody is following this issue... but....

After looking at the DOM some more I am wondering if there were some name changes to the ID that were missed in the JS.

For example, I see the element (by ID) `lead_contact_frequency_rules_lead_channels_frequency_number_email`

However the JS is trying to select the element `lead_contact_frequency_rules_frequency_number_' + channel`

Perhaps the

[2020-10-06 08:29] npracht commented on #9268
Hi @streamworksaudio do you think you'd be able to offer a PR to fix this ?

[2020-10-06 08:55] kuzmany commented on #9075
I was not able to reproduce it on

https://mautibox.com/staging/
user: test
pass: tester

Do I something wrong?

[2020-10-06 09:12] streamworksaudio commented on #9268
There are 3 js files that I can see that have this code, so I am not sure which one is being used when loading the preference center.  I will have to dig a little to see if I can find that out.  Perhaps somebody from the community already knows?

[2020-10-06 11:09] colourfulowl opened #9272 "SQL Migration Issues - v3.1 to v3.1.1"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I'm going to use this Issue to

[2020-10-06 11:13] colourfulowl commented on #9129
I would suggest anyone who is having this issue to avoid updating to v3.1.1. The most recent update has created a whole collection of additional issues. #9272

[2020-10-06 11:17] colourfulowl commented on #9238
Did you migrate from v2 by any chance? There seems to be some migration issues from v2 to v3 that could be causing the above.

As a precautionary step, have you cleared the Form Cache? Cleaning the System Cache doesn't clear the Form Cache. To clear the form cache you need to hop over to forms, click on the drop down at the top and rebuild cache.

![mautic-form-cache](https://user-images.githubuse

[2020-10-06 12:51] laabidi21 commented on #3463
it is possible to change the Label of the standard Field in Mautic from API ?
I have Version 3.0.1
// Get contact field context:
$fieldApi = $api->newApi("contactFields", $auth, $apiUrl);
$id   = 1;
$data = array(
    'label' => 'API test field',
    'type' => 'text',
);

// Create new a field of ID 1 is not found?
$createIfNotFound = true;

$result = $fieldApi->edit($id, $data, $createIfNotFound)

[2020-10-06 13:20] streamworksaudio commented on #9268
Some more digging (without forking the project, thought I would test it on a current install)...

Changing the JS at the top of the file app/bundles/EmailBundle/Views/Lead/preference_options.html.php to:

[code]

Fixes the issue when select the checkbox returning NULL.  However now when I submit the form I get and error trying to remove the contact from the DNC (do not contact) list.  Logs says...

[2020-10-06 13:40] streamworksaudio commented on #9017
Anybody find this solved in 3.1.1?  While trying to troubleshoot a different bug I found that I still am getting this one.

`"Attempted to call an undefined method named "removeDncForLead" of class "Mautic\LeadBundle\Model\LeadModel"`

Was it fixed in 3.1.1?

[2020-10-06 14:50] ksnkarthik opened #9273 "Mautic Community Edition - v3.1.0 - Plugins are not Visible, From where can I download Zoho CRM Plugin"
## Mautic Community Edition - v3.1.0 - Plugins are not Visible in the Plugin menu

Hi,

I am new to Mautic, I am just trying to install and set it up. I am facing some issue in the Plugin Section.

Mautic Community Edition - v3.1.0 - Plugins are not Visible in the Plugin menu.
Even in the installed mautic plugins, unable to find the Zoho CRM Plugin, from where can I download Zoho CRM Plugin.

Can

[2020-10-06 15:21] colourfulowl commented on #9273
You need to click on the button in the top right that says "Install/Update Plugins". This tells Mautic to search the Plugin Directory for all available plugins. It operates this way as a lot of use Mautic users have custom plugins. You can find a list of plugins here: https://innotiom.com/mautic-plugins/

For future reference, the Mautic community use GitHub for bug testing the platform. For gener

[2020-10-06 15:29] colourfulowl commented on #9264
Hi @Dylan-86 You error returns the following "SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket".

This is usually a simple connection failure error. Can you make sure your /app/config/local.php file has the correct SQL login details?

[2020-10-06 15:31] colourfulowl commented on #9262
For reference: #9156

[2020-10-06 15:38] colourfulowl commented on #9193
@lostKingd0m the Created Contacts widget by default shows all. This will show any anonymous contact that mautic has automatically generated base on page views. For your use case maybe try changing the Contact in time widget to show only "identified". Please let us know if changing the widget segment resolves your issue.

![mautic-identified-contacts](https://user-images.githubusercontent.com/41902

[2020-10-06 15:58] Dylan-86 commented on #9264
Yes, I confirm it has the correct SQL login details indeed.

[2020-10-06 16:03] ksnkarthik commented on #9273
Hi Colourfulowl,

Thanks for commenting. I tried multiple times but I don't see the various plugins in the Mautic application, you can refer my screenshot.

In the link that you provided, list of plugins here: https://innotiom.com/mautic-plugins/

Zoho CRM Plugin is not available, Can you help me with this?

[2020-10-06 17:31] colethorsen commented on #6833
This is still an issue in Mautic 3.1

[2020-10-06 17:53] Malbrouck commented on #9129
Thanks for letting us know. I'll wait then.

[2020-10-06 18:20] kuzmany commented on #9220
This should fixed it https://github.com/mautic/mautic/pull/9274
Please test and let comment to speed up merging to official release

[2020-10-06 18:32] martinstr commented on #9017
No it is not fixed, still not working in 3.1.1

[2020-10-07 07:57] colourfulowl commented on #9273
@RCheesley Was the Zoho plugin dropped in v3?

[2020-10-07 08:08] nfakhour commented on #9017
Hi there,
I'm not confident enough to send patches, but just in case it helps,

I think I solved this by changing
`$leadModel->removeDncForLead($lead, $contactChannel);`
with
`$dncModel->removeDncForContact($lead->getId(), $contactChannel);`
in https://github.com/mautic/mautic/blob/staging/app/bundles/LeadBundle/Controller/FrequencyRuleTrait.php#L180

And this way you can only remove leads who uns

[2020-10-07 11:43] frankofno commented on #9119
had the same issue. In my case port 80/443 were restricted and only accessable for my IP. Make sure to add wp.com with IP 192.0.78.24 to allow access over port 80/443 - as soon as you add an email address to a contact, mautic will check on gravatar.com if this address has an account. If not a host from wp.com will use the avatar in the assets folder on mautic server.

[2020-10-07 11:50] frankofno commented on #9209
In my case port 80/443 were restricted and only accessable for my IP. So I had to make sure to add wp.com with IP 192.0.78.24 to allow access over port 80/443 - as soon as you add an email address to a contact, mautic will check on gravatar.com if this address has an account. If not a host from wp.com will use the avatar in the assets folder on mautic server and therefor the IP needs to be allowed

[2020-10-07 21:17] javiergas commented on #9125
The bug is still present in version 3.1.1

[2020-10-08 08:33] automation-wavekeeper commented on #9238
Hello,

Thank you for your help. Indeed, we have migrated from v2.

I tried to clear the Form Cache like you said but we are still facing the same issue.  I also tried to recreate the form but it didn't help.

Do you have any others ideas?

[2020-10-08 08:35] admin-fcosson commented on #9238
Hello,

Thank you for your help. Indeed, we have migrated from v2.

I tried to clear the Form Cache like you said but we are still facing the same issue. I also tried to recreate the form but it didn't help.

Do you have any others ideas?

[2020-10-08 11:28] chescos commented on #9137
Experiencing the same issue here. Thanks for working on this? Is this still scheduled to be fixed in 3.1.2?

[2020-10-08 15:24] flossels commented on #9200
@RCheesley any change to get this back on your agenda?

[2020-10-08 16:10] RCheesley commented on #9273
Hi folks, indeed @ksnkarthik please post support requests on the forum rather than Github.

Zoho has not been dropped, I am seeing it fine in my 3.1 instance locally:

![screenshot-local mautic3-2020 10 08-17_07_19](https://user-images.githubusercontent.com/2930593/95484771-ccbbe400-0988-11eb-96b4-b57456375a02.png)

In fact we have an open pull request to improve the integration: https://github.co

[2020-10-08 16:10] #9273 closed, assigned to nobody

[2020-10-08 16:15] RCheesley commented on #9272
Thanks for reporting these additional issues and linking it to the existing one. Have you tried this with a fresh installation (no customisation) from the version you were going from, up to 3.1.1, to see if this is a general Mautic bug or related in some way to past migrations?

[2020-10-08 16:15] RCheesley commented on #9267
Thanks for reporting back with the fix, I'll mark this as closed!

[2020-10-08 16:15] #9267 closed, assigned to nobody

[2020-10-08 16:17] RCheesley commented on #9264
Hi there,

First thing: Please post support requests at https://forum.mautic.org/c/support rather than in Github.

Second: Please follow the steps here: https://docs.mautic.org/en/troubleshooting/update-failed

If that does not resolve the issue, please raise a post on the forum and the community will be able to help troubleshoot further.

[2020-10-08 16:17] #9264 closed, assigned to nobody

[2020-10-08 16:20] RCheesley commented on #9259
I was able to reproduce this, thanks for reporting it!

[2020-10-08 16:21] RCheesley commented on #9255
Thanks for flagging this up, indeed it makes more sense to show the label.

Would you be up for making a pull request to change this behaviour?

[2020-10-08 16:32] RCheesley commented on #9243
Thanks for reporting this @giomasce - I think it maybe also relates to a couple of existing issues that we have open: #8153 and #7385 in particular.

We also have an open PR https://github.com/mautic/mautic/pull/7723 which may be addressing this issue, but that PR has some conflicts which need to be addressed.

Would you be up for looking into a fix if the PR above doesn't address the issue for yo

[2020-10-08 16:53] RCheesley commented on #9242
Thanks for reporting this @pjoulot - I was able to reproduce this on Firefox.

[2020-10-08 16:55] RCheesley commented on #9241
Thanks for raising this @pjoulot - would you be up for working on a PR with support from some of the core team? It sounds like this could be a real pain for people using the builder as you describe.

Although we have a new builder in the pipeline, it could be useful to get this fixed for folk who decide to use the old builder.

[2020-10-08 16:58] RCheesley commented on #9238
Have you cleared the cache in /yourmautic/var/cache?

You mentioned that it did not work but I wasn't clear if you meant that clearing the cache didn't work, or clearing the cache didn't fix the issue.

[2020-10-08 17:00] RCheesley commented on #9235
Hi there,

Thanks for raising it, unfortunately I raised it myself back in 2016 😱  in this issue #2992 - it seems it's still knocking around! Will close this as a duplicate!

[2020-10-08 17:00] #9235 closed, assigned to nobody

[2020-10-08 17:01] RCheesley commented on #2992
Seems this is still an issue - maybe someone could take inspiration from the old closed PR #5116 to address this?

[2020-10-08 17:14] RCheesley commented on #9232
Hi folks, as this doesn't seem to be a bug with Mautic, please take the discussion over to https://forum.mautic.org/c/support.

[2020-10-08 17:14] #9232 closed, assigned to nobody

[2020-10-08 17:20] RCheesley commented on #9183
Hi @fabiofabbri84 thanks for raising this issue.

Unfortunately I am unable to create a form using the field labels that you mentioned - it blocks me from saving with either of those fields present in the form:

![screenshot-local mautic3-2020 10 08-18_18_57](https://user-images.githubusercontent.com/2930593/95492328-cfbbd200-0992-11eb-9540-018729892506.png)

Here are the fields:

![screenshot-loc

[2020-10-08 17:21] RCheesley commented on #9182
I had the same issue when I was testing another issue - so I confirm this as a bug!

Would anyone like to take a stab at making a PR to fix this?

[2020-10-08 17:22] RCheesley commented on #9162
@colourfulowl I think this would be better as a feature suggestion at https://forum.mautic.org/c/ideas rather than a bug report so that there is an opportunity for wider discussion on how to address this, so I'm going to close down this issue.

[2020-10-08 17:22] #9162 closed, assigned to nobody

[2020-10-08 17:29] RCheesley commented on #9152
Thanks for raising this @CyberMarsl - I can see how that would be confusing! Thinking out loud, I wonder if it might be a better option to nest the related items rather than have them all listed out?

Would you be up for creating a PR to look at addressing the issue?

[2020-10-08 17:31] RCheesley commented on #9147
Hi @cardillos, sorry to hear you're having problems. We no longer support the 2.x version of Mautic, so please raise your issue at https://forum.mautic.org/c/support where you may be able to get some help with troubleshooting.

Unfortunately it's a long way out of date now and there have been a lot of fixes since 2.15.3 so it might be quite tricky to track down.

[2020-10-08 17:31] #9147 closed, assigned to nobody

[2020-10-08 17:32] RCheesley commented on #9145
@DBNubs that's a great suggestion and indeed that would make forms in Mautic much better for folk with visual impairments.

Would you be interested in working on making a pull request to add this feature?

[2020-10-08 17:34] RCheesley commented on #9140
OK let's close this issue down as it seems like the form cache was not cleared.

[2020-10-08 17:34] #9140 closed, assigned to nobody

[2020-10-08 17:39] RCheesley commented on #9132
Thanks for raising this @nickveenhof - just out of interest, why browse to the URL? Does this happen if you're using the file upload tool within the UI?

I'm not able to reproduce this on my local 3.1 instance, maybe it's something relating to your file paths?

[2020-10-08 17:41] RCheesley commented on #9131
Hi @evgu this was fixed in #9215 - the 3.1 branch is used for bug fix releases and Staging is used for feature releases. The 3.1 branch is merged up into staging after each release. So we should be good to go as this issue should now be addressed :)

[2020-10-08 17:41] #9131 closed, assigned to nobody

[2020-10-08 17:43] RCheesley commented on #9128
Hi folks, have you looked into increasing the max execution time for your PHP config? Take a look at the docs [here](https://docs.mautic.org/en/troubleshooting/working-with-php-ini-resource-limits).

It seems this is a server-related issue rather than a bug with Mautic so I'm going to close this issue down.

[2020-10-08 17:43] #9128 closed, assigned to nobody

[2020-10-08 17:45] RCheesley commented on #9125
Hi there, please share your CORS setting? I would think this is most likely to be because a domain is missing from the configuration but can't be sure without knowing exactly what's in your CORS settings.

[2020-10-08 17:52] RCheesley commented on #9123
Good spot - the company 'view' overview was new with 3.1 so it didn't exist before then. Would you like to submit a PR to fix this?

I think you need to dig into this file: app/bundles/LeadBundle/Views/Lead/lead.html.php around [line 598](https://github.com/mautic/mautic/blob/staging/app/bundles/LeadBundle/Views/Lead/lead.html.php#L598).

[2020-10-08 17:57] RCheesley commented on #9122
Hi, sorry to hear you're having problems. I think this is possibly related to an existing issue, have a look at [this comment](https://github.com/mautic/mautic/issues/8484#issuecomment-654815639).

We haven't yet had anyone submit a PR to address this in an elegant way, so I think this is probably why you're having issues. The workaround should work - shout if not and we'll re-open.

[2020-10-08 17:57] #9122 closed, assigned to nobody

[2020-10-08 17:59] RCheesley commented on #9119
This is more than likely a server configuration issue (per [this forum thread](https://forum.mautic.org/t/avatar-png/16423)) so I am going to close this issue, please continue support discussions on the forums.

[2020-10-08 17:59] #9119 closed, assigned to nobody

[2020-10-08 18:00] RCheesley commented on #9110
@weismannweb I wasn't able to reproduce this - are there any specific settings that are needed for the pre-populating to work?

[2020-10-08 18:10] RCheesley commented on #9102
@k2-Marketing thanks for the screencast, are you still having this in 3.1.1?  Is this only happening with custom fields, or do you have the same if you were to try and connect it with a regular field?

[2020-10-08 18:13] RCheesley commented on #9058
Hi @gnikkk31 and welcome to Mautic!

Sorry to hear you're having some issues with getting the reply feature working.  We have some resources in the [documentation](https://docs.mautic.org/en/channels/emails/contact-replies) that might be helpful, but I would ask that you post the issue at https://forum.mautic.org/c/support as that's where we offer help/guidance rather than here on Github. We try t

[2020-10-08 18:13] #9058 closed, assigned to nobody

[2020-10-08 18:14] RCheesley commented on #9056
Thanks for raising the bug and for the workaround folks!

[2020-10-08 18:19] RCheesley commented on #9166
Thanks for reporting back @stevedrobinson - hopefully we should be able to dig into it in a bit more detail with your findings!

[2020-10-08 18:21] RCheesley commented on #9068
Closing this issue due to a lack of response and being unable to reproduce as above.

[2020-10-08 18:21] #9068 closed, assigned to nobody

[2020-10-08 18:22] RCheesley commented on #9014
Thanks for the fix @kuzmany I've just linked the PR to this issue so it will be auto-closed when we merge the fix.

[2020-10-08 18:23] RCheesley commented on #8991
Closing due to lack of response.

[2020-10-08 18:23] #8991 closed, assigned to nobody

[2020-10-08 18:25] RCheesley commented on #8378
Thanks for getting back to us @dsp76 - and for the additional details!

[2020-10-08 18:26] RCheesley commented on #8371
I was able to confirm this in 3.1.

[2020-10-08 18:29] RCheesley commented on #8323
Closing as I am unable to reproduce and there was no feedback.

![screenshot-local mautic3-2020 10 08-19_29_05](https://user-images.githubusercontent.com/2930593/95499026-95efc900-099c-11eb-99ba-4c70ed7d13d7.png)

[2020-10-08 18:29] #8323 closed

[2020-10-08 18:38] RCheesley commented on #8317
I was able to reproduce this on 3.1. Thanks for reporting it @jsieber-aca !

[2020-10-08 18:39] RCheesley commented on #8208
I believe this is resolved with the following PR: https://github.com/mautic/mautic/pull/7215 so I will link the two!

[2020-10-08 18:46] RCheesley commented on #8124
OK thanks for the additional information and for the results of your debugging.

We have a whole bunch of PR's open at the moment which [relate to bounces](https://github.com/mautic/mautic/pulls?q=is%3Apr+is%3Aopen+bounce). I am not sure if any of these are a help with addressing the problem you're seeing.

Can you share what you're using to send the emails (third party provider etc?)?

[2020-10-08 18:47] RCheesley commented on #8111
@trsenna thanks for reporting back and sorry for the delay in replying!

[2020-10-08 18:54] RCheesley commented on #8037
Closing as I am unable to reproduce.

[2020-10-08 18:54] #8037 closed

[2020-10-08 18:55] RCheesley commented on #7973
Closing due to the lack of response.

[2020-10-08 18:55] #7973 closed

[2020-10-08 18:55] RCheesley commented on #7972
Closing due to the lack of response.

[2020-10-08 18:55] #7972 closed

[2020-10-08 18:56] RCheesley commented on #7959
Closing due to the lack of response.

[2020-10-08 18:56] #7959 closed

[2020-10-08 18:57] RCheesley commented on #7889
Closing due to the lack of response.

[2020-10-08 18:57] #7889 closed

[2020-10-08 18:59] RCheesley commented on #7810
OK, this has a WIP label but it doesn't seem like anything is actually in progress. I don't think it is helpful to keep the issue open if nobody is going to work on it within Mautic and it's not something that would be included in core. I'd recommend if you still feel this is a helpful feature or addition to discuss it in the forums @enableit and if folk want to work on a standalone script it coul

[2020-10-08 18:59] #7810 closed

[2020-10-08 19:00] RCheesley commented on #7633
@digitall-it as there has been no response on this I'm going to close down the issues. We now have feature request discussions on the forum at https://forum.mautic.org/c/ideas so please do add a thread there if you want to propose something like this, or you can make the PR directly.

[2020-10-08 19:00] #7633 closed

[2020-10-08 19:02] RCheesley commented on #7350
Closing as a duplicate of #1752

[2020-10-08 19:02] #7350 closed

[2020-10-08 19:03] RCheesley commented on #6777
Closing due to lack of response.

[2020-10-08 19:03] #6777 closed

[2020-10-08 19:03] RCheesley commented on #6408
Closing due to lack of response.

[2020-10-08 19:03] #6408 closed

[2020-10-09 09:20] colourfulowl commented on #9272
Hi @RCheesley

The above issues only seem to happen when the data was initially migrated from version 2.16 to version 3. The above issues are ones that have popped up since updating that migrated data to version 3.1.1. When doing a complete new install with a brand new and empty database the issues aren't there. But for a lot of us, we need to migrate data from version 2.16 into version 3.

[2020-10-09 09:20] benfavre commented on #9137
[code]

I've had to add this to make sure my clients don't send huge one liner emails and exceed line lengths allowed by mail clients

[2020-10-09 09:32] colourfulowl commented on #9123
pull request: #9277

[2020-10-09 09:54] giomasce commented on #9243
Hi @RCheesley, unfortunately I have very cursory experience with PHP and none with the framework Mautic is based on, so I am not able to rebase the PR properly or independently search for a fix. Sorry!

For my use case, I just modified the application that needs to consume Mautic's API to convert an array to an object when it is empty.

[2020-10-09 12:28] wise-gorilla opened #9278 "URL tracking dont work if the URL has an ampersand in dynamic content"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
That issue got solved on this P

[2020-10-09 12:52] javiergas commented on #9125
Hi Ruth,
![Screenshot_1](https://user-images.githubusercontent.com/30293899/95585052-0b977b80-0a15-11eb-9be1-a33ef4bf5095.png)

It was working fine with the same configuration before version 3.x.x.

Thanks!

[2020-10-09 13:44] npracht commented on #9017
Hi here, is https://github.com/mautic/mautic/pull/9261 solving your issue ? Can you test and review the PR ?

[2020-10-09 14:17] Dylan-86 opened #9279 "Import contacts does not import some custom fields"
## Bug Description
When you import a CSV file, some fields/values are not imported.

For example, I have a "Ranking" field that can be 1,2,3,4,5, N/A. I have created a custom field "select" type in Mautic too, with the same values.

When I import a CSV file and map the fields:
- The contacts get properly imported, with their names and emails
- The field "Ranking" is imported for 1,2,3,4,5 but not

[2020-10-09 14:17] Dylan-86 opened #9280 "Import CSV does not import some values"
## Bug Description
When you import a CSV file, some fields/values are not imported.

For example, I have a "Ranking" field that can be 1,2,3,4,5, N/A. I have created a custom field "select" type in Mautic too, with the same values.

When I import a CSV file and map the fields:
- The contacts get properly imported, with their names and emails
- The field "Ranking" is imported for 1,2,3,4,5 but not

[2020-10-09 14:24] Dylan-86 opened #9281 "Zoho + Mautic plugin not importing some custom fields"
## Bug Description

I have a Zoho account and have installed the Zoho plugin in Mautic.
Contacts from Zoho are correctly created in Mautic ("PULL"). Everything is fine except that some fields are not imported.

1. I have some "true/false" checkboxes in Zoho. I have created the same custom field in Mautic, "boolean". I have mapped the field. These fields are not imported. It seems to me that Zoho a

[2020-10-09 14:25] #9279 closed, assigned to nobody

[2020-10-09 15:25] admin-fcosson commented on #9238
Yes, I cleared the cache in /var/cache.
Clearing the cache, didn't fix the issue, even with the Form Cache.

Sorry if I wasn't clear.

[2020-10-09 16:22] colethorsen commented on #9200
Edit:, the original solution I had posted, didn't actually solve the problem, this is the only way I got the migrations to run.

This was a manual install of Mautic.

If you're still in a jam, obviously editing a vendor file isn't ideal, but this might help out https://stackoverflow.com/questions/58067841/unknown-database-type-json-requested-doctrine-dbal-platforms-mysqlplatform-may

[2020-10-09 17:48] martinstr commented on #9017
Yes, this fix works, thanks :)

[2020-10-09 21:57] emanuelflp opened #9282 "Elastic Email Webhook Notification marked as Bounced if configured with click or open events"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have configured ElasticEmail

[2020-10-09 22:38] pjoulot commented on #9241
Honestly, I went through the code a lot to manage what I wanted to do.
The Slots are modular and well organized in the PHP. But in the Javascript, it has not been thought modular at all, it would probably need an almost complete override.
If there is a new builder in the pipeline, maybe it would be better to raise this concern in the building of the new one. Is it a complete rewriting?
I don't thi

[2020-10-09 22:41] pjoulot commented on #9255
If I remember well, it was not just one line since the slot ID arriving in parameter of the function is coming from above.
But this issue is maybe not too time consuming for me to create a pull request. I'll try to have a look.

[2020-10-10 00:31] ludovicfourrage commented on #9220
Hi kuzmani, I tested the fix and the Twilio and OneSignal plugins are there now! Thank you!

[2020-10-10 12:04] Salamek opened #9284 "You have requested a non-existent service "old_sound_rabbit_mq.mautic_consumer""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have configured mautic v3.1.1

[2020-10-10 12:47] ttencate opened #9285 "Unpublishing emails is not a good way to prevent scheduled emails from being sent"
## Bug Description

This tip bubble is misleading:

![2020-10-10-142729_626x254_scrot](https://user-images.githubusercontent.com/90930/95655133-7aec9880-0b05-11eb-9678-6e04af82a6cd.png)

It says:

This is not good advice, because:

* We get an error notification (alarm bell in the top left of the dashboard) each time such an email fails. For large numbers of contacts, this means a large amount of

[2020-10-10 15:27] mlahlouh opened #9286 "Database Performance Issue when enable tracking"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-10-11 18:33] Robmobius opened #9287 "Ver 3.02 - campaign reporting email as missing or not plublished"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Simple campaign to send a simpl

[2020-10-12 06:53] #9014 closed, assigned to nobody

[2020-10-12 08:00] colourfulowl commented on #9285
The idea here is to break the chain in the campaign when you hit that date. Really, the campaigns should have a "blocker" option or "unpublish" condition that lets you cancel all actions after it within a campaign. Given this is really a feature request, it might be worth publishing something on the Mautic Forums :)

[2020-10-12 08:18] Robmobius commented on #9287
https://github.com/mautic/mautic/pull/6574

Solved the issue

[2020-10-12 08:18] #9287 closed, assigned to nobody

[2020-10-12 08:26] Gp2mv3 commented on #9068
Isn't it a duplicate of #9040 ?

[2020-10-12 08:50] ttencate commented on #9285
@colourfulowl Perhaps there's also a missing feature -- I'm going to start coding up a plugin because we need this soon -- but the misleading UI text still classifies as a bug IMO.

As for the feature, I've always found it strange that the scheduling (now/relative time/absolute time) are set on a particular campaign event (building block) like "Send email". It would feel more natural to me to have

[2020-10-12 08:51] admin-fcosson commented on #9238
I also tried to upgrade to the new version 3.1.1 today. We are still facing the same issue, the form is working well only when a user is logged to Mautic.

If we submit the form from a private browser or from any other browser where the user is not logged in, the form will failed with the error in the description.

[2020-10-12 09:28] fabiofabbri84 commented on #9183
I saved the form before adding the fields. I updated the original post

However I think what you found is a bug too :D probably related to this bug.

It seems to me "form_id" and "submission_id" are used somewhere else and should not be used as field name, so it should be implemented a validator for field names to avoid conflict with names used somewhere else

[2020-10-12 09:43] colourfulowl commented on #9285
I think the bug is more around the campaigns trying to still send those unpublished emails, rather then the text being incorrect. What I'd like to see here is a single notification from the campaign that says it's tried to send the email but the email is unpublished. (I recently migrated one of my databases and it had over 1.25m notifications caused by the exact issue you highlighted above, reduci

[2020-10-12 10:11] dhmusman opened #9288 "Image preview is not showing"
We have a fresh installation of Mautic. The image preview is not showing.
![image_2020_10_12T08_21_27_954Z](https://user-images.githubusercontent.com/12247463/95734665-3431a680-0c9d-11eb-8721-65d8469b351b.png)

[2020-10-12 10:40] colourfulowl commented on #9288
Mine also operates like the above. I actually thought that was how it was supposed to work >_<

[2020-10-12 10:46] colourfulowl commented on #9282
Is the bounced message returned in the contact activity log?

![mautic-bounce-message](https://user-images.githubusercontent.com/41902603/95738075-93cd8900-0c80-11eb-8489-e01d32e5fd3f.PNG)

[2020-10-12 15:33] boverhuisr commented on #7506
Apologies; we did not do the upgrade to Mautic 3.x yet, so unable to confirm if problem still exists.

[2020-10-12 16:07] GemsFord commented on #9017
[2020-10-12 16:06:00] mautic.CRITICAL: Uncaught PHP Exception InvalidArgumentException: "mautic.lead.model.dnc is not a valid model key." at /home/mautic/public_html/app/bundles/CoreBundle/Factory/ModelFactory.php line 41 {"exception":"[object] (InvalidArgumentException(code: 0): mautic.lead.model.dnc is not a valid model key. at /home/mautic/public_html/app/bundles/CoreBundle/Factory/ModelFactory

[2020-10-12 16:27] GemsFord commented on #9017
I am using 3.1.1 and still got the error! I installed the script from softaculous.

[2020-10-13 12:35] pety-dc commented on #9129
@Malbrouck @colourfulowl @SloMail

The issue here originates from Mautic, but is not the cause of the problem:
- since 3.0.0 all primary keys are changed to have UNSIGNED flag. doctrine tries to change primary and foreign keys according to this.
- since 3.0.0 the default collation is utf8mb4 which I presume only allows 191 char long varchar type fields to be indexed  doctrine tries to change prima

[2020-10-13 12:57] evgu commented on #9069
@RCheesley, Patch below that fixes the tracking pixel errors when embed images to Base64 is enabled. Please arrange for PR and test. I have tested locally and it works.

Issue was caused because the the `<img src="{tracking_image}` HTML tag containing the {tracking_image} token was converted into `<img src="cid:` when spooling the message. This further obscured the problem. When symfony:emails:sen

[2020-10-13 13:17] evgu commented on #9288
What happens when you click on the image you want to preview?

See example sequence which works in the image browser (when drafting emails):
<img width="993" alt="Example" src="https://user-images.githubusercontent.com/18371928/95865534-192b6900-0d67-11eb-889f-27d5cc42e0e1.png">

[2020-10-13 13:29] evgu commented on #9023
@OmerGafny pls check 3.1.1 release, should have this fixed. Pls close this issue if resolved.
This is the PR and code that fixes the issue. https://github.com/mautic/mautic/pull/9215 / https://github.com/mautic/mautic/commit/2e72b71b608910e4f8db14b32ac414703ff0f509

[2020-10-13 14:07] ceefour commented on #9017
:+1: as with @GemsFord, using 3.1.1 on Ubuntu 20.04.1 - AWS Graviton2 m6g.medium and still this persists.

**Updated:** #9261 worked, see comment below.

[2020-10-13 14:18] ceefour commented on #9017
I've tested branch `3.1` and the #9261 fix works for me.

I assume 3.1 will be into next version (3.1.2?) so I think this issue should be closed as resolved.

[2020-10-13 14:20] npracht commented on #9017
You are right ! Thanks for confirming.

Closing due to merge of #9261

[2020-10-13 14:20] #9017 closed, assigned to nobody

[2020-10-13 15:02] evgu commented on #9069
Potentially impacting: #9003 #8995

[2020-10-13 16:15] GemsFord opened #9294 "Lot of Bugs! Do not contact, segment change, reply check."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

I am facing a lot of problems

[2020-10-13 16:33] Gp2mv3 commented on #7751
Hi,
I have the same issue with a decision (on a contact field value). In version 3.1.1
And we also had it in the past with version 2.6.x with Emails.

what was your fix if you solved it ?

Regards

[2020-10-14 01:37] vettloffah opened #9296 ""Restart campaign" feature missing Mautic 3.0 +"
## Bug Description

| Q   | A
| --- | ---
| Mautic version |  3.1.0
| PHP version |  7.2.29
| Browser | Chrome

### Steps to reproduce
1. Create campaign
2. Enable "Allow contacts to restart this campaign"
3. In the campaign builder, add a campaign segment with contacts
4. Add action, e.g. "send email at relative time period" with 1 minute delay.
5. Add another action - "Change campaign"
Under  `A

[2020-10-14 11:58] rodolfostanic commented on #9272
I'm experiencing the same issues after migrating from 2.16 to 3.1.1. All email charts stopped working, even older ones created in 2.16.

Is there anything we can do to mitigate the problem?

[2020-10-14 14:08] DBNubs commented on #9145
@RCheesley I would love to be able to put one together to add this. The difficulty I'm finding is where exactly in the codebase attributes like this need to be added. Any pointers would be helpful in putting this together.

[2020-10-14 18:46] stevedrobinson opened #9998 "Live page render includes links to plugin javascript and css"
When viewing the final page created by the builder (not logged into Mautic, as an outside visitor), the builder javascript and css are linked from the page html, resulting in errors in the console:
![image](https://user-images.githubusercontent.com/866855/96031928-9d432680-0e23-11eb-88f6-a20009d938d0.png)

[2020-10-15 05:16] MapleSage commented on #9202
Hello All,

I'm faced with the same issue and updated MySql 'db_version' to - 8.0.21 since I'm running Bitnami Aws Mutic 3.1.1.0, however, the problem persists it's still showing install plugins via FTP or some other method. Please help...............

[2020-10-15 09:01] mabumusa1 commented on #9069
@evgu I started a PR based on your code, may you please take the lead on testing, reviewing, and checking with others who are impacted by the same issue that you have. Thank you for your help

[2020-10-15 09:35] colourfulowl commented on #9296
Does it work if you select the campaign instead of using the "this" command? I've don't usually use "this" in my campaigns, but I can confirm it doesn't work on my installs either.

[2020-10-15 11:12] evgu commented on #9069
@mabumusa1 Thank you for the PR. I can certainly do the UAT. Did you create a new Mautic VM instance with this change where I can perform the tests and pass to other users to test too (I vaguelly recall it was part of the PR process)?

[2020-10-15 11:39] colourfulowl commented on #9288
Hi @evgu  If I open the preview, it shows the image.

Is the file manager not suppose to show a preview instead of the "png" icon in your above screenshot? Like the media manager in Wordpress?

[2020-10-15 11:47] evgu commented on #9288
@colourfulowl as far as I know Mautic displays icons in image manager, as shown in my screenshot above. Simply judging by the look and feel of the image magegers (and I may be wrong here) - Mautic and Wordpress seem to use different image managers.

[2020-10-15 12:44] alexhammerschmied commented on #7360
What is the latest news/plan/milestone on this issue?
Is there going to be a community version of the grapesJs Builder? Yes or No?
How can we proceed with this? I heard and read different point of views on this topic and to plan longterm it would be great to know if there is something definitely planed on Mautic side or not...
Does anyone know something for real?

[2020-10-15 12:48] npracht commented on #7360
Hi there,

You can all contribute to https://github.com/Webmecanik/plugin-grapesjs-builder. We have released that publicly. We know some work has to be done to make it perfect, but today my company is focusing on something else. Any help would be appreciated. We'll comeback helping on this later.

[2020-10-15 13:02] vettloffah commented on #9296
The problem with adding to the same campaign instead of "this" is that the campaign has to be published or it doesn't show up in the list. Also I _think_ I tried that and it doesn't work.

Just to test things out to make sure this is a bug I:

1. installed a fresh version of 2.16 on a fresh LAMP stack
2. Confirmed `This campaign (restart this campaign)` is an option in campaign builder
3. Upgraded

[2020-10-15 17:13] MapleSage commented on #9202
Hi All,

I've good news for all those who are faced with this issue. I was able to correct this situation and now all plugins are visible in muatic 3.1.1.

Its very simple to correct this issue, it's primarily caused due to wrong 'db_server_version' in local.php, it by default picks 5.5, whereas in my case it was  '8.0.21'. I corrected this and plugins are visible.

Here is the complete link to co

[2020-10-15 17:54] neurosys-zero commented on #9011
+1

[2020-10-15 21:05] steve3g commented on #9192
I had no luck with your code. Same result. I installed a fresh version of mautic to see if a file might have been corrupted, but there are no differences. Only logical missing files (e.g. image files). I can only think it is somehow in the database, but I have no idea where to look. I am happy to reinstall, but I would like to keep my contacts and segments. I would love to also keep my emails and

[2020-10-16 05:12] ceefour commented on #3045
@Thurgood78 I'm not sure what version you are using, I'm using 3.1.1 and it exists:

![image](https://user-images.githubusercontent.com/24123/96215630-bde8b900-0fa8-11eb-83a4-6ce1a0904282.png)

See more: https://about.lovia.life/docs/infrastructure/mautic-engineering/

[2020-10-16 06:57] npracht commented on #9069
Fixed in 3.1.2

[2020-10-16 07:02] npracht commented on #8958
Fixed in 3.1.2

[2020-10-16 07:02] #8958 closed, assigned to nobody

[2020-10-16 07:02] npracht commented on #9027
Fixed in 3.1.2

[2020-10-16 07:02] #9027 closed, assigned to nobody

[2020-10-16 07:02] npracht commented on #9175
Fixed in 3.1.2

[2020-10-16 07:02] #9175 closed, assigned to nobody

[2020-10-16 07:03] npracht commented on #9123
Fixed in 3.1.2

[2020-10-16 07:03] #9123 closed, assigned to nobody

[2020-10-16 07:03] npracht commented on #9016
Fixed in 3.1.2

[2020-10-16 07:03] #9016 closed, assigned to nobody

[2020-10-16 08:41] admin-fcosson commented on #9238
Any ideas?

As you can see below, it's only a basic form with only 1 submit button showing "TEST" when submitted.

Below the result when I am  logged to Mautic (working well)
![image](https://user-images.githubusercontent.com/47249624/96236020-cab2e000-0f9b-11eb-8384-4f182d142e9e.png)

Below the result in private browser (not working)
![image](https://user-images.githubusercontent.com/47249624/962

[2020-10-16 12:25] rodolfostanic commented on #9272
That's one of the things that make me **mad** about Mautic (and about other open-source softwares as well). An update simply breaks an essencial tool and there's nothing I can do to solve it. No developers to help, no support from the community whatsoever.

I just need to test if downgrading is a viable option and I'll never update it again!

[2020-10-16 12:38] DevelopMan commented on #8674
@RCheesley Didn't reproduce on macOS Catalina 10.15.6 with browsers:
1. Safari 14.0
2. Chrome 85.0.4183.121
3. Firefox 81.0

Mautic version 3.1.0
PHP version 7.2.32-1
But still, it has an issue. It's very hard to user dropdown in such a case
![Safari example](https://user-images.githubusercontent.com/2499467/96257426-9e5a8c00-0fba-11eb-89e9-51192850852b.png)

A can fix it as @cyanstar described. S

[2020-10-16 13:19] mauropontara opened #9305 "Duplicated Name (IP) anonymous"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hi, i have a mautic 3.1.1 into

[2020-10-16 14:27] MauriceW2 commented on #8963
Hi Ruth, I see you removed this from the 3.1.1 milestone. But I also don't see it in the list of fixes. Am I overlooking something?

[2020-10-16 14:34] npracht commented on #9278
Hi @Wise-Gorilla would you please test https://github.com/mautic/mautic/pull/8345 and tell if it fixes the issue ?

[2020-10-16 14:37] npracht commented on #9280
Hi @Dylan-86
Did you create a select or multi select type field ? Because if you import multiselect values in a select field then you have an issue. Or i misunderstood something ?

[2020-10-16 14:38] npracht commented on #9281
Hi @Dylan-86 !
Could you test https://github.com/mautic/mautic/pull/7867 ?

[2020-10-16 14:39] npracht commented on #9284
Hi @Salamek ! Any chance you try to fix this issue ?

[2020-10-16 14:40] npracht commented on #9286
Hi @mlahlouh !
Can you create a pull request to re-write this SQL query ? Then people can test it and probably we can merge it into mautic.

[2020-10-16 14:42] npracht commented on #9294
Hi @GemsFord can you please create 1 issue per issue ? Then we can insure a better follow up.
Please complete the how to reproduce form everytime.

Thanks

[2020-10-16 14:42] #9294 closed, assigned to nobody

[2020-10-16 18:40] morettic2015 commented on #5351
Fixed on release.

[2020-10-16 19:04] wise-gorilla commented on #9278
@npracht I tested that PR and unfortuinatly it don't solve that issue

[2020-10-16 19:34] mabumusa1 commented on #8560
This issue has been solved by the merged PR #9191

[2020-10-16 19:34] #8560 closed

[2020-10-16 22:49] Salamek commented on #9284
@npracht well i could try, but that "old_" part of service name makes me think that this is some code that needs to be refactored or something is not right with it, and i don't want to waste my time fixing some code that is deprecated/due for refactor.

I would like to get some more info why is this service prefixed with `old_` and what are Mautics plans for this service and queues in general, so

[2020-10-17 00:16] alexalxs opened #9306 "Api to get all contacts inside a segment."
Api to get all contacts inside a segment.
I am using this:
/contacts
But return all contacts into and out of the specific segment.
I need make this using API by GET like above, not using php.
thank

[2020-10-17 08:19] npracht commented on #9278
@kuzmany maybe you can tackle that in your PR ?

[2020-10-17 08:22] npracht commented on #9306
Hi @alexalxs next time please use Slack or forums for questions. We use GitHub to record all bugs that need to be addressed.

You can use https://developer.mautic.org/#list-contacts with search parameter segment=segment-alias

[2020-10-17 08:22] #9306 closed, assigned to nobody

[2020-10-17 10:02] Dylan-86 commented on #9281
Hi @npracht ,
Tried after your suggestion. It doesn't work, at all. When I open the Zoho plugin, this is what I get with this version:
![image](https://user-images.githubusercontent.com/58813956/96334370-965d2380-1070-11eb-9de9-8e0235cbe525.png)

[2020-10-17 10:05] Dylan-86 commented on #9280
Hi @npracht ,

The field can be set to just ONE value (either "1" or "2" or "3" or "N/A") so the field in Mautic is a "Select", not a "multi select"

[2020-10-17 11:48] AbundanceHQ commented on #7327
I have sent out an email (not via a campaign setup). The delivery was triggered at publishing time in the Mautic system timezone not based on the contact's preferred timezone.

So if I want to send out a weekly newsletter based on contact's timezone, do I have to set it up via Campaign?

[2020-10-17 20:23] gmenezesg commented on #9002
Hello mate, I am experiencing the exactly same issue when trying to deduplicate contacts. Do you mind sharing which plugin was causing the problem? Thanks!

[2020-10-19 09:45] galgamo commented on #9296
I also confirm selecting "this" doesn't work.

Using Mautic 3.1.1
PHP Version 7.3
Browser: Firefox

I am editing to post that, if the campaign is named Campaign1, the event of restart campaign is not scheduled and the option set in add contact is "This" and "Campaign1" it works as expected. Of course, you have to first publish the campaign and then modify it receiving the warning that modifying ca

[2020-10-19 13:38] ghost commented on #9128
@RCheesley Hi Ruth, this is not solved yet. We already increased the execution time, but that just enlarged the waiting...

As we wrote, we used a code which worked earlier before the update and does not work anymore - so it has to be a mautic problem.

[2020-10-19 15:39] tecnomaster opened #9319 "Mautic 3.1.1 Modify contact’s tags in Form Actions just disappeared"
My Mautic version is: 3.1.1
My PHP version is: 7.2

My problem is:
We have upgraded our Mautic to version 3.1.1 and now the "Modify contact’s tags"option in the Form’s Actions just disappeared.

How could we turn it on again as we already have lots of forms using that option and need more??

These errors are showing in the log:
Nothing

Steps I have tried to fix the problem:
Can’t do anything

Tha

[2020-10-19 17:33] moerazem commented on #7360
Acquia Campaign Studio (previously Mautic Cloud Pro) already introduced BEE Email Builder to its managed Mautic instances.
https://docs.acquia.com/campaign-studio/channels/emails/bee-email-builder/

I wonder if Acquia will contribute this back to Mautic open source.

[2020-10-19 18:38] dennisameling commented on #9072
Fixed in https://github.com/mautic/mautic/pull/9266, closing this issue 🚀

[2020-10-19 18:38] #9072 closed, assigned to nobody

[2020-10-19 19:17] izojunior commented on #7710
I have the same problem. Did you find the solution?

[2020-10-19 21:04] andrekutianski opened #9320 "Multiple anonymous contact for the same IP"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-10-19 21:06] andrekutianski commented on #9305
I have a similar problem  on 3.1.2-rc #9320 but installing 3.1.1 the issue persist

![image](https://user-images.githubusercontent.com/5316107/96590834-dfa1b300-12bc-11eb-9a69-fcc655969c0f.png)

[2020-10-19 22:14] stevedrobinson opened #9321 "Regression in Citrix GoToWebinar Integration in #8745"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The bug fix in PR #8745 had the

[2020-10-20 04:23] mabumusa1 opened #9322 "Direct Emails to contacts do not add attachments or headers"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-10-20 06:43] nrfocus opened #9324 "Non administrator role can not override locked segment"
Detail your bug report:

| Q  | A
| ---| ---
| Confirm it is a Bug report |
| Mautic version | 3.1.1
| PHP version | 7.3.22

[//]: # (Feature request? ---> Go to forum please ---> https://forum.mautic.org/c/ideas)
[//]: # (Enhancement? ---> Go to forum please ---> https://forum.mautic.org/c/ideas)
[//]: # (Need support, have questions? ---> Go to forum please ---> https://forum.mautic.org/c/suppor

[2020-10-20 09:47] npracht commented on #9280
Hi @Dylan-86 i just tested in 2.x, 3.0 and mautibox (last version) and i cannot reproduce.
Can you test on mautibox too ? https://www.mautic.org/blog/community/become-a-community-contributor-by-easily-testing-mautic

Maybe it is already fixed in latest version ?

[2020-10-20 10:28] Dylan-86 commented on #9280
Hi @npracht

You're right, with the latest staging version it works.
I will update accordingly.
Thanks!

[2020-10-20 13:45] benfavre commented on #6775
Still an error on 3.1

[2020-10-20 14:38] andrekutianski commented on #9320
now I believe that I fully understand. Each time that Mautic identifies or creates a new Mautic Device Id even the IP is the same I will get a different contact, but the config option _Identify visitors by IP_ should not merge regardless of the device id?

[2020-10-20 15:35] #9179 closed, assigned to nobody

[2020-10-20 19:06] kuzmany commented on #9116
This should fixed it https://github.com/mautic/mautic/pull/9325

[2020-10-20 19:29] andrekutianski commented on #9322
this can cause a 403 error when sending a direct email to contact?

[2020-10-21 01:17] rashaqqel commented on #6139
This is still not working..
php 7.2
centos 7
latest mautic 3.1.1 .... 0 contacts are syncing

[2020-10-21 03:28] siraht commented on #9200
I've been dealing with this error for hours:

`AbstractPlatform.php` line 436 {"exception":"[object] (Doctrine\\DBAL\\DBALException(code: 0): Unknown database type json requested

I'm not 100% clear what worked, but I think it was 1) changing server version in config.php and 2) clearing cache afterwards - in sequential order.

[2020-10-21 07:36] npracht commented on #9116
If people can test it, we can add it into 3.1.2

[2020-10-21 11:55] Dylan-86 opened #9326 "Duplicated contacts from Zoho import"
## Bug Description

If you import a contact from Zoho through the Plugin and then update the contact's details on Zoho, the contact is re-imported and a duplicated contact is created.

| Q   | A
| --- | ---
| Mautic version | 3.1.1
| PHP version | 7.3
| Browser | Any

### Steps to reproduce
1. Create a contact on Zoho, John Doe, email: j.d@email.com, leave the address empty
2. Wait for the plugin

[2020-10-21 12:01] colourfulowl commented on #9288
@evgu Sorry if my comment caused any confusion. Mautic and WordPress don't use the same file manager. I was simply referring to how it should be showing image thumbnails.

Mautic 3 using an open-source file manager called elfinder. Elfinder is supposed to provide thumbnails in the preview, however it appears to be misconfigured which is preventing it from doing such.

[2020-10-21 13:00] autoize commented on #9200
We are also seeing this on fresh installs of Mautic using Docker.
The 'db_server_version' is not populated into local.php, so it needs to be added, for example
` 'db_server_version' => '5.7',`
then the cache has to be cleared before any plugins other than OneSignal and Twilio can be loaded in Mautic 3.1.1.

[2020-10-22 00:47] frankofno opened #9327 "dropdown menu at bottom of page"
## Bug Description
On a contact detail page, the dropdown menus are not showing all items in the list if they are at the bottom. Although you have scrolled all the way down on the page, you have to click on the dropdown list, then move away with the cursor and scroll again on the page, so all items in the dropdown become visible on the page.

| Q   | A
mautic 3.1.2 rc
php 7.3.22

### Steps to repr

[2020-10-22 06:19] mauropontara commented on #9320
Hi, have you check if the problem is from mobile? I can't test from android but from ios it happens. Browsing from desktop doesn't have this problem.

[2020-10-23 16:45] mabumusa1 commented on #9322
@andrekutianski I do not think so.

[2020-10-23 16:47] mabumusa1 commented on #8903
This is a valuable comment and it is correct, it fixes the issue. I will make it a PR

[2020-10-23 17:35] andrekutianski commented on #9320
I have this issue in mobile and desktop tracking

[2020-10-24 08:43] mabumusa1 commented on #8903
@wolfadr May you please review PR #9290. I incorporated your solution with unit tests. if it gets reviewed this PR will be merged in the next release.

[2020-10-25 19:17] mauropontara commented on #9305
I discovery one solution if my site is https://www.sitename.com the problem appears if site is https://test.sitename.com the probllem is solved.

[2020-10-25 20:00] ddanninger commented on #7669
For anybody who comes across this issue. I had the same problem. Adding 'submitMessage' to the MauticLang variable helped for me.

[2020-10-26 10:50] admin-fcosson commented on #9238
Any ideas? :(

[2020-10-26 10:57] elilogan commented on #7360
It was mentioned on Slack that this was only licensed for the Acquia product.

[2020-10-26 19:54] javiergas commented on #9125
Hi Ruth,
Do you need more feedback?

[2020-10-26 20:05] javiergas commented on #9125
I tried with 3.1.2 and the problem is still there

[2020-10-26 23:55] Av1dLearner commented on #9159
Please update docs @RCheesley with new callback URL
https://docs.mautic.org/en/channels/emails/bounce-management

[2020-10-27 10:10] RCheesley commented on #9272
@dennisameling is it possible that you might be able to take a look at this and see if there's something that we can address in the update script, or that we need to address going forward to address these issues? It only seems to be affecting migrated instances per the comments above.

[2020-10-27 11:33] RCheesley commented on #9159
@Av1dLearner we would welcome a PR to update it. Please click on the edit button at the bottom of the page, and you'll be taken directly to the file you need to modify in the documentation. Many thanks!

[2020-10-27 21:11] dennisameling commented on #9272
@colourfulowl

**Form Submissions issue**
Is there any reason why you ran the schema update during/after upgrading? IIRC we only run actual migrations in the upgrade script. I didn't come across any migration which touches `form_results`, but correct me if I'm wrong!

**Email Charts issue**
Is this related to what @pety-dc mentioned in https://github.com/mautic/mautic/issues/9129#issuecomment-7077

[2020-10-28 15:35] Av1dLearner commented on #9159
Sorry, I don't think I'm skilled or qualified to do that

[2020-10-28 16:19] escopecz commented on #8876
Fixed by https://github.com/mautic/mautic/pull/9342

[2020-10-28 17:10] escopecz commented on #8120
Fixed by https://github.com/mautic/mautic/pull/9343

[2020-10-28 19:17] lukacsaron opened #9345 "Accented characters in mail from field are replaced by � when using Amazon SES API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Email from field accented char

[2020-10-28 19:18] escopecz commented on #6499
Implemented by https://github.com/mautic/mautic/pull/9344

[2020-10-28 20:25] derwaldgeist commented on #9200
I just installed the most recent version of Bitnami Mautic and immediately ran into this error when trying to update Mautic as the first action I did. Tbh, this is a very bad first experience. Unsure if this is caused by Bitnami or Mautic, but still...

[2020-10-28 20:36] derwaldgeist commented on #9202
@MapleSage I ran into the same problem but cannot find a `db_server_version` entry in `local.php`. Did you add this manually?

[2020-10-28 21:00] siraht commented on #9200
Change the variable in local and config as described above, clear cache, and try again. It will work.

Sent from ProtonMail mobile

-------- Original Message --------
On Oct 28, 2020, 2:25 PM, Tom Brückner wrote:

[2020-10-28 21:56] steve3g commented on #9192
@colourfulowl please see my comments above

[2020-10-29 00:15] rwrz commented on #9272
I just fixed the Email Charts Issue on #9346, is very easy to fix on your own server. Was just a typo on the query.

[2020-10-29 02:28] weismannweb opened #9347 "Upgrade routine wipes out code in htaccess like multi php cpanel/whm code causing 500 error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
https://drive.google.com/file/d

[2020-10-29 09:03] #6499 closed

[2020-10-29 09:24] mabumusa1 commented on #9345
Please check this PR, it should solve this issue

https://github.com/mautic/mautic/pull/9290

[2020-10-29 09:29] derwaldgeist commented on #1000
I can't believe that the API access workflow is so overcomplicated with Mautic. Why the heck should I need a manual process involved here, if I want to call APIs between backends?! This is in face the first API I ever saw that uses a manual OAuth step. It should be possible to request a token just using the API credentials.

[2020-10-30 08:16] ttencate commented on #9152
Related to #8309?

[2020-10-30 11:31] reg3project opened #9350 "Postpone weekend emails"
I have a business case where I need to send my emails like the following:

1. When someone submits a form, I need this to happen
2. If it is a weekday, I need to send the first email after two hours of submission.
3. If it Friday to Tuesday I want to send another email after 72 from the submission date.
4. If it is Wednesday or Thursday, I want to wait for Monday. It means if Wednesday wait 120 ho

[2020-10-30 11:58] eVolpeConsultingGroup opened #9351 "Adjusting points from Form"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-10-30 12:53] scaraliu commented on #8908
on Mautic v3.1.2 still not working.

[2020-10-30 13:28] admin-fcosson commented on #9238
@colourfulowl @RCheesley  Any update?

[2020-10-30 13:46] osidney commented on #9129
Hello guys, has anyone managed to apply the correction of this problem?

[2020-10-30 14:07] tiwaszkiewicz opened #9352 ""1" instead of AnalyticsScript included"
## Bug Description
If AnalyticsScript is configured under LandingPageSettings,
the expected AnalyticsScript are not visible on LandingPages (template based nor script-mode based)

Instead of scripts the character "1" (one) appears (see it on screenshot)

<img width="569" alt="Zrzut ekranu 2020-10-30 o 13 12 24" src="https://user-images.githubusercontent.com/47384466/97713147-ba345680-1abf-11eb-85a

[2020-10-30 16:21] fredroo opened #9353 "Duplicate Tag in Builder"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )
![69d8cc3a-a496-44f6-967e-7d0f26b24ba4](https://use

[2020-10-31 02:10] vesper8 opened #9356 "We don't support upgrading with the upgrade script in this scenario"
Hello awesome developers, I read the upgrade notes but it doesn't address my concerns so that's why I'm posting here..

I've been using Mautic for over 2 years, I guess I must have installed it by cloning from github at the beginning, it's been over 2 years. I've run multiple updates via the CLI since then, but now I'm getting this scary looking warning when attempting to update from 2.16.3 to v3

[2020-10-31 11:39] jenslaufer opened #9358 "Mautic unusable after upgrade 3.1.1 -> 3.1.2"
## Bug Description

I am running mautic with docker-compose with the following configuration

[code]
traefik.toml:
[code]
traefik/dynamic/force-https.toml
[code]

After the upgrade to 3.1.2 I am getting the error "too many requests" in the browser.
Before everything was fine

| Q   | A
| --- | ---
| Mautic version | 3.1.1 ->3.1.2
| PHP version | unknown as in Docker container
| Browser | Firefox 8

[2020-10-31 18:04] llwp commented on #8895
:(
"RCheesley removed this from the 3.1.1 milestone on Sep 21"
happy for the 31 issues closed as a part of that milestone.
unhappy this was pulled.
attempting to assess status across this and other issues above.

any insight to the ~T2 ~T3 labels possible @RCheesley .. poking around and havent found as yet. presumably some sort of tier reference, but not sure of much beyond that.  (love how gitlab

[2020-10-31 21:59] peseotni commented on #9085
Same issue, please help!

[2020-10-31 22:26] bvanrhijn opened #9360 "Campaigns Broken on New Install"
## Bug Description
A Fresh install of Mautic 3.1.2 can't process campaign emails.

The first time I ran the campaign the email messages where not published and did not go out. I removed contacts from campaign and re-added them to avoid waiting 1hour for the resend.
[code]

| Q   | A
| --- | ---
| Mautic version | 3.1.2
| PHP version | 7.3.24
| Browser | Chrome Latest (not that this is relevant in

[2020-11-01 00:49] rashaqqel commented on #8040
Hello, Can the mautic team look into this? ive tried mautic 2.15.3/2.16.x and 3.1.x and suitecrm 6.5 module doesnt work.. any ideas to get it working? it authorizes fine but no leads get pushed or pulled.

[2020-11-01 15:17] ikolubr opened #9361 "Link to latest 3.x release"
Guys, do we have a link that points to the latest release of Mautic 3.x? Like we have/had for 2.x?

Like this one that always points to the latest 2.x: https://www.mautic.org/download/latest

If yes, could you please let me know what is it?

Thank you,

[2020-11-02 07:39] RCheesley commented on #9361
Hi there,

You can get the releases from Github, there are quite a few examples of how to do this [on Google](https://www.google.com/search?q=get+latest+release+github).

Thanks for flagging this, I'll get that URL updated as we haven't used the web-based files for releases since 3.x.

[2020-11-02 07:39] #9361 closed, assigned to nobody

[2020-11-02 08:57] pety-dc commented on #9272
@dennisameling
I did not encounter migration issues. The problems mentioned in #9129 are related to schema update

[2020-11-02 12:17] RCheesley commented on #9200
Hi folks,

If someone can create a PR to address this we could potentially get it merged in 3.2.

Seems like the comment from @flossels has a good hint at where to start digging: https://github.com/mautic/mautic/issues/9200#issuecomment-694274904.

Anybody up for taking this on?

[2020-11-02 12:19] RCheesley commented on #9243
@giomasce OK no worries, we'll try to get this merged in 3.2 if we can get someone to address the conflicts!

[2020-11-02 14:08] elilogan commented on #9350
Probably have to split this into 2 campaigns. I believe you can open the email step within campaign and select the dates and times you wish to send. You can also set a cron job to send a specific email at a specific time.  I’m not certain this will fit all of your very specific requirements but it’s the closest thing to a solution as far as I know.

[2020-11-02 16:42] Dylan-86 commented on #9326
The problem persists.
SOME contacts (not all, I don't know why) are created twice, during the same "pull from Zoho" operation. Two identical contacts, same details, same name, same email (even if I'm using it as a unique identifier).

[2020-11-03 13:08] trianity commented on #7841
The issue is still exist, but suppress the notice message is better then doing noting.
I had to handle a ~260 MB size PHP error log due to this issue today, related to the relative high traffic production Mautic instance.
Any idea?

[2020-11-03 13:10] trianity commented on #9264
The undefined index: ct issue is described here:
https://github.com/mautic/mautic/issues/7841

[2020-11-03 13:11] trianity commented on #9294
@GemsFord  the undefined index: ct issue is mentioned here:
https://github.com/mautic/mautic/issues/7841

[2020-11-03 13:20] trianity commented on #6957
@npracht I am sorry for the delay.
The issue is still exist on the latest Mautic v3.1.2
PHP Version 7.3.23

[code]

[2020-11-03 13:49] drsucesso opened #9365 "Type error: Argument 2 passed to Mautic\CoreBundle\Helper\ArrayHelper::getValue() must be of the type array, bool given, called in mautic/app/bundles/LeadBundle/Deduplicate/ContactMerger.php on line 202"
Mautic version: v2.16.3
PHP version: 7.3.23
Browser: Chrome

### Log errors

mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Type error: Argument 2 passed to Mautic\CoreBundle\Helper\ArrayHelper::getValue() must be of the type array, bool given, called in /home3/drsuce82/public_html/mautic/app/bundles/LeadBundle/Deduplicate/ContactMerger.php on line

[2020-11-03 23:40] #9365 closed, assigned to nobody

[2020-11-04 00:08] aaronesteban1 commented on #5549
I've tried your guy's steps, but I'm actually using NGINX which is faster loading than Apache. So I'm not sure what is causing this. I've tried to edit the .htaccess file as mentioned above to no avail. It could be an issue in my NGINX server block.

[2020-11-04 06:03] npracht commented on #9288
Please test https://github.com/mautic/mautic/pull/9367 !

[2020-11-04 08:41] #8120 closed

[2020-11-04 12:12] blazzzz opened #9369 "Invalid scope during Instagram authentication"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When trying to authorize the In

[2020-11-04 18:40] wderuijter opened #9370 "Error in Form radio field value condition"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Form submission condition alway

[2020-11-04 20:28] zaharovrd commented on #8716
@npracht  also in v 3.1.1

[2020-11-05 18:17] rwrz commented on #4552
On Sublime, you can search for "" (will show on your search bar <0x1a>).

[2020-11-06 00:11] SmS21 commented on #9202
I'm getting error 500 even going back to 5.5

[2020-11-06 09:31] bastolen commented on #3202
Hey @MxyzptlkFishStix I am having the same issue for a client and changed a lot of fields (including custom fields) to have a more matching max length. Has this change been stable for you, or can it give issues while updating Mautic?

[2020-11-06 10:04] loris-av commented on #9085
up

[2020-11-06 10:16] #9074 closed, assigned to mabumusa1

[2020-11-06 10:22] #9288 closed, assigned to nobody

[2020-11-06 10:48] #8876 closed, assigned to escopecz

[2020-11-06 12:21] laabidi21 opened #9374 "the offset at GET “SENT EMAIL TO CONTACTS” WIDGET will be ignored"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-06 12:57] npracht commented on #9137
Did you test https://github.com/mautic/mautic/pull/9290 ?

[2020-11-06 12:58] npracht commented on #9262
closing in favor of other issues reported

[2020-11-06 12:58] #9262 closed, assigned to nobody

[2020-11-06 12:59] npracht commented on #9156
closing in favor of https://github.com/mautic/mautic/issues/8903

[2020-11-06 12:59] #9156 closed, assigned to nobody

[2020-11-06 12:59] npracht commented on #9137
closing in favor of https://github.com/mautic/mautic/issues/8903

[2020-11-06 12:59] #9137 closed, assigned to wise-gorilla

[2020-11-06 13:00] npracht commented on #9345
closing in favor of https://github.com/mautic/mautic/issues/8903

[2020-11-06 13:00] #9345 closed, assigned to nobody

[2020-11-06 13:08] #8903 closed, assigned to mabumusa1

[2020-11-06 21:26] steve3g commented on #9352
This appears to be the same issue as #9192. I confirmed that removing the Analytics Script also removes the '1'

[2020-11-07 09:33] lanen-p commented on #8124
Hi Ruth, we use the self hosted "Sendmail" app on a seperate VPS.
Works fine for unlimited sending.

In the Mauticast #19 I heard the guys telling that the Monitored inbox bounce issue are solved with M 3.1.2 ??
Checked this version on our system. Bounce mails are read in the Imap Inbox, but the contacts are still not labelled as bounced in Mautic?

Hope this issue will finally be solved with Maut

[2020-11-07 19:11] lrtherond opened #9377 "Invalid SQL query in 3.1.2"
The error shows up in the logs as follows:

[code]

When properly formatted, the questionable SQL query looks like this:

[code]

Notice the following:

[code]

This happens when accessing an email under Channels > Emails.

[2020-11-07 22:59] lrtherond commented on #9377
[
<img width="2350" alt="Screen Shot 2020-11-07 at 3 57 59 PM" src="https://user-images.githubusercontent.com/1578548/98453038-22171c80-2112-11eb-8e5d-6b0e2927e488.png">
](url)

Maybe that talks to someone

[2020-11-07 23:06] lrtherond commented on #9377
https://user-images.githubusercontent.com/1578548/98453038-22171c80-2112-11eb-8e5d-6b0e2927e488.png

[2020-11-09 06:58] #6080 closed

[2020-11-09 09:00] yesblogger opened #9378 "Cannot Edit Dashboard Widgets"
## Bug Description
Widgets on the dashboard cannot be edited. When the edit button is clicked it gets stuck on the loading page. Happens with all widgets.

![Screenshot_1](https://user-images.githubusercontent.com/25710585/98520433-09387380-2298-11eb-9343-7d698b282422.png)

| Mautic version | 3.1.2
| PHP version | 7.2.34
| Browser |

### Steps to reproduce
1. Go to the dashboard
2. Click on edit f

[2020-11-09 09:03] npracht commented on #9378
Hi,

What is the message in your logs ?
Thanks

[2020-11-09 09:58] evgu opened #9379 "Mautic login page flagged a phishing website by Netcraft"
## Bug Description
This morning we weke up to a nightmare, where Mautic login page and the entire Mautic hosting domain were flagged as a phishing page by Netcraft. This consequently flagged all pages on our main website as phishing due to Mautic's mtc.js. As most major web brousers use the Netcrafts phishing websites feed, then quickly all major browsers started red-flagging our website.

<img wi

[2020-11-09 11:54] Ziedpad commented on #9374
@npracht do you have an explanation for this? maybe the composer is changed from version 2 to version 3?

[2020-11-09 12:53] patrykgruszka commented on #9056
I've just got the same issue and here is what I found. If you look at database table `campaign_events` you will notice, that single campaign event supports only one path entry (entity has only one `parent_id`, `trigger_mode`, `decisoin_path` etc.). So the problem is the builder, which should not allow multiple event entries. At this moment every new entry overrides previous path and sets new decis

[2020-11-09 12:55] laabidi21 commented on #9374
if we change the offset to 10 and the limit to 100. the request will start from 0 and limit 100. but it must start with 10 (&offset=10).

[2020-11-09 12:59] Ziedpad commented on #9374
@RCheesley @npracht  the call of the widgets with the offset is generated? ?

[2020-11-09 16:04] janwinkler opened #9381 "Pipedrive never updates exiting leads/contacts/companies"
Issue in: https://github.com/mautic/mautic/blob/075c718194d13e2200e741123969724b94b04838/plugins/MauticCrmBundle/Integration/Pipedrive/Import/LeadImport.php#L52

Pipedrive sync will always only create new contacts but never update existing updates.

Line:
        if ($integrationEntity) {
            throw new \Exception('Lead already have integration', Response::HTTP_CONFLICT);
        }

should

[2020-11-09 17:21] #9378 closed, assigned to nobody

[2020-11-09 17:22] yesblogger commented on #9378
Resolved, wrongly entered HTTP instead of https in the site URL.

[2020-11-09 17:26] dmost714 commented on #8991
TLDR; Update the email address of the currently logged in user.

I just encountered this issue. I believe the "Send test email" button sends the test email TO the currently logged in user. If you're configuring a new setup, you're logged in as "user" with the placeholder email of "user@example.com".

In AWS SES, make sure the FROM address, and also TO address if you're still in sandbox mode, are v

[2020-11-09 17:50] stars05 commented on #6536
Hi all, here’s I’ve created new plugin for mailgun, now you can send messages with mailgun api.

https://github.com/stars05/mautic-mailgun-mailer-plugin

Hope you like it)

[2020-11-09 18:05] janwinkler opened #9383 "Issue getFields on Pipedrive API intergation"
https://github.com/mautic/mautic/blob/32401017622b13c7bb80331e6e821667c74d8aa6/plugins/MauticCrmBundle/Api/PipedriveApi.php#L184

Line seems incorrect, will result in giving back the HTTP Response when called multiple times instead of the response data. Change it to:

        $data = $this->getResponseData($response);
        $this->apiFields[$object] = !empty($data) ? $data : [];
        return $

[2020-11-09 19:17] janwinkler opened #9384 "Issue updating enum fields from Pipedrive"
https://github.com/mautic/mautic/blob/32401017622b13c7bb80331e6e821667c74d8aa6/plugins/MauticCrmBundle/Integration/Pipedrive/AbstractPipedrive.php#L57-L67

Seems incorrect. Type "enum" returns a single string. Use instead:

     if(in_array($field['field_type'], ['enum']) && in_array($field['key'], $keys))
     {
      $pipedriveContactFieldOption = $data[$field['key']];
      $pipedriveAllFieldOp

[2020-11-09 19:40] mabumusa1 commented on #6536
@stars05 I am writing mailgun transport to be part of Mautic core, would like to work with me on this? We can integrate many parts of your code with what I already wrote

Take a look at the code here

https://github.com/mautic/mautic/pull/9310

[2020-11-10 10:27] weismannweb opened #9385 "Mautic 3.x Gmail 404 broken image for images with spaces because of + instead of %20"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
So gmail uses a proxy to cache

[2020-11-10 11:10] rjong opened #9388 "Mautic 3.1.2 installation failed due to database migration: Column not found: 1054 Unknown column '-' in 'generated column function'"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I just wanted to install Mautic

[2020-11-10 11:15] npracht commented on #9385
Hi @weismannweb !
You confirm you use a third party plugin for your emails ? Your image URL is https://foo.com/media/images/grapesjs/Actress%20FB.png but grapesjs is not integrated in mautic.

[2020-11-10 11:22] weismannweb commented on #9385
Ohh i thought grapejs was packed with mautic already.  Yeah maybe I did install it and its not core code.  Anyway yes it is

https://github.com/Webmecanik/plugin-grapesjs-builder

But unless your freola version of the builder fixes spaces it probably has the same issue.  I will test and report back.

[2020-11-10 11:23] npracht commented on #9385
thanks

[2020-11-10 11:28] weismannweb commented on #9385
yes the normal editor renamed the file:

https://ci3.googleusercontent.com/proxy/FZ3B0M0T-1RXmIlFge48m-HQeWl41D_Wj6i6l27B3WIqJiLLnFcboqXr-yaMscH5ktJy0IJcKCTuHdLLV4oFoPgb0deertd1Jzgokab1mUA4btOBG5szIpsBUSU2YP8GeSRJxhjV=s0-d-e1-ft#https://foo.com/media/images/06d1e70be798d8c18969c6acb17466aa.png

I guess I should report this in https://github.com/Webmecanik/plugin-grapesjs-builder instead.

[2020-11-10 11:30] weismannweb commented on #9385
I was under the impression this https://github.com/Webmecanik/plugin-grapesjs-builder was in line to be in the core at some point though.  Is that true?  It kind of stopped progress a couple months ago.

[2020-11-10 11:38] npracht commented on #9385
Yes please open the issue on the other repository.
Concerning the integration in core, this is something under discussion but it needs extra work before we can do it.

Thanks

[2020-11-10 11:38] #9385 closed, assigned to nobody

[2020-11-10 12:17] npracht commented on #9352
Please test https://github.com/mautic/mautic/pull/9389

[2020-11-10 12:18] npracht commented on #9192
closing in favor of https://github.com/mautic/mautic/issues/9352

[2020-11-10 12:18] #9192 closed, assigned to nobody

[2020-11-10 20:38] Av1dLearner opened #9393 "List-Unsubscribe Header Not Included In emails (Sent With SES API)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-11 11:27] ziedMauticMecanik commented on #9374
I have the same problem. to collect Widgets ('sent.email.to.contacts'). It always starts with offset 0, although I gave an offset = 10

[2020-11-11 16:43] MollieRick commented on #9388
3.0 does not have this issue.

[2020-11-11 21:08] bvanrhijn opened #9395 "Redirect loop"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Good fun, I've been running int

[2020-11-11 22:09] bvanrhijn opened #9396 "Form Submit gets stuck sometimes and won't reload for entire session."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Your software
My Mautic version

[2020-11-12 08:16] ziedMauticMecanik opened #9397 "Mautic API get Contacts/Events (getActivity) With Filters Campaign_ID or Email_ID"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-12 08:18] ziedMauticMecanik commented on #9282
@colourfulowl
$events = $contactApi->getActivity($search, $includeEvents, $excludeEvents, $orderBy, $orderByDir, $page, $dateFrom, $dateTo);

how can I filter events from campaign_id or email_id in the $search variable? and what should I write in this variable?

[2020-11-12 08:36] ziedMauticMecanik commented on #9136
to find emails opened and sent and clicks, and bounces, I found an API:
$events = $contactApi->getActivity($search, $includeEvents, $excludeEvents, $orderBy, $orderByDir, $page, $dateFrom, $dateTo);
how can I filter events from campaign_id or email_id in the $search variable? and what should I write in this variable?

[2020-11-12 09:16] TheNavigat commented on #9052
I'm having the same problem on Mautic 3.1.2

[2020-11-12 12:44] k2-Marketing commented on #9054
I have tried this. I can confirm that this is a bug. in 3.1.0

[2020-11-12 12:49] bvanrhijn commented on #9395
I found the reason why this is happening. I've got Mautic behind Haproxy.

Found this link in an obscure Mautic doc. https://symfony.com/doc/current/deployment/proxies.html
But no real suggestion where to implement this in Mautic. Assuming this goes in index.php in the document root?

[2020-11-12 16:42] MilaGuilherme commented on #6775
Still an error on 3.1.2

`[2020-11-12 10:48:21] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo0NzoiZGJ6Y2J2dGEuZmlmYWciO3Y6NDt2OjQxMDg7fWY6ODoiZnpidnkiO3Y6NDk4O2Y6NzoiZmdiZyI7Zjo1NToiOGFiZGFkY2QzYzM3MDg0NzA2Nzk4MSI7Zjo3OiJ5ZmJlIjtmOjg6IjIyMTE2IjtmOjA6ImR1YmFhZnkiO2I6NDp7Zjo4OiJmemJ2eSI7djo0OTg7fX0= {"exception":"[object] (Mautic\\CoreBundle\\Exception\\InvalidDec

[2020-11-12 17:34] mabumusa1 opened #9399 "Links with self reference (#) and UTM break links"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This bug is used is real and wi

[2020-11-12 18:36] diamondtheta commented on #857
Yes, please PRIORIZE this HUGE PROBLEM in development, because it threatens the usability , the mere existence of mautic !
I have only sent about 1-2 thousand emails and already have 1,3 GB database in just a few days!! What will be if I send 100x times much email in every monh???????????????????? There will be 1,5 TERRA BITE database size in just only 1 year??? Most people plan big, that is why w

[2020-11-12 18:41] npracht commented on #857
Obviously 130Gb ?
Do you have any suggestion about how we could optimize this ?

[2020-11-12 18:46] diamondtheta commented on #857
Yes, I just have wrote the solution: developers can see what tables , what data are actually the huge ones, and just please make an option on the admin page to **"don't save huge GB eating XY stats" checkbox** or "don't save each copy for emails" option also, etc. and write that then what will happen (like unsubscribe links won't work, etc and NOT here, but write these please under the setting , n

[2020-11-12 21:40] danielwpsouza opened #9400 "Campaign: Error with sending scheduled email and with tracking"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This bug occurs in campaign eve

[2020-11-12 22:40] bulgin opened #9401 "Mautic editor shows text left justified but arrive in mobiles as centered"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-13 03:34] J-Light commented on #8040
We have two instance of Mautic in production. Both are at v3.1.2, only difference in setup is show below. Once the leads sync, the other the leads do not sync. No errors in the log files.

Not working instance (we only really want form to go to leads)
![image](https://user-images.githubusercontent.com/2544660/99025501-0d78cf80-25bd-11eb-98e9-e42621d38118.png)

Working instance
![image](https://use

[2020-11-13 22:41] rwrz commented on #7763
I just add a PR that could help on the "sending speed" when we have more users like this, is not really related to BLOAT, but let me know if it helps. #9406

[2020-11-14 18:53] mreall commented on #5549
@aaronesteban1 I had the same issue on nginx. When I looked at Settings > Configuration > System Settings > General Settings > Site URL, I noticed that "/index.php" had been added to the end of my URL.  I removed that and the images started appearing.  So far the site is still working for me, but I don't know if that will have other repercussions.

[2020-11-14 22:41] jordan8037310 commented on #6658
@oytuntez - would love to see that plugin if you can open source it?

@RCheesley - I think this is still a valid feature request for Mautic Core and something we may consider taking up if there isn't an open source plugin solution.

[2020-11-14 23:03] mabumusa1 commented on #6658
@jordan8037310 I wrote a plug-in for AWS SQS, do you want to work on this to bring it as a Mautic core feature?

[2020-11-14 23:08] imrodmartin commented on #9296
Any work around on this?  I tried "this" and restarting the actual campaign.  Also tried sending the contact back to a previous step... nothing worked.

[2020-11-14 23:12] vettloffah commented on #9296
@imrodmartin set up two identical campaigns and ping pong the contacts between them.

So send from campaign 1 to campaign 2 then back to campaign 1....

[2020-11-14 23:17] imrodmartin commented on #9296
Thanks @vettloffah - what a clunky way to do it - but I appreciate your response!  It seems Mautic just doesn't want to do a "happy birthday" campaign the easy way LOL 😉

[2020-11-15 07:04] galgamo commented on #9296
@imrodmartin It seems as "this" doesnt work. After many test the best workaround I found is the one I mentioned above.

Start your campaign with "this" and when started modify ir and add "your campaign name" next to this.

That works for me. Ping ponging beetween to identical campaign also works, but I find simpler having only one.

Hope you manage yo get It working

[2020-11-15 12:30] omert37 opened #9407 "Custom Field Tokens not Populated in Trackable URLs"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Seems like Custom Field Tokens

[2020-11-15 13:55] imrodmartin commented on #9296
Ah!! got it - thanks @galgamo - I didn’t quite get that from the previous comments - thank you for explaining it again!  Community rocks :)

[2020-11-15 19:59] dsp76 opened #9408 "URLs dont become trackable links, when <a> tag spans more than one line (includes a line break)"
## Bug Description
We used the Code Mode and an E-Mail generated by MJML Builder.
For whatever reason MJML Builder sometimes creates <a> html link tags, which spanned more than one line.  So it contains a line break between < and >.

`            <a href="https://REMOVED" target="_blank"
               style="display:inline-block;background:#c80f37;color:#ffffff;font-family:Georgia, Helvetica, Ari

[2020-11-15 20:00] dsp76 commented on #9408
(the line breaks don't show up in the copied code, but in the code editor)

[2020-11-15 20:46] Plasmakil commented on #9077
Same problem for us, even after fixing http2 issue (important issue for safari users), GET /mtracking.gif is returned in 1.6s.

[2020-11-16 15:56] omert37 commented on #6011
I am having the same issue.
It seems like this issue has dragged on for ages.
It would be great if this thing was resolved and we could have contact field tokens in links rendered before rendering the trackable links.
I think that's the problem; simple priority.
contact field tokens should be rendered BEFORE rendering the final trackable url.

[2020-11-16 16:37] incentfit-product opened #9411 "Gotowebinar: token {webinar_button} is just a label without link"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
According to the [docs](https:/

[2020-11-16 16:38] incentfit-product commented on #9411
FYI...this appears to have happened before [here](https://github.com/mautic/mautic/issues/3953)

[2020-11-16 16:56] incentfit-product commented on #9411
After doing some more digging, it appears the problem is that the current {webinar_button} and {webinar_link} tokens are only supposed to work if the email is a part of a campaign that is based on a segment that has within it a filter to only include contacts that have registered for a webinar.  The system is supposed to throw an error to the user if they try to add the tokens to an email that doe

[2020-11-16 19:41] mreall commented on #9377
It looks like there's an extra period before "ph.lead_id" in the SELECT statement:
[code]

When I remove that the query runs fine.

[2020-11-16 19:47] mreall commented on #9377
I removed the extra period from lines 752 and 784 in app/bundles/EmailBundle/Model/EmailModel.php and the email chart now loads fine.

[2020-11-17 07:48] D1XII commented on #951
Hey @nickian, I'm super late to the party, but can you help me? The whitelabeler button keeps shooting back an error:

Every time I hit the whitelabler button more undefineds show up (undefined: undefined: undefined: undefined: undefined).

Anything I can do to fix this? Really love your work, and will buy you a few coffees. Thanks, man.

[2020-11-17 07:54] nickian commented on #951
Please join this chat for support: https://creatv.link/eti4p or post in [issues for the whitelabeler](https://github.com/nickian/mautic-whitelabeler/issues) instead of here.

[2020-11-17 12:06] sensalot opened #9413 "Outlook plugin path conflict"
Mautic 3.1 since yesterday But problem already existed in previous versions

I have setup mautic as a subdomain and in a subfolder. The base url is https://mautic.mydomain.com
When I setup the outlook plugin with the path https://mautic.mydomain.com/index.php
the pixel will get a path https://mautic.mydomain.com/index.php/outlook/tracking.gif?blabla&sig=...
When I enter this url in Chrome I receiv

[2020-11-17 14:26] weismannweb opened #9997 "Cant do space or delete or backspace for text in buttons"
Cant do space or delete or backspace for text in buttons

Steps to recreate:

Add button to email/page.

Type text in button and hit space bar then type text.

Observer space is not done.

Same goes for backspace and delete.

https://drive.google.com/file/d/1bnKWwe62puqXzrSQRYJDB2FW1Z4gM4iw/view?usp=sharing

Could it be because of this code:

https://github.com/Webmecanik/plugin-grapesjs-builder/b

[2020-11-17 14:35] weismannweb commented on #9997
Can someone tell me why we are suppressing these keys?  Can it just be removed or do I have to restore these keys when the button editing is in focus then suppress them again when out of focus?

[2020-11-17 16:07] pbdco opened #9414 "Amazon SES host: sa-east-1 not available"
email-smtp.sa-east-1.amazonaws.com is not included in the dropdown list. If I add it mannualy it gives "This value is not valid."

![image](https://user-images.githubusercontent.com/64397076/99414584-b719d280-28d5-11eb-93ee-ef36cc996545.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/94395622-amazon-ses-host-sa-east-1-not-avail

[2020-11-17 20:23] dcambria commented on #900
Is it possible to pass a UTM tag?

[2020-11-17 21:12] ah2020b commented on #900
not using anymore

*Este email é dirigido apenas à pessoa para quem é endereçado e/ou de outra
forma pessoal autorizado. A informação contida nesta e anexada é
confidencial e de propriedade da BitcoinToYou. Se você não é o recipiente
pretendido, por favor fique avisado que a vista desta mensagem e quaisquer
anexos, bem como cópia, mandar adiante, impressão, e disseminação de
qualquer informação re

[2020-11-17 23:42] patricksimonian opened #9416 "External Cron Jobs"
Hi I'm not sure where to put this. I have been working on an install in an Openshift Environment and have a question about Cron jobs...

In most containerized environments you do not have control of when your containers will quit and be brought back up. It's a process that is out of your hands in the case of processes like k8s which will schedule new workloads across different host machines.

My q

[2020-11-18 04:36] #9399 closed, assigned to mabumusa1

[2020-11-18 04:57] jordan8037310 commented on #6658
@mabumusa1 - A Plugin for Mautic 2 or 3? I'd love to take a look at it. I'm not sure about bringing *it* into Mautic core. Instead I think there should be an effort to support _any_ queue service and designate SQS, RabbitMQ, etc.

[2020-11-18 09:33] helirexi commented on #8716
@npracht please reopen this issue - russian (ru) lang have this bug in 3.1.x versions.

[2020-11-18 09:40] zaharovrd commented on #8716
i fix it in translifex

[2020-11-18 10:05] helirexi commented on #8716
so now this fixed and translations can be upload to "../translations/ru/" dir? I was try delete this dir, apply settings in Admin, Default System Language to Russian but mautic won't download it again. Was try set lang to Ukrainian - uk_UA translations was downloaded just fine.
cache was cleared every time. still no luck.

[2020-11-18 10:23] directpromo commented on #8716
to @zaharovrd

Fixes made in Translifex do not remove the error

Are you sure you checked?
deleted the "../translations/ru/" directory, loaded the translation, the translation lines are translated as in Translifex and no errors occur?
.....
russian:
Роман, исправления в Translifex не помогали.

Вы точно проверили?
т.е. удалили каталог "../translations/ru/", затем сменили в настройках язык для загр

[2020-11-18 15:32] aaronesteban1 commented on #5549
YES! YOU WERE ABSOLUTELY RIGHT! THANK YOU SO MUCH BROTHER!

[2020-11-18 17:54] mabumusa1 commented on #9077
I am reviewing the PR made by @nfakhour, @Lologam please share with me the URL of Mautic that you get the problem on? I want to confirm the issue and if the PR solves the issue

[2020-11-18 18:51] dsp76 commented on #9408
Just for reference - in parallel I try to find out why MJML behaves this way: https://stackoverflow.com/questions/64899475/is-there-a-reason-that-mjml-renders-e-g-opening-a-tags-across-several-lines

[2020-11-18 20:50] mabumusa1 commented on #9393
Solved by https://github.com/mautic/mautic/pull/9290

[2020-11-18 20:50] #9393 closed, assigned to nobody

[2020-11-19 01:06] D1XII commented on #6191
Sorry, not a master of code here. Still having this issue. Can anyone help?

1. Cleared the cache via ftp (deleted var>cache)
2. Tried clicking "Install / Upgrade Plugins"
3. Tried navigating directly to: #/plugins/reload (received 500 Internal Server Error)
4. @virgilwashere Tried searching for this file "mautic-site.conf" - I don't have it

I guess I am running branch 3, but I don't know where t

[2020-11-19 09:52] nfakhour commented on #9077
@mabumusa1 you can try this [link](https://najouacdp.motorlegend.com/mtracking.gif) on Safari, and to make sure that we are using HTTP/2 you can use this [website](https://tools.keycdn.com/http2-test)

[2020-11-19 11:00] barryharmsen commented on #7905
This issue still occurs in 3.1.2

[2020-11-19 20:15] chequesplus opened #9419 "."

[2020-11-19 20:18] Av1dLearner opened #9420 "Postmark Server defaults to Transactional Stream"
Postmark offers two streams

1.  Transactional - smtp.postmarkapp.com
2.  Marketing - Broadcasts smtp-broadcasts.postmarkapp.com

The default server when selecting postmark in the config is smtp.postmarkapp.com

I recommend

- Rename Email Service to **Postmark Transactional**
- Add email Service for **Postmark - Marketing - Broadcasts**

[2020-11-19 20:18] #9419 closed, assigned to nobody

[2020-11-20 08:51] #9031 closed, assigned to nobody

[2020-11-20 09:42] #9116 closed, assigned to nobody

[2020-11-20 12:12] npracht commented on #8963
Hi there, you can try https://github.com/mautic/mautic/pull/9418 which may fix your issue :)

[2020-11-20 12:58] #9272 closed, assigned to nobody

[2020-11-20 17:37] patricksimonian opened #9426 "Discussion: Kubernetes/Openshift Ready deployment of Mautic"
## Description:
Our team is working on converting the mautic app into a kubernetes/openshift ready deployment fully set up with redudancy in the form of multiple containers for each microservice (mautic app and the mysql database). The work is very much in progress still but i'd love to share our work when ready. We are using Redhat Openshift 4.5 at the moment and the infrastructure will be based

[2020-11-20 19:53] stars05 commented on #6536
@mabumusa1 hello, yes we could work together on current integrated plugin. Let’s discuss details, how can I help you?

[2020-11-21 03:53] afsalshameer opened #9428 "Email links getting replaced leading to broken links"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-21 05:27] #120 closed

[2020-11-21 09:59] kuzmany commented on #7316
Company does not use unique fields to merge it.
This PR remove this option for companies fields https://github.com/mautic/mautic/pull/9427
Please tests.

[2020-11-21 17:10] #8984 closed, assigned to nobody

[2020-11-21 18:45] npracht commented on #7609
Hi @bbs2009 can you please test: https://github.com/mautic/mautic/pull/7386/ ?

[2020-11-21 21:06] mabumusa1 commented on #6536
@stars05 I think you wrote many important parts, we need to automated tests for them and make them as core components. I can add you to my Mautic fork and work on one branch together to make it happen

[2020-11-22 16:56] #8365 closed

[2020-11-22 18:54] ksoekhram opened #9430 "Delete Contacts in Mautic upon Deletion in Hubspot (data quality + gdpr issues)"
I have connected Mautic with Hubspot, but when I choose to delete a contact in Hubspot, the contact remains in Mautic.

This can lead to drop in data quality and issues with GDPR.

Is this a bug or a feature?

Alternatively, is there a way to "tag" a contact in Mautic upon deletion in Hubspot?

[2020-11-23 04:24] gabepri opened #9431 "Gated video showing play button above form"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I created an mp4 gated video fo

[2020-11-23 04:27] gabepri commented on #9431
This is exactly the same thing as this issue: https://github.com/mautic/mautic/issues/6745
This PR was supposed to fix it: https://github.com/mautic/mautic/pull/6750

But it didn't fix it, as [kmanojkumar commented](https://github.com/mautic/mautic/pull/6750#issuecomment-480895503).  Looks to me like the author had the right idea but the changes didn't also get made to the minified css file...

[2020-11-23 11:15] #8963 closed, assigned to nobody

[2020-11-23 11:17] #9077 closed, assigned to nobody

[2020-11-23 12:36] mabumusa1 opened #9433 "Unicode Characters in From Address Is Invalid in SES API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-23 14:16] afsalshameer commented on #9428
Someone please help

[2020-11-23 14:21] RCheesley commented on #9428
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2020-11-23 14:21] #9428 closed, assigned to nobody

[2020-11-24 03:23] MapleSage commented on #9202
Hello Derwaldgeist,

I'm using Bitnami Mautic Stack ( pHp - 7.2.34) on an AWS EC2 instance, if you are using the same then you sould be able to locate **"db_server_version" in your "local.php".**

Here is what it looks like if you **edit - /opt/bitnami/apps/mautic/app/config/local.php**. You can use **control+w (Mac)** to locate this entry.

        'tmp_path' => '/opt/bitnami/apps/mautic/htdocs/a

[2020-11-24 05:37] gabepri commented on #9321
I confirmed that this bug is happening to me as well.  The fix @stevedrobinson recommended [in his comments on #8745](https://github.com/mautic/mautic/pull/8745#issuecomment-712468919) worked as a fix for this in my testing.

[2020-11-24 05:59] gabepri commented on #9321
This is fixed by https://github.com/mautic/mautic/pull/9251

[2020-11-24 07:03] npracht commented on #9321
Fixed in 3.2.0 which will be release next monday ;)

[2020-11-24 07:03] #9321 closed, assigned to nobody

[2020-11-24 07:05] npracht commented on #9139
fixed in 3.1.2

[2020-11-24 07:05] #9139 closed, assigned to gramakri

[2020-11-24 07:06] npracht commented on #8597
@kuzmany brought several enhancement on that in 3.x. We can close

[2020-11-24 07:06] #8597 closed

[2020-11-24 07:07] npracht commented on #6678
I'll close it as far as we have no idea of how to reproduce it. We'll reopen it if we have more information.

[2020-11-24 07:07] #6678 closed

[2020-11-24 07:10] #9220 closed, assigned to nobody

[2020-11-24 07:10] npracht commented on #9220
Fixed in 3.1.2

[2020-11-24 09:44] admin-fcosson commented on #9238
@RCheesley @colourfulowl  Hello, could we have pls any update? We are still facing the same issue...

[2020-11-24 09:46] admin-fcosson commented on #9238
The form is available on this URL https://notification.wavestone-app.com/test

[2020-11-24 11:09] danclaydon commented on #8198
I get the same error on Mysql 8.0.17 running Mautic 3.1.1

[2020-11-24 11:43] dennisameling commented on #9202
We've fixed this bug in https://github.com/mautic/mautic/pull/9437. This will only apply to **new** installations and to installations that don't have `db_server_version` in their `app/config/local.php` yet (this is the case if you haven't changed the default configuration in Mautic's UI before). Otherwise you have to change the version in `app/config/local.php` yourself, as mentioned in https://g

[2020-11-24 12:13] #9202 closed, assigned to nobody

[2020-11-24 20:17] incentfit-product commented on #7272
@RCheesley any update on this?

[2020-11-24 20:22] RCheesley commented on #7272
No update yet. Due to licensing restrictions we are not able to update Froala to a newer version.

[2020-11-25 12:21] ghost opened #9441 "title"
[//]: # (READ THIS BEFORE PUBLISHING YOUR ISSUE)

[//]: # (Please post questions, support requests and feature requests/ideas at https://forum.mautic.org.)
[//]: # (Strictly follow the instructions hereunder, otherwise your issue will be closed for lack of information.)
[//]: # (DO NOT report security vulnerabilities here. Send them to security@mautic.com.)
[//]: # (MAUTIC 2 is not supported any m

[2020-11-25 12:21] #9441 closed, assigned to nobody

[2020-11-25 22:53] coreyworrell commented on #7669
@ddanninger where and how did you add that?

[2020-11-26 09:16] mabumusa1 commented on #9426
@patricksimonian I would love to work with you on this
@mlahlouh and I been working on something similar we can share experiences with you

[2020-11-26 09:21] mabumusa1 commented on #9414
@pbdco would like to start a PR to add this region?

[2020-11-26 14:18] nickveenhof opened #9445 "Unsubscribe count does not take the date range into account"
[//]: # ( Invisible comment:

## Bug Description
As you can see in the report, we get a suspiciously similar amount for each newsletter in terms of unsubscribes.
![image](https://user-images.githubusercontent.com/161341/100361241-3310ca80-2ffa-11eb-9248-1106f491c8e0.png)

When we look deeper in the database, this seems to be the total of unsubscribes for all times. This makes me wonder how the rep

[2020-11-26 14:20] nickveenhof commented on #9445
Maybe related to https://github.com/mautic/mautic/pull/7088 but not entirely sure

[2020-11-26 15:05] pbdco commented on #9414
https://github.com/mautic/mautic/pull/9446

[2020-11-26 17:59] dhilst commented on #7953
Hi I'm hitting this. I posted in the forum a question about it https://forum.mautic.org/t/error-log-flooded-with-integrity-error/17134

In my case the campaign was a simple loop I would like to know if this could be causing problems. I have another two campaigns that depend on loops but I don't know if this is loop related or not.

I'm in 3.1.2 with PHP 7.2

[2020-11-27 14:51] dhilst opened #9448 ""Cannot user scalar value as array" during installation"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-29 11:31] adirbnology commented on #9400
hi @danielwpsouza
we having exactly the same issue but no success on reproducing it.
on my stage environment i created campaign that send email to 2 leads. but no error appears after i clicked on both emails.

attaching campaign builder view. do i miss here something in order to reproduce the issue?

![image](https://user-images.githubusercontent.com/67871785/100540636-203f0580-3247-11eb-805d-a29c

[2020-11-30 07:22] npracht commented on #9056
Hi @RCheesley @CyberMarsl can you test https://github.com/mautic/mautic/pull/9380 ?

[2020-11-30 09:12] escopecz commented on #8509
@StEtz you cannot use classic Doctrine ORM for custom fields as Doctrine ORM does not support crating new columns dynamically. Here is the solution:

[code]

https://github.com/mautic/mautic/blob/staging/app/bundles/LeadBundle/Entity/LeadRepository.php#L96

[2020-11-30 09:12] #8509 closed

[2020-11-30 13:20] Bibhudatta-Sahoo-ASMB commented on #7836
I Am also same Issue, I am using AWS SSO and done all the setup but when try to login with AWS it is saying "Invalid login. Please verify credentials." but when check the console the URL  https://my-domain/s/saml/login_check giving 302 error and then redirect to /s/login page. Is there any solution ?

[2020-11-30 13:44] Bibhudatta-Sahoo-ASMB opened #9450 "Mautic 3.x SAML 2.0 Not working with AWS SSO"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I am using AWS SSO for SAML 2.0

[2020-11-30 16:28] bizasa commented on #9040
I have same problem,
v2.16.3 works, but v3.1.2 does not work
The function date not work

![checkdate](https://user-images.githubusercontent.com/75266660/100635439-19a5b080-3363-11eb-9828-6c0407c47aec.jpg)

![failed](https://user-images.githubusercontent.com/75266660/100635772-80c36500-3363-11eb-99f8-2aca223b3a47.jpg)

[2020-11-30 17:01] giacy86 commented on #9040
This method work for me:

- i have created a segment for the contacts that have today birthday with the condition **birthday date field equals anniversary +1 days**
![Screenshot (7)](https://user-images.githubusercontent.com/3110330/100639588-a9346a80-3335-11eb-8a5e-c36f7f9e6f0d.jpg)

- created a campaign for the above segment without any date check so "if a contact is in the _birthday today_ segm

[2020-11-30 18:29] user592965 opened #9454 "Plugin for ZoneMTA email transport"
zone-mta is a modern open source outbound MTA wich can send bulk emails on a selfhosted server (https://github.com/zone-eu/zone-mta) and it also have APIs like Amazon SES for sending emails.

Having a plugin in mautic to be able to directly use ZoneMTA's APIs to send emails would be an excellent open source alternative to Amazon SES, it would be great to consider such a plugin.
Mailtrain already u

[2020-11-30 18:51] marioguima commented on #7880
it saved my life

in my case the plugin that blocked this was Wordfence Security

[2020-11-30 19:00] jvdborre commented on #8904
I was facing the same issue in Mautic 3.1.2, upgraded to 3.2 with no succes

here's my errorstring: mautic.WARNING: PHP Warning - array_flip(): Can only flip STRING and INTEGER values! - in file /home/mauticuser/webapps/Mautic/app/bundles/LeadBundle/Form/Type/FilterTrait.php -
 at line 275

[2020-11-30 20:34] trianity opened #9457 "Email sending hangs when an attachment has been disabled and there are still mails in the queue to be sent"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-11-30 20:35] trianity commented on #9457
@escopecz  Dear John, what is your viewpoint about it?

[2020-11-30 20:46] trianity commented on #7953
@RCheesley  Hi Ruth, the issue is still exist on Mautic 3.2.0 & PHP 7.3.23
This is the today's log, after updating Mautic from v.3.1.2 to v.3.2.0

[code]

[2020-11-30 20:50] dsp76 commented on #9408
https://stackoverflow.com/questions/3314535/white-space-inside-xml-html-tags ... it should not be an issue that tag span more than one line.  thus mautic should not have a problem to encode an URL for tracking, when its inside a tag that spans multiple lines.

[2020-11-30 23:37] dhilst commented on #7953
I noticed that the events that get stucked are target events of jump to events, I'm using loops extensively and only campaigns with loops hit this bug. Today I got this hit twice per hour (I have 4 campaign with loops).

[2020-12-01 02:28] rjdjohnston commented on #9041
Is there any movement on this issue? I have the exact same problem

[2020-12-01 02:43] bizasa commented on #9040
Hi giacy86,
What is your mautic version,
In my version 3.1.2 i do not see the option anniversary

![image](https://user-images.githubusercontent.com/75266660/100690610-792eab00-33b9-11eb-94c3-e694c64b95a5.png)

[2020-12-01 06:55] giacy86 commented on #9040
Mautic 3.1.2
The condition in the segment is also a text field, write **anniversary +1 days** with the keyboard.

[2020-12-01 07:53] bizasa commented on #9040
Thanks giacy86,
I will try your tip

[2020-12-01 08:27] #6286 closed

[2020-12-01 08:50] DerMeulendreeZ opened #9459 "Mautic update breaks contacts"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-01 08:53] npracht commented on #9459
Hello @DerMeulendreeZ from which version to which version ? What is your OS ? You PhP version ?
Please give the informations given in the issue template and we'll reopen the issue.

[2020-12-01 08:53] #9459 closed, assigned to nobody

[2020-12-01 08:55] npracht commented on #9408
@kuzmany maybe you can share an advise with @dsp76, we fixed that on our side right ?

[2020-12-01 08:56] npracht commented on #9454
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2020-12-01 08:56] #9454 closed, assigned to nobody

[2020-12-01 08:59] npracht commented on #9400
Hi @adirbnology and @danielcherrington can you please tell if you still experience this issue on 3.2.0 ?

[2020-12-01 09:00] npracht commented on #9448
@dhilst what is the mautic version you try to install?

[2020-12-01 09:01] adirbnology commented on #9400
Im experiencing on 3.1 @npracht

[2020-12-01 09:03] npracht commented on #9445
Hi @nickveenhof did you update to a mautic 3.1 or 3.2 fixed it ?
I am quite sure https://github.com/mautic/mautic/pull/8478 in 3.0.1 fixes it.

I close it and reopen if after update you say it is still not fixed

[2020-12-01 09:03] npracht commented on #9430
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2020-12-01 09:03] #9430 closed, assigned to nobody

[2020-12-01 09:03] npracht commented on #9420
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2020-12-01 09:03] #9420 closed, assigned to nobody

[2020-12-01 09:04] npracht commented on #9416
Hi @patricksimonian, please move your discussion to Slack or Forum ;)

[2020-12-01 09:04] #9416 closed, assigned to nobody

[2020-12-01 09:05] npracht commented on #9377
@mreall could you please create a PR with that fix ?
Thanks !

[2020-12-01 09:09] npracht commented on #9407
Hi @omert37 ! Thanks for your message. Nevertheless, your issue is very poor :

1. What is the issue ?
2. How can i reproduce ?

Please give the relevant information and we'll reopen the issue.

[2020-12-01 09:12] npracht commented on #9282
Hi,

I think the integration is done to fetch bounces with the webhook action. But you enabled webhook feedback for clicks and opens.
Clicks and opens are directly managed by mautic (with the tracking pixel in email and URL re-write for tracking).

I'd suggest you to simply uncheck these boxes and grab with webhook actions only bounced.

You confirm open tracking and clicks still work ?

[2020-12-01 09:13] npracht commented on #9397
Hi @ziedMauticMecanik please move your discussion to slack and/or forums.
Thanks !

[2020-12-01 09:13] #9397 closed, assigned to nobody

[2020-12-01 09:15] npracht commented on #9374
@laabidi21 would you dig into it and try to fix it with a PR ?

[2020-12-01 09:16] npracht commented on #9379
@mautic/acquia-po this one it for you ?

[2020-12-01 09:17] npracht commented on #9370
Hi @wderuijter i think this is fixed by https://github.com/mautic/mautic/pull/9348
Can you test it and add a review on the PR ?
Thanks !

[2020-12-01 09:22] npracht commented on #9326
Did you try https://github.com/mautic/mautic/pull/7867 ?
Please test this PR and add your review.

[2020-12-01 09:23] npracht commented on #9350
Hello!
The mautic policies requests that all the feature requests and integration requests are discussed on the [mautic slack](https://mautic.slack.com) or on the [mautic forums](https://www.mautic.org/forums/).
Github is better used for issues reporting and code proposition.
Thanks for contributing!

N.

[2020-12-01 09:23] #9350 closed, assigned to nobody

[2020-12-01 09:25] npracht commented on #9356
2.16.3-update.zip to update, 2.16.3.zip to install a fresh installation.

I'll encourage you to move your discussion to forums or Slack to chat with other developers.
Thanks

[2020-12-01 09:25] #9356 closed, assigned to nobody

[2020-12-01 09:26] omert37 commented on #9407
@npracht , I've updated the issue with steps to reproduce.

[2020-12-01 09:30] npracht commented on #9400
I was asking for 3.2.0 :D

[2020-12-01 09:31] npracht commented on #9407
Hi, can you test https://github.com/mautic/mautic/pull/7548 and add your review. I'm sure it fixes your problem.

[2020-12-01 09:36] DerMeulendreeZ commented on #9459
Hi @npracht,

Sorry about that:

OS: Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-53-generic x86_64)
PHP (downgrade from 7.4 for Mautic):
PHP 7.3.24-3+ubuntu20.04.1+deb.sury.org+1 (cli) (built: Oct 31 2020 17:00:17) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.24, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.3.24-3+ubuntu20.04.1+deb.sury.org+1, Copyright (c) 1999-201

[2020-12-01 09:45] omert37 commented on #9407
I believe it's just a matter of priority.
Since we know that the contact fields DO populate when TRACKABLE URLS are DISABLED
and DO NOT populate when TRACKABLE URLS are ENABLED,
we can assume that TRACKABLE URL rendering occurs before populating the link with contact fields.
All we need to do is write it up so that it FIRST populates the link with the contact fields and AFTERWARDS generate the TRA

[2020-12-01 09:50] npracht commented on #9407
I use trackable URL and it works.
Did you test the PR ?

[2020-12-01 10:40] Dylan-86 commented on #9326
@npracht  Unfortunately I can't test anymore, I've just left the company I was working for and that was using Zoho :(

[2020-12-01 10:51] npracht commented on #9326
Thanks for your feedback. Maybe you can tag another person from this company ? Otherwise i'll close it.

[2020-12-01 11:10] Dylan-86 commented on #9326
You can close... When I left I was the only one managing Mautic and
everything has been abandoned since then

On Tue, 1 Dec 2020 at 11:51, Norman Pracht - Webmecanik <
notifications@github.com> wrote:

--
Daniele Sala

[2020-12-01 11:15] #9326 closed, assigned to nobody

[2020-12-01 13:09] dhilst commented on #9448
I was in staging branch, trying to migrate a plug-in, I'm not sure at what version, I will try with 3.2 branch, what you think?

[2020-12-01 13:15] laabidi21 commented on #9374
@npracht frankly, I will not succeed in making the necessary changes. Sorry

[2020-12-01 15:48] dhilst commented on #9448
I tried at 3.2 branch, this commit 0fea369d5 to be precise and the problem persist

[2020-12-01 16:28] dhilst commented on #7953
I hit this with this simple campaign in the second `campaign:trigger`

<img width="588" alt="image" src="https://user-images.githubusercontent.com/392820/100767854-ffa6b500-33d8-11eb-8512-fb8a777d3ad3.png">
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/392820/100767879-0503ff80-33d9-11eb-9983-915ca08605bf.png">

[2020-12-01 18:00] omert37 commented on #9407
You're right. It works.
I upgraded to 3.2.0 and it works.

[2020-12-01 18:00] #9407 closed, assigned to nobody

[2020-12-01 18:01] omert37 commented on #9407
Closing issue.

[2020-12-01 18:09] npracht commented on #9407
Thanks for your feedback !

[2020-12-01 19:38] dhilst commented on #7953
As a matter of concept? Shouldn't the contact get it's rotation number increased when a jump occur? I mean would this prevent this kind of error?

[2020-12-01 20:17] mreall commented on #9377
@npracht I created a PR. The contributor agreement I submitted will need to be approved first.

[2020-12-01 20:21] RCheesley commented on #9377
Done! ✅

[2020-12-01 20:45] npracht commented on #9377
Congratulation !

[2020-12-02 07:10] npracht commented on #9377
Solved in 3.2.0

[2020-12-02 07:10] #9377 closed, assigned to mreall

[2020-12-02 08:17] alexhammerschmied opened #9464 "Group Functions in Reports not working anymore"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Since Mautic 3 (every Version),

[2020-12-02 09:25] dev-marcel opened #9465 ""1" showing in landingspage (in header) when having analytics code"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In the landingspage a 1 was sho

[2020-12-02 10:39] RCheesley commented on #7953
It will continue to be an issue until someone makes a PR to resolve it, I'm guessing - we haven't had any yet, so far as I am aware.

[2020-12-02 10:43] RCheesley commented on #7953
Have you tried to apply this fix: https://github.com/mautic/mautic/pull/7605 as posted in this issue: https://github.com/mautic/mautic/issues/6613 which it seems is the same as this one?

[2020-12-02 11:09] k2-Marketing commented on #7953
We tried implementing these changes https://github.com/mautic/mautic/pull/7129 apparently it was fixed in a previous version and then reappeared. This PR fixes it if that helps @dhilst

[2020-12-02 11:51] madorin opened #9466 "Recreate database schema fails"
## Bug Description
Due to a failed upgrade, while running migrations (fk client_id, reported in issues) I exported the data from current DB, then tried to recreate an empty database from scratch, then reimport the data from backup.

| Q   | A
| --- | ---
| Mautic version | 3.2.0
| PHP version | 7.3
| Browser | Chrome

### Steps to reproduce
1. Launch console and run one by one the commands

- doct

[2020-12-02 15:23] stevedrobinson commented on #2467
This does cause problems if you put a merge field/token into a url. For example, we link alerts to CRM like this:

`<a href="https://my.crmsystem.com/person/{contactfield=crm_id}">`

This results in generating URLs like:

`<a href="https://my.crmsystem.com/person/1558=E2=80=8D">`

Which, when you click on it, becomes the URL:

`https://my.crmsystem.com/person/1558%E2%80%8D`

...because my email cl

[2020-12-02 16:20] artem-ego opened #9468 "SES API Error: Local address contains illegal character in Mautic v3.2.0"
## Bug Description
Sending emails using the AWS SES API causes the error in the ./var/logs/* like:
`[2020-12-02 16:43:34] mautic.ERROR: SES API Error: Local address contains illegal character [] []`
The Mautic says the email successfully sent. But the e-mail did not really send to the recipient.
The version of Mautic 3.2.0.
All works correctly if Mautic 3.2.0 configured to use SES-SMTP.
Downgrade

[2020-12-02 18:18] mabumusa1 commented on #9468
@artem-ego can you share the email address you send from, send to, and from name.

If they are private, please check if you have any unicode characters

It might be related to https://github.com/mautic/mautic/pull/9434

[2020-12-02 18:44] stevedrobinson commented on #7953
I can confirm what @k2-Marketing said. #7129 fixes the issue in 3.2.0.

[2020-12-02 20:55] spencerthayer commented on #2357
I would like this to be a required feature.

[2020-12-02 21:44] patsej commented on #4596
Hi,
I'm using Mautic to send emails manually (one by one) and be able to follow if they have been opened (like with bananatag or activecampaign).
I have the impression that the unsubscribe element added to my email is the cause of the email being put in Promotions in gmail.

Do you also experience that?
How can I set Mautic to not add this element for these manual emails?

Thanks in advance!
Best,

[2020-12-02 22:29] dhilst commented on #7953
I tried #7605, no success :(, I will try #7129, thanks!

[2020-12-03 10:13] evgu opened #9469 "v3.2.1 upgrade fails from command line"
When upgrading from 3.2.0 to 3.2.1 via command line, the upgrade process fails.

| Q   | A
| --- | ---
| Mautic version | 3.2.0
| PHP version | 7.3.25
| Browser | n/a (command line)

### Steps to reproduce
1. go to mautic installation dirctory
2. run:  `sudo -u www php bin/console mautic:update:apply -vvv`

Output observed is:
[code]
i.e. script quits after Step 2 Download.

### Log errors
In maut

[2020-12-03 11:17] RCheesley commented on #9469
@evgu this usually means there was a problem connecting to Github to get the packages, rather than a bug with Mautic.

[2020-12-03 11:17] #9469 closed, assigned to nobody

[2020-12-03 11:28] evgu commented on #9469
@RCheesley, you are right, thank you!
I tried to manually downloaded the update and specified the zip on the command line, which worked:
[code]

[2020-12-03 12:30] dhilst commented on #7953
I can confirm #7129 fixed this for me :) at 3.2.0

[2020-12-03 12:52] iurisilvio opened #9470 "Cleanup confirmation i18n message is wrong"
## Bug Description
Yes/No confirmation in `mautic:maintenance:cleanup` does not respect i18n.

Executing cleanup give me this message (in portuguese):

I answer with `s` and it does nothing. It works as expected with `y`.

| Q   | A
| --- | ---
| Mautic version | 2.15.3

### Steps to reproduce
1. I'm using portuguese lang
1. php /var/www/html/app/console mautic:maintenance:cleanup --days-old=365
2

[2020-12-04 05:56] digitalsanity commented on #9019
Still need the SameSite=None change in Mautic 4.

[2020-12-04 08:06] songil88620 commented on #7780
Hello, How are you...
Could you tell me the way how to solve this issue.
Is this issue domain config error OR other server setting error?
I tried on the side of server.. but there is no result..
Please help me to solve this issue.
Thank you.

[2020-12-04 11:03] Aquib-Nawaz commented on #7033
Any solution for this issue

[2020-12-04 11:10] RCheesley commented on #7033
Here is your problem:

There have been multiple fixes for timezone related issues, you will not get those fixes running such an outdated version of Mautic which is no longer supported.

[2020-12-04 14:31] RCheesley commented on #2467
Yes please, create a new issue linking to this one as we may be able to get it fixed :)

[2020-12-04 15:24] wderuijter commented on #9370
@npracht tested with https://mautibox.com/9348. Works, added a review on the PR.

[2020-12-04 15:49] npracht commented on #9370
thanks for confirmation

[2020-12-04 17:52] javiergas commented on #9125
Still the same in 3.2.1
Am I the only one experiencing this issue?

[2020-12-05 12:56] RCheesley opened #9473 "Installation throwing 500 error if credentials are incorrect"
## Bug Description
I noticed while installing 3.2.1 today from the build packages that when my database credentials were incorrect during installation, instead of showing a warning it was crashing with a 500 error, and the following was in the error log:

[code]

This is a pretty ugly experience for the end-user, as they do not know what went wrong, and instead are greeted by our good friend the M

[2020-12-05 14:29] Plato39 commented on #7841
Issue still exists in version 3.1.2

[2020-12-07 06:01] gabepri commented on #9411
Looking through the code, the documentation that says the {webinar_link} and {webinar_button} tokens are only supposed to work in tandem with a webinar filter on a segment is true only in the case of a segment email.  For campaign emails, those tokens are supposed to just pull the last webinar the contact registered for regardless of any segments.

Everything appears to work fine if the contact re

[2020-12-07 08:05] npracht commented on #9411
@incentfit can you please test #9477 ?

[2020-12-07 10:29] atulgarg22 opened #9478 "Composer install v2* failing"
[//]: # (READ THIS BEFORE PUBLISHING YOUR ISSUE)

[//]: # (Please post questions, support requests and feature requests/ideas at https://forum.mautic.org.)
[//]: # (Strictly follow the instructions hereunder, otherwise your issue will be closed for lack of information.)
[//]: # (DO NOT report security vulnerabilities here. Send them to security@mautic.com.)
[//]: # (MAUTIC 2 is not supported any m

[2020-12-07 11:14] directpromo opened #9479 "Migration failed during Pre-Checks. Error Class 'Doctrine\DBAL\Migrations\SkipMigrationException' not found"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When updating via the web inter

[2020-12-07 11:42] dennisameling commented on #9479
Just did a very quick check and can confirm this is a bug:

![image](https://user-images.githubusercontent.com/17739158/101346569-075ad380-3889-11eb-8eb2-69868a0a77ab.png)

@directpromo as a quick fix, please can you open the file `app/migrations/` and replace the following:

**LINE 13**: replace `use Doctrine\DBAL\Migrations\SkipMigrationException;` with `use Doctrine\Migrations\Exception\SkipMig

[2020-12-07 12:29] namratasaun commented on #1861
So, I gave to call mt("send", "pageview") on every page

[2020-12-07 12:49] artem-ego commented on #9468
@mabumusa1 Sorry about the delay. No, my addresses don't have Unicode characters. All my Campaigns were broken after I have updated the version of Mautic from v3.1.2 to v3.2.0. I have used Mautic API to send some emails from my application and nothing to receive.
Then I have tested via the "Send Email" button from the contact page, but I did not receive any e-mail too. I have changed the Mautic co

[2020-12-07 13:48] mabumusa1 commented on #9468
@artem-ego thanks for the information, can you please share with me your configuration for the email.

Or better if you can make a loom video showing how you send the email and how did you configure it.

This issue is strange, I used the api multiple times and did not occur.

[2020-12-07 16:00] laabidi21 commented on #7132
@umakantsharmacedcoss
I tried that. as you wrote, but I have an error
                $data = array(
                    'label' => 'Shops (TB)',
                    'alias' => 'shops',
                    'type' => 'multiselect',
                    'isPubliclyUpdatable' => true,
                    'isUniqueIdentifier' => false,
                    'properties' => array(

[2020-12-08 09:18] komalbarun commented on #9085
Same issue, pls help. Mautic 3.1.2-rc, php7.4

Edit:
I was using smtp.mailgun.org with port 465. Switched to port 587 and its now working.
Might not be the fix for everyone, but I am still putting this here 😄

[2020-12-08 11:31] laabidi21 opened #9481 "Adding custom field with type select/multiselect trough API with Oauth1 produces a 401 type code error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-08 18:29] emanuelflp commented on #9282
Hummm. Ok. I will test here. Thanks

[2020-12-09 11:50] JCrangles commented on #6801
Hi, I am currently using Mautic 3.2.1 and I am still experiencing this bug. Is there a fix in place for this yet?

[2020-12-09 17:13] nick-vanpraet opened #9483 "Point Trigger: send email overwrites campaign level email template resulting in information leak"
## Bug Description

During campaign processing, if the sending of an email to a contact on the campaign list (triggering email) triggers an action which also sends an email (action email), then the action email's template will be used for every subsequent campaign contact. Also, the triggering email itself is never sent.

What, after a lot of debugging, seems to be happening:

In app/bundles/Email

[2020-12-09 17:29] RCheesley commented on #9483
@nick-vanpraet thanks so much for the detailed write-up of this bug, I know it has taken quite some time to get to the bottom of how this happened! Hopefully we can figure out a fix for this nasty bug!

[2020-12-09 18:18] nickveenhof commented on #9445
3.x solves this. Can indeed be closed!

[2020-12-09 18:19] #9445 closed, assigned to nobody

[2020-12-09 20:21] jordan8037310 commented on #9483
I read through the context and to be honest it seems like points architecture needs a major overhaul to reduce risk. Sure this can be solved short-term but this kind of coupling shouldn't be allowed...

Points (Actions / Triggers) should be a separate queue, perhaps not even an event-based system to take action but instead a queuing system. There would be more checks and balances with a separate q

[2020-12-10 02:15] phanhongminh206 opened #9484 "Mautic can not get list contact by api"
I’m doings connection https://mautic.org to the document here: https://developer.mautic.org.

I have obtained **ACCESS_TOKEN** but when I use that **ACCESS_TOKEN** to get data such as: contacts, fields ..., I get the following results:
[code]

- For example when I retrieve the contacts list, I try 2 options:
1. send a request to https://mautic.xxx.com/api/contacts?access_token=ACCESS_TOKEN
2. Send

[2020-12-10 12:34] christopheg commented on #120
is there any chance to add a column with the applied 'tags'?

[2020-12-10 14:49] RCheesley commented on #9478
Hi there, we do not currently support composer v2, we hope to introduce that in Mautic 4.0 (we have to bump some dependencies which will cause a BC break, so we can't bring it in before then).

[2020-12-10 14:49] #9478 closed, assigned to nobody

[2020-12-10 14:54] RCheesley commented on #9466
Hi there, I do not believe this is a bug with Mautic. Please check the steps in the documentation here: https://docs.mautic.org/en/troubleshooting/update-failed regarding steps to take in the event of a failed update.

If you encounter problems, please post these on the forums at forum.mautic.org/c/support where you get help with addressing the issues you're facing.

[2020-12-10 14:54] #9466 closed, assigned to nobody

[2020-12-10 14:58] RCheesley commented on #9465
Hi @dev-marcel thanks for reporting but this is a duplicate of an existing issue which has already been resolved with a PR. Please check out #9352 and test the PR #9389 which has been merged for the next patch release.

[2020-12-10 14:58] #9465 closed, assigned to nobody

[2020-12-10 15:00] RCheesley commented on #9464
@alexhammerschmied thanks for taking the time to report this bug!

[2020-12-10 15:04] RCheesley commented on #9450
Thanks for reporting the bug @Bibhudatta-Sahoo-ASMB - we had a few fixes in 3.1 for SAML which you should have with your version, I'm not versed well enough in SAML to review so I'll ask one of @mautic/core-team to take a look.

[2020-12-10 15:18] madorin commented on #9466
Why it is not an issue if the DB schema recreation fails?
It should work by default no? How then to recreate a new/empty DB?

[2020-12-10 15:23] RCheesley commented on #9484
Hi there, please post requests for support over at https://forum.mautic.org/c/development or https://forum.mautic.org/c/support for generic help rather than here on Github, as we use this issue queue solely for bugs with Mautic itself.

[2020-12-10 15:23] #9484 closed, assigned to nobody

[2020-12-10 15:26] RCheesley commented on #9448
Hi there,

Seems this is the same issue I faced and documented here #9473 - it throws this error if the credentials are incorrect whereas it should handle it gracefully.

[2020-12-10 15:27] #9448 closed, assigned to nobody

[2020-12-10 15:29] RCheesley commented on #9426
@patricksimonian @mabumusa1 if this is a discussion please could we take this to the forums for greater visibility at https://forum.mautic.org? The issue queue here is for bugs with Mautic so let's not crowd the queue with discussions.

[2020-12-10 15:29] #9426 closed, assigned to nobody

[2020-12-10 15:35] RCheesley commented on #9395
@bvanrhijn glad to hear you got this sorted. In terms of working behind a proxy the documentation you linked to is from Symfony rather than Mautic, but there are various guides to setting it up, take a look at this one from Autoize for example: https://autoize.com/logging-client-ip-addresses-behind-a-proxy-with-docker/.

We do have an open PR suggesting improving support for proxies but it needs w

[2020-12-10 15:35] #9395 closed, assigned to nobody

[2020-12-10 15:37] RCheesley commented on #9384
@janwinkler thanks for the bug report, although it's not entirely clear for a user who isn't familiar with Pipedrive what the issue is. If you'd like to submit a PR to address this please do, there's guidance on how to do this at https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests.

We do have some [open PR's relating to Pipedrive](https://github.com/mautic/mautic/pul

[2020-12-10 15:39] RCheesley commented on #9383
@janwinkler thanks for this, same applies to my other response. Please can you give a bit more detail, and make the PR if you can fix this? Please check the [open PR's](https://github.com/mautic/mautic/pulls?q=is%3Apr+is%3Aopen+pipedrive) beforehand to make sure it hasn't already been addressed - if it has please give a report on the PR so we can look at merging in the next release!

[2020-12-10 15:40] RCheesley commented on #9381
@janwinkler another one here, please make a PR to address this, if it isn't already addressed by one of the [open PR's relating to Pipedrive](https://github.com/mautic/mautic/pulls?q=is%3Apr+is%3Aopen+pipedrive). Then we should be able to get it tested and merged in a future release!

[2020-12-10 16:03] RCheesley commented on #9379
@evgu thanks for reporting this. As this is just one login page and many tools have exactly the same across the whole website (e.g. look at most of the CMS systems which will often have similar copyright notices) I don't think this is the cause of the problem.  We have seen some issues with Google flagging the tracking script as malicious as well, but we're struggling to pin that down (see #7524)

[2020-12-10 16:03] #9379 closed, assigned to RCheesley

[2020-12-10 16:55] jordan8037310 commented on #9426
@patricksimonian we have completed most of this work for deploying Mautic with Helm 3 charts to AWS EKS. I plan to finalize my code review and open source next week.

https://github.com/FacetInteractive/mautic-k8s is a placeholder

I need to separate our charts. We have some terraform templates in a separate repo. Our stack is LEMP, Redis, rabbitmq, and RDS as a database.

Feel free to reach out i

[2020-12-10 16:55] RCheesley commented on #9426
Also, we have created #kubernetes on Slack :)

[2020-12-10 17:07] dsp76 opened #9487 "Segment: Regexp search for preferred locale field doesn't work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Can't do a regexp search for lo

[2020-12-10 21:57] RCheesley commented on #9468
It may also be worth double checking things like database collation also?

[2020-12-10 22:01] RCheesley commented on #9396
A couple of questions:

1. Are you using any kind of web application firewall (e.g. with Wordpress or any other CMS)?
2. Is this persisting in 3.2.1?
3. Are there any errors in your browser console?
4. Does it happen in an incognito window?

[2020-12-10 22:02] RCheesley commented on #9388
I was not able to reproduce this in 3.2.1 - can you confirm if this issue has been resolved @rjong ?

[2020-12-10 22:06] RCheesley commented on #9360
Hi there,

Mautic is designed not to allow people to receive the same emails more than once if they're sent as marketing emails.

Generally what we'd recommend is cloning the campaign and running it again if you need folk to go through it again (making sure to run the campaign rebuild cron before the campaign trigger).

Can you try this out on 3.2.1 and let us know if it is still a problem for you

[2020-12-10 22:07] RCheesley commented on #9352
As this has been merged for the next release I'm going to close the issue!

[2020-12-10 22:07] #9352 closed, assigned to nobody

[2020-12-10 22:11] RCheesley commented on #9324
Thanks for submitting this @nrfocus - I'm not sure that this is actually a bug.

If I managed a Mautic instance, I would not want regular users to be able to clear the locks on anything while they are being edited, because this could lead to someone inadvertently cancelling another user's changes while they were making them.

What is the use case where you would want or need a non-administrative u

[2020-12-10 22:11] RCheesley commented on #9320
Hi folks, can you confirm if this is still persisting on 3.2.1 please?

[2020-12-10 22:14] RCheesley commented on #9296
Hi folks, this has been resolved in 3.2.0 so I'm going to close this issue down. The PR for reference is here: https://github.com/mautic/mautic/pull/9418.

[2020-12-10 22:14] #9296 closed, assigned to nobody

[2020-12-10 22:17] #9280 closed, assigned to nobody

[2020-12-10 22:20] RCheesley commented on #9268
Hi @streamworksaudio sorry for the delay on following up with you for this issue.

Firstly, I'd ask if you're able to check if it persists on the latest version as we don't want to waste your time if it's already resolved!

If it is still an issue, it would be super helpful if you'd consider making a PR to address this. We have some great resources at https://contribute.mautic.org/contributing-to-

[2020-12-10 22:22] RCheesley commented on #9200
Hi folks, we have a PR to address this which will ship with the next patch release: https://github.com/mautic/mautic/pull/9458 - please test and see if this resolves your issue!

[2020-12-10 22:27] RCheesley commented on #9180
Hi folks, I'm guessing that this is related to https://github.com/mautic/mautic/issues/9129#issuecomment-707708797 so I'll close this issue down in favour of the discussions there.

[2020-12-10 22:27] #9180 closed, assigned to nobody

[2020-12-10 22:29] RCheesley commented on #9132
@nickveenhof is this still an issue with 3.2.1 please? If so we'll need to do a bit more debugging, if not we'll close the issue.

[2020-12-10 22:41] RCheesley commented on #9044
@dennisameling presume we can do this with a GH secret?

[2020-12-10 22:42] RCheesley commented on #8512
@alanhartless wondering if this remains in 3.2.1 as it was reported back during the 3.x UAT phase!

[2020-12-10 22:43] RCheesley commented on #8508
@alanhartless another one we need to check to see if it persists!

[2020-12-10 22:45] RCheesley commented on #8452
This will form part of the install/upgrade improvement initiative so I've tagged it provisionally for 3.3 to be discussed in the kick-off call.

[2020-12-10 22:48] RCheesley commented on #7708
Hi @adiux can you confirm if this is also working for 3.2.1?

[2020-12-10 22:49] RCheesley commented on #7112
Closing due to lack of recent engagement - if the issue remains please open a new issue and link to this one.

[2020-12-10 22:49] #7112 closed

[2020-12-10 22:54] RCheesley commented on #4736
As this issue and the associated PR has no activity, we're going to close it down. If the feature is something you'd like, please take a look at the PR above and create a new one based on that, updated for Mautic 3, and we can consider it in the next feature release!

[2020-12-10 22:54] #4736 closed

[2020-12-10 23:04] streamworksaudio commented on #9268
Sorry, I stopped using Mautic shortly after I opened this issue so I am not sure if it was addressed or not.

[2020-12-10 23:32] #4061 closed

[2020-12-10 23:32] RCheesley commented on #4399
Closing due to the outdated issue with no recent updates.

[2020-12-10 23:32] #4399 closed

[2020-12-10 23:33] RCheesley commented on #5021
Closing due to probable resolution and no recent response.

[2020-12-10 23:33] #5021 closed

[2020-12-10 23:34] #5354 closed

[2020-12-11 00:18] dsp76 opened #9488 "Locale can't be analysed as a campaign condition"
## Bug Description
I wanted to check the preferred locale of a contact within a campaign. This condition always fails:
![image](https://user-images.githubusercontent.com/1241376/101845238-7caafa80-3b4e-11eb-9410-193087592340.png)

I tested it with "regexp", "equals" and "including" ... non worked.

![image](https://user-images.githubusercontent.com/1241376/101845387-d3183900-3b4e-11eb-805a-998a18d