[2019-02-18 14:32] fphunzz commented on #7256
This is the same bug from #5967. I hope they come out with a fix soon.

[2019-02-18 14:35] npracht commented on #7256
Ok i'm closing this issue in favor of #5967 because it is the same issue and both are "because of" `Sendgrid`

[2019-02-18 15:20] christian-beckmann opened #7257 "Remove Contacts in Segments detail view"
It would be a quick time saver if in the selected segements view
/s/segments/view/[ID]
if you could remove (or if possible add contacts9 - and filter - related contacts.

Currently you have to choose the "contacts" list and filter for segements:"name" by hand.

[2019-02-18 15:20] dsukhin opened #7258 "Complex regex in segment taking an unnecessarily long time"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Rebuilding a segment with a com

[2019-02-18 15:24] christian-beckmann opened #7259 "Contact detail view show related segments"
If you look at a contact, there are no related segments lists. Currently you have to switch to segments list and look in every segment if the contacts is added.

It would be nice to have an opportunity to list all segements by a contact. Like a tab or list.

[2019-02-18 16:09] dsukhin commented on #7258
I stand corrected. Upon further digging, it seems I put a regex (dynamically generated) with 1000 domains instead of 100 and that query takes VERY long even running manually over the 300k users I have.

Consider this issues closed (user error/hardware limitation for the use case).

[2019-02-18 16:09] #7258 closed

[2019-02-18 16:55] Romanst84 opened #7260 "Did not changed charts"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? |

## Description:
When changes dashboard charts
http://prntscr.com/mmrw9n
example display Sent emails i change on Sent emails and Reads emails
http://prntscr.com/mmryej

but charts did not display

## If a bug:

| Q   | A
| --- | ---
|

[2019-02-18 21:50] carloshmm opened #7261 "Contact field 'segment' doesn't work when used on contact filter expression."
I'm trying to filter my contacts by using the contact field 'segment', using the syntax:
segment:'value'

It returns nothing.

All the other contact fields works, so I guess the name 'segment' is reserved internally and should not be used as a custom field (what I'm doing now), is it true? Or is this actually a bug?

[2019-02-18 21:54] mbrinson commented on #2308
Moving this over to the Ideas forum seems to have caused the opposite effect.  It has decreased engagement and decreased visibility for this feature request.

[2019-02-19 04:34] colourfulowl commented on #7255
This is a none bug and is being investigated, no? It's to do with you being signed into Mautic. Whilst signed in it doesn't track you / gives you no ID - producing the above error.

[2019-02-19 08:23] vbezruchkin commented on #6597
Hi,

I have the same issue. I use docker container for Mautic. It was working fine until I added Google Analytics ID. Once saved, the only thing I can see is the error you posted above.

So weird to see it after the config changes...

[2019-02-19 08:33] colourfulowl commented on #7174
Following on with this. I've noticed that the Email Widgets on the dashboard don't have any form of data in them now either. This is happening on all installation of Mautic 2.15+. I'm not getting an error log at all related to this, so i don't really know where to bug fix it :/ Any suggestions? It's making Mautic extremely time consuming when it comes to analysis the email campaigns.

![no-email-o

[2019-02-19 08:37] Khaled4 commented on #6597
You can check your error log. It will mention where the problem is, in most cases.
Meanwhile, check if you have recently (last couple of days!) added any file "not known" to Mautic.

[2019-02-19 08:44] vbezruchkin commented on #6597
Yes, thanks. Working on this.

[2019-02-19 10:03] #7257 closed

[2019-02-19 10:41] Khaled4 commented on #7259
This would indeed be an excellent feature. Thank you Christian-Bechmann

[2019-02-19 10:44] christian-beckmann commented on #7259
Ok, thereby I found it aside in a dropdown "Preferences" and there in a tab "Segments". That was I'm looking for. But it would be easier to find direct in the detailed view.

[2019-02-19 10:51] Khaled4 commented on #7259
Great. Can you kindly include a screen shot?

[2019-02-19 10:54] christian-beckmann commented on #7259
![2019-02-19 11_52_51-window](https://user-images.githubusercontent.com/7237548/53010022-12870a00-343d-11e9-83b4-debd91d4b32b.png)
![2019-02-19 11_53_10-window](https://user-images.githubusercontent.com/7237548/53010023-12870a00-343d-11e9-9d13-410f065d36b7.png)

[2019-02-19 10:55] christian-beckmann commented on #7259
Goto contact detail, look for the dropdown at top right side, and click on "Preferences", then switch to "Segments". Our CRM is german language / english mixed.

[2019-02-19 11:12] christian-beckmann opened #7263 "REST-API: Add multiple Segments to Contact (by create or edit)"
For https://developer.mautic.org/#add-contact-to-a-segment you can add one segment to a contact.

How to add multiple segments (ids or aliases array) at once by creating or editing a contact?
This could save a request, when creating a user from a formular with checkboxes for multiple segment.

[2019-02-19 11:53] MauriceW2 commented on #7255
@npracht, I've checked my pref. center options and as far as I can see, they all set correctly.

- I've created a Mautic Landing Page and enabled 'Is Preference Center'
- In the builder I've added the slot types 'SEGMENTLIST' and 'SAVEPREFSBUTTON'.
- The Landing Page is published

- Then in the e-mail(s), I've selected this Preference center page.
- In the builder I've added the unsubscribe email

[2019-02-19 12:14] colourfulowl commented on #7260
Duplication of #7174

[2019-02-19 12:32] colourfulowl commented on #7255
Your preference centre landing page, did you code it or are you using the builder?

If you coded it can you provide a copy of the code? If it's done using the builder, can you provide us with a preview link?

It's a bit weird that your getting a 500 error when you can see some of the page. We need to see what element of the page is throwing out that 500 server error.

[2019-02-19 13:18] MauriceW2 commented on #7255
@colourfulowl I just used the builder.

This is the preview link: https://mautic.trancewerk.nl/mautic/page/preview/1

It's weird, indeed. The heaader 'Message Preferences'is visible and so is the contact name + a string 'Please use the form below to set your message preferences.'.

Below that, the actual form should appear. And that's the part that shows the error. (I think)

[2019-02-19 13:24] MauriceW2 commented on #7255
When I click the unsubscribe link, these two line appear in the Mautic log:

`[2019-02-19 14:23:18] mautic.WARNING: PHP Warning - Invalid argument supplied for foreach() - in file /var/www/clients/client2/web3/web/mautic/app/bundles/EmailBundle/Views/Lead/preference_options.html.php - at line 48 [] []`

`[2019-02-19 14:23:18] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exceptio

[2019-02-19 13:51] colourfulowl commented on #7255
Umm. It looks like this might be a configuration issue as the page it's loading isn't the preference center page you want it to be. Can you please make sure all of the below is completed. I've looked at the code on both pages and can't see anything out of the ordinary.

Can you go to Configuration > Email Settings and scroll down to Unsubscribe Settings.

The first option (Show contact preference

[2019-02-19 14:17] MauriceW2 commented on #7255
I took all the steps and this seems to work. Great, we're getting somewhere now :-)

This is the page when I click the unsubscribe link now:
https://mautic.trancewerk.nl/email/unsubscribe/5c6c0f687a4f1412208183

However, I'm not seeing anything I setup in the Landing Page on the actual unsubscribe page, after clicking the link. It looks like a default page.

The only difference I had was that **I

[2019-02-19 14:47] MauriceW2 commented on #7255
Ah, when I add the **CHANNELFREQUENCY** slot to the Landing page, the page does show. So that issue seems to be solved as well.

[2019-02-19 15:11] MauriceW2 commented on #7255
So for me, the error seems to be solved. Thank you so much for your help @colourfulowl and @npracht

[2019-02-19 15:48] ojacquet opened #7264 "Mautic API does not support search modifiers like the plus sign"
Mautic version: 2.15.0

* Create a numeric or text custom field, e.g. uid.
* Create a contact with the value 123 for this field
* Create a contact with the value 1234 for this field
* /api/contacts?search=uid:+123&orderByDir=ASC will return both contacts.

The expected result would be to only have the first contact returned by the API. Via the contact search in the Mautic UI this works correctly.

[2019-02-19 17:46] Githopp192 opened #7265 "mautic.ERROR: [MAIL ERROR] Unable to open file for reading"
## Bug Description
### Steps to reproduce

1. i want to send emails with embedded images, not linked images.

2. Changed Email Settings -> "convert embedded images to Base64" ON

3. Then --> Channels --> emails --> Create new Template --> choose one template i.e. Oxygen;

4. Trying to send emails for testing purpose -->

[2019-02-19 18:36:57] mautic.ERROR: [MAIL ERROR] Unable to open file for read

[2019-02-19 19:50] KaKite commented on #7227
I have the same problem with the same Mautic/PHP versions

[2019-02-20 02:20] Bizcrony commented on #6597
https://www.mautic.org/docs/en/tips/troubleshooting.html

[2019-02-20 09:16] ojacquet commented on #7264
And nevermind.... I need to encode my parameters correctly.

[2019-02-20 09:16] #7264 closed

[2019-02-20 12:25] sensalot commented on #4762
Keep in mind that a popup will show while authenticating the plugin. Make sure the popup isn't blocked

[2019-02-20 14:45] ArtemDzhafarov opened #7268 "Tracking URL not replaces correctly"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Redirect URL replacing goes wro

[2019-02-20 16:01] amankapoor opened #7269 "Unable to set up Facebook Login. It says "Authorization failed with the error message, 'Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings.'""
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes
| Feature request? |
| Enhancement? |

## Description:
I am trying to add social login on my subdomain.

I created a new app and did everything I could to get it work on mautic, tried all the variations of domains and subdomains in

[2019-02-20 16:22] vmtv opened #7270 "Support form submission result tokens in "send email" campaign action"
Hey guys, i'd realized that there is no form submission result tokens in campaign "send email" action. Is it common behaviour or maybe some plugin can be installed?
Thanks)

[2019-02-20 20:23] Khaled4 commented on #7270
what do you mean? can you include a screen shot of the problem?

[2019-02-20 20:33] amankapoor commented on #7269
I have solved the issue and now can easily login with Facebook.

Here's what I did for anyone who comes across this later.

So I was getting Bitnami image and hosting Mautic on Google Cloud with Cloudflare in the front.

The Redirect URL that I was seeing was starting from http and not https despite terminating SSL at the reverse proxy level.

I was googling random things and came across this link

[2019-02-20 20:33] #7269 closed

[2019-02-20 20:44] brandner commented on #7120
We've been starting to get some angry contacts that can't unsubscribe, including people that throw CASL/GDPR language at us. Is there a cause for this bug or a workaround while we wait for 2.15.1?

[2019-02-20 20:48] brandner commented on #7072
Oops, maybe this is the primary issue here - we've been starting to get some angry contacts that can't unsubscribe, including people that throw CASL/GDPR language at us. Is there a cause for this bug or a workaround while we wait for 2.15.1?

[2019-02-20 20:52] kuzmany commented on #7072
@brandner https://github.com/mautic/mautic/pull/7006

[2019-02-21 00:16] shurth opened #7272 "Froala editor is not preserving HTML classes"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Froala replaces HTML class attr

[2019-02-21 14:26] shurth commented on #7272
I'm not sure if Froala is trying to inline styles, because the classes I'm trying to use are only applicable on the third party site (not Mautic itself).

[2019-02-21 15:31] vmtv commented on #7270
Please find the screenshots attached:
![edit_campaign_mautic_-_2019-02-21_17 29 05](https://user-images.githubusercontent.com/19403376/53180531-67be4980-35fe-11e9-8a0b-0246678c89c6.png)
![edit_email_-_test_mautic_-_2019-02-21_17 29 27](https://user-images.githubusercontent.com/19403376/53180557-7147b180-35fe-11e9-834f-2ede042be236.png)

[2019-02-21 16:59] rokbani-wael opened #7273 "[REST API] get file from form submissions"
Hi, I'm using the REST API to automatically get data in my system.
I wanted to know if there any ressource in the API to get the file submitted in forms by a contact ?

I can't find anything in the documentation.
Thank you

[2019-02-21 18:54] gingerling commented on #7072
Hi I am having major issues with this. We were no to all the preference center settings and get the 500 error page. This makes people so angry, it's really not cool. Do you have tests set up on the unsubscribe system to run before release? Thanks

[2019-02-21 19:05] brandner commented on #7072
Hey @gingerling - we too are getting a lot of complaints. I had some luck getting it to work by changing the preference page settings under Configuration - Email Settings. By turning off some of the feature, the page started working. We're using that as our workaround for now.

[2019-02-21 21:19] dongilbert commented on #7253
The issue is much more simple than you make it out to be, and it is not a bug.

As seen in your screenshot, the emails that are NOT appearing in the campaign dropdown are _segment emails_ (as indicated by the miniature pie chart to the right of the email name in the list view).

By design, segment emails to not show up in the campaign "Send Email" action form.

Also, emails are _not_ required to b

[2019-02-21 21:19] #7253 closed

[2019-02-22 12:50] christian-beckmann commented on #6673
:+1:

[2019-02-22 13:04] maryisdead opened #7275 "Multi-select can't be emptied on form"
## Bug Description
It is not possible to completely reset a multi-select field on a contact through a form. Reset meaning that no checkbox is set and the field is saved empty.

| Q   | A
| --- | ---
| Mautic version | 2.14.2
| PHP version | 7.1
| Browser | Chrome 72

### Steps to reproduce
1. Have a multi-select field in a form, have it and its options linked to a multi-select field on a contact,

[2019-02-22 13:13] ArtemDzhafarov commented on #7270
I may be wrong, but it looks like the thing you need is under this green "Action" tab as a decision
![screen shot 2019-02-22 at 3 11 35 pm](https://user-images.githubusercontent.com/36130513/53244720-651e2b80-36b4-11e9-8568-b1b3aacdc71e.png)

[2019-02-22 15:05] johbuch opened #7276 "AB test stats not available anymore"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After sending AB test emails, i

[2019-02-23 04:05] neurohost opened #7277 "mautic.CRITICAL: Uncaught PHP Exception"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-02-23 16:24] Baregon opened #7278 "Dashboard Unaccessible after editing Widgets - Error 500 (not #2054)"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes

## Description:
After editing the dashboard widgets, the dashboard page is no longer accessible (Internal Server Error 500) by clicking links inside mautic, or by navigating to the dashboard url in browser.  All other pages are ac

[2019-02-24 15:35] maisonbuga commented on #1536
Is this topic still open? Or is a solution available?

[2019-02-25 02:57] albanleandri opened #7279 "UX Improvement - Allow setting position of validation message below Submit button and make it default behaviour"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? |
| Feature request? |
| Enhancement? | X

## Description:
Today, when auto-integrating a form into a webpage with code provided within script tags, the validation message after submit is systematically on top of the form, which is not user friendly for for forms that have more than 2 or 3 fields because the user will not see the mess

[2019-02-25 07:51] dsp76 commented on #4658
@escopecz same is with "Choose a file" in the file picker form field. Could you please remove the "duplicate" tag. As its not a duplicate? Thanks a lot!

![chooseafile](https://user-images.githubusercontent.com/1241376/53321995-55802c00-38da-11e9-8021-7ce963ee71bb.png)

[2019-02-25 08:25] vmtv commented on #7270
Same behaviour with a "Decision" added before "Send email" action.
No form field tokens on campaign level.

[2019-02-25 08:29] npracht commented on #7277
Hi @neurohost could you please share the process to reproduce the issue ?

[2019-02-25 08:41] npracht commented on #7273
Did you try using routes like:
- https://developer.mautic.org/#list-form-submissions
- https://developer.mautic.org/#list-form-submissions-for-a-contact
- https://developer.mautic.org/#get-form-submission

?

[2019-02-25 08:55] npracht commented on #7270
Hello @vmtv, you have 2 ways to do that:

1. Use form action "send email result"
2. Save those values in contact fields and use contact tokens.

Best!

[2019-02-25 08:55] #7270 closed

[2019-02-25 08:57] npracht commented on #7261
Hello @carloshmm, sorry this is not clear.
Could you please:

- clearly explain how to reproduce (screenshots ?)
- tell the version of mautic you're using.

[2019-02-25 08:58] npracht commented on #7260
Closed in favor of #7174

[2019-02-25 08:58] #7260 closed

[2019-02-25 08:59] npracht commented on #7259
Top right drop down shows this information in preferences

[2019-02-25 08:59] #7259 closed

[2019-02-25 09:00] npracht commented on #7165
Can you show your configuration, what is the type of mailbox you're configuring ? etc.

[2019-02-25 09:01] rokbani-wael commented on #7273
Yes, I can get the file name linked to a specific form for a contact with these rssources. But I'm looking for a way to get the file content so I can save it elsewhere

[2019-02-25 09:04] npracht commented on #6775
Could you please tell what is the text of your link and the link itself ? To see if there is something weird.
Thanks,

[2019-02-25 09:06] #6663 closed

[2019-02-25 09:06] #6627 closed

[2019-02-25 09:07] npracht commented on #6218
The domain sender you're using is not allowed by your email router obviously.

[2019-02-25 09:07] #6218 closed

[2019-02-25 09:10] #7255 closed

[2019-02-25 09:16] npracht commented on #7241
Are the CORS enabled in your configuration ? Settings > Configuration ?

[2019-02-25 09:18] npracht commented on #7226
In 2.15.0 issue is still happening ?

[2019-02-25 09:19] #6930 closed

[2019-02-25 09:20] npracht commented on #7148
Please share a link where the tracking script is to be able to check what happens.

[2019-02-25 09:20] #7223 closed

[2019-02-25 09:20] vmtv commented on #7270
Hey @npracht
1. Well, that could work for one or two forms.
2. But in case if you gonna have different forms and different fields then you will get a "tons" of contact fields + data will be saved in two places.
Regards.

[2019-02-25 09:24] npracht commented on #7230
@taOsemc any update ?

[2019-02-25 09:25] npracht commented on #7225
Can you show the contact information before and after please ?

[2019-02-25 09:29] wucherpfennig commented on #7223
Sorry for the late reply! Works like a charm...

Thank you guys

[2019-02-25 09:55] christian-beckmann opened #7280 "REST-API: Remove multiple Segments of Contact"
Like the opposite direction https://github.com/mautic/mautic/issues/7263. Deregister multiple segments of one contact in one request.

[2019-02-25 11:43] jnewton001 commented on #7226
Yes issue is still happening in 2.15.0.

From: Norman Pracht - Webmecanik [mailto:notifications@github.com]
Sent: Monday, February 25, 2019 4:19 AM
To: mautic/mautic <mautic@noreply.github.com>
Cc: John Newton <jnewton@goldstarfinancial.com>; Author <author@noreply.github.com>
Subject: Re: [mautic/mautic] Duplicate emails sent on campaigns when aes send as rejection occurs (#7226)

In 2.15.0 issue

[2019-02-25 15:17] preetssekhon commented on #3045
I am also getting something similar error, i have already turned off in Mautic's configuration page under CORS Settings. but still getting below error.

Access to XMLHttpRequest at 'https://mautic.onsitesoftware.com/mtc/event' from origin 'https://mydomain.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header

[2019-02-25 15:23] carloshmm commented on #7261
**I have one contact with these attribute values (segment attribute has value 1):**

![dados](https://user-images.githubusercontent.com/31554436/53346734-63dc4100-38f6-11e9-95bb-508906e4ad94.PNG)

**This is the attribute I'm talking about (segment):**
![attribute](https://user-images.githubusercontent.com/31554436/53346869-ae5dbd80-38f6-11e9-9d75-abca8753b329.PNG)

**This is what happens when I se

[2019-02-25 15:54] wucherpfennig opened #7281 "Form Autofill does not work on landing pages with custom domain"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-02-25 16:27] fabscan opened #7282 "Including Opereator in campaign condition doesn't open a multi selection"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When using a condition in a cam

[2019-02-25 18:02] Baregon commented on #7278
Found a fix for errors:

sudo nano

/etc/mysql/my.cnf
or
/etc/mysql/mysql.conf.d/mysqld.cnf

Add this to the end of the file

[mysqld]
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
sudo service mysql restart to restart MySQL

This will disable ONLY_FULL_GROUP_BY for ALL users

Seems to be resolved now.

[2019-02-25 18:02] #7278 closed

[2019-02-25 18:28] Baregon commented on #4168
Is there a workaround for this yet?  I'd love to see my contacts in ascending order by name.

[2019-02-25 20:14] nickian commented on #3045
I'm not sure what else the problem could be. Maybe it is something with your server config. I would try what this article says: https://poanchen.github.io/blog/2016/11/20/how-to-enable-cross-origin-resource-sharing-on-an-apache-server

[2019-02-26 05:52] marqpdx commented on #6975
Does one comment here: I vote for GraphQL if it's between that and REST. Beyond that i don't know enough about Mautic to contribute much presently, so simply +1 forGraphQL.

PS - beefing up the REST layer is good too!

[2019-02-26 11:43] dsp76 commented on #6838
@npracht this seems not to be working. I run 2.15.0 and uploaded a theme via Mautic Backend. The folder /assets/fonts/ was empty - despite being uploaded with the ZIP file.

[2019-02-26 12:58] npracht commented on #6838
Did you configure in your mautic configuration in asset settings, adding those file extension?

[2019-02-26 13:41] comunidademagento opened #7284 "Email editor is broken"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
We try select email and open in

[2019-02-26 22:43] ChuckRenner commented on #5354
Does anyone have any further info on this?

[2019-02-27 08:57] colourfulowl commented on #7276
Did Mautic produce any error logs?

[2019-02-27 09:00] mirkokaufmann commented on #4893
Tested the official solution, but it does not work.

The solution by @wittwerch works in Mautic version 2.15.0. In the mautic code mode emails should not be modified, because often the emails were tested via services like Litmus and every comment block is important.

[2019-02-27 12:18] sfahrenkrog commented on #5736
At the moment the goto webinar plugin is no longer working. After we activated the live oauth keys, no registration for webinars was possible.

I think the problem is this:

OAuth Version 1 Shutdown
https://status-goto-developer.logmeininc.com/

Quote:
3) Starting February 1st, 2019, newly registered GoTo Developer Center apps will not be able to use the legacy authentication endpoints (h://api.ge

[2019-02-27 12:56] comunidademagento commented on #7284
Hello,

See more informations in this video.

https://www.useloom.com/share/f815b53a4c6c439db33c30e5e204c713

Thanks!!!

[2019-02-27 13:49] lucalbert opened #7286 "Campaign subjet email empty"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hello,

Yesterday I updated a m

[2019-02-27 18:40] lapoisse opened #7289 "Max admissible date is 2038-01-01 for date fields"
## Bug Description
As a user, I have some undefined date in the future that are used to filter contact. The max I can put on dates are between the 2038-01-01 and the 2038-12-31. I would prefer to put an arbitrary date like 9999-12-31, that let no possible ambiguous interpretation.

By the way, this notation is currently well supported into my database used to populate Mautic. So it forced me to ch

[2019-02-27 19:50] lapoisse opened #7290 "The API route contacts/batch/edit does not include the duplicate removal but batch/new does/ no doc on it"
similar to #6210.

The route always create a new contact IF you do not provide an id. I was expected that the unicity of a contact will be respected (two contacts with the same email address merged). In fact, the route contacts/batch/new does the trick like a charm.

Maybe something I do not understand. Bug or doc missing ?

| Mautic version | 2.14.2

### Steps to reproduce
1. Create a request to

[2019-02-28 08:56] dungbx commented on #6644
Just want to weight in. I also got this problem.

[2019-02-28 09:36] techzotezo commented on #6339
@StudioMaX  after adding your code in
mautic/app/bundles/EmailBundle/Helper/MailHelper.php it is showing this error in log

[2019-02-28 13:04:04] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Parse error: syntax error, unexpected end of file" at mautic/app/bundles/EmailBundle/Helper/MailHelper.php line 1655 {"exception":"[object] (Symfony\\Componen

[2019-02-28 11:11] andreaedsel commented on #6990
Hi all,
we are using Mautic 2.15 with the last version of FormModel.php and the issue persists.

As reported by @heathdutton , the #6882 doesn't resolves this issue and you have to use a script like that:  https://gist.github.com/shawncarr/56c2484cb50bc923107f210310366ad0

In my web page I used a script like that and it works fine:

I created a form (myform) with email field with "Auto fill data"

[2019-02-28 12:40] comunidademagento commented on #7284
Hello,

See more informations ...

https://www.useloom.com/share/4ff408371f2d4aa9b51b6a27ff84a071

SyntaxError: missing ) after for-loop control new:2:283

    updateIframeContent https://marketing.comunidademagento.com.br/media/js/app.js?vd7677c99:162 buildBuilderIframe https://marketing.comunidademagento.com.br/media/js/app.js?vd7677c99:159 prepareBuilderIframe https://marketing.comunidademagent

[2019-02-28 20:27] neurohost commented on #7277
forgive the delay, I am currently only sending email campaigns

I can not detail the steps because it does not give me any error, the email campaigns are sent, I do not see that it affects me at all "for the moment"

I do not know why that error originates

[2019-02-28 21:49] dsonnet opened #7291 "Mautic query cause mysql server to be totally locked"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic is binging mysql server

[2019-02-28 23:41] nutriepaul commented on #6339
is there a pull request I can pull in?

We have over 250,000 emails and its taking a while to build the emails. i've implemented the spool fix, but i'd love to prevent these emails from getting built like this.

[2019-03-01 01:56] raribeiro commented on #7048
I had this problem. I upgraded to version 2.15.0 from the command line.

For some reason the file below was not updated during the process.

**/app/bundles/CoreBundle/Helper/InputHelper.php**

I downloaded the file in the master and updated it manually, problem solved for me.

[2019-03-01 06:40] Aftershok commented on #7127
Same here. Surprised I haven't come across this before.

[2019-03-01 08:32] KalleVuorjoki commented on #6339
@nutriepaul yes #7110

[2019-03-01 10:35] joonasy commented on #4775
Are there any documentation about this somewhere? Thanks!

[2019-03-01 13:10] loganaden opened #7292 "HTTP 500 error when previewin a form"
## Bug Description
HTTP 500 error on form preview
| Q   | A
| --- | ---
| Mautic version |
Latest stable
| PHP version |
PHP 5
| Browser |
Chrome
### Steps to reproduce
1. Go to a form
2. Select preview

### Log errors
![image](https://user-images.githubusercontent.com/1688420/53640144-cf9b1280-3c44-11e9-8792-ae827fe8b26c.png)

[//]: # ( Invisible comment:
Please check for related errors in the la

[2019-03-01 13:14] johbuch commented on #7292
check if the form has a theme assigned (in the edition)
If yes try to remove it and check the preview again

[2019-03-01 14:07] colourfulowl commented on #7281
Are there any error logs produced on the subdomain page? Via the console editor.

[2019-03-01 14:10] johbuch commented on #7281
How did you integrate the form ? with the token or the script ?

[2019-03-01 17:00] kuzmany commented on #7291
What about this fix?

https://github.com/mautic/mautic/pull/6973

[2019-03-01 17:02] dsonnet commented on #7291
Thanks it seems related, will wait until this gets into a release

[2019-03-01 17:06] #7291 closed

[2019-03-01 17:38] wucherpfennig commented on #7281
With the token... The script breaks the whole builder

[2019-03-01 21:10] joeyparis opened #7294 "Unable to Upload SAML Files - Serialization of 'Symfony\Component\HttpFoundation\File\UploadedFile' is not allowed"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Uploading SAML configuration fi

[2019-03-02 11:18] htbock commented on #6450
Hello everybody,
I think this is just a php setting that needs to be changed, namely, you just have to increase the the number of max_input_vars in php.ini.  I changed the line in my php.ini from
- max_input_vars=1000 to
- max_input_vars=3000
and my problem immediately disappeared. I have a self hosted Mautic instance on a VPS.

Hope this helps.

[2019-03-03 22:20] onyxchase opened #7295 "Error 500 Clicked on Tracked Link"
## Bug Description
Created a campaign with an email containing a trackable link. The conditions are that IF someone clicks on the link, jump back to the top and send another email. When that person clicks on that link, I get an error 500 message. See screenshot.

Note: I was able to avoid the issue by Jumping to another element other than the email.
![2019-03-03_17-17-44](https://user-images.githu

[2019-03-04 15:28] johbuch opened #7296 "add contact manuall as DNC does not work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When I want to set a contact as

[2019-03-05 10:41] briidea commented on #7230
I am getting this error too, I have not looked into why its happening and have not worked out the consequences of the error yet. My campaign is a simple one, segment-> check not in segment exception list -> send email -> if they open add 10 points

[2019-03-05 12:26] techzotezo opened #7298 "Customer Headers not reflecting in emails sent via Campaign Emails or Segment Emails"
Hi @npracht,
I have recently started using Mautic 2.14.2 on my own servers and testing it before sending bulk emails I found (apart from https://github.com/mautic/mautic/issues/6339) that my custom headers are not posted in emails, also surprisingly getting "Precedence: Bulk" as an additional header when sending emails using Campaign Emails or Segment Emails. Can anyone suggest a fix for this so t

[2019-03-05 14:34] wittwerch commented on #5736
Stumbled across that, the plugin is basically broken.
@npracht do you know whether somebody is already working on that?

[2019-03-05 14:38] npracht commented on #5736
As far as i know, no.

[2019-03-05 16:53] colourfulowl commented on #7174
Regarding the dashboard error. If i revert the dashboard back it's standard, or any of the predefinded ones the data is shown. However, the moment i move a widget or resize any of the widget's it wipes all data from the Emails sent / open widget. I've cleared the cache on the server and locally and the data still does not return. My best guess, there's an issue with passing the data into custom da

[2019-03-05 17:07] colourfulowl commented on #7167
@kuzmany Neither the code highlighted in the pull request or the code you placed are within my FieldModel.php file :/

[2019-03-05 19:43] alancvs opened #7300 "Connection could not be established with smtp.mailgun.org (code #111)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-06 00:47] sensalot opened #7301 "Vtiger 7.1 not syncing with mautic 2.15"
I have a vtiger integration that pushes contacts from mautic 2.15  to leads in Vtiger 7.1
The documentation is outdated both at
https://www.mautic.org/docs/en/plugins/vtiger_crm.html
https://mautic.com/help/vtiger-plugin-setup/
The screens are not the sames as in Mautic 2.15

The documentation and the fields in Mautic indicate that a by-directional sync with Vtiger is possible. However: The integr

[2019-03-06 00:59] sensalot opened #7302 "Outlookplugin not working in Mautic 2.15"
I have tried both the original Outlook plugin and the updated one of 2018. In Mautic Log I get these errors
Outlook integration not found
query variables are not found
I have Mautic installed in a subdirectory, and it is on its own subdomain mautic.mydomain.com
I can see that the tracking pixel is added in Outlook. When visiting the url of the tracking pixel, a visit is registered, however a conta

[2019-03-06 08:20] escopecz commented on #7117
May be fixed by https://github.com/mautic/mautic/pull/7192

[2019-03-06 08:20] escopecz commented on #5042
May be fixed by #7192

[2019-03-06 13:07] datmt commented on #4069
you should make www-data the owner of your mautic folder

[2019-03-06 13:08] MauriceW2 commented on #6781
Rinning Mautic v2.15.0 and running 'suddenly' into this exact same issue.

`[2019-03-06 12:52:45] mautic.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\HttpException: "signature_invalid" at /var/www/clients/clientx/webxx/web/app/vendor/willdurand/oauth-server-bundle/Service/OAuthServerService.php line 174 {"exception":"[object] (Symfony\\Component\\HttpKernel\\Exception\\Http

[2019-03-06 14:01] TonyBogdanov commented on #7294
I am experiencing this bug as well on PHP 7.2.

@joeyparis Did you find a workaround for the time being? Does uploading the files manually help or are there any additional modifications that need to be done?

[2019-03-06 15:04] joeyparis commented on #7294
I have not found a consistent workaround as of yet. I tried uploading the 3 files several times and although I did get the error every time eventually the files did actually get uploaded. I'm really not sure what was different the times it succeeded but I have successfully repeated this a handful of times.

I haven't thought about manually uploading the files but I could potentially see that worki

[2019-03-06 15:17] datmt commented on #5541
I have this problem too. Please help

[2019-03-06 15:27] datmt opened #7304 "Unable to create email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-06 17:47] glaucomonteiro commented on #7304
Same issue here, on a fresh install.

From what I have seen in the code, the problem is that the constructor is called on the mautic/themes folder before calling the mautic/themes/{my_theme}, but I dont know how or where to fix it

[2019-03-06 18:39] glaucomonteiro commented on #7304
Looking more into it, the nginx config had some problems, this problem is similar to #3942 and is also solved using the config posted there.

[2019-03-06 22:21] datmt commented on #7304
Thank you very much @glaucomonteiro. Changing nginx config according to the post you  gave works!

[2019-03-06 22:21] #7304 closed

[2019-03-07 04:20] BitSprocket commented on #4467
Don't close - I'm getting this error also.  New install today Mautic V2.15.1-dev.  I created a simple form that captures only email, last name and first name.  The submit function sends several emails that all arrive but the contact does not get created in Dynamics365.  If I use the command line utility as mentioned above the contact does get added to Dynamics.

When the integration fails, I get a

[2019-03-07 04:28] dolpox commented on #7294
encode your XML file [here](https://www.samltool.com/base64.php) and paste the result in your config/local.php

[2019-03-07 06:54] TonyBogdanov commented on #7294
@dolpox Yes, that's the way to go as a workaround. To further clarify, base64-encoded values should be (in the config) under keys `saml_idp_metadata` (the XML metadata file), `saml_idp_own_certificate` (the x.509 certificate) and `saml_idp_own_private_key` (the private key).

[2019-03-07 08:30] spsinghats commented on #4785
@dbhurley I cannot find this feature, but the issue is closed. Please point me to the repo.

[2019-03-07 08:43] npracht commented on #4785
Hi @spsinghats this feature is not existing yet. But we don't manage feature request on Github (bugs here). Feature request will be manage on the website (the new website is gonna be launched very soon).

[2019-03-07 10:51] npracht commented on #7300
Hello @alancvs can you say what version of mautic you are using? If we ask for it in the template, it is because it is very useful ;)

[2019-03-07 10:52] npracht commented on #7298
From that simple message i have no idea of how we can help. We need to be able to reproduce that and there is no clear way to do so...

[2019-03-07 10:57] npracht commented on #7284
Do you have something in mautic logs ?

[2019-03-07 10:58] npracht commented on #7281
What is your theme ? Maybe a bug there ?

[2019-03-07 13:15] genasia commented on #1606
+1

I am raising this exact same concern, the feature is not available in the latest release and but it is most needed.

Really need some help regarding sending the campaigns to the same contact repeatedly using a looping interval of 1-2 days or etc.

[2019-03-07 14:33] leooxx commented on #1606
Hello,

Check this video :
https://navigatetomorrow.com/tutorials/how-to-create-a-birthday-campaign-in-mautic

You can use "Restart campaign" in the campaign ;)

Bye
Léo

[2019-03-07 14:38] mabdelfattah commented on #1606
@leooxx the description under the video that is impossible!

[2019-03-07 18:46] comunidademagento commented on #7284
Hello @npracht

See logs - https://marketing.comunidademagento.com.br/logs_2019.03.07_18.32.39.tgz

See images - https://imgur.com/a/h45xQ5k

=============== APP/LOGS

[2019-03-07 01:10:02] mautic.NOTICE: Doctrine\DBAL\Exception\ConnectionException: An exception occured in driver: SQLSTATE[HY000] [2002] No such file or directory (uncaught exception) at /home/159509.cloudwaysapps.com/tqqdgwcaxq/pub

[2019-03-07 19:36] leooxx commented on #1606
![image](https://user-images.githubusercontent.com/11912120/53983802-586bef80-4118-11e9-8f82-7dc9c96eae00.png)

Exemple : 1 mail every 30 days...

+1 days : mail sending
+30 days : restart

[2019-03-08 07:01] albanleandri opened #7306 "Time/Day in graph of email template view does not account for timezone set in configuration"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? | X
| Feature request? |
| Enhancement? |

## Description:
I am on UTC+7h timezone. An email went out this morning at 6am.
When checking the contact profile, the email send time is 6am, which is correct.
But when I go to the template view of the email I sent, then the graph shows that the email was sent yesterday at 11pm
It's obviousl

[2019-03-08 07:16] dsp76 commented on #6613
Looks like this is also happening with 2.15.0?

[2019-03-08 15:48] corycast opened #7314 "HTML Email Issues Using Mail Chimp Code"
"Hello there,

Whenever we tried to update our customized code from mailchimp, mautic keeps giving back a problem with this message. The email template was the exact one we pasted in previously. How do we resolve this bug?

Message we get: "There are some form validation errors (name: A name is required., subject: A subject is required.) Please close the builder and fix them.""

[//]: # ( Invisibl

[2019-03-08 19:27] Pomazan-Bogdan commented on #3436
you need to automatically create the necessary tables at the start of the docker.

Someone has a clean database dump?

[2019-03-09 01:09] virgilwashere commented on #7304
@glaucomonteiro was it the regex used for `fastcgi_split_path_info`?

Also, I think you and @datmt are going to run into trouble with line 49 of that nginx config.
Add `^` :

[code]

Look [here for my nginx configs](http://bit.ly/nginx_fastcgi_buffers), which evolved from that original gist in #3942: http://bit.ly/nginx_fastcgi_buffers

[2019-03-09 06:30] techzotezo commented on #7298
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hi @npracht I have updated the

[2019-03-09 23:24] luigidon opened #7316 "Uploading CSV on Companies not merging them"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Trying to upload companies via

[2019-03-11 08:36] bbaltatu opened #7317 "Campaign results are not displayed"
Hi,
I have created a campaign and the results are not displayed properly.
Few examples:
- In decisions tab, the data from if a form was submitted are not displayed. I am sure the form was submitted because I saw the results in the form results.
- In the actions tab,  only the following actions are displayed properly: Send or schedule email, change tags, adjust contact points. The "change contact's

[2019-03-11 15:15] iurisilvio opened #7319 "GET /api/contacts return total as string"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Endpoint `/api/contacts` retur

[2019-03-11 16:05] johbuch opened #7320 "problem/feature with repeat point action"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When you create a point action

[2019-03-11 16:06] dirtroof commented on #6156
I'm having the same issue:
* Mautic Version: 14.0
* PHP Version: 7.1.27

Via painful trial & error using manual entry, I determined I can reliably send <= 19 emails at a time. If I do 20+, the emails get scheduled on the contact, but never send. I let them sit for several hours (maybe 5 or so) and they never send.

[2019-03-11 16:30] Khaled4 commented on #6156
@dirtroof, did you try a different SMTP?

[2019-03-11 16:51] dirtroof commented on #6156
@Khaled4 Thanks, I’m thinking it may be bc my CRON jobs are running as root user. Going to change that first to run as same user tha Mautic has. If that doesn’t work I’m hooking up SendGrid to see what happens. Will report back my findings

[2019-03-12 02:13] xfumihiro opened #7321 "Site goes down after clearing cache"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Site goes down immediately afte

[2019-03-12 02:37] xfumihiro commented on #7321
https://github.com/symfony/symfony/issues/28360

[2019-03-12 09:03] ronindesign opened #7322 "Granting all Contact permissions to a role produces incorrect total for granted permissions"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
On the _Permissions_ tab of the

[2019-03-12 10:37] cellsmktng opened #7323 "Issue with re-sending email if initial email is not opened"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
We are using Mautic for an emai

[2019-03-12 11:31] escopecz commented on #7314
Is the validation message not clear to what you have to do?

1. Close the builder
2. Fill in the email name
3. Fill in the email subject
4. Save the email

[2019-03-12 11:35] escopecz commented on #7321
Then do not run the clear cache command with the root user. It warms up cache as well so it will create all folders and files under the root user.

Use this instead: `rm -rf app/cache/*`

[2019-03-12 11:35] #7321 closed

[2019-03-12 11:37] escopecz commented on #7319
I can confirm. List contacts - total is string. List forms - total is int.

[2019-03-12 11:40] escopecz commented on #7323
Latest Mautic version is 2.15.0. What is the actual Mautic version? Do you set some specific time restriction in the actions/decisions? Like send only in working days or similar?

[2019-03-12 11:44] cellsmktng commented on #7323
It’s Mautic 2.12.2

We don’t set any other restrictions, simply ask for it to send however many days later

Michael

[2019-03-12 11:46] escopecz commented on #3786
Could you please re-test if this is still an issue with Mautic 2.15.0?

[2019-03-12 11:47] escopecz commented on #7323
Could you share a screen shot of your campaign tree graph?

[2019-03-12 13:32] bbaltatu commented on #7317
Hi,
If I will install 2.15.0 (not 2.15.1-dev) and  I will have this bug?
Maybe was not a good idea to install 2.15.1-dev ?

[2019-03-12 13:55] MauriceW2 commented on #6613
Yes, the bug is still in .15.0.

I just discovered it, because some campaigns are not running.

It happens to fresh contacts, even in super simple straightforward campaigns, with just setting a tag and sending a notification to the contact owner.

[2019-03-12 13:37:03] mautic.ERROR: CAMPAIGN: An exception occurred while executing 'INSERT INTO mautic_campaign_lead_event_log (rotation, date_triggere

[2019-03-12 15:36] MauriceW2 commented on #6613
I fixed it, at least temporarily.

**What did I do:**
It says: Duplicate entry '249-2079-1' for key 'mautic_campaign_rotation'. This could mean that a value inserted into the DB must be unique, while it's not.

I went into phpMyAdmin and opened the table maut_campaign_lead_event_leg. Tjis is where the error occurs.

I then clicked 'Structure', scrolled down (below the columns) and clicked the + si

[2019-03-12 16:28] dirtroof commented on #6433
@luukvr You are my new hero. Incredible work everyone to figure out this fix. Just tried it, and it works like a charm. I had 1024MB already allocated to PHP Memory, so I didn't touch that and just added `--batch-limit=10` to my CRON. Works perfectly.
@yarokifor I had noticed the 19 limit myself, and your post lead me to believe this thread cited the problem and answer correctly. I decided to go w

[2019-03-12 16:34] dirtroof commented on #6156
FIXED!
Thanks to this other thread: [#6433](https://github.com/mautic/mautic/issues/6433)

It all came down to the server trying to open a new thread for each email it needs to send (my understanding anyway). For some reason, after 19 it ran out of memory and just quit with no error or anything.

Add `--batch-limit=10` flag to your `mautic:campaigns:trigger` CRON job.
Why 10?
Not sure, just chose

[2019-03-12 16:37] maxencedcx opened #7324 "Doctrine exception when long url"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Related to #2187.
Sometimes it

[2019-03-12 18:35] lapoisse opened #7325 "irrational empty tag filtering in the contact and dynamic segments"
As a user, I want to be able to isolate contact without any tag. Maybe two bugs here :
1- If I filter directly into contact with "!tag:%", only a contact created by the interface without tag appears; contact created without tag by the API, are never shown.
2- Create a segment with a empty tag filter will never catch any contact, created by the API or manually.

Mautic version 2.14.12

### Steps to

[2019-03-12 20:19] rhingonekar commented on #7135
So what is the solution to fix this issue?

[2019-03-12 20:20] rhingonekar commented on #7179
@shockalotti @colourfulowl You Found any solution to fix this issue?

[2019-03-12 21:01] jsieber-aca commented on #7316
I'm also seeing this when using a form with a hidden field for user ID. I have to fields set as "unique identifiers", email and userid. If I submit a form with an existing userID but a different email it creates a new record with the userid duplicated.

[2019-03-12 21:03] #6884 closed

[2019-03-12 21:03] #6885 closed

[2019-03-12 21:12] #6687 closed

[2019-03-12 21:14] alanhartless commented on #5917
Fixed in 2.14.2 with https://github.com/mautic/mautic/pull/6603

[2019-03-12 21:14] #5917 closed

[2019-03-12 21:14] #6847 closed

[2019-03-12 21:17] #3898 closed

[2019-03-12 21:18] alanhartless commented on #4876
Seems this was fixed in 2.14.2.

[2019-03-12 21:18] #4876 closed

[2019-03-12 21:19] alanhartless commented on #5672
SEems this was fixed in 2.15.0

[2019-03-12 21:19] #5672 closed

[2019-03-12 21:20] alanhartless commented on #5969
Seems this was merged in 2.15.0

[2019-03-12 21:20] #5969 closed

[2019-03-12 21:21] alanhartless commented on #6053
Looks like this was fixed in 2.15.0

[2019-03-12 21:21] #6053 closed

[2019-03-12 21:22] #6064 closed

[2019-03-12 21:23] #6166 closed

[2019-03-12 21:24] alanhartless commented on #6320
Fixed in 2.15.0

[2019-03-12 21:24] #6320 closed

[2019-03-12 21:27] alanhartless commented on #6639
Fixed in 2.14.2

[2019-03-12 21:27] #6639 closed

[2019-03-12 21:28] #6806 closed

[2019-03-12 21:29] #7048 closed

[2019-03-12 21:30] #7072 closed

[2019-03-12 21:30] #6081 closed

[2019-03-12 21:30] #3977 closed

[2019-03-12 21:31] #4021 closed

[2019-03-12 21:31] #6051 closed

[2019-03-12 21:31] #7033 closed

[2019-03-12 21:32] #7120 closed

[2019-03-12 21:32] #7172 closed

[2019-03-12 21:32] #7178 closed

[2019-03-12 21:33] #6039 closed

[2019-03-12 21:34] #4881 closed

[2019-03-12 21:34] #6861 closed

[2019-03-12 22:34] fullofcaffeine commented on #6450
This is a BIG blocker for campaigns that function as plain sequential autoresponders (i.e send one email after another, a relative wait time of 1 day). I have a blog with over 300 notification emails and while migrating these email notifications over to Mautic, I faced this issue.

Is there a better way to handle autoresponder? Is there a fix for this already?

[2019-03-13 06:05] sayantannag opened #7327 "Ability to set time of email which should go to each users local geographical timezone!"
As a user, I would like the ability to choose or set a time and the email should go to each individuals as per the uploaded contacts CSV file from Mautic, based on their geographic timezone. If I set 2PM and schedule. A German email ID should get it at 2PM their local time, a person from Australia should get the email at 2PM Australian timezone etc.

So, I just want that my all emails deliver base

[2019-03-13 06:08] vishaltps commented on #7118
@poespas Can you please tell me how to publish the mail? i am facing same error

[2019-03-13 13:50] pety-dc commented on #7186
What are the chances that someone close to the core development team will pick this _enhancement_ issue up?

[2019-03-13 17:19] colourfulowl opened #7329 "Google Chrome Autofill"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This is more of a UI bug then a

[2019-03-13 17:41] samjaninf commented on #7320
Honestly... this doesn't sound like a bug. If you want them to only get points for opening the email once, then you should either make the action apply only once, or add the edit contact points to your campaign. If you need them to get points only once from each email and you aren't using a campaign then I would just add a separate action for those emails.

Or am I missing something? :(

[2019-03-13 19:14] KennedyTedesco commented on #5943
Same issue here even using https. =( I've tried a lot of things, nothing work.

[2019-03-14 02:49] wholanda2 commented on #7109
Hey,
Did you solve that problem?

[2019-03-14 03:20] akkarawat2000 commented on #7109
No, I still have problem .
Can you slove this problem ?

[2019-03-14 04:55] wholanda2 commented on #7109
I still can't fix it.
Is your CORS enabled?

Is your domain already approved in Sparkpost?

[2019-03-14 06:26] fullofcaffeine commented on #4686
Thanks @djeraseit, if it weren't for you, this issue wouldn't be useful at all ;)

[2019-03-14 08:04] escopecz commented on #4686
Anyone can improve the docs if you guys feel like it's missing something https://github.com/mautic/documentation#contributing-to-the-mautic-documentation

[2019-03-15 13:22] johbuch opened #7331 "bug with report email and graphic"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
With the report data source "em

[2019-03-15 14:25] luigidon commented on #1694
+1

[2019-03-15 14:26] luigidon commented on #6536
I also hope for Mailgun integration....

[2019-03-16 01:19] Carlos-mb commented on #6971
100 days later.... the bug is still there :(

[2019-03-16 10:49] Carlos-mb commented on #6971
Would there be some way to manually delete the event?

[2019-03-16 11:10] autoize commented on #7003
Also experiencing this bug on 2.15.0 instances deployed in production.
It is highly confusing to novice users who may be mistaken that their Segment Email has not went out yet, even though they can see that no contacts are still "pending" when they click on the "Pending XXX" badge. +1 for this to be fixed in 2.15.1.

[2019-03-17 15:12] kuzmany commented on #7327
Exists for campaigns https://github.com/mautic/mautic/pull/6520

[2019-03-17 15:37] zero-one-devteam opened #7333 "Prevent events not coming from tracking library"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When a user or bot accesses a n

[2019-03-17 23:23] azamuddin commented on #1694
+1

[2019-03-18 01:24] ston3o commented on #7268
I have this problem too when I try to put contactfield in tracking url..

@npracht, for get the token in your email, try this post data : `{ "tokens": { "{token}":"sometoken" } }`

[2019-03-18 01:24] ston3o commented on #7268
I have this problem too when I try to put contactfield in tracking url..

@ArtemDzhafarov , for get the token in your email, try this post data : `{ "tokens": { "{token}":"sometoken" } }`

[2019-03-18 02:50] azamuddin commented on #6536
+1

[2019-03-18 10:43] christian-beckmann commented on #4168
Would be nice if "order" will be fixed for view.

[2019-03-18 12:18] StoppingBuck commented on #7319
I can create a fix for this, but I need to know whether I should change the existing variable, "total", to be int or create a new variable for backwards compatibility reasons (and what to call it in that case)?

[2019-03-18 12:22] escopecz commented on #7319
It causes no problem in PHP so I'm not sure what problem it causes in other languages. Could you describe that? I guess it causes a problem for you. But I would lean in favor of retyping the "total" string value to int as the rest of the Mautic API endpoints has it this way too.

[2019-03-18 12:27] iurisilvio commented on #7319
It can be a problem for statically typed languages if they define a model
with a `String total`. I'm using Python, just did a manual cast `total =
int(total)` before comparison, it works fine with an already int value.

Em seg, 18 de mar de 2019 09:22, John Linhart <notifications@github.com>
escreveu:

[2019-03-18 12:38] iurisilvio commented on #7319
I don't think it is worth to create a new weird value to maintain backward
compatibility. I'd just change the total to int. I don't think people want
a broken API just for the sake of compatibility. It'll create hidden bugs
(I discovered the bug by accident).

Em seg, 18 de mar de 2019 09:27, Iuri <iurisilvio@gmail.com> escreveu:

[2019-03-18 13:10] andrekutianski commented on #7302
all plugins of Mautic stopped working with the version 2.15.x

[2019-03-18 15:26] groovenectar commented on #2546
Did anyone make any headway on using database session storage?

Currently struggling with this as well...

Tried plugging in a custom session save handler in config.php to see if it would get picked up as default, but no luck there...

And I can't find where it's specifying which Symfony session handler to use (which would be files presumably, and maybe it can be changed to database)

[2019-03-18 15:39] sensalot opened #7334 "Internal Server Error when saving contact via API"
Checked in Chrome IE and Firefox
Mautic 2.15.0 and upgraded to 2.15.1
PHP Version 5.6.40 and upgraded to 7.2.16

When I click a contact to view it, I get a 500 error
When I change the word view in the URL to edit, I can edit the contact
https://mautic.mydomain.biz/s/contacts/view/869 fails
https://mautic.mydomain.biz/s/contacts/view/869 works

I checked with incognito in Chrome as well

Error log

[2019-03-18 15:45] groovenectar commented on #2546
Database session storage becomes helpful in load balanced situations where your filesystems might not end up with the same session data for AJAX calls...

[2019-03-18 16:04] pety-dc commented on #6979
upvote

[2019-03-18 16:14] kuzmany commented on #7331
This is because DNC table are loaded just IF you have some of DNC columns (bounce, unsubscribe) in table columns or filters.
Just need add validation also for graphs (If graphs need DNC data, join DNC table)

[2019-03-18 18:18] heathdutton commented on #2546
@groovenectar we use Redis for all our session storage across nodes and it works splendidly. No need to change/configure the Mautic codebase at all. This scales better than using the DB in a load-balanced situation. Our config is public in the mautic-eb repo if helpful to you.

[2019-03-18 18:19] heathdutton commented on #7327
We've been using this in production for some time within campaigns.

[2019-03-18 19:08] groovenectar commented on #2546
Thanks for the resource @heathdutton! We'll have to look into that...

I think I might have gotten working with PDO sessions too, btw...

By changing this line in `config.php`:

`'handler_id'    => null,`

to

`'handler_id'    => 'session.handler.pdo',`

Then after that array, adding this:

[code]

[2019-03-18 20:51] andrekutianski commented on #7334
You have upgraded your Mautic recently?

[2019-03-18 21:32] andrekutianski opened #7335 "cross-origin frame issue after upgrade to 2.15.1-beta"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After upgrade to v2.15.1-beta a

[2019-03-19 08:52] sensalot commented on #7334
No fresh install of 2.15.0

[2019-03-19 10:12] jmmedina93 commented on #468
Hi! I open the topic again, I have a problem with Tag Manager. It is duplicating me as many times as landings I have created.
I do not know how to do it so that I only get one by landing.

This is my code

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l

[2019-03-19 10:19] johbuch commented on #7331
@kuzmany im not sure to understand

[2019-03-19 12:34] Strubbel94 opened #7336 "Include focus items in Mautic reports"
Q | A
------------ | -------------
Mautic version | 2.15.0
Bug report? | No
Feature request? | Yes

Hey,
we're currently using multiple focus items in a campaign and we would like to monitor their performance. Mautic already tracks the clicks and views, but only shows them on the focus item detail page. However, focus items are not available as data source to use them in Mautic reports.

This woul

[2019-03-19 17:00] andrekutianski commented on #7334
Try to force a sql schema update, I recommend this guide https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful

[2019-03-19 17:51] andrekutianski commented on #7335
I made rollback to v2.15.0 and the problem stopped.

[2019-03-19 18:20] roco5 commented on #6618
I have this problem as well?  Any resolution?

[code]

[2019-03-19 19:15] roco5 commented on #6618
In my case I have reverted to using the Other SMTP Server with SES and can get manual test emails to send through SES and land correctly.

The problem I have is that campaign generated emails and the TEST EMAIL in the email configuration do not work.  My campaigns show that the emails have been sent, but they don't show up in SES or their destination.

Any Ideas?

[2019-03-19 22:01] Carlos-mb opened #7337 "Errror 404 when click in link in email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-19 23:26] Carlos-mb commented on #7337
I have seen than the PDF has the character "á".

It could be the problem. I can't check it because when I send a test email it doesn't include the tracking url.

[2019-03-20 02:56] azamuddin commented on #6536
@here Hi, I finally managed to make mailgun plugin for mautic.
I have tested it in Mautic version 2.15.0 and it works perfectly.

https://github.com/azamuddin/mautic-mailgun-plugin

[2019-03-20 03:05] azamuddin commented on #1694
@here Hi, I finally managed to make mailgun plugin for mautic.
I have tested it in Mautic version 2.15.0 and it works perfectly.

You can test it yourself, and please give star if you like it.

https://github.com/azamuddin/mautic-mailgun-plugin

[2019-03-20 09:06] johbuch opened #7338 "issue with restart campaign"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If a contact that is in a segme

[2019-03-20 09:06] johbuch commented on #7338
@alanhartless do you think it is a bug ?

[2019-03-20 17:14] johbuch opened #7340 "problem with code mode and firefox"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
There is a problem with code mo

[2019-03-20 17:27] carloshmm commented on #7261
No feedback, closing.

[2019-03-20 17:27] #7261 closed

[2019-03-20 17:31] carlos-moreira opened #7341 "Campaign Action Webhooks removing POST properties with duplicated values."
This is a very strange bug:

If you create a webhook with two properties, for example:

[code]

And save, only one of these properties will keep saved, one will disappear.

But if you save the same POST request with different values, it will work, for example, this request saves without problems:

[code]

I'm using Mautic v2.15.0. This is a very simple bug to test out, can someone here please conf

[2019-03-20 17:52] carloshmm commented on #7338
My guess is that because the contact is removed prematurely from the campaign the "internals" of Mautic are still recognizing him as still belonging to that campaign. Maybe the contact needs to go all the way to the end of a campaign to trigger some internal mechanism that removes him from belonging to a campaign.
What I'm doing to solve this problem is:

Create a segment (segment A) that has the

[2019-03-20 19:07] Shirkit commented on #6536
I'm installing it on my smaller business server and will report back after some testing.

[2019-03-20 20:31] Shirkit commented on #6536
Ok, so I broke my other Mautic installation (not cauased by this plugin) but I could test some steps.

Unsubscribe works (but don't know who would want to use it since Mautic has one), as well as Bounces/Fails.

Spam report didn't make it through from Gmail as of this moment, so I cannot comment on that.

There's no Integration with Mailgun's "Click Trakcing" and "Open Tracking", but since Mautic

[2019-03-20 21:45] azamuddin commented on #6536
@Shirkit based on official mail transport I observed, I believe `Click Tracking` and `Open Tracking` are handled by mautic. While those integration should only handle 3 types of event, `Bounced / Failed`, `Unsubscribe` and `Spam`. Well yes, I should state this in README.

[2019-03-20 22:48] Shirkit commented on #6536
Actually, if you enable Mailgun's "Click tracking" and "Open Tracking" it will do two things:

-  add Mailgun's pixel on the email body. There's Mautic's pixel already if you have enabled tracking (which you most likely should have).

- replace any links in emails with Mailgun's link tracking. If you have tracking enabled on Mautic, then it's going to do this: Any URL <- Mautic's Redirection <- Ma

[2019-03-21 10:14] npracht commented on #7054
Merged in 2.15.1

[2019-03-21 10:14] #7054 closed

[2019-03-21 13:08] AlbanL74fr commented on #7341
I have the same issue

[2019-03-21 14:54] jmmedina93 commented on #2308
I'm having a problem with the tag manager. It is generating as many labels as landigs I have created. This is my code

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmana

[2019-03-21 15:19] colourfulowl opened #7342 "Focus items - Customisation"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have implemented some focus i

[2019-03-22 10:01] ninjadrupal commented on #6449
i have the same issue -_-'

[2019-03-22 13:07] enableit opened #7344 "Custom multi choice fields break save action with 500"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Running 2.15.1-beta, saving cus

[2019-03-22 16:38] vicampuzano commented on #7340
I get this error (both on Chrome and Firefox) with html code generated with tools like beefree (dot) io or stripo (dot) email

[2019-03-24 16:09] johndjchan commented on #6323
hello guys, i am having the exact same issue, all email subs stuck in pending and it just wont run the tags,segment and settings... any help pls?

[2019-03-24 16:09] vdavid commented on #6395
Any info on what solved it @drimlike ? I'm just setting up Mautic for many locales and I'm trying to avoid mistakes.

[2019-03-24 16:14] johndjchan commented on #6321
facing the same exact issue here
changed campaign settings to 1hr and no success... any kind help pls

[2019-03-24 19:01] drimlike commented on #6395
@vdavid nothing special, just map the email translations together and it should work as expected.

[2019-03-24 21:08] RNCTX opened #7345 "The current version zip on your main site is broken."
[code]

Directly from your website's download form.

[2019-03-25 08:26] enableit commented on #7344
The bug was introduced in this commit https://github.com/mautic/mautic/commit/9d1bfbbdb00cd6e53dbb09da8101808b0a3ae5ad

[2019-03-25 09:54] kuzmany commented on #7340
Let's test https://github.com/mautic/mautic/pull/7346
On production server require regenerate assets `php app/console mautic:assets:generate`

[2019-03-25 11:26] kuzmany commented on #6096
Let's test: https://github.com/mautic/mautic/pull/7347

[2019-03-25 15:24] socmov commented on #5745
HI - I can replicate the issue. The plugin is swapping the API token and the Webhook Password fields. It is trying to use the password instead of the token for authentication.

[2019-03-25 16:56] glaubersilva commented on #7284
I'm going through exactly the same problem. If I create a new email and then click "Save & Close" or "Apply" without entering the email builder I can no longer edit anything when I re-open the email, I can only edit the e -mail if I change the template. If I try to edit directly without changing the template the constructor simply does not allow editing anything and still hangs when I try to close

[2019-03-25 16:59] Helmi commented on #4893
I can confirm that the fix isn't working. Did have to implement the old fix manually again after updating.

[2019-03-25 19:29] aovejas commented on #1438
Me too!! v2.15.0 php 5.6.40

[2019-03-25 22:07] quintmouthaan opened #7348 "Contacts page broken after searching for contacts with a specific tag"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-25 22:54] quintmouthaan commented on #7348
Update: opening the contact page in another browser (Safari) works without errors. The tag search still returns a smaller set of contacts than expected though

[2019-03-26 01:11] uhlhosting commented on #21
I GOT SAME ISSUE!

[2019-03-26 12:03] colourfulowl opened #7349 "Long TTFB Time"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I've noticed since updating to

[2019-03-26 12:08] albanleandri opened #7350 "(Enhancement) Email A/B testing : After the variant wins, show action "Merge difference into parent/control""
What type of report is this:

| Q  | A
| ---| ---
| Bug report? |
| Feature request? |
| Enhancement? | X

## Description:

This enhancement allows to not have to manually copy/paste the variant subject line, or content or whatever was tested into the parent, to simplify adoption of the test learnings and iterate safely.

It would simply copy the the variant details as the parent. So we keep impro

[2019-03-26 12:12] AlbanL74fr opened #7351 "(Enhancement) Email A/B testing : Show statistical relevancy as option that can be set (with default 95%) when starting an experiment, to declare a winner"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? |
| Feature request? |
| Enhancement? | X

## Description:
Today, it's not really transparent how Mautic declares a winner when an A/B test is conducted.

Having more transparency on that and allowing user to select a relevancy threshold would help adopt this feature with more confidence that it's working properly.

[2019-03-26 12:14] AlbanL74fr commented on #7342
Need more informations about what type of focus you used, the code sample if possible, and the nature of the conflict

[2019-03-26 12:15] AlbanL74fr commented on #7336
Completely agree, that would be really useful

[2019-03-26 12:35] fankoti commented on #7338
I have the same. The contact can not be returned to the campaign after removal from the segments. Contact added to segment, but not added to campaign. Campaign restart feature is activated. Mautic v2.15.1, PHP7.1

[2019-03-26 12:36] colourfulowl commented on #7342
@AlbanL74fr I'm using the Modal version of the Focus Item. What i'm trying to update is the CSS that is embedded into the head of the iframe. I'm basically wanting to update some of the existing stuff in there, as well as add some new stuff. I just can't find in mautic's backend code where this style coding is being generated from :/

![focus-iframe](https://user-images.githubusercontent.com/41902

[2019-03-26 12:56] sgregori commented on #3827
Excuse me, i'm interested in this feature, but the ideas forum, has disabled registrations and we can't post.

Thanks,

[2019-03-26 14:20] carloshmm opened #7352 "mautic.NOTICE: Exception: DateTime::__construct(): Failed to parse time string"
I'm getting this error message after upgrading to Mautic version 2.15.1:

`[2019-03-26 14:15:02] mautic.NOTICE: Exception: DateTime::__construct(): Failed to parse time string (aniversário) at position 0 (a): The timezone could not be found in the database (uncaught exception) at /opt/mautic-2.15.1/app/bundles/CoreBundle/Helper/DateTimeHelper.php line 89 while running console command `mautic:segme

[2019-03-26 14:23] bruno911 opened #7353 "Add new operators contains and like that would be case sensitive"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-26 15:08] AlbanL74fr opened #7354 "Segment - "Public Segment" should be set as false by default"
## Bug Description
When creating a new segment, the default setting of "Public Segment" is true which, IMO is not appropriate.
Have such default behaviour can mislead Mautic users to have undesired segments to be visible on preference center page, if they don't pay attention.
My suggestion is to have default setting to false instead.

| Q   | A
| --- | ---
| Mautic version | 2.14.2
| PHP version |

[2019-03-26 16:22] AlbanL74fr commented on #7342
I ever encounter a similar case where I needed to change the default width of the focus container.
I was using notification focus but what I did was to use code editor for the content of the focus and add on top css in <style> tags, call for the css class, and use !important marker... have you tried?

[2019-03-26 18:37] sensalot commented on #7334
might me memory related

[2019-03-26 18:44] sensalot commented on #7170
I moved to a different hosting solution

[2019-03-26 18:44] #7170 closed

[2019-03-26 19:13] urbunuk commented on #6866
Exact same here - Chrome

Mautic Version v 2.15.14

Was this supposedly resolved?

[2019-03-26 20:45] Shirkit commented on #7349
That is most certainly strange. How is your setup? Do you have a caching server?

Also, did you try clearing the cache?

[2019-03-26 21:35] Carlos-mb commented on #6971
I have upgraded to 2.15.1. It still fails.

[2019-03-26 22:45] trampos commented on #7237
Hello, i figured out why i was getting this error.

Its happening when in my feed there is any of these values: null, "", "0" or 0.

I'll keep debugging my code, once there is a chance of the problem being in my application.

sry about my bad english.

[2019-03-26 23:46] mediamix-NJ commented on #3258
I host my own sites on an Ubuntu 16.04 server.
I have 3 websites with the latest version of Mautic running on each.

All worked until I needed to change the IP address on the server.
Now 2 of the Mautic installs still work but the third has the problem described in this post

When I enter Configuration and then click either apply or Save and exit, I get Please Wait...
Nothing happens until I click

[2019-03-27 06:54] digitall-it commented on #3589
Sorry to reopen an old thread, tried to update from v 2.14.2 to v 2.15.1 and had the same problem. I think changing some permissions to the prod folder could do the trick, but the CLI updater is now in the schema migration phase so I cannot interrupt it without leaving the database halfway cooked.

[2019-03-27 07:16] mukomol commented on #7338
@carloshmm can you explain littlebit more?

I try to use one campaign many times for one contact. For example when admin activate account or for user`s details notification about new order.

Example:
1. Create Segment A with condition (contact field 'block' == 0).
2. Create Segment B with no conditions.
3. Create Campaign A that only move contact to Segment B. Checkbox "Allow contacts to restart t

[2019-03-27 08:11] bmdva opened #7355 "Critical PHP Exception after upgrade to 2.15.1 --> Campaign action "Update Contact""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After updating to version 2.15.

[2019-03-27 08:49] colourfulowl commented on #7349
@Shirkit This setup in question is on a AWS server using the bitnami Mautic package. The server also has a Wordpress multisite running too. Mautic and Wordpress have been set up to work very closely together. Mautic has been set up to cache every 15 minutes, so i can't really see that being a huge issue.

Now from a 'front end' view, there's no major delay(at max a 900ms TTFP) in the content being

[2019-03-27 09:54] bmdva commented on #7355
The bug was introduced in this commit[https://github.com/mautic/mautic/commit/9d1bfbbdb00cd6e53dbb09da8101808b0a3ae5ad](url)

[2019-03-27 09:56] bmdva commented on #7355
Duplicate of #7344

[2019-03-27 10:39] pradeepm commented on #6339
@vincnetas Could you please let me know if we replace the existing code with the snippet you've provided or just add it there? If we are a replacing, please kindly mention up to which line that we replace it with your snippet. Thanks

[2019-03-27 11:02] leadsmania opened #7356 "Forms don't work anymore after 2.15.1"
I just upgraded to 2.15.1.

The forms do not integrate with mautic anymore. Im using the native form created in mautic and just pasting the js code into a page where the site has mautic tracking code installed.

Ive made several test both using manual and automatic code, I also created a new form, and tested with and without validation to see if it was validation related according to the error bel

[2019-03-27 11:58] leadsmania commented on #7356
I had an example url with the new form on it, but I had to restore from backup because this is a live site so I could not stay on a non working version. I know there is not much information here. Please believe I have performed many tests to try to get the form to work. Later today when I have time I will clone the droplet and provide all of the information I can. Im sure this is effecting several

[2019-03-27 12:00] vivasc2017 commented on #7356
We are having same issue after migration. Right now trying to revert it to 2.15

[2019-03-27 12:02] leadsmania commented on #7356
While Im here is there a more solid form integration method Im not sure of? Ive tried using thrive leads and other 3rd party solutions that use oauth authorization but with the changes in the oauth code in mautic those have stopped working. Thats when I decided to use mautics native form thinking there will be no way it would not integrate. Can anybody suggest a method thats mautic update proof?

[2019-03-27 12:53] sensalot commented on #6522
I have the same thing. I open an existing Contact to edit it. I change nothing. Click apply -> Internal server error. The behaviour is identical when clicking the save button. Changing something in the contacts information does not change the behaviour.

Log message: [2019-03-27 13:48:33] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Types\ConversionException: "Serialized array includes nu

[2019-03-27 13:00] sensalot commented on #3757
I have the same thing. just opening a contact and clicking apply ore save results in the error
php 5.6.40
Mautci 2.15.0

[2019-03-27 13:07] sensalot commented on #3339
I have this same situation in mautic 2.15.0 php 5.6.40

[2019-03-27 13:40:35] mautic.NOTICE: PHP Notice - Array to string conversion - in file /var/www/html/mautic/vendor/symfony/translation/Translator.php - at line 209 [] []

[2019-03-27 13:08] sensalot commented on #6647
I have this in Mautic 2.15.0 php 5.6.40

[2019-03-27 13:09] sensalot commented on #6647
also
[2019-03-27 13:48:33] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Types\ConversionException: "Serialized array includes null-byte. This cannot be saved as a text. Please check if you not provided object with protected or private members." at /var/www/html/mautic/app/bundles/CoreBundle/Doctrine/Type/ArrayType.php line 46 {"exception":"[object] (Doctrine\\DBAL\\Types\\ConversionExcept

[2019-03-27 14:04] carloshmm commented on #7338
When you say: "automatically", you are saying "after running the cron job mautic:segments:update" right?

The correct order is:
1. 'block' = 0 -> automaticaly added to Segment A (cron job mautic:segments:update inserts the contact on this segment)
2. automaticaly added to Campaign A (cron job mautic:campaigns:update inserts contact on this campaign)
3. moved to Segment B
4. End of Campaign A (Ther

[2019-03-27 14:12] sensalot commented on #7334
We updated to 2.15.1 and did the suggested checks of https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful. This did not solve it. Mautic reports an error about a Null-byte.
So we created a new user in Mautic (to rule out import issues). And the problem persists. We checked with newly created anonymous contacts (website visitors) and the problem persists.
There must be a bug in the

[2019-03-27 14:43] goranculibrk opened #7357 "Sugar/SuiteCRM integration is not working. Failing to trigger events"
## Bug Description
I'm having the issue with Mautic and Sugar/SuiteCRM integration. I've tested SuiteCRM 7.10 and SuiteCRM 7.8.2 but failed both times. The problem is that I keep getting errors when I try to push contacts to integration. No logs are given to see what is the issue. I just get the notification in Mautic that it has failed to trigger the event, and there are no leads in SuiteCRM. I'v

[2019-03-27 14:50] sensalot commented on #7302
2.15.1 still present

[2019-03-27 14:55] sensalot commented on #3339
still present in 2.15.1

[2019-03-27 14:55] sensalot commented on #6647
still present in 2.15.1

[2019-03-27 14:56] sensalot commented on #6647
schema update did not help

[2019-03-27 15:01] sensalot commented on #7334
Chrome console error
libraries.js?va9c03cbc:673 POST https://mydomain.biz/s/contacts/edit/1097?mauticUserLastActive=1&mauticLastNotificationId=9886 500 (Internal Server Error)
send @ libraries.js?va9c03cbc:673
ajax @ libraries.js?va9c03cbc:649
fileUploadXhr @ libraries.js?va9c03cbc:2321
$.fn.ajaxSubmit @ libraries.js?va9c03cbc:2309
Mautic.postForm @ app.js?va9c03cbc:244
Mautic.postMauticForm @ app

[2019-03-27 15:20] sensalot commented on #5181
2.15.1 and after schema update still present

[2019-03-27 21:17] sensalot commented on #7334
upgrade to 2.15.1 did not fix it
upgrade php version to 7.2.16 did not help
I do have one record containing only an emailaddress and no ID. It shows up under report email. But not as a contact. But I expect that this is not the solution

[2019-03-28 03:33] fastflowapps commented on #7356
same problem here, although we had the same issue in 2.15 disabling the mautic-form-src.js

[2019-03-28 06:16] fastflowapps commented on #7356
I've reverted back to 2.15 with the form js files disabled. I have no idea what will be affected from this but at least my forms are working, but I really would like to have this working properly

[2019-03-28 06:48] Bibhudatta-Sahoo-ASMB opened #7359 "Global Unsubscribe option missing in 2.15.1 version."
Newest release 2.15.1 fixed some issues with Preferences Center (Unsubscribe Page) however we are now missing the Global Unsubscribe option "I would like to receive emails from XX" with a tick box - SEPARATE from the My Segments list below (it was formerly at the top).

Please refer the Screen shot below
[http://prntscr.com/n4gxek](url)

[2019-03-28 07:12] KalleVuorjoki commented on #6339
PR linked here is not merged in 2.15.1, so please report if the issue still exists in 2.15.1.

[2019-03-28 07:18] mukomol commented on #7338
Hi, @carloshmm and thanks for answer.

First I checked cronjobs and logs then test mannualy sequentially launch few times
1. mautic:segments:update
2. mautic:campaigns:update
3. mautic:campaigns:trigger

I get precisely I described above - scenario work out only one time. On second iteration when I change Block to 1 then back to 0 contact removed from Segment A, than added to Segment A, but does n

[2019-03-28 07:42] fastflowapps commented on #4652
This problem is still present in both 2.15 and 2.15.1

Replacing the the event.origin code did not work for 2.15

Instead removing both /mautic-form-src.js and /mautic-form.js files works for the form submit in 2.15 but this is not ideal is it will probably affect other mautic functions

Removing the files in 2.15.1 breaks the form submit with redirection to an error page

[2019-03-28 08:22] npracht opened #7360 "New Email builder"
# Description
This issue is meant to get information and inspirations for the new email builder we plan with Mautic 3 and the total refactoring of the email builder feature.
Feel free to comment with documented responses and examples/illustrations.
**@Enc3phale would like to carry the development of this world class builder.**

## Ideas
### Back
- using mjml open source project to generate a high

[2019-03-28 08:42] csaeum commented on #7360
+1

[2019-03-28 08:43] fastflowapps commented on #7356
I have solved the problem within 2.15 It was an issue with X-Frame Options

https://github.com/mautic/mautic/issues/4005

My fix was as simple as disabling Clickjacking in Runcloud

https://www.elftronix.com/runcloud-tip-how-to-configure-x-frame-options-sameorigin/

This may help for others using 2.15....but I have not yet updated to 2.15.1 again as the issues there seemed much more complex

[2019-03-28 09:31] npracht commented on #7359
Hi @Bibhudatta-Sahoo-ASMB please fulfill the issue template with all the missing informations. Thanks.

[2019-03-28 09:33] npracht commented on #7357
Hi @goranculibrk,

- Could you please tell the version of mautic you are using ?
- Showing a screenshot of your plugin configuration (each tab).
- When saving the plugin mapping configuration, you say that is does not save the mapping. Can you check in your browser console if you see errors ? No logs for that either ?
- No log in Sugar ?

[2019-03-28 09:37] npracht commented on #5473
Must be fixed by https://github.com/mautic/mautic/pull/6185
Merged in 2.14.1. Can you try ?

[2019-03-28 09:38] npracht commented on #5441
Hi @isleshocky77 ,

I'm using it everyday and don't have issue. Can you confirm it is solved in recent version of Mautic ?

[2019-03-28 09:39] npracht commented on #5368
according to @therealkevinard comment, it seems to be a configuration issue. I'll close this issue.

[2019-03-28 09:39] #5368 closed

[2019-03-28 09:41] npracht commented on #7355
Closing in favor of #7344

[2019-03-28 09:41] #7355 closed

[2019-03-28 09:42] npracht commented on #7344
@alanhartless can you advise ?

[2019-03-28 09:44] npracht commented on #7354
In 2.15.0 [this PR](https://github.com/mautic/mautic/pull/6410) changes the behavior --> public segment is now different from available in preference center.
Please use this PR or upgrade your mautic version.

[2019-03-28 09:44] #7354 closed

[2019-03-28 09:47] npracht commented on #7352
Your string should be in english instead of `aniversário` (portugal ?). Can you try and confirm ?

[2019-03-28 09:52] npracht commented on #4746
Solved in 2.14.1 according to last @stancel's message

[2019-03-28 09:52] #4746 closed

[2019-03-28 09:59] npracht commented on #7349
@Gregy did you analyze something around that ? Your skilled opinion would be highly appreciated :)

[2019-03-28 10:12] Gregy commented on #7349
At a first glance it looks like an opcache issue. What is your opcache configuration @colourfulowl ?

[2019-03-28 10:30] colourfulowl commented on #7349
Thanks for the help guys :) @Gregy What is it you'd like to know specifically?

This server is using a Bitnami LAMP stack, which has the Apache pagespeed module enabled for caching. Outside of that i'm not sure about the OPcache, but I can find out for you :)

[2019-03-28 10:33] kuzmany commented on #7360
I am working at the moment on GrapeJS integration.
Hope in good progress in next few days.

[2019-03-28 11:04] npracht commented on #7360
@kuzmany i am not fan of starting from a library even if it could be helpful. Starting from a third lib would bring constraints.
We need to start from user needs/expectations and a targeted UX. Then from there if we have a library that can help, this is great. Otherwise this is not good.

[2019-03-28 11:35] AlbanL74fr commented on #7360
Ability to add conditional statements directly in code area like those used in Mandrill would be extremely useful when emails are sent by API... it avoids need of adding custom fields, then add dynamic email content blocks...

[2019-03-28 11:47] Gregy commented on #7349
I mean what are your opcache.* php.ini settings. Current opcache status (https://www.php.net/manual/en/function.opcache-get-status.php) could also help.

[2019-03-28 11:53] goranculibrk commented on #7357
Hi @npracht

I've tried with Mautic 2.12, then updated it to 2.15 and it didn't work.

Next, I've created new instances SuiteCRM (v7.11.2) and Mautic (v2.15.1) and just created the integration. I've got the same problem.

To be honest, I didn't check Suite logs, but now, after you suggested me to do it i got this error:

[code]

I've created a video of plugin configuration, here's the link https:/

[2019-03-28 11:56] colourfulowl commented on #7349
@Gregy Is this what you're looking for?

OPcache settings:
[code]

[2019-03-28 11:59] Gregy commented on #7349
Yes. This looks a bit on the low side. Can you get the output from the function I linked too? You need to run it on the same server after you experience the slow load.

[2019-03-28 12:16] colourfulowl commented on #7349
@Gregy Here's what it dumped out :)

[code]

[2019-03-28 12:19] Gregy commented on #7349
Well, here is your problem.
[code]

It seems your opcache is disabled even though your previous snippet suggests it should be enabled. There is probably another php.ini file overriding the one you posted.

[2019-03-28 12:27] colourfulowl commented on #7349
@Gregy I found where it was that was disabling it. Upon enabling it for Mautic it's, without a better way to phrase it, spat out all of the below:
[code]

[2019-03-28 12:31] Gregy commented on #7349
And do you still experience the same issue?

[2019-03-28 12:39] colourfulowl commented on #7349
Weirdly, yes. I've just changed Mautic's cache setting to 0 instead of every 15 mins to test it. Every time i load the dashboard it's taking about 28 seconds TTFB. I get that we've just implemented a cache, but everytime the cache updates, is it really meant to take this long to load the page :/

![TTFB2](https://user-images.githubusercontent.com/41902603/55158225-4a791f80-5156-11e9-97c5-5c9d7138c

[2019-03-28 12:45] Gregy commented on #7349
Any other pages take that long or only dashboard does? what about the mautic login page?

[2019-03-28 12:52] colourfulowl commented on #7349
From what i can see, it's only the Dashboard, "/emails/edit/" view & builder pages. "/contacts/view/" page is a tad slow but not nearly as bad as any of the others.

The login page, and anything that doesn't load the back end stuff is super quick. Typically loading in less than 200ms.

![login-ttfb](https://user-images.githubusercontent.com/41902603/55159108-477f2e80-5158-11e9-9805-47fd1a83a245.PN

[2019-03-28 12:57] Gregy commented on #7349
In that case it is likely the culprit is some sql query. Can you check on mysql side during the load with `show full processlist` to see if there is any long running sql query?

If that doesn't yield anything I would suggest creating a profiling trace with xdebug to see what takes so long (https://xdebug.org/docs/profiler)

[2019-03-28 13:13] npracht commented on #7357
Then it seems being an issue of configuration. In the Sugar configuration or API configuration, can't you see anything to change that would seem related to those messages ?

[2019-03-28 13:19] colourfulowl commented on #7349
Hmm, i didn't even think about the SQL being the issue. It actually makes quite a lot of sense. I've had a few SQL issues in the past with the server, and the DB for mautic is kept separately to the server (AWS RDS). I'll drop a reply when I've had chance to get in there :)

[2019-03-28 13:45] luisenrike commented on #6339
I'm still having the issue in 2.15.1

Also, because of this, my disk space is at 900gb

[2019-03-28 15:14] Jhos-duall commented on #7344
Same problem.

[2019-03-28 16:13] colourfulowl commented on #7349
@Gregy  I ran the SQL test i can't see anything out of the ordinary going on. But, i'll be honest, i might be doing it wrong >_< I'm still learning all the server management stuff. I'm using MySQL Workbench to run the query.

After clearing the cache from Mautic, there is a spike in SQL statements but that's meant to happen, no?

![sql](https://user-images.githubusercontent.com/41902603/55173495-b

[2019-03-28 16:18] #3786 closed

[2019-03-28 16:18] #3806 closed

[2019-03-28 16:18] #4164 closed

[2019-03-28 16:19] #4262 closed

[2019-03-28 16:20] #4520 closed

[2019-03-28 16:23] kuzmany commented on #7344
Quick fix https://github.com/kuzmany/mautic/tree/fix-multiple-custom-fild

[2019-03-28 16:25] npracht commented on #6011
@johbuch can you reproduce ?

[2019-03-28 17:31] colourfulowl commented on #7349
Just to add to this. When changing the filter or altering anything that causes the below SQL query, it causes the huge delay. I'm not really sure where to go about fixing something like this :/

[code]

[2019-03-28 19:13] Dipranil opened #7363 "Unable to Setup Gmail / Any Smtp"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I tried to setup Gmail and othe

[2019-03-28 19:49] Gregy commented on #7349
This looks like a widget load which takes some time. But it should by loaded async and shouldn't affect ttfb.

[2019-03-28 21:00] amankapoor commented on #7363
Try changing mode to TLS if its SSL.

Play around with SSL, TLS and None and Cram_MD5, Plain etc.

I had a similar situation and it was fixed when I changed to TLS from SSL.

[2019-03-29 04:11] Dipranil commented on #7363
Getting This error if i set TLS with

[2019-03-29 07:44] npracht commented on #6050
@heathdutton would you kindly propose a PR to enhance documentation with your comment https://github.com/mautic/mautic/issues/6050#issuecomment-419531436 ?

[2019-03-29 07:45] npracht commented on #6154
@kuzmany do you have an idea why that happens ?

[2019-03-29 07:45] #6172 closed

[2019-03-29 07:46] npracht commented on #6250
Solved in 2.15.1 with https://github.com/mautic/mautic/pull/7015

[2019-03-29 07:46] #6250 closed

[2019-03-29 07:50] npracht commented on #6405
@Lalilu if the campaign is disabled, the email is not sent. There is a condition before sending that checks that.

[2019-03-29 07:50] #6405 closed

[2019-03-29 07:52] npracht commented on #6449
@ninjadrupal did you try #7015 ??

[2019-03-29 07:53] npracht commented on #6449
I'll mark as closed because solved by #7015 and i'll reopen if you say it does not work.

[2019-03-29 07:54] #6515 closed

[2019-03-29 07:56] #6528 closed

[2019-03-29 07:56] #6535 closed

[2019-03-29 08:00] kuzmany commented on #6154
I think It's related to @Enc3phale changes https://github.com/mautic/mautic/pull/6665 and another one. This change move logic JS to head and all js in head waiting for loading all html stuff. I got same issue with one my plugin, I have to add window.load condition.
But I don't tested, just quick review.

@Enc3phale Can you look on it?

[2019-03-29 08:09] npracht commented on #6154
The issue was opened before @Enc3phale PR. But if @Enc3phale you have an opinion :)

[2019-03-29 08:10] #6630 closed

[2019-03-29 08:11] npracht commented on #6709
@Woeler according to last comments, what should we do with that issue ?

[2019-03-29 08:12] npracht commented on #6775
@pety-dc any feedback ?

[2019-03-29 08:12] kuzmany commented on #6154
I think It's too less information.
Any logs, browser console?
Somebody need re-test, because can be anything (form cache?...)

This issue report is incomplete.

[2019-03-29 08:12] npracht commented on #6803
Solved with recurring campaigns.

[2019-03-29 08:12] #6803 closed

[2019-03-29 08:13] #6812 closed

[2019-03-29 08:15] npracht commented on #6913
@ISKCONonlineadmin any feedback ?

[2019-03-29 08:15] #6920 closed

[2019-03-29 08:16] #6934 closed

[2019-03-29 08:16] #6968 closed

[2019-03-29 08:17] #7027 closed

[2019-03-29 08:19] npracht commented on #7032
@Woeler can you share your opinion concerning @quintmouthaan suggestion?

[2019-03-29 08:20] #7141 closed

[2019-03-29 08:20] #7148 closed

[2019-03-29 08:21] #7154 closed

[2019-03-29 08:23] npracht commented on #7167
Solved by #7343 merged in 2.15.1

[2019-03-29 08:23] #7167 closed

[2019-03-29 08:23] #7314 closed

[2019-03-29 08:24] npracht commented on #7292
@loganaden any feedback ?

[2019-03-29 08:39] colourfulowl commented on #7349
@escopecz Was there anything in the update to 2.15 that could effect the widget loading?

[2019-03-29 09:11] escopecz commented on #7349
I'm sorry, I'm not able to keep up with all the changes anymore. Searching through the PRs may give you the answer.

[2019-03-29 09:45] Woeler commented on #7032
Sorry, I am no JS guy.

[2019-03-29 09:50] leo108 commented on #7032
I think this should be a quite easy fix, just check `node.getElementsByTagName('source').length` before accessing the 0 index of it.

[2019-03-29 09:54] npracht commented on #7032
@leo108 can you propose a PR for that ?
Thanks @Woeler

[2019-03-29 10:14] npracht commented on #7032
@quintmouthaan can you test #7365 please ?

[2019-03-29 11:16] colourfulowl commented on #7349
No worries :)

I've implemented the changes as apart of #7318 which has improved this issues, but not completely. It still takes a good 15-20 seconds once the cache is updated. It appears that updating the contents of the "/cache/prod/data" folders is causing the delay.

[2019-03-29 13:15] Woeler commented on #6709
I can push this change, the thing is. I have no way to test if this works, because I do not use onesignal

[2019-03-29 13:29] carloshmm commented on #7352
@npracht
I can't update to version 2.15.1 again right now because just yesterday I put Mautic in production usage on my company. What we are going to do here is to create a development Mautic environment where we will try out upgrades and other tests, when we get this done I will test your suggestion again.

What I can tell you know is that using localized names, Brazilian Portuguese in this case,

[2019-03-29 13:52] npracht commented on #6709
@vincnetas would you be able to test a PR ?

[2019-03-29 13:52] npracht commented on #7352
Let me know when you have done the test in english with 2.15.1 ;)

[2019-03-29 14:37] leadsmania commented on #7356
You know Ive been researching this issue looking for solutions. There is no plugin that integrates with mautic anymore after version 2.14 (after they made the change to the oauth code). Not thrive leads, WP Mautic Form Integrator, CF7 Mautic Extension, AR hive which claims to integrate wp cf7 to mautic, and NINJA FORMS PLUGIN a plugin that claims to integrate ninja forms to mautic. I just spoke wi

[2019-03-29 14:39] kuzmany commented on #7356
https://github.com/mautic/mautic/issues/7344#issuecomment-477668898

[2019-03-29 14:44] TR687 opened #7366 "Report Numeric Links Error 0.0.0.xx"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When clicking on the numeric va

[2019-03-29 17:29] iurisilvio opened #7367 "Error inserting page hit because url title is too long"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Column `hit.url_title` is a str

[2019-03-29 17:31] mediamix-NJ opened #7368 "Won't save Configuration Changes - Please Wait..."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I host my own sites on an Ubunt

[2019-03-29 17:38] cellsmktng opened #7369 "Mautic bounce"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
About 6% of our contacts are re

[2019-03-29 18:50] KennedyTedesco commented on #6874
Same issue here. :( It doesn't work with queues.

[2019-03-29 19:18] Arkango opened #7370 "Import csv error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-30 02:44] jpetrosky commented on #6837
I can confirm the same issue on one of my version 2.15.0 installations (hosted at Nexcess). Contacts identified by IP only and social media fields populated by integer values (23,24,25,26,etc.). Other installations using the same codebase at HostGator do not have this issue. Possible server config issue?

Showing about 10000 of these IP contacts added daily (from e-commerce site). I also see that

[2019-03-30 03:05] fastflowapps commented on #7356
@leadsmania what kind of integrations are you needing? We will shortly be looking at a Mautic plugin for our WordPress marketing integration system @ https://fastflow.io so that we can add users who get tagged in WordPress straight into Mautic. I'm interested to know what requirements other people have so we could look at covering those too

[2019-03-30 06:55] lipnotic commented on #7344
Same problem here

[2019-03-30 08:12] lipnotic commented on #7344
@kuzmany 's FIX mentioned above fixed my form freezing while sending.
NICE!

[2019-03-30 16:24] #7370 closed

[2019-03-30 16:27] Arkango opened #7371 "ARUBA email setup"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-03-31 01:46] Uebix commented on #6613
Hello, this error persist in 2.15.1
mautic.ERROR: CAMPAIGN: An exception occurred while executing 'INSERT INTO....'
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '140-207837-2681' for key 'phplist_campaign_rotation'

To test the problem i create a very simple campaign with a test segment.
The last "Jump to event" is the problem.
![image](https://user-images.githubuserconten

[2019-03-31 05:40] leadsmania commented on #7356
@fastflowapps all I need is the form to work regularly, when somebody fills it out, the contact is created in mautic. Whether thats through a third party plugin that uses oauth, or through mautics own methods for adding the form to the site. For me both methods break after any kind of mautic update. Sometimes you don't find out for days and are losing people, they fill out the form and nothing hap

[2019-03-31 10:00] amasselin commented on #7356
We have the same error that @leadsmania after upgrade to 2.15.1, but on a mautic landing page that embbed a mautic form. All our forms are break, even those who have only one email field.

`[2019-03-31 11:58:11] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Validator\Exception\UnexpectedTypeException: "Expected argument of type "string", "array" given" at /opt/bitnami/apps/mautic/htdoc

[2019-03-31 12:55] cpot opened #7372 "Can't save contact in 2.15.1"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
While saving a contact after ed

[2019-03-31 17:00] amasselin commented on #7356
I think it's a problem associate to contact update or create in the form process. If field isn't associate to a contact field, there is no  mautic.CRITICAL error.

[2019-03-31 17:01] amasselin commented on #7356
#7372

[2019-04-01 07:13] banpie opened #7373 "vendor/autoload.php error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Q   | A
| --- | ---
| Mautic

[2019-04-01 07:50] npracht commented on #7369
Hi @cellsmktng i don't think this is a bug.

1. They are really bounce at a certain moment
2. Your email router has an issue
3. Your configuration is wrong

How do you send your emails ? How can we reproduce.

[2019-04-01 07:52] npracht commented on #7371
Hi @Arkango this is an issue with Aruba, not mautic. Please contact their support.
Are you sure you validated the usage of the domain name bu this router ? Most of the time you need to configure your DNS to authorize the router to send emails on your behalf. If this is not done, the router blocks the emails.

[2019-04-01 07:52] #7371 closed

[2019-04-01 09:30] Arkango opened #7374 "Configuration tab 504 error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-04-01 09:58] Dipranil commented on #6618
@roco5 : The issue you have im facing too.please let me know if you find any solution

[2019-04-01 10:54] cellsmktng commented on #7369
Hi @npracht

This is definitely a bug - it has only been happening recently, and only to certain contacts who we know the emails already work.

Is there a way to turn off the auto do not contact when an email bounces?

[2019-04-01 11:16] Dipranil commented on #6618
@roco5 : Below are the solution, It worked for me

go to > app/bundles/EmailBundle/Swiftmailer/Transport/AmazonTransport.php
line 71 > parent::__construct($host, 2587, 'tls');

change it to > parent::__construct($host, 25, 'tls');

[2019-04-01 12:47] npracht commented on #7344
@enableit @lipnotic please test #7375

[2019-04-01 12:48] npracht commented on #7372
Closed in favor of https://github.com/mautic/mautic/issues/7356

[2019-04-01 12:48] #7372 closed

[2019-04-01 12:49] npracht commented on #7356
Closed in favor of #7344

[2019-04-01 12:49] #7356 closed

[2019-04-01 14:12] goranculibrk commented on #7357
Hey @npracht
I've figured it out. In Features tab of the plugin config, I had to select what CRM objects to pull. After I selected them and hit apply, I've got an additional Company mapping tab and everything works ok.

[2019-04-01 14:16] #7357 closed

[2019-04-01 14:39] leadsmania commented on #7356
Has anybody tested the zapier / mautic integration? I've been trying every way possible to take a form submission and create a contact in mautic using the zapier webhook mautic method but it does not create contacts at all. Is this method abandoned?

[2019-04-01 16:56] carloshmm commented on #7338
Sorry for the delay. You are describing all the steps properly so I don't know why your campaign is not restarting. Are you sure your contact is leaving the campaigns? (Steps 4 and 8)

[2019-04-01 17:39] bookin opened #7378 "How get a count times user opened email by date interval?"
For example I need information how many time user opened email today, here some problem, user could open emails yesterday or before and in the `open_count` I see only sum of opens, in the `date_read` - first time when it was read, `last_opened` - last date, but I don't see way how to get information for any day or date range.

In the code I didn't find where it could be. Only `open_count`
any idea

[2019-04-02 03:53] verioussmith commented on #6618
Is this just a stop gap measure?  I have tried to change the port from 2587 to 25  but I still do not get a positive result when testing the  connection.  I also don't feel comfortable editing a core file.

[2019-04-02 08:01] hluchas commented on #7344
I'm sorry about this. Forgot to create/use specific validator.

[2019-04-02 08:40] sayantannag commented on #7327
Hi Guys,

Any update regarding the same issue of mine?

[2019-04-02 14:36] npracht commented on #5736
@sfahrenkrog @wittwerch can you test the related PR ? :)

[2019-04-02 18:12] autoize commented on #7344
@npracht @kuzmany

Applying #7376 fixes the form submit issue, but there is a problem with the lead that is created.
It cannot be deleted from the contact list

Before the patch, we get this error with the form submit hanging like other commenters above.

`[2019-04-02 13:43:40] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Validator\Exception\UnexpectedTypeException: "Expected argument

[2019-04-02 18:50] Uebix commented on #7135
Hello, solutions?

Mautic version: 2.15.1
PHP version: 7.0.33
Browser: Any

[2019-04-02 20:25] dsp76 commented on #6550
Added some screenshots and edited the issue to make it a bit clearer.

[2019-04-02 20:56] dsp76 commented on #6550
Actually testet it again and it works. Its only that this error message comes up, but saving it a second time brings it back to work. Campaign works fine afterwards!

![checkslabelnotvalue](https://user-images.githubusercontent.com/1241376/55435617-89660580-559a-11e9-9e31-67360acc1b35.png)

@npracht should this become a new bug and this initial one should be closed?

[2019-04-02 20:59] dsp76 commented on #5833
@dbhurley can be closed, I retested with 2.15.1 and found there is now a "contain" boolean operation for evaluating form fields and its working!

[2019-04-02 21:52] travisaustin commented on #1694
@azamuddin This is great, thank you!

I had to edit it to allow outbound mail on an alternate port (our AWS account blocks outbound port 25 by default). Otherwise, this is awesome.

[2019-04-03 12:53] directpromo opened #7381 "The page tag title began to be recorded in transliteration"
After updating Mautic to the 2.15.1 version.
The page tag title began to be recorded in transliteration. If not in English.
https://imgur.com/9m3bRSr

it's not right

For example.

Previously, the page tag title "Трикотаж оптом и в розницу поштучно" was recorded as "Трикотаж оптом и в розницу поштучно"
Now the same tag is written to Mautic as "Trikotazh optom i v roznicu poshtuchno"

This can be s

[2019-04-03 12:55] npracht commented on #7378
Hi @bookin please chat on Slack or Discord.
GitHub is used to report bugs.

Thanks.

[2019-04-03 12:55] #7378 closed

[2019-04-03 12:56] npracht commented on #7374
Hi @Arkango this is a server configuration issue i guess. This is not happening on my side.
What can you find on your mautic logs or server logs ?
Did you clear your cache ?

[2019-04-03 12:57] npracht commented on #7373
Hi @banpie did you try https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful ?

[2019-04-03 12:58] npracht commented on #7369
This is not automatic, this is depending on your email router.
Could you please answer my questions? Otherwise i cannot help more.
Thanks

[2019-04-03 12:59] npracht commented on #7368
Hello @mediamix-NJ. Did you clear your cache ?
Also, are your CORS enabled ?

[2019-04-03 13:00] banpie commented on #7373
@npracht yes, I did have tried the https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful, and use ssh to update the mautic, but still get the same error about  Autoloader.

[2019-04-03 13:03] Arkango commented on #7374
Ok I'll send the logs, I cleared the cache. But I solved only editing the local.php file, I delete some lines of config and it charge correctly. I think was the timeout of Php the problem but I cannot modify that

[2019-04-03 13:04] npracht commented on #7373
@escopecz does it sounds familiar to you ?

[2019-04-03 13:15] npracht commented on #7366
Reproduced. It should show a link like `url/s/contacts?search=email_read%3A57` where 57 is the email ID.
Only issue with that simple query is that it does not take into account the timeframe of the report in the contacts list view.

[2019-04-03 13:16] npracht commented on #7374
You can configure your server for a longer time before timeout.
So issue is solved?

[2019-04-03 13:39] mediamix-NJ commented on #7368
Thanks for your reply.  Yes, I did clear the cache.  I am not familiar with enabling CORS.  Might I asks how would I check on an Ubuntu 16.04 server running ISP Config?

Given that Mautic is working properly on 2 other domains being hosted on the same server, can I assume that CORS is enabled?

[2019-04-03 13:47] escopecz commented on #7373
Do you have [Composer](https://getcomposer.org) installed on your server? Or could you install it if not? With it you can refresh the autoloader by running `composer install` from the root Mautic folder.

[2019-04-03 13:48] npracht commented on #7368
it is on your mautic interface > configuration > a little bottom there.

[2019-04-03 14:01] mediamix-NJ commented on #7368
CORS Setting is set to no on the Mautic installation where I can't save the configuration settings and one of the working Mautic installations.  The other working Mautic installation has CORS set to Yes

[2019-04-03 14:53] jaganibrijesh opened #7382 "Uh oh! I think I broke it. If I do it again, please report me to the system administrator!"
Whenever I try to send Test email its Give me this error "Uh oh! I think I broke it. If I do it again, please report me to the system administrator! "

I am using Other SMTP Server of Hostgator. Connection is done Right and its Says Success. But when i try to send test Email It give me Above Error.

Please Help me to Solve this error

[2019-04-03 14:57] Arkango commented on #7374
Yes Is solved but I don't know if the problem Is that

[2019-04-03 14:57] #7374 closed

[2019-04-03 15:00] jaganibrijesh commented on #7382
![image](https://user-images.githubusercontent.com/18239899/55489315-55005100-564f-11e9-9ee7-8b14206e0a7f.png)

[2019-04-03 15:03] npracht commented on #7382
Hello,

Did you try https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful ?
Also, please share the error you have on your logs.

Thanks.

[2019-04-03 15:13] npracht commented on #7368
Do you have a message in your logs ?

[2019-04-03 15:22] mediamix-NJ commented on #7368
I opened config and attempted to apply and save.  I get the "Please wait..." I clicked the back button on the browser to go back to Mautic.  There is no log entry when I go to System Info - Log

[2019-04-04 00:56] Shirkit opened #7383 "SQL hangs on viewing email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When I click on some of my emai

[2019-04-04 04:24] mtasuandi commented on #6874
@KennedyTedesco Have you tried the solution above?

[2019-04-04 07:27] sharmasourabh18 opened #7384 "mautic campaign mail not send"
mautic version:2.15.0
HI all,
single custom mail working properly but when we try to send mail through campaign it's not working it's showing sending but not receive any mail

i got this error in log

[2019-04-04 06:25:04] mautic.NOTICE: Swift_TransportException: Expected response code 250 but got code "554", with message "554 5.2.0 STOREDRV.Submission.Exception:SendAsDeniedException.MapiException

[2019-04-04 09:10] pety-dc commented on #7344
@kuzmany I applied your quickfix to this error. The patch fixed the 500 error, but it seems that multiselect values are not saved or reloaded properly
I edit a contact, pick a value for a multiselect field, save, the values are present when I inspect the contact's details, but disappear when I start editing the contact again.

Will #7375 solve this?

[2019-04-04 09:20] hluchas commented on #7344
@pety-dc Cannot reproduce here.

[2019-04-04 09:26] kuzmany commented on #7344
@pety-dc definitely https://github.com/mautic/mautic/pull/7375 is solution

[2019-04-04 10:39] StoppingBuck opened #7385 "The batch API responses use weird and non-standard JSON, making them hard to deserialize"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Several of the current API batc

[2019-04-04 13:00] enableit commented on #7349
Is this an issue with calling home? On login mautic sends a request out to www.mautic.com if I recall correctly - could it be waiting for that to timeout (assuming there is a connectivity issue)?

[2019-04-04 13:10] colourfulowl commented on #7349
Wanted to just follow up on this. The long TTFB is caused by the _"Emails in Team"_ with the email state filter of _"Sent and opened emails"_ widget being on the dashboard. As to why it's happening, i can only presume it's the DB loading all of the email campaigns to show the corresponding data, but i don't have the foggyish as to how to fix it.

[2019-04-04 13:33] omero3 opened #7387 "Add ability to select the type of asset. ie: download or display in browser"
When trying to open an image that uploaded as an asset, the image is forced download.

I believe most users would prefer viewing an image directly in their browser instead of downloading it.

After investigating the issue I found that the file PublicController.php calls the assets with a Content-Disposition of 'attachment', which forces the download.

I changed it to 'inline' and now it works grea

[2019-04-04 14:52] autoize commented on #7344
Applying both #7376 and #7375 worked for our instances. No problems so far.

[2019-04-04 18:56] alinkdaniel commented on #6618
I think this solution is actually fine. I got it to work using port 587.

[2019-04-04 20:18] verioussmith commented on #6618
I ended up getting to work by opening an outgoing port 2587 on my server. From the Amazon Documentation for troubleshooting they say that sometimes it is a server Firewall.  In my case it definitely was the firewall blocking the outgoing port 2587

[2019-04-05 08:30] npracht commented on #5502
@YosuCadilla you still have the issue in 2.15.0 ?

[2019-04-05 08:30] npracht commented on #5502
Same question for @luizeof

[2019-04-05 09:56] YosuCadilla commented on #5502
We didn't dare to try, sorry.

[2019-04-05 15:00] mtasuandi commented on #6874
@KennedyTedesco Did you open the email from Incognito? Your issue might be the same as @phwebdeveloper.

[2019-04-05 15:30] KennedyTedesco commented on #6874
@mtasuandi I'll give a try soon. Thanks! This issue is really annoying. Wish I could fix it, but just started using Mautic recently. Maybe someone else does. 🙏

[2019-04-05 21:04] madmath03 opened #7389 "Install command"
Since I cannot register to mautic.org, I will share this feature idea here.

It would be great to have commands added to the `InstallBundle`. This would be particularly useful with Docker images of Mautic as one could build a Docker image and automatically install Mautic and setup its plugins.

For the install command, I think we should :

- [ ] rewrite the `InstallController.php` and export all _

[2019-04-06 00:21] IADDIC opened #7390 "Not registered Migrations"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Flush unregistered migrations
I seem to have un

[2019-04-06 07:55] PointClickDigital commented on #7063
Could this be a proxy issue? Using Cloudflare?

[2019-04-06 18:56] RaphizSanders opened #7391 "Focus Item broken"

[2019-04-08 03:43] mrbarletta commented on #6920
I was using mautic using the public IP address and not a hostname (yet) and had the same issue.

[2019-04-08 05:04] rikuto-bigarms commented on #4626
As of v2.15.1, I can still confirm that this has not been resolved. Once a contact is pulled from Hubspot, it is no longer updated -- making recycle nurturing impossible. The fix will boost the value of integration 100 times... @alanhartless

[2019-04-08 07:50] dhmusman opened #7392 "Pulling a report to show our stats"
When pulling a report to show our stats for emails, the columns bounced, bounced ratio, unsubscribed and unsubscribed ratio are showing the same results for every single email no matter how far back we pull the report for.

Mautic version | 2.15.1
PHP version | 7.1

![mautic-report-stats-issue-20190408](https://user-images.githubusercontent.com/12247463/55707326-c6982080-59fc-11e9-99e5-d8590dbe1f1

[2019-04-08 08:11] npracht commented on #7392
Please test https://github.com/mautic/mautic/pull/7214

[2019-04-08 10:27] Looooong opened #7393 "Cannot access development environment"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-04-08 14:07] carloshmm opened #7394 "Circular reference detected for service "mautic.core.subscriber""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I'm getting the error: "Error:

[2019-04-08 15:37] #7391 closed

[2019-04-08 15:37] npracht commented on #7391
Please give a complete information.

[2019-04-08 15:39] npracht commented on #7390
Did you install any third plugin ?
Did you try to make a dump and then run the migration files to see what's happen ?

[2019-04-08 15:41] npracht commented on #7387
Hi @omero3 !
Then best way would be to add a toggle on the asset edition to chose if it is as `attachment` or as `inline` ? That would be the proper approach and you could propose a PR to the community with that enhancement :)

[2019-04-08 16:02] pety-dc commented on #7344
@kuzmany

I applied both #7376 and then #7375

#7376 puts `$typeProperties['data']        = $type === 'multiselect' ? FormFieldHelper::parseList($value) : $value;` to the top of the switch case in ` app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php`

In row 177. it then gets overwritten by redeclration of `$typeProperties`
select, multiselect and boolean types are affected.

@autoize

[2019-04-08 16:34] hluchas commented on #7344
#7375 is solution for problem described in this issue. There is noting about modifying variables or database queries. So other problems are not related I think.

[2019-04-08 23:42] flashfireopal opened #7396 "channel id not updating on cloned campaign action"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes
| Feature request? | No
| Enhancement? | No

## Description:
When updating the `email to send` for a cloned campaign workflow action, the new email id is not set in the `km_campaign_events.channel_id` column. Instead, only showing the old copied channel_id.

This may lead to old emails that have been unpublished preventing new c

[2019-04-09 00:58] BrainRift commented on #7301
I was looking for an answer for this myself.  Were you able to solve it?  I know with other integrations like Hubspot, you need a cron job.  Here is what I use for Hubspot integration, but not sure if vTiger needs something similar...

mautic:integration:fetchleads --integration=Hubspot  #mautic-hubspot-cron`

[2019-04-09 05:08] kmanojkumar opened #7397 "Gated Video Pause and Play after form fill working for youtube but not for html-mp4 video"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After form submits, gated video

[2019-04-09 06:49] #5441 closed

[2019-04-09 06:50] #5473 closed

[2019-04-09 06:51] #6154 closed

[2019-04-09 06:53] npracht commented on #6284
@escopecz do you think you could have a look at it ? I have the feeling @SalvoEng83 is not active anymore.

[2019-04-09 07:30] sensalot commented on #7301
What I have working is a push of a new contact in Mautic using a Mautic form, to Vtiger as a lead. The .php of the Vtiger plugin is mutch smaller compared to Hubspot or Suger, so I think the integration of  Vtiger has more limitations. The setupfield suggest otherwise.

[2019-04-09 08:42] DensetsuNo commented on #2121
To solve the problem on Mac you can download Table Tool (https://github.com/jakob/TableTool) and follow these instructions:
1) Copy the rows and columns that you want to import in Mautic (including the headers);
2) Paste them in Table Tool;
3) Select UTF-8 at the bottom of the page as selected encoding (it is selected by default)
4) Save it and voilà, ready to be imported in Mautic.

[2019-04-09 10:59] techzotezo commented on #6597
The site is currently offline due to encountering an error. If the problem persists, please contact the system administrator.
System administrators, check server logs for errors.

Log is not showing nothing.Restarted the server...Permission has been set.. still not opening...What to check please suggest...

[2019-04-09 11:56] r1lita commented on #7301
I'm facing the same problem, the sync doesn't go both ways. I'm able to push contacts to VTiger but not the other way around. No errors in Mautic's logs.

[2019-04-09 16:45] pety-dc commented on #7286
Hey @lucalbert

I experienced the same issue.  To be honest, I was surprised how long ago this issue was reported by you and yet nobody else ran into it.

I spent my day trying to debug what can be the cause of the phenomena. And I concluded that in our case the root of the missing subject was @kuzmany's recommender plugin.

In `MauticRecommenderBundle/EventListener/EmailSubscriber.php` the `onEma

[2019-04-09 19:01] Dipranil opened #7400 "Mail Getting Bounced While Sending Email(Amazon SES)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-04-09 20:49] tsummerer commented on #7138
@MyBpoConsultant, in your testing, did your Mautic Contacts have uppercase characters in the email address? I created #7401 to address an issue where Contacts with these email addresses wouldn't sync.

[2019-04-10 04:09] lsergei opened #7402 "Email delivery is very slow - monitor campaign delivery time?"
We face very slow campaign delivery timings while have quite fast email delivery backend (PowerMTA). I was wondering if there is a way to see/track following data:

- email campaign started sending
- email campaign finished sending

This can help to start debugging in first place. I don't seem to see this information in campaign itself or anywhere in mautic interface. Logs don't contain anything r

[2019-04-10 05:02] kmanojkumar commented on #7397
Does anyone face this issue? @npracht can you please help?

[2019-04-10 06:50] npracht commented on #7397
Hi @kmanojkumar, your how to reproduce is incomplete. I don't have the issue on my side. Can you show the HTML you use ? is the mtc.js on your web page ? Can we have the URL where the code is ?
What is latest version for you ?

Thanks

[2019-04-10 07:58] wucherpfennig commented on #5135
still an issue. latest version (2.15.1)

[2019-04-10 08:15] omero3 commented on #7387
Thanks for the feedback :-) I'll try and do that

[2019-04-10 09:03] pety-dc commented on #7402
We generate emails to file spool and then run the send command which I set to be able to run parallel.

[code]

They don't start parallelized, only 1 process is started each minute, but they overlap each other if the message number is higher than 1 process can handle in 1 minute. These processes are however not prepeared for parallel working, they often try to grab the same spool files. One proces

[2019-04-10 09:21] lsergei commented on #7402
@pety-dc Thank you. May I know how are you generating messages to spool? I am thinking to use Mautic to generate messages and write some multithreaded script to push those emails to MTA, should be definitely faster then default mode.

Also, wondering if you change delivery mode from immediate to queue and vice versa - did you have any change in delivery speed?

We got another issue when campaign s

[2019-04-10 09:23] kuzmany commented on #6776
50k for each file is bug
Look here https://github.com/mautic/mautic/pull/7110

[2019-04-10 11:19] kmanojkumar commented on #7397
Hi @npracht ,

**I am using the following code:**
[code]

**mtc.js is hosted on https://pmail.peerxp.com (Mautic) and https://pws.peerxp.com/demo/ is a wordpress site serving the html video.** You may please play the video on this page and check if I am missing something.

Mautic Latest version, I am using is: v2.15.1

[2019-04-10 11:51] npracht commented on #7397
I cannot reproduce your issue:
![Capture d’écran 2019-04-10 à 13 50 40](https://user-images.githubusercontent.com/14075239/55876322-a8b2f300-5b97-11e9-8dda-954a20c2a1f2.png)

Are you logged into mautic in the same browser session ? Did you try while doing incognito ?

[2019-04-10 12:07] kmanojkumar commented on #7397
No, I have resolved the browser console errors that were being displayed after updating mautic to the latest version, clearing cache and regenerating mautic assets.

But, the auto-play error is still there. After we fill the form in the 5th second of the video, it isn't resuming from the 6th second, it is starting from 1 second which isn't as expected.

Yes, I did try in incognito, its the same.

[2019-04-10 12:08] johbuch opened #7405 "company field token don't work with email to users"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When sending an email to users

[2019-04-10 12:15] pety-dc commented on #6776
@kuzmany We are not using `Monitored Inbox feature` and we are not experiencing abnormally large messages like https://github.com/mautic/mautic/pull/7110 describes.

50k for size of an e-mail is rather normal. But 100000 of them takes up many GB of storage.
And would take less space if compressed. (probably less IO too)

[2019-04-10 12:23] pety-dc commented on #7402
@lsergei
I just set delivery mode to `queue` from `immediate delivery` in the Configuration.
I don't know if it has any effect on delivery speed. In my case generating the letters is a few times faster than delivering it. We use custom SMTP service. Sending emails from disk spool (queue) multithreaded is definitely faster then singlethreaded.

campaign are still a mistery to me too.

[2019-04-10 13:17] sbolinches commented on #6681
Hi, I can not use two forms on the same page because the page break does not work correctly. (There are some problems with js makes two forms on the same page not work correctly) I use 2.15.1 version. :(

[2019-04-10 20:17] kuzmany commented on #7405
Let's test: https://github.com/mautic/mautic/pull/7406

[2019-04-10 21:57] tsummerer commented on #7112
I believe that I have tracked down the underlying cause here. I haven't figured out a fix yet and would be happy to have suggestions.

The `mautic:integration:fetchleads` (or `synccontacts` same thing) command calls the following functions in this order:
1. `SugarcrmIntegration::getLeads`  (to fetch Leads from CRM)
2. `SugarcrmIntegration::getLeads`  (to fetch Contacts from CRM)
3. `SugarcrmIntegr

[2019-04-11 06:52] npracht commented on #7138
Hi @MyBpoConsultant please test https://github.com/mautic/mautic/pull/7401

[2019-04-11 06:53] npracht commented on #6140
Hi @YosuCadilla @sguilly please test https://github.com/mautic/mautic/pull/7401

[2019-04-11 07:45] npracht commented on #6564
Hello @rbagley0310 , can you test https://github.com/mautic/mautic/pull/7406 ?

[2019-04-11 09:33] igisho commented on #7334
same issue for me

[2019-04-11 10:15] techzotezo commented on #7174
Showing this error and admin panel not opening...
[2019-04-11 05:30:22] mautic.NOTICE: PHP Notice - Undefined index: ct - in file app/bundles/PageBundle/Controller/PublicController.php - at line 452 [] []
[2019-04-11 05:30:39] mautic.NOTICE: PHP Notice - Undefined index: ct - in file app/bundles/PageBundle/Controller/PublicController.php - at line 452 [] []
[2019-04-11 05:30:39] mautic.NOTICE: PHP

[2019-04-11 11:12] kmanojkumar commented on #7397
Can you please check it @npracht?

[2019-04-11 13:52] tsummerer commented on #7138
@MyBpoConsultant @npracht , please be aware that #7401 does not fix the issue seen in #7112 (and also probably here). If a record is updated in both Mautic and CRM within the same Interval, then the Integration only syncs CRM->Mautic, it never pushes data back. (See my comments in 7112 for details).

So in your testing, you'll need to be sure that you're looking at a CRM record that hasn't changed

[2019-04-11 21:29] online-expert opened #7408 "2.15.0 and 2.15.1 mautic.CRITICAL: OutOfMemoryException even with 896MB on low traffic domains"
## Bug Description

I have 2 Mautic configurations. One is still 2.15.0 and another upgraded from 2.15.0 to 2.15.1 on recent release. Both were always running smoothly side by side on the same Ubuntu server for two different low traffic domains.

Today BOTH configurations suddenly started to give mautic.CRITICAL errors. ** 1

Cron jobs can still be executed without any problem,
but login in dashbo

[2019-04-11 23:02] nfwade commented on #7408
I'm having the same issue.

[2019-04-12 08:29] topicflux commented on #7336
Any news? I think it is very important to have a report on the performance of focus items...

[2019-04-12 09:19] escopecz commented on #6971
Fixed in https://github.com/mautic/mautic/pull/7413 and ready to test.

[2019-04-12 10:00] online-expert commented on #7408
Since php7.1-fpm is released Dec. 1 2016 I'm curious how a php update can be related?
Meanwhile some extra information from testing:
- after cache delete most of the time the Mautic login screen is shown but with error in Chrome developer console and timeout
`Unchecked runtime.lastError: The message port closed before a response was received.`
- successively increasing memory only extends the exec

[2019-04-12 10:22] online-expert commented on #7408
https://www.php.net/ChangeLog-7.php
php 7.1.27 was released on March 7 and 7.1.28 on April 4 2019 so possibly it's related
though testing with 7.0 gives the same problems and latest 7.0.33 dates December 6 2018.
It's only yesterday that both configurations started to show OutOfMemoryExpection
so I doubt these minor bug releases can have such a big impact.

[2019-04-12 11:20] npracht commented on #7183
Merged in 2.15.1

[2019-04-12 11:20] #7183 closed

[2019-04-12 11:38] npracht commented on #6933
Solved in https://github.com/mautic/mautic/pull/6936

[2019-04-12 11:38] #6933 closed

[2019-04-12 11:45] npracht commented on #6688
Merged in 2.15.1 https://github.com/mautic/mautic/pull/6689

[2019-04-12 11:45] #6688 closed

[2019-04-12 12:03] npracht commented on #6339
Please @luisenrike test #7110

[2019-04-12 12:04] #6029 closed

[2019-04-12 12:04] sainionmikko opened #7417 "Email changes not saving"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Pretty close to https://github.

[2019-04-12 12:05] #5831 closed

[2019-04-12 12:06] #5325 closed

[2019-04-12 12:07] npracht commented on #5119
Fixed by https://github.com/mautic/mautic/pull/6948 merged in 2.15.1

[2019-04-12 12:07] #5119 closed

[2019-04-12 12:12] npracht commented on #7417
Hello @sainionmikko do you have a message in your browser console ?
Did you try: https://github.com/mautic/mautic/pull/7346 ?

[2019-04-12 12:25] lucalbert commented on #7286
Hello @pety-dc,

Yes it's sure ! I provided a fix on March 7th: kuzmany/mautic-recommender-bundle#3
My patch works in production since this date.

Your fix (kuzmany/mautic-recommender-bundle#9) was released 2 days ago !

Thanks

[2019-04-12 12:28] sainionmikko commented on #7417
![image](https://user-images.githubusercontent.com/49557301/56037039-12b5ce80-5d37-11e9-9424-76fdb9d3b6c3.png)
Hi @npracht, the console was new to me, but here's what it says. I can't make anything out of that but the red icon doesn't look good.
I didn't try #7346, will have a look. In my case however it doesn't matter if the builder was loaded or not.

[2019-04-12 12:43] sainionmikko commented on #7417
Here's another console feedback for an email opened for editing, then opened in builder and changes Applied in the builder.
![image](https://user-images.githubusercontent.com/49557301/56037990-6e815700-5d39-11e9-837c-fbbfb492f820.png)
![image](https://user-images.githubusercontent.com/49557301/56038045-9b356e80-5d39-11e9-8121-89c039750fb9.png)

[2019-04-12 13:10] escopecz commented on #6368
Is this still an issue with 2.15.1?

BTW, Mcrypt is an encryption library that hasn't be maintained for several years. Newer PHP versions removed its support. Use/install OpenSSL instead.

[2019-04-12 13:12] escopecz commented on #6147
This is a configuration issue. The first link when googling the error should help configure database connection correctly:

https://stackoverflow.com/questions/6259424/troubleshooting-no-such-file-or-directory-when-running-php-app-console-doctri

Btw, the database connection config is in app/config/local.php and you'll have to clear the cache to apply the changes in the config.

[2019-04-12 13:12] #6147 closed

[2019-04-12 13:18] escopecz commented on #6625
Please test if https://github.com/mautic/mautic/pull/7413 fix this issue as well

[2019-04-12 13:26] escopecz commented on #7408
Is this only on log in or other requests/commands as well? One idea that comes to mind is that on login Mautic communicates with Mautic ORG servers to load some news and check if there is a new version to upgrade to. Maybe the Mautic ORG servers has troubles to load or send too much data?

The error is incomplete. If you could get some more details like stack trace it would help to debug what's go

[2019-04-12 13:29] escopecz commented on #7396
Do you save the campaign after the event change?

[2019-04-12 13:32] escopecz commented on #7384
I have to ask, do you have the cron jobs configured properly?

The error message looks like your SMTP or whatever provider you use for sending emails cannot send the emails and returns error 554. Ask the email provider what's going on. It doesn't look like a Mautic error. But if you find more info let us know. I'll reopen this issue.

[2019-04-12 13:32] #7384 closed

[2019-04-12 13:34] escopecz commented on #7393
I cannot reproduce. How did you install Mautic? What is the full URL with index_dev.php?

[2019-04-12 13:36] escopecz commented on #7390
Go to your `migrations` database table, find the 4 rows that contain the unregistered migrations and delete them.

[2019-04-12 13:36] #7390 closed

[2019-04-12 13:38] escopecz commented on #7383
Please upgrade to latest Mautic. Each new version contains optimizations. If it will happening on 2.15.1 too, let us know and I'll reopen this issue.

[2019-04-12 13:38] #7383 closed

[2019-04-12 13:43] escopecz commented on #7381
Sadly, this is intentional and we cannot change it back until Mautic will

The PR that introduced it: https://github.com/mautic/mautic/pull/7080
This would fix the problem without transliteration, but it's considered a BC break: https://github.com/mautic/mautic/pull/6554

[2019-04-12 13:43] #7381 closed

[2019-04-12 13:44] escopecz commented on #7382
Closing this issue as the issue template was deleted and the error message reported is too vague. Please follow https://www.mautic.org/docs/en/tips/troubleshooting.html next time.

[2019-04-12 13:44] #7382 closed

[2019-04-12 13:47] escopecz commented on #7367
If anyone will have free 10 minutes, this needs migration similar to https://github.com/mautic/mautic/pull/7084/files#diff-81db40d632306b1192d8ae153669f126R18

[2019-04-12 13:47] TheBags commented on #7408
Same problem here.
updated from PHP7.1.26 to 7.1.28
Doing an strace of the apache pid i get:
`access("/var/www/mautik/vendor/symfony/intl/Resources/data/regions/.json", F_OK) = -1 ENOENT (No such file or directory)`
I'm trying to downgrade to 7.1.26 but is not so simple....

[2019-04-12 13:50] escopecz commented on #7353
Why do you think it "should be case insensitive"? Is that documented somewhere? I believe this is not a bug. Someone else may require case sensitive like condition. I believe that this should be a feature request to add new *like (case insensitive)* operator.

[2019-04-12 14:12] flashfireopal commented on #7396
Yes, here is what I do:

1. open campaign
2. go to campaign builder
3. edit the action and choose the new email to send.
4. press the `Update` button
5. press the campaign builder `Apply` button
6. press the `Close Builder` button
7. press the `Save & Close` campaign button

[2019-04-12 14:15] josaiasmoura commented on #7408
This bug was reported in https://github.com/symfony/symfony/issues/31089 , fix it with upgrading Symfony version to 4.2.5 :)
The problem and solution can be found in this file https://github.com/symfony/symfony/blob/2f73c2f66b54b376647b605ebd4fbd7f399b0ff9/src/Symfony/Component/Intl/Locale.php#L90

[2019-04-12 14:37] bruno911 commented on #7353
My first thought was that the "contains" and "like" filter were using "like" operator in MySql, therefore I thought the database collation was the issue, so I had checked my installation, I was surprised that the DB collation was ...._ci that stands for case insensitive, (this is default by Mautic installation), therefore if I create a segment, where MySql is used, the filter for the segment "cont

[2019-04-12 15:28] TheBags commented on #7408
@josaiasmoura this solve for me.
tnx a lot

TheBags

[2019-04-12 17:58] AkkuFresh commented on #6339
I can confirm, I also have this issue with Mautic 2.15.0 ( PHP 7.2 )

[2019-04-12 18:35] nfwade commented on #7408
@josaiasmoura 's fix worked for me as well. Thanks a lot

[2019-04-13 03:09] IADDIC commented on #7390
@escopecz  - perfect.  thanks.

[2019-04-13 07:20] AndrassGray commented on #7408
Yes, that hack worked for me as well. I can equally confirm that this bug was triggered by an update on my Ubuntu 18.04.2 LTS. It concerned both php7.0 and php7.1

[2019-04-13 11:37] online-expert commented on #7408
Thanks for all the quick responses and the fix!! Since I'm only familiar with standard Mautic upgrade procedure, what is the best method to apply this bug fix?

[2019-04-13 12:13] josaiasmoura commented on #7408
The easy way to fix the bug is updating only the `Locale.php` file :) Run following bash command inside of your mautic installation folder :

[code]
And restart the php service after that.

[2019-04-13 16:00] Looooong commented on #7393
I setup web server on my local machine using `nginx` and `php-fpm`. I couldn't access the development site because of an exception not being handled.

I switched to the built-in PHP web server (using `php -S`) and can access the development environment normally.

Still, you should look at `app/bundles/SmsBundle/Helper/SmsHelper.php(72)` where the exception is raised.

[2019-04-14 21:42] benfavre commented on #7360
What do you think about the ability to pull in content in from RSS or some external source

[2019-04-15 08:20] escopecz commented on #7393
I'm using
[code]
and I can't replicate it. If anyone could come up with detailed steps to replicate (what exactly triggers it) I will reopen this issue.

[2019-04-15 08:20] #7393 closed

[2019-04-15 09:13] sainionmikko commented on #7417
@npracht hmm, sorry, I'm very green in this. I found some (updated?) code in #7346 but not sure what and how should I do with it. Delete and replace these lines in the .js file in question in my installation of Mautic?
Thanks in advance!

[2019-04-15 09:53] sharmasourabh18 opened #7422 "track user"
so once a user clicks on a email from mautic and goes to the website and closes the tab and again comes back to the website organically, i want to track the user on mautic. I want to see that he came back to the website organically

i have already installed the mautic code on the website but i is not tracking beyoned the first click from the email to the website

[2019-04-16 05:45] kmanojkumar commented on #7408
https://github.com/mautic/mautic/issues/7408#issuecomment-482804001 - This solution worked for me, this command

`curl -o ./vendor/symfony/intl/Locale.php https://raw.githubusercontent.com/symfony/symfony/2f73c2f66b54b376647b605ebd4fbd7f399b0ff9/src/Symfony/Component/Intl/Locale.php`

shared by @josaiasmoura has to be executed in outside vendor folder in the mautic directory, probably with sudo pe

[2019-04-16 06:30] kmanojkumar commented on #7397
Hey @npracht, can you please check and close this issue?

[2019-04-16 06:34] peterlobster opened #7423 "Showing duplicate fields"
I'm using the Mautic image (`Linux mautic-vm 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64`) provided by @Bitnami .

In my "Custom Fields" area, I have a total of 88 'custom fields.'
Fields 1-44 appear to be okay. However, fields 45-88 appear to be **duplicates**.

![Screen Shot 2019-04-15 at 11 32 20 PM](https://user-images.githubusercontent.com/38382145/56187221-cd173100-5fd6-11e9-

[2019-04-16 07:13] npracht commented on #7417
Yes you can apply the code changes and re-generate assets of you instance.

[2019-04-16 07:14] npracht commented on #7397
Hi,

I don't have the issue on my side. I'm not a developer i cannot investigate deeper.

[2019-04-16 08:10] sainionmikko commented on #7417
Ok, I've applied the changed code, regenerated assets and cleared cache. No change in behaviour. The console tells me now:
Failed to load resource: the server responded with a status of 403 ()
https://mysite/mautic/s/emails/edit/8?mauticUserLastActive=1&mauticLastNotificationId=

Any further advice please? I'm soon going to have to turn to a tool that I can make work.

[2019-04-16 09:05] alessandroniciforo commented on #4993
This is still an actual and needed feature on v2 since v3 is nowhere to be seen.
@mogul did you by any chance worked on a PR? Or maybe solved otherwise?

[2019-04-16 12:17] kuzmany commented on #5732
Hi guys,

let's test: https://github.com/mautic/mautic/pull/7424

[2019-04-16 13:35] IADDIC commented on #5739
@bitoutshop were you ever able to resolve this?  I have the same issue and can't find a resolution.  Thanks, Rich

[2019-04-16 16:46] tenil commented on #7408
How to fix in PHP 7.0?

[2019-04-16 19:58] joeyparis commented on #7125
I'm not OP but I am having the same problem and am using Docker

[2019-04-16 20:05] fixmyinfo commented on #7125
Hi - nope - not using Docker.

On Tue, 16 Apr 2019 at 15:59, joeyparis <notifications@github.com> wrote:

--
------------------------

Steve Mitchell

http://www.facebook.com/bstephenmitchell
http://twitter.com/bstephenmitchel

C. 514-992-0988

[2019-04-17 11:50] DalbertHab commented on #3173
Hi everyone,

we have the problems to. It seems that the SNS Notification doesn't contain any information to identity the origin mail.

We added a custom header for every mail named **X-Message-ID** and enabled the SNS Notification with headers in SES. Now the payload contains the original headers of the mail in the mail object of the payload.

In the file EmailBundle/Swiftmailer/Transport/Amazon.

[2019-04-17 15:47] moses5407 commented on #575
But how do I use it? I created a select-multiple custom field and included it on a form. I also created matching segments for each select option. It does capture all of the selections ... but I see no way to use each selection to add the respodent to the corresponding segment..?

[2019-04-17 15:56] DianaCruz16 commented on #48
I have the same problem!!
Do you find any solution?

[2019-04-17 16:28] sidneydevelop opened #7428 "Add quick contact and segments problem"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
After installing Mautic and try

[2019-04-17 18:17] sirpy opened #7429 "/oauth/v2/authorize redirects to /oauth/v2/authroize_login"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
issuing a GET query trying to d

[2019-04-18 01:00] tasmaniaman commented on #2355
I have to do this:

1. In app/config/local.php file remove the entries from
'trusted_hosts' => array(
    ),
2. Then at console delete (note there should be no . at the end) rm -Rf app/cache/*
3. Finally php app/console cache:warmup --env=prod

[2019-04-18 03:02] RafaelFariaFerreira commented on #6597
Same error here using php 7.0 and OpenLiteSpeed web server. I'v just unzipped the file at my server and saw this issue when i accessed in the browser

[2019-04-18 04:30] dennisgon commented on #6874
i also found this issue. i already clear di cache and nothing happens
can someone please help me thanks

[2019-04-18 06:43] mtasuandi commented on #6874
@dennisgon Did you open the email from incognito browser?

[2019-04-18 07:29] npracht commented on #7296
Merged in 2.15.2

[2019-04-18 07:29] #7296 closed

[2019-04-18 07:29] npracht commented on #7340
Merged in 2.15.2

[2019-04-18 07:29] #7340 closed

[2019-04-18 07:29] npracht commented on #6035
Merged in 2.15.2

[2019-04-18 07:29] #6035 closed

[2019-04-18 07:30] npracht commented on #7344
Merged in 2.15.2

[2019-04-18 07:30] #7344 closed

[2019-04-18 07:33] Noa83 commented on #7177
Got the same issue @GosuTeacher and solved it, check this PR and test it please:  https://github.com/mautic/mautic/pull/7430

[2019-04-18 07:45] dungbx opened #7431 "add in setting "enable/disable FingerPrint2" to avoid loading the library"
## Bug Description
FingerPrint2 inside mtc.js is still initialized even I disabled it.

| Q   | A
| --- | ---
| Mautic version | 2.15.1
| PHP version | 7.1-apache
| Browser | Mobile iOS Safari

### Steps to reproduce
1. Turn on FingerPrint
2. Turn off FingerPrint

### Log errors

[//]: # ( Invisible comment:
Please check for related errors in the latest log file in [mautic root]/app/log/ and/or th

[2019-04-18 10:49] kmanojkumar commented on #7272
Hey anybody found a solution for this issue? Facing the same problem!

[2019-04-18 11:21] escopecz commented on #7327
As others pointed out this already exists in Mautic. You don't have to import anything. Mautic knows the timezones form the contact's page hits. And the campaigns allow you will schedule emails to specific date and time. The emails will be scheduled for each contact based on their local time. If you wish for something different please describe it in more detail.

And for the next time use the issu

[2019-04-18 11:24] escopecz commented on #6909
Could you please re-test with the latest Mautic version? I cannot replicate and I don't see anyone else reporting such issue.

[2019-04-18 11:30] escopecz commented on #7334
Based on the reported error message this is duplicate of https://github.com/mautic/mautic/issues/6339

[2019-04-18 11:31] escopecz commented on #7073
This is not a Mautic bug. Mautic cannot create the directory because the file system doesn't let it. Either the permissions or owner of the folders is wrong.

[2019-04-18 11:32] #7073 closed

[2019-04-18 11:42] escopecz commented on #7216
Fix it by adding group by option set to email field.

[2019-04-18 11:42] #7216 closed

[2019-04-18 11:54] kuzmany commented on #7431
There is no Turn on FingerPrint button.
It's just switch to enable identify contacts by fingerprint. It's two different things.
Fingerprint is loaded in core. Can't disable it.

[2019-04-18 11:58] escopecz commented on #5139
I believe this had been fixed since then. And if not then this PR will: https://github.com/mautic/mautic/pull/7432

[2019-04-18 11:58] #5139 closed

[2019-04-18 12:23] sensalot commented on #7334
They don't seem a duplicate. 6339 has title: Multiple value on List-Unsubscribe header

[2019-04-18 12:28] escopecz commented on #7334
The reported error message is the same. If the 500 error on contact detail is caused by another error then please provide it.

[2019-04-18 12:34] bennywaters commented on #3258
I spent two full weeks chasing this issue. New dedicated server. Multiple different Mautic releases. Tied everything. Searched everything. Enabled disabled every known configuration, including mod_sec.
Resolution for me came by chance - reading about Cors, the issue was being caused by my wordpress installation and installed security plugin, Wordfence in the top level account being overbearing on

[2019-04-18 12:37] sensalot commented on #7334
No. Here is written before the error: Error log in Mautic shows only none related errors. So the error mentioned here has nothing to do with the problem

[2019-04-18 12:38] sensalot commented on #7334
I just repeated the error and the internal server error does not add tot the mautic log.

[2019-04-18 12:40] escopecz commented on #7334
Maybe it's in the server logs then? Check https://www.mautic.org/docs/en/tips/troubleshooting.html for more details about troubleshooting. We cannot fix it without steps to reproduce or an error message so it doesn't make much sense to have such issue open.

[2019-04-18 13:12] escopecz commented on #7402
The speed depends on what technology is used to send the emails. SMTP is very slow as it sends emails one by one. Email transports that send via API are much faster. They can send up to 1000 emails at one request. I know that Sparkpost transport use API. I'm not sure if others. But I wouldn't consider this to be Mautic issue. It's standard SMTP speed. Sending in parallel may help, but it will also

[2019-04-18 13:15] escopecz commented on #7422
Please use the issue template.
Please provide steps to test.
Please use the right terminology as you talk about users but from the context it seems you mean contacts. There is quite big difference between the two in Mautic.

I think that https://www.mautic.org/docs/en/pages/troubleshooting.html could help with tracking tests.

[2019-04-18 13:15] #7422 closed

[2019-04-18 13:19] escopecz commented on #7423
We will need steps to reproduce to do something about this. If this happens only of Mautic instances created by Bitnami than I'd say it's a Bitnami issue.

[2019-04-18 14:12] oytuntez commented on #7360
MJML and GrapesJS sounds amazing!

With this, we should also make sure for all individual emails to inherit from a given email template (basically, only store slot values instead of the whole email, if this logic still persists in M3 – is this "dynamic zone" by @npracht?)

[2019-04-18 16:13] joeyparis commented on #7148
I believe his link is in his original post. https://mautic.zeva.com.ar/mtc.js

I am having the same issue and have CORS disabled. I am running mautic behind nginx, is there a certain configuration I need to put in place to access `mtc.js` and `mtracking.gif`?

[2019-04-18 16:57] joeyparis commented on #7148
I was able to solve this problem by forcing nginx to send `mtc.js` and `mtracking.gif` through fastcgi since they are not real files and needed to be interpreted by Symfony rather than displaying a real file.
[code]

[2019-04-18 20:57] #7428 closed

[2019-04-18 21:48] html5maker commented on #7402
Amazon SES also has APIs and all SES accounts have some sending limits per second (for example 50 emails/second).
Even if you use amazon ses email configuration - Mautic cannot handle 50 emails/second and is sending 0,5 emails/second...
It is a real shame that Mautic isn't deisgned to handle large contacts lists (100000+ contacts) because in comparison with Sendy that also uses SES and also tracks

[2019-04-19 05:24] ReZarrected commented on #7301
How did you guys get to push contacts to vTiger? I tried everything... it seems broken, no error in logs either. Also, the screens on [this page](https://mautic.com/help/vtiger-plugin-setup/) aren't even available. I started liking Mautic but now I'm beginning to think the devs are not concerned about the open-source version and have sold-out

[2019-04-19 05:32] ReZarrected commented on #7301
You can only push a contact through a standalone form. Why is that?

[2019-04-19 06:04] peterlobster commented on #7423
@escopecz Thanks for trying to help out! I'd tend to agree with you.

However according to @bitnami, the instances are built off a 'clean' pull from this repository, which I think was their reasoning behind reporting here. However they didn't offer much help other than that.

Regardless, could you be more specfic about the information you'd want back from @bitnami? Maybe I can chime in on the exsi

[2019-04-19 07:08] npracht commented on #6397
Merged in 2.15.2

[2019-04-19 07:08] #6397 closed

[2019-04-19 07:17] escopecz commented on #7423
In order to fix this we have to know how it happened.

[2019-04-19 07:34] escopecz commented on #7402
Yes, SES has an API. But Mautic still use SMTP to send through SES. There is a PR that implements the API but it needs tests and a little work to do:

https://github.com/mautic/mautic/pull/6977

So it's only up to the Mautic SES users to make the transport 1000 times faster.

[2019-04-19 07:37] peterlobster commented on #7423
@escopecz Does this provide any insight?

[2019-04-19 07:40] escopecz commented on #7423
Sadly not. I use the same process to install and update several Mautic instances.

[2019-04-19 07:43] peterlobster commented on #7423
@escopecz Then this is something that @bitnami would definitely need to provide insight on.

[2019-04-19 07:59] html5maker commented on #7402
What email providers are supported in Mautic with API? From Mautic Email Configuration it is not clear which one is using SMTP and which one uses API.
I suggest you to update the dropdown values and add (SMTP) and (API) so users can easily understand what email provider they can use if they need to send a lot of emails (right now all such users are doing research on github and mautic forums...)

[2019-04-19 08:13] kmanojkumar commented on #7397
Hi,

Thanks @npracht.

**Explaining the issue further again:**
After filling the form displayed on the video, the video has to resume playing from where it has paused. This feature isn't working when using an mp4 video as a source, but working when using a youtube video as a source.

I have created a **demo-test** page on Wordpress where the auto-play after filling the form is working for video li

[2019-04-19 08:15] escopecz commented on #7402
Good idea. As I said earlier, I know that Sparkpost uses API. The rest must be researched and the docs or the dropdown updated.

[2019-04-19 09:22] javsalgar commented on #7423
Hi,

Bitnami developer here. Could you let us know in which table of the database this custom fields section is located. We would like to check if there are actually duplicate entries there. This way we could go gather more information about what's happening.

[2019-04-19 09:27] escopecz commented on #7423
Hi, sure I can. From the screenshots there are duplicates but with unique ID. So there is twice as many rows in that table than it should be. The UI nor API will let you create a field with alias which already exist. But this constraint doesn't seem to be applied in this case. So I think it's cased by direct SQL manipulation.

So the field metadata is in the `lead_fields` table and if it will help

[2019-04-19 09:54] manuel-84 opened #7450 "cannot change interface language"
Clean installation. Go to system defaults and try to change default language to Italian. Nothing happens, interface locked.

[2019-04-19 12:52] florentpetitjean opened #7451 "Issue with boolean field in email dynamic content"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The dynamique content in email

[2019-04-19 13:20] ReZarrected commented on #5771
Wow!! This has been open for over a year already and no updates?

[2019-04-19 13:22] npracht commented on #5771
Hi @ReZarrected !
Are you able to reproduce with staging version ? If yes, feel free to contribute !

[2019-04-19 13:27] ReZarrected commented on #5771
Contribute what exactly? The current docs show an updated version yet the
code hasn't been updated in over a year. Think about that for a while

On Fri, Apr 19, 2019, 6:22 AM Norman Pracht - Webmecanik <
notifications@github.com> wrote:

[2019-04-19 13:35] npracht commented on #5771
I've been looking at the issue. I can explain now why it is working like that.
When you push contact to integration (the issue exists with other integrations), the contact is posted to the integration before the point action on the form update the contact points. So, somehow, the contact is pushed with the score before the form submission.

I think that issue could be reviewed when **form** or the

[2019-04-19 13:47] ReZarrected commented on #5771
Norman you sound like a stand-up guy and I don't mean to be rude but this
issue is fixed on the hosted version and it hasn't been updated in the
open-source for months, perhaps intentionally. I just joined the slack team
and it appears that, just as you say, this isn't only a vTiger issue.

On Fri, Apr 19, 2019, 6:35 AM Norman Pracht - Webmecanik <
notifications@github.com> wrote:

[2019-04-19 13:50] npracht commented on #5771
You are rude, i am not. Please keep calm. Here we talk about the non hosted version open source project. I am not aware of what people/companies do with their hosted version. The only thing i could advise is that if you have an hosted version somewhere, ask kindly those people to share their bugfixes and enhancement with the community...

[2019-04-19 14:07] ReZarrected commented on #5771
Dude you ARE rude, excuse yourself! This bug is over a year old and
although it's been resolved and the feature upgraded, it is still open with
no explanation... The hosted version is not by a 3rd party, it's by the
core team.

On Fri, Apr 19, 2019, 6:51 AM Norman Pracht - Webmecanik <
notifications@github.com> wrote:

[2019-04-19 14:14] npracht commented on #5771
The hosted version of mautic is owned by mautic.com. Mautic Inc. (mautic.com) is a different company than mautic.org (an association, community).
**It is not owned by the same people and it is not the same live version.**

Here we are on the open source project. It means a community contribute and carry a project together. Unfortunately in none had time, need, energy or whatever to contribute fixi

[2019-04-19 14:34] IADDIC commented on #5739
@ZipoKing - Are you the author of the Fullcontact plugin for Mautic.  I am experiencing the same issue as bitoutshop and I have not been able to find or develop a solution.  Can you help?

[2019-04-19 16:08] ZipoKing commented on #5739
@IADDIC I am not but I have experience with both platforms

[2019-04-19 16:36] IADDIC commented on #5739
@ZipoKing Thank you for replying.  Do you currently have FullContact Integration with Mautic working.  And - have you seen the error message noted by @bitoutshop?  I have the exact same error and would like to get this running.  I am not a programmer but  can edit code when directed, and dig into things to do checks.  Would you be willing to help me get this running?

[2019-04-19 18:50] pcottrell opened #7452 "AMAZON SNS fails when sending through sendmail as a relay to SES"
What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Y
| Feature request? |
| Enhancement? |

## Description:

When using sendmail to relay mail over to amazon ses I get this error when trying to use the amazon SNS call back.

[2019-04-19 18:37:54] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: "You have requested a no

[2019-04-19 23:28] JossyMall opened #7453 "mautic 2.15.1 scheduled actions not working"
Mautic is great. Really great, the best i have ever seen. But after upgrade to 2.15.1 all sheduled actions from change segment to points to emails are not working! I am pretty sure cron jobs are set up correctly...here is an example **/var/www/www-root/data/php-bin-isp-php70/php  /var/www/www-root/data/www.jossymall.com/m/app/console mautic:campaigns:rebuild** my php path is also correct. This iss

[2019-04-19 23:39] pgiannotti opened #7454 "Campaigns not executing, some segments not updating"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hi guys, I'm new to Mautic and

[2019-04-20 04:42] sushilkedia opened #7455 "Site is Offline: Doctrine\DBAL\Exception\ConnectionException: An exception occured in driver: SQLSTATE[HY000] [1045] Access denied for user ''@'localhost' (using password: NO) (uncaught exception)"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
| Bug report? | Yes
| Feature request? |
| Enhancement? |

## Description:
I did some changes in the configuration section of Mautic and then hit the Apply Button. I was greeted with the usual "Site is Offline..." error message box. Referred to the bu

[2019-04-20 11:29] JossyMall commented on #7454
i am having this same issue! if you ever find a solution please let us know....

[2019-04-20 14:50] petebytes commented on #5285
any security issues with setting trusted proxies to 0.0.0.0/0?
for cloudflare, this package may be a useful way to only add the necessary ip's
https://github.com/monicahq/laravel-cloudflare

[2019-04-21 07:24] foxmedo opened #7456 "I need to send 10 emails each minute"
Hello i need to send 10 or 5 email each minute i have a database with 100K emails and im using shared hosting so i want to send email with specific quote to keep the mail queue every time clean

right now if i want to send a compaign mautic will put all emails 100k in the queue, how can i limit this by minutes

B.R

[2019-04-21 15:49] Bellusterra commented on #2036
Yes, this is still not functioning in the latest version 2.15.1. @alanhartless can we reopen this?

[2019-04-21 15:59] Bellusterra commented on #7400
@Dipranil are you sure it’s not your Amazon SES setup? while in sandbox mode you can only send emails to email addresses that you verified within the amazon console.

[2019-04-21 16:28] AlbanL74fr opened #7458 "Campaign action "Send email to contact" does not respect weekday restriction when in "transactional" mode"
## Bug Description

Email is sent on saturday even though it's not checked.

| Q   | A
| --- | ---
| Mautic version | 2.14.2
| PHP version |
| Browser |

### Steps to reproduce
1. We are tuesday, set Send email to send in 5 days
2. Select only weekdays (Monday to Friday)
3. Set Transactional mode

Normally I would expect the email to be re scheduled on Monday, but it's sent on Saturday.

### Log e

[2019-04-21 23:37] peterlobster commented on #7423
@javsalgar Any findings?

[2019-04-22 01:56] rikuto-bigarms commented on #7324
Hi, I'm encountering the same issue. Here is my log.

[code]

[2019-04-22 07:24] dennisgon commented on #6874
nope i opened through my browser

[2019-04-22 09:08] fredroo opened #7459 "Mautic on DIGITALOCEAN"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2019-04-22 10:09] mtasuandi commented on #6874
@dennisgon Mautic will not record read counts and click counts if you open the link at the same browser where you logged in. See https://www.mautic.org/docs/en/pages/troubleshooting.html

[2019-04-22 14:43] #7394 closed

[2019-04-22 22:13] breimers commented on #7294
I am having the same problem getting the file uploaded.

`mautic.CRITICAL: Uncaught PHP Exception Exception: "Serialization of 'Symfony\Component\HttpFoundation\File\UploadedFile...`

This also prevents my Mautic app from defaulting to the SAML page, I assume because it doesn't know that it is configured. The upload box does show the 'remove' and 'download' options. But I get a `file not found` er

[2019-04-22 23:42] breimers commented on #7294
Copying the file modified by @TonyBogdanov works great!

Script to do it for you if you're lazy like me :)

https://github.com/breimers/Mautic-tweaks

[2019-04-23 00:11] mogul commented on #4993
Sorry, no, we never had time to work on it.

[2019-04-23 02:00] BigChrons opened #7461 "Problems after upgrade"
**Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead.**

What type of report is this:

| Q  | A
| ---| ---
X | Bug report? |
| Feature request? |
| Enhancement? |

## Description:

I was running Mautic 2.1.1 using Bitnami on Windows Server 2012. After running the upgrade to version 2.15, scheduled jobs like console mautic:segments:update just sit there and

[2019-04-23 13:00] tadisa commented on #4399
Hello,
I am having this issue too.

My installation is less that one month on AWS. I just install tracking on my new website two days ago.
I don't have any contact in my contact list except for one test contact.
I haven't started any campaign whatsoever.

How come is my dashboard showing this huge amount of visits and contacts created?

Kindly see the attached image.

![Mautic Dashboard Graphs](ht

[2019-04-23 13:06] escopecz commented on #4399
@tadisa the original issue doesn't have much common to your issue. Mautic tracks even 404 pages so there may have been some traffic to your domain/IP address and Mautic is creating anonymous contacts out of it. Above the contact list table there is a button to show anonymous contacts. Mautic shows only identified contacts by default. If you'll see the anonymous contacts then click on one to see wh

[2019-04-23 13:32] edtaaffe commented on #6498
Any progress with ths

[2019-04-23 13:50] tadisa commented on #4399
I don't know the IP addresses.

I think Mautic started capturing traffic to my site since I installed the tracking plugin yesterday.

I haven't created any campaign yet to warrant this type of visit from the IPs below

111.231.228.207
193.243.196.133
123.206.9.252
118.24.22.186
etc...

They are up to 20 IPs like those.

80% from china. I could traced them to their website. Mostly Chinese business

[2019-04-23 15:00] jojomnky commented on #6775
@npracht Receiving this error too!

Mautic version 2.15.2-dev.

Example link and corresponding error:

`<a href="{trackable=c33f32b8b0bb88c28a530a174}">Click here to unsubscribe from special offers.</a>`

`GET /r/c33f32b8b0bb88c28a530a174?ct=LGb1BagmBwL6VaAiqKWwMFV7LGblBagcBwN7pmb1BvWyoJScoPV7nGbkB2x6ZmR5B31mBwH6VzIgLJyfVwgcBwZkBGgmBwD6VaA0LKDvB3Z6ZwV6VwIwLzIzAJEzATV2MQRlAwp4ZQLkAwRvB3Z6AQbvoTIuMP

[2019-04-23 15:06] escopecz commented on #4399
It looks like it's a bot that is discovering whether you have PhpMyAdmin installed on your server. You can block IP addresses coming from China if Chinese visitors aren't your audience. It's not a Mautic issue that it's tracking page hits though.

[2019-04-23 15:10] tadisa commented on #4399
Okay.

Thanks a lot. I appreciate your time.
I will go ahead and block the Chinese IPs since they are not my target location.

Regards.
Cheers.

[2019-04-23 15:12] tadisa commented on #4399
Please, how can I reset the counters on the dashboard?

I need to clear the stats and keep track afresh.

Thanks.

[2019-04-23 16:20] pauloshimabukuro commented on #7423
Hello everyone, I had the same problem and I simply accessed the database and deleted the duplicate values from the "ma_lead_fields" and "ma_reports" tables.

I hope I have helped, I hug

[2019-04-23 21:17] mihaicirstea opened #7466 "Mautic sends webhook delete event when it merges a form submission with the contact having the same email address"
## Bug Description
When an identified contact logs-in our site from a new IP address & new browser, Mautic sends a webhook event "function": "mautic_lead_post_delete_entry" even though the contact already exists in Mautic and retains the same ID...therefore it's not deleted.

Why is this hook sent by Mautic in this scenario?  Problem is we have a CRM that listens to webhooks and this delete event

[2019-04-23 23:52] arymaynart opened #7467 "Contacts coming from other users forms are being assigned only to the main user."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

I did the search and found nothing.

## Bug Descri

[2019-04-24 01:09] peterlobster commented on #7423
@pauloshimabukuro Good thinking! That's exactly what I did, but the problem exists in that the IDs get disorganized as the system tries to continue the numbering scheme and won't recreate the IDs that were already used by the duplicates. Maybe @escopecz has some idea on rectifying that.

Regardless I don't think it's very elegant, so I'd hardly consider this to be an actual solution to the problem

[2019-04-24 12:59] colourfulowl commented on #2778
Any updates on this?

JS form embedding is pretty much broken with this on most browsers now. The HTTP delivery is automatically blocked by chrome, causing a 500 error when submitting any forms :/

[2019-04-24 13:27] kuzmany commented on #7451
Let's test guys: https://github.com/mautic/mautic/pull/7468

[2019-04-24 15:49] fixmyinfo commented on #2778
I have the same ongoing problem.  :(

On Wed, 24 Apr 2019 at 09:00, colourfulowl <notifications@github.com> wrote:

--
------------------------

Steve Mitchell

http://www.facebook.com/bstephenmitchell
http://twitter.com/bstephenmitchel

C. 514-992-0988

[2019-04-24 15:50] johbuch commented on #5862
@kuzmany I tested again and I still have this issue on 2.15
can you try again ?
thanks

[2019-04-24 15:52] kuzmany commented on #5862
@johbuch Did you add bitlybot to configuration to do_not_track_bots list?
Like was mentioned in that PR? https://github.com/mautic/mautic/pull/6591

[2019-04-24 16:02] johbuch commented on #5862
@kuzmany indeed it works with that. I was not aware of this one.
Thanks a lot !!!!!

[2019-04-24 20:00] escopecz commented on #7429
As this ticket doesn't contain any details, doesn't follow the issue template and only states what the [docs say](https://developer.mautic.org/#oauth-2) I will close it.

[2019-04-24 20:00] #7429 closed

[2019-04-24 20:02] escopecz commented on #7450
Please read https://www.mautic.org/docs/en/tips/troubleshooting.html and fill in all the info requested in the issue template. Feel free to open new issue with proper description and error message.

[2019-04-24 20:02] #7450 closed

[2019-04-24 20:07] escopecz commented on #7453
1. Check the logs (https://www.mautic.org/docs/en/tips/troubleshooting.html)
2. Do you have logs for your cron jobs?
    2.a. Check them
    2.b Execute the command from the cron job yourself via SSH. What is the output?

[2019-04-24 20:15] escopecz commented on #7455
Try this:
1. Open `app/config/local.php`
2. Replace the line `'db_host' => 'localhost',` with `'db_host' => '127.0.0.1',`
3. Save the file.
4. Delete the contents of the `app/cache/` directory. Use this command if you can: `rm -rf app/cache/*` from Mautic root directory.

[2019-04-24 20:26] escopecz commented on #7454
It looks like your database schema is outdated. Try to follow https://johnlinhart.com/blog/uh-oh-mautic-upgrade-was-not-successful and let us know if it was successful.

[2019-04-24 20:30] escopecz commented on #7456
Try to turn the email queue ON in Mautic configuration page. Then configure cron to run this command every minute:

`app/console mautic:emails:send --message-limit=10`

BTW I haven't try it but it should do the trick.

[2019-04-24 20:30] #7456 closed

[2019-04-24 20:35] escopecz commented on #7458
Please upgrade your Mautic to the latest version. It contains several bug fixes in this area.

[2019-04-24 20:35] #7458 closed

[2019-04-24 20:40] escopecz commented on #7459
Any errors in the logs? https://www.mautic.org/docs/en/tips/troubleshooting.html

[2019-04-24 20:46] escopecz commented on #7461
Do you have the whole error message? If that's all, could you run the command with `-vvv --env=dev` attributes to see if you get more details?

`mautic:campaigns:rebuild -vvv --env=dev`

[2019-04-24 20:51] escopecz commented on #7467
Could you use the "Update contact owner" campaign action to assign the user you need?

[2019-04-25 02:06] arymaynart commented on #7467
Hi.
I do not undertood the meaning of your question, so i will assuming that you are telling me to leave this like it is and work arround another way.
Yes I can.
I can do it manually too.

But I am openning this bug report because for my perspective, something is worng.
I mean: Should this be the proper behaviour?

"A user build a form, attach his form on a landing page, and he is not the owner of

[2019-04-25 03:11] fredroo commented on #7459
@escopecz

about General troubleshooting, nothing solves my problem

Mautic error logs are empty and
Nginx error logs are empty

[2019-04-25 03:51] rkaartikeyan opened #7469 "After update mautic Save company showing Internal server Error 500"
## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | v2.15.1
| PHP version | 7.0.33-0ubuntu0.16.04.3
| Browser | Chrome

### Steps to reproduce
1. Goto Companies
2. Add or Edit a company with Custom Multi-select field.
3. Save

### Log errors
[2019-04-25 03:42:36] mautic.CRITICAL: Uncaught PHP Exception Symfony\Component\Validator\Exception\UnexpectedTypeExce

[2019-04-25 06:11] escopecz commented on #7467
My intention was to resolve your issue. There is campaign action that does exactly what you need. I'm really sorry I upset you with it. I will try to remember to not answer your issues.

I'm skeptical about making contact owner only because it came from a from created by that user. What if another user updates the form? Should he be owner of the contacts created by the form? Does the same apply fo

[2019-04-25 06:13] escopecz commented on #7459
It could be a sign that file system permissions or folder owner is wrong. I host my Mautic instances on DO and have no problem to send emails through SMTP, so I don't think it's a Mautic issue.

[2019-04-25 09:15] compains commented on #865
Can this be acomplished simply by changing the corresponding column in the lead_fields table and setting up a translation to show the "human friendly name" instead of the "
mautic.lead.field.group.your_custom_group"? Or there could be any collateral effect?

[2019-04-25 09:15] escopecz commented on #7408
I prepared the fix that can go to the next Mautic version. Please test https://github.com/mautic/mautic/pull/7470

[2019-04-25 09:39] npracht commented on #2426
Hi @wittwerch @martinstr @devabdo @gopi-ar is that still an issue ?

[2019-04-25 09:42] #2917 closed

[2019-04-25 09:43] npracht commented on #3223
Hi @PatchRanger @fuschini @itcig, do you still have the issue. Does https://github.com/mautic/mautic/pull/7433 helps ?

[2019-04-25 09:54] npracht commented on #3552
Fixed by https://github.com/mautic/mautic/pull/6260

[2019-04-25 09:54] #3552 closed

[2019-04-25 09:59] npracht commented on #3763
Fixed in 2.8.1 with https://github.com/mautic/mautic/pull/4010

[2019-04-25 09:59] #3763 closed

[2019-04-25 10:00] npracht commented on #3781
hello @hrdyrk @bmdva @srdecny still an issue ? I know this part has been enhanced and fixed several times now.

[2019-04-25 10:01] npracht commented on #3787
Solved in 2.9.1 by https://github.com/mautic/mautic/pull/4355

[2019-04-25 10:01] #3787 closed

[2019-04-25 10:03] npracht commented on #3789
Couldn't reproduce. Must be fixed.

[2019-04-25 10:03] #3789 closed

[2019-04-25 10:05] npracht commented on #3792
Couldn't reproduce. Must be fixed now.

[2019-04-25 10:05] #3792 closed

[2019-04-25 10:06] npracht commented on #3847
decided as default in general settings

[2019-04-25 10:06] #3847 closed

[2019-04-25 10:08] npracht commented on #3863
@escopecz you added `WIP` but issue is still existing (just reproduced). Do you have something to share or we simply remove the label?

[2019-04-25 10:09] #3869 closed

[2019-04-25 10:10] escopecz commented on #3863
It's actually resolved by https://github.com/mautic/mautic/pull/7283. Thanks for bringing this up.

[2019-04-25 10:11] npracht commented on #3935
I think this is because the final email address you keep has no gravatar account related.

[2019-04-25 10:11] #3935 closed

[2019-04-25 10:15] npracht commented on #4099
Fixed in 2.8.0

[2019-04-25 10:15] #4099 closed

[2019-04-25 10:17] npracht commented on #4103
Cannot reproduce

[2019-04-25 10:17] #4103 closed

[2019-04-25 10:18] npracht commented on #4106
Hi @maheshprabhu2010 & @bpasham please test #7462

[2019-04-25 10:21] PatchRanger commented on #3223
@npracht Sorry, can't help this way or another: I am currently out of Mautic context.

[2019-04-25 10:21] npracht commented on #4374
That has been fixed.

[2019-04-25 10:21] #4374 closed

[2019-04-25 10:22] #4386 closed

[2019-04-25 10:24] npracht commented on #4391
There is a message saying error when saving now. Solved.

[2019-04-25 10:24] #4391 closed

[2019-04-25 10:26] #4546 closed

[2019-04-25 10:26] #4630 closed

[2019-04-25 10:28] #4798 closed

[2019-04-25 10:29] npracht commented on #3863
@vesper8 @ivent can you please test #7283 ?

[2019-04-25 11:05] cremigerhonig commented on #1536
same problem here... need a solution :/

[2019-04-25 12:07] AlbanL74fr commented on #7467
Yes I agree, the contact owner has nothing to do with the person who creates the form. The contact owner is the person that will be assign a lead, for example, it can be a sales person of your organization, while the one who created the form might be a developer. Like @escopez suggested, a campaign with a form submission as source is a good way to assign a contact owner, then send an email, and us

[2019-04-25 12:28] NipunReddy555 opened #7471 "Sending Broadcast Emails are not working"
## Bug Description
Unable to get segment/broadcast emails to send. My segment email shows as published, shows 1 pending email, and publish dates seem to be set as expected.

I run the cron by itself or with different combinations of --id=XX --channel=email. No change. Output is:

+---------------+--------+----------+
| Channel | # sent | # failed |
+---------------+--------+----------+

| Q   | A

[2019-04-25 12:33] npracht commented on #7471
Hi @NipunReddy555 can you say exactly what is the exact command you use ?

[2019-04-25 12:39] NipunReddy555 commented on #7471
Hi @npracht .
The command I am using is
php /path/to/mautic/app/console mautic:broadcasts:send --channel=email --id=22

[2019-04-25 12:43] AlbanL74fr commented on #7458
Thanks @escopez, I will update to 2.15.2 when available, and see if it resolves the problem I reported here

[2019-04-25 12:58] npracht commented on #7471
and you don't have any error ? Is the email published ?

[2019-04-25 13:00] NipunReddy555 commented on #7471
yes the email is published and i don't have any error.

[2019-04-25 13:01] mihaicirstea commented on #7466
@escopecz

I'm now thinking that the mautic.lead_post_delete webhook fired is normal because:

When a Mautic form is submitted with the same email address, that is already associated with another contact ID. I assume Mautic performs sort of a "merge procedure" where contact_id=02 is merged with contact_id=01... to retain the initial Mautic ID?

Therefore contact_id=02 is deleted and contact_id=01

[2019-04-25 13:07] escopecz commented on #7466
Sounds like it. Thanks for the self-explanation :)

[2019-04-25 13:07] #7466 closed

[2019-04-25 13:09] escopecz commented on #7469
This is duplicate of https://github.com/mautic/mautic/issues/7344. I will leave it open until 2.15.2 will be released so it's still considered a bug.

[2019-04-25 13:10] escopecz commented on #7373
As there is no activity I'll close it as resolved.

[2019-04-25 13:10] #7373 closed

[2019-04-25 13:12] escopecz commented on #7368
Please check https://www.mautic.org/docs/en/tips/troubleshooting.html on on what else to try. It usually is a timeout limit. But the error must be recorded somewhere.

[2019-04-25 13:14] escopecz commented on #7369
There is no point of having this issue when it's lacking the details. We cannot do anything without it.

[2019-04-25 13:14] #7369 closed

[2019-04-25 13:17] luizeof commented on #7408
@escopecz tested with PHP 7.1.27 and PHP 7.2+ .. this bug doesn't happen

[2019-04-25 13:18] escopecz commented on #7359
Please create new issue where you'll follow the issue template, post screen shots of before and after. Use the drag&drop feature of this issue tracker. The link to your screenshot is wrong.

[2019-04-25 13:18] #7359 closed

[2019-04-25 13:19] escopecz commented on #7408
@luizeof could you please write your comment to the PR #7470? It will help to get it to the core asap.

[2019-04-25 13:22] escopecz commented on #7241
Closing as the question hasn't been answered for a wile. Hopefully it's resolved now.

[2019-04-25 13:22] #7241 closed

[2019-04-25 13:39] mediamix-NJ commented on #7368
Found the problem.  It had to do with Wordfence.  Once disabled on the site all works fine.

[2019-04-25 13:41] escopecz commented on #7368
Thanks for the update!

[2019-04-25 13:41] #7368 closed

[2019-04-25 13:45] luizeof commented on #7454
@pgiannotti @JossyMall run this commands on mautic root path:

`php app/console doctrine:migration:status
php app/console doctrine:migration:migrate
php app/console doctrine:schema:update --dump-sql
php app/console doctrine:schema:update --force`

[2019-04-25 14:59] krzysztofmn opened #7472 "Contact gets assigned to a Stage with lower weight."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
According to tooltips in Mautic