[2020-12-11 00:19] dsp76 commented on #9488
might be related to https://github.com/mautic/mautic/issues/9487

[2020-12-11 08:44] evgu commented on #9379
@RCheesley this issue showed up once only for us. The JS tracking script was flagged as the main offender within the browser. But when I spoke to Netcrafts (the company which flags websites for the browsers to block) they pointed me to the Copyright notice. I spoke to them several times trying to get to the bottom of the root cause of the issue, but got back no concrete technical explanation what

[2020-12-11 09:10] RCheesley commented on #9052
Hi folks, I just checked in with the core team, and this was deprecated in 3.x with this commit: https://github.com/mautic/mautic/commit/74b8c3e942636a953b081a285c5b696563806662#diff-0c8e7cb890a2152fe377180fde4a86b3314a41f4933622578bfd53b599f26f29

I've asked the team if they could update the documentation accordingly to take this into account, but the answer to your question is that it needs to b

[2020-12-11 09:10] #9052 closed, assigned to nobody

[2020-12-11 09:27] RCheesley commented on #9286
Closing the issue due to a lack of response from the original poster and it relating to 2.x

[2020-12-11 09:27] #9286 closed, assigned to nobody

[2020-12-11 09:31] RCheesley commented on #9238
@admin-fcosson can you tell us about the form itself? What is is doing?

Is it a campaign form or standalone?

What actions do you have happening on submit?

[2020-12-11 09:34] RCheesley commented on #9110
Closing due to a lack of response from the original poster and being unable to reproduce.

[2020-12-11 09:34] #9110 closed, assigned to nobody

[2020-12-11 10:03] nickveenhof commented on #9132
Actually it isn't really an ELFinder problem. The problem was here:

'image_path' => '%kernel.root_dir%/../sites/default/files/images',
'image_path' => 'sites/default/files/images',

All other path configurations expect full path, image_path is relative to the domain it seems. That wasn't very clear and caused all this sideeffects

[2020-12-11 10:03] nickveenhof commented on #9132
Feel free to close this if you think this should not be solved or followed-up

[2020-12-11 10:12] RCheesley commented on #9102
Closing due to lack of recent response.

[2020-12-11 10:12] #9102 closed, assigned to nobody

[2020-12-11 10:25] RCheesley commented on #9094
Hi folks,

Some other things to look into are whether you're getting hits from bots (you should be able to look into your server logs to check that) or any kind of monitoring tool that might be triggering this kind of behaviour. Ultimately I don't think this is a bug with Mautic so I'm going to close the issue - if you need help understanding what's going on in more depth please open up a topic at

[2020-12-11 10:25] #9094 closed, assigned to nobody

[2020-12-11 10:26] RCheesley commented on #9054
Thanks for the bug report folks, is anybody able to double check if it's still a problem with the latest release?

[2020-12-11 10:27] RCheesley commented on #9022
Thanks folks, if someone can double check this on the latest release so that we can confirm it's persisting we can hopefully get someone to look into it!

[2020-12-11 10:30] RCheesley commented on #8458
@cyanstar I wondered if you can confirm whether this is persisting in the latest release?

[2020-12-11 10:33] RCheesley commented on #8318
Hi @cedoe thanks for the confirmation, we've had quite a few fixes since 3.0.1 - is this still persisting for you? If so could you let us know so we can look into it? Thanks!

[2020-12-11 10:34] RCheesley commented on #7738
Closing this issue due to it relating to 2.x and having no recent interactions.

[2020-12-11 10:34] #7738 closed

[2020-12-11 10:37] RCheesley commented on #7242
Hi folks, given the PR's that are already open and a lack of recent interaction on this issue I'm going to close it down.

[2020-12-11 10:37] #7242 closed

[2020-12-11 10:39] RCheesley commented on #6954
As this is a super old issue and talks about expected behaviour rather than a bug (you should be able to see when the email was sent, and when it was opened, in the activity feed) I'm going to close the issue down.

[2020-12-11 10:39] #6954 closed

[2020-12-11 10:41] RCheesley commented on #6054
As the PR has been closed due to lack of activity I'm also going to close down this issue. If folk wish to resurrect the PR in the future then that would be great if the issue persists.

[2020-12-11 10:41] #6054 closed

[2020-12-11 10:43] RCheesley commented on #3966
As this is a super old issue without any recent interaction I'm going to close the issue. If it remains a problem, please create a new issue and link to this one as a reference.

[2020-12-11 10:43] #3966 closed

[2020-12-11 11:19] RCheesley commented on #6392
Hi folks, seems like this would be a nice feature, and hopefully quite easy to implement (honestly I thought it was there already!)

If anyone would like to pick this up and submit a pull request please don't hesitate to reach out to the Product Team - we're happy to help guide you with this.

[2020-12-11 11:20] RCheesley commented on #6332
Hi folks, if someone would like to work on this (we also have a request in #6392 to add in the ability to use BCC from this screen) please do go ahead and make a pull request. The Product Team would be happy to support you!

[2020-12-11 11:25] RCheesley commented on #9487
Thanks for flagging these issues, I suspect they might be due to the same root cause but we'll see when someone has the chance to dig into it!

[2020-12-11 11:26] RCheesley commented on #9488
Thanks for flagging this and for linking it up to the other issue @dsp76 :)

[2020-12-11 11:26] yarimiz commented on #6039
This issue is reproducing in version 3.2.0, with the exact steps you've mentioned here

@npracht

[2020-12-11 11:32] RCheesley commented on #9285
Hi folks,

There is a separate discussion on the [terminology around published/unpublished](https://github.com/mautic/mautic/issues/8851) which is confusing, I agree!

@colourfulowl I would suggest that it might be better to create an issue which explains that the notification system is flawed when it sends multiple, rather than one notification about the email being published. That way we can tra

[2020-12-11 11:32] #9285 closed, assigned to nobody

[2020-12-11 11:33] RCheesley commented on #9255
@pjoulot did you get a chance to take a look at improving this?

We have an initiative to implement a new builder so it might mean that this becomes irrelevant in a few months, but if you wanted to submit a bugfix we could get it into one of the upcoming patch releases a bit sooner!

[2020-12-11 11:38] RCheesley commented on #9241
Hi there,

Indeed we're planning to implement a new builder using the GrapeJS framework, the initiative is about to kick off and we hope to have a beta shipping with the 3.3 release in February with the General Availability being released with M4 in May.

So, given you're not able to work on this I'll go ahead and close the issue down, if you want to know more about the builders initiative do join

[2020-12-11 11:38] #9241 closed, assigned to nobody

[2020-12-11 11:40] RCheesley commented on #9221
I think from my perspective I would prefer that we keep this simple, and have the error message show beside the send/cancel button rather than right at the top of the popup.  @frankofno would you be up for looking into making a PR for this change?

[2020-12-11 11:41] RCheesley commented on #9207
@mabumusa1 are you able to confirm this issue?

[2020-12-11 11:42] RCheesley commented on #9193
Closing due to lack of recent response from the original poster.

[2020-12-11 11:42] #9193 closed, assigned to nobody

[2020-12-11 11:43] RCheesley commented on #9183
These are protected names and therefore I believe that it is expected behaviour to prevent you using them as a field name. Therefore closing this issue.

[2020-12-11 11:43] #9183 closed, assigned to nobody

[2020-12-11 11:43] RCheesley commented on #9173
@StoppingBuck was this resolved with the plethora of fixes we made for the DNC feature?

[2020-12-11 11:46] RCheesley commented on #9167
@Z0zol3 please can you sign the contributors agreement and take a look at the codestyle fix that is required on the PR? If we don't hear from you on these we'll close the issue and PR due to inactivity. Thanks!

[2020-12-11 11:47] RCheesley commented on #9165
@introfini would you be up for creating the PR to address this? We have some guidelines on getting started with creating PR's here: https://contribute.mautic.org/contributing-to-mautic/developer - shout if you need any help!

[2020-12-11 11:48] #9157 closed, assigned to nobody

[2020-12-11 11:50] RCheesley commented on #5967
Hi folks, can we check if this persists in the current 3.x release please?

[2020-12-11 11:51] RCheesley commented on #9111
@diletecsoftware is this persisting in the latest 3.2.1 release?

[2020-12-11 11:53] RCheesley commented on #9105
@CyberMarsl would you be up for looking into writing a PR to address this issue? There's documentation here if you need any guidance: https://contribute.mautic.org/contributing-to-mautic/developer.

[2020-12-11 11:54] RCheesley commented on #9070
@jatinbajaj777 can you confirm what type and version of database you're using, and the collation/charset?

[2020-12-11 11:57] RCheesley commented on #9004
Can you share what email transport you are using and whether this persists in 3.2.1? We merged a bunch of fixes relating to bounce and DNC in the 3.1->3.2 process so I am hopeful that this has been resolved already!

[2020-12-11 12:09] RCheesley commented on #8468
@MajesteitBart thanks for taking the time to confirm this! Would you consider looking into making a PR to add the missing information if it persists in 3.2.1?

[2020-12-11 12:12] RCheesley commented on #7551
Closing this issue due to a lack of recent engagement and both related PR's being closed for inactivity. If anyone wishes to re-open please create a new issue with a link to this one, or request the PR's be re-opened.

[2020-12-11 12:12] #7551 closed

[2020-12-11 12:13] RCheesley commented on #7353
Closing this issue as it relates to 2.x and has no recent activity.

[2020-12-11 12:13] #7353 closed

[2020-12-11 12:14] RCheesley commented on #6776
Closing this issue due to lack of recent engagement and it being a feature request without associated PR.

[2020-12-11 12:14] #6776 closed

[2020-12-11 12:16] RCheesley commented on #5933
Closing this issue as the PR's related have been closed due to inactivity and there has been no recent activity on this issue.

If anyone wants to pick up the PR's please request them to be re-opened.

[2020-12-11 12:16] #5933 closed

[2020-12-11 12:16] RCheesley commented on #5719
Closing as this relates to 2.x and there have been a bunch of timezone-related fixes since then.

[2020-12-11 12:16] #5719 closed

[2020-12-11 12:17] MajesteitBart commented on #8468
I would gladly help, but I'm not a developer, so it would probably not fix anything 😅

[2020-12-11 12:18] RCheesley commented on #5181
Closing as this is a super old issue and there were a bunch of fixes to the DNC/bounces in recent updates. If this remains a problem for folk please create a new issue with details about the version in use, email transport and how to replicate the problem.

[2020-12-11 12:18] #5181 closed

[2020-12-11 14:39] dennisameling commented on #9044
@RCheesley correct! Could you create the secret with a name like `MAXMIND_KEY`? I'm happy to add it to GH Actions then

[2020-12-11 14:43] RCheesley commented on #9044
Done! 🚀

[2020-12-11 14:58] dennisameling commented on #9044
Not so fast! We need to actually enable it in GH Actions now. Re-opening this issue 😉

[2020-12-11 15:00] RCheesley commented on #9044
Oh .... ooops! Though the issue was just to add the key as a secret! 😊

[2020-12-11 15:10] RCheesley commented on #9401
@bulgin it sounds like this is something to do with the media queries in the theme you are using switching up to center align at smaller resolutions. If this is a core Mautic theme, would you be up for having a dig and seeing if you can fix it?

[2020-12-11 15:12] RCheesley commented on #9369
This has been an issue since Instagram changed their API - the integration needs to be updated.

[2020-12-11 15:13] RCheesley commented on #9353
@fredroo would you be up for taking a look into what is causing this, if it is persisting in 3.2.1?

[2020-12-11 15:17] RCheesley commented on #9351
Tested in 3.2.1 and unable to reproduce.

Before:

![screenshot-mautibox com-2020 12 11-15_16_35 (1)](https://user-images.githubusercontent.com/2930593/101920699-047f1c00-3bc4-11eb-9fc0-e21faf9902bd.png)

After:

![screenshot-mautibox com-2020 12 11-15_16_35](https://user-images.githubusercontent.com/2930593/101920718-09dc6680-3bc4-11eb-81ac-f4e38e4b7cef.png)

[2020-12-11 15:17] #9351 closed, assigned to nobody

[2020-12-11 15:20] RCheesley commented on #9347
@weismannweb this is standard for most web applications in my experience, however if you wish to make a PR to implement the feature please go ahead. Otherwise, feature requests should go on the forum for discussion and consideration.

[2020-12-11 15:21] RCheesley commented on #9327
Closing this as a duplicate of https://github.com/mautic/mautic/issues/8674

[2020-12-11 15:21] #9327 closed, assigned to nobody

[2020-12-11 15:23] RCheesley commented on #9319
Closing as this has been implemented in 3.2:

![screenshot-mautibox com-2020 12 11-15_22_54](https://user-images.githubusercontent.com/2930593/101921356-d1895800-3bc4-11eb-8b61-e9f267b0c6ad.png)

[2020-12-11 15:23] #9319 closed, assigned to nobody

[2020-12-11 15:24] #9305 closed, assigned to nobody

[2020-12-11 15:30] RCheesley commented on #9145
Hi @DBNubs apologies for the delay in getting back to you!

In regards to the fields, each field type can be found in this folder:

https://github.com/mautic/mautic/tree/features/app/bundles/FormBundle/Views/Field

So, for example if adding to the 'text' field type you would edit this file: https://github.com/mautic/mautic/blob/features/app/bundles/FormBundle/Views/Field/text.html.php

If you need

[2020-12-11 15:36] RCheesley commented on #9125
Hi @javiergas, pretty sure that this has to be something to do with your focus item / website CORS settings rather than a bug with Mautic.

Your focus item URL seems to not be from your Mautic instance (hello2.example.com) but from your domain (example.com), according to the screenshot here: https://user-images.githubusercontent.com/30293899/91238591-69912d80-e70b-11ea-934c-c1d02cc01a74.png

The f

[2020-12-11 15:38] RCheesley commented on #9093
Hi @StoppingBuck shout if you need any help with finding the translation strings to make the PR!

[2020-12-11 15:40] RCheesley commented on #9085
@bryanveIoso @pitus @peseotni @loris-av did the suggestion above work for you? Is your connection itself working (eg send a test email?)

[2020-12-11 15:42] RCheesley commented on #9055
Closing the PR as it is an unsupported feature rather than a bug

[2020-12-11 15:42] #9055 closed, assigned to nobody

[2020-12-11 15:44] RCheesley commented on #8457
Closing as this relates to 2.x

[2020-12-11 15:45] RCheesley commented on #7967
Closing this old issue as the PR to fix it was merged already

[2020-12-11 15:45] #7967 closed

[2020-12-11 15:55] javiergas commented on #9125
Hi @RCheesley
This focus item is meant to be displayed in a wordpress site integrated with the Mautic Plugin for Wordpress and it was working perfectly before updating to Mautic 3.0.

I also tested it with a fresh Mautic 3 installation and the problem is the same.

I was able to fix it making this change in /app/bundles/PageBundle/EventListener/BuildJsSubscriber.php #581
[code]

This change must b

[2020-12-11 16:38] altarankumar opened #9490 "how to setup Mautic Recommender Bundle in mautic 3"
Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Mautic\CoreBundle\EventListener\CommonSubscriber' not found

### Log errors:

_Please check for related errors in the latest log file in [mautic root]/var/log/ and/or the web server's logs and post them here. Be sure to remove sensitive information if applicable._

[2020-12-11 17:14] RCheesley commented on #9490
@altarankumar this is a third party plugin. You will need to speak with the developers for guidance.

[2020-12-11 17:14] #9490 closed, assigned to nobody

[2020-12-11 18:37] trianity opened #9491 "Reproducing <!doctype html> on every save of the email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-11 20:16] weismannweb commented on #9347
hi @RCheesley I think someone put in a fix because the last upgrade I did it did not happen

[2020-12-11 20:41] RCheesley commented on #9347
Excellent! :)

[2020-12-11 20:41] #9347 closed, assigned to nobody

[2020-12-12 03:48] J-Light commented on #9069
@npracht we are using v3.2.1 and still see this issue. Would we want to re-open this or open a new issue.

[2020-12-12 10:00] evgu commented on #9069
@J-Light Can you post error logs related to this issue please and sequence of events/actions triggering the errors.

[2020-12-13 11:03] omert37 commented on #9011
I have the same issue.
Seems like the "keep me logged on" isn't working.
After a while, it throws you out of the system regardless of whether you ticked it or not.

[2020-12-13 16:09] StoppingBuck commented on #9093
@RCheesley Thanks for the nudge, I had indeed gotten sidetracked. I've created PR #9492 to try to address this issue. Going through the five points:

1. I couldn't find any place to adjust the days/weeks/months. AFAICS it's buried deep inside a generic `date` codeword, and it wasn't really a big deal anyway.
2. I rephrased 'Do not contact more than...' to hopefully be a little more intuitive
3. Th

[2020-12-14 11:55] RCheesley commented on #9479
Closing this issue now that the PR to fix it has been merged! 🎉

[2020-12-14 11:55] #9479 closed, assigned to nobody

[2020-12-14 11:57] RCheesley commented on #9125
OK let's see if anyone else has this issue.

Are you able to deploy the focus items without using a campaign (e.g. directly on the page) or does that also cause a problem?

[2020-12-14 11:58] RCheesley commented on #7565
@aspiers are you able to test the PR #7614 to see if this resolves your issue?

[2020-12-14 12:01] RCheesley commented on #7331
@florentpetitjean @johbuch please can you test #7214 so that we can get this merged? Thanks!

[2020-12-14 12:03] RCheesley commented on #7173
@dennisameling @LordMike has this been resolved with the recent fixes to Froala or is it persisting?

[2020-12-14 12:05] RCheesley commented on #6621
I did see a PR which implemented updating custom fields in the background so hopefully when we merge that one we will be able to look into this, if it's still required!

[2020-12-14 12:09] RCheesley commented on #6613
@namankumar @alexhammerschmied @ericross @TnowL @zaharovrd @dongamini92 can you confirm whether this has been resolved with #7129 or is this still a problem? The PR will ship with the next patch release at the end of December but you can manually apply it.

[2020-12-14 12:12] RCheesley commented on #6425
@albanleandri @blueflamexr I believe that this is resolved by this PR: https://github.com/mautic/mautic/pull/6071 - can you test and provide feedback so we can merge it in 3.3?

[2020-12-14 12:15] RCheesley commented on #6423
@albanleandri @kavirus is this still an issue for you in 3.2.1? If so would either of you be up for making a PR to add the feature? There's documentation here: https://contribute.mautic.org/contributing-to-mautic/developer - we're happy to help you get started if you need a hand!

[2020-12-14 12:18] RCheesley commented on #6153
@mjml1982 can you confirm if this persists in 3.2.1? If so, is it happening on any specific action at all?

[2020-12-14 12:22] RCheesley commented on #6063
Hi folks, as this is going to be addressed in the next gen project I am going to close this issue down, thanks to everyone for providing some ideas for workarounds!

[2020-12-14 12:22] #6063 closed

[2020-12-14 12:24] RCheesley commented on #6011
@omert37 the best thing you can do to help is to test the PR #7548 one the failing test is fixed, so that we can get it merged.

[2020-12-14 12:25] #5779 closed

[2020-12-14 12:37] RCheesley commented on #9470
Thanks for raising this issue @iurisilvio - would you be up for looking into this in more detail?

[2020-12-14 12:39] RCheesley commented on #9457
@trianity are you about to reproduce this or was it a one-time thing that happened?

Is it possible that you had some older emails still queued to go out with the old attachment which had become unpublished?

Agree that there should be a graceful handling of such errors to stop only the failing mails and allow the rest to go out, any thoughts @escopecz ?

[2020-12-14 12:41] omert37 commented on #6011
I have already informed @npracht that this issue was resolved after I updated to 3.2.0.
You can regard this issue as closed.

[2020-12-14 12:42] RCheesley commented on #9431
Thanks for raising this issue, hopefully we can get the PR merged in the next bugfix release!

[2020-12-14 12:44] RCheesley commented on #7014
Thanks for reporting this folks, anybody open to looking at fixing this?

[2020-12-14 12:45] RCheesley commented on #6231
@FranSanchezOria we do not seem to have a PR associated with this issue, so I am going to close the issue down. If you wish to make a PR there is guidance here: https://contribute.mautic.org/contributing-to-mautic/developer

[2020-12-14 12:45] #6231 closed

[2020-12-14 12:46] RCheesley commented on #4168
Hi @dawansv @YannickBiet @Baregon @christian-beckmann @rodrideme, please hop over and test #8764 which should implement the fix for this issue!

[2020-12-14 12:48] RCheesley commented on #4168
Actually hold fire on that ... we have a new and improved PR coming soon hopefully which will supersede that one!

[2020-12-14 12:54] npracht commented on #7331
@rcheesley the actual PR is https://github.com/mautic/mautic/pull/8711
But from our teammate and already used in production for 6 months

[2020-12-14 12:59] RCheesley commented on #7331
@npracht great, thanks for updating!

[2020-12-14 13:31] aspiers commented on #7565
Hi Ruth, really sorry but I've got too much other stuff on my plate right now! Hopefully might be able to get back to Mautic some time in 2021 depending on current work...

[2020-12-14 13:31] aspiers commented on #7565
... but it's great to see all this progress from the sidelines, congrats ;-)

[2020-12-14 16:54] LordMike commented on #7173
To be fair, I have not used Mautic for a year or two, due to other (internal) issues as well. I do not recall if this was resolved for us.

This issue can be closed for our sake.

[2020-12-14 16:56] RCheesley commented on #7173
@LordMike OK let's just check if it's still an issue as it was reproducible back in August - otherwise we'll close it. Thanks for getting back to us!

[2020-12-14 17:58] trianity commented on #9457
@RCheesley Hi Ruth, It was a one-time thing that happened with me. And it is possible there were some older emails still queued to go out with the old attachment which had become unpublished.  I did not check the queue state before that changes. But the unpublished attachement is not a deleted - missing attachement, so I agree with you would be willing a graceful handling of such errors to stop on

[2020-12-14 18:08] javiergas commented on #9125
@RCheesley in that case it works fine using the JS for the specific focus item.

[2020-12-14 19:01] RCheesley commented on #9132
It should probably form part of the configuration documentation, I think? Thanks for flagging it up, pinging @mautic/education-team for info. Will close this issue down.

[2020-12-14 19:01] #9132 closed, assigned to nobody

[2020-12-14 23:57] christopheg opened #9495 "SameSite=none not set behind proxy"
Problem:
Tracking cookie is not set with 'SameSite=none'

Environment:
- Debian Linux 10
- PHP 7.3
- Mariadb server 10.3
- Mautc v3.2.1
- Served from behind nginx reverse proxy with SSL termination

cause:
- The connection is not seen as 'secure'
- header X-Forwarded-Proto = 'https' is set via nginx

[2020-12-15 00:00] christopheg commented on #9495
The correct way to determine the HTTP/HTTPS connection with Symfoy seems to be the 'isSecure()' method

[2020-12-15 00:35] incentfit-product commented on #9411
it worked!

[2020-12-15 04:53] LogProd opened #9497 "Email template issue within Mautic"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have designed a very basic te

[2020-12-15 05:26] npracht commented on #9495
closing in favor of https://github.com/mautic/mautic/issues/8944

[2020-12-15 05:26] #9495 closed, assigned to nobody

[2020-12-15 08:12] escopecz commented on #9481
Please look into the logs what the actual error is.

[2020-12-15 08:35] escopecz commented on #9481
I've created a functional test that confirms there is no issue creating multiselect fields. I've used your payload. See https://github.com/mautic/mautic/pull/9498

It must be an issue in your configuration. Are other API requests working? 401 would suggest there is an authentication issue.

[2020-12-15 09:19] laabidi21 commented on #9481
Log Files:
[2020-12-15 09:18:19] mautic.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\HttpException: "signature_invalid" at /var/www/html/mautic/vendor/willdurand/oauth-server-bundle/Service/OAuthServerService.php line 244 {"exception":"[object] (Symfony\\Component\\HttpKernel\\Exception\\HttpException(code: 0): signature_invalid at /var/www/html/mautic/vendor/willdurand/oau

[2020-12-15 09:23] laabidi21 commented on #9481
@escopecz the others API requests working normally.
the others Fields work normally: type: text, date, datetime, url, ...

only the two types "select" and "multiselect" do not work

[2020-12-15 10:17] escopecz commented on #9481
Can you do some more experimentation to narrow down the problem? What comes to mind is to try to create the field without any options. Or with different authentication method. It clearly works in the functional test.

[2020-12-15 11:05] laabidi21 commented on #9481
@escopecz I changed the authentication to OAuth2 and it works correctly for the creation of fields with type "select" and "multiselect"

[2020-12-15 12:35] escopecz commented on #9481
Great found. I updated the description accordingly.

[2020-12-15 14:41] RCheesley commented on #9497
Can you please provide us with some screenshots of the email that you created, the theme that you used and include the source for the email?

Also which devices are you testing on to view the layout?

We have a reported bug in mobile devices relating to styling: #9401 which may be related?

[2020-12-15 14:44] RCheesley commented on #9491
Thanks for reporting the bug @trianity !

[2020-12-15 14:44] RCheesley commented on #9282
@emanuelflp any update on this?

[2020-12-15 14:47] RCheesley commented on #9075
Closing due to lack of recent activity.

[2020-12-15 14:47] #9075 closed, assigned to nobody

[2020-12-15 14:48] RCheesley commented on #6119
Closing this issue due to a lack of recent activity.

[2020-12-15 14:48] #6119 closed

[2020-12-15 14:49] RCheesley commented on #1752
@escopecz is it likely that we can get this over for the 3.3 release?

[2020-12-15 14:50] RCheesley commented on #9152
@CyberMarsl are you up for creating a PR to address this issue?

[2020-12-15 14:51] RCheesley commented on #9136
@colourfulowl was this issue resolved with the updates to the SES API integration / bounce that we pushed in recent releases?

[2020-12-15 14:52] RCheesley commented on #9041
@rjdjohnston not as yet - we need someone to pick this up and look into it / write a PR if it is a bug.

[2020-12-15 14:56] RCheesley commented on #8895
Nobody has written an update for the API connection, therefore it was pulled from the release.

Sure, it is explained here: https://contribute.mautic.org/community-structure/governance/code-governance

Indeed, it is much harder now to get approved to use the API for this. It is not impossible to do but there are many hoops to jump through. However if someone picks this up and writes the updated co

[2020-12-15 14:59] RCheesley commented on #8827
Perhaps this PR will help which has just been merged for the next release: https://github.com/mautic/mautic/pull/9499 @regevbr @janus-reith ?

[2020-12-15 15:04] RCheesley commented on #8124
Hi @lanen-p did the fixes in the latest releases address your issue?

[2020-12-15 15:05] RCheesley commented on #5352
Closing this issue due to lack of recent engagement.

[2020-12-15 15:05] #5352 closed

[2020-12-15 15:06] RCheesley commented on #8944
Closing as the PR has been merged which addresses this issue 🎉

[2020-12-15 15:06] #8944 closed, assigned to nobody

[2020-12-15 15:10] Gp2mv3 opened #9500 "Column not found: 1054 Unknown column 't.generated_sent_date' in 'field list'""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Error 500 when using dashboard

[2020-12-15 15:13] Gp2mv3 commented on #9500
Here is the structure of the emails_stats table (which doesn't have any `generated_sent_date` column:
![Screenshot from 2020-12-15 16-12-45](https://user-images.githubusercontent.com/1221806/102233410-863ab680-3ef0-11eb-8806-265a75fb01ab.png)

[2020-12-15 15:27] RCheesley commented on #9500
Hi @Gp2mv3 thanks for taking the time to report this.

Can you check if you have any outstanding migrations? You can do this without applying them using the steps documented here: https://docs.mautic.org/en/troubleshooting/update-failed#3-check-for-outstanding-database-migrations

This column was added with [this PR](https://github.com/mautic/mautic/pull/7094) which was merged in the 3.1.0 release

[2020-12-15 15:36] RCheesley commented on #9187
@npracht I think I would favour the first option - especially when using UTM tags the links can easily get quite long!

[2020-12-15 15:38] Gp2mv3 commented on #9500
Oops, that was indeed the case... 2 migrations awaiting.

Thanks a lot for your message!

[2020-12-15 15:38] #9500 closed, assigned to nobody

[2020-12-15 15:40] RCheesley commented on #9500
No problem! As always, take a backup before applying! :)

[2020-12-15 15:57] RCheesley commented on #9113
@kuzmany wondering if this is still an issue in 3.x?

[2020-12-15 16:21] kuzmany commented on #9113
Closing

[2020-12-15 16:21] #9113 closed, assigned to nobody

[2020-12-15 16:26] escopecz commented on #1752
@RCheesley I was half-way through cherry-picking the 70-commit PR with automatic A/B test winner but found a blocking PR https://github.com/acquia/mc-cs/pull/324 (internal) that used to be blocked by https://github.com/mautic/mautic/pull/7094 but it's not anymore. So I'll ask the author to push it to the community now.

[2020-12-15 16:29] RCheesley commented on #1752
Awesome, thank you for following up on that! Hopefully we can now start to move through these PR's at a decent pace and get things moving!

[2020-12-15 16:37] kuzmany commented on #1752
@escopecz awesome 👍

[2020-12-15 17:23] #8055 closed

[2020-12-15 17:23] #8060 closed

[2020-12-15 17:23] #8062 closed

[2020-12-15 17:23] #8095 closed

[2020-12-15 17:23] #8096 closed

[2020-12-15 17:23] #8100 closed

[2020-12-15 17:23] #8151 closed

[2020-12-15 17:23] #8216 closed

[2020-12-15 17:23] #8229 closed

[2020-12-15 19:13] ravinayag opened #9501 "Sent an email about vulnerabilities"
Please DO NOT report security vulnerabilities here. Send them to security@mautic.com instead. Give developers time to solve the security vulnerability before the report will be published.

I tested in 3.1, still the vulnerabilities applicable.

[2020-12-15 20:20] RCheesley commented on #9501
Hi @ravinayag please can you ping security@mautic.org as I do not see any reports which I can associate to you. Thanks!

[2020-12-15 20:20] #9501 closed, assigned to nobody

[2020-12-16 08:35] kuzmany opened #9502 "Foreign keys are not created on plugin install"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
On plugin install foreign keys

[2020-12-16 09:53] RCheesley commented on #7319
I'm guessing that this is related to #7385 #8153 which we're slating to address with 4.0 as they will result in BC breaks, so will tag this one for that milestone as well.

[2020-12-16 10:10] namratasaun commented on #4031
any update on this?

[2020-12-16 11:47] #9093 closed, assigned to nobody

[2020-12-16 11:59] RCheesley commented on #9457
@trianity just to clarify, how exactly did you disable the attachment? Was it an asset in Mautic which you unpublished?

[2020-12-16 12:10] miguelpascual opened #9503 "extrange caracters in email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
In Send email to user
Send emai

[2020-12-16 13:03] trianity commented on #9457
@RCheesley Yes.
The asset ID=30 was used in a campaing sent email as an attachement (red arrow) - 2020 calendar. It was unpublished, and the esset ID=39 now the email attachment (2021 calendar). It should be a normal operation change an attached asset in a campaign send email. I was surpirsed when the whole queue hanged up.

![disable_2020-12-16_13-56-33](https://user-images.githubusercontent.com/

[2020-12-16 13:07] trianity commented on #9457
@RCheesley I will cretae some time to test it and will test in the my test-suite of the Mauitc. The issue was in a production instance and there is now the Xmass campaign.

[2020-12-16 14:22] internalfx opened #9504 "Mautic contacts activity API should return campaign ID for campaign membership events."
When requesting contact activity through the API you can see `campaign_membership` events. However they do not return the campaign ID that the contact became a member of.

[code]

The name is returned, but the ID is not. An ID would be better because it is immutable.

[2020-12-16 15:08] weismannweb commented on #9997
So i think we need a newer version of this file https://github.com/artf/grapesjs/blob/v0.15.10/src/commands/view/ComponentDelete.js

But I can not for the life of me find this file in the mautic grapesjs codebase.  Is there a trick here?

[2020-12-16 15:48] ldrrp opened #9505 "Tooltips dont go away"
## Bug Description
Tooltips in campaign builder seem to appear and never go away in some instances. A refresh will clear them but they usually come back fairly quickly while editing. Happens because I like to use my keyboard more than my mouse I guess. Tooltips will persist throughout mautic unless you refresh the page. Dashboard, configuration page, etc you name it they stay.

| Q   | A
| --- | -

[2020-12-16 16:38] Kwadz commented on #3102
@mdpalmer, by any chance do you remember how you _removed the segments from those emails_?

[2020-12-17 06:38] omert37 opened #9508 "Problem with Multiple Campaign handling: Creating second campaign causes MAUTIC to "ignore" previous one"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
It seems like there is a proble

[2020-12-17 07:03] TnowL commented on #9004
I'm currently on v3.2.1 and it seems like it has been resolved. Thank you.

[2020-12-17 14:18] npracht commented on #7316
Hi @luigidon @jsieber @phillipwilhelm can you test https://github.com/mautic/mautic/pull/9461 ?

[2020-12-17 16:44] #4168 closed

[2020-12-17 23:23] eojedapilchik commented on #6139
Not working only fetches leads, not contacts, and some leads are not fetched also.
Tried with: Suitecrm 7.11.18 and Sugarcrm 8 Professional
php 7.2
Mautic 3.1.1

[2020-12-18 03:00] hezll commented on #8457
You may face this issue if you failed to install before. (Please delete the database and re-create it)

[2020-12-18 16:16] cedoe commented on #8318
Hi @RCheesley , I have tested this with 3.2.1 and the problem still persists.

[2020-12-18 17:03] pwned555 opened #9512 "Attempted to call an undefined method named "validateValue" of class "Symfony\Component\Validator\Validator\RecursiveValidator""
Mautic version - v3.2.1
PHP version - 7.3.24

## Description:
Error when trying to create a new custom field of type Time (and I believe Date).

### Steps to reproduce:
1. Create a new custom field for company that is a time field (I believe date will do this as well)
2. Populate the values and try to save the new custom field, below error will be given

### Log errors:

mautic.CRITICAL: Uncaught

[2020-12-19 02:55] YosuCadilla commented on #6139
Probably not very helpful, but you should be running Mautic 3.x with PHP 7.3
Also pay attention to the DB version (see Mautic requirements).

[2020-12-19 06:19] Kwadz commented on #8261
Why this issue has been closed?

[2020-12-19 06:27] npracht commented on #8261
Hi ! I let you read the previous messages. This is more a configuration and server performance issue. Go to forum or slack if you want to discuss about it.

[2020-12-19 16:26] kuzmany commented on #9491
This PR cause it: https://github.com/mautic/mautic/pull/9108
It happend If you use in email any unicode character
Continue investigation what are we able to do with it

[2020-12-19 16:33] leoborlot opened #9513 "Campaign break after do you connetc this node like the sample"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hi folks. Did I help a customer

[2020-12-19 19:05] trianity commented on #9491
@kuzmany Thanks for the idea.

The PR #9108 is irrelevant from the view point of this issue, but the line 452 in the /app/bundles/CoreBundle/Helper/InputHelper.php file is responsible for it.

Line 452:
[code]
The condition is wrong, if the $doctypeFound is TRUE, e.g the info element is found in the line 400, so the element `<!DOCTYPE html>` is exist, it will reproduce it.

The proper code is with

[2020-12-19 21:53] tuiuiudev commented on #9400
Hey, hey, how are you all doing?

v3.2.1

Still get it:

### **Log errors**

[2020-12-19 03:24:40] mautic.ERROR: Invalid clickthrough value: Yjo4OntmOjk6ImZiaGVkZiI7Yjo1Ont2OjM7Zjo0NzoiZGJ6Y2J2dGEuZmlmYWciO3Y6NDt2OjQ0OTt9Zjo4OiJmemJ2eSI7djoyMjtmOjc6ImZnYmciO2Y6NTU6IjhhZWUwNThhZTIwYzU3MzIxNzcxNDQiO2Y6NzoieWZiZSI7Zjo4OiIyMzg3MSI7ZjowOiJkdWJhYWZ5IjtiOjQ6e2Y6ODoiZnpidnkiO3Y6MjI7fX0= {"exception":"[obj

[2020-12-20 05:26] npracht commented on #9491
Hi @kuzmany and @trianity can you test https://github.com/mautic/mautic/pull/9514 and confirm ?
Then we can merge for next release.

[2020-12-20 09:03] kuzmany commented on #9491
@trianity  No, that condition is right. Your change failed on basic html content

[code]

Doctype is added to code because is removed on cleanup html https://github.com/mautic/mautic/blob/features/app/bundles/CoreBundle/Helper/InputHelper.php#L446

`$value = self::getFilter(true)->clean($value, 'html');`

We need figure out why this method from

[code]

return

[code]

I've tried last version of c

[2020-12-20 09:17] adirbnology commented on #9400
Hi @tuiuiudev . Are u able to reproduce this somehow?

[2020-12-20 14:29] npracht commented on #9370
Fixed in 3.2.2

[2020-12-20 14:29] #9370 closed, assigned to nobody

[2020-12-20 14:32] npracht commented on #8995
Fixed in 3.2.2

[2020-12-20 14:32] #8995 closed, assigned to nobody

[2020-12-20 14:49] #9004 closed, assigned to nobody

[2020-12-20 14:52] npracht commented on #9481
Closed by https://github.com/mautic/mautic/pull/9498
Fixed in 3.2.2

[2020-12-20 14:52] #9481 closed, assigned to nobody

[2020-12-20 14:55] npracht commented on #9056
Fixed by https://github.com/mautic/mautic/pull/9380
Merged in 3.2.2

[2020-12-20 14:55] #9056 closed, assigned to nobody

[2020-12-21 08:49] LogProd opened #9518 "Mautic is not set to queue email"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-21 09:50] lanen-p commented on #8124
Hi Ruth, nope - upgraded to M3.2.1 - same issue.

The very last step in bounce management by Mautic isn't executed - marking the bounced contact as "do not contact"

[2020-12-21 11:20] gargmukesh05 commented on #821
is it poosible to allocate leads to multiple users with the same interest and same city

[2020-12-21 16:54] alanhartless commented on #9502
I’d recommend to use the IntegrationBundle’s migration system instead of relying on Doctrine to generate.
https://github.com/mautic/plugin-helloworld/blob/mautic-3/HelloWorldBundle.php#L7
https://github.com/mautic/plugin-helloworld/tree/mautic-3/Migrations

My guess is that Doctrine doesn’t recognize the relationship from the core side based on the plugin's entity metadata. Or maybe the relationsh

[2020-12-21 16:56] alanhartless commented on #9502
Sorry, I went from the slack message and didn't fully read the description above. 🤦 Regardless if Doctrine generates the schema diff, I'd still recommend using the IntegrationBundle's migration system.

[2020-12-21 17:02] kuzmany commented on #9502
Ok, thanks.

[2020-12-21 17:02] #9502 closed, assigned to nobody

[2020-12-22 02:55] alanhartless opened #9528 "Campaign update contact action is updating all blank date/time fields with today's date"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
https://github.com/mautic/mauti

[2020-12-22 17:44] alexhammerschmied commented on #9998
Yes. The finished page holds all links to the builder css and js files. We need to purge this code on save.

[2020-12-22 18:07] adiux commented on #10001
@martinstr is this still an issue?

[2020-12-22 18:29] kuzmany commented on #10001
Yes, I think yes. It's in plugin codebase, I can take it

[2020-12-22 19:00] adiux commented on #10001
thanks @kuzmany!

[2020-12-22 19:19] tuiuiudev commented on #9400
Hey there @adirbnology how are you doing?

We just upgraded to v3.2.1, and now we are getting it.

Have no ideia on how to reproduce it. And the worst thing is, we can not know in which email this error occurred.

But, everything @danielwpsouza described I have done in my campaigns.

We are also using AWS SES through API, sending immediate (not with queue).

Today got more those:

[2020-12-22 17:5

[2020-12-22 19:58] alexhammerschmied opened #9996 "Link Editor is out of viewport on bottom page/email links"
When inserting a link on the bottom of the page the editor window is cut and out of the viewport.

[2020-12-23 06:24] omert37 opened #9532 "Reporting problem: Bounce callback via endpoint (SendGrid webhook) Recorded & Processed BUT not showing up on reports"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I have been using the SendGrid

[2020-12-23 07:38] EnziinSystem opened #9533 "package-versions does not exist and could not be created."
My environment:
[code]
I download the zip file and composer install
[code]
It very simple, but I get an error.
[code]

[2020-12-23 08:10] adirbnology commented on #9400
thx @tuiuiudev . we using SES API as well although i couldnt find anything that might explains this in the amazone api code.

however i added to the error log the source ip. and the only thing i could find is that 95% of the ips that having this error  are belong to MICROSOFT-CORP-MSN-AS-BLOCK.

[2020-12-23 13:51] elilogan commented on #9518
It’s customary to post error logs found in mautic/var/log so we can help you determine the exact nature of the error.
In the meantime can you verify in Settings / Configuration / Email Settings that “How should email be handled” is set to Queue

Open path/to/mautic/app/config/local.php with your favorite text editor and set Debug to “True” and save it (Line 471 on my test install buy yours may var

[2020-12-23 19:29] diegolr62 opened #9535 "Version 3.2.1-1 performance"
Our installation has 200k contacts and sends about 800k messages per week. With the old 2.16.3 version we managed to tune the database and the performance was reasonble. Our VM has 4 cores and 16 Gb assigned.

After upgrading to version 3.2.1  MySQL, is taking about 9Gb of that RAM but the performance is really poor, login in takes more than 5 minutes and when we are sending emails the system get

[2020-12-24 04:38] valmedia opened #9536 "Utm added to url with query string should use "&" instead of ?"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-24 09:59] pvnakum7 opened #9537 "api auth 1 and geting error after request inside table oauth1_request_token user_id is null and it is creating issue"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-24 10:29] npracht commented on #9512
Hi @pwned555 ! Can you please test https://github.com/mautic/mautic/pull/9534 ?

[2020-12-24 11:43] 3birds-ronak opened #9538 "api auth 1 and geting error after request inside table oauth1_request_token user_id is null and it is creating issue"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-24 12:35] #9537 closed, assigned to nobody

[2020-12-24 12:37] pvnakum7 commented on #9537
We will look into this not now so close

[2020-12-25 13:32] npracht commented on #9536
Hi @valmedia !
Thanks for your message. I'm very sorry but I'm not sure to understand. Could you please document more in detail and use example to explain your issue ?

Thanks

[2020-12-25 13:34] npracht commented on #9535
Hi @diegolr62 !
Thanks a lot for your message. Would you kindly propose a Pull Request for the change your suggest ? That might be the best way to test it and ask other contributors to review it and probably merge it in core.

[2020-12-25 13:36] npracht commented on #9518
Also you use the command that send automatically segment email. But did you add a publish date to segment email to trigger it automatically ?

[2020-12-25 13:38] npracht commented on #9532
Hi @omert37 !
Could you please test https://github.com/mautic/mautic/pull/9106 and tell if it helps to solve your issue ?
Thanks !

[2020-12-25 13:38] npracht commented on #9528
Fixed in 3.2.2

[2020-12-25 13:38] #9528 closed, assigned to nobody

[2020-12-25 13:40] npracht commented on #9320
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] npracht commented on #8512
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] #8512 closed

[2020-12-25 13:40] npracht commented on #7708
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] #7708 closed

[2020-12-25 13:40] npracht commented on #9388
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] npracht commented on #8458
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] #8458 closed

[2020-12-25 13:40] npracht commented on #9360
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] #9360 closed, assigned to nobody

[2020-12-25 13:40] npracht commented on #9173
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:40] #9173 closed, assigned to nobody

[2020-12-25 13:41] npracht commented on #9111
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:41] #9111 closed, assigned to nobody

[2020-12-25 13:42] npracht commented on #9070
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:42] #9070 closed, assigned to nobody

[2020-12-25 13:42] npracht commented on #8515
Closing for lack of feedback. If more later, we'll re-open the issue.

[2020-12-25 13:42] #8515 closed

[2020-12-26 08:35] directpromo opened #9539 "Google defines Mautic as a malicious program and blocking"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Google defines Mautic as a mal

[2020-12-26 11:37] valmedia commented on #9536
So I have an URL like https://xxxx.com/cart/?mauwoo_utype=guest&mauwoo_uid=testtest@test.com added to email content and I also have UTM parameters added to the "Google Analytics UTM tags" section of the edit section. So when the email is sent out, the utm parameters would be added to this URL with "?" instead of "&". So the URL ends up being "https://xxxx.com/cart/?mauwoo_utype=guest&mauwoo_uid=te

[2020-12-27 04:24] saitanay commented on #9473
This extends to not just incorrect credentials - but to other things related to db - like - DB connection refused, DB incorrect credentials, or table already exists, or deadlock, - all types of exceptions defined in convertException() in AbstractMySQLDriver.php

For any of these exceptions - the corresponding message is not shown on installation screen, but shows a generic Mautic 50x page. Further

[2020-12-27 08:50] saitanay commented on #9085
Same issue.

` Expected response code 220 but got an empty response (code: 0) at /var/www/html/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Plugins/LoggerPlugin.php:124)"} []
[2020-12-27 08:21:45] mautic.ERROR: [MAIL ERROR] Expected response code 220 but got an empty response Log data: ++ Starting Swift_Transport_SendmailTransport !! Expected response code 220 but got an empty response (code:

[2020-12-27 12:48] saitanay commented on #9536
Tested on 3.2.1

Added link on email
`https://xxxx.com/cart/?mauwoo_utype=guest&mauwoo_uid=testtest@test.com`

Email GTM config
<img width="402" alt="image" src="https://user-images.githubusercontent.com/3456349/103170969-6c915b80-486e-11eb-9d51-62a9c04e9387.png">

Link received in email (sent via Amazon SES):
`https://xxxx.com/cart/?mauwoo_utype=guest&mauwoo_uid=testtest%40test.com&utm_source=goo

[2020-12-28 01:40] smcpeck opened #9540 "Install issues when using Galera Cluster"
Because of how a [Galera cluster works](https://galeracluster.com/library/kb/auto-increment-multiples.html) (each node has its own "next value" for an `auto_increment` column), there can be inconsistency when installing Mautic and creating the admin user.

The install code assumes that the `Administrator` role will always have an `id` of 1.

https://github.com/mautic/mautic/blob/37ed5ee87900522c88

[2020-12-28 03:35] saitanay commented on #9478
Stumbled into the same issue today.

@atulgarg22  - if you want to get your 3.2 branch checked out from repo up and running, without changing your composer version, a quick workaround for that would be to download the zip package of Mautic 3.2 from https://www.mautic.org/download . And copy the vendor folder from that package to your 3.2 codebase checked out from github. While this gets it up and

[2020-12-28 05:20] saitanay commented on #9187
Tried to fix via https://github.com/mautic/mautic/pull/9541

[2020-12-28 10:16] valmedia commented on #9536
I figured it out now. We used {contactfield=mwb_abncart_url} as URL and it seems to replace the placeholder after Mautic added UTM parameters so Mautic didn't detect the "?".

-Tony

[2020-12-28 11:07] saitanay commented on #9414
@pbdco @mabumusa1

1. **amazon_region.sa_east_1** is the same as **South America (São Paulo)** - which is available as an option in the drop down. Can you try with that and confirm if you are able to configure and if it is working.

Ref - https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-availability-zones

<img width="602" alt="image" src="https://

[2020-12-28 11:31] saitanay commented on #9242
Seems to work on Mautic 3.2.1 with latest Firefox 84.0.1 (64-bit)
(issue originally reported and verified by Ruth earlier with Mautic 3.0.2 and FF 7.x)

https://www.loom.com/share/bf3030b13bdb459b8939ce414ea1e16c

[2020-12-28 13:02] saitanay commented on #9255
Triage -

This seems to be the behavior with not just **Dynamic Content**, but also other slots like **"Image Card"** , **"Code Mode"** or any type of slot that has more than one word.

This method in 4.builder.js seems to be converting the machine name of the slot type, to upper case, to print it the title of the slot toolbar.

`
Mautic.getSlotToolbar = function(type) {
    Mautic.builderContents

[2020-12-28 15:31] #9536 closed, assigned to nobody

[2020-12-28 15:34] RCheesley commented on #9187
@cla-bot check

[2020-12-28 15:36] RCheesley commented on #9473
This did not used to be the case so there has been a regression somewhere. It used to show a red highlighted text warning that something was wrong.

[2020-12-28 15:37] #9242 closed, assigned to nobody

[2020-12-28 19:12] luison commented on #7360
Late to this discussion and new to Mautic but in case of any help we have been using for almost two years MJML from within our own php code generator based on twig templates (coded as MJML) that get parsed by a small node server before we parse them with an HTML editor prior to delivery. email generated code is cluttered and hard to edit once parsed but seems to work fine in most readers, responsi

[2020-12-29 01:38] mktsjp opened #9543 "Upgrade to 3.2.2 --> Channels --> Email +New button no longer working"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Upgrade to 3.2.2 --> Channels -

[2020-12-29 02:03] mktsjp commented on #9543
My apologies, turn out to be an issue with mautic-home/var/logs directory permission issue.

[2020-12-29 02:03] #9543 closed, assigned to nobody

[2020-12-29 03:11] saitanay commented on #9539
Can be merged/closed as duplicate of https://github.com/mautic/mautic/issues/7524

The best path forward is creating a GTM community template for Mautic
From google on https://support.google.com/tagmanager/answer/6328489?hl=en
`The best way to avoid malware issues is to use the tag templates built into Google Tag Manager. Tag manager supports a wide number of 3rd party tag templates, and many more

[2020-12-29 03:41] saitanay commented on #9533
Can you confirm the version of composer you are using. I believe this is being caused by using composer v2.

Quoting @RCheesley from https://github.com/mautic/mautic/issues/9478
`Hi there, we do not currently support composer v2, we hope to introduce that in Mautic 4.0 (we have to bump some dependencies which will cause a BC break, so we can't bring it in before then).`

[2020-12-29 04:25] saitanay commented on #9508
@omert37

I tried testing this with 2 campaigns set to different schedules, and observed that the emails from the 2 campaigns were delivered as expected.

1) Would it be possible to add more details about the campaigns you have, like the source of the campaigns, the schedules of the campaigns, and any other steps or configuration you feel is relevant to replicating this issue.
2) Also, can you sha

[2020-12-29 04:57] saitanay commented on #9322
Can confirm this is the behavior.

The options added in Advanced section of the email are not present in the email received.
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/3456349/103259620-2f3ce300-49c0-11eb-9500-564186ead83f.png">

Fixing this might require not just updating the parsing of the email being sent to include the attachment and headers, but will also req

[2020-12-29 05:16] npracht commented on #9539
Closing in favour of https://github.com/mautic/mautic/issues/7524

[2020-12-29 05:16] #9539 closed, assigned to nobody

[2020-12-29 18:01] tuiuiudev commented on #9400
thx @adirbnology . Hope we figure it out this some how.

[2020-12-30 05:05] smcpeck opened #9545 "Landing page doesn't autofill form with querystring parameters"
## Bug Description
The more details the better...

| Q   | A
| --- | ---
| Mautic version | 3.2.2
| PHP version | 7.2.34

### Steps to reproduce
1. Create form with fields email_address, first_name, last_name

![image](https://user-images.githubusercontent.com/8724583/103330808-b1f98880-4a28-11eb-9615-336c58303586.png)

2. Create landing page with form embedded

3. Create e-mail with link to landi

[2020-12-30 10:40] raghav111jain opened #9546 "mautic email going in spam and also not display image please Help ASAP"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2020-12-30 12:05] raghav111jain commented on #9546
**please let me know if my site SSL Expire if you sent email with image but not display in mail & also going in spam so that's SSL Issue ??? Please Help ASAP**

[2020-12-30 13:06] Aerendir commented on #8924
Just as reference as it may be useful to others, here I published the solution: https://forum.mautic.org/t/impossible-to-update-from-2-16-0/14858/13?u=aerendir

[2020-12-30 19:00] Aerendir opened #9548 "Mapping of entities is invalid"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Running `bin/console doctrine:s

[2020-12-30 19:07] Aerendir commented on #9546
Do you really think that with a message like this we can help you? 😳

Anyway this is not the right place where to ask for support.

Go here: https://forum.mautic.org/

[2020-12-30 19:36] jbrass commented on #9388
I am getting this same issue on a fresh install using the 3.2.2 tag and mysql 8 db.

[2020-12-30 19:51] littlecluster commented on #9388
Does your db username include a "-"? This is one potentially cause for this (I only know because I had the issue myself).  If this is not the case then ensure there is no "-" in any of the following params being pushed into PDOConnection.php:
     * @param string $dsn The DSN to the database
     * @param string $username Database username
     * @param string $password Database password

There ma

[2020-12-30 19:54] raghav111jain commented on #9546
@Aerendir thanks you

[2020-12-30 19:54] #9546 closed, assigned to nobody

[2020-12-30 21:46] jbrass commented on #9388
Yup - there is a "-" in the hostname.  Trying it with a hostname without the "-" cleared up the issue.

Thanks!

[2020-12-31 09:10] iml885203 commented on #9238
same issue with me.
It will happen a form without a contact field.

version: 2.16.2 and 3.0.2 and 3.1.2

1. create campaign or standalone form
2. add a new field: text
3. type the label into "My name"
4. Save & Close

[2020-12-31 11:37] saitanay commented on #9545
**Triage/Analysis**

Firstly, this is not related to pages or emails, as the functionality to populate the form by adding params to  the URL seems to be broken. ie, ?email_address=saitanay@example.com is not working, let alone passing token like ?email_address={contactfield=email}

The reporter also suggests the same
`just going with ?first_name=Shaun&last_name=McPeck still fails to populate (and

[2020-12-31 13:27] cpot opened #9551 "Wrong company in Contact list"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When associating a contact to s

[2020-12-31 17:16] smcpeck commented on #9545
Thanks for your detective work on this @saitanay! I can confirm that the RegEx change **does** fix the autofill issue that I was experiencing. It even works for e-mail addresses, so that was a red herring -- the `@` is not an issue in the querystring and things don't need to be URL encoded.

This feels like a pretty important part of Mautic's overall usefulness, so I'd also hope that we could see

[2020-12-31 17:46] saitanay commented on #9545
Thanks for confirming that the fix works @smcpeck .

I am currently checking on some PHPUnit tests that are failing for the PR I raised. (https://github.com/mautic/mautic/pull/9550)

Once I understand the failing tests, and fix (either the test or the code), I intend to look into the other field types as well.

Will need to check this further. I am not sure what that means.

Rightly said

[2020-12-31 18:05] smcpeck commented on #9545
🍻  Cheers to you, @saitanay.

To be clear, I'm looking at how the following `Behavior` flag is consumed on a `Field` for the `Form`:
![image](https://user-images.githubusercontent.com/8724583/103421099-474b6880-4b60-11eb-8f72-6a190a366e51.png)

...and maybe that's a whole different issue. I don't want to load up too many bugs in one issue/PR. So I'm happy opening another issue for that item if it

[2020-12-31 18:11] saitanay commented on #9545
Thanks, that clarifies. Yeah, adding that as a separate bug helps.

Meanwhile, for the other field types - an earlier PR that I raised (and closed) addresses all field types. I closed it and trimmed down the changes to just the text field type until I figured out the issues with PHPUnit tests issue with the text field type.

Meanwhile, if you need the fix for other field types for reference to try

[2020-12-31 18:27] saitanay commented on #9551
Checked on 3.2.1

Added a contact, added Company 1, added Company 2, to contact.

Deleted Company 1.

Contact overview page shows Company 2 only as expected.

Verified that the entries in the below tables are updated accordingly

- companies
- companies_leads

@cpot  - can you see if you have any entries in the log when you deleted the first company?

[2021-01-01 18:52] smcpeck opened #9552 "Autofilled form fields not respecting visibility flag on landing page"
## Bug Description
When autofilling form fields on a landing page, the fields are not hidden if `Show when value exists` is set to `No` for the field's `Behavior`.

![image](https://user-images.githubusercontent.com/8724583/103421099-474b6880-4b60-11eb-8f72-6a190a366e51.png)

| Q   | A
| --- | ---
| Mautic version | 3.2.2
| PHP version | 7.2.34

There is some tangentially related discussion in #95

[2021-01-02 14:57] stremshs opened #9553 "Character "%" in signature causes Error 500"
In my general config, I had an HTML signature working fine on Mautic version 2.
I've upgraded to Mautic 3.2.2, and wanted to change my Email configuration.
When saving my new config, I had an Error 500.

I found out this was caused by the HTML signature :

When trying to save this signature :
[code]

An error 500 occurs.
Here is the log message :
`[2021-01-02 15:22:16] mautic.CRITICAL: Uncaught PH

[2021-01-04 22:45] pwned555 commented on #9512
I have tested the change and it fixes the bug.

[2021-01-04 23:06] linuxhead2 commented on #7751
Is this solved? Facing the same issue - whats the point of having Mautic if you can't send emails. This is a useless product.

[2021-01-04 23:08] linuxhead2 opened #9555 "Mautic campaign not sending out emails"
Hi,

I have mautic marketing automation system installed on Centos 7 running on PHP 7.3.

Mautic doesn't send out emails though you have contacts in the segment and also in the campaign. The status of the campaign is pending. Campaign and marketing messages are published.

Any ways to solve this?

[2021-01-05 04:02] r-martins opened #9556 "SplFileInfo::getSize(): stat failed when running upgrade_v3.php"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When upgrading from 2.16.4 to 3

[2021-01-05 04:48] r-martins opened #9557 "mautic/core 3.2.2 requires willdurand/oauth-server-bundle dev-release-0.0.3 -> no matching package found"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Q   | A
| --- | ---
| Mautic

[2021-01-05 10:10] adirbnology opened #9558 "missing table prefix on campaign repository"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-05 14:38] nbwpuk opened #9563 "Cookie Use and Classification"
## Description
I have the pleasant task of task of updating our cookies policy and classifying all cookies that we use. We have Mautic setup to track website visitors and current customers.
We have four cookies that are being set by Mautic: mtc_id, mautic_device_id, mautic_referer_id & mtc_sid
I have search the documentation but can only find details for mtc_id ( https://docs.mautic.org/en/contact

[2021-01-05 14:41] RCheesley commented on #9563
Hi @nbwpuk a great question, but one suited for the forums at https://forum.mautic.org rather than Github. Please can you pop a post up there, and hopefully with the replies we can collectively improve the documentation on this important topic!

[2021-01-05 14:41] #9563 closed, assigned to nobody

[2021-01-05 15:51] Plato39 commented on #9219
I just tested this in the latest Mautic release - v3.2.2
The problem with the Audit Log still exists.

[2021-01-05 15:57] cpot commented on #9551
@saitanay thank you for investigating, i have not myself access to the logs but will see if i can request them to the IT dept.

[2021-01-05 16:05] loscoto commented on #8198
I can confirm the same error with Mautic 3.2.2 and MySQL 8.0.22 when having Identified segment filtered by Identified date to be not null.
`SELECT count(leadIdPrimary) count, max(leadIdPrimary) maxId, min(leadIdPrimary) minId FROM (SELECT DISTINCT l.id as leadIdPrimary, vMerGkjS.lead_id AS vMerGkjS_lead_id FROM leads l LEFT JOIN lead_lists_leads vMerGkjS ON vMerGkjS.lead_id = l.id and (vMerGkjS.le

[2021-01-05 16:22] dennisameling commented on #8974
Reopening because the issue with Transifex still hasn't been fixed and needs further investigation

[2021-01-05 20:23] NickStallman commented on #7549
This is not a stale issue.

[2021-01-06 09:41] LeonOltmanns opened #9564 "Possibly wrong upgrade.zip for 3.2.2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When trying to upgrade Mautic 3

[2021-01-06 11:52] LeonOltmanns commented on #9564
Found the mistake. I used "`--finish`" in `sudo -u www-data bin/console mautic:update:apply --finish --update-package=3.2.2-update.zip`, which stops the Upgrade vom actually applying.

[2021-01-06 11:52] #9564 closed, assigned to nobody

[2021-01-06 12:02] incancanada commented on #9007
Still Facing this issue

Connection could not be established with host smtp.gmail.com :stream_socket_client(): SSL operation failed with code 1. OpenSSL Error messages: error:1408F10B:SSL routines:ssl3_get_record:wrong version number
Any solution for this

Test Connection seems to work but fails on send test email

[2021-01-06 12:32] hoylen commented on #9008
This is still an issue in Mautic 3.2.2.

[2021-01-06 19:59] samuelfaith commented on #9119
Line 64 of CoreBundle/Templating/Helper/GravatarHelper.php contains direct link to default_avatar.png on Mautic.org. I changed it to: '/media/images/avatar.png' which is the local default avatar file. It works.

[2021-01-07 02:29] erizonweb opened #9565 "No options for multiple sending domain (multiple feature feedback)"
Hi, I first would like to say something about Mautic.

I originally started using Mautic on my self-hosted VPS email server and absolutely loved it, so I want to thank the community for making such a great tool.

.... however, I have unfortunately been forced to move over to MailWizz for 1 main reason = lack of options for multiple sending domains.

For such an amazing tool this is such a big sham

[2021-01-07 03:21] r-martins commented on #9345
It seems to me that the mentioned #8903 has nothing to do with the accented characters when using SES API.
The problem still persists on v. 3.2.2.

[2021-01-07 08:37] mabumusa1 commented on #9345
@r-martins please check this PR https://github.com/mautic/mautic/pull/9434, it should handle unicode characters in the from name and email address. if it works for you please leave a review on the PR so we can merge it in the next release

[2021-01-07 09:11] dl-lim opened #9567 "Internal Error 500 when opening Segments"
| Q   | A
| --- | ---
| Mautic version |  3.2.2
| PHP version | 7 (Docker mautic:v3)
|Database type and version | mariadb:10.4
| Browser | Chrome

### Steps to reproduce
I use the mautic:v3 docker image and spun up a container. Then updated via the bell icon on the web interface, from 3.0.2 to 3.1.2 and then from 3.1.2 to 3.2.2. Please let me know if there is a better way to do this directly to ge

[2021-01-07 10:45] alissimo commented on #8815
@k2-Marketing same problem for me in both hubspot and vtiger integration: try mapping the mauticContactTimelineLink to a hubspot (or vtiger) field, the warking triangle keeps appearing and not allowing to save.
Have you found any solution?

[2021-01-07 11:25] RCheesley commented on #2992
Still an active issue :)

[2021-01-07 11:25] RCheesley commented on #7524
Still an active issue :)

[2021-01-07 11:51] RCheesley commented on #9565
Hi there, thanks for the suggestions however we use the forums for feature requests and I notice that we already have this feature requested [here](https://forum.mautic.org/t/ability-to-specify-different-email-gateways-to-use-for-different-purposes/10620/5).

Please add your vote there and any additional details.

If you wish to work on this we welcome pull requests - the documentation for contrib

[2021-01-07 11:51] #9565 closed, assigned to nobody

[2021-01-07 16:19] dl-lim commented on #3358
@johackim

I'm using the docker-mautic image mautic:v3. So, I suppose opcache is installed by default? Hardware is overkill.

Sadly, am also getting significantly slow response times. Takes like 60 seconds to go from dashboard to configuration page, 10 seconds to click Add New whatever, etc.

And that's just the backend, which is fine and my staff and I can pace around the office while waiting, un

[2021-01-07 18:56] namratasaun commented on #2863
I am not getting this issue in 2.16 but again getting it in 3.2
When I am using tracking pixel for mobile apps

[2021-01-07 23:35] r-martins commented on #9345
Thanks for that @mabumusa1.
I was able to implement your change, tested and commented there (#9434).
I hope they merge your contribution in the next release.

[2021-01-08 09:12] escopecz commented on #3358
The times you are describing are not what I'm experiencing with my Mautic instances. The truth is that the more data in the database (talking millions of rows here) the slower the response times. If you are getting this slowness on a fresh installation then there must be something else wrong. Use some PHP profiler like Tideways to find out what the bottlenecks are.

[2021-01-08 09:44] #9512 closed, assigned to nobody

[2021-01-10 21:00] lukafatur commented on #4135
I seem to be having the same problem.

I set up the dynamic content to be filtered according to some custom fields. I have then integrated that dynamic content into my HTML template for my email - and when I manually send it id does not fill up the dynamic content :( - btw I'm in love with Mautic 👍

[2021-01-11 11:00] RCheesley commented on #9558
Hi @adirbnology thanks for reporting this, can you confirm if this happened after updating to 3.2.2 (as a side note you should really be using the released version rather than the Release Candidate if you're in a live environment!) or with a new install?

Can you check if the table exists in your instance, and if not whether there are any outstanding schema updates (see docs [here](https://docs.ma

[2021-01-11 11:07] adirbnology commented on #9558
i can confirm its happening after updating to 3.2.2.

regarding the table - it exists with a prefix. users who has no table prefix on their setup wont have this bug.

[2021-01-11 11:11] RCheesley commented on #9558
Would you be up for making the PR to fix this? Happy to help or there are some docs here: https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests

[2021-01-11 11:20] adirbnology commented on #9558
i can try.

[2021-01-11 12:22] pety-dc opened #9572 "possible bug in resend code in retry times handling"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When an email send failes, it g

[2021-01-11 15:12] PatricioMds opened #9576 "Error 500 on new install"
| Mautic version = 3.2.1
| PHP version = 7.4.9
| Browser = tested on Firefox and Chrome

Hello,
I've uploaded all the files to a new folder on the server and followed the instructions in here https://docs.mautic.org/en/setup/getting-started about the file ownership. But when I load the application to start the installation it shows error 500. I don't even get the page to set the database.

The cac

[2021-01-11 15:38] adirbnology opened #9577 "issue on lead timeline for sms (text message)"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
when opening lead timeline , sm

[2021-01-11 22:23] beananimal commented on #7524
It is not just you guys... Google appears to mark just about any tracking script or affiliate marketing pixel and associated domain as "malicious" and there is no recourse. None of this appears in any google transparency report, tool or support mechanism. This is by design.  This is not about google protecting end users, it is about google preventing affiliate revenue that they are not monetizing.

[2021-01-12 10:12] andrew-dixon commented on #9567
I have the same issue after following the same upgrade steps. Generally works but certain things don't work and generate the  "Uh oh!...." response in the interface, e.g. saving a new email. Other things just don't respond, like clicking on a contact to open the contact, but they are also generating the same 500 response in the background.

Cannot find anything in any log file or log output on the

[2021-01-12 10:58] andrew-dixon commented on #9567
So, after a bit more digging about I managed to find some error logs in `var/logs` and these pointed me to the fact it was a database error, specifically a missing column from the DB. In the documentation it suggests running:

[code]

However, this just said everything was up-to-date. So instead I took a look at the command line `console` tool and found the `doctrine:migrations` options in it. I t

[2021-01-12 17:10] protondev9 opened #9579 "add proxy support for the http/https updates"
## Bug Description
Currently Mautic does not allow the updates via a proxy server: there seem to be no setting to confugure proxy support in Mautic configuration files and Mautic does not respect HTTP_PROXY or HTTPS_PROXY environment variable for CLI operations.

### Log errors
Without setting HTTPS_PROXY, running `mautic:update:find` returns `An error occurred while checking for updates. Please t

[2021-01-12 17:20] RCheesley commented on #9579
Hi there,

Thanks for taking the time to report this issue, unfortunately you are using a very outdated version of Mautic so you will not benefit from the features and bug fixes that we are introducing.

This version has not been actively supported since June and security support ended in December 2020 ([see supported versions](https://github.com/mautic/mautic#supported-versions)). You should upda

[2021-01-12 17:20] #9579 closed, assigned to nobody

[2021-01-12 17:33] protondev9 commented on #9579
Can you clarify what does this issue have to do with reverse proxying? :confused:

[2021-01-12 17:37] RCheesley commented on #9579
I was sharing as an example of an issue that was recently resolved in 3.x relating to issues with using proxies - we are actively working on issues like the one you raised but you will not get any fixes on your current version and we will not be looking into issues that are raised for that version either.

[2021-01-12 22:52] lucasmonnin commented on #9567
Hi everyone,
had the same issue after upgrading to Mautic 3.2.2, I couldn't access to contacts.
I ran this command via SSH and it came back to normal :

`php /home/default/html/bin/console cache:clear `

Hope this will help :)

[2021-01-13 06:21] alderson59 commented on #9567
@andrew-dixon Thanks, I just got around to attempting your php commands.

However, suddenly, today, I wasn't able to update at all. I did exactly the same steps, to no avail. The web update just got stuck at "Downloading package", status "In progress", for a full 30 mins. Tried this 3 times on 3 fresh containers. Cleared cache, pulled new container.

Did no changes to the server except try again.

[2021-01-13 10:31] dl-lim commented on #9567
@andrew-dixon , Thank you for the help!

I did as you suggested, while clearing cache before and after each step. Works well at 3.2.2 now!

Perhaps this could be added to the docker mautic documentation?

Here are my steps for reference:
Click on the bell icon on top left after signing in to update via web.

After updating, `docker exec` into the container, and do the following:

Clear cache
`rm -

[2021-01-13 10:31] #9567 closed, assigned to nobody

[2021-01-13 10:34] RCheesley commented on #9567
We have an open issue in the Docs repo for writing documentation on working with Docker: https://github.com/mautic/mautic-documentation/issues/159 - please do hop in as we would appreciate all contributions!

[2021-01-13 11:45] andrew-dixon opened #9582 "Add email via API requires "publish others" permission for own email to be published"
## Bug Description
If you add a user role with the permissions to "create" and "publish own" emails and then use the API to create a new email and you send `isPublished=1` in the call, meaning the email should be published, it will return as `isPublished: false` in the response and show as unpublished in the Mautic interface.

If you change the user role to include the "publish others" emails perm

[2021-01-14 04:58] namratasaun commented on #7597
this works. thanks

[2021-01-14 07:07] maddy2101 opened #9583 "Install Error mautic 3.2.2"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

| Q   | A
| --- | ---
| Mautic

[2021-01-14 08:50] ghost opened #9584 "Updating contact fields via campaign fills date fields"
## Bug Description
I created a campaign which should automatically fill custom contact fields. This worked well, but also all date and date+time fields in the contact were updated, even if I didn't select them. They were updated with the current date and time

| mautic v3.2.1 |
| PHP version 7.3.22 |

### Steps to reproduce
1. create a campaign
2. use the action "update contact"
3. fill in a value

[2021-01-14 15:51] maddy2101 opened #9585 "Update 3.2.2 -> 3.2.3 fails"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-14 16:02] ikolubr commented on #9585
Same error here.

[2021-01-14 16:08] dennisameling commented on #9585
Thanks for reporting this! We're currently looking into it

[2021-01-14 16:23] dennisameling commented on #9585
This is a bug we accidentally introduced in version 3.2.0 and only applies to CLI updates. The fix is simple; we'll be releasing an updated version within the next 30 mins 👍🏼

[2021-01-14 16:54] andrekutianski commented on #9585
Same problem on PHP 7.3

[2021-01-14 16:54] dennisameling commented on #9585
Workaround will be posted here within 10 mins, we just released 3.2.4 which prevents this in the future

[2021-01-14 17:11] dennisameling commented on #9585
TL;DR here's the workaround:

[code]

### A bit of background

We introduced a bug in 3.2.0 in the **download** step of the CLI update. Hence the workaround above, where you download the update package manually, mitigates this issue.

The bug has been fixed in 3.2.4. Users who have updated to that version won't be affected by this issue anymore.

We deeply apologize for the inconvenience and will

[2021-01-14 17:17] ikolubr commented on #9585
Thank you sir.
Perfectly fixed.

[2021-01-14 18:06] #9585 closed, assigned to nobody

[2021-01-14 19:11] netzimon opened #9586 "Not all calendar items are displayed on certain months"
## Bug Description
When I add a note to a contact and assign a date on a month where I have lots of events, the note entry is not displayed on the Calendar. When I switch the date to a month with less entries (either before or after the month that has lots of entries) the note shows up just fine on the calendar.
Is this a bug related only to version 2.x of Mautic? If so, is there a patch that can

[2021-01-14 19:29] netzimon commented on #9586
This issue may be the same as mentioned here: [Max of 100 Lead Notes shown on Calendar, and ordering is confused](https://github.com/mautic/mautic/issues/8685)

If so, is that bug fixed?

[2021-01-14 21:14] DevelopMan commented on #7963
Should we wait for a fix here?

[2021-01-14 21:19] DevelopMan commented on #7225
We still waiting for a solution.

[2021-01-14 21:21] netzimon commented on #9586
Confirmed - by changing the value declared in setMaxResults in the file app/bundles/LeadBundle/EventListener/CalendarSubscriber.php the calendar works normally again.

Is this something that will be fixed in a future version of Mautic? Meaning: either raising this limit by default or allowing the value to be changed in the config file.

[2021-01-15 08:31] dennisameling commented on #9583
`SQLSTATE[HY000] [2002] No such file or directory` normally means that you entered a non-existing database host IIRC. Could that be the case here?

[2021-01-15 08:40] dennisameling commented on #9556
Thanks for reporting this. Haven't seen this kind of issue before, and we tested extensively on Linux/Windows. Maybe this issue is Mac-related (looking at your upgrade log)?

The part where this error occurs is the step which checks if you have enough disk space available to do the Mautic 3 upgrade.

If you're 100% sure that there's enough disk space available, I'd like to offer you the following

[2021-01-15 08:48] vgpastor commented on #9513
I have the same issue in 3.2.1, the error happend wheen two actions based in time or date are assigned to one send email block. In my case to solve this separate the email to send in two blocks and return to the other chain if it's neccesary.

[2021-01-15 09:34] maddy2101 commented on #9583
not exactly, I had a typo in the host address. But the issue is not about my wrong DB credentials, but about the unneccessary error 500. A real error message telling me no connection can be made to my DB would have been much more helpful.

[2021-01-15 12:42] artem-ego commented on #9468
Hello there sorry about the delay but I have used the Mautic 3.1.2 version which is works with SES-API without issues. But now I upgraded my version to 3.2.4 of Mautic for [security purposes](https://forum.mautic.org/t/security-release-for-all-versions-of-mautic-prior-to-2-16-5-and-3-2-3/17786) and got the same problem. I have not changed the database collation which is `utf8_unicode_ci` just upda

[2021-01-15 14:07] Plato39 commented on #9548
Still present in 3.2.4

Do these validation errors cause any actual issues in Mautic?

[2021-01-15 18:28] dhilst opened #9591 "REST API permits the creation of bool fields without yes/no label. This then crashes Segment->New page."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The REST API permits you to cre

[2021-01-15 18:50] ultimike commented on #9585
As a newbie to Mautic, I also learned that after performing the update, it is normally a good idea to also [clear caches](https://docs.mautic.org/en/troubleshooting).

[2021-01-15 19:42] dennisameling commented on #9585
@ultimike normally, the update process does this for you. One of the last steps is to clear the cache. Were you experiencing any issues after updating?

[2021-01-15 20:40] ultimike commented on #9585
@dennisameling Yep: https://forum.mautic.org/t/after-updating-to-3-2-4-i-am-unable-to-create-or-edit-campaigns/17808

[2021-01-15 21:30] ldrrp opened #9592 "Leads stuck in loop inside tag check pre DST [$30]"
## Bug Description
When a campaign event was triggered for some leads on Oct 30th 2020 and scheduled past DST change, For example Nov 2nd 2020. The lead will get stuck in "should schedule" where date_triggered is always greater than now() causing the lead to get stuck in an endless loop where it reschedules. This is probably pertaining to how PHP DateTime works with comparing dates.

| Q   | A
| -

[2021-01-16 00:32] vonloh commented on #9284
are there any news?

[2021-01-16 03:05] russkiimike commented on #9585
Second as a newbie I had to reapply permissions on the folders as it didn't want to load pages after the update.

[2021-01-16 09:52] Aerendir commented on #9548
@Plato39 not always... maybe yes... maybe not... It depends...

And depends on the features you use...

[2021-01-16 12:37] dennisameling commented on #6040
Documentation added in https://github.com/mautic/developer-documentation/pull/177, changes going live today or tomorrow 👍🏼  thanks for reporting @Flavio1998

[2021-01-16 15:19] dennisameling opened #9593 "Deprecating PHP 7.2 support"
As discussed in https://github.com/mautic/mautic/pull/9451, we are planning to deprecate and remove PHP 7.2 support in Mautic.

This process will consist of two stages:

1. Show deprecation warning starting with Mautic 3.2.5 - PR: #9594
2. Fully remove support in Mautic 3.3.x - PR: #9451

Removing PHP 7.2 support unblocks the upgrade to PHPUnit 9, which in turn should make it easier to upgrade to

[2021-01-17 09:41] ceefour commented on #4016
My solution : ensure  to pass fastcgi_params HTTPS, see https://about.lovia.life/docs/infrastructure/mautic-engineering/installing-mautic-in-ubuntu-vm/

[code]

[2021-01-18 09:38] RCheesley opened #9595 "Add a warning to users with outdated Mautic versions"
I was thinking a bit more basic that anything less than the latest version, show a message that they are not running the latest version of Mautic. Joomla does something like that:

![screenshot-updates-availalbe](https://user-images.githubusercontent.com/2930593/104844150-5c492b00-58c6-11eb-9af8-5e63f4b50de7.png)

It's more visual and noticeable than the bell which can easily be swamped with notif

[2021-01-18 11:16] andrew-dixon commented on #9207
I have this same issue with the API, contacts are not editable using the documented `PATCH` request and a `PUT` request to the same endpoint deletes all details on the contact, even if `overwriteWithBlank` is set to `false`. I've tried in many different ways using the Postman tool and all result in the same outcome. This is on Mautic version v3.2.2.

The only way I've found to edit a contact via t

[2021-01-18 12:37] CybotTM commented on #8171
according to phpcompatinfo, the following extensions are used, and should therefore be listed in composer.json:
[code]

(Even if built in by default)

[2021-01-18 12:40] RCheesley opened #9596 "Add missing ZohoCRM datacenters"
Since the Zoho Integration is being improved. Maybe this could be a valid addition.

Mautic 3.1.1 lists only 4 Zoho datacenters, but Zoho has more datacenters - as listed here
[https://www.zoho.com/know-your-datacenter.html](https://www.zoho.com/know-your-datacenter.html)

I think the India datacentre is fairly new. When I created a Zoho account in June 2019 and was wanting to integrate Zoho CRM w

[2021-01-18 12:52] CybotTM commented on #8171
Why is this required?

Because otherwise you cannot automatically and programmatically ensure your built Mautic RE (PHP container) has all required extensions installed.

With the above added, any built of Mautic in an PHP RE without required extensions will fail and prevent releasing/deploying a broken container image

Currently, as a maintainer for such a container image, you have to maintain th

[2021-01-18 12:55] CybotTM commented on #8171
This (#8171) and mautic/mautic-documentation#89  are crucial to enable your community to provide solid OPS for the application when maintaining it.

[2021-01-18 12:55] szepeviktor commented on #8171
If you need an even sharper knife 🔪 https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/php-env-check.php#L47-L50

[2021-01-18 13:24] jos0405 commented on #9555
Hi, can you confirm, that all cron jobs are running properly?
Are you using queue for sending emails?
Do you see any emails in spool/default folder?

[2021-01-18 13:26] dennisameling commented on #6709
Fixed in https://github.com/mautic/mautic/pull/8605 which will be released in Mautic 3.2.5 on January 25 👍🏼

[2021-01-18 13:26] #6709 closed

[2021-01-18 13:35] npracht commented on #9431
Fixed by https://github.com/mautic/mautic/pull/9476 merged in 3.2.5. Released next Monday.

[2021-01-18 13:35] #9431 closed, assigned to nobody

[2021-01-18 13:35] npracht commented on #9200
Fixed by https://github.com/mautic/mautic/pull/9458 merged in 3.2.5. Released next Monday.

[2021-01-18 13:35] #9200 closed, assigned to nobody

[2021-01-18 16:01] andrew-dixon commented on #9207
After a bit more playing around with this and trying various things, I've found if you pass a "raw" JSON body instead of form fields in a "flat" format, it works for both `PATCH` and `PUT`, however, `PUT` still wipes all fields not passed. For example, if I pass in:

[code]

To: `https://mautic.my.domain/api/contacts/1159/edit`

With `PATCH` this just updates the first and last name fields of the

[2021-01-18 16:04] pierrejoye commented on #2778
@RCheesley good evening

Sorry to comment here on a closed issue but I am facing the same issue. I read all the comments above and I wonder if some of them are actually correct and the diagnostic, in some cases, could be wrong.

Fresh install. https from the beginning. Version 3.2.4

My test server uses http.

The form js is called using:
<script type="text/javascript" src="https://mymauticdomain.

[2021-01-18 16:20] RCheesley commented on #2778
Please make a post on the forums as suggested above, including details of your environment and any proxy setups, and the steps you have taken (eg rebuilding the **form** cache etc).

[2021-01-18 17:01] RCheesley commented on #8171
@CybotTM @szepeviktor thanks for the input! We actually have a Strategic Initiative this year to[ implement Composer support fully in Mautic Core](https://mautic.atlassian.net/wiki/spaces/MI/pages/324337710/Composer+Support). We also have another one focused on [improving the installation and upgrade process & documentation](https://mautic.atlassian.net/wiki/spaces/MI/pages/324435990/Improve+the+I

[2021-01-18 23:15] perrelet commented on #2778
@pierrejoye  Is this on a wordpress site by any chance?

[2021-01-19 01:30] pwned555 opened #9597 "PHP Notice - Undefined index: log - in file mautic\app\bundles\DynamicContentBundle\Views\SubscribedEvents\Timeline\index.html.php - at line 11"
Mautic version - v3.2.1
PHP version - 7.3.24

## Description:
The above error is thrown when trying to open a contact that has a dynamic_content_stats table record for their id.  The contact view page will never be opened.

## Steps to reproduce:
Navigate to contacts and attempt to open a contact page and above error will be thrown if the contact has records in the dynamic_content_stats table.

I'

[2021-01-19 03:39] pierrejoye commented on #2778
@RCheesley sorry, I registered 10h~ ago already, read a few dozen threads, I still cannot reply nor create new threads there.

Also, just quick. found where the URL remains unchanged, in the forms table in the mysql DB. I was following https://docs.mautic.org/en/troubleshooting#1-clear-the-cache before, and it does not mention the forms.cached_html part :)

I do think it is a bug as this field sho

[2021-01-19 03:46] pierrejoye commented on #2778
no, grav (or any other static html page), issue is not on the caller side apparently (see my other comment earlier). Happy to debug more and try to provide a PR, but I first need to go live with this asap :)

[2021-01-19 04:29] pierrejoye commented on #2778
@RCheesley unless I completely miss the concept, after looking in the form bundle, where it generates the html, submit/edit actions from the admin, I see no trace of anything updating this field. I think this is the main issue. What do you think?

[2021-01-19 07:46] MaraKasubke commented on #9584
Hey karo-me, thanks for creating this bug description. I have the same problem when updating a contact via campaign.

PHP Version 7.3.24-3
Mautic v3.2.1

[2021-01-19 07:47] MaraKasubke commented on #9584
Would updating to Mautic 3.2.4 solve this issue?

[2021-01-19 11:22] RCheesley commented on #2778
You have only viewed 10 topics and been active for 4 minutes. You will get a message when you are able to post (as a DM from Mautibot).

Any time you change a form, you have to rebuild the form cache. If you have manually embedded the HTML rather than used the Javascript embed you may need to update it manually. depending on what changed.

See docs [here](https://docs.mautic.org/en/components/form

[2021-01-19 11:34] pierrejoye commented on #2778
@RCheesley  oh! Thanks!

May I suggest to move that out of troubleshooting, or as well, to the main documentation? Like in a big box warning about this?

The forums everywhere are full of questions about this, and I am not necessarily and an end-user so I did not give up easy, but I can imagine many who would have given up already :)

To other landing in that page: The docs show:

1. go the forms

[2021-01-19 11:39] RCheesley commented on #2778
You can do more than suggest :) At the bottom of every page is an edit button - just click that and it will take you right to the page to make the edit!

Here is our [styleguide](https://docs.mautic.org/en/home/contributing) and [here](https://demo.hibbittsdesign.org/grav-learn2-git-sync/intermediate/overview) are some tips on the markdown to make the pages prettier - we have a lot of improvement

[2021-01-19 12:34] pierrejoye commented on #2778
I will join and add that note in the docs asap.

I love what you have done in this project. I tested long time ago and what you all have achieved is amazing!! Thank you!

[2021-01-19 15:36] #8987 closed, assigned to nobody

[2021-01-19 15:36] #8998 closed, assigned to dennisameling

[2021-01-19 15:36] #3487 closed

[2021-01-19 15:36] #3488 closed

[2021-01-19 15:36] #3901 closed

[2021-01-19 15:36] #4119 closed

[2021-01-19 15:36] #4216 closed

[2021-01-19 15:36] #4550 closed

[2021-01-19 15:36] #5110 closed

[2021-01-19 15:36] #5135 closed

[2021-01-19 15:36] #5837 closed

[2021-01-19 15:36] #6501 closed

[2021-01-19 15:36] #7276 closed

[2021-01-19 15:36] #7764 closed

[2021-01-19 15:37] #7715 closed

[2021-01-19 15:37] #7844 closed

[2021-01-19 15:37] #7918 closed

[2021-01-19 15:37] #8778 closed, assigned to nobody

[2021-01-19 15:37] #8673 closed, assigned to nobody

[2021-01-19 15:37] #8835 closed, assigned to nobody

[2021-01-19 15:37] #8814 closed, assigned to kuzmany

[2021-01-19 15:37] #8864 closed, assigned to nobody

[2021-01-19 16:36] #8747 closed, assigned to nobody

[2021-01-19 16:36] #8926 closed, assigned to nobody

[2021-01-19 16:36] #7385 closed

[2021-01-19 16:36] #8767 closed, assigned to nobody

[2021-01-19 16:37] #8791 closed, assigned to nobody

[2021-01-19 16:37] #8484 closed

[2021-01-19 16:37] #9003 closed, assigned to nobody

[2021-01-19 16:37] #8985 closed, assigned to nobody

[2021-01-19 16:37] #7111 closed

[2021-01-19 16:37] #9043 closed, assigned to nobody

[2021-01-19 16:37] #9046 closed, assigned to nobody

[2021-01-19 16:37] #8101 closed

[2021-01-19 16:37] #8928 closed, assigned to nobody

[2021-01-19 16:37] #6466 closed

[2021-01-19 16:37] #9203 closed, assigned to nobody

[2021-01-19 16:37] #9190 closed, assigned to nobody

[2021-01-19 16:37] #8753 closed, assigned to nobody

[2021-01-19 16:37] #8873 closed, assigned to nobody

[2021-01-19 16:37] #8887 closed, assigned to nobody

[2021-01-19 16:37] #8955 closed, assigned to nobody

[2021-01-19 16:37] #8951 closed, assigned to nobody

[2021-01-19 17:41] benfavre commented on #8767
Bad bot !

[2021-01-19 18:03] RCheesley commented on #8767
@benfavre there was no response in 2 weeks, hence it was auto closed.

If this is an issue please confirm first that it exists in Mautic 3.x as we no longer support 2.x.

If it continues and you are able to reproduce it then we can re-open and look into getting it fixed.

[2021-01-20 09:19] EnziinSystem opened #9600 "Get the error 404 when getting the test callback url email monitor"
My environment:
[code]
Mautic is normally working with SSL but I can not set up for Amazon SNS.

I get the error 404 when getting the test callback url.
[code]
The message
[code]

[2021-01-20 10:28] MaraKasubke commented on #9584
We have now updated Mautic to 3.2.4. This has resolved the issue for us. Can you confirm this @karo-me ?

[2021-01-20 10:39] ghost commented on #9584
Hi @MaraKasubke
Right now I'm still working with my developers on a backup-process. I don't want to try to restart the campaign before I have a backup of my data. So I will give you feedback soon.

[2021-01-20 11:12] andrew-dixon commented on #9306
For anyone else who comes across this looking at how to do this, it is a GET request to the following:

[code]

replacing `segment-alias` with your alias. Essentially, the `search` parameter can be anything you can use in the search in the Mautic UI, as described here:

https://docs.mautic.org/en/mautic-search

[2021-01-20 17:19] badhonhitech opened #9603 "Internal server error 500"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-20 17:20] DevOpsEvangelist commented on #9603
I am also having this issue

[2021-01-20 17:48] #9259 closed, assigned to andersonjeccel

[2021-01-20 18:48] #9182 closed, assigned to nobody

[2021-01-20 19:48] #8317 closed

[2021-01-20 19:48] #8371 closed

[2021-01-20 19:48] #8378 closed

[2021-01-20 19:48] #8031 closed

[2021-01-20 19:48] #8111 closed

[2021-01-20 19:48] #5684 closed

[2021-01-20 22:13] simopetrelli opened #9604 "Height error in images inserted with mail builder"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-20 22:51] simopetrelli opened #9605 "HTML editor mail builder does not recognize the special character &nbsp; &zwnj;"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

To block the Email Preview / P

[2021-01-21 11:44] RCheesley opened #9606 "Translation strings are not being added back to Transifex since 3.x"
## Bug Description
We have had some issues with getting new/updated language strings to sync up to Transifex since the 3.x release - this is an issue to keep it in our minds to troubleshoot and fix the problem!

[2021-01-21 13:00] onlineexpert commented on #7037
We are using v3.2.4 and also have this issue when 'Convert embed images to Base64' is ON.
It is not a big issue for us so we just disabled this option without creating a new issue.
Mentioning it here though because it is on top in search results for Mautic Base64 problem.
If you also experience this issue on latest release first check issues #9069 #9003 #8995 #9124.
Thanks!

[2021-01-21 13:08] marcocianci commented on #9388
@rjong
follow his link
https://forum.mautic.org/t/column-not-found-1054-unknown-column-in-generated-column-function-when-upgrading-from-3-0-2-to-3-1/15869/5

[2021-01-21 13:09] marcocianci commented on #9388
and this
https://forum.mautic.org/t/sql-syntax-errors-mautic-3-1-1/16555/19

[2021-01-21 13:36] RCheesley commented on #9388
@marcocianci thanks for adding the fix - would you be up for creating a pull request if this is still an issue in the latest release?

[2021-01-21 13:51] dennisameling commented on #8974
For cross-reference: we opened issue https://github.com/mautic/mautic/issues/9606 to dive into this further

[2021-01-21 15:26] #9593 closed, assigned to dennisameling

[2021-01-21 15:52] RCheesley opened #9607 "Add checks from Mautic 3.x upgrade script into the install and upgrade process"
## Description
We frequently see people having problems with installing and/or updating Mautic because there are issues with their server resourcing or configuration.

In the Mautic 3 upgrade script we have a [pretty comprehensive set of checks](https://github.com/mautic/mautic/blob/2.16/upgrade_v3.php#L137) that are run to determine whether the environment is suitable, however **we do not yet hav

[2021-01-21 15:54] dennisameling commented on #8780
Closing this PR as Mautic next-gen will have OpenAPI support built-in, not making it worth the effort to look into this further for the "current" Mautic

[2021-01-21 15:54] dennisameling commented on #9607
Related to https://github.com/mautic/mautic/issues/8452

[2021-01-21 21:30] pwned555 commented on #7173
I can confirm this is still an issue with v3.2.4 following the steps outlined by @dennisameling

From initial testing I believe we just need to add a htmlAllowedAttrs to the app\bundles\CoreBundle\Assets\js\11.editor.js
Line 17 has htmlAllowedAttrs: [...]
When 'mautic:disable-tracking' is added to that array and autogenerated media\js\app.js is deleted and updated it allows the tag as expected.

[2021-01-22 10:34] TornMarketing commented on #7360
New page and email builder plugin based on grapes.js builder #9412
https://github.com/mautic/mautic/pull/9412/files

Slack Mautic Channel for the project discussion
#i-builders

[2021-01-22 10:35] RCheesley commented on #7360
Also the page for the Strategic Initiative can be found here: https://mautic.atlassian.net/wiki/spaces/MI/pages/324272189/Email+and+Landing+Page+Builders

[2021-01-22 11:58] gnovaro opened #9608 "There are plans to update the symfony version"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Version 3 is no longer supporte

[2021-01-22 12:24] RCheesley commented on #9608
Hi there, we have a Mautic 4 working group which is already part way through implementing support for Symfony 4. Take a look at #9409 and join #mautic-4 on Slack (https://mautic.org/slack to get an invite) if you would like to contribute to this!

You may also find it interesting to watch the keynote from MautiCon:  https://www.youtube.com/watch?v=FqwMjDZ8ofA where I shared the long term vision an

[2021-01-22 12:24] #9608 closed, assigned to nobody

[2021-01-22 13:51] AdamLeonSmith opened #9609 "500 error on unsubscribe"
## Bug Description
I am using the out of the box unsubscribe.  That is, contact preference forms are not used.

# Config

Email template references {unsubscribe_url} with a text link.
In the campaign email settings - no unsbuscribe or contact preference form is selected
In configuration / email settings - all unsubscribe options are set to no

# Steps to reproduce

Delete contact
Clear cache and r

[2021-01-22 14:02] RCheesley commented on #9609
Can you please share the 500 error from your Mautic log?

[2021-01-22 18:54] Uebix commented on #8365
Seems that the same error is in CONTEXT_CONTACT_ATTRIBUTION_MULTI.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 's.leadlist_id' in 'where clause' at vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php:60, Doctrine\DBAL\Driver\PDOException(code: 42S22): SQLSTATE[42S22]: Column not found: 1054 Unknown column 's.leadlist_id' in 'where clause'

[2021-01-22 19:55] sns192 opened #9611 "Failed network error"
The download file at the link - https://www.mautic.org/download is not getting downloaded due to failed network,
Please fix the issue.
Thanks in advance.

[2021-01-22 19:59] RCheesley commented on #9611
Hi there, can you please be a bit more specific about "due to failed network"?

I have just tested and the download worked as expected.

[2021-01-22 20:01] dennisameling commented on #9611
Also downloads as expected here (NL) - do you see any difference if you download from a different network (e.g. mobile hotspot)?

[2021-01-22 20:15] sns192 commented on #9611
Hello,
I am downloading this file in India and I am getting failed network error at the end when the download completes.

[2021-01-23 09:42] #9504 closed, assigned to nobody

[2021-01-23 12:45] andrew-dixon opened #9612 "Field order ignored for contact /edit page"
## Bug Description
It is possible to order the contact fields in the "Custom Fields" editor and this order is used on the "Quick Add" and "New" contact screens/forms, but isn't for the "Details" output on the Contact View page or on the Contact Edit page, which appears to use the order in which the fields were created instead. This makes the user interface inconsistent and annoying to use for a us

[2021-01-23 12:49] npracht commented on #9612
HI @andrew-dixon !
That might be fixed by https://github.com/mautic/mautic/pull/9494 in next 3.3.0.
Can you test the PR, confirm and if yes, close your issue ?

Thanks !

[2021-01-23 12:53] andrew-dixon opened #9613 "Contact List missing direct link to view contact"
## Bug Description
If you remove the "Name" and "ID" columns from the "Contacts" list view, none of the columns is then linked to view the contact. Instead, either there should always be a "view" icon output, maybe on the far right, or the first column should always be linked to view the contact (my preferred option).

I'm aware you can still click the down arrow next to the tick box and then clic

[2021-01-23 12:57] andrew-dixon commented on #9612
@npracht I've not got a setup at the moment where I could test that, but looking at the file changes in the pull request, I think it would only resolve half of it, the details view on the contact view page and not the edit contact page.

[2021-01-23 17:07] anki630 opened #9614 "From Name shows garbled code when using Amazon SES - API"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-23 18:17] sns192 opened #9615 "error while connecting gmail account. has anyone successfully connected to gmail account?"
I allowed access to less secure apps in my gmail account, yet I am getting almost a page long error while configuring gmail settings in mautic. what is the solution?

[2021-01-23 19:44] marcocianci commented on #9388
yes.
I will do it today

[2021-01-24 10:37] pierrejoye commented on #2093
For other as this ticket is found in many similar questions:

https://www.leuchtfeuer.com/en/mautic-know-how/mautic/dynamic-values-in-mautic-forms-date-time-url/

That way the hooks will be "injected" at the same time than the form and works smoothly for any external site.

All possible hooks are very well documented in the documentation here <3:

https://developer.mautic.org/#js-form-processing-h

[2021-01-24 13:15] mohit-rocks commented on #9611
Hi @sns192
I am based in India and able to download from the broadband and mobile connection as well.
Alternatively, you can also download from the releases page https://github.com/mautic/mautic/releases
You can download the latest release "Mautic Community 3.2.4"

Closing this issue, for now, please reopen if you face any further issues.

[2021-01-24 13:15] #9611 closed, assigned to nobody

[2021-01-24 19:00] namratasaun commented on #6709
for me mobile notification, not working. it just fails sending without any logs. any leads as to what I might be missing?

[2021-01-24 19:03] ghost commented on #9584
@MaraKasubke Now I finally could test it again. And now everything is working as it should. Thank you!!

[2021-01-24 19:06] namratasaun commented on #4503
I am not able to send mobile pushes in Mautic 3.2.

[2021-01-24 19:17] #9584 closed, assigned to nobody

[2021-01-25 01:08] leoborlot opened #9616 "Email scheduling hour problem."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-01-25 07:30] jos0405 commented on #9615
Hi, can you be plz more specific: is it fetching incoming mail or sending email via gmail smtp?

[2021-01-25 07:40] jos0405 commented on #9605
Hello, the code is replaced, but the result is actually fine.
See this: https://docs.friendly.is/Add-your-own-preview-in-emails-d8a8ca80ba6f4aca8dcfbdb125eef840

[2021-01-25 09:59] AdamLeonSmith commented on #9609
Apache Access log:
10.0.9.104 - - [25/Jan/2021:09:58:37 +0000] "GET /email/unsubscribe/600adb8ecc931597996003 HTTP/1.1" 500 1841 "-" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36"

There is NO corresponding errors  (or other messages) in the mautic application logs.

[2021-01-25 10:18] Uebix opened #9617 "500 Internal Server Error: Report when use Multi Touch Attributions as data source and filter by Segment"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
500 Internal Server Error: Repo

[2021-01-25 13:13] andrekutianski commented on #9320
Having the same behavior in Mautic 3.2.4

![image](https://user-images.githubusercontent.com/5316107/105710514-ff68f880-5ef5-11eb-9eb2-d88c16f811ac.png)

[2021-01-25 13:14] andrekutianski commented on #9320
Hi @RCheesley I having the same behavior on 3.2.4

[2021-01-25 14:47] #9023 closed, assigned to nobody

[2021-01-25 16:19] andrekutianski commented on #6124
Just for the record, in some cases _mod_sec_ can consider some patterns like key string as a PHP injection for example, and block some Mautic commands.

I have some issues in different versions along these years in webservers that enforce the use of the _mod_security_ apache module. So I recommend disable mod_sec (if possible) and test the results on any API call or authorization.

[2021-01-25 19:39] RCheesley commented on #9503
Please update to 3.2.5 and report back if you are still experiencing this issue.

[2021-01-25 19:40] RCheesley commented on #9505
I was able to reproduce this in 3.2.5 and yes, super annoying!

[2021-01-25 19:43] RCheesley commented on #9513
Can you check if this happens with 3.2.5 and report back (you are both running versions that are [vulnerable to attack](https://www.mautic.org/blog/community/security-release-all-versions-mautic-prior-2-16-5-and-3-2-4) and should be updated as a matter of priority!)

[2021-01-25 19:45] RCheesley commented on #9548
@Aerendir would you be up for helping to implement that?

[2021-01-25 19:47] kuzmany commented on #9513
I think this should fixed it in 3.2.2 by this PR https://github.com/mautic/mautic/pull/9380

[2021-01-25 19:48] RCheesley commented on #9552
@smcpeck is this still an issue with 3.2.5? Would you be open to taking a dig into the code to find what is causing it and make a PR to address the issue?

[2021-01-25 19:50] RCheesley commented on #9553
@stremshs thanks for the bug report - have you had a chance to test this with the latest release? Also presume that the cache has been cleared etc?

[2021-01-25 19:51] RCheesley commented on #9555
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-01-25 19:51] #9555 closed, assigned to nobody

[2021-01-25 19:52] RCheesley commented on #9556
@r-martins can you let us know if you have any feedback on this? If not we will close the issue down.

[2021-01-25 19:56] RCheesley commented on #9576
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-01-25 19:56] #9576 closed, assigned to nobody

[2021-01-25 19:58] RCheesley commented on #9582
Thanks for reporting this @andrew-dixon  - does this persist with 3.2.5?

Would you be up for looking into it and making a PR to address it?

[2021-01-25 19:59] RCheesley commented on #9583
We already have an issue tracking this regression in #9473 so I will close this issue in favour of the existing issue.

[2021-01-25 19:59] #9583 closed, assigned to nobody

[2021-01-25 20:02] RCheesley commented on #9586
Hi there, we are no longer supporting Mautic 2.x so I am closing this issue. If you experience this with 3.2.5 or later and wish to make a pull request to change the behaviour please do!

[2021-01-25 20:02] #9586 closed, assigned to nobody

[2021-01-25 20:03] RCheesley commented on #9591
@dhilst thanks for taking the time - indeed sounds a bit annoying! Would you be up for digging into this and making a PR to implement your suggestions?

[2021-01-25 20:05] RCheesley commented on #9592
@ldrrp thanks for reporting the bug and for the workaround! Would you be able to look into a fix for this?

[2021-01-25 20:06] RCheesley commented on #9597
@pwned555 thanks for reporting this - would you be able to make a PR to fix the issue?

[2021-01-25 20:07] RCheesley commented on #9600
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-01-25 20:07] #9600 closed, assigned to nobody

[2021-01-25 20:10] RCheesley commented on #9603
Hey folks, per the error logs, you need to downgrade to Composer 1. We cannot support Composer 2 until Mautic 4.0 as to do so requires breaking changes.

[2021-01-25 20:10] #9603 closed, assigned to nobody

[2021-01-25 20:13] RCheesley commented on #9604
@simopetrelli as we are mid way through an initiative to replace the builders we probably won't be working on issues like this. I would suggest to manually remove the height in the code as a workaround or ask on https://forum.mautic.org/c/support.

[2021-01-25 20:13] #9604 closed, assigned to nobody

[2021-01-25 20:13] RCheesley commented on #9605
Closing based on the comment above!

[2021-01-25 20:13] #9605 closed, assigned to nobody

[2021-01-25 20:16] RCheesley commented on #9613
Thanks for flagging that @andrew-dixon - honestly my first thought would be 'well, don't remove the ID field'!

I don't know that we would want to add a superfluous icon given that the vast majority of users would not have this issue, however we can see what UX folks think!

[2021-01-25 20:19] RCheesley commented on #9614
I believe that this is a duplicate of #9433 which has a fix proposed (#9434) so closing this issue.

[2021-01-25 20:19] #9614 closed, assigned to nobody

[2021-01-25 20:21] RCheesley commented on #9468
OK then this is a duplicate of (or due to the same bug) as #9433 I think - let's close this issue down and please test #9434 as mentioned earlier!

[2021-01-25 20:21] #9468 closed, assigned to nobody

[2021-01-25 20:21] RCheesley commented on #9615
Hi there, please post your issue over at https://forum.mautic.org/c/support as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-01-25 20:21] #9615 closed, assigned to nobody

[2021-01-25 20:24] RCheesley commented on #9617
Is this persisting in 3.2.5 as we merged some of the fixes you mention in the release?

[2021-01-25 20:53] andrew-dixon commented on #9613
@RCheesley I would say if there is the option to remove it, then there needs to be something sensible in place to replace it if you do remove it. I was specifically asked by my end user to "remove the useless ID column", as for them it has no value, for their workflow, but then of course they complained they couldn't easily get the view screen 😃

So I guess the options here are to either remove th

[2021-01-25 20:57] RCheesley opened #9619 "Users seeing log entries relating to PHP version since 3.2.5"
## Bug Description

From Slack:

Users are on 7.3.x and 7.4.14 versions of PHP.

| Q   | A
| --- | ---
| Mautic version | 3.2.5
| PHP version | 7.3.x and 7.4.14
| Browser | N/A

[2021-01-25 21:00] izdrail commented on #9619
running
[code]
My app/release_metadata.json

[code]

[2021-01-25 21:04] dennisameling commented on #9619
Cannot seem to reproduce locally on PHP 7.4.13 (DDEV). error_reporting is set to E_ALL and tried in Mautic's dev mode as well.

- Does clearing your cache (`bin/console cache:clear`) make any difference?
- Are you getting a more complete stack trace in the logs? From the log above I can't see what function is calling `/var/www/htdocs/app/bundles/CoreBundle/Release/Metadata.php`

Thanks in advance!

[2021-01-25 21:37] r-martins commented on #9556
Thanks for your feedback and solution folks.
In fact I was using mac. I always perform the updates on my local, test it, and only after that I push the changes to the server.
At that time I had enough space (around 100gb) for sure.
I ended up reinstalling mautic and now using composer to perform updates.

[2021-01-25 21:37] #9556 closed, assigned to nobody

[2021-01-26 00:33] jonathandhn commented on #9619
Cron <www-data@vps1> /usr/local/lsws/lsphp74/bin/php /var/www/mautic.jonathanphoto.fr/bin/console mautic:update:find 1>/dev/null
`PHP Notice:  Undefined index: show_php_version_warning_if_under in /var/www/mautic.jonathanphoto.fr/app/bundles/CoreBundle/Release/Metadata.php on line 82`

Mautic shows php warnings on 3.2.5 with php 7.3.23 on an other server and the same on a third server with php 7.4

[2021-01-26 03:31] ldrrp commented on #9592
@RCheesley unfortunately im not sure I have the time to fix this at the moment myself thats why I did the workaround. I did post a bounty. I might try and see if my workplace might increase it.

[2021-01-26 07:26] sns192 opened #9620 "Emails are landing in promotion tab. How it fix it?"
Hello, I recently switched to Mautic to send emails to my subscribers.
Emails are being sent to the promotion box instead of the mailbox. When I used other CRMs to send emails they landed in inbox, not promotion tab.

I read this forum which discusses the issue the detail - https://forum.mautic.org/t/mautic-lands-in-promotions-or-spam-folders-seems-to-be-impossible-to-tweak-any-idea/16675

The two

[2021-01-26 07:29] jos0405 commented on #9620
Hi, please read the discussion in the forum in full. I advised strongly against removing the Bulk tag. In my opinion it would be dangerous to remove it or give the option to do so as if marketers don't understand why it is there. It is actually protecting your reputation if you are sending bulk.
If you want to remove the Bulk precedence, search for the code and uncomment the line. But again - I ad

[2021-01-26 07:30] jos0405 commented on #9620
Maybe we can have a special setting in Mautic, that once someone sends more than 50 emails / day, than we are automatically adding the Bulk tag...

[2021-01-26 07:38] OS-WS commented on #3486
Hi, did you fix CVE-2017-8874?
If so, in what commit?

Thanks in advance!

[2021-01-26 08:17] npracht commented on #9513
Then i'll close and re-open if @leonardoborlot says it's not fixed.

[2021-01-26 08:17] #9513 closed, assigned to nobody

[2021-01-26 08:18] sns192 commented on #9620
Well, I am new to mautic. Can you tell me how to remove bulk precedence from email we send from mautic?
Alsom you advise against it, but then do you have any other option to achieve. There are my subscribers, emails shouldn't go to promotion tab.

Please tell me how to remove Bulk Precedence.

What I tried?
Well I went to configuration settings but could not find a way to configure it there.

Than

[2021-01-26 09:21] Aerendir commented on #9548
Not this week... May be the next one... Can you assign this issue to me?

[2021-01-26 11:39] dennisameling opened #9621 "Inconsisent behavior in batch edit users action"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The batch endpoint `PATCH api/u

[2021-01-26 11:52] dennisameling commented on #9621
@alanhartless as you're the author of https://github.com/mautic/mautic/pull/7815, do you have any idea what could be causing these issues? The fact that it's inconsistent makes it rather hard to debug on my side 😞

[2021-01-26 12:01] RCheesley commented on #3486
@OrenSavichWS that was a *very* long time ago and the documentation was not all that great back then. I would recommend looking at the releases since 1.4.1 and then looking at the PR's if you need to find the specific commit which you can do from [here](https://github.com/mautic/mautic/releases?after=2.5.1).

[2021-01-26 12:03] OS-WS commented on #3486
@RCheesley I tried that but couldn't find the right commit/PR.

[2021-01-26 12:03] RCheesley commented on #9548
Sure, have assigned it to you! Timeline wise the next release will be at the end of the month and we have the Release Candidate freeze on 15th February, so if you are able to get something together before then we can get it tested and hopefully shipped fairly swiftly! Seeing as it will relate to GH rather than Mautic itself I will also add the CI and chore labels.

[2021-01-26 12:17] sns192 commented on #9620
I have been trying really hard to fix this. Can anyone guide me on how to achieve this?

[2021-01-26 12:22] jos0405 commented on #9620
It is normal to land in promotion when you start sending, you will be moved out eventually. You are using new iP suddenly probably and you need to build up your reputation. Please check if you had the 'Bulk' tag in your previous provider.
In the forum article you could see the worst way of testing inboxing: checking 5 occurrences and deciding, that 100% goes to promo. You can try to remove bulk by

[2021-01-26 12:31] RCheesley commented on #9620
Hi folks, as this is not a bug with Mautic, please take the conversation over to the forum thread so that we do not clutter up the issue queue :)

[2021-01-26 12:31] #9620 closed, assigned to nobody

[2021-01-26 12:40] sns192 commented on #9620
I have been trying to sign up the community forum to discuss this, but due to some error haven't been able to login.
And my my domain is more than a year old and I have been using zoho crm. All my emails landed in inbox. But now they are going to promotion tab.

_You can try to remove bulk by searching for 'BULK' in the whole code and remove corresponding lines._ - where to search for code? I am u

[2021-01-26 12:43] sns192 commented on #9620
You may not call it a bug but it is a very serious problem. Many people are facing this issue, I request the community to come up with a solution to this. Moreover, it was said the community forum to take this to GitHub, now you are asking us to take it back to the community forum.

Please open the issue and let the community give the solution.

[2021-01-26 13:04] dennisameling commented on #9619
Found the issue 👍🏼 When Mautic checks for updates, it fires some API requests to GitHub to get all previous releases that we did. Since we only introduced `show_php_version_warning_if_under` in 3.2.5, this triggers several PHP notices when the code loops through the previous versions from GitHub, which obviously don't have a `show_php_version_warning_if_under` key:

![image](https://user-images.gi

[2021-01-26 13:14] dennisameling commented on #9619
Fixed in https://github.com/mautic/mautic/pull/9622, please test it if you have a minute!

[2021-01-26 15:33] jos0405 commented on #9620
I'm not sure that this is a bug, but rather a feature.
Majority of users use Mautic for marketing automation to scale communication, make it less work. It has to be built for that audience. But obviously not always: on one account I'm sending around 100 emails / day, almost all customized, I'm inboxing just fine. Plz check this MautiCon clip: https://www.youtube.com/watch?v=q7VO1Kf34IE

Maybe test

[2021-01-26 15:52] marcocianci commented on #9388
@RCheesley
Could you validate my pull request please, if I did the process correctly.
Was missing "verification/cla-signed" they didn`t found my e-mail.
Thanks

[2021-01-26 18:45] elilogan commented on #9616
Is this a local time vs. system time issue?

[2021-01-26 18:50] elilogan commented on #9609
Check permissions on var/logs folder. Set to 777 to test and then try the unsubscribe link again. Be sure to walk back your permissions after testing.

[2021-01-26 21:28] dhilst commented on #9591
I can do it, I'm just rushing right now but once I get some free time I can do it :)

[2021-01-27 07:10] sns192 commented on #9620
Hi thanks for your input. I am not a developer so not possible for me to create a plugin for mautic.
Even mails a customize for each recipient lands in promotion box.
Can you please tell me how to remove bulk tag in the header? I am not a software developer so difficult for me to figure it all out.

Thanks in advance.

[2021-01-27 07:23] kuzmany commented on #9572
Related slack conversation https://mautic.slack.com/archives/G01AMQPDZSB/p1611604540000500
Yes, it's bug from codebase from 2014 :) and could be removed

[2021-01-27 08:29] jos0405 commented on #9620
Hi,
When you send test email, also landing in promo?

[2021-01-27 08:39] Aerendir commented on #9548
@RCheesley , ok, it is all clear: I will try to work on this next week...

[2021-01-27 10:12] AdamLeonSmith commented on #9609
This was indeed the problem, thank you

[2021-01-27 10:12] #9609 closed, assigned to nobody

[2021-01-27 10:15] #9558 closed, assigned to nobody

[2021-01-27 10:27] sns192 commented on #9620
Hi,
Yup, test mails, personlized email written for each mail contact mails (sent manually) and campaign emails, all three landing in promotion tab. And this was not a case before while using zoho crm.

I request you to give me a solution.
Tell me how to remove bulk tag from header, I will try and let you know the outcome.

Thanks in advance for the support.

[2021-01-27 11:04] jos0405 commented on #9620
Okay, then Mautic is not the culprit. Test mails, personal emails don't have the bulk header.
I suggest you duckduckgo why you are landing in promo, it is def not the bulk setting. Start comparing your previous sending and this one. Learn about inboxing, there are tremendous material on the web.

[2021-01-27 12:37] andrew-dixon opened #9624 "Resubscribe link causes error message output"
## Bug Description
When a user clicks on the "resubscribe" option on the unsubscribe page, it causes the "Uh oh!" error message page to be output. Whilst it does resubscribe the user, it doesn't tell the user this.

I've discussed this bug here: https://forum.mautic.org/t/resubscribe-link-errors/17911

Essentially, it isn't passing the theme to the Theme Helper constructor in `app/bundles/CoreBund

[2021-01-28 02:34] leoborlot commented on #9616
The linux base was seted to GMT-3 (America/Sao_Paulo)
The docker container was running in UTC time.
The mautic setup was GMT-3 (Sao Paulo).

[2021-01-28 12:45] jurczykpawel opened #9627 "Amazon SES Max Send Rate not supported."
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Emails send via Amazon SES API

[2021-01-28 14:22] tompon commented on #6011
We still have exactly this problem in 3.2.4. Just wrote @kuzmany and asked for help with it..

[2021-01-28 14:52] omert37 commented on #6011
**@tompon works perfectly fine in 3.2.5**

[2021-01-28 14:56] jos0405 commented on #6011
Hello @tompon, are you using special language specific characters in the link?

[2021-01-28 17:21] tompon commented on #6011
We are able to upload it by API to the email, but not to show it in the button

Email:
![image](https://user-images.githubusercontent.com/20039182/106174320-e87b0e00-6162-11eb-8a59-be00f98d834c.png)

Token: {new_password_token} in text works great, but not in the CTA button https://xxxxx.com/password-reset/?token={new_password_token}

[2021-01-28 19:51] michaellelis-hotmart opened #9628 "POST at /oauth/v2/token return invalid grant_type"
## Bug Description
When sending POST to `/oauth/v2/token`, an invalid grant_type error is returned

| Q   | A
| --- | ---
| Mautic version | 3.x
| PHP version | 7.3

### Steps to reproduce
1. Generate the code by the endpoint `/oauth/v2/authorize`
2. Send a POST Request at  `/oauth/v2/token`

### Log errors

[code]
NOTE:
Those are the instructions in https://developer.mautic.org/#oauth-2, however

[2021-01-29 08:01] anki630 opened #9629 "Can't disable trackable URLs in SMS when not using Twilio"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
I am using another SMS integrat

[2021-01-29 14:10] RCheesley opened #9630 "Expanding text area on dropdown select in campaign builder"
## Bug Description
Came across this due to a Cypress test failing!

When creating a campaign action of Send Email and in the box where you choose the email to be sent, if you type in the name to filter down the options the text area jumps about wildly - if you select it, it disappears and then you cannot choose any option.

https://youtu.be/RVMhDkDEmhI

Able to partly reproduce this on Mautibox fe

[2021-01-29 14:34] smcpeck commented on #9552
Hi, @RCheesley. I can look at updating to 3.2.5 soon. I'm on a custom docker image for 3.2.2 for my deployment.  Do you know if database schema migrations, etc. will happen properly as just part of how Mautic works if I were to bump that code to 3.2.5 in my custom image? Maybe there are no database migrations between the two version so I'll just be safe on that account.

Not sure I'll have the tim

[2021-01-29 18:50] Uebix commented on #9617
I have update mautic to 3.2.5 and yes, the problem persist on 3.2.5.

[2021-01-29 19:51:51] mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while executing 'SELECT count(*) FROM (SELECT (SELECT count(*) FROM campaign_lead_event_log multilog INNER JOIN campaign_events multie ON multilog.event_id = multie.id INNER JOIN campaigns multi

[2021-02-01 10:32] omert37 opened #9632 "Campaign doesn't publish at all when setting specific date/time"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Setting a campaign to UNPUBLISH

[2021-02-01 11:20] jurczykpawel commented on #9632
I think this is not a bug.
Campaign should be published manually even if you set date/time. In such a case, the campaign should have Pending status, and next should be automatically changed into Published at specified date and time.

[2021-02-01 11:49] omert37 commented on #9632
You're right. Woops!

[2021-02-01 11:49] #9632 closed, assigned to nobody

[2021-02-01 11:52] dsp76 opened #9633 "Segment filter broken for select multiple field"
## Bug Description
I have a custom field of type "multiple" select. Segment filter options for this type of field are:

- empty
- not empty
- excluding
- including

![image](https://user-images.githubusercontent.com/1241376/106454735-7e78a680-648b-11eb-87b3-2f34b1e823a6.png)

In the screenshot I have 2 criteria selected. So contacts with either of them should enter the segment - if the contact has

[2021-02-01 19:00] RCheesley commented on #9552
Something to ask in #docker on Slack!

Great - if you need a hand getting started let us know - we also need help with testing (just need to be able to use Mautic) and a range of other non-development tasks if you have the time available!

[2021-02-01 19:01] #9619 closed, assigned to nobody

[2021-02-01 20:20] leoborlot commented on #9616
UPDATE

This problema continues when we chose the specific date on campaign.

![chrome_iJG4Qc5xom](https://user-images.githubusercontent.com/20361821/106513408-b7c40d00-64b1-11eb-91bf-c7624c3b4250.png)

[2021-02-02 08:29] namratasaun commented on #8457
Similar issue in version 3.2.1

[2021-02-02 09:03] omert37 opened #9634 "Going into segment editing VERY SLOW for large databases"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
This is a long-standing issue t

[2021-02-02 09:19] andrew-dixon opened #9635 "Reports link to contact edit page instead of view"
## Bug Description
On reports, if you include the "Contact ID" as a field it is clickable on the report, but instead of taking you to "view the user" as it does from other locations, e.g. the Contacts page, it takes you to "edit the user". This isn't a big deal until you have a user who only has "view" permissions for contacts.

| Q   | A
| --- | ---
| Mautic version | 3.2.2
| PHP version | 7.3.20

[2021-02-02 16:38] juicerocket commented on #1116
Any update on this functionality? Does M3 allow RSS--> email?

[2021-02-02 19:28] ill13 commented on #7524
Will website running ```mtc.js``` or any Mautic tracking object be delisted from Google search?

-Should I remove the tracking code from my websites or risk blacklisting?

[2021-02-02 19:31] ChrisRAoW commented on #1116
@juicerocket I will try to make my plugin compatible with M3 soon.

[2021-02-02 19:44] justlevine commented on #1116
@ChrisRAoW I and many others appreciate the effort you put into maintaining your plugin. Kudos!

That said, it's rediculous that Mautic hasn't integrated such an essential feature into core.

[2021-02-02 19:48] ChrisRAoW commented on #1116
@justlevine Great to hear it's appreciated. Probably they didnt had the need to do it because there was such a wonderful plugin ;-)

[2021-02-03 06:34] npracht commented on #1116
@ChrisRAoW we already made it compatible to M3. You have pending PR [on your repository](https://github.com/ChrisRAoW/mautic-rss-to-email-bundle/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc) :-)

[2021-02-03 07:06] ChrisRAoW commented on #1116
@npracht Fantastic, I totally forgot this. Thanks, will check it out.

[2021-02-03 09:28] grandfso commented on #8198
The error is present in current version of Mautic (v3.2.5).
When using campaign condition where DATE field is empty:
https://i.imgur.com/0zpgyDT.png

`mautic.ERROR: CAMPAIGN: An exception occurred while executing 'SELECT l.id FROM v_3_1_2_leads l WHERE (l.id = ?) AND ((l.last_email_sent_date IS NOT NULL) AND (l.last_email_sent_date <> ''))' with params [488801]:  SQLSTATE[HY000]: General error: 15

[2021-02-03 13:19] directpromo opened #9636 "Relative dates in segments don't work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
If you specify "10 days ago" in

[2021-02-03 17:24] Plato39 commented on #9400
I am seeing the same behaviour in v 3.2.5

[2021-02-03 22:42] dsp76 commented on #9152
Wouldn't a more accurate timestamp fix the issue right away? It looks like its only tracking by minute and thus within a minute a lot of actions may happen. Then its sorted by some second characteristics and its getting messed up in order.

[2021-02-03 22:48] dsp76 opened #9638 "Wrong timestamp for asset downloaded in contact event log"
## Bug Description
Looks like "asset download" timestamp in event log is wrong by 24h. The asset download report shows the correct date "yesterday, 10:08 am" ... however the event log within the contact shows "Today, 10:08 am" (see screenshot).

The order of events don't make any sense:
* visiting the landing page yesterday
* downloading today
* moving into the related segment yesterday

Whats wro

[2021-02-04 11:50] MaldonDev opened #9643 "Contact details doesnt work in some contacts"
Mautic Version: 2,14.2
PHP Versión: 7.1.33

I have a weird error, when i click in a contact to see its details, depends on the contact, its load correctly  or i get a 500 screen error.

In the log appear nothing, and the contact that present that error get the same error when click on "unsuscribe", a 500 error ( but the contact  unsuscribe correctly on mautic.

I tried to change the PHP versión an

[2021-02-04 12:54] RCheesley commented on #9643
Hi there, as this relates to a version of Mautic that is [no longer supported](https://www.mautic.org/blog/community/goodbye-mautic-2-its-been-good-know-you) this issue will be closed. Please update your instance as the version that you are running is [vulnerable to attack](https://www.mautic.org/blog/community/security-release-all-versions-mautic-prior-2-16-5-and-3-2-4).

If you require support p

[2021-02-04 12:54] #9643 closed, assigned to nobody

[2021-02-04 15:45] mabumusa1 opened #9644 "AWS SES Transport fails on sending a batch immediately"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-02-05 00:00] brasofilo commented on #9011
New Mautic user here, fresh install, same issue

[2021-02-05 05:29] 3birds-ronak opened #9645 "Mail Service Configure using API !"
We are using mautic 3.2.0 version and we need to configure mail service using API.
Any feature available for configure mail service using api?

[2021-02-05 06:02] Mer-idium opened #9646 "Email Templates Provided Hang The System"
Hi all,

Mautic Version: 3.2.5
PHP Version: 7.4.14
Database: Maria DB 10.2.36
Browsers: Chrome and Edge

When I create an email using the templates provided within the Channels > Emails section, on clicking Apply or Save & Close the system hangs and it never creates the email, I would need to refresh before having control. This does not occur for every template, so far I have identified that the V

[2021-02-05 07:30] kuzmany opened #9647 "Add reserved keywords to create custom fields alias"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
- [x] contact_id
- [x] company_

[2021-02-05 22:04] stevedrobinson opened #9648 "Mapping ID field(s?) in Pipedrive connector results in failed syncs without any meaningful error"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When the Pipedrive contact ID i

[2021-02-05 22:08] stevedrobinson commented on #9166
@RCheesley I opened a clearer issue as #9648. I May have some developer resources to throw at this issue shortly and wanted something clean and clear to provide the developer.

[2021-02-07 06:46] Malbrouck commented on #9129
Thanks @pety-dc ! With your explanations I could successfully do the schema updates.

Some notes:
In the big mysql command "Select concat..." is missing "$MAUTIC_DB_NAME" before the "-N -B -e..."

Then I got some warnings about data truncated:
[code]

Some "url_title" fields were exceeding the 191 characters length. I had to select them and reduce their size by deleting the end of the strings.

**

[2021-02-07 08:07] pjrobertson commented on #7390
A few years late, but I also had this issue.

Here are the SQL commands I ran:

[code]

Thanks!

[2021-02-08 09:09] andrew-dixon commented on #5285
Just had this with the upgrade from 3.2.2 to 3.2.5 and the only fix from the above that worked was the adding of:

[code]

to the `index.php`. The "trusted proxies" setting seemed to have no effect at all.

[2021-02-09 06:47] kuzmany commented on #9166
@stevedrobinson ID could be used just to pull to Mautic, not to push to Integration.

[2021-02-09 07:37] anki630 opened #9655 "email UTM tags feature append extra "?" mark instead of "&" when using URLs with query string"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When inserting a URL with a que

[2021-02-09 12:42] #9388 closed, assigned to nobody

[2021-02-09 20:30] RCheesley opened #9656 "Q1 2021 Mautic Community Roadmap"
The goal of this quarterly roadmap is to provide clarity for the Mautic Community Teams and our wider community about our priorities for the next 3 months.  This will also be shared in the forums to ensure that we reach the widest possible audience.

Over time we expect to be planning further ahead, but for now we will start with one quarter at a time. While these are the projects and tasks we'll

[2021-02-10 12:29] anebi commented on #7836
Hello,

I see that the issue is closed, but I experience same problem. Is there a solution for this already?

Thank you in advance!

Best regards,
Ali nebi

[2021-02-10 15:10] MauriceW2 commented on #8908
This is why I am so sick and tired of Mautc.

- They fix 1 thing
- They ONLY test this one thing, without testing EVERYTHING
- And so without knowing, they might break other things

As long as there is no professional way of approching this procedure, Mautic will be toy forever that is highly unreliable and not suitable for serious applications.

That's why bug keeps existing in many, many, many v

[2021-02-10 15:44] RCheesley commented on #8908
@MauriceW2 we are actively working on improving our test coverage and implementing automated E2E testing, but it is a huge task when we currently have around [38% coverage](https://codecov.io/gh/mautic/mautic) and no E2E testing (I am working on an [open WIP PR ](https://github.com/mautic/mautic/pull/9338)for that with the team from Acquia).

Much of the code needs to be re-written file by file to

[2021-02-10 16:25] MauriceW2 commented on #8908
Hello Ruth, thank you for explaining this. It was an awesome response. I 'll see what  can do!

[2021-02-10 17:36] tony-brandner commented on #195
Thanks @FabianTe - used this recently. Looks like the table 'asset_downloads' should be added as well. I think you probably wanted to delete from the main 'companies' table at the end too, depending on your use case.

[2021-02-10 17:49] RCheesley commented on #9646
Thanks for reporting this and for explaining the specific themes where you are seeing the issue.

[2021-02-10 17:52] RCheesley commented on #9624
Hi @andrew-dixon and thanks for flagging this up and looking into what might be the problem.

Would you be up for looking into making a PR to address the issue?

I'd also ask you to check on 3.2.5 (you should update as that version is [vulnerable to attack](https://www.mautic.org/blog/community/security-release-all-versions-mautic-prior-2-16-5-and-3-2-4)).

[2021-02-10 17:54] RCheesley commented on #9627
Paging @mabumusa1 @Wise-Gorilla as our resident SES experts! Thanks for reporting this.

[2021-02-10 18:15] RCheesley commented on #9633
I think that probably what you are hoping to achieve would require a 'includes one of' rather than 'includes' in the segment filter - at least that is my understanding. I have a vague recollection of seeing something about this but I cannot place it currently.

One for @mautic/core-team  to take a look at and see if this is expected behaviour or a bug.

[2021-02-10 18:18] afzaal-ameer commented on #9031
I just setup v3 and seeing the same problem. The trackable link is generated, and clicking it redirects correctly but the counter does not increment.

I am using `/api/emails/[id]/contact/[id]/send` endpoint to send emails.

[2021-02-10 18:26] RCheesley commented on #9634
Hi there!  Thanks for reporting this, we are doing a lot of work at present on scalability so this could well be something we're already working on.

Can you please share the filters that you are using in the segments you mention?

[2021-02-10 18:30] RCheesley commented on #9635
Hi Andrew, thanks for reporting this. Indeed it probably should be a view rather than edit.

Would you be up for making a PR to update the link from edit to view?  Hopefully it should be a small fix to do! Let us know if you need a hand getting started!

[2021-02-10 18:35] RCheesley commented on #9636
Hi there, thanks for taking the time to report this.

Does the same happen if you use the numerical references rather than the phrases?

[2021-02-10 18:38] RCheesley commented on #9638
Thanks for flagging up this issue, so my understanding is that the asset download time is reporting as 24 hours late from what it should be (today rather than yesterday) - but only in the contact activity log and not in the report. Is that correct?

[2021-02-10 18:40] RCheesley commented on #9645
Yes, there are multiple email transports available including Amazon SES. - if you need to write your own please make reference to them and use developer.mautic.org to take a look at our developer docs.

Please post your questions over at https://forum.mautic.org/c/development as Github is for reporting bugs with Mautic whereas the forums are for getting help if you encounter problems :)

[2021-02-10 18:40] #9645 closed, assigned to nobody

[2021-02-10 18:43] RCheesley commented on #9166
@stevedrobinson please can you post the detail above in the existing issue so that we can keep everything together? Otherwise we are duplicating the work/effort and things could easily get missed or two people could try to work on fixing the same thing,

I will close this issue and label it as a duplicate of the existing one.

[2021-02-10 18:44] RCheesley commented on #9648
@stevedrobinson please can you post the detail above in the existing issue so that we can keep everything together? Otherwise we are duplicating the work/effort and things could easily get missed or two people could try to work on fixing the same thing,

I will close this issue and label it as a duplicate of the existing one.

[2021-02-10 18:44] #9648 closed, assigned to nobody

[2021-02-10 18:44] RCheesley commented on #9166
Please update this issue @stevedrobinson rather than creating a duplicate.

[2021-02-10 18:47] RCheesley commented on #9655
Hi there, this sounds remarkably similar to this issue: https://github.com/mautic/mautic/issues/9536

The resolution to that was:

Could this be the same issue?

[2021-02-11 00:34] Mer-idium commented on #9646
Thanks @RCheesley is there anything I can do in the meantime to troubleshoot?

[2021-02-11 07:39] niralmodi commented on #7493
Any update - did anyone get this working successfully.

[2021-02-11 10:28] escopecz commented on #9633
It looks like a bug. I should work for any and all SKUs that are selected. There should be an OR operator between those SKU values.

[2021-02-11 11:10] RCheesley commented on #9646
Are you using dynamic content in the emails at all?

[2021-02-11 11:22] Aerendir commented on #9548
@RCheesley , from which branch should have I to create my PR branch?

Here are some guidance:
https://contribute.mautic.org/contributing-to-mautic/developer/code/pull-requests#step-5-work-on-your-pull-request

But I don't know anyway which should be the starting branch.

[2021-02-11 11:31] RCheesley commented on #9548
@Aerendir for the upcoming release it will be the features branch. Once 3.3 is released, bug fixes will go against the 3.3 branch and features against the features branch :)

[2021-02-11 11:33] Aerendir commented on #9548
So, I have to use the `features` branch, right?

[2021-02-11 11:47] RCheesley commented on #9548
Yes please! :)

[2021-02-11 11:54] Aerendir commented on #9548
@RCheesley , I'm seeing the code: the entities use directly the `ClassMetadataBuilder` and I've never used it: I use annotations that are more clear and simpler to use.

Also digging into the code, I cannot find a reason for the error.

The `DynamicContent::$id` field, in fact, [is created in the entity `DynamicContent`](https://github.com/mautic/mautic/blob/features/app/bundles/DynamicContentBund

[2021-02-11 13:00] kuzmany commented on #9633
@escopecz but If we change the logic to OR, it will be BC, dangerous, because  for current customers make different lists after upgrade

I suppose add another one "including any of" like I tried times ago
https://github.com/mautic/mautic/pull/8169

[2021-02-11 13:01] MajesteitBart commented on #9597
I've run into the same issue, with Dynamic Content on my website, not in emails.

`[2021-02-11 13:53:12] mautic.NOTICE: PHP Notice - Undefined index: log - in file / var / www / mautic / app / bundles / DynamicContentBundle / Views / SubscribedEvents / Timeline / index.html.php - at line 11 { "mauticTemplateVars": { "app" :"[object] (Symfony\\Bundle\\FrameworkBundle\\Templating\\GlobalVariables: {

[2021-02-11 13:34] dsp76 commented on #9633
Intuitively I think that "including" should mean "any of the listed" (bug) - but I agree, for people who already use it like currently implemented, it would be breaking...

[2021-02-11 13:36] dsp76 commented on #9633
How does "excluding" segments work? Only if "all of them" or for any of the listed segments?

[2021-02-11 13:41] kuzmany commented on #9633
Just saying we need think about migration, current behaviour move to new operator "include all of"    - not break current filter and fix include operator for example.

[2021-02-11 14:21] elilogan commented on #9633
Can this be addressed by adding a second condition in segment?
SKU Includes 16776
Click new condition
Select Or
SKU Includes 107
If you want contacts who bought both only change Or to And

[2021-02-11 21:40] stevedrobinson commented on #9166
@RCheesley Updated this one. I apologize for taking the wrong action.

@kuzmany I do not understand your comment. Are you suggesting a code change or a configuration change to make IDs sync only one way. The Pipedrive connector is a two-way sync, automatically, and does not have the sync direction arrows in the UI:

![image](https://user-images.githubusercontent.com/866855/107702173-77b61480-6c7f-

[2021-02-12 00:16] Mer-idium commented on #9646
Not at the moment, even when i add a single character to the basic template it will hang.

[2021-02-12 09:42] RCheesley commented on #9166
No probs at all ! Thanks for updating the issue :)

[2021-02-12 09:48] RCheesley commented on #9646
@LPCoderAu I have tested this in 3.2.5 and I am unable to reproduce it. I would expect that this is probably something to do with your hosting environment rather than with Mautic.

For that reason please make a post over at https://forum.mautic.org/c/support with the details you have posted in the forum and the Community will be able to help you with troubleshooting.

[2021-02-12 09:48] #9646 closed, assigned to nobody

[2021-02-12 09:49] jos0405 commented on #9646
Hi @LPCoderAu, do you use Grammarly?

[2021-02-12 15:06] anki630 commented on #9655
Yes, this is the same issue.

[2021-02-12 15:10] RCheesley commented on #9655
OK, I'd suggest seeing if you can get in touch with the team at MWB and ask what their suggestions are for a workaround!

[2021-02-12 15:10] #9655 closed, assigned to nobody

[2021-02-12 15:18] anki630 commented on #9655
Not only for MWB.
As I mentioned, URLs with query string could have the same issue.
For example, there is a standard feature in WooCommerce, when people didn't pay for their order, there will be a unique URL for them to finish their payment. Like this:
https://yourdomain.com/checkout/order-pay/42127/?pay_for_order=true&key=wc_order_3bI0pzxv0NDLJ

[2021-02-12 17:41] stevedrobinson commented on #7272
Is there any talk of replacing Froala with something like [Jodit](https://github.com/xdan/jodit) that is fully open source? While it might be possible to write some surgical javascript to "fix" froala, the licensing situation is not good.

[2021-02-12 17:55] linconrezende commented on #7751
I'm had the same problem.
PHP Version 7.3.26
Mautic v3.1.2

I managed to solve by finding out what file was throwing the error and then fixing the bug comparing with other migration files that was working.
In my case, the problem was the file: Version20191017140848.php

I had to:

- comment this line: // use Doctrine\DBAL\Migrations\SkipMigrationException;
- add this line: use Doctrine\Migrations\

[2021-02-12 17:57] jstawski commented on #2972
Was this implemented? This is a must have as I need to do the same thing by comparing two dates: when the user registered vs when they last came back. Both fields are stored as Contact Fields

[2021-02-12 17:59] linconrezende commented on #8826
I had a similar problem in the version v3.1.2

I posted here a quick fix that worked for me:
https://github.com/mautic/mautic/issues/7751#issuecomment-778347126

[2021-02-12 18:09] RCheesley commented on #7272
We are looking at replacing it with probably CKEditor in the near future (work is already in progress).

[2021-02-12 19:56] RCheesley opened #9660 "Backing up database on install throws an error"
## Bug Description
Vanilla install cloning from Features, selecting to back up tables if they exist and I get the following error:

`An error occurred while attempting to install the data: An exception occurred while executing 'CREATE INDEX bak_page_hit_url ON bak_page_hits (url)': SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'url' used in key specification without a ke

[2021-02-13 00:59] koteisaev commented on #3907
How to remove tag from contact via JSON API?

[2021-02-13 09:18] MyWebmasterD commented on #7830
I can confirm it works in Mautic 3.x

[2021-02-13 10:09] Aerendir commented on #8615
@RCheesley , a bit late, but finally fixed 😅

[2021-02-13 12:04] andrew-dixon commented on #9624
@RCheesley I really don't know either the Mautic codebase or PHP well enough to attempt a fix.

With regards to 3.2.5, yes the error still exists there as well.

[2021-02-13 12:06] RCheesley commented on #9624
OK thanks for confirming! Hopefully we can get someone to take a look and resolve the issue!

[2021-02-13 12:11] RCheesley opened #9664 "Unable to use multiple segments in filtering"
See the comments in the PR #7784 - we have a bug with supporting multiple segments in filtering

_Originally posted by @dongilbert in https://github.com/mautic/mautic/issues/7784#issuecomment-696400473_

[2021-02-13 12:13] andrew-dixon commented on #9582
@RCheesley Yes, this issue still exists on 3.2.5 and no I don't have the skillset to great a PR at this time.

[2021-02-13 12:14] RCheesley commented on #9582
OK thank you for confirming!

[2021-02-13 15:42] #6425 closed

[2021-02-13 15:43] #9577 closed, assigned to nobody

[2021-02-13 18:01] #2545 closed

[2021-02-13 18:05] directpromo commented on #9636
If I write "-20 days" or "-2 months", then it works

[2021-02-13 18:09] RCheesley commented on #9636
OK thanks for checking! I would suggest using that as a workaround while we find someone to look into this :)

[2021-02-13 18:17] directpromo commented on #9636
Got it.
Now I checked, dates like "last day of previous month" do not work either.
I don't know what to replace it with :(

[2021-02-13 23:47] RCheesley commented on #9996
Confirmed - although I would consider this more a usability issue than a deal breaker so going to remove this from the first release priority fixes.

[2021-02-13 23:52] RCheesley commented on #9997
Confirmed this bug in the email builder - unable to use the space or backspace.

[2021-02-13 23:58] RCheesley commented on #9999
I am not able to reproduce this after uploading a bunch of images but I guess that it is mitigated by using the URL to an image rather than a website. Agree that it needs to be validated before we accept the URL somehow.

Not a high priority issue for the first release so will take it out of that project/milestone.

[2021-02-14 00:28] RCheesley commented on #10001
Here's what I found - the description was not clear to me which toggle we are referring to.

Publish/Unpublish the email from edit - works fine both ways: https://youtu.be/EpvsYlPbfXY

What did not work without throwing an error was toggling the preview URL: https://youtu.be/S2EtA9s-eH0 - it DID actually toggle it on and off but there is an error in the console:

Turning off:
[code]

Turning on:

[2021-02-14 00:33] RCheesley commented on #10000
I had the same issue with the landing page - a pretty major one to fix!

[2021-02-15 01:00] vesper8 opened #9673 "134 previously executed migrations in the database that are not registered migrations"
I just updated to 3.2.5 via the CLI and everything appeared to have worked correctly, but then I was getting an error about a missing column `t.generated_sent_date`

I ran `php bin/console doctrine:migration:migrate` and it did mention an alter to add the missing column, but then it said `134 previously executed migrations in the database that are not registered migrations` `do you want to continu

[2021-02-15 06:16] #7360 closed

[2021-02-15 06:17] npracht commented on #8913
@RCheesley is it closed by #8914 ?

[2021-02-15 07:53] ewanly commented on #9011
I have the same issue. You don't need to close the browser even. After some minutes, when you attempt to use Mautic it's redirecting to log in again and again. It's a nightmare and I hope somebody solves it or shows us if anything we could do.

[2021-02-15 09:27] escopecz commented on #3907
See https://developer.mautic.org/#edit-contact

[2021-02-15 10:20] laabidi21 commented on #9481
@escopecz I installed Mautic 3.2.5 and I still have the same problem With type select/multiselect trough API with Oauth1 produces type code error.

[2021-02-15 11:29] RCheesley commented on #8913
No, this issue was about the [default settings for the API being incorrect](https://github.com/mautic/mautic/issues/8854) - we [did a fudge to fix](https://github.com/mautic/mautic/issues/8913) it but this issue was to make sure that it is properly addressed.

[2021-02-15 11:52] 3birds-ronak opened #9674 "Going into companies editing or view VERY SLOW for large number of data"
inside companies tab, open any company to view contact details and chart data loading issue

## Bug Description
In companies view page execution much loading time issue that I'm sure in company view page charts takes more time to load when in charts get a count of engagements and points of contact's lead_id. Because it’s used loop for every contact. if the company has only 3-10 contacts but it tak

[2021-02-15 11:56] powertictech commented on #9616
I think that may be a timezone issue because Brasil removed our daylight saving time, maybe test again after February 21st when the regular time would return

[2021-02-15 17:41] RCheesley opened #9676 "Email theme upload is expecting email.html.twig but this is not present in MJML themes"
## Bug Description
When trying to install a new MJML theme with the upload option in the Theme section we get the following error:

The theme you tried to install is missing the following required files and thus could not be installed: html/email.html.twig

An MJML theme will include an email.mjml.twig file rather than email.html.twig. We should probably add a check that looks for either?

| Q   |

[2021-02-15 18:04] adiux commented on #7830
For reference, there is a PR that fixes this: https://github.com/mautic/mautic/pull/9265

[2021-02-16 00:16] dsp76 commented on #9633
@elilogan this would be a workaround maybe ... but not solve the problem. "including" and "excluding" are fields that allow multiple selections. It behaves wrong when using it with analyzing field values, but correctly with analyzing segment memberships.

[2021-02-16 04:15] DigitalOriginTech commented on #6678
Can confirm, if you have contacts in multiple segments and search using both segments, you'll get a 500 error.
To quote @TonyBogdanov -> search both segments: "segment:alias1 segment:alias2"

 mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Query\QueryException: "The given alias 'list' is not unique in FROM and JOIN clause table. The currently registered aliases are: l, u, list_lead, list."

[2021-02-16 12:54] #9433 closed, assigned to mabumusa1

[2021-02-16 13:48] RCheesley commented on #9636
Looks like we have a fix from @shinde-rahul #9678 - please take a look @directpromo !

[2021-02-16 14:10] directpromo commented on #9636
Thank you. Hopefully it will be included in the release.

[2021-02-16 14:29] RCheesley commented on #9636
It will need to be tested, you can help with that :) Once tested it should be feasible for the 3.3.1 release

[2021-02-16 15:06] directpromo commented on #9636
I would help, but I don't know how to test the code itself. Only as a user can I create a segment, etc.

If necessary, as a user, remind me how can I run a test instance of Mautic with this folder?

[2021-02-16 15:25] RCheesley commented on #9636
Sure - it is a good one to test on MautiBox. Follow the instructions here: https://github.com/mautic/mautic/pull/9678#issue-574194355 - click through the link to open MautiBox and it will spin up a Mautic instance for you to test with the PR applied. Usual credentials of admin/mautic.

Report back if successful by going here: https://github.com/mautic/mautic/pull/9678/files and clicking the green

[2021-02-16 15:26] RCheesley commented on #9636
(user tests are required, in addition to code review, and are super important! We would really value your help!)

[2021-02-16 16:48] stevedrobinson commented on #7272
In the meantime, others might find this gist useful for cleaning up dynamic web content client-side:

https://gist.github.com/stevedrobinson/1d82def6d2dc38477a4b30351e77b321

Calling the function `enableTidyDWC()` will find all dynamic web content on the page, look for mutations, and then clean up the code after it's been updated.

Note, the above is part of a larger library we wrote that gets tra

[2021-02-16 17:57] kuzmany commented on #10001
This should fix https://github.com/mautic/plugin-grapesjs-builder/pull/57

[2021-02-16 17:59] RCheesley commented on #10001
Thanks for making the PR @kuzmany ! That's great - will test it this evening!

[2021-02-16 17:59] surefooted opened #9684 "bin/console doctrine:schema:update --force command results in error"
**Description**

I have been trying to install a plugin to integrate Mautic with SuiteCRM. The plugin is unable to communicate with SuiteCRM. Their support points out that we have a incorrect built Mautic database and missing several columns. We had upgraded from v 2.6.1 to v 3.2.5 recently but Mautic installation was working fine. They gave us a series of commands which went well till we came to

[2021-02-16 19:04] directpromo commented on #9636
I created the segment manually and tried the "1 minute ago" filter. It works with "greater" and "less".

Perhaps this is not enough, because all contacts with the same date and time or with an empty value.
The test needs different dates.

How do I generate contacts with different dates in the fields? Or is it not required and a test with the "1 minute ago" filter is enough?

[2021-02-16 19:29] RCheesley commented on #9636
It should have about 50 contacts in the instance - so you can use any of them to test with - maybe try with a custom field as a date? :)

[2021-02-16 19:57] directpromo commented on #9636
Yes, but all 50 have the same creation date to the minute. I won't be able to check different filters by date this way. Other core date fields are empty

I can create a field, yes. I will have to manually enter different dates.

Well, I'll try.

I thought there was a way to generate it automatically )

[2021-02-17 14:29] namratasaun commented on #990
I can see sent, unsubscribed, opened, bounced as metrics. Is there any way I can get spam reports asa. metric

[2021-02-17 20:19] omert37 opened #9696 "Clicks registered in default UTC timestamp instead of local machine timezone?"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
My Linux machine is set for UTC

[2021-02-17 21:19] adonaicruz commented on #9646
the same problem occurred to me, with the same configuration

[2021-02-18 08:57] rivael commented on #9592
Thank you for the information!
My mautic install got into loop and the database was bloated.

[2021-02-18 22:19] sanchand commented on #6658
Is anyone able to use  RabbitMQ queue to Mautic 3.x? If yes then can someone share steps or configurations?

[2021-02-19 06:34] MartinMikita commented on #7841
This issue still exists in version 3.2.5!

[2021-02-19 06:45] MartinMikita commented on #9400
Hi, we are sending segment's emails via custom builder and Channels -> Emails, and we can see the same error in our Logfiles on our dedicated server.

We have upgraded to v3.2.5 on Wednesday.

I am not much familier with mautic, but this does not looks "good". However, we can see some progress and clicks on read emails and statistics.

One example:
[code]

We are afraid to proceed with further ema

[2021-02-19 09:11] nfakhour opened #9697 "sms_pending:ID in search bar doesn’t work"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
when we have pending messages ,

[2021-02-19 11:11] vovchok opened #9698 "TransportInterface::sendSms compatibility"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

The `TransportInterface::sendS

[2021-02-19 15:41] bobartlett commented on #9585
Any thoughts on this error?

`In InstallNewFilesStep.php line 82:

  Attempted to load class "ZipArchive" from the global namespace.
  Did you forget a "use" statement?`

I am updating from 3.2.1 in case that matters.

[2021-02-19 15:49] bobartlett commented on #9585
Nevermind. Running
`apt-get install php-zip` fixed it for me

[2021-02-19 15:51] ldrrp commented on #9592
@rivael can you help increase the bounty?

[2021-02-19 17:11] rivael commented on #9592
Sure. How do I do that?

[2021-02-19 18:58] atowne-mautic commented on #6425
I have a question about the implementation of this feature. https://github.com/mautic/mautic/pull/6071 (also in 3.3.0-rc) enables the Mailer is Owner option for individual emails, which is great. But with that feature, I don't anyone actually wants this one.

Doesn't it actually make more sense to have Mailer Is Owner override the from name/email address if an owner exists? That way, you can turn

[2021-02-19 20:17] ldrrp commented on #9592
https://www.bountysource.com/issues/96018512 @rivael Thank you, Yea i know this is going to be a problem for both of us again come next DST change

[2021-02-20 02:22] YuanZhencai opened #9700 "Not Found /saml/metadata.xml"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Not Found /saml/metadata.xml

When I visit `mym

[2021-02-20 02:33] #9700 closed, assigned to nobody

[2021-02-21 09:46] matthiasexl opened #9701 "mautic.CRITICAL: Uncaught PHP Exception PDOException: "SQLSTATE[HY000]: General error: 2006 MySQL server has gone away""
Ubuntu 18.04.5 LTS
Plesk Obsidian Version 18.0.33
Maria DB 10.3.27, we connect to the DB via ‘db_driver’ => ‘pdo_mysql’
We tested on PHP 7.3.x and are now on PHP Version 7.4.15, We run on Apache FPM / not Nginx
Mautic v3.2.5 fresh install, only some testing accounts, test campaigns and test mails.

We followed the troubleshooting steps: https://docs.mautic.org/en/troubleshooting, cleared the cache

[2021-02-22 09:47] rivael commented on #9592
Done. (Added $15).

I have it again. It pauses my mautic operation.
Can it also be caused by delayed action that start from another delayed action?

[2021-02-22 11:51] RCheesley commented on #6425
@atowne-mautic this was an issue, not a pull request, so there should not be any problems!

[2021-02-22 15:23] adirbnology commented on #6339
hi. this issue occurs again on 3.2.5.
List-Unsubscribe containing all contacts in queue request.
this is critical issue.

tested on amazon api.

[2021-02-22 15:34] RCheesley commented on #6339
Please raise a new issue and link to this old issue!

[2021-02-22 15:50] adirbnology opened #9704 "Multiple value on List-Unsubscribe header"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Multiple value on List-Unsubscribe header
I fou

[2021-02-22 15:53] RCheesley commented on #9704
@mabumusa1 would you be able to take a look at this? Seems like an old problem has resurfaced. Would be good to get this under an automated test if it keeps happening?

[2021-02-22 17:22] mabumusa1 commented on #9704
@RCheesley @adirbnology I do not think this issue applies to amazon API or SMTP only, this issue applies to the providers we use to send out emails.

If you enable monitored inbox, it will change the List-Unsubscribe to monitor all the values for the list that you are sending to. In the case of any transport that supports webhoosk, we do not enable monitored inbox for bounces and subscribers becau

[2021-02-22 17:24] RCheesley commented on #9704
OK - so in this case @adirbnology should set up the webhook as per [the docs ](https://docs.mautic.org/en/channels/emails/bounce-management#amazon-webhook)to manage the unsubscribe requests?

[2021-02-22 17:28] mabumusa1 commented on #9701
@matthiasexl Thanks for submittin this issue, it is not an issue related to the code base of Mautic but rather the server capabilities you have. I think your database server is misconfigured or overloaded which makes it switch off or halt, so please check that.

I will close this issue since it is a support issue and you already started a ticket on the forums

[2021-02-22 17:28] #9701 closed, assigned to nobody

[2021-02-22 17:33] wise-gorilla opened #9705 "Focus item cookie session bug"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Mautic sets the expiration date

[2021-02-22 17:33] StudioMaX commented on #9704
If I remember correctly, Amazon SNS can send webhooks only about Bounces/Complaints/Deliveries, but not about Unsubscriptions.

[2021-02-22 17:53] matthiasexl commented on #9701
Thank you @mabumusa1 . I will continue to research in the forum. Could be the MariaDB Version too high?

[2021-02-22 18:06] adirbnology commented on #9704
@StudioMaX  u remember correct. there is no web-hook option for unsubscribe in SES.

Tried to disable monitor. here are the results :
"List-Unsubscribe" is still getting added into the headers. only change is that instead email and link to unsubscribe , now there is only a link. which is wrong as well. again very similar issue to the one mentioned above as all users in batch has the same link to u

[2021-02-22 19:49] adirbnology commented on #9704
so i tried to figure out the cause of getting the same unsubscribe link for all batch and here are my findings:

setMessageHeaders() is called once per batch. and with that fact the only way unsubscribe would work is by using tokens.

which referred me to getUnsubscribeHeader():
![image](https://user-images.githubusercontent.com/67871785/108761361-6d392c00-7557-11eb-8977-fc249eac0116.png)

changin

[2021-02-22 20:04] mabumusa1 commented on #9704
You are correct, we track only bounces and complaints using SNS.

The unsubscribe header is generated by Mautic and added to the message before sending, it has nothing to deal with SNS

[2021-02-22 20:06] mabumusa1 commented on #9704
This might be a good solution, I suggest you make a PR and then we can review and see if it breaks anything.

[2021-02-22 20:11] adirbnology commented on #9704
I can do that , i just thought maybe someone knows that part of code . I guessed there is a reason for returning what it returns

[2021-02-22 20:17] mabumusa1 commented on #9704
@adirbnology it might be a bug, so I think a PR is the first step

[2021-02-22 21:56] snoblucha opened #9709 "Migrations failed when upgrading to 3.3"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

When upgrading to 3.3 from 3.2

[2021-02-23 00:42] nunks opened #9710 "No GrapeJS builder after 3.3.0 upgrade"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
Hello. After updating from vers

[2021-02-23 02:10] chente38 commented on #9710
Hi,

The same here...

[2021-02-23 02:11] chente38 commented on #9709
Hi,

Have you tried this?

Go to http://[your-mautic-url]/s/update/schema

[2021-02-23 04:16] nesilvacr commented on #9710
Hi, the same here for landing pages, no grapesjs builder.
Form email form GrapesJS is active and working, too few blocks, would like it to be rich in blocks. The Original GrapeJs versio shows more blocks than the Mautic version

[2021-02-23 07:03] kuzmany commented on #9710
@nesilvacr

This package really not contain  landing page themes compatible for GrapesJs plugin

[2021-02-23 07:54] kuzmany opened #9711 "Two forms with same name not possible use in same page"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description

Two forms with same name not p

[2021-02-23 08:25] ebogaard commented on #9709
I have the same problem: in the table definition, I can't find the constraint.
When I go to the URL you supplied, the message is the schema is up to date (which it isn't, as the constraint isn't there).

On further inspection:
* categories.id is of a different specification (int(11), no attributes) than lead_lists.category_id (int(10), unsigned).
* there are a lot of FK constraints that point to c

[2021-02-23 10:25] rivael commented on #9592
Got this log entries:
[2021-02-23 10:07:22] mautic.DEBUG: CAMPAIGN: Action ID# 34 for contact ID# 18555 has timing that is not appropriate and thus scheduled for 2021-02-24 10:02:07 UTC
[2021-02-23 10:07:22] mautic.DEBUG: CAMPAIGN: Action ID# 34 for contact ID# 18600 has timing that is not appropriate and thus scheduled for 2021-02-24 10:02:07 UTC
[2021-02-23 10:07:22] mautic.DEBUG: CAMPAIGN: Acti

[2021-02-23 10:36] GrooveDevops commented on #6300
If it fixed for anyone please let me know

[2021-02-23 12:19] matthiasexl commented on #9701
@mabumusa1 I was able to find the solution:
The error was caused, as I had not installed a Cron Job " /bin/console mautic:broadcasts:send --channel=email"  yet.
This caused a pending email in the email that I tried to delete. This caused the fatal error of the DB.
After the Cron ran, the delete process worked fine.

[2021-02-23 12:40] dennisameling commented on #9710
Thanks for reporting this bug! Will be fixed in https://github.com/mautic/mautic/pull/9713. We'll be releasing 3.3.1 ASAP which will fix this issue.

[2021-02-23 13:21] dennisameling commented on #9709
Can confirm it creates an `INT(10)` by default on MariaDB:

![image](https://user-images.githubusercontent.com/17739158/108848347-2d1e8b80-75e1-11eb-923d-c6c2200dc4fa.png)

The migration does succeed for me though. If you have `db_server_version` in your `app/config/local.php` file, please ensure its value is set to `5.7` (even if running MariaDB) as you might run into other errors with older vers

[2021-02-23 13:31] npracht commented on #4758
Merged and fixed in 3.3.2 planed for March, 22nd!

[2021-02-23 13:31] #4758 closed

[2021-02-23 13:45] #9710 closed, assigned to nobody

[2021-02-23 14:01] ebogaard commented on #9709
Sorry to hijack this issue from someone else, but the proposed fix wouldn't work in my case:
categories.id is of a different specification (int(11), no attributes) than lead_lists.category_id (int(10), unsigned).

So even when "lead_lists.category_id" is set to a length of 11, MariaDB still won't allow the creation of the FK as the atrributes differ: "lead_lists.category_id" is unsigned, where "ca

[2021-02-23 14:33] luizeof commented on #9676
I can't send an MJML theme in 3.2.5 and the problem persists in 3.3.0

[2021-02-23 14:33] ldrrp commented on #9592
@rivael thats some interesting logs. I have not seen those in my logs. According to the source code though:

[code]

Is the event inactive?

This may be a separate issue altogether but i wouldn't know. Would you be able to post a screenshot of the campaign?

[2021-02-23 14:40] dennisameling commented on #9709
Thanks for chiming in @ebogaard - you're right. `categories.id` is INT(10) indeed:

![image](https://user-images.githubusercontent.com/17739158/108859207-46c5d000-75ed-11eb-9d7f-82012a4ccc8a.png)

Then what would be the appropriate fix in this case? I can't check further until this evening CEST, sorry.

@RCheesley would this be a blocker for the 3.3.1 release?

[2021-02-23 14:43] RCheesley commented on #9709
Possibly - I am still trying to confirm the issue myself let alone test the fix!

It may be that we have to wait until we are able to fully dig into this and make sure that it is properly addressed before we push out the full release.

[2021-02-23 14:57] rivael commented on #9592
@ldrrp  Does this makes sense:

![Screenshot from 2021-02-23 16-55-09](https://user-images.githubusercontent.com/27514201/108861675-2a7b6080-75f8-11eb-908e-9968145a1533.png)

[2021-02-23 14:57] ebogaard commented on #9709
I temporarily "solved" it by NOT giving "lead_lists.category_id" the unsigned attribute.
This seemed the most appropriate solution/work around as all other id-fields that refer to category.id are non-unsigned fields as well.

[2021-02-23 15:38] IgorGalic1 opened #9716 "Integration not possible to complete"
Hello Guys, Is there a way to contact someone from mautic support? Im trying to connect Syncspider with Mautic and we have a native integration with Mautic, but for some reason, after i put in my credentials and accept the connection with syncspider I just get whitescreened, so if i get to the part where i can connect with Mautic but mautic doesnt connect the integration, Im suspecting its somethi

[2021-02-23 16:05] RCheesley commented on #9709
Cross-posting this from the PR:

I also am not able to reproduce this on a new install when I roll back and then reapply the migration as suggested in the description - the migration works fine

[code]

[2021-02-23 17:00] digitall-it commented on #9709
I confirm the error
[code]

The problem went away by reloading again `http://[your-mautic-url]/s/update/schema`after receiving the error the first time.

[2021-02-23 17:20] alanhartless commented on #9709
This is a problem with M2 schemas that upgraded to M3. It was decided that we would not introduce a migration to migrate all signed integers to unsigned because the migration would be massive. But, because of that, M2 installations that upgraded to M3 will have a different schema than fresh M3 installs. This means that new migrations changing schema introduced in M2 has to account for that by chec

[2021-02-23 18:43] RCheesley commented on #9709
Hi folks! Can any of you please try the fix in #9718 which we hope should address this issue?

[2021-02-23 20:58] dsp76 opened #9719 "Relative dates for segments shifted by one day"
## Bug Description
We want to do a segment that contains all users one day before a defined date (e.g. end of trial, end of contract etc.). We found out, that the relative date is shifted by 1 day each.

This is how we defined the segment:
<img width="569" alt="Bildschirmfoto 2021-02-23 um 21 50 14" src="https://user-images.githubusercontent.com/1241376/108906929-c40b3800-7621-11eb-91fb-00d8fae865

[2021-02-23 21:12] mbrinson commented on #9709
I ran into this error as well (same scenario as the others - mariaDB, etc.) but it seems to have been fixed by just loading http://[your-mautic-url]/s/update/schema after receiving the error the first time, as noted by @digitall-it.

Do I still need to apply the fix in #9718?

[2021-02-23 21:33] dsp76 commented on #9633
Also working correctly with tags...

[2021-02-23 21:45] dsp76 commented on #8985
Seems to have been fixed. Can't recreate in 3.2.5.

[2021-02-23 21:46] RCheesley commented on #8985
Thanks for reporting back!

[2021-02-23 21:50] dennisameling commented on #9709
We're just doing some final tests on https://github.com/mautic/mautic/pull/9718, which will also restore your situation in case you already ran the faulty migration. Hope to release a new version that contains the fix latest tomorrow!

[2021-02-23 22:06] dennisameling commented on #9709
Today I learned:
- When Doctrine runs a migration which executes multiple SQL queries, and if it fails in the middle, it won't rollback (yikes!) - apparently they have "All or nothing" transactions which simply rolls back the changes if anything goes wrong. Note to self: look into that during the weekend https://www.doctrine-project.org/projects/doctrine-migrations/en/3.0/reference/configuration.h

[2021-02-23 22:47] #9709 closed, assigned to nobody

[2021-02-23 23:14] dsp76 commented on #9638
Correct - it only happens, when the download really was yesterday. It works fine, if it was today - or has a date and no relative dates anymore. Is shows "today" when it was yesterday. Tested and confirmed the bug with en-uk, en-us and de-de.

Reports always have absolute date/timestamps. But the activity log has no real timestamp for today and yesterday.

[2021-02-24 13:35] tomekkowalczyk opened #9725 "Error in the Polish translation of the pagination"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
When changing the language to P

[2021-02-24 15:30] directpromo commented on #9725
The error has been repeated for a long time and repeatedly
https://github.com/mautic/mautic/issues/8716

It seems to be a problem with different languages.

[2021-02-24 15:33] directpromo commented on #9725
@tomekkowalczyk check your other bug. It can be linked
https://github.com/mautic/mautic/issues/8719

[2021-02-25 10:30] colourfulowl opened #9727 "Multi-segment emails reports don't add up correctly"
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...

[2021-02-25 14:24] colethorsen commented on #5285
You can also do this in the .htaccess instead by adding:

`SetEnvIf X-Forwarded-Proto https HTTPS=on`

This won't set HTTPS unless HTTPS is actually the protocol being sent from the loadbalancer. I'm not exactly sure how the update process works, but the .htaccess might be less likely to get overwritten than the index.php

[2021-02-25 17:55] incentfit-product commented on #9673
For what it's worth, I had a similar situation after upgrading to 3.3.1 from 3.2.x.  The dashboard stopped working, although everythign else was fine, and the log showed this message:
`mautic.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\InvalidFieldNameException: "An exception occurred while executing 'SELECT t.generated_sent_date AS date, COUNT(*) AS count FROM mt_email_stats t WHERE

[2021-02-25 18:26] NicoHood opened #9729 "Download Link outdated"
https://www.mautic.org/mautic-releases
Points to the 3.2.4 release.

[2021-02-25 18:29] RCheesley commented on #9729
🕵️‍♀️  Gosh, thanks for flagging that! I had entirely forgotten that we created that page!

Will add it to the release leader workflow to update it!

[2021-02-25 18:34] NicoHood commented on #9729
Well, it is the main download button. I even waited a day, cause I was not sure if 3.2.x is kept there for some specific reason...

[2021-02-25 18:36] RCheesley commented on #9729
https://www.mautic.org/download is the main place to download Mautic. That will always get the latest version. You can also always go direct to the Releases on Github :)

[2021-02-25 18:38] RCheesley commented on #9729
Page updated! 😅

[2021-02-25 18:38] #9729 closed, assigned to nobody

[2021-02-25 18:41] NicoHood commented on #9729
But how do you get there? I just clicked the menu Download -> Releases -> Mautic Releases

[2021-02-25 18:42] RCheesley commented on #9729
![screenshot-www mautic org-2021 02 25-18_41_39](https://user-images.githubusercontent.com/2930593/109200990-2b97c380-7799-11eb-9d6e-6f18970ccb60.png)

[2021-02-25 22:36] NicoHood opened #9730 "Check database version in installation script"
I came here from [this issue](https://github.com/mautic/mautic/issues/8587). My debian server still uses a too old version of maria DB it seems. This issue was not reported when installing mautic 3.3.1. I guess this can be improved.

Here is an equivalent forum post:
https://forum.mautic.org/t/include-database-version-test-in-installer/14872

[2021-02-25 22:43] NicoHood opened #9731 "Change URLs to https"
Those URLs here link to https (good), but the text is still http. Minor issue, but can be fixed ;-)
https://www.mautic.org/download/requirements

[2021-02-25 22:53] RCheesley commented on #9730
Hi there, we actually have an [open issue](https://github.com/mautic/mautic/issues/9607) to bring across the checks that we do in the Mautic 3 upgrade to the install and Upgrade process, as part of one of our Strategic Initiatives. This would likely have picked up on issues like the one you've explained.

I agree that you should not be able to install when you're using incompatible architecture so

[2021-02-26 09:28] NicoHood commented on #9730
I copied the 3.3.1 release on my server and connected to the database. I saw the mentioned error. The server uses Debian stretch with mariadb 10.1 and php 7.4
https://packages.debian.org/de/stretch/mariadb-server

[2021-02-26 09:34] RCheesley commented on #9730
Right, so did you run through the GUI installer to run the installation? Or just grabbed the files and connected to an existing database?

[2021-02-26 10:41] NicoHood commented on #9730
I've never used mautic before, so it was all a clean install.
I ran the gui installer and it crashed with a database connection error. Now after a quick google it turned out that my database version is too old. But it would be better if the check in the first place would have told me that.

[2021-02-26 10:46] RCheesley commented on #9730
Ahh gotcha sorry that was not clear to me. Indeed that is why we want to bring those checks over into the install and upgrade from our 2->3  migration script!

As we are already tracking this in #9607 I will close down this issue so that we can keep things in the same place. Thanks for adding your voice!

[2021-02-26 10:46] #9730 closed, assigned to nobody

[2021-02-26 14:05] danielwpsouza opened #9734 "Uncaught PHP Exception Mautic\CoreBundle\Exception\BadConfigurationException: " is missing a required config file""
[//]: # ( Invisible comment:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Before you create the issue:
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
Search for similar report among other reported issues.
Learn how to troubleshoot at https://www.mautic.org/docs/en/tips/troubleshooting.html
Use drag&drop to attach images or other files )

## Bug Description
The more details the better...